USE [OpManagerDB]
GO
/****** Object:  UserDefinedFunction [dbo].[INET_NETWORK]    Script Date: 6/29/2019 5:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[INET_NETWORK](@binaryIP varbinary(max),@mask int)RETURNS nvarchar(39) AS BEGIN DECLARE @ipAsString nvarchar(39)  IF (len(@binaryIP) <= 4) BEGIN  SELECT @ipAsString = dbo.INET_NTOA(Convert(BIGINT,cast(cast(@binaryIP as varbinary(max)) as bigint)) & (Convert(BIGINT,0xFFFFFFFF) * (Power(Convert(BIGINT,2), 32-@mask) & Convert(BIGINT, 0x0FFFFFFFF))))  END ELSE BEGIN DECLARE @i int DECLARE @j int DECLARE @length int DECLARE @masklen int DECLARE @hexstring char(16) SELECT @ipAsString = '' SELECT @i = 1 SELECT @j = 1 SELECT @length = 16 SELECT @hexstring = '0123456789ABCDEF' SELECT @masklen = floor(@mask/4) WHILE (@i <= @length) BEGIN DECLARE @tempint int DECLARE @firstint int DECLARE @secondint int DECLARE @maskchar varbinary(max) DECLARE @maskint int SELECT @maskchar = 0x0 SELECT @tempint = convert(int, substring(@binaryIP,@i,1)) IF (@j <= @masklen) BEGIN SELECT @maskint = CONVERT(BIGINT,0xF) END ELSE IF (@mask-((@j-1)*4) > 0) BEGIN SELECT @maskint = (Convert(BIGINT,0xF) * (Power(Convert(BIGINT,2), (4-(@mask%4))) & Convert(BIGINT, 0xF))) END ELSE BEGIN SELECT @maskint = CONVERT(BIGINT,0x0) END SELECT @j = @j + 1 SELECT @firstint = floor(@tempint/16) & @maskint  IF (@j <= @masklen) BEGIN SELECT @maskint = CONVERT(BIGINT,0xF) END ELSE IF (@mask-((@j-1)*4) > 0) BEGIN SELECT @maskint = (Convert(BIGINT,0xF) * (Power(Convert(BIGINT,2), (4-(@mask%4))) & Convert(BIGINT, 0xF))) END ELSE BEGIN SELECT @maskint = CONVERT(BIGINT,0x0) END SELECT @j = @j + 1 SELECT @secondint = (@tempint - (@firstint*16)) & @maskint SELECT @ipAsString = @ipAsString + substring(@hexstring, @firstint+1, 1) + substring(@hexstring, @secondint+1, 1) IF (@i % 2 = 0) SELECT @ipAsString = @ipAsString + ':' SELECT @i = @i + 1 END END  RETURN @ipAsString END
GO
