USE [OpManagerDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_helpforeignkeys]    Script Date: 6/29/2019 5:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_helpforeignkeys] @objname nvarchar(776) as set nocount on declare @objid   int ,@cnstdes  nvarchar(4000) ,@cnstname  sysname ,@i    int ,@cnstid  int ,@cnsttype  character(2) ,@keys   nvarchar(2126) ,@dbname  sysname CREATE TABLE #spcnsttab ( cnst_id   int   NOT NULL ,cnst_name   sysname  collate database_default NOT NULL ,cnst_col_name   nvarchar(800) ,cnst_ref_tbl   nvarchar(826) ,cnst_ref_col   nvarchar(826)  ) select @objid = object_id(@objname) if @objid is NULL begin raiserror(15009,-1,-1,@objname,@dbname) return (1) end declare ms_crs_cnst cursor local static for select id, type, name from sysobjects where parent_obj = @objid and type in ('F ') for read only open ms_crs_cnst fetch ms_crs_cnst into @cnstid ,@cnsttype ,@cnstname while @@fetch_status >= 0 begin if @cnsttype = 'F ' begin declare @fkeyid int, @rkeyid int select @fkeyid = fkeyid, @rkeyid = rkeyid from sysforeignkeys where constid = @cnstid declare ms_crs_fkey cursor local for select fkey, rkey from sysforeignkeys where constid = @cnstid open ms_crs_fkey declare @fkeycol int, @rkeycol int fetch ms_crs_fkey into @fkeycol, @rkeycol select @keys = col_name(@fkeyid, @fkeycol), @cnstdes = col_name(@rkeyid, @rkeycol) fetch ms_crs_fkey into @fkeycol, @rkeycol while @@fetch_status >= 0 begin select @keys = @keys + ', ' + col_name(@fkeyid, @fkeycol), @cnstdes = @cnstdes + ', ' + col_name(@rkeyid, @rkeycol) fetch ms_crs_fkey into @fkeycol, @rkeycol end deallocate ms_crs_fkey insert into #spcnsttab (cnst_id,cnst_name,cnst_col_name,cnst_ref_tbl,cnst_ref_col) values (@cnstid,@cnstname,@keys,object_name(@rkeyid),@cnstdes) end fetch ms_crs_cnst into @cnstid ,@cnsttype ,@cnstname end deallocate ms_crs_cnst if exists (select * from #spcnsttab) select 'constraint_name' = cnst_name, 'constraint_col_name' = cnst_col_name, 'constraint_ref_tbl'=  cnst_ref_tbl, 'constraint_ref_col'=  cnst_ref_col from #spcnsttab order by constraint_name desc else raiserror(15469,-1,-1,@objname) return (0)
GO
