USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMScheduleDiscovery]    Script Date: 6/29/2019 5:49:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMScheduleDiscovery](
	[INSTANCE_ID] [bigint] NOT NULL,
	[IPRANGE] [varchar](2000) NOT NULL,
	[SNMP_PROFILES] [varchar](2000) NOT NULL,
 CONSTRAINT [ScheduleDiscovery_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_344033158]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_344033158] ON [dbo].[NCMScheduleDiscovery]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMScheduleDiscovery]  WITH CHECK ADD  CONSTRAINT [ScheduleDiscovery_FK1] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[Task_Input] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[NCMScheduleDiscovery] CHECK CONSTRAINT [ScheduleDiscovery_FK1]
GO
