USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[USERTABLE]    Script Date: 6/29/2019 5:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERTABLE](
	[DBKEY] [varchar](105) NOT NULL,
	[HOST] [varchar](50) NULL,
	[PORT] [varchar](5) NULL,
	[ENGINENAME] [varchar](50) NULL,
	[USERNAME] [varchar](50) NULL,
	[AUTHPROTOCOL] [varchar](10) NULL,
	[AUTHPASSWORD] [varchar](50) NULL,
	[PRIVPROTOCOL] [varchar](10) NULL,
	[PRIVPASSWORD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DBKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
