USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CUSTOMPROPS]    Script Date: 6/29/2019 5:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMPROPS](
	[KEYSTRING] [varchar](250) NOT NULL,
	[PROPKEY] [varchar](250) NULL,
	[PROPVALUE] [varchar](250) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CUSTOMPROPS0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [CUSTOMPROPS0_ndx] ON [dbo].[CUSTOMPROPS]
(
	[KEYSTRING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
