USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SVCStorageVolume]    Script Date: 6/29/2019 5:52:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVCStorageVolume](
	[DEVICE_ID] [bigint] NOT NULL,
	[IOGROUP_NAME] [varchar](250) NOT NULL,
	[VOLUME_NAME] [varchar](250) NOT NULL,
	[PRIMORDIAL] [varchar](250) NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
	[OPERATIONALSTATUS] [varchar](250) NOT NULL,
	[PREFERRED_NODE] [varchar](250) NOT NULL,
	[POOL_ID] [varchar](250) NOT NULL,
	[TOTAL_CAPACITY] [varchar](250) NOT NULL,
	[CONFIG_CAPACITY] [varchar](250) NOT NULL,
	[CACHE_MODE] [varchar](250) NOT NULL,
	[CACHE_STATE] [varchar](250) NOT NULL,
	[COPY_COUNT] [varchar](250) NOT NULL,
	[ACCESS] [varchar](250) NOT NULL,
	[ACCESS_GRANTED] [varchar](250) NOT NULL,
	[IS_CONTROLLED] [varchar](250) NOT NULL,
	[DATA_ORGANIZATION] [varchar](250) NOT NULL,
	[DATA_REDUNDANCY] [varchar](250) NOT NULL,
	[DELTA_RESERVATION] [varchar](250) NOT NULL,
	[FLASH_COPY_MAP_COUNT] [varchar](250) NOT NULL,
	[IOGROUP_ID] [varchar](250) NOT NULL,
	[UNDERLYING_REDUNDANCY] [varchar](250) NOT NULL,
	[IS_FORMATTED] [varchar](250) NOT NULL,
	[IS_SPACE_EFFICIENT] [varchar](250) NOT NULL,
	[NSPF_SUPPORT] [varchar](250) NOT NULL,
	[PACKAGE_REDUNDANCY] [varchar](250) NOT NULL,
	[RC_CHANGE] [varchar](250) NOT NULL,
	[SYNC_RATE] [varchar](250) NOT NULL,
	[THROTTLE] [varchar](250) NOT NULL,
	[THROTTLE_MBS] [varchar](250) NOT NULL,
	[WWN] [varchar](250) NOT NULL,
	[SUPPORTS_THIN_PROVISION] [varchar](250) NOT NULL,
	[SUPPORTS_COMPRESSION] [varchar](250) NOT NULL,
	[REAL_CAPACITY] [varchar](50) NULL,
	[USED_CAPACITY] [varchar](50) NULL,
	[FREE_CAPACITY] [varchar](50) NULL,
 CONSTRAINT [SVCStorageVolume_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[VOLUME_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__610578462]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__610578462] ON [dbo].[SVCStorageVolume]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SVCStorageVolume]  WITH CHECK ADD  CONSTRAINT [SVCStorageVolume_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SVCStorageVolume] CHECK CONSTRAINT [SVCStorageVolume_FK1]
GO
