USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ConstituentTable]    Script Date: 6/29/2019 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConstituentTable](
	[PERSONALITYID] [bigint] NOT NULL,
	[TABLEID] [bigint] NOT NULL,
	[TABLEINDEX] [int] NULL,
	[MANDATORY] [bit] NOT NULL,
	[FKCONSTRAINT_ID] [bigint] NULL,
 CONSTRAINT [ConstituentTable_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYID] ASC,
	[TABLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1809990773]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1809990773] ON [dbo].[ConstituentTable]
(
	[PERSONALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1809990774]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1809990774] ON [dbo].[ConstituentTable]
(
	[TABLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1809990775]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1809990775] ON [dbo].[ConstituentTable]
(
	[FKCONSTRAINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConstituentTable] ADD  DEFAULT ((1)) FOR [MANDATORY]
GO
ALTER TABLE [dbo].[ConstituentTable]  WITH CHECK ADD  CONSTRAINT [ConstituentTable_PC_FK1] FOREIGN KEY([PERSONALITYID])
REFERENCES [dbo].[PersonalityConfiguration] ([PERSONALITYID])
GO
ALTER TABLE [dbo].[ConstituentTable] CHECK CONSTRAINT [ConstituentTable_PC_FK1]
GO
ALTER TABLE [dbo].[ConstituentTable]  WITH CHECK ADD  CONSTRAINT [ConstituentTable_PC_FK2] FOREIGN KEY([TABLEID])
REFERENCES [dbo].[TableDetails] ([TABLE_ID])
GO
ALTER TABLE [dbo].[ConstituentTable] CHECK CONSTRAINT [ConstituentTable_PC_FK2]
GO
ALTER TABLE [dbo].[ConstituentTable]  WITH CHECK ADD  CONSTRAINT [ConstituentTable_PC_FK3] FOREIGN KEY([FKCONSTRAINT_ID])
REFERENCES [dbo].[ConstraintDefinition] ([CONSTRAINT_ID])
GO
ALTER TABLE [dbo].[ConstituentTable] CHECK CONSTRAINT [ConstituentTable_PC_FK3]
GO
