USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PathProfile]    Script Date: 6/29/2019 5:50:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PathProfile](
	[ID] [int] NOT NULL,
	[PROFILE_NAME] [varchar](100) NOT NULL,
	[INITIATOR_IP] [varchar](100) NOT NULL,
	[SOURCE_IP] [varchar](25) NOT NULL,
	[DESTINATION_IP] [varchar](25) NOT NULL,
	[SOURCE_PORT] [varchar](25) NOT NULL,
	[DESTINATION_PORT] [varchar](25) NOT NULL,
	[IP_PROTOCOL] [varchar](25) NOT NULL,
 CONSTRAINT [PathProfile_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
