USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VMStats]    Script Date: 6/29/2019 5:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMStats](
	[VM_ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[VMSTATUS] [int] NULL,
	[VM_RUNNINGSTATE] [int] NULL,
	[VM_HEARTBEAT_STATUS] [int] NULL,
	[VM_POWERSTATE] [int] NULL,
	[CONNECTION_STATE] [int] NULL,
	[CPU_USAGEPERC] [float] NULL,
	[MEM_USAGEPERC] [float] NULL,
	[CPU_USAGEMHZ] [int] NULL,
	[CPU_READYPERC] [float] NULL,
	[CPU_WAITPERC] [float] NULL,
	[CPU_USED_MSEC] [bigint] NULL,
	[NETWORK_USAGE_KBPS] [int] NULL,
	[DISK_USAGE_KBPS] [int] NULL,
 CONSTRAINT [VMStats_PK] PRIMARY KEY CLUSTERED 
(
	[VM_ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
