USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Template_Constants]    Script Date: 6/29/2019 5:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template_Constants](
	[TEMPLATE_ID] [bigint] NOT NULL,
	[CONSTANT_NAME] [varchar](100) NOT NULL,
	[VALUE] [varchar](250) NOT NULL,
 CONSTRAINT [Template_Constants_PK] PRIMARY KEY CLUSTERED 
(
	[TEMPLATE_ID] ASC,
	[CONSTANT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__244712102]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__244712102] ON [dbo].[Template_Constants]
(
	[TEMPLATE_ID] ASC,
	[CONSTANT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Template_Constants]  WITH CHECK ADD  CONSTRAINT [Template_Constants_FK] FOREIGN KEY([TEMPLATE_ID], [CONSTANT_NAME])
REFERENCES [dbo].[Template_Data] ([TEMPLATE_ID], [VARIABLE_NAME])
GO
ALTER TABLE [dbo].[Template_Constants] CHECK CONSTRAINT [Template_Constants_FK]
GO
