USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduleWeekly]    Script Date: 6/29/2019 5:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleWeekly](
	[SCHEDULEID] [bigint] NOT NULL,
	[DAYOFTHEWEEK] [varchar](250) NOT NULL,
	[Year] [bigint] NOT NULL,
 CONSTRAINT [ScheduleWeekly_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC,
	[DAYOFTHEWEEK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1733775003]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1733775003] ON [dbo].[ScheduleWeekly]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleWeekly]  WITH CHECK ADD  CONSTRAINT [ScheduleWeekly_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleReports] ([SCHEDULEID])
GO
ALTER TABLE [dbo].[ScheduleWeekly] CHECK CONSTRAINT [ScheduleWeekly_FK1]
GO
