USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FWAAToCollectors]    Script Date: 6/29/2019 5:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FWAAToCollectors](
	[CID] [bigint] NOT NULL,
	[FAA_ID] [bigint] NOT NULL,
 CONSTRAINT [FWAAToCollectors_PK] PRIMARY KEY CLUSTERED 
(
	[CID] ASC,
	[FAA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1292755968]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1292755968] ON [dbo].[FWAAToCollectors]
(
	[FAA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1292755969]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1292755969] ON [dbo].[FWAAToCollectors]
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FWAAToCollectors]  WITH CHECK ADD  CONSTRAINT [FWAAToCollectors_FK1] FOREIGN KEY([CID])
REFERENCES [dbo].[Collectors] ([CID])
GO
ALTER TABLE [dbo].[FWAAToCollectors] CHECK CONSTRAINT [FWAAToCollectors_FK1]
GO
ALTER TABLE [dbo].[FWAAToCollectors]  WITH CHECK ADD  CONSTRAINT [FWAAToCollectors_FK2] FOREIGN KEY([FAA_ID])
REFERENCES [dbo].[FWAvailabilityAlert] ([FAA_ID])
GO
ALTER TABLE [dbo].[FWAAToCollectors] CHECK CONSTRAINT [FWAAToCollectors_FK2]
GO
