USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Protocols]    Script Date: 6/29/2019 5:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Protocols](
	[PROTOCOL_ID] [bigint] NOT NULL,
	[PROTOCOL_NAME] [nvarchar](30) NOT NULL,
	[PROTOCOL_GROUP] [bigint] NULL,
	[COLOR] [nvarchar](10) NULL,
 CONSTRAINT [FAProtocol_PK] PRIMARY KEY CLUSTERED 
(
	[PROTOCOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Protocols_UK1] UNIQUE NONCLUSTERED 
(
	[PROTOCOL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1524551304]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1524551304] ON [dbo].[Protocols]
(
	[PROTOCOL_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Protocols]  WITH CHECK ADD  CONSTRAINT [Protocols_FK1] FOREIGN KEY([PROTOCOL_GROUP])
REFERENCES [dbo].[ProtocolGroups] ([PG_ID])
GO
ALTER TABLE [dbo].[Protocols] CHECK CONSTRAINT [Protocols_FK1]
GO
