USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Exchange2007WMIPolledData]    Script Date: 6/29/2019 5:47:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exchange2007WMIPolledData](
	[COLLECTDATAID] [bigint] NOT NULL,
	[AUTOADD] [bit] NOT NULL,
 CONSTRAINT [Exchange2007WMIPolledData_PK1] PRIMARY KEY CLUSTERED 
(
	[COLLECTDATAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1773708480]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1773708480] ON [dbo].[Exchange2007WMIPolledData]
(
	[COLLECTDATAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exchange2007WMIPolledData] ADD  DEFAULT ((1)) FOR [AUTOADD]
GO
ALTER TABLE [dbo].[Exchange2007WMIPolledData]  WITH CHECK ADD  CONSTRAINT [Exchange2007WMIPolledData_FK1] FOREIGN KEY([COLLECTDATAID])
REFERENCES [dbo].[WMIPolledData] ([COLLECTDATAID])
GO
ALTER TABLE [dbo].[Exchange2007WMIPolledData] CHECK CONSTRAINT [Exchange2007WMIPolledData_FK1]
GO
