USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SchMACAddress]    Script Date: 6/29/2019 5:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchMACAddress](
	[IP_ID] [int] NOT NULL,
	[SCHEDULE_ID] [bigint] NOT NULL,
	[MAC_ADDR_ID] [varbinary](max) NOT NULL,
	[TYPE_PARAM] [int] NOT NULL,
 CONSTRAINT [SchMACAddress_PK] PRIMARY KEY CLUSTERED 
(
	[IP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_341729927]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_341729927] ON [dbo].[SchMACAddress]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SchMACAddress]  WITH CHECK ADD  CONSTRAINT [SchMACAddress_FK] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[ScheduleDetails] ([ID])
GO
ALTER TABLE [dbo].[SchMACAddress] CHECK CONSTRAINT [SchMACAddress_FK]
GO
