USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InfortrendRaidControllerDriveSide]    Script Date: 6/29/2019 5:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfortrendRaidControllerDriveSide](
	[DEVICE_ID] [bigint] NOT NULL,
	[MOTOR_SPINUP] [varchar](250) NOT NULL,
	[POWERUP_SCSIRESET] [varchar](250) NOT NULL,
	[SMART_MODE] [varchar](250) NOT NULL,
	[GLOBALSPARE_AUTOASSIGN] [varchar](250) NOT NULL,
	[MAX_ACCESS_DELAY_TIME] [int] NULL,
	[MIN_ACCESS_DELAY_TIME] [int] NULL,
	[DEF_ACCESS_DELAY_TIME] [int] NULL,
	[CUR_ACCESS_DELAY_TIME] [int] NULL,
	[MAX_TAG_COUNT] [varchar](250) NULL,
	[MIN_TAG_COUNT] [varchar](250) NULL,
	[DEF_TAG_COUNT] [varchar](250) NULL,
	[CUR_TAG_COUNT] [varchar](250) NULL,
	[DEF_IO_TIMEOUT] [int] NULL,
	[CUR_IO_TIMEOUT] [int] NULL,
	[DEF_DRV_CHKPERIOD] [int] NULL,
	[CUR_DRV_CHKPERIOD] [int] NULL,
	[DEF_SAFTE_POLLING_PERIOD] [int] NULL,
	[CUR_SAFTE_POLLING_PERIOD] [int] NULL,
	[DEF_AUTO_DETECT_PERIOD] [int] NULL,
	[CUR_AUTO_DETECT_PERIOD] [int] NULL,
 CONSTRAINT [InfortrendRaidControllerDriveSide_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_312780079]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_312780079] ON [dbo].[InfortrendRaidControllerDriveSide]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InfortrendRaidControllerDriveSide]  WITH CHECK ADD  CONSTRAINT [InfortrendRaidControllerDriveSide_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[RaidController] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[InfortrendRaidControllerDriveSide] CHECK CONSTRAINT [InfortrendRaidControllerDriveSide_FK1]
GO
