USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LOGICALGROUPTOINTERFACE]    Script Date: 6/29/2019 5:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGICALGROUPTOINTERFACE](
	[MAPID] [bigint] NOT NULL,
	[GROUPID] [bigint] NULL,
	[MOID] [bigint] NULL,
 CONSTRAINT [LOGICALGROUPTOINTERFACE_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [LOGICALGROUPTOINTERFACE_UK0] UNIQUE NONCLUSTERED 
(
	[GROUPID] ASC,
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2117382539]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2117382539] ON [dbo].[LOGICALGROUPTOINTERFACE]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2117382540]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2117382540] ON [dbo].[LOGICALGROUPTOINTERFACE]
(
	[GROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOGICALGROUPTOINTERFACE]  WITH CHECK ADD  CONSTRAINT [LOGICALGROUPTOINTERFACE_FK0] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[LOGICALGROUP] ([GROUPID])
GO
ALTER TABLE [dbo].[LOGICALGROUPTOINTERFACE] CHECK CONSTRAINT [LOGICALGROUPTOINTERFACE_FK0]
GO
ALTER TABLE [dbo].[LOGICALGROUPTOINTERFACE]  WITH CHECK ADD  CONSTRAINT [LOGICALGROUPTOINTERFACE_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[LOGICALGROUPTOINTERFACE] CHECK CONSTRAINT [LOGICALGROUPTOINTERFACE_FK1]
GO
