USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NEInterface]    Script Date: 6/29/2019 5:49:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEInterface](
	[RESOURCEID] [bigint] NOT NULL,
	[INTERFACENAME] [varchar](250) NULL,
	[PORTID] [bigint] NULL,
	[ISPRIMARY] [bit] NOT NULL,
	[NEINTERFACEADDRESSID] [bigint] NULL,
 CONSTRAINT [NEInterface_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1878569071]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1878569071] ON [dbo].[NEInterface]
(
	[NEINTERFACEADDRESSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1878569072]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1878569072] ON [dbo].[NEInterface]
(
	[PORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1878569073]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1878569073] ON [dbo].[NEInterface]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NEInterface] ADD  DEFAULT ((1)) FOR [ISPRIMARY]
GO
ALTER TABLE [dbo].[NEInterface]  WITH CHECK ADD  CONSTRAINT [NEInterface_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[ManagedResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NEInterface] CHECK CONSTRAINT [NEInterface_FK1]
GO
ALTER TABLE [dbo].[NEInterface]  WITH CHECK ADD  CONSTRAINT [NEInterface_FK2] FOREIGN KEY([PORTID])
REFERENCES [dbo].[NEPort] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NEInterface] CHECK CONSTRAINT [NEInterface_FK2]
GO
ALTER TABLE [dbo].[NEInterface]  WITH CHECK ADD  CONSTRAINT [NEInterface_FK3] FOREIGN KEY([NEINTERFACEADDRESSID])
REFERENCES [dbo].[Address] ([ADDRESSID])
GO
ALTER TABLE [dbo].[NEInterface] CHECK CONSTRAINT [NEInterface_FK3]
GO
