USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FWAChangeInfo]    Script Date: 6/29/2019 5:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FWAChangeInfo](
	[CHANGE_ID] [bigint] NOT NULL,
	[FEATURE_ID] [int] NOT NULL,
	[VALUE] [varbinary](max) NULL,
	[TYPE] [int] NOT NULL,
	[CHANGED_BY] [nvarchar](100) NULL,
	[UPDATEDTIME] [bigint] NOT NULL,
 CONSTRAINT [FWAChangeInfo_PK1] PRIMARY KEY CLUSTERED 
(
	[CHANGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
