USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AuditGroup]    Script Date: 6/29/2019 5:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditGroup](
	[GROUPID] [bigint] NOT NULL,
	[GROUPNAME] [varchar](250) NOT NULL,
	[DISPLAYNAME] [varchar](250) NULL,
 CONSTRAINT [AuditGroup_PK] PRIMARY KEY CLUSTERED 
(
	[GROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AuditGroup_UK1] UNIQUE NONCLUSTERED 
(
	[GROUPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
