USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FloorDetails]    Script Date: 6/29/2019 5:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FloorDetails](
	[FLOORID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[LENGTH] [int] NOT NULL,
	[WIDTH] [int] NOT NULL,
	[COLOR] [varchar](10) NOT NULL,
	[TILECOLOR] [varchar](10) NOT NULL,
	[TILELENGTH] [int] NOT NULL,
	[TILEWIDTH] [int] NOT NULL,
 CONSTRAINT [FloorDetails_PK] PRIMARY KEY CLUSTERED 
(
	[FLOORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FloorDetails_UK1] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FloorDetails] ADD  DEFAULT ('360') FOR [LENGTH]
GO
ALTER TABLE [dbo].[FloorDetails] ADD  DEFAULT ('360') FOR [WIDTH]
GO
ALTER TABLE [dbo].[FloorDetails] ADD  DEFAULT ('0xFFFFFF') FOR [COLOR]
GO
ALTER TABLE [dbo].[FloorDetails] ADD  DEFAULT ('0x003856') FOR [TILECOLOR]
GO
ALTER TABLE [dbo].[FloorDetails] ADD  DEFAULT ('30') FOR [TILELENGTH]
GO
ALTER TABLE [dbo].[FloorDetails] ADD  DEFAULT ('30') FOR [TILEWIDTH]
GO
