USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GlobalAlertToNWMonitor]    Script Date: 6/29/2019 5:47:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalAlertToNWMonitor](
	[GLOBALID] [bigint] NOT NULL,
	[ALERTID] [bigint] NOT NULL,
 CONSTRAINT [GlobalAlertToNWMonitor_PK] PRIMARY KEY CLUSTERED 
(
	[GLOBALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__170879253]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__170879253] ON [dbo].[GlobalAlertToNWMonitor]
(
	[ALERTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__170879254]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__170879254] ON [dbo].[GlobalAlertToNWMonitor]
(
	[GLOBALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GlobalAlertToNWMonitor]  WITH CHECK ADD  CONSTRAINT [GlobalAlertToNWMonitor_FK1] FOREIGN KEY([GLOBALID])
REFERENCES [dbo].[GlobalAlertView] ([ID])
GO
ALTER TABLE [dbo].[GlobalAlertToNWMonitor] CHECK CONSTRAINT [GlobalAlertToNWMonitor_FK1]
GO
ALTER TABLE [dbo].[GlobalAlertToNWMonitor]  WITH CHECK ADD  CONSTRAINT [GlobalAlertToNWMonitor_FK2] FOREIGN KEY([ALERTID])
REFERENCES [dbo].[NetMonState] ([ID])
GO
ALTER TABLE [dbo].[GlobalAlertToNWMonitor] CHECK CONSTRAINT [GlobalAlertToNWMonitor_FK2]
GO
