USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TestCredentialProfile]    Script Date: 6/29/2019 5:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCredentialProfile](
	[PROFILEID] [bigint] NOT NULL,
	[PROFILENAME] [varchar](100) NOT NULL,
	[STATUS] [varchar](100) NOT NULL,
	[GENERATEALARM] [varchar](100) NOT NULL,
	[REARM] [varchar](100) NOT NULL,
	[EXECUTE] [varchar](100) NOT NULL,
	[DEVICEFILTER] [varchar](100) NOT NULL,
	[CREATEDTIME] [bigint] NOT NULL,
	[LASTRUN] [bigint] NULL,
 CONSTRAINT [TestCredentialProfile_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TestCredentialProfile_UK0] UNIQUE NONCLUSTERED 
(
	[PROFILENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
