USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MacIpMapping]    Script Date: 6/29/2019 5:48:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MacIpMapping](
	[MACID] [bigint] NOT NULL,
	[MACADDRESS] [varchar](50) NOT NULL,
	[IPADDRESS] [varchar](30) NOT NULL,
 CONSTRAINT [MacIpMapping_PK] PRIMARY KEY CLUSTERED 
(
	[MACID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
