USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ManagedStateHolder]    Script Date: 6/29/2019 5:48:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedStateHolder](
	[RESOURCEID] [bigint] NOT NULL,
	[MANAGED] [bit] NOT NULL,
	[DERIVEDSTATUS] [bit] NOT NULL,
 CONSTRAINT [ManagedStateHolder_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__83330837]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__83330837] ON [dbo].[ManagedStateHolder]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedStateHolder] ADD  DEFAULT ((1)) FOR [MANAGED]
GO
ALTER TABLE [dbo].[ManagedStateHolder] ADD  DEFAULT ((1)) FOR [DERIVEDSTATUS]
GO
ALTER TABLE [dbo].[ManagedStateHolder]  WITH CHECK ADD  CONSTRAINT [ManagedStateHolder_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMDevices] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ManagedStateHolder] CHECK CONSTRAINT [ManagedStateHolder_FK1]
GO
