USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EdgeCoreSwitch]    Script Date: 6/29/2019 5:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EdgeCoreSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[HW_VER] [varchar](100) NOT NULL,
 CONSTRAINT [EdgeCoreSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__935152451]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__935152451] ON [dbo].[EdgeCoreSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EdgeCoreSwitch] ADD  DEFAULT ('Not Available') FOR [HW_VER]
GO
ALTER TABLE [dbo].[EdgeCoreSwitch]  WITH CHECK ADD  CONSTRAINT [EdgeCoreSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[EdgeCoreSwitch] CHECK CONSTRAINT [EdgeCoreSwitch_FK1]
GO
