USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CategoryDefinition]    Script Date: 6/29/2019 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryDefinition](
	[CATEGORYID] [bigint] NOT NULL,
	[CATEGORYNAME] [varchar](100) NOT NULL,
	[POLICYNAME] [varchar](120) NOT NULL,
	[MAPNAME] [varchar](120) NOT NULL,
	[MAPDISPLAY] [varchar](100) NOT NULL,
 CONSTRAINT [CategoryDefinition_PK1] PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CategoryDefinition_UK0] UNIQUE NONCLUSTERED 
(
	[CATEGORYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
