USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FAMetaTable]    Script Date: 6/29/2019 5:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMetaTable](
	[TABLE_NAME] [nvarchar](32) NOT NULL,
	[START_TIME] [datetime] NOT NULL,
	[END_TIME] [datetime] NOT NULL,
	[START_INDEX] [bigint] NOT NULL,
	[END_INDEX] [bigint] NOT NULL,
	[LOOKUP_TABLENAME] [nvarchar](70) NOT NULL,
	[STATUS] [nvarchar](32) NOT NULL,
	[BUILD_NUMBER] [nvarchar](10) NULL,
	[PROCESSED] [bit] NOT NULL,
 CONSTRAINT [FAMetaTable_PK] PRIMARY KEY CLUSTERED 
(
	[TABLE_NAME] ASC,
	[LOOKUP_TABLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FAMetaTable_UK0] UNIQUE NONCLUSTERED 
(
	[LOOKUP_TABLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FAMetaTable] ADD  DEFAULT ('SUCCESS') FOR [STATUS]
GO
ALTER TABLE [dbo].[FAMetaTable] ADD  DEFAULT ('4010') FOR [BUILD_NUMBER]
GO
ALTER TABLE [dbo].[FAMetaTable] ADD  DEFAULT ((0)) FOR [PROCESSED]
GO
