USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCVNXeDISKGROUP]    Script Date: 6/29/2019 5:47:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCVNXeDISKGROUP](
	[RAID_ID] [bigint] NOT NULL,
	[GROUP_ID] [varchar](250) NOT NULL,
	[DRIVE_TYPE] [varchar](250) NOT NULL,
	[DRIVE_SIZE] [float] NULL,
	[ROTATIONAL_SPEED] [varchar](250) NULL,
	[NUMBER_OF_DRIVES] [int] NULL,
	[UNCONFIGURED_DRIVES] [int] NULL,
	[CAPACITY] [float] NULL,
 CONSTRAINT [EMCVNXeDISKGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_35927586]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_35927586] ON [dbo].[EMCVNXeDISKGROUP]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCVNXeDISKGROUP]  WITH CHECK ADD  CONSTRAINT [EMCVNXeDISKGROUP_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCVNXeDISKGROUP] CHECK CONSTRAINT [EMCVNXeDISKGROUP_FK]
GO
