USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SysLogServerToFWMap]    Script Date: 6/29/2019 5:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysLogServerToFWMap](
	[SYSLOGSERVERID] [bigint] NOT NULL,
	[FIREWALLNAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [SysLogServerToFWMap_PK] PRIMARY KEY CLUSTERED 
(
	[SYSLOGSERVERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_738313550]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_738313550] ON [dbo].[SysLogServerToFWMap]
(
	[SYSLOGSERVERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SysLogServerToFWMap]  WITH CHECK ADD  CONSTRAINT [SysLogServerToFWMap_FK] FOREIGN KEY([SYSLOGSERVERID])
REFERENCES [dbo].[SysLogServerSettings] ([SYSLOGSERVERID])
GO
ALTER TABLE [dbo].[SysLogServerToFWMap] CHECK CONSTRAINT [SysLogServerToFWMap_FK]
GO
