USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMProfileProps]    Script Date: 6/29/2019 5:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMProfileProps](
	[PROFILEID] [bigint] NOT NULL,
	[PROPERTYNAME] [varchar](50) NOT NULL,
	[PROPERTYVALUE] [varbinary](max) NULL,
 CONSTRAINT [NCMProfileProps_PK] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC,
	[PROPERTYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_2118596204]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2118596204] ON [dbo].[NCMProfileProps]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMProfileProps]  WITH CHECK ADD  CONSTRAINT [NCMProfileProps_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NCMSharedProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[NCMProfileProps] CHECK CONSTRAINT [NCMProfileProps_FK1]
GO
