USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPMAudit]    Script Date: 6/29/2019 5:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPMAudit](
	[LOGID] [bigint] NOT NULL,
	[OPERATIONID] [bigint] NOT NULL,
	[TIME] [bigint] NOT NULL,
	[USERNAME] [varchar](250) NOT NULL,
	[HOSTADDRESS] [varchar](250) NOT NULL,
	[DESCRIPTION] [text] NOT NULL,
	[CRITICALITYLEVEL] [varchar](100) NOT NULL,
	[MOID] [bigint] NOT NULL,
 CONSTRAINT [OPMAudit_PK] PRIMARY KEY CLUSTERED 
(
	[LOGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
