USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NokiaIPSO]    Script Date: 6/29/2019 5:49:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NokiaIPSO](
	[RESOURCEID] [bigint] NOT NULL,
	[BIOS_VENDOR] [varchar](100) NOT NULL,
	[BIOS_VERSION] [varchar](100) NOT NULL,
 CONSTRAINT [NokiaIPSO_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1457972946]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1457972946] ON [dbo].[NokiaIPSO]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NokiaIPSO] ADD  DEFAULT ('Not Available') FOR [BIOS_VENDOR]
GO
ALTER TABLE [dbo].[NokiaIPSO] ADD  DEFAULT ('Not Available') FOR [BIOS_VERSION]
GO
ALTER TABLE [dbo].[NokiaIPSO]  WITH CHECK ADD  CONSTRAINT [NokiaIPSO_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NokiaIPSO] CHECK CONSTRAINT [NokiaIPSO_FK1]
GO
