USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetAppSDKLun]    Script Date: 6/29/2019 5:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetAppSDKLun](
	[RAID_ID] [bigint] NOT NULL,
	[UUID] [varchar](500) NOT NULL,
	[SERIAL_NO] [varchar](500) NOT NULL,
	[STATUS] [varchar](250) NOT NULL,
	[PATH] [varchar](255) NOT NULL,
	[SIZE] [varchar](250) NOT NULL,
	[SIZE_USED] [varchar](250) NOT NULL,
	[BLOCK_SIZE] [varchar](250) NOT NULL,
	[MAPPED] [varchar](250) NOT NULL,
	[BACKING_SNAPSHOT] [varchar](250) NOT NULL,
	[MULTIPROTOCOL_TYPE] [varchar](250) NOT NULL,
	[WWN] [varchar](100) NOT NULL,
 CONSTRAINT [NetAppSDKLun_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[PATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_515724732]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_515724732] ON [dbo].[NetAppSDKLun]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetAppSDKLun]  WITH CHECK ADD  CONSTRAINT [NetAppSDKLun_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[NetAppSDKLun] CHECK CONSTRAINT [NetAppSDKLun_FK1]
GO
