USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SANDiskDrive]    Script Date: 6/29/2019 5:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANDiskDrive](
	[PARENT_ID] [bigint] NOT NULL,
	[DISK_ID] [bigint] NOT NULL,
	[DISK_TYPE] [varchar](250) NULL,
	[RAW_CAPACITY] [varchar](250) NULL,
	[CONFIGURED_CAPACITY] [varchar](250) NULL,
	[USED_CAPACITY] [varchar](250) NULL,
	[FREE_CAPACITY] [varchar](250) NULL,
	[ONLINE_STATE] [varchar](250) NULL,
	[HEALTH_STATE] [varchar](250) NULL,
	[INSTALL_DATE] [varchar](250) NULL,
	[SPEED] [varchar](250) NULL,
	[TEMPERATURE] [varchar](250) NULL,
	[POWER_SUPPLY_LEVEL] [varchar](250) NULL,
	[POWER_SUPPLY_STATE] [varchar](250) NULL,
	[WWN] [varchar](250) NULL,
	[UID] [varchar](250) NULL,
	[FRU_NUMBER] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[ASSOCIATED_POOL] [varchar](250) NULL,
	[PRIMORDIAL] [varchar](250) NULL,
	[ACCESS] [varchar](250) NULL,
	[REMOVAL_CONDITIONS] [varchar](250) NULL,
	[STATS_KEY] [varchar](1000) NULL,
	[ADDITIONAL_DATA] [text] NULL,
 CONSTRAINT [SANDiskDrive_PK] PRIMARY KEY CLUSTERED 
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_1789304538]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1789304538] ON [dbo].[SANDiskDrive]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1789304539]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1789304539] ON [dbo].[SANDiskDrive]
(
	[PARENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SANDiskDrive]  WITH CHECK ADD  CONSTRAINT [SANDiskDrive_FK1] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SANDiskDrive] CHECK CONSTRAINT [SANDiskDrive_FK1]
GO
ALTER TABLE [dbo].[SANDiskDrive]  WITH CHECK ADD  CONSTRAINT [SANDiskDrive_FK2] FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SANDiskDrive] CHECK CONSTRAINT [SANDiskDrive_FK2]
GO
