USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[User_TZone]    Script Date: 6/29/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_TZone](
	[ZONE_ID] [varbinary](max) NOT NULL,
	[USER_ID] [bigint] NOT NULL,
 CONSTRAINT [User_TZone_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
