USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Operation]    Script Date: 6/29/2019 5:49:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operation](
	[OPERATIONID] [bigint] NOT NULL,
	[MODULEID] [bigint] NOT NULL,
	[OPERATIONNAME] [varchar](250) NOT NULL,
 CONSTRAINT [Operation_PK] PRIMARY KEY CLUSTERED 
(
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Operation_UK0] UNIQUE NONCLUSTERED 
(
	[OPERATIONNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__109797699]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__109797699] ON [dbo].[Operation]
(
	[MODULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Operation]  WITH CHECK ADD  CONSTRAINT [Operation_FK] FOREIGN KEY([MODULEID])
REFERENCES [dbo].[OPMModule] ([MODULEID])
GO
ALTER TABLE [dbo].[Operation] CHECK CONSTRAINT [Operation_FK]
GO
