USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DeviceDetails]    Script Date: 6/29/2019 5:47:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceDetails](
	[DDID] [bigint] NOT NULL,
	[RID] [bigint] NOT NULL,
	[MODE] [int] NULL,
	[STATUS] [int] NULL,
	[ERRORSTRING] [nvarchar](255) NULL,
	[TIMEINTERVAL] [nvarchar](100) NULL,
	[LAST_UPDATED_ON] [datetime] NULL,
	[ISPROFILEBASED] [bit] NULL,
	[PROF_VAL_OVERWRITTEN] [bit] NULL,
	[GEN_COMP_RPT] [bit] NULL,
	[GEN_CONF_MGMT_RPT] [bit] NULL,
	[FETCH_RULES] [bit] NULL,
	[EXCLUDED_VDOMS] [nvarchar](250) NULL,
 CONSTRAINT [DeviceDetails_PK] PRIMARY KEY CLUSTERED 
(
	[DDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceDetails] ADD  DEFAULT ((0)) FOR [ISPROFILEBASED]
GO
ALTER TABLE [dbo].[DeviceDetails] ADD  DEFAULT ((0)) FOR [PROF_VAL_OVERWRITTEN]
GO
ALTER TABLE [dbo].[DeviceDetails] ADD  DEFAULT ((0)) FOR [GEN_COMP_RPT]
GO
ALTER TABLE [dbo].[DeviceDetails] ADD  DEFAULT ((0)) FOR [GEN_CONF_MGMT_RPT]
GO
ALTER TABLE [dbo].[DeviceDetails] ADD  DEFAULT ((0)) FOR [FETCH_RULES]
GO
