USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TftpRecord]    Script Date: 6/29/2019 5:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TftpRecord](
	[RECORD_ID] [varchar](250) NOT NULL,
	[SOURCE_FILE] [varchar](250) NOT NULL,
	[DESTINATION_FILE] [varchar](250) NULL,
	[TRANSFER_MODE] [varchar](25) NULL,
 CONSTRAINT [TFTPREC_PK] PRIMARY KEY CLUSTERED 
(
	[RECORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__528592670]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__528592670] ON [dbo].[TftpRecord]
(
	[RECORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TftpRecord]  WITH CHECK ADD  CONSTRAINT [TFTPREC_FK] FOREIGN KEY([RECORD_ID])
REFERENCES [dbo].[Record] ([RecordID])
GO
ALTER TABLE [dbo].[TftpRecord] CHECK CONSTRAINT [TFTPREC_FK]
GO
