USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MessageBoardUser]    Script Date: 6/29/2019 5:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageBoardUser](
	[MESSAGETABLEID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
	[VISIBLE] [bit] NULL,
 CONSTRAINT [MessageBoardUserTable_PK] PRIMARY KEY CLUSTERED 
(
	[MESSAGETABLEID] ASC,
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1713890414]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1713890414] ON [dbo].[MessageBoardUser]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1713890415]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1713890415] ON [dbo].[MessageBoardUser]
(
	[MESSAGETABLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MessageBoardUser] ADD  DEFAULT ((1)) FOR [VISIBLE]
GO
ALTER TABLE [dbo].[MessageBoardUser]  WITH CHECK ADD  CONSTRAINT [MessageBoardUserTable_FK1] FOREIGN KEY([MESSAGETABLEID])
REFERENCES [dbo].[MessageBoardDetails] ([MESSAGETABLEID])
GO
ALTER TABLE [dbo].[MessageBoardUser] CHECK CONSTRAINT [MessageBoardUserTable_FK1]
GO
ALTER TABLE [dbo].[MessageBoardUser]  WITH CHECK ADD  CONSTRAINT [MessageBoardUserTable_FK2] FOREIGN KEY([USERID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[MessageBoardUser] CHECK CONSTRAINT [MessageBoardUserTable_FK2]
GO
