USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SystemStatus]    Script Date: 6/29/2019 5:52:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemStatus](
	[SSID] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[REPORT_ID] [bigint] NOT NULL,
	[MODULE_NAME] [nvarchar](50) NOT NULL,
	[OPERATION_NAME] [nvarchar](150) NOT NULL,
	[PERFORMED_AT] [datetime] NOT NULL,
	[STATUS] [bit] NOT NULL,
	[ERRORS] [nvarchar](255) NULL,
	[TASKNAME] [nvarchar](50) NULL,
 CONSTRAINT [SystemStatus_PK] PRIMARY KEY CLUSTERED 
(
	[SSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1121954467]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1121954467] ON [dbo].[SystemStatus]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_420850159]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_420850159] ON [dbo].[SystemStatus]
(
	[REPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_420850160]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_420850160] ON [dbo].[SystemStatus]
(
	[TASKNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SystemStatus]  WITH CHECK ADD  CONSTRAINT [SystemStatus_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[SystemStatus] CHECK CONSTRAINT [SystemStatus_FK]
GO
ALTER TABLE [dbo].[SystemStatus]  WITH CHECK ADD  CONSTRAINT [SystemStatus_FK2] FOREIGN KEY([REPORT_ID])
REFERENCES [dbo].[ReportConfig] ([REPORTID])
GO
ALTER TABLE [dbo].[SystemStatus] CHECK CONSTRAINT [SystemStatus_FK2]
GO
ALTER TABLE [dbo].[SystemStatus]  WITH CHECK ADD  CONSTRAINT [SystemStatus_FK3] FOREIGN KEY([TASKNAME])
REFERENCES [dbo].[TaskDetails] ([TASKNAME])
GO
ALTER TABLE [dbo].[SystemStatus] CHECK CONSTRAINT [SystemStatus_FK3]
GO
