USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OpUtilsSNMPInterface]    Script Date: 6/29/2019 5:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpUtilsSNMPInterface](
	[RESOURCEID] [bigint] NOT NULL,
	[IFINDEX] [int] NOT NULL,
	[PHYSADDR] [varchar](17) NOT NULL,
	[IFSPEED] [bigint] NULL,
	[IFDESCR] [varchar](250) NOT NULL,
	[BAUDRATE] [varchar](30) NULL,
	[IFTYPE] [int] NOT NULL,
	[IFMTU] [int] NULL,
	[DUPLEX] [varchar](10) NULL,
 CONSTRAINT [OpUtilsSNMPInterface_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC,
	[IFINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2028419640]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2028419640] ON [dbo].[OpUtilsSNMPInterface]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OpUtilsSNMPInterface] ADD  DEFAULT ('Not Resolved') FOR [PHYSADDR]
GO
ALTER TABLE [dbo].[OpUtilsSNMPInterface] ADD  DEFAULT ('No Data') FOR [IFDESCR]
GO
ALTER TABLE [dbo].[OpUtilsSNMPInterface] ADD  DEFAULT ('0 Mbps') FOR [BAUDRATE]
GO
ALTER TABLE [dbo].[OpUtilsSNMPInterface] ADD  DEFAULT ('604') FOR [IFTYPE]
GO
ALTER TABLE [dbo].[OpUtilsSNMPInterface]  WITH CHECK ADD  CONSTRAINT [OpUtilsSNMPInterface_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[SNMPResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[OpUtilsSNMPInterface] CHECK CONSTRAINT [OpUtilsSNMPInterface_FK1]
GO
