USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[METrackParams]    Script Date: 6/29/2019 5:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METrackParams](
	[METRACK_PARAM_ID] [bigint] NOT NULL,
	[PARAM_NAME] [varchar](250) NOT NULL,
	[PARAM_VALUE] [nvarchar](250) NOT NULL,
	[LAST_UPDATED_TIME] [bigint] NOT NULL,
 CONSTRAINT [METrackParams_PK] PRIMARY KEY CLUSTERED 
(
	[METRACK_PARAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [METrackParams_IDX1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [METrackParams_IDX1] ON [dbo].[METrackParams]
(
	[PARAM_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[METrackParams] ADD  DEFAULT ('0') FOR [LAST_UPDATED_TIME]
GO
