USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PushNotificationDevices]    Script Date: 6/29/2019 5:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PushNotificationDevices](
	[DEVICEID] [bigint] NOT NULL,
	[DEVICETOKEN] [varchar](250) NOT NULL,
	[LOGINID] [bigint] NOT NULL,
	[LASTREGISTER] [bigint] NOT NULL,
	[ISANDROID] [bit] NOT NULL,
 CONSTRAINT [PushNotificationDevices_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICETOKEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PushNotificationDevices_UK0] UNIQUE NONCLUSTERED 
(
	[DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2105551067]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2105551067] ON [dbo].[PushNotificationDevices]
(
	[LOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PushNotificationDevices]  WITH CHECK ADD  CONSTRAINT [PushNotificationDevices_FK1] FOREIGN KEY([LOGINID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[PushNotificationDevices] CHECK CONSTRAINT [PushNotificationDevices_FK1]
GO
