USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DBAdapter]    Script Date: 6/29/2019 5:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBAdapter](
	[DSID] [bigint] NOT NULL,
	[SQLGENERATOR] [varchar](200) NOT NULL,
	[DRIVERNAME] [varchar](200) NOT NULL,
	[URL] [varchar](200) NOT NULL,
	[USERNAME] [varchar](30) NULL,
	[PASSWORD] [varchar](30) NULL,
	[TRANSACTION_LEVEL] [varchar](50) NOT NULL,
	[MIN_CONN_COUNT] [int] NOT NULL,
	[MAX_CONN_COUNT] [int] NOT NULL,
 CONSTRAINT [DBAdapter_PK] PRIMARY KEY CLUSTERED 
(
	[DSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__588470338]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__588470338] ON [dbo].[DBAdapter]
(
	[DSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DBAdapter] ADD  DEFAULT ('TRANSACTION_READ_COMMITTED') FOR [TRANSACTION_LEVEL]
GO
ALTER TABLE [dbo].[DBAdapter] ADD  DEFAULT ('1') FOR [MIN_CONN_COUNT]
GO
ALTER TABLE [dbo].[DBAdapter] ADD  DEFAULT ('5') FOR [MAX_CONN_COUNT]
GO
ALTER TABLE [dbo].[DBAdapter]  WITH CHECK ADD  CONSTRAINT [DBAdapter_FK1] FOREIGN KEY([DSID])
REFERENCES [dbo].[DataSource] ([DSID])
GO
ALTER TABLE [dbo].[DBAdapter] CHECK CONSTRAINT [DBAdapter_FK1]
GO
