USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 6/29/2019 5:50:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[OWNERID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[LOCATION] [varchar](50) NOT NULL,
	[DESIGNATION] [varchar](100) NOT NULL,
	[EMAIL] [varchar](100) NULL,
	[PHON_NUMBER] [varchar](20) NULL,
 CONSTRAINT [Owner_PK] PRIMARY KEY CLUSTERED 
(
	[OWNERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
