USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Integral_DataObj_Vars]    Script Date: 6/29/2019 5:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Integral_DataObj_Vars](
	[INTEGRAL_EXPRESSION_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [bigint] NOT NULL,
	[VARIABLE_NAME] [varchar](100) NOT NULL,
	[TABLE_NAME] [varchar](100) NOT NULL,
	[TABLE_ARRAY_INDEX] [int] NOT NULL,
	[COLUMN_NAME] [varchar](240) NOT NULL,
 CONSTRAINT [Integral_DataObj_Vars_PK] PRIMARY KEY CLUSTERED 
(
	[INTEGRAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1584674594]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1584674594] ON [dbo].[Integral_DataObj_Vars]
(
	[TEMPLATE_ID] ASC,
	[VARIABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__189665869]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__189665869] ON [dbo].[Integral_DataObj_Vars]
(
	[INTEGRAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Integral_DataObj_Vars] ADD  DEFAULT ('-1') FOR [TABLE_ARRAY_INDEX]
GO
ALTER TABLE [dbo].[Integral_DataObj_Vars]  WITH CHECK ADD  CONSTRAINT [Integral_DataObj_Vars_FK] FOREIGN KEY([INTEGRAL_EXPRESSION_ID])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Integral_DataObj_Vars] CHECK CONSTRAINT [Integral_DataObj_Vars_FK]
GO
ALTER TABLE [dbo].[Integral_DataObj_Vars]  WITH CHECK ADD  CONSTRAINT [Integral_DataObj_Vars_FK1] FOREIGN KEY([TEMPLATE_ID], [VARIABLE_NAME])
REFERENCES [dbo].[Template_Data] ([TEMPLATE_ID], [VARIABLE_NAME])
GO
ALTER TABLE [dbo].[Integral_DataObj_Vars] CHECK CONSTRAINT [Integral_DataObj_Vars_FK1]
GO
