USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DevicePackagePopulator]    Script Date: 6/29/2019 5:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevicePackagePopulator](
	[FILENAME] [varchar](100) NOT NULL,
	[FILETYPE] [int] NOT NULL,
	[ISPOPULATED] [bit] NOT NULL,
 CONSTRAINT [DevicePackagePopulator_PK] PRIMARY KEY CLUSTERED 
(
	[FILENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
