USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AnomalyRuleDetails]    Script Date: 6/29/2019 5:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnomalyRuleDetails](
	[AnomalyPK] [bigint] NOT NULL,
	[RULEID] [bigint] NOT NULL,
 CONSTRAINT [AnomalyRuleDetails_PK] PRIMARY KEY CLUSTERED 
(
	[AnomalyPK] ASC,
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1563295169]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1563295169] ON [dbo].[AnomalyRuleDetails]
(
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnomalyRuleDetails]  WITH CHECK ADD  CONSTRAINT [AnomalyRuleDetails_FK] FOREIGN KEY([RULEID])
REFERENCES [dbo].[RuleDetails] ([RULEID])
GO
ALTER TABLE [dbo].[AnomalyRuleDetails] CHECK CONSTRAINT [AnomalyRuleDetails_FK]
GO
