USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduleAvailPeriod]    Script Date: 6/29/2019 5:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleAvailPeriod](
	[SCHEDULEID] [bigint] NOT NULL,
	[AVAILABILITYPERIOD] [varchar](250) NOT NULL,
	[TIMEWINDOW] [varchar](50) NOT NULL,
 CONSTRAINT [ScheduleAvailPeriod_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1696117978]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1696117978] ON [dbo].[ScheduleAvailPeriod]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleAvailPeriod] ADD  DEFAULT ('0-24') FOR [TIMEWINDOW]
GO
ALTER TABLE [dbo].[ScheduleAvailPeriod]  WITH CHECK ADD  CONSTRAINT [ScheduleAvailPeriod_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleReports] ([SCHEDULEID])
GO
ALTER TABLE [dbo].[ScheduleAvailPeriod] CHECK CONSTRAINT [ScheduleAvailPeriod_FK1]
GO
