USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenNetworkProps]    Script Date: 6/29/2019 5:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenNetworkProps](
	[NETWORK_ID] [bigint] NOT NULL,
	[BRIDGE] [varchar](50) NULL,
	[MTU] [bigint] NULL,
 CONSTRAINT [XenNetworkProps_PK] PRIMARY KEY CLUSTERED 
(
	[NETWORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1513333584]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1513333584] ON [dbo].[XenNetworkProps]
(
	[NETWORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenNetworkProps]  WITH CHECK ADD  CONSTRAINT [XenNetworkProps_FK1] FOREIGN KEY([NETWORK_ID])
REFERENCES [dbo].[XenEntityMOMap] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[XenNetworkProps] CHECK CONSTRAINT [XenNetworkProps_FK1]
GO
