USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VACMSECURITYTOGROUPTABLE]    Script Date: 6/29/2019 5:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACMSECURITYTOGROUPTABLE](
	[SECURITYMODEL] [varchar](10) NOT NULL,
	[SECURITYNAME] [varchar](65) NOT NULL,
	[GROUPNAME] [varchar](35) NULL,
	[STORAGETYPE] [varchar](5) NULL,
	[GROUPSTATUS] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[SECURITYMODEL] ASC,
	[SECURITYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
