USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpDeviceDetails]    Script Date: 6/29/2019 5:51:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpDeviceDetails](
	[DEVICEID] [bigint] NOT NULL,
	[SYSDESC] [varchar](4000) NULL,
	[SYSOID] [varchar](100) NULL,
	[SYSCONTACT] [varchar](100) NULL,
	[SYSNAME] [varchar](200) NULL,
	[SYSLOCATION] [varchar](200) NULL,
	[VERSION] [int] NULL,
	[CREDENTIALID] [bigint] NULL,
 CONSTRAINT [SnmpDeviceDetails_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1267863466]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1267863466] ON [dbo].[SnmpDeviceDetails]
(
	[DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnmpDeviceDetails]  WITH CHECK ADD  CONSTRAINT [SnmpDeviceDetails_FK] FOREIGN KEY([DEVICEID])
REFERENCES [dbo].[DiscoveryDeviceDetails] ([DEVICEID])
GO
ALTER TABLE [dbo].[SnmpDeviceDetails] CHECK CONSTRAINT [SnmpDeviceDetails_FK]
GO
