USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARCage]    Script Date: 6/29/2019 5:48:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARCage](
	[RAID_ID] [bigint] NOT NULL,
	[CAGE_ID] [varchar](150) NOT NULL,
	[CAGE_NAME] [varchar](250) NOT NULL,
	[CAGE_MANUFACTURER] [varchar](250) NOT NULL,
	[CAGE_MODEL] [varchar](250) NOT NULL,
	[CAGE_SERIAL_NUMBER] [varchar](250) NOT NULL,
	[CAGE_TYPE] [varchar](250) NOT NULL,
	[CAGE_SUB_TYPE] [varchar](250) NOT NULL,
	[CAGE_POSITION] [varchar](250) NOT NULL,
	[CAGE_LOCATION] [varchar](250) NOT NULL,
	[LOOP_A_CHAIN_POSITION] [varchar](250) NOT NULL,
	[LOOP_B_CHAIN_POSITION] [varchar](250) NOT NULL,
	[CAGE_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARCage_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[CAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__335320878]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__335320878] ON [dbo].[HP3PARCage]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARCage]  WITH CHECK ADD  CONSTRAINT [HP3PARCage_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[HP3PARRaid] ([RAID_ID])
GO
ALTER TABLE [dbo].[HP3PARCage] CHECK CONSTRAINT [HP3PARCage_FK]
GO
