USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IDGen]    Script Date: 6/29/2019 5:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDGen](
	[UNQ_ID] [int] NOT NULL,
 CONSTRAINT [IDGen_PK] PRIMARY KEY CLUSTERED 
(
	[UNQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
