USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BlueCoatProxySGOS]    Script Date: 6/29/2019 5:46:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlueCoatProxySGOS](
	[RESOURCEID] [bigint] NOT NULL,
	[MACHINE_ID] [varchar](100) NOT NULL,
	[RELEASE_ID] [varchar](100) NOT NULL,
 CONSTRAINT [BlueCoatProxySGOS_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__723588550]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__723588550] ON [dbo].[BlueCoatProxySGOS]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BlueCoatProxySGOS] ADD  DEFAULT ('Not Available') FOR [MACHINE_ID]
GO
ALTER TABLE [dbo].[BlueCoatProxySGOS] ADD  DEFAULT ('Not Available') FOR [RELEASE_ID]
GO
ALTER TABLE [dbo].[BlueCoatProxySGOS]  WITH CHECK ADD  CONSTRAINT [BlueCoatProxySGOS_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[BlueCoatProxySGOS] CHECK CONSTRAINT [BlueCoatProxySGOS_FK1]
GO
