USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NFAWidgetInfo]    Script Date: 6/29/2019 5:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFAWidgetInfo](
	[ASSOCIATIONID] [bigint] NOT NULL,
	[RESOURCE_TYPE] [varchar](255) NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[WIDGET_TYPE] [varchar](100) NOT NULL,
	[IN_OUT] [varchar](100) NOT NULL,
	[COLLECTOR_ID] [varchar](100) NOT NULL,
 CONSTRAINT [NFAWidgetInfo_PK1] PRIMARY KEY CLUSTERED 
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_810937672]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_810937672] ON [dbo].[NFAWidgetInfo]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NFAWidgetInfo] ADD  DEFAULT ('-1') FOR [COLLECTOR_ID]
GO
ALTER TABLE [dbo].[NFAWidgetInfo]  WITH CHECK ADD  CONSTRAINT [NFAWidgetInfo_FK1] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[ReportWidgetID] ([ID])
GO
ALTER TABLE [dbo].[NFAWidgetInfo] CHECK CONSTRAINT [NFAWidgetInfo_FK1]
GO
