USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProductInfo]    Script Date: 6/29/2019 5:50:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[VENDOR] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NOT NULL,
	[MANUFACTURER] [varchar](250) NOT NULL,
	[FW_VER] [varchar](250) NOT NULL,
	[PRODUCT_DESC] [varchar](500) NOT NULL,
	[SERIAL_NO] [varchar](250) NOT NULL,
 CONSTRAINT [PRODUCTINFO_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1378594506]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1378594506] ON [dbo].[ProductInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductInfo]  WITH CHECK ADD  CONSTRAINT [PRODUCTINFO_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ProductInfo] CHECK CONSTRAINT [PRODUCTINFO_FK1]
GO
