USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProfileToInterfaceMap]    Script Date: 6/29/2019 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileToInterfaceMap](
	[PROFILE_ID] [bigint] NOT NULL,
	[INTERFACE_ID] [int] NOT NULL,
 CONSTRAINT [ProfileToInterfaceMap_PKZ] PRIMARY KEY CLUSTERED 
(
	[PROFILE_ID] ASC,
	[INTERFACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__360510819]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__360510819] ON [dbo].[ProfileToInterfaceMap]
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1709066548]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1709066548] ON [dbo].[ProfileToInterfaceMap]
(
	[INTERFACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProfileToInterfaceMap]  WITH CHECK ADD  CONSTRAINT [ProfileToInterfaceMap_FK] FOREIGN KEY([PROFILE_ID])
REFERENCES [dbo].[ReportProfileDetails] ([PROFILE_ID])
GO
ALTER TABLE [dbo].[ProfileToInterfaceMap] CHECK CONSTRAINT [ProfileToInterfaceMap_FK]
GO
ALTER TABLE [dbo].[ProfileToInterfaceMap]  WITH CHECK ADD  CONSTRAINT [ProfileToInterfaceMap_FK1] FOREIGN KEY([INTERFACE_ID])
REFERENCES [dbo].[NetFlow_Interface] ([INTERFACE_ID])
GO
ALTER TABLE [dbo].[ProfileToInterfaceMap] CHECK CONSTRAINT [ProfileToInterfaceMap_FK1]
GO
