USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CLIInputRecord]    Script Date: 6/29/2019 5:46:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIInputRecord](
	[RecordID] [varchar](250) NOT NULL,
	[InputSourceType] [int] NOT NULL,
	[MessageSuffix] [varchar](25) NULL,
	[ParserCommandName] [varchar](50) NULL,
 CONSTRAINT [CLIIPREC_PK] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_2083385307]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2083385307] ON [dbo].[CLIInputRecord]
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIInputRecord]  WITH CHECK ADD  CONSTRAINT [CLIIPREC_FK] FOREIGN KEY([RecordID])
REFERENCES [dbo].[Record] ([RecordID])
GO
ALTER TABLE [dbo].[CLIInputRecord] CHECK CONSTRAINT [CLIIPREC_FK]
GO
