USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LAYER2SUBNETCONFIGURATION]    Script Date: 6/29/2019 5:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAYER2SUBNETCONFIGURATION](
	[ID] [bigint] NOT NULL,
	[MAPID] [bigint] NOT NULL,
	[STARTIP] [varchar](50) NOT NULL,
	[ENDIP] [varchar](50) NOT NULL,
	[SUBNETMASK] [varchar](50) NOT NULL,
 CONSTRAINT [LAYER2SUBNETCONFIGURATION_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1236422796]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1236422796] ON [dbo].[LAYER2SUBNETCONFIGURATION]
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LAYER2SUBNETCONFIGURATION]  WITH CHECK ADD  CONSTRAINT [LAYER2SUBNETCONFIGURATION_FK] FOREIGN KEY([MAPID])
REFERENCES [dbo].[LAYER2CONFIGURATION] ([MAPID])
GO
ALTER TABLE [dbo].[LAYER2SUBNETCONFIGURATION] CHECK CONSTRAINT [LAYER2SUBNETCONFIGURATION_FK]
GO
