USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic500BladeHost]    Script Date: 6/29/2019 5:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic500BladeHost](
	[HOST_ID] [int] NOT NULL,
	[BLADE_ID] [bigint] NOT NULL,
	[HOST_WWN] [varchar](250) NOT NULL,
	[HOST_NAME] [varchar](250) NOT NULL,
	[HOST_TYPE] [varchar](250) NOT NULL,
	[HPORT_ID] [varchar](250) NOT NULL,
	[ITL_DATA] [varchar](250) NOT NULL,
	[EVPS_DATA] [varchar](250) NOT NULL,
 CONSTRAINT [Adic500BladeHost_PK] PRIMARY KEY CLUSTERED 
(
	[HOST_ID] ASC,
	[BLADE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__484537131]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__484537131] ON [dbo].[Adic500BladeHost]
(
	[BLADE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic500BladeHost]  WITH CHECK ADD  CONSTRAINT [Adic500BladeHost_FK1] FOREIGN KEY([BLADE_ID])
REFERENCES [dbo].[Adic500BladeInterface] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic500BladeHost] CHECK CONSTRAINT [Adic500BladeHost_FK1]
GO
