USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Concat_Task_Template]    Script Date: 6/29/2019 5:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Concat_Task_Template](
	[CONCAT_TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[IS_SEQUENTIAL] [bit] NOT NULL,
 CONSTRAINT [Concat_Task_Template_PK] PRIMARY KEY CLUSTERED 
(
	[CONCAT_TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1976613733]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1976613733] ON [dbo].[Concat_Task_Template]
(
	[CONCAT_TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Concat_Task_Template] ADD  DEFAULT ((1)) FOR [IS_SEQUENTIAL]
GO
ALTER TABLE [dbo].[Concat_Task_Template]  WITH CHECK ADD  CONSTRAINT [Concat_Task_Template_FK] FOREIGN KEY([CONCAT_TASK_TEMPLATE_ID])
REFERENCES [dbo].[Task_Templates] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Concat_Task_Template] CHECK CONSTRAINT [Concat_Task_Template_FK]
GO
