USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Pointers_In_Path]    Script Date: 6/29/2019 5:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pointers_In_Path](
	[PATH_ID] [bigint] NOT NULL,
	[POINTER_ID] [bigint] NOT NULL,
	[PATH_INDEX] [int] NOT NULL,
 CONSTRAINT [Pointers_In_Path_PK] PRIMARY KEY CLUSTERED 
(
	[PATH_ID] ASC,
	[POINTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__702988797]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__702988797] ON [dbo].[Pointers_In_Path]
(
	[POINTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1639890926]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1639890926] ON [dbo].[Pointers_In_Path]
(
	[PATH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pointers_In_Path]  WITH CHECK ADD  CONSTRAINT [Pointers_In_Path_FK] FOREIGN KEY([PATH_ID])
REFERENCES [dbo].[Fk_Paths] ([PATH_ID])
GO
ALTER TABLE [dbo].[Pointers_In_Path] CHECK CONSTRAINT [Pointers_In_Path_FK]
GO
ALTER TABLE [dbo].[Pointers_In_Path]  WITH CHECK ADD  CONSTRAINT [Pointers_In_Path_FK1] FOREIGN KEY([POINTER_ID])
REFERENCES [dbo].[Fk_Pointers] ([POINTER_ID])
GO
ALTER TABLE [dbo].[Pointers_In_Path] CHECK CONSTRAINT [Pointers_In_Path_FK1]
GO
