USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PromiseTempSensor]    Script Date: 6/29/2019 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromiseTempSensor](
	[RAID_ID] [bigint] NOT NULL,
	[ENCLOSURE_ID] [int] NOT NULL,
	[TEMP_SENSOR_ID] [int] NOT NULL,
	[TEMP_SENSOR_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [PromiseTempSensor_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[ENCLOSURE_ID] ASC,
	[TEMP_SENSOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1352849110]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1352849110] ON [dbo].[PromiseTempSensor]
(
	[RAID_ID] ASC,
	[ENCLOSURE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromiseTempSensor]  WITH CHECK ADD  CONSTRAINT [PromiseTempSensor_FK1] FOREIGN KEY([RAID_ID], [ENCLOSURE_ID])
REFERENCES [dbo].[PromiseEnclosure] ([RAID_ID], [ENCLOSURE_ID])
GO
ALTER TABLE [dbo].[PromiseTempSensor] CHECK CONSTRAINT [PromiseTempSensor_FK1]
GO
