USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NFAWidgetDataSource]    Script Date: 6/29/2019 5:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFAWidgetDataSource](
	[DATASOURCE_ID] [bigint] NOT NULL,
	[DATASOURCENAME] [varchar](100) NOT NULL,
	[CLASSNAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
 CONSTRAINT [NFAWidgetDataSource_PK] PRIMARY KEY CLUSTERED 
(
	[DATASOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
