USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSDevice]    Script Date: 6/29/2019 5:52:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSDevice](
	[UCS_ID] [bigint] NOT NULL,
	[MOID] [bigint] NULL,
	[MODE] [varchar](250) NOT NULL,
	[SYSUPTIME] [varchar](250) NOT NULL,
 CONSTRAINT [UCSDevice_PK] PRIMARY KEY CLUSTERED 
(
	[UCS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_848897353]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_848897353] ON [dbo].[UCSDevice]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UCSDevice]  WITH CHECK ADD  CONSTRAINT [UCSDevice_FK] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[UCSDevice] CHECK CONSTRAINT [UCSDevice_FK]
GO
