USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VHostHBAdapterProps]    Script Date: 6/29/2019 5:52:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VHostHBAdapterProps](
	[VHOSTHBA_ID] [bigint] NOT NULL,
	[VHOST_ID] [bigint] NOT NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
	[VHOSTHBA_STATUS] [int] NULL,
	[VHOSTHBA_NAME] [varchar](75) NOT NULL,
	[VHOSTHBA_MODEL] [varchar](100) NULL,
	[VHOSTHBA_NWWN] [bigint] NULL,
	[VHOSTHBA_PWWN] [bigint] NULL,
	[IQN_ADDRESS] [varchar](150) NULL,
	[VHOSTHBA_TYPE] [int] NULL,
 CONSTRAINT [VHostHBAdapterProps_PK] PRIMARY KEY CLUSTERED 
(
	[VHOSTHBA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_720876262]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_720876262] ON [dbo].[VHostHBAdapterProps]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VHostHBAdapterProps]  WITH CHECK ADD  CONSTRAINT [VHostHBAdapterProps_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VHostProps] ([VHOST_ID])
GO
ALTER TABLE [dbo].[VHostHBAdapterProps] CHECK CONSTRAINT [VHostHBAdapterProps_FK1]
GO
