USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetAppSDKQuota]    Script Date: 6/29/2019 5:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetAppSDKQuota](
	[RAID_ID] [bigint] NOT NULL,
	[TYPE] [varchar](60) NOT NULL,
	[TARGET] [varchar](110) NOT NULL,
	[VOLUME] [varchar](160) NOT NULL,
	[TREE] [varchar](250) NOT NULL,
	[DISK_USED] [varchar](250) NOT NULL,
	[DISK_LIMIT] [varchar](250) NOT NULL,
	[SOFT_DISK_LIMIT] [varchar](250) NOT NULL,
	[FILES_USED] [int] NOT NULL,
	[FILE_LIMIT] [int] NOT NULL,
	[SOFT_FILE_LIMIT] [int] NOT NULL,
	[VFILER] [varchar](250) NOT NULL,
 CONSTRAINT [NetAppSDKQuota_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[TYPE] ASC,
	[TARGET] ASC,
	[VOLUME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1537807313]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1537807313] ON [dbo].[NetAppSDKQuota]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetAppSDKQuota]  WITH CHECK ADD  CONSTRAINT [NetAppSDKQuota_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[NetAppSDKQuota] CHECK CONSTRAINT [NetAppSDKQuota_FK1]
GO
