USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenServerProps]    Script Date: 6/29/2019 5:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenServerProps](
	[XENSERVER_ID] [bigint] NOT NULL,
	[BUILD_NO] [varchar](50) NULL,
	[PRODUCT_VERSION] [varchar](50) NULL,
	[POWER_ON_MODE] [varchar](100) NULL,
	[IS_ENABLED] [bit] NOT NULL,
	[CPU_SPEED_MHZ] [int] NULL,
	[CPU_CORES] [int] NOT NULL,
	[CPU_MODEL] [varchar](100) NULL,
	[TOTAL_MEM_MB] [bigint] NULL,
	[PIF_COUNT] [int] NOT NULL,
	[MEM_OVERHEAD_MB] [bigint] NULL,
	[UP_TIME] [datetime] NULL,
	[IS_MASTER] [bit] NOT NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
	[STATUS_MESSAGE] [varchar](100) NULL,
	[MARKFORDELETE] [int] NOT NULL,
 CONSTRAINT [XenServerProps_PK] PRIMARY KEY CLUSTERED 
(
	[XENSERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_650222457]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_650222457] ON [dbo].[XenServerProps]
(
	[XENSERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenServerProps] ADD  DEFAULT ((1)) FOR [IS_ENABLED]
GO
ALTER TABLE [dbo].[XenServerProps] ADD  DEFAULT ('0') FOR [PIF_COUNT]
GO
ALTER TABLE [dbo].[XenServerProps] ADD  DEFAULT ((0)) FOR [IS_MASTER]
GO
ALTER TABLE [dbo].[XenServerProps] ADD  DEFAULT ('0') FOR [MARKFORDELETE]
GO
ALTER TABLE [dbo].[XenServerProps]  WITH CHECK ADD  CONSTRAINT [XenServerProps_FK1] FOREIGN KEY([XENSERVER_ID])
REFERENCES [dbo].[XenEntityMOMap] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[XenServerProps] CHECK CONSTRAINT [XenServerProps_FK1]
GO
