USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[QualstarLibraryTapeDriveInfo]    Script Date: 6/29/2019 5:50:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualstarLibraryTapeDriveInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[LIBRARY_ID] [bigint] NOT NULL,
	[DRIVE_INDEX] [int] NOT NULL,
	[FIRMWARE_VERSION] [varchar](250) NULL,
	[SEQUENTIAL_MODE] [varchar](250) NULL,
	[DRIVE_CLEANING] [varchar](250) NULL,
	[DRIVE_LOADED] [varchar](250) NULL,
	[DRIVE_OCCUPIED] [varchar](250) NULL,
	[NO_OF_INPUTSLOTS] [int] NULL,
	[NO_OF_OUTPUTSLOTS] [int] NULL,
	[DRIVE_EMPTIED] [varchar](250) NULL,
	[SEQUENTIAL_STATE] [varchar](250) NULL,
	[SEQUENTIAL_INPUT] [int] NULL,
	[SEQUENTIAL_OUTPUT] [int] NULL,
 CONSTRAINT [QualstarLibraryTapeDrive_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1536737861]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1536737861] ON [dbo].[QualstarLibraryTapeDriveInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QualstarLibraryTapeDriveInfo]  WITH CHECK ADD  CONSTRAINT [QualstarLibraryTapeDrive_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[LibraryTapeDrive] ([DRIVE_ID])
GO
ALTER TABLE [dbo].[QualstarLibraryTapeDriveInfo] CHECK CONSTRAINT [QualstarLibraryTapeDrive_FK1]
GO
