USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CFMSnmpV3Settings]    Script Date: 6/29/2019 5:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFMSnmpV3Settings](
	[DEVICEID] [bigint] NOT NULL,
	[SECURITY_LEVEL] [int] NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[CONTEXT_NAME] [varchar](50) NULL,
	[AUTH_PROTOCOL] [varchar](3) NULL,
	[AUTH_PASSWORD] [varchar](100) NULL,
	[PRI_PROTOCOL] [varchar](7) NULL,
	[PRI_PASSWORD] [varchar](100) NULL,
 CONSTRAINT [CFMSnmpV3Settings_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_664698844]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_664698844] ON [dbo].[CFMSnmpV3Settings]
(
	[DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CFMSnmpV3Settings] ADD  DEFAULT ('0') FOR [SECURITY_LEVEL]
GO
ALTER TABLE [dbo].[CFMSnmpV3Settings]  WITH CHECK ADD  CONSTRAINT [CFMSnmpV3Settings_FK] FOREIGN KEY([DEVICEID])
REFERENCES [dbo].[ConfigFileInputConfig] ([DEVICEID])
GO
ALTER TABLE [dbo].[CFMSnmpV3Settings] CHECK CONSTRAINT [CFMSnmpV3Settings_FK]
GO
