USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FileDetails]    Script Date: 6/29/2019 5:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileDetails](
	[DDID] [bigint] NOT NULL,
	[HOSTNAME] [nvarchar](100) NOT NULL,
	[FILE_NAME] [nvarchar](255) NULL,
	[CONFIG_FILE_NAME] [nvarchar](255) NULL,
 CONSTRAINT [FileDetails_PK] PRIMARY KEY CLUSTERED 
(
	[DDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__861262178]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__861262178] ON [dbo].[FileDetails]
(
	[DDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FileDetails]  WITH CHECK ADD  CONSTRAINT [FileDetails_FK] FOREIGN KEY([DDID])
REFERENCES [dbo].[DeviceDetails] ([DDID])
GO
ALTER TABLE [dbo].[FileDetails] CHECK CONSTRAINT [FileDetails_FK]
GO
