USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MediatraceInitiator]    Script Date: 6/29/2019 5:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediatraceInitiator](
	[ROUTER_ID] [varchar](100) NOT NULL,
	[INITIATOR_IP] [varchar](100) NOT NULL,
	[USERNAME] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](200) NOT NULL,
 CONSTRAINT [MediatraceInitiator_PK] PRIMARY KEY CLUSTERED 
(
	[ROUTER_ID] ASC,
	[INITIATOR_IP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
