USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InfortrendRaidExtendedLunInfo]    Script Date: 6/29/2019 5:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfortrendRaidExtendedLunInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[EXTLUN_INDEX] [int] NOT NULL,
	[EXTLUN_GRPNAME] [varchar](250) NOT NULL,
	[EXTLUN_HOSTIDWWN] [varchar](250) NULL,
	[EXTLUN_HOSTIDMASK] [varchar](250) NULL,
	[EXTLUN_FILTERTYPE] [varchar](250) NULL,
	[EXTLUN_ACCESSMODE] [varchar](250) NULL,
	[EXTLUN_CHLNUM] [int] NULL,
	[EXTLUN_ID] [int] NULL,
	[EXTLUN_NUM] [int] NULL,
	[EXTLUN_LDLVID] [int] NULL,
	[EXTLUN_PARTIDX] [int] NULL,
 CONSTRAINT [InfortrendRaidExtendedLunInfo_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[EXTLUN_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_437011012]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_437011012] ON [dbo].[InfortrendRaidExtendedLunInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InfortrendRaidExtendedLunInfo]  WITH CHECK ADD  CONSTRAINT [InfortrendRaidExtendedLunInfo_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[InfortrendRaidExtendedLunInfo] CHECK CONSTRAINT [InfortrendRaidExtendedLunInfo_FK1]
GO
