USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMSwitchPortVlan]    Script Date: 6/29/2019 5:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMSwitchPortVlan](
	[VLANID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[IFINDEX] [int] NOT NULL,
	[VLAN] [int] NULL,
 CONSTRAINT [NCMSwitchPortVlan_PK] PRIMARY KEY CLUSTERED 
(
	[VLANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMSwitchPortVlan_UK1] UNIQUE NONCLUSTERED 
(
	[RESOURCEID] ASC,
	[IFINDEX] ASC,
	[VLAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__677253251]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__677253251] ON [dbo].[NCMSwitchPortVlan]
(
	[RESOURCEID] ASC,
	[IFINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMSwitchPortVlan]  WITH CHECK ADD  CONSTRAINT [NCMSwitchPortVlan_FK1] FOREIGN KEY([RESOURCEID], [IFINDEX])
REFERENCES [dbo].[NCMSNMPInterface] ([RESOURCEID], [IFINDEX])
GO
ALTER TABLE [dbo].[NCMSwitchPortVlan] CHECK CONSTRAINT [NCMSwitchPortVlan_FK1]
GO
