USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaUserPostalAddr]    Script Date: 6/29/2019 5:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaUserPostalAddr](
	[USER_ID] [bigint] NOT NULL,
	[POSTALADDR_ID] [bigint] NOT NULL,
 CONSTRAINT [AaaUserPostalAddr_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[POSTALADDR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_741011285]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_741011285] ON [dbo].[AaaUserPostalAddr]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_741011286]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_741011286] ON [dbo].[AaaUserPostalAddr]
(
	[POSTALADDR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaUserPostalAddr]  WITH CHECK ADD  CONSTRAINT [AaaUserPostalAddr_FK1] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[AaaUserPostalAddr] CHECK CONSTRAINT [AaaUserPostalAddr_FK1]
GO
ALTER TABLE [dbo].[AaaUserPostalAddr]  WITH CHECK ADD  CONSTRAINT [AaaUserPostalAddr_FK2] FOREIGN KEY([POSTALADDR_ID])
REFERENCES [dbo].[AaaPostalAddress] ([POSTALADDR_ID])
GO
ALTER TABLE [dbo].[AaaUserPostalAddr] CHECK CONSTRAINT [AaaUserPostalAddr_FK2]
GO
