USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Relations_In_Path]    Script Date: 6/29/2019 5:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relations_In_Path](
	[PATH_ID] [bigint] NOT NULL,
	[RELATION_ID] [bigint] NOT NULL,
	[PATH_INDEX] [int] NOT NULL,
 CONSTRAINT [Relations_In_Path_PK] PRIMARY KEY CLUSTERED 
(
	[PATH_ID] ASC,
	[RELATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2141318244]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2141318244] ON [dbo].[Relations_In_Path]
(
	[RELATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_623264109]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_623264109] ON [dbo].[Relations_In_Path]
(
	[PATH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Relations_In_Path]  WITH CHECK ADD  CONSTRAINT [Relations_In_Path_FK] FOREIGN KEY([PATH_ID])
REFERENCES [dbo].[Paths] ([PATH_ID])
GO
ALTER TABLE [dbo].[Relations_In_Path] CHECK CONSTRAINT [Relations_In_Path_FK]
GO
ALTER TABLE [dbo].[Relations_In_Path]  WITH CHECK ADD  CONSTRAINT [Relations_In_Path_FK1] FOREIGN KEY([RELATION_ID])
REFERENCES [dbo].[Relations] ([RELATION_ID])
GO
ALTER TABLE [dbo].[Relations_In_Path] CHECK CONSTRAINT [Relations_In_Path_FK1]
GO
