USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMSyslogFrwdIP]    Script Date: 6/29/2019 5:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMSyslogFrwdIP](
	[IPADDRESS] [varchar](100) NOT NULL,
 CONSTRAINT [NCMSyslogFrwdIP_PK] PRIMARY KEY CLUSTERED 
(
	[IPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
