USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ChassisPowerStats_2019_06_16_16]    Script Date: 6/29/2019 5:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChassisPowerStats_2019_06_16_16](
	[CHASSIS_ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[INPUTPOWER] [real] NOT NULL,
	[INPUTPOWERMIN] [real] NOT NULL,
	[INPUTPOWERMAX] [real] NOT NULL,
	[INPUTPOWERAVG] [real] NOT NULL,
	[OUTPUTPOWER] [real] NOT NULL,
	[OUTPUTPOWERMIN] [real] NOT NULL,
	[OUTPUTPOWERMAX] [real] NOT NULL,
	[OUTPUTPOWERAVG] [real] NOT NULL,
 CONSTRAINT [ChassisPowerStats_2019_06_16_16_PK] PRIMARY KEY CLUSTERED 
(
	[CHASSIS_ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
