USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HitachiSwitch]    Script Date: 6/29/2019 5:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HitachiSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[SYSREVISION] [varchar](25) NOT NULL,
 CONSTRAINT [HitachiSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1373050807]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1373050807] ON [dbo].[HitachiSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HitachiSwitch] ADD  DEFAULT ('Not Available') FOR [SYSREVISION]
GO
ALTER TABLE [dbo].[HitachiSwitch]  WITH CHECK ADD  CONSTRAINT [HitachiSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[HitachiSwitch] CHECK CONSTRAINT [HitachiSwitch_FK1]
GO
