USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaOrgStatus]    Script Date: 6/29/2019 5:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaOrgStatus](
	[ORG_ID] [bigint] NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[UPDATEDTIME] [bigint] NOT NULL,
 CONSTRAINT [AaaOrgStatus_PK] PRIMARY KEY CLUSTERED 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1196925841]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1196925841] ON [dbo].[AaaOrgStatus]
(
	[ORG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaOrgStatus] ADD  DEFAULT ('ACTIVE') FOR [STATUS]
GO
ALTER TABLE [dbo].[AaaOrgStatus]  WITH CHECK ADD  CONSTRAINT [AaaOrgStatus_FK] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[AaaOrganization] ([ORG_ID])
GO
ALTER TABLE [dbo].[AaaOrgStatus] CHECK CONSTRAINT [AaaOrgStatus_FK]
GO
