USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwSCSITargetProps]    Script Date: 6/29/2019 5:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwSCSITargetProps](
	[SCSI_TARGETID] [bigint] NOT NULL,
	[VHOSTHBA_ID] [bigint] NOT NULL,
	[TARGET_INDEX] [int] NOT NULL,
	[TARGET_TYPE] [varchar](50) NOT NULL,
	[TARGET_NWWN] [bigint] NOT NULL,
	[TARGET_PWWN] [bigint] NOT NULL,
	[ISCSI_NAME] [varchar](200) NULL,
	[TARGET_IDENTIFIER] [varchar](100) NOT NULL,
 CONSTRAINT [VwSCSITargetProps_PK] PRIMARY KEY CLUSTERED 
(
	[SCSI_TARGETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [VwSCSITargetProps_UK0] UNIQUE NONCLUSTERED 
(
	[VHOSTHBA_ID] ASC,
	[TARGET_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1641240539]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1641240539] ON [dbo].[VwSCSITargetProps]
(
	[VHOSTHBA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwSCSITargetProps] ADD  DEFAULT ('1') FOR [TARGET_INDEX]
GO
ALTER TABLE [dbo].[VwSCSITargetProps]  WITH CHECK ADD  CONSTRAINT [VwSCSITargetProps_FK1] FOREIGN KEY([VHOSTHBA_ID])
REFERENCES [dbo].[VwHostBusAdapters] ([VHOSTHBA_ID])
GO
ALTER TABLE [dbo].[VwSCSITargetProps] CHECK CONSTRAINT [VwSCSITargetProps_FK1]
GO
