USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OputilsScheduler]    Script Date: 6/29/2019 5:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OputilsScheduler](
	[SCHEDULE_ID] [bigint] NOT NULL,
	[RECURRENCE_TYPE] [varchar](20) NOT NULL,
	[RECURRENCE_DETAILS] [varchar](300) NOT NULL,
 CONSTRAINT [OputilsScheduler_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1372167448]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1372167448] ON [dbo].[OputilsScheduler]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OputilsScheduler]  WITH CHECK ADD  CONSTRAINT [OputilsScheduler_FK1] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[Schedule] ([SCHEDULE_ID])
GO
ALTER TABLE [dbo].[OputilsScheduler] CHECK CONSTRAINT [OputilsScheduler_FK1]
GO
