USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HirschmannSwitch]    Script Date: 6/29/2019 5:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HirschmannSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[SW_RELEASE] [varchar](150) NOT NULL,
	[OS_RELEASE] [varchar](150) NOT NULL,
	[HW_DESC] [varchar](150) NOT NULL,
 CONSTRAINT [HirschmannSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_940117180]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_940117180] ON [dbo].[HirschmannSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HirschmannSwitch] ADD  DEFAULT ('Not Available') FOR [SW_RELEASE]
GO
ALTER TABLE [dbo].[HirschmannSwitch] ADD  DEFAULT ('Not Available') FOR [OS_RELEASE]
GO
ALTER TABLE [dbo].[HirschmannSwitch] ADD  DEFAULT ('Not Available') FOR [HW_DESC]
GO
ALTER TABLE [dbo].[HirschmannSwitch]  WITH CHECK ADD  CONSTRAINT [HirschmannSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[HirschmannSwitch] CHECK CONSTRAINT [HirschmannSwitch_FK1]
GO
