USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataRetrievalRelation]    Script Date: 6/29/2019 5:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataRetrievalRelation](
	[DATARETRIEVALGROUPID] [bigint] NOT NULL,
	[TYPEOFREQUEST] [varchar](25) NOT NULL,
	[NOTIFYIDENTIFICATIONRESPONSE] [bit] NOT NULL,
	[DATARETRIEVALID] [bigint] NOT NULL,
 CONSTRAINT [DatRetRel_PK] PRIMARY KEY CLUSTERED 
(
	[DATARETRIEVALGROUPID] ASC,
	[DATARETRIEVALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_830691932]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_830691932] ON [dbo].[DataRetrievalRelation]
(
	[DATARETRIEVALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_830691933]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_830691933] ON [dbo].[DataRetrievalRelation]
(
	[DATARETRIEVALGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataRetrievalRelation] ADD  DEFAULT ((0)) FOR [NOTIFYIDENTIFICATIONRESPONSE]
GO
ALTER TABLE [dbo].[DataRetrievalRelation]  WITH CHECK ADD  CONSTRAINT [DatRetRel_FK1] FOREIGN KEY([DATARETRIEVALID])
REFERENCES [dbo].[DataRetrievalConfiguration] ([DATARETRIEVALID])
GO
ALTER TABLE [dbo].[DataRetrievalRelation] CHECK CONSTRAINT [DatRetRel_FK1]
GO
ALTER TABLE [dbo].[DataRetrievalRelation]  WITH CHECK ADD  CONSTRAINT [DatRetRel_FK2] FOREIGN KEY([DATARETRIEVALGROUPID])
REFERENCES [dbo].[DataRetrievalGroup] ([DATARETRIEVALGROUPID])
GO
ALTER TABLE [dbo].[DataRetrievalRelation] CHECK CONSTRAINT [DatRetRel_FK2]
GO
