USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GroupInfo_CollectorMap]    Script Date: 6/29/2019 5:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupInfo_CollectorMap](
	[GROUP_ID] [int] NOT NULL,
	[COLLECTOR_ID] [int] NOT NULL,
 CONSTRAINT [Group_CollectorMap_PK] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2130097291]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2130097291] ON [dbo].[GroupInfo_CollectorMap]
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__784454820]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__784454820] ON [dbo].[GroupInfo_CollectorMap]
(
	[COLLECTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GroupInfo_CollectorMap] ADD  DEFAULT ('0') FOR [GROUP_ID]
GO
ALTER TABLE [dbo].[GroupInfo_CollectorMap] ADD  DEFAULT ('0') FOR [COLLECTOR_ID]
GO
ALTER TABLE [dbo].[GroupInfo_CollectorMap]  WITH CHECK ADD  CONSTRAINT [Group_CollectorMap_FK] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GroupInfo] ([GROUP_ID])
GO
ALTER TABLE [dbo].[GroupInfo_CollectorMap] CHECK CONSTRAINT [Group_CollectorMap_FK]
GO
ALTER TABLE [dbo].[GroupInfo_CollectorMap]  WITH CHECK ADD  CONSTRAINT [GROUP_CollectorMap_FK1] FOREIGN KEY([COLLECTOR_ID])
REFERENCES [dbo].[Collector_Properties] ([COLLECTOR_ID])
GO
ALTER TABLE [dbo].[GroupInfo_CollectorMap] CHECK CONSTRAINT [GROUP_CollectorMap_FK1]
GO
