USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AgentObject]    Script Date: 6/29/2019 5:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentObject](
	[AGENTKEY] [bigint] NOT NULL,
	[HOSTNAME] [varchar](250) NOT NULL,
	[FULLNAME] [varchar](250) NOT NULL,
	[CUSTOMERNAME] [varchar](250) NULL,
	[LASTUPDATEDTIME] [bigint] NOT NULL,
	[TIMEDIFF] [bigint] NOT NULL,
	[ISMASTERAGENT] [bit] NOT NULL,
	[MAC_ADDRESS] [varchar](255) NOT NULL,
	[AGENT_VERSION] [varchar](25) NOT NULL,
	[STATUS] [int] NULL,
	[AGENTUNIQUEID] [varchar](25) NOT NULL,
	[TYPE] [int] NOT NULL,
	[AGENTSESSIONID] [varbinary](max) NULL,
 CONSTRAINT [AgentObject_PK] PRIMARY KEY CLUSTERED 
(
	[AGENTKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AgentObject] ADD  DEFAULT ((0)) FOR [ISMASTERAGENT]
GO
ALTER TABLE [dbo].[AgentObject] ADD  DEFAULT ('--') FOR [MAC_ADDRESS]
GO
ALTER TABLE [dbo].[AgentObject] ADD  DEFAULT ('Unknown') FOR [AGENT_VERSION]
GO
ALTER TABLE [dbo].[AgentObject] ADD  DEFAULT ('5') FOR [STATUS]
GO
ALTER TABLE [dbo].[AgentObject] ADD  DEFAULT ('Unknown') FOR [AGENTUNIQUEID]
GO
ALTER TABLE [dbo].[AgentObject] ADD  DEFAULT ('1') FOR [TYPE]
GO
