USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TreeGroups]    Script Date: 6/29/2019 5:52:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeGroups](
	[GID] [bigint] NOT NULL,
	[GROUPNAME] [varchar](100) NOT NULL,
 CONSTRAINT [TreeGroups_PK] PRIMARY KEY CLUSTERED 
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
