USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenServerPIFProps]    Script Date: 6/29/2019 5:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenServerPIFProps](
	[PIF_ID] [bigint] NOT NULL,
	[UUID] [varchar](150) NOT NULL,
	[DEVICE] [varchar](50) NOT NULL,
	[XENSERVER_ID] [bigint] NOT NULL,
	[MAC_ADDRESS] [varchar](50) NULL,
	[IP_ADDRESS] [varchar](50) NULL,
	[MTU] [bigint] NULL,
	[CURRENTLY_ATTACHED] [bit] NOT NULL,
	[IS_PHYSICAL] [bit] NOT NULL,
	[IS_MANAGEMENT] [bit] NOT NULL,
	[VLAN_TAG] [bigint] NULL,
 CONSTRAINT [XenServerPIFProps_PK] PRIMARY KEY CLUSTERED 
(
	[PIF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [XenServerPIFProps_UK0] UNIQUE NONCLUSTERED 
(
	[UUID] ASC,
	[XENSERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__875455116]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__875455116] ON [dbo].[XenServerPIFProps]
(
	[XENSERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenServerPIFProps] ADD  DEFAULT ((1)) FOR [CURRENTLY_ATTACHED]
GO
ALTER TABLE [dbo].[XenServerPIFProps] ADD  DEFAULT ((0)) FOR [IS_PHYSICAL]
GO
ALTER TABLE [dbo].[XenServerPIFProps] ADD  DEFAULT ((0)) FOR [IS_MANAGEMENT]
GO
ALTER TABLE [dbo].[XenServerPIFProps]  WITH CHECK ADD  CONSTRAINT [XenServerPIFProps_FK1] FOREIGN KEY([XENSERVER_ID])
REFERENCES [dbo].[XenServerProps] ([XENSERVER_ID])
GO
ALTER TABLE [dbo].[XenServerPIFProps] CHECK CONSTRAINT [XenServerPIFProps_FK1]
GO
