USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ChassisToServer]    Script Date: 6/29/2019 5:46:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChassisToServer](
	[CHASSIS_ID] [bigint] NOT NULL,
	[SERVER_ID] [bigint] NOT NULL,
 CONSTRAINT [ChassisToServer_PK] PRIMARY KEY CLUSTERED 
(
	[CHASSIS_ID] ASC,
	[SERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__20784864]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__20784864] ON [dbo].[ChassisToServer]
(
	[CHASSIS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__644330735]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__644330735] ON [dbo].[ChassisToServer]
(
	[SERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChassisToServer]  WITH CHECK ADD  CONSTRAINT [ChassisToServer_FK] FOREIGN KEY([CHASSIS_ID])
REFERENCES [dbo].[ChassisDetails] ([CHASSIS_ID])
GO
ALTER TABLE [dbo].[ChassisToServer] CHECK CONSTRAINT [ChassisToServer_FK]
GO
ALTER TABLE [dbo].[ChassisToServer]  WITH CHECK ADD  CONSTRAINT [ChassisToServer_FK1] FOREIGN KEY([SERVER_ID])
REFERENCES [dbo].[BladeServer] ([SERVER_ID])
GO
ALTER TABLE [dbo].[ChassisToServer] CHECK CONSTRAINT [ChassisToServer_FK1]
GO
