USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBM3584LimitedAccessPort]    Script Date: 6/29/2019 5:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBM3584LimitedAccessPort](
	[DEVICE_ID] [bigint] NOT NULL,
	[LIMITED_ACCPORT_INDEX] [int] NOT NULL,
	[PORT_DEVICEID] [varchar](250) NULL,
	[PORT_EXTENDED] [varchar](250) NULL,
	[PORT_ELMT_NAME] [varchar](250) NULL,
	[PORT_CAPTION] [varchar](250) NULL,
	[PORT_DESC] [varchar](250) NULL,
	[PORT_STORAGEMEDIA_LOCATION] [int] NULL,
 CONSTRAINT [IBM3584LimitedAccessPort_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[LIMITED_ACCPORT_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2066253562]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2066253562] ON [dbo].[IBM3584LimitedAccessPort]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBM3584LimitedAccessPort]  WITH CHECK ADD  CONSTRAINT [IBM3584LimitedAccessPort_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBM3584LimitedAccessPort] CHECK CONSTRAINT [IBM3584LimitedAccessPort_FK1]
GO
