USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPTLFCPort]    Script Date: 6/29/2019 5:48:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPTLFCPort](
	[DEVICE_ID] [bigint] NOT NULL,
	[FCPORT_DEVICEID] [varchar](250) NOT NULL,
	[FCPORT_IDX] [int] NULL,
	[FCPORT_NAME] [varchar](250) NULL,
	[FCPORT_ELMTNAME] [varchar](250) NULL,
	[FCPORT_TYPE] [varchar](250) NULL,
	[FCPORT_LINKTECH] [varchar](250) NULL,
	[FCPORT_OPERSTATUS] [varchar](250) NULL,
	[FCPORT_NETADDRESS] [varchar](250) NULL,
	[FCPORT_PER_ADDRESS] [varchar](250) NULL,
	[FCPORT_SPEED] [varchar](250) NULL,
 CONSTRAINT [HPTLFCPort_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[FCPORT_DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1832312661]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1832312661] ON [dbo].[HPTLFCPort]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPTLFCPort]  WITH CHECK ADD  CONSTRAINT [HPTLFCPort_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPTLFCPort] CHECK CONSTRAINT [HPTLFCPort_FK1]
GO
