USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCVNXeLun]    Script Date: 6/29/2019 5:47:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCVNXeLun](
	[RAID_ID] [bigint] NOT NULL,
	[LUN_ID] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[GROUP] [varchar](250) NULL,
	[STORAGEPOOL] [varchar](250) NULL,
	[SIZE] [float] NULL,
	[CURRENT_ALLOCATION] [varchar](250) NULL,
	[WWN] [varchar](250) NULL,
 CONSTRAINT [EMCVNXeLun_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[LUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__340696513]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__340696513] ON [dbo].[EMCVNXeLun]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCVNXeLun]  WITH CHECK ADD  CONSTRAINT [EMCVNXeLun_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCVNXeLun] CHECK CONSTRAINT [EMCVNXeLun_FK]
GO
