USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SVCCluster]    Script Date: 6/29/2019 5:52:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVCCluster](
	[DEVICE_ID] [bigint] NOT NULL,
	[OPERATIONALSTATUS] [varchar](250) NOT NULL,
	[MAX_NODES] [varchar](250) NOT NULL,
	[RAW_FREE_CAPACITY] [varchar](250) NOT NULL,
	[POOL_CAPACITY] [varchar](250) NOT NULL,
	[TOTAL_VDISK_CAPACITY] [varchar](250) NOT NULL,
	[TOTAL_VDISK_COPY_CAPACITY] [varchar](250) NOT NULL,
	[MANAGEMENT_CONSOLE] [varchar](250) NOT NULL,
	[CLUSTER_IP] [varchar](250) NOT NULL,
	[NETMASK] [varchar](250) NOT NULL,
	[DEFAULT_GATEWAY] [varchar](250) NOT NULL,
	[FCPORT_SPEED] [varchar](250) NOT NULL,
	[ALLOCATION_PERCENT] [varchar](250) NOT NULL,
	[CLUSTER_ID] [varchar](250) NOT NULL,
 CONSTRAINT [SVCCluster_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2110669287]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2110669287] ON [dbo].[SVCCluster]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SVCCluster]  WITH CHECK ADD  CONSTRAINT [SVCCluster_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SVCCluster] CHECK CONSTRAINT [SVCCluster_FK1]
GO
