USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NETFLOWINTFGROUP]    Script Date: 6/29/2019 5:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NETFLOWINTFGROUP](
	[BUSS_ID] [int] NOT NULL,
	[BUSS_NAME] [varchar](255) NOT NULL,
	[BUSS_SPEED] [bigint] NOT NULL,
	[BUSS_STATE] [int] NOT NULL,
	[BUSS_DEV_MAP_ID] [int] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
	[PROBEID] [bigint] NULL,
	[UNIQUEID] [bigint] NOT NULL,
 CONSTRAINT [NETFLOWINTFGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[UNIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NETFLOWINTFGROUP] ADD  DEFAULT ('1000000') FOR [BUSS_SPEED]
GO
ALTER TABLE [dbo].[NETFLOWINTFGROUP] ADD  DEFAULT ('0') FOR [BUSS_STATE]
GO
ALTER TABLE [dbo].[NETFLOWINTFGROUP] ADD  DEFAULT ('0') FOR [PROBEID]
GO
