USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorEdgeDSPStorageDomain]    Script Date: 6/29/2019 5:51:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorEdgeDSPStorageDomain](
	[DEVICE_ID] [bigint] NOT NULL,
	[DOMAIN_NAME] [varchar](250) NOT NULL,
	[ELEMENTNAME] [varchar](250) NULL,
	[OPER_STATUS] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[DEDICATED] [varchar](250) NULL,
 CONSTRAINT [StorEdgeDSPStorageDomain_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DOMAIN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1524645684]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1524645684] ON [dbo].[StorEdgeDSPStorageDomain]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorEdgeDSPStorageDomain]  WITH CHECK ADD  CONSTRAINT [StorEdgeDSPStorageDomain_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[StorEdgeDSPStorageDomain] CHECK CONSTRAINT [StorEdgeDSPStorageDomain_FK1]
GO
