USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataCollectionStatus]    Script Date: 6/29/2019 5:46:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataCollectionStatus](
	[CID] [bigint] NOT NULL,
	[COLLECTION_TIME] [datetime] NOT NULL,
	[COLLECTION_STATUS] [int] NOT NULL,
	[ERROR_DESCRIPTION] [nvarchar](250) NULL,
 CONSTRAINT [DataCollectionStatus_PK] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1237381735]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1237381735] ON [dbo].[DataCollectionStatus]
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataCollectionStatus] ADD  DEFAULT ('0') FOR [COLLECTION_STATUS]
GO
ALTER TABLE [dbo].[DataCollectionStatus]  WITH CHECK ADD  CONSTRAINT [DataCollectionStatus_FK1] FOREIGN KEY([CID])
REFERENCES [dbo].[Collectors] ([CID])
GO
ALTER TABLE [dbo].[DataCollectionStatus] CHECK CONSTRAINT [DataCollectionStatus_FK1]
GO
