USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SwitchOIDData]    Script Date: 6/29/2019 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SwitchOIDData](
	[OID] [varchar](150) NOT NULL,
	[TYPE] [varchar](150) NOT NULL,
 CONSTRAINT [SwitchOIDData_PK] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__26651155]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__26651155] ON [dbo].[SwitchOIDData]
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SwitchOIDData] ADD  DEFAULT ('Others') FOR [TYPE]
GO
ALTER TABLE [dbo].[SwitchOIDData]  WITH CHECK ADD  CONSTRAINT [SwitchOIDData_FK1] FOREIGN KEY([OID])
REFERENCES [dbo].[OIDData] ([OID])
GO
ALTER TABLE [dbo].[SwitchOIDData] CHECK CONSTRAINT [SwitchOIDData_FK1]
GO
