USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TablesInTree]    Script Date: 6/29/2019 5:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablesInTree](
	[TREEID] [bigint] NOT NULL,
	[TREENODETABLE] [varchar](100) NOT NULL,
	[TABLENAME] [varchar](50) NOT NULL,
 CONSTRAINT [TableInTree_PK] PRIMARY KEY CLUSTERED 
(
	[TREEID] ASC,
	[TREENODETABLE] ASC,
	[TABLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__876121621]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__876121621] ON [dbo].[TablesInTree]
(
	[TREEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TablesInTree]  WITH CHECK ADD  CONSTRAINT [TableInTree_TreeDef_FK] FOREIGN KEY([TREEID])
REFERENCES [dbo].[TreeDefinition] ([TREEID])
GO
ALTER TABLE [dbo].[TablesInTree] CHECK CONSTRAINT [TableInTree_TreeDef_FK]
GO
