USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MaintenanceDevices]    Script Date: 6/29/2019 5:48:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceDevices](
	[MD_INSTANCEID] [bigint] NOT NULL,
	[MD_NAME] [varchar](100) NOT NULL,
	[MD_OWNERNAME] [varchar](25) NOT NULL,
	[MD_DISPLAYNAME] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MD_INSTANCEID] ASC,
	[MD_NAME] ASC,
	[MD_OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MD_INDEX1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [MD_INDEX1] ON [dbo].[MaintenanceDevices]
(
	[MD_NAME] ASC,
	[MD_OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaintenanceDevices]  WITH CHECK ADD  CONSTRAINT [MD_FK1] FOREIGN KEY([MD_INSTANCEID])
REFERENCES [dbo].[MaintenanceTask] ([MS_INSTANCEID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MaintenanceDevices] CHECK CONSTRAINT [MD_FK1]
GO
