USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaAccOldPassword]    Script Date: 6/29/2019 5:45:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaAccOldPassword](
	[ACCOUNT_ID] [bigint] NOT NULL,
	[OLDPASSWORD_ID] [bigint] NOT NULL,
 CONSTRAINT [AaaAccOldPassword_PK] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[OLDPASSWORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1779591312]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1779591312] ON [dbo].[AaaAccOldPassword]
(
	[OLDPASSWORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1779591313]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1779591313] ON [dbo].[AaaAccOldPassword]
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaAccOldPassword]  WITH CHECK ADD  CONSTRAINT [AaaAccOldPassword_FK1] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[AaaAccount] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[AaaAccOldPassword] CHECK CONSTRAINT [AaaAccOldPassword_FK1]
GO
ALTER TABLE [dbo].[AaaAccOldPassword]  WITH CHECK ADD  CONSTRAINT [AaaAccOldPassword_FK2] FOREIGN KEY([OLDPASSWORD_ID])
REFERENCES [dbo].[AaaPassword] ([PASSWORD_ID])
GO
ALTER TABLE [dbo].[AaaAccOldPassword] CHECK CONSTRAINT [AaaAccOldPassword_FK2]
GO
