USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ArchiveTableDetails]    Script Date: 6/29/2019 5:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArchiveTableDetails](
	[ARCHIVE_TABLE_ID] [bigint] NOT NULL,
	[ARCHIVE_POLICY_ID] [bigint] NOT NULL,
	[ACTUAL_TABLENAME] [varchar](255) NOT NULL,
	[ARCHIVED_TABLENAME] [varchar](255) NOT NULL,
	[ARCHIVED_DATE] [datetime] NOT NULL,
	[DESCRIPTION] [varchar](1000) NULL,
 CONSTRAINT [ArchiveTableDetails_PK] PRIMARY KEY CLUSTERED 
(
	[ARCHIVE_TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ArchiveTableDetails_UK1] UNIQUE NONCLUSTERED 
(
	[ARCHIVED_TABLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1715726173]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1715726173] ON [dbo].[ArchiveTableDetails]
(
	[ARCHIVE_POLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArchiveTableDetails]  WITH CHECK ADD  CONSTRAINT [ArchiveTableDetails_FK1] FOREIGN KEY([ARCHIVE_POLICY_ID])
REFERENCES [dbo].[ArchivePolicy] ([ARCHIVE_POLICY_ID])
GO
ALTER TABLE [dbo].[ArchiveTableDetails] CHECK CONSTRAINT [ArchiveTableDetails_FK1]
GO
