USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FILECONTAINSVALUES]    Script Date: 6/29/2019 5:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILECONTAINSVALUES](
	[FILECONTAINSID] [bigint] NOT NULL,
	[STRINGVALUE] [varchar](255) NULL,
	[MATCHCASE] [bit] NOT NULL,
	[USEREGEXP] [bit] NOT NULL,
	[USELOGICALOPERATORS] [bit] NOT NULL,
	[SEVERITY] [int] NOT NULL,
	[MESSAGE] [varchar](4000) NULL,
	[FAILURETHRESHOLD] [int] NOT NULL,
 CONSTRAINT [FILECONTAINSVALUES_PK] PRIMARY KEY CLUSTERED 
(
	[FILECONTAINSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FILECONTAINSVALUES] ADD  DEFAULT ((0)) FOR [MATCHCASE]
GO
ALTER TABLE [dbo].[FILECONTAINSVALUES] ADD  DEFAULT ((0)) FOR [USEREGEXP]
GO
ALTER TABLE [dbo].[FILECONTAINSVALUES] ADD  DEFAULT ((0)) FOR [USELOGICALOPERATORS]
GO
ALTER TABLE [dbo].[FILECONTAINSVALUES] ADD  DEFAULT ('3') FOR [SEVERITY]
GO
