USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VIEntityMOMap]    Script Date: 6/29/2019 5:52:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIEntityMOMap](
	[ENTITY_ID] [bigint] NOT NULL,
	[MO_ID] [bigint] NULL,
	[ENTITY_NAME] [varchar](250) NULL,
 CONSTRAINT [VIEntityMOMap_PK] PRIMARY KEY CLUSTERED 
(
	[ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_383452913]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_383452913] ON [dbo].[VIEntityMOMap]
(
	[ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VIEntityMOMap]  WITH CHECK ADD  CONSTRAINT [VIEntityMOMap_FK1] FOREIGN KEY([ENTITY_ID])
REFERENCES [dbo].[VIEntity] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[VIEntityMOMap] CHECK CONSTRAINT [VIEntityMOMap_FK1]
GO
