USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Audit]    Script Date: 6/29/2019 5:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit](
	[AUDIT_ID] [bigint] NOT NULL,
	[USERNAME] [varchar](100) NOT NULL,
	[TOOL_ID] [varchar](20) NOT NULL,
	[ACTION] [int] NULL,
	[SOURCE_OBJECT] [varchar](50) NULL,
	[TIME] [datetime] NOT NULL,
	[DESCRIPTION] [varchar](1000) NULL,
	[DESCRIPTION_I18NKEY] [varchar](200) NULL,
	[DESCRIPTION_I18NARGS] [varchar](1000) NULL,
 CONSTRAINT [Audit_PK] PRIMARY KEY CLUSTERED 
(
	[AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Audit] ADD  DEFAULT ('1') FOR [ACTION]
GO
