USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPMSA2312StorageVolume]    Script Date: 6/29/2019 5:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPMSA2312StorageVolume](
	[RAID_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[OPERATIONAL_STATUS] [varchar](250) NOT NULL,
	[TOTAL_CAPACITY] [varchar](250) NOT NULL,
	[FREE_CAPACITY] [varchar](250) NOT NULL,
	[USED_CAPACITY] [varchar](250) NOT NULL,
	[PRIMORDIAL] [varchar](250) NOT NULL,
	[CURRENT_OWNER] [varchar](250) NOT NULL,
	[PREFERRED_OWNER] [varchar](250) NOT NULL,
 CONSTRAINT [HPMSA2312StorageVolume_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1823002317]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1823002317] ON [dbo].[HPMSA2312StorageVolume]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPMSA2312StorageVolume]  WITH CHECK ADD  CONSTRAINT [HPMSA2312StorageVolume_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPMSA2312StorageVolume] CHECK CONSTRAINT [HPMSA2312StorageVolume_FK1]
GO
