USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MONITORDETAILS]    Script Date: 6/29/2019 5:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONITORDETAILS](
	[MONITORID] [bigint] NOT NULL,
	[NAME] [varchar](200) NOT NULL,
 CONSTRAINT [MONITORDETAILS_PK1] PRIMARY KEY CLUSTERED 
(
	[MONITORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
