USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DscpMap]    Script Date: 6/29/2019 5:47:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DscpMap](
	[CODE_POINT] [int] NOT NULL,
	[DSCP_NAME] [varchar](50) NOT NULL,
	[STATE] [int] NOT NULL,
 CONSTRAINT [DscpMap_PK] PRIMARY KEY CLUSTERED 
(
	[CODE_POINT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
