USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDeviceTemplate]    Script Date: 6/29/2019 5:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDeviceTemplate](
	[DEVICETEMPLATEID] [bigint] NOT NULL,
	[TEMPLATENAME] [varchar](100) NOT NULL,
	[DISPLAYNAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
	[OSTYPE] [varchar](50) NOT NULL,
 CONSTRAINT [NCMDeviceTemplate_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICETEMPLATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMDeviceTemplate_UK0] UNIQUE NONCLUSTERED 
(
	[TEMPLATENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDeviceTemplate] ADD  DEFAULT ('[NA]') FOR [DESCRIPTION]
GO
ALTER TABLE [dbo].[NCMDeviceTemplate] ADD  DEFAULT ('[NA]') FOR [OSTYPE]
GO
