USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaModuleService]    Script Date: 6/29/2019 5:45:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaModuleService](
	[ID] [bigint] NOT NULL,
	[MODULE_ID] [bigint] NULL,
	[SERVICE_ID] [bigint] NOT NULL,
 CONSTRAINT [AaaModuleService_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_925962069]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_925962069] ON [dbo].[AaaModuleService]
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_925962070]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_925962070] ON [dbo].[AaaModuleService]
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaModuleService]  WITH CHECK ADD  CONSTRAINT [AaaModuleService_FK1] FOREIGN KEY([MODULE_ID])
REFERENCES [dbo].[Module] ([MODULE_ID])
GO
ALTER TABLE [dbo].[AaaModuleService] CHECK CONSTRAINT [AaaModuleService_FK1]
GO
ALTER TABLE [dbo].[AaaModuleService]  WITH CHECK ADD  CONSTRAINT [AaaModuleService_FK2] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[AaaService] ([SERVICE_ID])
GO
ALTER TABLE [dbo].[AaaModuleService] CHECK CONSTRAINT [AaaModuleService_FK2]
GO
