USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SYSOIDVSRULESET]    Script Date: 6/29/2019 5:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSOIDVSRULESET](
	[ID] [bigint] NOT NULL,
	[SETID] [bigint] NOT NULL,
 CONSTRAINT [SYSOIDVSRULESET_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[SETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2012796025]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2012796025] ON [dbo].[SYSOIDVSRULESET]
(
	[SETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2012796026]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2012796026] ON [dbo].[SYSOIDVSRULESET]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SYSOIDVSRULESET]  WITH CHECK ADD  CONSTRAINT [SYSOIDVSRULESET_FK1] FOREIGN KEY([SETID])
REFERENCES [dbo].[RULESET] ([SETID])
GO
ALTER TABLE [dbo].[SYSOIDVSRULESET] CHECK CONSTRAINT [SYSOIDVSRULESET_FK1]
GO
ALTER TABLE [dbo].[SYSOIDVSRULESET]  WITH CHECK ADD  CONSTRAINT [SYSOIDVSRULESET_FK2] FOREIGN KEY([ID])
REFERENCES [dbo].[DeviceTypeToSysOID] ([ID])
GO
ALTER TABLE [dbo].[SYSOIDVSRULESET] CHECK CONSTRAINT [SYSOIDVSRULESET_FK2]
GO
