USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GMapDetails]    Script Date: 6/29/2019 5:47:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMapDetails](
	[MAPID] [bigint] NOT NULL,
	[MAPNAME] [varchar](250) NOT NULL,
	[DISPLAYNAME] [varchar](250) NOT NULL,
	[LATITUDE] [real] NOT NULL,
	[LONGITUDE] [real] NOT NULL,
	[ZOOM] [int] NOT NULL,
 CONSTRAINT [GMapDetails_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [GMapDetails_UK0] UNIQUE NONCLUSTERED 
(
	[MAPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [GMapDetails_UK1] UNIQUE NONCLUSTERED 
(
	[DISPLAYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
