USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LoginToDomainMapping]    Script Date: 6/29/2019 5:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginToDomainMapping](
	[LOGINID] [bigint] NOT NULL,
	[DOMAINID] [bigint] NOT NULL,
 CONSTRAINT [LoginToDomainMapping_PK] PRIMARY KEY CLUSTERED 
(
	[LOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__685157772]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__685157772] ON [dbo].[LoginToDomainMapping]
(
	[DOMAINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__685157773]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__685157773] ON [dbo].[LoginToDomainMapping]
(
	[LOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoginToDomainMapping]  WITH CHECK ADD  CONSTRAINT [LoginToDomainMapping_FK1] FOREIGN KEY([LOGINID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[LoginToDomainMapping] CHECK CONSTRAINT [LoginToDomainMapping_FK1]
GO
ALTER TABLE [dbo].[LoginToDomainMapping]  WITH CHECK ADD  CONSTRAINT [LoginToDomainMapping_FK2] FOREIGN KEY([DOMAINID])
REFERENCES [dbo].[FADiscoveredDomains] ([DID])
GO
ALTER TABLE [dbo].[LoginToDomainMapping] CHECK CONSTRAINT [LoginToDomainMapping_FK2]
GO
