USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserVsIpSlaBView]    Script Date: 6/29/2019 5:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserVsIpSlaBView](
	[USERID] [bigint] NOT NULL,
	[BUSINESSVIEWNAME] [varchar](100) NOT NULL,
 CONSTRAINT [UserVsIpSlaBView_PK1] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
