USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPMSAP2000RaidController]    Script Date: 6/29/2019 5:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPMSAP2000RaidController](
	[DEVICE_ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[PRIMARY_OWNER_CONTACT] [varchar](250) NOT NULL,
	[PRIMARY_OWNER_NAME] [varchar](250) NULL,
	[OTHER_IDENTIFYING_INFO] [varchar](250) NOT NULL,
 CONSTRAINT [HPMSAP2000RaidController_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_937542158]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_937542158] ON [dbo].[HPMSAP2000RaidController]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_937542159]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_937542159] ON [dbo].[HPMSAP2000RaidController]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPMSAP2000RaidController]  WITH CHECK ADD  CONSTRAINT [HPMSAP2000RaidController_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPMSAP2000RaidController] CHECK CONSTRAINT [HPMSAP2000RaidController_FK1]
GO
ALTER TABLE [dbo].[HPMSAP2000RaidController]  WITH CHECK ADD  CONSTRAINT [HPMSAP2000RaidController_FK2] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPMSAP2000RaidController] CHECK CONSTRAINT [HPMSAP2000RaidController_FK2]
GO
