USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMScriptExecution]    Script Date: 6/29/2019 5:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMScriptExecution](
	[EXECUTION_ID] [bigint] NOT NULL,
	[TEMPLATE_NAME] [varchar](100) NOT NULL,
	[IS_ADVANCED] [bit] NOT NULL,
 CONSTRAINT [NCMScriptExecution_PK] PRIMARY KEY CLUSTERED 
(
	[EXECUTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_648847106]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_648847106] ON [dbo].[NCMScriptExecution]
(
	[EXECUTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMScriptExecution] ADD  DEFAULT ((0)) FOR [IS_ADVANCED]
GO
ALTER TABLE [dbo].[NCMScriptExecution]  WITH CHECK ADD  CONSTRAINT [NCMScriptExecution_FK1] FOREIGN KEY([EXECUTION_ID])
REFERENCES [dbo].[NCMBulkExecution] ([EXECUTION_ID])
GO
ALTER TABLE [dbo].[NCMScriptExecution] CHECK CONSTRAINT [NCMScriptExecution_FK1]
GO
