USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCM_TaskAudit]    Script Date: 6/29/2019 5:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCM_TaskAudit](
	[TASKAUDITID] [bigint] NOT NULL,
	[SCHEDULENAME] [varchar](255) NULL,
	[CREATEDBY] [varchar](255) NULL,
	[SCHEDULE_START_TIME] [datetime] NULL,
	[SCHEDULE_FINISH_TIME] [datetime] NULL,
	[STATUS] [varchar](250) NULL,
 CONSTRAINT [NCM_TaskAudit_PK] PRIMARY KEY CLUSTERED 
(
	[TASKAUDITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
