USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MiMOMaxPyxis]    Script Date: 6/29/2019 5:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiMOMaxPyxis](
	[RESOURCEID] [bigint] NOT NULL,
	[SERIAL_NUMBER] [varchar](100) NOT NULL,
	[HARDWARE_REVISION] [varchar](100) NOT NULL,
	[CHECKSUM_SYSTEM] [varchar](100) NOT NULL,
	[CHECKSUM_DATA] [varchar](100) NOT NULL,
 CONSTRAINT [MiMOMaxPyxis_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1878051392]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1878051392] ON [dbo].[MiMOMaxPyxis]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MiMOMaxPyxis] ADD  DEFAULT ('Not Available') FOR [SERIAL_NUMBER]
GO
ALTER TABLE [dbo].[MiMOMaxPyxis] ADD  DEFAULT ('Not Available') FOR [HARDWARE_REVISION]
GO
ALTER TABLE [dbo].[MiMOMaxPyxis] ADD  DEFAULT ('Not Available') FOR [CHECKSUM_SYSTEM]
GO
ALTER TABLE [dbo].[MiMOMaxPyxis] ADD  DEFAULT ('Not Available') FOR [CHECKSUM_DATA]
GO
ALTER TABLE [dbo].[MiMOMaxPyxis]  WITH CHECK ADD  CONSTRAINT [MiMOMaxPyxis_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[MiMOMaxPyxis] CHECK CONSTRAINT [MiMOMaxPyxis_FK1]
GO
