USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Task_Instances]    Script Date: 6/29/2019 5:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Instances](
	[TASK_INSTANCE_ID] [bigint] NOT NULL,
	[WF_INSTANCE_ID] [bigint] NOT NULL,
	[CREATION_TIME] [bigint] NOT NULL,
	[START_TIME] [datetime] NOT NULL,
	[FINISH_TIME] [datetime] NOT NULL,
	[TIME_OUT] [bigint] NULL,
	[TASK_STATE] [varchar](100) NULL,
 CONSTRAINT [Task_Instances_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1559415407]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1559415407] ON [dbo].[Task_Instances]
(
	[WF_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_365338272]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_365338272] ON [dbo].[Task_Instances]
(
	[TASK_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Task_Instances]  WITH CHECK ADD  CONSTRAINT [Task_Instances_FK] FOREIGN KEY([TASK_INSTANCE_ID])
REFERENCES [dbo].[Instances] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[Task_Instances] CHECK CONSTRAINT [Task_Instances_FK]
GO
ALTER TABLE [dbo].[Task_Instances]  WITH CHECK ADD  CONSTRAINT [Task_Instances_FK1] FOREIGN KEY([WF_INSTANCE_ID])
REFERENCES [dbo].[Workflow_Instances] ([WF_INSTANCE_ID])
GO
ALTER TABLE [dbo].[Task_Instances] CHECK CONSTRAINT [Task_Instances_FK1]
GO
