USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCM_ADOUDetails]    Script Date: 6/29/2019 5:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCM_ADOUDetails](
	[DUMMYID] [bigint] NOT NULL,
	[OUID] [bigint] NULL,
	[PARENTID] [bigint] NULL,
	[DOMAINNAME] [varchar](500) NOT NULL,
	[ADSPATH] [varchar](1000) NOT NULL,
	[NODENAME] [varchar](500) NOT NULL,
 CONSTRAINT [NCM_ADOUDetails_PK] PRIMARY KEY CLUSTERED 
(
	[DUMMYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
