USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AlertLogTicket]    Script Date: 6/29/2019 5:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertLogTicket](
	[THRESHOLD_ID] [int] NOT NULL,
	[SUBJECT] [varchar](250) NULL,
	[TICKETCATEGORY] [varchar](250) NULL,
	[TICKETSUBCATEGORY] [varchar](250) NULL,
	[TICKETITEM] [varchar](250) NULL,
	[TICKETGROUP] [varchar](250) NULL,
	[TICKETTECHNICIAN] [varchar](250) NULL,
	[TICKETPRIORITY] [varchar](250) NULL,
 CONSTRAINT [AlertLogTicket_PK1] PRIMARY KEY CLUSTERED 
(
	[THRESHOLD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1426486096]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1426486096] ON [dbo].[AlertLogTicket]
(
	[THRESHOLD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertLogTicket]  WITH CHECK ADD  CONSTRAINT [AlertLogTicket_FK] FOREIGN KEY([THRESHOLD_ID])
REFERENCES [dbo].[AlertThreshold] ([THRESHOLD_ID])
GO
ALTER TABLE [dbo].[AlertLogTicket] CHECK CONSTRAINT [AlertLogTicket_FK]
GO
