USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SystemTemplateHandler]    Script Date: 6/29/2019 5:52:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemTemplateHandler](
	[HANDLER_ID] [bigint] NOT NULL,
	[HANDLER_NAME] [varchar](100) NOT NULL,
	[CLASS_NAME] [varchar](250) NOT NULL,
 CONSTRAINT [SystemTemplateHandler_PK] PRIMARY KEY CLUSTERED 
(
	[HANDLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [SystemTemplateHandler_UK0] UNIQUE NONCLUSTERED 
(
	[HANDLER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SystemTemplateHandler] ADD  DEFAULT ('NULL') FOR [CLASS_NAME]
GO
