USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwVMNicProps]    Script Date: 6/29/2019 5:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwVMNicProps](
	[VMNIC_ID] [bigint] NOT NULL,
	[VM_ID] [bigint] NOT NULL,
	[VMNIC_ENTITYNAME] [int] NOT NULL,
	[VMNIC_MAC] [varchar](50) NULL,
	[CONNECT_STATUS] [bit] NULL,
	[NETWORK_NAME] [varchar](100) NULL,
	[IPADDRESSES] [varchar](150) NULL,
 CONSTRAINT [VwVMNicProps_PK] PRIMARY KEY CLUSTERED 
(
	[VMNIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [VwVMNicProps_UK0] UNIQUE NONCLUSTERED 
(
	[VM_ID] ASC,
	[VMNIC_ENTITYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1499070733]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1499070733] ON [dbo].[VwVMNicProps]
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwVMNicProps] ADD  DEFAULT ((1)) FOR [CONNECT_STATUS]
GO
ALTER TABLE [dbo].[VwVMNicProps]  WITH CHECK ADD  CONSTRAINT [VwVMNicProps_FK1] FOREIGN KEY([VM_ID])
REFERENCES [dbo].[VwVMProps] ([VM_ID])
GO
ALTER TABLE [dbo].[VwVMNicProps] CHECK CONSTRAINT [VwVMNicProps_FK1]
GO
