USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[POLICYUSERPROPS]    Script Date: 6/29/2019 5:50:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLICYUSERPROPS](
	[NAME] [varchar](250) NOT NULL,
	[OWNERNAME] [varchar](25) NOT NULL,
	[PROPNAME] [varchar](150) NOT NULL,
	[PROPVAL] [varchar](150) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [POLICYUSERPROPS0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [POLICYUSERPROPS0_ndx] ON [dbo].[POLICYUSERPROPS]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [POLICYUSERPROPS1_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [POLICYUSERPROPS1_ndx] ON [dbo].[POLICYUSERPROPS]
(
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
