USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Relations]    Script Date: 6/29/2019 5:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relations](
	[RELATION_ID] [bigint] NOT NULL,
	[SOURCE_NODE] [bigint] NOT NULL,
	[DESTINATION_NODE] [bigint] NOT NULL,
	[RELATION_WEIGHT] [int] NOT NULL,
 CONSTRAINT [Relations_PK] PRIMARY KEY CLUSTERED 
(
	[RELATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Relations] ADD  DEFAULT ('1') FOR [RELATION_WEIGHT]
GO
