USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PromiseEnclosure]    Script Date: 6/29/2019 5:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromiseEnclosure](
	[RAID_ID] [bigint] NOT NULL,
	[ENCLOSURE_ID] [int] NOT NULL,
	[ENCLOSURE_TYPE] [varchar](250) NOT NULL,
	[ENCLOSURE_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [PromiseEnclosure_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[ENCLOSURE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1353751932]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1353751932] ON [dbo].[PromiseEnclosure]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromiseEnclosure]  WITH CHECK ADD  CONSTRAINT [PromiseEnclosure_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PromiseEnclosure] CHECK CONSTRAINT [PromiseEnclosure_FK1]
GO
