USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMSSettings]    Script Date: 6/29/2019 5:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSSettings](
	[SERIALPORT] [varchar](250) NOT NULL,
	[MOBILENO] [varchar](250) NULL,
	[BAUDRATE] [varchar](50) NULL,
	[MANUFACTURER] [varchar](250) NULL,
	[MODEL] [varchar](250) NULL,
	[PROTOCOL] [varchar](250) NULL,
	[PIN] [varchar](250) NULL,
 CONSTRAINT [SMSSettings_PK1] PRIMARY KEY CLUSTERED 
(
	[SERIALPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SMSSettings_UK0]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [SMSSettings_UK0] ON [dbo].[SMSSettings]
(
	[MOBILENO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
