USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPEVARaidLUN]    Script Date: 6/29/2019 5:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPEVARaidLUN](
	[DEVICE_ID] [bigint] NOT NULL,
	[LUN_NAME] [varchar](250) NOT NULL,
	[STORAGE_NAME] [varchar](250) NULL,
	[STORAGECLIENT_NAME] [varchar](250) NULL,
	[ID] [varchar](250) NULL,
 CONSTRAINT [HPEVARAIDLUN_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[LUN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1536530752]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1536530752] ON [dbo].[HPEVARaidLUN]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPEVARaidLUN]  WITH CHECK ADD  CONSTRAINT [HPEVARAIDLUN_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[HPEVARaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPEVARaidLUN] CHECK CONSTRAINT [HPEVARAIDLUN_FK1]
GO
