USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCM_LDAPUsers]    Script Date: 6/29/2019 5:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCM_LDAPUsers](
	[USERID] [bigint] NOT NULL,
	[LDAP_ID] [bigint] NOT NULL,
	[DN] [varchar](300) NOT NULL,
 CONSTRAINT [NCM_LDAPUsers_PK] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[LDAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_18136743]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_18136743] ON [dbo].[NCM_LDAPUsers]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_18136744]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_18136744] ON [dbo].[NCM_LDAPUsers]
(
	[LDAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCM_LDAPUsers]  WITH CHECK ADD  CONSTRAINT [NCM_LDAPUsers_FK1] FOREIGN KEY([USERID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[NCM_LDAPUsers] CHECK CONSTRAINT [NCM_LDAPUsers_FK1]
GO
ALTER TABLE [dbo].[NCM_LDAPUsers]  WITH CHECK ADD  CONSTRAINT [NCM_LDAPUsers_FK2] FOREIGN KEY([LDAP_ID])
REFERENCES [dbo].[AaaLDAPAdapter] ([LDAP_ID])
GO
ALTER TABLE [dbo].[NCM_LDAPUsers] CHECK CONSTRAINT [NCM_LDAPUsers_FK2]
GO
