USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[H3CSSeriesSwitch]    Script Date: 6/29/2019 5:48:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H3CSSeriesSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[BOOTROMVERSION] [varchar](100) NOT NULL,
	[MEMORY] [varchar](100) NOT NULL,
	[FLASH] [varchar](100) NOT NULL,
	[SOFTWARE_VERSION] [varchar](100) NOT NULL,
	[SW_VERSION_NO] [varchar](100) NOT NULL,
 CONSTRAINT [H3CSSeriesSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_67755795]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_67755795] ON [dbo].[H3CSSeriesSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[H3CSSeriesSwitch] ADD  DEFAULT ('Not Available') FOR [BOOTROMVERSION]
GO
ALTER TABLE [dbo].[H3CSSeriesSwitch] ADD  DEFAULT ('Not Available') FOR [MEMORY]
GO
ALTER TABLE [dbo].[H3CSSeriesSwitch] ADD  DEFAULT ('Not Available') FOR [FLASH]
GO
ALTER TABLE [dbo].[H3CSSeriesSwitch] ADD  DEFAULT ('Not Available') FOR [SOFTWARE_VERSION]
GO
ALTER TABLE [dbo].[H3CSSeriesSwitch] ADD  DEFAULT ('Not Available') FOR [SW_VERSION_NO]
GO
ALTER TABLE [dbo].[H3CSSeriesSwitch]  WITH CHECK ADD  CONSTRAINT [H3CSSeriesSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[H3CSSeriesSwitch] CHECK CONSTRAINT [H3CSSeriesSwitch_FK1]
GO
