USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IpCtgyAddress]    Script Date: 6/29/2019 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpCtgyAddress](
	[ID] [int] NOT NULL,
	[CID] [int] NOT NULL,
	[IPADDRESS] [bigint] NOT NULL,
	[FLAG] [int] NOT NULL,
 CONSTRAINT [IpCtgyAddress_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_307509146]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_307509146] ON [dbo].[IpCtgyAddress]
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IpCtgyAddress] ADD  DEFAULT ('0') FOR [FLAG]
GO
ALTER TABLE [dbo].[IpCtgyAddress]  WITH CHECK ADD  CONSTRAINT [IpCtgyAddress_FK] FOREIGN KEY([CID])
REFERENCES [dbo].[IpCtgy] ([CID])
GO
ALTER TABLE [dbo].[IpCtgyAddress] CHECK CONSTRAINT [IpCtgyAddress_FK]
GO
