USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SANStorageAPICredentialDetails]    Script Date: 6/29/2019 5:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANStorageAPICredentialDetails](
	[CREDENTIALID] [bigint] NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[PORT] [int] NULL,
	[TIMEOUT] [int] NOT NULL,
	[SSL] [varchar](10) NULL,
 CONSTRAINT [SANStorageAPICredentialDetails_PK] PRIMARY KEY CLUSTERED 
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1753878456]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1753878456] ON [dbo].[SANStorageAPICredentialDetails]
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SANStorageAPICredentialDetails] ADD  DEFAULT ('10') FOR [TIMEOUT]
GO
ALTER TABLE [dbo].[SANStorageAPICredentialDetails]  WITH CHECK ADD  CONSTRAINT [SANStorageAPICredentialDetails_FK] FOREIGN KEY([CREDENTIALID])
REFERENCES [dbo].[CredentialManager] ([CREDENTIALID])
GO
ALTER TABLE [dbo].[SANStorageAPICredentialDetails] CHECK CONSTRAINT [SANStorageAPICredentialDetails_FK]
GO
