USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InterfaceDiscoveryParams]    Script Date: 6/29/2019 5:48:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterfaceDiscoveryParams](
	[PROFILEID] [bigint] NOT NULL,
	[TYPEIDS] [text] NULL,
	[ADMINSTATUS] [varchar](50) NULL,
	[OPERSTATUS] [varchar](50) NULL,
 CONSTRAINT [InterfaceDiscoveryParams_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1844374070]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1844374070] ON [dbo].[InterfaceDiscoveryParams]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InterfaceDiscoveryParams]  WITH CHECK ADD  CONSTRAINT [InterfaceDiscoveryParams_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[DiscoveryProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[InterfaceDiscoveryParams] CHECK CONSTRAINT [InterfaceDiscoveryParams_FK1]
GO
