USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwHostPortGroup]    Script Date: 6/29/2019 5:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwHostPortGroup](
	[VPORTGROUP_ID] [bigint] NOT NULL,
	[VHOST_ID] [bigint] NOT NULL,
	[VPORTGROUP_NAME] [varchar](100) NOT NULL,
	[VSWITCH_NAME] [varchar](50) NOT NULL,
	[VLAN_ID] [int] NOT NULL,
	[NO_OF_PORTS] [int] NOT NULL,
 CONSTRAINT [VwHostPortGroup_PK] PRIMARY KEY CLUSTERED 
(
	[VPORTGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [VwHostPortGroup_UK0] UNIQUE NONCLUSTERED 
(
	[VPORTGROUP_NAME] ASC,
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1471396574]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1471396574] ON [dbo].[VwHostPortGroup]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwHostPortGroup] ADD  DEFAULT ('-1') FOR [VLAN_ID]
GO
ALTER TABLE [dbo].[VwHostPortGroup] ADD  DEFAULT ('0') FOR [NO_OF_PORTS]
GO
ALTER TABLE [dbo].[VwHostPortGroup]  WITH CHECK ADD  CONSTRAINT [VwHostPortGroup_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VwHOSTPROPS] ([VHOST_ID])
GO
ALTER TABLE [dbo].[VwHostPortGroup] CHECK CONSTRAINT [VwHostPortGroup_FK1]
GO
