USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SSIDGroupMap]    Script Date: 6/29/2019 5:51:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSIDGroupMap](
	[SSID_GROUP_ID] [int] NOT NULL,
	[SSID_ID] [int] NOT NULL,
 CONSTRAINT [SSIDGroupMap_PK] PRIMARY KEY CLUSTERED 
(
	[SSID_GROUP_ID] ASC,
	[SSID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__252017812]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__252017812] ON [dbo].[SSIDGroupMap]
(
	[SSID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_777382469]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_777382469] ON [dbo].[SSIDGroupMap]
(
	[SSID_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SSIDGroupMap]  WITH CHECK ADD  CONSTRAINT [SSIDGroupMap_FK] FOREIGN KEY([SSID_ID])
REFERENCES [dbo].[NetFlow_SSID] ([SSID_ID])
GO
ALTER TABLE [dbo].[SSIDGroupMap] CHECK CONSTRAINT [SSIDGroupMap_FK]
GO
ALTER TABLE [dbo].[SSIDGroupMap]  WITH CHECK ADD  CONSTRAINT [SSIDGroupMap_FK1] FOREIGN KEY([SSID_GROUP_ID])
REFERENCES [dbo].[SSIDGroupInfo] ([SSID_GROUP_ID])
GO
ALTER TABLE [dbo].[SSIDGroupMap] CHECK CONSTRAINT [SSIDGroupMap_FK1]
GO
