USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PromiseBattery]    Script Date: 6/29/2019 5:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromiseBattery](
	[RAID_ID] [bigint] NOT NULL,
	[ENCLOSURE_ID] [int] NOT NULL,
	[BATTERY_ID] [int] NOT NULL,
	[SERIAL_NO] [varchar](250) NOT NULL,
	[MANUFACTURER] [varchar](250) NOT NULL,
	[BATTERY_NAME] [varchar](250) NOT NULL,
	[CHEMISTRY_TYPE] [varchar](250) NOT NULL,
	[CHARGE_TEMP_THRESHOLD] [varchar](250) NOT NULL,
	[DISCHARGE_TEMP_THRESHOLD] [varchar](250) NOT NULL,
	[CHARGING_CYCLE_COUNT] [varchar](250) NOT NULL,
	[OPERATIONAL_STATUS] [varchar](250) NOT NULL,
	[CELL_TYPE] [varchar](250) NOT NULL,
	[BATTERY_HOLD_TIME] [varchar](250) NOT NULL,
 CONSTRAINT [PromiseBattery_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[ENCLOSURE_ID] ASC,
	[BATTERY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_400071391]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_400071391] ON [dbo].[PromiseBattery]
(
	[RAID_ID] ASC,
	[ENCLOSURE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromiseBattery]  WITH CHECK ADD  CONSTRAINT [PromiseBattery_FK1] FOREIGN KEY([RAID_ID], [ENCLOSURE_ID])
REFERENCES [dbo].[PromiseEnclosure] ([RAID_ID], [ENCLOSURE_ID])
GO
ALTER TABLE [dbo].[PromiseBattery] CHECK CONSTRAINT [PromiseBattery_FK1]
GO
