USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARVolumeReplicationGroupMap]    Script Date: 6/29/2019 5:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARVolumeReplicationGroupMap](
	[RAID_ID] [bigint] NOT NULL,
	[VOLUME_ID] [varchar](150) NOT NULL,
	[RG_NAME] [varchar](150) NOT NULL,
 CONSTRAINT [HP3PARVolumeReplicationGroupMap_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[VOLUME_ID] ASC,
	[RG_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__629965882]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__629965882] ON [dbo].[HP3PARVolumeReplicationGroupMap]
(
	[RAID_ID] ASC,
	[VOLUME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARVolumeReplicationGroupMap]  WITH CHECK ADD  CONSTRAINT [HP3PARVolumeReplicationGroupMap_FK1] FOREIGN KEY([RAID_ID], [VOLUME_ID])
REFERENCES [dbo].[HP3PARStorageVolume] ([RAID_ID], [VOLUME_ID])
GO
ALTER TABLE [dbo].[HP3PARVolumeReplicationGroupMap] CHECK CONSTRAINT [HP3PARVolumeReplicationGroupMap_FK1]
GO
