USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SchedulerType]    Script Date: 6/29/2019 5:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchedulerType](
	[TYPE] [varchar](50) NOT NULL,
	[TYPE_ID] [int] NOT NULL,
 CONSTRAINT [SchedulerType_PK] PRIMARY KEY CLUSTERED 
(
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SchedulerType] ADD  DEFAULT ('1') FOR [TYPE_ID]
GO
