USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RunBookUserMapping]    Script Date: 6/29/2019 5:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunBookUserMapping](
	[RUNBOOKID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
 CONSTRAINT [RunBookUserMapping_PK1] PRIMARY KEY CLUSTERED 
(
	[RUNBOOKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__747942468]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__747942468] ON [dbo].[RunBookUserMapping]
(
	[RUNBOOKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RunBookUserMapping]  WITH CHECK ADD  CONSTRAINT [RunBookUserMapping_FK1] FOREIGN KEY([RUNBOOKID])
REFERENCES [dbo].[RunBook] ([RBID])
GO
ALTER TABLE [dbo].[RunBookUserMapping] CHECK CONSTRAINT [RunBookUserMapping_FK1]
GO
