USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DDNotifications]    Script Date: 6/29/2019 5:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DDNotifications](
	[DDID] [bigint] NOT NULL,
	[TO_ADDRESS] [nvarchar](250) NOT NULL,
	[TO_NUMBER] [nvarchar](250) NOT NULL,
	[ENABLED] [bit] NULL,
	[ALERTTYPE] [nvarchar](50) NOT NULL,
 CONSTRAINT [DDNotifications_PK] PRIMARY KEY CLUSTERED 
(
	[DDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__776004580]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__776004580] ON [dbo].[DDNotifications]
(
	[DDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DDNotifications] ADD  DEFAULT ('NO') FOR [TO_ADDRESS]
GO
ALTER TABLE [dbo].[DDNotifications] ADD  DEFAULT ('NO') FOR [TO_NUMBER]
GO
ALTER TABLE [dbo].[DDNotifications]  WITH CHECK ADD  CONSTRAINT [DDNotifications_FK] FOREIGN KEY([DDID])
REFERENCES [dbo].[DeviceDetails] ([DDID])
GO
ALTER TABLE [dbo].[DDNotifications] CHECK CONSTRAINT [DDNotifications_FK]
GO
