USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AuditSeverityLevel]    Script Date: 6/29/2019 5:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditSeverityLevel](
	[AUDITCONFIG_ID] [bigint] NOT NULL,
	[SEVERITY] [varchar](25) NOT NULL,
	[CRITERIA] [varchar](200) NOT NULL,
 CONSTRAINT [AuditSeverityLevel_PK] PRIMARY KEY CLUSTERED 
(
	[AUDITCONFIG_ID] ASC,
	[SEVERITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_675755864]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_675755864] ON [dbo].[AuditSeverityLevel]
(
	[AUDITCONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditSeverityLevel]  WITH CHECK ADD  CONSTRAINT [AuditSeverityLevel_FK] FOREIGN KEY([AUDITCONFIG_ID])
REFERENCES [dbo].[AuditConfig] ([ID])
GO
ALTER TABLE [dbo].[AuditSeverityLevel] CHECK CONSTRAINT [AuditSeverityLevel_FK]
GO
