USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PureStorageHostGroup]    Script Date: 6/29/2019 5:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PureStorageHostGroup](
	[RAID_ID] [bigint] NOT NULL,
	[HOSTGROUP_MO_ID] [bigint] NOT NULL,
	[HOSTGROUP_NAME] [varchar](250) NULL,
 CONSTRAINT [PureStorageHostGroup_PK] PRIMARY KEY CLUSTERED 
(
	[HOSTGROUP_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__727462399]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__727462399] ON [dbo].[PureStorageHostGroup]
(
	[HOSTGROUP_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PureStorageHostGroup]  WITH CHECK ADD  CONSTRAINT [PureStorageHostGroup_FK1] FOREIGN KEY([HOSTGROUP_MO_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PureStorageHostGroup] CHECK CONSTRAINT [PureStorageHostGroup_FK1]
GO
