USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetgearSwitch]    Script Date: 6/29/2019 5:49:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetgearSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[BOOTCODE_VERSION] [varchar](20) NOT NULL,
 CONSTRAINT [NetgearSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__571318739]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__571318739] ON [dbo].[NetgearSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetgearSwitch] ADD  DEFAULT ('Not Available') FOR [BOOTCODE_VERSION]
GO
ALTER TABLE [dbo].[NetgearSwitch]  WITH CHECK ADD  CONSTRAINT [NetgearSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NetgearSwitch] CHECK CONSTRAINT [NetgearSwitch_FK1]
GO
