USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[String_Variables]    Script Date: 6/29/2019 5:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[String_Variables](
	[STRING_EXPRESSION_ID] [bigint] NOT NULL,
	[RELVAR_ID] [bigint] NOT NULL,
	[ATTRIBUTE_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [String_Variabless_PK] PRIMARY KEY CLUSTERED 
(
	[STRING_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1324993942]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1324993942] ON [dbo].[String_Variables]
(
	[RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_596931067]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_596931067] ON [dbo].[String_Variables]
(
	[STRING_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[String_Variables]  WITH CHECK ADD  CONSTRAINT [String_Variables_FK] FOREIGN KEY([STRING_EXPRESSION_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[String_Variables] CHECK CONSTRAINT [String_Variables_FK]
GO
ALTER TABLE [dbo].[String_Variables]  WITH CHECK ADD  CONSTRAINT [String_Variables_FK1] FOREIGN KEY([RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[String_Variables] CHECK CONSTRAINT [String_Variables_FK1]
GO
