USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpInterface]    Script Date: 6/29/2019 5:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpInterface](
	[NAME] [varchar](100) NOT NULL,
	[HOSTNETMASK] [varchar](100) NULL,
	[IFINDEX] [bigint] NULL,
	[PHYSMEDIA] [bigint] NULL,
	[PHYSADDR] [varchar](100) NULL,
	[IFSPEED] [bigint] NULL,
	[IFDESCR] [varchar](255) NULL,
	[SYSOID] [varchar](100) NULL,
	[OWNERNAME] [varchar](25) NOT NULL,
	[IFSPEEDIN] [bigint] NULL,
	[IFSPEEDOUT] [bigint] NULL,
	[IFNAME] [varchar](100) NULL,
	[IFADMINSTATUS] [int] NULL,
	[IFOPERSTATUS] [int] NULL,
	[IFCIRCUITID] [varchar](250) NULL,
	[IFALIAS] [varchar](250) NULL,
	[HCTRAFFIC] [varchar](50) NULL,
	[ISSUBINTERFACE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC,
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SnmpInterface0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [SnmpInterface0_ndx] ON [dbo].[SnmpInterface]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SnmpInterface1_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [SnmpInterface1_ndx] ON [dbo].[SnmpInterface]
(
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
