USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NEInterfaceDetails]    Script Date: 6/29/2019 5:49:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEInterfaceDetails](
	[RESOURCEID] [bigint] NOT NULL,
	[INTERFACETYPE] [int] NULL,
	[INTERFACEINDEX] [int] NULL,
	[INTERFACEDESCRIPTOR] [varchar](250) NULL,
	[PHYSICALADDRESS] [varchar](250) NULL,
	[INTERFACESPEED] [bigint] NULL,
 CONSTRAINT [NEInterfaceDetails_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1192728083]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1192728083] ON [dbo].[NEInterfaceDetails]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NEInterfaceDetails]  WITH CHECK ADD  CONSTRAINT [NEInterfaceDetails_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NEInterface] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NEInterfaceDetails] CHECK CONSTRAINT [NEInterfaceDetails_FK1]
GO
