USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VCenterProps]    Script Date: 6/29/2019 5:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VCenterProps](
	[VCENTER_ID] [bigint] NOT NULL,
	[MOID] [bigint] NOT NULL,
	[INSTANCE_UUID] [varchar](50) NULL,
	[VCENTER_OS] [varchar](50) NULL,
	[VCENTER_VERSION] [varchar](50) NULL,
	[VCENTER_BUILDNUMBER] [varchar](50) NULL,
	[VENDOR_ID] [bigint] NOT NULL,
	[WEBSERVICE_CONNECTSTATUS] [int] NULL,
	[SPOLLMISSED_COUNT] [int] NULL,
	[WEBSERVICE_STATUS_UPDATEDTIME] [datetime] NULL,
 CONSTRAINT [VCenterProps_PK] PRIMARY KEY CLUSTERED 
(
	[VCENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [VCenterProps_UK1] UNIQUE NONCLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_885290162]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_885290162] ON [dbo].[VCenterProps]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VCenterProps] ADD  DEFAULT ('0') FOR [WEBSERVICE_CONNECTSTATUS]
GO
ALTER TABLE [dbo].[VCenterProps] ADD  DEFAULT ('0') FOR [SPOLLMISSED_COUNT]
GO
ALTER TABLE [dbo].[VCenterProps]  WITH CHECK ADD  CONSTRAINT [VCenterProps_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[VCenterProps] CHECK CONSTRAINT [VCenterProps_FK1]
GO
