USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TreeToSubNet]    Script Date: 6/29/2019 5:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeToSubNet](
	[NETID] [bigint] NOT NULL,
	[GID] [bigint] NOT NULL,
 CONSTRAINT [TreeToSubNet_PK] PRIMARY KEY CLUSTERED 
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__557662848]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__557662848] ON [dbo].[TreeToSubNet]
(
	[NETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__557662849]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__557662849] ON [dbo].[TreeToSubNet]
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TreeToSubNet]  WITH CHECK ADD  CONSTRAINT [TreeGroups_FK1] FOREIGN KEY([GID])
REFERENCES [dbo].[TreeGroups] ([GID])
GO
ALTER TABLE [dbo].[TreeToSubNet] CHECK CONSTRAINT [TreeGroups_FK1]
GO
ALTER TABLE [dbo].[TreeToSubNet]  WITH CHECK ADD  CONSTRAINT [TreeGroups_FK2] FOREIGN KEY([NETID])
REFERENCES [dbo].[SubNetwork] ([NETID])
GO
ALTER TABLE [dbo].[TreeToSubNet] CHECK CONSTRAINT [TreeGroups_FK2]
GO
