USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[JobStatus]    Script Date: 6/29/2019 5:48:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobStatus](
	[JOBID] [bigint] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [JobStatus_PK] PRIMARY KEY CLUSTERED 
(
	[JOBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__854481476]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__854481476] ON [dbo].[JobStatus]
(
	[JOBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobStatus]  WITH CHECK ADD  CONSTRAINT [JobStatus_FK1] FOREIGN KEY([JOBID])
REFERENCES [dbo].[AddressConfiguration] ([ADDRESSID])
GO
ALTER TABLE [dbo].[JobStatus] CHECK CONSTRAINT [JobStatus_FK1]
GO
