USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoResources]    Script Date: 6/29/2019 5:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoResources](
	[RESOURCEID] [bigint] NOT NULL,
	[CHASSIS_TYPE] [bigint] NOT NULL,
	[CHASSIS_VERSION] [varchar](100) NULL,
	[CHASSIS_ID] [varchar](100) NULL,
	[ROM_VERSION] [varchar](500) NULL,
	[IOS] [varchar](500) NULL,
 CONSTRAINT [CiscoResources_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__159908455]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__159908455] ON [dbo].[CiscoResources]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoResources]  WITH CHECK ADD  CONSTRAINT [CiscoResources_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[OpUtilsResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CiscoResources] CHECK CONSTRAINT [CiscoResources_FK1]
GO
