USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FieldRange]    Script Date: 6/29/2019 5:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldRange](
	[ID] [int] NOT NULL,
	[RID] [int] NOT NULL,
	[FIELD] [int] NOT NULL,
	[STARTVALUE] [varchar](255) NOT NULL,
	[ENDVALUE] [varchar](255) NOT NULL,
	[FLAG] [int] NOT NULL,
 CONSTRAINT [FieldRange_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_714009089]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_714009089] ON [dbo].[FieldRange]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FieldRange] ADD  DEFAULT ('0') FOR [FLAG]
GO
ALTER TABLE [dbo].[FieldRange]  WITH CHECK ADD  CONSTRAINT [FieldRange_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[NbaRule] ([RID])
GO
ALTER TABLE [dbo].[FieldRange] CHECK CONSTRAINT [FieldRange_FK]
GO
