USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEHOSTNAME]    Script Date: 6/29/2019 5:51:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEHOSTNAME](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[HOST_NAME] [varchar](250) NOT NULL,
 CONSTRAINT [STORAGEHOSTNAME_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[HOST_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEHOSTNAME_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1526310949]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1526310949] ON [dbo].[STORAGEHOSTNAME]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEHOSTNAME]  WITH CHECK ADD  CONSTRAINT [STORAGEHOSTNAME_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGEHOSTNAME] CHECK CONSTRAINT [STORAGEHOSTNAME_FK1]
GO
