USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CC_Address]    Script Date: 6/29/2019 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CC_Address](
	[INPUT_ID] [bigint] NOT NULL,
	[CC_ADDRESS] [varchar](188) NOT NULL,
 CONSTRAINT [CC_Address_PK] PRIMARY KEY CLUSTERED 
(
	[INPUT_ID] ASC,
	[CC_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2003307087]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2003307087] ON [dbo].[CC_Address]
(
	[INPUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CC_Address]  WITH CHECK ADD  CONSTRAINT [CC_Address_FK] FOREIGN KEY([INPUT_ID])
REFERENCES [dbo].[Email_Task_Input] ([INPUT_ID])
GO
ALTER TABLE [dbo].[CC_Address] CHECK CONSTRAINT [CC_Address_FK]
GO
