USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SeverityNode]    Script Date: 6/29/2019 5:51:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeverityNode](
	[SEVERITYID] [varchar](50) NOT NULL,
	[SEVERITYVALUE] [int] NOT NULL,
	[COLOR] [int] NOT NULL,
	[ICON] [varchar](250) NULL,
	[ALARMICSEVERITY] [bit] NOT NULL,
	[DESCRIPTION] [varchar](250) NULL,
 CONSTRAINT [SeverityNode_PK] PRIMARY KEY CLUSTERED 
(
	[SEVERITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [SeverityNode_UK0] UNIQUE NONCLUSTERED 
(
	[SEVERITYVALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
