USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Field]    Script Date: 6/29/2019 5:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Field](
	[ID] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[FALIAS] [varchar](255) NULL,
	[TYPE] [int] NOT NULL,
	[FORMATIZER_NAME] [varchar](500) NULL,
	[STATUS] [int] NOT NULL,
	[DESP] [varchar](500) NULL,
 CONSTRAINT [Field_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Field_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__864364982]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__864364982] ON [dbo].[Field]
(
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Field] ADD  DEFAULT ('1') FOR [STATUS]
GO
ALTER TABLE [dbo].[Field]  WITH CHECK ADD  CONSTRAINT [Field_FK] FOREIGN KEY([TYPE])
REFERENCES [dbo].[DataType] ([ID])
GO
ALTER TABLE [dbo].[Field] CHECK CONSTRAINT [Field_FK]
GO
