USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FEXtoUCSPSU]    Script Date: 6/29/2019 5:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEXtoUCSPSU](
	[FEX_ID] [bigint] NOT NULL,
	[PSU_ID] [bigint] NOT NULL,
 CONSTRAINT [FEXtoUCSPSU_PK] PRIMARY KEY CLUSTERED 
(
	[FEX_ID] ASC,
	[PSU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_775227534]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_775227534] ON [dbo].[FEXtoUCSPSU]
(
	[FEX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_775227535]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_775227535] ON [dbo].[FEXtoUCSPSU]
(
	[PSU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FEXtoUCSPSU]  WITH CHECK ADD  CONSTRAINT [FEXtoUCSPSU_FK1] FOREIGN KEY([FEX_ID])
REFERENCES [dbo].[FEXDetails] ([FEX_ID])
GO
ALTER TABLE [dbo].[FEXtoUCSPSU] CHECK CONSTRAINT [FEXtoUCSPSU_FK1]
GO
ALTER TABLE [dbo].[FEXtoUCSPSU]  WITH CHECK ADD  CONSTRAINT [FEXtoUCSPSU_FK2] FOREIGN KEY([PSU_ID])
REFERENCES [dbo].[UCSPSU] ([PSU_ID])
GO
ALTER TABLE [dbo].[FEXtoUCSPSU] CHECK CONSTRAINT [FEXtoUCSPSU_FK2]
GO
