USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ClariionDiskDrive]    Script Date: 6/29/2019 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClariionDiskDrive](
	[RAID_ID] [bigint] NOT NULL,
	[DISK_IDENTIFIER] [varchar](250) NOT NULL,
	[RAID_GROUP_NAME] [varchar](250) NOT NULL,
	[DRIVE_TYPE] [varchar](250) NOT NULL,
	[VENDOR] [varchar](250) NOT NULL,
	[PRODUCT_REVISION] [varchar](250) NOT NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[NO_OF_LUNS] [varchar](250) NOT NULL,
	[HARD_READ_ERRORS] [varchar](250) NULL,
	[HARD_WRITE_ERRORS] [varchar](250) NULL,
	[SOFT_READ_ERRORS] [varchar](250) NULL,
	[SOFT_WRITE_ERRORS] [varchar](250) NULL,
	[DISK_KEY] [varchar](250) NOT NULL,
 CONSTRAINT [CLARIIONDISKDRIVE_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[DISK_IDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__684652799]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__684652799] ON [dbo].[ClariionDiskDrive]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClariionDiskDrive]  WITH CHECK ADD  CONSTRAINT [CLARIIONDISKDRIVE_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ClariionDiskDrive] CHECK CONSTRAINT [CLARIIONDISKDRIVE_FK1]
GO
