USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DHCPConfigurations]    Script Date: 6/29/2019 5:47:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHCPConfigurations](
	[DCID] [bigint] NOT NULL,
	[SERVER] [nvarchar](100) NOT NULL,
	[RESOURCES] [nvarchar](255) NULL,
 CONSTRAINT [DHCPConfigurations_PK] PRIMARY KEY CLUSTERED 
(
	[DCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DHCPConfigurations_UK1] UNIQUE NONCLUSTERED 
(
	[SERVER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
