USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ANNOTATION]    Script Date: 6/29/2019 5:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANNOTATION](
	[ENTITY] [varchar](250) NOT NULL,
	[WHO] [varchar](50) NULL,
	[MODTIME] [bigint] NOT NULL,
	[OWNERNAME] [varchar](25) NOT NULL,
	[NOTES] [text] NULL,
 CONSTRAINT [ANNOTATION_PK] PRIMARY KEY CLUSTERED 
(
	[ENTITY] ASC,
	[OWNERNAME] ASC,
	[MODTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ANNOTATION0_ndx]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [ANNOTATION0_ndx] ON [dbo].[ANNOTATION]
(
	[ENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ANNOTATION1_ndx]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [ANNOTATION1_ndx] ON [dbo].[ANNOTATION]
(
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
