USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCVNXeStorageProcessor]    Script Date: 6/29/2019 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCVNXeStorageProcessor](
	[RAID_ID] [bigint] NOT NULL,
	[PROCESSOR_ID] [varchar](250) NOT NULL,
	[DPE] [varchar](250) NULL,
	[SLOT] [varchar](250) NULL,
	[NAME] [varchar](250) NULL,
	[MODEL] [varchar](250) NULL,
	[PART_NUMBER] [varchar](250) NULL,
	[SERIAL_NUMBER] [varchar](250) NULL,
	[MEMORY_SIZE] [float] NULL,
	[READ_CACHE] [float] NULL,
	[WRITE_CACHE] [float] NULL,
 CONSTRAINT [EMCVNXeStorageProcessor_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[PROCESSOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1948597587]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1948597587] ON [dbo].[EMCVNXeStorageProcessor]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCVNXeStorageProcessor]  WITH CHECK ADD  CONSTRAINT [EMCVNXeStorageProcessor_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCVNXeStorageProcessor] CHECK CONSTRAINT [EMCVNXeStorageProcessor_FK]
GO
