USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SCHEDULEEXCLUDEDAYS]    Script Date: 6/29/2019 5:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULEEXCLUDEDAYS](
	[SCHEDULEID] [bigint] NOT NULL,
	[SCHEDULEEXCLUDEDAYS] [varchar](250) NOT NULL,
 CONSTRAINT [SCHEDULEEXCLUDEDAYS_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC,
	[SCHEDULEEXCLUDEDAYS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1599557735]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1599557735] ON [dbo].[SCHEDULEEXCLUDEDAYS]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SCHEDULEEXCLUDEDAYS]  WITH CHECK ADD  CONSTRAINT [SCHEDULEEXCLUDEDAYS_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleReports] ([SCHEDULEID])
GO
ALTER TABLE [dbo].[SCHEDULEEXCLUDEDAYS] CHECK CONSTRAINT [SCHEDULEEXCLUDEDAYS_FK1]
GO
