USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RangeValues]    Script Date: 6/29/2019 5:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RangeValues](
	[COLUMN_ID] [bigint] NOT NULL,
	[RANGE_FROM] [varchar](50) NOT NULL,
	[RANGE_TO] [varchar](50) NOT NULL,
 CONSTRAINT [RangeValues_PK] PRIMARY KEY CLUSTERED 
(
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1577148308]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1577148308] ON [dbo].[RangeValues]
(
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RangeValues]  WITH CHECK ADD  CONSTRAINT [RangeValues_FK1] FOREIGN KEY([COLUMN_ID])
REFERENCES [dbo].[ColumnDetails] ([COLUMN_ID])
GO
ALTER TABLE [dbo].[RangeValues] CHECK CONSTRAINT [RangeValues_FK1]
GO
