USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorageDiskVsPlex]    Script Date: 6/29/2019 5:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageDiskVsPlex](
	[DISK_ID] [bigint] NOT NULL,
	[PLEX_ID] [bigint] NOT NULL,
 CONSTRAINT [StorageDiskVsPlex_PK] PRIMARY KEY CLUSTERED 
(
	[DISK_ID] ASC,
	[PLEX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_796325393]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_796325393] ON [dbo].[StorageDiskVsPlex]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_796325394]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_796325394] ON [dbo].[StorageDiskVsPlex]
(
	[PLEX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorageDiskVsPlex]  WITH CHECK ADD  CONSTRAINT [StorageDiskVsPlex_FK1] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[StorageDisks] ([DISK_ID])
GO
ALTER TABLE [dbo].[StorageDiskVsPlex] CHECK CONSTRAINT [StorageDiskVsPlex_FK1]
GO
ALTER TABLE [dbo].[StorageDiskVsPlex]  WITH CHECK ADD  CONSTRAINT [StorageDiskVsPlex_FK2] FOREIGN KEY([PLEX_ID])
REFERENCES [dbo].[StoragePlex] ([PLEX_ID])
GO
ALTER TABLE [dbo].[StorageDiskVsPlex] CHECK CONSTRAINT [StorageDiskVsPlex_FK2]
GO
