USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Time_Template_Vars]    Script Date: 6/29/2019 5:52:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time_Template_Vars](
	[TIME_EXPRESSION_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [bigint] NOT NULL,
	[VARIABLE_NAME] [varchar](100) NOT NULL,
	[TIME_INDEX] [bigint] NULL,
 CONSTRAINT [Time_Template_Vars_PK] PRIMARY KEY CLUSTERED 
(
	[TIME_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1340045107]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1340045107] ON [dbo].[Time_Template_Vars]
(
	[TIME_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1340045108]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1340045108] ON [dbo].[Time_Template_Vars]
(
	[TEMPLATE_ID] ASC,
	[VARIABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_95320069]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_95320069] ON [dbo].[Time_Template_Vars]
(
	[TIME_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Time_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Time_Template_Vars_FK] FOREIGN KEY([TIME_EXPRESSION_ID])
REFERENCES [dbo].[Time_Expressions] ([TIME_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Time_Template_Vars] CHECK CONSTRAINT [Time_Template_Vars_FK]
GO
ALTER TABLE [dbo].[Time_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Time_Template_Vars_FK1] FOREIGN KEY([TEMPLATE_ID], [VARIABLE_NAME])
REFERENCES [dbo].[Template_Data] ([TEMPLATE_ID], [VARIABLE_NAME])
GO
ALTER TABLE [dbo].[Time_Template_Vars] CHECK CONSTRAINT [Time_Template_Vars_FK1]
GO
ALTER TABLE [dbo].[Time_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Time_Template_Vars_FK2] FOREIGN KEY([TIME_INDEX])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Time_Template_Vars] CHECK CONSTRAINT [Time_Template_Vars_FK2]
GO
