USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiscoveryTaskSchedule]    Script Date: 6/29/2019 5:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryTaskSchedule](
	[SCHEDULEID] [bigint] NOT NULL,
	[PROFILEID] [bigint] NOT NULL,
	[TRIGGERDESCRIPTION] [varchar](250) NOT NULL,
	[LASTSCHEDULESTATUS] [varchar](250) NOT NULL,
 CONSTRAINT [DiscoveryTaskSchedule_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1649795641]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1649795641] ON [dbo].[DiscoveryTaskSchedule]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1649795642]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1649795642] ON [dbo].[DiscoveryTaskSchedule]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoveryTaskSchedule]  WITH CHECK ADD  CONSTRAINT [DiscoveryTaskSchedule_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[NGBaseSchedule] ([ID])
GO
ALTER TABLE [dbo].[DiscoveryTaskSchedule] CHECK CONSTRAINT [DiscoveryTaskSchedule_FK1]
GO
ALTER TABLE [dbo].[DiscoveryTaskSchedule]  WITH CHECK ADD  CONSTRAINT [DiscoveryTaskSchedule_FK2] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[DiscoveryProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[DiscoveryTaskSchedule] CHECK CONSTRAINT [DiscoveryTaskSchedule_FK2]
GO
