USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDraftDownloadInput]    Script Date: 6/29/2019 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDraftDownloadInput](
	[INSTANCEID] [bigint] NOT NULL,
	[DRAFT_ID] [int] NOT NULL,
	[DOWNLOADAS] [varchar](50) NOT NULL,
 CONSTRAINT [NCMDraftDownloadInput_PK1] PRIMARY KEY CLUSTERED 
(
	[INSTANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1669385766]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1669385766] ON [dbo].[NCMDraftDownloadInput]
(
	[INSTANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1669385767]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1669385767] ON [dbo].[NCMDraftDownloadInput]
(
	[DRAFT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDraftDownloadInput]  WITH CHECK ADD  CONSTRAINT [NCMDraftDownloadInput_FK1] FOREIGN KEY([INSTANCEID])
REFERENCES [dbo].[NCMConfigAutomationInput] ([INSTANCEID])
GO
ALTER TABLE [dbo].[NCMDraftDownloadInput] CHECK CONSTRAINT [NCMDraftDownloadInput_FK1]
GO
ALTER TABLE [dbo].[NCMDraftDownloadInput]  WITH CHECK ADD  CONSTRAINT [NCMDraftDownloadInput_FK2] FOREIGN KEY([DRAFT_ID])
REFERENCES [dbo].[NCMDraft] ([DRAFT_ID])
GO
ALTER TABLE [dbo].[NCMDraftDownloadInput] CHECK CONSTRAINT [NCMDraftDownloadInput_FK2]
GO
