USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Pointer_Fk_Attributes]    Script Date: 6/29/2019 5:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pointer_Fk_Attributes](
	[POINTER_ID] [bigint] NOT NULL,
	[FK_ATTRIBUTE] [varchar](180) NOT NULL,
	[FK_REF_ATTRIBUTE] [varchar](250) NOT NULL,
 CONSTRAINT [Pointer_Fk_Attributes_PK] PRIMARY KEY CLUSTERED 
(
	[POINTER_ID] ASC,
	[FK_ATTRIBUTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__78466923]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__78466923] ON [dbo].[Pointer_Fk_Attributes]
(
	[POINTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pointer_Fk_Attributes]  WITH CHECK ADD  CONSTRAINT [Pointer_Fk_Attributes_FK] FOREIGN KEY([POINTER_ID])
REFERENCES [dbo].[Fk_Pointers] ([POINTER_ID])
GO
ALTER TABLE [dbo].[Pointer_Fk_Attributes] CHECK CONSTRAINT [Pointer_Fk_Attributes_FK]
GO
