USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InfortrendRaidChannelInfo]    Script Date: 6/29/2019 5:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfortrendRaidChannelInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[CHANNEL_INDEX] [int] NOT NULL,
	[CHL_LOG_CHLNUM] [int] NOT NULL,
	[CHL_PHY_CHLNUM] [int] NULL,
	[CHL_TYPE] [varchar](250) NULL,
	[CHL_CHIPTYPE] [int] NULL,
	[CHL_MODE] [varchar](250) NULL,
	[CHL_SCSI_TERMINATION] [varchar](250) NULL,
	[SCSI_PARITY] [varchar](250) NULL,
	[SUPPORT_LUN] [varchar](250) NULL,
	[SUPPORT_RCC] [varchar](250) NULL,
	[RCC_TYPE] [varchar](250) NULL,
	[SHELF_STATUS_INPUT] [varchar](250) NULL,
	[SWAP_STATUS_INPUT] [varchar](250) NULL,
	[DRIVE_FAILURE_STATUS_OUTPUT] [varchar](250) NULL,
	[CHL_DRVPID] [int] NULL,
	[CHL_DRVSID] [int] NULL,
	[CHL_CURTXWIDTH] [varchar](250) NULL,
 CONSTRAINT [InfortrendRaidChannelInfo_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[CHANNEL_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1857775291]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1857775291] ON [dbo].[InfortrendRaidChannelInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InfortrendRaidChannelInfo]  WITH CHECK ADD  CONSTRAINT [InfortrendRaidChannelInfo_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[InfortrendRaidChannelInfo] CHECK CONSTRAINT [InfortrendRaidChannelInfo_FK1]
GO
