USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Parser]    Script Date: 6/29/2019 5:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parser](
	[PARSERID] [bigint] NOT NULL,
	[PATTERNSTRING] [varchar](255) NOT NULL,
 CONSTRAINT [Parser_PK] PRIMARY KEY CLUSTERED 
(
	[PARSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
