USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoVsan]    Script Date: 6/29/2019 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoVsan](
	[DEVICE_ID] [bigint] NOT NULL,
	[VSAN_INDEX] [int] NOT NULL,
	[VSAN_NAME] [varchar](250) NOT NULL,
	[MEDIA_TYPE] [varchar](250) NOT NULL,
	[ADMIN_STATUS] [varchar](250) NOT NULL,
	[MTU] [int] NOT NULL,
	[LOAD_BALANCING_TYPE] [varchar](250) NOT NULL,
	[INTEROPERABLE_MODE] [bit] NOT NULL,
	[OPER_STATUS] [varchar](250) NOT NULL,
	[INTEROPERABLE_VALUE] [int] NOT NULL,
	[INORDER_DELIVERY] [bit] NOT NULL,
	[NETWORK_LATENCY] [bigint] NOT NULL,
 CONSTRAINT [CISCOVSAN_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[VSAN_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
