USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SocialMediaConfig]    Script Date: 6/29/2019 5:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialMediaConfig](
	[ID] [int] NOT NULL,
	[INTERFACE_ID] [text] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [SocialMediaConfig_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SocialMediaConfig] ADD  DEFAULT ('0') FOR [STATUS]
GO
