USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarBrickESModule]    Script Date: 6/29/2019 5:50:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarBrickESModule](
	[PILLAR_ID] [bigint] NOT NULL,
	[BRICK_INSTANCE] [int] NOT NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NULL,
 CONSTRAINT [PillarBrickESModule_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC,
	[SERIAL_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__885969165]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__885969165] ON [dbo].[PillarBrickESModule]
(
	[PILLAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarBrickESModule]  WITH CHECK ADD  CONSTRAINT [PillarBrickESModule_FK] FOREIGN KEY([PILLAR_ID])
REFERENCES [dbo].[PillarRaid] ([PILLAR_ID])
GO
ALTER TABLE [dbo].[PillarBrickESModule] CHECK CONSTRAINT [PillarBrickESModule_FK]
GO
