USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSClass]    Script Date: 6/29/2019 5:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSClass](
	[CLASSID] [int] NOT NULL,
	[CLASSNAME] [varchar](250) NOT NULL,
 CONSTRAINT [UCSClass_PK1] PRIMARY KEY CLUSTERED 
(
	[CLASSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
