USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CUSTOMREPORT_SITE_MAPPING]    Script Date: 6/29/2019 5:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMREPORT_SITE_MAPPING](
	[CUSTOMREPORTID] [bigint] NOT NULL,
	[CUSTID] [bigint] NULL,
	[SITEID] [bigint] NULL,
 CONSTRAINT [CUSTOMREPORT_SITE_MAPPING_PK1] PRIMARY KEY CLUSTERED 
(
	[CUSTOMREPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
