USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Template_Data]    Script Date: 6/29/2019 5:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template_Data](
	[TEMPLATE_ID] [bigint] NOT NULL,
	[VARIABLE_NAME] [varchar](100) NOT NULL,
	[VARIABLE_TYPE] [varchar](15) NOT NULL,
	[IS_ARRAY] [bit] NOT NULL,
 CONSTRAINT [Template_Data_PK] PRIMARY KEY CLUSTERED 
(
	[TEMPLATE_ID] ASC,
	[VARIABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_467507893]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_467507893] ON [dbo].[Template_Data]
(
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Template_Data] ADD  DEFAULT ((0)) FOR [IS_ARRAY]
GO
ALTER TABLE [dbo].[Template_Data]  WITH CHECK ADD  CONSTRAINT [Template_Data_FK] FOREIGN KEY([TEMPLATE_ID])
REFERENCES [dbo].[Templates] ([TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Template_Data] CHECK CONSTRAINT [Template_Data_FK]
GO
