USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EmailNotification]    Script Date: 6/29/2019 5:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailNotification](
	[EMAIL_ID] [int] NOT NULL,
	[THRESHOLD_ID] [int] NOT NULL,
	[TO_ADDRESS] [varchar](255) NOT NULL,
	[EMAIL_SUBJECT] [varchar](255) NOT NULL,
 CONSTRAINT [EmailNotification_PK] PRIMARY KEY CLUSTERED 
(
	[EMAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_800992637]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_800992637] ON [dbo].[EmailNotification]
(
	[THRESHOLD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmailNotification] ADD  DEFAULT ('Alert from Netflow Analyzer') FOR [EMAIL_SUBJECT]
GO
ALTER TABLE [dbo].[EmailNotification]  WITH CHECK ADD  CONSTRAINT [EmailNotification_FK] FOREIGN KEY([THRESHOLD_ID])
REFERENCES [dbo].[AlertThreshold] ([THRESHOLD_ID])
GO
ALTER TABLE [dbo].[EmailNotification] CHECK CONSTRAINT [EmailNotification_FK]
GO
