USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNXVolume]    Script Date: 6/29/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNXVolume](
	[RAID_ID] [bigint] NOT NULL,
	[VOLUME_ID] [varchar](250) NOT NULL,
	[VOLUME_MOID] [bigint] NOT NULL,
	[VOLUME_NAME] [varchar](250) NOT NULL,
	[VOLUME_TYPE] [varchar](250) NOT NULL,
	[VOLUME_IN_USE] [varchar](250) NOT NULL,
	[VOLUME_ACL] [varchar](250) NOT NULL,
	[TOTAL_SPACE] [varchar](250) NOT NULL,
	[USED_SPACE] [varchar](250) NOT NULL,
	[AVAILABLE_SPACE] [varchar](250) NOT NULL,
	[USED_PERCENTAGE] [int] NOT NULL,
 CONSTRAINT [VNXVolume_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[VOLUME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1056052696]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1056052696] ON [dbo].[VNXVolume]
(
	[VOLUME_MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__449708214]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__449708214] ON [dbo].[VNXVolume]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNXVolume]  WITH CHECK ADD  CONSTRAINT [VNXVolume_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXVolume] CHECK CONSTRAINT [VNXVolume_FK]
GO
ALTER TABLE [dbo].[VNXVolume]  WITH CHECK ADD  CONSTRAINT [VNXVolume_FK2] FOREIGN KEY([VOLUME_MOID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXVolume] CHECK CONSTRAINT [VNXVolume_FK2]
GO
