USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IFHCRAW]    Script Date: 6/29/2019 5:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IFHCRAW](
	[ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[DELTATIME] [bigint] NOT NULL,
	[INOCTETS] [bigint] NOT NULL,
	[OUTOCTETS] [bigint] NOT NULL,
	[INUCAST] [bigint] NOT NULL,
	[OUTUCAST] [bigint] NOT NULL,
	[INDISCARDS] [bigint] NOT NULL,
	[OUTDISCARDS] [bigint] NOT NULL,
	[INERRORS] [bigint] NOT NULL,
	[OUTERRORS] [bigint] NOT NULL,
	[INUNKNOWNPROTOS] [bigint] NOT NULL,
	[HCINMCAST] [bigint] NOT NULL,
	[HCOUTMCAST] [bigint] NOT NULL,
	[HCINBCAST] [bigint] NOT NULL,
	[HCOUTBCAST] [bigint] NOT NULL,
 CONSTRAINT [IFHCRAW_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [DELTATIME]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [INOCTETS]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [OUTOCTETS]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [INUCAST]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [OUTUCAST]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [INDISCARDS]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [OUTDISCARDS]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [INERRORS]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [OUTERRORS]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [INUNKNOWNPROTOS]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [HCINMCAST]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [HCOUTMCAST]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [HCINBCAST]
GO
ALTER TABLE [dbo].[IFHCRAW] ADD  DEFAULT ('0') FOR [HCOUTBCAST]
GO
