USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic100TapeLibrary]    Script Date: 6/29/2019 5:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic100TapeLibrary](
	[DEVICE_ID] [bigint] NOT NULL,
	[RMU_VERSION] [varchar](250) NOT NULL,
	[STARTUP_STATE] [varchar](250) NOT NULL,
	[SHUTDOWN_STATE] [varchar](250) NOT NULL,
	[SERVICE_ACTION_CODE] [varchar](250) NOT NULL,
	[ERROR_MESSAGE] [varchar](250) NOT NULL,
	[NUM_MOVERS] [varchar](250) NOT NULL,
	[NUM_PARTITIONS] [varchar](250) NOT NULL,
 CONSTRAINT [ADIC100TAPELIBRARY_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_967157042]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_967157042] ON [dbo].[Adic100TapeLibrary]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic100TapeLibrary]  WITH CHECK ADD  CONSTRAINT [ADIC100TAPELIBRARY_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic100TapeLibrary] CHECK CONSTRAINT [ADIC100TAPELIBRARY_FK1]
GO
