USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[H3CDevice]    Script Date: 6/29/2019 5:48:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H3CDevice](
	[RESOURCEID] [bigint] NOT NULL,
	[BOOTROMVERSION] [varchar](15) NOT NULL,
	[DRAMSIZE] [varchar](15) NOT NULL,
	[FLASHRAMSIZE] [varchar](15) NOT NULL,
	[HARDWAREVERSION] [varchar](15) NOT NULL,
 CONSTRAINT [H3CDevice_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_981380475]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_981380475] ON [dbo].[H3CDevice]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[H3CDevice] ADD  DEFAULT ('Not Available') FOR [BOOTROMVERSION]
GO
ALTER TABLE [dbo].[H3CDevice] ADD  DEFAULT ('Not Available') FOR [DRAMSIZE]
GO
ALTER TABLE [dbo].[H3CDevice] ADD  DEFAULT ('Not Available') FOR [FLASHRAMSIZE]
GO
ALTER TABLE [dbo].[H3CDevice] ADD  DEFAULT ('Not Available') FOR [HARDWAREVERSION]
GO
ALTER TABLE [dbo].[H3CDevice]  WITH CHECK ADD  CONSTRAINT [H3CDevice_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[H3CDevice] CHECK CONSTRAINT [H3CDevice_FK1]
GO
