USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorEdge6120Controller]    Script Date: 6/29/2019 5:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorEdge6120Controller](
	[RAID_DEVICE_ID] [bigint] NOT NULL,
	[CNTLR_DEVICE_ID] [bigint] NOT NULL,
	[CNTLR_NAME] [varchar](250) NULL,
	[CNTLR_ELT_NAME] [varchar](250) NULL,
	[NAME_FORMAT] [varchar](250) NULL,
	[DEDICATED] [varchar](250) NULL,
	[ROLES] [varchar](250) NULL,
	[CAPTION] [varchar](250) NULL,
	[STATUS] [varchar](250) NULL,
	[STATUS_DESCR] [varchar](250) NULL,
	[CTLR_ID] [varchar](250) NULL,
 CONSTRAINT [StorEdge6120Controller_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_DEVICE_ID] ASC,
	[CNTLR_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1480966467]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1480966467] ON [dbo].[StorEdge6120Controller]
(
	[RAID_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorEdge6120Controller]  WITH CHECK ADD  CONSTRAINT [StorEdge6120Controller_FK1] FOREIGN KEY([RAID_DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[StorEdge6120Controller] CHECK CONSTRAINT [StorEdge6120Controller_FK1]
GO
