USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ExcludeRule]    Script Date: 6/29/2019 5:47:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcludeRule](
	[CRIT_ID] [bigint] NOT NULL,
	[CRITERIA_NAME] [nvarchar](100) NOT NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[ENABLE] [bit] NOT NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
 CONSTRAINT [ExcludeCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[CRIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExcludeRule] ADD  DEFAULT ((1)) FOR [ENABLE]
GO
