USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCMAvaConditions]    Script Date: 6/29/2019 5:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCMAvaConditions](
	[CONDITION_ID] [int] NOT NULL,
	[CONDITION_NAME] [varchar](100) NOT NULL,
	[DISPLAY_NAME] [varchar](50) NOT NULL,
	[DISPLAY_ORDER] [int] NOT NULL,
 CONSTRAINT [NCMCMAvaConditions_PK] PRIMARY KEY CLUSTERED 
(
	[CONDITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
