USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EVARaidDiskEnclosure]    Script Date: 6/29/2019 5:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVARaidDiskEnclosure](
	[DEVICE_ID] [bigint] NOT NULL,
	[ENCLOSURE_NAME] [varchar](250) NOT NULL,
	[SHELF_ID] [varchar](250) NULL,
	[CABINET_SLOTID] [varchar](250) NULL,
	[CABINET_ID] [varchar](250) NULL,
	[LOOP_PAIR] [varchar](250) NULL,
	[EMU_OPERSTATE] [varchar](250) NULL,
	[EMU_FIRMWAREVERSION] [varchar](250) NULL,
	[PS_1_OPERSTATE] [varchar](250) NULL,
	[PS_1_FAILUREPREDICTED] [varchar](250) NULL,
	[PS_2_OPERSTATE] [varchar](250) NULL,
	[PS_2_FAILUREPREDICTED] [varchar](250) NULL,
 CONSTRAINT [EVARAIDDISKENCLOSURE_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[ENCLOSURE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1926960936]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1926960936] ON [dbo].[EVARaidDiskEnclosure]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EVARaidDiskEnclosure]  WITH CHECK ADD  CONSTRAINT [EVARAIDDISKENCLOSURE_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[HPEVARaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EVARaidDiskEnclosure] CHECK CONSTRAINT [EVARAIDDISKENCLOSURE_FK1]
GO
