USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WakeUpNow]    Script Date: 6/29/2019 5:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WakeUpNow](
	[RESOURCEID] [bigint] NOT NULL,
	[UNAME] [varchar](100) NOT NULL,
	[ADDEDTIME] [datetime] NULL,
	[STATUS] [int] NOT NULL,
	[LAST_SCAN_TIME] [datetime] NULL,
 CONSTRAINT [WakeUpNow_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC,
	[UNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_619502244]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_619502244] ON [dbo].[WakeUpNow]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_619502245]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_619502245] ON [dbo].[WakeUpNow]
(
	[UNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WakeUpNow] ADD  DEFAULT ('2') FOR [STATUS]
GO
ALTER TABLE [dbo].[WakeUpNow]  WITH CHECK ADD  CONSTRAINT [WakeUpNow_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[OpUtilsResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[WakeUpNow] CHECK CONSTRAINT [WakeUpNow_FK1]
GO
ALTER TABLE [dbo].[WakeUpNow]  WITH CHECK ADD  CONSTRAINT [WakeUpNow_FK2] FOREIGN KEY([UNAME])
REFERENCES [dbo].[OpUser] ([NAME])
GO
ALTER TABLE [dbo].[WakeUpNow] CHECK CONSTRAINT [WakeUpNow_FK2]
GO
