USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STKSL8500TapeDrive]    Script Date: 6/29/2019 5:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STKSL8500TapeDrive](
	[DEVICE_ID] [bigint] NOT NULL,
	[WWN] [varchar](250) NOT NULL,
	[VERSION] [varchar](250) NOT NULL,
 CONSTRAINT [STKSL8500TapeDrive_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_149335701]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_149335701] ON [dbo].[STKSL8500TapeDrive]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STKSL8500TapeDrive]  WITH CHECK ADD  CONSTRAINT [STKSL8500TapeDrive_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STKSL8500TapeDrive] CHECK CONSTRAINT [STKSL8500TapeDrive_FK1]
GO
