USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMConfigUpload]    Script Date: 6/29/2019 5:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMConfigUpload](
	[EXECUTION_ID] [bigint] NOT NULL,
	[TEMPLATE_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [NCMConfigUpload_PK] PRIMARY KEY CLUSTERED 
(
	[EXECUTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__331670776]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__331670776] ON [dbo].[NCMConfigUpload]
(
	[EXECUTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMConfigUpload]  WITH CHECK ADD  CONSTRAINT [NCMConfigUpload_FK1] FOREIGN KEY([EXECUTION_ID])
REFERENCES [dbo].[NCMBulkExecution] ([EXECUTION_ID])
GO
ALTER TABLE [dbo].[NCMConfigUpload] CHECK CONSTRAINT [NCMConfigUpload_FK1]
GO
