USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpCommunity]    Script Date: 6/29/2019 5:51:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpCommunity](
	[ID] [bigint] NOT NULL,
	[COMMUNITY] [varchar](60) NOT NULL,
 CONSTRAINT [SnmpCommunity_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COMMUNITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_929646072]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_929646072] ON [dbo].[SnmpCommunity]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnmpCommunity]  WITH CHECK ADD  CONSTRAINT [SnmpCommunity_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[Settings] ([ID])
GO
ALTER TABLE [dbo].[SnmpCommunity] CHECK CONSTRAINT [SnmpCommunity_FK1]
GO
