USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaTableUpdatePermission]    Script Date: 6/29/2019 5:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaTableUpdatePermission](
	[PERMISSION_ID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](50) NOT NULL,
	[COLUMN_NAME] [varchar](50) NOT NULL,
	[UPDATE_CRITERIA] [varchar](250) NULL,
 CONSTRAINT [AaaTableUpdatePermission_PK] PRIMARY KEY CLUSTERED 
(
	[PERMISSION_ID] ASC,
	[TABLE_NAME] ASC,
	[COLUMN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1230251391]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1230251391] ON [dbo].[AaaTableUpdatePermission]
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaTableUpdatePermission]  WITH CHECK ADD  CONSTRAINT [AaaTableUpdatePermission_FK] FOREIGN KEY([PERMISSION_ID])
REFERENCES [dbo].[AaaTablePermission] ([PERMISSION_ID])
GO
ALTER TABLE [dbo].[AaaTableUpdatePermission] CHECK CONSTRAINT [AaaTableUpdatePermission_FK]
GO
