USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Bool_Expr_With_Terms]    Script Date: 6/29/2019 5:46:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bool_Expr_With_Terms](
	[BOOLEAN_EXPRESSION_ID] [bigint] NOT NULL,
	[TERM_CONJUG_OPERATOR] [int] NOT NULL,
 CONSTRAINT [Bool_Expr_With_Terms_PK] PRIMARY KEY CLUSTERED 
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__199932799]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__199932799] ON [dbo].[Bool_Expr_With_Terms]
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bool_Expr_With_Terms] ADD  DEFAULT ('21') FOR [TERM_CONJUG_OPERATOR]
GO
ALTER TABLE [dbo].[Bool_Expr_With_Terms]  WITH CHECK ADD  CONSTRAINT [Bool_Expr_With_Terms_FK] FOREIGN KEY([BOOLEAN_EXPRESSION_ID])
REFERENCES [dbo].[Boolean_Expressions] ([BOOLEAN_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Bool_Expr_With_Terms] CHECK CONSTRAINT [Bool_Expr_With_Terms_FK]
GO
