USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ALERTLOGGER]    Script Date: 6/29/2019 5:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALERTLOGGER](
	[VALUESTRING] [varchar](250) NULL
) ON [PRIMARY]
GO
