USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMComplianceReportCri]    Script Date: 6/29/2019 5:49:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMComplianceReportCri](
	[SCHEDULE_ID] [bigint] NOT NULL,
	[REPORT_CRITERIA] [varchar](50) NOT NULL,
 CONSTRAINT [NCMComplianceReportCri_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1569264544]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1569264544] ON [dbo].[NCMComplianceReportCri]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMComplianceReportCri] ADD  DEFAULT ('ALL_RULES') FOR [REPORT_CRITERIA]
GO
ALTER TABLE [dbo].[NCMComplianceReportCri]  WITH CHECK ADD  CONSTRAINT [NCMComplianceReportCri_FK1] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[Schedule] ([SCHEDULE_ID])
GO
ALTER TABLE [dbo].[NCMComplianceReportCri] CHECK CONSTRAINT [NCMComplianceReportCri_FK1]
GO
