USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Inner_Join]    Script Date: 6/29/2019 5:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inner_Join](
	[VIEW_ID] [bigint] NOT NULL,
	[IS_KEY_BASED_JOIN] [bit] NOT NULL,
 CONSTRAINT [Inner_Join_PK] PRIMARY KEY CLUSTERED 
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1307283153]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1307283153] ON [dbo].[Inner_Join]
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inner_Join] ADD  DEFAULT ((1)) FOR [IS_KEY_BASED_JOIN]
GO
ALTER TABLE [dbo].[Inner_Join]  WITH CHECK ADD  CONSTRAINT [Inner_Join_FK] FOREIGN KEY([VIEW_ID])
REFERENCES [dbo].[Views] ([VIEW_ID])
GO
ALTER TABLE [dbo].[Inner_Join] CHECK CONSTRAINT [Inner_Join_FK]
GO
