USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RULESETVSCUSTOMFIELDS]    Script Date: 6/29/2019 5:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RULESETVSCUSTOMFIELDS](
	[SETID] [bigint] NULL,
	[RULEID] [bigint] NOT NULL,
 CONSTRAINT [RULESETVSCUSTOMFIELDS_PK2] PRIMARY KEY CLUSTERED 
(
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [RULESETVSCUSTOMFIELDS_PK1] UNIQUE NONCLUSTERED 
(
	[SETID] ASC,
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1122606778]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1122606778] ON [dbo].[RULESETVSCUSTOMFIELDS]
(
	[SETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1122606779]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1122606779] ON [dbo].[RULESETVSCUSTOMFIELDS]
(
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RULESETVSCUSTOMFIELDS]  WITH CHECK ADD  CONSTRAINT [RULESETVSCUSTOMFIELDS_FK1] FOREIGN KEY([SETID])
REFERENCES [dbo].[RULESET] ([SETID])
GO
ALTER TABLE [dbo].[RULESETVSCUSTOMFIELDS] CHECK CONSTRAINT [RULESETVSCUSTOMFIELDS_FK1]
GO
ALTER TABLE [dbo].[RULESETVSCUSTOMFIELDS]  WITH CHECK ADD  CONSTRAINT [RULESETVSCUSTOMFIELDS_FK2] FOREIGN KEY([RULEID])
REFERENCES [dbo].[CUSTOMFIELDRULEDEFINITION] ([RULEID])
GO
ALTER TABLE [dbo].[RULESETVSCUSTOMFIELDS] CHECK CONSTRAINT [RULESETVSCUSTOMFIELDS_FK2]
GO
