USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SoftwareScan]    Script Date: 6/29/2019 5:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoftwareScan](
	[ID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[SNAME] [varchar](50) NULL,
	[SOFTWARE_NAME] [varchar](200) NULL,
	[DOFINSTAL] [datetime] NULL,
	[TYPE] [varchar](50) NULL,
 CONSTRAINT [SoftwareScan_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1055257138]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1055257138] ON [dbo].[SoftwareScan]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SoftwareScan] ADD  DEFAULT ('admin') FOR [NAME]
GO
ALTER TABLE [dbo].[SoftwareScan]  WITH CHECK ADD  CONSTRAINT [SoftwareScan_FK2] FOREIGN KEY([NAME])
REFERENCES [dbo].[OpUser] ([NAME])
GO
ALTER TABLE [dbo].[SoftwareScan] CHECK CONSTRAINT [SoftwareScan_FK2]
GO
