USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WMIQUERYREQUESTDETAILS]    Script Date: 6/29/2019 5:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WMIQUERYREQUESTDETAILS](
	[AGENT_REQUEST_ID] [bigint] NOT NULL,
	[WMIQUERY] [varchar](4000) NOT NULL,
	[MONITOR_NAME] [varchar](200) NOT NULL,
	[NAME_SPACE] [varchar](200) NULL,
 CONSTRAINT [WMIQUERYREQUESTDETAILS_PK1] PRIMARY KEY CLUSTERED 
(
	[AGENT_REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_663470005]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_663470005] ON [dbo].[WMIQUERYREQUESTDETAILS]
(
	[AGENT_REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WMIQUERYREQUESTDETAILS]  WITH CHECK ADD  CONSTRAINT [WMIQUERYREQUESTDETAILS_FK1] FOREIGN KEY([AGENT_REQUEST_ID])
REFERENCES [dbo].[AGENTREQUESTDETAILS] ([AGENT_REQUEST_ID])
GO
ALTER TABLE [dbo].[WMIQUERYREQUESTDETAILS] CHECK CONSTRAINT [WMIQUERYREQUESTDETAILS_FK1]
GO
