USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Router_SnmpScan_Map]    Script Date: 6/29/2019 5:51:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Router_SnmpScan_Map](
	[ID] [int] NOT NULL,
	[INTERFACE_ID] [int] NOT NULL,
	[TASK_ID] [bigint] NOT NULL,
	[STATUS] [varchar](255) NOT NULL,
 CONSTRAINT [Router_SnmpScan_Map_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1640593002]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1640593002] ON [dbo].[Router_SnmpScan_Map]
(
	[INTERFACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_681224539]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_681224539] ON [dbo].[Router_SnmpScan_Map]
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Router_SnmpScan_Map] ADD  DEFAULT ('0') FOR [INTERFACE_ID]
GO
ALTER TABLE [dbo].[Router_SnmpScan_Map] ADD  DEFAULT ('0') FOR [TASK_ID]
GO
ALTER TABLE [dbo].[Router_SnmpScan_Map]  WITH CHECK ADD  CONSTRAINT [Router_SnmpScan_Map_FK] FOREIGN KEY([INTERFACE_ID])
REFERENCES [dbo].[NetFlow_Interface] ([INTERFACE_ID])
GO
ALTER TABLE [dbo].[Router_SnmpScan_Map] CHECK CONSTRAINT [Router_SnmpScan_Map_FK]
GO
ALTER TABLE [dbo].[Router_SnmpScan_Map]  WITH CHECK ADD  CONSTRAINT [Router_SnmpScan_Map_FK1] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[SNMPScanStatus] ([TASK_ID])
GO
ALTER TABLE [dbo].[Router_SnmpScan_Map] CHECK CONSTRAINT [Router_SnmpScan_Map_FK1]
GO
