USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorEdgeDSPPool]    Script Date: 6/29/2019 5:51:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorEdgeDSPPool](
	[DEVICE_ID] [bigint] NOT NULL,
	[INSTANCE_ID] [varchar](250) NOT NULL,
	[ELEMENTNAME] [varchar](250) NULL,
	[POOLID] [varchar](250) NULL,
	[TOT_CAPACITY] [varchar](250) NULL,
	[FREE_CAPACITY] [varchar](250) NULL,
	[USED_CAPACITY] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[TYPE] [varchar](250) NULL,
	[PRIMORDIAL] [varchar](250) NULL,
 CONSTRAINT [StorEdgeDSPPool_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__550232183]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__550232183] ON [dbo].[StorEdgeDSPPool]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorEdgeDSPPool]  WITH CHECK ADD  CONSTRAINT [StorEdgeDSPPool_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[StorEdgeDSPPool] CHECK CONSTRAINT [StorEdgeDSPPool_FK1]
GO
