USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetworkConfiguration]    Script Date: 6/29/2019 5:49:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkConfiguration](
	[SERVICEGROUPID] [bigint] NULL,
	[INTERFACEGROUPID] [bigint] NULL,
	[TYPEGROUPNAME] [varchar](50) NULL,
	[NETTOPOIDENTIFIER] [varchar](250) NULL,
	[NAME] [varchar](250) NOT NULL,
	[WORKFLOWNAME] [varchar](250) NOT NULL,
	[NEWORKFLOWNAME] [varchar](250) NOT NULL,
	[REDISCOVERALREADYDISCOVERED] [bit] NOT NULL,
	[DISCOVERBCRESPNES] [bit] NOT NULL,
	[PERFORMBROADCAST] [bit] NOT NULL,
	[DISCOVERYSCHEDULENAME] [varchar](250) NULL,
 CONSTRAINT [NetConf_PK] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__823425771]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__823425771] ON [dbo].[NetworkConfiguration]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__823425772]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__823425772] ON [dbo].[NetworkConfiguration]
(
	[NETTOPOIDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__823425773]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__823425773] ON [dbo].[NetworkConfiguration]
(
	[TYPEGROUPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__823425774]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__823425774] ON [dbo].[NetworkConfiguration]
(
	[INTERFACEGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__823425775]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__823425775] ON [dbo].[NetworkConfiguration]
(
	[SERVICEGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_243604706]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_243604706] ON [dbo].[NetworkConfiguration]
(
	[DISCOVERYSCHEDULENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetworkConfiguration] ADD  DEFAULT ('IPNetworkDiscovery') FOR [WORKFLOWNAME]
GO
ALTER TABLE [dbo].[NetworkConfiguration] ADD  DEFAULT ('NetworkElementDiscovery') FOR [NEWORKFLOWNAME]
GO
ALTER TABLE [dbo].[NetworkConfiguration] ADD  DEFAULT ((0)) FOR [REDISCOVERALREADYDISCOVERED]
GO
ALTER TABLE [dbo].[NetworkConfiguration] ADD  DEFAULT ((0)) FOR [DISCOVERBCRESPNES]
GO
ALTER TABLE [dbo].[NetworkConfiguration] ADD  DEFAULT ((0)) FOR [PERFORMBROADCAST]
GO
ALTER TABLE [dbo].[NetworkConfiguration]  WITH CHECK ADD  CONSTRAINT [NetConf_FK10] FOREIGN KEY([DISCOVERYSCHEDULENAME])
REFERENCES [dbo].[DiscoverySchedules] ([NAME])
GO
ALTER TABLE [dbo].[NetworkConfiguration] CHECK CONSTRAINT [NetConf_FK10]
GO
ALTER TABLE [dbo].[NetworkConfiguration]  WITH CHECK ADD  CONSTRAINT [NetConf_FK4] FOREIGN KEY([SERVICEGROUPID])
REFERENCES [dbo].[ServiceGroup] ([SERVICEGROUPID])
GO
ALTER TABLE [dbo].[NetworkConfiguration] CHECK CONSTRAINT [NetConf_FK4]
GO
ALTER TABLE [dbo].[NetworkConfiguration]  WITH CHECK ADD  CONSTRAINT [NetConf_FK5] FOREIGN KEY([INTERFACEGROUPID])
REFERENCES [dbo].[InterfaceGroup] ([INTERFACEGROUPID])
GO
ALTER TABLE [dbo].[NetworkConfiguration] CHECK CONSTRAINT [NetConf_FK5]
GO
ALTER TABLE [dbo].[NetworkConfiguration]  WITH CHECK ADD  CONSTRAINT [NetConf_FK6] FOREIGN KEY([TYPEGROUPNAME])
REFERENCES [dbo].[TypeGroup] ([TYPEGROUPNAME])
GO
ALTER TABLE [dbo].[NetworkConfiguration] CHECK CONSTRAINT [NetConf_FK6]
GO
ALTER TABLE [dbo].[NetworkConfiguration]  WITH CHECK ADD  CONSTRAINT [NetConf_FK7] FOREIGN KEY([NETTOPOIDENTIFIER])
REFERENCES [dbo].[NetTopoConfiguration] ([NETTOPOIDENTIFIER])
GO
ALTER TABLE [dbo].[NetworkConfiguration] CHECK CONSTRAINT [NetConf_FK7]
GO
ALTER TABLE [dbo].[NetworkConfiguration]  WITH CHECK ADD  CONSTRAINT [NetConf_FK8] FOREIGN KEY([NAME])
REFERENCES [dbo].[DiscoveryConfiguration] ([NAME])
GO
ALTER TABLE [dbo].[NetworkConfiguration] CHECK CONSTRAINT [NetConf_FK8]
GO
