USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataCollectionRate]    Script Date: 6/29/2019 5:46:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataCollectionRate](
	[ID] [bigint] NOT NULL,
	[PROTOCOL] [varchar](100) NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[EXPECTEDPOLLS] [int] NOT NULL,
	[SUCCESSCOUNT] [int] NOT NULL,
	[FAILURECOUNT] [int] NOT NULL,
	[NOTPOLLEDCOUNT] [int] NOT NULL,
	[ACTUALPOLLS] [int] NOT NULL,
	[REMARKS] [varchar](4000) NULL,
 CONSTRAINT [DataCollectionRate_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
