USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LAYER2VISUALPROPS]    Script Date: 6/29/2019 5:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAYER2VISUALPROPS](
	[MAPID] [bigint] NOT NULL,
	[LAYOUT] [varchar](25) NOT NULL,
	[RADIALRADIUS] [int] NOT NULL,
	[BALLOONRADIUS] [int] NOT NULL,
	[ORIENTATION] [varchar](25) NOT NULL,
	[DEPTHSPACE] [int] NOT NULL,
	[SIBLINGSPACE] [int] NOT NULL,
	[SUBTREESPACE] [int] NOT NULL,
 CONSTRAINT [LAYER2VISUALPROPS_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1355132747]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1355132747] ON [dbo].[LAYER2VISUALPROPS]
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LAYER2VISUALPROPS]  WITH CHECK ADD  CONSTRAINT [LAYER2VISUALPROPS_FK] FOREIGN KEY([MAPID])
REFERENCES [dbo].[LAYER2CONFIGURATION] ([MAPID])
GO
ALTER TABLE [dbo].[LAYER2VISUALPROPS] CHECK CONSTRAINT [LAYER2VISUALPROPS_FK]
GO
