USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PureStorageVolume]    Script Date: 6/29/2019 5:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PureStorageVolume](
	[RAID_ID] [bigint] NOT NULL,
	[VOLUME_MO_ID] [bigint] NOT NULL,
	[VOLUME_NAME] [varchar](250) NULL,
	[VOLUME_SOURCE] [varchar](250) NULL,
	[CREATED_DATE] [varchar](250) NULL,
	[SERIAL_NUMBER] [varchar](250) NULL,
 CONSTRAINT [PureStorageVolume_PK] PRIMARY KEY CLUSTERED 
(
	[VOLUME_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_686373386]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_686373386] ON [dbo].[PureStorageVolume]
(
	[VOLUME_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PureStorageVolume]  WITH CHECK ADD  CONSTRAINT [PureStorageVolume_FK1] FOREIGN KEY([VOLUME_MO_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PureStorageVolume] CHECK CONSTRAINT [PureStorageVolume_FK1]
GO
