USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PromiseDiskArray]    Script Date: 6/29/2019 5:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromiseDiskArray](
	[RAID_ID] [bigint] NOT NULL,
	[DISK_ARRAY_INDEX] [int] NOT NULL,
	[OPERATIONAL_STATUS] [varchar](250) NOT NULL,
	[PHYSICAL_CAPACITY] [varchar](250) NOT NULL,
	[CONFIGURABLE_CAPACITY] [varchar](250) NOT NULL,
	[FREE_CAPACITY] [varchar](250) NOT NULL,
	[USED_CAPACITY] [varchar](250) NOT NULL,
	[MEDIA_PATROL_ENABLED] [varchar](250) NOT NULL,
	[PDM_ENABLED] [varchar](250) NOT NULL,
	[NO_OF_PHY_DRIVES] [int] NOT NULL,
	[NO_OF_LOGICAL_DRIVES] [int] NOT NULL,
	[WWN] [varchar](250) NOT NULL,
	[POWER_MGMT_ENABLED] [varchar](250) NOT NULL,
 CONSTRAINT [PromiseDiskArray_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[DISK_ARRAY_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_764247758]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_764247758] ON [dbo].[PromiseDiskArray]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromiseDiskArray]  WITH CHECK ADD  CONSTRAINT [PromiseDiskArray_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PromiseDiskArray] CHECK CONSTRAINT [PromiseDiskArray_FK1]
GO
