USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IndexOIDParam]    Script Date: 6/29/2019 5:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexOIDParam](
	[RecordID] [varchar](250) NOT NULL,
	[ParamIndex] [int] NOT NULL,
	[IndexName] [varchar](100) NOT NULL,
	[IndexValue] [varchar](100) NOT NULL,
 CONSTRAINT [INDEXOIDPARAM_KEY] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC,
	[ParamIndex] ASC,
	[IndexName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1226835259]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1226835259] ON [dbo].[IndexOIDParam]
(
	[ParamIndex] ASC,
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IndexOIDParam]  WITH CHECK ADD  CONSTRAINT [SNMPGETRECORD_FK] FOREIGN KEY([ParamIndex], [RecordID])
REFERENCES [dbo].[SnmpGetParam] ([ParamIndex], [RecordID])
GO
ALTER TABLE [dbo].[IndexOIDParam] CHECK CONSTRAINT [SNMPGETRECORD_FK]
GO
