USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MetaTable]    Script Date: 6/29/2019 5:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaTable](
	[ID] [bigint] NOT NULL,
	[ARCHIVETABLENAME] [varchar](100) NOT NULL,
	[LOOKUPTABLENAME] [varchar](100) NOT NULL,
	[FROMTIME] [bigint] NOT NULL,
	[ENDTIME] [bigint] NOT NULL,
	[BUILDNUMBER] [varchar](100) NOT NULL,
	[PROBEID] [bigint] NOT NULL,
	[LASTARCHIVETIME] [bigint] NOT NULL,
 CONSTRAINT [MetaTable_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MetaTable] ADD  DEFAULT ('0') FOR [PROBEID]
GO
ALTER TABLE [dbo].[MetaTable] ADD  DEFAULT ('-1') FOR [LASTARCHIVETIME]
GO
