USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Email_Task]    Script Date: 6/29/2019 5:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email_Task](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[FROM_ADDRESS_EXPR_ID] [bigint] NULL,
	[SERVER_ID] [bigint] NOT NULL,
	[MESSAGE_ID] [bigint] NOT NULL,
 CONSTRAINT [EMail_Task_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1709523017]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1709523017] ON [dbo].[Email_Task]
(
	[FROM_ADDRESS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1709523018]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1709523018] ON [dbo].[Email_Task]
(
	[MESSAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1709523019]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1709523019] ON [dbo].[Email_Task]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1468874748]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1468874748] ON [dbo].[Email_Task]
(
	[SERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Email_Task]  WITH CHECK ADD  CONSTRAINT [EMail_Task_FK] FOREIGN KEY([SERVER_ID])
REFERENCES [dbo].[Mail_Server] ([SERVER_ID])
GO
ALTER TABLE [dbo].[Email_Task] CHECK CONSTRAINT [EMail_Task_FK]
GO
ALTER TABLE [dbo].[Email_Task]  WITH CHECK ADD  CONSTRAINT [EMail_Task_FK1] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Task_Templates] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Email_Task] CHECK CONSTRAINT [EMail_Task_FK1]
GO
ALTER TABLE [dbo].[Email_Task]  WITH CHECK ADD  CONSTRAINT [EMail_Task_FK2] FOREIGN KEY([MESSAGE_ID])
REFERENCES [dbo].[Email_Message] ([MESSAGE_ID])
GO
ALTER TABLE [dbo].[Email_Task] CHECK CONSTRAINT [EMail_Task_FK2]
GO
ALTER TABLE [dbo].[Email_Task]  WITH CHECK ADD  CONSTRAINT [EMail_Task_FK3] FOREIGN KEY([FROM_ADDRESS_EXPR_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Email_Task] CHECK CONSTRAINT [EMail_Task_FK3]
GO
