USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CollectData]    Script Date: 6/29/2019 5:46:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectData](
	[RESOURCENAME] [varchar](100) NOT NULL,
	[COMPONENTNAME] [varchar](50) NOT NULL,
	[DISPLAYNAME] [varchar](100) NULL,
	[TARGETADDRESS] [varchar](50) NULL,
	[RESOURCETYPE] [varchar](50) NULL,
	[CONFIGCLASS] [varchar](100) NULL,
	[DCCLASS] [varchar](100) NULL,
	[DCXMLNAME] [varchar](50) NULL,
	[DCDTDNAME] [varchar](50) NULL,
	[ACTIVE] [varchar](10) NULL,
	[STOREDATA] [varchar](10) NULL,
	[CONFIGURED] [varchar](10) NULL,
	[POLLINTERVAL] [int] NULL,
	[APPLNDISCPORT] [int] NULL,
	[WEBNMS] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RESOURCENAME] ASC,
	[COMPONENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
