USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMVendor]    Script Date: 6/29/2019 5:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMVendor](
	[VENDORID] [bigint] NOT NULL,
	[VENDORNAME] [varchar](50) NOT NULL,
	[DISPLAYNAME] [varchar](50) NULL,
 CONSTRAINT [NCMVendor_PK] PRIMARY KEY CLUSTERED 
(
	[VENDORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMVendor_UK0] UNIQUE NONCLUSTERED 
(
	[VENDORNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
