USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STKSL8500TapeLibrary]    Script Date: 6/29/2019 5:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STKSL8500TapeLibrary](
	[DEVICE_ID] [bigint] NOT NULL,
	[LIBRARY_WWN_NO] [varchar](250) NOT NULL,
	[PORT_COUNT] [varchar](250) NOT NULL,
	[LSM_COUNT] [varchar](250) NOT NULL,
	[ROBOT_COUNT] [varchar](250) NOT NULL,
	[CAP_COUNT] [varchar](250) NOT NULL,
	[HARDWARE_VERSION] [varchar](250) NOT NULL,
	[CARD_COUNT] [varchar](250) NOT NULL,
	[TEMPSENSOR_COUNT] [varchar](250) NOT NULL,
	[FAN_COUNT] [varchar](250) NOT NULL,
	[PS_COUNT] [varchar](250) NOT NULL,
	[PTP_COUNT] [varchar](250) NOT NULL,
 CONSTRAINT [STKSL8500TapeLibrary_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_483230150]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_483230150] ON [dbo].[STKSL8500TapeLibrary]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STKSL8500TapeLibrary]  WITH CHECK ADD  CONSTRAINT [STKSL8500TapeLibrary_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STKSL8500TapeLibrary] CHECK CONSTRAINT [STKSL8500TapeLibrary_FK1]
GO
