USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMSupportedProtocol]    Script Date: 6/29/2019 5:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMSupportedProtocol](
	[DEVICETEMPLATEID] [bigint] NOT NULL,
	[PROTOCOLID] [bigint] NOT NULL,
 CONSTRAINT [NCMSupportedProtocol_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICETEMPLATEID] ASC,
	[PROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_364538715]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_364538715] ON [dbo].[NCMSupportedProtocol]
(
	[DEVICETEMPLATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_364538716]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_364538716] ON [dbo].[NCMSupportedProtocol]
(
	[PROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMSupportedProtocol]  WITH CHECK ADD  CONSTRAINT [NCMSupportedProtocol_FK1] FOREIGN KEY([DEVICETEMPLATEID])
REFERENCES [dbo].[NCMDeviceTemplate] ([DEVICETEMPLATEID])
GO
ALTER TABLE [dbo].[NCMSupportedProtocol] CHECK CONSTRAINT [NCMSupportedProtocol_FK1]
GO
ALTER TABLE [dbo].[NCMSupportedProtocol]  WITH CHECK ADD  CONSTRAINT [NCMSupportedProtocol_FK2] FOREIGN KEY([PROTOCOLID])
REFERENCES [dbo].[NCMProtocol] ([PROTOCOLID])
GO
ALTER TABLE [dbo].[NCMSupportedProtocol] CHECK CONSTRAINT [NCMSupportedProtocol_FK2]
GO
