USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DeletedInterfaces]    Script Date: 6/29/2019 5:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedInterfaces](
	[INTERFACENAME] [varchar](250) NOT NULL,
	[IFINDEX] [bigint] NOT NULL,
	[IFDESCRIPTION] [varchar](250) NULL,
	[DISPLAYNAME] [varchar](250) NULL,
	[IFSPEED] [bigint] NULL,
	[PARENTDEVICE] [varchar](250) NOT NULL,
	[IPADDRESS] [varchar](100) NULL,
	[ISSUBINTERFACE] [varchar](10) NOT NULL,
	[STATE] [varchar](250) NOT NULL,
 CONSTRAINT [DeletedInterfaces_PK] PRIMARY KEY CLUSTERED 
(
	[INTERFACENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
