USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OccamSwitch]    Script Date: 6/29/2019 5:49:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OccamSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[BOARD_NO] [varchar](100) NOT NULL,
 CONSTRAINT [OccamSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_33104956]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_33104956] ON [dbo].[OccamSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OccamSwitch] ADD  DEFAULT ('Not Available') FOR [BOARD_NO]
GO
ALTER TABLE [dbo].[OccamSwitch]  WITH CHECK ADD  CONSTRAINT [OccamSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[OccamSwitch] CHECK CONSTRAINT [OccamSwitch_FK1]
GO
