USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IPNetwork]    Script Date: 6/29/2019 5:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPNetwork](
	[RESOURCEID] [bigint] NOT NULL,
	[DHCPENABLED] [bit] NOT NULL,
	[SUBNETMASKID] [bigint] NULL,
 CONSTRAINT [IPNetwork_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1520632532]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1520632532] ON [dbo].[IPNetwork]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1520632533]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1520632533] ON [dbo].[IPNetwork]
(
	[SUBNETMASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IPNetwork] ADD  DEFAULT ((0)) FOR [DHCPENABLED]
GO
ALTER TABLE [dbo].[IPNetwork]  WITH CHECK ADD  CONSTRAINT [IPNetwork_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[Network] ([RESOURCEID])
GO
ALTER TABLE [dbo].[IPNetwork] CHECK CONSTRAINT [IPNetwork_FK1]
GO
ALTER TABLE [dbo].[IPNetwork]  WITH CHECK ADD  CONSTRAINT [IPNetwork_FK2] FOREIGN KEY([SUBNETMASKID])
REFERENCES [dbo].[Address] ([ADDRESSID])
GO
ALTER TABLE [dbo].[IPNetwork] CHECK CONSTRAINT [IPNetwork_FK2]
GO
