USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ClariionRaidLunInfo]    Script Date: 6/29/2019 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClariionRaidLunInfo](
	[RAID_ID] [bigint] NOT NULL,
	[RAID_GROUP_NAME] [varchar](160) NOT NULL,
	[LUN_NUMBER] [varchar](160) NOT NULL,
	[LUN_NAME] [varchar](250) NOT NULL,
	[RAID_TYPE] [varchar](250) NOT NULL,
	[WWN] [varchar](250) NOT NULL,
	[CAPACITY] [varchar](250) NOT NULL,
	[STATE] [varchar](250) NOT NULL,
	[CURRENT_STATE] [varchar](250) NULL,
	[OWNER_CONTROLLER] [varchar](250) NOT NULL,
	[DEFAULT_OWNER] [varchar](250) NOT NULL,
	[CURRENT_OWNER] [varchar](250) NOT NULL,
	[DRIVE_TYPE] [varchar](250) NOT NULL,
	[IS_META_LUN] [varchar](250) NOT NULL,
	[IS_PRIVATE] [varchar](250) NOT NULL,
	[AUTO_TRESPASS] [varchar](250) NOT NULL,
	[AUTO_ASSIGN] [varchar](250) NOT NULL,
	[REBUILD_PRIORITY] [varchar](250) NOT NULL,
	[VERIFY_PRIORITY] [varchar](250) NOT NULL,
	[IS_POOL_LUN] [varchar](250) NULL,
	[USER_CAPACITY] [varchar](250) NULL,
	[CONSUMED_CAPACITY] [varchar](250) NULL,
	[EXTREME_PERFORMANCE] [varchar](250) NULL,
	[PERFORMANCE] [varchar](250) NULL,
	[STORAGE_GROUP] [varchar](250) NULL,
	[STORAGE_POOL] [varchar](250) NULL,
	[ALLOCATION_OWNER] [varchar](250) NULL,
	[CAPACITY_PERFORMANCE] [varchar](250) NULL,
	[IS_FAULTED] [varchar](250) NULL,
 CONSTRAINT [CLARIIONRAIDLUNINFO_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[RAID_GROUP_NAME] ASC,
	[LUN_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__134019939]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__134019939] ON [dbo].[ClariionRaidLunInfo]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClariionRaidLunInfo]  WITH CHECK ADD  CONSTRAINT [CLARIIONRAIDLUNINFO_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ClariionRaidLunInfo] CHECK CONSTRAINT [CLARIIONRAIDLUNINFO_FK1]
GO
