USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DefaultDashboards]    Script Date: 6/29/2019 5:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefaultDashboards](
	[DASHBOARDID] [bigint] NOT NULL,
 CONSTRAINT [DefaultDashboards_PK] PRIMARY KEY CLUSTERED 
(
	[DASHBOARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1589064531]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1589064531] ON [dbo].[DefaultDashboards]
(
	[DASHBOARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DefaultDashboards]  WITH CHECK ADD  CONSTRAINT [DefaultDashboards_FK1] FOREIGN KEY([DASHBOARDID])
REFERENCES [dbo].[Dashboard] ([DASHBOARDID])
GO
ALTER TABLE [dbo].[DefaultDashboards] CHECK CONSTRAINT [DefaultDashboards_FK1]
GO
