USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RuleDetails]    Script Date: 6/29/2019 5:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleDetails](
	[RULEID] [bigint] NOT NULL,
	[RID] [bigint] NOT NULL,
	[POLICYID] [bigint] NOT NULL,
	[RULENAME] [nvarchar](250) NOT NULL,
	[RULE_SRC] [ntext] NULL,
	[DETAILED_SRC] [ntext] NULL,
	[SRCID_RANGE] [ntext] NULL,
	[RULE_DST] [ntext] NULL,
	[DETAILED_DST] [ntext] NULL,
	[DSTID_RANGE] [ntext] NULL,
	[SRC_INT] [nvarchar](2000) NULL,
	[DST_INT] [nvarchar](2000) NULL,
	[SERVICE] [ntext] NULL,
	[DETAILED_SERVICE] [ntext] NULL,
	[LOG] [nvarchar](500) NULL,
	[ACTION] [nvarchar](100) NULL,
	[RULE_STATUS] [nvarchar](10) NULL,
	[DIRECTION] [nvarchar](50) NULL,
	[AUTHETICATION] [nvarchar](1000) NULL,
	[NAT] [nvarchar](10) NULL,
	[UTM] [nvarchar](500) NULL,
	[SCHEDULE] [nvarchar](500) NULL,
	[SCHEDULE_TIMEOUT] [nvarchar](20) NULL,
	[TRAFFIC_SHAPER] [nvarchar](50) NULL,
	[COMMENTS] [nvarchar](1000) NULL,
	[USER_GROUP] [ntext] NULL,
	[IS_ENCRYPTED] [nvarchar](10) NULL,
	[RULE_TYPE] [varchar](20) NULL,
	[LOG_LEVEL] [varchar](20) NULL,
	[LOG_INTERVAL] [varchar](10) NULL,
	[URL] [varchar](2000) NULL,
	[INTERFACE] [varchar](500) NULL,
	[PROTOCOL] [ntext] NULL,
	[SRC_ZONE] [nvarchar](1000) NULL,
	[DST_ZONE] [nvarchar](1000) NULL,
	[PORT_INFO] [ntext] NULL,
	[CHECKLIST_SERVICE] [nvarchar](1000) NULL,
	[GROUPED_SRCID] [ntext] NULL,
	[GROUPED_DSTID] [ntext] NULL,
	[GROUPED_PORTS] [ntext] NULL,
	[UNRESOLVED_SERVICES] [ntext] NULL,
	[UNRESOLVED_OBJECTS] [ntext] NULL,
	[ANY_SRC] [bit] NULL,
	[ANY_DST] [bit] NULL,
	[ANY_SERVICE] [bit] NULL,
	[IS_UNRESOLVED_DATA] [bit] NULL,
	[APPLICATION] [nvarchar](2000) NULL,
	[DETAILED_APPLICATION] [ntext] NULL,
	[UNRESOLVED_APPLICATIONS] [ntext] NULL,
	[RULE_NUMBER] [bigint] NOT NULL,
 CONSTRAINT [RuleDetails_PK] PRIMARY KEY CLUSTERED 
(
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1790307372]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1790307372] ON [dbo].[RuleDetails]
(
	[POLICYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1790307373]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1790307373] ON [dbo].[RuleDetails]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RuleDetails] ADD  DEFAULT ((0)) FOR [ANY_SRC]
GO
ALTER TABLE [dbo].[RuleDetails] ADD  DEFAULT ((0)) FOR [ANY_DST]
GO
ALTER TABLE [dbo].[RuleDetails] ADD  DEFAULT ((0)) FOR [ANY_SERVICE]
GO
ALTER TABLE [dbo].[RuleDetails] ADD  DEFAULT ((0)) FOR [IS_UNRESOLVED_DATA]
GO
ALTER TABLE [dbo].[RuleDetails] ADD  DEFAULT ('0') FOR [RULE_NUMBER]
GO
ALTER TABLE [dbo].[RuleDetails]  WITH CHECK ADD  CONSTRAINT [RuleDetails_FK1] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[RuleDetails] CHECK CONSTRAINT [RuleDetails_FK1]
GO
ALTER TABLE [dbo].[RuleDetails]  WITH CHECK ADD  CONSTRAINT [RuleDetails_FK2] FOREIGN KEY([POLICYID])
REFERENCES [dbo].[PolicyDetails] ([POLICYID])
GO
ALTER TABLE [dbo].[RuleDetails] CHECK CONSTRAINT [RuleDetails_FK2]
GO
