USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaOrganization]    Script Date: 6/29/2019 5:45:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaOrganization](
	[ORG_ID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[CREATEDTIME] [bigint] NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
 CONSTRAINT [AaaOrganization_PK] PRIMARY KEY CLUSTERED 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AaaOrganization_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaOrganization] ADD  DEFAULT ('No Description') FOR [DESCRIPTION]
GO
