USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Fk_Paths]    Script Date: 6/29/2019 5:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fk_Paths](
	[PATH_ID] [bigint] NOT NULL,
	[PATH_ORIGIN_TABLE] [varchar](30) NOT NULL,
	[PATH_DESTINATION_TABLE] [varchar](30) NOT NULL,
	[PATH_LENGTH] [int] NOT NULL,
 CONSTRAINT [Fk_Paths_PK] PRIMARY KEY CLUSTERED 
(
	[PATH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
