USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CelerraStorageExtent]    Script Date: 6/29/2019 5:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CelerraStorageExtent](
	[RAID_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[NO_SINGLE_POINT_OF_FILURE] [bit] NOT NULL,
	[OPERATIONAL_STATUS] [varchar](250) NOT NULL,
	[TOTAL_CAPACITY] [varchar](250) NOT NULL,
	[USED_CAPACITY] [varchar](250) NOT NULL,
	[FREE_CAPACITY] [varchar](250) NOT NULL,
	[PRIMORDIAL] [bit] NOT NULL,
 CONSTRAINT [CelerraStorageExtent_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1398945836]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1398945836] ON [dbo].[CelerraStorageExtent]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CelerraStorageExtent]  WITH CHECK ADD  CONSTRAINT [CelerraStorageExtent_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[CelerraStorageExtent] CHECK CONSTRAINT [CelerraStorageExtent_FK1]
GO
