USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MigrationDataID]    Script Date: 6/29/2019 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MigrationDataID](
	[ID] [bigint] NOT NULL,
	[TYPE] [varchar](250) NULL,
 CONSTRAINT [MigrationDataID_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
