USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourceRGroupMap]    Script Date: 6/29/2019 5:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourceRGroupMap](
	[RESOURCE_RULEGROUP_ID] [bigint] NOT NULL,
	[RESOURCE_POLICY_ID] [bigint] NOT NULL,
	[COMPRULEGROUP_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMResourceRGroupMap_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCE_RULEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1846951158]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1846951158] ON [dbo].[NCMResourceRGroupMap]
(
	[RESOURCE_POLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1846951159]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1846951159] ON [dbo].[NCMResourceRGroupMap]
(
	[COMPRULEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourceRGroupMap]  WITH CHECK ADD  CONSTRAINT [NCMResourceRGroupMap_FK1] FOREIGN KEY([RESOURCE_POLICY_ID])
REFERENCES [dbo].[NCMResourcePolicyMap] ([RESOURCE_POLICY_ID])
GO
ALTER TABLE [dbo].[NCMResourceRGroupMap] CHECK CONSTRAINT [NCMResourceRGroupMap_FK1]
GO
ALTER TABLE [dbo].[NCMResourceRGroupMap]  WITH CHECK ADD  CONSTRAINT [NCMResourceRGroupMap_FK2] FOREIGN KEY([COMPRULEGROUP_ID])
REFERENCES [dbo].[NCMCompRuleGroup] ([COMPRULEGROUP_ID])
GO
ALTER TABLE [dbo].[NCMResourceRGroupMap] CHECK CONSTRAINT [NCMResourceRGroupMap_FK2]
GO
