USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMV_EventLog]    Script Date: 6/29/2019 5:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMV_EventLog](
	[RAID_ID] [bigint] NOT NULL,
	[SEQUENCE_NUMBER] [varchar](250) NOT NULL,
	[LAST_TIME_UPDATED] [varchar](250) NULL,
	[OBJECT_TYPE] [varchar](250) NULL,
	[OBJECT_ID] [varchar](250) NULL,
	[OBJECT_NAME] [varchar](250) NULL,
	[COPY_ID] [varchar](250) NULL,
	[STATUS] [varchar](250) NULL,
	[FIXED] [varchar](250) NULL,
	[EVENT_ID] [varchar](250) NOT NULL,
	[ERROR_CODE] [varchar](250) NULL,
	[DESCRIPTION] [varchar](1000) NULL,
 CONSTRAINT [IBMV_EventLog_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[SEQUENCE_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__428051116]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__428051116] ON [dbo].[IBMV_EventLog]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMV_EventLog]  WITH CHECK ADD  CONSTRAINT [IBMV_EventLog_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMV_EventLog] CHECK CONSTRAINT [IBMV_EventLog_FK1]
GO
