USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPTLSCSIProtocolController]    Script Date: 6/29/2019 5:48:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPTLSCSIProtocolController](
	[DEVICE_ID] [bigint] NOT NULL,
	[SCSI_DEVICEID] [varchar](250) NOT NULL,
	[SCSI_IDX] [int] NULL,
	[SCSI_NAME] [varchar](250) NULL,
	[SCSI_ELMT_NAME] [varchar](250) NULL,
	[SCSI_DEV_NUM] [varchar](250) NULL,
	[SCSI_UNITS_CNTLED] [int] NULL,
	[SCSI_OPERSTATUS] [varchar](250) NULL,
 CONSTRAINT [HPTLSCSIProtocolController_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[SCSI_DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__770227353]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__770227353] ON [dbo].[HPTLSCSIProtocolController]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPTLSCSIProtocolController]  WITH CHECK ADD  CONSTRAINT [HPTLSCSIProtocolController_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPTLSCSIProtocolController] CHECK CONSTRAINT [HPTLSCSIProtocolController_FK1]
GO
