USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PromiseRaidControllerPort]    Script Date: 6/29/2019 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromiseRaidControllerPort](
	[CONTROLLER_ID] [bigint] NOT NULL,
	[PORT_ID] [int] NOT NULL,
	[CHANNEL_INDEX] [varchar](250) NOT NULL,
	[SAS_PORT_ADDRESS] [varchar](250) NOT NULL,
	[CABLE_SIGNAL_STRENGTH] [varchar](250) NOT NULL,
 CONSTRAINT [PromiseRaidControllerPort_PK] PRIMARY KEY CLUSTERED 
(
	[CONTROLLER_ID] ASC,
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1714770703]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1714770703] ON [dbo].[PromiseRaidControllerPort]
(
	[CONTROLLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromiseRaidControllerPort]  WITH CHECK ADD  CONSTRAINT [PromiseRaidControllerPort_FK1] FOREIGN KEY([CONTROLLER_ID])
REFERENCES [dbo].[RaidController] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PromiseRaidControllerPort] CHECK CONSTRAINT [PromiseRaidControllerPort_FK1]
GO
