USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMSGatewayTypes]    Script Date: 6/29/2019 5:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSGatewayTypes](
	[GATEWAYTYPEID] [int] NOT NULL,
	[GATEWAYTYPE] [varchar](50) NULL,
 CONSTRAINT [SMSGatewayTypes_PK] PRIMARY KEY CLUSTERED 
(
	[GATEWAYTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SMSGatewayTypes_UK1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [SMSGatewayTypes_UK1] ON [dbo].[SMSGatewayTypes]
(
	[GATEWAYTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
