USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReorderStatus]    Script Date: 6/29/2019 5:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReorderStatus](
	[RID] [bigint] NOT NULL,
	[LAST_UPDATED_ON] [datetime] NULL,
	[START_DATE] [nvarchar](250) NOT NULL,
	[END_DATE] [nvarchar](250) NOT NULL,
 CONSTRAINT [ReorderStatus_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1580084631]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1580084631] ON [dbo].[ReorderStatus]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReorderStatus]  WITH CHECK ADD  CONSTRAINT [ReorderStatus_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ReorderStatus] CHECK CONSTRAINT [ReorderStatus_FK]
GO
