USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DeviceToGraphToThreshold]    Script Date: 6/29/2019 5:47:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceToGraphToThreshold](
	[DEVICEGRAPHID] [bigint] NOT NULL,
	[THRESHOLDNAME] [varchar](150) NOT NULL,
 CONSTRAINT [DeviceToGraphToThreshold_PK1] PRIMARY KEY CLUSTERED 
(
	[DEVICEGRAPHID] ASC,
	[THRESHOLDNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_815872384]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_815872384] ON [dbo].[DeviceToGraphToThreshold]
(
	[DEVICEGRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceToGraphToThreshold]  WITH CHECK ADD  CONSTRAINT [DeviceToGraphToThreshold_FK1] FOREIGN KEY([DEVICEGRAPHID])
REFERENCES [dbo].[DevicePackageToGraph] ([DEVICEGRAPHID])
GO
ALTER TABLE [dbo].[DeviceToGraphToThreshold] CHECK CONSTRAINT [DeviceToGraphToThreshold_FK1]
GO
