USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMConfigAutomationQuery]    Script Date: 6/29/2019 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMConfigAutomationQuery](
	[SCHEDULE_ID] [bigint] NOT NULL,
	[QUERYID] [bigint] NOT NULL,
 CONSTRAINT [NCMConfigAutomationQuery_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1302514747]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1302514747] ON [dbo].[NCMConfigAutomationQuery]
(
	[QUERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1302514748]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1302514748] ON [dbo].[NCMConfigAutomationQuery]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMConfigAutomationQuery]  WITH CHECK ADD  CONSTRAINT [NCMConfigAutomationQuery_FK1] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[NCMConfigAutomation] ([SCHEDULE_ID])
GO
ALTER TABLE [dbo].[NCMConfigAutomationQuery] CHECK CONSTRAINT [NCMConfigAutomationQuery_FK1]
GO
ALTER TABLE [dbo].[NCMConfigAutomationQuery]  WITH CHECK ADD  CONSTRAINT [NCMConfigAutomationQuery_FK2] FOREIGN KEY([QUERYID])
REFERENCES [dbo].[SelectQuery] ([QUERYID])
GO
ALTER TABLE [dbo].[NCMConfigAutomationQuery] CHECK CONSTRAINT [NCMConfigAutomationQuery_FK2]
GO
