USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Attach_Info]    Script Date: 6/29/2019 5:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attach_Info](
	[CONFIG_ID] [bigint] NOT NULL,
	[ATTACH_ID] [bigint] NOT NULL,
	[CHILD_ATTACH_ID] [bigint] NOT NULL,
	[INFO] [varchar](1000) NOT NULL,
 CONSTRAINT [Attach_Info_PK] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC,
	[ATTACH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1808172540]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1808172540] ON [dbo].[Attach_Info]
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attach_Info] ADD  DEFAULT ('0') FOR [ATTACH_ID]
GO
ALTER TABLE [dbo].[Attach_Info] ADD  DEFAULT ('0') FOR [CHILD_ATTACH_ID]
GO
ALTER TABLE [dbo].[Attach_Info]  WITH CHECK ADD  CONSTRAINT [Attach_Info_FK] FOREIGN KEY([CONFIG_ID])
REFERENCES [dbo].[Device_Config] ([CONFIG_ID])
GO
ALTER TABLE [dbo].[Attach_Info] CHECK CONSTRAINT [Attach_Info_FK]
GO
