USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMSProfile]    Script Date: 6/29/2019 5:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSProfile](
	[PROFILEID] [bigint] NOT NULL,
	[TOADDRESS] [varchar](500) NULL,
	[FROMADDRESS] [varchar](250) NULL,
	[MESSAGE] [varchar](4000) NULL,
	[SUBJECT] [varchar](4000) NOT NULL,
 CONSTRAINT [SMSProfile_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__454072963]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__454072963] ON [dbo].[SMSProfile]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMSProfile]  WITH CHECK ADD  CONSTRAINT [SMSProfile_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[SMSProfile] CHECK CONSTRAINT [SMSProfile_FK1]
GO
