USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FASmsSettings]    Script Date: 6/29/2019 5:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FASmsSettings](
	[SMSSETTINGSID] [bigint] NOT NULL,
	[TO_NUMBER] [nvarchar](250) NULL,
 CONSTRAINT [SmsSettings_PK] PRIMARY KEY CLUSTERED 
(
	[SMSSETTINGSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
