USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IpGroupVsWan]    Script Date: 6/29/2019 5:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpGroupVsWan](
	[PROBEID] [bigint] NOT NULL,
	[GROUPNAME] [varchar](500) NULL,
 CONSTRAINT [IpGroupVsWan_PK] PRIMARY KEY CLUSTERED 
(
	[PROBEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
