USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPMSAP2000ISCSIPort]    Script Date: 6/29/2019 5:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPMSAP2000ISCSIPort](
	[DEVICE_ID] [bigint] NOT NULL,
	[PORT_NUMBER] [int] NOT NULL,
	[PORT_NAME] [varchar](250) NOT NULL,
	[FULL_DUPLEX] [varchar](250) NULL,
	[AUTO_SENSE] [varchar](250) NULL,
	[LINK_TECH] [varchar](250) NULL,
	[PERMANANT_ADDRESS] [varchar](250) NULL,
	[NETWORK_ADDRESS] [varchar](250) NULL,
	[MAX_SPEED] [varchar](250) NULL,
 CONSTRAINT [HPMSAP2000ISCSIPort_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[PORT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__725706462]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__725706462] ON [dbo].[HPMSAP2000ISCSIPort]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPMSAP2000ISCSIPort]  WITH CHECK ADD  CONSTRAINT [HPMSAP2000ISCSIPort_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPMSAP2000ISCSIPort] CHECK CONSTRAINT [HPMSAP2000ISCSIPort_FK1]
GO
