USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 6/29/2019 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EVENT_ID] [bigint] NOT NULL,
	[CODE] [nvarchar](25) NOT NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
	[EVENTTYPE_ID] [bigint] NOT NULL,
 CONSTRAINT [Event_PK] PRIMARY KEY CLUSTERED 
(
	[EVENT_ID] ASC,
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Events_UK0] UNIQUE NONCLUSTERED 
(
	[EVENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2035676359]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2035676359] ON [dbo].[Events]
(
	[EVENTTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [Event_FK1] FOREIGN KEY([EVENTTYPE_ID])
REFERENCES [dbo].[EventTypes] ([EVENTTYPE_ID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [Event_FK1]
GO
