USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AlertEscalConfig]    Script Date: 6/29/2019 5:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertEscalConfig](
	[ID] [bigint] NOT NULL,
	[ALERT_ID] [varchar](25) NOT NULL,
	[POLL_CRI_COUNT] [int] NOT NULL,
	[FROMADDRESS] [varchar](100) NULL,
 CONSTRAINT [AlertEscalConfig_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1847181005]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1847181005] ON [dbo].[AlertEscalConfig]
(
	[ALERT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertEscalConfig] ADD  DEFAULT ('5') FOR [POLL_CRI_COUNT]
GO
ALTER TABLE [dbo].[AlertEscalConfig]  WITH CHECK ADD  CONSTRAINT [AlertEscalConfig_FK1] FOREIGN KEY([ALERT_ID])
REFERENCES [dbo].[AlertConfig] ([NAME])
GO
ALTER TABLE [dbo].[AlertEscalConfig] CHECK CONSTRAINT [AlertEscalConfig_FK1]
GO
