USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBM3584StorageMediaLocation]    Script Date: 6/29/2019 5:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBM3584StorageMediaLocation](
	[DEVICE_ID] [bigint] NOT NULL,
	[STORAGEMEDIA_INDEX] [int] NOT NULL,
	[STORAGEMEDIA_TAG] [varchar](250) NULL,
	[LOCATION_TYPE] [varchar](250) NULL,
	[LOCATION_COORDINATES] [varchar](250) NULL,
	[MEDIATYPES_SUPPORTED] [varchar](250) NULL,
	[MEDIA_CAPACITY] [int] NULL,
	[CHANGERDEV_INDEX] [int] NULL,
	[PHY_MEDIA_PRESENT] [varchar](250) NULL,
	[PHY_MEDIA_REMOVABLE] [varchar](250) NULL,
	[PHY_MEDIA_REPLACEABLE] [varchar](250) NULL,
	[PHY_MEDIA_HOTSWAPPABLE] [varchar](250) NULL,
	[PHY_MEDIA_CAPACITY] [varchar](250) NULL,
	[PHY_MEDIA_TYPE] [varchar](250) NULL,
	[PHY_MEDIA_CLEANER] [varchar](250) NULL,
	[PHY_MEDIA_DESC] [varchar](250) NULL,
	[PHY_MEDIA_DUALSIDED] [varchar](250) NULL,
	[PHY_MEDIA_LABEL] [varchar](250) NULL,
	[PHY_MEDIA_TAG] [varchar](250) NULL,
 CONSTRAINT [IBM3584StorageMediaLocation_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[STORAGEMEDIA_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1652746397]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1652746397] ON [dbo].[IBM3584StorageMediaLocation]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBM3584StorageMediaLocation]  WITH CHECK ADD  CONSTRAINT [IBM3584StorageMediaLocation_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBM3584StorageMediaLocation] CHECK CONSTRAINT [IBM3584StorageMediaLocation_FK1]
GO
