USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EqualLogicPowerSupply]    Script Date: 6/29/2019 5:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EqualLogicPowerSupply](
	[RAID_ID] [bigint] NOT NULL,
	[PS_INDEX] [varchar](250) NOT NULL,
	[PS_NAME] [varchar](250) NOT NULL,
	[PS_STATE] [varchar](250) NOT NULL,
	[PS_FAN_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [EqualLogicPowerSupply_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[PS_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__280218217]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__280218217] ON [dbo].[EqualLogicPowerSupply]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EqualLogicPowerSupply]  WITH CHECK ADD  CONSTRAINT [EqualLogicPowerSupply_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EqualLogicPowerSupply] CHECK CONSTRAINT [EqualLogicPowerSupply_FK1]
GO
