USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMIStoragePool]    Script Date: 6/29/2019 5:51:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMIStoragePool](
	[DEVICE_ID] [bigint] NOT NULL,
	[POOL_ID] [varchar](250) NOT NULL,
	[POOL_NAME] [varchar](250) NULL,
	[TOTAL_SPACE] [varchar](250) NULL,
	[REMAINING_SPACE] [varchar](250) NULL,
	[PRIMORDIAL] [varchar](250) NULL,
 CONSTRAINT [SMIStoragePool_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_7894997]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_7894997] ON [dbo].[SMIStoragePool]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMIStoragePool]  WITH CHECK ADD  CONSTRAINT [SMIStoragePool_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SMIStoragePool] CHECK CONSTRAINT [SMIStoragePool_FK1]
GO
