USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MapViewConfig]    Script Date: 6/29/2019 5:48:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapViewConfig](
	[USERID] [bigint] NOT NULL,
	[MAPNAME] [varchar](100) NOT NULL,
	[SELECTEDVIEW] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[MAPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
