USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProcessStatus]    Script Date: 6/29/2019 5:50:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessStatus](
	[ID] [bigint] NOT NULL,
	[STATUS] [int] NOT NULL,
	[STATE] [int] NOT NULL,
	[CPUSTATE] [bit] NOT NULL,
	[MEMSTATE] [bit] NOT NULL,
	[ICSTATE] [bit] NOT NULL,
	[LASTPOLLTIME] [datetime] NOT NULL,
	[CPUFAILURECOUNT] [int] NOT NULL,
	[MEMFAILURECOUNT] [int] NOT NULL,
	[ICFAILURECOUNT] [int] NOT NULL,
	[PREVSTATE] [int] NOT NULL,
 CONSTRAINT [ProcessStatus_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1375621795]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1375621795] ON [dbo].[ProcessStatus]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProcessStatus] ADD  DEFAULT ('1') FOR [PREVSTATE]
GO
ALTER TABLE [dbo].[ProcessStatus]  WITH CHECK ADD  CONSTRAINT [ProcessStatus_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[ProcessDetails] ([ID])
GO
ALTER TABLE [dbo].[ProcessStatus] CHECK CONSTRAINT [ProcessStatus_FK]
GO
