USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MEDIANET_Daily_MetaTable]    Script Date: 6/29/2019 5:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDIANET_Daily_MetaTable](
	[START_INDEX] [bigint] NOT NULL,
	[END_INDEX] [bigint] NOT NULL,
	[LOOKUP_TABLENAME] [varchar](200) NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
 CONSTRAINT [MEDIANET_Daily_MetaTable_PK] PRIMARY KEY CLUSTERED 
(
	[LOOKUP_TABLENAME] ASC,
	[START_INDEX] ASC,
	[END_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [MEDIANET_Daily_MetaTable_UK0] UNIQUE NONCLUSTERED 
(
	[LOOKUP_TABLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MEDIANET_Daily_MetaTable] ADD  DEFAULT ('-1') FOR [DEVICE_ID]
GO
