USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportSettings]    Script Date: 6/29/2019 5:50:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportSettings](
	[ID] [bigint] NOT NULL,
	[CUSTOMERID] [bigint] NULL,
 CONSTRAINT [ReportSettings_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1098869092]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1098869092] ON [dbo].[ReportSettings]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1098869093]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1098869093] ON [dbo].[ReportSettings]
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportSettings]  WITH CHECK ADD  CONSTRAINT [ReportSettings_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[ReportWidgetID] ([ID])
GO
ALTER TABLE [dbo].[ReportSettings] CHECK CONSTRAINT [ReportSettings_FK1]
GO
ALTER TABLE [dbo].[ReportSettings]  WITH CHECK ADD  CONSTRAINT [ReportSettings_FK2] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CustomerInfo] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[ReportSettings] CHECK CONSTRAINT [ReportSettings_FK2]
GO
