USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[String_Matcher_Group]    Script Date: 6/29/2019 5:52:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[String_Matcher_Group](
	[STRING_EXPR_ID] [bigint] NOT NULL,
	[BOOLEAN_REG_EXPR_ID] [bigint] NOT NULL,
	[GROUP_INDEX] [int] NOT NULL,
 CONSTRAINT [String_Matcher_Group_PK] PRIMARY KEY CLUSTERED 
(
	[STRING_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1305663872]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1305663872] ON [dbo].[String_Matcher_Group]
(
	[STRING_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_883800129]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_883800129] ON [dbo].[String_Matcher_Group]
(
	[BOOLEAN_REG_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[String_Matcher_Group]  WITH CHECK ADD  CONSTRAINT [Sting_Matcher_Group_FK1] FOREIGN KEY([BOOLEAN_REG_EXPR_ID])
REFERENCES [dbo].[Boolean_Reg_Expr] ([BOOLEAN_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[String_Matcher_Group] CHECK CONSTRAINT [Sting_Matcher_Group_FK1]
GO
ALTER TABLE [dbo].[String_Matcher_Group]  WITH CHECK ADD  CONSTRAINT [String_Matcher_Group_FK] FOREIGN KEY([STRING_EXPR_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[String_Matcher_Group] CHECK CONSTRAINT [String_Matcher_Group_FK]
GO
