USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DHCPResources]    Script Date: 6/29/2019 5:47:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHCPResources](
	[AddrInLong] [bigint] NOT NULL,
	[DHCPScopeID] [bigint] NOT NULL,
	[DHCPClientName] [varchar](200) NULL,
	[LeaseExpiryDate] [datetime] NULL,
	[DHCPClientComment] [varchar](1500) NULL,
	[DHCPClientOwner] [varchar](100) NULL,
	[ISRESERVED] [bit] NOT NULL,
	[ISLEASED] [bit] NOT NULL,
 CONSTRAINT [DHCPResources_PK] PRIMARY KEY CLUSTERED 
(
	[AddrInLong] ASC,
	[DHCPScopeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1660142209]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1660142209] ON [dbo].[DHCPResources]
(
	[DHCPScopeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DHCPResources] ADD  DEFAULT ((0)) FOR [ISRESERVED]
GO
ALTER TABLE [dbo].[DHCPResources] ADD  DEFAULT ((0)) FOR [ISLEASED]
GO
ALTER TABLE [dbo].[DHCPResources]  WITH CHECK ADD  CONSTRAINT [DHCPResources_FK1] FOREIGN KEY([DHCPScopeID])
REFERENCES [dbo].[DHCPScopes] ([DHCPScopeID])
GO
ALTER TABLE [dbo].[DHCPResources] CHECK CONSTRAINT [DHCPResources_FK1]
GO
