USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SSIDGroupAccessPointMap]    Script Date: 6/29/2019 5:51:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSIDGroupAccessPointMap](
	[SSID_GROUP_ID] [int] NOT NULL,
	[APMAC_ID] [int] NOT NULL,
 CONSTRAINT [SSIDGroupAccessPointMap_PK] PRIMARY KEY CLUSTERED 
(
	[SSID_GROUP_ID] ASC,
	[APMAC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__205325104]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__205325104] ON [dbo].[SSIDGroupAccessPointMap]
(
	[APMAC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2070110879]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2070110879] ON [dbo].[SSIDGroupAccessPointMap]
(
	[SSID_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SSIDGroupAccessPointMap]  WITH CHECK ADD  CONSTRAINT [SSIDGroupAccessPointMap_FK] FOREIGN KEY([APMAC_ID])
REFERENCES [dbo].[NetFlow_APMAC] ([APMAC_ID])
GO
ALTER TABLE [dbo].[SSIDGroupAccessPointMap] CHECK CONSTRAINT [SSIDGroupAccessPointMap_FK]
GO
ALTER TABLE [dbo].[SSIDGroupAccessPointMap]  WITH CHECK ADD  CONSTRAINT [SSIDGroupAccessPointMap_FK1] FOREIGN KEY([SSID_GROUP_ID])
REFERENCES [dbo].[SSIDGroupInfo] ([SSID_GROUP_ID])
GO
ALTER TABLE [dbo].[SSIDGroupAccessPointMap] CHECK CONSTRAINT [SSIDGroupAccessPointMap_FK1]
GO
