USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DISCOVERYRULESMAPPING]    Script Date: 6/29/2019 5:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCOVERYRULESMAPPING](
	[DTID] [bigint] NOT NULL,
	[SETID] [bigint] NOT NULL,
 CONSTRAINT [DISCOVERYRULESMAPPING_PK1] PRIMARY KEY CLUSTERED 
(
	[DTID] ASC,
	[SETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2030312107]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2030312107] ON [dbo].[DISCOVERYRULESMAPPING]
(
	[SETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2030312108]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2030312108] ON [dbo].[DISCOVERYRULESMAPPING]
(
	[DTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DISCOVERYRULESMAPPING]  WITH CHECK ADD  CONSTRAINT [DISCOVERYRULESMAPPING_FK1] FOREIGN KEY([DTID])
REFERENCES [dbo].[DISCOVERYRULESTEMPLATE] ([DTID])
GO
ALTER TABLE [dbo].[DISCOVERYRULESMAPPING] CHECK CONSTRAINT [DISCOVERYRULESMAPPING_FK1]
GO
ALTER TABLE [dbo].[DISCOVERYRULESMAPPING]  WITH CHECK ADD  CONSTRAINT [DISCOVERYRULESMAPPING_FK2] FOREIGN KEY([SETID])
REFERENCES [dbo].[RULESET] ([SETID])
GO
ALTER TABLE [dbo].[DISCOVERYRULESMAPPING] CHECK CONSTRAINT [DISCOVERYRULESMAPPING_FK2]
GO
