USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourcesConfConflict]    Script Date: 6/29/2019 5:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourcesConfConflict](
	[RESOURCEID] [bigint] NOT NULL,
	[ISCONFLICT] [bit] NOT NULL,
 CONSTRAINT [NCMResourcesConfConflict_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2089924944]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2089924944] ON [dbo].[NCMResourcesConfConflict]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourcesConfConflict] ADD  DEFAULT ((0)) FOR [ISCONFLICT]
GO
ALTER TABLE [dbo].[NCMResourcesConfConflict]  WITH CHECK ADD  CONSTRAINT [NCMResourcesConfConflict_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResourcesInfo] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMResourcesConfConflict] CHECK CONSTRAINT [NCMResourcesConfConflict_FK1]
GO
