USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiskEMCSymmetrix]    Script Date: 6/29/2019 5:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiskEMCSymmetrix](
	[DISK_ID] [bigint] NOT NULL,
	[IN_USE] [varchar](250) NULL,
	[EXTENT_ID] [varchar](250) NULL,
 CONSTRAINT [DiskEMCSymmetrix_PK] PRIMARY KEY CLUSTERED 
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_274537339]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_274537339] ON [dbo].[DiskEMCSymmetrix]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiskEMCSymmetrix]  WITH CHECK ADD  CONSTRAINT [DiskEMCSymmetrix_FK1] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[SANDiskDrive] ([DISK_ID])
GO
ALTER TABLE [dbo].[DiskEMCSymmetrix] CHECK CONSTRAINT [DiskEMCSymmetrix_FK1]
GO
