USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ArecaRaidHDDHW]    Script Date: 6/29/2019 5:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArecaRaidHDDHW](
	[DEVICE_ID] [bigint] NOT NULL,
	[HDD_INDEX] [int] NOT NULL,
	[HDD_TEMP] [int] NULL,
 CONSTRAINT [ArecaRaidHDDHW_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[HDD_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__823225112]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__823225112] ON [dbo].[ArecaRaidHDDHW]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArecaRaidHDDHW]  WITH CHECK ADD  CONSTRAINT [ArecaRaidHDDHW_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[ArecaRaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ArecaRaidHDDHW] CHECK CONSTRAINT [ArecaRaidHDDHW_FK1]
GO
