USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FunctionParams]    Script Date: 6/29/2019 5:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FunctionParams](
	[EXPRESSION_ID] [bigint] NOT NULL,
	[PARAM_INDEX] [int] NOT NULL,
	[PARAM_VALUE] [varchar](255) NULL,
	[VALUE_TYPE] [int] NOT NULL,
 CONSTRAINT [FunctionParams_PK] PRIMARY KEY CLUSTERED 
(
	[EXPRESSION_ID] ASC,
	[PARAM_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1501242347]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1501242347] ON [dbo].[FunctionParams]
(
	[EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FunctionParams]  WITH CHECK ADD  CONSTRAINT [FunctionParams_FK1] FOREIGN KEY([EXPRESSION_ID])
REFERENCES [dbo].[Expression] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[FunctionParams] CHECK CONSTRAINT [FunctionParams_FK1]
GO
