USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TrapezeWLANController]    Script Date: 6/29/2019 5:52:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrapezeWLANController](
	[RESOURCEID] [bigint] NOT NULL,
	[MAINBOARD] [varchar](100) NOT NULL,
	[SERIAL_NUMBER] [varchar](100) NOT NULL,
	[FLASH] [varchar](100) NOT NULL,
	[KERNEL] [varchar](100) NOT NULL,
	[BOOTLOADER] [varchar](100) NOT NULL,
 CONSTRAINT [TrapezeWLANController_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1383274386]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1383274386] ON [dbo].[TrapezeWLANController]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TrapezeWLANController] ADD  DEFAULT ('Not Available') FOR [MAINBOARD]
GO
ALTER TABLE [dbo].[TrapezeWLANController] ADD  DEFAULT ('Not Available') FOR [SERIAL_NUMBER]
GO
ALTER TABLE [dbo].[TrapezeWLANController] ADD  DEFAULT ('Not Available') FOR [FLASH]
GO
ALTER TABLE [dbo].[TrapezeWLANController] ADD  DEFAULT ('Not Available') FOR [KERNEL]
GO
ALTER TABLE [dbo].[TrapezeWLANController] ADD  DEFAULT ('Not Available') FOR [BOOTLOADER]
GO
ALTER TABLE [dbo].[TrapezeWLANController]  WITH CHECK ADD  CONSTRAINT [TrapezeWLANController_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[TrapezeWLANController] CHECK CONSTRAINT [TrapezeWLANController_FK1]
GO
