USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[JuniperLoadBalancer]    Script Date: 6/29/2019 5:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JuniperLoadBalancer](
	[RESOURCEID] [bigint] NOT NULL,
	[DX_VERSION] [varchar](150) NOT NULL,
 CONSTRAINT [JuniperLoadBalancer_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__404078976]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__404078976] ON [dbo].[JuniperLoadBalancer]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JuniperLoadBalancer] ADD  DEFAULT ('Not Available') FOR [DX_VERSION]
GO
ALTER TABLE [dbo].[JuniperLoadBalancer]  WITH CHECK ADD  CONSTRAINT [JuniperLoadBalancer_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[JuniperLoadBalancer] CHECK CONSTRAINT [JuniperLoadBalancer_FK1]
GO
