USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HRDetails]    Script Date: 6/29/2019 5:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRDetails](
	[AGENT_ID] [bigint] NOT NULL,
	[AGENTNAME] [varchar](100) NOT NULL,
	[TYPE] [varchar](50) NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varbinary](max) NULL,
 CONSTRAINT [HRDetails_PK] PRIMARY KEY CLUSTERED 
(
	[AGENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [HRDetails1_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [HRDetails1_ndx] ON [dbo].[HRDetails]
(
	[AGENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
