USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMConfigFileFormat]    Script Date: 6/29/2019 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMConfigFileFormat](
	[NCMCONFIGFILEPARAMSID] [bigint] NOT NULL,
	[PERSONALITYID] [bigint] NOT NULL,
	[MODEL] [varchar](25) NULL,
	[FILEFORMAT] [varchar](25) NOT NULL,
 CONSTRAINT [NCMConfigFileFormat_PK1] PRIMARY KEY CLUSTERED 
(
	[NCMCONFIGFILEPARAMSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__897215590]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__897215590] ON [dbo].[NCMConfigFileFormat]
(
	[PERSONALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMConfigFileFormat] ADD  DEFAULT ('Text') FOR [FILEFORMAT]
GO
ALTER TABLE [dbo].[NCMConfigFileFormat]  WITH CHECK ADD  CONSTRAINT [NCMConfigFileFormat_FK1] FOREIGN KEY([PERSONALITYID])
REFERENCES [dbo].[NCMPersonality] ([PERSONALITYID])
GO
ALTER TABLE [dbo].[NCMConfigFileFormat] CHECK CONSTRAINT [NCMConfigFileFormat_FK1]
GO
