USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[QosPoliceDetails]    Script Date: 6/29/2019 5:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QosPoliceDetails](
	[CLASS_ID] [int] NOT NULL,
	[CFG_RATE] [bigint] NOT NULL,
	[BURST_SIZE] [bigint] NOT NULL,
	[EXT_BURST_SIZE] [bigint] NOT NULL,
	[CONFORM_ACTION] [varchar](20) NOT NULL,
	[EXCEED_ACTION] [varchar](20) NOT NULL,
	[VIOLATE_ACTION] [varchar](20) NOT NULL,
 CONSTRAINT [QosPoliceDetials_PK] PRIMARY KEY CLUSTERED 
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_210266037]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_210266037] ON [dbo].[QosPoliceDetails]
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QosPoliceDetails]  WITH CHECK ADD  CONSTRAINT [QosPoliceDetails_FK] FOREIGN KEY([CLASS_ID])
REFERENCES [dbo].[QosClassDetails] ([CLASS_ID])
GO
ALTER TABLE [dbo].[QosPoliceDetails] CHECK CONSTRAINT [QosPoliceDetails_FK]
GO
