USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetworkTopology]    Script Date: 6/29/2019 5:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkTopology](
	[NETWORKELEMENTID] [bigint] NOT NULL,
 CONSTRAINT [NetworkTopology_PK] PRIMARY KEY CLUSTERED 
(
	[NETWORKELEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
