USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Evt_Vs_Pri_Hr_Trend]    Script Date: 6/29/2019 5:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evt_Vs_Pri_Hr_Trend](
	[HOUROFDAY] [int] NOT NULL,
	[RID] [bigint] NOT NULL,
	[SRC_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
	[SRC] [nvarchar](50) NULL,
	[USER] [nvarchar](90) NULL,
	[PRIORITY_ID] [bigint] NOT NULL,
	[EVENT_COUNT] [int] NULL,
 CONSTRAINT [Evt_Vs_Pri_Hr_Trend_PK] PRIMARY KEY CLUSTERED 
(
	[HOUROFDAY] ASC,
	[RID] ASC,
	[PRIORITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1326584019]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1326584019] ON [dbo].[Evt_Vs_Pri_Hr_Trend]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Evt_Vs_Pri_Hr_Trend]  WITH CHECK ADD  CONSTRAINT [Evt_Vs_Pri_Hr_Trend_FK1] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[Evt_Vs_Pri_Hr_Trend] CHECK CONSTRAINT [Evt_Vs_Pri_Hr_Trend_FK1]
GO
