USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VACMCONTEXTTABLE]    Script Date: 6/29/2019 5:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACMCONTEXTTABLE](
	[CONTEXTNAME] [varchar](65) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CONTEXTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
