USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCSymmetrixStorageExtent]    Script Date: 6/29/2019 5:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCSymmetrixStorageExtent](
	[DEVICE_ID] [bigint] NOT NULL,
	[EXTENT_ID] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[TOTAL_SPACE] [varchar](250) NOT NULL,
	[CONFIGURED_SPACE] [varchar](250) NOT NULL,
	[STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [EMCSymmetrixStorageExtent_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[EXTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_545662305]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_545662305] ON [dbo].[EMCSymmetrixStorageExtent]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCSymmetrixStorageExtent]  WITH CHECK ADD  CONSTRAINT [EMCSymmetrixStorageExtent_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[EMCSymmetrixRaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCSymmetrixStorageExtent] CHECK CONSTRAINT [EMCSymmetrixStorageExtent_FK1]
GO
