USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ResourceContainee]    Script Date: 6/29/2019 5:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceContainee](
	[RESOURCEID] [bigint] NOT NULL,
	[PARENTID] [bigint] NOT NULL,
	[CONTAINERNAME] [varchar](100) NOT NULL,
 CONSTRAINT [ResourceContainee_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__608275404]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__608275404] ON [dbo].[ResourceContainee]
(
	[PARENTID] ASC,
	[CONTAINERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__608275405]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__608275405] ON [dbo].[ResourceContainee]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResourceContainee]  WITH CHECK ADD  CONSTRAINT [ResourceContainee_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMDevices] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ResourceContainee] CHECK CONSTRAINT [ResourceContainee_FK1]
GO
ALTER TABLE [dbo].[ResourceContainee]  WITH CHECK ADD  CONSTRAINT [ResourceContainee_FK2] FOREIGN KEY([PARENTID], [CONTAINERNAME])
REFERENCES [dbo].[ResourceContainer] ([RESOURCEID], [CONTAINERNAME])
GO
ALTER TABLE [dbo].[ResourceContainee] CHECK CONSTRAINT [ResourceContainee_FK2]
GO
