USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DaxSwitch]    Script Date: 6/29/2019 5:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaxSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[HARDWAREVERSION] [varchar](15) NOT NULL,
	[BOOTVERSION] [varchar](15) NOT NULL,
 CONSTRAINT [DaxSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1920222812]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1920222812] ON [dbo].[DaxSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DaxSwitch] ADD  DEFAULT ('Not Available') FOR [HARDWAREVERSION]
GO
ALTER TABLE [dbo].[DaxSwitch] ADD  DEFAULT ('Not Available') FOR [BOOTVERSION]
GO
ALTER TABLE [dbo].[DaxSwitch]  WITH CHECK ADD  CONSTRAINT [DaxSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[DaxSwitch] CHECK CONSTRAINT [DaxSwitch_FK1]
GO
