USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DEVICETEMPLATESTATUSMESSAGE]    Script Date: 6/29/2019 5:47:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVICETEMPLATESTATUSMESSAGE](
	[STATUS] [bigint] NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
 CONSTRAINT [DEVICETEMPLATESTATUSMESSAGE_PK] PRIMARY KEY CLUSTERED 
(
	[STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
