USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CustomFieldsDefinition]    Script Date: 6/29/2019 5:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomFieldsDefinition](
	[CUSTOMFIELDID] [int] NOT NULL,
	[FIELDNAME] [varchar](250) NOT NULL,
	[OBJECTTYPE] [int] NOT NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[FIELDLENGTH] [int] NULL,
	[DATATYPE] [varchar](50) NOT NULL,
	[FIELDTYPEID] [int] NOT NULL,
 CONSTRAINT [CustomFieldsDefinition_PK] PRIMARY KEY CLUSTERED 
(
	[CUSTOMFIELDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CustomFieldsDefinition_UK0] UNIQUE NONCLUSTERED 
(
	[FIELDNAME] ASC,
	[OBJECTTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2038191527]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2038191527] ON [dbo].[CustomFieldsDefinition]
(
	[OBJECTTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomFieldsDefinition]  WITH CHECK ADD  CONSTRAINT [CustomFieldsDefinition_FK] FOREIGN KEY([OBJECTTYPE])
REFERENCES [dbo].[CustomFieldType] ([TYPEID])
GO
ALTER TABLE [dbo].[CustomFieldsDefinition] CHECK CONSTRAINT [CustomFieldsDefinition_FK]
GO
