USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Simple_Class_Expr]    Script Date: 6/29/2019 5:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simple_Class_Expr](
	[SIMPLE_EXPR_ID] [bigint] NOT NULL,
	[STRING_CONSTANT] [varchar](180) NOT NULL,
 CONSTRAINT [Simple_Class_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[SIMPLE_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__292295781]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__292295781] ON [dbo].[Simple_Class_Expr]
(
	[SIMPLE_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Simple_Class_Expr]  WITH CHECK ADD  CONSTRAINT [Simple_Class_Expr_FK] FOREIGN KEY([SIMPLE_EXPR_ID])
REFERENCES [dbo].[Parent_Class_Expr] ([PARENT_EXPR_ID])
GO
ALTER TABLE [dbo].[Simple_Class_Expr] CHECK CONSTRAINT [Simple_Class_Expr_FK]
GO
