USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMShowCommandVendorMap]    Script Date: 6/29/2019 5:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMShowCommandVendorMap](
	[COMMAND_ID] [bigint] NOT NULL,
	[VENDORID] [bigint] NOT NULL,
 CONSTRAINT [NCMShowCommandVendorMap_PK] PRIMARY KEY CLUSTERED 
(
	[COMMAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1814928724]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1814928724] ON [dbo].[NCMShowCommandVendorMap]
(
	[VENDORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1814928725]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1814928725] ON [dbo].[NCMShowCommandVendorMap]
(
	[COMMAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMShowCommandVendorMap]  WITH CHECK ADD  CONSTRAINT [NCMShowCommandVendorMap_FK1] FOREIGN KEY([COMMAND_ID])
REFERENCES [dbo].[NCMShowCommands] ([COMMAND_ID])
GO
ALTER TABLE [dbo].[NCMShowCommandVendorMap] CHECK CONSTRAINT [NCMShowCommandVendorMap_FK1]
GO
ALTER TABLE [dbo].[NCMShowCommandVendorMap]  WITH CHECK ADD  CONSTRAINT [NCMShowCommandVendorMap_FK2] FOREIGN KEY([VENDORID])
REFERENCES [dbo].[NCMVendor] ([VENDORID])
GO
ALTER TABLE [dbo].[NCMShowCommandVendorMap] CHECK CONSTRAINT [NCMShowCommandVendorMap_FK2]
GO
