USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BrocadeSwitch]    Script Date: 6/29/2019 5:46:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrocadeSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[BOOT_PROM] [varchar](30) NOT NULL,
	[PART_NO] [varchar](30) NOT NULL,
 CONSTRAINT [BrocadeSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_252691199]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_252691199] ON [dbo].[BrocadeSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BrocadeSwitch] ADD  DEFAULT ('Not Available') FOR [BOOT_PROM]
GO
ALTER TABLE [dbo].[BrocadeSwitch] ADD  DEFAULT ('Not Available') FOR [PART_NO]
GO
ALTER TABLE [dbo].[BrocadeSwitch]  WITH CHECK ADD  CONSTRAINT [BrocadeSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[BrocadeSwitch] CHECK CONSTRAINT [BrocadeSwitch_FK1]
GO
