USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BooleanParser]    Script Date: 6/29/2019 5:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BooleanParser](
	[PARSERID] [bigint] NOT NULL,
	[NEGATE] [bit] NOT NULL,
 CONSTRAINT [BooleanParser_PK] PRIMARY KEY CLUSTERED 
(
	[PARSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_358926868]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_358926868] ON [dbo].[BooleanParser]
(
	[PARSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BooleanParser] ADD  DEFAULT ((0)) FOR [NEGATE]
GO
ALTER TABLE [dbo].[BooleanParser]  WITH CHECK ADD  CONSTRAINT [BooleanParser_FK1] FOREIGN KEY([PARSERID])
REFERENCES [dbo].[Parser] ([PARSERID])
GO
ALTER TABLE [dbo].[BooleanParser] CHECK CONSTRAINT [BooleanParser_FK1]
GO
