USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenSRToHostMap]    Script Date: 6/29/2019 5:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenSRToHostMap](
	[XENSERVER_ID] [bigint] NOT NULL,
	[SR_ID] [bigint] NOT NULL,
 CONSTRAINT [XenSRToHostMap_PK] PRIMARY KEY CLUSTERED 
(
	[XENSERVER_ID] ASC,
	[SR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1947695398]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1947695398] ON [dbo].[XenSRToHostMap]
(
	[XENSERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1947695399]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1947695399] ON [dbo].[XenSRToHostMap]
(
	[SR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenSRToHostMap]  WITH CHECK ADD  CONSTRAINT [XenSRToHostMap_FK1] FOREIGN KEY([XENSERVER_ID])
REFERENCES [dbo].[XenServerProps] ([XENSERVER_ID])
GO
ALTER TABLE [dbo].[XenSRToHostMap] CHECK CONSTRAINT [XenSRToHostMap_FK1]
GO
ALTER TABLE [dbo].[XenSRToHostMap]  WITH CHECK ADD  CONSTRAINT [XenSRToHostMap_FK2] FOREIGN KEY([SR_ID])
REFERENCES [dbo].[XenSRProps] ([SR_ID])
GO
ALTER TABLE [dbo].[XenSRToHostMap] CHECK CONSTRAINT [XenSRToHostMap_FK2]
GO
