USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNXVirtualDataMover]    Script Date: 6/29/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNXVirtualDataMover](
	[RAID_ID] [bigint] NOT NULL,
	[MOVER_ID] [varchar](250) NOT NULL,
	[MOVER_NAME] [varchar](250) NOT NULL,
	[MOVER_ACL] [varchar](250) NOT NULL,
	[MOVER_TYPE] [varchar](250) NOT NULL,
	[MOUNTED_FS] [varchar](250) NOT NULL,
	[STAND_BY] [varchar](250) NULL,
	[ROOT_FS] [varchar](250) NULL,
	[SERVER] [varchar](250) NULL,
	[I18N_MODE] [varchar](250) NULL,
	[MOVER_STATUS] [varchar](250) NOT NULL,
	[DEFINED] [varchar](250) NOT NULL,
	[ACTUAL] [varchar](250) NOT NULL,
 CONSTRAINT [VNXVirtualDataMover_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[MOVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_407660216]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_407660216] ON [dbo].[VNXVirtualDataMover]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNXVirtualDataMover]  WITH CHECK ADD  CONSTRAINT [VNXVirtualDataMover_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXVirtualDataMover] CHECK CONSTRAINT [VNXVirtualDataMover_FK]
GO
