USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DeviceRules]    Script Date: 6/29/2019 5:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceRules](
	[DRID] [bigint] NOT NULL,
	[RID] [bigint] NOT NULL,
	[DDID] [bigint] NOT NULL,
	[RULE] [nvarchar](90) NOT NULL,
	[RULEHASH] [nvarchar](30) NULL,
	[DESCRIPTION] [ntext] NOT NULL,
	[NOHITCOUNTDESC] [ntext] NULL,
 CONSTRAINT [DeviceRules_PK] PRIMARY KEY CLUSTERED 
(
	[DRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_71675630]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_71675630] ON [dbo].[DeviceRules]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_71675631]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_71675631] ON [dbo].[DeviceRules]
(
	[DDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceRules]  WITH CHECK ADD  CONSTRAINT [DeviceRules_FK1] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[DeviceRules] CHECK CONSTRAINT [DeviceRules_FK1]
GO
ALTER TABLE [dbo].[DeviceRules]  WITH CHECK ADD  CONSTRAINT [DeviceRules_FK2] FOREIGN KEY([DDID])
REFERENCES [dbo].[DeviceDetails] ([DDID])
GO
ALTER TABLE [dbo].[DeviceRules] CHECK CONSTRAINT [DeviceRules_FK2]
GO
