USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PNSSeverity]    Script Date: 6/29/2019 5:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNSSeverity](
	[ID] [bigint] NOT NULL,
	[LOGINID] [bigint] NOT NULL,
	[SEVERITY] [varchar](100) NOT NULL,
 CONSTRAINT [PNSSeverity_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1372102271]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1372102271] ON [dbo].[PNSSeverity]
(
	[LOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PNSSeverity]  WITH CHECK ADD  CONSTRAINT [PNSSeverity_FK1] FOREIGN KEY([LOGINID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[PNSSeverity] CHECK CONSTRAINT [PNSSeverity_FK1]
GO
