USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PageDetails]    Script Date: 6/29/2019 5:50:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageDetails](
	[PAGE_ID] [bigint] NOT NULL,
	[PAGE_LEVEL] [bigint] NOT NULL,
	[TOOL_ID] [varchar](50) NOT NULL,
 CONSTRAINT [PageDetails_PK] PRIMARY KEY CLUSTERED 
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
