USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TelcoSwitch]    Script Date: 6/29/2019 5:52:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelcoSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[ASSEMBLY_NO] [varchar](100) NOT NULL,
 CONSTRAINT [TelcoSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_583382408]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_583382408] ON [dbo].[TelcoSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TelcoSwitch] ADD  DEFAULT ('Not Available') FOR [ASSEMBLY_NO]
GO
ALTER TABLE [dbo].[TelcoSwitch]  WITH CHECK ADD  CONSTRAINT [TelcoSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[TelcoSwitch] CHECK CONSTRAINT [TelcoSwitch_FK1]
GO
