USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Ext_Task_Api_Loc]    Script Date: 6/29/2019 5:47:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ext_Task_Api_Loc](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[LOCATION_ID] [bigint] NOT NULL,
 CONSTRAINT [Ext_Task_Api_Loc_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC,
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1814631436]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1814631436] ON [dbo].[Ext_Task_Api_Loc]
(
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_751273157]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_751273157] ON [dbo].[Ext_Task_Api_Loc]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ext_Task_Api_Loc]  WITH CHECK ADD  CONSTRAINT [Ext_Task_Api_Loc_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Task_Templates] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Ext_Task_Api_Loc] CHECK CONSTRAINT [Ext_Task_Api_Loc_FK]
GO
ALTER TABLE [dbo].[Ext_Task_Api_Loc]  WITH CHECK ADD  CONSTRAINT [Ext_Task_Api_Loc_FK1] FOREIGN KEY([LOCATION_ID])
REFERENCES [dbo].[Resource_Location] ([LOCATION_ID])
GO
ALTER TABLE [dbo].[Ext_Task_Api_Loc] CHECK CONSTRAINT [Ext_Task_Api_Loc_FK1]
GO
