USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMConfigletPromotion]    Script Date: 6/29/2019 5:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMConfigletPromotion](
	[PROMOTED_ID] [int] NOT NULL,
	[TEMPLATE_ID] [int] NOT NULL,
	[DEVICETEMPLATEID] [bigint] NOT NULL,
 CONSTRAINT [NCMConfigletPromotion_PK] PRIMARY KEY CLUSTERED 
(
	[PROMOTED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_349545135]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_349545135] ON [dbo].[NCMConfigletPromotion]
(
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_349545136]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_349545136] ON [dbo].[NCMConfigletPromotion]
(
	[DEVICETEMPLATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMConfigletPromotion]  WITH CHECK ADD  CONSTRAINT [NCMConfigletPromotion_FK1] FOREIGN KEY([TEMPLATE_ID])
REFERENCES [dbo].[NCMTemplate] ([TEMPLATE_ID])
GO
ALTER TABLE [dbo].[NCMConfigletPromotion] CHECK CONSTRAINT [NCMConfigletPromotion_FK1]
GO
ALTER TABLE [dbo].[NCMConfigletPromotion]  WITH CHECK ADD  CONSTRAINT [NCMConfigletPromotion_FK2] FOREIGN KEY([DEVICETEMPLATEID])
REFERENCES [dbo].[NCMDeviceTemplate] ([DEVICETEMPLATEID])
GO
ALTER TABLE [dbo].[NCMConfigletPromotion] CHECK CONSTRAINT [NCMConfigletPromotion_FK2]
GO
