USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetworkComponentMatchCriteria]    Script Date: 6/29/2019 5:49:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkComponentMatchCriteria](
	[NETWORKCOMPONENTNAME] [varchar](250) NOT NULL,
	[MATCHATTRIBUTE] [varchar](25) NOT NULL,
	[MATCHVALUE] [varchar](250) NOT NULL,
	[MATCHCONDITION] [varchar](25) NOT NULL,
	[ORDERID] [varchar](25) NOT NULL,
 CONSTRAINT [NetCompMatchCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[NETWORKCOMPONENTNAME] ASC,
	[ORDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__175926075]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__175926075] ON [dbo].[NetworkComponentMatchCriteria]
(
	[NETWORKCOMPONENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetworkComponentMatchCriteria]  WITH CHECK ADD  CONSTRAINT [NetCompMatchCriteria_FK1] FOREIGN KEY([NETWORKCOMPONENTNAME])
REFERENCES [dbo].[NetworkComponentConfiguration] ([NETWORKCOMPONENTNAME])
GO
ALTER TABLE [dbo].[NetworkComponentMatchCriteria] CHECK CONSTRAINT [NetCompMatchCriteria_FK1]
GO
