USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PollCriteria]    Script Date: 6/29/2019 5:50:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollCriteria](
	[ID] [bigint] NOT NULL,
	[POLL_TIME] [bigint] NOT NULL,
 CONSTRAINT [PollCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1377099947]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1377099947] ON [dbo].[PollCriteria]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PollCriteria]  WITH CHECK ADD  CONSTRAINT [PollCriteria_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[ParentConfig] ([PID])
GO
ALTER TABLE [dbo].[PollCriteria] CHECK CONSTRAINT [PollCriteria_FK1]
GO
