USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CDPCACHE]    Script Date: 6/29/2019 5:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CDPCACHE](
	[MAPID] [bigint] NOT NULL,
	[LEVEL] [int] NOT NULL,
	[DEVICEADDRESS] [varchar](50) NOT NULL,
	[DEVICEPORT] [int] NOT NULL,
	[ENDNODEPORTTYPE] [varchar](50) NOT NULL,
	[ENDNODEADDRESS] [varchar](50) NOT NULL,
	[ENDNODETYPE] [varchar](50) NOT NULL,
	[IFINDEX] [int] NOT NULL,
 CONSTRAINT [CDPCACHE_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC,
	[DEVICEADDRESS] ASC,
	[ENDNODEADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1167026129]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1167026129] ON [dbo].[CDPCACHE]
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CDPCACHE]  WITH CHECK ADD  CONSTRAINT [CDPCACHE_FK] FOREIGN KEY([MAPID])
REFERENCES [dbo].[LAYER2CONFIGURATION] ([MAPID])
GO
ALTER TABLE [dbo].[CDPCACHE] CHECK CONSTRAINT [CDPCACHE_FK]
GO
