USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoNexus]    Script Date: 6/29/2019 5:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoNexus](
	[RESOURCEID] [bigint] NOT NULL,
	[BIOS] [varchar](150) NULL,
	[SYSTEM_IMAGE] [varchar](150) NULL,
	[PROCESSOR_ID] [varchar](150) NULL,
	[BOOTFLASH] [varchar](150) NULL,
	[CMP_VERSION] [varchar](150) NULL,
	[CMP_IMAGE] [varchar](150) NULL,
	[SYSTEM] [varchar](150) NULL,
	[LOADER] [varchar](150) NULL,
 CONSTRAINT [CiscoNexus_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1465646605]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1465646605] ON [dbo].[CiscoNexus]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoNexus] ADD  DEFAULT ('Not Available') FOR [BIOS]
GO
ALTER TABLE [dbo].[CiscoNexus] ADD  DEFAULT ('Not Available') FOR [SYSTEM_IMAGE]
GO
ALTER TABLE [dbo].[CiscoNexus] ADD  DEFAULT ('Not Available') FOR [PROCESSOR_ID]
GO
ALTER TABLE [dbo].[CiscoNexus] ADD  DEFAULT ('Not Available') FOR [BOOTFLASH]
GO
ALTER TABLE [dbo].[CiscoNexus] ADD  DEFAULT ('Not Available') FOR [CMP_VERSION]
GO
ALTER TABLE [dbo].[CiscoNexus] ADD  DEFAULT ('Not Available') FOR [CMP_IMAGE]
GO
ALTER TABLE [dbo].[CiscoNexus] ADD  DEFAULT ('Not Available') FOR [SYSTEM]
GO
ALTER TABLE [dbo].[CiscoNexus] ADD  DEFAULT ('Not Available') FOR [LOADER]
GO
ALTER TABLE [dbo].[CiscoNexus]  WITH CHECK ADD  CONSTRAINT [CiscoNexus_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CiscoNexus] CHECK CONSTRAINT [CiscoNexus_FK1]
GO
