USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Layer2Connection]    Script Date: 6/29/2019 5:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Layer2Connection](
	[SWITCHADDRESS] [varchar](50) NOT NULL,
	[SWITCHPORT] [bigint] NOT NULL,
	[DESTINATIONADDRESS] [varchar](50) NULL,
	[DESTINATIONMAC] [varchar](50) NOT NULL,
	[DESTINATIONPORT] [bigint] NULL,
 CONSTRAINT [Layer2Connection_PK] PRIMARY KEY CLUSTERED 
(
	[SWITCHADDRESS] ASC,
	[SWITCHPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
