USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportConfigToRBBPMapping]    Script Date: 6/29/2019 5:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportConfigToRBBPMapping](
	[RBBMPID] [bigint] NOT NULL,
	[REPORTID] [bigint] NOT NULL,
	[RBBNAME] [nvarchar](250) NOT NULL,
	[PARAMSQL] [ntext] NULL,
 CONSTRAINT [ReportConfigToRBBP_PK] PRIMARY KEY CLUSTERED 
(
	[RBBMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1645048675]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1645048675] ON [dbo].[ReportConfigToRBBPMapping]
(
	[RBBNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1645048676]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1645048676] ON [dbo].[ReportConfigToRBBPMapping]
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportConfigToRBBPMapping]  WITH CHECK ADD  CONSTRAINT [ReportConfigToRBBP_FK1] FOREIGN KEY([REPORTID])
REFERENCES [dbo].[ReportConfig] ([REPORTID])
GO
ALTER TABLE [dbo].[ReportConfigToRBBPMapping] CHECK CONSTRAINT [ReportConfigToRBBP_FK1]
GO
ALTER TABLE [dbo].[ReportConfigToRBBPMapping]  WITH CHECK ADD  CONSTRAINT [ReportConfigToRBBP_FK2] FOREIGN KEY([RBBNAME])
REFERENCES [dbo].[ReportBuildingBlock] ([RBBNAME])
GO
ALTER TABLE [dbo].[ReportConfigToRBBPMapping] CHECK CONSTRAINT [ReportConfigToRBBP_FK2]
GO
