USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AlertPolicyObject]    Script Date: 6/29/2019 5:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertPolicyObject](
	[NAME] [varchar](80) NOT NULL,
	[ACTIONNAME] [varchar](80) NOT NULL,
	[PROPKEY] [varchar](80) NOT NULL,
	[PROPVALUE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC,
	[ACTIONNAME] ASC,
	[PROPKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
