USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPMSA2312PowerSupply]    Script Date: 6/29/2019 5:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPMSA2312PowerSupply](
	[RAID_ID] [bigint] NOT NULL,
	[SUPPLY_ID] [varchar](250) NOT NULL,
	[POWER_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [HPMSA2312PowerSupply_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[SUPPLY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__969513236]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__969513236] ON [dbo].[HPMSA2312PowerSupply]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPMSA2312PowerSupply]  WITH CHECK ADD  CONSTRAINT [HPMSA2312PowerSupply_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPMSA2312PowerSupply] CHECK CONSTRAINT [HPMSA2312PowerSupply_FK1]
GO
