USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AllowedPattern]    Script Date: 6/29/2019 5:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllowedPattern](
	[COLUMN_ID] [bigint] NOT NULL,
	[PATTERN] [text] NOT NULL,
 CONSTRAINT [AllowedPattern_PK] PRIMARY KEY CLUSTERED 
(
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_696134709]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_696134709] ON [dbo].[AllowedPattern]
(
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AllowedPattern]  WITH CHECK ADD  CONSTRAINT [AllowedPattern_FK1] FOREIGN KEY([COLUMN_ID])
REFERENCES [dbo].[ColumnDetails] ([COLUMN_ID])
GO
ALTER TABLE [dbo].[AllowedPattern] CHECK CONSTRAINT [AllowedPattern_FK1]
GO
