USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LACriteria]    Script Date: 6/29/2019 5:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LACriteria](
	[CRIT_ID] [bigint] NOT NULL,
	[CRITERIA_NAME] [nvarchar](50) NULL,
 CONSTRAINT [LACriteria_PK] PRIMARY KEY CLUSTERED 
(
	[CRIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
