USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BEFailOver]    Script Date: 6/29/2019 5:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BEFailOver](
	[HOSTADDRESS] [varchar](50) NOT NULL,
	[NMSBEPORT] [int] NOT NULL,
	[RMIREGISTRYPORT] [int] NULL,
	[LASTCOUNT] [bigint] NULL,
	[SERVERROLE] [varchar](10) NULL,
	[STANDBYSERVERNAME] [varchar](50) NULL,
	[WEBSERVERPORT] [int] NULL,
	[WEBPROTOCOL] [varchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [BEFailOver0_ndx]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [BEFailOver0_ndx] ON [dbo].[BEFailOver]
(
	[HOSTADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [BEFailOver1_ndx]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [BEFailOver1_ndx] ON [dbo].[BEFailOver]
(
	[NMSBEPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
