USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DBPrepopulatedDetails]    Script Date: 6/29/2019 5:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBPrepopulatedDetails](
	[MODULE_NAME] [varchar](50) NOT NULL,
	[ISPREPOPULATED] [varchar](50) NOT NULL,
 CONSTRAINT [DBPrepopulatedDetails_PK] PRIMARY KEY CLUSTERED 
(
	[MODULE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
