USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HardwareCategory]    Script Date: 6/29/2019 5:48:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HardwareCategory](
	[CATEGORYID] [bigint] NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
 CONSTRAINT [HardwareCategory_PK] PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
