USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DCMPolicyDetails]    Script Date: 6/29/2019 5:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DCMPolicyDetails](
	[POLICYID] [int] NOT NULL,
	[POLICYNAME] [varchar](50) NOT NULL,
	[ENTITYID] [int] NOT NULL,
 CONSTRAINT [DCMPolicyDetails_PK] PRIMARY KEY CLUSTERED 
(
	[POLICYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DCMPolicyDetails_UK1] UNIQUE NONCLUSTERED 
(
	[POLICYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__734184977]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__734184977] ON [dbo].[DCMPolicyDetails]
(
	[ENTITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DCMPolicyDetails]  WITH CHECK ADD  CONSTRAINT [DCMPolicyDetails_FK1] FOREIGN KEY([ENTITYID])
REFERENCES [dbo].[DCMEntityDetails] ([ENTITYID])
GO
ALTER TABLE [dbo].[DCMPolicyDetails] CHECK CONSTRAINT [DCMPolicyDetails_FK1]
GO
