USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Email_Message]    Script Date: 6/29/2019 5:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email_Message](
	[MESSAGE_ID] [bigint] NOT NULL,
	[SUBJECT_EXPR_ID] [bigint] NULL,
	[MESSAGE_EXPR_ID] [bigint] NULL,
 CONSTRAINT [Email_Message_PK] PRIMARY KEY CLUSTERED 
(
	[MESSAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__976496783]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__976496783] ON [dbo].[Email_Message]
(
	[MESSAGE_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1908162752]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1908162752] ON [dbo].[Email_Message]
(
	[SUBJECT_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Email_Message]  WITH CHECK ADD  CONSTRAINT [EMAIL_MESSAGE_FK] FOREIGN KEY([SUBJECT_EXPR_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Email_Message] CHECK CONSTRAINT [EMAIL_MESSAGE_FK]
GO
ALTER TABLE [dbo].[Email_Message]  WITH CHECK ADD  CONSTRAINT [EMAIL_MESSAGE_FK1] FOREIGN KEY([MESSAGE_EXPR_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Email_Message] CHECK CONSTRAINT [EMAIL_MESSAGE_FK1]
GO
