USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CFColumnList]    Script Date: 6/29/2019 5:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFColumnList](
	[COLUMN_ID] [bigint] NOT NULL,
	[TABLE_ID] [bigint] NOT NULL,
	[COLUMN_NAME] [varchar](50) NULL,
	[COLUMN_DESC] [varchar](1000) NULL,
	[DTYPE_ID] [bigint] NOT NULL,
	[SIZE] [int] NULL,
	[DEFAULT_VALUE] [varchar](500) NULL,
 CONSTRAINT [CFColumnList_PK] PRIMARY KEY CLUSTERED 
(
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2067783076]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2067783076] ON [dbo].[CFColumnList]
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2067783077]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2067783077] ON [dbo].[CFColumnList]
(
	[DTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CFColumnList]  WITH CHECK ADD  CONSTRAINT [CFColumnList_FK1] FOREIGN KEY([TABLE_ID])
REFERENCES [dbo].[CFTableList] ([TABLE_ID])
GO
ALTER TABLE [dbo].[CFColumnList] CHECK CONSTRAINT [CFColumnList_FK1]
GO
ALTER TABLE [dbo].[CFColumnList]  WITH CHECK ADD  CONSTRAINT [CFColumnList_FK2] FOREIGN KEY([DTYPE_ID])
REFERENCES [dbo].[CFDatatypes] ([DTYPE_ID])
GO
ALTER TABLE [dbo].[CFColumnList] CHECK CONSTRAINT [CFColumnList_FK2]
GO
