USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FUNCTIONALEXPRESSION]    Script Date: 6/29/2019 5:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCTIONALEXPRESSION](
	[EXPRESSIONID] [bigint] NOT NULL,
	[EXPRESSION] [varchar](250) NOT NULL,
	[EXPRESSIONNAME] [varchar](250) NOT NULL,
 CONSTRAINT [FUNCTIONALEXPRESSION_PK1] PRIMARY KEY CLUSTERED 
(
	[EXPRESSIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FUNCTIONALEXPRESSION_UK0] UNIQUE NONCLUSTERED 
(
	[EXPRESSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
