USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WatchGuardFirewall]    Script Date: 6/29/2019 5:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchGuardFirewall](
	[RESOURCEID] [bigint] NOT NULL,
	[VERSION] [varchar](100) NOT NULL,
	[SYS_MODEL] [varchar](100) NOT NULL,
 CONSTRAINT [WatchGuardFirewall_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1591255389]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1591255389] ON [dbo].[WatchGuardFirewall]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WatchGuardFirewall] ADD  DEFAULT ('Not Available') FOR [VERSION]
GO
ALTER TABLE [dbo].[WatchGuardFirewall] ADD  DEFAULT ('Not Available') FOR [SYS_MODEL]
GO
ALTER TABLE [dbo].[WatchGuardFirewall]  WITH CHECK ADD  CONSTRAINT [WatchGuardFirewall_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[WatchGuardFirewall] CHECK CONSTRAINT [WatchGuardFirewall_FK1]
GO
