USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PortProtocolCriteria]    Script Date: 6/29/2019 5:50:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortProtocolCriteria](
	[PP_ID] [int] NOT NULL,
	[PROFILE_ID] [int] NOT NULL,
	[PROT_ID] [int] NOT NULL,
	[START_PORT] [int] NOT NULL,
	[END_PORT] [int] NOT NULL,
 CONSTRAINT [PortProtocolCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[PP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1435039116]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1435039116] ON [dbo].[PortProtocolCriteria]
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1536539685]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1536539685] ON [dbo].[PortProtocolCriteria]
(
	[PROT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PortProtocolCriteria]  WITH CHECK ADD  CONSTRAINT [PortProtocolCriteria_FK] FOREIGN KEY([PROFILE_ID])
REFERENCES [dbo].[AlertProfile] ([PROFILE_ID])
GO
ALTER TABLE [dbo].[PortProtocolCriteria] CHECK CONSTRAINT [PortProtocolCriteria_FK]
GO
ALTER TABLE [dbo].[PortProtocolCriteria]  WITH CHECK ADD  CONSTRAINT [PortProtocolCriteria_FK1] FOREIGN KEY([PROT_ID])
REFERENCES [dbo].[ProtocolMap] ([PROT_ID])
GO
ALTER TABLE [dbo].[PortProtocolCriteria] CHECK CONSTRAINT [PortProtocolCriteria_FK1]
GO
