USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PAREthernetPort]    Script Date: 6/29/2019 5:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PAREthernetPort](
	[PORT_ID] [bigint] NOT NULL,
	[SPEED] [varchar](250) NOT NULL,
	[LINK_TECHNOLOGY] [varchar](250) NOT NULL,
	[FULL_DUPLEX] [varchar](250) NOT NULL,
	[AUTO_SENSE] [varchar](250) NOT NULL,
	[ACTIVE_MTU] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PAREthernetPort_PK] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1321867754]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1321867754] ON [dbo].[HP3PAREthernetPort]
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PAREthernetPort]  WITH CHECK ADD  CONSTRAINT [HP3PAREthernetPort_FK] FOREIGN KEY([PORT_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HP3PAREthernetPort] CHECK CONSTRAINT [HP3PAREthernetPort_FK]
GO
