USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LogintoADUserMapping]    Script Date: 6/29/2019 5:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogintoADUserMapping](
	[LOGINID] [bigint] NOT NULL,
 CONSTRAINT [LogintoADUserMapping_PK] PRIMARY KEY CLUSTERED 
(
	[LOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1866965335]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1866965335] ON [dbo].[LogintoADUserMapping]
(
	[LOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogintoADUserMapping]  WITH CHECK ADD  CONSTRAINT [LogintoADUserMapping_FK1] FOREIGN KEY([LOGINID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[LogintoADUserMapping] CHECK CONSTRAINT [LogintoADUserMapping_FK1]
GO
