USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ResponseGroups]    Script Date: 6/29/2019 5:51:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResponseGroups](
	[PARSERID] [bigint] NOT NULL,
	[GROUPID] [varchar](3) NOT NULL,
 CONSTRAINT [ResponseGroups_PK] PRIMARY KEY CLUSTERED 
(
	[PARSERID] ASC,
	[GROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__787079582]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__787079582] ON [dbo].[ResponseGroups]
(
	[PARSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResponseGroups]  WITH CHECK ADD  CONSTRAINT [ResponseGroups_FK1] FOREIGN KEY([PARSERID])
REFERENCES [dbo].[GroupParser] ([PARSERID])
GO
ALTER TABLE [dbo].[ResponseGroups] CHECK CONSTRAINT [ResponseGroups_FK1]
GO
