USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BussDeviceMap]    Script Date: 6/29/2019 5:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BussDeviceMap](
	[BUSS_ID] [int] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
 CONSTRAINT [BussDeviceMap_PK] PRIMARY KEY CLUSTERED 
(
	[BUSS_ID] ASC,
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1685028303]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1685028303] ON [dbo].[BussDeviceMap]
(
	[BUSS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__696269792]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__696269792] ON [dbo].[BussDeviceMap]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BussDeviceMap]  WITH CHECK ADD  CONSTRAINT [BussDeviceMap_FK] FOREIGN KEY([BUSS_ID])
REFERENCES [dbo].[BusinessView] ([BUSS_ID])
GO
ALTER TABLE [dbo].[BussDeviceMap] CHECK CONSTRAINT [BussDeviceMap_FK]
GO
ALTER TABLE [dbo].[BussDeviceMap]  WITH CHECK ADD  CONSTRAINT [BussDeviceMap_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[BussDeviceMap] CHECK CONSTRAINT [BussDeviceMap_FK1]
GO
