USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDeviceSysoidMapping]    Script Date: 6/29/2019 5:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDeviceSysoidMapping](
	[RESOURCEID] [bigint] NOT NULL,
	[SYSOID] [varchar](100) NOT NULL,
 CONSTRAINT [NCMDeviceSysoidMapping_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__47883423]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__47883423] ON [dbo].[NCMDeviceSysoidMapping]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDeviceSysoidMapping]  WITH CHECK ADD  CONSTRAINT [NCMDeviceSysoidMapping_FK] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMDeviceSysoidMapping] CHECK CONSTRAINT [NCMDeviceSysoidMapping_FK]
GO
