USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RecentlyUsedTools]    Script Date: 6/29/2019 5:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecentlyUsedTools](
	[NAME] [varchar](100) NOT NULL,
	[TOOL_ID] [varchar](50) NOT NULL,
	[GROUP_ID] [varchar](50) NOT NULL,
	[SELECTED_TIME] [datetime] NOT NULL,
 CONSTRAINT [RecentlyUsedTools_PK] PRIMARY KEY CLUSTERED 
(
	[TOOL_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1018508291]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1018508291] ON [dbo].[RecentlyUsedTools]
(
	[GROUP_ID] ASC,
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1018508292]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1018508292] ON [dbo].[RecentlyUsedTools]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RecentlyUsedTools]  WITH CHECK ADD  CONSTRAINT [RecentlyUsedTools_FK1] FOREIGN KEY([GROUP_ID], [TOOL_ID])
REFERENCES [dbo].[ToolToGroup] ([GROUP_ID], [TOOL_ID])
GO
ALTER TABLE [dbo].[RecentlyUsedTools] CHECK CONSTRAINT [RecentlyUsedTools_FK1]
GO
ALTER TABLE [dbo].[RecentlyUsedTools]  WITH CHECK ADD  CONSTRAINT [RecentlyUsedTools_FK2] FOREIGN KEY([NAME])
REFERENCES [dbo].[OpUser] ([NAME])
GO
ALTER TABLE [dbo].[RecentlyUsedTools] CHECK CONSTRAINT [RecentlyUsedTools_FK2]
GO
