USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MeruWLANController]    Script Date: 6/29/2019 5:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeruWLANController](
	[RESOURCEID] [bigint] NOT NULL,
	[SW_VERSON] [varchar](100) NULL,
	[NW_DEVICE_ID] [varchar](100) NULL,
	[SYSTEM_ID] [varchar](100) NULL,
	[CONTROLLER] [varchar](100) NULL,
	[ALARAM] [varchar](100) NULL,
 CONSTRAINT [MeruWLANController_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_830855302]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_830855302] ON [dbo].[MeruWLANController]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MeruWLANController] ADD  DEFAULT ('Not Available') FOR [SW_VERSON]
GO
ALTER TABLE [dbo].[MeruWLANController] ADD  DEFAULT ('Not Available') FOR [NW_DEVICE_ID]
GO
ALTER TABLE [dbo].[MeruWLANController] ADD  DEFAULT ('Not Available') FOR [SYSTEM_ID]
GO
ALTER TABLE [dbo].[MeruWLANController] ADD  DEFAULT ('Not Available') FOR [CONTROLLER]
GO
ALTER TABLE [dbo].[MeruWLANController] ADD  DEFAULT ('Not Available') FOR [ALARAM]
GO
ALTER TABLE [dbo].[MeruWLANController]  WITH CHECK ADD  CONSTRAINT [MeruWLANController_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[MeruWLANController] CHECK CONSTRAINT [MeruWLANController_FK1]
GO
