USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ConversionList]    Script Date: 6/29/2019 5:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversionList](
	[CONVERSIONID] [varchar](250) NOT NULL,
	[CLASSNAME] [varchar](250) NOT NULL,
	[CONVERSIONSEQUENCE] [int] NOT NULL,
	[CONVERSIONTYPE] [varchar](250) NOT NULL,
 CONSTRAINT [ConversionClass_PK] PRIMARY KEY CLUSTERED 
(
	[CONVERSIONID] ASC,
	[CONVERSIONTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1838325695]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1838325695] ON [dbo].[ConversionList]
(
	[CONVERSIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConversionList] ADD  DEFAULT ('1') FOR [CONVERSIONSEQUENCE]
GO
ALTER TABLE [dbo].[ConversionList]  WITH CHECK ADD  CONSTRAINT [ConversionList_FK1] FOREIGN KEY([CONVERSIONID])
REFERENCES [dbo].[Conversion] ([CONVERSIONID])
GO
ALTER TABLE [dbo].[ConversionList] CHECK CONSTRAINT [ConversionList_FK1]
GO
