USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaPamConf]    Script Date: 6/29/2019 5:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaPamConf](
	[SERVICE_ID] [bigint] NOT NULL,
	[PAMMODULE_ID] [bigint] NOT NULL,
	[CONTROL_FLAG] [varchar](10) NOT NULL,
	[EXECORDER] [int] NULL,
 CONSTRAINT [AaaPamConf_PK] PRIMARY KEY CLUSTERED 
(
	[SERVICE_ID] ASC,
	[PAMMODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1124766131]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1124766131] ON [dbo].[AaaPamConf]
(
	[PAMMODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1124766132]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1124766132] ON [dbo].[AaaPamConf]
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaPamConf] ADD  DEFAULT ('required') FOR [CONTROL_FLAG]
GO
ALTER TABLE [dbo].[AaaPamConf] ADD  DEFAULT ('0') FOR [EXECORDER]
GO
ALTER TABLE [dbo].[AaaPamConf]  WITH CHECK ADD  CONSTRAINT [AaaPamConf_FK1] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[AaaService] ([SERVICE_ID])
GO
ALTER TABLE [dbo].[AaaPamConf] CHECK CONSTRAINT [AaaPamConf_FK1]
GO
ALTER TABLE [dbo].[AaaPamConf]  WITH CHECK ADD  CONSTRAINT [AaaPamConf_FK2] FOREIGN KEY([PAMMODULE_ID])
REFERENCES [dbo].[AaaPamModule] ([PAMMODULE_ID])
GO
ALTER TABLE [dbo].[AaaPamConf] CHECK CONSTRAINT [AaaPamConf_FK2]
GO
