USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Force10Switch]    Script Date: 6/29/2019 5:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Force10Switch](
	[RESOURCEID] [bigint] NOT NULL,
	[CHASSIS_TYPE] [varchar](25) NOT NULL,
	[CHASSIS_MODE] [varchar](25) NOT NULL,
	[PART_NUMBER] [varchar](20) NOT NULL,
 CONSTRAINT [Force10Switch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_417531467]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_417531467] ON [dbo].[Force10Switch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Force10Switch] ADD  DEFAULT ('Not Available') FOR [CHASSIS_TYPE]
GO
ALTER TABLE [dbo].[Force10Switch] ADD  DEFAULT ('Not Available') FOR [CHASSIS_MODE]
GO
ALTER TABLE [dbo].[Force10Switch] ADD  DEFAULT ('Not Available') FOR [PART_NUMBER]
GO
ALTER TABLE [dbo].[Force10Switch]  WITH CHECK ADD  CONSTRAINT [Force10Switch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[Force10Switch] CHECK CONSTRAINT [Force10Switch_FK1]
GO
