USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VlanInfo]    Script Date: 6/29/2019 5:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VlanInfo](
	[NAME] [varchar](250) NOT NULL,
	[SWITCHNAME] [varchar](250) NOT NULL,
	[VLANINDEX] [int] NOT NULL,
	[VLANNAME] [varchar](250) NOT NULL,
	[VLANSTATUS] [int] NOT NULL,
	[PARENTMOID] [bigint] NOT NULL,
 CONSTRAINT [VlanInfo_PK] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [VlanInfo_UK0] UNIQUE NONCLUSTERED 
(
	[SWITCHNAME] ASC,
	[VLANINDEX] ASC,
	[VLANNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
