USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LsiHost]    Script Date: 6/29/2019 5:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LsiHost](
	[DEVICE_ID] [bigint] NOT NULL,
	[HOST_NAME] [varchar](250) NOT NULL,
	[HOST_PORT_WWN] [varchar](80) NOT NULL,
	[TYPE] [varchar](250) NULL,
	[ALIAS] [varchar](250) NULL,
 CONSTRAINT [LsiHost_PK_1] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[HOST_NAME] ASC,
	[HOST_PORT_WWN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1293357385]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1293357385] ON [dbo].[LsiHost]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LsiHost]  WITH CHECK ADD  CONSTRAINT [LsiHost_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LsiHost] CHECK CONSTRAINT [LsiHost_FK1]
GO
