USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningLUPath]    Script Date: 6/29/2019 5:48:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningLUPath](
	[DEVICE_ID] [bigint] NOT NULL,
	[LUPATH_SLNO] [int] NOT NULL,
	[LUPATH_PORT_ID] [int] NULL,
	[LUPATH_SCSI_ID] [int] NULL,
	[LUPATH_LUN] [int] NULL,
	[TRGT_DEVICE_CU] [int] NULL,
	[TRGT_DEVICE_LDEV] [int] NULL,
 CONSTRAINT [LightningLUPath_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[LUPATH_SLNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1563589691]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1563589691] ON [dbo].[LightningLUPath]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningLUPath]  WITH CHECK ADD  CONSTRAINT [LightningLUPath_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningLUPath] CHECK CONSTRAINT [LightningLUPath_FK1]
GO
