USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic100Partition]    Script Date: 6/29/2019 5:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic100Partition](
	[LIBRARY_ID] [bigint] NOT NULL,
	[PARTITION_ID] [varchar](250) NOT NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[TRANSPORT_ELEM_ADDR] [varchar](250) NOT NULL,
	[NO_OF_TRANSPORT_ELEM] [varchar](250) NOT NULL,
	[STORAGE_ELEM_ADDR] [varchar](250) NOT NULL,
	[NO_OF_STORAGE_ELEM] [varchar](250) NOT NULL,
	[IE_ELEM_ADDR] [varchar](250) NOT NULL,
	[NO_OF_IE_ELEM] [varchar](250) NOT NULL,
	[TAPE_ELEM_ADDR] [varchar](250) NOT NULL,
	[NO_OF_TAPE_ELEM] [varchar](250) NOT NULL,
 CONSTRAINT [ADIC100PARTITION_PK] PRIMARY KEY CLUSTERED 
(
	[LIBRARY_ID] ASC,
	[PARTITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1338513731]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1338513731] ON [dbo].[Adic100Partition]
(
	[LIBRARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic100Partition]  WITH CHECK ADD  CONSTRAINT [ADIC100PARTITION_FK1] FOREIGN KEY([LIBRARY_ID])
REFERENCES [dbo].[TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic100Partition] CHECK CONSTRAINT [ADIC100PARTITION_FK1]
GO
