USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCSymmetrixRaidCtlrPort]    Script Date: 6/29/2019 5:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCSymmetrixRaidCtlrPort](
	[DEVICE_ID] [bigint] NOT NULL,
	[CTLR_NUMBER] [int] NOT NULL,
	[PROTOCOL] [varchar](250) NOT NULL,
	[ACTIVE_FC4] [varchar](250) NOT NULL,
	[SUPPORTED_FC4] [varchar](250) NOT NULL,
	[LINK_TECHNOLOGY] [varchar](250) NOT NULL,
 CONSTRAINT [EMCSymmetrixRaidCtlrPort_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1190225376]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1190225376] ON [dbo].[EMCSymmetrixRaidCtlrPort]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCSymmetrixRaidCtlrPort]  WITH CHECK ADD  CONSTRAINT [EMCSymmetrixRaidCtlrPort_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCSymmetrixRaidCtlrPort] CHECK CONSTRAINT [EMCSymmetrixRaidCtlrPort_FK1]
GO
