USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorEdgeDSPChassis]    Script Date: 6/29/2019 5:51:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorEdgeDSPChassis](
	[DEVICE_ID] [bigint] NOT NULL,
	[CHA_ELEMENTNAME] [varchar](250) NULL,
	[CHA_NAME] [varchar](250) NULL,
	[CHA_VERSION] [varchar](250) NULL,
	[CHA_PARTNUMBER] [varchar](250) NULL,
	[CHASSISTYPE] [varchar](250) NULL,
	[CHA_TOTAL_POWERCORDS] [varchar](250) NULL,
	[CHA_LOCKPRESENT] [varchar](250) NULL,
	[CHA_HOT_SWAPPABLE] [varchar](250) NULL,
	[CHA_SERIALNUMBER] [varchar](250) NULL,
	[CHA_MANUFACTURER] [varchar](250) NULL,
	[CHA_MODEL] [varchar](250) NULL,
	[CHA_SERVICE_PHILOSOPHY] [varchar](250) NULL,
 CONSTRAINT [StorEdgeDSPChassis_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1349298259]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1349298259] ON [dbo].[StorEdgeDSPChassis]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorEdgeDSPChassis]  WITH CHECK ADD  CONSTRAINT [StorEdgeDSPChassis_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[StorEdgeDSPChassis] CHECK CONSTRAINT [StorEdgeDSPChassis_FK1]
GO
