USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Resource_Location]    Script Date: 6/29/2019 5:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource_Location](
	[LOCATION_ID] [bigint] NOT NULL,
	[PATH] [varchar](250) NULL,
 CONSTRAINT [Resource_Location_PK] PRIMARY KEY CLUSTERED 
(
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
