USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnapshotAssociation]    Script Date: 6/29/2019 5:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnapshotAssociation](
	[ASSOCIATIONID] [bigint] NOT NULL,
	[SNAPSHOTID] [bigint] NOT NULL,
	[SNAPID] [bigint] NOT NULL,
	[ONDEMAND] [bit] NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[DESCRIPTION] [varchar](300) NOT NULL,
 CONSTRAINT [SnapshotAssociation_PK] PRIMARY KEY CLUSTERED 
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1515262772]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1515262772] ON [dbo].[SnapshotAssociation]
(
	[SNAPSHOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1515262773]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1515262773] ON [dbo].[SnapshotAssociation]
(
	[SNAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnapshotAssociation] ADD  DEFAULT ((0)) FOR [ONDEMAND]
GO
ALTER TABLE [dbo].[SnapshotAssociation]  WITH CHECK ADD  CONSTRAINT [SnapshotAssociation_FK2] FOREIGN KEY([SNAPID])
REFERENCES [dbo].[Snap] ([SNAPID])
GO
ALTER TABLE [dbo].[SnapshotAssociation] CHECK CONSTRAINT [SnapshotAssociation_FK2]
GO
ALTER TABLE [dbo].[SnapshotAssociation]  WITH CHECK ADD  CONSTRAINT [SnapshotAssociation_FK3] FOREIGN KEY([SNAPSHOTID])
REFERENCES [dbo].[Snapshot] ([SNAPSHOTID])
GO
ALTER TABLE [dbo].[SnapshotAssociation] CHECK CONSTRAINT [SnapshotAssociation_FK3]
GO
