USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GlobalAlertToSPM]    Script Date: 6/29/2019 5:47:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalAlertToSPM](
	[GLOBALID] [bigint] NOT NULL,
	[ALERTID] [bigint] NOT NULL,
 CONSTRAINT [GlobalAlertToSPM_PK] PRIMARY KEY CLUSTERED 
(
	[GLOBALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__464076118]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__464076118] ON [dbo].[GlobalAlertToSPM]
(
	[ALERTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__464076119]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__464076119] ON [dbo].[GlobalAlertToSPM]
(
	[GLOBALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GlobalAlertToSPM]  WITH CHECK ADD  CONSTRAINT [GlobalAlertToSPM_FK1] FOREIGN KEY([GLOBALID])
REFERENCES [dbo].[GlobalAlertView] ([ID])
GO
ALTER TABLE [dbo].[GlobalAlertToSPM] CHECK CONSTRAINT [GlobalAlertToSPM_FK1]
GO
ALTER TABLE [dbo].[GlobalAlertToSPM]  WITH CHECK ADD  CONSTRAINT [GlobalAlertToSPM_FK2] FOREIGN KEY([ALERTID])
REFERENCES [dbo].[SPMAlerts] ([ALERTID])
GO
ALTER TABLE [dbo].[GlobalAlertToSPM] CHECK CONSTRAINT [GlobalAlertToSPM_FK2]
GO
