USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaAccAdminProfile]    Script Date: 6/29/2019 5:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaAccAdminProfile](
	[ACCOUNTPROFILE_ID] [bigint] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[EXP_AFTER] [int] NOT NULL,
	[DELETEON_EXPIRY] [int] NOT NULL,
	[NVRLOGIN_EXPLT] [int] NOT NULL,
	[IDLE_SESSION] [bigint] NOT NULL,
	[EXPEW_THRES] [int] NOT NULL,
	[FORCEOUT_ONEXP] [bit] NOT NULL,
	[SIMUL_LOGIN] [int] NOT NULL,
	[ALLOWED_BADLOGIN] [int] NOT NULL,
	[LOCK_PERIOD] [int] NOT NULL,
	[LOGIN_CRITERIA] [varchar](200) NOT NULL,
 CONSTRAINT [AaaAccAdminProfile_PK] PRIMARY KEY CLUSTERED 
(
	[ACCOUNTPROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AaaAccAdminProfile_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaAccAdminProfile] ADD  DEFAULT ('-1') FOR [EXP_AFTER]
GO
ALTER TABLE [dbo].[AaaAccAdminProfile] ADD  DEFAULT ('-1') FOR [DELETEON_EXPIRY]
GO
ALTER TABLE [dbo].[AaaAccAdminProfile] ADD  DEFAULT ('-1') FOR [NVRLOGIN_EXPLT]
GO
ALTER TABLE [dbo].[AaaAccAdminProfile] ADD  DEFAULT ('-1') FOR [IDLE_SESSION]
GO
ALTER TABLE [dbo].[AaaAccAdminProfile] ADD  DEFAULT ('-1') FOR [EXPEW_THRES]
GO
ALTER TABLE [dbo].[AaaAccAdminProfile] ADD  DEFAULT ((1)) FOR [FORCEOUT_ONEXP]
GO
ALTER TABLE [dbo].[AaaAccAdminProfile] ADD  DEFAULT ('0') FOR [SIMUL_LOGIN]
GO
ALTER TABLE [dbo].[AaaAccAdminProfile] ADD  DEFAULT ('-1') FOR [ALLOWED_BADLOGIN]
GO
ALTER TABLE [dbo].[AaaAccAdminProfile] ADD  DEFAULT ('-1') FOR [LOCK_PERIOD]
GO
ALTER TABLE [dbo].[AaaAccAdminProfile] ADD  DEFAULT ('None') FOR [LOGIN_CRITERIA]
GO
