USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMConfigFileParser]    Script Date: 6/29/2019 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMConfigFileParser](
	[CONFIGFILEPARSARID] [bigint] NOT NULL,
	[PERSONALITYID] [bigint] NOT NULL,
	[COMMANDNAME] [varchar](250) NOT NULL,
	[FILETYPE] [varchar](20) NOT NULL,
	[DEVICETEMPLATENAME] [varchar](100) NULL,
 CONSTRAINT [NCMConfigFileParser_PK] PRIMARY KEY CLUSTERED 
(
	[CONFIGFILEPARSARID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__486128049]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__486128049] ON [dbo].[NCMConfigFileParser]
(
	[PERSONALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMConfigFileParser]  WITH CHECK ADD  CONSTRAINT [NCMConfigFileParser_FK] FOREIGN KEY([PERSONALITYID])
REFERENCES [dbo].[NCMPersonality] ([PERSONALITYID])
GO
ALTER TABLE [dbo].[NCMConfigFileParser] CHECK CONSTRAINT [NCMConfigFileParser_FK]
GO
