USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AdminTabNodes]    Script Date: 6/29/2019 5:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminTabNodes](
	[NODEID] [bigint] NOT NULL,
	[MODULEID] [bigint] NOT NULL,
	[NODENAME] [varchar](100) NOT NULL,
	[DISPLAYNAME] [varchar](100) NOT NULL,
	[LEVEL] [real] NOT NULL,
	[ISTOBEDISPLAYED] [bit] NOT NULL,
	[ICONFILE] [varchar](255) NOT NULL,
	[URL] [varchar](4000) NOT NULL,
	[VISIBILITY] [int] NOT NULL,
 CONSTRAINT [AdminTabNodes_PK1] PRIMARY KEY CLUSTERED 
(
	[NODEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminTabNodes] ADD  DEFAULT ((1)) FOR [ISTOBEDISPLAYED]
GO
