USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ADDomain]    Script Date: 6/29/2019 5:45:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDomain](
	[DOMAIN_ID] [bigint] NOT NULL,
	[USER_NAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[DOMAIN_NAME] [varchar](50) NULL,
	[DOMAIN_CONTROLLER_NAME] [varchar](50) NULL,
	[DELETE_STATUS] [int] NOT NULL,
	[LAST_SUCCESS_SCAN_TIME] [datetime] NULL,
	[LAST_SCAN_STATUS] [varchar](25) NULL,
	[REMARKS] [varchar](250) NULL,
	[REMARKS_I18NKEY] [varchar](250) NULL,
	[REMARKS_I18NARGS] [varchar](400) NULL,
	[USER_ADMIN_STATUS] [bit] NOT NULL,
 CONSTRAINT [ADDomain_PK] PRIMARY KEY CLUSTERED 
(
	[DOMAIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADDomain] ADD  DEFAULT ('0') FOR [DELETE_STATUS]
GO
ALTER TABLE [dbo].[ADDomain] ADD  DEFAULT ((0)) FOR [USER_ADMIN_STATUS]
GO
