USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PromiseRaidController]    Script Date: 6/29/2019 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromiseRaidController](
	[RAID_CONTROLLER_ID] [bigint] NOT NULL,
	[CONTROLLER_INDEX] [int] NOT NULL,
	[PART_NUMBER] [varchar](250) NOT NULL,
	[HW_REVISION] [varchar](250) NOT NULL,
	[SCSI_PROTOCOL] [varchar](250) NOT NULL,
	[BOOT_LOADER_REVISION] [varchar](250) NOT NULL,
	[SW_REVISION] [varchar](250) NOT NULL,
	[CONTROLLER_ROLE] [varchar](250) NOT NULL,
	[MEMORY_TYPE] [varchar](250) NOT NULL,
	[MEMORY_SIZE] [varchar](250) NOT NULL,
	[FLASH_TYPE] [varchar](250) NOT NULL,
	[FLASH_SIZE] [varchar](250) NOT NULL,
	[RAM_TYPE] [varchar](250) NOT NULL,
	[RAM_SIZE] [varchar](250) NOT NULL,
	[READINESS_STATE] [varchar](250) NOT NULL,
 CONSTRAINT [PromiseRaidController_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_CONTROLLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1281132690]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1281132690] ON [dbo].[PromiseRaidController]
(
	[RAID_CONTROLLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromiseRaidController]  WITH CHECK ADD  CONSTRAINT [PromiseRaidController_FK1] FOREIGN KEY([RAID_CONTROLLER_ID])
REFERENCES [dbo].[RaidController] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PromiseRaidController] CHECK CONSTRAINT [PromiseRaidController_FK1]
GO
