USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CSVSPMInputConfig]    Script Date: 6/29/2019 5:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CSVSPMInputConfig](
	[CONFIG_ID] [bigint] NOT NULL,
	[SWITCHNAME] [varchar](150) NOT NULL,
	[SWITCH_COMMUNITY] [varchar](50) NULL,
	[ROUTERNAME] [varchar](150) NULL,
	[ROUTER_COMMUNITY] [varchar](50) NULL,
	[STATUS] [int] NOT NULL,
	[LAST_UPDATE_TIME] [datetime] NULL,
	[DESCRIPTION] [varchar](254) NOT NULL,
	[TASK_ID] [bigint] NOT NULL,
	[OWNER] [varchar](100) NOT NULL,
	[SNMPSWEEPENABLED] [int] NOT NULL,
	[SNMP_VERSION] [int] NOT NULL,
	[SECURITY_LEVEL] [int] NOT NULL,
	[USER_NAME] [varchar](50) NULL,
	[CONTEXT_NAME] [varchar](50) NULL,
	[AUTH_PROTOCOL] [varchar](3) NULL,
	[AUTH_PASSWORD] [varchar](100) NULL,
	[PRI_PROTOCOL] [varchar](7) NULL,
	[PRI_PASSWORD] [varchar](100) NULL,
	[TREE_GROUP] [varchar](500) NULL,
 CONSTRAINT [CSVSPMInputConfig_PK] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CSVSPMInputConfig] ADD  DEFAULT ('1') FOR [STATUS]
GO
ALTER TABLE [dbo].[CSVSPMInputConfig] ADD  DEFAULT ('Yet to start') FOR [DESCRIPTION]
GO
ALTER TABLE [dbo].[CSVSPMInputConfig] ADD  DEFAULT ('1') FOR [TASK_ID]
GO
ALTER TABLE [dbo].[CSVSPMInputConfig] ADD  DEFAULT ('admin') FOR [OWNER]
GO
ALTER TABLE [dbo].[CSVSPMInputConfig] ADD  DEFAULT ('0') FOR [SNMPSWEEPENABLED]
GO
ALTER TABLE [dbo].[CSVSPMInputConfig] ADD  DEFAULT ('1') FOR [SNMP_VERSION]
GO
ALTER TABLE [dbo].[CSVSPMInputConfig] ADD  DEFAULT ('0') FOR [SECURITY_LEVEL]
GO
