USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AlcatelRouter]    Script Date: 6/29/2019 5:45:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlcatelRouter](
	[RESOURCEID] [bigint] NOT NULL,
	[LAST_BOOTED_CONFIG] [varchar](100) NOT NULL,
	[BOF] [varchar](100) NOT NULL,
	[IMAGE_SOURCE] [varchar](100) NOT NULL,
	[CONFIG_SOURCE] [varchar](100) NOT NULL,
 CONSTRAINT [AlcatelRouter_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1799752376]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1799752376] ON [dbo].[AlcatelRouter]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlcatelRouter] ADD  DEFAULT ('Not Available') FOR [LAST_BOOTED_CONFIG]
GO
ALTER TABLE [dbo].[AlcatelRouter] ADD  DEFAULT ('Not Available') FOR [BOF]
GO
ALTER TABLE [dbo].[AlcatelRouter] ADD  DEFAULT ('Not Available') FOR [IMAGE_SOURCE]
GO
ALTER TABLE [dbo].[AlcatelRouter] ADD  DEFAULT ('Not Available') FOR [CONFIG_SOURCE]
GO
ALTER TABLE [dbo].[AlcatelRouter]  WITH CHECK ADD  CONSTRAINT [AlcatelRouter_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[AlcatelRouter] CHECK CONSTRAINT [AlcatelRouter_FK1]
GO
