USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FcFaSwitchPort]    Script Date: 6/29/2019 5:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FcFaSwitchPort](
	[PORT_ID] [bigint] NOT NULL,
	[ADMIN_STATUS] [varchar](250) NOT NULL,
	[PORT_HARDWARE_STATE] [varchar](250) NOT NULL,
	[TRANSMITTER_TYPE] [varchar](250) NOT NULL,
	[MODULE_TYPE] [varchar](250) NOT NULL,
 CONSTRAINT [FCFASWITCHPORT_PK] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1381010758]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1381010758] ON [dbo].[FcFaSwitchPort]
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FcFaSwitchPort]  WITH CHECK ADD  CONSTRAINT [FCFASWITCHPORT_FK1] FOREIGN KEY([PORT_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[FcFaSwitchPort] CHECK CONSTRAINT [FCFASWITCHPORT_FK1]
GO
