USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SERVERDIAGNOSTICS]    Script Date: 6/29/2019 5:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVERDIAGNOSTICS](
	[POLLID] [bigint] NOT NULL,
	[PROTOCOL] [varchar](50) NOT NULL,
	[LASTCOLTIME] [datetime] NULL,
 CONSTRAINT [SERVERDIAGNOSTICS_PK] PRIMARY KEY CLUSTERED 
(
	[POLLID] ASC,
	[PROTOCOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
