USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Evt_Vs_Cli_Year]    Script Date: 6/29/2019 5:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evt_Vs_Cli_Year](
	[EVCT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HOUR] [datetime] NOT NULL,
	[RID] [bigint] NOT NULL,
	[SRC_ID] [bigint] NOT NULL,
	[USER_ID] [bigint] NULL,
	[SRC] [nvarchar](96) NOT NULL,
	[USER] [nvarchar](96) NULL,
	[PRIORITY_ID] [bigint] NULL,
	[PORT] [int] NULL,
	[EVENT_CODE] [nvarchar](10) NULL,
	[EVENT_TYPE] [int] NULL,
	[MSG] [nvarchar](1) NULL,
	[EVENT_COUNT] [int] NULL,
	[DURATION] [int] NULL,
	[BYTES_INBOUND] [bigint] NULL,
	[BYTES_OUTBOUND] [bigint] NULL,
	[TOTAL_BYTES] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[EVCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Evt_Vs_Cli_Year_IDX1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Evt_Vs_Cli_Year_IDX1] ON [dbo].[Evt_Vs_Cli_Year]
(
	[HOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Evt_Vs_Cli_Year_IDX2]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Evt_Vs_Cli_Year_IDX2] ON [dbo].[Evt_Vs_Cli_Year]
(
	[SRC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Evt_Vs_Cli_Year_IDX3]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Evt_Vs_Cli_Year_IDX3] ON [dbo].[Evt_Vs_Cli_Year]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Evt_Vs_Cli_Year_IDX4]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Evt_Vs_Cli_Year_IDX4] ON [dbo].[Evt_Vs_Cli_Year]
(
	[PRIORITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Evt_Vs_Cli_Year_IDX5]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Evt_Vs_Cli_Year_IDX5] ON [dbo].[Evt_Vs_Cli_Year]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT ('1970-01-01 00:00:00') FOR [HOUR]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [USER_ID]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [USER]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [PRIORITY_ID]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [PORT]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [EVENT_CODE]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [EVENT_TYPE]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [MSG]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT ('0') FOR [EVENT_COUNT]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT ('0') FOR [DURATION]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT ('0') FOR [BYTES_INBOUND]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT ('0') FOR [BYTES_OUTBOUND]
GO
ALTER TABLE [dbo].[Evt_Vs_Cli_Year] ADD  DEFAULT ('0') FOR [TOTAL_BYTES]
GO
