USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaPasswordStatus]    Script Date: 6/29/2019 5:45:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaPasswordStatus](
	[PASSWORD_ID] [bigint] NOT NULL,
	[EXPIREAT] [bigint] NOT NULL,
	[AFTEREXP_LOGIN] [int] NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[UPDATEDTIME] [bigint] NOT NULL,
 CONSTRAINT [AaaPasswordStatus_PK] PRIMARY KEY CLUSTERED 
(
	[PASSWORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1510094410]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1510094410] ON [dbo].[AaaPasswordStatus]
(
	[PASSWORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaPasswordStatus] ADD  DEFAULT ('9223372036854775807') FOR [EXPIREAT]
GO
ALTER TABLE [dbo].[AaaPasswordStatus] ADD  DEFAULT ('0') FOR [AFTEREXP_LOGIN]
GO
ALTER TABLE [dbo].[AaaPasswordStatus] ADD  DEFAULT ('NEW') FOR [STATUS]
GO
ALTER TABLE [dbo].[AaaPasswordStatus]  WITH CHECK ADD  CONSTRAINT [AaaPasswordStatus_FK] FOREIGN KEY([PASSWORD_ID])
REFERENCES [dbo].[AaaPassword] ([PASSWORD_ID])
GO
ALTER TABLE [dbo].[AaaPasswordStatus] CHECK CONSTRAINT [AaaPasswordStatus_FK]
GO
