USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RogueConfigAlerts]    Script Date: 6/29/2019 5:51:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RogueConfigAlerts](
	[ID] [bigint] NOT NULL,
	[ALERT_STATUS] [int] NOT NULL,
	[TO_ADDRESS] [varchar](1500) NOT NULL,
	[MAX_RESOURCEID] [bigint] NOT NULL,
	[LASTALERTTIME] [datetime] NULL,
 CONSTRAINT [RogueConfigAlerts_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RogueConfigAlerts] ADD  DEFAULT ('0') FOR [ALERT_STATUS]
GO
