USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BladeServer]    Script Date: 6/29/2019 5:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BladeServer](
	[SERVER_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NOT NULL,
	[SERIAL] [varchar](250) NOT NULL,
	[SLOT_ID] [int] NOT NULL,
	[SERVER_TYPE] [int] NOT NULL,
	[PROCESSORS] [int] NOT NULL,
	[CORES] [int] NOT NULL,
	[CORESENABLED] [int] NOT NULL,
	[ADAPTORS] [int] NOT NULL,
	[CPUCOUNT] [int] NOT NULL,
	[NICS] [int] NOT NULL,
	[TOTALMEM] [int] NOT NULL,
	[AVAILMEM] [int] NOT NULL,
	[OPERPOWER] [varchar](250) NOT NULL,
	[DN] [varchar](250) NOT NULL,
	[USER_LABEL] [varchar](250) NOT NULL,
	[OPERSTATE] [varchar](50) NOT NULL,
	[OPERABILITY] [varchar](100) NOT NULL,
	[SERVICE_PROFILE] [varchar](250) NOT NULL,
	[ASSOCIATION] [varchar](100) NOT NULL,
 CONSTRAINT [BladeServer_PK] PRIMARY KEY CLUSTERED 
(
	[SERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
