USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProcessDetails]    Script Date: 6/29/2019 5:50:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessDetails](
	[ID] [bigint] NOT NULL,
	[DEVICEID] [bigint] NOT NULL,
	[PROCESSNAME] [varchar](100) NOT NULL,
	[DISPLAYNAME] [varchar](100) NOT NULL,
	[EXECUTABLEPATH] [varchar](250) NOT NULL,
	[ARGUMENTS] [varchar](4000) NOT NULL,
	[MATCHPATH] [bit] NOT NULL,
	[MATCHARGS] [bit] NOT NULL,
	[PROTOCOL] [varchar](10) NOT NULL,
 CONSTRAINT [ProcessDetails_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2017035583]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2017035583] ON [dbo].[ProcessDetails]
(
	[DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2017035584]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2017035584] ON [dbo].[ProcessDetails]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProcessDetails]  WITH CHECK ADD  CONSTRAINT [ProcessDetails_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[ProcessDetails] CHECK CONSTRAINT [ProcessDetails_FK1]
GO
ALTER TABLE [dbo].[ProcessDetails]  WITH CHECK ADD  CONSTRAINT [ProcessDetails_FK2] FOREIGN KEY([DEVICEID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[ProcessDetails] CHECK CONSTRAINT [ProcessDetails_FK2]
GO
