USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SVCManagedDisk]    Script Date: 6/29/2019 5:52:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVCManagedDisk](
	[DEVICE_ID] [bigint] NOT NULL,
	[DISK_ID] [varchar](250) NOT NULL,
	[DISK_NAME] [varchar](250) NOT NULL,
	[CAPACITY] [varchar](250) NOT NULL,
	[ASSOCIATED_POOL_ID] [varchar](250) NOT NULL,
	[ASSOCIATED_POOL_NAME] [varchar](250) NOT NULL,
	[RAID_LEVEL] [varchar](250) NOT NULL,
	[DISK_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [SVCManagedDisk_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_678643913]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_678643913] ON [dbo].[SVCManagedDisk]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SVCManagedDisk]  WITH CHECK ADD  CONSTRAINT [SVCManagedDisk_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SVCManagedDisk] CHECK CONSTRAINT [SVCManagedDisk_FK1]
GO
