USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PROTOCOLDETAILS]    Script Date: 6/29/2019 5:50:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROTOCOLDETAILS](
	[PROTOCOLID] [bigint] NOT NULL,
	[PROTOCOLNAME] [varchar](50) NOT NULL,
 CONSTRAINT [Protocol_PK] PRIMARY KEY CLUSTERED 
(
	[PROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PROTOCOLDETAILS_UK0] UNIQUE NONCLUSTERED 
(
	[PROTOCOLNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
