USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDeviceCriteria]    Script Date: 6/29/2019 5:49:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDeviceCriteria](
	[DEVICEPROTOCOLID] [bigint] NOT NULL,
	[COMMANDMAPID] [varchar](50) NOT NULL,
 CONSTRAINT [NCMDeviceCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICEPROTOCOLID] ASC,
	[COMMANDMAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1741683718]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1741683718] ON [dbo].[NCMDeviceCriteria]
(
	[DEVICEPROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDeviceCriteria]  WITH CHECK ADD  CONSTRAINT [NCMDeviceCriteria_FK1] FOREIGN KEY([DEVICEPROTOCOLID])
REFERENCES [dbo].[NCMProtocolCombination] ([DEVICEPROTOCOLID])
GO
ALTER TABLE [dbo].[NCMDeviceCriteria] CHECK CONSTRAINT [NCMDeviceCriteria_FK1]
GO
