USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RadiusServerSettings]    Script Date: 6/29/2019 5:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadiusServerSettings](
	[ID] [int] NOT NULL,
	[RADIUS_SERVER_IP] [varchar](255) NOT NULL,
	[RADIUS_SERVER_AUTH_PORT] [int] NOT NULL,
	[RADIUS_SERVER_SECRET] [varbinary](max) NOT NULL,
	[AUTH_TYPE] [varchar](255) NOT NULL,
	[AUTH_RETRIES] [int] NOT NULL,
 CONSTRAINT [RADSERVER_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
