USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Time_Operator_Delta]    Script Date: 6/29/2019 5:52:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time_Operator_Delta](
	[TIME_EXPRESSION_ID] [bigint] NOT NULL,
	[BASE_TIME_EXPRESSION_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[DELTA_TIME] [int] NOT NULL,
	[TIME_UNIT] [int] NULL,
 CONSTRAINT [Time_Operator_Delta_PK] PRIMARY KEY CLUSTERED 
(
	[TIME_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__82962499]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__82962499] ON [dbo].[Time_Operator_Delta]
(
	[BASE_TIME_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_274418453]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_274418453] ON [dbo].[Time_Operator_Delta]
(
	[TIME_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Time_Operator_Delta]  WITH CHECK ADD  CONSTRAINT [Time_Operator_Delta_FK] FOREIGN KEY([TIME_EXPRESSION_ID])
REFERENCES [dbo].[Time_Expressions] ([TIME_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Time_Operator_Delta] CHECK CONSTRAINT [Time_Operator_Delta_FK]
GO
ALTER TABLE [dbo].[Time_Operator_Delta]  WITH CHECK ADD  CONSTRAINT [Time_Operator_Delta_FK2] FOREIGN KEY([BASE_TIME_EXPRESSION_ID])
REFERENCES [dbo].[Time_Expressions] ([TIME_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Time_Operator_Delta] CHECK CONSTRAINT [Time_Operator_Delta_FK2]
GO
