USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Instance_Data]    Script Date: 6/29/2019 5:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instance_Data](
	[INSTANCE_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [bigint] NOT NULL,
	[VARIABLE_NAME] [varchar](100) NOT NULL,
	[VARIABLE_VALUE] [varchar](100) NOT NULL,
 CONSTRAINT [Instance_Data_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC,
	[TEMPLATE_ID] ASC,
	[VARIABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1166417311]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1166417311] ON [dbo].[Instance_Data]
(
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1700194352]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1700194352] ON [dbo].[Instance_Data]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Instance_Data]  WITH CHECK ADD  CONSTRAINT [Instance_Data_FK] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[Instances] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[Instance_Data] CHECK CONSTRAINT [Instance_Data_FK]
GO
ALTER TABLE [dbo].[Instance_Data]  WITH CHECK ADD  CONSTRAINT [Instance_Data_FK1] FOREIGN KEY([TEMPLATE_ID])
REFERENCES [dbo].[Templates] ([TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Instance_Data] CHECK CONSTRAINT [Instance_Data_FK1]
GO
