USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WMISettings]    Script Date: 6/29/2019 5:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WMISettings](
	[ID] [bigint] NOT NULL,
	[LOGIN_NAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[DOMAIN_NAME] [varchar](50) NULL,
	[DOMAIN_CONTROLLER_NAME] [varchar](50) NULL,
 CONSTRAINT [WMISettings_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_228549678]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_228549678] ON [dbo].[WMISettings]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WMISettings]  WITH CHECK ADD  CONSTRAINT [WMISettings_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[Settings] ([ID])
GO
ALTER TABLE [dbo].[WMISettings] CHECK CONSTRAINT [WMISettings_FK]
GO
