USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DHCPScope]    Script Date: 6/29/2019 5:47:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHCPScope](
	[SCOPE_ID] [bigint] NOT NULL,
	[SID] [bigint] NOT NULL,
	[SCOPE_NAME] [varchar](150) NOT NULL,
	[AVAILABLE] [int] NOT NULL,
	[USED] [int] NOT NULL,
	[SIZE] [int] NOT NULL,
	[SUBNETMASK] [varchar](15) NULL,
	[SUBNETUSAGE] [real] NOT NULL,
 CONSTRAINT [DHCPScope_PK] PRIMARY KEY CLUSTERED 
(
	[SCOPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__964382032]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__964382032] ON [dbo].[DHCPScope]
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DHCPScope] ADD  DEFAULT ('0') FOR [AVAILABLE]
GO
ALTER TABLE [dbo].[DHCPScope] ADD  DEFAULT ('0') FOR [USED]
GO
ALTER TABLE [dbo].[DHCPScope] ADD  DEFAULT ('0') FOR [SIZE]
GO
ALTER TABLE [dbo].[DHCPScope] ADD  DEFAULT ('0.0') FOR [SUBNETUSAGE]
GO
ALTER TABLE [dbo].[DHCPScope]  WITH CHECK ADD  CONSTRAINT [DHCPScope_FK1] FOREIGN KEY([SID])
REFERENCES [dbo].[DHCPServer] ([SID])
GO
ALTER TABLE [dbo].[DHCPScope] CHECK CONSTRAINT [DHCPScope_FK1]
GO
