USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CloudRepository]    Script Date: 6/29/2019 5:46:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CloudRepository](
	[SERVICE_ID] [bigint] NOT NULL,
	[SERVICE_NAME] [nvarchar](100) NOT NULL,
	[SERVICE_DOMAIN] [nvarchar](100) NOT NULL,
	[SERVICE_SUBDOMAIN] [nvarchar](100) NULL,
	[SERVICE_CATEGORY] [nvarchar](100) NOT NULL,
	[SERVICE_SUBCATEGORY] [nvarchar](100) NULL,
	[START_IP] [varbinary](max) NULL,
	[END_IP] [varbinary](max) NULL,
	[DISPLAY_START] [nvarchar](50) NOT NULL,
	[DISPLAY_END] [nvarchar](50) NOT NULL,
	[USER_MODIFIED] [bit] NULL,
	[SHOW_SERVICE] [bit] NULL,
	[ADD_DATE] [nvarchar](30) NOT NULL,
	[SERVICE_TYPE] [nvarchar](100) NULL,
	[SERVICE_RISK] [bigint] NULL,
	[SERVICE_POPULARITY] [int] NULL,
 CONSTRAINT [CloudRepository_PK] PRIMARY KEY CLUSTERED 
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CloudRepository] ADD  DEFAULT ((0)) FOR [USER_MODIFIED]
GO
ALTER TABLE [dbo].[CloudRepository] ADD  DEFAULT ((1)) FOR [SHOW_SERVICE]
GO
ALTER TABLE [dbo].[CloudRepository] ADD  DEFAULT ('0') FOR [SERVICE_RISK]
GO
ALTER TABLE [dbo].[CloudRepository] ADD  DEFAULT ('0') FOR [SERVICE_POPULARITY]
GO
