USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[POLLTOTHRESHOLDMAP]    Script Date: 6/29/2019 5:50:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLLTOTHRESHOLDMAP](
	[POLLID] [bigint] NOT NULL,
	[INSTANCE] [varchar](255) NOT NULL,
	[THRESHOLDNAME] [varchar](255) NOT NULL,
	[FAILURETHRESHOLD] [int] NOT NULL,
 CONSTRAINT [POLLTOTHRESHOLDMAP_PK1] PRIMARY KEY CLUSTERED 
(
	[POLLID] ASC,
	[INSTANCE] ASC,
	[THRESHOLDNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POLLTOTHRESHOLDMAP] ADD  DEFAULT ('1') FOR [FAILURETHRESHOLD]
GO
