USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMNipperBulkExecutionStatus]    Script Date: 6/29/2019 5:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMNipperBulkExecutionStatus](
	[EXECUTION_ID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[RESOURCENAME] [varchar](100) NOT NULL,
	[STATUS] [varchar](15) NOT NULL,
	[FILEURL] [varchar](1000) NOT NULL,
 CONSTRAINT [NCMNipperBulkExecutionStatus_PK] PRIMARY KEY CLUSTERED 
(
	[EXECUTION_ID] ASC,
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1009600165]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1009600165] ON [dbo].[NCMNipperBulkExecutionStatus]
(
	[EXECUTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMNipperBulkExecutionStatus]  WITH CHECK ADD  CONSTRAINT [NCMNipperBulkExecutionStatus_FK1] FOREIGN KEY([EXECUTION_ID])
REFERENCES [dbo].[NCMNipperBulkExecution] ([EXECUTION_ID])
GO
ALTER TABLE [dbo].[NCMNipperBulkExecutionStatus] CHECK CONSTRAINT [NCMNipperBulkExecutionStatus_FK1]
GO
