USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenVDIToVMMap]    Script Date: 6/29/2019 5:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenVDIToVMMap](
	[VM_ID] [bigint] NOT NULL,
	[VDI_ID] [bigint] NOT NULL,
 CONSTRAINT [XenVDIToVMMap_PK] PRIMARY KEY CLUSTERED 
(
	[VM_ID] ASC,
	[VDI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_736561853]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_736561853] ON [dbo].[XenVDIToVMMap]
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_736561854]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_736561854] ON [dbo].[XenVDIToVMMap]
(
	[VDI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenVDIToVMMap]  WITH CHECK ADD  CONSTRAINT [XenVDIToVMMap_FK1] FOREIGN KEY([VM_ID])
REFERENCES [dbo].[XenVMProps] ([VM_ID])
GO
ALTER TABLE [dbo].[XenVDIToVMMap] CHECK CONSTRAINT [XenVDIToVMMap_FK1]
GO
ALTER TABLE [dbo].[XenVDIToVMMap]  WITH CHECK ADD  CONSTRAINT [XenVDIToVMMap_FK2] FOREIGN KEY([VDI_ID])
REFERENCES [dbo].[XenSRVDIProps] ([VDI_ID])
GO
ALTER TABLE [dbo].[XenVDIToVMMap] CHECK CONSTRAINT [XenVDIToVMMap_FK2]
GO
