USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[To_Address]    Script Date: 6/29/2019 5:52:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[To_Address](
	[INPUT_ID] [bigint] NOT NULL,
	[TO_ADDRESS] [varchar](188) NOT NULL,
 CONSTRAINT [To_Address_PK] PRIMARY KEY CLUSTERED 
(
	[INPUT_ID] ASC,
	[TO_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1599871692]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1599871692] ON [dbo].[To_Address]
(
	[INPUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[To_Address]  WITH CHECK ADD  CONSTRAINT [To_Address_FK] FOREIGN KEY([INPUT_ID])
REFERENCES [dbo].[Email_Task_Input] ([INPUT_ID])
GO
ALTER TABLE [dbo].[To_Address] CHECK CONSTRAINT [To_Address_FK]
GO
