USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InterfaceIDMapper]    Script Date: 6/29/2019 5:48:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterfaceIDMapper](
	[ID] [bigint] NOT NULL,
	[TYPEID] [bigint] NOT NULL,
 CONSTRAINT [InterfaceIDMapper_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__658627549]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__658627549] ON [dbo].[InterfaceIDMapper]
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__658627550]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__658627550] ON [dbo].[InterfaceIDMapper]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InterfaceIDMapper]  WITH CHECK ADD  CONSTRAINT [InterfaceIDMapper_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[InterfaceIDMapper] CHECK CONSTRAINT [InterfaceIDMapper_FK1]
GO
ALTER TABLE [dbo].[InterfaceIDMapper]  WITH CHECK ADD  CONSTRAINT [InterfaceIDMapper_FK2] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[InterfaceDefinitionTemplate] ([TYPEID])
GO
ALTER TABLE [dbo].[InterfaceIDMapper] CHECK CONSTRAINT [InterfaceIDMapper_FK2]
GO
