USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LsiIpV4]    Script Date: 6/29/2019 5:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LsiIpV4](
	[DEVICE_ID] [bigint] NOT NULL,
	[ENABLED] [varchar](50) NOT NULL,
	[DHCP_OR_BOOTP] [varchar](50) NULL,
	[IP_ADDRESS] [varchar](50) NULL,
	[GATEWAY] [varchar](50) NULL,
	[NET_MASK] [varchar](50) NULL,
 CONSTRAINT [LsiIpV4_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_447605908]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_447605908] ON [dbo].[LsiIpV4]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LsiIpV4]  WITH CHECK ADD  CONSTRAINT [LsiIpV4_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LsiIpV4] CHECK CONSTRAINT [LsiIpV4_FK1]
GO
