USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwVMNetworkMap]    Script Date: 6/29/2019 5:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwVMNetworkMap](
	[VM_ID] [bigint] NOT NULL,
	[NETWORK_ID] [bigint] NOT NULL,
 CONSTRAINT [VwVMNetworkMap_PK] PRIMARY KEY CLUSTERED 
(
	[VM_ID] ASC,
	[NETWORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__426354668]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__426354668] ON [dbo].[VwVMNetworkMap]
(
	[NETWORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__426354669]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__426354669] ON [dbo].[VwVMNetworkMap]
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwVMNetworkMap]  WITH CHECK ADD  CONSTRAINT [VwVMNetworkMap_FK1] FOREIGN KEY([VM_ID])
REFERENCES [dbo].[VwVMProps] ([VM_ID])
GO
ALTER TABLE [dbo].[VwVMNetworkMap] CHECK CONSTRAINT [VwVMNetworkMap_FK1]
GO
ALTER TABLE [dbo].[VwVMNetworkMap]  WITH CHECK ADD  CONSTRAINT [VwVMNetworkMap_FK2] FOREIGN KEY([NETWORK_ID])
REFERENCES [dbo].[VwNETWORKPROPS] ([NETWORK_ID])
GO
ALTER TABLE [dbo].[VwVMNetworkMap] CHECK CONSTRAINT [VwVMNetworkMap_FK2]
GO
