USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCIsilonNodeProtocol]    Script Date: 6/29/2019 5:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCIsilonNodeProtocol](
	[PARENT_ID] [bigint] NOT NULL,
	[NODE_ID] [bigint] NOT NULL,
	[NODE_NAME] [varchar](250) NOT NULL,
	[NODE_PROTOCOLNAME] [varchar](250) NOT NULL,
 CONSTRAINT [EMCIsilonNodeProtocol_PK] PRIMARY KEY CLUSTERED 
(
	[PARENT_ID] ASC,
	[NODE_ID] ASC,
	[NODE_PROTOCOLNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1625094642]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1625094642] ON [dbo].[EMCIsilonNodeProtocol]
(
	[NODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCIsilonNodeProtocol]  WITH CHECK ADD  CONSTRAINT [EMCIsilonNodeProtocol_FK1] FOREIGN KEY([NODE_ID])
REFERENCES [dbo].[EMCIsilonNode] ([NODE_ID])
GO
ALTER TABLE [dbo].[EMCIsilonNodeProtocol] CHECK CONSTRAINT [EMCIsilonNodeProtocol_FK1]
GO
