USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RadiusRecords]    Script Date: 6/29/2019 5:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadiusRecords](
	[RASID] [bigint] NOT NULL,
	[RESOURCE] [nvarchar](30) NOT NULL,
	[TIME] [datetime] NOT NULL,
	[PROTOCOL] [nvarchar](12) NULL,
	[SRC] [nvarchar](50) NULL,
	[DST] [nvarchar](50) NULL,
	[USER] [nvarchar](50) NULL,
	[OPERATION] [nvarchar](10) NULL,
	[TYPE] [nvarchar](20) NULL,
	[SENT] [bigint] NULL,
	[RECEIVED] [bigint] NULL,
	[SENT_PKT] [bigint] NULL,
	[RECEIVED_PKT] [bigint] NULL,
	[SESSIONID] [bigint] NULL,
	[IDLETIMEOUT] [bigint] NULL,
	[SESSIONTIMEOUT] [bigint] NULL,
	[FRAMEDIP] [nvarchar](50) NULL,
	[FRAMEDNETMASK] [nvarchar](50) NULL,
	[FRAMEDIPXNW] [nvarchar](50) NULL,
	[FRAMEDIPXNODE] [nvarchar](50) NULL,
	[ACTLINKCOUNT] [bigint] NULL,
	[ACTDELAYTIME] [bigint] NULL,
	[ACTSESSIONTIME] [bigint] NULL,
	[DROPPEDOCT] [bigint] NULL,
	[DROPPEDPACK] [bigint] NULL,
	[BANDWIDTH] [bigint] NULL,
	[SYSLOGIP] [nvarchar](30) NULL,
	[SYSLOG_SERVER] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RASID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT ('0') FOR [RASID]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT ('') FOR [RESOURCE]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT ('1970-01-01 00:00:00') FOR [TIME]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [PROTOCOL]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [SRC]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [DST]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [USER]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [OPERATION]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [TYPE]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT ('0') FOR [SENT]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT ('0') FOR [RECEIVED]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT ('0') FOR [SENT_PKT]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT ('0') FOR [RECEIVED_PKT]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [SESSIONID]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [IDLETIMEOUT]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [SESSIONTIMEOUT]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [FRAMEDIP]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [FRAMEDNETMASK]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [FRAMEDIPXNW]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [FRAMEDIPXNODE]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [ACTLINKCOUNT]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [ACTDELAYTIME]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [ACTSESSIONTIME]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [DROPPEDOCT]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [DROPPEDPACK]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [BANDWIDTH]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [SYSLOGIP]
GO
ALTER TABLE [dbo].[RadiusRecords] ADD  DEFAULT (NULL) FOR [SYSLOG_SERVER]
GO
