USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CostUnit]    Script Date: 6/29/2019 5:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostUnit](
	[ID] [int] NOT NULL,
	[CUR_NAME] [varchar](250) NOT NULL,
	[CUR_SYMBOL] [varchar](32) NOT NULL,
 CONSTRAINT [CostUnit_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
