USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IPInterface]    Script Date: 6/29/2019 5:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPInterface](
	[RESOURCEID] [bigint] NOT NULL,
	[DHCPENABLED] [bit] NOT NULL,
	[SUBNETMASKID] [bigint] NULL,
	[DNSNAME] [varchar](100) NOT NULL,
 CONSTRAINT [IPInterface_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2092571104]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2092571104] ON [dbo].[IPInterface]
(
	[SUBNETMASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2092571105]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2092571105] ON [dbo].[IPInterface]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IPInterface] ADD  DEFAULT ((0)) FOR [DHCPENABLED]
GO
ALTER TABLE [dbo].[IPInterface]  WITH CHECK ADD  CONSTRAINT [IPInterface_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NEInterface] ([RESOURCEID])
GO
ALTER TABLE [dbo].[IPInterface] CHECK CONSTRAINT [IPInterface_FK1]
GO
ALTER TABLE [dbo].[IPInterface]  WITH CHECK ADD  CONSTRAINT [IPInterface_FK2] FOREIGN KEY([SUBNETMASKID])
REFERENCES [dbo].[Address] ([ADDRESSID])
GO
ALTER TABLE [dbo].[IPInterface] CHECK CONSTRAINT [IPInterface_FK2]
GO
