USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VMProperties]    Script Date: 6/29/2019 5:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMProperties](
	[VM_ID] [bigint] NOT NULL,
	[VHOST_ID] [bigint] NOT NULL,
	[VM_NAME] [varchar](150) NULL,
	[UUID] [varchar](50) NULL,
	[VM_DNSNAME] [varchar](253) NULL,
	[IPADDRESS] [varchar](50) NULL,
	[POWER_STATE] [int] NULL,
	[CONNECTION_STATE] [int] NULL,
	[LAST_SYSUPTIME] [datetime] NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
	[OSTYPE] [int] NULL,
	[OSNAME] [varchar](150) NULL,
	[VMDK_FILEPATH] [varchar](200) NULL,
	[VMTOOLS_VERSION] [varchar](50) NULL,
	[MAXCPU_ALLOCATIONMHZ] [bigint] NULL,
	[MAXMEM_ALLOCATIONMB] [bigint] NULL,
	[MEM_OVERHEADMB] [float] NULL,
	[NUM_VCPU] [int] NULL,
	[NUM_VDISK] [int] NULL,
	[CPU_AFFINITY] [bit] NULL,
	[MEM_CAPACITYMB] [int] NULL,
	[MARKED_FOR_DELETE] [bit] NULL,
	[INSTANCE_UUID] [varchar](50) NULL,
	[MOR_ID] [varchar](50) NULL,
 CONSTRAINT [VMProperties_PK] PRIMARY KEY CLUSTERED 
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__226474600]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__226474600] ON [dbo].[VMProperties]
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__226474601]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__226474601] ON [dbo].[VMProperties]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VMProperties] ADD  DEFAULT ('-1') FOR [INSTANCE_UUID]
GO
ALTER TABLE [dbo].[VMProperties]  WITH CHECK ADD  CONSTRAINT [VMProperties_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VHostProps] ([VHOST_ID])
GO
ALTER TABLE [dbo].[VMProperties] CHECK CONSTRAINT [VMProperties_FK1]
GO
ALTER TABLE [dbo].[VMProperties]  WITH CHECK ADD  CONSTRAINT [VMProperties_FK2] FOREIGN KEY([VM_ID])
REFERENCES [dbo].[VIEntity] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[VMProperties] CHECK CONSTRAINT [VMProperties_FK2]
GO
