USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProcessMEMThreshold]    Script Date: 6/29/2019 5:50:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessMEMThreshold](
	[ID] [bigint] NOT NULL,
	[THRESHOLDVALUE] [real] NOT NULL,
	[REARMVALUE] [real] NULL,
	[FAILURETHRESHOLD] [int] NOT NULL,
	[SEVERITY] [int] NOT NULL,
	[THRESHOLDCONDITION] [varchar](10) NOT NULL,
	[THRESHOLDUNIT] [varchar](10) NOT NULL,
 CONSTRAINT [ProcessMEMThreshold_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1750383297]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1750383297] ON [dbo].[ProcessMEMThreshold]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProcessMEMThreshold] ADD  DEFAULT ('3') FOR [SEVERITY]
GO
ALTER TABLE [dbo].[ProcessMEMThreshold]  WITH CHECK ADD  CONSTRAINT [ProcessMEMThreshold_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[ProcessDetails] ([ID])
GO
ALTER TABLE [dbo].[ProcessMEMThreshold] CHECK CONSTRAINT [ProcessMEMThreshold_FK]
GO
