USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 6/29/2019 5:50:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[PRODUCT_ID] [int] NOT NULL,
	[PRODUCT_NAME] [varchar](15) NOT NULL,
 CONSTRAINT [ProductDetails_PK] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
