USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARNodeFan]    Script Date: 6/29/2019 5:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARNodeFan](
	[NODE_ID] [bigint] NOT NULL,
	[FAN_ID] [varchar](250) NOT NULL,
	[FAN_DISPLAY_NAME] [varchar](250) NOT NULL,
	[FAN_POSITION] [varchar](250) NOT NULL,
	[FAN_SPEED] [varchar](250) NOT NULL,
	[FAN_STATUS] [varchar](250) NOT NULL,
	[FAN_LED_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARNodeFan_PK] PRIMARY KEY CLUSTERED 
(
	[NODE_ID] ASC,
	[FAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1525292841]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1525292841] ON [dbo].[HP3PARNodeFan]
(
	[NODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARNodeFan]  WITH CHECK ADD  CONSTRAINT [HP3PARNodeFan_FK] FOREIGN KEY([NODE_ID])
REFERENCES [dbo].[HP3PARNode] ([NODE_ID])
GO
ALTER TABLE [dbo].[HP3PARNodeFan] CHECK CONSTRAINT [HP3PARNodeFan_FK]
GO
