USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PromiseRaid]    Script Date: 6/29/2019 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromiseRaid](
	[DEVICE_ID] [bigint] NOT NULL,
	[RAID_INSTANCE_ID] [int] NOT NULL,
	[RAID_WWN] [varchar](250) NOT NULL,
	[PART_NUMBER] [varchar](250) NOT NULL,
	[HW_REVISION] [varchar](250) NOT NULL,
 CONSTRAINT [PromiseRaid_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PromiseRaid_UK1] UNIQUE NONCLUSTERED 
(
	[RAID_WWN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1295368206]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1295368206] ON [dbo].[PromiseRaid]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromiseRaid]  WITH CHECK ADD  CONSTRAINT [PromiseRaid_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PromiseRaid] CHECK CONSTRAINT [PromiseRaid_FK1]
GO
