USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Upd_DataObj_Var_Task]    Script Date: 6/29/2019 5:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Upd_DataObj_Var_Task](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[DATAOBJ_VAR_COLUMN_ID] [bigint] NOT NULL,
	[VALUE_EXPRESSION_ID] [bigint] NOT NULL,
	[SEQUENCE_NUMBER] [int] NOT NULL,
 CONSTRAINT [Upd_DataObj_Var_Task_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC,
	[DATAOBJ_VAR_COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2107733951]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2107733951] ON [dbo].[Upd_DataObj_Var_Task]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_915243090]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_915243090] ON [dbo].[Upd_DataObj_Var_Task]
(
	[DATAOBJ_VAR_COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_915243091]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_915243091] ON [dbo].[Upd_DataObj_Var_Task]
(
	[VALUE_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Upd_DataObj_Var_Task] ADD  DEFAULT ('0') FOR [SEQUENCE_NUMBER]
GO
ALTER TABLE [dbo].[Upd_DataObj_Var_Task]  WITH CHECK ADD  CONSTRAINT [Upd_DataObj_Var_Task_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Task_Templates] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Upd_DataObj_Var_Task] CHECK CONSTRAINT [Upd_DataObj_Var_Task_FK]
GO
ALTER TABLE [dbo].[Upd_DataObj_Var_Task]  WITH CHECK ADD  CONSTRAINT [Upd_DataObj_Var_Task_FK1] FOREIGN KEY([DATAOBJ_VAR_COLUMN_ID])
REFERENCES [dbo].[DataObj_Var_Columns] ([DATAOBJ_VAR_COLUMN_ID])
GO
ALTER TABLE [dbo].[Upd_DataObj_Var_Task] CHECK CONSTRAINT [Upd_DataObj_Var_Task_FK1]
GO
ALTER TABLE [dbo].[Upd_DataObj_Var_Task]  WITH CHECK ADD  CONSTRAINT [Upd_DataObj_Var_Task_FK2] FOREIGN KEY([VALUE_EXPRESSION_ID])
REFERENCES [dbo].[Expressions] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Upd_DataObj_Var_Task] CHECK CONSTRAINT [Upd_DataObj_Var_Task_FK2]
GO
