USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RunBook]    Script Date: 6/29/2019 5:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunBook](
	[RBID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](4000) NOT NULL,
	[TRIGGERTYPE] [int] NOT NULL,
	[WORKFLOWTYPE] [int] NOT NULL,
	[TRIGGERDESCRIPTION] [varchar](250) NOT NULL,
 CONSTRAINT [RunBook_PK1] PRIMARY KEY CLUSTERED 
(
	[RBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [RunBook_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
