USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AvocentTerminal]    Script Date: 6/29/2019 5:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvocentTerminal](
	[RESOURCEID] [bigint] NOT NULL,
	[GCC_VERSION] [varchar](100) NOT NULL,
 CONSTRAINT [AvocentTerminal_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__854121397]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__854121397] ON [dbo].[AvocentTerminal]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AvocentTerminal] ADD  DEFAULT ('Not Available') FOR [GCC_VERSION]
GO
ALTER TABLE [dbo].[AvocentTerminal]  WITH CHECK ADD  CONSTRAINT [AvocentTerminal_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[AvocentTerminal] CHECK CONSTRAINT [AvocentTerminal_FK1]
GO
