USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Loop_Task_Template]    Script Date: 6/29/2019 5:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loop_Task_Template](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[STATEMENT_ID] [bigint] NOT NULL,
	[REPEAT_COUNT] [int] NOT NULL,
	[SEQUENTIAL] [bit] NOT NULL,
 CONSTRAINT [Loop_Task_Template_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__915905914]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__915905914] ON [dbo].[Loop_Task_Template]
(
	[STATEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_663191307]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_663191307] ON [dbo].[Loop_Task_Template]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Loop_Task_Template] ADD  DEFAULT ((1)) FOR [SEQUENTIAL]
GO
ALTER TABLE [dbo].[Loop_Task_Template]  WITH CHECK ADD  CONSTRAINT [Loop_Task_Template_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Task_Templates] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Loop_Task_Template] CHECK CONSTRAINT [Loop_Task_Template_FK]
GO
ALTER TABLE [dbo].[Loop_Task_Template]  WITH CHECK ADD  CONSTRAINT [Loop_Task_Template_FK1] FOREIGN KEY([STATEMENT_ID])
REFERENCES [dbo].[Statements] ([STATEMENT_ID])
GO
ALTER TABLE [dbo].[Loop_Task_Template] CHECK CONSTRAINT [Loop_Task_Template_FK1]
GO
