USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMChangeMgmtRule]    Script Date: 6/29/2019 5:49:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMChangeMgmtRule](
	[RULE_ID] [bigint] NOT NULL,
	[RULE_NAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
	[CONDITION_ID] [int] NOT NULL,
	[CHANGE_TYPE_ID] [int] NOT NULL,
	[ACTIONS_DISPLAY_NAME] [varchar](150) NOT NULL,
	[STATUS] [int] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_BY] [varchar](50) NOT NULL,
 CONSTRAINT [NCMChangeMgmtRule_PK] PRIMARY KEY CLUSTERED 
(
	[RULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMChangeMgmtRule_UK1] UNIQUE NONCLUSTERED 
(
	[RULE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_872059730]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_872059730] ON [dbo].[NCMChangeMgmtRule]
(
	[CONDITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMChangeMgmtRule] ADD  DEFAULT ('NO_DESCRIPTION_AVAILABLE') FOR [DESCRIPTION]
GO
ALTER TABLE [dbo].[NCMChangeMgmtRule] ADD  DEFAULT ('1') FOR [CHANGE_TYPE_ID]
GO
ALTER TABLE [dbo].[NCMChangeMgmtRule] ADD  DEFAULT ('1') FOR [STATUS]
GO
ALTER TABLE [dbo].[NCMChangeMgmtRule] ADD  DEFAULT ('NA') FOR [LAST_MODIFIED_BY]
GO
ALTER TABLE [dbo].[NCMChangeMgmtRule]  WITH CHECK ADD  CONSTRAINT [NCMChangeMgmtRule_FK1] FOREIGN KEY([CONDITION_ID])
REFERENCES [dbo].[NCMCMAvaConditions] ([CONDITION_ID])
GO
ALTER TABLE [dbo].[NCMChangeMgmtRule] CHECK CONSTRAINT [NCMChangeMgmtRule_FK1]
GO
