USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Decimal_Expressions]    Script Date: 6/29/2019 5:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decimal_Expressions](
	[DECIMAL_EXPRESSION_ID] [bigint] NOT NULL,
 CONSTRAINT [Decimal_Expressions_PK] PRIMARY KEY CLUSTERED 
(
	[DECIMAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__595336809]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__595336809] ON [dbo].[Decimal_Expressions]
(
	[DECIMAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Decimal_Expressions]  WITH CHECK ADD  CONSTRAINT [Decimal_Expressions_FK] FOREIGN KEY([DECIMAL_EXPRESSION_ID])
REFERENCES [dbo].[Numeric_Expressions] ([NUMERIC_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Decimal_Expressions] CHECK CONSTRAINT [Decimal_Expressions_FK]
GO
