USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WAASCPUUtilHourly]    Script Date: 6/29/2019 5:53:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAASCPUUtilHourly](
	[ID] [int] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[UTILIZATION] [varchar](100) NOT NULL,
	[FREQUENCY] [bigint] NOT NULL,
	[START_TIME] [datetime] NOT NULL,
	[END_TIME] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [WAASCPUUtilHourly_IDX0]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [WAASCPUUtilHourly_IDX0] ON [dbo].[WAASCPUUtilHourly]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [WAASCPUUtilHourly_IDX1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [WAASCPUUtilHourly_IDX1] ON [dbo].[WAASCPUUtilHourly]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WAASCPUUtilHourly] ADD  DEFAULT (getdate()) FOR [START_TIME]
GO
ALTER TABLE [dbo].[WAASCPUUtilHourly] ADD  DEFAULT ('0000-00-00 00:00:00') FOR [END_TIME]
GO
