USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaTablePermission]    Script Date: 6/29/2019 5:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaTablePermission](
	[PERMISSION_ID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](50) NOT NULL,
	[CRITERIA] [text] NULL,
	[ACCESS_TYPE] [varchar](4) NOT NULL,
 CONSTRAINT [AaaTablePermission_PK] PRIMARY KEY CLUSTERED 
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1776339159]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1776339159] ON [dbo].[AaaTablePermission]
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaTablePermission]  WITH CHECK ADD  CONSTRAINT [AaaTablePermission_FK1] FOREIGN KEY([PERMISSION_ID])
REFERENCES [dbo].[AaaPermission] ([PERMISSION_ID])
GO
ALTER TABLE [dbo].[AaaTablePermission] CHECK CONSTRAINT [AaaTablePermission_FK1]
GO
