USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TypeRelation]    Script Date: 6/29/2019 5:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeRelation](
	[TYPEGROUPNAME] [varchar](50) NOT NULL,
	[ORDERID] [bigint] NOT NULL,
	[TYPENAME] [varchar](250) NOT NULL,
 CONSTRAINT [TypeRel_PK] PRIMARY KEY CLUSTERED 
(
	[TYPEGROUPNAME] ASC,
	[TYPENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__809566547]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__809566547] ON [dbo].[TypeRelation]
(
	[TYPENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__809566548]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__809566548] ON [dbo].[TypeRelation]
(
	[TYPEGROUPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TypeRelation]  WITH CHECK ADD  CONSTRAINT [TypeRel_FK1] FOREIGN KEY([TYPEGROUPNAME])
REFERENCES [dbo].[TypeGroup] ([TYPEGROUPNAME])
GO
ALTER TABLE [dbo].[TypeRelation] CHECK CONSTRAINT [TypeRel_FK1]
GO
ALTER TABLE [dbo].[TypeRelation]  WITH CHECK ADD  CONSTRAINT [TypeRel_FK2] FOREIGN KEY([TYPENAME])
REFERENCES [dbo].[TypeConfiguration] ([TYPENAME])
GO
ALTER TABLE [dbo].[TypeRelation] CHECK CONSTRAINT [TypeRel_FK2]
GO
