USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic500BladeInterface]    Script Date: 6/29/2019 5:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic500BladeInterface](
	[DEVICE_ID] [bigint] NOT NULL,
	[LIBRARY_ID] [bigint] NOT NULL,
	[BLADE_IP] [varchar](100) NOT NULL,
	[BLADE_INDEX] [int] NOT NULL,
	[BLADE_WWNN] [varchar](250) NOT NULL,
	[HC_VALUE] [int] NOT NULL,
	[HC_LEVEL] [int] NOT NULL,
	[HC_INTERVAL] [int] NOT NULL,
	[BLADE_FV] [varchar](250) NOT NULL,
	[BLADE_SNO] [varchar](250) NOT NULL,
	[EVPS_STATE] [varchar](250) NOT NULL,
	[EVPS_LICENSED] [varchar](250) NOT NULL,
	[MAX_HOSTS] [int] NOT NULL,
	[BLADE_STATE] [varchar](250) NOT NULL,
	[HPFLD_THRESHOLD] [int] NOT NULL,
	[HPFER_MODE] [varchar](250) NOT NULL,
	[HPFLDR_MODE] [varchar](250) NOT NULL,
 CONSTRAINT [Adic500BladeInterface_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1056282585]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1056282585] ON [dbo].[Adic500BladeInterface]
(
	[LIBRARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1056282586]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1056282586] ON [dbo].[Adic500BladeInterface]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic500BladeInterface]  WITH CHECK ADD  CONSTRAINT [Adic500BladeInterface_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic500BladeInterface] CHECK CONSTRAINT [Adic500BladeInterface_FK1]
GO
ALTER TABLE [dbo].[Adic500BladeInterface]  WITH CHECK ADD  CONSTRAINT [Adic500BladeInterface_FK2] FOREIGN KEY([LIBRARY_ID])
REFERENCES [dbo].[Adic500TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic500BladeInterface] CHECK CONSTRAINT [Adic500BladeInterface_FK2]
GO
