USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetAppSDKVolume]    Script Date: 6/29/2019 5:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetAppSDKVolume](
	[RAID_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[UUID] [varchar](500) NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
	[STATE] [varchar](250) NOT NULL,
	[TOTAL_SIZE] [varchar](250) NOT NULL,
	[USED_SIZE] [varchar](250) NOT NULL,
	[REMAINING_SIZE] [varchar](250) NOT NULL,
	[USED_PERCENTAGE] [varchar](250) NOT NULL,
	[DISK_COUNT] [varchar](250) NOT NULL,
	[SNAPSHOT_PERCENT_RESERVED] [varchar](250) NOT NULL,
	[SNAPSHOT_BLOCKS_RESERVED] [varchar](250) NOT NULL,
	[TOTAL_FILES] [varchar](250) NOT NULL,
	[USED_FILES] [varchar](250) NOT NULL,
	[OWNING_VFILER] [varchar](250) NOT NULL,
	[MIRROR_STATE] [varchar](250) NOT NULL,
 CONSTRAINT [NetAppSDKVolume_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1148709949]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1148709949] ON [dbo].[NetAppSDKVolume]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetAppSDKVolume]  WITH CHECK ADD  CONSTRAINT [NetAppSDKVolume_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[NetAppSDKVolume] CHECK CONSTRAINT [NetAppSDKVolume_FK1]
GO
