USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEVOLUMEGROUP]    Script Date: 6/29/2019 5:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEVOLUMEGROUP](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[VOLUMEGROUP_NAME] [varchar](250) NOT NULL,
	[NO_OF_VOLUMES] [int] NULL,
	[SIZE] [varchar](250) NULL,
	[USED_SPACE] [varchar](250) NULL,
	[ADDITIONAL_DATA] [text] NULL,
 CONSTRAINT [STORAGEVOLUMEGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[VOLUMEGROUP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEVOLUMEGROUP_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_1575831703]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1575831703] ON [dbo].[STORAGEVOLUMEGROUP]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEVOLUMEGROUP] ADD  DEFAULT ('0') FOR [NO_OF_VOLUMES]
GO
ALTER TABLE [dbo].[STORAGEVOLUMEGROUP]  WITH CHECK ADD  CONSTRAINT [STORAGEVOLUMEGROUP_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGEVOLUMEGROUP] CHECK CONSTRAINT [STORAGEVOLUMEGROUP_FK1]
GO
