USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GRAPHTYPE]    Script Date: 6/29/2019 5:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRAPHTYPE](
	[GRAPHTYPEID] [bigint] NOT NULL,
	[GRAPHTYPENAME] [varchar](100) NOT NULL,
 CONSTRAINT [GraphType_PK] PRIMARY KEY CLUSTERED 
(
	[GRAPHTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [GRAPHTYPE_UK0] UNIQUE NONCLUSTERED 
(
	[GRAPHTYPENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
