USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TcpFlags]    Script Date: 6/29/2019 5:52:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TcpFlags](
	[COR] [int] NOT NULL,
	[FLAGS] [varchar](6) NOT NULL,
	[DESP] [varchar](500) NOT NULL,
 CONSTRAINT [TcpFlags_PK] PRIMARY KEY CLUSTERED 
(
	[COR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TcpFlags_UK0] UNIQUE NONCLUSTERED 
(
	[FLAGS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
