USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ATLTapeLibrary]    Script Date: 6/29/2019 5:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATLTapeLibrary](
	[DEVICE_ID] [bigint] NOT NULL,
	[LIBRARY_INDEX] [int] NOT NULL,
 CONSTRAINT [ATLTapeLibrary_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_178106445]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_178106445] ON [dbo].[ATLTapeLibrary]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ATLTapeLibrary]  WITH CHECK ADD  CONSTRAINT [ATLTapeLibrary_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ATLTapeLibrary] CHECK CONSTRAINT [ATLTapeLibrary_FK1]
GO
