USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCredentialGroup]    Script Date: 6/29/2019 5:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCredentialGroup](
	[CREDENTIALGROUPID] [bigint] NOT NULL,
	[CREDENTIALGROUPNAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](100) NOT NULL,
 CONSTRAINT [NCMCredentialGroup_PK] PRIMARY KEY CLUSTERED 
(
	[CREDENTIALGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMCredentialGroup_UK0] UNIQUE NONCLUSTERED 
(
	[CREDENTIALGROUPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCredentialGroup] ADD  DEFAULT ('NO_DESCRIPTION_AVAILABLE') FOR [DESCRIPTION]
GO
