USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HostDiskIO]    Script Date: 6/29/2019 5:48:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostDiskIO](
	[DEVICE_ID] [bigint] NOT NULL,
	[DISK_ID] [varchar](250) NOT NULL,
	[TM_ACT] [varchar](250) NOT NULL,
	[KB_READ] [varchar](250) NOT NULL,
	[KB_WRTN] [varchar](250) NOT NULL,
 CONSTRAINT [HOSTDISKIO_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1409604856]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1409604856] ON [dbo].[HostDiskIO]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HostDiskIO]  WITH CHECK ADD  CONSTRAINT [HOSTDISKIO_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HostDiskIO] CHECK CONSTRAINT [HOSTDISKIO_FK1]
GO
