USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CLIDetails]    Script Date: 6/29/2019 5:46:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIDetails](
	[AGENTNAME] [varchar](100) NOT NULL,
	[PROMPT] [varchar](50) NULL,
	[LOGINPROMPT] [varchar](50) NULL,
	[PASSWORDPROMPT] [varchar](50) NULL,
	[PROTOCOL] [varchar](50) NULL,
	[PORTNUMBER] [int] NULL,
	[FILENAME] [varchar](100) NULL,
	[TIMEOUT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AGENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CLIDetails0_ndx]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [CLIDetails0_ndx] ON [dbo].[CLIDetails]
(
	[AGENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIDetails] ADD  DEFAULT ((10)) FOR [TIMEOUT]
GO
