USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RackObject]    Script Date: 6/29/2019 5:50:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RackObject](
	[MOID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[RACKLENGTH] [int] NOT NULL,
	[RACKNUMBERING] [varchar](50) NOT NULL,
	[RACKORIENTATION] [varchar](50) NOT NULL,
	[RACKBREADTH] [int] NOT NULL,
	[POWERCAPACITY] [bigint] NOT NULL,
	[TEMPERATURECAPACITY] [bigint] NOT NULL,
 CONSTRAINT [RackObject_PK] PRIMARY KEY CLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [RackObject_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1536770717]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1536770717] ON [dbo].[RackObject]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RackObject] ADD  DEFAULT ('42') FOR [RACKLENGTH]
GO
ALTER TABLE [dbo].[RackObject] ADD  DEFAULT ('true') FOR [RACKNUMBERING]
GO
ALTER TABLE [dbo].[RackObject] ADD  DEFAULT ('FrontBack') FOR [RACKORIENTATION]
GO
ALTER TABLE [dbo].[RackObject] ADD  DEFAULT ('1') FOR [RACKBREADTH]
GO
ALTER TABLE [dbo].[RackObject] ADD  DEFAULT ('-1') FOR [POWERCAPACITY]
GO
ALTER TABLE [dbo].[RackObject] ADD  DEFAULT ('-1') FOR [TEMPERATURECAPACITY]
GO
ALTER TABLE [dbo].[RackObject]  WITH CHECK ADD  CONSTRAINT [RackObject_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[RackObject] CHECK CONSTRAINT [RackObject_FK1]
GO
