USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMLabelDownloadInput]    Script Date: 6/29/2019 5:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMLabelDownloadInput](
	[INSTANCEID] [bigint] NOT NULL,
	[LABELNAME] [varchar](50) NOT NULL,
 CONSTRAINT [NCMLabelDownloadInput_PK1] PRIMARY KEY CLUSTERED 
(
	[INSTANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1225869005]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1225869005] ON [dbo].[NCMLabelDownloadInput]
(
	[INSTANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMLabelDownloadInput]  WITH CHECK ADD  CONSTRAINT [NCMLabelDownloadInput_FK1] FOREIGN KEY([INSTANCEID])
REFERENCES [dbo].[NCMConfigAutomationInput] ([INSTANCEID])
GO
ALTER TABLE [dbo].[NCMLabelDownloadInput] CHECK CONSTRAINT [NCMLabelDownloadInput_FK1]
GO
