USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NELink]    Script Date: 6/29/2019 5:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NELink](
	[LINKID] [bigint] NOT NULL,
	[SOURCEID] [bigint] NOT NULL,
	[DESTINATIONID] [bigint] NOT NULL,
 CONSTRAINT [NELink_PK] PRIMARY KEY CLUSTERED 
(
	[LINKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1344329440]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1344329440] ON [dbo].[NELink]
(
	[DESTINATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1344329441]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1344329441] ON [dbo].[NELink]
(
	[SOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1344329442]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1344329442] ON [dbo].[NELink]
(
	[LINKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NELink]  WITH CHECK ADD  CONSTRAINT [NELink_FK1] FOREIGN KEY([LINKID])
REFERENCES [dbo].[Link] ([LINKID])
GO
ALTER TABLE [dbo].[NELink] CHECK CONSTRAINT [NELink_FK1]
GO
ALTER TABLE [dbo].[NELink]  WITH CHECK ADD  CONSTRAINT [NELink_FK2] FOREIGN KEY([SOURCEID])
REFERENCES [dbo].[NEPort] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NELink] CHECK CONSTRAINT [NELink_FK2]
GO
ALTER TABLE [dbo].[NELink]  WITH CHECK ADD  CONSTRAINT [NELink_FK3] FOREIGN KEY([DESTINATIONID])
REFERENCES [dbo].[NEPort] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NELink] CHECK CONSTRAINT [NELink_FK3]
GO
