USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SERVICEDESK_CONFIG]    Script Date: 6/29/2019 5:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICEDESK_CONFIG](
	[TO_EMAIL] [varchar](255) NOT NULL,
	[FROM_EMAIL] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
