USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMEmailRecipients]    Script Date: 6/29/2019 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMEmailRecipients](
	[INSTANCE_ID] [bigint] NOT NULL,
	[INPUT_ID] [bigint] NOT NULL,
	[NOTIFY_ON_ERROR] [bit] NOT NULL,
	[NOTIFY_ON_CONFIG_CHANGE] [bit] NOT NULL,
	[EXCLUDE_CONFIG_CHANGE_INMAIL] [bit] NOT NULL,
 CONSTRAINT [NCMEmailRecipients_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__991512020]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__991512020] ON [dbo].[NCMEmailRecipients]
(
	[INPUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__991512021]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__991512021] ON [dbo].[NCMEmailRecipients]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMEmailRecipients] ADD  DEFAULT ((0)) FOR [NOTIFY_ON_ERROR]
GO
ALTER TABLE [dbo].[NCMEmailRecipients] ADD  DEFAULT ((0)) FOR [NOTIFY_ON_CONFIG_CHANGE]
GO
ALTER TABLE [dbo].[NCMEmailRecipients] ADD  DEFAULT ((0)) FOR [EXCLUDE_CONFIG_CHANGE_INMAIL]
GO
ALTER TABLE [dbo].[NCMEmailRecipients]  WITH CHECK ADD  CONSTRAINT [NCMEmailRecipients_FK1] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[Task_Input] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[NCMEmailRecipients] CHECK CONSTRAINT [NCMEmailRecipients_FK1]
GO
ALTER TABLE [dbo].[NCMEmailRecipients]  WITH CHECK ADD  CONSTRAINT [NCMEmailRecipients_FK2] FOREIGN KEY([INPUT_ID])
REFERENCES [dbo].[Email_Task_Input] ([INPUT_ID])
GO
ALTER TABLE [dbo].[NCMEmailRecipients] CHECK CONSTRAINT [NCMEmailRecipients_FK2]
GO
