USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FUNCTIONALEXPRESSIONMAPPING]    Script Date: 6/29/2019 5:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCTIONALEXPRESSIONMAPPING](
	[EXPRESSIONID] [bigint] NOT NULL,
	[PROTOCOLID] [bigint] NOT NULL,
	[EXPRESSIONTYPEID] [bigint] NOT NULL,
 CONSTRAINT [FUNCTIONALEXPRESSIONMAPPING_PK1] PRIMARY KEY CLUSTERED 
(
	[EXPRESSIONID] ASC,
	[PROTOCOLID] ASC,
	[EXPRESSIONTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_354871616]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_354871616] ON [dbo].[FUNCTIONALEXPRESSIONMAPPING]
(
	[EXPRESSIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_354871617]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_354871617] ON [dbo].[FUNCTIONALEXPRESSIONMAPPING]
(
	[PROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_354871618]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_354871618] ON [dbo].[FUNCTIONALEXPRESSIONMAPPING]
(
	[EXPRESSIONTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FUNCTIONALEXPRESSIONMAPPING]  WITH CHECK ADD  CONSTRAINT [FUNCTIONALEXPRESSIONMAPPING_FK1] FOREIGN KEY([EXPRESSIONID])
REFERENCES [dbo].[FUNCTIONALEXPRESSION] ([EXPRESSIONID])
GO
ALTER TABLE [dbo].[FUNCTIONALEXPRESSIONMAPPING] CHECK CONSTRAINT [FUNCTIONALEXPRESSIONMAPPING_FK1]
GO
ALTER TABLE [dbo].[FUNCTIONALEXPRESSIONMAPPING]  WITH CHECK ADD  CONSTRAINT [FUNCTIONALEXPRESSIONMAPPING_FK2] FOREIGN KEY([PROTOCOLID])
REFERENCES [dbo].[PROTOCOLDETAILS] ([PROTOCOLID])
GO
ALTER TABLE [dbo].[FUNCTIONALEXPRESSIONMAPPING] CHECK CONSTRAINT [FUNCTIONALEXPRESSIONMAPPING_FK2]
GO
ALTER TABLE [dbo].[FUNCTIONALEXPRESSIONMAPPING]  WITH CHECK ADD  CONSTRAINT [FUNCTIONALEXPRESSIONMAPPING_FK3] FOREIGN KEY([EXPRESSIONTYPEID])
REFERENCES [dbo].[FUNCTIONALEXPRESSIONTYPES] ([EXPRESSIONTYPEID])
GO
ALTER TABLE [dbo].[FUNCTIONALEXPRESSIONMAPPING] CHECK CONSTRAINT [FUNCTIONALEXPRESSIONMAPPING_FK3]
GO
