USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DevicePackage]    Script Date: 6/29/2019 5:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevicePackage](
	[DEVICETYPEID] [bigint] NOT NULL,
	[DEVICETYPE] [varchar](200) NOT NULL,
	[ICONNAME] [varchar](200) NOT NULL,
	[PINGINTERVAL] [bigint] NOT NULL,
 CONSTRAINT [DevicePackage_PK1] PRIMARY KEY CLUSTERED 
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DevicePackage_UK0] UNIQUE NONCLUSTERED 
(
	[DEVICETYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DevicePackage] ADD  DEFAULT ('5') FOR [PINGINTERVAL]
GO
