USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Attack_Vs_Cli_Year]    Script Date: 6/29/2019 5:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attack_Vs_Cli_Year](
	[AVCT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HOUR] [datetime] NOT NULL,
	[RID] [bigint] NOT NULL,
	[SRC_ID] [bigint] NULL,
	[DEST_ID] [bigint] NULL,
	[SRC] [nvarchar](96) NULL,
	[DEST] [nvarchar](96) NULL,
	[PRIORITY_ID] [bigint] NULL,
	[ATTACK] [nvarchar](96) NULL,
	[PROTOCOL] [nvarchar](48) NULL,
	[REQUEST_COUNT] [bigint] NULL,
	[SUBTYPE] [nvarchar](48) NULL,
	[STATUS] [nvarchar](48) NULL,
	[MSG] [nvarchar](1) NULL,
	[SRC_CNTRYID] [int] NULL,
	[DST_CNTRYID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AVCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Attack_Vs_Cli_Year_CIDX1]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Attack_Vs_Cli_Year_CIDX1] ON [dbo].[Attack_Vs_Cli_Year]
(
	[SRC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Attack_Vs_Cli_Year_CIDX2]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Attack_Vs_Cli_Year_CIDX2] ON [dbo].[Attack_Vs_Cli_Year]
(
	[DEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Attack_Vs_Cli_Year_CIDX3]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Attack_Vs_Cli_Year_CIDX3] ON [dbo].[Attack_Vs_Cli_Year]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Attack_Vs_Cli_Year_CIDX4]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Attack_Vs_Cli_Year_CIDX4] ON [dbo].[Attack_Vs_Cli_Year]
(
	[PRIORITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Attack_Vs_Cli_Year_CIDX5]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Attack_Vs_Cli_Year_CIDX5] ON [dbo].[Attack_Vs_Cli_Year]
(
	[SRC_CNTRYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Attack_Vs_Cli_Year_CIDX6]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Attack_Vs_Cli_Year_CIDX6] ON [dbo].[Attack_Vs_Cli_Year]
(
	[DST_CNTRYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT ('1970-01-01 00:00:00') FOR [HOUR]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [SRC_ID]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [DEST_ID]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [SRC]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [DEST]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [PRIORITY_ID]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [ATTACK]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [PROTOCOL]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT ('0') FOR [REQUEST_COUNT]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [SUBTYPE]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [STATUS]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [MSG]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [SRC_CNTRYID]
GO
ALTER TABLE [dbo].[Attack_Vs_Cli_Year] ADD  DEFAULT (NULL) FOR [DST_CNTRYID]
GO
