USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DellPowerConnectSwitch]    Script Date: 6/29/2019 5:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DellPowerConnectSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[BOOT_VERSION] [varchar](100) NOT NULL,
	[HARDWARE_VERSION] [varchar](100) NOT NULL,
 CONSTRAINT [DellPowerConnectSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1655355961]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1655355961] ON [dbo].[DellPowerConnectSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DellPowerConnectSwitch] ADD  DEFAULT ('Not Available') FOR [BOOT_VERSION]
GO
ALTER TABLE [dbo].[DellPowerConnectSwitch] ADD  DEFAULT ('Not Available') FOR [HARDWARE_VERSION]
GO
ALTER TABLE [dbo].[DellPowerConnectSwitch]  WITH CHECK ADD  CONSTRAINT [DellPowerConnectSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[DellPowerConnectSwitch] CHECK CONSTRAINT [DellPowerConnectSwitch_FK1]
GO
