USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BrocadeSwitchPort]    Script Date: 6/29/2019 5:46:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrocadeSwitchPort](
	[PORT_ID] [bigint] NOT NULL,
	[PORT_PHYSICAL_STATE] [varchar](250) NOT NULL,
	[PORT_LINK_STATE] [varchar](250) NOT NULL,
	[ADMIN_STATUS] [varchar](250) NOT NULL,
	[TRANSMITTER_TYPE] [varchar](250) NOT NULL,
 CONSTRAINT [BROCADESWITCHPORT_PK] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1271537120]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1271537120] ON [dbo].[BrocadeSwitchPort]
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BrocadeSwitchPort]  WITH CHECK ADD  CONSTRAINT [BROCADESWITCHPORT_FK1] FOREIGN KEY([PORT_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[BrocadeSwitchPort] CHECK CONSTRAINT [BROCADESWITCHPORT_FK1]
GO
