USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VertualIP]    Script Date: 6/29/2019 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VertualIP](
	[RESOURCEID] [bigint] NOT NULL,
	[IPADDRESS] [varchar](15) NOT NULL,
 CONSTRAINT [VertualIP_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC,
	[IPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_437805603]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_437805603] ON [dbo].[VertualIP]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VertualIP]  WITH CHECK ADD  CONSTRAINT [VertualIP_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[OpUtilsResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[VertualIP] CHECK CONSTRAINT [VertualIP_FK1]
GO
