USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SECONDARYSERVERDETAILS]    Script Date: 6/29/2019 5:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECONDARYSERVERDETAILS](
	[AGENT_REQUEST_ID] [bigint] NOT NULL,
	[SEC_SERVER_NAME] [varchar](200) NOT NULL,
	[SEC_SERVER_IPADDRESS] [varchar](200) NOT NULL,
	[SEC_SERVER_PORT] [varchar](200) NOT NULL,
	[SEC_SERVER_PROTOCOL] [varchar](200) NOT NULL,
 CONSTRAINT [SECONDARYSERVERDETAILS_PK1] PRIMARY KEY CLUSTERED 
(
	[AGENT_REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__728108424]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__728108424] ON [dbo].[SECONDARYSERVERDETAILS]
(
	[AGENT_REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SECONDARYSERVERDETAILS]  WITH CHECK ADD  CONSTRAINT [SECONDARYSERVERDETAILS_FK1] FOREIGN KEY([AGENT_REQUEST_ID])
REFERENCES [dbo].[AGENTREQUESTDETAILS] ([AGENT_REQUEST_ID])
GO
ALTER TABLE [dbo].[SECONDARYSERVERDETAILS] CHECK CONSTRAINT [SECONDARYSERVERDETAILS_FK1]
GO
