USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VMNICProps]    Script Date: 6/29/2019 5:52:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMNICProps](
	[VMNIC_ID] [bigint] NOT NULL,
	[VMNIC_ENTITYNAME] [varchar](75) NOT NULL,
	[VM_ID] [bigint] NOT NULL,
	[CONNECT_STATUS] [bit] NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
	[MACADDRESS] [varchar](50) NULL,
	[IPADDRESS] [varchar](50) NULL,
	[VPORTGROUP_ID] [bigint] NULL,
 CONSTRAINT [VMNICProps_PK] PRIMARY KEY CLUSTERED 
(
	[VMNIC_ID] ASC,
	[VMNIC_ENTITYNAME] ASC,
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1483302932]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1483302932] ON [dbo].[VMNICProps]
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VMNICProps]  WITH CHECK ADD  CONSTRAINT [VMNICProps_FK1] FOREIGN KEY([VM_ID])
REFERENCES [dbo].[VMProperties] ([VM_ID])
GO
ALTER TABLE [dbo].[VMNICProps] CHECK CONSTRAINT [VMNICProps_FK1]
GO
