USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEHOSTTOVOLUME]    Script Date: 6/29/2019 5:51:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEHOSTTOVOLUME](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[VOLUME_ID] [bigint] NOT NULL,
	[HOST_ID] [bigint] NOT NULL,
 CONSTRAINT [STORAGEHOSTTOVOLUME_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[VOLUME_ID] ASC,
	[HOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEHOSTTOVOLUME_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1535847385]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1535847385] ON [dbo].[STORAGEHOSTTOVOLUME]
(
	[HOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1535847386]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1535847386] ON [dbo].[STORAGEHOSTTOVOLUME]
(
	[VOLUME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1535847387]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1535847387] ON [dbo].[STORAGEHOSTTOVOLUME]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEHOSTTOVOLUME]  WITH CHECK ADD  CONSTRAINT [STORAGEHOSTTOVOLUME_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGEHOSTTOVOLUME] CHECK CONSTRAINT [STORAGEHOSTTOVOLUME_FK1]
GO
ALTER TABLE [dbo].[STORAGEHOSTTOVOLUME]  WITH CHECK ADD  CONSTRAINT [STORAGEHOSTTOVOLUME_FK2] FOREIGN KEY([VOLUME_ID])
REFERENCES [dbo].[STORAGEVOLUMEDETAILS] ([ID])
GO
ALTER TABLE [dbo].[STORAGEHOSTTOVOLUME] CHECK CONSTRAINT [STORAGEHOSTTOVOLUME_FK2]
GO
ALTER TABLE [dbo].[STORAGEHOSTTOVOLUME]  WITH CHECK ADD  CONSTRAINT [STORAGEHOSTTOVOLUME_FK3] FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[STORAGEHOSTNAME] ([ID])
GO
ALTER TABLE [dbo].[STORAGEHOSTTOVOLUME] CHECK CONSTRAINT [STORAGEHOSTTOVOLUME_FK3]
GO
