USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportConfigToRBBMapping]    Script Date: 6/29/2019 5:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportConfigToRBBMapping](
	[REPORTID] [bigint] NOT NULL,
	[RBBNAME] [nvarchar](250) NOT NULL,
	[GENSQL] [ntext] NULL,
 CONSTRAINT [ReportConfigToRBB_PK] PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC,
	[RBBNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_917188206]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_917188206] ON [dbo].[ReportConfigToRBBMapping]
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_917188207]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_917188207] ON [dbo].[ReportConfigToRBBMapping]
(
	[RBBNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportConfigToRBBMapping]  WITH CHECK ADD  CONSTRAINT [ReportConfigToRBB_FK1] FOREIGN KEY([REPORTID])
REFERENCES [dbo].[ReportConfig] ([REPORTID])
GO
ALTER TABLE [dbo].[ReportConfigToRBBMapping] CHECK CONSTRAINT [ReportConfigToRBB_FK1]
GO
ALTER TABLE [dbo].[ReportConfigToRBBMapping]  WITH CHECK ADD  CONSTRAINT [ReportConfigToRBB_FK2] FOREIGN KEY([RBBNAME])
REFERENCES [dbo].[ReportBuildingBlock] ([RBBNAME])
GO
ALTER TABLE [dbo].[ReportConfigToRBBMapping] CHECK CONSTRAINT [ReportConfigToRBB_FK2]
GO
