USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMPollingDeviceGroup]    Script Date: 6/29/2019 5:49:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMPollingDeviceGroup](
	[INSTANCE_ID] [bigint] NOT NULL,
	[DEVICE_GROUP_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMPollingDeviceGroup_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1168497236]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1168497236] ON [dbo].[NCMPollingDeviceGroup]
(
	[DEVICE_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1168497237]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1168497237] ON [dbo].[NCMPollingDeviceGroup]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMPollingDeviceGroup]  WITH CHECK ADD  CONSTRAINT [NCMPollingDeviceGroup_FK1] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[Task_Input] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[NCMPollingDeviceGroup] CHECK CONSTRAINT [NCMPollingDeviceGroup_FK1]
GO
ALTER TABLE [dbo].[NCMPollingDeviceGroup]  WITH CHECK ADD  CONSTRAINT [NCMPollingDeviceGroup_FK2] FOREIGN KEY([DEVICE_GROUP_ID])
REFERENCES [dbo].[NCMDeviceGroup] ([DEVICE_GROUP_ID])
GO
ALTER TABLE [dbo].[NCMPollingDeviceGroup] CHECK CONSTRAINT [NCMPollingDeviceGroup_FK2]
GO
