USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Decimal_Template_Vars]    Script Date: 6/29/2019 5:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decimal_Template_Vars](
	[DECIMAL_EXPRESSION_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [bigint] NOT NULL,
	[VARIABLE_NAME] [varchar](100) NOT NULL,
	[DECIMAL_INDEX] [bigint] NULL,
 CONSTRAINT [Decimal_Template_Vars_PK] PRIMARY KEY CLUSTERED 
(
	[DECIMAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1535826879]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1535826879] ON [dbo].[Decimal_Template_Vars]
(
	[DECIMAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__365992943]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__365992943] ON [dbo].[Decimal_Template_Vars]
(
	[DECIMAL_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__365992944]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__365992944] ON [dbo].[Decimal_Template_Vars]
(
	[TEMPLATE_ID] ASC,
	[VARIABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Decimal_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Decimal_Template_Vars_FK] FOREIGN KEY([DECIMAL_EXPRESSION_ID])
REFERENCES [dbo].[Decimal_Expressions] ([DECIMAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Decimal_Template_Vars] CHECK CONSTRAINT [Decimal_Template_Vars_FK]
GO
ALTER TABLE [dbo].[Decimal_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Decimal_Template_Vars_FK1] FOREIGN KEY([TEMPLATE_ID], [VARIABLE_NAME])
REFERENCES [dbo].[Template_Data] ([TEMPLATE_ID], [VARIABLE_NAME])
GO
ALTER TABLE [dbo].[Decimal_Template_Vars] CHECK CONSTRAINT [Decimal_Template_Vars_FK1]
GO
ALTER TABLE [dbo].[Decimal_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Decimal_Template_Vars_FK2] FOREIGN KEY([DECIMAL_INDEX])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Decimal_Template_Vars] CHECK CONSTRAINT [Decimal_Template_Vars_FK2]
GO
