USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CustomCategory]    Script Date: 6/29/2019 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomCategory](
	[CATEGORYID] [bigint] NOT NULL,
 CONSTRAINT [CustomCategory_PK] PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__68204676]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__68204676] ON [dbo].[CustomCategory]
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomCategory]  WITH CHECK ADD  CONSTRAINT [CustomCategory_FK1] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CategoryDefinition] ([CATEGORYID])
GO
ALTER TABLE [dbo].[CustomCategory] CHECK CONSTRAINT [CustomCategory_FK1]
GO
