USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDraftVersion]    Script Date: 6/29/2019 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDraftVersion](
	[DRAFT_ID] [int] NOT NULL,
	[BASE_VERSION] [bigint] NOT NULL,
 CONSTRAINT [NCMDraftVersion_PK] PRIMARY KEY CLUSTERED 
(
	[DRAFT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__203308772]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__203308772] ON [dbo].[NCMDraftVersion]
(
	[BASE_VERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2084768331]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2084768331] ON [dbo].[NCMDraftVersion]
(
	[DRAFT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDraftVersion]  WITH CHECK ADD  CONSTRAINT [NCMDraftVersion_FK] FOREIGN KEY([DRAFT_ID])
REFERENCES [dbo].[NCMDraft] ([DRAFT_ID])
GO
ALTER TABLE [dbo].[NCMDraftVersion] CHECK CONSTRAINT [NCMDraftVersion_FK]
GO
ALTER TABLE [dbo].[NCMDraftVersion]  WITH CHECK ADD  CONSTRAINT [NCMDraftVersion_FK1] FOREIGN KEY([BASE_VERSION])
REFERENCES [dbo].[NCMVersion] ([VERSION_ID])
GO
ALTER TABLE [dbo].[NCMDraftVersion] CHECK CONSTRAINT [NCMDraftVersion_FK1]
GO
