USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FlowRate]    Script Date: 6/29/2019 5:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlowRate](
	[ID] [bigint] NOT NULL,
	[FLOW_COUNT] [bigint] NOT NULL,
	[TIME_FRAME] [bigint] NOT NULL,
 CONSTRAINT [FlowRate_ID_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
