USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RulePreImpactReportDetails]    Script Date: 6/29/2019 5:51:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RulePreImpactReportDetails](
	[IMPACT_REPORT_ID] [bigint] NOT NULL,
	[REPORT_NAME] [nvarchar](150) NOT NULL,
	[RID] [bigint] NOT NULL,
	[RULE_NAME] [nvarchar](150) NOT NULL,
	[POLICY_NAME] [nvarchar](250) NOT NULL,
	[POSITION] [nvarchar](50) NOT NULL,
	[SOURCE] [nvarchar](500) NOT NULL,
	[DESTINATION] [nvarchar](500) NOT NULL,
	[SRC_INTERFACE] [nvarchar](500) NOT NULL,
	[DST_INTERFACE] [nvarchar](500) NOT NULL,
	[SERVICE] [nvarchar](500) NOT NULL,
	[APPLICATION] [nvarchar](500) NOT NULL,
	[ACTION] [nvarchar](50) NOT NULL,
	[REPORT_FILE_NAME] [nvarchar](150) NOT NULL,
	[REPORT_FILE_PATH] [nvarchar](350) NOT NULL,
	[REPORT_GEN_TIME] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[OBJREPCOUNT] [nvarchar](50) NOT NULL,
 CONSTRAINT [RulePreImpactReportDetails_PK] PRIMARY KEY CLUSTERED 
(
	[IMPACT_REPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [RulePreImpactReportDetails_UK1] UNIQUE NONCLUSTERED 
(
	[REPORT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1637355421]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1637355421] ON [dbo].[RulePreImpactReportDetails]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RulePreImpactReportDetails] ADD  DEFAULT ('10') FOR [OBJREPCOUNT]
GO
ALTER TABLE [dbo].[RulePreImpactReportDetails]  WITH CHECK ADD  CONSTRAINT [RulePreImpactReportDetails_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[RulePreImpactReportDetails] CHECK CONSTRAINT [RulePreImpactReportDetails_FK]
GO
