USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARCPG]    Script Date: 6/29/2019 5:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARCPG](
	[RAID_ID] [bigint] NOT NULL,
	[POOL_ID] [varchar](150) NOT NULL,
	[ALLOCATION_UNIT] [varchar](250) NOT NULL,
	[SPACE] [varchar](250) NOT NULL,
	[CURRENT_SPACE] [varchar](250) NOT NULL,
	[SNAP_DATA_SPACE] [varchar](250) NOT NULL,
	[SNAP_DATA_SPACE_META_DATA] [varchar](250) NOT NULL,
	[SNAP_ADMIN_SPACE] [varchar](250) NOT NULL,
	[SNAP_ADMIN_SPACE_META_DATA] [varchar](250) NOT NULL,
	[SNAP_DATA_SPACE_WARNING_LIMIT] [varchar](250) NOT NULL,
	[LOW_SPACE_WARNING_THRESHOLD] [varchar](250) NOT NULL,
	[DOMAIN] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARCPG_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_2050733472]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2050733472] ON [dbo].[HP3PARCPG]
(
	[RAID_ID] ASC,
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARCPG]  WITH CHECK ADD  CONSTRAINT [HP3PARCPG_FK] FOREIGN KEY([RAID_ID], [POOL_ID])
REFERENCES [dbo].[HP3PARStoragePool] ([RAID_ID], [POOL_ID])
GO
ALTER TABLE [dbo].[HP3PARCPG] CHECK CONSTRAINT [HP3PARCPG_FK]
GO
