USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SSOCustomers]    Script Date: 6/29/2019 5:51:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSOCustomers](
	[CUSTOMER_ID] [nvarchar](100) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](100) NOT NULL,
	[CUSTOMER_ADD_DATE] [datetime] NOT NULL,
	[COLLECTOR_NAME] [nvarchar](100) NOT NULL,
	[CUSTOMER_DEVICES] [nvarchar](500) NOT NULL,
	[LAST_UPDATE_BY] [nvarchar](100) NOT NULL,
	[LAST_UPDATE_DATE] [datetime] NOT NULL,
	[CUSTOMER_STATUS] [bigint] NOT NULL,
 CONSTRAINT [SSOCustomers_PK] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
