USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDeviceSyslogTemplate]    Script Date: 6/29/2019 5:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDeviceSyslogTemplate](
	[DEVICECUSTOMTEMPLATE_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [int] NOT NULL,
	[DEVICETEMPLATEID] [bigint] NOT NULL,
 CONSTRAINT [NCMDeviceSyslogTemplate_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICECUSTOMTEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1653016563]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1653016563] ON [dbo].[NCMDeviceSyslogTemplate]
(
	[DEVICETEMPLATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1653016564]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1653016564] ON [dbo].[NCMDeviceSyslogTemplate]
(
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDeviceSyslogTemplate]  WITH CHECK ADD  CONSTRAINT [NCMDeviceSyslogTemplate_FK1] FOREIGN KEY([TEMPLATE_ID])
REFERENCES [dbo].[NCMTemplate] ([TEMPLATE_ID])
GO
ALTER TABLE [dbo].[NCMDeviceSyslogTemplate] CHECK CONSTRAINT [NCMDeviceSyslogTemplate_FK1]
GO
ALTER TABLE [dbo].[NCMDeviceSyslogTemplate]  WITH CHECK ADD  CONSTRAINT [NCMDeviceSyslogTemplate_FK2] FOREIGN KEY([DEVICETEMPLATEID])
REFERENCES [dbo].[NCMDeviceTemplate] ([DEVICETEMPLATEID])
GO
ALTER TABLE [dbo].[NCMDeviceSyslogTemplate] CHECK CONSTRAINT [NCMDeviceSyslogTemplate_FK2]
GO
