USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMUserInput]    Script Date: 6/29/2019 5:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMUserInput](
	[USERINPUTID] [bigint] NOT NULL,
	[PROPERTYNAME] [varchar](250) NOT NULL,
	[PROPERTYVALUE] [varbinary](max) NOT NULL,
 CONSTRAINT [NCMUserInput_PK1] PRIMARY KEY CLUSTERED 
(
	[USERINPUTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMUserInput_UK1] UNIQUE NONCLUSTERED 
(
	[PROPERTYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
