USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMMIBSelection]    Script Date: 6/29/2019 5:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMMIBSelection](
	[MIBID] [bigint] NOT NULL,
	[MIBNAME] [varchar](100) NOT NULL,
	[RECORDID] [varchar](250) NOT NULL,
	[INTERACTIONSPECID] [varchar](150) NOT NULL,
 CONSTRAINT [NCMMIBSelection_PK] PRIMARY KEY CLUSTERED 
(
	[MIBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMMIBSelection_UK0] UNIQUE NONCLUSTERED 
(
	[MIBNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__2140734580]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2140734580] ON [dbo].[NCMMIBSelection]
(
	[INTERACTIONSPECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__2140734581]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2140734581] ON [dbo].[NCMMIBSelection]
(
	[RECORDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMMIBSelection]  WITH CHECK ADD  CONSTRAINT [NCMMIBSelection_FK1] FOREIGN KEY([RECORDID])
REFERENCES [dbo].[Record] ([RecordID])
GO
ALTER TABLE [dbo].[NCMMIBSelection] CHECK CONSTRAINT [NCMMIBSelection_FK1]
GO
ALTER TABLE [dbo].[NCMMIBSelection]  WITH CHECK ADD  CONSTRAINT [NCMMIBSelection_FK2] FOREIGN KEY([INTERACTIONSPECID])
REFERENCES [dbo].[InteractionSpec] ([InteractionID])
GO
ALTER TABLE [dbo].[NCMMIBSelection] CHECK CONSTRAINT [NCMMIBSelection_FK2]
GO
