USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SPMRetreiverConfig]    Script Date: 6/29/2019 5:51:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPMRetreiverConfig](
	[SYSOID] [varchar](50) NOT NULL,
	[SWITCH_RETREIVER_CLASS] [varchar](250) NOT NULL,
	[PORTMAC_RETREIVER_CLASS] [varchar](250) NOT NULL,
	[VLAN_RETREIVER_CLASS] [varchar](250) NULL,
	[INTERFACE_RETREIVER_CLASS] [varchar](250) NOT NULL,
 CONSTRAINT [SPMRetreiverConfig_PK] PRIMARY KEY CLUSTERED 
(
	[SYSOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1373224019]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1373224019] ON [dbo].[SPMRetreiverConfig]
(
	[SYSOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SPMRetreiverConfig]  WITH CHECK ADD  CONSTRAINT [SPMRetreiverConfig_FK1] FOREIGN KEY([SYSOID])
REFERENCES [dbo].[SPMCollectorConfig] ([SYSOID])
GO
ALTER TABLE [dbo].[SPMRetreiverConfig] CHECK CONSTRAINT [SPMRetreiverConfig_FK1]
GO
