USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMShowCommExecGrpInfo]    Script Date: 6/29/2019 5:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMShowCommExecGrpInfo](
	[SHOWCOMMEXECGRPID] [bigint] NOT NULL,
	[PERSONALITYID] [bigint] NOT NULL,
	[MODEL] [varchar](25) NULL,
	[EXECUTIONGROUPID] [bigint] NOT NULL,
	[RECORDID] [varchar](250) NOT NULL,
 CONSTRAINT [NCMShowCommExecGrpInfo_PK] PRIMARY KEY CLUSTERED 
(
	[SHOWCOMMEXECGRPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMShowCommExecGrpInfo_UNQ1] UNIQUE NONCLUSTERED 
(
	[PERSONALITYID] ASC,
	[MODEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1788599406]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1788599406] ON [dbo].[NCMShowCommExecGrpInfo]
(
	[PERSONALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1788599407]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1788599407] ON [dbo].[NCMShowCommExecGrpInfo]
(
	[EXECUTIONGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1788599408]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1788599408] ON [dbo].[NCMShowCommExecGrpInfo]
(
	[RECORDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMShowCommExecGrpInfo]  WITH CHECK ADD  CONSTRAINT [NCMShowCommExecGrpInfo_FK1] FOREIGN KEY([PERSONALITYID])
REFERENCES [dbo].[NCMPersonality] ([PERSONALITYID])
GO
ALTER TABLE [dbo].[NCMShowCommExecGrpInfo] CHECK CONSTRAINT [NCMShowCommExecGrpInfo_FK1]
GO
ALTER TABLE [dbo].[NCMShowCommExecGrpInfo]  WITH CHECK ADD  CONSTRAINT [NCMShowCommExecGrpInfo_FK2] FOREIGN KEY([EXECUTIONGROUPID])
REFERENCES [dbo].[NCMExecutionGroup] ([EXECUTIONGROUPID])
GO
ALTER TABLE [dbo].[NCMShowCommExecGrpInfo] CHECK CONSTRAINT [NCMShowCommExecGrpInfo_FK2]
GO
ALTER TABLE [dbo].[NCMShowCommExecGrpInfo]  WITH CHECK ADD  CONSTRAINT [NCMShowCommExecGrpInfo_FK3] FOREIGN KEY([RECORDID])
REFERENCES [dbo].[Record] ([RecordID])
GO
ALTER TABLE [dbo].[NCMShowCommExecGrpInfo] CHECK CONSTRAINT [NCMShowCommExecGrpInfo_FK3]
GO
