USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ChangeMgmtSchedules]    Script Date: 6/29/2019 5:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeMgmtSchedules](
	[DDID] [bigint] NOT NULL,
	[SCHEDULEID] [bigint] NOT NULL,
	[DESCRIPTION] [nvarchar](100) NOT NULL,
	[RID] [bigint] NOT NULL,
 CONSTRAINT [ChangeMgmtSchedules_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__531779367]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__531779367] ON [dbo].[ChangeMgmtSchedules]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__531779368]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__531779368] ON [dbo].[ChangeMgmtSchedules]
(
	[DDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChangeMgmtSchedules]  WITH CHECK ADD  CONSTRAINT [ChangeMgmtSchedules_FK1] FOREIGN KEY([DDID])
REFERENCES [dbo].[DeviceDetails] ([DDID])
GO
ALTER TABLE [dbo].[ChangeMgmtSchedules] CHECK CONSTRAINT [ChangeMgmtSchedules_FK1]
GO
ALTER TABLE [dbo].[ChangeMgmtSchedules]  WITH CHECK ADD  CONSTRAINT [ChangeMgmtSchedules_FK2] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[Schedule] ([SCHEDULE_ID])
GO
ALTER TABLE [dbo].[ChangeMgmtSchedules] CHECK CONSTRAINT [ChangeMgmtSchedules_FK2]
GO
