USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiscoveryMapperConfiguration]    Script Date: 6/29/2019 5:47:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryMapperConfiguration](
	[MAPPERID] [bigint] NOT NULL,
	[PROCESSBULKRESPONSE] [bit] NOT NULL,
	[RESOURCETYPE] [varchar](100) NOT NULL,
	[CONNECTIONCRITERIA] [varchar](15) NOT NULL,
	[USE_NE_CONNECTION] [bit] NOT NULL,
 CONSTRAINT [DiscMapperConfig_PK] PRIMARY KEY CLUSTERED 
(
	[MAPPERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoveryMapperConfiguration] ADD  DEFAULT ((0)) FOR [PROCESSBULKRESPONSE]
GO
ALTER TABLE [dbo].[DiscoveryMapperConfiguration] ADD  DEFAULT ((0)) FOR [USE_NE_CONNECTION]
GO
