USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NENetwork]    Script Date: 6/29/2019 5:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NENetwork](
	[RESOURCEID] [bigint] NOT NULL,
	[NETWORKID] [bigint] NOT NULL,
 CONSTRAINT [NENetwork_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC,
	[NETWORKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1366292411]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1366292411] ON [dbo].[NENetwork]
(
	[NETWORKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1366292412]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1366292412] ON [dbo].[NENetwork]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NENetwork]  WITH CHECK ADD  CONSTRAINT [NENetwork_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NENetwork] CHECK CONSTRAINT [NENetwork_FK1]
GO
ALTER TABLE [dbo].[NENetwork]  WITH CHECK ADD  CONSTRAINT [NENetwork_FK2] FOREIGN KEY([NETWORKID])
REFERENCES [dbo].[Network] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NENetwork] CHECK CONSTRAINT [NENetwork_FK2]
GO
