USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RecordInformation]    Script Date: 6/29/2019 5:50:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordInformation](
	[PERSONALITYNAME] [varchar](100) NOT NULL,
	[OPERATIONNAME] [varchar](30) NOT NULL,
	[PROTOCOL] [varchar](30) NOT NULL,
	[RECORDID] [varchar](100) NOT NULL,
 CONSTRAINT [RI_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYNAME] ASC,
	[OPERATIONNAME] ASC,
	[PROTOCOL] ASC,
	[RECORDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_40737987]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_40737987] ON [dbo].[RecordInformation]
(
	[PERSONALITYNAME] ASC,
	[OPERATIONNAME] ASC,
	[PROTOCOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RecordInformation]  WITH CHECK ADD  CONSTRAINT [RI_PI_FK] FOREIGN KEY([PERSONALITYNAME], [OPERATIONNAME], [PROTOCOL])
REFERENCES [dbo].[ProtocolInformation] ([PERSONALITYNAME], [OPERATIONNAME], [PROTOCOL])
GO
ALTER TABLE [dbo].[RecordInformation] CHECK CONSTRAINT [RI_PI_FK]
GO
