USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RealTimeWidgetDetails]    Script Date: 6/29/2019 5:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealTimeWidgetDetails](
	[ASSOCIATIONID] [bigint] NOT NULL,
	[POLLINTERVAL] [int] NOT NULL,
	[TIMEWINDOW] [int] NOT NULL,
 CONSTRAINT [RealTimeWidgetDetails_PK] PRIMARY KEY CLUSTERED 
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1290772800]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1290772800] ON [dbo].[RealTimeWidgetDetails]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RealTimeWidgetDetails] ADD  DEFAULT ('5') FOR [TIMEWINDOW]
GO
ALTER TABLE [dbo].[RealTimeWidgetDetails]  WITH CHECK ADD  CONSTRAINT [RealTimeWidgetDetails_FK1] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[WidgetAssociation] ([ASSOCIATIONID])
GO
ALTER TABLE [dbo].[RealTimeWidgetDetails] CHECK CONSTRAINT [RealTimeWidgetDetails_FK1]
GO
