USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCSymmetrixDiskDrive]    Script Date: 6/29/2019 5:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCSymmetrixDiskDrive](
	[DEVICE_ID] [bigint] NOT NULL,
	[DISK_ID] [varchar](250) NOT NULL,
	[MANUFACTURER] [varchar](250) NOT NULL,
	[SERIAL_NO] [varchar](250) NOT NULL,
	[FIRMWARE] [varchar](250) NOT NULL,
	[TOTAL_SPACE] [varchar](250) NOT NULL,
	[CONFIGURED_SPACE] [varchar](250) NOT NULL,
	[RPM] [varchar](250) NOT NULL,
	[IN_USE] [varchar](250) NOT NULL,
	[CAPTION] [varchar](250) NOT NULL,
	[EXTENT_ID] [varchar](250) NOT NULL,
 CONSTRAINT [EMCSymmetrixDiskDrive_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1978252983]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1978252983] ON [dbo].[EMCSymmetrixDiskDrive]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCSymmetrixDiskDrive]  WITH CHECK ADD  CONSTRAINT [EMCSymmetrixDiskDrive_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[EMCSymmetrixRaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCSymmetrixDiskDrive] CHECK CONSTRAINT [EMCSymmetrixDiskDrive_FK1]
GO
