USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserToFilters]    Script Date: 6/29/2019 5:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserToFilters](
	[USERID] [bigint] NOT NULL,
	[FILTERNAME] [nvarchar](200) NOT NULL,
	[TYPE] [nvarchar](200) NOT NULL,
 CONSTRAINT [UserToFilter_PK] PRIMARY KEY CLUSTERED 
(
	[FILTERNAME] ASC,
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__306904541]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__306904541] ON [dbo].[UserToFilters]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__979731473]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__979731473] ON [dbo].[UserToFilters]
(
	[FILTERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserToFilters]  WITH CHECK ADD  CONSTRAINT [UserToFilters_FK] FOREIGN KEY([FILTERNAME])
REFERENCES [dbo].[Filters] ([FILTERNAME])
GO
ALTER TABLE [dbo].[UserToFilters] CHECK CONSTRAINT [UserToFilters_FK]
GO
ALTER TABLE [dbo].[UserToFilters]  WITH CHECK ADD  CONSTRAINT [UserToFilters_FK2] FOREIGN KEY([USERID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[UserToFilters] CHECK CONSTRAINT [UserToFilters_FK2]
GO
