USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OpManagerTag]    Script Date: 6/29/2019 5:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpManagerTag](
	[TAGID] [bigint] NOT NULL,
	[TAGNAME] [varchar](100) NOT NULL,
 CONSTRAINT [OpManagerTag_PK1] PRIMARY KEY CLUSTERED 
(
	[TAGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [OpManagerTag_UK1] UNIQUE NONCLUSTERED 
(
	[TAGNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
