USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningRaid]    Script Date: 6/29/2019 5:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningRaid](
	[DEVICE_ID] [bigint] NOT NULL,
	[PRODUCT_NAME] [varchar](250) NULL,
	[MICRO_CODE] [varchar](250) NULL,
	[AGENT_VERSION] [varchar](250) NULL,
	[TOTAL_DKC] [int] NOT NULL,
 CONSTRAINT [LightningRaid_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2104705697]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2104705697] ON [dbo].[LightningRaid]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningRaid]  WITH CHECK ADD  CONSTRAINT [LightningRaid_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningRaid] CHECK CONSTRAINT [LightningRaid_FK1]
GO
