USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Cr_DataObj_Task]    Script Date: 6/29/2019 5:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cr_DataObj_Task](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [bigint] NOT NULL,
	[VARIABLE_NAME] [varchar](100) NOT NULL,
	[BOOLEAN_EXPRESSION_ID] [bigint] NULL,
	[IS_NEW] [bit] NOT NULL,
 CONSTRAINT [Cr_DataObj_Task_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__215821187]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__215821187] ON [dbo].[Cr_DataObj_Task]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1899477844]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1899477844] ON [dbo].[Cr_DataObj_Task]
(
	[TEMPLATE_ID] ASC,
	[VARIABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1899477845]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1899477845] ON [dbo].[Cr_DataObj_Task]
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cr_DataObj_Task] ADD  DEFAULT ((0)) FOR [IS_NEW]
GO
ALTER TABLE [dbo].[Cr_DataObj_Task]  WITH CHECK ADD  CONSTRAINT [Cr_DataObj_Task_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Task_Templates] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Cr_DataObj_Task] CHECK CONSTRAINT [Cr_DataObj_Task_FK]
GO
ALTER TABLE [dbo].[Cr_DataObj_Task]  WITH CHECK ADD  CONSTRAINT [Cr_DataObj_Task_FK1] FOREIGN KEY([TEMPLATE_ID], [VARIABLE_NAME])
REFERENCES [dbo].[DataObj_Variables] ([TEMPLATE_ID], [VARIABLE_NAME])
GO
ALTER TABLE [dbo].[Cr_DataObj_Task] CHECK CONSTRAINT [Cr_DataObj_Task_FK1]
GO
ALTER TABLE [dbo].[Cr_DataObj_Task]  WITH CHECK ADD  CONSTRAINT [Cr_DataObj_Task_FK2] FOREIGN KEY([BOOLEAN_EXPRESSION_ID])
REFERENCES [dbo].[Boolean_Expressions] ([BOOLEAN_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Cr_DataObj_Task] CHECK CONSTRAINT [Cr_DataObj_Task_FK2]
GO
