USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IntfStatusPollProps]    Script Date: 6/29/2019 5:48:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntfStatusPollProps](
	[MOID] [bigint] NOT NULL,
	[MONAME] [varchar](255) NOT NULL,
	[DEVICENAME] [varchar](255) NOT NULL,
	[PROTOCOL] [varchar](255) NOT NULL,
 CONSTRAINT [IntfStatusPollProps_PK1] PRIMARY KEY CLUSTERED 
(
	[MONAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IntfStatusPollProps_UK0] UNIQUE NONCLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_262687989]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_262687989] ON [dbo].[IntfStatusPollProps]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IntfStatusPollProps]  WITH CHECK ADD  CONSTRAINT [IntfStatusPollProps_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[IntfStatusPollProps] CHECK CONSTRAINT [IntfStatusPollProps_FK1]
GO
