USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Decimal_Obj_Expr]    Script Date: 6/29/2019 5:47:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decimal_Obj_Expr](
	[DECIMAL_EXPRESSION_ID] [bigint] NOT NULL,
	[OBJECT_NAME] [varchar](150) NOT NULL,
	[ATTRIBUTE_NAME] [varchar](150) NOT NULL,
	[IS_HASHMAP] [bit] NOT NULL,
 CONSTRAINT [Decimal_Obj_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[DECIMAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1278810183]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1278810183] ON [dbo].[Decimal_Obj_Expr]
(
	[DECIMAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Decimal_Obj_Expr] ADD  DEFAULT ((0)) FOR [IS_HASHMAP]
GO
ALTER TABLE [dbo].[Decimal_Obj_Expr]  WITH CHECK ADD  CONSTRAINT [Decimal_Obj_Expr_FK] FOREIGN KEY([DECIMAL_EXPRESSION_ID])
REFERENCES [dbo].[Decimal_Expressions] ([DECIMAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Decimal_Obj_Expr] CHECK CONSTRAINT [Decimal_Obj_Expr_FK]
GO
