USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReactActionType]    Script Date: 6/29/2019 5:50:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReactActionType](
	[ACTION_ID] [int] NOT NULL,
	[ACTIONTYPE] [varchar](50) NOT NULL,
 CONSTRAINT [ReactActionType_PK] PRIMARY KEY CLUSTERED 
(
	[ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
