USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[JoinColumns]    Script Date: 6/29/2019 5:48:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinColumns](
	[QUERYID] [bigint] NOT NULL,
	[BASETABLECOLUMN] [varchar](50) NOT NULL,
	[REFERENCEDTABLECOLUMN] [varchar](50) NOT NULL,
	[TABLEALIAS] [varchar](50) NOT NULL,
 CONSTRAINT [Join_Col_PK] PRIMARY KEY CLUSTERED 
(
	[QUERYID] ASC,
	[TABLEALIAS] ASC,
	[BASETABLECOLUMN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__663938180]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__663938180] ON [dbo].[JoinColumns]
(
	[QUERYID] ASC,
	[TABLEALIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JoinColumns]  WITH CHECK ADD  CONSTRAINT [Join_Cols_FK] FOREIGN KEY([QUERYID], [TABLEALIAS])
REFERENCES [dbo].[JoinTable] ([QUERYID], [TABLEALIAS])
GO
ALTER TABLE [dbo].[JoinColumns] CHECK CONSTRAINT [Join_Cols_FK]
GO
