USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HardwareInformation]    Script Date: 6/29/2019 5:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HardwareInformation](
	[MOID] [bigint] NOT NULL,
	[HW_MANUFACTURER] [varchar](100) NULL,
	[HW_MODEL] [varchar](100) NULL,
	[HW_ARCHITECTURE] [varchar](100) NULL,
	[HW_SERVICETAG] [varchar](100) NULL,
	[HW_SERIALNUMBER] [varchar](100) NULL,
	[HW_OS] [varchar](100) NULL,
	[HW_OSVERSION] [varchar](100) NULL,
	[HW_UUID] [varchar](50) NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
 CONSTRAINT [HardwareInformation_PK] PRIMARY KEY CLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1801044192]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1801044192] ON [dbo].[HardwareInformation]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HardwareInformation]  WITH CHECK ADD  CONSTRAINT [HardwareInformation_FK] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[HardwareInformation] CHECK CONSTRAINT [HardwareInformation_FK]
GO
