USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TPISettings]    Script Date: 6/29/2019 5:52:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPISettings](
	[ID] [bigint] NOT NULL,
	[PRODUCTNAME] [varchar](100) NOT NULL,
	[SERVERURL] [varchar](500) NULL,
	[USERNAME] [varchar](500) NULL,
	[PASSWORD] [varbinary](max) NULL,
	[APIKEY] [varbinary](max) NULL,
	[OPMHOSTURL] [varchar](50) NULL,
	[ASSET_PERMISSION] [varchar](20) NULL,
	[USER_PERMISSION] [varchar](20) NULL,
	[INCIDENT_PERMISSION] [varchar](20) NULL,
	[OPMINSTANCEID] [varchar](500) NULL,
	[STATUS] [int] NULL,
	[CONSENTSTATUS] [bit] NULL,
	[LASTUPDATEDTIME] [bigint] NULL,
 CONSTRAINT [TPISettings_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TPISettings_UK0] UNIQUE NONCLUSTERED 
(
	[PRODUCTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TPISettings] ADD  DEFAULT ('0') FOR [STATUS]
GO
ALTER TABLE [dbo].[TPISettings] ADD  DEFAULT ((0)) FOR [CONSENTSTATUS]
GO
ALTER TABLE [dbo].[TPISettings] ADD  DEFAULT ('0') FOR [LASTUPDATEDTIME]
GO
