USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Bookmark]    Script Date: 6/29/2019 5:46:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookmark](
	[TITLE] [nvarchar](250) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[URL] [nvarchar](250) NOT NULL,
	[COUNTER] [bigint] NULL,
	[ORDERID] [bigint] NULL,
	[MODULE] [nvarchar](50) NOT NULL,
	[USER_ID] [bigint] NOT NULL,
 CONSTRAINT [Bookmark_PK] PRIMARY KEY CLUSTERED 
(
	[TITLE] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Bookmark_UK0]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Bookmark_UK0] ON [dbo].[Bookmark]
(
	[ORDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_899537998]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_899537998] ON [dbo].[Bookmark]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookmark] ADD  DEFAULT ('0') FOR [COUNTER]
GO
ALTER TABLE [dbo].[Bookmark]  WITH CHECK ADD  CONSTRAINT [Bookmark_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[Bookmark] CHECK CONSTRAINT [Bookmark_FK]
GO
