USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMXIVStoragePool]    Script Date: 6/29/2019 5:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMXIVStoragePool](
	[DEVICE_ID] [bigint] NOT NULL,
	[POOL_MO_ID] [bigint] NOT NULL,
	[POOL_ID] [varchar](50) NOT NULL,
	[SOFT_SIZE] [varchar](250) NULL,
	[SOFT_SIZE_CONSUMED] [varchar](250) NULL,
	[SOFT_SIZE_REMAINING] [varchar](250) NULL,
	[LOCK_BEHAVIOUR] [varchar](250) NULL,
	[SPACE_LIMIT] [varchar](250) NULL,
 CONSTRAINT [IBMXIVStoragePool_PK] PRIMARY KEY CLUSTERED 
(
	[POOL_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_883514387]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_883514387] ON [dbo].[IBMXIVStoragePool]
(
	[POOL_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMXIVStoragePool]  WITH CHECK ADD  CONSTRAINT [IBMXIVStoragePool_FK1] FOREIGN KEY([POOL_MO_ID])
REFERENCES [dbo].[SANStoragePool] ([POOL_MO_ID])
GO
ALTER TABLE [dbo].[IBMXIVStoragePool] CHECK CONSTRAINT [IBMXIVStoragePool_FK1]
GO
