USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NBA_FE_Alert]    Script Date: 6/29/2019 5:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_FE_Alert](
	[EVID] [int] NOT NULL,
	[PROFILE_ID] [int] NOT NULL,
	[STARTON] [datetime] NOT NULL,
	[ENDON] [datetime] NOT NULL,
	[EVENT_MESSAGE] [varchar](255) NOT NULL,
 CONSTRAINT [NBA_FE_Alert_PK] PRIMARY KEY CLUSTERED 
(
	[EVID] ASC,
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__994650884]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__994650884] ON [dbo].[NBA_FE_Alert]
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NBA_FE_Alert]  WITH CHECK ADD  CONSTRAINT [NBA_FE_Alert_FK2] FOREIGN KEY([PROFILE_ID])
REFERENCES [dbo].[NBA_AlertProfile] ([PROFILE_ID])
GO
ALTER TABLE [dbo].[NBA_FE_Alert] CHECK CONSTRAINT [NBA_FE_Alert_FK2]
GO
