USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HelpDeskTicketVsComment]    Script Date: 6/29/2019 5:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HelpDeskTicketVsComment](
	[ID] [bigint] NOT NULL,
	[COMMENT_ID] [bigint] NOT NULL,
	[NOTES_ID] [bigint] NOT NULL,
	[SOURCE] [varchar](255) NOT NULL,
 CONSTRAINT [HelpDeskTicketVsComment_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [HelpDeskTicketVsComment_UK0] UNIQUE NONCLUSTERED 
(
	[COMMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [HelpDeskTicketVsComment_UK1] UNIQUE NONCLUSTERED 
(
	[NOTES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
