USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarRaid]    Script Date: 6/29/2019 5:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarRaid](
	[PILLAR_ID] [bigint] NOT NULL,
	[INSTANCE] [int] NOT NULL,
	[ASSET_NUMBER] [varchar](250) NULL,
	[ARRAY_IP] [varchar](250) NULL,
	[PILOT_1_IP] [varchar](250) NULL,
	[PILOT_2_IP] [varchar](250) NULL,
	[PHYSIAL_UNAVAILABLE_CAPACITY] [int] NOT NULL,
	[PHYSICAL_MAXIMUM_COMMITTED_CAPACITY] [int] NOT NULL,
	[STORAGE_CLASS_TOTAL_CAPACITY] [int] NOT NULL,
	[STORAGE_CLASS_USED_CAPACITY] [int] NOT NULL,
	[STORAGE_CLASS_FREE_CAPACITY] [int] NOT NULL,
	[STORAGE_CLASS_UNAVAILABLE_CAPACITY] [int] NOT NULL,
	[STORAGE_CLASS_MAXIMUM_COMMITTED_CAPACITY] [int] NOT NULL,
	[UNIT] [varchar](250) NULL,
 CONSTRAINT [PillarRaid_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1649041680]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1649041680] ON [dbo].[PillarRaid]
(
	[PILLAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarRaid]  WITH CHECK ADD  CONSTRAINT [PillarRaid_FK] FOREIGN KEY([PILLAR_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PillarRaid] CHECK CONSTRAINT [PillarRaid_FK]
GO
