USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwVMDatastoreMap]    Script Date: 6/29/2019 5:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwVMDatastoreMap](
	[VM_ID] [bigint] NOT NULL,
	[VDATASTORE_ID] [bigint] NOT NULL,
 CONSTRAINT [VwVMDatastoreMap_PK] PRIMARY KEY CLUSTERED 
(
	[VM_ID] ASC,
	[VDATASTORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__714793813]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__714793813] ON [dbo].[VwVMDatastoreMap]
(
	[VDATASTORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__714793814]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__714793814] ON [dbo].[VwVMDatastoreMap]
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwVMDatastoreMap]  WITH CHECK ADD  CONSTRAINT [VwVMDatastoreMap_FK1] FOREIGN KEY([VM_ID])
REFERENCES [dbo].[VwVMProps] ([VM_ID])
GO
ALTER TABLE [dbo].[VwVMDatastoreMap] CHECK CONSTRAINT [VwVMDatastoreMap_FK1]
GO
ALTER TABLE [dbo].[VwVMDatastoreMap]  WITH CHECK ADD  CONSTRAINT [VwVMDatastoreMap_FK2] FOREIGN KEY([VDATASTORE_ID])
REFERENCES [dbo].[VwDATASTOREPROPS] ([VDATASTORE_ID])
GO
ALTER TABLE [dbo].[VwVMDatastoreMap] CHECK CONSTRAINT [VwVMDatastoreMap_FK2]
GO
