USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwEventMapping]    Script Date: 6/29/2019 5:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwEventMapping](
	[EVENT_ID] [bigint] NOT NULL,
	[VCENTER_ID] [bigint] NOT NULL,
	[SEVERITY] [varchar](30) NOT NULL,
 CONSTRAINT [VwEventMapping_PK] PRIMARY KEY CLUSTERED 
(
	[EVENT_ID] ASC,
	[VCENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__238739677]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__238739677] ON [dbo].[VwEventMapping]
(
	[VCENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__238739678]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__238739678] ON [dbo].[VwEventMapping]
(
	[EVENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwEventMapping]  WITH CHECK ADD  CONSTRAINT [VwEventMapping_FK1] FOREIGN KEY([EVENT_ID])
REFERENCES [dbo].[VwEventTemplate] ([EVENT_ID])
GO
ALTER TABLE [dbo].[VwEventMapping] CHECK CONSTRAINT [VwEventMapping_FK1]
GO
ALTER TABLE [dbo].[VwEventMapping]  WITH CHECK ADD  CONSTRAINT [VwEventMapping_FK2] FOREIGN KEY([VCENTER_ID])
REFERENCES [dbo].[VwVCENTERPROPS] ([VCENTER_ID])
GO
ALTER TABLE [dbo].[VwEventMapping] CHECK CONSTRAINT [VwEventMapping_FK2]
GO
