USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMINVENTORYDEVICEGROUPS]    Script Date: 6/29/2019 5:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMINVENTORYDEVICEGROUPS](
	[DEVICE_GROUP_ID] [bigint] NOT NULL,
	[DEVICE_GROUP_NAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
	[GLOBAL_GROUP] [bit] NOT NULL,
	[SELECTQUERYID] [bigint] NOT NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
	[PROBEID] [bigint] NOT NULL,
	[UNIQUEID] [bigint] NOT NULL,
 CONSTRAINT [NCMINVENTORYDEVICEGROUPS_PK] PRIMARY KEY CLUSTERED 
(
	[UNIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMINVENTORYDEVICEGROUPS] ADD  DEFAULT ('No Description') FOR [DESCRIPTION]
GO
ALTER TABLE [dbo].[NCMINVENTORYDEVICEGROUPS] ADD  DEFAULT ((0)) FOR [GLOBAL_GROUP]
GO
ALTER TABLE [dbo].[NCMINVENTORYDEVICEGROUPS] ADD  DEFAULT ('0') FOR [PROBEID]
GO
