USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SearchGroup]    Script Date: 6/29/2019 5:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchGroup](
	[SGID] [bigint] NOT NULL,
	[GROUP_NAME] [nvarchar](100) NOT NULL,
	[MATCH_ALL] [nvarchar](10) NULL,
 CONSTRAINT [SearchGroup_PK] PRIMARY KEY CLUSTERED 
(
	[SGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [SearchGroup_UK0] UNIQUE NONCLUSTERED 
(
	[GROUP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
