USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BillPlan]    Script Date: 6/29/2019 5:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillPlan](
	[PLAN_ID] [int] NOT NULL,
	[PLAN_NAME] [varbinary](max) NOT NULL,
	[PLAN_DESC] [varbinary](max) NOT NULL,
	[PLAN_PERIOD] [int] NOT NULL,
	[PLAN_GEN_MONTH] [int] NOT NULL,
	[PLAN_GEN_DATE] [int] NOT NULL,
	[PLAN_TYPE] [int] NOT NULL,
	[PLAN_STATE] [int] NOT NULL,
	[COST_UNIT] [varchar](100) NOT NULL,
	[PLAN_EMAILID] [varbinary](max) NOT NULL,
	[PLAN_EMAILSUBJECT] [varchar](255) NOT NULL,
	[ALERT_PERCENTAGE] [int] NOT NULL,
	[TIMEZONE] [varchar](200) NOT NULL,
 CONSTRAINT [BillPlan_PK] PRIMARY KEY CLUSTERED 
(
	[PLAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillPlan] ADD  DEFAULT ('Bill from Netflow Analyzer') FOR [PLAN_EMAILSUBJECT]
GO
ALTER TABLE [dbo].[BillPlan] ADD  DEFAULT ('-1') FOR [ALERT_PERCENTAGE]
GO
