USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMSVC_DUMPFILE]    Script Date: 6/29/2019 5:48:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMSVC_DUMPFILE](
	[IP_ADDRESS] [varchar](100) NOT NULL,
	[FILENAME] [varchar](250) NOT NULL,
	[PROCESSED_TIME] [bigint] NOT NULL,
 CONSTRAINT [IBMSVC_DUMPFILE_PK] PRIMARY KEY CLUSTERED 
(
	[IP_ADDRESS] ASC,
	[FILENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
