USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGECHASSIS]    Script Date: 6/29/2019 5:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGECHASSIS](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[CHASSIS_NAME] [varchar](250) NOT NULL,
	[TYPE] [varchar](250) NULL,
	[STATUS] [varchar](250) NULL,
	[MODEL] [varchar](250) NULL,
	[MANUFACTURER] [varchar](250) NULL,
	[SERIAL_NO] [varchar](250) NULL,
	[ADDITIONAL_DATA] [text] NULL,
 CONSTRAINT [STORAGECHASSIS_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[CHASSIS_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGECHASSIS_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__776574696]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__776574696] ON [dbo].[STORAGECHASSIS]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGECHASSIS]  WITH CHECK ADD  CONSTRAINT [STORAGECHASSIS_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGECHASSIS] CHECK CONSTRAINT [STORAGECHASSIS_FK1]
GO
