USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NativeSQLString]    Script Date: 6/29/2019 5:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NativeSQLString](
	[NATIVESQLSTRING_ID] [bigint] NOT NULL,
	[SQL_ID] [int] NOT NULL,
	[SQL_COMMAND] [text] NULL,
	[VARIABLE_HANDLER] [varchar](250) NULL,
	[SQL_REMARKS] [varchar](300) NULL,
 CONSTRAINT [NativeSQLString_PK] PRIMARY KEY CLUSTERED 
(
	[NATIVESQLSTRING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NativeSQLString_UK0] UNIQUE NONCLUSTERED 
(
	[SQL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
