USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OverlandLibTapeDrive]    Script Date: 6/29/2019 5:50:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OverlandLibTapeDrive](
	[DEVICE_ID] [bigint] NOT NULL,
	[DRIVE_STATE] [varchar](250) NOT NULL,
	[DRIVE_MOTION] [varchar](250) NOT NULL,
	[CLEAN_REQUESTED] [varchar](250) NOT NULL,
	[DRIVE_SEVERITY] [int] NOT NULL,
	[DRIVE_CODE_REVISION_NO] [int] NOT NULL,
	[DRIVE_CONTROLLER_CODE_REV_NO] [int] NOT NULL,
 CONSTRAINT [OverlandLibTapeDrive_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1721332047]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1721332047] ON [dbo].[OverlandLibTapeDrive]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OverlandLibTapeDrive]  WITH CHECK ADD  CONSTRAINT [OverlandLibTapeDrive_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[OverlandLibTapeDrive] CHECK CONSTRAINT [OverlandLibTapeDrive_FK1]
GO
