USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Snmp_Connection]    Script Date: 6/29/2019 5:51:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Snmp_Connection](
	[SNMP_ID] [int] NOT NULL,
	[SNMP_TYPE] [varchar](5) NOT NULL,
	[SNMP_STRING] [varchar](50) NOT NULL,
	[COMMUNITY] [varchar](50) NULL,
	[WRITECOMMUNITY] [varchar](50) NULL,
	[SNMP_PORT] [int] NOT NULL,
 CONSTRAINT [Snmp_Connection_PK] PRIMARY KEY CLUSTERED 
(
	[SNMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
