USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ChassisToIOModule]    Script Date: 6/29/2019 5:46:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChassisToIOModule](
	[CHASSIS_ID] [bigint] NOT NULL,
	[IO_MODULE_ID] [bigint] NOT NULL,
 CONSTRAINT [ChassisToIOModule_PK] PRIMARY KEY CLUSTERED 
(
	[CHASSIS_ID] ASC,
	[IO_MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1369677024]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1369677024] ON [dbo].[ChassisToIOModule]
(
	[IO_MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_371458865]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_371458865] ON [dbo].[ChassisToIOModule]
(
	[CHASSIS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChassisToIOModule]  WITH CHECK ADD  CONSTRAINT [ChassisToIOModule_FK] FOREIGN KEY([CHASSIS_ID])
REFERENCES [dbo].[ChassisDetails] ([CHASSIS_ID])
GO
ALTER TABLE [dbo].[ChassisToIOModule] CHECK CONSTRAINT [ChassisToIOModule_FK]
GO
ALTER TABLE [dbo].[ChassisToIOModule]  WITH CHECK ADD  CONSTRAINT [ChassisToIOModule_FK1] FOREIGN KEY([IO_MODULE_ID])
REFERENCES [dbo].[UCSIOModule] ([IO_MODULE_ID])
GO
ALTER TABLE [dbo].[ChassisToIOModule] CHECK CONSTRAINT [ChassisToIOModule_FK1]
GO
