USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LibraryTapeDrive]    Script Date: 6/29/2019 5:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryTapeDrive](
	[DRIVE_ID] [bigint] NOT NULL,
	[LIBRARY_ID] [bigint] NOT NULL,
	[DRIVE_INDEX] [int] NOT NULL,
	[DRIVE_ELEMENT_ID] [varchar](250) NOT NULL,
 CONSTRAINT [LIBRARYTAPEDRIVE_PK] PRIMARY KEY CLUSTERED 
(
	[DRIVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1830680602]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1830680602] ON [dbo].[LibraryTapeDrive]
(
	[DRIVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1830680603]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1830680603] ON [dbo].[LibraryTapeDrive]
(
	[LIBRARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LibraryTapeDrive]  WITH CHECK ADD  CONSTRAINT [LIBRARYTAPEDRIVE_FK1] FOREIGN KEY([DRIVE_ID])
REFERENCES [dbo].[TapeDrive] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LibraryTapeDrive] CHECK CONSTRAINT [LIBRARYTAPEDRIVE_FK1]
GO
ALTER TABLE [dbo].[LibraryTapeDrive]  WITH CHECK ADD  CONSTRAINT [LIBRARYTAPEDRIVE_FK2] FOREIGN KEY([LIBRARY_ID])
REFERENCES [dbo].[TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LibraryTapeDrive] CHECK CONSTRAINT [LIBRARYTAPEDRIVE_FK2]
GO
