USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ArecaRaid]    Script Date: 6/29/2019 5:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArecaRaid](
	[DEVICE_ID] [bigint] NOT NULL,
	[BR_VERSION] [varchar](250) NULL,
	[MAS_BR_VERSION] [varchar](250) NULL,
	[ECC_CAPABILITY] [varchar](250) NULL,
	[NO_OF_HOSTCHNL] [int] NULL,
	[NO_OF_HDDSLOTS] [int] NULL,
	[NO_OF_RAIDSETS] [int] NULL,
	[NO_OF_VOLSETS] [int] NULL,
	[RAID6_ENABLED] [varchar](250) NULL,
	[SYSTEM_USAGE] [varchar](250) NULL,
	[MAX_ATA] [varchar](250) NULL,
	[REBUILD_RATE] [varchar](250) NULL,
	[BAUD_RATE] [varchar](250) NULL,
 CONSTRAINT [ArecaRaid_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1797699977]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1797699977] ON [dbo].[ArecaRaid]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArecaRaid]  WITH CHECK ADD  CONSTRAINT [ArecaRaid_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ArecaRaid] CHECK CONSTRAINT [ArecaRaid_FK1]
GO
