USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SonicWALLFirewall]    Script Date: 6/29/2019 5:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SonicWALLFirewall](
	[RESOURCEID] [bigint] NOT NULL,
	[ROM_VERSION] [varchar](100) NOT NULL,
	[SAFEMODE_VERSION] [varchar](100) NOT NULL,
	[SERIAL_NUMBER] [varchar](100) NOT NULL,
	[SYSTEM_TIME] [varchar](100) NOT NULL,
	[SYSTEM_UPTIME] [varchar](100) NOT NULL,
 CONSTRAINT [SonicWALLFirewall_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1829969597]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1829969597] ON [dbo].[SonicWALLFirewall]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SonicWALLFirewall] ADD  DEFAULT ('Not Available') FOR [ROM_VERSION]
GO
ALTER TABLE [dbo].[SonicWALLFirewall] ADD  DEFAULT ('Not Available') FOR [SAFEMODE_VERSION]
GO
ALTER TABLE [dbo].[SonicWALLFirewall] ADD  DEFAULT ('Not Available') FOR [SERIAL_NUMBER]
GO
ALTER TABLE [dbo].[SonicWALLFirewall] ADD  DEFAULT ('Not Available') FOR [SYSTEM_TIME]
GO
ALTER TABLE [dbo].[SonicWALLFirewall] ADD  DEFAULT ('Not Available') FOR [SYSTEM_UPTIME]
GO
ALTER TABLE [dbo].[SonicWALLFirewall]  WITH CHECK ADD  CONSTRAINT [SonicWALLFirewall_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[SonicWALLFirewall] CHECK CONSTRAINT [SonicWALLFirewall_FK1]
GO
