USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MsgGroup]    Script Date: 6/29/2019 5:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsgGroup](
	[MSG_GROUP_ID] [bigint] NOT NULL,
	[ACTION_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [MsgGroup_PK] PRIMARY KEY CLUSTERED 
(
	[MSG_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [MsgGroup_UK0] UNIQUE NONCLUSTERED 
(
	[ACTION_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
