USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RunCommandProfile]    Script Date: 6/29/2019 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunCommandProfile](
	[PROFILEID] [bigint] NOT NULL,
	[APPEND] [varchar](10) NULL,
	[ERRAPPEND] [varchar](10) NULL,
	[COMMAND] [varchar](1000) NULL,
	[TIMEOUT] [int] NULL,
 CONSTRAINT [RunCommandProfile_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2135491062]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2135491062] ON [dbo].[RunCommandProfile]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RunCommandProfile]  WITH CHECK ADD  CONSTRAINT [RunCommandProfile_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[RunCommandProfile] CHECK CONSTRAINT [RunCommandProfile_FK1]
GO
