USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMSDPTicketRequest]    Script Date: 6/29/2019 5:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMSDPTicketRequest](
	[TICKETID] [bigint] NOT NULL,
	[REQUESTID] [bigint] NOT NULL,
	[REQUESTTYPE] [varchar](250) NOT NULL,
 CONSTRAINT [NCMSDPTicketRequest_PK] PRIMARY KEY CLUSTERED 
(
	[TICKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
