USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RaidGroup]    Script Date: 6/29/2019 5:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaidGroup](
	[RAID_ID] [bigint] NOT NULL,
	[RAID_GROUP_NAME] [varchar](250) NOT NULL,
	[RAID_LEVEL] [varchar](250) NOT NULL,
	[STATUS] [varchar](250) NOT NULL,
	[CAPACITY] [varchar](250) NOT NULL,
	[RAID_GROUP_WWN] [varchar](250) NOT NULL,
 CONSTRAINT [RAIDGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[RAID_GROUP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_9637346]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_9637346] ON [dbo].[RaidGroup]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RaidGroup]  WITH CHECK ADD  CONSTRAINT [RAIDGROUP_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[RaidGroup] CHECK CONSTRAINT [RAIDGROUP_FK1]
GO
