USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ToolToGroup]    Script Date: 6/29/2019 5:52:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToolToGroup](
	[GROUP_ID] [varchar](50) NOT NULL,
	[TOOL_ID] [varchar](50) NOT NULL,
	[VIEW_ORDER] [int] NOT NULL,
 CONSTRAINT [ToolToGroup_PK] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC,
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ToolToGroup_UK1] UNIQUE NONCLUSTERED 
(
	[GROUP_ID] ASC,
	[VIEW_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__86011590]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__86011590] ON [dbo].[ToolToGroup]
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__86011591]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__86011591] ON [dbo].[ToolToGroup]
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ToolToGroup]  WITH CHECK ADD  CONSTRAINT [ToolToGroup_FK1] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[ToolsGroup] ([GROUP_ID])
GO
ALTER TABLE [dbo].[ToolToGroup] CHECK CONSTRAINT [ToolToGroup_FK1]
GO
ALTER TABLE [dbo].[ToolToGroup]  WITH CHECK ADD  CONSTRAINT [ToolToGroup_FK2] FOREIGN KEY([TOOL_ID])
REFERENCES [dbo].[Tool] ([TOOL_ID])
GO
ALTER TABLE [dbo].[ToolToGroup] CHECK CONSTRAINT [ToolToGroup_FK2]
GO
