USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwDATACENTERPROPS]    Script Date: 6/29/2019 5:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwDATACENTERPROPS](
	[DATACENTER_ID] [bigint] NOT NULL,
	[NO_OF_DATASTORES] [int] NOT NULL,
	[NO_OF_NETWORKS] [int] NOT NULL,
	[STATUS] [varchar](40) NOT NULL,
 CONSTRAINT [VwDATACENTERPROPS_PK] PRIMARY KEY CLUSTERED 
(
	[DATACENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1542101379]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1542101379] ON [dbo].[VwDATACENTERPROPS]
(
	[DATACENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwDATACENTERPROPS]  WITH CHECK ADD  CONSTRAINT [VwDATACENTERPROPS_FK1] FOREIGN KEY([DATACENTER_ID])
REFERENCES [dbo].[VwENTITYMOMAPPING] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[VwDATACENTERPROPS] CHECK CONSTRAINT [VwDATACENTERPROPS_FK1]
GO
