USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FEXtoUCSFan]    Script Date: 6/29/2019 5:47:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEXtoUCSFan](
	[FEX_ID] [bigint] NOT NULL,
	[FAN_ID] [bigint] NOT NULL,
 CONSTRAINT [FEXtoUCSFan_PK] PRIMARY KEY CLUSTERED 
(
	[FEX_ID] ASC,
	[FAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_914021455]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_914021455] ON [dbo].[FEXtoUCSFan]
(
	[FEX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_914021456]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_914021456] ON [dbo].[FEXtoUCSFan]
(
	[FAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FEXtoUCSFan]  WITH CHECK ADD  CONSTRAINT [FEXtoUCSFan_FK1] FOREIGN KEY([FEX_ID])
REFERENCES [dbo].[FEXDetails] ([FEX_ID])
GO
ALTER TABLE [dbo].[FEXtoUCSFan] CHECK CONSTRAINT [FEXtoUCSFan_FK1]
GO
ALTER TABLE [dbo].[FEXtoUCSFan]  WITH CHECK ADD  CONSTRAINT [FEXtoUCSFan_FK2] FOREIGN KEY([FAN_ID])
REFERENCES [dbo].[UCSFan] ([FAN_ID])
GO
ALTER TABLE [dbo].[FEXtoUCSFan] CHECK CONSTRAINT [FEXtoUCSFan_FK2]
GO
