USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UnParsedRecords]    Script Date: 6/29/2019 5:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnParsedRecords](
	[RESOURCE] [nvarchar](30) NOT NULL,
	[SYSLOG_SERVER] [nvarchar](30) NULL,
	[RECORD] [nvarchar](1500) NULL,
 CONSTRAINT [UnParsedRecords_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
