USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Pre_Def_Char_Class]    Script Date: 6/29/2019 5:50:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pre_Def_Char_Class](
	[CHAR_CLASS_EXPR_ID] [bigint] NOT NULL,
	[CHAR_CLASS_CONSTANT] [int] NOT NULL,
 CONSTRAINT [Pre_Def_Char_Class_PK] PRIMARY KEY CLUSTERED 
(
	[CHAR_CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_687248927]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_687248927] ON [dbo].[Pre_Def_Char_Class]
(
	[CHAR_CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pre_Def_Char_Class]  WITH CHECK ADD  CONSTRAINT [Pre_Def_Char_Class_FK] FOREIGN KEY([CHAR_CLASS_EXPR_ID])
REFERENCES [dbo].[Char_Class_Expr] ([CHAR_CLASS_EXPR_ID])
GO
ALTER TABLE [dbo].[Pre_Def_Char_Class] CHECK CONSTRAINT [Pre_Def_Char_Class_FK]
GO
