USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaAccSession]    Script Date: 6/29/2019 5:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaAccSession](
	[SESSION_ID] [bigint] NOT NULL,
	[ACCOUNT_ID] [bigint] NOT NULL,
	[USER_HOST] [varchar](100) NOT NULL,
	[APPLICATION_HOST] [varchar](100) NOT NULL,
	[OPENTIME] [bigint] NOT NULL,
	[CLOSETIME] [bigint] NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[USER_HOST_NAME] [varchar](200) NOT NULL,
	[AUTHENTICATOR] [varchar](200) NOT NULL,
 CONSTRAINT [AaaAccSession_PK] PRIMARY KEY CLUSTERED 
(
	[SESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__562139186]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__562139186] ON [dbo].[AaaAccSession]
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaAccSession] ADD  DEFAULT ('Unknown') FOR [USER_HOST]
GO
ALTER TABLE [dbo].[AaaAccSession] ADD  DEFAULT ('0') FOR [CLOSETIME]
GO
ALTER TABLE [dbo].[AaaAccSession] ADD  DEFAULT ('ACTIVE') FOR [STATUS]
GO
ALTER TABLE [dbo].[AaaAccSession] ADD  DEFAULT ('UNKNOWN') FOR [AUTHENTICATOR]
GO
ALTER TABLE [dbo].[AaaAccSession]  WITH CHECK ADD  CONSTRAINT [AaaAccSession_FK] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[AaaAccount] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[AaaAccSession] CHECK CONSTRAINT [AaaAccSession_FK]
GO
