USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LogTicket]    Script Date: 6/29/2019 5:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTicket](
	[PROFILEID] [bigint] NOT NULL,
	[SUBJECT] [varchar](250) NULL,
	[MESSAGE] [varchar](250) NULL,
	[TICKETCATEGORY] [varchar](250) NULL,
	[TICKETSUBCATEGORY] [varchar](250) NULL,
	[TICKETITEM] [varchar](250) NULL,
	[TICKETGROUP] [varchar](250) NULL,
	[TICKETTECHNICIAN] [varchar](250) NULL,
	[TICKETPRIORITY] [varchar](250) NULL,
	[TICKETCLOSENOTES] [varchar](4000) NULL,
	[PRODUCTNAME] [varchar](100) NULL,
 CONSTRAINT [LogTicket_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_5418653]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_5418653] ON [dbo].[LogTicket]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogTicket]  WITH CHECK ADD  CONSTRAINT [LogTicket_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[LogTicket] CHECK CONSTRAINT [LogTicket_FK1]
GO
