USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorEdge6120StoragePool]    Script Date: 6/29/2019 5:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorEdge6120StoragePool](
	[RAID_DEVICE_ID] [bigint] NOT NULL,
	[POOL_ID] [varchar](250) NOT NULL,
	[INSTANCE_ID] [varchar](250) NULL,
	[POOL_ELT_NAME] [varchar](250) NULL,
	[MANAGED_SIZE] [varchar](250) NULL,
	[POOL_STATUS] [varchar](250) NULL,
	[STATUS_DESCR] [varchar](250) NULL,
	[POOL_DESCR] [varchar](250) NULL,
	[MAX_VOL_SIZE] [varchar](250) NULL,
	[CHASSIS_ID] [varchar](250) NULL,
	[PRIMORDIAL] [varchar](250) NULL,
 CONSTRAINT [StorEdge6120StoragePool_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_DEVICE_ID] ASC,
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1287347222]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1287347222] ON [dbo].[StorEdge6120StoragePool]
(
	[RAID_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorEdge6120StoragePool]  WITH CHECK ADD  CONSTRAINT [StorEdge6120StoragePool_FK1] FOREIGN KEY([RAID_DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[StorEdge6120StoragePool] CHECK CONSTRAINT [StorEdge6120StoragePool_FK1]
GO
