USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MACScanResult]    Script Date: 6/29/2019 5:48:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MACScanResult](
	[IPADDRESS] [varchar](15) NOT NULL,
	[DNSNAME] [varchar](150) NULL,
	[MACADDRESS] [varchar](20) NULL,
	[NICTYPE] [varchar](200) NULL,
	[RESPONSE_STATUS] [int] NOT NULL,
	[SYSTEMTYPE] [varchar](150) NULL,
	[IPADDRINLONG] [bigint] NOT NULL,
 CONSTRAINT [MACScanResult_PK] PRIMARY KEY CLUSTERED 
(
	[IPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MACScanResult] ADD  DEFAULT ('NOT YET SCANNED') FOR [DNSNAME]
GO
ALTER TABLE [dbo].[MACScanResult] ADD  DEFAULT ('NOT YET SCANNED') FOR [MACADDRESS]
GO
ALTER TABLE [dbo].[MACScanResult] ADD  DEFAULT ('3') FOR [RESPONSE_STATUS]
GO
