USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WMICounterTypes]    Script Date: 6/29/2019 5:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WMICounterTypes](
	[COUNTERTYPE] [int] NOT NULL,
	[EXPRESSION] [varchar](250) NOT NULL,
 CONSTRAINT [COUNTERTYPE_PK1] PRIMARY KEY CLUSTERED 
(
	[COUNTERTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
