USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ADVAOPTICALNETWORKING]    Script Date: 6/29/2019 5:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADVAOPTICALNETWORKING](
	[RESOURCEID] [bigint] NOT NULL,
	[CLEI_CODE] [varchar](100) NOT NULL,
	[SOFTWARE_VERSION] [varchar](100) NOT NULL,
	[HARDWARE_REVISION] [varchar](100) NOT NULL,
	[PART_NO] [varchar](100) NOT NULL,
	[WAN_TYPE] [varchar](100) NOT NULL,
	[PROXY_ARP] [varchar](100) NOT NULL,
	[SERIAL_PORT] [varchar](100) NOT NULL,
 CONSTRAINT [ADVAOPTICALNETWORKING_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1652547381]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1652547381] ON [dbo].[ADVAOPTICALNETWORKING]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADVAOPTICALNETWORKING] ADD  DEFAULT ('Not Available') FOR [CLEI_CODE]
GO
ALTER TABLE [dbo].[ADVAOPTICALNETWORKING] ADD  DEFAULT ('Not Available') FOR [SOFTWARE_VERSION]
GO
ALTER TABLE [dbo].[ADVAOPTICALNETWORKING] ADD  DEFAULT ('Not Available') FOR [HARDWARE_REVISION]
GO
ALTER TABLE [dbo].[ADVAOPTICALNETWORKING] ADD  DEFAULT ('Not Available') FOR [PART_NO]
GO
ALTER TABLE [dbo].[ADVAOPTICALNETWORKING] ADD  DEFAULT ('Not Available') FOR [WAN_TYPE]
GO
ALTER TABLE [dbo].[ADVAOPTICALNETWORKING] ADD  DEFAULT ('Not Available') FOR [PROXY_ARP]
GO
ALTER TABLE [dbo].[ADVAOPTICALNETWORKING] ADD  DEFAULT ('Not Available') FOR [SERIAL_PORT]
GO
ALTER TABLE [dbo].[ADVAOPTICALNETWORKING]  WITH CHECK ADD  CONSTRAINT [ADVAOPTICALNETWORKING_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ADVAOPTICALNETWORKING] CHECK CONSTRAINT [ADVAOPTICALNETWORKING_FK1]
GO
