USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ViewPropertiesTable]    Script Date: 6/29/2019 5:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewPropertiesTable](
	[VIEWNAME] [varchar](50) NOT NULL,
	[PROPERTYNAME] [varchar](50) NOT NULL,
	[PROPERTYVALUE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VIEWNAME] ASC,
	[PROPERTYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ViewPropertiesTable0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [ViewPropertiesTable0_ndx] ON [dbo].[ViewPropertiesTable]
(
	[VIEWNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
