USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AlertThreshold]    Script Date: 6/29/2019 5:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertThreshold](
	[THRESHOLD_ID] [int] NOT NULL,
	[VALUE] [real] NOT NULL,
	[COUNT] [int] NOT NULL,
	[TIME_PERIOD] [int] NOT NULL,
	[COMPARATOR] [int] NOT NULL,
	[SEVERITY] [int] NOT NULL,
	[PROFILE_ID] [int] NOT NULL,
 CONSTRAINT [AlertThreshold_PK] PRIMARY KEY CLUSTERED 
(
	[THRESHOLD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__159408011]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__159408011] ON [dbo].[AlertThreshold]
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertThreshold]  WITH CHECK ADD  CONSTRAINT [AlertThreshold_FK] FOREIGN KEY([PROFILE_ID])
REFERENCES [dbo].[AlertProfile] ([PROFILE_ID])
GO
ALTER TABLE [dbo].[AlertThreshold] CHECK CONSTRAINT [AlertThreshold_FK]
GO
