USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StreamParameter]    Script Date: 6/29/2019 5:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StreamParameter](
	[ID] [int] NOT NULL,
	[SID] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[PVALUE] [varchar](1500) NOT NULL,
 CONSTRAINT [StreamParameter_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2634533]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2634533] ON [dbo].[StreamParameter]
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StreamParameter]  WITH CHECK ADD  CONSTRAINT [StreamParameter_FK] FOREIGN KEY([SID])
REFERENCES [dbo].[Stream] ([SID])
GO
ALTER TABLE [dbo].[StreamParameter] CHECK CONSTRAINT [StreamParameter_FK]
GO
