USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwHOSTPROPS]    Script Date: 6/29/2019 5:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwHOSTPROPS](
	[VHOST_ID] [bigint] NOT NULL,
	[VCENTER_ID] [bigint] NOT NULL,
	[UUID] [varchar](150) NOT NULL,
	[VENDOR_NAME] [varchar](100) NOT NULL,
	[BUILD_INFO] [varchar](100) NOT NULL,
	[OS_TYPE] [varchar](100) NOT NULL,
	[HARDWARE_VENDOR] [varchar](100) NOT NULL,
	[HARDWARE_MODEL] [varchar](100) NOT NULL,
	[CPU_MODEL] [varchar](100) NOT NULL,
	[CPU_SPEED_MHZ] [int] NOT NULL,
	[CPU_CORES] [int] NOT NULL,
	[CPU_PACKAGES] [int] NOT NULL,
	[CPU_THREADS] [int] NOT NULL,
	[MEM_CAPACITY_MB] [bigint] NULL,
	[NUM_PNIC] [int] NOT NULL,
	[NUM_HBA] [int] NOT NULL,
	[CONNECTION_STATUS] [varchar](50) NOT NULL,
	[POWER_STATE] [varchar](50) NOT NULL,
	[MAINTENANCE_MODE] [bit] NOT NULL,
	[SYSUPTIME] [datetime] NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
 CONSTRAINT [VwHOSTPROPS_PK] PRIMARY KEY CLUSTERED 
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [VwHOSTPROPS_UK0] UNIQUE NONCLUSTERED 
(
	[UUID] ASC,
	[VCENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1937096011]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1937096011] ON [dbo].[VwHOSTPROPS]
(
	[VCENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1937096012]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1937096012] ON [dbo].[VwHOSTPROPS]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwHOSTPROPS]  WITH CHECK ADD  CONSTRAINT [VwHOSTPROPS_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VwENTITYMOMAPPING] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[VwHOSTPROPS] CHECK CONSTRAINT [VwHOSTPROPS_FK1]
GO
ALTER TABLE [dbo].[VwHOSTPROPS]  WITH CHECK ADD  CONSTRAINT [VwHOSTPROPS_FK2] FOREIGN KEY([VCENTER_ID])
REFERENCES [dbo].[VwVCENTERPROPS] ([VCENTER_ID])
GO
ALTER TABLE [dbo].[VwHOSTPROPS] CHECK CONSTRAINT [VwHOSTPROPS_FK2]
GO
