USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AGENTREQUESTTYPES]    Script Date: 6/29/2019 5:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENTREQUESTTYPES](
	[REQUEST_TYPE_ID] [int] NOT NULL,
	[REQUEST_TYPE] [varchar](100) NOT NULL,
	[DUPLICATION_ALLOWED] [bit] NOT NULL,
	[TIME_OUT] [int] NOT NULL,
	[DB_TABLE] [varchar](100) NOT NULL,
	[IMMEDIATE_RESPONSE_NEEDED] [bit] NOT NULL,
 CONSTRAINT [AGENTREQUESTTYPES_PK1] PRIMARY KEY CLUSTERED 
(
	[REQUEST_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AGENTREQUESTTYPES_UK1] UNIQUE NONCLUSTERED 
(
	[REQUEST_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENTREQUESTTYPES] ADD  DEFAULT ((0)) FOR [DUPLICATION_ALLOWED]
GO
ALTER TABLE [dbo].[AGENTREQUESTTYPES] ADD  DEFAULT ((0)) FOR [IMMEDIATE_RESPONSE_NEEDED]
GO
