USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoVPNConcentrator]    Script Date: 6/29/2019 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoVPNConcentrator](
	[RESOURCEID] [bigint] NOT NULL,
	[RAMSIZE] [varchar](15) NOT NULL,
 CONSTRAINT [CiscoVPNConcentrator_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1419813798]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1419813798] ON [dbo].[CiscoVPNConcentrator]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoVPNConcentrator] ADD  DEFAULT ('Not Available') FOR [RAMSIZE]
GO
ALTER TABLE [dbo].[CiscoVPNConcentrator]  WITH CHECK ADD  CONSTRAINT [CiscoVPNConcentrator_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CiscoVPNConcentrator] CHECK CONSTRAINT [CiscoVPNConcentrator_FK1]
GO
