USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SortCol_Expression]    Script Date: 6/29/2019 5:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SortCol_Expression](
	[QUERYID] [bigint] NOT NULL,
	[TABLEALIAS] [varchar](50) NOT NULL,
	[SORTINDEX] [int] NOT NULL,
	[EXPRESSION_ID] [bigint] NOT NULL,
 CONSTRAINT [SortCol_Expression_PK] PRIMARY KEY CLUSTERED 
(
	[QUERYID] ASC,
	[TABLEALIAS] ASC,
	[SORTINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__831340285]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__831340285] ON [dbo].[SortCol_Expression]
(
	[EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__831340286]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__831340286] ON [dbo].[SortCol_Expression]
(
	[QUERYID] ASC,
	[TABLEALIAS] ASC,
	[SORTINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SortCol_Expression]  WITH CHECK ADD  CONSTRAINT [SortCol_Expression_FK1] FOREIGN KEY([QUERYID], [TABLEALIAS], [SORTINDEX])
REFERENCES [dbo].[SortColumn] ([QUERYID], [TABLEALIAS], [SORTINDEX])
GO
ALTER TABLE [dbo].[SortCol_Expression] CHECK CONSTRAINT [SortCol_Expression_FK1]
GO
ALTER TABLE [dbo].[SortCol_Expression]  WITH CHECK ADD  CONSTRAINT [SortCol_Expression_FK2] FOREIGN KEY([EXPRESSION_ID])
REFERENCES [dbo].[Expression] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[SortCol_Expression] CHECK CONSTRAINT [SortCol_Expression_FK2]
GO
