USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Parent_Class_Expr]    Script Date: 6/29/2019 5:50:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent_Class_Expr](
	[PARENT_EXPR_ID] [bigint] NOT NULL,
	[IS_GROUP] [bit] NOT NULL,
 CONSTRAINT [Parent_Class_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[PARENT_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Parent_Class_Expr] ADD  DEFAULT ((0)) FOR [IS_GROUP]
GO
