USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VDatastoreProps]    Script Date: 6/29/2019 5:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VDatastoreProps](
	[VDATASTORE_ID] [bigint] NOT NULL,
	[VHOST_ID] [bigint] NOT NULL,
	[DATASTORE_UUID] [varchar](50) NULL,
	[DATASTORE_NAME] [varchar](110) NOT NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
	[CONNECTION_STATUS] [bit] NOT NULL,
	[FILESYSTEM_TYPE] [int] NULL,
	[CAPACITY_MB] [bigint] NULL,
	[FREESPACE_MB] [bigint] NULL,
	[NAS_REMOTE_HOST] [varchar](100) NULL,
	[NAS_REMOTE_PATH] [varchar](150) NULL,
	[MOUNT_LOCATION] [varchar](150) NULL,
	[MOR_ID] [varchar](150) NULL,
 CONSTRAINT [VDatastoreProps_PK] PRIMARY KEY CLUSTERED 
(
	[VDATASTORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__58051076]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__58051076] ON [dbo].[VDatastoreProps]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VDatastoreProps]  WITH CHECK ADD  CONSTRAINT [VDatastoreProps_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VHostProps] ([VHOST_ID])
GO
ALTER TABLE [dbo].[VDatastoreProps] CHECK CONSTRAINT [VDatastoreProps_FK1]
GO
