USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EdgeCoreL2Switch]    Script Date: 6/29/2019 5:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EdgeCoreL2Switch](
	[RESOURCEID] [bigint] NOT NULL,
	[HW_VER] [varchar](100) NOT NULL,
	[BOOT_VER] [varchar](100) NOT NULL,
 CONSTRAINT [EdgeCoreL2Switch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_473178019]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_473178019] ON [dbo].[EdgeCoreL2Switch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EdgeCoreL2Switch] ADD  DEFAULT ('Not Available') FOR [HW_VER]
GO
ALTER TABLE [dbo].[EdgeCoreL2Switch] ADD  DEFAULT ('Not Available') FOR [BOOT_VER]
GO
ALTER TABLE [dbo].[EdgeCoreL2Switch]  WITH CHECK ADD  CONSTRAINT [EdgeCoreL2Switch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[EdgeCoreL2Switch] CHECK CONSTRAINT [EdgeCoreL2Switch_FK1]
GO
