USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduledPDIds]    Script Date: 6/29/2019 5:51:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduledPDIds](
	[SCHEDULEID] [bigint] NOT NULL,
	[POLLID] [bigint] NOT NULL,
 CONSTRAINT [ScheduledPDIds_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC,
	[POLLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1580227460]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1580227460] ON [dbo].[ScheduledPDIds]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1580227461]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1580227461] ON [dbo].[ScheduledPDIds]
(
	[POLLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduledPDIds]  WITH CHECK ADD  CONSTRAINT [ScheduledPDIds_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleReports] ([SCHEDULEID])
GO
ALTER TABLE [dbo].[ScheduledPDIds] CHECK CONSTRAINT [ScheduledPDIds_FK1]
GO
ALTER TABLE [dbo].[ScheduledPDIds]  WITH CHECK ADD  CONSTRAINT [ScheduledPDIds_FK2] FOREIGN KEY([POLLID])
REFERENCES [dbo].[GRAPHTOPOLLMAP] ([POLLID])
GO
ALTER TABLE [dbo].[ScheduledPDIds] CHECK CONSTRAINT [ScheduledPDIds_FK2]
GO
