USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SiteIPV6Map]    Script Date: 6/29/2019 5:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteIPV6Map](
	[ID] [int] NOT NULL,
	[SNAME] [varchar](255) NOT NULL,
	[APPNAME] [varchar](255) NOT NULL,
	[IPADDR] [varchar](255) NOT NULL,
	[EIPADDR] [varchar](255) NOT NULL,
 CONSTRAINT [SiteIPV6Map_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
