USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataSource]    Script Date: 6/29/2019 5:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataSource](
	[DSID] [bigint] NOT NULL,
	[DSNAME] [varchar](100) NOT NULL,
	[ADAPTERCLASS] [varchar](200) NOT NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[ISACTIVE] [bit] NOT NULL,
 CONSTRAINT [DS_PK] PRIMARY KEY CLUSTERED 
(
	[DSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DataSource_UK1] UNIQUE NONCLUSTERED 
(
	[DSNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataSource] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
