USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMVersion]    Script Date: 6/29/2019 5:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMVersion](
	[VERSION_ID] [bigint] NOT NULL,
	[VERSION_NO] [int] NOT NULL,
	[BACKEDUP_BY] [varchar](100) NOT NULL,
	[CHANGED_BY] [varchar](100) NOT NULL,
	[CHANGE_TYPE] [int] NOT NULL,
	[TIMESTAMP] [datetime] NOT NULL,
	[ANNOTATION] [varchar](4000) NOT NULL,
	[FILE_CONTENTS] [varbinary](max) NOT NULL,
	[COMMENTS] [varchar](4000) NULL,
	[APPROVED_BY] [varchar](100) NOT NULL,
 CONSTRAINT [NCMVersion_PK] PRIMARY KEY CLUSTERED 
(
	[VERSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMVersion] ADD  DEFAULT ('Not Available') FOR [CHANGED_BY]
GO
ALTER TABLE [dbo].[NCMVersion] ADD  DEFAULT ('0') FOR [CHANGE_TYPE]
GO
ALTER TABLE [dbo].[NCMVersion] ADD  DEFAULT ('Not Available') FOR [APPROVED_BY]
GO
