USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IpRoutingTable]    Script Date: 6/29/2019 5:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpRoutingTable](
	[ROUTINGID] [bigint] NOT NULL,
	[MOID] [bigint] NOT NULL,
	[SAMPLINGCOUNT] [bigint] NOT NULL,
	[ROUTEDEST] [varchar](50) NOT NULL,
	[NEXTHOP] [varchar](50) NOT NULL,
	[IFINDEX] [int] NOT NULL,
	[IPROUTETYPE] [int] NOT NULL,
 CONSTRAINT [IpRouting_PK1] PRIMARY KEY CLUSTERED 
(
	[ROUTINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IpRouting_UK0] UNIQUE NONCLUSTERED 
(
	[IFINDEX] ASC,
	[MOID] ASC,
	[SAMPLINGCOUNT] ASC,
	[ROUTEDEST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1199089996]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1199089996] ON [dbo].[IpRoutingTable]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IpRoutingTable]  WITH CHECK ADD  CONSTRAINT [IpRouting_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[IpRoutingTable] CHECK CONSTRAINT [IpRouting_FK1]
GO
