USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSCredentialMap]    Script Date: 6/29/2019 5:52:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSCredentialMap](
	[MOID] [bigint] NOT NULL,
	[CRED_ID] [bigint] NULL,
 CONSTRAINT [UCSCredentialMap_PK] PRIMARY KEY CLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1561205069]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1561205069] ON [dbo].[UCSCredentialMap]
(
	[CRED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1561205070]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1561205070] ON [dbo].[UCSCredentialMap]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UCSCredentialMap]  WITH CHECK ADD  CONSTRAINT [UCSCredentialMap_FK1] FOREIGN KEY([CRED_ID])
REFERENCES [dbo].[CredentialManager] ([CREDENTIALID])
GO
ALTER TABLE [dbo].[UCSCredentialMap] CHECK CONSTRAINT [UCSCredentialMap_FK1]
GO
ALTER TABLE [dbo].[UCSCredentialMap]  WITH CHECK ADD  CONSTRAINT [UCSCredentialMap_FK2] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[UCSCredentialMap] CHECK CONSTRAINT [UCSCredentialMap_FK2]
GO
