USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Relvars_To_Tables]    Script Date: 6/29/2019 5:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relvars_To_Tables](
	[RELVAR_ID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [Relvars_To_Tables_PK] PRIMARY KEY CLUSTERED 
(
	[RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1529836555]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1529836555] ON [dbo].[Relvars_To_Tables]
(
	[RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Relvars_To_Tables]  WITH CHECK ADD  CONSTRAINT [Relvars_To_Tables_FK] FOREIGN KEY([RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Relvars_To_Tables] CHECK CONSTRAINT [Relvars_To_Tables_FK]
GO
