USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Consent]    Script Date: 6/29/2019 5:46:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consent](
	[CONSENTID] [bigint] NOT NULL,
	[CONSENTNAME] [varchar](255) NOT NULL,
	[STORAGEID] [bigint] NOT NULL,
	[MESSAGEKEY] [varchar](255) NULL,
	[MODULEID] [bigint] NOT NULL,
 CONSTRAINT [Consent_PK1] PRIMARY KEY CLUSTERED 
(
	[CONSENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Consent_UK0] UNIQUE NONCLUSTERED 
(
	[CONSENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__463795640]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__463795640] ON [dbo].[Consent]
(
	[MODULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__463795641]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__463795641] ON [dbo].[Consent]
(
	[STORAGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consent]  WITH CHECK ADD  CONSTRAINT [Consent_FK1] FOREIGN KEY([STORAGEID])
REFERENCES [dbo].[ConsentStorage] ([STORAGEID])
GO
ALTER TABLE [dbo].[Consent] CHECK CONSTRAINT [Consent_FK1]
GO
ALTER TABLE [dbo].[Consent]  WITH CHECK ADD  CONSTRAINT [Consent_FK2] FOREIGN KEY([MODULEID])
REFERENCES [dbo].[ConsentModules] ([MODULEID])
GO
ALTER TABLE [dbo].[Consent] CHECK CONSTRAINT [Consent_FK2]
GO
