USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProbeGroup]    Script Date: 6/29/2019 5:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProbeGroup](
	[PROBEGROUP_ID] [bigint] NOT NULL,
	[PROBE_ID] [bigint] NOT NULL,
	[TARGET_ID] [bigint] NULL,
	[OPERATION_ID] [bigint] NULL,
	[TARGETDISPLAYNAME] [varchar](250) NOT NULL,
 CONSTRAINT [ProbeGroup_PK] PRIMARY KEY CLUSTERED 
(
	[PROBEGROUP_ID] ASC,
	[PROBE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1436737995]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1436737995] ON [dbo].[ProbeGroup]
(
	[PROBE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProbeGroup]  WITH CHECK ADD  CONSTRAINT [ProbeGroup_FK] FOREIGN KEY([PROBE_ID])
REFERENCES [dbo].[ProbeId] ([PROBE_ID])
GO
ALTER TABLE [dbo].[ProbeGroup] CHECK CONSTRAINT [ProbeGroup_FK]
GO
