USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FilterToLAExpression]    Script Date: 6/29/2019 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterToLAExpression](
	[EXP_ID] [bigint] NOT NULL,
	[FILTERNAME] [nvarchar](200) NOT NULL,
 CONSTRAINT [FilterToLAExpression_PK] PRIMARY KEY CLUSTERED 
(
	[FILTERNAME] ASC,
	[EXP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2088034541]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2088034541] ON [dbo].[FilterToLAExpression]
(
	[EXP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_2088034542]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2088034542] ON [dbo].[FilterToLAExpression]
(
	[FILTERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FilterToLAExpression]  WITH CHECK ADD  CONSTRAINT [FilterToLAExpression_FK1] FOREIGN KEY([EXP_ID])
REFERENCES [dbo].[LAExpression] ([EXP_ID])
GO
ALTER TABLE [dbo].[FilterToLAExpression] CHECK CONSTRAINT [FilterToLAExpression_FK1]
GO
ALTER TABLE [dbo].[FilterToLAExpression]  WITH CHECK ADD  CONSTRAINT [FilterToLAExpression_FK2] FOREIGN KEY([FILTERNAME])
REFERENCES [dbo].[Filters] ([FILTERNAME])
GO
ALTER TABLE [dbo].[FilterToLAExpression] CHECK CONSTRAINT [FilterToLAExpression_FK2]
GO
