USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Task_Input]    Script Date: 6/29/2019 5:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Input](
	[INSTANCE_ID] [bigint] NOT NULL,
	[SCHEDULE_ID] [bigint] NOT NULL,
	[SCHEDULE_TIME] [datetime] NULL,
	[ADMIN_STATUS] [int] NOT NULL,
	[IS_COMMISSIONED] [bit] NOT NULL,
	[TASK_ID] [bigint] NOT NULL,
	[POOL_ID] [bigint] NULL,
 CONSTRAINT [Task_Input_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1320854563]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1320854563] ON [dbo].[Task_Input]
(
	[SCHEDULE_ID] ASC,
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Task_Input] ADD  DEFAULT ('1969-12-31 18:00:00.0') FOR [SCHEDULE_TIME]
GO
ALTER TABLE [dbo].[Task_Input] ADD  DEFAULT ('3') FOR [ADMIN_STATUS]
GO
ALTER TABLE [dbo].[Task_Input] ADD  DEFAULT ((1)) FOR [IS_COMMISSIONED]
GO
ALTER TABLE [dbo].[Task_Input]  WITH CHECK ADD  CONSTRAINT [Task_Input_FK1] FOREIGN KEY([SCHEDULE_ID], [TASK_ID])
REFERENCES [dbo].[Scheduled_Task] ([SCHEDULE_ID], [TASK_ID])
GO
ALTER TABLE [dbo].[Task_Input] CHECK CONSTRAINT [Task_Input_FK1]
GO
