USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PathEchoDetails]    Script Date: 6/29/2019 5:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PathEchoDetails](
	[PROBEGROUP_ID] [bigint] NOT NULL,
	[PATHECHOPAYLOAD] [int] NOT NULL,
	[MAXPATHS] [int] NOT NULL,
	[MAXHOPS] [int] NOT NULL,
	[QOS] [int] NOT NULL,
 CONSTRAINT [PathEchoDetails_PK] PRIMARY KEY CLUSTERED 
(
	[PROBEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1156440180]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1156440180] ON [dbo].[PathEchoDetails]
(
	[PROBEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PathEchoDetails]  WITH CHECK ADD  CONSTRAINT [PathEchoDetails_FK] FOREIGN KEY([PROBEGROUP_ID])
REFERENCES [dbo].[Collector] ([PROBEGROUP_ID])
GO
ALTER TABLE [dbo].[PathEchoDetails] CHECK CONSTRAINT [PathEchoDetails_FK]
GO
