USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Email_To_Address]    Script Date: 6/29/2019 5:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email_To_Address](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[TO_ADDRESS_EXPR_ID] [bigint] NOT NULL,
 CONSTRAINT [Email_To_Address_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC,
	[TO_ADDRESS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1866643023]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1866643023] ON [dbo].[Email_To_Address]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2031358816]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2031358816] ON [dbo].[Email_To_Address]
(
	[TO_ADDRESS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Email_To_Address]  WITH CHECK ADD  CONSTRAINT [Email_To_Address_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Email_Task] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Email_To_Address] CHECK CONSTRAINT [Email_To_Address_FK]
GO
ALTER TABLE [dbo].[Email_To_Address]  WITH CHECK ADD  CONSTRAINT [Email_To_Address_FK1] FOREIGN KEY([TO_ADDRESS_EXPR_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Email_To_Address] CHECK CONSTRAINT [Email_To_Address_FK1]
GO
