USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FieldPoint]    Script Date: 6/29/2019 5:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldPoint](
	[ID] [int] NOT NULL,
	[RID] [int] NOT NULL,
	[FIELD] [int] NOT NULL,
	[POINTVALUE] [varchar](255) NOT NULL,
	[FLAG] [int] NOT NULL,
 CONSTRAINT [FieldPoint_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_927271118]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_927271118] ON [dbo].[FieldPoint]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FieldPoint] ADD  DEFAULT ('0') FOR [FLAG]
GO
ALTER TABLE [dbo].[FieldPoint]  WITH CHECK ADD  CONSTRAINT [FieldPoint_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[NbaRule] ([RID])
GO
ALTER TABLE [dbo].[FieldPoint] CHECK CONSTRAINT [FieldPoint_FK]
GO
