USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ZoneConfig]    Script Date: 6/29/2019 5:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZoneConfig](
	[DEVICE_ID] [bigint] NOT NULL,
	[ZONE_CONFIG_NAME] [varchar](110) NOT NULL,
	[IS_EFFECTIVE] [bit] NOT NULL,
 CONSTRAINT [ZONESET_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[ZONE_CONFIG_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1999947421]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1999947421] ON [dbo].[ZoneConfig]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ZoneConfig]  WITH CHECK ADD  CONSTRAINT [ZONESET_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ZoneConfig] CHECK CONSTRAINT [ZONESET_FK1]
GO
