USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetAppCluster]    Script Date: 6/29/2019 5:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetAppCluster](
	[RAID_ID] [bigint] NOT NULL,
	[CLUSTER_SETTING] [varchar](250) NOT NULL,
	[STATE] [varchar](250) NOT NULL,
	[PARTNER_NAME] [varchar](250) NOT NULL,
	[PARTNER_SYSID] [varchar](250) NOT NULL,
	[PARTNER_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [NETAPPCLUSTER_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1647547971]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1647547971] ON [dbo].[NetAppCluster]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetAppCluster]  WITH CHECK ADD  CONSTRAINT [NETAPPCLUSTER_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[NetAppCluster] CHECK CONSTRAINT [NETAPPCLUSTER_FK1]
GO
