USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Num_Expr_Opr_Expr]    Script Date: 6/29/2019 5:49:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Num_Expr_Opr_Expr](
	[NUMERIC_EXPRESSION_ID] [bigint] NOT NULL,
	[LEFT_EXPRESSION_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[RIGHT_EXPRESSION_ID] [bigint] NULL,
 CONSTRAINT [Num_Expr_Opr_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[NUMERIC_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__67961310]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__67961310] ON [dbo].[Num_Expr_Opr_Expr]
(
	[RIGHT_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__67961311]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__67961311] ON [dbo].[Num_Expr_Opr_Expr]
(
	[LEFT_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2076017680]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2076017680] ON [dbo].[Num_Expr_Opr_Expr]
(
	[NUMERIC_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Num_Expr_Opr_Expr] ADD  DEFAULT ('0') FOR [RIGHT_EXPRESSION_ID]
GO
ALTER TABLE [dbo].[Num_Expr_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [Num_Expr_Opr_Expr_FK] FOREIGN KEY([NUMERIC_EXPRESSION_ID])
REFERENCES [dbo].[Numeric_Expressions] ([NUMERIC_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Num_Expr_Opr_Expr] CHECK CONSTRAINT [Num_Expr_Opr_Expr_FK]
GO
ALTER TABLE [dbo].[Num_Expr_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [Num_Expr_Opr_Expr_FK1] FOREIGN KEY([LEFT_EXPRESSION_ID])
REFERENCES [dbo].[Numeric_Expressions] ([NUMERIC_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Num_Expr_Opr_Expr] CHECK CONSTRAINT [Num_Expr_Opr_Expr_FK1]
GO
ALTER TABLE [dbo].[Num_Expr_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [Num_Expr_Opr_Expr_FK2] FOREIGN KEY([RIGHT_EXPRESSION_ID])
REFERENCES [dbo].[Numeric_Expressions] ([NUMERIC_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Num_Expr_Opr_Expr] CHECK CONSTRAINT [Num_Expr_Opr_Expr_FK2]
GO
