USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Str_Expr_Opr_Const]    Script Date: 6/29/2019 5:52:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Str_Expr_Opr_Const](
	[STRING_EXPRESSION_ID] [bigint] NOT NULL,
	[LEFT_EXPRESSION_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[STRING_CONSTANT] [varchar](255) NOT NULL,
 CONSTRAINT [Str_Expr_Opr_Const_PK] PRIMARY KEY CLUSTERED 
(
	[STRING_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1468679061]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1468679061] ON [dbo].[Str_Expr_Opr_Const]
(
	[STRING_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1715589414]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1715589414] ON [dbo].[Str_Expr_Opr_Const]
(
	[LEFT_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Str_Expr_Opr_Const]  WITH CHECK ADD  CONSTRAINT [Str_Expr_Opr_Const_FK] FOREIGN KEY([STRING_EXPRESSION_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Str_Expr_Opr_Const] CHECK CONSTRAINT [Str_Expr_Opr_Const_FK]
GO
ALTER TABLE [dbo].[Str_Expr_Opr_Const]  WITH CHECK ADD  CONSTRAINT [Str_Expr_Opr_Const_FK1] FOREIGN KEY([LEFT_EXPRESSION_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Str_Expr_Opr_Const] CHECK CONSTRAINT [Str_Expr_Opr_Const_FK1]
GO
