USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ChatIntegration]    Script Date: 6/29/2019 5:46:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatIntegration](
	[PROFILEID] [bigint] NOT NULL,
	[PRODUCTNAME] [varchar](250) NOT NULL,
	[MESSAGE] [text] NOT NULL,
	[SUBJECT] [varchar](250) NOT NULL,
	[RECEIVERID] [varchar](250) NOT NULL,
	[RECEIVERTYPE] [varchar](250) NOT NULL,
 CONSTRAINT [ChatIntegration_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1520075639]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1520075639] ON [dbo].[ChatIntegration]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChatIntegration]  WITH CHECK ADD  CONSTRAINT [ChatIntegration_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[ChatIntegration] CHECK CONSTRAINT [ChatIntegration_FK1]
GO
