USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningDKCStatus]    Script Date: 6/29/2019 5:48:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningDKCStatus](
	[DEVICE_ID] [bigint] NOT NULL,
	[DKC_STATUS_SLNO] [int] NOT NULL,
	[PROCESSOR] [varchar](250) NULL,
	[INTERNAL_BUS] [varchar](250) NULL,
	[CACHE] [varchar](250) NULL,
	[SHARED_MEMORY] [varchar](250) NULL,
	[POWER_SUPPLY] [varchar](250) NULL,
	[BATTERY] [varchar](250) NULL,
	[FAN] [varchar](250) NULL,
	[ENVIRONMENT] [varchar](250) NULL,
 CONSTRAINT [LightningDKCStatus_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DKC_STATUS_SLNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1350088303]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1350088303] ON [dbo].[LightningDKCStatus]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningDKCStatus]  WITH CHECK ADD  CONSTRAINT [LightningDKCStatus_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningDKCStatus] CHECK CONSTRAINT [LightningDKCStatus_FK1]
GO
