USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CLIConnectionTerminalRel]    Script Date: 6/29/2019 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIConnectionTerminalRel](
	[ConnectionID] [varchar](250) NOT NULL,
	[TerminalIOID] [varchar](50) NOT NULL,
 CONSTRAINT [ConTermRel_PK] PRIMARY KEY CLUSTERED 
(
	[ConnectionID] ASC,
	[TerminalIOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__129634516]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__129634516] ON [dbo].[CLIConnectionTerminalRel]
(
	[ConnectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1538774693]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1538774693] ON [dbo].[CLIConnectionTerminalRel]
(
	[TerminalIOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIConnectionTerminalRel]  WITH CHECK ADD  CONSTRAINT [CSPEC_REL_FK] FOREIGN KEY([ConnectionID])
REFERENCES [dbo].[CLIConnectionSpec] ([ConnectionID])
GO
ALTER TABLE [dbo].[CLIConnectionTerminalRel] CHECK CONSTRAINT [CSPEC_REL_FK]
GO
ALTER TABLE [dbo].[CLIConnectionTerminalRel]  WITH CHECK ADD  CONSTRAINT [CTERM_REL_FK] FOREIGN KEY([TerminalIOID])
REFERENCES [dbo].[CLITerminalIOHandler] ([TerminalIOID])
GO
ALTER TABLE [dbo].[CLIConnectionTerminalRel] CHECK CONSTRAINT [CTERM_REL_FK]
GO
