USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDeviceExdCriteria]    Script Date: 6/29/2019 5:49:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDeviceExdCriteria](
	[PERSONALITYID] [bigint] NOT NULL,
	[CRITERIA_ID] [bigint] NOT NULL,
	[IS_ENABLED] [bit] NOT NULL,
 CONSTRAINT [NCMDeviceExdCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYID] ASC,
	[CRITERIA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_982654031]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_982654031] ON [dbo].[NCMDeviceExdCriteria]
(
	[PERSONALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_982654032]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_982654032] ON [dbo].[NCMDeviceExdCriteria]
(
	[CRITERIA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDeviceExdCriteria] ADD  DEFAULT ((1)) FOR [IS_ENABLED]
GO
ALTER TABLE [dbo].[NCMDeviceExdCriteria]  WITH CHECK ADD  CONSTRAINT [NCMDeviceExdCriteria_FK1] FOREIGN KEY([PERSONALITYID])
REFERENCES [dbo].[NCMPersonality] ([PERSONALITYID])
GO
ALTER TABLE [dbo].[NCMDeviceExdCriteria] CHECK CONSTRAINT [NCMDeviceExdCriteria_FK1]
GO
ALTER TABLE [dbo].[NCMDeviceExdCriteria]  WITH CHECK ADD  CONSTRAINT [NCMDeviceExdCriteria_FK2] FOREIGN KEY([CRITERIA_ID])
REFERENCES [dbo].[NCMExcludeCriteria] ([CRITERIA_ID])
GO
ALTER TABLE [dbo].[NCMDeviceExdCriteria] CHECK CONSTRAINT [NCMDeviceExdCriteria_FK2]
GO
