USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Numeric_Rank_Vars]    Script Date: 6/29/2019 5:49:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Numeric_Rank_Vars](
	[NUMERIC_EXPRESSION_ID] [bigint] NOT NULL,
	[RELVAR_ID] [bigint] NOT NULL,
	[ATTRIBUTE_NAME] [varchar](100) NOT NULL,
	[ASC_ORDER_FLAG] [bit] NOT NULL,
 CONSTRAINT [Numeric_Rank_Vars_PK] PRIMARY KEY CLUSTERED 
(
	[NUMERIC_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__119851942]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__119851942] ON [dbo].[Numeric_Rank_Vars]
(
	[RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_273228471]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_273228471] ON [dbo].[Numeric_Rank_Vars]
(
	[NUMERIC_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Numeric_Rank_Vars] ADD  DEFAULT ((1)) FOR [ASC_ORDER_FLAG]
GO
ALTER TABLE [dbo].[Numeric_Rank_Vars]  WITH CHECK ADD  CONSTRAINT [Numeric_Rank_Vars_FK] FOREIGN KEY([NUMERIC_EXPRESSION_ID])
REFERENCES [dbo].[Numeric_Expressions] ([NUMERIC_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Numeric_Rank_Vars] CHECK CONSTRAINT [Numeric_Rank_Vars_FK]
GO
ALTER TABLE [dbo].[Numeric_Rank_Vars]  WITH CHECK ADD  CONSTRAINT [Numeric_Rank_Vars_FK1] FOREIGN KEY([RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Numeric_Rank_Vars] CHECK CONSTRAINT [Numeric_Rank_Vars_FK1]
GO
