USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserMACDetails]    Script Date: 6/29/2019 5:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMACDetails](
	[UMDID] [bigint] NOT NULL,
	[SERVERNAME] [nvarchar](100) NOT NULL,
	[IPADDRESS] [nvarchar](96) NOT NULL,
	[MACADDRESS] [nvarchar](100) NULL,
	[USER] [nvarchar](200) NULL,
 CONSTRAINT [UserMACDetails_PK] PRIMARY KEY CLUSTERED 
(
	[UMDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
