USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProbeConfigHistory]    Script Date: 6/29/2019 5:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProbeConfigHistory](
	[COLLECTORNAME] [varchar](250) NOT NULL,
	[SOURCENAME] [varchar](250) NOT NULL,
	[TARGETNAME] [varchar](250) NOT NULL,
	[TIME] [bigint] NOT NULL,
	[OPERATION_TYPE] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[ERRORTYPE] [int] NOT NULL,
 CONSTRAINT [ProbeConfigHistory_PK] PRIMARY KEY CLUSTERED 
(
	[TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
