USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DISCOVERYRULESTEMPLATE]    Script Date: 6/29/2019 5:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCOVERYRULESTEMPLATE](
	[DTID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [DISCOVERYRULESTEMPLATE_PK1] PRIMARY KEY CLUSTERED 
(
	[DTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DISCOVERYRULESTEMPLATE_UK1] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
