USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CustomLinks]    Script Date: 6/29/2019 5:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomLinks](
	[LINKID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[URL] [varchar](250) NOT NULL,
	[TEMP] [varchar](10) NULL,
 CONSTRAINT [CustomLinks_PK1] PRIMARY KEY CLUSTERED 
(
	[LINKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CustomLinks_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
