USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ArubaController]    Script Date: 6/29/2019 5:46:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArubaController](
	[RESOURCEID] [bigint] NOT NULL,
	[CPBOOT] [varchar](150) NOT NULL,
 CONSTRAINT [ArubaController_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1005874508]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1005874508] ON [dbo].[ArubaController]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArubaController] ADD  DEFAULT ('Not Available') FOR [CPBOOT]
GO
ALTER TABLE [dbo].[ArubaController]  WITH CHECK ADD  CONSTRAINT [ArubaController_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ArubaController] CHECK CONSTRAINT [ArubaController_FK1]
GO
