USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PNSStatus]    Script Date: 6/29/2019 5:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNSStatus](
	[ID] [bigint] NOT NULL,
	[LOGINID] [bigint] NOT NULL,
	[ENABLED] [bit] NOT NULL,
 CONSTRAINT [PNSStatus_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1395195340]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1395195340] ON [dbo].[PNSStatus]
(
	[LOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PNSStatus] ADD  DEFAULT ((1)) FOR [ENABLED]
GO
ALTER TABLE [dbo].[PNSStatus]  WITH CHECK ADD  CONSTRAINT [PNSStatus_FK1] FOREIGN KEY([LOGINID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[PNSStatus] CHECK CONSTRAINT [PNSStatus_FK1]
GO
