USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NTServiceRuleList]    Script Date: 6/29/2019 5:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTServiceRuleList](
	[ID] [bigint] NOT NULL,
	[CRITERIAID] [bigint] NOT NULL,
	[RULEID] [bigint] NOT NULL,
 CONSTRAINT [NTServiceRuleList_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1420603466]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1420603466] ON [dbo].[NTServiceRuleList]
(
	[CRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NTServiceRuleList]  WITH CHECK ADD  CONSTRAINT [NTServiceRuleList_FK1] FOREIGN KEY([CRITERIAID])
REFERENCES [dbo].[ProfileCriteria] ([CRITERIAID])
GO
ALTER TABLE [dbo].[NTServiceRuleList] CHECK CONSTRAINT [NTServiceRuleList_FK1]
GO
