USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningUtil]    Script Date: 6/29/2019 5:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningUtil](
	[UTIL_SL_NO] [bigint] NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[UTIL_TYPE] [varchar](250) NULL,
	[UTIL_NAME] [varchar](250) NULL,
	[UTIL_VALUE] [varchar](250) NULL,
 CONSTRAINT [LightningUtil_PK] PRIMARY KEY CLUSTERED 
(
	[UTIL_SL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1566708967]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1566708967] ON [dbo].[LightningUtil]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningUtil]  WITH CHECK ADD  CONSTRAINT [LightningUtil_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningUtil] CHECK CONSTRAINT [LightningUtil_FK1]
GO
