USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARRaid]    Script Date: 6/29/2019 5:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARRaid](
	[RAID_ID] [bigint] NOT NULL,
	[STATUS] [varchar](250) NOT NULL,
	[WWN] [varchar](250) NOT NULL,
	[IPV4_ADDRESS] [varchar](250) NOT NULL,
	[IPV6_ADDRESS] [varchar](250) NOT NULL,
	[LICENSED_DATE] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARRaid_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_94149700]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_94149700] ON [dbo].[HP3PARRaid]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARRaid]  WITH CHECK ADD  CONSTRAINT [HP3PARRaid_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HP3PARRaid] CHECK CONSTRAINT [HP3PARRaid_FK]
GO
