USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportSummary]    Script Date: 6/29/2019 5:50:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportSummary](
	[DAY] [datetime] NOT NULL,
	[RID] [bigint] NOT NULL,
	[REQUEST_COUNT] [int] NULL,
	[HIT_COUNT] [int] NULL,
	[DURATION] [int] NULL,
	[ERROR_COUNT] [int] NULL,
	[EVENT_COUNT] [int] NULL,
	[EMERGENCY_EVENT_COUNT] [int] NULL,
	[ALERT_EVENT_COUNT] [int] NULL,
	[CRITICAL_EVENT_COUNT] [int] NULL,
	[ERROR_EVENT_COUNT] [int] NULL,
	[WARNING_EVENT_COUNT] [int] NULL,
	[NOTIFICATION_EVENT_COUNT] [int] NULL,
	[INFO_EVENT_COUNT] [int] NULL,
	[DEBUG_EVENT_COUNT] [int] NULL,
	[BYTES_INBOUND] [bigint] NULL,
	[BYTES_OUTBOUND] [bigint] NULL,
	[TOTAL_BYTES] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[DAY] ASC,
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ReportSummary_IDX0]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [ReportSummary_IDX0] ON [dbo].[ReportSummary]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0000-00-00 00:00:00') FOR [DAY]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [RID]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [REQUEST_COUNT]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [HIT_COUNT]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [DURATION]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [ERROR_COUNT]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [EVENT_COUNT]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [EMERGENCY_EVENT_COUNT]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [ALERT_EVENT_COUNT]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [CRITICAL_EVENT_COUNT]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [ERROR_EVENT_COUNT]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [WARNING_EVENT_COUNT]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [NOTIFICATION_EVENT_COUNT]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [INFO_EVENT_COUNT]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [DEBUG_EVENT_COUNT]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [BYTES_INBOUND]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [BYTES_OUTBOUND]
GO
ALTER TABLE [dbo].[ReportSummary] ADD  DEFAULT ('0') FOR [TOTAL_BYTES]
GO
