USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPMSAP2000Raid]    Script Date: 6/29/2019 5:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPMSAP2000Raid](
	[DEVICE_ID] [bigint] NOT NULL,
	[NO_STORAGEPOOL] [varchar](250) NOT NULL,
	[WWN] [varchar](250) NULL,
	[NAME_FORMAT] [varchar](250) NULL,
	[NAME] [varchar](250) NULL,
	[PRIMARY_OWNER_CONTACT] [varchar](250) NULL,
	[PRIMARY_OWNER_NAME] [varchar](250) NULL,
	[OTHER_IDENTIFYING_INFO] [varchar](250) NULL,
 CONSTRAINT [HPMSAP2000Raid_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1808224914]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1808224914] ON [dbo].[HPMSAP2000Raid]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPMSAP2000Raid]  WITH CHECK ADD  CONSTRAINT [HPMSAP2000Raid_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPMSAP2000Raid] CHECK CONSTRAINT [HPMSAP2000Raid_FK1]
GO
