USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiskUtilization]    Script Date: 6/29/2019 5:47:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiskUtilization](
	[DEVICE_ID] [bigint] NOT NULL,
	[VOLUMENAME] [varchar](250) NOT NULL,
	[TOTAL] [bigint] NOT NULL,
	[USED] [bigint] NOT NULL,
 CONSTRAINT [DISKUTILIZATIONTABLE_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[VOLUMENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_330330454]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_330330454] ON [dbo].[DiskUtilization]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiskUtilization]  WITH CHECK ADD  CONSTRAINT [DISKUTILIZATIONTABLE_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[DiskUtilization] CHECK CONSTRAINT [DISKUTILIZATIONTABLE_FK1]
GO
