USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Workflow_Instances]    Script Date: 6/29/2019 5:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workflow_Instances](
	[WF_INSTANCE_ID] [bigint] NOT NULL,
	[OWNER_ID] [bigint] NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[WORKFLOW_STATE] [varchar](40) NOT NULL,
 CONSTRAINT [Workflow_Instances_PK] PRIMARY KEY CLUSTERED 
(
	[WF_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_401930918]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_401930918] ON [dbo].[Workflow_Instances]
(
	[WF_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Workflow_Instances] ADD  DEFAULT ('NotStarted') FOR [WORKFLOW_STATE]
GO
ALTER TABLE [dbo].[Workflow_Instances]  WITH CHECK ADD  CONSTRAINT [Workflow_Instances_FK] FOREIGN KEY([WF_INSTANCE_ID])
REFERENCES [dbo].[Instances] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[Workflow_Instances] CHECK CONSTRAINT [Workflow_Instances_FK]
GO
