USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ArticleTypes]    Script Date: 6/29/2019 5:46:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleTypes](
	[ID] [bigint] NOT NULL,
	[ARTICLETYPE_ID] [int] NOT NULL,
	[ARTICLETYPE_NAME] [varchar](25) NOT NULL,
	[DISPLAYNAME] [varchar](30) NOT NULL,
 CONSTRAINT [ArticleTypes_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ArticleTypes_UK1] UNIQUE NONCLUSTERED 
(
	[ARTICLETYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
