USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARArrayPowerSupply]    Script Date: 6/29/2019 5:48:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARArrayPowerSupply](
	[RAID_ID] [bigint] NOT NULL,
	[POWER_SUPPLY_ID] [varchar](150) NOT NULL,
	[POWER_SUPPLY_NAME] [varchar](250) NOT NULL,
	[PS_STATUS] [varchar](250) NOT NULL,
	[PS_MANUFACTURER] [varchar](250) NOT NULL,
	[PS_MODEL] [varchar](250) NOT NULL,
	[PS_SERIAL_NUMBER] [varchar](250) NOT NULL,
	[PS_POSITION] [varchar](250) NOT NULL,
	[PS_AC_STATUS] [varchar](250) NOT NULL,
	[PS_CAGE_TYPE] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARArrayPowerSupply_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[POWER_SUPPLY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1392637171]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1392637171] ON [dbo].[HP3PARArrayPowerSupply]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARArrayPowerSupply]  WITH CHECK ADD  CONSTRAINT [HP3PARArrayPowerSupply_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[HP3PARRaid] ([RAID_ID])
GO
ALTER TABLE [dbo].[HP3PARArrayPowerSupply] CHECK CONSTRAINT [HP3PARArrayPowerSupply_FK]
GO
