USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FORWARDDETAILS]    Script Date: 6/29/2019 5:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORWARDDETAILS](
	[DESTINATIONHOST] [varchar](255) NOT NULL,
	[DESTINATIONPORT] [int] NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
 CONSTRAINT [FORWARDDETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[DESTINATIONHOST] ASC,
	[DESTINATIONPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
