USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetToMediaTable]    Script Date: 6/29/2019 5:49:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetToMediaTable](
	[ID] [bigint] NOT NULL,
	[MOID] [bigint] NOT NULL,
	[SAMPLINGCOUNT] [bigint] NOT NULL,
	[MACADDRESS] [varchar](50) NOT NULL,
	[IPADDRESS] [varchar](50) NOT NULL,
	[IFINDEX] [int] NOT NULL,
 CONSTRAINT [NetToMediaTable_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NetToMediaTable_UK0] UNIQUE NONCLUSTERED 
(
	[MACADDRESS] ASC,
	[MOID] ASC,
	[SAMPLINGCOUNT] ASC,
	[IPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1808627599]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1808627599] ON [dbo].[NetToMediaTable]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetToMediaTable]  WITH CHECK ADD  CONSTRAINT [NetToMediaTable_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[NetToMediaTable] CHECK CONSTRAINT [NetToMediaTable_FK1]
GO
