USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEPORTINITIATOR]    Script Date: 6/29/2019 5:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEPORTINITIATOR](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[PORTNAME] [varchar](250) NULL,
	[PORT_IQN] [varchar](250) NULL,
	[PORTAL] [varchar](500) NULL,
	[HOST_IQN] [varchar](250) NULL,
	[PORTWWN_ID] [bigint] NOT NULL,
	[HOSTWWN_ID] [bigint] NOT NULL,
	[ADDITIONAL_DATA] [text] NULL,
 CONSTRAINT [STORAGEPORTINITIATOR_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[PORTWWN_ID] ASC,
	[HOSTWWN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEPORTINITIATOR_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1402745342]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1402745342] ON [dbo].[STORAGEPORTINITIATOR]
(
	[HOSTWWN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1402745343]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1402745343] ON [dbo].[STORAGEPORTINITIATOR]
(
	[PORTWWN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1402745344]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1402745344] ON [dbo].[STORAGEPORTINITIATOR]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEPORTINITIATOR]  WITH CHECK ADD  CONSTRAINT [STORAGEPORTINITIATOR_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGEPORTINITIATOR] CHECK CONSTRAINT [STORAGEPORTINITIATOR_FK1]
GO
ALTER TABLE [dbo].[STORAGEPORTINITIATOR]  WITH CHECK ADD  CONSTRAINT [STORAGEPORTINITIATOR_FK2] FOREIGN KEY([PORTWWN_ID])
REFERENCES [dbo].[STORAGEPORTWWN] ([ID])
GO
ALTER TABLE [dbo].[STORAGEPORTINITIATOR] CHECK CONSTRAINT [STORAGEPORTINITIATOR_FK2]
GO
ALTER TABLE [dbo].[STORAGEPORTINITIATOR]  WITH CHECK ADD  CONSTRAINT [STORAGEPORTINITIATOR_FK3] FOREIGN KEY([HOSTWWN_ID])
REFERENCES [dbo].[STORAGEHOSTWWN] ([ID])
GO
ALTER TABLE [dbo].[STORAGEPORTINITIATOR] CHECK CONSTRAINT [STORAGEPORTINITIATOR_FK3]
GO
