USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARExtentStorageVolumeMap]    Script Date: 6/29/2019 5:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARExtentStorageVolumeMap](
	[RAID_ID] [bigint] NOT NULL,
	[DISK_DEVICE_ID] [bigint] NOT NULL,
	[EXTENT_ID] [varchar](150) NOT NULL,
	[VOLUME_ID] [varchar](150) NOT NULL,
 CONSTRAINT [HP3PARExtentStorageVolumeMap_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[EXTENT_ID] ASC,
	[VOLUME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1647772972]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1647772972] ON [dbo].[HP3PARExtentStorageVolumeMap]
(
	[RAID_ID] ASC,
	[DISK_DEVICE_ID] ASC,
	[EXTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARExtentStorageVolumeMap]  WITH CHECK ADD  CONSTRAINT [HP3PARExtentStorageVolumeMap_FK1] FOREIGN KEY([RAID_ID], [DISK_DEVICE_ID], [EXTENT_ID])
REFERENCES [dbo].[HP3PARDiskExtent] ([RAID_ID], [DISK_DEVICE_ID], [EXTENT_ID])
GO
ALTER TABLE [dbo].[HP3PARExtentStorageVolumeMap] CHECK CONSTRAINT [HP3PARExtentStorageVolumeMap_FK1]
GO
