USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[USERNOTIFICATION]    Script Date: 6/29/2019 5:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERNOTIFICATION](
	[NOTIFICATION_ID] [bigint] NOT NULL,
	[CREATED_USERID] [bigint] NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[COMMENT_ID] [bigint] NOT NULL,
	[MENTIONED_USERID] [bigint] NOT NULL,
	[CREATED_TIME] [bigint] NOT NULL,
	[ACKNOWLEDGE] [bit] NOT NULL,
	[HIDE_NOTIFICATION] [bit] NOT NULL,
 CONSTRAINT [USERNOTIFICATION_PK] PRIMARY KEY CLUSTERED 
(
	[NOTIFICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USERNOTIFICATION] ADD  DEFAULT ((0)) FOR [HIDE_NOTIFICATION]
GO
