USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HuaweiARRouter]    Script Date: 6/29/2019 5:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuaweiARRouter](
	[RESOURCEID] [bigint] NOT NULL,
	[CPU] [varchar](50) NOT NULL,
	[BOOTROMVERSION] [varchar](50) NOT NULL,
	[SDRAMSIZE] [varchar](15) NOT NULL,
	[NVRAMSIZE] [varchar](15) NOT NULL,
	[FLASHSIZE] [varchar](15) NOT NULL,
	[CPLDVERSION] [varchar](50) NOT NULL,
	[HARDWAREVERSION] [varchar](50) NOT NULL,
 CONSTRAINT [HuaweiARRouter_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1480400722]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1480400722] ON [dbo].[HuaweiARRouter]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HuaweiARRouter] ADD  DEFAULT ('Not Available') FOR [CPU]
GO
ALTER TABLE [dbo].[HuaweiARRouter] ADD  DEFAULT ('Not Available') FOR [BOOTROMVERSION]
GO
ALTER TABLE [dbo].[HuaweiARRouter] ADD  DEFAULT ('Not Available') FOR [SDRAMSIZE]
GO
ALTER TABLE [dbo].[HuaweiARRouter] ADD  DEFAULT ('Not Available') FOR [NVRAMSIZE]
GO
ALTER TABLE [dbo].[HuaweiARRouter] ADD  DEFAULT ('Not Available') FOR [FLASHSIZE]
GO
ALTER TABLE [dbo].[HuaweiARRouter] ADD  DEFAULT ('Not Available') FOR [CPLDVERSION]
GO
ALTER TABLE [dbo].[HuaweiARRouter] ADD  DEFAULT ('Not Available') FOR [HARDWAREVERSION]
GO
ALTER TABLE [dbo].[HuaweiARRouter]  WITH CHECK ADD  CONSTRAINT [HuaweiARRouter_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[HuaweiARRouter] CHECK CONSTRAINT [HuaweiARRouter_FK1]
GO
