USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic100LibraryTapeDrive]    Script Date: 6/29/2019 5:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic100LibraryTapeDrive](
	[DEVICE_ID] [bigint] NOT NULL,
	[DRIVE_CLEAN] [varchar](250) NOT NULL,
	[DRIVE_LOADS] [varchar](250) NOT NULL,
	[SCSI_ID] [varchar](250) NOT NULL,
	[SCSI_LUN] [varchar](250) NOT NULL,
	[WWN] [varchar](250) NOT NULL,
 CONSTRAINT [ADIC100LIBRARYTAPEDRIVE_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__405077394]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__405077394] ON [dbo].[Adic100LibraryTapeDrive]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic100LibraryTapeDrive]  WITH CHECK ADD  CONSTRAINT [ADIC100LIBRARYTAPEDRIVE_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic100LibraryTapeDrive] CHECK CONSTRAINT [ADIC100LIBRARYTAPEDRIVE_FK1]
GO
