USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SgaDetails]    Script Date: 6/29/2019 5:51:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SgaDetails](
	[RESOURCENAME] [varchar](100) NOT NULL,
	[COMPONENTNAME] [varchar](50) NOT NULL,
	[BUFFERCACHESIZE] [int] NULL,
	[SHAREDPOOLSIZE] [int] NULL,
	[REDOLOGBUFFERSIZE] [int] NULL,
	[LIBRARYCACHESIZE] [int] NULL,
	[DATADICTCACHESIZE] [int] NULL,
	[SQLAREASIZE] [int] NULL,
	[FIXEDSIZE] [int] NULL,
	[COLLECTIONTIME] [bigint] NULL
) ON [PRIMARY]
GO
