USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEPORTTYPE]    Script Date: 6/29/2019 5:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEPORTTYPE](
	[ID] [bigint] NOT NULL,
	[PORTTYPE] [varchar](250) NOT NULL,
 CONSTRAINT [STORAGEPORTTYPE_PK] PRIMARY KEY CLUSTERED 
(
	[PORTTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEPORTTYPE_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
