USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TransientIPSettings]    Script Date: 6/29/2019 5:52:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransientIPSettings](
	[ID] [bigint] NOT NULL,
	[CHECKCOUNT] [int] NOT NULL,
	[NO_OF_DAYS] [int] NOT NULL,
 CONSTRAINT [TransientIPSettings_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_18760848]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_18760848] ON [dbo].[TransientIPSettings]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TransientIPSettings] ADD  DEFAULT ('1') FOR [CHECKCOUNT]
GO
ALTER TABLE [dbo].[TransientIPSettings]  WITH CHECK ADD  CONSTRAINT [TransientIPSettings_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[Settings] ([ID])
GO
ALTER TABLE [dbo].[TransientIPSettings] CHECK CONSTRAINT [TransientIPSettings_FK]
GO
