USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Tasks_To_Exceptions]    Script Date: 6/29/2019 5:52:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks_To_Exceptions](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[EXPN_MSG_TEMPLATE_ID] [bigint] NOT NULL,
	[USE_TASK_DATA] [bit] NOT NULL,
 CONSTRAINT [Tasks_To_Exceptions_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2129997052]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2129997052] ON [dbo].[Tasks_To_Exceptions]
(
	[EXPN_MSG_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_901121741]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_901121741] ON [dbo].[Tasks_To_Exceptions]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tasks_To_Exceptions]  WITH CHECK ADD  CONSTRAINT [Tasks_To_Exceptions_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Task_Templates] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Tasks_To_Exceptions] CHECK CONSTRAINT [Tasks_To_Exceptions_FK]
GO
ALTER TABLE [dbo].[Tasks_To_Exceptions]  WITH CHECK ADD  CONSTRAINT [Tasks_To_Exceptions_FK1] FOREIGN KEY([EXPN_MSG_TEMPLATE_ID])
REFERENCES [dbo].[Message_Templates] ([MESSAGE_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Tasks_To_Exceptions] CHECK CONSTRAINT [Tasks_To_Exceptions_FK1]
GO
