USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NbaRule]    Script Date: 6/29/2019 5:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NbaRule](
	[RID] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[CTGY] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[DESP] [varchar](500) NULL,
 CONSTRAINT [Rule_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NbaRule_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1081656120]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1081656120] ON [dbo].[NbaRule]
(
	[CTGY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NbaRule] ADD  DEFAULT ('1') FOR [STATUS]
GO
ALTER TABLE [dbo].[NbaRule]  WITH CHECK ADD  CONSTRAINT [Rule_FK] FOREIGN KEY([CTGY])
REFERENCES [dbo].[DataCtgy] ([DCID])
GO
ALTER TABLE [dbo].[NbaRule] CHECK CONSTRAINT [Rule_FK]
GO
