USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetFlow_Router]    Script Date: 6/29/2019 5:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetFlow_Router](
	[ROUTER_ID] [int] NOT NULL,
	[ROUTER_IP] [varchar](255) NOT NULL,
	[ROUTER_DISPLAYNAME] [varchar](100) NOT NULL,
	[ROUTER_DISABLED] [int] NOT NULL,
	[SNMP_SUPPORTED] [int] NOT NULL,
	[FLOW_TYPE] [int] NOT NULL,
	[NBAR_SUPPORTED] [int] NOT NULL,
	[DEFAULT_DESCRIPTION] [varchar](25) NOT NULL,
	[QOS_STATUS] [int] NOT NULL,
	[IPSLAMONITOR] [varchar](100) NOT NULL,
	[AVC_STATUS] [int] NOT NULL,
	[DATASPACE] [varchar](32) NULL,
	[RAW_DISABLED] [int] NOT NULL,
	[WLC_STATUS] [int] NOT NULL,
	[SNMP_COUNTER] [int] NOT NULL,
 CONSTRAINT [NetFlow_Router_PK] PRIMARY KEY CLUSTERED 
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NetFlow_Router_UK0] UNIQUE NONCLUSTERED 
(
	[ROUTER_IP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetFlow_Router] ADD  DEFAULT ('0') FOR [ROUTER_DISABLED]
GO
ALTER TABLE [dbo].[NetFlow_Router] ADD  DEFAULT ('1') FOR [SNMP_SUPPORTED]
GO
ALTER TABLE [dbo].[NetFlow_Router] ADD  DEFAULT ('0') FOR [FLOW_TYPE]
GO
ALTER TABLE [dbo].[NetFlow_Router] ADD  DEFAULT ('2') FOR [NBAR_SUPPORTED]
GO
ALTER TABLE [dbo].[NetFlow_Router] ADD  DEFAULT ('IfDesc') FOR [DEFAULT_DESCRIPTION]
GO
ALTER TABLE [dbo].[NetFlow_Router] ADD  DEFAULT ('2') FOR [QOS_STATUS]
GO
ALTER TABLE [dbo].[NetFlow_Router] ADD  DEFAULT ('false') FOR [IPSLAMONITOR]
GO
ALTER TABLE [dbo].[NetFlow_Router] ADD  DEFAULT ('0') FOR [AVC_STATUS]
GO
ALTER TABLE [dbo].[NetFlow_Router] ADD  DEFAULT ('0') FOR [RAW_DISABLED]
GO
ALTER TABLE [dbo].[NetFlow_Router] ADD  DEFAULT ('0') FOR [WLC_STATUS]
GO
ALTER TABLE [dbo].[NetFlow_Router] ADD  DEFAULT ('32') FOR [SNMP_COUNTER]
GO
