USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MsgContentUserStatus]    Script Date: 6/29/2019 5:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsgContentUserStatus](
	[MSG_CONTENT_ID] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[PAGE_ID] [int] NOT NULL,
	[MSG_STATUS] [bit] NOT NULL,
	[MSG_DISPLAY_COUNT] [int] NOT NULL,
 CONSTRAINT [MsgContentUserStatus_PK] PRIMARY KEY CLUSTERED 
(
	[MSG_CONTENT_ID] ASC,
	[USER_ID] ASC,
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__465765276]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__465765276] ON [dbo].[MsgContentUserStatus]
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__465765277]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__465765277] ON [dbo].[MsgContentUserStatus]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__465765278]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__465765278] ON [dbo].[MsgContentUserStatus]
(
	[MSG_CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MsgContentUserStatus] ADD  DEFAULT ((1)) FOR [MSG_STATUS]
GO
ALTER TABLE [dbo].[MsgContentUserStatus] ADD  DEFAULT ('0') FOR [MSG_DISPLAY_COUNT]
GO
ALTER TABLE [dbo].[MsgContentUserStatus]  WITH CHECK ADD  CONSTRAINT [MsgContentUserStatus_FK1] FOREIGN KEY([MSG_CONTENT_ID])
REFERENCES [dbo].[MsgContent] ([MSG_CONTENT_ID])
GO
ALTER TABLE [dbo].[MsgContentUserStatus] CHECK CONSTRAINT [MsgContentUserStatus_FK1]
GO
ALTER TABLE [dbo].[MsgContentUserStatus]  WITH CHECK ADD  CONSTRAINT [MsgContentUserStatus_FK2] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[MsgContentUserStatus] CHECK CONSTRAINT [MsgContentUserStatus_FK2]
GO
ALTER TABLE [dbo].[MsgContentUserStatus]  WITH CHECK ADD  CONSTRAINT [MsgContentUserStatus_FK3] FOREIGN KEY([PAGE_ID])
REFERENCES [dbo].[UIPages] ([PAGE_ID])
GO
ALTER TABLE [dbo].[MsgContentUserStatus] CHECK CONSTRAINT [MsgContentUserStatus_FK3]
GO
