USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[USERWEBCLIENTSTATEPROPS]    Script Date: 6/29/2019 5:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERWEBCLIENTSTATEPROPS](
	[USERID] [bigint] NOT NULL,
	[SELECTEDSKIN] [varchar](100) NOT NULL,
	[REFRESHINTERVAL] [bigint] NOT NULL,
	[SESSIONTIMEOUT] [bigint] NOT NULL,
	[SHOWSERVERTEXT] [varchar](10) NOT NULL,
	[LANGUAGE] [varchar](10) NULL,
	[MENUALIGNMENT] [varchar](10) NULL,
	[MENUICONVIEW] [varchar](20) NULL,
 CONSTRAINT [USERWEBCLIENTSTATEPROPS_PK1] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USERWEBCLIENTSTATEPROPS] ADD  DEFAULT ('vertical') FOR [MENUALIGNMENT]
GO
ALTER TABLE [dbo].[USERWEBCLIENTSTATEPROPS] ADD  DEFAULT ('iconWithLabel') FOR [MENUICONVIEW]
GO
