USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FAFlowRate]    Script Date: 6/29/2019 5:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAFlowRate](
	[ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[INCOMINGRATE] [int] NOT NULL,
	[PROCESSEDRATE] [int] NOT NULL,
 CONSTRAINT [FAFlowRate_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
