USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FILECONTAINSASSOCIATION]    Script Date: 6/29/2019 5:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILECONTAINSASSOCIATION](
	[FILEASSOCIATIONID] [bigint] NOT NULL,
	[COMMONPOLLID] [bigint] NOT NULL,
 CONSTRAINT [FILECONTAINSASSOCIATION_PK] PRIMARY KEY CLUSTERED 
(
	[COMMONPOLLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2069798770]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2069798770] ON [dbo].[FILECONTAINSASSOCIATION]
(
	[COMMONPOLLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__592775629]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__592775629] ON [dbo].[FILECONTAINSASSOCIATION]
(
	[FILEASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FILECONTAINSASSOCIATION]  WITH CHECK ADD  CONSTRAINT [FILEASSOCIATIONID_FK2] FOREIGN KEY([COMMONPOLLID])
REFERENCES [dbo].[COMMONPOLLEDDATAID] ([COMMONPOLLID])
GO
ALTER TABLE [dbo].[FILECONTAINSASSOCIATION] CHECK CONSTRAINT [FILEASSOCIATIONID_FK2]
GO
ALTER TABLE [dbo].[FILECONTAINSASSOCIATION]  WITH CHECK ADD  CONSTRAINT [FILECONTAINSASSOCIATION_FK1] FOREIGN KEY([FILEASSOCIATIONID])
REFERENCES [dbo].[FILECONTAINSVALUES] ([FILECONTAINSID])
GO
ALTER TABLE [dbo].[FILECONTAINSASSOCIATION] CHECK CONSTRAINT [FILECONTAINSASSOCIATION_FK1]
GO
