USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaAccPassword]    Script Date: 6/29/2019 5:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaAccPassword](
	[ACCOUNT_ID] [bigint] NOT NULL,
	[PASSWORD_ID] [bigint] NOT NULL,
 CONSTRAINT [AaaAccPassword_PK] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2089838295]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2089838295] ON [dbo].[AaaAccPassword]
(
	[PASSWORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2089838296]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2089838296] ON [dbo].[AaaAccPassword]
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaAccPassword]  WITH CHECK ADD  CONSTRAINT [AaaAccPassword_FK1] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[AaaAccount] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[AaaAccPassword] CHECK CONSTRAINT [AaaAccPassword_FK1]
GO
ALTER TABLE [dbo].[AaaAccPassword]  WITH CHECK ADD  CONSTRAINT [AaaAccPassword_FK2] FOREIGN KEY([PASSWORD_ID])
REFERENCES [dbo].[AaaPassword] ([PASSWORD_ID])
GO
ALTER TABLE [dbo].[AaaAccPassword] CHECK CONSTRAINT [AaaAccPassword_FK2]
GO
