USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPMSA2312DiskDrive]    Script Date: 6/29/2019 5:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPMSA2312DiskDrive](
	[RAID_ID] [bigint] NOT NULL,
	[DRIVE_ID] [varchar](250) NOT NULL,
	[DISK_MANUFACTURER] [varchar](250) NOT NULL,
	[DISK_SERIAL_NO] [varchar](250) NOT NULL,
	[DISK_TYPE] [varchar](250) NOT NULL,
	[DISK_FREECAPACITY] [varchar](250) NOT NULL,
	[DISK_USEDCAPACITY] [varchar](250) NOT NULL,
 CONSTRAINT [HPMSA2312DiskDrive_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[DRIVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1342285627]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1342285627] ON [dbo].[HPMSA2312DiskDrive]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPMSA2312DiskDrive]  WITH CHECK ADD  CONSTRAINT [HPMSA2312DiskDrive_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPMSA2312DiskDrive] CHECK CONSTRAINT [HPMSA2312DiskDrive_FK1]
GO
