USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Alert_Properties]    Script Date: 6/29/2019 5:45:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alert_Properties](
	[PROP_ID] [int] NOT NULL,
	[REPORT_DAYS] [int] NOT NULL,
	[BUSINESS_ALERT] [int] NOT NULL,
	[START_TIME] [int] NOT NULL,
	[END_TIME] [int] NOT NULL,
 CONSTRAINT [Alert_Properties_PK] PRIMARY KEY CLUSTERED 
(
	[PROP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
