USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DeviceAppInterface]    Script Date: 6/29/2019 5:47:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceAppInterface](
	[DEVICE_ID] [bigint] NOT NULL,
	[APP_ID] [varchar](50) NOT NULL,
	[APP_URL] [varchar](500) NOT NULL,
	[APP_INFO] [varchar](500) NOT NULL,
 CONSTRAINT [DEVICEAPPINTERFACE_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[APP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1893221925]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1893221925] ON [dbo].[DeviceAppInterface]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceAppInterface]  WITH CHECK ADD  CONSTRAINT [DEVICEAPPINTERFACE_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[DeviceAppInterface] CHECK CONSTRAINT [DEVICEAPPINTERFACE_FK1]
GO
