USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnapshotTab]    Script Date: 6/29/2019 5:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnapshotTab](
	[TABID] [bigint] NOT NULL,
	[SNAPSHOTID] [bigint] NOT NULL,
	[TABORDER] [int] NOT NULL,
	[TABNAME] [varchar](100) NOT NULL,
 CONSTRAINT [SnapshotTab_PK] PRIMARY KEY CLUSTERED 
(
	[TABID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1874289118]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1874289118] ON [dbo].[SnapshotTab]
(
	[SNAPSHOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnapshotTab]  WITH CHECK ADD  CONSTRAINT [SnapshotTab_FK1] FOREIGN KEY([SNAPSHOTID])
REFERENCES [dbo].[Snapshot] ([SNAPSHOTID])
GO
ALTER TABLE [dbo].[SnapshotTab] CHECK CONSTRAINT [SnapshotTab_FK1]
GO
