USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Device_Config]    Script Date: 6/29/2019 5:47:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device_Config](
	[CONFIG_ID] [bigint] NOT NULL,
	[DEVICE_IP] [varchar](255) NOT NULL,
	[DEVICE_DISPLAYNAME] [varchar](100) NOT NULL,
	[CONFIG_NAME] [varchar](50) NOT NULL,
	[CONFIG_SUMMARY] [varchar](1000) NULL,
	[CONFIG_TYPE] [int] NOT NULL,
 CONSTRAINT [Device_Config_PK] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
