USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMLabel]    Script Date: 6/29/2019 5:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMLabel](
	[LABEL_ID] [int] NOT NULL,
	[LABEL_NAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
 CONSTRAINT [NCMLabel_PK] PRIMARY KEY CLUSTERED 
(
	[LABEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMLabel_UK0] UNIQUE NONCLUSTERED 
(
	[LABEL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMLabel] ADD  DEFAULT ('Not Available') FOR [DESCRIPTION]
GO
