USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMConfigAutomation]    Script Date: 6/29/2019 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMConfigAutomation](
	[SCHEDULE_ID] [bigint] NOT NULL,
	[LOGIN_ID] [bigint] NOT NULL,
	[ANNOTATION] [varchar](250) NOT NULL,
	[EXECUTION_STATUS] [varchar](25) NOT NULL,
 CONSTRAINT [NCMConfigAutomation_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__855901665]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__855901665] ON [dbo].[NCMConfigAutomation]
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__855901666]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__855901666] ON [dbo].[NCMConfigAutomation]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMConfigAutomation] ADD  DEFAULT ('No Comment Available') FOR [ANNOTATION]
GO
ALTER TABLE [dbo].[NCMConfigAutomation]  WITH CHECK ADD  CONSTRAINT [NCMConfigAutomation_FK1] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[Schedule] ([SCHEDULE_ID])
GO
ALTER TABLE [dbo].[NCMConfigAutomation] CHECK CONSTRAINT [NCMConfigAutomation_FK1]
GO
ALTER TABLE [dbo].[NCMConfigAutomation]  WITH CHECK ADD  CONSTRAINT [NCMConfigAutomation_FK2] FOREIGN KEY([LOGIN_ID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[NCMConfigAutomation] CHECK CONSTRAINT [NCMConfigAutomation_FK2]
GO
