USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MANAGEDOBJECTID]    Script Date: 6/29/2019 5:48:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANAGEDOBJECTID](
	[MOID] [bigint] NOT NULL,
 CONSTRAINT [MANAGEDOBJECTID_PK1] PRIMARY KEY CLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
