USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GrpIPNetwork]    Script Date: 6/29/2019 5:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrpIPNetwork](
	[ID_NET] [int] NOT NULL,
	[IP_GROUP_ID] [int] NOT NULL,
	[NETWORK_ADDR_ID] [bigint] NOT NULL,
	[NETMASK_ADDR_ID] [bigint] NOT NULL,
	[EXCL] [int] NOT NULL,
 CONSTRAINT [ID_NET_PK] PRIMARY KEY CLUSTERED 
(
	[ID_NET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__312363454]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__312363454] ON [dbo].[GrpIPNetwork]
(
	[IP_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GrpIPNetwork]  WITH CHECK ADD  CONSTRAINT [GrpIPNetwork_FK] FOREIGN KEY([IP_GROUP_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[GrpIPNetwork] CHECK CONSTRAINT [GrpIPNetwork_FK]
GO
