USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorEdgeDSPStorageVolume]    Script Date: 6/29/2019 5:52:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorEdgeDSPStorageVolume](
	[DEVICE_ID] [bigint] NOT NULL,
	[DOMAIN_SYS_NAME] [varchar](250) NULL,
	[VOLUME_ID] [varchar](250) NOT NULL,
	[VOLUME_NAME] [varchar](250) NULL,
	[ELEMENTNAME] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[TOTAL_SIZE] [varchar](250) NULL,
	[CONSUMABLE_SIZE] [varchar](250) NULL,
	[OPER_STATUS] [varchar](250) NULL,
	[EXT_STATUS] [varchar](250) NULL,
	[DOMAIN_ELT_NAME] [varchar](250) NULL,
	[VOLUME_CONDN] [varchar](250) NULL,
	[VOLUME_STATE] [varchar](250) NULL,
	[VOLUME_TYPE] [varchar](250) NULL,
 CONSTRAINT [StorEdgeDSPStorageVolume_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[VOLUME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1833322462]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1833322462] ON [dbo].[StorEdgeDSPStorageVolume]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorEdgeDSPStorageVolume]  WITH CHECK ADD  CONSTRAINT [StorEdgeDSPStorageVolume_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[StorEdgeDSPStorageVolume] CHECK CONSTRAINT [StorEdgeDSPStorageVolume_FK1]
GO
