USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GrpIPBetweenSites]    Script Date: 6/29/2019 5:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrpIPBetweenSites](
	[ID] [int] NOT NULL,
	[IP_GROUP_ID] [int] NOT NULL,
	[SRC_START_ADDR_ID] [bigint] NOT NULL,
	[SRC_END_ADDR_ID] [bigint] NOT NULL,
	[DEST_START_ADDR_ID] [bigint] NOT NULL,
	[DEST_END_ADDR_ID] [bigint] NOT NULL,
	[SRC_NETMASK_ADDR_ID] [bigint] NOT NULL,
	[DEST_NETMASK_ADDR_ID] [bigint] NOT NULL,
	[EXCL] [int] NOT NULL,
 CONSTRAINT [GrpIPBetweenSites_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1080174004]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1080174004] ON [dbo].[GrpIPBetweenSites]
(
	[IP_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GrpIPBetweenSites]  WITH CHECK ADD  CONSTRAINT [GrpIPBetweenSites_FK] FOREIGN KEY([IP_GROUP_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[GrpIPBetweenSites] CHECK CONSTRAINT [GrpIPBetweenSites_FK]
GO
