USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BackupDetails]    Script Date: 6/29/2019 5:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BackupDetails](
	[BACKUP_ID] [bigint] NOT NULL,
	[BACKUP_TYPE] [int] NOT NULL,
	[BACKUP_STARTTIME] [bigint] NOT NULL,
	[BACKUP_ENDTIME] [bigint] NOT NULL,
	[BACKUP_STATUS] [int] NOT NULL,
	[BACKUP_ZIPNAME] [varchar](255) NULL,
	[BACKUP_ZIP_CLEANED] [bit] NOT NULL,
	[LAST_DATAFILE_NAME] [varchar](255) NULL,
	[LAST_DATAFILE_MODIFIEDTIME] [bigint] NOT NULL,
	[DATAFILE_COUNT] [int] NULL,
	[FIRST_BACKUP_AFTER_PPM] [bit] NOT NULL,
	[DATABASE_SIZE] [bigint] NOT NULL,
	[BACKUP_ZIPSIZE] [bigint] NOT NULL,
 CONSTRAINT [BackupDetails_PK] PRIMARY KEY CLUSTERED 
(
	[BACKUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BackupDetails] ADD  DEFAULT ('2') FOR [BACKUP_TYPE]
GO
ALTER TABLE [dbo].[BackupDetails] ADD  DEFAULT ('-1') FOR [BACKUP_STARTTIME]
GO
ALTER TABLE [dbo].[BackupDetails] ADD  DEFAULT ('-1') FOR [BACKUP_ENDTIME]
GO
ALTER TABLE [dbo].[BackupDetails] ADD  DEFAULT ('1') FOR [BACKUP_STATUS]
GO
ALTER TABLE [dbo].[BackupDetails] ADD  DEFAULT ((0)) FOR [BACKUP_ZIP_CLEANED]
GO
ALTER TABLE [dbo].[BackupDetails] ADD  DEFAULT ('-1') FOR [LAST_DATAFILE_MODIFIEDTIME]
GO
ALTER TABLE [dbo].[BackupDetails] ADD  DEFAULT ((0)) FOR [FIRST_BACKUP_AFTER_PPM]
GO
ALTER TABLE [dbo].[BackupDetails] ADD  DEFAULT ('-1') FOR [DATABASE_SIZE]
GO
ALTER TABLE [dbo].[BackupDetails] ADD  DEFAULT ('-1') FOR [BACKUP_ZIPSIZE]
GO
