USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARDC3Cage]    Script Date: 6/29/2019 5:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARDC3Cage](
	[RAID_ID] [bigint] NOT NULL,
	[CAGE_ID] [varchar](150) NOT NULL,
	[TEMP_SENSOR_STATE] [varchar](250) NOT NULL,
	[TEMP_SENSOR_VALUE] [varchar](250) NOT NULL,
	[OPERATOR_PANEL_STATE] [varchar](250) NOT NULL,
	[AUDIBLE_ALARM_STATE] [varchar](250) NOT NULL,
	[ENCLOSURE_ID] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARDC3Cage_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[CAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1711376150]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1711376150] ON [dbo].[HP3PARDC3Cage]
(
	[RAID_ID] ASC,
	[CAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARDC3Cage]  WITH CHECK ADD  CONSTRAINT [HP3PARDC3Cage_FK] FOREIGN KEY([RAID_ID], [CAGE_ID])
REFERENCES [dbo].[HP3PARCage] ([RAID_ID], [CAGE_ID])
GO
ALTER TABLE [dbo].[HP3PARDC3Cage] CHECK CONSTRAINT [HP3PARDC3Cage_FK]
GO
