USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VPN_Mo_Trend]    Script Date: 6/29/2019 5:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VPN_Mo_Trend](
	[MONTH] [nvarchar](6) NOT NULL,
	[RID] [bigint] NOT NULL,
	[SRC_ID] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[SRC] [nvarchar](50) NULL,
	[USER] [nvarchar](90) NULL,
	[VPN_NAME] [nvarchar](96) NOT NULL,
	[EVENT_COUNT] [int] NULL,
	[BYTES_INBOUND] [bigint] NULL,
	[BYTES_OUTBOUND] [bigint] NULL,
	[PACKETS_INBOUND] [bigint] NULL,
	[PACKETS_OUTBOUND] [bigint] NULL,
	[TRAN_IP] [nvarchar](96) NOT NULL,
	[SRC_INT] [nvarchar](20) NOT NULL,
 CONSTRAINT [VPN_Mo_Trend_PK] PRIMARY KEY CLUSTERED 
(
	[MONTH] ASC,
	[RID] ASC,
	[SRC_ID] ASC,
	[USER_ID] ASC,
	[VPN_NAME] ASC,
	[TRAN_IP] ASC,
	[SRC_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1066408345]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1066408345] ON [dbo].[VPN_Mo_Trend]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VPN_Mo_Trend] ADD  DEFAULT ('0') FOR [BYTES_INBOUND]
GO
ALTER TABLE [dbo].[VPN_Mo_Trend] ADD  DEFAULT ('0') FOR [BYTES_OUTBOUND]
GO
ALTER TABLE [dbo].[VPN_Mo_Trend] ADD  DEFAULT ('0') FOR [PACKETS_INBOUND]
GO
ALTER TABLE [dbo].[VPN_Mo_Trend] ADD  DEFAULT ('0') FOR [PACKETS_OUTBOUND]
GO
ALTER TABLE [dbo].[VPN_Mo_Trend]  WITH CHECK ADD  CONSTRAINT [VPN_Mo_Trend_FK2] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[VPN_Mo_Trend] CHECK CONSTRAINT [VPN_Mo_Trend_FK2]
GO
