USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SPMAlerts]    Script Date: 6/29/2019 5:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPMAlerts](
	[ALERTID] [bigint] NOT NULL,
	[SWITCHCONFIGID] [bigint] NOT NULL,
	[IFINDEX] [int] NULL,
	[CONDITION] [varchar](1500) NOT NULL,
	[LASTUPDATETIME] [datetime] NOT NULL,
	[SEVERITY] [int] NOT NULL,
	[DESCRIPTION_I18NKEY] [varchar](200) NULL,
	[DESCRIPTION_I18NARGS] [varchar](1500) NULL,
 CONSTRAINT [SPMAlerts_PK] PRIMARY KEY CLUSTERED 
(
	[ALERTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1864181780]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1864181780] ON [dbo].[SPMAlerts]
(
	[SWITCHCONFIGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SPMAlerts] ADD  DEFAULT ('1') FOR [SEVERITY]
GO
ALTER TABLE [dbo].[SPMAlerts]  WITH CHECK ADD  CONSTRAINT [SPMAlerts_FK1] FOREIGN KEY([SWITCHCONFIGID])
REFERENCES [dbo].[SPMInputConfig] ([CONFIG_ID])
GO
ALTER TABLE [dbo].[SPMAlerts] CHECK CONSTRAINT [SPMAlerts_FK1]
GO
