USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduleLogicalGroups]    Script Date: 6/29/2019 5:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleLogicalGroups](
	[SCHEDULEID] [bigint] NOT NULL,
	[LOGICALGROUPID] [bigint] NULL,
 CONSTRAINT [ScheduleLogicalGroups_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__385319404]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__385319404] ON [dbo].[ScheduleLogicalGroups]
(
	[LOGICALGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__385319405]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__385319405] ON [dbo].[ScheduleLogicalGroups]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleLogicalGroups]  WITH CHECK ADD  CONSTRAINT [ScheduleLogicalGroups_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleReports] ([SCHEDULEID])
GO
ALTER TABLE [dbo].[ScheduleLogicalGroups] CHECK CONSTRAINT [ScheduleLogicalGroups_FK1]
GO
ALTER TABLE [dbo].[ScheduleLogicalGroups]  WITH CHECK ADD  CONSTRAINT [ScheduleLogicalGroups_FK2] FOREIGN KEY([LOGICALGROUPID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[ScheduleLogicalGroups] CHECK CONSTRAINT [ScheduleLogicalGroups_FK2]
GO
