USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ADGRAPHS]    Script Date: 6/29/2019 5:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADGRAPHS](
	[MONITORID] [bigint] NOT NULL,
	[GRAPHID] [bigint] NOT NULL,
 CONSTRAINT [ADGRAPHS_PK1] PRIMARY KEY CLUSTERED 
(
	[MONITORID] ASC,
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_652089877]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_652089877] ON [dbo].[ADGRAPHS]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_652089878]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_652089878] ON [dbo].[ADGRAPHS]
(
	[MONITORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADGRAPHS]  WITH CHECK ADD  CONSTRAINT [ADGRAPHS_FK1] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[ADGRAPHS] CHECK CONSTRAINT [ADGRAPHS_FK1]
GO
ALTER TABLE [dbo].[ADGRAPHS]  WITH CHECK ADD  CONSTRAINT [ADGRAPHS_FK2] FOREIGN KEY([MONITORID])
REFERENCES [dbo].[MONITORDETAILS] ([MONITORID])
GO
ALTER TABLE [dbo].[ADGRAPHS] CHECK CONSTRAINT [ADGRAPHS_FK2]
GO
