USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OpUser]    Script Date: 6/29/2019 5:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpUser](
	[NAME] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](200) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[EMAIL] [varchar](200) NULL,
	[PHON_NUMBER] [bigint] NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[ROLE] [int] NOT NULL,
 CONSTRAINT [OpUser_PK] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OpUser] ADD  DEFAULT ('1') FOR [ROLE]
GO
