USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPMScheduleDetails]    Script Date: 6/29/2019 5:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPMScheduleDetails](
	[PROBEGROUP_ID] [bigint] NOT NULL,
	[SCHEDULE_ID] [int] NOT NULL,
 CONSTRAINT [OPMScheduleDetails_PK] PRIMARY KEY CLUSTERED 
(
	[PROBEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1734181499]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1734181499] ON [dbo].[OPMScheduleDetails]
(
	[PROBEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2074948428]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2074948428] ON [dbo].[OPMScheduleDetails]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPMScheduleDetails]  WITH CHECK ADD  CONSTRAINT [OPMScheduleDetails_FK] FOREIGN KEY([PROBEGROUP_ID])
REFERENCES [dbo].[Collector] ([PROBEGROUP_ID])
GO
ALTER TABLE [dbo].[OPMScheduleDetails] CHECK CONSTRAINT [OPMScheduleDetails_FK]
GO
ALTER TABLE [dbo].[OPMScheduleDetails]  WITH CHECK ADD  CONSTRAINT [OPMScheduleDetails_FK1] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[ScheduleType] ([SCHEDULE_ID])
GO
ALTER TABLE [dbo].[OPMScheduleDetails] CHECK CONSTRAINT [OPMScheduleDetails_FK1]
GO
