USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNXAttachedStorage]    Script Date: 6/29/2019 5:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNXAttachedStorage](
	[RAID_ID] [bigint] NOT NULL,
	[STORAGE_ID] [varchar](250) NOT NULL,
	[ARRAY_NAME] [varchar](250) NOT NULL,
	[STORAGE_TYPE] [varchar](250) NOT NULL,
	[MODEL_TYPE] [varchar](250) NOT NULL,
	[MODEL_NUMBER] [varchar](250) NOT NULL,
	[NUM_OF_DISKS] [varchar](250) NOT NULL,
	[NUM_OF_STORAGE_GROUPS] [varchar](250) NOT NULL,
	[NUM_OF_RAID_GROUPS] [varchar](250) NOT NULL,
	[HIGH_WATERMARK] [varchar](250) NOT NULL,
	[LOW_WATERMARK] [varchar](250) NOT NULL,
	[OPERATING_ENVIRONMENT] [varchar](250) NOT NULL,
 CONSTRAINT [VNXAttachedStorage_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[STORAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1363776141]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1363776141] ON [dbo].[VNXAttachedStorage]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNXAttachedStorage]  WITH CHECK ADD  CONSTRAINT [VNXAttachedStorage_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXAttachedStorage] CHECK CONSTRAINT [VNXAttachedStorage_FK]
GO
