USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IPFIXSpywares]    Script Date: 6/29/2019 5:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPFIXSpywares](
	[SPY_SIG_ID] [bigint] NOT NULL,
	[SPY_NAME] [nvarchar](100) NULL,
	[ENT_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SPY_SIG_ID] ASC,
	[ENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IPFIXSpywares] ADD  DEFAULT (NULL) FOR [SPY_NAME]
GO
ALTER TABLE [dbo].[IPFIXSpywares] ADD  DEFAULT ('0') FOR [ENT_ID]
GO
