USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SchTemplateVariables]    Script Date: 6/29/2019 5:51:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchTemplateVariables](
	[INSTANCE_ID] [bigint] NOT NULL,
	[CONFKEY] [varchar](100) NOT NULL,
	[CONFVALUE] [varchar](200) NOT NULL,
 CONSTRAINT [SchTemplateVariables_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC,
	[CONFKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__156313134]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__156313134] ON [dbo].[SchTemplateVariables]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SchTemplateVariables]  WITH CHECK ADD  CONSTRAINT [SchTemplateVariables_FK1] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[NCMScheduleTemplate] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[SchTemplateVariables] CHECK CONSTRAINT [SchTemplateVariables_FK1]
GO
