USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Router_NBAR_Protocols]    Script Date: 6/29/2019 5:51:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Router_NBAR_Protocols](
	[PROTOCOL_ID] [int] NOT NULL,
	[ROUTER_ID] [int] NOT NULL,
	[PROTOCOL_INDEX] [int] NOT NULL,
	[PROTOCOL_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [NBAR_Protocols_PK] PRIMARY KEY CLUSTERED 
(
	[PROTOCOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2066701283]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2066701283] ON [dbo].[Router_NBAR_Protocols]
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Router_NBAR_Protocols]  WITH CHECK ADD  CONSTRAINT [NBAR_Protocols_FK] FOREIGN KEY([ROUTER_ID])
REFERENCES [dbo].[NetFlow_Router] ([ROUTER_ID])
GO
ALTER TABLE [dbo].[Router_NBAR_Protocols] CHECK CONSTRAINT [NBAR_Protocols_FK]
GO
