USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Custom_Bool_Expr]    Script Date: 6/29/2019 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Custom_Bool_Expr](
	[BOOLEAN_EXPRESSION_ID] [bigint] NOT NULL,
	[CLASS_NAME] [varchar](250) NOT NULL,
 CONSTRAINT [Custom_Bool_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1664835657]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1664835657] ON [dbo].[Custom_Bool_Expr]
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Custom_Bool_Expr]  WITH CHECK ADD  CONSTRAINT [Custom_Bool_Expr_FK1] FOREIGN KEY([BOOLEAN_EXPRESSION_ID])
REFERENCES [dbo].[Boolean_Expressions] ([BOOLEAN_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Custom_Bool_Expr] CHECK CONSTRAINT [Custom_Bool_Expr_FK1]
GO
