USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpV3Settings]    Script Date: 6/29/2019 5:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpV3Settings](
	[CONFIG_ID] [bigint] NOT NULL,
	[SECURITY_LEVEL] [int] NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[CONTEXT_NAME] [varchar](50) NULL,
	[AUTH_PROTOCOL] [varchar](3) NULL,
	[AUTH_PASSWORD] [varchar](100) NULL,
	[PRI_PROTOCOL] [varchar](7) NULL,
	[PRI_PASSWORD] [varchar](100) NULL,
 CONSTRAINT [SnmpV3Settings_PK] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_734766822]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_734766822] ON [dbo].[SnmpV3Settings]
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnmpV3Settings] ADD  DEFAULT ('0') FOR [SECURITY_LEVEL]
GO
ALTER TABLE [dbo].[SnmpV3Settings]  WITH CHECK ADD  CONSTRAINT [SnmpV3Settings_FK] FOREIGN KEY([CONFIG_ID])
REFERENCES [dbo].[SPMInputConfig] ([CONFIG_ID])
GO
ALTER TABLE [dbo].[SnmpV3Settings] CHECK CONSTRAINT [SnmpV3Settings_FK]
GO
