USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMBackupStateHolder]    Script Date: 6/29/2019 5:49:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMBackupStateHolder](
	[RESOURCEID] [bigint] NOT NULL,
	[BACKUP_STATUS] [varchar](15) NOT NULL,
	[TIMESTAMP] [datetime] NULL,
 CONSTRAINT [NCMBackupStateHolder_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_802165232]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_802165232] ON [dbo].[NCMBackupStateHolder]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMBackupStateHolder] ADD  DEFAULT ('NOTSTARTED') FOR [BACKUP_STATUS]
GO
ALTER TABLE [dbo].[NCMBackupStateHolder]  WITH CHECK ADD  CONSTRAINT [NCMBackupStateHolder_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMBackupStateHolder] CHECK CONSTRAINT [NCMBackupStateHolder_FK1]
GO
