USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RBTaskSupportedDevices]    Script Date: 6/29/2019 5:50:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RBTaskSupportedDevices](
	[TASKID] [bigint] NOT NULL,
	[FILTERID] [int] NOT NULL,
 CONSTRAINT [RBTaskSupportedDevices_PK1] PRIMARY KEY CLUSTERED 
(
	[TASKID] ASC,
	[FILTERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__605551727]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__605551727] ON [dbo].[RBTaskSupportedDevices]
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RBTaskSupportedDevices]  WITH CHECK ADD  CONSTRAINT [RBTaskSupportedDevices_FK1] FOREIGN KEY([TASKID])
REFERENCES [dbo].[RunBookTaskDefinition] ([TASKID])
GO
ALTER TABLE [dbo].[RBTaskSupportedDevices] CHECK CONSTRAINT [RBTaskSupportedDevices_FK1]
GO
