USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PureStorageNetwork]    Script Date: 6/29/2019 5:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PureStorageNetwork](
	[RAID_ID] [bigint] NOT NULL,
	[NETWORK_MO_ID] [bigint] NOT NULL,
	[NETWORK_NAME] [varchar](250) NULL,
	[NETWORK_ADDRESS] [varchar](250) NULL,
	[NETWORK_MASK] [varchar](250) NULL,
	[NETWORK_GATEWAY] [varchar](250) NULL,
	[NETWORK_MTU] [varchar](250) NULL,
	[NETWORK_MAC] [varchar](250) NULL,
	[NETWORK_SPEED] [varchar](250) NULL,
	[NETWORK_SERVICES] [varchar](250) NULL,
	[NETWORK_SLAVES] [varchar](250) NULL,
 CONSTRAINT [PureStorageNetwork_PK] PRIMARY KEY CLUSTERED 
(
	[NETWORK_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1261455816]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1261455816] ON [dbo].[PureStorageNetwork]
(
	[NETWORK_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PureStorageNetwork]  WITH CHECK ADD  CONSTRAINT [PureStorageNetwork_FK1] FOREIGN KEY([NETWORK_MO_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PureStorageNetwork] CHECK CONSTRAINT [PureStorageNetwork_FK1]
GO
