USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VPortgroup]    Script Date: 6/29/2019 5:53:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VPortgroup](
	[VPORTGROUP_ID] [bigint] NOT NULL,
	[VHOST_ID] [bigint] NOT NULL,
	[VPORTGROUP_NAME] [varchar](100) NOT NULL,
	[VSWITCH_ID] [bigint] NULL,
	[VNICTEAM_ID] [bigint] NULL,
	[SECURITY_POLICY_ID] [int] NULL,
	[TRAFFIC_SHAPING_ID] [int] NULL,
	[FAILOVER_POLICY_ID] [int] NULL,
	[VLAN_ID] [int] NULL,
 CONSTRAINT [VPORTGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[VPORTGROUP_ID] ASC,
	[VHOST_ID] ASC,
	[VPORTGROUP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__261676490]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__261676490] ON [dbo].[VPortgroup]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__261676491]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__261676491] ON [dbo].[VPortgroup]
(
	[VSWITCH_ID] ASC,
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [VPortgroup_NICTeamId_indx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [VPortgroup_NICTeamId_indx] ON [dbo].[VPortgroup]
(
	[VNICTEAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [VPortgroup_VSwitchId_indx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [VPortgroup_VSwitchId_indx] ON [dbo].[VPortgroup]
(
	[VSWITCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VPortgroup]  WITH CHECK ADD  CONSTRAINT [VPORTGROUP_FK1] FOREIGN KEY([VSWITCH_ID], [VHOST_ID])
REFERENCES [dbo].[VSwitch] ([VSWITCH_ID], [VHOST_ID])
GO
ALTER TABLE [dbo].[VPortgroup] CHECK CONSTRAINT [VPORTGROUP_FK1]
GO
ALTER TABLE [dbo].[VPortgroup]  WITH CHECK ADD  CONSTRAINT [VPORTGROUP_FK2] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VHostProps] ([VHOST_ID])
GO
ALTER TABLE [dbo].[VPortgroup] CHECK CONSTRAINT [VPORTGROUP_FK2]
GO
