USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IPInterfaceNetwork]    Script Date: 6/29/2019 5:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPInterfaceNetwork](
	[RESOURCEID] [bigint] NOT NULL,
	[NETWORKID] [bigint] NOT NULL,
 CONSTRAINT [IPInterfaceNetwork_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1470569654]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1470569654] ON [dbo].[IPInterfaceNetwork]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1470569655]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1470569655] ON [dbo].[IPInterfaceNetwork]
(
	[NETWORKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IPInterfaceNetwork]  WITH CHECK ADD  CONSTRAINT [IPInterfaceNetwork_FK1] FOREIGN KEY([NETWORKID])
REFERENCES [dbo].[IPNetwork] ([RESOURCEID])
GO
ALTER TABLE [dbo].[IPInterfaceNetwork] CHECK CONSTRAINT [IPInterfaceNetwork_FK1]
GO
ALTER TABLE [dbo].[IPInterfaceNetwork]  WITH CHECK ADD  CONSTRAINT [IPInterfaceNetwork_FK2] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[IPInterface] ([RESOURCEID])
GO
ALTER TABLE [dbo].[IPInterfaceNetwork] CHECK CONSTRAINT [IPInterfaceNetwork_FK2]
GO
