USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AddnlReportParams]    Script Date: 6/29/2019 5:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddnlReportParams](
	[ID] [bigint] NOT NULL,
	[KEYCOLUMN] [varchar](100) NOT NULL,
	[VALUECOLUMN] [varchar](4000) NOT NULL,
 CONSTRAINT [AddnlReportParams_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[KEYCOLUMN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__356999610]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__356999610] ON [dbo].[AddnlReportParams]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AddnlReportParams]  WITH CHECK ADD  CONSTRAINT [AddnlReportParams_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[ReportWidgetID] ([ID])
GO
ALTER TABLE [dbo].[AddnlReportParams] CHECK CONSTRAINT [AddnlReportParams_FK1]
GO
