USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SNMPResources]    Script Date: 6/29/2019 5:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SNMPResources](
	[RESOURCEID] [bigint] NOT NULL,
	[COMMUNITY_STRING] [varchar](100) NULL,
	[SYSDESCR] [varchar](1000) NULL,
	[SYSOID] [varchar](50) NULL,
	[SYSNAME] [varchar](100) NULL,
	[SYSLOCATION] [varchar](100) NULL,
	[SYSUPTIME] [datetime] NULL,
	[WRITE_COMMUNITY_STRING] [varchar](100) NULL,
	[SYSCONTACT] [varchar](100) NULL,
 CONSTRAINT [SNMPResources_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__387637676]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__387637676] ON [dbo].[SNMPResources]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SNMPResources] ADD  DEFAULT ('No data') FOR [SYSOID]
GO
ALTER TABLE [dbo].[SNMPResources]  WITH CHECK ADD  CONSTRAINT [SNMPResources_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[OpUtilsResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[SNMPResources] CHECK CONSTRAINT [SNMPResources_FK1]
GO
