USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMBulkPCIReview]    Script Date: 6/29/2019 5:49:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMBulkPCIReview](
	[REVIEW_ID] [bigint] NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
	[LOGIN_NAME] [varchar](100) NOT NULL,
	[REVIEWER_ID] [bigint] NOT NULL,
	[STATUS] [varchar](15) NOT NULL,
	[REVIEW_REQUESTED_TIME] [datetime] NOT NULL,
 CONSTRAINT [NCMBulkPCIReview_PK] PRIMARY KEY CLUSTERED 
(
	[REVIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
