USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ServiceProperties]    Script Date: 6/29/2019 5:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceProperties](
	[SERVICEPROP_ID] [bigint] NOT NULL,
	[SERVICE_ID] [bigint] NOT NULL,
	[PROPERTY] [varchar](100) NOT NULL,
	[VALUE] [varchar](100) NOT NULL,
 CONSTRAINT [ServiceProperties_PK] PRIMARY KEY CLUSTERED 
(
	[SERVICEPROP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_772135612]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_772135612] ON [dbo].[ServiceProperties]
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceProperties]  WITH CHECK ADD  CONSTRAINT [ServiceProperties_FK] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[Service] ([SERVICE_ID])
GO
ALTER TABLE [dbo].[ServiceProperties] CHECK CONSTRAINT [ServiceProperties_FK]
GO
