USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TaskInput]    Script Date: 6/29/2019 5:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskInput](
	[TI_INSTANCEID] [bigint] NOT NULL,
	[TI_SCHEDULEID] [bigint] NOT NULL,
	[TI_SCHEDULETIME] [datetime] NULL,
	[TI_EXECUTION_START_TIME] [datetime] NULL,
	[TI_EXECUTION_FINISH_TIME] [datetime] NULL,
	[TI_ADMIN_STATUS] [int] NULL,
	[TI_OPERATIONAL_STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TI_INSTANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [TI_INDEX1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [TI_INDEX1] ON [dbo].[TaskInput]
(
	[TI_SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TaskInput]  WITH CHECK ADD  CONSTRAINT [TI_FK1] FOREIGN KEY([TI_SCHEDULEID])
REFERENCES [dbo].[OPMSchedule] ([S_SCHEDULEID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskInput] CHECK CONSTRAINT [TI_FK1]
GO
