USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMTP_AUTH]    Script Date: 6/29/2019 5:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMTP_AUTH](
	[ID] [bigint] NOT NULL,
	[USER_NAME] [varchar](100) NOT NULL,
	[PASSWD] [varchar](255) NOT NULL,
 CONSTRAINT [SMTP_AUTH_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1617235134]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1617235134] ON [dbo].[SMTP_AUTH]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMTP_AUTH]  WITH CHECK ADD  CONSTRAINT [SMTP_AUTH_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[Settings] ([ID])
GO
ALTER TABLE [dbo].[SMTP_AUTH] CHECK CONSTRAINT [SMTP_AUTH_FK1]
GO
