USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AF2Criteria]    Script Date: 6/29/2019 5:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AF2Criteria](
	[AF_ID] [bigint] NOT NULL,
	[CRIT_ID] [bigint] NOT NULL,
 CONSTRAINT [AF2Criteria_PK] PRIMARY KEY CLUSTERED 
(
	[AF_ID] ASC,
	[CRIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_511118457]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_511118457] ON [dbo].[AF2Criteria]
(
	[CRIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_511118458]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_511118458] ON [dbo].[AF2Criteria]
(
	[AF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AF2Criteria]  WITH CHECK ADD  CONSTRAINT [AF2Criteria_FK1] FOREIGN KEY([CRIT_ID])
REFERENCES [dbo].[LACriteria] ([CRIT_ID])
GO
ALTER TABLE [dbo].[AF2Criteria] CHECK CONSTRAINT [AF2Criteria_FK1]
GO
ALTER TABLE [dbo].[AF2Criteria]  WITH CHECK ADD  CONSTRAINT [AF2Criteria_FK2] FOREIGN KEY([AF_ID])
REFERENCES [dbo].[AnomalyFilters] ([AF_ID])
GO
ALTER TABLE [dbo].[AF2Criteria] CHECK CONSTRAINT [AF2Criteria_FK2]
GO
