USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SyslogCollectorToFWMap]    Script Date: 6/29/2019 5:52:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SyslogCollectorToFWMap](
	[SYSLOGCOLLECTOR_ID] [bigint] NOT NULL,
	[RID] [bigint] NOT NULL,
 CONSTRAINT [SyslogCollectorToFWMap_PK] PRIMARY KEY CLUSTERED 
(
	[SYSLOGCOLLECTOR_ID] ASC,
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__538011193]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__538011193] ON [dbo].[SyslogCollectorToFWMap]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__710091862]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__710091862] ON [dbo].[SyslogCollectorToFWMap]
(
	[SYSLOGCOLLECTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SyslogCollectorToFWMap]  WITH CHECK ADD  CONSTRAINT [SyslogCollectorToFWMap_FK] FOREIGN KEY([SYSLOGCOLLECTOR_ID])
REFERENCES [dbo].[FASyslogCollectors] ([SYSLOGCOLLECTOR_ID])
GO
ALTER TABLE [dbo].[SyslogCollectorToFWMap] CHECK CONSTRAINT [SyslogCollectorToFWMap_FK]
GO
ALTER TABLE [dbo].[SyslogCollectorToFWMap]  WITH CHECK ADD  CONSTRAINT [SyslogCollectorToFWMap_FK1] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[SyslogCollectorToFWMap] CHECK CONSTRAINT [SyslogCollectorToFWMap_FK1]
GO
