USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Task_Owner]    Script Date: 6/29/2019 5:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Owner](
	[TASK_INSTANCE_ID] [bigint] NOT NULL,
	[OWNER_ID] [bigint] NOT NULL,
	[ESCALATION_OWNER_ID] [bigint] NOT NULL,
 CONSTRAINT [Task_Owner_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1759670453]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1759670453] ON [dbo].[Task_Owner]
(
	[TASK_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Task_Owner]  WITH CHECK ADD  CONSTRAINT [Task_Owner_FK] FOREIGN KEY([TASK_INSTANCE_ID])
REFERENCES [dbo].[Task_Instances] ([TASK_INSTANCE_ID])
GO
ALTER TABLE [dbo].[Task_Owner] CHECK CONSTRAINT [Task_Owner_FK]
GO
