USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPEVARaidVDiskPresentation]    Script Date: 6/29/2019 5:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPEVARaidVDiskPresentation](
	[DEVICE_ID] [bigint] NOT NULL,
	[VDISK_NAME] [varchar](160) NOT NULL,
	[STORAGECLIENT_NAME] [varchar](250) NULL,
	[LUN] [varchar](250) NULL,
	[PRESENTATION_NAME] [varchar](160) NOT NULL,
 CONSTRAINT [HPEVARAIDVDISKPRESENTATION_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[VDISK_NAME] ASC,
	[PRESENTATION_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_667896424]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_667896424] ON [dbo].[HPEVARaidVDiskPresentation]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPEVARaidVDiskPresentation]  WITH CHECK ADD  CONSTRAINT [HPEVARAIDVDISKPRESENTATION_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[HPEVARaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPEVARaidVDiskPresentation] CHECK CONSTRAINT [HPEVARAIDVDISKPRESENTATION_FK1]
GO
