USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BussView_CollectorMap]    Script Date: 6/29/2019 5:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BussView_CollectorMap](
	[BUSS_ID] [int] NOT NULL,
	[COLLECTOR_ID] [int] NOT NULL,
 CONSTRAINT [BussView_CollectorMap_PK] PRIMARY KEY CLUSTERED 
(
	[BUSS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1102223762]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1102223762] ON [dbo].[BussView_CollectorMap]
(
	[BUSS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_190801795]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_190801795] ON [dbo].[BussView_CollectorMap]
(
	[COLLECTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BussView_CollectorMap] ADD  DEFAULT ('0') FOR [BUSS_ID]
GO
ALTER TABLE [dbo].[BussView_CollectorMap] ADD  DEFAULT ('0') FOR [COLLECTOR_ID]
GO
ALTER TABLE [dbo].[BussView_CollectorMap]  WITH CHECK ADD  CONSTRAINT [BussView_CollectorMap_FK] FOREIGN KEY([BUSS_ID])
REFERENCES [dbo].[BusinessView] ([BUSS_ID])
GO
ALTER TABLE [dbo].[BussView_CollectorMap] CHECK CONSTRAINT [BussView_CollectorMap_FK]
GO
ALTER TABLE [dbo].[BussView_CollectorMap]  WITH CHECK ADD  CONSTRAINT [BussView_CollectorMap_FK1] FOREIGN KEY([COLLECTOR_ID])
REFERENCES [dbo].[Collector_Properties] ([COLLECTOR_ID])
GO
ALTER TABLE [dbo].[BussView_CollectorMap] CHECK CONSTRAINT [BussView_CollectorMap_FK1]
GO
