USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MsgPageConfig]    Script Date: 6/29/2019 5:49:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsgPageConfig](
	[PAGE_ID] [int] NOT NULL,
	[MSG_COUNT] [int] NOT NULL,
	[PAGE_DATA_FETCHER_CLASS] [varchar](250) NULL,
 CONSTRAINT [MsgPageConfig_PK] PRIMARY KEY CLUSTERED 
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_443219762]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_443219762] ON [dbo].[MsgPageConfig]
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MsgPageConfig] ADD  DEFAULT ('-1') FOR [MSG_COUNT]
GO
ALTER TABLE [dbo].[MsgPageConfig]  WITH CHECK ADD  CONSTRAINT [MsgPageConfig_FK] FOREIGN KEY([PAGE_ID])
REFERENCES [dbo].[UIPages] ([PAGE_ID])
GO
ALTER TABLE [dbo].[MsgPageConfig] CHECK CONSTRAINT [MsgPageConfig_FK]
GO
