USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaLogin]    Script Date: 6/29/2019 5:45:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaLogin](
	[LOGIN_ID] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DOMAINNAME] [varchar](100) NULL,
 CONSTRAINT [AaaLogin_PK] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AaaLogin_UK10] UNIQUE NONCLUSTERED 
(
	[NAME] ASC,
	[DOMAINNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_138316956]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_138316956] ON [dbo].[AaaLogin]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaLogin]  WITH CHECK ADD  CONSTRAINT [AaaLogin_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[AaaLogin] CHECK CONSTRAINT [AaaLogin_FK]
GO
