USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VIThresholdTemplate]    Script Date: 6/29/2019 5:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIThresholdTemplate](
	[VAR_ID] [bigint] NOT NULL,
	[THRESHOLDNAME] [varchar](50) NOT NULL,
	[THRESHOLDOID] [varchar](50) NOT NULL,
	[INSTANCEKEY] [varchar](50) NULL,
	[OIDTYPE] [varchar](10) NOT NULL,
	[DISPLAYNAME] [varchar](100) NULL,
	[THRESHOLDENABLED] [bit] NULL,
	[KIND] [varchar](10) NOT NULL,
	[SEVERITY] [int] NOT NULL,
	[THRESHOLDTYPE] [varchar](10) NULL,
	[THRESHOLDVALUE] [varchar](50) NULL,
	[REARMVALUE] [varchar](50) NULL,
	[ALARMMESSAGE] [varchar](200) NULL,
	[UNIT] [varchar](10) NULL,
	[CONSECUTIVETIMES] [int] NOT NULL,
 CONSTRAINT [VIThresholdTemplate_PK] PRIMARY KEY CLUSTERED 
(
	[THRESHOLDNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VIThresholdTemplate] ADD  DEFAULT ('1') FOR [CONSECUTIVETIMES]
GO
