USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NTServicesDefinition]    Script Date: 6/29/2019 5:49:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTServicesDefinition](
	[ID] [bigint] NOT NULL,
	[name] [varchar](200) NOT NULL,
	[serviceName] [varchar](200) NOT NULL,
	[defaultAction] [int] NOT NULL,
	[FAILURETHRESHOLD] [int] NOT NULL,
 CONSTRAINT [NTServicesDefinition_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NTServicesDefinition_UK0] UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[serviceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NTServicesDefinition] ADD  DEFAULT ('1') FOR [FAILURETHRESHOLD]
GO
