USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarLUNHostMap]    Script Date: 6/29/2019 5:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarLUNHostMap](
	[PILLAR_ID] [bigint] NOT NULL,
	[LUN_HOST_MAP_INSTANCE] [int] NOT NULL,
	[HOST_ID] [varchar](250) NULL,
	[HOST_FQN] [varchar](250) NULL,
	[LUN_ID] [varchar](250) NULL,
	[LUN_FQN] [varchar](250) NULL,
 CONSTRAINT [PillarLUNHostMap_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC,
	[LUN_HOST_MAP_INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1686290165]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1686290165] ON [dbo].[PillarLUNHostMap]
(
	[PILLAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarLUNHostMap]  WITH CHECK ADD  CONSTRAINT [PillarLUNHostMap_FK] FOREIGN KEY([PILLAR_ID])
REFERENCES [dbo].[PillarRaid] ([PILLAR_ID])
GO
ALTER TABLE [dbo].[PillarLUNHostMap] CHECK CONSTRAINT [PillarLUNHostMap_FK]
GO
