USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OperationParams]    Script Date: 6/29/2019 5:49:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationParams](
	[EXPRESSION_ID] [bigint] NOT NULL,
	[LVALUE] [varchar](255) NULL,
	[LVALUE_TYPE] [int] NOT NULL,
	[RVALUE] [varchar](255) NULL,
	[RVALUE_TYPE] [int] NOT NULL,
 CONSTRAINT [OperationParams_PK] PRIMARY KEY CLUSTERED 
(
	[EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__655283590]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__655283590] ON [dbo].[OperationParams]
(
	[EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OperationParams]  WITH CHECK ADD  CONSTRAINT [OperationParams_FK1] FOREIGN KEY([EXPRESSION_ID])
REFERENCES [dbo].[Expression] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[OperationParams] CHECK CONSTRAINT [OperationParams_FK1]
GO
