USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RULETYPESVSMODULES]    Script Date: 6/29/2019 5:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RULETYPESVSMODULES](
	[RTID] [int] NOT NULL,
	[MODULEID] [bigint] NOT NULL,
 CONSTRAINT [RULETYPESVSMODULES_PK1] PRIMARY KEY CLUSTERED 
(
	[RTID] ASC,
	[MODULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__855853925]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__855853925] ON [dbo].[RULETYPESVSMODULES]
(
	[MODULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__855853926]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__855853926] ON [dbo].[RULETYPESVSMODULES]
(
	[RTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RULETYPESVSMODULES]  WITH CHECK ADD  CONSTRAINT [RULETYPESVSMODULES_FK1] FOREIGN KEY([RTID])
REFERENCES [dbo].[RULETYPES] ([RTID])
GO
ALTER TABLE [dbo].[RULETYPESVSMODULES] CHECK CONSTRAINT [RULETYPESVSMODULES_FK1]
GO
ALTER TABLE [dbo].[RULETYPESVSMODULES]  WITH CHECK ADD  CONSTRAINT [RULETYPESVSMODULES_FK2] FOREIGN KEY([MODULEID])
REFERENCES [dbo].[OPMModule] ([MODULEID])
GO
ALTER TABLE [dbo].[RULETYPESVSMODULES] CHECK CONSTRAINT [RULETYPESVSMODULES_FK2]
GO
