USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EqualLogicLun]    Script Date: 6/29/2019 5:47:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EqualLogicLun](
	[RAID_ID] [bigint] NOT NULL,
	[LUN_ID] [varchar](250) NOT NULL,
	[LUN_NAME] [varchar](250) NOT NULL,
	[LUN_CAPACITY] [varchar](250) NOT NULL,
 CONSTRAINT [EqualLogicLun_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[LUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_882337992]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_882337992] ON [dbo].[EqualLogicLun]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EqualLogicLun]  WITH CHECK ADD  CONSTRAINT [EqualLogicLun_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EqualLogicLun] CHECK CONSTRAINT [EqualLogicLun_FK1]
GO
