USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RestApiOperation]    Script Date: 6/29/2019 5:51:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestApiOperation](
	[ID] [bigint] NOT NULL,
	[MODULEID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[METHOD] [varchar](100) NOT NULL,
	[CONTEXT] [varchar](100) NOT NULL,
	[HANDLERID] [bigint] NULL,
	[ISINTERNALAPI] [int] NOT NULL,
	[AUDIT] [int] NOT NULL,
 CONSTRAINT [RestApiOperation_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1615911601]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1615911601] ON [dbo].[RestApiOperation]
(
	[HANDLERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1615911602]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1615911602] ON [dbo].[RestApiOperation]
(
	[MODULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RestApiOperation0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [RestApiOperation0_ndx] ON [dbo].[RestApiOperation]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RestApiOperation] ADD  DEFAULT ('0') FOR [ISINTERNALAPI]
GO
ALTER TABLE [dbo].[RestApiOperation] ADD  DEFAULT ('0') FOR [AUDIT]
GO
ALTER TABLE [dbo].[RestApiOperation]  WITH CHECK ADD  CONSTRAINT [RestApiOperation_FK1] FOREIGN KEY([MODULEID])
REFERENCES [dbo].[RestApiConfig] ([MODULEID])
GO
ALTER TABLE [dbo].[RestApiOperation] CHECK CONSTRAINT [RestApiOperation_FK1]
GO
ALTER TABLE [dbo].[RestApiOperation]  WITH CHECK ADD  CONSTRAINT [RestApiOperation_FK2] FOREIGN KEY([HANDLERID])
REFERENCES [dbo].[RestApiDataSource] ([HANDLERID])
GO
ALTER TABLE [dbo].[RestApiOperation] CHECK CONSTRAINT [RestApiOperation_FK2]
GO
