USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNXCifs]    Script Date: 6/29/2019 5:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNXCifs](
	[RAID_ID] [bigint] NOT NULL,
	[MOVER_NAME] [varchar](250) NOT NULL,
	[MOVER_TYPE] [varchar](250) NOT NULL,
	[THREAD_STATE] [varchar](250) NOT NULL,
	[USER_MAPPER] [varchar](250) NOT NULL,
	[ENABLED_INTERFACES] [varchar](1000) NOT NULL,
	[DISABLED_INTERFACES] [varchar](1000) NULL,
	[UNUSED_INTERFACES] [varchar](1000) NULL,
	[USED_INTERFACES] [varchar](1000) NOT NULL,
	[DOMAIN] [varchar](250) NOT NULL,
	[DOMAIN_FQDN] [varchar](250) NOT NULL,
	[DOMAIN_SITE] [varchar](250) NULL,
	[DOMAIN_RC] [varchar](250) NULL,
	[CIFS_SERVER] [varchar](250) NULL,
	[FULL_COMPUTER_NAME] [varchar](250) NOT NULL,
	[CIFS_FQDN] [varchar](250) NOT NULL,
	[PASSWORD_CHANGE_INTERVAL] [varchar](250) NOT NULL,
	[PASSWORD_VERSION] [varchar](250) NULL,
 CONSTRAINT [VNXCifs_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[MOVER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2077316079]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2077316079] ON [dbo].[VNXCifs]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNXCifs]  WITH CHECK ADD  CONSTRAINT [VNXCifs_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXCifs] CHECK CONSTRAINT [VNXCifs_FK]
GO
