USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CORBANode]    Script Date: 6/29/2019 5:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CORBANode](
	[NAME] [varchar](100) NOT NULL,
	[OWNERNAME] [varchar](100) NOT NULL,
	[ORBCLASSNAME] [varchar](100) NULL,
	[NAMESERVICEHOST] [varchar](100) NOT NULL,
	[NAMESERVICEPORT] [int] NULL,
	[NAMEREF] [varchar](100) NULL,
	[INTERFACENAME] [varchar](100) NULL,
	[DICTIONARY] [varchar](100) NULL,
	[STATUSPOLLCOMMAND] [varchar](100) NULL,
	[STATUSPOLLIOR] [image] NULL,
	[DATAPOLLIOR] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC,
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CORBANode0_ndx]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [CORBANode0_ndx] ON [dbo].[CORBANode]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CORBANode1_ndx]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [CORBANode1_ndx] ON [dbo].[CORBANode]
(
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
