USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OTHEROIDDETAILS]    Script Date: 6/29/2019 5:50:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTHEROIDDETAILS](
	[GRAPHID] [bigint] NOT NULL,
	[GRAPHNAME] [varchar](100) NOT NULL,
	[OID] [varchar](200) NOT NULL,
 CONSTRAINT [OtherOIDDetails_PK] PRIMARY KEY CLUSTERED 
(
	[GRAPHID] ASC,
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1938158652]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1938158652] ON [dbo].[OTHEROIDDETAILS]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OTHEROIDDETAILS]  WITH CHECK ADD  CONSTRAINT [OtherOIDDetails_FK] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[OTHEROIDDETAILS] CHECK CONSTRAINT [OtherOIDDetails_FK]
GO
