USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ManagedObject]    Script Date: 6/29/2019 5:48:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedObject](
	[NAME] [varchar](100) NOT NULL,
	[DISPLAYNAME] [varchar](255) NOT NULL,
	[PARENTKEY] [varchar](100) NOT NULL,
	[TYPE] [varchar](100) NULL,
	[MANAGED] [varchar](10) NULL,
	[STATUS] [int] NULL,
	[FAILURETHRESHOLD] [int] NULL,
	[FAILURECOUNT] [int] NULL,
	[POLLINTERVAL] [int] NULL,
	[STATUSCHANGETIME] [varchar](25) NULL,
	[STATUSUPDATETIME] [varchar](25) NULL,
	[TESTER] [varchar](100) NULL,
	[UCLASS] [varchar](100) NULL,
	[CLASSNAME] [varchar](100) NULL,
	[WEBNMS] [varchar](100) NULL,
	[OWNERNAME] [varchar](25) NOT NULL,
	[STATUSPOLLENABLED] [varchar](10) NULL,
	[ISCONTAINER] [varchar](10) NULL,
	[ISGROUP] [varchar](10) NULL,
	[STATE] [int] NULL,
	[MOID] [bigint] NULL,
	[PROBEID] [bigint] NULL,
	[SITEID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC,
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ManagedObject0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [ManagedObject0_ndx] ON [dbo].[ManagedObject]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ManagedObject1_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [ManagedObject1_ndx] ON [dbo].[ManagedObject]
(
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ManagedObject2_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [ManagedObject2_ndx] ON [dbo].[ManagedObject]
(
	[PARENTKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ManagedObject3_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [ManagedObject3_ndx] ON [dbo].[ManagedObject]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
