USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[COMMONREARMVALUES]    Script Date: 6/29/2019 5:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMONREARMVALUES](
	[COMMONREARMID] [bigint] NOT NULL,
	[REARMCONDITION] [varchar](100) NULL,
	[REARMVALUES] [float] NULL,
	[REARMUNITS] [varchar](100) NULL,
	[MESSAGE] [varchar](4000) NULL,
 CONSTRAINT [COMMONREARMVALUES_PK] PRIMARY KEY CLUSTERED 
(
	[COMMONREARMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1909400077]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1909400077] ON [dbo].[COMMONREARMVALUES]
(
	[COMMONREARMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMMONREARMVALUES]  WITH CHECK ADD  CONSTRAINT [COMMONREARMVALUES_FK1] FOREIGN KEY([COMMONREARMID])
REFERENCES [dbo].[COMMONTHRESHOLDVALUES] ([COMMONTHRESHOLDID])
GO
ALTER TABLE [dbo].[COMMONREARMVALUES] CHECK CONSTRAINT [COMMONREARMVALUES_FK1]
GO
