USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VMDatastoreMap]    Script Date: 6/29/2019 5:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMDatastoreMap](
	[VM_ID] [bigint] NOT NULL,
	[VDATASTORE_ID] [bigint] NOT NULL,
	[VMDISK_PATH] [varchar](250) NOT NULL,
 CONSTRAINT [VMDatastoreMap_PK] PRIMARY KEY CLUSTERED 
(
	[VM_ID] ASC,
	[VDATASTORE_ID] ASC,
	[VMDISK_PATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1792256009]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1792256009] ON [dbo].[VMDatastoreMap]
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VMDatastoreMap]  WITH CHECK ADD  CONSTRAINT [VMDatastoreMap_FK1] FOREIGN KEY([VM_ID])
REFERENCES [dbo].[VMProperties] ([VM_ID])
GO
ALTER TABLE [dbo].[VMDatastoreMap] CHECK CONSTRAINT [VMDatastoreMap_FK1]
GO
