USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TreeIdentifierColumns]    Script Date: 6/29/2019 5:52:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeIdentifierColumns](
	[TREEID] [bigint] NOT NULL,
	[COLUMNNAME] [varchar](50) NOT NULL,
 CONSTRAINT [TreeIdentifierCN_PK] PRIMARY KEY CLUSTERED 
(
	[TREEID] ASC,
	[COLUMNNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1937944906]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1937944906] ON [dbo].[TreeIdentifierColumns]
(
	[TREEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TreeIdentifierColumns]  WITH CHECK ADD  CONSTRAINT [TreeIdentifierCN_TreeDef_FK] FOREIGN KEY([TREEID])
REFERENCES [dbo].[TreeDefinition] ([TREEID])
GO
ALTER TABLE [dbo].[TreeIdentifierColumns] CHECK CONSTRAINT [TreeIdentifierCN_TreeDef_FK]
GO
