USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCVNXeISCSIStorage]    Script Date: 6/29/2019 5:47:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCVNXeISCSIStorage](
	[RAID_ID] [bigint] NOT NULL,
	[ISCSI_ID] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[NODE] [varchar](250) NULL,
	[CAPACITY] [varchar](250) NULL,
	[ISCSI_TARGET] [varchar](250) NULL,
	[PROTECTION_SIZE] [varchar](250) NULL,
	[PROTECTION_SIZE_USED] [varchar](250) NULL,
 CONSTRAINT [EMCVNXeISCSIStorage_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[ISCSI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1106803704]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1106803704] ON [dbo].[EMCVNXeISCSIStorage]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCVNXeISCSIStorage]  WITH CHECK ADD  CONSTRAINT [EMCVNXeISCSIStorage_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCVNXeISCSIStorage] CHECK CONSTRAINT [EMCVNXeISCSIStorage_FK]
GO
