USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ModemSMSProfile]    Script Date: 6/29/2019 5:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModemSMSProfile](
	[PROFILEID] [bigint] NOT NULL,
	[MOBILENO] [varchar](250) NULL,
	[MESSAGE] [varchar](250) NULL,
	[GATEWAYTYPEID] [int] NOT NULL,
 CONSTRAINT [ModemSMSProfile_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1077717240]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1077717240] ON [dbo].[ModemSMSProfile]
(
	[GATEWAYTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1077717241]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1077717241] ON [dbo].[ModemSMSProfile]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ModemSMSProfile] ADD  DEFAULT ('1') FOR [GATEWAYTYPEID]
GO
ALTER TABLE [dbo].[ModemSMSProfile]  WITH CHECK ADD  CONSTRAINT [ModemSMSProfile_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[ModemSMSProfile] CHECK CONSTRAINT [ModemSMSProfile_FK1]
GO
ALTER TABLE [dbo].[ModemSMSProfile]  WITH CHECK ADD  CONSTRAINT [ModemSMSProfile_FK2] FOREIGN KEY([GATEWAYTYPEID])
REFERENCES [dbo].[SMSGatewayTypes] ([GATEWAYTYPEID])
GO
ALTER TABLE [dbo].[ModemSMSProfile] CHECK CONSTRAINT [ModemSMSProfile_FK2]
GO
