USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EventTypes]    Script Date: 6/29/2019 5:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventTypes](
	[EVENTTYPE_ID] [bigint] NOT NULL,
	[EVENT_TYPE] [nvarchar](10) NOT NULL,
 CONSTRAINT [Eventtypes_PK] PRIMARY KEY CLUSTERED 
(
	[EVENTTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EventTypes] ADD  DEFAULT ('General') FOR [EVENT_TYPE]
GO
