USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetMonState]    Script Date: 6/29/2019 5:49:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetMonState](
	[ID] [bigint] NOT NULL,
	[IPADDRESS] [varchar](15) NOT NULL,
	[ADDRINLONG] [bigint] NULL,
	[STATECHANGETIME] [datetime] NULL,
	[ALERT_ID] [bigint] NOT NULL,
	[RESPONSE_TIME] [float] NOT NULL,
	[THRESHOLD] [bigint] NOT NULL,
 CONSTRAINT [NetMonState_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1661152207]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1661152207] ON [dbo].[NetMonState]
(
	[ALERT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1661152208]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1661152208] ON [dbo].[NetMonState]
(
	[IPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetMonState] ADD  DEFAULT ('0.0') FOR [RESPONSE_TIME]
GO
ALTER TABLE [dbo].[NetMonState] ADD  DEFAULT ('4') FOR [THRESHOLD]
GO
ALTER TABLE [dbo].[NetMonState]  WITH CHECK ADD  CONSTRAINT [NetMonState_FK1] FOREIGN KEY([ALERT_ID])
REFERENCES [dbo].[ParentConfig] ([PID])
GO
ALTER TABLE [dbo].[NetMonState] CHECK CONSTRAINT [NetMonState_FK1]
GO
ALTER TABLE [dbo].[NetMonState]  WITH CHECK ADD  CONSTRAINT [NetMonState_FK2] FOREIGN KEY([IPADDRESS])
REFERENCES [dbo].[NetworkMonitor] ([IPADDRESS])
GO
ALTER TABLE [dbo].[NetMonState] CHECK CONSTRAINT [NetMonState_FK2]
GO
