USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NGCalendarSchedule]    Script Date: 6/29/2019 5:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGCalendarSchedule](
	[ID] [bigint] NOT NULL,
	[SECONDS_FROM_OthHOUR] [int] NOT NULL,
 CONSTRAINT [NGCalendarSchedule_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__377538533]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__377538533] ON [dbo].[NGCalendarSchedule]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NGCalendarSchedule]  WITH CHECK ADD  CONSTRAINT [NGCalendarSchedule_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[NGBaseSchedule] ([ID])
GO
ALTER TABLE [dbo].[NGCalendarSchedule] CHECK CONSTRAINT [NGCalendarSchedule_FK1]
GO
