USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ToolsProperties]    Script Date: 6/29/2019 5:52:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToolsProperties](
	[ID] [bigint] NOT NULL,
	[KEY_VALUE] [varchar](50) NOT NULL,
	[VALUE] [varchar](150) NOT NULL,
 CONSTRAINT [ToolsProperties_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[KEY_VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1550548379]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1550548379] ON [dbo].[ToolsProperties]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ToolsProperties]  WITH CHECK ADD  CONSTRAINT [ToolsProperties_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[UserToTools] ([ID])
GO
ALTER TABLE [dbo].[ToolsProperties] CHECK CONSTRAINT [ToolsProperties_FK1]
GO
