USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MasterAgentDetails]    Script Date: 6/29/2019 5:48:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterAgentDetails](
	[MASTERAGENTID] [bigint] NOT NULL,
	[AGENTKEY] [bigint] NOT NULL,
	[REMARKS] [varchar](250) NULL,
 CONSTRAINT [MasterAgentDetails_PK] PRIMARY KEY CLUSTERED 
(
	[MASTERAGENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [MasterAgentDetails_UK0] UNIQUE NONCLUSTERED 
(
	[AGENTKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1630410476]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1630410476] ON [dbo].[MasterAgentDetails]
(
	[AGENTKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MasterAgentDetails]  WITH CHECK ADD  CONSTRAINT [MasterAgentDetails_FK1] FOREIGN KEY([AGENTKEY])
REFERENCES [dbo].[AgentObject] ([AGENTKEY])
GO
ALTER TABLE [dbo].[MasterAgentDetails] CHECK CONSTRAINT [MasterAgentDetails_FK1]
GO
