USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningCHA]    Script Date: 6/29/2019 5:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningCHA](
	[DEVICE_ID] [bigint] NOT NULL,
	[CHA_SLNO] [int] NOT NULL,
	[CHA_CLUSTER_NO] [int] NOT NULL,
	[CHA_NO] [int] NOT NULL,
	[CHA_NAME] [varchar](250) NULL,
	[CHA_TYPE] [varchar](100) NULL,
	[CHA_MODE] [varchar](100) NULL,
 CONSTRAINT [LightningCHA_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[CHA_SLNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_411418591]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_411418591] ON [dbo].[LightningCHA]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningCHA]  WITH CHECK ADD  CONSTRAINT [LightningCHA_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningCHA] CHECK CONSTRAINT [LightningCHA_FK1]
GO
