USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AlliedTelesisAT8000S]    Script Date: 6/29/2019 5:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlliedTelesisAT8000S](
	[RESOURCEID] [bigint] NOT NULL,
	[MAC_ADDRESS] [varchar](50) NOT NULL,
 CONSTRAINT [AlliedTelesisAT8000S_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1103642999]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1103642999] ON [dbo].[AlliedTelesisAT8000S]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlliedTelesisAT8000S] ADD  DEFAULT ('Not Available') FOR [MAC_ADDRESS]
GO
ALTER TABLE [dbo].[AlliedTelesisAT8000S]  WITH CHECK ADD  CONSTRAINT [AlliedTelesisAT8000S_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[AlliedTelesisAT8000S] CHECK CONSTRAINT [AlliedTelesisAT8000S_FK1]
GO
