USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProcessScan]    Script Date: 6/29/2019 5:50:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessScan](
	[ID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[PNAME] [varchar](50) NULL,
	[PROCESS_NAME] [varchar](200) NULL,
	[PID] [int] NULL,
	[COMMAND] [varchar](200) NULL,
	[TYPE] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
 CONSTRAINT [ProcessScan_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__224863558]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__224863558] ON [dbo].[ProcessScan]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProcessScan] ADD  DEFAULT ('admin') FOR [NAME]
GO
ALTER TABLE [dbo].[ProcessScan]  WITH CHECK ADD  CONSTRAINT [ProcessScan_FK2] FOREIGN KEY([NAME])
REFERENCES [dbo].[OpUser] ([NAME])
GO
ALTER TABLE [dbo].[ProcessScan] CHECK CONSTRAINT [ProcessScan_FK2]
GO
