USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GroupInfo]    Script Date: 6/29/2019 5:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupInfo](
	[GROUP_ID] [int] NOT NULL,
	[GROUP_NAME] [varchar](50) NOT NULL,
	[GROUP_DESC] [varbinary](max) NOT NULL,
 CONSTRAINT [GroupInfo_PK] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [GroupInfo_UK0] UNIQUE NONCLUSTERED 
(
	[GROUP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
