USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SanBatteryInfo]    Script Date: 6/29/2019 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanBatteryInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[BATTERY_NAME] [varchar](100) NOT NULL,
	[BATTERY_ID] [varchar](100) NULL,
	[BATTERY_SERIALNO] [varchar](100) NULL,
	[BATTERY_MODEL] [varchar](100) NULL,
	[MANUFACTURER] [varchar](100) NULL,
	[MANUFACTURING_DATE] [varchar](100) NULL,
	[EXPIRATION_DATE] [varchar](100) NULL,
 CONSTRAINT [SanBatteryInfo_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[BATTERY_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_831573576]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_831573576] ON [dbo].[SanBatteryInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SanBatteryInfo]  WITH CHECK ADD  CONSTRAINT [SanBatteryInfo_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SanBatteryInfo] CHECK CONSTRAINT [SanBatteryInfo_FK1]
GO
