USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCVNXeVirtualDisk]    Script Date: 6/29/2019 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCVNXeVirtualDisk](
	[DEVICE_ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[VDISK_ID] [varchar](250) NOT NULL,
	[VDISK_NAME] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[RESOURCE] [varchar](250) NULL,
	[SIZE] [varchar](250) NULL,
	[STORAGE_POOL] [varchar](250) NULL,
	[PROTECTION_SIZE] [varchar](250) NULL,
	[PROTECTION_SIZE_USED] [varchar](250) NULL,
	[WWN] [varchar](250) NULL,
 CONSTRAINT [EMCVNXeVolume_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[VDISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__257014518]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__257014518] ON [dbo].[EMCVNXeVirtualDisk]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCVNXeVirtualDisk]  WITH CHECK ADD  CONSTRAINT [EMCVNXeVolume_FK] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCVNXeVirtualDisk] CHECK CONSTRAINT [EMCVNXeVolume_FK]
GO
