USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HardwareParameter]    Script Date: 6/29/2019 5:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HardwareParameter](
	[PARAMETERID] [bigint] NOT NULL,
	[CATEGORYID] [bigint] NOT NULL,
	[PARAMETERNAME] [varchar](50) NULL,
	[UNITS] [varchar](30) NULL,
 CONSTRAINT [HardwareParameter_PK] PRIMARY KEY CLUSTERED 
(
	[PARAMETERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__559257266]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__559257266] ON [dbo].[HardwareParameter]
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HardwareParameter]  WITH CHECK ADD  CONSTRAINT [HardwareParameter_FK1] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[HardwareCategory] ([CATEGORYID])
GO
ALTER TABLE [dbo].[HardwareParameter] CHECK CONSTRAINT [HardwareParameter_FK1]
GO
