USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 6/29/2019 5:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[SCHEDULE_ID] [bigint] NOT NULL,
	[SCHEDULE_NAME] [nvarchar](150) NOT NULL,
	[DESCRIPTION] [nvarchar](150) NOT NULL,
 CONSTRAINT [Schedule_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Schedule_UK0] UNIQUE NONCLUSTERED 
(
	[SCHEDULE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT ('No Description') FOR [DESCRIPTION]
GO
