USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SyslogMSGCount]    Script Date: 6/29/2019 5:52:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SyslogMSGCount](
	[ENTRY_ID] [bigint] NOT NULL,
	[COUNT] [bigint] NOT NULL,
	[UPDATEDAT] [datetime] NOT NULL,
 CONSTRAINT [SyslogMSGCount_PK] PRIMARY KEY CLUSTERED 
(
	[ENTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
