USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MsgContentToProduct]    Script Date: 6/29/2019 5:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsgContentToProduct](
	[MSG_CONTENT_ID] [bigint] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[CONTEXT] [varchar](4) NOT NULL,
 CONSTRAINT [MsgContentToProduct_PK] PRIMARY KEY CLUSTERED 
(
	[MSG_CONTENT_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_927595593]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_927595593] ON [dbo].[MsgContentToProduct]
(
	[MSG_CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_927595594]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_927595594] ON [dbo].[MsgContentToProduct]
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MsgContentToProduct]  WITH CHECK ADD  CONSTRAINT [MsgContentToProduct_FK1] FOREIGN KEY([MSG_CONTENT_ID])
REFERENCES [dbo].[MsgContent] ([MSG_CONTENT_ID])
GO
ALTER TABLE [dbo].[MsgContentToProduct] CHECK CONSTRAINT [MsgContentToProduct_FK1]
GO
ALTER TABLE [dbo].[MsgContentToProduct]  WITH CHECK ADD  CONSTRAINT [MsgContentToProduct_FK2] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[ProductDetails] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[MsgContentToProduct] CHECK CONSTRAINT [MsgContentToProduct_FK2]
GO
