USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ResourcesTreeNode]    Script Date: 6/29/2019 5:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourcesTreeNode](
	[RESOURCEID] [bigint] NULL,
	[NODEID] [bigint] NOT NULL,
 CONSTRAINT [ResourcesTreeNode_PK] PRIMARY KEY CLUSTERED 
(
	[NODEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1465632946]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1465632946] ON [dbo].[ResourcesTreeNode]
(
	[NODEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1465632947]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1465632947] ON [dbo].[ResourcesTreeNode]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResourcesTreeNode]  WITH CHECK ADD  CONSTRAINT [ResourcesTreeNode_FK1] FOREIGN KEY([NODEID])
REFERENCES [dbo].[BaseTopoTreeNode] ([NODEID])
GO
ALTER TABLE [dbo].[ResourcesTreeNode] CHECK CONSTRAINT [ResourcesTreeNode_FK1]
GO
ALTER TABLE [dbo].[ResourcesTreeNode]  WITH CHECK ADD  CONSTRAINT [ResourcesTreeNode_FK2] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMDevices] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ResourcesTreeNode] CHECK CONSTRAINT [ResourcesTreeNode_FK2]
GO
