USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBM3584MediaAccessDevice]    Script Date: 6/29/2019 5:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBM3584MediaAccessDevice](
	[DEVICE_ID] [bigint] NOT NULL,
	[DEVICE_AVAILABILITY] [varchar](250) NULL,
	[NEEDS_CLEANING] [varchar](250) NULL,
	[MOUNT_COUNT] [varchar](250) NULL,
	[POWERON_HOURS] [varchar](250) NULL,
	[TOTALPOWERON_HOURS] [varchar](250) NULL,
	[MEDIAACCESS_NAME] [varchar](250) NULL,
	[MEDIAACCESS_SOFTWAREELEMENTINDEX] [int] NULL,
	[MEDIAACCESS_STORAGEMEDIALOCINDEX] [int] NULL,
 CONSTRAINT [IBM3584MediaAccessDevice_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_968550681]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_968550681] ON [dbo].[IBM3584MediaAccessDevice]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBM3584MediaAccessDevice]  WITH CHECK ADD  CONSTRAINT [IBM3584MediaAccessDevice_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBM3584MediaAccessDevice] CHECK CONSTRAINT [IBM3584MediaAccessDevice_FK1]
GO
