USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorageInstanceData]    Script Date: 6/29/2019 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageInstanceData](
	[MOID] [bigint] NOT NULL,
	[AGENT] [varchar](250) NOT NULL,
	[INSTANCE] [varchar](250) NOT NULL,
	[DISPLAYNAME] [varchar](500) NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
 CONSTRAINT [StorageInstanceData_PK] PRIMARY KEY CLUSTERED 
(
	[MOID] ASC,
	[INSTANCE] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_968091175]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_968091175] ON [dbo].[StorageInstanceData]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorageInstanceData]  WITH CHECK ADD  CONSTRAINT [StorageInstanceData_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[StorageInstanceData] CHECK CONSTRAINT [StorageInstanceData_FK1]
GO
