USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Inner_Join_Tables]    Script Date: 6/29/2019 5:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inner_Join_Tables](
	[VIEW_ID] [bigint] NOT NULL,
	[FIRST_RELVAR_ID] [bigint] NOT NULL,
	[SECOND_RELVAR_ID] [bigint] NOT NULL,
	[SEQUENCE_ID] [int] NOT NULL,
 CONSTRAINT [Inner_Join_Tables_PK] PRIMARY KEY CLUSTERED 
(
	[VIEW_ID] ASC,
	[FIRST_RELVAR_ID] ASC,
	[SECOND_RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_12143923]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_12143923] ON [dbo].[Inner_Join_Tables]
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_376461662]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_376461662] ON [dbo].[Inner_Join_Tables]
(
	[FIRST_RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_376461663]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_376461663] ON [dbo].[Inner_Join_Tables]
(
	[SECOND_RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inner_Join_Tables]  WITH CHECK ADD  CONSTRAINT [Inner_Join_Tables_FK] FOREIGN KEY([VIEW_ID])
REFERENCES [dbo].[Inner_Join] ([VIEW_ID])
GO
ALTER TABLE [dbo].[Inner_Join_Tables] CHECK CONSTRAINT [Inner_Join_Tables_FK]
GO
ALTER TABLE [dbo].[Inner_Join_Tables]  WITH CHECK ADD  CONSTRAINT [Inner_Join_Tables_FK1] FOREIGN KEY([FIRST_RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Inner_Join_Tables] CHECK CONSTRAINT [Inner_Join_Tables_FK1]
GO
ALTER TABLE [dbo].[Inner_Join_Tables]  WITH CHECK ADD  CONSTRAINT [Inner_Join_Tables_FK2] FOREIGN KEY([SECOND_RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Inner_Join_Tables] CHECK CONSTRAINT [Inner_Join_Tables_FK2]
GO
