USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoASA]    Script Date: 6/29/2019 5:46:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoASA](
	[RESOURCEID] [bigint] NOT NULL,
	[CPU] [varchar](50) NOT NULL,
	[DRAMSIZE] [varchar](100) NOT NULL,
	[FLASHSIZE] [varchar](100) NOT NULL,
	[BIOSFLASHSIZE] [varchar](100) NOT NULL,
	[VPNDES] [varchar](100) NOT NULL,
	[VPN3DESAES] [varchar](100) NOT NULL,
	[CONFIGREGISTER] [varchar](50) NOT NULL,
 CONSTRAINT [CiscoASA_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_859458083]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_859458083] ON [dbo].[CiscoASA]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoASA] ADD  DEFAULT ('Not Available') FOR [CPU]
GO
ALTER TABLE [dbo].[CiscoASA] ADD  DEFAULT ('Not Available') FOR [DRAMSIZE]
GO
ALTER TABLE [dbo].[CiscoASA] ADD  DEFAULT ('Not Available') FOR [FLASHSIZE]
GO
ALTER TABLE [dbo].[CiscoASA] ADD  DEFAULT ('Not Available') FOR [BIOSFLASHSIZE]
GO
ALTER TABLE [dbo].[CiscoASA] ADD  DEFAULT ('Not Available') FOR [VPNDES]
GO
ALTER TABLE [dbo].[CiscoASA] ADD  DEFAULT ('Not Available') FOR [VPN3DESAES]
GO
ALTER TABLE [dbo].[CiscoASA] ADD  DEFAULT ('Not Available') FOR [CONFIGREGISTER]
GO
ALTER TABLE [dbo].[CiscoASA]  WITH CHECK ADD  CONSTRAINT [CiscoASA_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CiscoASA] CHECK CONSTRAINT [CiscoASA_FK1]
GO
