USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[APIREPORTS]    Script Date: 6/29/2019 5:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIREPORTS](
	[CREATION_TIME] [bigint] NOT NULL,
	[WIDGET_NAME] [varchar](255) NOT NULL,
	[DATA_URL] [varchar](1000) NOT NULL,
	[RESULT] [text] NOT NULL,
	[STATUS] [varchar](10) NOT NULL,
 CONSTRAINT [APIREPORTS_PK] PRIMARY KEY CLUSTERED 
(
	[CREATION_TIME] ASC,
	[WIDGET_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
