USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPMSA2312Fan]    Script Date: 6/29/2019 5:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPMSA2312Fan](
	[RAID_ID] [bigint] NOT NULL,
	[FAN_NAME] [varchar](250) NOT NULL,
	[FAN_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [HPMSA2312Fan_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[FAN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1257795371]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1257795371] ON [dbo].[HPMSA2312Fan]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPMSA2312Fan]  WITH CHECK ADD  CONSTRAINT [HPMSA2312Fan_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPMSA2312Fan] CHECK CONSTRAINT [HPMSA2312Fan_FK1]
GO
