USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DomainGroupFilter]    Script Date: 6/29/2019 5:47:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomainGroupFilter](
	[FILTERID] [bigint] NOT NULL,
	[DOMAINID] [bigint] NOT NULL,
	[TYPEID] [int] NOT NULL,
	[FILTERNAME] [varchar](255) NOT NULL,
	[GROUPUSERPRIVILEGE] [int] NOT NULL,
 CONSTRAINT [DomainGroupFilter_PK] PRIMARY KEY CLUSTERED 
(
	[FILTERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2011596081]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2011596081] ON [dbo].[DomainGroupFilter]
(
	[DOMAINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DomainGroupFilter] ADD  DEFAULT ('1') FOR [TYPEID]
GO
ALTER TABLE [dbo].[DomainGroupFilter] ADD  DEFAULT ('0') FOR [GROUPUSERPRIVILEGE]
GO
ALTER TABLE [dbo].[DomainGroupFilter]  WITH CHECK ADD  CONSTRAINT [DomainGroupFilter_FK] FOREIGN KEY([DOMAINID])
REFERENCES [dbo].[ADDomainInfo] ([DOMAINID])
GO
ALTER TABLE [dbo].[DomainGroupFilter] CHECK CONSTRAINT [DomainGroupFilter_FK]
GO
