USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMConfiguration]    Script Date: 6/29/2019 5:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMConfiguration](
	[ID] [bigint] NOT NULL,
	[MONITORNAME] [varchar](255) NOT NULL,
	[ENABLED] [bit] NOT NULL,
	[SHOWNOTIFICATION] [bit] NOT NULL,
	[SENDEMAIL] [bit] NOT NULL,
 CONSTRAINT [SMConfiguration_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [SMConfiguration_UK0] UNIQUE NONCLUSTERED 
(
	[MONITORNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMConfiguration] ADD  DEFAULT ((1)) FOR [ENABLED]
GO
ALTER TABLE [dbo].[SMConfiguration] ADD  DEFAULT ((0)) FOR [SHOWNOTIFICATION]
GO
ALTER TABLE [dbo].[SMConfiguration] ADD  DEFAULT ((0)) FOR [SENDEMAIL]
GO
