USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMPersonality]    Script Date: 6/29/2019 5:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMPersonality](
	[PERSONALITYID] [bigint] NOT NULL,
	[PERSONALITYNAME] [varchar](50) NOT NULL,
	[DISPLAYNAME] [varchar](50) NULL,
 CONSTRAINT [NCMPersonality_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
