USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Message_Templates]    Script Date: 6/29/2019 5:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message_Templates](
	[MESSAGE_TEMPLATE_ID] [bigint] NOT NULL,
 CONSTRAINT [Message_Templates_PK] PRIMARY KEY CLUSTERED 
(
	[MESSAGE_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1746348291]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1746348291] ON [dbo].[Message_Templates]
(
	[MESSAGE_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Message_Templates]  WITH CHECK ADD  CONSTRAINT [Message_Templates_FK] FOREIGN KEY([MESSAGE_TEMPLATE_ID])
REFERENCES [dbo].[Task_Templates] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Message_Templates] CHECK CONSTRAINT [Message_Templates_FK]
GO
