USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VICredential]    Script Date: 6/29/2019 5:52:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VICredential](
	[CRED_ID] [bigint] NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varbinary](max) NOT NULL,
	[PROTOCOL] [varchar](50) NOT NULL,
	[PORT] [int] NOT NULL,
	[TIMEOUT] [int] NOT NULL,
	[RETRIES] [int] NOT NULL,
	[VM_DISCOVERY] [bit] NOT NULL,
 CONSTRAINT [VICredential_PK] PRIMARY KEY CLUSTERED 
(
	[CRED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_1863283130]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1863283130] ON [dbo].[VICredential]
(
	[CRED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VICredential]  WITH CHECK ADD  CONSTRAINT [VICredential_FK] FOREIGN KEY([CRED_ID])
REFERENCES [dbo].[CredentialManager] ([CREDENTIALID])
GO
ALTER TABLE [dbo].[VICredential] CHECK CONSTRAINT [VICredential_FK]
GO
