USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IpPathEcho]    Script Date: 6/29/2019 5:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpPathEcho](
	[PROBE_ID] [bigint] NOT NULL,
	[PATHECHO_ID] [bigint] NOT NULL,
	[OPERATION_ID] [bigint] NOT NULL,
	[TARGET_ID] [bigint] NOT NULL,
 CONSTRAINT [IpPathEcho_PK] PRIMARY KEY CLUSTERED 
(
	[PROBE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1387557601]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1387557601] ON [dbo].[IpPathEcho]
(
	[TARGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1387557602]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1387557602] ON [dbo].[IpPathEcho]
(
	[PATHECHO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__876043917]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__876043917] ON [dbo].[IpPathEcho]
(
	[PROBE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IpPathEcho]  WITH CHECK ADD  CONSTRAINT [IpPathEcho_FK] FOREIGN KEY([PROBE_ID])
REFERENCES [dbo].[ProbeId] ([PROBE_ID])
GO
ALTER TABLE [dbo].[IpPathEcho] CHECK CONSTRAINT [IpPathEcho_FK]
GO
ALTER TABLE [dbo].[IpPathEcho]  WITH CHECK ADD  CONSTRAINT [IpPathEcho_FK1] FOREIGN KEY([PATHECHO_ID])
REFERENCES [dbo].[ProbeId] ([PROBE_ID])
GO
ALTER TABLE [dbo].[IpPathEcho] CHECK CONSTRAINT [IpPathEcho_FK1]
GO
ALTER TABLE [dbo].[IpPathEcho]  WITH CHECK ADD  CONSTRAINT [IpPathEcho_FK2] FOREIGN KEY([TARGET_ID])
REFERENCES [dbo].[Target] ([TARGET_ID])
GO
ALTER TABLE [dbo].[IpPathEcho] CHECK CONSTRAINT [IpPathEcho_FK2]
GO
