USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ArecaRaidHWMonitor]    Script Date: 6/29/2019 5:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArecaRaidHWMonitor](
	[DEVICE_ID] [bigint] NOT NULL,
	[CTLR_TEMP] [int] NULL,
	[PS_12V] [varchar](50) NULL,
	[PS_5V] [varchar](250) NULL,
	[PS_3V] [varchar](250) NULL,
	[DDR_2V] [varchar](250) NULL,
	[CPU_1V] [varchar](250) NULL,
	[SATACHIP_1V] [varchar](250) NULL,
	[UPS_STATUS] [varchar](250) NULL,
	[BATTERY_STATUS] [varchar](250) NULL,
 CONSTRAINT [ArecaRaidHWMonitor_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_53655644]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_53655644] ON [dbo].[ArecaRaidHWMonitor]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArecaRaidHWMonitor]  WITH CHECK ADD  CONSTRAINT [ArecaRaidHWMonitor_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[ArecaRaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ArecaRaidHWMonitor] CHECK CONSTRAINT [ArecaRaidHWMonitor_FK1]
GO
