USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FoundrySwitch]    Script Date: 6/29/2019 5:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoundrySwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[CPU] [varchar](20) NOT NULL,
	[DRAMSIZE] [varchar](15) NOT NULL,
	[CPUTYPE] [varchar](30) NOT NULL,
	[CPUREVISION] [varchar](20) NOT NULL,
	[BOOTFLASHSIZE] [varchar](15) NOT NULL,
	[CODEFLASHSIZE] [varchar](15) NOT NULL,
 CONSTRAINT [FoundrySwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1439424138]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1439424138] ON [dbo].[FoundrySwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FoundrySwitch] ADD  DEFAULT ('Not Available') FOR [CPU]
GO
ALTER TABLE [dbo].[FoundrySwitch] ADD  DEFAULT ('Not Available') FOR [DRAMSIZE]
GO
ALTER TABLE [dbo].[FoundrySwitch] ADD  DEFAULT ('Not Available') FOR [CPUTYPE]
GO
ALTER TABLE [dbo].[FoundrySwitch] ADD  DEFAULT ('Not Available') FOR [CPUREVISION]
GO
ALTER TABLE [dbo].[FoundrySwitch] ADD  DEFAULT ('Not Available') FOR [BOOTFLASHSIZE]
GO
ALTER TABLE [dbo].[FoundrySwitch] ADD  DEFAULT ('Not Available') FOR [CODEFLASHSIZE]
GO
ALTER TABLE [dbo].[FoundrySwitch]  WITH CHECK ADD  CONSTRAINT [FoundrySwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[FoundrySwitch] CHECK CONSTRAINT [FoundrySwitch_FK1]
GO
