USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SystemLog]    Script Date: 6/29/2019 5:52:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLog](
	[MOID] [bigint] NOT NULL,
	[TRIGGERID] [bigint] NOT NULL,
	[TRIGGERTYPE] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[TYPE] [bigint] NOT NULL,
	[LOGMESSAGE] [text] NOT NULL,
	[LOGENTITY] [varchar](250) NULL,
	[ID] [bigint] NOT NULL,
 CONSTRAINT [SystemLog_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
