USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IPHistory]    Script Date: 6/29/2019 5:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPHistory](
	[ID] [bigint] NOT NULL,
	[IPADDRESS] [varchar](15) NULL,
	[ADDRINLONG] [bigint] NULL,
	[RESOURCEID] [bigint] NULL,
	[DNSNAME] [varchar](150) NULL,
	[LASTUPDATETIME] [datetime] NOT NULL,
 CONSTRAINT [IPHistory_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IPHistory_IDX_1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IPHistory_IDX_1] ON [dbo].[IPHistory]
(
	[ADDRINLONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
