USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DHCPServer]    Script Date: 6/29/2019 5:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHCPServer](
	[SID] [bigint] NOT NULL,
	[DNSNAME] [varchar](150) NOT NULL,
	[IPADDRESS] [varchar](15) NOT NULL,
	[COMMUNITY] [varchar](50) NOT NULL,
	[LASTUPDATETIME] [datetime] NOT NULL,
	[TYPE] [int] NOT NULL,
 CONSTRAINT [DHCPServer_PK] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DHCPServer] ADD  DEFAULT ('1') FOR [TYPE]
GO
