USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ManualDNSMapping]    Script Date: 6/29/2019 5:48:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManualDNSMapping](
	[DNSID] [bigint] NOT NULL,
	[IPADDRESS] [nvarchar](20) NOT NULL,
	[DNSNAME] [nvarchar](96) NOT NULL,
 CONSTRAINT [ManualDNSMapping_PK] PRIMARY KEY CLUSTERED 
(
	[DNSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
