USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ErrorType]    Script Date: 6/29/2019 5:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorType](
	[ERRORTYPE_ID] [int] NOT NULL,
	[ERRORTYPENAME] [varchar](50) NOT NULL,
 CONSTRAINT [ErrorType_PK] PRIMARY KEY CLUSTERED 
(
	[ERRORTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
