USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AvailabilityElementID]    Script Date: 6/29/2019 5:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvailabilityElementID](
	[ELEMENTID] [bigint] NOT NULL,
 CONSTRAINT [AvailabilityElementID_PK] PRIMARY KEY CLUSTERED 
(
	[ELEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1297040904]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1297040904] ON [dbo].[AvailabilityElementID]
(
	[ELEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AvailabilityElementID]  WITH CHECK ADD  CONSTRAINT [AvailabilityElementID_FK] FOREIGN KEY([ELEMENTID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[AvailabilityElementID] CHECK CONSTRAINT [AvailabilityElementID_FK]
GO
