USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DeviceFetcherConfig]    Script Date: 6/29/2019 5:47:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceFetcherConfig](
	[DEVICETYPEID] [bigint] NOT NULL,
	[PROTOCOLID] [bigint] NOT NULL,
	[CONFIG_FILE] [varchar](100) NULL,
	[CLASSNAME] [varchar](100) NULL,
 CONSTRAINT [DeviceFetcherConfig_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICETYPEID] ASC,
	[PROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1342015999]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1342015999] ON [dbo].[DeviceFetcherConfig]
(
	[PROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1342016000]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1342016000] ON [dbo].[DeviceFetcherConfig]
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceFetcherConfig]  WITH CHECK ADD  CONSTRAINT [DeviceFetcherConfig_FK1] FOREIGN KEY([DEVICETYPEID])
REFERENCES [dbo].[DevicePackage] ([DEVICETYPEID])
GO
ALTER TABLE [dbo].[DeviceFetcherConfig] CHECK CONSTRAINT [DeviceFetcherConfig_FK1]
GO
ALTER TABLE [dbo].[DeviceFetcherConfig]  WITH CHECK ADD  CONSTRAINT [DeviceFetcherConfig_FK2] FOREIGN KEY([PROTOCOLID])
REFERENCES [dbo].[PROTOCOLDETAILS] ([PROTOCOLID])
GO
ALTER TABLE [dbo].[DeviceFetcherConfig] CHECK CONSTRAINT [DeviceFetcherConfig_FK2]
GO
