USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VMStorageAdapters]    Script Date: 6/29/2019 5:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMStorageAdapters](
	[ID] [bigint] NOT NULL,
	[STORAGEID] [int] NOT NULL,
	[STORAGENAME] [varchar](250) NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[NUMREADS] [int] NOT NULL,
	[NUMWRITES] [int] NOT NULL,
	[KBREADS] [int] NOT NULL,
	[KBWRITES] [int] NOT NULL,
 CONSTRAINT [VMStorageAdapters_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[STORAGEID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
