USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduledDataTypeIDs]    Script Date: 6/29/2019 5:51:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduledDataTypeIDs](
	[SCHEDULEID] [bigint] NOT NULL,
	[DATATYPEID] [int] NOT NULL,
 CONSTRAINT [ScheduledDataTypeIDs_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2001260748]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2001260748] ON [dbo].[ScheduledDataTypeIDs]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduledDataTypeIDs]  WITH CHECK ADD  CONSTRAINT [ScheduledDataTypeIDs_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleReports] ([SCHEDULEID])
GO
ALTER TABLE [dbo].[ScheduledDataTypeIDs] CHECK CONSTRAINT [ScheduledDataTypeIDs_FK1]
GO
