USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ParentTab]    Script Date: 6/29/2019 5:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentTab](
	[PTAB_ID] [varchar](50) NOT NULL,
	[DISPLAY] [varchar](100) NOT NULL,
	[DISPLAY_I18NKEY] [varchar](100) NULL,
	[VIEW_ORDER] [int] NOT NULL,
 CONSTRAINT [ParentTab_PK] PRIMARY KEY CLUSTERED 
(
	[PTAB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ParentTab_UK1] UNIQUE NONCLUSTERED 
(
	[VIEW_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
