USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiscoverySchedules]    Script Date: 6/29/2019 5:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoverySchedules](
	[NAME] [varchar](250) NOT NULL,
	[SCHEDULENAME] [nvarchar](150) NOT NULL,
	[SCHEDULETYPE] [varchar](250) NOT NULL,
 CONSTRAINT [NetSchedules_PK] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NetSchedules_UK] UNIQUE NONCLUSTERED 
(
	[NAME] ASC,
	[SCHEDULENAME] ASC,
	[SCHEDULETYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_456283020]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_456283020] ON [dbo].[DiscoverySchedules]
(
	[SCHEDULENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoverySchedules]  WITH CHECK ADD  CONSTRAINT [NetSchedules_FK1] FOREIGN KEY([SCHEDULENAME])
REFERENCES [dbo].[Schedule] ([SCHEDULE_NAME])
GO
ALTER TABLE [dbo].[DiscoverySchedules] CHECK CONSTRAINT [NetSchedules_FK1]
GO
