USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCompliancePolicy]    Script Date: 6/29/2019 5:49:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCompliancePolicy](
	[COMPPOLICY_ID] [bigint] NOT NULL,
	[COMPPOLICY_NAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
	[CONFIG_TYPE] [varchar](20) NOT NULL,
	[COMPLIANCE_CRITERIA] [varchar](50) NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_BY] [varchar](50) NOT NULL,
	[MARKED_FOR_DELETE] [bit] NOT NULL,
 CONSTRAINT [NCMCompliancePolicy_PK] PRIMARY KEY CLUSTERED 
(
	[COMPPOLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCompliancePolicy] ADD  DEFAULT ('NO_DESCRIPTION_AVAILABLE') FOR [DESCRIPTION]
GO
ALTER TABLE [dbo].[NCMCompliancePolicy] ADD  DEFAULT ((0)) FOR [MARKED_FOR_DELETE]
GO
