USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IntfUtilThreshold]    Script Date: 6/29/2019 5:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntfUtilThreshold](
	[ID] [bigint] NOT NULL,
	[THRESHOLDVALUE] [real] NOT NULL,
	[REARMVALUE] [real] NOT NULL,
	[THRESHOLDTYPE] [varchar](50) NOT NULL,
	[SEVERITY] [int] NOT NULL,
 CONSTRAINT [IntfUtilThreshold_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[SEVERITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1201713454]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1201713454] ON [dbo].[IntfUtilThreshold]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IntfUtilThreshold] ADD  DEFAULT ('2') FOR [SEVERITY]
GO
ALTER TABLE [dbo].[IntfUtilThreshold]  WITH CHECK ADD  CONSTRAINT [IntfUtilThreshold_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[IntfUtilThreshold] CHECK CONSTRAINT [IntfUtilThreshold_FK]
GO
