USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenEntityMOMap]    Script Date: 6/29/2019 5:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenEntityMOMap](
	[ENTITY_ID] [bigint] NOT NULL,
	[MASTER_ID] [bigint] NOT NULL,
	[UUID] [varchar](150) NOT NULL,
	[ENTITY_TYPE] [varchar](50) NOT NULL,
	[ENTITY_NAME] [varchar](200) NOT NULL,
	[MOID] [bigint] NOT NULL,
 CONSTRAINT [XenEntityMOMap_PK] PRIMARY KEY CLUSTERED 
(
	[ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [XenEntityMOMap_UK0] UNIQUE NONCLUSTERED 
(
	[MASTER_ID] ASC,
	[UUID] ASC,
	[ENTITY_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
