USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ConfigVersions]    Script Date: 6/29/2019 5:46:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigVersions](
	[VERSION_ID] [bigint] NOT NULL,
	[VERSION_NO] [bigint] NOT NULL,
	[RID] [bigint] NOT NULL,
	[FILE_CONTENTS] [varbinary](max) NOT NULL,
	[CHANGED_BY] [nvarchar](100) NOT NULL,
	[ANNOTATION] [nvarchar](4000) NOT NULL,
	[CONFIG_TYPE] [nvarchar](50) NOT NULL,
	[MODIFIED_TIME] [datetime] NOT NULL,
	[DIFF_CONTENTS] [ntext] NOT NULL,
	[DIFF_COUNT] [int] NOT NULL,
 CONSTRAINT [ConfigVersions_PK] PRIMARY KEY CLUSTERED 
(
	[VERSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__2051480491]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2051480491] ON [dbo].[ConfigVersions]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConfigVersions] ADD  DEFAULT ('Not Available') FOR [CHANGED_BY]
GO
ALTER TABLE [dbo].[ConfigVersions] ADD  DEFAULT ('10') FOR [CONFIG_TYPE]
GO
ALTER TABLE [dbo].[ConfigVersions]  WITH CHECK ADD  CONSTRAINT [ConfigVersionToRes_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ConfigVersions] CHECK CONSTRAINT [ConfigVersionToRes_FK]
GO
