USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Dashboard_CollectorMap]    Script Date: 6/29/2019 5:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dashboard_CollectorMap](
	[DASHBOARD_ID] [bigint] NOT NULL,
	[COLLECTOR_ID] [int] NOT NULL,
 CONSTRAINT [Dashboard_CollectorMap_PK] PRIMARY KEY CLUSTERED 
(
	[DASHBOARD_ID] ASC,
	[COLLECTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1285630951]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1285630951] ON [dbo].[Dashboard_CollectorMap]
(
	[COLLECTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dashboard_CollectorMap] ADD  DEFAULT ('0') FOR [DASHBOARD_ID]
GO
ALTER TABLE [dbo].[Dashboard_CollectorMap] ADD  DEFAULT ('0') FOR [COLLECTOR_ID]
GO
ALTER TABLE [dbo].[Dashboard_CollectorMap]  WITH CHECK ADD  CONSTRAINT [Dashboard_CollectorMap_FK1] FOREIGN KEY([COLLECTOR_ID])
REFERENCES [dbo].[Collector_Properties] ([COLLECTOR_ID])
GO
ALTER TABLE [dbo].[Dashboard_CollectorMap] CHECK CONSTRAINT [Dashboard_CollectorMap_FK1]
GO
