USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProximAccessPoint]    Script Date: 6/29/2019 5:50:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProximAccessPoint](
	[RESOURCEID] [bigint] NOT NULL,
	[HARDWAREVERSION] [varchar](15) NOT NULL,
	[BOOTLOADERVERSION] [varchar](15) NOT NULL,
 CONSTRAINT [ProximAccessPoint_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1805014506]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1805014506] ON [dbo].[ProximAccessPoint]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProximAccessPoint] ADD  DEFAULT ('Not Available') FOR [HARDWAREVERSION]
GO
ALTER TABLE [dbo].[ProximAccessPoint] ADD  DEFAULT ('Not Available') FOR [BOOTLOADERVERSION]
GO
ALTER TABLE [dbo].[ProximAccessPoint]  WITH CHECK ADD  CONSTRAINT [ProximAccessPoint_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ProximAccessPoint] CHECK CONSTRAINT [ProximAccessPoint_FK1]
GO
