USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMRuleGroupToRuleMap]    Script Date: 6/29/2019 5:49:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMRuleGroupToRuleMap](
	[COMPRULEGROUP_ID] [bigint] NOT NULL,
	[COMPRULE_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMRuleGroupToRuleMap_PK] PRIMARY KEY CLUSTERED 
(
	[COMPRULEGROUP_ID] ASC,
	[COMPRULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1872379335]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1872379335] ON [dbo].[NCMRuleGroupToRuleMap]
(
	[COMPRULEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1872379336]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1872379336] ON [dbo].[NCMRuleGroupToRuleMap]
(
	[COMPRULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMRuleGroupToRuleMap]  WITH CHECK ADD  CONSTRAINT [NCMRuleGroupToRuleMap_FK1] FOREIGN KEY([COMPRULEGROUP_ID])
REFERENCES [dbo].[NCMCompRuleGroup] ([COMPRULEGROUP_ID])
GO
ALTER TABLE [dbo].[NCMRuleGroupToRuleMap] CHECK CONSTRAINT [NCMRuleGroupToRuleMap_FK1]
GO
ALTER TABLE [dbo].[NCMRuleGroupToRuleMap]  WITH CHECK ADD  CONSTRAINT [NCMRuleGroupToRuleMap_FK2] FOREIGN KEY([COMPRULE_ID])
REFERENCES [dbo].[NCMComplianceRule] ([COMPRULE_ID])
GO
ALTER TABLE [dbo].[NCMRuleGroupToRuleMap] CHECK CONSTRAINT [NCMRuleGroupToRuleMap_FK2]
GO
