USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ObjectSchedulerRUNNABLE]    Script Date: 6/29/2019 5:49:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectSchedulerRUNNABLE](
	[VALUESTRING] [varchar](250) NOT NULL,
	[TIMEVAL] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VALUESTRING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ObjectSchedulerRUNNABLE0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [ObjectSchedulerRUNNABLE0_ndx] ON [dbo].[ObjectSchedulerRUNNABLE]
(
	[TIMEVAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ObjectSchedulerRUNNABLE1_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [ObjectSchedulerRUNNABLE1_ndx] ON [dbo].[ObjectSchedulerRUNNABLE]
(
	[VALUESTRING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
