USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InterfaceConfiguration]    Script Date: 6/29/2019 5:48:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterfaceConfiguration](
	[INTERFACEIDENTIFIER] [varchar](250) NOT NULL,
	[INTERFACEPERSONALITY] [varchar](50) NOT NULL,
 CONSTRAINT [IntfConf_PK] PRIMARY KEY CLUSTERED 
(
	[INTERFACEIDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__776367095]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__776367095] ON [dbo].[InterfaceConfiguration]
(
	[INTERFACEIDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InterfaceConfiguration]  WITH CHECK ADD  CONSTRAINT [IntfConf_FK2] FOREIGN KEY([INTERFACEIDENTIFIER])
REFERENCES [dbo].[DiscoveryConfiguration] ([NAME])
GO
ALTER TABLE [dbo].[InterfaceConfiguration] CHECK CONSTRAINT [IntfConf_FK2]
GO
