USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserToAnomalyFilters]    Script Date: 6/29/2019 5:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserToAnomalyFilters](
	[AF_ID] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
 CONSTRAINT [UserToAnomalyFilters_PK] PRIMARY KEY CLUSTERED 
(
	[AF_ID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2029020884]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2029020884] ON [dbo].[UserToAnomalyFilters]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2029020885]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2029020885] ON [dbo].[UserToAnomalyFilters]
(
	[AF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserToAnomalyFilters]  WITH CHECK ADD  CONSTRAINT [UserToAnomalyFilters_FK1] FOREIGN KEY([AF_ID])
REFERENCES [dbo].[AnomalyFilters] ([AF_ID])
GO
ALTER TABLE [dbo].[UserToAnomalyFilters] CHECK CONSTRAINT [UserToAnomalyFilters_FK1]
GO
ALTER TABLE [dbo].[UserToAnomalyFilters]  WITH CHECK ADD  CONSTRAINT [UserToAnomalyFilters_FK2] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[UserToAnomalyFilters] CHECK CONSTRAINT [UserToAnomalyFilters_FK2]
GO
