USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaAccUserProfile]    Script Date: 6/29/2019 5:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaAccUserProfile](
	[ACCOUNT_ID] [bigint] NOT NULL,
	[SESSION_TIMEOUT] [int] NOT NULL,
 CONSTRAINT [AaaAccUserProfile_PK] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1591218694]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1591218694] ON [dbo].[AaaAccUserProfile]
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaAccUserProfile] ADD  DEFAULT ('10') FOR [SESSION_TIMEOUT]
GO
ALTER TABLE [dbo].[AaaAccUserProfile]  WITH CHECK ADD  CONSTRAINT [AaaAccUserProfile_FK] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[AaaAccount] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[AaaAccUserProfile] CHECK CONSTRAINT [AaaAccUserProfile_FK]
GO
