USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourcesUserInput]    Script Date: 6/29/2019 5:49:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourcesUserInput](
	[RESOURCEID] [bigint] NOT NULL,
	[PROTOCOLID] [bigint] NOT NULL,
	[PROPERTYNAME] [varchar](250) NOT NULL,
	[PROPERTYVALUE] [varbinary](max) NULL,
 CONSTRAINT [NCMResourcesUserInput_PK1] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC,
	[PROTOCOLID] ASC,
	[PROPERTYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__936648768]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__936648768] ON [dbo].[NCMResourcesUserInput]
(
	[PROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__936648769]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__936648769] ON [dbo].[NCMResourcesUserInput]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourcesUserInput]  WITH CHECK ADD  CONSTRAINT [NCMResourcesUserInput_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMDevices] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMResourcesUserInput] CHECK CONSTRAINT [NCMResourcesUserInput_FK1]
GO
ALTER TABLE [dbo].[NCMResourcesUserInput]  WITH CHECK ADD  CONSTRAINT [NCMResourcesUserInput_FK2] FOREIGN KEY([PROTOCOLID])
REFERENCES [dbo].[NCMProtocol] ([PROTOCOLID])
GO
ALTER TABLE [dbo].[NCMResourcesUserInput] CHECK CONSTRAINT [NCMResourcesUserInput_FK2]
GO
