USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetAppSDKAggrToVol]    Script Date: 6/29/2019 5:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetAppSDKAggrToVol](
	[RAID_ID] [bigint] NOT NULL,
	[AGGREGATE_NAME] [varchar](160) NOT NULL,
	[VOLUME_NAME] [varchar](160) NOT NULL,
 CONSTRAINT [NetAppSDKAggrToVol_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[AGGREGATE_NAME] ASC,
	[VOLUME_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_734941310]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_734941310] ON [dbo].[NetAppSDKAggrToVol]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetAppSDKAggrToVol]  WITH CHECK ADD  CONSTRAINT [NetAppSDKAggrToVol_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[NetAppSDKAggrToVol] CHECK CONSTRAINT [NetAppSDKAggrToVol_FK1]
GO
