USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SPMSwitchSettings]    Script Date: 6/29/2019 5:51:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPMSwitchSettings](
	[CONFIG_ID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[ISSHOWVIPMESSG] [int] NOT NULL,
	[LOCATIONNOTCONFIG] [int] NOT NULL,
	[MACWITHOUTIP] [int] NOT NULL,
	[MISSMATCHCOUNT] [int] NOT NULL,
	[IFTABLEIFINDEX] [int] NOT NULL,
	[NULLMACCOUNT] [int] NOT NULL,
 CONSTRAINT [SPMSwitchSettings_PK] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1828491997]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1828491997] ON [dbo].[SPMSwitchSettings]
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_848677109]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_848677109] ON [dbo].[SPMSwitchSettings]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SPMSwitchSettings] ADD  DEFAULT ('admin') FOR [NAME]
GO
ALTER TABLE [dbo].[SPMSwitchSettings] ADD  DEFAULT ('1') FOR [ISSHOWVIPMESSG]
GO
ALTER TABLE [dbo].[SPMSwitchSettings] ADD  DEFAULT ('1') FOR [LOCATIONNOTCONFIG]
GO
ALTER TABLE [dbo].[SPMSwitchSettings] ADD  DEFAULT ('1') FOR [MACWITHOUTIP]
GO
ALTER TABLE [dbo].[SPMSwitchSettings] ADD  DEFAULT ('0') FOR [MISSMATCHCOUNT]
GO
ALTER TABLE [dbo].[SPMSwitchSettings] ADD  DEFAULT ('1') FOR [IFTABLEIFINDEX]
GO
ALTER TABLE [dbo].[SPMSwitchSettings] ADD  DEFAULT ('1') FOR [NULLMACCOUNT]
GO
ALTER TABLE [dbo].[SPMSwitchSettings]  WITH CHECK ADD  CONSTRAINT [SPMSwitchSettings_FK] FOREIGN KEY([CONFIG_ID])
REFERENCES [dbo].[SPMInputConfig] ([CONFIG_ID])
GO
ALTER TABLE [dbo].[SPMSwitchSettings] CHECK CONSTRAINT [SPMSwitchSettings_FK]
GO
ALTER TABLE [dbo].[SPMSwitchSettings]  WITH CHECK ADD  CONSTRAINT [SPMSwitchSettings_FK2] FOREIGN KEY([NAME])
REFERENCES [dbo].[OpUser] ([NAME])
GO
ALTER TABLE [dbo].[SPMSwitchSettings] CHECK CONSTRAINT [SPMSwitchSettings_FK2]
GO
