USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ComplianceStatusSummary]    Script Date: 6/29/2019 5:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplianceStatusSummary](
	[COM_STATUS_ID] [bigint] NOT NULL,
	[RID] [bigint] NOT NULL,
	[FWA_SECTION_ID] [bigint] NOT NULL,
	[STATUS] [nvarchar](10) NULL,
	[VERSION_NO] [bigint] NOT NULL,
	[LAST_GENERATED] [nvarchar](100) NULL,
	[COMPLIANCE_TYPE] [nvarchar](50) NOT NULL,
 CONSTRAINT [ComplianceStatusSummary_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC,
	[FWA_SECTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ComplianceStatusSummary_UK0] UNIQUE NONCLUSTERED 
(
	[COM_STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1992638041]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1992638041] ON [dbo].[ComplianceStatusSummary]
(
	[FWA_SECTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1992638042]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1992638042] ON [dbo].[ComplianceStatusSummary]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComplianceStatusSummary]  WITH CHECK ADD  CONSTRAINT [ComplianceStatusSummary_FK1] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ComplianceStatusSummary] CHECK CONSTRAINT [ComplianceStatusSummary_FK1]
GO
ALTER TABLE [dbo].[ComplianceStatusSummary]  WITH CHECK ADD  CONSTRAINT [ComplianceStatusSummary_FK2] FOREIGN KEY([FWA_SECTION_ID])
REFERENCES [dbo].[FWAComplianceSectionDetails] ([FWA_SECTION_ID])
GO
ALTER TABLE [dbo].[ComplianceStatusSummary] CHECK CONSTRAINT [ComplianceStatusSummary_FK2]
GO
