USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WidgetWanMonitorDetails]    Script Date: 6/29/2019 5:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WidgetWanMonitorDetails](
	[ASSOCIATIONID] [bigint] NOT NULL,
	[PROBEID] [bigint] NOT NULL,
 CONSTRAINT [WidgetWanMonitorDetails_PK] PRIMARY KEY CLUSTERED 
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [WidgetWanMonitorDetails_UK1] UNIQUE NONCLUSTERED 
(
	[PROBEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1232725724]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1232725724] ON [dbo].[WidgetWanMonitorDetails]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WidgetWanMonitorDetails]  WITH CHECK ADD  CONSTRAINT [WidgetWanMonitorDetails_FK] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[WidgetAssociation] ([ASSOCIATIONID])
GO
ALTER TABLE [dbo].[WidgetWanMonitorDetails] CHECK CONSTRAINT [WidgetWanMonitorDetails_FK]
GO
