USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BaseTopoTreeNode]    Script Date: 6/29/2019 5:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaseTopoTreeNode](
	[CONTAINERNAME] [varchar](50) NULL,
	[NODEID] [bigint] NOT NULL,
 CONSTRAINT [BaseTopoTreeNode_PK] PRIMARY KEY CLUSTERED 
(
	[NODEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
