USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNXDeduplication]    Script Date: 6/29/2019 5:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNXDeduplication](
	[RAID_ID] [bigint] NOT NULL,
	[FILE_SYSTEM_ID] [varchar](250) NOT NULL,
	[FILE_SYSTEM_NAME] [varchar](250) NOT NULL,
	[DEDUPLICATION_STATE] [varchar](250) NOT NULL,
	[STATUS] [varchar](250) NOT NULL,
	[LAST_FILE_SCAN] [varchar](250) NOT NULL,
	[NUM_FILES_SCANNED] [varchar](250) NULL,
	[NUM_FILES_DEDUPED] [varchar](250) NULL,
	[FILE_SYSTEM_CAPACITY] [varchar](250) NOT NULL,
	[USED_CAPACITY] [varchar](250) NOT NULL,
	[SPACE_SAVED] [varchar](250) NOT NULL,
	[CASE_SENSITIVE] [varchar](250) NULL,
	[DUPLICATE_DETECTION_METHOD] [varchar](250) NULL,
	[ACCESS_TIME] [varchar](250) NULL,
	[MODIFICATION_TIME] [varchar](250) NOT NULL,
	[MINIMUM_SIZE] [varchar](250) NOT NULL,
	[MAXIMUM_SIZE] [varchar](250) NOT NULL,
	[FILE_EXCLUDED_LIST] [varchar](250) NULL,
	[MINIMUM_SCAN_INTERVAL] [varchar](250) NULL,
	[SAVVOL_THRESHOLD] [varchar](250) NULL,
	[BACKUP_DATA_THRESHOLD] [varchar](250) NOT NULL,
	[CIFS_COMPRESSION] [varchar](250) NOT NULL,
	[EXCLUDED_PATH_LIST] [varchar](250) NOT NULL,
	[COMPRESSION_METHOD] [varchar](250) NULL,
 CONSTRAINT [VNXDeduplication_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[FILE_SYSTEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_366217975]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_366217975] ON [dbo].[VNXDeduplication]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNXDeduplication]  WITH CHECK ADD  CONSTRAINT [VNXDeduplication_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXDeduplication] CHECK CONSTRAINT [VNXDeduplication_FK]
GO
