USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ServerStatus]    Script Date: 6/29/2019 5:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServerStatus](
	[SERVERID] [bigint] NOT NULL,
	[SERVERNAME] [varchar](100) NOT NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [ServerStatus_PK] PRIMARY KEY CLUSTERED 
(
	[SERVERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ServerStatus_UK1] UNIQUE NONCLUSTERED 
(
	[SERVERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
