USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NFAWidgetType]    Script Date: 6/29/2019 5:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFAWidgetType](
	[TYPEID] [bigint] NOT NULL,
	[TYPENAME] [varchar](100) NOT NULL,
 CONSTRAINT [NFAWidgetType_PK] PRIMARY KEY CLUSTERED 
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
