USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VENDORGRAPHDETAILS]    Script Date: 6/29/2019 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDORGRAPHDETAILS](
	[VENDORID] [bigint] NOT NULL,
	[GRAPHID] [bigint] NOT NULL,
 CONSTRAINT [VENDORGRAPHDETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[VENDORID] ASC,
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1252248630]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1252248630] ON [dbo].[VENDORGRAPHDETAILS]
(
	[VENDORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1252248631]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1252248631] ON [dbo].[VENDORGRAPHDETAILS]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDORGRAPHDETAILS]  WITH CHECK ADD  CONSTRAINT [VENDORGRAPHDETAILS_FK1] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[VENDORGRAPHDETAILS] CHECK CONSTRAINT [VENDORGRAPHDETAILS_FK1]
GO
ALTER TABLE [dbo].[VENDORGRAPHDETAILS]  WITH CHECK ADD  CONSTRAINT [VENDORGRAPHDETAILS_FK2] FOREIGN KEY([VENDORID])
REFERENCES [dbo].[VENDORDETAILS] ([VENDORID])
GO
ALTER TABLE [dbo].[VENDORGRAPHDETAILS] CHECK CONSTRAINT [VENDORGRAPHDETAILS_FK2]
GO
