USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProcessTemplates]    Script Date: 6/29/2019 5:50:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessTemplates](
	[TID] [bigint] NOT NULL,
	[TEMPLATENAME] [varchar](100) NOT NULL,
	[DISPLAYNAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](100) NOT NULL,
	[EXECUTABLEPATH] [varchar](250) NOT NULL,
	[ARGUMENTS] [varchar](4000) NOT NULL,
	[MATCHPATH] [bit] NOT NULL,
	[MATCHARGS] [bit] NOT NULL,
	[PROTOCOL] [varchar](10) NOT NULL,
 CONSTRAINT [ProcessTemplates_PK] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__503267462]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__503267462] ON [dbo].[ProcessTemplates]
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProcessTemplates]  WITH CHECK ADD  CONSTRAINT [ProcessTemplates_FK] FOREIGN KEY([TID])
REFERENCES [dbo].[COMMONPOLLEDDATAID] ([COMMONPOLLID])
GO
ALTER TABLE [dbo].[ProcessTemplates] CHECK CONSTRAINT [ProcessTemplates_FK]
GO
