USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TestCredentialDeviceMap]    Script Date: 6/29/2019 5:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCredentialDeviceMap](
	[PROFILEID] [bigint] NOT NULL,
	[DEVICENAME] [varchar](250) NOT NULL,
	[MOID] [bigint] NOT NULL,
 CONSTRAINT [TestCredentialDeviceMap_PK] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC,
	[DEVICENAME] ASC,
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_51898186]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_51898186] ON [dbo].[TestCredentialDeviceMap]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_51898187]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_51898187] ON [dbo].[TestCredentialDeviceMap]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestCredentialDeviceMap]  WITH CHECK ADD  CONSTRAINT [TestCredentialDeviceMap_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[TestCredentialProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[TestCredentialDeviceMap] CHECK CONSTRAINT [TestCredentialDeviceMap_FK1]
GO
ALTER TABLE [dbo].[TestCredentialDeviceMap]  WITH CHECK ADD  CONSTRAINT [TestCredentialDeviceMap_FK2] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[TestCredentialDeviceMap] CHECK CONSTRAINT [TestCredentialDeviceMap_FK2]
GO
