USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SocialGroups]    Script Date: 6/29/2019 5:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialGroups](
	[ID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[ADMINID] [bigint] NOT NULL,
	[STATUS] [varchar](250) NOT NULL,
	[CREATED_TIME] [bigint] NOT NULL,
	[MODIFIED_TIME] [bigint] NOT NULL,
 CONSTRAINT [SocialGroups_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [SocialGroups_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SocialGroups] ADD  DEFAULT ('active') FOR [STATUS]
GO
