USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InfortrendRaidLunInfo]    Script Date: 6/29/2019 5:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfortrendRaidLunInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[LUN_INDEX] [int] NOT NULL,
	[LUN_CHLNUM] [int] NOT NULL,
	[LUN_ID] [int] NULL,
	[LUN_NUM] [int] NULL,
	[LUN_LDLVID] [int] NULL,
	[LUN_PARTIDX] [int] NULL,
 CONSTRAINT [InfortrendRaidLunInfo_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[LUN_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_684966461]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_684966461] ON [dbo].[InfortrendRaidLunInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InfortrendRaidLunInfo]  WITH CHECK ADD  CONSTRAINT [InfortrendRaidLunInfo_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[InfortrendRaidLunInfo] CHECK CONSTRAINT [InfortrendRaidLunInfo_FK1]
GO
