USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCM_UserDetails]    Script Date: 6/29/2019 5:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCM_UserDetails](
	[USERID] [bigint] NOT NULL,
	[DEPT] [varchar](250) NULL,
	[LOCATION] [varchar](250) NULL,
 CONSTRAINT [NCM_UserDetails_PK] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__773715299]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__773715299] ON [dbo].[NCM_UserDetails]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCM_UserDetails] ADD  DEFAULT ('Location') FOR [LOCATION]
GO
ALTER TABLE [dbo].[NCM_UserDetails]  WITH CHECK ADD  CONSTRAINT [NCM_UserDetails_FK1] FOREIGN KEY([USERID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[NCM_UserDetails] CHECK CONSTRAINT [NCM_UserDetails_FK1]
GO
