USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSPolledData]    Script Date: 6/29/2019 5:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSPolledData](
	[COLLECTDATAID] [bigint] NOT NULL,
	[COLLECTDATANAME] [varchar](250) NOT NULL,
	[CLASSID] [int] NOT NULL,
	[EXPRESSION] [varchar](250) NOT NULL,
 CONSTRAINT [UCSPolledData_PK1] PRIMARY KEY CLUSTERED 
(
	[COLLECTDATAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UCSPolledData_UK0] UNIQUE NONCLUSTERED 
(
	[COLLECTDATANAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1116084326]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1116084326] ON [dbo].[UCSPolledData]
(
	[CLASSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UCSPolledData]  WITH CHECK ADD  CONSTRAINT [UCSPolledData_FK1] FOREIGN KEY([CLASSID])
REFERENCES [dbo].[UCSClass] ([CLASSID])
GO
ALTER TABLE [dbo].[UCSPolledData] CHECK CONSTRAINT [UCSPolledData_FK1]
GO
