USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourceConfigFile]    Script Date: 6/29/2019 5:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourceConfigFile](
	[RESOURCEID] [bigint] NOT NULL,
	[FILE_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMResourceConfigFile_PK] PRIMARY KEY CLUSTERED 
(
	[FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1089927936]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1089927936] ON [dbo].[NCMResourceConfigFile]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_571972401]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_571972401] ON [dbo].[NCMResourceConfigFile]
(
	[FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourceConfigFile]  WITH CHECK ADD  CONSTRAINT [NCMResourceConfigFile_FK] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMDevices] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMResourceConfigFile] CHECK CONSTRAINT [NCMResourceConfigFile_FK]
GO
ALTER TABLE [dbo].[NCMResourceConfigFile]  WITH CHECK ADD  CONSTRAINT [NCMResourceConfigFile_FK1] FOREIGN KEY([FILE_ID])
REFERENCES [dbo].[NCMConfigFile] ([FILE_ID])
GO
ALTER TABLE [dbo].[NCMResourceConfigFile] CHECK CONSTRAINT [NCMResourceConfigFile_FK1]
GO
