USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SchToSchedulerMap]    Script Date: 6/29/2019 5:51:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchToSchedulerMap](
	[SCHEDULEID] [bigint] NOT NULL,
	[SCHEDULERID] [bigint] NOT NULL,
 CONSTRAINT [SchToScheduler_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC,
	[SCHEDULERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__145732577]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__145732577] ON [dbo].[SchToSchedulerMap]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__48774452]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__48774452] ON [dbo].[SchToSchedulerMap]
(
	[SCHEDULERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SchToSchedulerMap]  WITH CHECK ADD  CONSTRAINT [Schedulemap_Fk] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleDetails] ([ID])
GO
ALTER TABLE [dbo].[SchToSchedulerMap] CHECK CONSTRAINT [Schedulemap_Fk]
GO
ALTER TABLE [dbo].[SchToSchedulerMap]  WITH CHECK ADD  CONSTRAINT [Scheduler_map_Fk] FOREIGN KEY([SCHEDULERID])
REFERENCES [dbo].[Schedule] ([SCHEDULE_ID])
GO
ALTER TABLE [dbo].[SchToSchedulerMap] CHECK CONSTRAINT [Scheduler_map_Fk]
GO
