USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorageTargetTypeConstants]    Script Date: 6/29/2019 5:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageTargetTypeConstants](
	[STORAGE_TYPE_ID] [bigint] NOT NULL,
	[TYPE_DESCRIPTION] [varchar](100) NOT NULL,
 CONSTRAINT [StorageTargetTypeConstants_PK] PRIMARY KEY CLUSTERED 
(
	[STORAGE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
