USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LUNOperationalStateCons]    Script Date: 6/29/2019 5:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUNOperationalStateCons](
	[LUNSTATUS_ID] [bigint] NOT NULL,
	[STATUS_DESC] [varchar](100) NOT NULL,
 CONSTRAINT [LUNOperationalStateCons_PK] PRIMARY KEY CLUSTERED 
(
	[LUNSTATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
