USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPEVAControllerFan]    Script Date: 6/29/2019 5:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPEVAControllerFan](
	[DEVICE_ID] [bigint] NOT NULL,
	[FAN_NAME] [varchar](250) NOT NULL,
	[INSTALLED] [varchar](250) NULL,
	[SET_SPEED] [varchar](250) NULL,
	[ACTUAL_SPEED] [varchar](250) NULL,
 CONSTRAINT [HPEVACONTROLLERFAN_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[FAN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_281936636]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_281936636] ON [dbo].[HPEVAControllerFan]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPEVAControllerFan]  WITH CHECK ADD  CONSTRAINT [HPEVACONTROLLERFAN_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[HPEVARaidController] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPEVAControllerFan] CHECK CONSTRAINT [HPEVACONTROLLERFAN_FK1]
GO
