USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMComplianceCustomReports]    Script Date: 6/29/2019 5:49:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMComplianceCustomReports](
	[COMP_CUSTOMREPORTID] [bigint] NOT NULL,
	[COMP_CRITERIA] [bigint] NULL,
 CONSTRAINT [NCMComplianceCustomReports_PK] PRIMARY KEY CLUSTERED 
(
	[COMP_CUSTOMREPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1724418519]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1724418519] ON [dbo].[NCMComplianceCustomReports]
(
	[COMP_CRITERIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1724418520]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1724418520] ON [dbo].[NCMComplianceCustomReports]
(
	[COMP_CUSTOMREPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMComplianceCustomReports]  WITH CHECK ADD  CONSTRAINT [NCMComplianceCustomReports_FK1] FOREIGN KEY([COMP_CUSTOMREPORTID])
REFERENCES [dbo].[NCMCustomReports] ([CUSTOMREPORTID])
GO
ALTER TABLE [dbo].[NCMComplianceCustomReports] CHECK CONSTRAINT [NCMComplianceCustomReports_FK1]
GO
ALTER TABLE [dbo].[NCMComplianceCustomReports]  WITH CHECK ADD  CONSTRAINT [NCMComplianceCustomReports_FK2] FOREIGN KEY([COMP_CRITERIA])
REFERENCES [dbo].[SelectQuery] ([QUERYID])
GO
ALTER TABLE [dbo].[NCMComplianceCustomReports] CHECK CONSTRAINT [NCMComplianceCustomReports_FK2]
GO
