USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HyperVVMCPUInstance]    Script Date: 6/29/2019 5:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HyperVVMCPUInstance](
	[VMID] [bigint] NOT NULL,
	[CPUNAME] [varchar](250) NOT NULL,
 CONSTRAINT [HyperVVMCPUInstance_PK] PRIMARY KEY CLUSTERED 
(
	[VMID] ASC,
	[CPUNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_315877673]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_315877673] ON [dbo].[HyperVVMCPUInstance]
(
	[VMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HyperVVMCPUInstance]  WITH CHECK ADD  CONSTRAINT [HyperVVMCPUInstance_FK1] FOREIGN KEY([VMID])
REFERENCES [dbo].[HyperVVMProps] ([VMID])
GO
ALTER TABLE [dbo].[HyperVVMCPUInstance] CHECK CONSTRAINT [HyperVVMCPUInstance_FK1]
GO
