USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DeviceInfoProfiles]    Script Date: 6/29/2019 5:47:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceInfoProfiles](
	[DIPID] [bigint] NOT NULL,
	[PROFILENAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[PROTOCOL] [int] NOT NULL,
 CONSTRAINT [DeviceInfoProfiles_PK] PRIMARY KEY CLUSTERED 
(
	[DIPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DeviceInfoProfiles_UK1] UNIQUE NONCLUSTERED 
(
	[PROFILENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
