USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMSInfoAssociation]    Script Date: 6/29/2019 5:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSInfoAssociation](
	[SMS_ID] [bigint] NOT NULL,
	[ASSOCIATION_ID] [bigint] NOT NULL,
 CONSTRAINT [SMSInfoAssociation_PK] PRIMARY KEY CLUSTERED 
(
	[SMS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__841206073]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__841206073] ON [dbo].[SMSInfoAssociation]
(
	[SMS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMSInfoAssociation]  WITH CHECK ADD  CONSTRAINT [SMSInfoAssociation_FK1] FOREIGN KEY([SMS_ID])
REFERENCES [dbo].[SMSInfo] ([SMS_ID])
GO
ALTER TABLE [dbo].[SMSInfoAssociation] CHECK CONSTRAINT [SMSInfoAssociation_FK1]
GO
