USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Attachment_Input]    Script Date: 6/29/2019 5:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachment_Input](
	[INPUT_ID] [bigint] NOT NULL,
	[FILE_PATH] [varchar](150) NOT NULL,
	[FILE_TYPE] [varchar](40) NOT NULL,
 CONSTRAINT [Attachment_Input_PK] PRIMARY KEY CLUSTERED 
(
	[INPUT_ID] ASC,
	[FILE_PATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_961094902]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_961094902] ON [dbo].[Attachment_Input]
(
	[INPUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attachment_Input] ADD  DEFAULT ('No Type') FOR [FILE_TYPE]
GO
ALTER TABLE [dbo].[Attachment_Input]  WITH CHECK ADD  CONSTRAINT [Attachment_Input_FK] FOREIGN KEY([INPUT_ID])
REFERENCES [dbo].[Email_Task_Input] ([INPUT_ID])
GO
ALTER TABLE [dbo].[Attachment_Input] CHECK CONSTRAINT [Attachment_Input_FK]
GO
