USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ACLList]    Script Date: 6/29/2019 5:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACLList](
	[ACL_ID] [int] NOT NULL,
	[ACL_NAME] [varchar](100) NOT NULL,
	[ACL_TYPE] [varchar](50) NOT NULL,
	[ROUTER_ID] [int] NOT NULL,
	[MATCH_CRITERIA] [varchar](500) NULL,
 CONSTRAINT [ACLList_PK] PRIMARY KEY CLUSTERED 
(
	[ACL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
