USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DscpGroupMap]    Script Date: 6/29/2019 5:47:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DscpGroupMap](
	[GROUP_ID] [int] NOT NULL,
	[CODE_POINTS] [int] NOT NULL,
 CONSTRAINT [DscpGroupMap_PK] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC,
	[CODE_POINTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1957663467]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1957663467] ON [dbo].[DscpGroupMap]
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DscpGroupMap]  WITH CHECK ADD  CONSTRAINT [DscpGroupMap_FK] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[DscpGroupInfo] ([GROUP_ID])
GO
ALTER TABLE [dbo].[DscpGroupMap] CHECK CONSTRAINT [DscpGroupMap_FK]
GO
