USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LUNProps]    Script Date: 6/29/2019 5:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUNProps](
	[LUN_ID] [bigint] NOT NULL,
	[VHOST_ID] [bigint] NOT NULL,
	[LUN_UUID] [varchar](150) NOT NULL,
	[LUN_DISPLAYNAME] [varchar](150) NULL,
	[CANONICAL_NAME] [varchar](150) NOT NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
	[OPERATIONAL_STATE] [bigint] NULL,
	[LUN_INDEX] [int] NULL,
	[LUN_SERIALNUMBER] [varchar](50) NULL,
	[SCSI_LEVEL] [int] NULL,
	[LUN_MODEL] [varchar](100) NULL,
	[LUN_VENDOR] [varchar](50) NULL,
	[CAPACITY_MB] [bigint] NULL,
	[LUN_MULTIPATH_POLICYID] [int] NULL,
 CONSTRAINT [LUNProps_PK] PRIMARY KEY CLUSTERED 
(
	[LUN_ID] ASC,
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1948834392]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1948834392] ON [dbo].[LUNProps]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LUNProps]  WITH CHECK ADD  CONSTRAINT [LUNProps_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VHostProps] ([VHOST_ID])
GO
ALTER TABLE [dbo].[LUNProps] CHECK CONSTRAINT [LUNProps_FK1]
GO
