USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WOL_MAC_List]    Script Date: 6/29/2019 5:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WOL_MAC_List](
	[MAC_ADDRESS] [varchar](17) NOT NULL,
	[IPADDRESS] [varchar](15) NULL,
	[NETWORKADDRESS] [varchar](15) NULL,
	[SUBNET_MASK] [varchar](17) NULL,
	[LAST_UPDATE] [varchar](60) NULL,
	[STATUS] [varchar](100) NULL,
 CONSTRAINT [WOL_MAC_List_PK] PRIMARY KEY CLUSTERED 
(
	[MAC_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
