USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMExecutionGroupInfo]    Script Date: 6/29/2019 5:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMExecutionGroupInfo](
	[EXECUTIONGROUPID] [bigint] NOT NULL,
	[SEQUENCEID] [int] NOT NULL,
	[RECORDID] [varchar](250) NOT NULL,
	[INTERACTIONSPECID] [varchar](150) NOT NULL,
	[DELAY] [bigint] NOT NULL,
	[CLOSECONNECTION] [bit] NOT NULL,
	[ERROR_CODE] [varchar](200) NOT NULL,
	[IS_ITERATIVE] [bit] NOT NULL,
	[ITERATIVE_KEY] [varchar](50) NULL,
 CONSTRAINT [NCMExecutionGroupInfo_PK] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONGROUPID] ASC,
	[SEQUENCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1107727290]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1107727290] ON [dbo].[NCMExecutionGroupInfo]
(
	[EXECUTIONGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1107727291]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1107727291] ON [dbo].[NCMExecutionGroupInfo]
(
	[RECORDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1107727292]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1107727292] ON [dbo].[NCMExecutionGroupInfo]
(
	[INTERACTIONSPECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1107727293]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1107727293] ON [dbo].[NCMExecutionGroupInfo]
(
	[ERROR_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMExecutionGroupInfo] ADD  DEFAULT ('0') FOR [DELAY]
GO
ALTER TABLE [dbo].[NCMExecutionGroupInfo] ADD  DEFAULT ((0)) FOR [CLOSECONNECTION]
GO
ALTER TABLE [dbo].[NCMExecutionGroupInfo] ADD  DEFAULT ('NOT_SUPPORTED_COMMAND_FAILURE') FOR [ERROR_CODE]
GO
ALTER TABLE [dbo].[NCMExecutionGroupInfo] ADD  DEFAULT ((0)) FOR [IS_ITERATIVE]
GO
ALTER TABLE [dbo].[NCMExecutionGroupInfo]  WITH CHECK ADD  CONSTRAINT [NCMExecutionGroupInfo_FK1] FOREIGN KEY([EXECUTIONGROUPID])
REFERENCES [dbo].[NCMExecutionGroup] ([EXECUTIONGROUPID])
GO
ALTER TABLE [dbo].[NCMExecutionGroupInfo] CHECK CONSTRAINT [NCMExecutionGroupInfo_FK1]
GO
ALTER TABLE [dbo].[NCMExecutionGroupInfo]  WITH CHECK ADD  CONSTRAINT [NCMExecutionGroupInfo_FK2] FOREIGN KEY([RECORDID])
REFERENCES [dbo].[Record] ([RecordID])
GO
ALTER TABLE [dbo].[NCMExecutionGroupInfo] CHECK CONSTRAINT [NCMExecutionGroupInfo_FK2]
GO
ALTER TABLE [dbo].[NCMExecutionGroupInfo]  WITH CHECK ADD  CONSTRAINT [NCMExecutionGroupInfo_FK3] FOREIGN KEY([INTERACTIONSPECID])
REFERENCES [dbo].[InteractionSpec] ([InteractionID])
GO
ALTER TABLE [dbo].[NCMExecutionGroupInfo] CHECK CONSTRAINT [NCMExecutionGroupInfo_FK3]
GO
ALTER TABLE [dbo].[NCMExecutionGroupInfo]  WITH CHECK ADD  CONSTRAINT [NCMExecutionGroupInfo_FK4] FOREIGN KEY([ERROR_CODE])
REFERENCES [dbo].[NCMErrorCode] ([ERROR_CODE])
GO
ALTER TABLE [dbo].[NCMExecutionGroupInfo] CHECK CONSTRAINT [NCMExecutionGroupInfo_FK4]
GO
