USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FAArchivedFiles]    Script Date: 6/29/2019 5:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAArchivedFiles](
	[AFID] [bigint] NOT NULL,
	[RID] [bigint] NULL,
	[FILE_NAME] [nvarchar](255) NOT NULL,
	[START_TIME] [bigint] NULL,
	[ARCHIVED_TIME] [bigint] NULL,
	[SIZE] [bigint] NULL,
	[IMPORTED] [bit] NULL,
	[STATUS] [bigint] NULL,
	[TABLE_NAME] [nvarchar](100) NULL,
	[LOG_STARTTIME] [bigint] NULL,
	[LOG_ENDTIME] [bigint] NULL,
	[INDEXALL_STATUS] [bigint] NOT NULL,
 CONSTRAINT [FAArchivedFiles_PK] PRIMARY KEY CLUSTERED 
(
	[AFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__287481708]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__287481708] ON [dbo].[FAArchivedFiles]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FAArchivedFiles] ADD  DEFAULT ((0)) FOR [IMPORTED]
GO
ALTER TABLE [dbo].[FAArchivedFiles] ADD  DEFAULT ('0') FOR [INDEXALL_STATUS]
GO
ALTER TABLE [dbo].[FAArchivedFiles]  WITH CHECK ADD  CONSTRAINT [FAArchivedFilesToResources_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[FAArchivedFiles] CHECK CONSTRAINT [FAArchivedFilesToResources_FK]
GO
