USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARNode]    Script Date: 6/29/2019 5:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARNode](
	[NODE_ID] [bigint] NOT NULL,
	[NODE_NAME] [varchar](250) NOT NULL,
	[IS_MASTER] [varchar](250) NOT NULL,
	[IS_ONLINE] [varchar](250) NOT NULL,
	[IS_IN_CLUSTER] [varchar](250) NOT NULL,
	[KERNEL_VERSION] [varchar](250) NOT NULL,
	[BIOS_VERSION] [varchar](250) NOT NULL,
	[SYSTEM_LED_STATUS] [varchar](250) NOT NULL,
	[CACHE_PERCENTAGE] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARNode_PK] PRIMARY KEY CLUSTERED 
(
	[NODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1235322572]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1235322572] ON [dbo].[HP3PARNode]
(
	[NODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARNode]  WITH CHECK ADD  CONSTRAINT [HP3PARNode_FK] FOREIGN KEY([NODE_ID])
REFERENCES [dbo].[RaidController] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HP3PARNode] CHECK CONSTRAINT [HP3PARNode_FK]
GO
