USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarBrickNode]    Script Date: 6/29/2019 5:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarBrickNode](
	[PILLAR_ID] [bigint] NOT NULL,
	[BRICK_INSTANCE] [int] NOT NULL,
	[NODE_INSTANCE] [int] NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[FQN] [varchar](250) NULL,
	[STORAGE_DOMAIN_ID] [varchar](250) NULL,
	[STORAGE_DOMAIN_FQN] [varchar](250) NULL,
	[MEDIA_TYPE] [varchar](250) NULL,
	[STORAGE_CLASS] [varchar](250) NULL,
 CONSTRAINT [PillarBrickNode_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2136490251]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2136490251] ON [dbo].[PillarBrickNode]
(
	[PILLAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarBrickNode]  WITH CHECK ADD  CONSTRAINT [PillarBrickNode_FK] FOREIGN KEY([PILLAR_ID])
REFERENCES [dbo].[PillarRaid] ([PILLAR_ID])
GO
ALTER TABLE [dbo].[PillarBrickNode] CHECK CONSTRAINT [PillarBrickNode_FK]
GO
