USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaMethodPermission]    Script Date: 6/29/2019 5:45:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaMethodPermission](
	[PERMISSION_ID] [bigint] NOT NULL,
	[BEAN_NAME] [varchar](100) NOT NULL,
	[METHOD_NAME] [varchar](150) NOT NULL,
 CONSTRAINT [AaaMethodPermission_PK] PRIMARY KEY CLUSTERED 
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1832690018]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1832690018] ON [dbo].[AaaMethodPermission]
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaMethodPermission]  WITH CHECK ADD  CONSTRAINT [AaaMethodPermission_FK1] FOREIGN KEY([PERMISSION_ID])
REFERENCES [dbo].[AaaPermission] ([PERMISSION_ID])
GO
ALTER TABLE [dbo].[AaaMethodPermission] CHECK CONSTRAINT [AaaMethodPermission_FK1]
GO
