USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PersonalityConfiguration]    Script Date: 6/29/2019 5:50:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalityConfiguration](
	[PERSONALITYID] [bigint] NOT NULL,
	[PERSONALITYNAME] [varchar](50) NOT NULL,
	[DOMINANTTABLEID] [bigint] NOT NULL,
	[MODULENAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](250) NULL,
 CONSTRAINT [PersonalityConfiguration_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PersonalityConfiguration_UK0] UNIQUE NONCLUSTERED 
(
	[PERSONALITYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1717590244]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1717590244] ON [dbo].[PersonalityConfiguration]
(
	[DOMINANTTABLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PersonalityConfiguration]  WITH CHECK ADD  CONSTRAINT [PersonalityConfiguration_FK] FOREIGN KEY([DOMINANTTABLEID])
REFERENCES [dbo].[DominantTableConfig] ([DOMINANTTABLEID])
GO
ALTER TABLE [dbo].[PersonalityConfiguration] CHECK CONSTRAINT [PersonalityConfiguration_FK]
GO
