USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenVMProps]    Script Date: 6/29/2019 5:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenVMProps](
	[VM_ID] [bigint] NOT NULL,
	[HOME_SERVER] [bigint] NULL,
	[POWER_STATE] [varchar](40) NULL,
	[OSNAME] [varchar](100) NULL,
	[TOOLS_STATUS] [varchar](50) NOT NULL,
	[KERNEL_PATH] [varchar](100) NULL,
	[NO_OF_VCPUS] [bigint] NULL,
	[MAX_VCPUS] [bigint] NULL,
	[MAX_DYNAMIC_MEM_MB] [bigint] NULL,
	[MIN_DYNAMIC_MEM_MB] [bigint] NULL,
	[MAX_STATIC_MEM_MB] [bigint] NULL,
	[MIN_STATIC_MEM_MB] [bigint] NULL,
	[MEM_OVERHEAD_MB] [bigint] NULL,
	[MEM_TARGET_MB] [bigint] NULL,
	[TOTAL_MEM_MB] [bigint] NULL,
	[VIF_COUNT] [int] NOT NULL,
	[UP_TIME] [datetime] NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
	[MARKFORDELETE] [int] NOT NULL,
 CONSTRAINT [XenVMProps_PK] PRIMARY KEY CLUSTERED 
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__666176987]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__666176987] ON [dbo].[XenVMProps]
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenVMProps] ADD  DEFAULT ('NOT INSTALLED') FOR [TOOLS_STATUS]
GO
ALTER TABLE [dbo].[XenVMProps] ADD  DEFAULT ('0') FOR [VIF_COUNT]
GO
ALTER TABLE [dbo].[XenVMProps] ADD  DEFAULT ('0') FOR [MARKFORDELETE]
GO
ALTER TABLE [dbo].[XenVMProps]  WITH CHECK ADD  CONSTRAINT [XenVMProps_FK1] FOREIGN KEY([VM_ID])
REFERENCES [dbo].[XenEntityMOMap] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[XenVMProps] CHECK CONSTRAINT [XenVMProps_FK1]
GO
