USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Update_Index_Vars]    Script Date: 6/29/2019 5:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Update_Index_Vars](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[VAR_INDEX] [bigint] NOT NULL,
	[EXPRESSION_ID] [bigint] NOT NULL,
	[SEQUENCE_NUMBER] [int] NOT NULL,
 CONSTRAINT [Update_Index_Vars_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC,
	[SEQUENCE_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_295100469]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_295100469] ON [dbo].[Update_Index_Vars]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_558179997]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_558179997] ON [dbo].[Update_Index_Vars]
(
	[VAR_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_558179998]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_558179998] ON [dbo].[Update_Index_Vars]
(
	[EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Update_Index_Vars]  WITH CHECK ADD  CONSTRAINT [Update_Index_Vars_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Update_Template_Vars] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Update_Index_Vars] CHECK CONSTRAINT [Update_Index_Vars_FK]
GO
ALTER TABLE [dbo].[Update_Index_Vars]  WITH CHECK ADD  CONSTRAINT [Update_Index_Vars_FK2] FOREIGN KEY([VAR_INDEX])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Update_Index_Vars] CHECK CONSTRAINT [Update_Index_Vars_FK2]
GO
ALTER TABLE [dbo].[Update_Index_Vars]  WITH CHECK ADD  CONSTRAINT [Update_Index_Vars_FK3] FOREIGN KEY([EXPRESSION_ID])
REFERENCES [dbo].[Expressions] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Update_Index_Vars] CHECK CONSTRAINT [Update_Index_Vars_FK3]
GO
