USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FWAPolicyApp]    Script Date: 6/29/2019 5:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FWAPolicyApp](
	[APP_ID] [bigint] NOT NULL,
	[APPNAME] [nvarchar](31) NOT NULL,
	[SUBCATEGORY] [nvarchar](250) NULL,
	[DEFAULT_PORTS] [ntext] NULL,
	[VENDOR_TYPE] [nvarchar](100) NOT NULL,
	[RISK_LEVEL] [int] NULL,
	[USED_BY_MALWARE] [bit] NULL,
	[ABLE_TO_TRANSFER_FILE] [bit] NULL,
	[HAS_KNOWN_VULNERABILITY] [bit] NULL,
	[TUNNELS_OTHER_APPLICATION] [bit] NULL,
	[PRONE_TO_MISUSE] [bit] NULL,
	[ALIAS_NAME] [nvarchar](50) NULL,
 CONSTRAINT [FWAPolicyApp_PK] PRIMARY KEY CLUSTERED 
(
	[APP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[FWAPolicyApp] ADD  DEFAULT ((0)) FOR [USED_BY_MALWARE]
GO
ALTER TABLE [dbo].[FWAPolicyApp] ADD  DEFAULT ((0)) FOR [ABLE_TO_TRANSFER_FILE]
GO
ALTER TABLE [dbo].[FWAPolicyApp] ADD  DEFAULT ((0)) FOR [HAS_KNOWN_VULNERABILITY]
GO
ALTER TABLE [dbo].[FWAPolicyApp] ADD  DEFAULT ((0)) FOR [TUNNELS_OTHER_APPLICATION]
GO
ALTER TABLE [dbo].[FWAPolicyApp] ADD  DEFAULT ((0)) FOR [PRONE_TO_MISUSE]
GO
