USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RULESETREPRESENTATION]    Script Date: 6/29/2019 5:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RULESETREPRESENTATION](
	[SETID] [bigint] NOT NULL,
	[REPRESENTATION] [int] NOT NULL,
 CONSTRAINT [RULESETREPRESENTATION_PK1] PRIMARY KEY CLUSTERED 
(
	[SETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1901897696]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1901897696] ON [dbo].[RULESETREPRESENTATION]
(
	[SETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RULESETREPRESENTATION]  WITH CHECK ADD  CONSTRAINT [RULESETREPRESENTATION_FK1] FOREIGN KEY([SETID])
REFERENCES [dbo].[RULESET] ([SETID])
GO
ALTER TABLE [dbo].[RULESETREPRESENTATION] CHECK CONSTRAINT [RULESETREPRESENTATION_FK1]
GO
