USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCiscoInventory]    Script Date: 6/29/2019 5:49:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCiscoInventory](
	[INVENTORY_ID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[NAME] [varchar](250) NULL,
	[DESCR] [varchar](1000) NULL,
	[PID] [varchar](250) NULL,
	[VID] [varchar](250) NULL,
	[SN] [varchar](250) NULL,
 CONSTRAINT [NCMCiscoInventory_PK] PRIMARY KEY CLUSTERED 
(
	[INVENTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1303235448]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1303235448] ON [dbo].[NCMCiscoInventory]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCiscoInventory]  WITH CHECK ADD  CONSTRAINT [NCMCiscoInventory_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMCiscoInventory] CHECK CONSTRAINT [NCMCiscoInventory_FK1]
GO
