USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ENGINES]    Script Date: 6/29/2019 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENGINES](
	[ENGINENAMES] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ENGINENAMES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
