USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARDiskExtent]    Script Date: 6/29/2019 5:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARDiskExtent](
	[RAID_ID] [bigint] NOT NULL,
	[DISK_DEVICE_ID] [bigint] NOT NULL,
	[EXTENT_ID] [varchar](150) NOT NULL,
	[TOTAL_CAPACITY] [varchar](250) NOT NULL,
	[CONSUMABLE_CAPACITY] [varchar](250) NOT NULL,
	[STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARDiskExtent_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[DISK_DEVICE_ID] ASC,
	[EXTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__776474617]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__776474617] ON [dbo].[HP3PARDiskExtent]
(
	[DISK_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARDiskExtent]  WITH CHECK ADD  CONSTRAINT [HP3PARDiskExtent_FK] FOREIGN KEY([DISK_DEVICE_ID])
REFERENCES [dbo].[DiskHP3PAR] ([DISK_ID])
GO
ALTER TABLE [dbo].[HP3PARDiskExtent] CHECK CONSTRAINT [HP3PARDiskExtent_FK]
GO
