USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetworkMap]    Script Date: 6/29/2019 5:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkMap](
	[ID] [bigint] NOT NULL,
	[SRC_ROUTER_ID] [int] NOT NULL,
	[DST_ROUTER_ID] [int] NOT NULL,
	[LINK_INTERFACE_ID] [int] NOT NULL,
	[LINK_NAME] [varchar](255) NOT NULL,
	[LINK_DESCRIPTION] [varchar](255) NOT NULL,
 CONSTRAINT [NetworkMap_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1868648260]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1868648260] ON [dbo].[NetworkMap]
(
	[LINK_INTERFACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1868648261]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1868648261] ON [dbo].[NetworkMap]
(
	[DST_ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__337373642]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__337373642] ON [dbo].[NetworkMap]
(
	[SRC_ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetworkMap]  WITH CHECK ADD  CONSTRAINT [NetworkMap_FK] FOREIGN KEY([SRC_ROUTER_ID])
REFERENCES [dbo].[NetFlow_Router] ([ROUTER_ID])
GO
ALTER TABLE [dbo].[NetworkMap] CHECK CONSTRAINT [NetworkMap_FK]
GO
ALTER TABLE [dbo].[NetworkMap]  WITH CHECK ADD  CONSTRAINT [NetworkMap_FK1] FOREIGN KEY([DST_ROUTER_ID])
REFERENCES [dbo].[NetFlow_Router] ([ROUTER_ID])
GO
ALTER TABLE [dbo].[NetworkMap] CHECK CONSTRAINT [NetworkMap_FK1]
GO
ALTER TABLE [dbo].[NetworkMap]  WITH CHECK ADD  CONSTRAINT [NetworkMap_FK2] FOREIGN KEY([LINK_INTERFACE_ID])
REFERENCES [dbo].[NetFlow_Interface] ([INTERFACE_ID])
GO
ALTER TABLE [dbo].[NetworkMap] CHECK CONSTRAINT [NetworkMap_FK2]
GO
