USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCIsilonNetworkPools]    Script Date: 6/29/2019 5:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCIsilonNetworkPools](
	[DEVICE_ID] [bigint] NOT NULL,
	[SUBNET] [varchar](250) NOT NULL,
	[POOL] [varchar](250) NOT NULL,
	[SMARTCONNECT_ZONE] [varchar](250) NOT NULL,
	[RANGES] [varchar](250) NOT NULL,
	[ALLOCATION] [varchar](250) NOT NULL,
 CONSTRAINT [EMCIsilonNetworkPools_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[SUBNET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1183812067]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1183812067] ON [dbo].[EMCIsilonNetworkPools]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCIsilonNetworkPools]  WITH CHECK ADD  CONSTRAINT [EMCIsilonNetworkPools_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCIsilonNetworkPools] CHECK CONSTRAINT [EMCIsilonNetworkPools_FK1]
GO
