USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ApplicationNames]    Script Date: 6/29/2019 5:46:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationNames](
	[APP_ID] [int] NOT NULL,
	[PROT_ID] [int] NOT NULL,
	[PORT] [int] NOT NULL,
	[END_PORT] [int] NOT NULL,
	[APP_NAME] [varchar](255) NOT NULL,
	[IP_ADDRESS] [varchar](255) NOT NULL,
	[IP_NETWORK] [varchar](255) NOT NULL,
	[IP_START_ADDRESS] [varchar](255) NOT NULL,
	[IP_END_ADDRESS] [varchar](255) NOT NULL,
	[IP_NETMASK] [varchar](255) NOT NULL,
 CONSTRAINT [APP_ID_PK] PRIMARY KEY CLUSTERED 
(
	[APP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ApplicationNames_UK] UNIQUE NONCLUSTERED 
(
	[PROT_ID] ASC,
	[PORT] ASC,
	[END_PORT] ASC,
	[IP_ADDRESS] ASC,
	[IP_NETWORK] ASC,
	[IP_NETMASK] ASC,
	[IP_START_ADDRESS] ASC,
	[IP_END_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApplicationNames] ADD  DEFAULT ('-1') FOR [IP_ADDRESS]
GO
ALTER TABLE [dbo].[ApplicationNames] ADD  DEFAULT ('-1') FOR [IP_NETWORK]
GO
ALTER TABLE [dbo].[ApplicationNames] ADD  DEFAULT ('-1') FOR [IP_START_ADDRESS]
GO
ALTER TABLE [dbo].[ApplicationNames] ADD  DEFAULT ('-1') FOR [IP_END_ADDRESS]
GO
ALTER TABLE [dbo].[ApplicationNames] ADD  DEFAULT ('-1') FOR [IP_NETMASK]
GO
