USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AFToSmsSettings]    Script Date: 6/29/2019 5:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AFToSmsSettings](
	[AF_ID] [bigint] NOT NULL,
	[SMSSETTINGSID] [bigint] NOT NULL,
 CONSTRAINT [AFToSmsSettings_PK] PRIMARY KEY CLUSTERED 
(
	[AF_ID] ASC,
	[SMSSETTINGSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__633704374]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__633704374] ON [dbo].[AFToSmsSettings]
(
	[SMSSETTINGSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__633704375]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__633704375] ON [dbo].[AFToSmsSettings]
(
	[AF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AFToSmsSettings]  WITH CHECK ADD  CONSTRAINT [AFToSmsSettings_FK1] FOREIGN KEY([AF_ID])
REFERENCES [dbo].[AnomalyFilters] ([AF_ID])
GO
ALTER TABLE [dbo].[AFToSmsSettings] CHECK CONSTRAINT [AFToSmsSettings_FK1]
GO
ALTER TABLE [dbo].[AFToSmsSettings]  WITH CHECK ADD  CONSTRAINT [AFToSmsSettings_FK2] FOREIGN KEY([SMSSETTINGSID])
REFERENCES [dbo].[FASmsSettings] ([SMSSETTINGSID])
GO
ALTER TABLE [dbo].[AFToSmsSettings] CHECK CONSTRAINT [AFToSmsSettings_FK2]
GO
