USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPQuickLinkDisplayStatus]    Script Date: 6/29/2019 5:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPQuickLinkDisplayStatus](
	[PAGE_ID] [bigint] NOT NULL,
	[VISUAL_STATE] [int] NOT NULL,
 CONSTRAINT [OPQuickLinkDisplayStatus_PK] PRIMARY KEY CLUSTERED 
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1479975579]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1479975579] ON [dbo].[OPQuickLinkDisplayStatus]
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPQuickLinkDisplayStatus]  WITH CHECK ADD  CONSTRAINT [OPQuickLinkDisplayStatus_FK1] FOREIGN KEY([PAGE_ID])
REFERENCES [dbo].[OPUIPage] ([PAGE_ID])
GO
ALTER TABLE [dbo].[OPQuickLinkDisplayStatus] CHECK CONSTRAINT [OPQuickLinkDisplayStatus_FK1]
GO
