USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LAYER2DEVICEPROPS]    Script Date: 6/29/2019 5:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAYER2DEVICEPROPS](
	[MAPID] [bigint] NOT NULL,
	[DEVICEADDRESS] [varchar](50) NOT NULL,
	[CREDENTIALID] [bigint] NOT NULL,
	[SYSOID] [varchar](250) NOT NULL,
	[SYSNAME] [varchar](250) NOT NULL,
	[SYSDESCR] [varchar](500) NOT NULL,
	[DEVICETYPE] [varchar](200) NOT NULL,
	[CATEGORY] [varchar](50) NOT NULL,
 CONSTRAINT [LAYER2DEVICEPROPS_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC,
	[DEVICEADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_178680267]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_178680267] ON [dbo].[LAYER2DEVICEPROPS]
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LAYER2DEVICEPROPS]  WITH CHECK ADD  CONSTRAINT [LAYER2DEVICEPROPS_FK] FOREIGN KEY([MAPID])
REFERENCES [dbo].[LAYER2CONFIGURATION] ([MAPID])
GO
ALTER TABLE [dbo].[LAYER2DEVICEPROPS] CHECK CONSTRAINT [LAYER2DEVICEPROPS_FK]
GO
