USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LsiIpV6]    Script Date: 6/29/2019 5:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LsiIpV6](
	[DEVICE_ID] [bigint] NOT NULL,
	[ENABLED] [varchar](50) NOT NULL,
	[DHCP_OR_BOOTP] [varchar](50) NULL,
	[LOCAL_ADDRESS] [varchar](50) NULL,
	[ROUTABLE_ADDRESS] [varchar](50) NULL,
	[ROUTER] [varchar](50) NULL,
	[STATELESS] [varchar](50) NULL,
	[MODE] [varchar](50) NULL,
	[LINK] [varchar](50) NULL,
	[SPEED] [varchar](50) NULL,
 CONSTRAINT [LsiIpV6_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_449452950]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_449452950] ON [dbo].[LsiIpV6]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LsiIpV6]  WITH CHECK ADD  CONSTRAINT [LsiIpV6_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LsiIpV6] CHECK CONSTRAINT [LsiIpV6_FK1]
GO
