USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMSVCDisk]    Script Date: 6/29/2019 5:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMSVCDisk](
	[DISK_ID] [bigint] NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NULL,
	[MDISK_GROUP_NAME] [varchar](250) NULL,
	[BLOCK_SIZE] [varchar](250) NULL,
	[NODE_NAME] [varchar](250) NULL,
	[ENCLOSURE_ID] [varchar](250) NULL,
 CONSTRAINT [IBMSVCDisk_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1047908965]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1047908965] ON [dbo].[IBMSVCDisk]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1874560503]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1874560503] ON [dbo].[IBMSVCDisk]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMSVCDisk]  WITH CHECK ADD  CONSTRAINT [IBMSVCDisk_FK] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[SANDiskDrive] ([DISK_ID])
GO
ALTER TABLE [dbo].[IBMSVCDisk] CHECK CONSTRAINT [IBMSVCDisk_FK]
GO
ALTER TABLE [dbo].[IBMSVCDisk]  WITH CHECK ADD  CONSTRAINT [IBMSVCDisk_FK2] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMSVCDisk] CHECK CONSTRAINT [IBMSVCDisk_FK2]
GO
