USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpGetParam]    Script Date: 6/29/2019 5:51:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpGetParam](
	[RecordID] [varchar](250) NOT NULL,
	[ParamIndex] [int] NOT NULL,
	[Label] [varchar](50) NULL,
	[OIDName] [varchar](100) NOT NULL,
 CONSTRAINT [SNMPGETPARAM_KEY] PRIMARY KEY CLUSTERED 
(
	[ParamIndex] ASC,
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1456069391]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1456069391] ON [dbo].[SnmpGetParam]
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnmpGetParam]  WITH CHECK ADD  CONSTRAINT [SNMPGETPARAM_FK] FOREIGN KEY([RecordID])
REFERENCES [dbo].[SnmpGetRecord] ([RecordID])
GO
ALTER TABLE [dbo].[SnmpGetParam] CHECK CONSTRAINT [SNMPGETPARAM_FK]
GO
