USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCVNXeStoragePool]    Script Date: 6/29/2019 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCVNXeStoragePool](
	[DEVICE_ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[POOL_ID] [varchar](250) NOT NULL,
	[POOL_NAME] [varchar](250) NULL,
	[TOTAL_SPACE] [varchar](250) NULL,
	[REMAINING_SPACE] [varchar](250) NULL,
	[SUBSCRIPTION_PERCENT] [varchar](250) NULL,
	[DRIVE_COUNT] [varchar](250) NULL,
	[RAID_LEVEL] [varchar](250) NULL,
	[STRIPE_LENGTH] [varchar](250) NULL,
 CONSTRAINT [EMCVNXeStoragePool_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__268695603]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__268695603] ON [dbo].[EMCVNXeStoragePool]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_260370949]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_260370949] ON [dbo].[EMCVNXeStoragePool]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCVNXeStoragePool]  WITH CHECK ADD  CONSTRAINT [EMCVNXeStoragePool_FK] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCVNXeStoragePool] CHECK CONSTRAINT [EMCVNXeStoragePool_FK]
GO
ALTER TABLE [dbo].[EMCVNXeStoragePool]  WITH CHECK ADD  CONSTRAINT [EMCVNXeStoragePool_FK2] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCVNXeStoragePool] CHECK CONSTRAINT [EMCVNXeStoragePool_FK2]
GO
