USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SocialITEntityInfo]    Script Date: 6/29/2019 5:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialITEntityInfo](
	[ID] [bigint] NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[ENTITY_ID] [bigint] NOT NULL,
	[ENTITYTYPE] [varchar](255) NOT NULL,
 CONSTRAINT [SocialITEntityInfo_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
