USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Paths]    Script Date: 6/29/2019 5:50:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paths](
	[PATH_ID] [bigint] NOT NULL,
	[PATH_SOURCE_NODE] [bigint] NOT NULL,
	[PATH_DESTINATION_NODE] [bigint] NOT NULL,
	[PATH_LENGTH] [int] NOT NULL,
	[PATH_WEIGHT] [int] NOT NULL,
 CONSTRAINT [Paths_PK] PRIMARY KEY CLUSTERED 
(
	[PATH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Paths] ADD  DEFAULT ('1') FOR [PATH_LENGTH]
GO
ALTER TABLE [dbo].[Paths] ADD  DEFAULT ('1') FOR [PATH_WEIGHT]
GO
