USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RULEADDITIONALPROPS]    Script Date: 6/29/2019 5:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RULEADDITIONALPROPS](
	[RULEID] [bigint] NOT NULL,
	[PROPNAME] [varchar](250) NOT NULL,
	[PROPVALUE] [varchar](250) NOT NULL,
 CONSTRAINT [RULEADDITIONALPROPS_PK1] PRIMARY KEY CLUSTERED 
(
	[RULEID] ASC,
	[PROPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1871214554]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1871214554] ON [dbo].[RULEADDITIONALPROPS]
(
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RULEADDITIONALPROPS]  WITH CHECK ADD  CONSTRAINT [RULEADDITIONALPROPS_FK1] FOREIGN KEY([RULEID])
REFERENCES [dbo].[RULEDEFINITION] ([RULEID])
GO
ALTER TABLE [dbo].[RULEADDITIONALPROPS] CHECK CONSTRAINT [RULEADDITIONALPROPS_FK1]
GO
