USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EqualLogicFan]    Script Date: 6/29/2019 5:47:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EqualLogicFan](
	[RAID_ID] [bigint] NOT NULL,
	[FAN_INDEX] [varchar](250) NOT NULL,
	[FAN_NAME] [varchar](250) NOT NULL,
	[FAN_SPEED] [varchar](250) NOT NULL,
	[FAN_STATE] [varchar](250) NOT NULL,
	[HIGH_CRITICAL_THRESHOLD] [varchar](250) NOT NULL,
	[HIGH_WARNING_THRESHOLD] [varchar](250) NOT NULL,
	[LOW_CRITICAL_THRESHOLD] [varchar](250) NOT NULL,
	[LOW_WARNING_THRESHOLD] [varchar](250) NOT NULL,
 CONSTRAINT [EqualLogicFan_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[FAN_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__720299818]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__720299818] ON [dbo].[EqualLogicFan]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EqualLogicFan]  WITH CHECK ADD  CONSTRAINT [EqualLogicFan_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EqualLogicFan] CHECK CONSTRAINT [EqualLogicFan_FK1]
GO
