USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDiscoveryTaskMapper]    Script Date: 6/29/2019 5:49:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDiscoveryTaskMapper](
	[TASKID] [bigint] NOT NULL,
	[DISCOVERYID] [bigint] NOT NULL,
 CONSTRAINT [NCMDiscoveryTaskMapper_PK] PRIMARY KEY CLUSTERED 
(
	[DISCOVERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1185837588]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1185837588] ON [dbo].[NCMDiscoveryTaskMapper]
(
	[DISCOVERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1185837589]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1185837589] ON [dbo].[NCMDiscoveryTaskMapper]
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDiscoveryTaskMapper]  WITH CHECK ADD  CONSTRAINT [NCMDiscoveryTaskMapper_FK1] FOREIGN KEY([TASKID])
REFERENCES [dbo].[NCMDiscoveryTask] ([TASKID])
GO
ALTER TABLE [dbo].[NCMDiscoveryTaskMapper] CHECK CONSTRAINT [NCMDiscoveryTaskMapper_FK1]
GO
ALTER TABLE [dbo].[NCMDiscoveryTaskMapper]  WITH CHECK ADD  CONSTRAINT [NCMDiscoveryTaskMapper_FK2] FOREIGN KEY([DISCOVERYID])
REFERENCES [dbo].[NCMDiscoveryStateHolder] ([DISCOVERYID])
GO
ALTER TABLE [dbo].[NCMDiscoveryTaskMapper] CHECK CONSTRAINT [NCMDiscoveryTaskMapper_FK2]
GO
