USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMViewDC]    Script Date: 6/29/2019 5:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMViewDC](
	[VIEW_ID] [bigint] NOT NULL,
	[VIEW_NAME] [varchar](100) NOT NULL,
	[TIME_COMPONENT_SUPPORT] [bit] NULL,
	[DEVICE_COMPONENT_SUPPORT] [bit] NULL,
	[VIEW_FORMAT] [varchar](20) NOT NULL,
 CONSTRAINT [NCMViewDC_PK] PRIMARY KEY CLUSTERED 
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMViewDC] ADD  DEFAULT ((0)) FOR [TIME_COMPONENT_SUPPORT]
GO
ALTER TABLE [dbo].[NCMViewDC] ADD  DEFAULT ((1)) FOR [DEVICE_COMPONENT_SUPPORT]
GO
