USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MATCH_QOS_MetaTable]    Script Date: 6/29/2019 5:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATCH_QOS_MetaTable](
	[POLICY_DIRECTION] [int] NOT NULL,
	[START_INDEX] [bigint] NOT NULL,
	[END_INDEX] [bigint] NOT NULL,
	[LOOKUP_TABLENAME] [varchar](200) NOT NULL,
 CONSTRAINT [MATCH_QOS_MetaTable_PK] PRIMARY KEY CLUSTERED 
(
	[POLICY_DIRECTION] ASC,
	[START_INDEX] ASC,
	[END_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [MATCH_QOS_MetaTable_UK0] UNIQUE NONCLUSTERED 
(
	[LOOKUP_TABLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
