USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Inner_Join_Attribs]    Script Date: 6/29/2019 5:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inner_Join_Attribs](
	[VIEW_ID] [bigint] NOT NULL,
	[FIRST_RELVAR_ID] [bigint] NOT NULL,
	[SECOND_RELVAR_ID] [bigint] NOT NULL,
	[FIRST_RELVAR_ATTRIBUTE] [varchar](160) NOT NULL,
	[SECOND_RELVAR_ATTRIBUTE] [varchar](250) NOT NULL,
 CONSTRAINT [Inner_Join_Attrib_PK] PRIMARY KEY CLUSTERED 
(
	[VIEW_ID] ASC,
	[FIRST_RELVAR_ID] ASC,
	[SECOND_RELVAR_ID] ASC,
	[FIRST_RELVAR_ATTRIBUTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2012825262]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2012825262] ON [dbo].[Inner_Join_Attribs]
(
	[VIEW_ID] ASC,
	[FIRST_RELVAR_ID] ASC,
	[SECOND_RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inner_Join_Attribs]  WITH CHECK ADD  CONSTRAINT [Inner_Join_Attrib_FK] FOREIGN KEY([VIEW_ID], [FIRST_RELVAR_ID], [SECOND_RELVAR_ID])
REFERENCES [dbo].[Inner_Join_Tables] ([VIEW_ID], [FIRST_RELVAR_ID], [SECOND_RELVAR_ID])
GO
ALTER TABLE [dbo].[Inner_Join_Attribs] CHECK CONSTRAINT [Inner_Join_Attrib_FK]
GO
