USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportBuildingBlockParams]    Script Date: 6/29/2019 5:50:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportBuildingBlockParams](
	[RBBPID] [bigint] NOT NULL,
	[RBBNAME] [nvarchar](250) NOT NULL,
	[PARAMSQL] [ntext] NOT NULL,
 CONSTRAINT [ReportBuildingBlockParams_PK] PRIMARY KEY CLUSTERED 
(
	[RBBPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1273636616]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1273636616] ON [dbo].[ReportBuildingBlockParams]
(
	[RBBNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportBuildingBlockParams]  WITH CHECK ADD  CONSTRAINT [ReportBuildingBlockParams_FK1] FOREIGN KEY([RBBNAME])
REFERENCES [dbo].[ReportBuildingBlock] ([RBBNAME])
GO
ALTER TABLE [dbo].[ReportBuildingBlockParams] CHECK CONSTRAINT [ReportBuildingBlockParams_FK1]
GO
