USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TPIProps]    Script Date: 6/29/2019 5:52:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPIProps](
	[TPIID] [bigint] NOT NULL,
	[PROPERTY] [varchar](255) NOT NULL,
	[VALUE] [varchar](255) NOT NULL,
 CONSTRAINT [TPIProps_PK1] PRIMARY KEY CLUSTERED 
(
	[PROPERTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1045708765]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1045708765] ON [dbo].[TPIProps]
(
	[TPIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TPIProps]  WITH CHECK ADD  CONSTRAINT [TPISettings_FK1] FOREIGN KEY([TPIID])
REFERENCES [dbo].[TPISettings] ([ID])
GO
ALTER TABLE [dbo].[TPIProps] CHECK CONSTRAINT [TPISettings_FK1]
GO
