USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AccessPointGroupInfo]    Script Date: 6/29/2019 5:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessPointGroupInfo](
	[APG_ID] [int] NOT NULL,
	[APG_NAME] [varchar](255) NOT NULL,
	[APG_STATE] [int] NOT NULL,
 CONSTRAINT [AccessPointGroupInfo_PK] PRIMARY KEY CLUSTERED 
(
	[APG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_927788803]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_927788803] ON [dbo].[AccessPointGroupInfo]
(
	[APG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccessPointGroupInfo] ADD  DEFAULT ('0') FOR [APG_STATE]
GO
ALTER TABLE [dbo].[AccessPointGroupInfo]  WITH CHECK ADD  CONSTRAINT [AccessPointGroupInfo_FK] FOREIGN KEY([APG_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[AccessPointGroupInfo] CHECK CONSTRAINT [AccessPointGroupInfo_FK]
GO
