USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPEVARaidController]    Script Date: 6/29/2019 5:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPEVARaidController](
	[DEVICE_ID] [bigint] NOT NULL,
	[CONTROLLER_NAME] [varchar](250) NOT NULL,
	[STORAGECELL_PARTICIPATION] [varchar](250) NULL,
	[SHELF_ID] [varchar](250) NULL,
	[COMMENTS] [varchar](250) NULL,
	[CACHE_OPERSTATE] [varchar](250) NULL,
	[CACHE_CAPACITYREAD] [varchar](250) NULL,
	[CACHE_CAPACITYWRITE] [varchar](250) NULL,
	[CACHE_MIRRORCONNECTION] [varchar](250) NULL,
	[SENSOR_1_12C] [varchar](250) NULL,
	[SENSOR_2_12C] [varchar](250) NULL,
	[PROCESSOR_SENSOR] [varchar](250) NULL,
	[WEIGHTED_AVERAGE] [varchar](250) NULL,
	[FAN_TRIP_POINT] [varchar](250) NULL,
	[VOLTAGE_12VDC] [varchar](250) NULL,
	[VOLTAGE_5VDC] [varchar](250) NULL,
	[VOLTAGE_3VDC] [varchar](250) NULL,
	[VOLTAGE_25VDC] [varchar](250) NULL,
	[VOLTAGE_20VDC] [varchar](250) NULL,
 CONSTRAINT [HPEVARAIDCONTROLLER_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__381675365]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__381675365] ON [dbo].[HPEVARaidController]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPEVARaidController]  WITH CHECK ADD  CONSTRAINT [HPEVARAIDCONTROLLER_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[RaidController] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPEVARaidController] CHECK CONSTRAINT [HPEVARAIDCONTROLLER_FK1]
GO
