USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SanLink]    Script Date: 6/29/2019 5:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanLink](
	[LINK_ID] [bigint] NOT NULL,
	[SOURCE] [varchar](250) NOT NULL,
	[DESTINATION] [varchar](250) NOT NULL,
 CONSTRAINT [SANLINK_PK] PRIMARY KEY CLUSTERED 
(
	[LINK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
