USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SANHost]    Script Date: 6/29/2019 5:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANHost](
	[DEVICE_ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[HOST_ID] [varchar](100) NOT NULL,
	[HOST_NAME] [varchar](100) NOT NULL,
	[TENANT] [varchar](100) NULL,
	[HOST_TYPE] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[ACCESSIBLE_LUN] [varchar](100) NULL,
	[STATUS] [varchar](100) NULL,
 CONSTRAINT [SANHost_PK1] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1805255893]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1805255893] ON [dbo].[SANHost]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SANHost]  WITH CHECK ADD  CONSTRAINT [SANHost_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SANHost] CHECK CONSTRAINT [SANHost_FK1]
GO
