USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PathHop]    Script Date: 6/29/2019 5:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PathHop](
	[PATHECHO_ID] [bigint] NOT NULL,
	[PATH_ID] [bigint] NOT NULL,
	[HOP_ID] [bigint] NOT NULL,
	[LEVEL] [int] NOT NULL,
 CONSTRAINT [PathHop_PK] PRIMARY KEY CLUSTERED 
(
	[PATHECHO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1784724192]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1784724192] ON [dbo].[PathHop]
(
	[PATHECHO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_508124946]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_508124946] ON [dbo].[PathHop]
(
	[HOP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PathHop]  WITH CHECK ADD  CONSTRAINT [PathHop_FK] FOREIGN KEY([PATHECHO_ID])
REFERENCES [dbo].[ProbeId] ([PROBE_ID])
GO
ALTER TABLE [dbo].[PathHop] CHECK CONSTRAINT [PathHop_FK]
GO
ALTER TABLE [dbo].[PathHop]  WITH CHECK ADD  CONSTRAINT [PathHop_FK2] FOREIGN KEY([HOP_ID])
REFERENCES [dbo].[HopAddress] ([HOP_ID])
GO
ALTER TABLE [dbo].[PathHop] CHECK CONSTRAINT [PathHop_FK2]
GO
