USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CtgyLoad]    Script Date: 6/29/2019 5:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtgyLoad](
	[ID] [int] NOT NULL,
	[WID] [int] NOT NULL,
	[CTGY] [int] NOT NULL,
 CONSTRAINT [CtgyLoad_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__513656837]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__513656837] ON [dbo].[CtgyLoad]
(
	[WID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1256507286]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1256507286] ON [dbo].[CtgyLoad]
(
	[CTGY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CtgyLoad]  WITH CHECK ADD  CONSTRAINT [CtgyLoad_FK] FOREIGN KEY([WID])
REFERENCES [dbo].[WorkLoad] ([WID])
GO
ALTER TABLE [dbo].[CtgyLoad] CHECK CONSTRAINT [CtgyLoad_FK]
GO
ALTER TABLE [dbo].[CtgyLoad]  WITH CHECK ADD  CONSTRAINT [CtgyLoad_FK1] FOREIGN KEY([CTGY])
REFERENCES [dbo].[DataCtgy] ([DCID])
GO
ALTER TABLE [dbo].[CtgyLoad] CHECK CONSTRAINT [CtgyLoad_FK1]
GO
