USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduledPDInstances]    Script Date: 6/29/2019 5:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduledPDInstances](
	[SCHEDULEID] [bigint] NOT NULL,
	[INSTANCE] [varchar](250) NOT NULL,
	[CHARTID] [bigint] NOT NULL,
 CONSTRAINT [ScheduledPDInstances_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC,
	[INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1304433930]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1304433930] ON [dbo].[ScheduledPDInstances]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduledPDInstances]  WITH CHECK ADD  CONSTRAINT [ScheduledPDInstances_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleReports] ([SCHEDULEID])
GO
ALTER TABLE [dbo].[ScheduledPDInstances] CHECK CONSTRAINT [ScheduledPDInstances_FK1]
GO
