USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduleReportTypes]    Script Date: 6/29/2019 5:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleReportTypes](
	[SCHEDULEID] [bigint] NOT NULL,
	[REPORTNAMES] [varchar](250) NOT NULL,
 CONSTRAINT [ScheduleReportTypes_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC,
	[REPORTNAMES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__219040581]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__219040581] ON [dbo].[ScheduleReportTypes]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleReportTypes]  WITH CHECK ADD  CONSTRAINT [ScheduleReportTypes_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleReports] ([SCHEDULEID])
GO
ALTER TABLE [dbo].[ScheduleReportTypes] CHECK CONSTRAINT [ScheduleReportTypes_FK1]
GO
