USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SysLogServerSettings]    Script Date: 6/29/2019 5:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysLogServerSettings](
	[SYSLOGSERVERID] [bigint] NOT NULL,
	[SYSLOGSERVERNAME] [nvarchar](150) NOT NULL,
	[SYSLOGSERVERIP] [nvarchar](150) NOT NULL,
	[SYSLOGSERVERPORT] [bigint] NOT NULL,
 CONSTRAINT [SysLogServerSettings_PK] PRIMARY KEY CLUSTERED 
(
	[SYSLOGSERVERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
