USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Tool_Prefrence]    Script Date: 6/29/2019 5:52:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tool_Prefrence](
	[TOOL_ID] [varchar](50) NOT NULL,
	[KEY_VALUE] [varchar](50) NOT NULL,
	[VALUE] [varchar](50) NOT NULL,
 CONSTRAINT [Tool_Prefrence_PK] PRIMARY KEY CLUSTERED 
(
	[TOOL_ID] ASC,
	[KEY_VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1998026208]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1998026208] ON [dbo].[Tool_Prefrence]
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tool_Prefrence]  WITH CHECK ADD  CONSTRAINT [Tool_Prefrence_FK1] FOREIGN KEY([TOOL_ID])
REFERENCES [dbo].[Tool] ([TOOL_ID])
GO
ALTER TABLE [dbo].[Tool_Prefrence] CHECK CONSTRAINT [Tool_Prefrence_FK1]
GO
