USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarLUN]    Script Date: 6/29/2019 5:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarLUN](
	[PILLAR_ID] [bigint] NOT NULL,
	[LUN_INSTANCE] [int] NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[FQN] [varchar](250) NULL,
	[UID] [varchar](250) NULL,
	[NAME] [varchar](250) NULL,
	[STORAGE_CLASS] [varchar](250) NULL,
 CONSTRAINT [PillarLUN_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2037977303]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2037977303] ON [dbo].[PillarLUN]
(
	[PILLAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarLUN]  WITH CHECK ADD  CONSTRAINT [PillarLUN_FK] FOREIGN KEY([PILLAR_ID])
REFERENCES [dbo].[PillarRaid] ([PILLAR_ID])
GO
ALTER TABLE [dbo].[PillarLUN] CHECK CONSTRAINT [PillarLUN_FK]
GO
