USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AlertConfig]    Script Date: 6/29/2019 5:45:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertConfig](
	[NAME] [varchar](25) NOT NULL,
	[SENDERNAME] [varchar](50) NULL,
	[FROMADDRESS] [varchar](100) NULL,
	[TOADDRESS] [varchar](1500) NULL,
	[CRITICAL] [int] NOT NULL,
	[WARNING] [int] NOT NULL,
	[NORMAL] [int] NOT NULL,
	[POLL_MISSED_COUNT] [int] NOT NULL,
	[HAS_ESCAL_ENABLED] [bit] NOT NULL,
 CONSTRAINT [AlertConfig_PK] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertConfig] ADD  DEFAULT ('0') FOR [CRITICAL]
GO
ALTER TABLE [dbo].[AlertConfig] ADD  DEFAULT ('0') FOR [WARNING]
GO
ALTER TABLE [dbo].[AlertConfig] ADD  DEFAULT ('0') FOR [NORMAL]
GO
ALTER TABLE [dbo].[AlertConfig] ADD  DEFAULT ('1') FOR [POLL_MISSED_COUNT]
GO
ALTER TABLE [dbo].[AlertConfig] ADD  DEFAULT ((0)) FOR [HAS_ESCAL_ENABLED]
GO
