USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiskHPEVACLI]    Script Date: 6/29/2019 5:47:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiskHPEVACLI](
	[DISK_ID] [bigint] NOT NULL,
	[REQUESTED_USAGE] [varchar](250) NULL,
	[ACTUAL_USAGE] [varchar](250) NULL,
	[OCCUPANCY] [varchar](250) NULL,
	[MIGRATION_STATE] [varchar](250) NULL,
	[FAILURE_PREDICTION] [varchar](250) NULL,
	[MEDIA_ACCESSIBLE] [varchar](250) NULL,
	[LOOP_PAIR] [varchar](250) NULL,
 CONSTRAINT [DiskHPEVACLI_PK] PRIMARY KEY CLUSTERED 
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_61414882]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_61414882] ON [dbo].[DiskHPEVACLI]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiskHPEVACLI]  WITH CHECK ADD  CONSTRAINT [DiskHPEVACLI_FK1] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[SANDiskDrive] ([DISK_ID])
GO
ALTER TABLE [dbo].[DiskHPEVACLI] CHECK CONSTRAINT [DiskHPEVACLI_FK1]
GO
