USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMV_ENCLOSURE]    Script Date: 6/29/2019 5:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMV_ENCLOSURE](
	[RAID_ID] [bigint] NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[STATUS] [varchar](250) NULL,
	[TYPE] [varchar](250) NULL,
	[MANAGED] [varchar](250) NULL,
	[SERIALNUMBER] [varchar](250) NULL,
	[DRIVE_SLOTS] [varchar](250) NULL,
	[IO_GROUP_NAME] [varchar](250) NULL,
 CONSTRAINT [IBMV_ENCLOSURE_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1641605794]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1641605794] ON [dbo].[IBMV_ENCLOSURE]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMV_ENCLOSURE]  WITH CHECK ADD  CONSTRAINT [IBMV_ENCLOSURE_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMV_ENCLOSURE] CHECK CONSTRAINT [IBMV_ENCLOSURE_FK1]
GO
