USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Static_Prefrence]    Script Date: 6/29/2019 5:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Static_Prefrence](
	[STATIC_PROPERTITY] [int] NOT NULL,
	[SERVER_STATUS] [varchar](10) NOT NULL,
 CONSTRAINT [Static_Prefrence_PK] PRIMARY KEY CLUSTERED 
(
	[STATIC_PROPERTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Static_Prefrence] ADD  DEFAULT ('0') FOR [STATIC_PROPERTITY]
GO
ALTER TABLE [dbo].[Static_Prefrence] ADD  DEFAULT ('stopped') FOR [SERVER_STATUS]
GO
