USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[APIAccessLog]    Script Date: 6/29/2019 5:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIAccessLog](
	[Log_ID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
	[USERNAME] [varchar](250) NOT NULL,
	[MODULENAME] [varchar](250) NOT NULL,
	[OPERATIONNAME] [varchar](250) NOT NULL,
	[SOURCEIP] [varchar](100) NOT NULL,
	[STARTTIME] [bigint] NOT NULL,
	[PROCESSTIME] [bigint] NOT NULL,
	[ACCESSVIA] [varchar](250) NOT NULL,
 CONSTRAINT [APIAccessLog_PK] PRIMARY KEY CLUSTERED 
(
	[Log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
