USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SYSLOGPORT]    Script Date: 6/29/2019 5:52:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSLOGPORT](
	[PORTNO] [int] NOT NULL,
 CONSTRAINT [SYSLOGPORT_PK1] PRIMARY KEY CLUSTERED 
(
	[PORTNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
