USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorageTekTapeLibrary]    Script Date: 6/29/2019 5:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageTekTapeLibrary](
	[DEVICE_ID] [bigint] NOT NULL,
	[FAST_LOAD] [varchar](250) NOT NULL,
	[NO_CLEAN_CARTRIDGES] [varchar](250) NOT NULL,
	[CLEAN_ENABLED] [varchar](250) NOT NULL,
	[CAP_COUNT] [varchar](250) NOT NULL,
	[PTP_COUNT] [varchar](250) NOT NULL,
	[PLAYCELL_COUNT] [varchar](250) NOT NULL,
 CONSTRAINT [STORAGETEKTAPELIBRARY_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2004161945]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2004161945] ON [dbo].[StorageTekTapeLibrary]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorageTekTapeLibrary]  WITH CHECK ADD  CONSTRAINT [STORAGETEKTAPELIBRARY_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[StorageTekTapeLibrary] CHECK CONSTRAINT [STORAGETEKTAPELIBRARY_FK1]
GO
