USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportBuildingBlockGroup]    Script Date: 6/29/2019 5:50:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportBuildingBlockGroup](
	[RBBGID] [bigint] NOT NULL,
	[RBBGNAME] [nvarchar](250) NOT NULL,
	[REPORTTYPE] [nvarchar](50) NOT NULL,
	[TITLE] [nvarchar](2000) NULL,
	[DESCRIPTION] [nvarchar](2000) NULL,
 CONSTRAINT [ReportBuildingBlockGroup_PK] PRIMARY KEY CLUSTERED 
(
	[RBBGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ReportBuildingBlockGroup_UK1] UNIQUE NONCLUSTERED 
(
	[RBBGNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
