USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ArchivePolicy]    Script Date: 6/29/2019 5:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArchivePolicy](
	[ARCHIVE_POLICY_ID] [bigint] NOT NULL,
	[ARCHIVE_POLICY_NAME] [varchar](255) NOT NULL,
	[TABLENAME] [varchar](255) NOT NULL,
	[CRITERIA_STRING] [varchar](1000) NULL,
	[THRESHOLD] [bigint] NULL,
	[MODE] [varchar](50) NOT NULL,
	[DATASOURCE_ID] [bigint] NULL,
 CONSTRAINT [ArchivePolicy_PK] PRIMARY KEY CLUSTERED 
(
	[ARCHIVE_POLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1545600237]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1545600237] ON [dbo].[ArchivePolicy]
(
	[DATASOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArchivePolicy] ADD  DEFAULT ('PULL') FOR [MODE]
GO
ALTER TABLE [dbo].[ArchivePolicy]  WITH CHECK ADD  CONSTRAINT [ArchiveDS_FK] FOREIGN KEY([DATASOURCE_ID])
REFERENCES [dbo].[DataSource] ([DSID])
GO
ALTER TABLE [dbo].[ArchivePolicy] CHECK CONSTRAINT [ArchiveDS_FK]
GO
