USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ConfMetaTable]    Script Date: 6/29/2019 5:46:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfMetaTable](
	[ID] [bigint] NOT NULL,
	[CONF_OBJECT] [varbinary](max) NULL,
	[BUILDNUMBER] [int] NOT NULL,
 CONSTRAINT [ConfMetaTable_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConfMetaTable] ADD  DEFAULT ('9500') FOR [BUILDNUMBER]
GO
