USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CLIXMLInputData]    Script Date: 6/29/2019 5:46:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIXMLInputData](
	[RecordID] [varchar](250) NOT NULL,
	[CommandSetName] [varchar](50) NOT NULL,
	[DataSetName] [varchar](50) NOT NULL,
	[CommandName] [varchar](50) NOT NULL,
	[DataName] [varchar](50) NOT NULL,
	[Command] [varchar](50) NULL,
	[CommandObjectPath] [varchar](50) NULL,
 CONSTRAINT [XMLData_PK] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__830547664]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__830547664] ON [dbo].[CLIXMLInputData]
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIXMLInputData]  WITH CHECK ADD  CONSTRAINT [CLI_XID_FK] FOREIGN KEY([RecordID])
REFERENCES [dbo].[CLIInputRecord] ([RecordID])
GO
ALTER TABLE [dbo].[CLIXMLInputData] CHECK CONSTRAINT [CLI_XID_FK]
GO
