USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BridgeFdbTable]    Script Date: 6/29/2019 5:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BridgeFdbTable](
	[FDBID] [bigint] NOT NULL,
	[MOID] [bigint] NOT NULL,
	[SAMPLINGCOUNT] [bigint] NOT NULL,
	[MACADDRESS] [varchar](50) NOT NULL,
	[IFINDEX] [int] NOT NULL,
	[PORTNO] [int] NOT NULL,
 CONSTRAINT [BridgeFdbTable_PK1] PRIMARY KEY CLUSTERED 
(
	[FDBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [BridgeFdbTable_UK0] UNIQUE NONCLUSTERED 
(
	[MACADDRESS] ASC,
	[MOID] ASC,
	[SAMPLINGCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__89213088]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__89213088] ON [dbo].[BridgeFdbTable]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BridgeFdbTable]  WITH CHECK ADD  CONSTRAINT [BridgeFdbTable_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[BridgeFdbTable] CHECK CONSTRAINT [BridgeFdbTable_FK1]
GO
