USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMailAlertConfig]    Script Date: 6/29/2019 5:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMailAlertConfig](
	[TOOL_ID] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
	[TO_ADDRESS] [varchar](1500) NOT NULL,
	[FEATURE_ID] [varchar](50) NOT NULL,
 CONSTRAINT [EMailAlertConfig_PK] PRIMARY KEY CLUSTERED 
(
	[TOOL_ID] ASC,
	[FEATURE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__965349169]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__965349169] ON [dbo].[EMailAlertConfig]
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMailAlertConfig] ADD  DEFAULT ('0') FOR [STATUS]
GO
ALTER TABLE [dbo].[EMailAlertConfig] ADD  DEFAULT ('-') FOR [FEATURE_ID]
GO
ALTER TABLE [dbo].[EMailAlertConfig]  WITH CHECK ADD  CONSTRAINT [EMailAlertConfig_FK1] FOREIGN KEY([TOOL_ID])
REFERENCES [dbo].[Tool] ([TOOL_ID])
GO
ALTER TABLE [dbo].[EMailAlertConfig] CHECK CONSTRAINT [EMailAlertConfig_FK1]
GO
