USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[USMParams]    Script Date: 6/29/2019 5:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USMParams](
	[SSParamsID] [varchar](50) NOT NULL,
	[SecurityModel] [int] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[AuthProtocol] [int] NULL,
	[AuthPassword] [varchar](50) NULL,
	[PrivProtocol] [int] NULL,
	[PrivPassword] [varchar](50) NULL,
 CONSTRAINT [USM_KEY] PRIMARY KEY CLUSTERED 
(
	[SSParamsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1782449771]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1782449771] ON [dbo].[USMParams]
(
	[SSParamsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USMParams]  WITH CHECK ADD  CONSTRAINT [USM_FK] FOREIGN KEY([SSParamsID])
REFERENCES [dbo].[SnmpSecurityModelParams] ([SSParamsID])
GO
ALTER TABLE [dbo].[USMParams] CHECK CONSTRAINT [USM_FK]
GO
