USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProtocolGroups]    Script Date: 6/29/2019 5:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProtocolGroups](
	[PG_ID] [bigint] NOT NULL,
	[PROTOCOL_GROUP] [nvarchar](30) NOT NULL,
	[COLOR] [nvarchar](10) NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
 CONSTRAINT [ProtocolGroups_PK] PRIMARY KEY CLUSTERED 
(
	[PG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ProtocolGroups_UK1] UNIQUE NONCLUSTERED 
(
	[PROTOCOL_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
