USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ClariionStorageGroup]    Script Date: 6/29/2019 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClariionStorageGroup](
	[DEVICE_ID] [bigint] NOT NULL,
	[STORAGE_GROUP_NAME] [varchar](250) NOT NULL,
	[STORAGE_GROUP_UID] [varchar](300) NOT NULL,
	[SHAREABLE] [varchar](250) NOT NULL,
	[HLU_ALU] [text] NULL,
	[HBA_PORT_SP] [text] NULL,
 CONSTRAINT [CLARIIONSTORAGEGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[STORAGE_GROUP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_946173066]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_946173066] ON [dbo].[ClariionStorageGroup]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClariionStorageGroup]  WITH CHECK ADD  CONSTRAINT [CLARIIONSTORAGEGROUP_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ClariionStorageGroup] CHECK CONSTRAINT [CLARIIONSTORAGEGROUP_FK1]
GO
