USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AuditConfig]    Script Date: 6/29/2019 5:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditConfig](
	[ID] [bigint] NOT NULL,
	[MODULE_ID] [bigint] NULL,
	[CUSTOMPROVIDER] [varchar](100) NULL,
	[CURRENTLEVEL] [varchar](50) NOT NULL,
	[DISABLEALLAUDIT] [bit] NOT NULL,
	[ENABLECRITERIA] [varchar](200) NULL,
 CONSTRAINT [AuditConfig_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1730838887]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1730838887] ON [dbo].[AuditConfig]
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditConfig]  WITH CHECK ADD  CONSTRAINT [AuditConfig_FK] FOREIGN KEY([MODULE_ID])
REFERENCES [dbo].[Module] ([MODULE_ID])
GO
ALTER TABLE [dbo].[AuditConfig] CHECK CONSTRAINT [AuditConfig_FK]
GO
