USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AllowedValues]    Script Date: 6/29/2019 5:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllowedValues](
	[COLUMN_ID] [bigint] NOT NULL,
	[VALUE] [varchar](180) NOT NULL,
 CONSTRAINT [AllowedValues_PK] PRIMARY KEY CLUSTERED 
(
	[COLUMN_ID] ASC,
	[VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2137433879]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2137433879] ON [dbo].[AllowedValues]
(
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AllowedValues]  WITH CHECK ADD  CONSTRAINT [AllowedValues_FK1] FOREIGN KEY([COLUMN_ID])
REFERENCES [dbo].[ColumnDetails] ([COLUMN_ID])
GO
ALTER TABLE [dbo].[AllowedValues] CHECK CONSTRAINT [AllowedValues_FK1]
GO
