USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCUnityEthernetPort]    Script Date: 6/29/2019 5:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCUnityEthernetPort](
	[DEVICE_ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[PORT_ID] [varchar](100) NOT NULL,
	[PORT_NAME] [varchar](100) NOT NULL,
	[PROTOCOLS] [varchar](100) NULL,
	[CONNECTOR_TYPE] [varchar](100) NULL,
	[SPEED] [varchar](100) NULL,
 CONSTRAINT [EMCUnityEthernetPort_PK1] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1008627711]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1008627711] ON [dbo].[EMCUnityEthernetPort]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCUnityEthernetPort]  WITH CHECK ADD  CONSTRAINT [EMCUnityEthernetPort_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCUnityEthernetPort] CHECK CONSTRAINT [EMCUnityEthernetPort_FK1]
GO
