USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Collector]    Script Date: 6/29/2019 5:46:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collector](
	[PROBEGROUP_ID] [bigint] NOT NULL,
	[SOURCE_ID] [bigint] NOT NULL,
	[ACTION_ID] [int] NOT NULL,
	[POLLINTERVAL] [int] NULL,
	[TIMEOUT] [int] NULL,
	[COLLECTORNAME] [varchar](250) NOT NULL,
	[AGEOUT] [bigint] NOT NULL,
	[CONLOSTENABLE] [bit] NOT NULL,
	[TIMEOUTENABLE] [bit] NOT NULL,
	[VERIFYERRENABLE] [bit] NOT NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[ECHOPAYLOAD] [int] NULL,
	[ECHO_TOS] [int] NULL,
	[COLLECTORTYPE_ID] [int] NOT NULL,
 CONSTRAINT [Collector_PK] PRIMARY KEY CLUSTERED 
(
	[PROBEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Collector_UK0] UNIQUE NONCLUSTERED 
(
	[COLLECTORNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_151792954]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_151792954] ON [dbo].[Collector]
(
	[SOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_151792955]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_151792955] ON [dbo].[Collector]
(
	[ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_151792956]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_151792956] ON [dbo].[Collector]
(
	[COLLECTORTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Collector]  WITH CHECK ADD  CONSTRAINT [Collector_FK1] FOREIGN KEY([SOURCE_ID])
REFERENCES [dbo].[Source] ([SOURCE_ID])
GO
ALTER TABLE [dbo].[Collector] CHECK CONSTRAINT [Collector_FK1]
GO
ALTER TABLE [dbo].[Collector]  WITH CHECK ADD  CONSTRAINT [Collector_FK2] FOREIGN KEY([ACTION_ID])
REFERENCES [dbo].[ReactActionType] ([ACTION_ID])
GO
ALTER TABLE [dbo].[Collector] CHECK CONSTRAINT [Collector_FK2]
GO
ALTER TABLE [dbo].[Collector]  WITH CHECK ADD  CONSTRAINT [Collector_FK3] FOREIGN KEY([COLLECTORTYPE_ID])
REFERENCES [dbo].[CollectorType] ([COLLECTORTYPE_ID])
GO
ALTER TABLE [dbo].[Collector] CHECK CONSTRAINT [Collector_FK3]
GO
