USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ChassisToPSU]    Script Date: 6/29/2019 5:46:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChassisToPSU](
	[CHASSIS_ID] [bigint] NOT NULL,
	[PSU_ID] [bigint] NOT NULL,
 CONSTRAINT [ChassisToPSU_PK] PRIMARY KEY CLUSTERED 
(
	[CHASSIS_ID] ASC,
	[PSU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1397991102]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1397991102] ON [dbo].[ChassisToPSU]
(
	[PSU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1569117139]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1569117139] ON [dbo].[ChassisToPSU]
(
	[CHASSIS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChassisToPSU]  WITH CHECK ADD  CONSTRAINT [ChassisToPSU_FK] FOREIGN KEY([CHASSIS_ID])
REFERENCES [dbo].[ChassisDetails] ([CHASSIS_ID])
GO
ALTER TABLE [dbo].[ChassisToPSU] CHECK CONSTRAINT [ChassisToPSU_FK]
GO
ALTER TABLE [dbo].[ChassisToPSU]  WITH CHECK ADD  CONSTRAINT [ChassisToPSU_FK1] FOREIGN KEY([PSU_ID])
REFERENCES [dbo].[UCSPSU] ([PSU_ID])
GO
ALTER TABLE [dbo].[ChassisToPSU] CHECK CONSTRAINT [ChassisToPSU_FK1]
GO
