USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LsiVirtualDisk]    Script Date: 6/29/2019 5:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LsiVirtualDisk](
	[DEVICE_ID] [bigint] NOT NULL,
	[VDISK_IDENTIFIER] [varchar](50) NOT NULL,
	[STATE] [varchar](50) NULL,
	[NO_OF_DISKS] [varchar](50) NULL,
	[RAID_LEVEL] [varchar](50) NULL,
	[TOTAL_CAPACITY] [varchar](50) NULL,
	[CONFIGURED_CAPACITY] [varchar](50) NULL,
	[FREE_CAPACITY] [varchar](50) NULL,
 CONSTRAINT [LsiVirtualDisk_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[VDISK_IDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__524610925]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__524610925] ON [dbo].[LsiVirtualDisk]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LsiVirtualDisk]  WITH CHECK ADD  CONSTRAINT [LsiVirtualDisk_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LsiVirtualDisk] CHECK CONSTRAINT [LsiVirtualDisk_FK1]
GO
