USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DCObject]    Script Date: 6/29/2019 5:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DCObject](
	[NAME] [varchar](100) NOT NULL,
	[OWNERNAME] [varchar](25) NOT NULL,
	[PDCEMULATOR] [varchar](50) NULL,
	[INFRASTRUCTUREMASTER] [varchar](50) NULL,
	[RIDMASTER] [varchar](50) NULL,
	[DOMAINNAMINGMASTER] [varchar](50) NULL,
	[SCHEMAMASTER] [varchar](50) NULL,
	[SERVICEPACK] [varchar](50) NULL,
	[VERSIONNUMBER] [varchar](50) NULL,
	[ADSTOREDRIVE] [varchar](50) NULL,
	[ADSTOREFILE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC,
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
