USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaPamModuleOption]    Script Date: 6/29/2019 5:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaPamModuleOption](
	[PAMMODULE_ID] [bigint] NOT NULL,
	[PROP_NAME] [varchar](50) NOT NULL,
	[PROP_VALUE] [varchar](50) NOT NULL,
 CONSTRAINT [AaaPamModuleOption_PK] PRIMARY KEY CLUSTERED 
(
	[PAMMODULE_ID] ASC,
	[PROP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1439327864]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1439327864] ON [dbo].[AaaPamModuleOption]
(
	[PAMMODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaPamModuleOption]  WITH CHECK ADD  CONSTRAINT [AaaPamModuleOption_FK] FOREIGN KEY([PAMMODULE_ID])
REFERENCES [dbo].[AaaPamModule] ([PAMMODULE_ID])
GO
ALTER TABLE [dbo].[AaaPamModuleOption] CHECK CONSTRAINT [AaaPamModuleOption_FK]
GO
