USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TableDetails]    Script Date: 6/29/2019 5:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableDetails](
	[TABLE_ID] [bigint] NOT NULL,
	[APPL_ID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](100) NOT NULL,
	[TABLE_DESC] [varchar](1000) NULL,
	[DISPLAY_NAME] [varchar](100) NULL,
	[SYSTEM] [bit] NOT NULL,
	[TABLE_ORDER] [bigint] NULL,
	[CREATETABLE] [bit] NOT NULL,
	[ISTEMPLATE] [bit] NOT NULL,
 CONSTRAINT [TableDetails_PK] PRIMARY KEY CLUSTERED 
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TableDetails_UK0] UNIQUE NONCLUSTERED 
(
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_871408463]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_871408463] ON [dbo].[TableDetails]
(
	[APPL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TableDetails_IDX1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [TableDetails_IDX1] ON [dbo].[TableDetails]
(
	[TABLE_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TableDetails] ADD  DEFAULT ((0)) FOR [SYSTEM]
GO
ALTER TABLE [dbo].[TableDetails] ADD  DEFAULT ((1)) FOR [CREATETABLE]
GO
ALTER TABLE [dbo].[TableDetails] ADD  DEFAULT ((0)) FOR [ISTEMPLATE]
GO
ALTER TABLE [dbo].[TableDetails]  WITH CHECK ADD  CONSTRAINT [Appl_id] FOREIGN KEY([APPL_ID])
REFERENCES [dbo].[SB_Applications] ([APPL_ID])
GO
ALTER TABLE [dbo].[TableDetails] CHECK CONSTRAINT [Appl_id]
GO
