USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GraphDCValue]    Script Date: 6/29/2019 5:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraphDCValue](
	[ID] [bigint] NOT NULL,
	[CONFIG_ID] [bigint] NOT NULL,
	[GRAPHOID_ID] [bigint] NOT NULL,
	[VALUE] [bigint] NOT NULL,
	[LATEST] [int] NOT NULL,
	[DIFF_VALUE] [bigint] NULL,
	[LASTUPDATETIME] [datetime] NOT NULL,
 CONSTRAINT [GraphDCValue_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1736191121]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1736191121] ON [dbo].[GraphDCValue]
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1736191122]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1736191122] ON [dbo].[GraphDCValue]
(
	[GRAPHOID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GraphDCValue] ADD  DEFAULT ('1') FOR [LATEST]
GO
ALTER TABLE [dbo].[GraphDCValue]  WITH CHECK ADD  CONSTRAINT [GraphDCValue_FK1] FOREIGN KEY([CONFIG_ID])
REFERENCES [dbo].[CTInputConfig] ([CONFIG_ID])
GO
ALTER TABLE [dbo].[GraphDCValue] CHECK CONSTRAINT [GraphDCValue_FK1]
GO
ALTER TABLE [dbo].[GraphDCValue]  WITH CHECK ADD  CONSTRAINT [GraphDCValue_FK2] FOREIGN KEY([GRAPHOID_ID])
REFERENCES [dbo].[GraphOID_DATA] ([ID])
GO
ALTER TABLE [dbo].[GraphDCValue] CHECK CONSTRAINT [GraphDCValue_FK2]
GO
