USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LAYER2MAPPING]    Script Date: 6/29/2019 5:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAYER2MAPPING](
	[MAPID] [bigint] NOT NULL,
	[FROMNODEADDRESS] [varchar](50) NOT NULL,
	[IFINDEX] [int] NOT NULL,
	[IFNAME] [varchar](50) NOT NULL,
	[ENDNODEADDRESS] [varchar](50) NOT NULL,
	[ENDPHYSADDRESS] [varchar](50) NULL,
	[DISCOVERTYPE] [varchar](25) NOT NULL,
 CONSTRAINT [LAYER2MAPPING_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC,
	[FROMNODEADDRESS] ASC,
	[ENDNODEADDRESS] ASC,
	[DISCOVERTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1043860009]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1043860009] ON [dbo].[LAYER2MAPPING]
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LAYER2MAPPING]  WITH CHECK ADD  CONSTRAINT [LAYER2MAPPING_FK] FOREIGN KEY([MAPID])
REFERENCES [dbo].[LAYER2CONFIGURATION] ([MAPID])
GO
ALTER TABLE [dbo].[LAYER2MAPPING] CHECK CONSTRAINT [LAYER2MAPPING_FK]
GO
