USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCMRuleDGMap]    Script Date: 6/29/2019 5:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCMRuleDGMap](
	[RULE_ID] [bigint] NOT NULL,
	[DEVICE_GROUP_ID] [bigint] NOT NULL,
	[ASSOCIATED_BY_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMCMRuleDGMap_PK1] PRIMARY KEY CLUSTERED 
(
	[RULE_ID] ASC,
	[DEVICE_GROUP_ID] ASC,
	[ASSOCIATED_BY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_809844904]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_809844904] ON [dbo].[NCMCMRuleDGMap]
(
	[RULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_809844905]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_809844905] ON [dbo].[NCMCMRuleDGMap]
(
	[DEVICE_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_809844906]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_809844906] ON [dbo].[NCMCMRuleDGMap]
(
	[ASSOCIATED_BY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCMRuleDGMap] ADD  DEFAULT ('1') FOR [ASSOCIATED_BY_ID]
GO
ALTER TABLE [dbo].[NCMCMRuleDGMap]  WITH CHECK ADD  CONSTRAINT [NCMCMRuleDGMap_FK1] FOREIGN KEY([RULE_ID])
REFERENCES [dbo].[NCMChangeMgmtRule] ([RULE_ID])
GO
ALTER TABLE [dbo].[NCMCMRuleDGMap] CHECK CONSTRAINT [NCMCMRuleDGMap_FK1]
GO
ALTER TABLE [dbo].[NCMCMRuleDGMap]  WITH CHECK ADD  CONSTRAINT [NCMCMRuleDGMap_FK2] FOREIGN KEY([DEVICE_GROUP_ID])
REFERENCES [dbo].[NCMDeviceGroup] ([DEVICE_GROUP_ID])
GO
ALTER TABLE [dbo].[NCMCMRuleDGMap] CHECK CONSTRAINT [NCMCMRuleDGMap_FK2]
GO
ALTER TABLE [dbo].[NCMCMRuleDGMap]  WITH CHECK ADD  CONSTRAINT [NCMCMRuleDGMap_FK3] FOREIGN KEY([ASSOCIATED_BY_ID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[NCMCMRuleDGMap] CHECK CONSTRAINT [NCMCMRuleDGMap_FK3]
GO
