USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaAccOwnerProfile]    Script Date: 6/29/2019 5:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaAccOwnerProfile](
	[ACCOUNT_ID] [bigint] NOT NULL,
	[ALLOWED_SUBACCOUNT] [int] NOT NULL,
 CONSTRAINT [AaaAccOwnerProfile_PK] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__67254930]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__67254930] ON [dbo].[AaaAccOwnerProfile]
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaAccOwnerProfile] ADD  DEFAULT ('-1') FOR [ALLOWED_SUBACCOUNT]
GO
ALTER TABLE [dbo].[AaaAccOwnerProfile]  WITH CHECK ADD  CONSTRAINT [AaaAccOwnerProfile_FK] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[AaaAccount] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[AaaAccOwnerProfile] CHECK CONSTRAINT [AaaAccOwnerProfile_FK]
GO
