USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TftpServerParams]    Script Date: 6/29/2019 5:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TftpServerParams](
	[PORT] [int] NOT NULL,
	[ROOT_DIRECTORY] [varchar](50) NOT NULL,
	[TIMEOUT] [int] NOT NULL,
	[RETRIES] [int] NOT NULL,
	[MAX_CLIENTS] [int] NOT NULL,
 CONSTRAINT [TftpServerParams_PK] PRIMARY KEY CLUSTERED 
(
	[PORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
