USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaUser]    Script Date: 6/29/2019 5:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaUser](
	[USER_ID] [bigint] NOT NULL,
	[FIRST_NAME] [varchar](50) NOT NULL,
	[MIDDLE_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[CREATEDTIME] [bigint] NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
 CONSTRAINT [AaaUser_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaUser] ADD  DEFAULT ('No Description') FOR [DESCRIPTION]
GO
