USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IPv4Address]    Script Date: 6/29/2019 5:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPv4Address](
	[ADDRESSID] [bigint] NOT NULL,
	[DOMAINNAME] [varchar](250) NULL,
	[ADDRESS] [varchar](15) NOT NULL,
 CONSTRAINT [IPv4Address_PK] PRIMARY KEY CLUSTERED 
(
	[ADDRESSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__961458660]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__961458660] ON [dbo].[IPv4Address]
(
	[ADDRESSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IPv4Address]  WITH CHECK ADD  CONSTRAINT [IPv4Address_FK1] FOREIGN KEY([ADDRESSID])
REFERENCES [dbo].[Address] ([ADDRESSID])
GO
ALTER TABLE [dbo].[IPv4Address] CHECK CONSTRAINT [IPv4Address_FK1]
GO
