USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPMSAP2000SystemChassis]    Script Date: 6/29/2019 5:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPMSAP2000SystemChassis](
	[DEVICE_ID] [bigint] NOT NULL,
	[CHASSIS_NAME] [varchar](250) NOT NULL,
	[CHASSIS_TYPE] [varchar](250) NULL,
	[MODEL] [varchar](250) NULL,
	[STATUS] [varchar](250) NULL,
	[MANUFACTURER] [varchar](250) NULL,
	[IS_LOCKED] [varchar](250) NULL,
	[LOCK_PRESENT] [varchar](250) NULL,
	[NO_POWER_CORDS] [varchar](250) NULL,
	[REMOVAL_CONDITION] [varchar](250) NULL,
	[SERIAL_NUMBER] [varchar](250) NULL,
	[STATUS_DESCRIPTION] [varchar](250) NULL,
	[VISIBLE_ALARM] [varchar](250) NULL,
	[RACK_MONTABLE] [varchar](250) NULL,
	[POWERED_ON] [varchar](250) NULL,
 CONSTRAINT [HPMSAP2000SystemChassis_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[CHASSIS_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_935161544]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_935161544] ON [dbo].[HPMSAP2000SystemChassis]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPMSAP2000SystemChassis]  WITH CHECK ADD  CONSTRAINT [HPMSAP2000SystemChassis_FK] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPMSAP2000SystemChassis] CHECK CONSTRAINT [HPMSAP2000SystemChassis_FK]
GO
