USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DELETEDUSERS]    Script Date: 6/29/2019 5:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DELETEDUSERS](
	[USERID] [bigint] NOT NULL,
	[USERNAME] [text] NOT NULL,
	[DELETEDTIME] [bigint] NOT NULL,
 CONSTRAINT [DELETEDUSERS_PK] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
