USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InstanceData]    Script Date: 6/29/2019 5:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstanceData](
	[POLLID] [bigint] NOT NULL,
	[INSTANCE] [varchar](255) NOT NULL,
	[FULL_INSTANCE] [varchar](500) NULL,
	[VALUE] [varchar](250) NOT NULL,
 CONSTRAINT [InstanceData_PK] PRIMARY KEY CLUSTERED 
(
	[POLLID] ASC,
	[INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
