USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EnumerationDetails]    Script Date: 6/29/2019 5:47:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnumerationDetails](
	[ENUM_ID] [bigint] NOT NULL,
	[DTYPE_ID] [bigint] NOT NULL,
	[BDTYPE_ID] [bigint] NOT NULL,
	[DTYPE_DESC] [varchar](1000) NULL,
	[SIZE] [int] NULL,
	[ALLOWED_VALUE] [varchar](500) NULL,
	[DEFAULT_VALUE] [varchar](500) NULL,
 CONSTRAINT [EnumerationDetails_PK] PRIMARY KEY CLUSTERED 
(
	[ENUM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_177219560]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_177219560] ON [dbo].[EnumerationDetails]
(
	[DTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_177219561]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_177219561] ON [dbo].[EnumerationDetails]
(
	[BDTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EnumerationDetails]  WITH CHECK ADD  CONSTRAINT [EnumerationDetails_FK1] FOREIGN KEY([DTYPE_ID])
REFERENCES [dbo].[CFDatatypes] ([DTYPE_ID])
GO
ALTER TABLE [dbo].[EnumerationDetails] CHECK CONSTRAINT [EnumerationDetails_FK1]
GO
ALTER TABLE [dbo].[EnumerationDetails]  WITH CHECK ADD  CONSTRAINT [EnumerationDetails_FK2] FOREIGN KEY([BDTYPE_ID])
REFERENCES [dbo].[CFDatatypes] ([DTYPE_ID])
GO
ALTER TABLE [dbo].[EnumerationDetails] CHECK CONSTRAINT [EnumerationDetails_FK2]
GO
