USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DELETEREQUESTDETAILS]    Script Date: 6/29/2019 5:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DELETEREQUESTDETAILS](
	[AGENT_REQUEST_ID] [bigint] NOT NULL,
	[DEVICE_NAME] [varchar](200) NOT NULL,
 CONSTRAINT [DELETEREQUESTDETAILS_PK1] PRIMARY KEY CLUSTERED 
(
	[AGENT_REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1628362635]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1628362635] ON [dbo].[DELETEREQUESTDETAILS]
(
	[AGENT_REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DELETEREQUESTDETAILS]  WITH CHECK ADD  CONSTRAINT [DELETEREQUESTDETAILS_FK1] FOREIGN KEY([AGENT_REQUEST_ID])
REFERENCES [dbo].[AGENTREQUESTDETAILS] ([AGENT_REQUEST_ID])
GO
ALTER TABLE [dbo].[DELETEREQUESTDETAILS] CHECK CONSTRAINT [DELETEREQUESTDETAILS_FK1]
GO
