USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IntfThresholdSeverity]    Script Date: 6/29/2019 5:48:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntfThresholdSeverity](
	[ID] [bigint] NOT NULL,
	[UTILFAILURECOUNT] [int] NOT NULL,
	[UTILTHSEVERITY] [int] NOT NULL,
	[ERRFAILURECOUNT] [int] NOT NULL,
	[ERRTHSEVERITY] [int] NOT NULL,
	[DISCFAILURECOUNT] [int] NOT NULL,
	[DISCTHSEVERITY] [int] NOT NULL,
 CONSTRAINT [IntfThresholdSeverity_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1239985395]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1239985395] ON [dbo].[IntfThresholdSeverity]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IntfThresholdSeverity]  WITH CHECK ADD  CONSTRAINT [IntfThresholdSeverity_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[IntfThresholdSeverity] CHECK CONSTRAINT [IntfThresholdSeverity_FK]
GO
