USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SubnetDomain]    Script Date: 6/29/2019 5:52:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubnetDomain](
	[NETID] [bigint] NOT NULL,
	[DOMAIN_ID] [bigint] NULL,
 CONSTRAINT [SubnetDomain_PK] PRIMARY KEY CLUSTERED 
(
	[NETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__735074961]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__735074961] ON [dbo].[SubnetDomain]
(
	[DOMAIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__735074962]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__735074962] ON [dbo].[SubnetDomain]
(
	[NETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SubnetDomain]  WITH CHECK ADD  CONSTRAINT [SubnetDomain_FK1] FOREIGN KEY([NETID])
REFERENCES [dbo].[SubNetwork] ([NETID])
GO
ALTER TABLE [dbo].[SubnetDomain] CHECK CONSTRAINT [SubnetDomain_FK1]
GO
ALTER TABLE [dbo].[SubnetDomain]  WITH CHECK ADD  CONSTRAINT [SubnetDomain_FK2] FOREIGN KEY([DOMAIN_ID])
REFERENCES [dbo].[ADDomain] ([DOMAIN_ID])
GO
ALTER TABLE [dbo].[SubnetDomain] CHECK CONSTRAINT [SubnetDomain_FK2]
GO
