USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MAC_DETAILS]    Script Date: 6/29/2019 5:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAC_DETAILS](
	[MAC_DETAILS_ID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[MAC_ADDRESS] [varchar](17) NOT NULL,
	[OUI_ID] [bigint] NULL,
	[CREATED_BY] [varchar](100) NULL,
	[CREATED_TIME] [datetime] NULL,
 CONSTRAINT [MAC_DETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[MAC_DETAILS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [MAC_DETAILS_UK2] UNIQUE NONCLUSTERED 
(
	[MAC_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1362684576]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1362684576] ON [dbo].[MAC_DETAILS]
(
	[OUI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1362684577]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1362684577] ON [dbo].[MAC_DETAILS]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MAC_DETAILS]  WITH CHECK ADD  CONSTRAINT [MAC_DETAILS_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[OpUtilsResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[MAC_DETAILS] CHECK CONSTRAINT [MAC_DETAILS_FK1]
GO
ALTER TABLE [dbo].[MAC_DETAILS]  WITH CHECK ADD  CONSTRAINT [MAC_DETAILS_FK2] FOREIGN KEY([OUI_ID])
REFERENCES [dbo].[MAC_PREFIX] ([OUI_ID])
GO
ALTER TABLE [dbo].[MAC_DETAILS] CHECK CONSTRAINT [MAC_DETAILS_FK2]
GO
