USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MSSQLServicesDefinition]    Script Date: 6/29/2019 5:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSSQLServicesDefinition](
	[SERVICEDEFINITIONID] [int] NOT NULL,
	[AUTOADD] [bit] NOT NULL,
 CONSTRAINT [MSSQLServicesDefinition_PK1] PRIMARY KEY CLUSTERED 
(
	[SERVICEDEFINITIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1231632506]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1231632506] ON [dbo].[MSSQLServicesDefinition]
(
	[SERVICEDEFINITIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MSSQLServicesDefinition] ADD  DEFAULT ((1)) FOR [AUTOADD]
GO
ALTER TABLE [dbo].[MSSQLServicesDefinition]  WITH CHECK ADD  CONSTRAINT [MSSQLServicesDefinition_FK1] FOREIGN KEY([SERVICEDEFINITIONID])
REFERENCES [dbo].[ServicesDefinition] ([SERVICEDEFINITIONID])
GO
ALTER TABLE [dbo].[MSSQLServicesDefinition] CHECK CONSTRAINT [MSSQLServicesDefinition_FK1]
GO
