USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 6/29/2019 5:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[NETID] [bigint] NOT NULL,
	[TYPE] [varchar](100) NOT NULL,
	[COUNT] [int] NOT NULL,
	[BASE_TYPE] [varchar](100) NULL,
 CONSTRAINT [Inventory_PK] PRIMARY KEY CLUSTERED 
(
	[NETID] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__726173047]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__726173047] ON [dbo].[Inventory]
(
	[NETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ('0') FOR [COUNT]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ('Unknown') FOR [BASE_TYPE]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [Inventory_FK1] FOREIGN KEY([NETID])
REFERENCES [dbo].[SubNetwork] ([NETID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [Inventory_FK1]
GO
