USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARNodePair]    Script Date: 6/29/2019 5:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARNodePair](
	[RAID_ID] [bigint] NOT NULL,
	[NODE_PAIR_NAME] [varchar](250) NOT NULL,
	[NODE_PAIR_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARNodePair_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[NODE_PAIR_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_320512402]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_320512402] ON [dbo].[HP3PARNodePair]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARNodePair]  WITH CHECK ADD  CONSTRAINT [HP3PARNodePair_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[HP3PARRaid] ([RAID_ID])
GO
ALTER TABLE [dbo].[HP3PARNodePair] CHECK CONSTRAINT [HP3PARNodePair_FK]
GO
