USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EqualLogicDiskDrive]    Script Date: 6/29/2019 5:47:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EqualLogicDiskDrive](
	[RAID_ID] [bigint] NOT NULL,
	[DISK_IDENTIFIER] [varchar](250) NOT NULL,
	[REVISION_NUMBER] [varchar](250) NOT NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[ADMIN_STATUS] [varchar](250) NOT NULL,
	[SLOT_NUM] [varchar](250) NOT NULL,
	[DISK_TYPE] [varchar](250) NOT NULL,
 CONSTRAINT [EqualLogicDiskDrive_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[DISK_IDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1694640592]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1694640592] ON [dbo].[EqualLogicDiskDrive]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EqualLogicDiskDrive]  WITH CHECK ADD  CONSTRAINT [EqualLogicDiskDrive_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EqualLogicDiskDrive] CHECK CONSTRAINT [EqualLogicDiskDrive_FK1]
GO
