USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetworkElement]    Script Date: 6/29/2019 5:49:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkElement](
	[RESOURCEID] [bigint] NOT NULL,
	[ISSERVER] [bit] NOT NULL,
	[NETWORKELEMENTNAME] [varchar](250) NOT NULL,
	[DISCOVERYSTATE] [int] NOT NULL,
	[IPFORWARDING] [int] NOT NULL,
 CONSTRAINT [NetworkElement_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1695874725]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1695874725] ON [dbo].[NetworkElement]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetworkElement] ADD  DEFAULT ((0)) FOR [ISSERVER]
GO
ALTER TABLE [dbo].[NetworkElement] ADD  DEFAULT ('1') FOR [DISCOVERYSTATE]
GO
ALTER TABLE [dbo].[NetworkElement] ADD  DEFAULT ('2') FOR [IPFORWARDING]
GO
ALTER TABLE [dbo].[NetworkElement]  WITH CHECK ADD  CONSTRAINT [NetworkElement_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[ManagedResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NetworkElement] CHECK CONSTRAINT [NetworkElement_FK1]
GO
