USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BladeServerToUCSAdaptor]    Script Date: 6/29/2019 5:46:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BladeServerToUCSAdaptor](
	[SERVER_ID] [bigint] NOT NULL,
	[ADAPTOR_ID] [bigint] NOT NULL,
 CONSTRAINT [BladeServerToUCSAdaptor_PK] PRIMARY KEY CLUSTERED 
(
	[SERVER_ID] ASC,
	[ADAPTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__679760060]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__679760060] ON [dbo].[BladeServerToUCSAdaptor]
(
	[ADAPTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__679760061]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__679760061] ON [dbo].[BladeServerToUCSAdaptor]
(
	[SERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BladeServerToUCSAdaptor]  WITH CHECK ADD  CONSTRAINT [BladeServerToUCSAdaptor_FK1] FOREIGN KEY([SERVER_ID])
REFERENCES [dbo].[BladeServer] ([SERVER_ID])
GO
ALTER TABLE [dbo].[BladeServerToUCSAdaptor] CHECK CONSTRAINT [BladeServerToUCSAdaptor_FK1]
GO
ALTER TABLE [dbo].[BladeServerToUCSAdaptor]  WITH CHECK ADD  CONSTRAINT [BladeServerToUCSAdaptor_FK2] FOREIGN KEY([ADAPTOR_ID])
REFERENCES [dbo].[UCSAdaptor] ([ADAPTOR_ID])
GO
ALTER TABLE [dbo].[BladeServerToUCSAdaptor] CHECK CONSTRAINT [BladeServerToUCSAdaptor_FK2]
GO
