USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMConfigFileMaxVersion]    Script Date: 6/29/2019 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMConfigFileMaxVersion](
	[FILE_ID] [bigint] NOT NULL,
	[MAX_VERSION_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMConfigFileMaxVersion_PK] PRIMARY KEY CLUSTERED 
(
	[FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1378287863]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1378287863] ON [dbo].[NCMConfigFileMaxVersion]
(
	[MAX_VERSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_875744890]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_875744890] ON [dbo].[NCMConfigFileMaxVersion]
(
	[FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMConfigFileMaxVersion]  WITH CHECK ADD  CONSTRAINT [NCMConfigFileMaxVersion_FK] FOREIGN KEY([FILE_ID])
REFERENCES [dbo].[NCMConfigFile] ([FILE_ID])
GO
ALTER TABLE [dbo].[NCMConfigFileMaxVersion] CHECK CONSTRAINT [NCMConfigFileMaxVersion_FK]
GO
ALTER TABLE [dbo].[NCMConfigFileMaxVersion]  WITH CHECK ADD  CONSTRAINT [NCMConfigFileMaxVersion_FK1] FOREIGN KEY([MAX_VERSION_ID])
REFERENCES [dbo].[NCMVersion] ([VERSION_ID])
GO
ALTER TABLE [dbo].[NCMConfigFileMaxVersion] CHECK CONSTRAINT [NCMConfigFileMaxVersion_FK1]
GO
