USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Periodic]    Script Date: 6/29/2019 5:50:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodic](
	[SCHEDULE_ID] [bigint] NOT NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[TIME_PERIOD] [bigint] NOT NULL,
	[UNIT_OF_TIME] [varchar](20) NOT NULL,
	[EXECUTE_IMMEDIATELY] [bit] NOT NULL,
 CONSTRAINT [Periodic_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_716485833]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_716485833] ON [dbo].[Periodic]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Periodic] ADD  DEFAULT ('5') FOR [TIME_PERIOD]
GO
ALTER TABLE [dbo].[Periodic] ADD  DEFAULT ('minutes') FOR [UNIT_OF_TIME]
GO
ALTER TABLE [dbo].[Periodic] ADD  DEFAULT ((0)) FOR [EXECUTE_IMMEDIATELY]
GO
ALTER TABLE [dbo].[Periodic]  WITH CHECK ADD  CONSTRAINT [Periodic_FK] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[Schedule] ([SCHEDULE_ID])
GO
ALTER TABLE [dbo].[Periodic] CHECK CONSTRAINT [Periodic_FK]
GO
