USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Time_Expr_To_Time]    Script Date: 6/29/2019 5:52:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time_Expr_To_Time](
	[TIME_EXPRESSION_ID] [bigint] NOT NULL,
	[EXPRESSION_ID] [bigint] NOT NULL,
 CONSTRAINT [Time_Expr_To_Time_PK] PRIMARY KEY CLUSTERED 
(
	[TIME_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__924638005]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__924638005] ON [dbo].[Time_Expr_To_Time]
(
	[TIME_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1400992966]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1400992966] ON [dbo].[Time_Expr_To_Time]
(
	[EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Time_Expr_To_Time]  WITH CHECK ADD  CONSTRAINT [Time_Expr_To_Time_FK] FOREIGN KEY([TIME_EXPRESSION_ID])
REFERENCES [dbo].[Time_Expressions] ([TIME_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Time_Expr_To_Time] CHECK CONSTRAINT [Time_Expr_To_Time_FK]
GO
ALTER TABLE [dbo].[Time_Expr_To_Time]  WITH CHECK ADD  CONSTRAINT [Time_Expr_To_Time_FK1] FOREIGN KEY([EXPRESSION_ID])
REFERENCES [dbo].[Expressions] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Time_Expr_To_Time] CHECK CONSTRAINT [Time_Expr_To_Time_FK1]
GO
