USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSFan]    Script Date: 6/29/2019 5:52:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSFan](
	[FAN_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[ID] [int] NOT NULL,
	[DN] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NOT NULL,
	[SERIAL] [varchar](250) NOT NULL,
	[PRESENCE] [varchar](250) NOT NULL,
	[POWER] [varchar](250) NOT NULL,
	[THERMAL] [varchar](250) NOT NULL,
	[PERFORMANCE] [varchar](250) NOT NULL,
 CONSTRAINT [UCSFan_PK] PRIMARY KEY CLUSTERED 
(
	[FAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
