USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IntfStatusPollEntry]    Script Date: 6/29/2019 5:48:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntfStatusPollEntry](
	[ID] [bigint] NOT NULL,
 CONSTRAINT [IntfStatusPollEntry_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1646635910]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1646635910] ON [dbo].[IntfStatusPollEntry]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IntfStatusPollEntry]  WITH CHECK ADD  CONSTRAINT [IntfStatusPollEntry_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[InterfaceDefinitionTemplate] ([TYPEID])
GO
ALTER TABLE [dbo].[IntfStatusPollEntry] CHECK CONSTRAINT [IntfStatusPollEntry_FK]
GO
