USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OracleCollectData]    Script Date: 6/29/2019 5:50:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OracleCollectData](
	[RESOURCENAME] [varchar](100) NOT NULL,
	[COMPONENTNAME] [varchar](100) NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[INSTANCENAME] [varchar](50) NULL,
	[DRIVERNAME] [varchar](100) NULL,
	[STATE] [int] NULL,
	[COLLECTSTATICDATA] [varchar](10) NULL,
	[ERRORMSG] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RESOURCENAME] ASC,
	[COMPONENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
