USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LsiLunMap]    Script Date: 6/29/2019 5:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LsiLunMap](
	[DEVICE_ID] [bigint] NOT NULL,
	[VOLUME_ID] [varchar](160) NOT NULL,
	[LUN] [varchar](160) NOT NULL,
	[HOST_GROUP_NAME] [varchar](250) NULL,
 CONSTRAINT [LSILUNMAP_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[VOLUME_ID] ASC,
	[LUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2036986842]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2036986842] ON [dbo].[LsiLunMap]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LsiLunMap]  WITH CHECK ADD  CONSTRAINT [LSILUNMAP_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LsiLunMap] CHECK CONSTRAINT [LSILUNMAP_FK1]
GO
