USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwCLUSTERPROPS]    Script Date: 6/29/2019 5:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwCLUSTERPROPS](
	[CLUSTER_ID] [bigint] NOT NULL,
	[NO_OF_HOSTS] [int] NOT NULL,
	[NO_OF_DATASTORES] [int] NOT NULL,
	[NO_OF_NETWORKS] [int] NOT NULL,
	[TOTAL_CPU_GHZ] [int] NULL,
	[TOTAL_MEMORY_GB] [bigint] NULL,
	[EFFECTIVE_CPU] [int] NULL,
	[EFFECTIVE_MEMORY] [bigint] NULL,
	[DRS_ENABLED] [bit] NOT NULL,
	[DAS_ENABLED] [bit] NOT NULL,
	[STATUS] [varchar](50) NOT NULL,
 CONSTRAINT [VwCLUSTERPROPS_PK] PRIMARY KEY CLUSTERED 
(
	[CLUSTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__189962012]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__189962012] ON [dbo].[VwCLUSTERPROPS]
(
	[CLUSTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwCLUSTERPROPS]  WITH CHECK ADD  CONSTRAINT [VwCLUSTERPROPS_FK1] FOREIGN KEY([CLUSTER_ID])
REFERENCES [dbo].[VwENTITYMOMAPPING] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[VwCLUSTERPROPS] CHECK CONSTRAINT [VwCLUSTERPROPS_FK1]
GO
