USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[COMMONPOLLEDDATAID]    Script Date: 6/29/2019 5:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMONPOLLEDDATAID](
	[COMMONPOLLID] [bigint] NOT NULL,
 CONSTRAINT [COMMONPOLLEDDATAID_PK] PRIMARY KEY CLUSTERED 
(
	[COMMONPOLLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
