USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetworksMapDetails]    Script Date: 6/29/2019 5:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworksMapDetails](
	[MAPNAME] [varchar](250) NOT NULL,
	[SEEDDEVICE] [varchar](250) NOT NULL,
	[LAYOUT] [varchar](50) NOT NULL,
	[SAMPLINGINTERVAL] [int] NOT NULL,
	[DRAWORPHANDDEVICES] [bit] NOT NULL,
	[ADDNETWORKS] [bit] NOT NULL,
	[LASTSAMPLINGCOUNT] [bigint] NOT NULL,
 CONSTRAINT [NetworksMapDetails_PK1] PRIMARY KEY CLUSTERED 
(
	[MAPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetworksMapDetails] ADD  DEFAULT ((0)) FOR [DRAWORPHANDDEVICES]
GO
ALTER TABLE [dbo].[NetworksMapDetails] ADD  DEFAULT ((1)) FOR [ADDNETWORKS]
GO
