USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCUnityFCPort]    Script Date: 6/29/2019 5:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCUnityFCPort](
	[PORT_ID] [bigint] NOT NULL,
	[PORT_NAME] [varchar](100) NOT NULL,
	[OPER_STATUS] [varchar](100) NULL,
	[TYPE] [varchar](100) NULL,
	[SPEED] [varchar](100) NULL,
 CONSTRAINT [EMCUnityFCPort_PK1] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1537615291]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1537615291] ON [dbo].[EMCUnityFCPort]
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCUnityFCPort]  WITH CHECK ADD  CONSTRAINT [EMCUnityFCPort_FK1] FOREIGN KEY([PORT_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCUnityFCPort] CHECK CONSTRAINT [EMCUnityFCPort_FK1]
GO
