USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenVIFToNetworkMap]    Script Date: 6/29/2019 5:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenVIFToNetworkMap](
	[VIF_ID] [bigint] NOT NULL,
	[NETWORK_ID] [bigint] NOT NULL,
 CONSTRAINT [XenVIFToNetworkMap_PK] PRIMARY KEY CLUSTERED 
(
	[VIF_ID] ASC,
	[NETWORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2076357992]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2076357992] ON [dbo].[XenVIFToNetworkMap]
(
	[VIF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2076357993]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2076357993] ON [dbo].[XenVIFToNetworkMap]
(
	[NETWORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenVIFToNetworkMap]  WITH CHECK ADD  CONSTRAINT [XenVIFToNetworkMap_FK1] FOREIGN KEY([VIF_ID])
REFERENCES [dbo].[XenVMVIFProps] ([VIF_ID])
GO
ALTER TABLE [dbo].[XenVIFToNetworkMap] CHECK CONSTRAINT [XenVIFToNetworkMap_FK1]
GO
ALTER TABLE [dbo].[XenVIFToNetworkMap]  WITH CHECK ADD  CONSTRAINT [XenVIFToNetworkMap_FK2] FOREIGN KEY([NETWORK_ID])
REFERENCES [dbo].[XenNetworkProps] ([NETWORK_ID])
GO
ALTER TABLE [dbo].[XenVIFToNetworkMap] CHECK CONSTRAINT [XenVIFToNetworkMap_FK2]
GO
