USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ResourceContext]    Script Date: 6/29/2019 5:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceContext](
	[ID] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[TYPE] [int] NOT NULL,
	[DESP] [varchar](500) NULL,
 CONSTRAINT [ResourceContext_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ResourceContext_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1003501533]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1003501533] ON [dbo].[ResourceContext]
(
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResourceContext]  WITH CHECK ADD  CONSTRAINT [ResourceContext_FK] FOREIGN KEY([TYPE])
REFERENCES [dbo].[ResourceType] ([ID])
GO
ALTER TABLE [dbo].[ResourceContext] CHECK CONSTRAINT [ResourceContext_FK]
GO
