USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 6/29/2019 5:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[SCHEDULE_ID] [bigint] NOT NULL,
	[REPEAT_FREQUENCY] [varchar](20) NOT NULL,
	[TIME_OF_DAY] [bigint] NOT NULL,
	[UNIT_OF_TIME] [varchar](20) NOT NULL,
	[DAY_OF_WEEK] [int] NOT NULL,
	[WEEK] [bigint] NOT NULL,
	[DATE_OF_MONTH] [int] NOT NULL,
	[MONTH_OF_YEAR] [int] NOT NULL,
	[YEAR_OF_DECADE] [int] NOT NULL,
	[TZ] [varchar](50) NULL,
	[SKIP_FREQUENCY] [int] NOT NULL,
	[USE_DATE_IN_REVERSE] [bit] NOT NULL,
	[FIRST_DAY_OF_WEEK] [int] NOT NULL,
 CONSTRAINT [Calendar_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2072144198]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2072144198] ON [dbo].[Calendar]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Calendar] ADD  DEFAULT ('NONE') FOR [REPEAT_FREQUENCY]
GO
ALTER TABLE [dbo].[Calendar] ADD  DEFAULT ('0') FOR [TIME_OF_DAY]
GO
ALTER TABLE [dbo].[Calendar] ADD  DEFAULT ('seconds') FOR [UNIT_OF_TIME]
GO
ALTER TABLE [dbo].[Calendar] ADD  DEFAULT ('-1') FOR [DAY_OF_WEEK]
GO
ALTER TABLE [dbo].[Calendar] ADD  DEFAULT ('-1') FOR [WEEK]
GO
ALTER TABLE [dbo].[Calendar] ADD  DEFAULT ('-1') FOR [DATE_OF_MONTH]
GO
ALTER TABLE [dbo].[Calendar] ADD  DEFAULT ('-1') FOR [MONTH_OF_YEAR]
GO
ALTER TABLE [dbo].[Calendar] ADD  DEFAULT ('-1') FOR [YEAR_OF_DECADE]
GO
ALTER TABLE [dbo].[Calendar] ADD  DEFAULT ('0') FOR [SKIP_FREQUENCY]
GO
ALTER TABLE [dbo].[Calendar] ADD  DEFAULT ((0)) FOR [USE_DATE_IN_REVERSE]
GO
ALTER TABLE [dbo].[Calendar] ADD  DEFAULT ('-1') FOR [FIRST_DAY_OF_WEEK]
GO
ALTER TABLE [dbo].[Calendar]  WITH CHECK ADD  CONSTRAINT [Calendar_FK] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[Schedule] ([SCHEDULE_ID])
GO
ALTER TABLE [dbo].[Calendar] CHECK CONSTRAINT [Calendar_FK]
GO
