USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MAC_PREFIX]    Script Date: 6/29/2019 5:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAC_PREFIX](
	[OUI_ID] [bigint] NOT NULL,
	[VENDOR_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [OUI_PK] PRIMARY KEY CLUSTERED 
(
	[OUI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MAC_PREFIX_IDX1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [MAC_PREFIX_IDX1] ON [dbo].[MAC_PREFIX]
(
	[VENDOR_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
