USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ZACCOUNTS]    Script Date: 6/29/2019 5:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZACCOUNTS](
	[USERID] [bigint] NOT NULL,
	[ZAUTHTOKEN] [varchar](100) NOT NULL,
	[ZEMAIL] [varchar](100) NOT NULL,
 CONSTRAINT [ZACCOUNTS_PK] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ZACCOUNTS_UK1] UNIQUE NONCLUSTERED 
(
	[ZAUTHTOKEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
