USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WelotecRouter]    Script Date: 6/29/2019 5:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WelotecRouter](
	[RESOURCEID] [bigint] NOT NULL,
	[BOOT_LOADER] [varchar](100) NOT NULL,
 CONSTRAINT [WelotecRouter_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1625066889]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1625066889] ON [dbo].[WelotecRouter]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WelotecRouter] ADD  DEFAULT ('Not Available') FOR [BOOT_LOADER]
GO
ALTER TABLE [dbo].[WelotecRouter]  WITH CHECK ADD  CONSTRAINT [WelotecRouter_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[WelotecRouter] CHECK CONSTRAINT [WelotecRouter_FK1]
GO
