USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HistoryKey]    Script Date: 6/29/2019 5:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryKey](
	[ID] [bigint] NOT NULL,
	[KEY_COL] [varchar](100) NOT NULL,
	[UNAME] [varchar](100) NULL,
 CONSTRAINT [HistoryKey_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [HistoryKey_UK1] UNIQUE NONCLUSTERED 
(
	[KEY_COL] ASC,
	[UNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__2064742632]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2064742632] ON [dbo].[HistoryKey]
(
	[UNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistoryKey]  WITH CHECK ADD  CONSTRAINT [HistoryKey_FK1] FOREIGN KEY([UNAME])
REFERENCES [dbo].[OpUser] ([NAME])
GO
ALTER TABLE [dbo].[HistoryKey] CHECK CONSTRAINT [HistoryKey_FK1]
GO
