USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LLDPCACHE]    Script Date: 6/29/2019 5:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LLDPCACHE](
	[MAPID] [bigint] NOT NULL,
	[LEVEL] [int] NOT NULL,
	[DEVICEADDRESS] [varchar](50) NOT NULL,
	[DEVICEPORT] [int] NOT NULL,
	[ENDNODEPORTTYPE] [varchar](50) NOT NULL,
	[ENDNODEADDRESS] [varchar](50) NOT NULL,
	[ENDNODETYPE] [varchar](50) NOT NULL,
	[IFINDEX] [int] NOT NULL,
 CONSTRAINT [LLDPCACHE_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC,
	[DEVICEADDRESS] ASC,
	[ENDNODEADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__900282162]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__900282162] ON [dbo].[LLDPCACHE]
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LLDPCACHE]  WITH CHECK ADD  CONSTRAINT [LLDPCACHE_FK] FOREIGN KEY([MAPID])
REFERENCES [dbo].[LAYER2CONFIGURATION] ([MAPID])
GO
ALTER TABLE [dbo].[LLDPCACHE] CHECK CONSTRAINT [LLDPCACHE_FK]
GO
