USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CountryCode]    Script Date: 6/29/2019 5:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryCode](
	[IP_FROM] [bigint] NOT NULL,
	[IP_TO] [bigint] NOT NULL,
	[COUNTRY_CODE] [nvarchar](5) NOT NULL,
 CONSTRAINT [CountryCode_PK] PRIMARY KEY CLUSTERED 
(
	[IP_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
