USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ToolsGroup]    Script Date: 6/29/2019 5:52:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToolsGroup](
	[GROUP_ID] [varchar](50) NOT NULL,
	[DISPLAY] [varchar](100) NOT NULL,
	[DISPLAY_I18NKEY] [varchar](100) NULL,
	[VIEW_ORDER] [int] NOT NULL,
	[PTAB_ID] [varchar](50) NOT NULL,
 CONSTRAINT [ToolsGroup_PK] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ToolsGroup_UK1] UNIQUE NONCLUSTERED 
(
	[PTAB_ID] ASC,
	[VIEW_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1977096495]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1977096495] ON [dbo].[ToolsGroup]
(
	[PTAB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ToolsGroup] ADD  DEFAULT ('OPTools') FOR [PTAB_ID]
GO
ALTER TABLE [dbo].[ToolsGroup]  WITH CHECK ADD  CONSTRAINT [ToolsGroup_FK1] FOREIGN KEY([PTAB_ID])
REFERENCES [dbo].[ParentTab] ([PTAB_ID])
GO
ALTER TABLE [dbo].[ToolsGroup] CHECK CONSTRAINT [ToolsGroup_FK1]
GO
