USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AlliedTelesisESwitch]    Script Date: 6/29/2019 5:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlliedTelesisESwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[MEMORY_SIZE] [varchar](150) NOT NULL,
	[FLASH_SIZE] [varchar](150) NOT NULL,
	[BOOTLOADER_VERSION] [varchar](150) NOT NULL,
 CONSTRAINT [AlliedTelesisESwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_550648282]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_550648282] ON [dbo].[AlliedTelesisESwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlliedTelesisESwitch] ADD  DEFAULT ('Not Available') FOR [MEMORY_SIZE]
GO
ALTER TABLE [dbo].[AlliedTelesisESwitch] ADD  DEFAULT ('Not Available') FOR [FLASH_SIZE]
GO
ALTER TABLE [dbo].[AlliedTelesisESwitch] ADD  DEFAULT ('Not Available') FOR [BOOTLOADER_VERSION]
GO
ALTER TABLE [dbo].[AlliedTelesisESwitch]  WITH CHECK ADD  CONSTRAINT [AlliedTelesisESwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[AlliedTelesisESwitch] CHECK CONSTRAINT [AlliedTelesisESwitch_FK1]
GO
