USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiscoveryConfiguration]    Script Date: 6/29/2019 5:47:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryConfiguration](
	[NAME] [varchar](250) NOT NULL,
	[MAPPERID] [bigint] NULL,
	[DATARETRIEVALGROUPID] [bigint] NULL,
 CONSTRAINT [DiscConfig_PK] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_296951110]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_296951110] ON [dbo].[DiscoveryConfiguration]
(
	[DATARETRIEVALGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_296951111]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_296951111] ON [dbo].[DiscoveryConfiguration]
(
	[MAPPERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoveryConfiguration]  WITH CHECK ADD  CONSTRAINT [DiscConf_FK1] FOREIGN KEY([DATARETRIEVALGROUPID])
REFERENCES [dbo].[DataRetrievalGroup] ([DATARETRIEVALGROUPID])
GO
ALTER TABLE [dbo].[DiscoveryConfiguration] CHECK CONSTRAINT [DiscConf_FK1]
GO
ALTER TABLE [dbo].[DiscoveryConfiguration]  WITH CHECK ADD  CONSTRAINT [DiscConf_FK2] FOREIGN KEY([MAPPERID])
REFERENCES [dbo].[DiscoveryMapperConfiguration] ([MAPPERID])
GO
ALTER TABLE [dbo].[DiscoveryConfiguration] CHECK CONSTRAINT [DiscConf_FK2]
GO
