USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RULEDEFINITION]    Script Date: 6/29/2019 5:51:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RULEDEFINITION](
	[RULEID] [bigint] NOT NULL,
	[RTID] [int] NOT NULL,
	[RULEKEYID] [int] NOT NULL,
	[OPERATORID] [int] NOT NULL,
	[RULEVALUE] [varchar](250) NOT NULL,
 CONSTRAINT [RULEDEFINITION_PK1] PRIMARY KEY CLUSTERED 
(
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_860562716]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_860562716] ON [dbo].[RULEDEFINITION]
(
	[RTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_860562717]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_860562717] ON [dbo].[RULEDEFINITION]
(
	[RULEKEYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_860562718]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_860562718] ON [dbo].[RULEDEFINITION]
(
	[OPERATORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RULEDEFINITION]  WITH CHECK ADD  CONSTRAINT [RULEDEFINITION_FK1] FOREIGN KEY([RTID])
REFERENCES [dbo].[RULETYPES] ([RTID])
GO
ALTER TABLE [dbo].[RULEDEFINITION] CHECK CONSTRAINT [RULEDEFINITION_FK1]
GO
ALTER TABLE [dbo].[RULEDEFINITION]  WITH CHECK ADD  CONSTRAINT [RULEDEFINITION_FK2] FOREIGN KEY([RULEKEYID])
REFERENCES [dbo].[RULEKEYS] ([RULEKEYID])
GO
ALTER TABLE [dbo].[RULEDEFINITION] CHECK CONSTRAINT [RULEDEFINITION_FK2]
GO
ALTER TABLE [dbo].[RULEDEFINITION]  WITH CHECK ADD  CONSTRAINT [RULEDEFINITION_FK3] FOREIGN KEY([OPERATORID])
REFERENCES [dbo].[OPERATORS] ([OPERATORID])
GO
ALTER TABLE [dbo].[RULEDEFINITION] CHECK CONSTRAINT [RULEDEFINITION_FK3]
GO
