USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ExchangeWMIPolledData]    Script Date: 6/29/2019 5:47:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExchangeWMIPolledData](
	[COLLECTDATAID] [bigint] NOT NULL,
	[AUTOADD] [bit] NOT NULL,
 CONSTRAINT [ExchangeWMIPolledData_PK1] PRIMARY KEY CLUSTERED 
(
	[COLLECTDATAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1607115749]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1607115749] ON [dbo].[ExchangeWMIPolledData]
(
	[COLLECTDATAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExchangeWMIPolledData] ADD  DEFAULT ((1)) FOR [AUTOADD]
GO
ALTER TABLE [dbo].[ExchangeWMIPolledData]  WITH CHECK ADD  CONSTRAINT [ExchangeWMIPolledData_FK1] FOREIGN KEY([COLLECTDATAID])
REFERENCES [dbo].[WMIPolledData] ([COLLECTDATAID])
GO
ALTER TABLE [dbo].[ExchangeWMIPolledData] CHECK CONSTRAINT [ExchangeWMIPolledData_FK1]
GO
