USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BandWidthHost]    Script Date: 6/29/2019 5:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BandWidthHost](
	[ID] [bigint] NOT NULL,
	[NAME] [varchar](150) NOT NULL,
	[IPADDRESS] [varchar](15) NOT NULL,
	[COMMUNITY] [varchar](100) NOT NULL,
	[ALERTNAME] [varchar](25) NOT NULL,
	[VERSION] [int] NOT NULL,
	[DEVICE_STATUS] [int] NOT NULL,
	[REMARKS] [varchar](250) NOT NULL,
 CONSTRAINT [BandWidthHost_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BandWidthHost] ADD  DEFAULT ('Global') FOR [ALERTNAME]
GO
ALTER TABLE [dbo].[BandWidthHost] ADD  DEFAULT ('0') FOR [VERSION]
GO
ALTER TABLE [dbo].[BandWidthHost] ADD  DEFAULT ('1') FOR [DEVICE_STATUS]
GO
ALTER TABLE [dbo].[BandWidthHost] ADD  DEFAULT ('-') FOR [REMARKS]
GO
