USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AdtranRouter]    Script Date: 6/29/2019 5:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdtranRouter](
	[RESOURCEID] [bigint] NOT NULL,
	[PART_NO] [varchar](100) NOT NULL,
 CONSTRAINT [AdtranRouter_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2123991388]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2123991388] ON [dbo].[AdtranRouter]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdtranRouter] ADD  DEFAULT ('Not Available') FOR [PART_NO]
GO
ALTER TABLE [dbo].[AdtranRouter]  WITH CHECK ADD  CONSTRAINT [AdtranRouter_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[AdtranRouter] CHECK CONSTRAINT [AdtranRouter_FK1]
GO
