USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IPSLAMonitorRuleList]    Script Date: 6/29/2019 5:48:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPSLAMonitorRuleList](
	[CRITERIAID] [bigint] NOT NULL,
	[PROBEGROUP_ID] [bigint] NOT NULL,
 CONSTRAINT [IPSLAMonitorRuleList_PK1] PRIMARY KEY CLUSTERED 
(
	[CRITERIAID] ASC,
	[PROBEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1098201535]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1098201535] ON [dbo].[IPSLAMonitorRuleList]
(
	[PROBEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1098201536]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1098201536] ON [dbo].[IPSLAMonitorRuleList]
(
	[CRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IPSLAMonitorRuleList]  WITH CHECK ADD  CONSTRAINT [IPSLAMonitorRuleList_FK1] FOREIGN KEY([CRITERIAID])
REFERENCES [dbo].[ProfileCriteria] ([CRITERIAID])
GO
ALTER TABLE [dbo].[IPSLAMonitorRuleList] CHECK CONSTRAINT [IPSLAMonitorRuleList_FK1]
GO
ALTER TABLE [dbo].[IPSLAMonitorRuleList]  WITH CHECK ADD  CONSTRAINT [IPSLAMonitorRuleList_FK2] FOREIGN KEY([PROBEGROUP_ID])
REFERENCES [dbo].[Collector] ([PROBEGROUP_ID])
GO
ALTER TABLE [dbo].[IPSLAMonitorRuleList] CHECK CONSTRAINT [IPSLAMonitorRuleList_FK2]
GO
