USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CredentialDetails]    Script Date: 6/29/2019 5:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CredentialDetails](
	[CRE_ID] [int] NOT NULL,
	[CRE_NAME] [varchar](100) NOT NULL,
	[CRE_DESC] [varchar](4000) NOT NULL,
	[CRE_USERNAME] [varchar](250) NOT NULL,
	[CRE_CONTEXT_NAME] [varchar](250) NULL,
	[CRE_AUTH_PROTOCOL] [int] NULL,
	[CRE_AUTH_PASSWORD] [varbinary](max) NULL,
	[CRE_ENCRYPT_PROTOCOL] [int] NULL,
	[CRE_ENCRYPT_PASSWORD] [varbinary](max) NULL,
 CONSTRAINT [Credential_Details_PK] PRIMARY KEY CLUSTERED 
(
	[CRE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
