USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AX2500LoadBalancers]    Script Date: 6/29/2019 5:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AX2500LoadBalancers](
	[RESOURCEID] [bigint] NOT NULL,
	[AFLEX_VERSION] [varchar](150) NOT NULL,
 CONSTRAINT [AX2500LoadBalancers_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1131581066]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1131581066] ON [dbo].[AX2500LoadBalancers]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AX2500LoadBalancers] ADD  DEFAULT ('Not Available') FOR [AFLEX_VERSION]
GO
ALTER TABLE [dbo].[AX2500LoadBalancers]  WITH CHECK ADD  CONSTRAINT [AX2500LoadBalancers_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[AX2500LoadBalancers] CHECK CONSTRAINT [AX2500LoadBalancers_FK1]
GO
