USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CanogaPerkins]    Script Date: 6/29/2019 5:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanogaPerkins](
	[RESOURCEID] [bigint] NOT NULL,
	[CHASSISTYPE] [varchar](50) NULL,
	[HARDWARE_TYPE] [varchar](50) NOT NULL,
	[HARDWARE_VERSION] [varchar](50) NOT NULL,
	[SDRAM_SIZE] [varchar](50) NOT NULL,
	[FLASH_SIZE] [varchar](50) NOT NULL,
	[EPLD_VERSION] [varchar](50) NOT NULL,
	[BOOTROM_VERSION] [varchar](50) NOT NULL,
 CONSTRAINT [CanogaPerkins_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__807377932]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__807377932] ON [dbo].[CanogaPerkins]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CanogaPerkins] ADD  DEFAULT ('Not Available') FOR [CHASSISTYPE]
GO
ALTER TABLE [dbo].[CanogaPerkins] ADD  DEFAULT ('Not Available') FOR [HARDWARE_TYPE]
GO
ALTER TABLE [dbo].[CanogaPerkins] ADD  DEFAULT ('Not Available') FOR [HARDWARE_VERSION]
GO
ALTER TABLE [dbo].[CanogaPerkins] ADD  DEFAULT ('Not Available') FOR [SDRAM_SIZE]
GO
ALTER TABLE [dbo].[CanogaPerkins] ADD  DEFAULT ('Not Available') FOR [FLASH_SIZE]
GO
ALTER TABLE [dbo].[CanogaPerkins] ADD  DEFAULT ('Not Available') FOR [EPLD_VERSION]
GO
ALTER TABLE [dbo].[CanogaPerkins] ADD  DEFAULT ('Not Available') FOR [BOOTROM_VERSION]
GO
ALTER TABLE [dbo].[CanogaPerkins]  WITH CHECK ADD  CONSTRAINT [CanogaPerkins_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CanogaPerkins] CHECK CONSTRAINT [CanogaPerkins_FK1]
GO
