USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMSwitchPortAdminStatus]    Script Date: 6/29/2019 5:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMSwitchPortAdminStatus](
	[ADMINSTATUS] [varchar](15) NOT NULL,
	[IMAGEICON] [varchar](200) NOT NULL,
 CONSTRAINT [NCMSwitchPortAdminStatus_PK] PRIMARY KEY CLUSTERED 
(
	[ADMINSTATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMSwitchPortAdminStatus] ADD  DEFAULT ('[NA]') FOR [ADMINSTATUS]
GO
