USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PolicyActionCondition]    Script Date: 6/29/2019 5:50:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyActionCondition](
	[NAME] [varchar](100) NOT NULL,
	[OBJKEY] [varchar](100) NOT NULL,
	[POLICYACTION] [varchar](100) NULL,
	[POLICYCONDITION] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC,
	[OBJKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PolicyActionCondition0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [PolicyActionCondition0_ndx] ON [dbo].[PolicyActionCondition]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
