USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MYDEVICETEMPLATETOEXPORT]    Script Date: 6/29/2019 5:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MYDEVICETEMPLATETOEXPORT](
	[DEVICETYPEID] [bigint] NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [MYDEVICETEMPLATETOEXPORT_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MYDEVICETEMPLATETOEXPORT] ADD  DEFAULT ((1)) FOR [STATUS]
GO
