USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduleSettings]    Script Date: 6/29/2019 5:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleSettings](
	[SCHEDULEID] [bigint] NOT NULL,
	[ReportFormat] [varchar](250) NOT NULL,
	[NextScheduleat] [bigint] NOT NULL,
 CONSTRAINT [ScheduleSettings_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_198386247]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_198386247] ON [dbo].[ScheduleSettings]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleSettings]  WITH CHECK ADD  CONSTRAINT [ScheduleSettings_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleReports] ([SCHEDULEID])
GO
ALTER TABLE [dbo].[ScheduleSettings] CHECK CONSTRAINT [ScheduleSettings_FK1]
GO
