USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Bean]    Script Date: 6/29/2019 5:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bean](
	[BEAN_ID] [bigint] NOT NULL,
	[MODULE_ID] [bigint] NOT NULL,
	[BEAN_NAME] [varchar](100) NOT NULL,
	[CLASSNAME] [varchar](250) NOT NULL,
	[TRANSACTION_TYPE] [int] NOT NULL,
 CONSTRAINT [Bean_PK] PRIMARY KEY CLUSTERED 
(
	[BEAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Bean_UK0] UNIQUE NONCLUSTERED 
(
	[BEAN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1430197140]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1430197140] ON [dbo].[Bean]
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bean] ADD  DEFAULT ('1') FOR [TRANSACTION_TYPE]
GO
ALTER TABLE [dbo].[Bean]  WITH CHECK ADD  CONSTRAINT [Bean_FK] FOREIGN KEY([MODULE_ID])
REFERENCES [dbo].[Module] ([MODULE_ID])
GO
ALTER TABLE [dbo].[Bean] CHECK CONSTRAINT [Bean_FK]
GO
