USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiskHP3PAR]    Script Date: 6/29/2019 5:47:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiskHP3PAR](
	[DISK_ID] [bigint] NOT NULL,
	[INITIATOR_A] [varchar](250) NULL,
	[INITIATOR_B] [varchar](250) NULL,
	[PRIMARY_PORT_PATH] [varchar](250) NULL,
	[DISK_ELEMENT_NAME] [varchar](250) NULL,
	[CAGE_TYPE] [varchar](250) NULL,
	[IS_LD_ALLOCATEABLE] [varchar](250) NULL,
	[STATE_ON_LOOP_A] [varchar](250) NULL,
	[STATE_ON_LOOP_B] [varchar](250) NULL,
	[ALPA_ON_LOOP_A] [varchar](250) NULL,
	[ALPA_ON_LOOP_B] [varchar](250) NULL,
	[UNCORRECTABLE_READ_ERRORS] [varchar](250) NULL,
	[UNCORRECTABLE_WRITE_ERRORS] [varchar](250) NULL,
	[IS_ESI] [varchar](250) NULL,
	[ESI_STATE] [varchar](250) NULL,
	[SPARE_USED_CAPACITY] [varchar](250) NULL,
	[SPARE_FREE_CAPACITY] [varchar](250) NULL,
 CONSTRAINT [DiskHP3PAR_PK] PRIMARY KEY CLUSTERED 
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_981399104]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_981399104] ON [dbo].[DiskHP3PAR]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiskHP3PAR]  WITH CHECK ADD  CONSTRAINT [DiskHP3PAR_FK1] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[SANDiskDrive] ([DISK_ID])
GO
ALTER TABLE [dbo].[DiskHP3PAR] CHECK CONSTRAINT [DiskHP3PAR_FK1]
GO
