USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DISCOVERYRULESACTIONMAPPING]    Script Date: 6/29/2019 5:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCOVERYRULESACTIONMAPPING](
	[DTID] [bigint] NOT NULL,
	[ACTIONID] [bigint] NOT NULL,
 CONSTRAINT [DISCOVERYRULESACTIONMAPPING_PK1] PRIMARY KEY CLUSTERED 
(
	[DTID] ASC,
	[ACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1736158878]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1736158878] ON [dbo].[DISCOVERYRULESACTIONMAPPING]
(
	[DTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1736158879]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1736158879] ON [dbo].[DISCOVERYRULESACTIONMAPPING]
(
	[ACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DISCOVERYRULESACTIONMAPPING]  WITH CHECK ADD  CONSTRAINT [DISCOVERYRULESACTIONMAPPING_FK1] FOREIGN KEY([DTID])
REFERENCES [dbo].[DISCOVERYRULESTEMPLATE] ([DTID])
GO
ALTER TABLE [dbo].[DISCOVERYRULESACTIONMAPPING] CHECK CONSTRAINT [DISCOVERYRULESACTIONMAPPING_FK1]
GO
ALTER TABLE [dbo].[DISCOVERYRULESACTIONMAPPING]  WITH CHECK ADD  CONSTRAINT [DISCOVERYRULESACTIONMAPPING_FK2] FOREIGN KEY([ACTIONID])
REFERENCES [dbo].[ACTIONDEFINITION] ([ACTIONID])
GO
ALTER TABLE [dbo].[DISCOVERYRULESACTIONMAPPING] CHECK CONSTRAINT [DISCOVERYRULESACTIONMAPPING_FK2]
GO
