USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduleSPTask]    Script Date: 6/29/2019 5:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleSPTask](
	[SCHEDULEID] [bigint] NOT NULL,
	[TRIGGERDESCRIPTION] [varchar](250) NOT NULL,
 CONSTRAINT [ScheduleSPTask_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1306515002]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1306515002] ON [dbo].[ScheduleSPTask]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleSPTask]  WITH CHECK ADD  CONSTRAINT [ScheduleSPTask_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[NGBaseSchedule] ([ID])
GO
ALTER TABLE [dbo].[ScheduleSPTask] CHECK CONSTRAINT [ScheduleSPTask_FK1]
GO
