USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSServiceProfiles]    Script Date: 6/29/2019 5:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSServiceProfiles](
	[PROFILE_ID] [bigint] NOT NULL,
	[UCS_ID] [bigint] NOT NULL,
	[DN] [varchar](150) NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
	[USER_LABEL] [varchar](150) NOT NULL,
	[ASSIGN_STATE] [varchar](100) NOT NULL,
	[ASSOCIATE_STATE] [varchar](100) NOT NULL,
	[CONFIG_STATE] [varchar](100) NOT NULL,
	[OPERSTATE] [varchar](100) NOT NULL,
	[OWNER] [varchar](100) NOT NULL,
	[TYPE] [varchar](100) NOT NULL,
	[ASSOICATED_DN] [varchar](150) NOT NULL,
 CONSTRAINT [UCSServiceProfiles_PK] PRIMARY KEY CLUSTERED 
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__774366777]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__774366777] ON [dbo].[UCSServiceProfiles]
(
	[UCS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UCSServiceProfiles]  WITH CHECK ADD  CONSTRAINT [UCSServiceProfiles_FK1] FOREIGN KEY([UCS_ID])
REFERENCES [dbo].[UCSDevice] ([UCS_ID])
GO
ALTER TABLE [dbo].[UCSServiceProfiles] CHECK CONSTRAINT [UCSServiceProfiles_FK1]
GO
