USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SANVolume]    Script Date: 6/29/2019 5:51:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANVolume](
	[RAID_ID] [bigint] NOT NULL,
	[VOLUME_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NULL,
	[ID] [varchar](250) NOT NULL,
	[STATUS] [varchar](250) NULL,
	[POOL_NAME] [varchar](250) NULL,
	[IO_GROUP_NAME] [varchar](250) NULL,
	[TYPE] [varchar](250) NULL,
	[REAL_CAPACITY] [varchar](250) NULL,
	[USED_CAPACITY] [varchar](250) NULL,
	[FREE_CAPACITY] [varchar](250) NULL,
 CONSTRAINT [SANVolume_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1064274616]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1064274616] ON [dbo].[SANVolume]
(
	[VOLUME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1064274617]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1064274617] ON [dbo].[SANVolume]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SANVolume]  WITH CHECK ADD  CONSTRAINT [SANVolume_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SANVolume] CHECK CONSTRAINT [SANVolume_FK1]
GO
ALTER TABLE [dbo].[SANVolume]  WITH CHECK ADD  CONSTRAINT [SANVolume_FK2] FOREIGN KEY([VOLUME_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SANVolume] CHECK CONSTRAINT [SANVolume_FK2]
GO
