USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Time_Constants]    Script Date: 6/29/2019 5:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time_Constants](
	[TIME_EXPRESSION_ID] [bigint] NOT NULL,
	[TIME_CONSTANT] [datetime] NOT NULL,
 CONSTRAINT [Time_Constants_PK] PRIMARY KEY CLUSTERED 
(
	[TIME_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__492599833]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__492599833] ON [dbo].[Time_Constants]
(
	[TIME_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Time_Constants]  WITH CHECK ADD  CONSTRAINT [Time_Constants_FK] FOREIGN KEY([TIME_EXPRESSION_ID])
REFERENCES [dbo].[Time_Expressions] ([TIME_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Time_Constants] CHECK CONSTRAINT [Time_Constants_FK]
GO
