USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LsiVolumeGroup]    Script Date: 6/29/2019 5:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LsiVolumeGroup](
	[DEVICE_ID] [bigint] NOT NULL,
	[VOLGRP_ID] [varchar](250) NOT NULL,
	[RAID_LEVEL] [varchar](250) NULL,
	[STATE] [varchar](250) NULL,
	[FREE_CAPACITY] [varchar](250) NULL,
	[TOTAL_CAPACITY] [varchar](250) NULL,
 CONSTRAINT [LSIVOLUMEGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[VOLGRP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1481342303]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1481342303] ON [dbo].[LsiVolumeGroup]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LsiVolumeGroup]  WITH CHECK ADD  CONSTRAINT [LSIVOLGRP_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LsiVolumeGroup] CHECK CONSTRAINT [LSIVOLGRP_FK1]
GO
