USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMScheduleResultAudit]    Script Date: 6/29/2019 5:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMScheduleResultAudit](
	[AUDIT_ID] [bigint] NOT NULL,
	[LOGIN_NAME] [varchar](100) NULL,
	[FILEPATH] [varchar](100) NOT NULL,
	[SCHEDULE_KEY] [varchar](250) NOT NULL,
	[TOTAL_DEVICES] [int] NOT NULL,
	[COMPLETED_DEVICES] [int] NOT NULL,
	[FAILED_DEVICES] [int] NOT NULL,
	[SCHEDULE_RUNNING_STATUS] [varchar](250) NOT NULL,
	[SCHEDULE_END_TIME] [datetime] NULL,
 CONSTRAINT [NCMScheduleResultAudit_PK1] PRIMARY KEY CLUSTERED 
(
	[AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1343860252]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1343860252] ON [dbo].[NCMScheduleResultAudit]
(
	[AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMScheduleResultAudit] ADD  DEFAULT ('Not Available') FOR [LOGIN_NAME]
GO
ALTER TABLE [dbo].[NCMScheduleResultAudit] ADD  DEFAULT ('[NA]') FOR [SCHEDULE_KEY]
GO
ALTER TABLE [dbo].[NCMScheduleResultAudit] ADD  DEFAULT ('0') FOR [TOTAL_DEVICES]
GO
ALTER TABLE [dbo].[NCMScheduleResultAudit] ADD  DEFAULT ('0') FOR [COMPLETED_DEVICES]
GO
ALTER TABLE [dbo].[NCMScheduleResultAudit] ADD  DEFAULT ('0') FOR [FAILED_DEVICES]
GO
ALTER TABLE [dbo].[NCMScheduleResultAudit] ADD  DEFAULT ('COMPLETED') FOR [SCHEDULE_RUNNING_STATUS]
GO
ALTER TABLE [dbo].[NCMScheduleResultAudit]  WITH CHECK ADD  CONSTRAINT [NCMScheduleResultAudit_FK1] FOREIGN KEY([AUDIT_ID])
REFERENCES [dbo].[Schedule_Audit] ([AUDIT_ID])
GO
ALTER TABLE [dbo].[NCMScheduleResultAudit] CHECK CONSTRAINT [NCMScheduleResultAudit_FK1]
GO
