USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OBJECT_SITE_MAPPING]    Script Date: 6/29/2019 5:49:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECT_SITE_MAPPING](
	[OBJNAME] [varchar](50) NOT NULL,
	[CATEGORY] [varchar](25) NULL,
	[CUSTOMERNAME] [varchar](50) NULL,
	[SITENAME] [varchar](50) NULL,
	[SITEID] [bigint] NOT NULL,
	[BVNAME] [varchar](110) NULL,
 CONSTRAINT [OBJECT_SITE_MAPPING_PK1] PRIMARY KEY CLUSTERED 
(
	[OBJNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
