USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VirtualizationTasks]    Script Date: 6/29/2019 5:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VirtualizationTasks](
	[ID] [bigint] NOT NULL,
	[VIRTUALTYPE] [varchar](50) NOT NULL,
	[TASKNAME] [varchar](200) NOT NULL,
	[TASKFUNC] [varchar](200) NOT NULL,
	[Description] [varchar](200) NULL,
	[SUCCESSACTIONS] [varchar](100) NULL,
	[ACTIONPARAMS] [varchar](250) NULL,
	[TASK_INPUT] [varchar](250) NULL,
 CONSTRAINT [VirtualizationTasks_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [VirtualizationTasks_UK1] UNIQUE NONCLUSTERED 
(
	[TASKNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
