USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[QualstarTapeLibrary]    Script Date: 6/29/2019 5:50:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualstarTapeLibrary](
	[DEVICE_ID] [bigint] NOT NULL,
	[LIBRARY_GATEWAY] [varchar](250) NULL,
	[LIBRARY_NETMASK] [varchar](250) NULL,
	[LIBRARY_DHCP] [varchar](250) NULL,
	[LIBRARY_MAC] [varchar](250) NULL,
	[TRAP_DEST] [varchar](250) NULL,
	[CONTROL_TRAPS] [varchar](250) NULL,
	[FW_VERSION] [varchar](250) NULL,
	[FW_DATE] [varchar](250) NULL,
	[FW_CHECKSUM] [varchar](250) NULL,
	[EVENT_STATE] [varchar](50) NULL,
 CONSTRAINT [QualstarTapeLibrary_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1635116667]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1635116667] ON [dbo].[QualstarTapeLibrary]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QualstarTapeLibrary]  WITH CHECK ADD  CONSTRAINT [QualstarTapeLibrary_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[QualstarTapeLibrary] CHECK CONSTRAINT [QualstarTapeLibrary_FK1]
GO
