USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaUserProperty]    Script Date: 6/29/2019 5:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaUserProperty](
	[USER_ID] [bigint] NOT NULL,
	[PROP_NAME] [varchar](50) NOT NULL,
	[PROP_VALUE] [varchar](1000) NOT NULL,
 CONSTRAINT [AaaUserProperty_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[PROP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2034930755]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2034930755] ON [dbo].[AaaUserProperty]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaUserProperty]  WITH CHECK ADD  CONSTRAINT [AaaUserProperty_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[AaaUserProperty] CHECK CONSTRAINT [AaaUserProperty_FK]
GO
