USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[QosClassDetails]    Script Date: 6/29/2019 5:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QosClassDetails](
	[CLASS_ID] [int] NOT NULL,
	[CLASS_NAME] [varchar](40) NOT NULL,
	[POLICY_ID] [int] NOT NULL,
 CONSTRAINT [QosClassDetails_PK] PRIMARY KEY CLUSTERED 
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1050574021]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1050574021] ON [dbo].[QosClassDetails]
(
	[POLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QosClassDetails]  WITH CHECK ADD  CONSTRAINT [QosClassDetails_FK] FOREIGN KEY([POLICY_ID])
REFERENCES [dbo].[QosIdGen] ([POLICY_ID])
GO
ALTER TABLE [dbo].[QosClassDetails] CHECK CONSTRAINT [QosClassDetails_FK]
GO
