USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LOGICALGROUPTODEVICE]    Script Date: 6/29/2019 5:48:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGICALGROUPTODEVICE](
	[MAPID] [bigint] NOT NULL,
	[GROUPID] [bigint] NULL,
	[MOID] [bigint] NULL,
 CONSTRAINT [LOGICALGROUPTODEVICE_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [LOGICALGROUPTODEVICE_UK0] UNIQUE NONCLUSTERED 
(
	[GROUPID] ASC,
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1978831475]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1978831475] ON [dbo].[LOGICALGROUPTODEVICE]
(
	[GROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1978831476]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1978831476] ON [dbo].[LOGICALGROUPTODEVICE]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOGICALGROUPTODEVICE]  WITH CHECK ADD  CONSTRAINT [LOGICALGROUPTODEVICE_FK0] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[LOGICALGROUP] ([GROUPID])
GO
ALTER TABLE [dbo].[LOGICALGROUPTODEVICE] CHECK CONSTRAINT [LOGICALGROUPTODEVICE_FK0]
GO
ALTER TABLE [dbo].[LOGICALGROUPTODEVICE]  WITH CHECK ADD  CONSTRAINT [LOGICALGROUPTODEVICE_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[LOGICALGROUPTODEVICE] CHECK CONSTRAINT [LOGICALGROUPTODEVICE_FK1]
GO
