USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Schedule_Properties]    Script Date: 6/29/2019 5:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule_Properties](
	[PROP_ID] [int] NOT NULL,
	[IP_DNS] [int] NOT NULL,
	[SPEED_UTILIZATION] [int] NOT NULL,
	[ZIP_PDF] [int] NOT NULL,
	[ENTRY] [int] NOT NULL,
	[RETAIN_DAILY_SCHEDULE] [int] NOT NULL,
	[RETAIN_WEEKLY_SCHEDULE] [int] NOT NULL,
	[RETAIN_MONTHLY_SCHEDULE] [int] NOT NULL,
	[QOS_OPTION] [int] NOT NULL,
 CONSTRAINT [Schedule_Properties_PK] PRIMARY KEY CLUSTERED 
(
	[PROP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
