USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMINVENTORYALLDEVICES]    Script Date: 6/29/2019 5:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMINVENTORYALLDEVICES](
	[RESOURCEID] [bigint] NOT NULL,
	[RESOURCENAME] [varchar](100) NOT NULL,
	[DISPLAYTYPE] [varchar](250) NOT NULL,
	[SERIES] [varchar](100) NOT NULL,
	[MODEL] [varchar](50) NOT NULL,
	[RESOURCESTATUS] [varchar](15) NOT NULL,
	[OPERATIONTYPE] [varchar](50) NOT NULL,
	[OPERATIONSTATUS] [varchar](15) NOT NULL,
	[ADDRESSID] [bigint] NOT NULL,
	[ADDRESS] [varchar](15) NOT NULL,
	[OPR_DISPLAYNAME] [varchar](50) NULL,
	[RESOURCE_STATUS] [varchar](15) NOT NULL,
	[ISCONFLICT] [bit] NOT NULL,
	[COMPLIANCE_STATUS] [varchar](25) NULL,
	[PROTOCOL_DISPLAYNAME] [varchar](20) NULL,
	[MANAGED] [bit] NOT NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
	[PROBEID] [bigint] NOT NULL,
	[UNIQUEID] [bigint] NOT NULL,
 CONSTRAINT [NCMINVENTORYALLDEVICES_PK] PRIMARY KEY CLUSTERED 
(
	[UNIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMINVENTORYALLDEVICES] ADD  DEFAULT ('[NA]') FOR [SERIES]
GO
ALTER TABLE [dbo].[NCMINVENTORYALLDEVICES] ADD  DEFAULT ('[NA]') FOR [MODEL]
GO
ALTER TABLE [dbo].[NCMINVENTORYALLDEVICES] ADD  DEFAULT ('NOTREADY') FOR [RESOURCESTATUS]
GO
ALTER TABLE [dbo].[NCMINVENTORYALLDEVICES] ADD  DEFAULT ('[NA]') FOR [OPERATIONTYPE]
GO
ALTER TABLE [dbo].[NCMINVENTORYALLDEVICES] ADD  DEFAULT ('NOTSTARTED') FOR [OPERATIONSTATUS]
GO
ALTER TABLE [dbo].[NCMINVENTORYALLDEVICES] ADD  DEFAULT ((0)) FOR [ISCONFLICT]
GO
ALTER TABLE [dbo].[NCMINVENTORYALLDEVICES] ADD  DEFAULT ((1)) FOR [MANAGED]
GO
ALTER TABLE [dbo].[NCMINVENTORYALLDEVICES] ADD  DEFAULT ('0') FOR [PROBEID]
GO
