USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DEVICETEMPLATEPROPS]    Script Date: 6/29/2019 5:47:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVICETEMPLATEPROPS](
	[PROPERTYNAME] [varchar](200) NOT NULL,
	[PROPERTYVALUE] [varchar](200) NOT NULL,
 CONSTRAINT [DEVICETEMPLATEPROPS_PK] PRIMARY KEY CLUSTERED 
(
	[PROPERTYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
