USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMOperationToFileMap]    Script Date: 6/29/2019 5:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMOperationToFileMap](
	[OPERATIONID] [bigint] NOT NULL,
	[FILETYPE] [varchar](50) NOT NULL,
 CONSTRAINT [NCMOperationToFileMap_PK] PRIMARY KEY CLUSTERED 
(
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1158275773]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1158275773] ON [dbo].[NCMOperationToFileMap]
(
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMOperationToFileMap]  WITH CHECK ADD  CONSTRAINT [NCMOperationToFileMap_FK1] FOREIGN KEY([OPERATIONID])
REFERENCES [dbo].[NCMOperation] ([OPERATIONID])
GO
ALTER TABLE [dbo].[NCMOperationToFileMap] CHECK CONSTRAINT [NCMOperationToFileMap_FK1]
GO
