USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Task_Templates]    Script Date: 6/29/2019 5:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Templates](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[WORKFLOW_TEMPLATE_ID] [bigint] NOT NULL,
	[TIMEOUT_RULE_ID] [bigint] NULL,
	[HUMAN_TASK] [bit] NOT NULL,
 CONSTRAINT [Task_Templates_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__356965172]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__356965172] ON [dbo].[Task_Templates]
(
	[WORKFLOW_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_127032325]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_127032325] ON [dbo].[Task_Templates]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Task_Templates] ADD  DEFAULT ((0)) FOR [HUMAN_TASK]
GO
ALTER TABLE [dbo].[Task_Templates]  WITH CHECK ADD  CONSTRAINT [Task_Templates_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Templates] ([TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Task_Templates] CHECK CONSTRAINT [Task_Templates_FK]
GO
ALTER TABLE [dbo].[Task_Templates]  WITH CHECK ADD  CONSTRAINT [Task_Templates_FK1] FOREIGN KEY([WORKFLOW_TEMPLATE_ID])
REFERENCES [dbo].[Workflow_Templates] ([WORKFLOW_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Task_Templates] CHECK CONSTRAINT [Task_Templates_FK1]
GO
