USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IPResources]    Script Date: 6/29/2019 5:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPResources](
	[RESOURCEID] [bigint] NOT NULL,
	[IP_INDEX] [int] NOT NULL,
	[IPADDRESS] [varchar](15) NULL,
	[ADDRINLONG] [bigint] NULL,
	[MACADDRESS] [varchar](17) NULL,
	[OUI] [varchar](8) NULL,
	[DNSNAME] [varchar](150) NULL,
	[LASTUPDATETIME] [datetime] NOT NULL,
	[LASTALIVETIME] [datetime] NULL,
	[STATUS] [int] NOT NULL,
	[ALIAS_NAME] [varchar](100) NULL,
	[RESERVED_STATUS] [int] NOT NULL,
	[MODIFIEDBY] [varchar](50) NOT NULL,
	[TELEPHONE_NUMBER] [varchar](25) NULL,
	[ASSERT_TAG] [varchar](150) NULL,
	[MODIFY_TIME] [datetime] NULL,
	[FORWORD_ADDRINLONG] [bigint] NULL,
	[DNS_LOOKUP_STATUS] [int] NOT NULL,
	[VIRTUAL_MACADDRESS] [varchar](17) NULL,
	[LOGGED_ON_USER] [varchar](500) NULL,
 CONSTRAINT [IPResources_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC,
	[IP_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1611472629]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1611472629] ON [dbo].[IPResources]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IPResources_IDX_1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IPResources_IDX_1] ON [dbo].[IPResources]
(
	[OUI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IPResources_IDX_2]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IPResources_IDX_2] ON [dbo].[IPResources]
(
	[MACADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IPResources_IDX_3]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IPResources_IDX_3] ON [dbo].[IPResources]
(
	[ALIAS_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IPResources_IDX_4]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IPResources_IDX_4] ON [dbo].[IPResources]
(
	[DNSNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IPResources_IDX_5]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IPResources_IDX_5] ON [dbo].[IPResources]
(
	[ADDRINLONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IPResources_IDX_7]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IPResources_IDX_7] ON [dbo].[IPResources]
(
	[VIRTUAL_MACADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IPResources_UK1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IPResources_UK1] ON [dbo].[IPResources]
(
	[IPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IPResources] ADD  DEFAULT ('1') FOR [IP_INDEX]
GO
ALTER TABLE [dbo].[IPResources] ADD  DEFAULT ('1') FOR [STATUS]
GO
ALTER TABLE [dbo].[IPResources] ADD  DEFAULT ('1') FOR [RESERVED_STATUS]
GO
ALTER TABLE [dbo].[IPResources] ADD  DEFAULT ('admin') FOR [MODIFIEDBY]
GO
ALTER TABLE [dbo].[IPResources] ADD  DEFAULT ('1') FOR [DNS_LOOKUP_STATUS]
GO
ALTER TABLE [dbo].[IPResources]  WITH CHECK ADD  CONSTRAINT [IPResources_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[OpUtilsResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[IPResources] CHECK CONSTRAINT [IPResources_FK1]
GO
