USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VMCPUStatsDaily]    Script Date: 6/29/2019 5:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMCPUStatsDaily](
	[CPU_ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[AVG_CPUUSAGE_MHZ] [int] NOT NULL,
	[CPU_USED_MILLISEC] [bigint] NOT NULL,
	[CPU_READY_MILLISEC] [bigint] NOT NULL,
	[CPU_WAIT_MILLISEC] [bigint] NOT NULL,
 CONSTRAINT [VMCPUStatsDaily_PK] PRIMARY KEY CLUSTERED 
(
	[CPU_ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
