USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMFDBTable]    Script Date: 6/29/2019 5:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMFDBTable](
	[RESOURCEID] [bigint] NOT NULL,
	[IFINDEX] [int] NOT NULL,
	[MACADDRESS] [varchar](17) NOT NULL,
	[IPADDRESS] [varchar](100) NULL,
	[DNSNAME] [varchar](150) NULL,
 CONSTRAINT [NCMFDBTable_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC,
	[IFINDEX] ASC,
	[MACADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__561972625]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__561972625] ON [dbo].[NCMFDBTable]
(
	[RESOURCEID] ASC,
	[IFINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NCMFDBTable_IDX_1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [NCMFDBTable_IDX_1] ON [dbo].[NCMFDBTable]
(
	[MACADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMFDBTable]  WITH CHECK ADD  CONSTRAINT [NCMFDBTable_FK1] FOREIGN KEY([RESOURCEID], [IFINDEX])
REFERENCES [dbo].[NCMSNMPInterface] ([RESOURCEID], [IFINDEX])
GO
ALTER TABLE [dbo].[NCMFDBTable] CHECK CONSTRAINT [NCMFDBTable_FK1]
GO
