USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CelerraLocalFileSystem]    Script Date: 6/29/2019 5:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CelerraLocalFileSystem](
	[RAID_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[AVAILABLESPACE] [varchar](250) NOT NULL,
	[CASEPRESERVED] [varchar](250) NOT NULL,
	[CASESENSITIVE] [varchar](250) NOT NULL,
	[FILESYSTEM_SIZE] [varchar](250) NOT NULL,
	[MAX_FILE_NAME_LENGTH] [varchar](250) NOT NULL,
	[OPERATIONAL_STATUS] [varchar](250) NOT NULL,
	[PATHNAME_SEPARATOR] [varchar](250) NOT NULL,
 CONSTRAINT [CelerraLocalFS_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_932301311]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_932301311] ON [dbo].[CelerraLocalFileSystem]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CelerraLocalFileSystem]  WITH CHECK ADD  CONSTRAINT [CelerraLocalFS_Fk1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[CelerraLocalFileSystem] CHECK CONSTRAINT [CelerraLocalFS_Fk1]
GO
