USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaTableAccessSPI]    Script Date: 6/29/2019 5:45:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaTableAccessSPI](
	[TABLE_NAME] [varchar](50) NOT NULL,
	[SERVICE_ID] [bigint] NOT NULL,
	[CRITERIA_CLASS] [varchar](150) NOT NULL,
 CONSTRAINT [AaaTableAccessSPI_PK] PRIMARY KEY CLUSTERED 
(
	[TABLE_NAME] ASC,
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1910700937]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1910700937] ON [dbo].[AaaTableAccessSPI]
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaTableAccessSPI]  WITH CHECK ADD  CONSTRAINT [AaaTableAccessSPI_FK] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[AaaService] ([SERVICE_ID])
GO
ALTER TABLE [dbo].[AaaTableAccessSPI] CHECK CONSTRAINT [AaaTableAccessSPI_FK]
GO
