USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AutonomousSystems]    Script Date: 6/29/2019 5:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutonomousSystems](
	[AS_NUMBER] [int] NOT NULL,
	[AS_NAME] [varchar](100) NOT NULL,
	[ORG_NAME] [varchar](255) NOT NULL,
 CONSTRAINT [AS_NUMBER_PK] PRIMARY KEY CLUSTERED 
(
	[AS_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
