USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TftpIPParams]    Script Date: 6/29/2019 5:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TftpIPParams](
	[TRANSPORT_PROTOCOL] [varchar](25) NOT NULL,
	[IP_PARAMS_ID] [varchar](150) NOT NULL,
	[REMOTE_HOST] [varchar](25) NULL,
	[REMOTE_PORT] [int] NULL,
 CONSTRAINT [TFTPIPPARAMS_PK] PRIMARY KEY CLUSTERED 
(
	[IP_PARAMS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
