USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMSPMBaseMac]    Script Date: 6/29/2019 5:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMSPMBaseMac](
	[MACID] [bigint] NOT NULL,
	[MACADDRESS] [varchar](17) NOT NULL,
	[IPADDRESS] [varchar](100) NULL,
	[DNSNAME] [varchar](150) NULL,
 CONSTRAINT [NCMSPMBaseMac_PK] PRIMARY KEY CLUSTERED 
(
	[MACID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMSPMBaseMac_UK0] UNIQUE NONCLUSTERED 
(
	[MACADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
