USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourceStateHolder]    Script Date: 6/29/2019 5:49:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourceStateHolder](
	[RESOURCEID] [bigint] NOT NULL,
	[STATUS] [varchar](15) NOT NULL,
 CONSTRAINT [NCMResourceStateHolder_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__553773020]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__553773020] ON [dbo].[NCMResourceStateHolder]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourceStateHolder] ADD  DEFAULT ('NOTREADY') FOR [STATUS]
GO
ALTER TABLE [dbo].[NCMResourceStateHolder]  WITH CHECK ADD  CONSTRAINT [NCMResourceStateHolder_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMDevices] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMResourceStateHolder] CHECK CONSTRAINT [NCMResourceStateHolder_FK1]
GO
