USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMTerminalDeviceGroups]    Script Date: 6/29/2019 5:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMTerminalDeviceGroups](
	[TERMINALGROUPID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
 CONSTRAINT [NCMTerminalDeviceGroups_PK] PRIMARY KEY CLUSTERED 
(
	[TERMINALGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
