USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VITemplateProps]    Script Date: 6/29/2019 5:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VITemplateProps](
	[VAR_ID] [bigint] NOT NULL,
	[VAR_PATH] [varchar](100) NOT NULL,
	[ENTITY_TYPE] [varchar](50) NOT NULL,
	[SRC_ENTITY] [varchar](50) NULL,
	[COMMON_HOST_PROP] [bit] NULL,
	[DISCOVER_VAR] [bit] NULL,
	[DISCOVER_TYPE] [int] NULL,
	[POLL_INTERVAL] [int] NOT NULL,
	[SUPPORTED_VERSION] [bigint] NOT NULL,
	[IS_NEW_PROP] [varchar](50) NOT NULL,
 CONSTRAINT [VITemplateProps_PK] PRIMARY KEY CLUSTERED 
(
	[VAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VITemplateProps] ADD  DEFAULT ('false') FOR [IS_NEW_PROP]
GO
