USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GeneralProperty]    Script Date: 6/29/2019 5:47:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralProperty](
	[KEY] [varchar](100) NOT NULL,
	[VALUE] [varchar](50) NOT NULL,
 CONSTRAINT [GeneralProperty_PK] PRIMARY KEY CLUSTERED 
(
	[KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
