USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PingScanResult]    Script Date: 6/29/2019 5:50:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PingScanResult](
	[IPADDRESS] [varchar](15) NOT NULL,
	[DNSNAME] [varchar](150) NULL,
	[RESPONSETIME] [varchar](150) NULL,
	[STATUS] [varchar](150) NULL,
	[RESPONSE_STATUS] [int] NOT NULL,
	[IPADDRINLONG] [bigint] NOT NULL,
 CONSTRAINT [PingScanResult_PK] PRIMARY KEY CLUSTERED 
(
	[IPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PingScanResult] ADD  DEFAULT ('NOT YET SCANNED') FOR [DNSNAME]
GO
ALTER TABLE [dbo].[PingScanResult] ADD  DEFAULT ('NOT YET SCANNED') FOR [RESPONSETIME]
GO
ALTER TABLE [dbo].[PingScanResult] ADD  DEFAULT ('NOT YET SCANNED') FOR [STATUS]
GO
ALTER TABLE [dbo].[PingScanResult] ADD  DEFAULT ('3') FOR [RESPONSE_STATUS]
GO
