USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCUnitySP]    Script Date: 6/29/2019 5:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCUnitySP](
	[ID] [bigint] NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[NAME] [varchar](100) NULL,
	[SLOT] [bigint] NULL,
	[MODE] [varchar](100) NULL,
	[STATUS] [varchar](100) NULL,
	[MEMORY_SIZE] [float] NULL,
 CONSTRAINT [EMCUnitySP_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2119056196]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2119056196] ON [dbo].[EMCUnitySP]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCUnitySP]  WITH CHECK ADD  CONSTRAINT [EMCUnitySP_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCUnitySP] CHECK CONSTRAINT [EMCUnitySP_FK1]
GO
