USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CCTVPosition]    Script Date: 6/29/2019 5:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCTVPosition](
	[ID] [bigint] NOT NULL,
	[CCTV_PROP_ID] [bigint] NOT NULL,
	[ROW_POSITION] [int] NOT NULL,
	[COLUMN_POSITION] [int] NOT NULL,
	[WIDTH] [int] NOT NULL,
	[HEIGHT] [int] NOT NULL,
	[WIDGET_TYPE] [varchar](50) NOT NULL,
	[ASSOCIATIONID] [bigint] NOT NULL,
	[DASHBOARDID] [bigint] NOT NULL,
 CONSTRAINT [CCTVPosition_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__700733446]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__700733446] ON [dbo].[CCTVPosition]
(
	[DASHBOARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__700733447]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__700733447] ON [dbo].[CCTVPosition]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__700733448]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__700733448] ON [dbo].[CCTVPosition]
(
	[CCTV_PROP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCTVPosition]  WITH CHECK ADD  CONSTRAINT [CCTVPosition_FK1] FOREIGN KEY([CCTV_PROP_ID])
REFERENCES [dbo].[CCTVProperties] ([CCTV_PROP_ID])
GO
ALTER TABLE [dbo].[CCTVPosition] CHECK CONSTRAINT [CCTVPosition_FK1]
GO
ALTER TABLE [dbo].[CCTVPosition]  WITH CHECK ADD  CONSTRAINT [CCTVPosition_FK2] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[WidgetAssociation] ([ASSOCIATIONID])
GO
ALTER TABLE [dbo].[CCTVPosition] CHECK CONSTRAINT [CCTVPosition_FK2]
GO
ALTER TABLE [dbo].[CCTVPosition]  WITH CHECK ADD  CONSTRAINT [CCTVPosition_FK3] FOREIGN KEY([DASHBOARDID])
REFERENCES [dbo].[Dashboard] ([DASHBOARDID])
GO
ALTER TABLE [dbo].[CCTVPosition] CHECK CONSTRAINT [CCTVPosition_FK3]
GO
