USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningCache]    Script Date: 6/29/2019 5:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningCache](
	[DEVICE_ID] [bigint] NOT NULL,
	[CACHE_SLNO] [int] NOT NULL,
	[TOTAL_CACHE] [varchar](250) NOT NULL,
	[USED_CACHE] [varchar](250) NOT NULL,
	[REMAIN_CACHE] [varchar](250) NOT NULL,
 CONSTRAINT [LightningCache_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[CACHE_SLNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1254124101]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1254124101] ON [dbo].[LightningCache]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningCache]  WITH CHECK ADD  CONSTRAINT [LightningCache_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningCache] CHECK CONSTRAINT [LightningCache_FK1]
GO
