USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AllTabHolderTool]    Script Date: 6/29/2019 5:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllTabHolderTool](
	[PARENT_TOOL_ID] [varchar](50) NOT NULL,
	[TOOL_ID] [varchar](50) NOT NULL,
	[GROUP_ID] [varchar](50) NOT NULL,
	[VIEW_ORDER] [int] NOT NULL,
 CONSTRAINT [AllTabHolderTool_PK] PRIMARY KEY CLUSTERED 
(
	[PARENT_TOOL_ID] ASC,
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AllTabHolderTool_UK1] UNIQUE NONCLUSTERED 
(
	[PARENT_TOOL_ID] ASC,
	[VIEW_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1638815269]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1638815269] ON [dbo].[AllTabHolderTool]
(
	[PARENT_TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1638815270]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1638815270] ON [dbo].[AllTabHolderTool]
(
	[GROUP_ID] ASC,
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AllTabHolderTool]  WITH CHECK ADD  CONSTRAINT [AllTabHolderTool_FK1] FOREIGN KEY([PARENT_TOOL_ID])
REFERENCES [dbo].[AllTabTool] ([TOOL_ID])
GO
ALTER TABLE [dbo].[AllTabHolderTool] CHECK CONSTRAINT [AllTabHolderTool_FK1]
GO
ALTER TABLE [dbo].[AllTabHolderTool]  WITH CHECK ADD  CONSTRAINT [AllTabHolderTool_FK2] FOREIGN KEY([GROUP_ID], [TOOL_ID])
REFERENCES [dbo].[ToolToGroup] ([GROUP_ID], [TOOL_ID])
GO
ALTER TABLE [dbo].[AllTabHolderTool] CHECK CONSTRAINT [AllTabHolderTool_FK2]
GO
