USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SQinTreeQuery]    Script Date: 6/29/2019 5:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SQinTreeQuery](
	[TQUERYID] [bigint] NOT NULL,
	[QUERYID] [bigint] NULL,
	[TABLENAME] [varchar](50) NULL,
 CONSTRAINT [TreeQueryID_PK] PRIMARY KEY CLUSTERED 
(
	[TQUERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2047877889]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2047877889] ON [dbo].[SQinTreeQuery]
(
	[TQUERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1451104267]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1451104267] ON [dbo].[SQinTreeQuery]
(
	[QUERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SQinTreeQuery]  WITH CHECK ADD  CONSTRAINT [Tree_FK1] FOREIGN KEY([QUERYID])
REFERENCES [dbo].[SelectQuery] ([QUERYID])
GO
ALTER TABLE [dbo].[SQinTreeQuery] CHECK CONSTRAINT [Tree_FK1]
GO
ALTER TABLE [dbo].[SQinTreeQuery]  WITH CHECK ADD  CONSTRAINT [TreeQueryID_FK] FOREIGN KEY([TQUERYID])
REFERENCES [dbo].[TreeQuery] ([QUERYID])
GO
ALTER TABLE [dbo].[SQinTreeQuery] CHECK CONSTRAINT [TreeQueryID_FK]
GO
