USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMVersionDownloadRQ]    Script Date: 6/29/2019 5:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMVersionDownloadRQ](
	[REQUEST_ID] [bigint] NOT NULL,
	[VERSION_ID] [bigint] NOT NULL,
	[DOWNLOAD_AS] [varchar](50) NOT NULL,
 CONSTRAINT [NCMVersionDownloadRQ_PK1] PRIMARY KEY CLUSTERED 
(
	[REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1836123851]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1836123851] ON [dbo].[NCMVersionDownloadRQ]
(
	[VERSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1836123852]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1836123852] ON [dbo].[NCMVersionDownloadRQ]
(
	[REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMVersionDownloadRQ]  WITH CHECK ADD  CONSTRAINT [NCMVersionDownloadRQ_FK1] FOREIGN KEY([REQUEST_ID])
REFERENCES [dbo].[NCMApprovalRequest] ([REQUEST_ID])
GO
ALTER TABLE [dbo].[NCMVersionDownloadRQ] CHECK CONSTRAINT [NCMVersionDownloadRQ_FK1]
GO
ALTER TABLE [dbo].[NCMVersionDownloadRQ]  WITH CHECK ADD  CONSTRAINT [NCMVersionDownloadRQ_FK2] FOREIGN KEY([VERSION_ID])
REFERENCES [dbo].[NCMVersion] ([VERSION_ID])
GO
ALTER TABLE [dbo].[NCMVersionDownloadRQ] CHECK CONSTRAINT [NCMVersionDownloadRQ_FK2]
GO
