USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BNTRackSwitch]    Script Date: 6/29/2019 5:46:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BNTRackSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[HW_PARTNO] [varchar](150) NOT NULL,
	[SW_VERSION] [varchar](150) NOT NULL,
 CONSTRAINT [BNTRackSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1381532256]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1381532256] ON [dbo].[BNTRackSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BNTRackSwitch] ADD  DEFAULT ('Not Available') FOR [HW_PARTNO]
GO
ALTER TABLE [dbo].[BNTRackSwitch] ADD  DEFAULT ('Not Available') FOR [SW_VERSION]
GO
ALTER TABLE [dbo].[BNTRackSwitch]  WITH CHECK ADD  CONSTRAINT [BNTRackSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[BNTRackSwitch] CHECK CONSTRAINT [BNTRackSwitch_FK1]
GO
