USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ModuleContext]    Script Date: 6/29/2019 5:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleContext](
	[MODULE_ID] [bigint] NOT NULL,
	[CONTEXT] [varchar](50) NOT NULL,
 CONSTRAINT [ModuleContext_PK] PRIMARY KEY CLUSTERED 
(
	[MODULE_ID] ASC,
	[CONTEXT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ModuleContext_UK0] UNIQUE NONCLUSTERED 
(
	[CONTEXT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1796426576]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1796426576] ON [dbo].[ModuleContext]
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ModuleContext]  WITH CHECK ADD  CONSTRAINT [ModuleContext_FK1] FOREIGN KEY([MODULE_ID])
REFERENCES [dbo].[Module] ([MODULE_ID])
GO
ALTER TABLE [dbo].[ModuleContext] CHECK CONSTRAINT [ModuleContext_FK1]
GO
