USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportDetails]    Script Date: 6/29/2019 5:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDetails](
	[REPORT_ID] [int] NOT NULL,
	[SCHEDULE_ID] [bigint] NOT NULL,
	[REP_GENTIME] [datetime] NOT NULL,
	[REP_TYPE] [varchar](100) NOT NULL,
	[REPORT_PARAM] [int] NOT NULL,
	[REPORT_START_TIME] [varchar](100) NOT NULL,
	[REPORT_END_TIME] [varchar](100) NOT NULL,
	[MATCH_CRITERIA] [varchar](100) NULL,
	[REPORT_DAY] [varchar](100) NULL,
	[REPORT_DATE] [varchar](100) NULL,
	[REPORT_WEEK_DAY] [int] NOT NULL,
	[GRAPH_OPTION] [varchar](100) NULL,
 CONSTRAINT [ReportDetails_PK] PRIMARY KEY CLUSTERED 
(
	[REPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_234471510]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_234471510] ON [dbo].[ReportDetails]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportDetails]  WITH CHECK ADD  CONSTRAINT [ReportDetails_FK] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[ScheduleDetails] ([ID])
GO
ALTER TABLE [dbo].[ReportDetails] CHECK CONSTRAINT [ReportDetails_FK]
GO
