USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCM_UserGroupOption]    Script Date: 6/29/2019 5:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCM_UserGroupOption](
	[OPTIONID] [bigint] NOT NULL,
	[USERGROUPID] [bigint] NOT NULL,
	[CONFKEY] [varchar](200) NULL,
	[CONFVALUE] [varchar](300) NULL,
 CONSTRAINT [NCM_UserGroupOption_PK] PRIMARY KEY CLUSTERED 
(
	[OPTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__928802769]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__928802769] ON [dbo].[NCM_UserGroupOption]
(
	[USERGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCM_UserGroupOption]  WITH CHECK ADD  CONSTRAINT [NCM_UserGroupOption_FK1] FOREIGN KEY([USERGROUPID])
REFERENCES [dbo].[NCM_UserGroup] ([USERGROUPID])
GO
ALTER TABLE [dbo].[NCM_UserGroupOption] CHECK CONSTRAINT [NCM_UserGroupOption_FK1]
GO
