USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportConfigToRBBGMapping]    Script Date: 6/29/2019 5:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportConfigToRBBGMapping](
	[REPORTID] [bigint] NOT NULL,
	[RBBGID] [bigint] NOT NULL,
 CONSTRAINT [ReportToRBBGMapping_PK] PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC,
	[RBBGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2094826754]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2094826754] ON [dbo].[ReportConfigToRBBGMapping]
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2094826755]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2094826755] ON [dbo].[ReportConfigToRBBGMapping]
(
	[RBBGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportConfigToRBBGMapping]  WITH CHECK ADD  CONSTRAINT [ProfileToRBBGMapping_FK1] FOREIGN KEY([REPORTID])
REFERENCES [dbo].[ReportConfig] ([REPORTID])
GO
ALTER TABLE [dbo].[ReportConfigToRBBGMapping] CHECK CONSTRAINT [ProfileToRBBGMapping_FK1]
GO
ALTER TABLE [dbo].[ReportConfigToRBBGMapping]  WITH CHECK ADD  CONSTRAINT [ProfileToRBBGMapping_FK2] FOREIGN KEY([RBBGID])
REFERENCES [dbo].[ReportBuildingBlockGroup] ([RBBGID])
GO
ALTER TABLE [dbo].[ReportConfigToRBBGMapping] CHECK CONSTRAINT [ProfileToRBBGMapping_FK2]
GO
