USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ConfFile]    Script Date: 6/29/2019 5:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfFile](
	[FILEID] [bigint] NOT NULL,
	[URL] [varchar](300) NOT NULL,
	[HANDLERCLASS] [varchar](200) NULL,
	[POPULATORCLASS] [varchar](200) NULL,
 CONSTRAINT [ConfFile_PK] PRIMARY KEY CLUSTERED 
(
	[FILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
