USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AppGroupMap]    Script Date: 6/29/2019 5:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppGroupMap](
	[GROUP_ID] [int] NOT NULL,
	[APP_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [AppGroupMap_PK] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC,
	[APP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1782756058]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1782756058] ON [dbo].[AppGroupMap]
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppGroupMap]  WITH CHECK ADD  CONSTRAINT [AppGroupMap_FK] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[AppGroupInfo] ([GROUP_ID])
GO
ALTER TABLE [dbo].[AppGroupMap] CHECK CONSTRAINT [AppGroupMap_FK]
GO
