USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScalarOID]    Script Date: 6/29/2019 5:51:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScalarOID](
	[GROUP_ID] [bigint] NOT NULL,
	[OID_ID] [bigint] NOT NULL,
 CONSTRAINT [ScalarOID_PK] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC,
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_193862251]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_193862251] ON [dbo].[ScalarOID]
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_193862252]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_193862252] ON [dbo].[ScalarOID]
(
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScalarOID]  WITH CHECK ADD  CONSTRAINT [ScalarOID_FK1] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[SnmpGroup] ([GROUP_ID])
GO
ALTER TABLE [dbo].[ScalarOID] CHECK CONSTRAINT [ScalarOID_FK1]
GO
ALTER TABLE [dbo].[ScalarOID]  WITH CHECK ADD  CONSTRAINT [ScalarOID_FK2] FOREIGN KEY([OID_ID])
REFERENCES [dbo].[OIDModel] ([OID_ID])
GO
ALTER TABLE [dbo].[ScalarOID] CHECK CONSTRAINT [ScalarOID_FK2]
GO
