USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GRAPHOIDCOLUMNINFO]    Script Date: 6/29/2019 5:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRAPHOIDCOLUMNINFO](
	[GRAPHID] [bigint] NOT NULL,
	[INDEXCOLUMN] [varchar](200) NOT NULL,
	[DISPLAYCOLUMN] [varchar](200) NOT NULL,
 CONSTRAINT [GraphOidColInfo_PK] PRIMARY KEY CLUSTERED 
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1546145599]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1546145599] ON [dbo].[GRAPHOIDCOLUMNINFO]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GRAPHOIDCOLUMNINFO]  WITH CHECK ADD  CONSTRAINT [GraphOidColInfo_FK1] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[GRAPHOIDCOLUMNINFO] CHECK CONSTRAINT [GraphOidColInfo_FK1]
GO
