USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PolledData]    Script Date: 6/29/2019 5:50:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolledData](
	[NAME] [varchar](250) NOT NULL,
	[ID] [bigint] NOT NULL,
	[AGENT] [varchar](100) NOT NULL,
	[COMMUNITY] [varchar](100) NOT NULL,
	[PERIOD] [int] NOT NULL,
	[ACTIVE] [varchar](10) NULL,
	[OID] [varchar](500) NOT NULL,
	[LOGDIRECTLY] [varchar](10) NULL,
	[LOGFILE] [varchar](100) NULL,
	[SSAVE] [varchar](10) NULL,
	[THRESHOLD] [varchar](10) NULL,
	[ISMULTIPLEPOLLEDDATA] [varchar](10) NULL,
	[PREVIOUSSEVERITY] [int] NULL,
	[NUMERICTYPE] [int] NULL,
	[SAVEABSOLUTES] [varchar](10) NULL,
	[TIMEAVG] [varchar](10) NULL,
	[PORT] [int] NULL,
	[WEBNMS] [varchar](100) NULL,
	[GROUPNAME] [varchar](100) NULL,
	[LASTCOUNTERVALUE] [bigint] NULL,
	[LASTTIMEVALUE] [bigint] NULL,
	[TIMEVAL] [bigint] NOT NULL,
	[POLICYNAME] [varchar](250) NULL,
	[THRESHOLDLIST] [varchar](255) NULL,
	[DNSNAME] [varchar](100) NULL,
	[SUFFIX] [varchar](20) NULL,
	[STATSDATATABLENAME] [varchar](100) NULL,
	[POLLERNAME] [varchar](255) NULL,
	[FAILURECOUNT] [int] NULL,
	[FAILURETHRESHOLD] [int] NULL,
	[OWNERNAME] [varchar](25) NOT NULL,
	[PARENTOBJ] [varchar](100) NULL,
	[PROTOCOL] [varchar](50) NULL,
	[SAVEPOLLCOUNT] [int] NULL,
	[CURRENTSAVECOUNT] [int] NULL,
	[SAVEONTHRESHOLD] [varchar](10) NULL,
	[SNMPVERSION] [varchar](10) NULL,
	[USERNAME] [varchar](30) NULL,
	[CONTEXTNAME] [varchar](30) NULL,
	[SNMPTIMEOUT] [int] NULL,
	[SNMPRETRIES] [int] NULL,
	[REPORTSERVER] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PolledData0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [PolledData0_ndx] ON [dbo].[PolledData]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PolledData1_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [PolledData1_ndx] ON [dbo].[PolledData]
(
	[AGENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PolledData10_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [PolledData10_ndx] ON [dbo].[PolledData]
(
	[PARENTOBJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PolledData2_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [PolledData2_ndx] ON [dbo].[PolledData]
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PolledData3_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [PolledData3_ndx] ON [dbo].[PolledData]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PolledData4_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [PolledData4_ndx] ON [dbo].[PolledData]
(
	[COMMUNITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PolledData5_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [PolledData5_ndx] ON [dbo].[PolledData]
(
	[PERIOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PolledData6_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [PolledData6_ndx] ON [dbo].[PolledData]
(
	[TIMEVAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PolledData7_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [PolledData7_ndx] ON [dbo].[PolledData]
(
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
