USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LsiVolume]    Script Date: 6/29/2019 5:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LsiVolume](
	[DEVICE_ID] [bigint] NOT NULL,
	[VOLGRP_ID] [varchar](250) NULL,
	[VOLUME_ID] [varchar](250) NOT NULL,
	[CURRENT_OWNER] [varchar](250) NULL,
	[RAID_LEVEL] [varchar](250) NULL,
	[WWN] [varchar](250) NULL,
	[CAPACITY] [varchar](250) NULL,
	[STATUS] [varchar](250) NULL,
	[READ_CACHE] [varchar](250) NULL,
	[WRITE_CACHE] [varchar](250) NULL,
 CONSTRAINT [LSIVOLUME_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[VOLUME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2094497143]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2094497143] ON [dbo].[LsiVolume]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LsiVolume]  WITH CHECK ADD  CONSTRAINT [LSIVOLUME_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LsiVolume] CHECK CONSTRAINT [LSIVOLUME_FK1]
GO
