USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TabItems]    Script Date: 6/29/2019 5:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabItems](
	[ID] [bigint] NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[URL] [varchar](4000) NULL,
	[NEWWINDOW] [int] NOT NULL,
	[ISMENU] [bit] NULL,
	[CONTEXT] [int] NOT NULL,
	[OPERATOR] [bit] NOT NULL,
	[CUSTOMER] [bit] NOT NULL,
	[DEFAULTVALUE] [bit] NOT NULL,
 CONSTRAINT [TabItems_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TabItems] ADD  DEFAULT ('0') FOR [NEWWINDOW]
GO
ALTER TABLE [dbo].[TabItems] ADD  DEFAULT ((0)) FOR [ISMENU]
GO
ALTER TABLE [dbo].[TabItems] ADD  DEFAULT ((1)) FOR [OPERATOR]
GO
ALTER TABLE [dbo].[TabItems] ADD  DEFAULT ((1)) FOR [CUSTOMER]
GO
ALTER TABLE [dbo].[TabItems] ADD  DEFAULT ((1)) FOR [DEFAULTVALUE]
GO
