USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IFHCHOURLYRATE]    Script Date: 6/29/2019 5:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IFHCHOURLYRATE](
	[ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[INOCTETS_MAX] [real] NOT NULL,
	[INOCTETS_MIN] [real] NOT NULL,
	[OUTOCTETS_MAX] [real] NOT NULL,
	[OUTOCTETS_MIN] [real] NOT NULL,
	[INUCAST_TIME_MAX] [real] NOT NULL,
	[INUCAST_TIME_MIN] [real] NOT NULL,
	[INUCAST_PKTS_MAX] [real] NOT NULL,
	[INUCAST_PKTS_MIN] [real] NOT NULL,
	[OUTUCAST_TIME_MAX] [real] NOT NULL,
	[OUTUCAST_TIME_MIN] [real] NOT NULL,
	[OUTUCAST_PKTS_MAX] [real] NOT NULL,
	[OUTUCAST_PKTS_MIN] [real] NOT NULL,
	[INERRORS_TIME_MAX] [real] NOT NULL,
	[INERRORS_TIME_MIN] [real] NOT NULL,
	[INERRORS_PKTS_MAX] [real] NOT NULL,
	[INERRORS_PKTS_MIN] [real] NOT NULL,
	[OUTERRORS_TIME_MAX] [real] NOT NULL,
	[OUTERRORS_TIME_MIN] [real] NOT NULL,
	[OUTERRORS_PKTS_MAX] [real] NOT NULL,
	[OUTERRORS_PKTS_MIN] [real] NOT NULL,
	[INDISCARDS_TIME_MAX] [real] NOT NULL,
	[INDISCARDS_TIME_MIN] [real] NOT NULL,
	[INDISCARDS_PKTS_MAX] [real] NOT NULL,
	[INDISCARDS_PKTS_MIN] [real] NOT NULL,
	[OUTDISCARDS_TIME_MAX] [real] NOT NULL,
	[OUTDISCARDS_TIME_MIN] [real] NOT NULL,
	[OUTDISCARDS_PKTS_MAX] [real] NOT NULL,
	[OUTDISCARDS_PKTS_MIN] [real] NOT NULL,
	[INUNKNOWNPROTOS_TIME_MAX] [real] NOT NULL,
	[INUNKNOWNPROTOS_TIME_MIN] [real] NOT NULL,
	[HCINMCAST_TIME_MAX] [real] NOT NULL,
	[HCINMCAST_TIME_MIN] [real] NOT NULL,
	[HCINMCAST_PKTS_MAX] [real] NOT NULL,
	[HCINMCAST_PKTS_MIN] [real] NOT NULL,
	[HCINBCAST_TIME_MAX] [real] NOT NULL,
	[HCINBCAST_TIME_MIN] [real] NOT NULL,
	[HCINBCAST_PKTS_MAX] [real] NOT NULL,
	[HCINBCAST_PKTS_MIN] [real] NOT NULL,
	[HCOUTMCAST_TIME_MAX] [real] NOT NULL,
	[HCOUTMCAST_TIME_MIN] [real] NOT NULL,
	[HCOUTMCAST_PKTS_MAX] [real] NOT NULL,
	[HCOUTMCAST_PKTS_MIN] [real] NOT NULL,
	[HCOUTBCAST_TIME_MAX] [real] NOT NULL,
	[HCOUTBCAST_TIME_MIN] [real] NOT NULL,
	[HCOUTBCAST_PKTS_MAX] [real] NOT NULL,
	[HCOUTBCAST_PKTS_MIN] [real] NOT NULL,
 CONSTRAINT [IFHCHOURLYRATE_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INOCTETS_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INOCTETS_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTOCTETS_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTOCTETS_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INUCAST_TIME_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INUCAST_TIME_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INUCAST_PKTS_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INUCAST_PKTS_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTUCAST_TIME_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTUCAST_TIME_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTUCAST_PKTS_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTUCAST_PKTS_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INERRORS_TIME_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INERRORS_TIME_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INERRORS_PKTS_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INERRORS_PKTS_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTERRORS_TIME_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTERRORS_TIME_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTERRORS_PKTS_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTERRORS_PKTS_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INDISCARDS_TIME_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INDISCARDS_TIME_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INDISCARDS_PKTS_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INDISCARDS_PKTS_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTDISCARDS_TIME_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTDISCARDS_TIME_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTDISCARDS_PKTS_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [OUTDISCARDS_PKTS_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INUNKNOWNPROTOS_TIME_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [INUNKNOWNPROTOS_TIME_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCINMCAST_TIME_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCINMCAST_TIME_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCINMCAST_PKTS_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCINMCAST_PKTS_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCINBCAST_TIME_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCINBCAST_TIME_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCINBCAST_PKTS_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCINBCAST_PKTS_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCOUTMCAST_TIME_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCOUTMCAST_TIME_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCOUTMCAST_PKTS_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCOUTMCAST_PKTS_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCOUTBCAST_TIME_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCOUTBCAST_TIME_MIN]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCOUTBCAST_PKTS_MAX]
GO
ALTER TABLE [dbo].[IFHCHOURLYRATE] ADD  DEFAULT ('0.0') FOR [HCOUTBCAST_PKTS_MIN]
GO
