USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCIsilonNode]    Script Date: 6/29/2019 5:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCIsilonNode](
	[DEVICE_ID] [bigint] NOT NULL,
	[NODE_ID] [bigint] NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[MEMBER_OF_DISKPOOLS] [varchar](250) NULL,
	[MEMBER_OF_NODEGROUP] [varchar](250) NOT NULL,
	[MEMBER_OF_TIER] [varchar](250) NOT NULL,
 CONSTRAINT [EMCIsilonNode_PK] PRIMARY KEY CLUSTERED 
(
	[NODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2003351466]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2003351466] ON [dbo].[EMCIsilonNode]
(
	[NODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCIsilonNode]  WITH CHECK ADD  CONSTRAINT [EMCIsilonNode_FK1] FOREIGN KEY([NODE_ID])
REFERENCES [dbo].[SANClusterNode] ([NODE_ID])
GO
ALTER TABLE [dbo].[EMCIsilonNode] CHECK CONSTRAINT [EMCIsilonNode_FK1]
GO
