USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LOGICALGROUP]    Script Date: 6/29/2019 5:48:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGICALGROUP](
	[GROUPID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[ISENABLED] [bit] NULL,
	[GROUPTYPE] [varchar](50) NULL,
 CONSTRAINT [LOGICALGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[GROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [LOGICALGROUPS_UK1] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__16276382]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__16276382] ON [dbo].[LOGICALGROUP]
(
	[GROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOGICALGROUP]  WITH CHECK ADD  CONSTRAINT [LOGICALGROUP_FK0] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[LOGICALGROUP] CHECK CONSTRAINT [LOGICALGROUP_FK0]
GO
