USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarSANHostFCInitiator]    Script Date: 6/29/2019 5:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarSANHostFCInitiator](
	[PILLAR_ID] [bigint] NOT NULL,
	[HOST_INSTANCE] [int] NOT NULL,
	[FC_INITIATOR_INSTANCE] [int] NOT NULL,
	[ID] [varchar](250) NULL,
	[FQN] [varchar](250) NULL,
	[WWN] [varchar](250) NULL,
 CONSTRAINT [PillarSANHostFCInitiator_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC,
	[HOST_INSTANCE] ASC,
	[FC_INITIATOR_INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__772951888]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__772951888] ON [dbo].[PillarSANHostFCInitiator]
(
	[PILLAR_ID] ASC,
	[HOST_INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarSANHostFCInitiator]  WITH CHECK ADD  CONSTRAINT [PillarSANHostFCInitiator_FK] FOREIGN KEY([PILLAR_ID], [HOST_INSTANCE])
REFERENCES [dbo].[PillarSANHost] ([PILLAR_ID], [HOST_INSTANCE])
GO
ALTER TABLE [dbo].[PillarSANHostFCInitiator] CHECK CONSTRAINT [PillarSANHostFCInitiator_FK]
GO
