USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ACLAppliedInfo]    Script Date: 6/29/2019 5:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACLAppliedInfo](
	[ACL_ID] [int] NOT NULL,
	[INTERFACE_ID] [int] NOT NULL,
	[DIRECTION] [int] NOT NULL,
 CONSTRAINT [ACLAppliedInfo_PK] PRIMARY KEY CLUSTERED 
(
	[ACL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ACLAppliedInfo_UK1] UNIQUE NONCLUSTERED 
(
	[INTERFACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_780843459]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_780843459] ON [dbo].[ACLAppliedInfo]
(
	[ACL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACLAppliedInfo]  WITH CHECK ADD  CONSTRAINT [ACLAppliedInfo_FK] FOREIGN KEY([ACL_ID])
REFERENCES [dbo].[ACLList] ([ACL_ID])
GO
ALTER TABLE [dbo].[ACLAppliedInfo] CHECK CONSTRAINT [ACLAppliedInfo_FK]
GO
