USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GrpDSCP]    Script Date: 6/29/2019 5:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrpDSCP](
	[ID] [int] NOT NULL,
	[IP_GROUP_ID] [int] NOT NULL,
	[DSCP] [int] NOT NULL,
 CONSTRAINT [GRP_DSCP__PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1259404834]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1259404834] ON [dbo].[GrpDSCP]
(
	[IP_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_193335598]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_193335598] ON [dbo].[GrpDSCP]
(
	[DSCP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GrpDSCP]  WITH CHECK ADD  CONSTRAINT [DSCPGRP_ID_FK1] FOREIGN KEY([IP_GROUP_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[GrpDSCP] CHECK CONSTRAINT [DSCPGRP_ID_FK1]
GO
ALTER TABLE [dbo].[GrpDSCP]  WITH CHECK ADD  CONSTRAINT [GRP_DSCP_FK] FOREIGN KEY([DSCP])
REFERENCES [dbo].[DscpMap] ([CODE_POINT])
GO
ALTER TABLE [dbo].[GrpDSCP] CHECK CONSTRAINT [GRP_DSCP_FK]
GO
