USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StatsdataSumHourly]    Script Date: 6/29/2019 5:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatsdataSumHourly](
	[POLLID] [bigint] NOT NULL,
	[INSTANCE] [varchar](255) NOT NULL,
	[TTIME] [bigint] NOT NULL,
	[SSUM] [bigint] NOT NULL,
 CONSTRAINT [StatsdataSumHourly_PK1] PRIMARY KEY CLUSTERED 
(
	[POLLID] ASC,
	[INSTANCE] ASC,
	[TTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
