USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MobileIronSentry]    Script Date: 6/29/2019 5:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MobileIronSentry](
	[RESOURCEID] [bigint] NOT NULL,
	[BUILD] [varchar](150) NOT NULL,
 CONSTRAINT [MobileIronSentry_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__783199242]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__783199242] ON [dbo].[MobileIronSentry]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MobileIronSentry] ADD  DEFAULT ('Not Available') FOR [BUILD]
GO
ALTER TABLE [dbo].[MobileIronSentry]  WITH CHECK ADD  CONSTRAINT [MobileIronSentry_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[MobileIronSentry] CHECK CONSTRAINT [MobileIronSentry_FK1]
GO
