USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMApprovalRequest]    Script Date: 6/29/2019 5:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMApprovalRequest](
	[REQUEST_ID] [bigint] NOT NULL,
	[LOGIN_ID] [bigint] NOT NULL,
	[ANNOTATION] [varchar](250) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[REQUEST_TYPE] [varchar](50) NOT NULL,
	[READ_STATUS] [bit] NOT NULL,
 CONSTRAINT [NCMApprovalRequest_PK1] PRIMARY KEY CLUSTERED 
(
	[REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1119910849]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1119910849] ON [dbo].[NCMApprovalRequest]
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMApprovalRequest] ADD  DEFAULT ('No Comment Available') FOR [ANNOTATION]
GO
ALTER TABLE [dbo].[NCMApprovalRequest] ADD  DEFAULT ((0)) FOR [READ_STATUS]
GO
ALTER TABLE [dbo].[NCMApprovalRequest]  WITH CHECK ADD  CONSTRAINT [NCMApprovalRequest_FK1] FOREIGN KEY([LOGIN_ID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[NCMApprovalRequest] CHECK CONSTRAINT [NCMApprovalRequest_FK1]
GO
