USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SOCIALITPOSTATTACHMENTS]    Script Date: 6/29/2019 5:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIALITPOSTATTACHMENTS](
	[ATTACHMENT_ID] [bigint] NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[FILENAME] [varchar](100) NOT NULL,
	[FILETYPE] [varchar](100) NULL,
	[FILESIZE] [varchar](100) NULL,
 CONSTRAINT [SOCIALITPOSTATTACHMENTS_PK] PRIMARY KEY CLUSTERED 
(
	[ATTACHMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2104320972]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2104320972] ON [dbo].[SOCIALITPOSTATTACHMENTS]
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SOCIALITPOSTATTACHMENTS]  WITH CHECK ADD  CONSTRAINT [SOCIALITPOSTATTACHMENTS_FK] FOREIGN KEY([POST_ID])
REFERENCES [dbo].[SOCIALITPOST] ([POST_ID])
GO
ALTER TABLE [dbo].[SOCIALITPOSTATTACHMENTS] CHECK CONSTRAINT [SOCIALITPOSTATTACHMENTS_FK]
GO
