USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IPResourcesExt]    Script Date: 6/29/2019 5:48:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPResourcesExt](
	[RESOURCEID] [bigint] NOT NULL,
	[OWNER_ID] [bigint] NULL,
	[OSID] [bigint] NULL,
	[SERIAL_NUMBER] [varchar](50) NULL,
	[OS_CD_KEY] [varchar](50) NULL,
	[AD_ID] [bigint] NULL,
 CONSTRAINT [IPResourcesExt_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1633846864]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1633846864] ON [dbo].[IPResourcesExt]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IPResourcesExt]  WITH CHECK ADD  CONSTRAINT [IPResourcesExt_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[OpUtilsResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[IPResourcesExt] CHECK CONSTRAINT [IPResourcesExt_FK1]
GO
