USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RelCri_Expression]    Script Date: 6/29/2019 5:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelCri_Expression](
	[QUERYID] [bigint] NOT NULL,
	[CRITERIAID] [bigint] NOT NULL,
	[RELATIONALCRITERIAID] [bigint] NOT NULL,
	[EXPRESSION_ID] [bigint] NOT NULL,
 CONSTRAINT [RelCri_Expression_PK] PRIMARY KEY CLUSTERED 
(
	[QUERYID] ASC,
	[CRITERIAID] ASC,
	[RELATIONALCRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__528449692]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__528449692] ON [dbo].[RelCri_Expression]
(
	[EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__528449693]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__528449693] ON [dbo].[RelCri_Expression]
(
	[QUERYID] ASC,
	[CRITERIAID] ASC,
	[RELATIONALCRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelCri_Expression]  WITH CHECK ADD  CONSTRAINT [RelCri_Expression_FK1] FOREIGN KEY([QUERYID], [CRITERIAID], [RELATIONALCRITERIAID])
REFERENCES [dbo].[RelationalCriteria] ([QUERYID], [CRITERIAID], [RELATIONALCRITERIAID])
GO
ALTER TABLE [dbo].[RelCri_Expression] CHECK CONSTRAINT [RelCri_Expression_FK1]
GO
ALTER TABLE [dbo].[RelCri_Expression]  WITH CHECK ADD  CONSTRAINT [RelCri_Expression_FK2] FOREIGN KEY([EXPRESSION_ID])
REFERENCES [dbo].[Expression] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[RelCri_Expression] CHECK CONSTRAINT [RelCri_Expression_FK2]
GO
