USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetAppSDKAggregate]    Script Date: 6/29/2019 5:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetAppSDKAggregate](
	[RAID_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[UUID] [varchar](500) NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
	[STATE] [varchar](250) NOT NULL,
	[MIRROR_STATUS] [varchar](250) NOT NULL,
	[TOTAL_SPACE] [varchar](250) NOT NULL,
	[USED_SPACE] [varchar](250) NOT NULL,
	[FREE_SPACE] [varchar](250) NOT NULL,
	[USED_PERCENTAGE] [varchar](250) NOT NULL,
	[CHECKSUM_STYLE] [varchar](250) NOT NULL,
	[CHECKSUM_STATUS] [varchar](250) NOT NULL,
	[RAID_SIZE] [int] NOT NULL,
	[RAID_STATUS] [varchar](250) NOT NULL,
	[DISK_COUNT] [int] NOT NULL,
	[VOLUME_COUNT] [int] NOT NULL,
	[PLEX_COUNT] [int] NOT NULL,
	[PLEX_NAME] [varchar](250) NOT NULL,
	[PLEX_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [NetAppSDKAggregate_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_324692726]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_324692726] ON [dbo].[NetAppSDKAggregate]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetAppSDKAggregate]  WITH CHECK ADD  CONSTRAINT [NetAppSDKAggregate_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[NetAppSDKAggregate] CHECK CONSTRAINT [NetAppSDKAggregate_FK1]
GO
