USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Resources]    Script Date: 6/29/2019 5:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[RESOURCEID] [bigint] NOT NULL,
	[RESOURCENAME] [nvarchar](250) NOT NULL,
	[CREATIONTIME] [datetime] NULL,
	[RESOURCETYPE] [nvarchar](50) NOT NULL,
	[VENDOR_TYPE] [nvarchar](50) NOT NULL,
	[LOG_FORMAT] [nvarchar](50) NOT NULL,
	[DISPLAYNAME] [nvarchar](250) NOT NULL,
	[BANDWIDTH] [real] NOT NULL,
	[LAST_UPDATE_TIME] [datetime] NULL,
	[IPADDRESS] [nvarchar](48) NULL,
	[UP_LINK_SPEED] [real] NOT NULL,
	[LIC_STATUS] [bigint] NOT NULL,
	[PHYSICALDEVICENAME] [nvarchar](150) NULL,
	[PHYSICALDEVIP] [nvarchar](100) NULL,
	[FAILOVER] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CON_DISPLAYNAME] UNIQUE NONCLUSTERED 
(
	[DISPLAYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CON_RESOURCENAME] UNIQUE NONCLUSTERED 
(
	[RESOURCENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Resources_CIDX0]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Resources_CIDX0] ON [dbo].[Resources]
(
	[RESOURCENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Resources_CIDX1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Resources_CIDX1] ON [dbo].[Resources]
(
	[DISPLAYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ('') FOR [RESOURCENAME]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ('') FOR [RESOURCETYPE]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ('') FOR [VENDOR_TYPE]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ('') FOR [LOG_FORMAT]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ('') FOR [DISPLAYNAME]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ('0.0') FOR [BANDWIDTH]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT (NULL) FOR [LAST_UPDATE_TIME]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT (NULL) FOR [IPADDRESS]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ('0.0') FOR [UP_LINK_SPEED]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ('1') FOR [LIC_STATUS]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT (NULL) FOR [PHYSICALDEVICENAME]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT (NULL) FOR [PHYSICALDEVIP]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ((0)) FOR [FAILOVER]
GO
