USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaPasswordHint]    Script Date: 6/29/2019 5:45:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaPasswordHint](
	[PASSWORD_ID] [bigint] NOT NULL,
	[QUESTION] [varchar](100) NOT NULL,
	[ANSWER] [varchar](50) NOT NULL,
 CONSTRAINT [AaaPasswordHint_PK] PRIMARY KEY CLUSTERED 
(
	[PASSWORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1950857215]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1950857215] ON [dbo].[AaaPasswordHint]
(
	[PASSWORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaPasswordHint]  WITH CHECK ADD  CONSTRAINT [AaaPasswordHint_FK] FOREIGN KEY([PASSWORD_ID])
REFERENCES [dbo].[AaaPassword] ([PASSWORD_ID])
GO
ALTER TABLE [dbo].[AaaPasswordHint] CHECK CONSTRAINT [AaaPasswordHint_FK]
GO
