USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourceInterfaceInfo]    Script Date: 6/29/2019 5:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourceInterfaceInfo](
	[RESOURCEINTERFACEID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[INTERFACENAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[IPADDRESS] [varchar](100) NULL,
 CONSTRAINT [NCMResourceInterfaceInfo_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEINTERFACEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__776044402]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__776044402] ON [dbo].[NCMResourceInterfaceInfo]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourceInterfaceInfo]  WITH CHECK ADD  CONSTRAINT [NCMResourceInterfaceInfo_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMDevices] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMResourceInterfaceInfo] CHECK CONSTRAINT [NCMResourceInterfaceInfo_FK1]
GO
