USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AFToRBB]    Script Date: 6/29/2019 5:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AFToRBB](
	[AF_ID] [bigint] NOT NULL,
	[RBBNAME] [nvarchar](250) NOT NULL,
 CONSTRAINT [AFToRBB_PK] PRIMARY KEY CLUSTERED 
(
	[AF_ID] ASC,
	[RBBNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1318431520]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1318431520] ON [dbo].[AFToRBB]
(
	[RBBNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1318431521]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1318431521] ON [dbo].[AFToRBB]
(
	[AF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AFToRBB]  WITH CHECK ADD  CONSTRAINT [AFToRBB_FK1] FOREIGN KEY([AF_ID])
REFERENCES [dbo].[AnomalyFilters] ([AF_ID])
GO
ALTER TABLE [dbo].[AFToRBB] CHECK CONSTRAINT [AFToRBB_FK1]
GO
ALTER TABLE [dbo].[AFToRBB]  WITH CHECK ADD  CONSTRAINT [AFToRBB_FK2] FOREIGN KEY([RBBNAME])
REFERENCES [dbo].[ReportBuildingBlock] ([RBBNAME])
GO
ALTER TABLE [dbo].[AFToRBB] CHECK CONSTRAINT [AFToRBB_FK2]
GO
