USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GlobalAlertView]    Script Date: 6/29/2019 5:47:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalAlertView](
	[ID] [bigint] NOT NULL,
	[TOOL_ID] [varchar](50) NOT NULL,
	[SEVERITY] [varchar](40) NOT NULL,
	[DESCRIPTION] [varchar](1500) NOT NULL,
	[DESCRIPTION_I18NKEY] [varchar](200) NULL,
	[DESCRIPTION_I18NARGS] [varchar](1500) NULL,
	[ALERT_DATETIME] [datetime] NOT NULL,
 CONSTRAINT [GlobalAlertView_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1884071403]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1884071403] ON [dbo].[GlobalAlertView]
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GlobalAlertView] ADD  DEFAULT ('Critical') FOR [SEVERITY]
GO
ALTER TABLE [dbo].[GlobalAlertView]  WITH CHECK ADD  CONSTRAINT [GlobalAlertView_FK1] FOREIGN KEY([TOOL_ID])
REFERENCES [dbo].[Tool] ([TOOL_ID])
GO
ALTER TABLE [dbo].[GlobalAlertView] CHECK CONSTRAINT [GlobalAlertView_FK1]
GO
