USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Error_Data]    Script Date: 6/29/2019 5:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error_Data](
	[ERROR_ID] [bigint] NOT NULL,
	[ERROR_NAME] [varchar](20) NOT NULL,
	[ERROR_DESCR] [varchar](50) NOT NULL,
 CONSTRAINT [Error_Data_PK] PRIMARY KEY CLUSTERED 
(
	[ERROR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Error_Data_UK0] UNIQUE NONCLUSTERED 
(
	[ERROR_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Error_Data] ADD  DEFAULT ('NoDescription') FOR [ERROR_DESCR]
GO
