USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HistoryValue]    Script Date: 6/29/2019 5:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryValue](
	[ID] [bigint] NOT NULL,
	[VALUE] [varchar](188) NOT NULL,
	[INDEX_ORDER] [int] NOT NULL,
 CONSTRAINT [HistoryValue_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_980227626]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_980227626] ON [dbo].[HistoryValue]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistoryValue]  WITH CHECK ADD  CONSTRAINT [HistoryValue_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[HistoryKey] ([ID])
GO
ALTER TABLE [dbo].[HistoryValue] CHECK CONSTRAINT [HistoryValue_FK1]
GO
