USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEVOLUMEDETAILS]    Script Date: 6/29/2019 5:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEVOLUMEDETAILS](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[POOL_ID] [bigint] NOT NULL,
	[VOLUME_NAME] [varchar](250) NOT NULL,
	[SERIALNUMBER] [varchar](250) NULL,
	[CREATION_TIME] [varchar](250) NULL,
	[TOTAL_CAPACITY] [varchar](250) NULL,
	[FREE_CAPACITY] [varchar](250) NULL,
	[USED_CAPACITY] [varchar](250) NULL,
	[BANDWIDTH_LIMIT] [varchar](250) NULL,
	[NO_OF_SNAPSHOT] [int] NULL,
	[ADDITIONAL_DATA] [text] NULL,
 CONSTRAINT [STORAGEVOLUMEDETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[POOL_ID] ASC,
	[VOLUME_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEVOLUMEDETAILS_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1491320806]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1491320806] ON [dbo].[STORAGEVOLUMEDETAILS]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEVOLUMEDETAILS] ADD  DEFAULT ('0') FOR [NO_OF_SNAPSHOT]
GO
ALTER TABLE [dbo].[STORAGEVOLUMEDETAILS]  WITH CHECK ADD  CONSTRAINT [STORAGEVOLUMEDETAILS_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGEVOLUMEDETAILS] CHECK CONSTRAINT [STORAGEVOLUMEDETAILS_FK1]
GO
