USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCustomDeviceTemplate]    Script Date: 6/29/2019 5:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCustomDeviceTemplate](
	[DEVICETEMPLATEID] [bigint] NOT NULL,
 CONSTRAINT [NCMCustomDeviceTemplate_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICETEMPLATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__698239258]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__698239258] ON [dbo].[NCMCustomDeviceTemplate]
(
	[DEVICETEMPLATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCustomDeviceTemplate]  WITH CHECK ADD  CONSTRAINT [NCMCustomDeviceTemplate_FK1] FOREIGN KEY([DEVICETEMPLATEID])
REFERENCES [dbo].[NCMDeviceTemplate] ([DEVICETEMPLATEID])
GO
ALTER TABLE [dbo].[NCMCustomDeviceTemplate] CHECK CONSTRAINT [NCMCustomDeviceTemplate_FK1]
GO
