USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DevicePackageToGraph]    Script Date: 6/29/2019 5:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevicePackageToGraph](
	[DEVICEGRAPHID] [bigint] NOT NULL,
	[DEVICETYPEID] [bigint] NOT NULL,
	[GRAPHID] [bigint] NOT NULL,
	[DTCONSECUTIVETIME] [bigint] NOT NULL,
	[DTINTERVAL] [bigint] NOT NULL,
 CONSTRAINT [DevicePackageToGraph_PK1] PRIMARY KEY CLUSTERED 
(
	[DEVICEGRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1870157392]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1870157392] ON [dbo].[DevicePackageToGraph]
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1870157393]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1870157393] ON [dbo].[DevicePackageToGraph]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DevicePackageToGraph] ADD  DEFAULT ('1') FOR [DTCONSECUTIVETIME]
GO
ALTER TABLE [dbo].[DevicePackageToGraph] ADD  DEFAULT ('5') FOR [DTINTERVAL]
GO
ALTER TABLE [dbo].[DevicePackageToGraph]  WITH CHECK ADD  CONSTRAINT [DevicePackageToGraph_FK1] FOREIGN KEY([DEVICETYPEID])
REFERENCES [dbo].[DevicePackage] ([DEVICETYPEID])
GO
ALTER TABLE [dbo].[DevicePackageToGraph] CHECK CONSTRAINT [DevicePackageToGraph_FK1]
GO
ALTER TABLE [dbo].[DevicePackageToGraph]  WITH CHECK ADD  CONSTRAINT [DevicePackageToGraph_FK2] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[DevicePackageToGraph] CHECK CONSTRAINT [DevicePackageToGraph_FK2]
GO
