USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TaskToScheduleMap]    Script Date: 6/29/2019 5:52:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskToScheduleMap](
	[TASKNAME] [nvarchar](50) NOT NULL,
	[SCHEDULENAME] [nvarchar](150) NOT NULL,
 CONSTRAINT [TaskToSchedule_PK] PRIMARY KEY CLUSTERED 
(
	[TASKNAME] ASC,
	[SCHEDULENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TaskToScheduleMap_UK0] UNIQUE NONCLUSTERED 
(
	[SCHEDULENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__903716475]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__903716475] ON [dbo].[TaskToScheduleMap]
(
	[SCHEDULENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__903716476]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__903716476] ON [dbo].[TaskToScheduleMap]
(
	[TASKNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TaskToScheduleMap]  WITH CHECK ADD  CONSTRAINT [TaskToSchedule_FK1] FOREIGN KEY([TASKNAME])
REFERENCES [dbo].[TaskDetails] ([TASKNAME])
GO
ALTER TABLE [dbo].[TaskToScheduleMap] CHECK CONSTRAINT [TaskToSchedule_FK1]
GO
ALTER TABLE [dbo].[TaskToScheduleMap]  WITH CHECK ADD  CONSTRAINT [TaskToSchedule_FK2] FOREIGN KEY([SCHEDULENAME])
REFERENCES [dbo].[Schedule] ([SCHEDULE_NAME])
GO
ALTER TABLE [dbo].[TaskToScheduleMap] CHECK CONSTRAINT [TaskToSchedule_FK2]
GO
