USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SchIPAddress]    Script Date: 6/29/2019 5:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchIPAddress](
	[IP_ID] [int] NOT NULL,
	[SCHEDULE_ID] [bigint] NOT NULL,
	[ADDR_ID] [varchar](255) NOT NULL,
	[TYPE_PARAM] [int] NOT NULL,
 CONSTRAINT [SchIPAddress_PK] PRIMARY KEY CLUSTERED 
(
	[IP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__536621713]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__536621713] ON [dbo].[SchIPAddress]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SchIPAddress]  WITH CHECK ADD  CONSTRAINT [SchIPAddress_FK] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[ScheduleDetails] ([ID])
GO
ALTER TABLE [dbo].[SchIPAddress] CHECK CONSTRAINT [SchIPAddress_FK]
GO
