USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMConfigurationParams]    Script Date: 6/29/2019 5:51:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMConfigurationParams](
	[ID] [bigint] NOT NULL,
	[SMCONFIGURATION_ID] [bigint] NOT NULL,
	[PARAMNAME] [varchar](255) NOT NULL,
	[PARAMVALUE] [varchar](255) NOT NULL,
 CONSTRAINT [SMConfigurationParams_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1666337598]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1666337598] ON [dbo].[SMConfigurationParams]
(
	[SMCONFIGURATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMConfigurationParams]  WITH CHECK ADD  CONSTRAINT [SMConfigurationParams_FK] FOREIGN KEY([SMCONFIGURATION_ID])
REFERENCES [dbo].[SMConfiguration] ([ID])
GO
ALTER TABLE [dbo].[SMConfigurationParams] CHECK CONSTRAINT [SMConfigurationParams_FK]
GO
