USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[JoinTable]    Script Date: 6/29/2019 5:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinTable](
	[QUERYID] [bigint] NOT NULL,
	[TABLEALIAS] [varchar](50) NOT NULL,
	[REFERENCEDTABLE] [varchar](50) NOT NULL,
	[JOINTYPE] [int] NULL,
 CONSTRAINT [Join_PK] PRIMARY KEY CLUSTERED 
(
	[QUERYID] ASC,
	[TABLEALIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_233971674]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_233971674] ON [dbo].[JoinTable]
(
	[QUERYID] ASC,
	[TABLEALIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JoinTable]  WITH CHECK ADD  CONSTRAINT [Join_FK] FOREIGN KEY([QUERYID], [TABLEALIAS])
REFERENCES [dbo].[SelectTable] ([QUERYID], [TABLEALIAS])
GO
ALTER TABLE [dbo].[JoinTable] CHECK CONSTRAINT [Join_FK]
GO
