USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SPMVlan]    Script Date: 6/29/2019 5:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPMVlan](
	[ID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[IFINDEX] [int] NOT NULL,
	[VLAN] [int] NULL,
	[VLAN_NAME] [varchar](50) NULL,
 CONSTRAINT [SPMVlan_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [SPMVlan_UK1] UNIQUE NONCLUSTERED 
(
	[RESOURCEID] ASC,
	[IFINDEX] ASC,
	[VLAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_406139104]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_406139104] ON [dbo].[SPMVlan]
(
	[RESOURCEID] ASC,
	[IFINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SPMVlan]  WITH CHECK ADD  CONSTRAINT [SPMVlan_FK1] FOREIGN KEY([RESOURCEID], [IFINDEX])
REFERENCES [dbo].[SwitchPort] ([RESOURCEID], [IFINDEX])
GO
ALTER TABLE [dbo].[SPMVlan] CHECK CONSTRAINT [SPMVlan_FK1]
GO
