USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LatestConfig]    Script Date: 6/29/2019 5:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LatestConfig](
	[RID] [bigint] NOT NULL,
	[VERSION_NO] [bigint] NOT NULL,
	[CONFIG_TYPE] [nvarchar](50) NOT NULL,
 CONSTRAINT [LatestConfig_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC,
	[CONFIG_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1541626635]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1541626635] ON [dbo].[LatestConfig]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LatestConfig] ADD  DEFAULT ('10') FOR [CONFIG_TYPE]
GO
ALTER TABLE [dbo].[LatestConfig]  WITH CHECK ADD  CONSTRAINT [LatestConfToConfVer_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[LatestConfig] CHECK CONSTRAINT [LatestConfToConfVer_FK]
GO
