USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpCredentialDetails]    Script Date: 6/29/2019 5:51:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpCredentialDetails](
	[CREDENTIALID] [bigint] NOT NULL,
	[READCOMMUNITY] [varchar](50) NULL,
	[WRITECOMMUNITY] [varchar](50) NULL,
	[VERSION] [varchar](10) NULL,
	[PORT] [bigint] NULL,
	[TIMEOUT] [int] NOT NULL,
	[RETRIES] [int] NOT NULL,
 CONSTRAINT [SnmpCredentialDetails_PK] PRIMARY KEY CLUSTERED 
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1606942231]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1606942231] ON [dbo].[SnmpCredentialDetails]
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnmpCredentialDetails] ADD  DEFAULT ('5') FOR [TIMEOUT]
GO
ALTER TABLE [dbo].[SnmpCredentialDetails] ADD  DEFAULT ('0') FOR [RETRIES]
GO
ALTER TABLE [dbo].[SnmpCredentialDetails]  WITH CHECK ADD  CONSTRAINT [SnmpCredentialDetails_FK] FOREIGN KEY([CREDENTIALID])
REFERENCES [dbo].[CredentialManager] ([CREDENTIALID])
GO
ALTER TABLE [dbo].[SnmpCredentialDetails] CHECK CONSTRAINT [SnmpCredentialDetails_FK]
GO
