USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSToFEX]    Script Date: 6/29/2019 5:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSToFEX](
	[UCS_ID] [bigint] NOT NULL,
	[FEX_ID] [bigint] NOT NULL,
 CONSTRAINT [UCSToFEX_PK] PRIMARY KEY CLUSTERED 
(
	[UCS_ID] ASC,
	[FEX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1551116646]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1551116646] ON [dbo].[UCSToFEX]
(
	[UCS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1551116647]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1551116647] ON [dbo].[UCSToFEX]
(
	[FEX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UCSToFEX]  WITH CHECK ADD  CONSTRAINT [UCSToFEX_FK1] FOREIGN KEY([UCS_ID])
REFERENCES [dbo].[UCSDevice] ([UCS_ID])
GO
ALTER TABLE [dbo].[UCSToFEX] CHECK CONSTRAINT [UCSToFEX_FK1]
GO
ALTER TABLE [dbo].[UCSToFEX]  WITH CHECK ADD  CONSTRAINT [UCSToFEX_FK2] FOREIGN KEY([FEX_ID])
REFERENCES [dbo].[FEXDetails] ([FEX_ID])
GO
ALTER TABLE [dbo].[UCSToFEX] CHECK CONSTRAINT [UCSToFEX_FK2]
GO
