USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDeviceToSNMPMapping]    Script Date: 6/29/2019 5:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDeviceToSNMPMapping](
	[RESOURCEID] [bigint] NOT NULL,
	[PROFILEID] [bigint] NOT NULL,
 CONSTRAINT [NCMDeviceToSNMPMapping_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_524508436]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_524508436] ON [dbo].[NCMDeviceToSNMPMapping]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_524508437]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_524508437] ON [dbo].[NCMDeviceToSNMPMapping]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDeviceToSNMPMapping]  WITH CHECK ADD  CONSTRAINT [NCMDeviceToSNMPMapping_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NCMSharedProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[NCMDeviceToSNMPMapping] CHECK CONSTRAINT [NCMDeviceToSNMPMapping_FK1]
GO
ALTER TABLE [dbo].[NCMDeviceToSNMPMapping]  WITH CHECK ADD  CONSTRAINT [NCMDeviceToSNMPMapping_FK2] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMDeviceToSNMPMapping] CHECK CONSTRAINT [NCMDeviceToSNMPMapping_FK2]
GO
