USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TopoMapLayoutProps]    Script Date: 6/29/2019 5:52:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopoMapLayoutProps](
	[MAPID] [bigint] NOT NULL,
	[RADIUS] [int] NOT NULL,
	[MAPALIGNMENT] [varchar](50) NOT NULL,
	[TREESPACING] [int] NOT NULL,
	[NODESPACING] [int] NOT NULL,
	[SUBTREESPACING] [int] NOT NULL,
	[BALLOONRADIUS] [int] NOT NULL,
 CONSTRAINT [TopoMapLayoutProps_PK1] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
