USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoWAAS]    Script Date: 6/29/2019 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoWAAS](
	[RESOURCEID] [bigint] NOT NULL,
	[HARDWAREVERSION] [varchar](100) NOT NULL,
	[BIOSVERSION] [varchar](100) NOT NULL,
	[MBOARDREVISIONNO] [varchar](50) NOT NULL,
	[PARTNO] [varchar](50) NOT NULL,
	[RAMSIZE] [varchar](15) NOT NULL,
	[BIOSVENDOR] [varchar](100) NOT NULL,
	[SERIALNUMBERRAW] [varchar](50) NOT NULL,
	[MODELNUMBERRAW] [varchar](50) NOT NULL,
	[CONSOLEINTERNO] [varchar](15) NOT NULL,
	[CHIPREV] [varchar](15) NOT NULL,
	[GBETHERINTERNO] [varchar](15) NOT NULL,
	[CPUSNO] [varchar](15) NOT NULL,
	[EXTMODEL] [varchar](100) NOT NULL,
 CONSTRAINT [CiscoWAAS_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1754980002]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1754980002] ON [dbo].[CiscoWAAS]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [HARDWAREVERSION]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [BIOSVERSION]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [MBOARDREVISIONNO]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [PARTNO]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [RAMSIZE]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [BIOSVENDOR]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [SERIALNUMBERRAW]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [MODELNUMBERRAW]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [CONSOLEINTERNO]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [CHIPREV]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [GBETHERINTERNO]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [CPUSNO]
GO
ALTER TABLE [dbo].[CiscoWAAS] ADD  DEFAULT ('Not Available') FOR [EXTMODEL]
GO
ALTER TABLE [dbo].[CiscoWAAS]  WITH CHECK ADD  CONSTRAINT [CiscoWAAS_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CiscoWAAS] CHECK CONSTRAINT [CiscoWAAS_FK1]
GO
