USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaPasswordRule]    Script Date: 6/29/2019 5:45:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaPasswordRule](
	[PASSWDRULE_ID] [bigint] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[MIN_LENGTH] [int] NOT NULL,
	[MAX_LENGTH] [int] NOT NULL,
	[REQ_MIXEDCASE] [bit] NOT NULL,
	[NUMOF_SPLCHAR] [int] NOT NULL,
	[BEGINWITH_LETTER] [bit] NOT NULL,
	[LOGINNAME_INDEPNDT] [bit] NOT NULL,
 CONSTRAINT [AaaPasswordRule_PK] PRIMARY KEY CLUSTERED 
(
	[PASSWDRULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AaaPasswordRule_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaPasswordRule] ADD  DEFAULT ('6') FOR [MIN_LENGTH]
GO
ALTER TABLE [dbo].[AaaPasswordRule] ADD  DEFAULT ('10') FOR [MAX_LENGTH]
GO
ALTER TABLE [dbo].[AaaPasswordRule] ADD  DEFAULT ((0)) FOR [REQ_MIXEDCASE]
GO
ALTER TABLE [dbo].[AaaPasswordRule] ADD  DEFAULT ('-1') FOR [NUMOF_SPLCHAR]
GO
ALTER TABLE [dbo].[AaaPasswordRule] ADD  DEFAULT ((0)) FOR [BEGINWITH_LETTER]
GO
ALTER TABLE [dbo].[AaaPasswordRule] ADD  DEFAULT ((1)) FOR [LOGINNAME_INDEPNDT]
GO
