USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Instances]    Script Date: 6/29/2019 5:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instances](
	[INSTANCE_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [bigint] NOT NULL,
	[INSTANCE_NAME] [varchar](100) NULL,
	[DESCRIPTION] [varchar](250) NULL,
 CONSTRAINT [Instances_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__572437946]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__572437946] ON [dbo].[Instances]
(
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Instances]  WITH CHECK ADD  CONSTRAINT [Instances_FK] FOREIGN KEY([TEMPLATE_ID])
REFERENCES [dbo].[Templates] ([TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Instances] CHECK CONSTRAINT [Instances_FK]
GO
