USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NETFLOWDEVICEGROUP]    Script Date: 6/29/2019 5:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NETFLOWDEVICEGROUP](
	[GROUP_ID] [int] NOT NULL,
	[GROUP_NAME] [varchar](50) NOT NULL,
	[GROUP_DESC] [varchar](100) NOT NULL,
	[ROUTER_GROUP_ID] [int] NOT NULL,
	[ROUTER_ID] [int] NOT NULL,
	[NETFLOW_ROUTER_ID] [int] NOT NULL,
	[ROUTER_IP] [varchar](255) NOT NULL,
	[ROUTER_DISPLAYNAME] [varchar](100) NOT NULL,
	[ROUTER_DISABLED] [int] NOT NULL,
	[SNMP_SUPPORTED] [int] NOT NULL,
	[FLOW_TYPE] [int] NOT NULL,
	[NBAR_SUPPORTED] [int] NOT NULL,
	[DEFAULT_DESCRIPTION] [varchar](25) NOT NULL,
	[QOS_STATUS] [int] NOT NULL,
	[IPSLAMONITOR] [varchar](100) NOT NULL,
	[AVC_STATUS] [int] NOT NULL,
	[DATASPACE] [varchar](32) NULL,
	[RAW_DISABLED] [int] NOT NULL,
	[INTERFACE_ID] [int] NOT NULL,
	[NETFLOW_INTERFACE_ROUTER_ID] [int] NOT NULL,
	[INTERFACE_INDEX] [int] NOT NULL,
	[SNMP_DESCRIPTION] [varchar](200) NULL,
	[SPEED] [bigint] NOT NULL,
	[LINK_NAME] [varchar](200) NULL,
	[STATE] [int] NOT NULL,
	[NBAR_STATE] [int] NOT NULL,
	[POLL_STATE] [int] NOT NULL,
	[OUT_SPEED] [bigint] NOT NULL,
	[QOS_POLL_STATE] [int] NOT NULL,
	[SAMPLING_RATE] [int] NOT NULL,
	[MEDIA_STATE] [int] NOT NULL,
	[INTERFACE_TYPE] [int] NOT NULL,
	[NBA_STATUS] [int] NOT NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
	[PROBEID] [bigint] NULL,
	[UNIQUEID] [bigint] NOT NULL,
 CONSTRAINT [NETFLOWDEVICEGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[UNIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NETFLOWDEVICEGROUP_UK0] UNIQUE NONCLUSTERED 
(
	[GROUP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NETFLOWDEVICEGROUP_UK1] UNIQUE NONCLUSTERED 
(
	[ROUTER_IP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('0') FOR [ROUTER_DISABLED]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('1') FOR [SNMP_SUPPORTED]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('0') FOR [FLOW_TYPE]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('2') FOR [NBAR_SUPPORTED]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('IfDesc') FOR [DEFAULT_DESCRIPTION]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('2') FOR [QOS_STATUS]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('false') FOR [IPSLAMONITOR]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('0') FOR [AVC_STATUS]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('0') FOR [RAW_DISABLED]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('1000000') FOR [SPEED]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('2') FOR [NBAR_STATE]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('1') FOR [POLL_STATE]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('1000000') FOR [OUT_SPEED]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('1') FOR [QOS_POLL_STATE]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('1') FOR [SAMPLING_RATE]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('2') FOR [MEDIA_STATE]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('0') FOR [INTERFACE_TYPE]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('0') FOR [NBA_STATUS]
GO
ALTER TABLE [dbo].[NETFLOWDEVICEGROUP] ADD  DEFAULT ('0') FOR [PROBEID]
GO
