USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CenteraProfile]    Script Date: 6/29/2019 5:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CenteraProfile](
	[RAID_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[HOME_POOL] [varchar](250) NULL,
	[TYPE] [varchar](250) NULL,
	[ENABLED] [varchar](250) NULL,
	[MONITOR_CAPABILITY] [varchar](250) NULL,
	[METADATA_CAPABILITY] [varchar](250) NULL,
 CONSTRAINT [CENTERA_PROFILE_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__320495837]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__320495837] ON [dbo].[CenteraProfile]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CenteraProfile]  WITH CHECK ADD  CONSTRAINT [CENTERA_PROFILE_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[CenteraProfile] CHECK CONSTRAINT [CENTERA_PROFILE_FK1]
GO
