USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiscoveredHosts]    Script Date: 6/29/2019 5:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveredHosts](
	[DID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[HOST_IPADDRESS] [varchar](50) NULL,
 CONSTRAINT [DiscoveredHosts_PK] PRIMARY KEY CLUSTERED 
(
	[DID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__721609663]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__721609663] ON [dbo].[DiscoveredHosts]
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoveredHosts]  WITH CHECK ADD  CONSTRAINT [DiscoveredHosts_FK] FOREIGN KEY([DID])
REFERENCES [dbo].[DiscoveredDomains] ([DID])
GO
ALTER TABLE [dbo].[DiscoveredHosts] CHECK CONSTRAINT [DiscoveredHosts_FK]
GO
