USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LsiHostGroup]    Script Date: 6/29/2019 5:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LsiHostGroup](
	[DEVICE_ID] [bigint] NOT NULL,
	[HOST_GROUP_NAME] [varchar](250) NOT NULL,
	[HOST_PORT_WWN] [varchar](80) NOT NULL,
 CONSTRAINT [LSIHOSTGRP_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[HOST_GROUP_NAME] ASC,
	[HOST_PORT_WWN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_996503048]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_996503048] ON [dbo].[LsiHostGroup]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LsiHostGroup]  WITH CHECK ADD  CONSTRAINT [LSIHOSTGRP_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LsiHostGroup] CHECK CONSTRAINT [LSIHOSTGRP_FK1]
GO
