USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ToolsSNMPsettings]    Script Date: 6/29/2019 5:52:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToolsSNMPsettings](
	[ID] [bigint] NOT NULL,
	[SNMP_PORT] [int] NOT NULL,
	[SNMP_TIMEOUT] [int] NOT NULL,
	[SNMP_RETRIES] [int] NOT NULL,
	[SNMP_MAX_REP] [int] NOT NULL,
	[SNMP_NONREP] [int] NOT NULL,
	[SNMP_VERSION] [varchar](4) NOT NULL,
 CONSTRAINT [ToolsSNMPsettings_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_63058409]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_63058409] ON [dbo].[ToolsSNMPsettings]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ToolsSNMPsettings] ADD  DEFAULT ('v1') FOR [SNMP_VERSION]
GO
ALTER TABLE [dbo].[ToolsSNMPsettings]  WITH CHECK ADD  CONSTRAINT [ToolsSNMPsettings_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[UserToTools] ([ID])
GO
ALTER TABLE [dbo].[ToolsSNMPsettings] CHECK CONSTRAINT [ToolsSNMPsettings_FK1]
GO
