USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ClariionHostPortMap]    Script Date: 6/29/2019 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClariionHostPortMap](
	[RAID_ID] [bigint] NOT NULL,
	[RAID_PORT_DISPLAY_NAME] [varchar](250) NOT NULL,
	[HBA_PORT_WWN] [varchar](80) NOT NULL,
	[HOST_SERVER_NAME] [varchar](250) NOT NULL,
	[HOST_SERVER_IP] [varchar](100) NOT NULL,
	[HBA_MODEL] [varchar](250) NOT NULL,
	[HBA_VENDOR] [varchar](250) NOT NULL,
	[HBA_DEVICE_DRIVER] [varchar](250) NOT NULL,
	[STORAGE_GROUP_NAME] [varchar](250) NOT NULL,
 CONSTRAINT [CLARIIONHOSTPORTMAP_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[RAID_PORT_DISPLAY_NAME] ASC,
	[HBA_PORT_WWN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1073550649]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1073550649] ON [dbo].[ClariionHostPortMap]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClariionHostPortMap]  WITH CHECK ADD  CONSTRAINT [CLARIIONHOSTPORTMAP_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ClariionHostPortMap] CHECK CONSTRAINT [CLARIIONHOSTPORTMAP_FK1]
GO
