USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SOCIALITPOST]    Script Date: 6/29/2019 5:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIALITPOST](
	[POST_ID] [bigint] NOT NULL,
	[CONTENT] [text] NOT NULL,
	[GROUPID] [bigint] NOT NULL,
	[CREATED_USERID] [bigint] NOT NULL,
	[COMMENT_COUNT] [bigint] NULL,
	[LIKE_COUNT] [bigint] NULL,
	[CREATED_TIME] [bigint] NOT NULL,
	[MODIFIED_TIME] [bigint] NULL,
	[LAST_PARTICIPATED_USER] [bigint] NULL,
 CONSTRAINT [SOCIALITPOST_PK] PRIMARY KEY CLUSTERED 
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SOCIALITPOST] ADD  DEFAULT ('0') FOR [COMMENT_COUNT]
GO
ALTER TABLE [dbo].[SOCIALITPOST] ADD  DEFAULT ('0') FOR [LIKE_COUNT]
GO
