USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetworkRangeTable]    Script Date: 6/29/2019 5:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkRangeTable](
	[NETWORKID] [bigint] NOT NULL,
	[RANGE] [varchar](200) NULL,
	[NETMASK] [varchar](50) NULL,
	[PARENTNET] [varchar](50) NULL,
 CONSTRAINT [NetworkRangeTable_PK] PRIMARY KEY CLUSTERED 
(
	[NETWORKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
