USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SSIDGroupInfo]    Script Date: 6/29/2019 5:51:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSIDGroupInfo](
	[SSID_GROUP_ID] [int] NOT NULL,
	[SSID_GROUP_NAME] [varchar](255) NOT NULL,
	[SSID_GROUP_DESC] [varchar](500) NULL,
	[SSID_GROUP_STATE] [int] NOT NULL,
	[DATASPACE] [varchar](32) NOT NULL,
 CONSTRAINT [SSIDGroupInfo_PK] PRIMARY KEY CLUSTERED 
(
	[SSID_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1885779346]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1885779346] ON [dbo].[SSIDGroupInfo]
(
	[SSID_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SSIDGroupInfo] ADD  DEFAULT ('0') FOR [SSID_GROUP_STATE]
GO
ALTER TABLE [dbo].[SSIDGroupInfo]  WITH CHECK ADD  CONSTRAINT [SSIDGroupInfo_FK] FOREIGN KEY([SSID_GROUP_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[SSIDGroupInfo] CHECK CONSTRAINT [SSIDGroupInfo_FK]
GO
