USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMTPSettings]    Script Date: 6/29/2019 5:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMTPSettings](
	[ID] [bigint] NOT NULL,
	[SERVER] [varchar](100) NOT NULL,
	[PORT] [int] NOT NULL,
	[FROM_ADDR] [varchar](100) NOT NULL,
 CONSTRAINT [SMTPSettings_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_411675179]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_411675179] ON [dbo].[SMTPSettings]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMTPSettings]  WITH CHECK ADD  CONSTRAINT [SMTPSettings_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[Settings] ([ID])
GO
ALTER TABLE [dbo].[SMTPSettings] CHECK CONSTRAINT [SMTPSettings_FK]
GO
