USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PolicyScheduleTime]    Script Date: 6/29/2019 5:50:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyScheduleTime](
	[TIMEKEY] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
