USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataCenterToFloorMap]    Script Date: 6/29/2019 5:46:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataCenterToFloorMap](
	[DCMOID] [bigint] NOT NULL,
	[FLOORMOID] [bigint] NOT NULL,
 CONSTRAINT [DataCenterToFloorMapp_PK] PRIMARY KEY CLUSTERED 
(
	[DCMOID] ASC,
	[FLOORMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DataCenterToFloorMap_UK0] UNIQUE NONCLUSTERED 
(
	[FLOORMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_281744823]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_281744823] ON [dbo].[DataCenterToFloorMap]
(
	[DCMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_281744824]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_281744824] ON [dbo].[DataCenterToFloorMap]
(
	[DCMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataCenterToFloorMap]  WITH CHECK ADD  CONSTRAINT [DataCenterToFloorMap_FK1] FOREIGN KEY([DCMOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[DataCenterToFloorMap] CHECK CONSTRAINT [DataCenterToFloorMap_FK1]
GO
ALTER TABLE [dbo].[DataCenterToFloorMap]  WITH CHECK ADD  CONSTRAINT [DataCenterToFloorMap_FK2] FOREIGN KEY([DCMOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[DataCenterToFloorMap] CHECK CONSTRAINT [DataCenterToFloorMap_FK2]
GO
