USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CCTVZOOM]    Script Date: 6/29/2019 5:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCTVZOOM](
	[CCTVID] [bigint] NOT NULL,
	[ASSOCIATIONID] [bigint] NOT NULL,
	[ZOOM] [real] NOT NULL,
 CONSTRAINT [CCTVZOOM_PK] PRIMARY KEY CLUSTERED 
(
	[CCTVID] ASC,
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1440592514]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1440592514] ON [dbo].[CCTVZOOM]
(
	[CCTVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1440592515]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1440592515] ON [dbo].[CCTVZOOM]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCTVZOOM]  WITH CHECK ADD  CONSTRAINT [CCTVZOOM_FK1] FOREIGN KEY([CCTVID])
REFERENCES [dbo].[Cctv] ([ID])
GO
ALTER TABLE [dbo].[CCTVZOOM] CHECK CONSTRAINT [CCTVZOOM_FK1]
GO
ALTER TABLE [dbo].[CCTVZOOM]  WITH CHECK ADD  CONSTRAINT [CCTVZOOM_FK2] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[WidgetAssociation] ([ASSOCIATIONID])
GO
ALTER TABLE [dbo].[CCTVZOOM] CHECK CONSTRAINT [CCTVZOOM_FK2]
GO
