USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserPreference]    Script Date: 6/29/2019 5:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPreference](
	[USERID] [bigint] NOT NULL,
	[PROPERTYNAME] [varchar](100) NOT NULL,
	[PROPERTYVALUE] [varbinary](max) NULL,
 CONSTRAINT [UserPreference_PK] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[PROPERTYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_2009107315]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2009107315] ON [dbo].[UserPreference]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserPreference]  WITH CHECK ADD  CONSTRAINT [UserPreference_FK1] FOREIGN KEY([USERID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[UserPreference] CHECK CONSTRAINT [UserPreference_FK1]
GO
