USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CitrixNetScalerMPX]    Script Date: 6/29/2019 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitrixNetScalerMPX](
	[RESOURCEID] [bigint] NOT NULL,
 CONSTRAINT [CitrixNetScalerMPX_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__523761744]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__523761744] ON [dbo].[CitrixNetScalerMPX]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CitrixNetScalerMPX]  WITH CHECK ADD  CONSTRAINT [CitrixNetScalerMPX_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CitrixNetScalerMPX] CHECK CONSTRAINT [CitrixNetScalerMPX_FK1]
GO
