USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FWDeviceRestAPIDetails]    Script Date: 6/29/2019 5:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FWDeviceRestAPIDetails](
	[DETAILS_ID] [bigint] NOT NULL,
	[RID] [bigint] NOT NULL,
	[WEB_SERVER_PATH] [nvarchar](300) NULL,
	[DOMAIN_NAME] [nvarchar](100) NULL,
	[USERNAME] [nvarchar](100) NULL,
	[PASSWORD] [varbinary](max) NULL,
	[KEYNAME] [nvarchar](100) NULL,
	[VALUE] [varbinary](max) NULL,
 CONSTRAINT [FWDeviceRestAPIDetails_PK1] PRIMARY KEY CLUSTERED 
(
	[DETAILS_ID] ASC,
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FWDeviceRestAPIDetails_UK0] UNIQUE NONCLUSTERED 
(
	[DETAILS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_1541774832]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1541774832] ON [dbo].[FWDeviceRestAPIDetails]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FWDeviceRestAPIDetails]  WITH CHECK ADD  CONSTRAINT [FWDeviceRestAPIDetails_FK1] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[FWDeviceRestAPIDetails] CHECK CONSTRAINT [FWDeviceRestAPIDetails_FK1]
GO
