USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataCenterTemplateToGraph]    Script Date: 6/29/2019 5:46:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataCenterTemplateToGraph](
	[ENTITYTYPEID] [bigint] NOT NULL,
	[GRAPHID] [bigint] NOT NULL,
 CONSTRAINT [DataCenterTemplateToGraph_PK] PRIMARY KEY CLUSTERED 
(
	[ENTITYTYPEID] ASC,
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
