USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARCagePowerSupply]    Script Date: 6/29/2019 5:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARCagePowerSupply](
	[RAID_ID] [bigint] NOT NULL,
	[CAGE_ID] [varchar](150) NOT NULL,
	[PS_ID] [varchar](150) NOT NULL,
	[PS_NAME] [varchar](250) NOT NULL,
	[PS_MANUFACTURER] [varchar](250) NOT NULL,
	[PS_MODEL] [varchar](250) NOT NULL,
	[PS_SERIAL_NUMBER] [varchar](250) NOT NULL,
	[PS_POSITION] [varchar](250) NOT NULL,
	[PS_AC_STATUS] [varchar](250) NOT NULL,
	[PS_CAGE_TYPE] [varchar](250) NOT NULL,
	[PS_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARCagePowerSupply_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[CAGE_ID] ASC,
	[PS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1167480450]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1167480450] ON [dbo].[HP3PARCagePowerSupply]
(
	[RAID_ID] ASC,
	[CAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARCagePowerSupply]  WITH CHECK ADD  CONSTRAINT [HP3PARCagePowerSupply_FK] FOREIGN KEY([RAID_ID], [CAGE_ID])
REFERENCES [dbo].[HP3PARCage] ([RAID_ID], [CAGE_ID])
GO
ALTER TABLE [dbo].[HP3PARCagePowerSupply] CHECK CONSTRAINT [HP3PARCagePowerSupply_FK]
GO
