USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaRoleToCategory]    Script Date: 6/29/2019 5:45:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaRoleToCategory](
	[CATEGORY_ID] [bigint] NOT NULL,
	[ROLE_ID] [bigint] NOT NULL,
 CONSTRAINT [AaaRoleToCategory_PK] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_20775714]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_20775714] ON [dbo].[AaaRoleToCategory]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_985529140]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_985529140] ON [dbo].[AaaRoleToCategory]
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaRoleToCategory]  WITH CHECK ADD  CONSTRAINT [AaaRoleCategory_FK1] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[AaaRole] ([ROLE_ID])
GO
ALTER TABLE [dbo].[AaaRoleToCategory] CHECK CONSTRAINT [AaaRoleCategory_FK1]
GO
ALTER TABLE [dbo].[AaaRoleToCategory]  WITH CHECK ADD  CONSTRAINT [AaaRoleToCategory_FK] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[AaaRoleCategory] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[AaaRoleToCategory] CHECK CONSTRAINT [AaaRoleToCategory_FK]
GO
