USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ThresholdType]    Script Date: 6/29/2019 5:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThresholdType](
	[THRESHOLD_ID] [int] NOT NULL,
	[THRESHOLDTYPE] [varchar](50) NOT NULL,
 CONSTRAINT [ThresholdType_PK] PRIMARY KEY CLUSTERED 
(
	[THRESHOLD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
