USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EXPORTINFO]    Script Date: 6/29/2019 5:47:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPORTINFO](
	[ID] [bigint] NOT NULL,
	[KEY] [varbinary](max) NULL,
	[ENABLED] [bit] NULL,
	[MODULE] [varchar](250) NOT NULL,
	[MODIFIEDTIME] [bigint] NOT NULL,
 CONSTRAINT [EXPORTINFO_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [EXPORTINFO_UK0] UNIQUE NONCLUSTERED 
(
	[MODULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EXPORTINFO] ADD  DEFAULT ((0)) FOR [ENABLED]
GO
