USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CUSTOMFIELDRULEDEFINITION]    Script Date: 6/29/2019 5:46:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMFIELDRULEDEFINITION](
	[RULEID] [bigint] NOT NULL,
	[RTID] [int] NULL,
	[RULEKEYID] [int] NULL,
	[OPERATORID] [int] NULL,
	[RULEVALUE] [varchar](250) NULL,
 CONSTRAINT [CUSTOMFIELDRULEDEFINITION_PK1] PRIMARY KEY CLUSTERED 
(
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_818724069]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_818724069] ON [dbo].[CUSTOMFIELDRULEDEFINITION]
(
	[RTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_818724070]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_818724070] ON [dbo].[CUSTOMFIELDRULEDEFINITION]
(
	[RULEKEYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_818724071]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_818724071] ON [dbo].[CUSTOMFIELDRULEDEFINITION]
(
	[OPERATORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMFIELDRULEDEFINITION]  WITH CHECK ADD  CONSTRAINT [CUSTOMFIELDRULEDEFINITION_FK1] FOREIGN KEY([RTID])
REFERENCES [dbo].[CustomFieldType] ([TYPEID])
GO
ALTER TABLE [dbo].[CUSTOMFIELDRULEDEFINITION] CHECK CONSTRAINT [CUSTOMFIELDRULEDEFINITION_FK1]
GO
ALTER TABLE [dbo].[CUSTOMFIELDRULEDEFINITION]  WITH CHECK ADD  CONSTRAINT [CUSTOMFIELDRULEDEFINITION_FK2] FOREIGN KEY([RULEKEYID])
REFERENCES [dbo].[CustomFieldsDefinition] ([CUSTOMFIELDID])
GO
ALTER TABLE [dbo].[CUSTOMFIELDRULEDEFINITION] CHECK CONSTRAINT [CUSTOMFIELDRULEDEFINITION_FK2]
GO
ALTER TABLE [dbo].[CUSTOMFIELDRULEDEFINITION]  WITH CHECK ADD  CONSTRAINT [CUSTOMFIELDRULEDEFINITION_FK3] FOREIGN KEY([OPERATORID])
REFERENCES [dbo].[OPERATORS] ([OPERATORID])
GO
ALTER TABLE [dbo].[CUSTOMFIELDRULEDEFINITION] CHECK CONSTRAINT [CUSTOMFIELDRULEDEFINITION_FK3]
GO
