USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Cache_Vs_Cli_Dy]    Script Date: 6/29/2019 5:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cache_Vs_Cli_Dy](
	[CUD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HOUR] [datetime] NOT NULL,
	[RID] [bigint] NOT NULL,
	[SRC_ID] [bigint] NOT NULL,
	[SRC] [nvarchar](96) NOT NULL,
	[USER_ID] [bigint] NULL,
	[USER] [nvarchar](96) NULL,
	[DEST_ID] [bigint] NULL,
	[DEST] [nvarchar](96) NULL,
	[CACHE_ID] [bigint] NULL,
	[URL] [nvarchar](2500) NULL,
	[REQUEST_COUNT] [bigint] NULL,
	[DURATION] [bigint] NULL,
	[TOTAL_BYTES] [bigint] NULL,
	[BWUSAGETYPE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Cache_Vs_Cli_Dy_IDX1]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Cache_Vs_Cli_Dy_IDX1] ON [dbo].[Cache_Vs_Cli_Dy]
(
	[HOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Cache_Vs_Cli_Dy_IDX2]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Cache_Vs_Cli_Dy_IDX2] ON [dbo].[Cache_Vs_Cli_Dy]
(
	[SRC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Cache_Vs_Cli_Dy_IDX3]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Cache_Vs_Cli_Dy_IDX3] ON [dbo].[Cache_Vs_Cli_Dy]
(
	[SRC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Cache_Vs_Cli_Dy_IDX4]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Cache_Vs_Cli_Dy_IDX4] ON [dbo].[Cache_Vs_Cli_Dy]
(
	[DEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Cache_Vs_Cli_Dy_IDX5]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Cache_Vs_Cli_Dy_IDX5] ON [dbo].[Cache_Vs_Cli_Dy]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Cache_Vs_Cli_Dy_IDX6]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Cache_Vs_Cli_Dy_IDX6] ON [dbo].[Cache_Vs_Cli_Dy]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Cache_Vs_Cli_Dy_IDX7]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Cache_Vs_Cli_Dy_IDX7] ON [dbo].[Cache_Vs_Cli_Dy]
(
	[CACHE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cache_Vs_Cli_Dy] ADD  DEFAULT ('1970-01-01 00:00:00') FOR [HOUR]
GO
ALTER TABLE [dbo].[Cache_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [USER_ID]
GO
ALTER TABLE [dbo].[Cache_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [USER]
GO
ALTER TABLE [dbo].[Cache_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [DEST_ID]
GO
ALTER TABLE [dbo].[Cache_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [DEST]
GO
ALTER TABLE [dbo].[Cache_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [CACHE_ID]
GO
ALTER TABLE [dbo].[Cache_Vs_Cli_Dy] ADD  DEFAULT ('0') FOR [REQUEST_COUNT]
GO
ALTER TABLE [dbo].[Cache_Vs_Cli_Dy] ADD  DEFAULT ('0') FOR [DURATION]
GO
ALTER TABLE [dbo].[Cache_Vs_Cli_Dy] ADD  DEFAULT ('0') FOR [TOTAL_BYTES]
GO
ALTER TABLE [dbo].[Cache_Vs_Cli_Dy] ADD  DEFAULT ('1') FOR [BWUSAGETYPE]
GO
