USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCUnityRaid]    Script Date: 6/29/2019 5:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCUnityRaid](
	[DEVICE_ID] [bigint] NOT NULL,
	[RAID_DISPLAYNAME] [varchar](1000) NOT NULL,
	[NO_OF_DRIVES] [int] NOT NULL,
	[CONFIG_CAPACITY] [float] NULL,
	[USED_CAPACITY] [float] NULL,
	[FREE_CAPACITY] [float] NULL,
 CONSTRAINT [EMCUnityRaid_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1372971921]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1372971921] ON [dbo].[EMCUnityRaid]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCUnityRaid]  WITH CHECK ADD  CONSTRAINT [EMCUnityRaid_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[EMCUnityRaid] CHECK CONSTRAINT [EMCUnityRaid_FK1]
GO
