USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AristaSwitch]    Script Date: 6/29/2019 5:46:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AristaSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[HW_VERSION] [varchar](150) NOT NULL,
	[BUILD_VERSION] [varchar](150) NOT NULL,
	[ARCHITECTURE] [varchar](150) NOT NULL,
 CONSTRAINT [AristaSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1541146505]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1541146505] ON [dbo].[AristaSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AristaSwitch] ADD  DEFAULT ('Not Available') FOR [HW_VERSION]
GO
ALTER TABLE [dbo].[AristaSwitch] ADD  DEFAULT ('Not Available') FOR [BUILD_VERSION]
GO
ALTER TABLE [dbo].[AristaSwitch] ADD  DEFAULT ('Not Available') FOR [ARCHITECTURE]
GO
ALTER TABLE [dbo].[AristaSwitch]  WITH CHECK ADD  CONSTRAINT [AristaSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[AristaSwitch] CHECK CONSTRAINT [AristaSwitch_FK1]
GO
