USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RBTaskScheduleVsElement]    Script Date: 6/29/2019 5:50:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RBTaskScheduleVsElement](
	[SCHED_TASK_ID] [bigint] NOT NULL,
	[MOID] [bigint] NOT NULL,
 CONSTRAINT [RBTaskScheduleVsElement_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHED_TASK_ID] ASC,
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1005545695]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1005545695] ON [dbo].[RBTaskScheduleVsElement]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1005545696]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1005545696] ON [dbo].[RBTaskScheduleVsElement]
(
	[SCHED_TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RBTaskScheduleVsElement]  WITH CHECK ADD  CONSTRAINT [RBTaskScheduleVsElement_FK1] FOREIGN KEY([SCHED_TASK_ID])
REFERENCES [dbo].[RBTaskSchedule] ([SCHED_TASK_ID])
GO
ALTER TABLE [dbo].[RBTaskScheduleVsElement] CHECK CONSTRAINT [RBTaskScheduleVsElement_FK1]
GO
ALTER TABLE [dbo].[RBTaskScheduleVsElement]  WITH CHECK ADD  CONSTRAINT [RBTaskScheduleVsElement_FK2] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[RBTaskScheduleVsElement] CHECK CONSTRAINT [RBTaskScheduleVsElement_FK2]
GO
