USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HuaweiNERouter]    Script Date: 6/29/2019 5:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuaweiNERouter](
	[RESOURCEID] [bigint] NOT NULL,
	[SOFTWARE_VER] [varchar](150) NOT NULL,
 CONSTRAINT [HuaweiNERouter_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2083205812]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2083205812] ON [dbo].[HuaweiNERouter]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HuaweiNERouter] ADD  DEFAULT ('Not Available') FOR [SOFTWARE_VER]
GO
ALTER TABLE [dbo].[HuaweiNERouter]  WITH CHECK ADD  CONSTRAINT [HuaweiNERouter_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[HuaweiNERouter] CHECK CONSTRAINT [HuaweiNERouter_FK1]
GO
