USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/29/2019 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CATEGORY_ID] [bigint] NOT NULL,
	[CATEGORY_NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
 CONSTRAINT [Category_PK] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
