USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SchAppCriteria]    Script Date: 6/29/2019 5:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchAppCriteria](
	[SCH_APP_ID] [int] NOT NULL,
	[SCHEDULE_ID] [bigint] NOT NULL,
	[APPLN_NAME] [varchar](255) NOT NULL,
 CONSTRAINT [SchAppCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[SCH_APP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1039555292]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1039555292] ON [dbo].[SchAppCriteria]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SchAppCriteria]  WITH CHECK ADD  CONSTRAINT [SchAppCriteria_FK] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[ScheduleDetails] ([ID])
GO
ALTER TABLE [dbo].[SchAppCriteria] CHECK CONSTRAINT [SchAppCriteria_FK]
GO
