USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Pattern_To_Str_Expr]    Script Date: 6/29/2019 5:50:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pattern_To_Str_Expr](
	[PATTERN_EXPR_ID] [bigint] NOT NULL,
	[STRING_EXPRESSION_ID] [bigint] NOT NULL,
 CONSTRAINT [Pattern_To_Str_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1228846068]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1228846068] ON [dbo].[Pattern_To_Str_Expr]
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_560477605]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_560477605] ON [dbo].[Pattern_To_Str_Expr]
(
	[STRING_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pattern_To_Str_Expr]  WITH CHECK ADD  CONSTRAINT [Pattern_To_Str_Expr_FK] FOREIGN KEY([PATTERN_EXPR_ID])
REFERENCES [dbo].[Pattern_Expressions] ([PATTERN_EXPR_ID])
GO
ALTER TABLE [dbo].[Pattern_To_Str_Expr] CHECK CONSTRAINT [Pattern_To_Str_Expr_FK]
GO
ALTER TABLE [dbo].[Pattern_To_Str_Expr]  WITH CHECK ADD  CONSTRAINT [Pattern_To_Str_Expr_FK1] FOREIGN KEY([STRING_EXPRESSION_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Pattern_To_Str_Expr] CHECK CONSTRAINT [Pattern_To_Str_Expr_FK1]
GO
