USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[F5ARX]    Script Date: 6/29/2019 5:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[F5ARX](
	[RESOURCEID] [bigint] NOT NULL,
	[SYSCOFIG_VERSION] [varchar](150) NOT NULL,
 CONSTRAINT [F5ARX_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_196830853]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_196830853] ON [dbo].[F5ARX]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[F5ARX] ADD  DEFAULT ('Not Available') FOR [SYSCOFIG_VERSION]
GO
ALTER TABLE [dbo].[F5ARX]  WITH CHECK ADD  CONSTRAINT [F5ARX_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[F5ARX] CHECK CONSTRAINT [F5ARX_FK1]
GO
