USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSFaultDeviceInfo]    Script Date: 6/29/2019 5:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSFaultDeviceInfo](
	[ID] [bigint] NOT NULL,
	[MOID] [bigint] NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[PERIOD] [bigint] NOT NULL,
	[FAULT_FETCH_TYPE] [bigint] NOT NULL,
	[LASTPOLLEDTIME] [bigint] NOT NULL,
	[NEXTPOLLAT] [bigint] NOT NULL,
	[LAST_TRANSITION] [varchar](250) NOT NULL,
 CONSTRAINT [UCSFaultDeviceInfo_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1116245102]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1116245102] ON [dbo].[UCSFaultDeviceInfo]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UCSFaultDeviceInfo] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[UCSFaultDeviceInfo] ADD  DEFAULT ('-1') FOR [PERIOD]
GO
ALTER TABLE [dbo].[UCSFaultDeviceInfo] ADD  DEFAULT ('1') FOR [FAULT_FETCH_TYPE]
GO
ALTER TABLE [dbo].[UCSFaultDeviceInfo]  WITH CHECK ADD  CONSTRAINT [UCSFaultDeviceInfo_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[UCSFaultDeviceInfo] CHECK CONSTRAINT [UCSFaultDeviceInfo_FK1]
GO
