USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic500BladeHPFSettings]    Script Date: 6/29/2019 5:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic500BladeHPFSettings](
	[PPORT_ID] [int] NOT NULL,
	[BLADE_ID] [bigint] NOT NULL,
	[FAILURE_TYPE] [varchar](250) NOT NULL,
	[CURRENT_STATE] [varchar](250) NOT NULL,
	[PORT_INTERVENTION] [bit] NOT NULL,
 CONSTRAINT [Adic500BladeHPFSettings_PK] PRIMARY KEY CLUSTERED 
(
	[PPORT_ID] ASC,
	[BLADE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__278682311]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__278682311] ON [dbo].[Adic500BladeHPFSettings]
(
	[BLADE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic500BladeHPFSettings]  WITH CHECK ADD  CONSTRAINT [Adic500LibraryBladeHPFSettings_FK1] FOREIGN KEY([BLADE_ID])
REFERENCES [dbo].[Adic500BladeInterface] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic500BladeHPFSettings] CHECK CONSTRAINT [Adic500LibraryBladeHPFSettings_FK1]
GO
