USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InterfaceRelation]    Script Date: 6/29/2019 5:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterfaceRelation](
	[INTERFACEGROUPID] [bigint] NOT NULL,
	[INTERFACEIDENTIFIER] [varchar](250) NOT NULL,
 CONSTRAINT [IntfRel_PK] PRIMARY KEY CLUSTERED 
(
	[INTERFACEGROUPID] ASC,
	[INTERFACEIDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1548329744]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1548329744] ON [dbo].[InterfaceRelation]
(
	[INTERFACEIDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1548329745]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1548329745] ON [dbo].[InterfaceRelation]
(
	[INTERFACEGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InterfaceRelation]  WITH CHECK ADD  CONSTRAINT [IntfRel_FK1] FOREIGN KEY([INTERFACEGROUPID])
REFERENCES [dbo].[InterfaceGroup] ([INTERFACEGROUPID])
GO
ALTER TABLE [dbo].[InterfaceRelation] CHECK CONSTRAINT [IntfRel_FK1]
GO
ALTER TABLE [dbo].[InterfaceRelation]  WITH CHECK ADD  CONSTRAINT [IntfRel_FK2] FOREIGN KEY([INTERFACEIDENTIFIER])
REFERENCES [dbo].[InterfaceConfiguration] ([INTERFACEIDENTIFIER])
GO
ALTER TABLE [dbo].[InterfaceRelation] CHECK CONSTRAINT [IntfRel_FK2]
GO
