USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMRecordedFile]    Script Date: 6/29/2019 5:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMRecordedFile](
	[OPERATION_AUDIT_ID] [bigint] NOT NULL,
	[FILENAME] [varchar](200) NULL,
	[MESSAGE] [varchar](250) NOT NULL,
 CONSTRAINT [NCMRecordedFile_PK] PRIMARY KEY CLUSTERED 
(
	[OPERATION_AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1325527872]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1325527872] ON [dbo].[NCMRecordedFile]
(
	[OPERATION_AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMRecordedFile] ADD  DEFAULT ('None') FOR [MESSAGE]
GO
ALTER TABLE [dbo].[NCMRecordedFile]  WITH CHECK ADD  CONSTRAINT [NCMRecordedFile_FK] FOREIGN KEY([OPERATION_AUDIT_ID])
REFERENCES [dbo].[NCMOperationAudit] ([OPERATION_AUDIT_ID])
GO
ALTER TABLE [dbo].[NCMRecordedFile] CHECK CONSTRAINT [NCMRecordedFile_FK]
GO
