USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IpEcho]    Script Date: 6/29/2019 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpEcho](
	[PROBE_ID] [bigint] NOT NULL,
	[TARGET_ID] [bigint] NOT NULL,
	[OPERATION_ID] [bigint] NOT NULL,
 CONSTRAINT [IpEcho_PK] PRIMARY KEY CLUSTERED 
(
	[PROBE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1285798567]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1285798567] ON [dbo].[IpEcho]
(
	[TARGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1426950696]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1426950696] ON [dbo].[IpEcho]
(
	[PROBE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IpEcho]  WITH CHECK ADD  CONSTRAINT [IpEcho_FK] FOREIGN KEY([PROBE_ID])
REFERENCES [dbo].[ProbeId] ([PROBE_ID])
GO
ALTER TABLE [dbo].[IpEcho] CHECK CONSTRAINT [IpEcho_FK]
GO
ALTER TABLE [dbo].[IpEcho]  WITH CHECK ADD  CONSTRAINT [IpEcho_FK1] FOREIGN KEY([TARGET_ID])
REFERENCES [dbo].[Target] ([TARGET_ID])
GO
ALTER TABLE [dbo].[IpEcho] CHECK CONSTRAINT [IpEcho_FK1]
GO
