USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RaidController]    Script Date: 6/29/2019 5:50:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaidController](
	[DEVICE_ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[CONTROLLER_NAME] [varchar](250) NOT NULL,
	[CONTROLLER_STATE] [varchar](100) NOT NULL,
	[NO_OF_PORTS] [int] NOT NULL,
	[PS_STATUS] [varchar](100) NOT NULL,
	[BATTERY_BACKUP_STATUS] [varchar](100) NOT NULL,
	[MANAGED_RAID_GROUPS] [varchar](250) NOT NULL,
	[PHYSICAL_LOCATION] [varchar](250) NOT NULL,
	[ADDITIONAL_DATA] [text] NULL,
 CONSTRAINT [RAIDCONTROLLER_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1817728268]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1817728268] ON [dbo].[RaidController]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1817728269]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1817728269] ON [dbo].[RaidController]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RaidController]  WITH CHECK ADD  CONSTRAINT [RAIDCONTROLLER_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[RaidController] CHECK CONSTRAINT [RAIDCONTROLLER_FK1]
GO
ALTER TABLE [dbo].[RaidController]  WITH CHECK ADD  CONSTRAINT [RAIDCONTROLLER_FK2] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[RaidController] CHECK CONSTRAINT [RAIDCONTROLLER_FK2]
GO
