USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMVendorSyslogTrackingLevel]    Script Date: 6/29/2019 5:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMVendorSyslogTrackingLevel](
	[VENDORID] [bigint] NOT NULL,
	[LOGGING_LEVEL] [varchar](50) NOT NULL,
	[LOGGING_LEVEL_NUMBER] [int] NOT NULL,
	[SEQUENCEID] [int] NOT NULL,
 CONSTRAINT [NCMVSTL_PK] PRIMARY KEY CLUSTERED 
(
	[VENDORID] ASC,
	[LOGGING_LEVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2055664646]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2055664646] ON [dbo].[NCMVendorSyslogTrackingLevel]
(
	[VENDORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMVendorSyslogTrackingLevel] ADD  DEFAULT ('0') FOR [LOGGING_LEVEL_NUMBER]
GO
ALTER TABLE [dbo].[NCMVendorSyslogTrackingLevel]  WITH CHECK ADD  CONSTRAINT [NCMVSTL_FK1] FOREIGN KEY([VENDORID])
REFERENCES [dbo].[NCMVendor] ([VENDORID])
GO
ALTER TABLE [dbo].[NCMVendorSyslogTrackingLevel] CHECK CONSTRAINT [NCMVSTL_FK1]
GO
