USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Pattern_Variables]    Script Date: 6/29/2019 5:50:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pattern_Variables](
	[PATTERN_EXPR_ID] [bigint] NOT NULL,
	[RELVAR_ID] [bigint] NOT NULL,
	[ATTRIBUTE_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [Pattern_Variabless_PK] PRIMARY KEY CLUSTERED 
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1963145500]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1963145500] ON [dbo].[Pattern_Variables]
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_727968405]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_727968405] ON [dbo].[Pattern_Variables]
(
	[RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pattern_Variables]  WITH CHECK ADD  CONSTRAINT [Pattern_Variables_FK] FOREIGN KEY([PATTERN_EXPR_ID])
REFERENCES [dbo].[Pattern_Expressions] ([PATTERN_EXPR_ID])
GO
ALTER TABLE [dbo].[Pattern_Variables] CHECK CONSTRAINT [Pattern_Variables_FK]
GO
ALTER TABLE [dbo].[Pattern_Variables]  WITH CHECK ADD  CONSTRAINT [Pattern_Variables_FK1] FOREIGN KEY([RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Pattern_Variables] CHECK CONSTRAINT [Pattern_Variables_FK1]
GO
