USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCommandMapping]    Script Date: 6/29/2019 5:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCommandMapping](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[COMMANDMAPID] [varchar](50) NOT NULL,
 CONSTRAINT [NCMCommandMapping_PK1] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_995764264]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_995764264] ON [dbo].[NCMCommandMapping]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCommandMapping]  WITH CHECK ADD  CONSTRAINT [NCMCommandMapping_FK1] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Task_Conf] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[NCMCommandMapping] CHECK CONSTRAINT [NCMCommandMapping_FK1]
GO
