USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TempValidRogueResources]    Script Date: 6/29/2019 5:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempValidRogueResources](
	[RESOURCEID] [bigint] NOT NULL,
	[STATUS] [int] NOT NULL,
	[VALIDTIME] [datetime] NOT NULL,
	[ADDEDTIME] [datetime] NOT NULL,
	[ANNOTATION] [text] NOT NULL,
	[DEVICEADDEDTIME] [datetime] NULL,
 CONSTRAINT [TempValidRogueResources_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__347137600]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__347137600] ON [dbo].[TempValidRogueResources]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TempValidRogueResources] ADD  DEFAULT ('1') FOR [STATUS]
GO
ALTER TABLE [dbo].[TempValidRogueResources]  WITH CHECK ADD  CONSTRAINT [TempValidRogueResources_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[OpUtilsResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[TempValidRogueResources] CHECK CONSTRAINT [TempValidRogueResources_FK1]
GO
