USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Target]    Script Date: 6/29/2019 5:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Target](
	[TARGET_ID] [bigint] NOT NULL,
	[TARGETTYPE_ID] [int] NOT NULL,
	[TARGETNAME] [varchar](250) NOT NULL,
 CONSTRAINT [Target_PK] PRIMARY KEY CLUSTERED 
(
	[TARGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1188390419]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1188390419] ON [dbo].[Target]
(
	[TARGETTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Target]  WITH CHECK ADD  CONSTRAINT [Target_FK] FOREIGN KEY([TARGETTYPE_ID])
REFERENCES [dbo].[TargetType] ([TARGETTYPE_ID])
GO
ALTER TABLE [dbo].[Target] CHECK CONSTRAINT [Target_FK]
GO
