USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Filters2Criteria]    Script Date: 6/29/2019 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filters2Criteria](
	[NF_ID] [bigint] NOT NULL,
	[CRIT_ID] [bigint] NOT NULL,
 CONSTRAINT [Filters2Criteria_PK] PRIMARY KEY CLUSTERED 
(
	[NF_ID] ASC,
	[CRIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_799412355]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_799412355] ON [dbo].[Filters2Criteria]
(
	[CRIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_799412356]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_799412356] ON [dbo].[Filters2Criteria]
(
	[NF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Filters2Criteria]  WITH CHECK ADD  CONSTRAINT [Filters2Criteria_FK1] FOREIGN KEY([CRIT_ID])
REFERENCES [dbo].[LACriteria] ([CRIT_ID])
GO
ALTER TABLE [dbo].[Filters2Criteria] CHECK CONSTRAINT [Filters2Criteria_FK1]
GO
ALTER TABLE [dbo].[Filters2Criteria]  WITH CHECK ADD  CONSTRAINT [Filters2Criteria_FK2] FOREIGN KEY([NF_ID])
REFERENCES [dbo].[NotificationFilters] ([NF_ID])
GO
ALTER TABLE [dbo].[Filters2Criteria] CHECK CONSTRAINT [Filters2Criteria_FK2]
GO
