USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UPDownCriteria]    Script Date: 6/29/2019 5:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPDownCriteria](
	[ID] [bigint] NOT NULL,
	[STATUS] [int] NOT NULL,
	[DOWN_COUNT] [int] NOT NULL,
 CONSTRAINT [DownCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1355559182]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1355559182] ON [dbo].[UPDownCriteria]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UPDownCriteria] ADD  DEFAULT ('1') FOR [STATUS]
GO
ALTER TABLE [dbo].[UPDownCriteria] ADD  DEFAULT ('1') FOR [DOWN_COUNT]
GO
ALTER TABLE [dbo].[UPDownCriteria]  WITH CHECK ADD  CONSTRAINT [DownCriteria_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[ParentConfig] ([PID])
GO
ALTER TABLE [dbo].[UPDownCriteria] CHECK CONSTRAINT [DownCriteria_FK1]
GO
