USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FloorToRackMap]    Script Date: 6/29/2019 5:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FloorToRackMap](
	[FLOORMOID] [bigint] NOT NULL,
	[RACKMOID] [bigint] NOT NULL,
	[RACKPOSITIONX] [int] NOT NULL,
	[RACKPOSITIONZ] [int] NOT NULL,
	[RACKANGLE] [int] NOT NULL,
 CONSTRAINT [FloorToRackMap_PK] PRIMARY KEY CLUSTERED 
(
	[FLOORMOID] ASC,
	[RACKMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FloorToRackMap_UK0] UNIQUE NONCLUSTERED 
(
	[RACKMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1367252427]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1367252427] ON [dbo].[FloorToRackMap]
(
	[FLOORMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1367252428]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1367252428] ON [dbo].[FloorToRackMap]
(
	[RACKMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FloorToRackMap]  WITH CHECK ADD  CONSTRAINT [FloorToRackMap_FK1] FOREIGN KEY([FLOORMOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[FloorToRackMap] CHECK CONSTRAINT [FloorToRackMap_FK1]
GO
ALTER TABLE [dbo].[FloorToRackMap]  WITH CHECK ADD  CONSTRAINT [FloorToRackMap_FK2] FOREIGN KEY([RACKMOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[FloorToRackMap] CHECK CONSTRAINT [FloorToRackMap_FK2]
GO
