USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LAYER2ROUTINGTABLE]    Script Date: 6/29/2019 5:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAYER2ROUTINGTABLE](
	[MAPID] [bigint] NOT NULL,
	[LEVEL] [int] NOT NULL,
	[DEVICEADDRESS] [varchar](50) NOT NULL,
	[IFINDEX] [int] NOT NULL,
	[IFNAME] [varchar](50) NOT NULL,
	[ROUTENEXTHOP] [varchar](50) NOT NULL,
	[ROUTEDEST] [varchar](50) NOT NULL,
	[ROUTEMASK] [varchar](50) NULL,
	[ROUTETYPE] [int] NOT NULL,
 CONSTRAINT [LAYER2ROUTINGTABLE_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC,
	[DEVICEADDRESS] ASC,
	[ROUTEDEST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_491977307]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_491977307] ON [dbo].[LAYER2ROUTINGTABLE]
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LAYER2ROUTINGTABLE]  WITH CHECK ADD  CONSTRAINT [LAYER2ROUTINGTABLE_FK] FOREIGN KEY([MAPID])
REFERENCES [dbo].[LAYER2CONFIGURATION] ([MAPID])
GO
ALTER TABLE [dbo].[LAYER2ROUTINGTABLE] CHECK CONSTRAINT [LAYER2ROUTINGTABLE_FK]
GO
