USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProcessStatistics]    Script Date: 6/29/2019 5:50:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessStatistics](
	[ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[PCPU] [real] NOT NULL,
	[PMEM] [real] NOT NULL,
	[INSTANCECOUNT] [int] NOT NULL,
	[ABSPMEM] [bigint] NOT NULL,
 CONSTRAINT [ProcessStatistics_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
