USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMSGatewayDetails]    Script Date: 6/29/2019 5:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSGatewayDetails](
	[GATEWAYTYPEID] [int] NOT NULL,
	[PARAMNAME] [varchar](50) NOT NULL,
	[PARAMVALUE] [varchar](100) NULL,
 CONSTRAINT [SMSGatewayDetails_PK] PRIMARY KEY CLUSTERED 
(
	[GATEWAYTYPEID] ASC,
	[PARAMNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1094856435]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1094856435] ON [dbo].[SMSGatewayDetails]
(
	[GATEWAYTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMSGatewayDetails]  WITH CHECK ADD  CONSTRAINT [SMSGatewayDetails_FK] FOREIGN KEY([GATEWAYTYPEID])
REFERENCES [dbo].[SMSGatewayTypes] ([GATEWAYTYPEID])
GO
ALTER TABLE [dbo].[SMSGatewayDetails] CHECK CONSTRAINT [SMSGatewayDetails_FK]
GO
