USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RunBookTaskAssocMainTask]    Script Date: 6/29/2019 5:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunBookTaskAssocMainTask](
	[RBID] [bigint] NOT NULL,
	[ASSOCID] [bigint] NOT NULL,
 CONSTRAINT [RunBookTaskAssocMainTask_PK1] PRIMARY KEY CLUSTERED 
(
	[ASSOCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_956892487]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_956892487] ON [dbo].[RunBookTaskAssocMainTask]
(
	[RBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_956892488]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_956892488] ON [dbo].[RunBookTaskAssocMainTask]
(
	[ASSOCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RunBookTaskAssocMainTask]  WITH CHECK ADD  CONSTRAINT [RunBookTaskAssocMainTask_FK1] FOREIGN KEY([RBID])
REFERENCES [dbo].[RunBook] ([RBID])
GO
ALTER TABLE [dbo].[RunBookTaskAssocMainTask] CHECK CONSTRAINT [RunBookTaskAssocMainTask_FK1]
GO
ALTER TABLE [dbo].[RunBookTaskAssocMainTask]  WITH CHECK ADD  CONSTRAINT [RunBookTaskAssocMainTask_FK2] FOREIGN KEY([ASSOCID])
REFERENCES [dbo].[RunBookTaskAssociation] ([ASSOCID])
GO
ALTER TABLE [dbo].[RunBookTaskAssocMainTask] CHECK CONSTRAINT [RunBookTaskAssocMainTask_FK2]
GO
