USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BuildDetails]    Script Date: 6/29/2019 5:46:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildDetails](
	[ID] [bigint] NOT NULL,
	[BASE_BUILD_VERSION] [bigint] NULL,
	[CURRENT_BUILD_VERSION] [bigint] NOT NULL,
	[BASE_INSTALLED_DATE] [datetime] NULL,
 CONSTRAINT [BuildDetails_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [BuildDetails_UK0]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [BuildDetails_UK0] ON [dbo].[BuildDetails]
(
	[BASE_INSTALLED_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
