USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CentralDetails]    Script Date: 6/29/2019 5:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentralDetails](
	[NOCSERVERPROTOCOL] [varchar](25) NULL,
	[NOCSERVERNAME] [varchar](100) NULL,
	[NOCSERVERPORT] [varchar](25) NULL,
	[STANDBYNOCSERVERPROTOCOL] [varchar](25) NULL,
	[STANDBYNOCSERVERNAME] [varchar](100) NULL,
	[STANDBYNOCSERVERPORT] [varchar](25) NULL,
	[REESTABLISHINTERVAL] [varchar](25) NULL,
	[SWITCHOVERINTERVAL] [varchar](25) NULL,
	[RETRIES] [varchar](25) NULL,
	[REGIONID] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[REGIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
