USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPMToFWAMapping]    Script Date: 6/29/2019 5:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPMToFWAMapping](
	[MOID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
 CONSTRAINT [OPMToFWAMapping_PK1] PRIMARY KEY CLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_76986194]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_76986194] ON [dbo].[OPMToFWAMapping]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_76986195]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_76986195] ON [dbo].[OPMToFWAMapping]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPMToFWAMapping]  WITH CHECK ADD  CONSTRAINT [OPMToFWAMapping_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[OPMToFWAMapping] CHECK CONSTRAINT [OPMToFWAMapping_FK1]
GO
ALTER TABLE [dbo].[OPMToFWAMapping]  WITH CHECK ADD  CONSTRAINT [OPMToFWAMapping_FK2] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[OPMToFWAMapping] CHECK CONSTRAINT [OPMToFWAMapping_FK2]
GO
