USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InfortrendRaidHDD]    Script Date: 6/29/2019 5:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfortrendRaidHDD](
	[DEVICE_ID] [bigint] NOT NULL,
	[HDD_INDEX] [int] NOT NULL,
	[HDD_LOGCHANNELNO] [int] NULL,
	[HDD_PHYCHANNELNO] [int] NULL,
	[HDD_SCSIID] [int] NULL,
	[HDD_SCSILUN] [int] NULL,
	[HDD_LDID] [varchar](250) NULL,
	[HDD_SPEED] [varchar](250) NULL,
	[HDD_DATAWIDTH] [varchar](250) NULL,
	[HDD_STATUS] [varchar](500) NULL,
	[HDD_STATE] [varchar](250) NULL,
	[HDD_MODEL] [varchar](250) NULL,
	[HDD_SIZE] [varchar](250) NULL,
	[HDD_SLOTNUM] [varchar](250) NULL,
	[HDD_RESVSPACE] [varchar](250) NULL,
	[HDD_FWREVSTRING] [varchar](250) NULL,
	[HDD_SERIALNO] [varchar](250) NULL,
 CONSTRAINT [InfortrendRaidHDD_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[HDD_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_163685074]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_163685074] ON [dbo].[InfortrendRaidHDD]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InfortrendRaidHDD]  WITH CHECK ADD  CONSTRAINT [InfortrendRaidHDD_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[InfortrendRaidHDD] CHECK CONSTRAINT [InfortrendRaidHDD_FK1]
GO
