USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMScheduleTemplate]    Script Date: 6/29/2019 5:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMScheduleTemplate](
	[INSTANCE_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [int] NOT NULL,
	[BACKUP_ENABLED] [bit] NOT NULL,
 CONSTRAINT [NCMScheduleTemplate_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1273729110]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1273729110] ON [dbo].[NCMScheduleTemplate]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1273729111]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1273729111] ON [dbo].[NCMScheduleTemplate]
(
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMScheduleTemplate] ADD  DEFAULT ((1)) FOR [BACKUP_ENABLED]
GO
ALTER TABLE [dbo].[NCMScheduleTemplate]  WITH CHECK ADD  CONSTRAINT [NCMScheduleTemplate_FK1] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[Task_Input] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[NCMScheduleTemplate] CHECK CONSTRAINT [NCMScheduleTemplate_FK1]
GO
ALTER TABLE [dbo].[NCMScheduleTemplate]  WITH CHECK ADD  CONSTRAINT [NCMScheduleTemplate_FK2] FOREIGN KEY([TEMPLATE_ID])
REFERENCES [dbo].[NCMTemplate] ([TEMPLATE_ID])
GO
ALTER TABLE [dbo].[NCMScheduleTemplate] CHECK CONSTRAINT [NCMScheduleTemplate_FK2]
GO
