USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RunBookTaskHierarchy]    Script Date: 6/29/2019 5:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunBookTaskHierarchy](
	[ASSOCID] [bigint] NOT NULL,
	[NEXTTASK] [bigint] NULL,
	[ABORTTASK] [bigint] NULL,
 CONSTRAINT [RunBookTaskHierarchy_PK1] PRIMARY KEY CLUSTERED 
(
	[ASSOCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1987318805]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1987318805] ON [dbo].[RunBookTaskHierarchy]
(
	[ABORTTASK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1987318806]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1987318806] ON [dbo].[RunBookTaskHierarchy]
(
	[NEXTTASK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1987318807]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1987318807] ON [dbo].[RunBookTaskHierarchy]
(
	[ASSOCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RunBookTaskHierarchy]  WITH CHECK ADD  CONSTRAINT [RunBookTaskHierarchy_FK1] FOREIGN KEY([ASSOCID])
REFERENCES [dbo].[RunBookTaskAssociation] ([ASSOCID])
GO
ALTER TABLE [dbo].[RunBookTaskHierarchy] CHECK CONSTRAINT [RunBookTaskHierarchy_FK1]
GO
ALTER TABLE [dbo].[RunBookTaskHierarchy]  WITH CHECK ADD  CONSTRAINT [RunBookTaskHierarchy_FK2] FOREIGN KEY([NEXTTASK])
REFERENCES [dbo].[RunBookTaskAssociation] ([ASSOCID])
GO
ALTER TABLE [dbo].[RunBookTaskHierarchy] CHECK CONSTRAINT [RunBookTaskHierarchy_FK2]
GO
ALTER TABLE [dbo].[RunBookTaskHierarchy]  WITH CHECK ADD  CONSTRAINT [RunBookTaskHierarchy_FK3] FOREIGN KEY([ABORTTASK])
REFERENCES [dbo].[RunBookTaskAssociation] ([ASSOCID])
GO
ALTER TABLE [dbo].[RunBookTaskHierarchy] CHECK CONSTRAINT [RunBookTaskHierarchy_FK3]
GO
