USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[READ_COMMUNITY]    Script Date: 6/29/2019 5:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[READ_COMMUNITY](
	[READINDEX] [bigint] NOT NULL,
	[READ] [varchar](17) NOT NULL,
 CONSTRAINT [READ_COMMUNITY_PK] PRIMARY KEY CLUSTERED 
(
	[READINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [READ_COMMUNITY_UK1] UNIQUE NONCLUSTERED 
(
	[READ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
