USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STATSDATA_EMC_ISILON_DAILY]    Script Date: 6/29/2019 5:51:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATSDATA_EMC_ISILON_DAILY](
	[POLLID] [bigint] NOT NULL,
	[INSTANCE] [varchar](255) NOT NULL,
	[TTIME] [bigint] NOT NULL,
	[VAL] [bigint] NULL,
	[MINVALUE] [bigint] NULL,
	[MAXVALUE] [bigint] NULL,
	[TINTERVAL] [bigint] NOT NULL,
 CONSTRAINT [STATSDATA_EMC_ISILON_DAILY_PK] PRIMARY KEY CLUSTERED 
(
	[POLLID] ASC,
	[INSTANCE] ASC,
	[TTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
