USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SNMPScanStatus]    Script Date: 6/29/2019 5:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SNMPScanStatus](
	[TASK_ID] [bigint] NOT NULL,
	[TASK_NAME] [varchar](255) NOT NULL,
	[STATE] [int] NOT NULL,
	[REPORT_TYPE] [varchar](50) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[LAST_SCAN_TIME] [datetime] NULL,
	[START_HOURS] [varchar](50) NOT NULL,
	[REPORT_DAY] [varchar](50) NULL,
	[REPORT_DATE] [varchar](255) NULL,
	[REPORT_WEEK_DAY] [int] NOT NULL,
	[UNIT_VALUE] [int] NULL,
	[REPORT_MONTH] [varchar](50) NULL,
	[OID] [varchar](50) NOT NULL,
	[FETCH_REPORT] [varchar](50) NOT NULL,
 CONSTRAINT [SNMPScanStatus_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SNMPScanStatus] ADD  DEFAULT ('0') FOR [STATE]
GO
ALTER TABLE [dbo].[SNMPScanStatus] ADD  DEFAULT ('0') FOR [UNIT_VALUE]
GO
