USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WidgetAlarmSeverity]    Script Date: 6/29/2019 5:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WidgetAlarmSeverity](
	[ID] [bigint] NOT NULL,
	[SEVERITY] [int] NOT NULL,
 CONSTRAINT [WidgetAlarmSeverity_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[SEVERITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1570146633]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1570146633] ON [dbo].[WidgetAlarmSeverity]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WidgetAlarmSeverity]  WITH CHECK ADD  CONSTRAINT [WidgetAlarmSeverity_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[ReportWidgetID] ([ID])
GO
ALTER TABLE [dbo].[WidgetAlarmSeverity] CHECK CONSTRAINT [WidgetAlarmSeverity_FK1]
GO
