USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ParentChildNPDetails]    Script Date: 6/29/2019 5:50:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentChildNPDetails](
	[CHILDPROFILEID] [bigint] NOT NULL,
	[PARENTPROFILEID] [bigint] NOT NULL,
 CONSTRAINT [ParentChildNPDetails_PK] PRIMARY KEY CLUSTERED 
(
	[CHILDPROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1390124091]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1390124091] ON [dbo].[ParentChildNPDetails]
(
	[CHILDPROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1390124092]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1390124092] ON [dbo].[ParentChildNPDetails]
(
	[PARENTPROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ParentChildNPDetails]  WITH CHECK ADD  CONSTRAINT [ParentChildNPDetails_FK1] FOREIGN KEY([CHILDPROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[ParentChildNPDetails] CHECK CONSTRAINT [ParentChildNPDetails_FK1]
GO
ALTER TABLE [dbo].[ParentChildNPDetails]  WITH CHECK ADD  CONSTRAINT [ParentChildNPDetails_FK2] FOREIGN KEY([PARENTPROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[ParentChildNPDetails] CHECK CONSTRAINT [ParentChildNPDetails_FK2]
GO
