USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HDSLDEVExtent]    Script Date: 6/29/2019 5:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDSLDEVExtent](
	[RAID_DEVICE_ID] [bigint] NOT NULL,
	[LDEV_NAME] [varchar](250) NOT NULL,
	[LDEV_ID] [varchar](250) NULL,
	[LDEV_ELTNAME] [varchar](250) NULL,
	[LDEV_ERRLEVEL] [varchar](250) NULL,
	[LDEV_TOTSIZE] [varchar](250) NULL,
	[LDEV_CONSIZE] [varchar](250) NULL,
	[LDEV_PRIMORDIAL] [varchar](250) NULL,
	[LDEV_STATUS] [varchar](250) NULL,
	[LDEV_HSTATE] [varchar](250) NULL,
 CONSTRAINT [HDSLDEVExtent_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_DEVICE_ID] ASC,
	[LDEV_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1208302871]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1208302871] ON [dbo].[HDSLDEVExtent]
(
	[RAID_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HDSLDEVExtent]  WITH CHECK ADD  CONSTRAINT [HDSLDEVExtent_FK1] FOREIGN KEY([RAID_DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HDSLDEVExtent] CHECK CONSTRAINT [HDSLDEVExtent_FK1]
GO
