USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[JoinRelCriteria]    Script Date: 6/29/2019 5:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinRelCriteria](
	[QUERYID] [bigint] NOT NULL,
	[CRITERIAID] [bigint] NOT NULL,
	[RELATIONALCRITERIAID] [bigint] NOT NULL,
	[TABLEALIAS] [varchar](50) NULL,
	[COLUMNNAME] [varchar](50) NULL,
	[COMPARATOR] [int] NULL,
	[VALUE] [varchar](500) NULL,
	[CASESENSITIVE] [bit] NOT NULL,
	[VALUE_DATATYPE] [varchar](30) NULL,
 CONSTRAINT [JoinRelCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[QUERYID] ASC,
	[CRITERIAID] ASC,
	[RELATIONALCRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__392677578]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__392677578] ON [dbo].[JoinRelCriteria]
(
	[QUERYID] ASC,
	[CRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_711897020]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_711897020] ON [dbo].[JoinRelCriteria]
(
	[QUERYID] ASC,
	[TABLEALIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JoinRelCriteria] ADD  DEFAULT ((1)) FOR [CASESENSITIVE]
GO
ALTER TABLE [dbo].[JoinRelCriteria]  WITH CHECK ADD  CONSTRAINT [JoinRelCriteria_FK] FOREIGN KEY([QUERYID], [CRITERIAID])
REFERENCES [dbo].[JoinCriteria] ([QUERYID], [CRITERIAID])
GO
ALTER TABLE [dbo].[JoinRelCriteria] CHECK CONSTRAINT [JoinRelCriteria_FK]
GO
ALTER TABLE [dbo].[JoinRelCriteria]  WITH CHECK ADD  CONSTRAINT [JoinRelCriteria_FK2] FOREIGN KEY([QUERYID], [TABLEALIAS])
REFERENCES [dbo].[SelectTable] ([QUERYID], [TABLEALIAS])
GO
ALTER TABLE [dbo].[JoinRelCriteria] CHECK CONSTRAINT [JoinRelCriteria_FK2]
GO
