USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCustomReportCompliance]    Script Date: 6/29/2019 5:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCustomReportCompliance](
	[COMPLIANCEID] [bigint] NOT NULL,
	[REPORTID] [bigint] NOT NULL,
	[SELECTEDCOMPLIANCEPOLICIES] [varchar](800) NULL,
	[SELECTEDRULEGROUPS] [varchar](800) NULL,
	[SELECTEDRULES] [varchar](800) NULL,
	[SHOWONLY] [varchar](800) NOT NULL,
 CONSTRAINT [NCMCustomReportCompliance_PK] PRIMARY KEY CLUSTERED 
(
	[COMPLIANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1444622501]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1444622501] ON [dbo].[NCMCustomReportCompliance]
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCustomReportCompliance]  WITH CHECK ADD  CONSTRAINT [NCMCustomReportCompliance_FK1] FOREIGN KEY([REPORTID])
REFERENCES [dbo].[NCMCustomReportDefinition] ([REPORTID])
GO
ALTER TABLE [dbo].[NCMCustomReportCompliance] CHECK CONSTRAINT [NCMCustomReportCompliance_FK1]
GO
