USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ManagedResource]    Script Date: 6/29/2019 5:48:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedResource](
	[RESOURCEID] [bigint] NOT NULL,
	[OPERATIONALSTATUS] [int] NULL,
	[ADMINISTRATIVESTATUS] [int] NULL,
 CONSTRAINT [ManagedResource_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__626654854]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__626654854] ON [dbo].[ManagedResource]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagedResource]  WITH CHECK ADD  CONSTRAINT [ManagedResource_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMDevices] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ManagedResource] CHECK CONSTRAINT [ManagedResource_FK1]
GO
