USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Router_Snmp_Map]    Script Date: 6/29/2019 5:51:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Router_Snmp_Map](
	[ROUTER_ID] [int] NOT NULL,
	[SNMP_ID] [int] NOT NULL,
 CONSTRAINT [Router_Snmp_Map_PK] PRIMARY KEY CLUSTERED 
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__386276141]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__386276141] ON [dbo].[Router_Snmp_Map]
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_910341566]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_910341566] ON [dbo].[Router_Snmp_Map]
(
	[SNMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Router_Snmp_Map]  WITH CHECK ADD  CONSTRAINT [Router_Snmp_Map_FK] FOREIGN KEY([ROUTER_ID])
REFERENCES [dbo].[NetFlow_Router] ([ROUTER_ID])
GO
ALTER TABLE [dbo].[Router_Snmp_Map] CHECK CONSTRAINT [Router_Snmp_Map_FK]
GO
ALTER TABLE [dbo].[Router_Snmp_Map]  WITH CHECK ADD  CONSTRAINT [Router_Snmp_Map_FK1] FOREIGN KEY([SNMP_ID])
REFERENCES [dbo].[Snmp_Connection] ([SNMP_ID])
GO
ALTER TABLE [dbo].[Router_Snmp_Map] CHECK CONSTRAINT [Router_Snmp_Map_FK1]
GO
