USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Selection_Operator]    Script Date: 6/29/2019 5:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selection_Operator](
	[VIEW_ID] [bigint] NOT NULL,
	[INPUT_RELVAR_ID] [bigint] NOT NULL,
	[SELECTION_EXPRESSION_ID] [bigint] NULL,
 CONSTRAINT [Selection_Operator_PK] PRIMARY KEY CLUSTERED 
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1098471475]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1098471475] ON [dbo].[Selection_Operator]
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_307122692]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_307122692] ON [dbo].[Selection_Operator]
(
	[INPUT_RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_307122693]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_307122693] ON [dbo].[Selection_Operator]
(
	[SELECTION_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Selection_Operator]  WITH CHECK ADD  CONSTRAINT [Selection_Operator_FK] FOREIGN KEY([VIEW_ID])
REFERENCES [dbo].[Views] ([VIEW_ID])
GO
ALTER TABLE [dbo].[Selection_Operator] CHECK CONSTRAINT [Selection_Operator_FK]
GO
ALTER TABLE [dbo].[Selection_Operator]  WITH CHECK ADD  CONSTRAINT [Selection_Operator_FK1] FOREIGN KEY([INPUT_RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Selection_Operator] CHECK CONSTRAINT [Selection_Operator_FK1]
GO
ALTER TABLE [dbo].[Selection_Operator]  WITH CHECK ADD  CONSTRAINT [Selection_Operator_FK2] FOREIGN KEY([SELECTION_EXPRESSION_ID])
REFERENCES [dbo].[Boolean_Expressions] ([BOOLEAN_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Selection_Operator] CHECK CONSTRAINT [Selection_Operator_FK2]
GO
