USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HitachiRaidController]    Script Date: 6/29/2019 5:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HitachiRaidController](
	[RAID_CONTROLLER_ID] [bigint] NOT NULL,
	[DF_REGRESSION_STATUS] [int] NOT NULL,
 CONSTRAINT [HITACHI_RAID_CONTROLLER_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_CONTROLLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__848501995]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__848501995] ON [dbo].[HitachiRaidController]
(
	[RAID_CONTROLLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HitachiRaidController]  WITH CHECK ADD  CONSTRAINT [HITACHI_RAID_CONTROLLER_FK1] FOREIGN KEY([RAID_CONTROLLER_ID])
REFERENCES [dbo].[RaidController] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HitachiRaidController] CHECK CONSTRAINT [HITACHI_RAID_CONTROLLER_FK1]
GO
