USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FcFaSwitch]    Script Date: 6/29/2019 5:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FcFaSwitch](
	[SWITCH_ID] [bigint] NOT NULL,
	[CONN_UNIT_ID] [varchar](250) NOT NULL,
	[DOMAIN_ID] [varchar](250) NOT NULL,
	[IS_PRINCIPAL_SWITCH] [varchar](250) NOT NULL,
	[NO_OF_ZONES] [int] NOT NULL,
 CONSTRAINT [FCFASWITCH_PK] PRIMARY KEY CLUSTERED 
(
	[SWITCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_534683833]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_534683833] ON [dbo].[FcFaSwitch]
(
	[SWITCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FcFaSwitch]  WITH CHECK ADD  CONSTRAINT [FCFASWITCH_FK1] FOREIGN KEY([SWITCH_ID])
REFERENCES [dbo].[FcSwitch] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[FcFaSwitch] CHECK CONSTRAINT [FCFASWITCH_FK1]
GO
