USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StatusPropagateCriteria]    Script Date: 6/29/2019 5:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusPropagateCriteria](
	[PERSONALITYNAME] [varchar](30) NOT NULL,
	[SPCNAME] [varchar](200) NOT NULL,
	[SPCCLASSNAME] [varchar](250) NULL,
	[PROPAGATETOCONTAINER] [bit] NULL,
	[PROPAGATETOGROUP] [bit] NULL,
 CONSTRAINT [SPC_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [StatusPropagateCriteria_UK0] UNIQUE NONCLUSTERED 
(
	[SPCNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
