USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WAASDeviceList]    Script Date: 6/29/2019 5:53:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAASDeviceList](
	[ID] [int] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[DEVICE_INDEX] [bigint] NOT NULL,
	[DEVICE_IPADDRESS] [varchar](100) NOT NULL,
	[DEVICE_LOCATION] [varchar](100) NOT NULL,
	[DEVICE_MAC_ADDRESS] [varchar](100) NOT NULL,
	[DEVICE_MODEL] [varchar](100) NOT NULL,
	[DEVICE_NAME] [varchar](100) NOT NULL,
	[DEVICE_SOFTWARE_VERSION] [varchar](100) NOT NULL,
	[DEVICE_STATUS] [varchar](100) NOT NULL,
	[DEVICE_TYPE] [varchar](100) NOT NULL,
	[DEVICE_ROLE] [varchar](100) NOT NULL,
 CONSTRAINT [WAASDeviceList_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[DEVICE_ID] ASC,
	[DEVICE_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [WAASDeviceList_UK0] UNIQUE NONCLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [WAASDeviceList_UK1] UNIQUE NONCLUSTERED 
(
	[DEVICE_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [WAASDeviceList_UK2] UNIQUE NONCLUSTERED 
(
	[DEVICE_IPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [WAASDeviceList_UK3] UNIQUE NONCLUSTERED 
(
	[DEVICE_MAC_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [WAASDeviceList_UK4] UNIQUE NONCLUSTERED 
(
	[DEVICE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
