USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TrapParsers]    Script Date: 6/29/2019 5:52:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrapParsers](
	[PARSERID] [bigint] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[DESCRIPTION] [varchar](4000) NOT NULL,
	[TEXTDEFN] [varchar](4000) NOT NULL,
	[SOURCEDEFN] [varchar](250) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[TYPE] [int] NOT NULL,
	[SEVERITY] [int] NOT NULL,
	[ENTITY] [varchar](4000) NOT NULL,
	[MATCH_CRITERIA] [varchar](4000) NULL,
	[REARM_CRITERIA] [varchar](4000) NULL,
	[HELPDEFN] [varchar](4000) NULL,
	[NODEDEFN] [varchar](250) NULL,
	[CATEGORY] [varchar](100) NOT NULL,
 CONSTRAINT [TrapParsers_PK1] PRIMARY KEY CLUSTERED 
(
	[PARSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TrapParsers_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TrapParsers] ADD  DEFAULT ((1)) FOR [STATUS]
GO
