USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BillAlertMap]    Script Date: 6/29/2019 5:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillAlertMap](
	[PLAN_ID] [int] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[EMAIL_SENT] [bit] NOT NULL,
 CONSTRAINT [BillAlertMap_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1096822923]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1096822923] ON [dbo].[BillAlertMap]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1096822924]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1096822924] ON [dbo].[BillAlertMap]
(
	[PLAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillAlertMap] ADD  DEFAULT ((0)) FOR [EMAIL_SENT]
GO
ALTER TABLE [dbo].[BillAlertMap]  WITH CHECK ADD  CONSTRAINT [BillAlertMap_FK1] FOREIGN KEY([PLAN_ID])
REFERENCES [dbo].[BillPlan] ([PLAN_ID])
GO
ALTER TABLE [dbo].[BillAlertMap] CHECK CONSTRAINT [BillAlertMap_FK1]
GO
ALTER TABLE [dbo].[BillAlertMap]  WITH CHECK ADD  CONSTRAINT [BillAlertMap_FK2] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[BillAlertMap] CHECK CONSTRAINT [BillAlertMap_FK2]
GO
