USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCIsilonDisk]    Script Date: 6/29/2019 5:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCIsilonDisk](
	[DEVICE_ID] [bigint] NOT NULL,
	[NODE_ID] [bigint] NOT NULL,
	[DISK_ID] [bigint] NOT NULL,
	[DISK_MO_NAME] [varchar](250) NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[MOUNT_PATH] [varchar](250) NULL,
	[LOGICAL_NUMBER] [varchar](250) NOT NULL,
	[CHASSIS_NUMBER] [varchar](250) NOT NULL,
 CONSTRAINT [EMCIsilonDisk_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1448305265]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1448305265] ON [dbo].[EMCIsilonDisk]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCIsilonDisk]  WITH CHECK ADD  CONSTRAINT [EMCIsilonDisk_FK1] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[SANDiskDrive] ([DISK_ID])
GO
ALTER TABLE [dbo].[EMCIsilonDisk] CHECK CONSTRAINT [EMCIsilonDisk_FK1]
GO
