USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StreamLoad]    Script Date: 6/29/2019 5:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StreamLoad](
	[ID] [int] NOT NULL,
	[WID] [int] NOT NULL,
	[STREAM] [int] NOT NULL,
 CONSTRAINT [StreamLoad_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1670045453]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1670045453] ON [dbo].[StreamLoad]
(
	[STREAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1608695550]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1608695550] ON [dbo].[StreamLoad]
(
	[WID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StreamLoad]  WITH CHECK ADD  CONSTRAINT [StreamLoad_FK] FOREIGN KEY([WID])
REFERENCES [dbo].[WorkLoad] ([WID])
GO
ALTER TABLE [dbo].[StreamLoad] CHECK CONSTRAINT [StreamLoad_FK]
GO
ALTER TABLE [dbo].[StreamLoad]  WITH CHECK ADD  CONSTRAINT [StreamLoad_FK1] FOREIGN KEY([STREAM])
REFERENCES [dbo].[Stream] ([SID])
GO
ALTER TABLE [dbo].[StreamLoad] CHECK CONSTRAINT [StreamLoad_FK1]
GO
