USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMPollingFile]    Script Date: 6/29/2019 5:49:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMPollingFile](
	[INSTANCE_ID] [bigint] NOT NULL,
	[FILENAME] [varchar](120) NOT NULL,
 CONSTRAINT [NCMPollingFile_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1151856468]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1151856468] ON [dbo].[NCMPollingFile]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMPollingFile]  WITH CHECK ADD  CONSTRAINT [NCMPollingFile_FK1] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[Schedule] ([SCHEDULE_ID])
GO
ALTER TABLE [dbo].[NCMPollingFile] CHECK CONSTRAINT [NCMPollingFile_FK1]
GO
