USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CDPCacheTable]    Script Date: 6/29/2019 5:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CDPCacheTable](
	[CDPID] [bigint] NOT NULL,
	[MOID] [bigint] NOT NULL,
	[SAMPLINGCOUNT] [bigint] NOT NULL,
	[IFINDEX] [int] NOT NULL,
	[DEVICEIPADDRESS] [varchar](50) NOT NULL,
	[DEVICEPORTNAME] [varchar](255) NOT NULL,
 CONSTRAINT [CDPCacheTable_PK1] PRIMARY KEY CLUSTERED 
(
	[CDPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CDPCacheTable_UK0] UNIQUE NONCLUSTERED 
(
	[MOID] ASC,
	[DEVICEIPADDRESS] ASC,
	[DEVICEPORTNAME] ASC,
	[SAMPLINGCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1895542952]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1895542952] ON [dbo].[CDPCacheTable]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CDPCacheTable]  WITH CHECK ADD  CONSTRAINT [CDPCacheTable_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[CDPCacheTable] CHECK CONSTRAINT [CDPCacheTable_FK1]
GO
