USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningDKA]    Script Date: 6/29/2019 5:48:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningDKA](
	[DEVICE_ID] [bigint] NOT NULL,
	[DKA_SLNO] [int] NOT NULL,
	[DKA_CLUSTER_NO] [int] NOT NULL,
	[DKA_NO] [int] NOT NULL,
	[DKA_NAME] [varchar](250) NULL,
 CONSTRAINT [LightningDKA_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DKA_SLNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1384809725]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1384809725] ON [dbo].[LightningDKA]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningDKA]  WITH CHECK ADD  CONSTRAINT [LightningDKA_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningDKA] CHECK CONSTRAINT [LightningDKA_FK1]
GO
