USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PLUGINWIDGETTYPE]    Script Date: 6/29/2019 5:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLUGINWIDGETTYPE](
	[TYPEID] [bigint] NOT NULL,
	[FETCHERCLASS] [varchar](250) NOT NULL,
 CONSTRAINT [PLUGINWIDGETTYPE_PK] PRIMARY KEY CLUSTERED 
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
