USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDevices_PIDX]    Script Date: 6/29/2019 5:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDevices_PIDX](
	[RESOURCEID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](40) NOT NULL,
 CONSTRAINT [NCMDevices_PIDX_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC,
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_301371453]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_301371453] ON [dbo].[NCMDevices_PIDX]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDevices_PIDX]  WITH CHECK ADD  CONSTRAINT [NCMDevices_PIDX_FK] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMDevices] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMDevices_PIDX] CHECK CONSTRAINT [NCMDevices_PIDX_FK]
GO
