USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaUserStatus]    Script Date: 6/29/2019 5:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaUserStatus](
	[USER_ID] [bigint] NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[UPDATEDTIME] [bigint] NOT NULL,
 CONSTRAINT [AaaUserStatus_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_276870662]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_276870662] ON [dbo].[AaaUserStatus]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaUserStatus] ADD  DEFAULT ('ACTIVE') FOR [STATUS]
GO
ALTER TABLE [dbo].[AaaUserStatus]  WITH CHECK ADD  CONSTRAINT [AaaUserStatus_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[AaaUserStatus] CHECK CONSTRAINT [AaaUserStatus_FK]
GO
