USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PerformanceStatistics]    Script Date: 6/29/2019 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceStatistics](
	[TASKID] [int] NOT NULL,
	[INSTANCE] [varchar](250) NOT NULL,
	[TIMEVALUE] [varchar](255) NOT NULL,
	[VALUE] [float] NOT NULL,
 CONSTRAINT [PerformanceStatistics_PK] PRIMARY KEY CLUSTERED 
(
	[TASKID] ASC,
	[INSTANCE] ASC,
	[TIMEVALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
