USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaSimplePermission]    Script Date: 6/29/2019 5:45:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaSimplePermission](
	[PERMISSION_ID] [bigint] NOT NULL,
	[OPERATION_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [AaaSimplePermission_PK] PRIMARY KEY CLUSTERED 
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__406070590]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__406070590] ON [dbo].[AaaSimplePermission]
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaSimplePermission]  WITH CHECK ADD  CONSTRAINT [AaaSimplePermission_FK] FOREIGN KEY([PERMISSION_ID])
REFERENCES [dbo].[AaaPermission] ([PERMISSION_ID])
GO
ALTER TABLE [dbo].[AaaSimplePermission] CHECK CONSTRAINT [AaaSimplePermission_FK]
GO
