USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataCtgyField]    Script Date: 6/29/2019 5:46:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataCtgyField](
	[ID] [int] NOT NULL,
	[DCID] [int] NOT NULL,
	[FIELD] [int] NOT NULL,
 CONSTRAINT [DataCtgyField_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1418075479]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1418075479] ON [dbo].[DataCtgyField]
(
	[DCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataCtgyField]  WITH CHECK ADD  CONSTRAINT [DataCtgyField_FK] FOREIGN KEY([DCID])
REFERENCES [dbo].[DataCtgy] ([DCID])
GO
ALTER TABLE [dbo].[DataCtgyField] CHECK CONSTRAINT [DataCtgyField_FK]
GO
