USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnapshotParamsData]    Script Date: 6/29/2019 5:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnapshotParamsData](
	[ASSOCIATIONID] [bigint] NOT NULL,
	[PARAMETER] [varchar](250) NOT NULL,
	[KEY] [varchar](250) NOT NULL,
	[VALUE] [varchar](250) NOT NULL,
 CONSTRAINT [SnapshotParamsData_PK] PRIMARY KEY CLUSTERED 
(
	[ASSOCIATIONID] ASC,
	[PARAMETER] ASC,
	[KEY] ASC,
	[VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_929343649]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_929343649] ON [dbo].[SnapshotParamsData]
(
	[ASSOCIATIONID] ASC,
	[PARAMETER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnapshotParamsData]  WITH CHECK ADD  CONSTRAINT [SnapshotParamsData_FK1] FOREIGN KEY([ASSOCIATIONID], [PARAMETER])
REFERENCES [dbo].[SnapshotAdditionalParams] ([ASSOCIATIONID], [PARAMETER])
GO
ALTER TABLE [dbo].[SnapshotParamsData] CHECK CONSTRAINT [SnapshotParamsData_FK1]
GO
