USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMOperationStateHolder]    Script Date: 6/29/2019 5:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMOperationStateHolder](
	[RESOURCEID] [bigint] NOT NULL,
	[OPERATIONTYPE] [varchar](50) NOT NULL,
	[OPERATIONSTATUS] [varchar](15) NOT NULL,
	[INVOKEDBY] [varchar](100) NOT NULL,
	[OPERATIONNATURE] [varchar](15) NOT NULL,
	[LASTOPERATIONTIME] [bigint] NOT NULL,
	[OPERATIONSTARTTIME] [bigint] NOT NULL,
	[ENDTIME] [bigint] NOT NULL,
	[LASTBACKUPOPERATIONTIME] [bigint] NOT NULL,
 CONSTRAINT [NCMOperationStateHolder_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1558832987]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1558832987] ON [dbo].[NCMOperationStateHolder]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMOperationStateHolder] ADD  DEFAULT ('None') FOR [OPERATIONTYPE]
GO
ALTER TABLE [dbo].[NCMOperationStateHolder] ADD  DEFAULT ('NOTSTARTED') FOR [OPERATIONSTATUS]
GO
ALTER TABLE [dbo].[NCMOperationStateHolder] ADD  DEFAULT ('NONE') FOR [INVOKEDBY]
GO
ALTER TABLE [dbo].[NCMOperationStateHolder] ADD  DEFAULT ('NONE') FOR [OPERATIONNATURE]
GO
ALTER TABLE [dbo].[NCMOperationStateHolder] ADD  DEFAULT ('-1') FOR [LASTOPERATIONTIME]
GO
ALTER TABLE [dbo].[NCMOperationStateHolder] ADD  DEFAULT ('-1') FOR [OPERATIONSTARTTIME]
GO
ALTER TABLE [dbo].[NCMOperationStateHolder] ADD  DEFAULT ('-1') FOR [ENDTIME]
GO
ALTER TABLE [dbo].[NCMOperationStateHolder] ADD  DEFAULT ('-1') FOR [LASTBACKUPOPERATIONTIME]
GO
ALTER TABLE [dbo].[NCMOperationStateHolder]  WITH CHECK ADD  CONSTRAINT [NCMOperationStateHolder_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMOperationStateHolder] CHECK CONSTRAINT [NCMOperationStateHolder_FK1]
GO
