USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Str_Deriv_Int_Vars]    Script Date: 6/29/2019 5:52:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Str_Deriv_Int_Vars](
	[INTEGRAL_EXPRESSION_ID] [bigint] NOT NULL,
	[LEFT_EXPRESSION_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[RIGHT_EXPRESSION_ID] [bigint] NULL,
 CONSTRAINT [Str_Deri_Int_Vars_PK] PRIMARY KEY CLUSTERED 
(
	[INTEGRAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1577915576]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1577915576] ON [dbo].[Str_Deriv_Int_Vars]
(
	[LEFT_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1577915577]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1577915577] ON [dbo].[Str_Deriv_Int_Vars]
(
	[RIGHT_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_189447833]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_189447833] ON [dbo].[Str_Deriv_Int_Vars]
(
	[INTEGRAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Str_Deriv_Int_Vars]  WITH CHECK ADD  CONSTRAINT [Str_Deriv_Int_Vars_FK] FOREIGN KEY([INTEGRAL_EXPRESSION_ID])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Str_Deriv_Int_Vars] CHECK CONSTRAINT [Str_Deriv_Int_Vars_FK]
GO
ALTER TABLE [dbo].[Str_Deriv_Int_Vars]  WITH CHECK ADD  CONSTRAINT [Str_Deriv_Int_Vars_FK1] FOREIGN KEY([LEFT_EXPRESSION_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Str_Deriv_Int_Vars] CHECK CONSTRAINT [Str_Deriv_Int_Vars_FK1]
GO
ALTER TABLE [dbo].[Str_Deriv_Int_Vars]  WITH CHECK ADD  CONSTRAINT [Str_Deriv_Int_Vars_FK2] FOREIGN KEY([RIGHT_EXPRESSION_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Str_Deriv_Int_Vars] CHECK CONSTRAINT [Str_Deriv_Int_Vars_FK2]
GO
