USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCustomReportDefinition]    Script Date: 6/29/2019 5:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCustomReportDefinition](
	[REPORTID] [bigint] NOT NULL,
	[REPORTNAME] [varchar](255) NOT NULL,
	[DESCRIPTION] [varchar](800) NULL,
	[REPORTTYPE] [varchar](100) NOT NULL,
	[REPORTOPTION] [varchar](800) NOT NULL,
	[DEVICETYPE] [varchar](800) NULL,
	[SELECTEDDEVICES] [text] NULL,
	[SELECTEDDEVICEGROUP] [varchar](800) NULL,
	[SELECTEDREPORTCOLUMNS] [text] NULL,
 CONSTRAINT [NCMCustomReportDefinition_PK] PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
