USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SYSTEMUPDATE]    Script Date: 6/29/2019 5:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEMUPDATE](
	[SYSIPADDRESS] [varchar](17) NOT NULL,
	[DNS] [varchar](100) NOT NULL,
	[COMMUNITYSTRING] [varchar](100) NOT NULL,
	[SYSTEMNAME] [varchar](100) NULL,
	[SYSTEMLOCATION] [varchar](100) NULL,
	[SYSTEMCONTACT] [varchar](100) NULL,
	[SYSTEMSTATUS] [int] NOT NULL,
	[CHECKEDSTATUS] [int] NOT NULL,
	[CHECKED] [int] NOT NULL,
	[ADDEDTIME] [datetime] NOT NULL,
 CONSTRAINT [SYSTEMUPDATE_PK] PRIMARY KEY CLUSTERED 
(
	[SYSIPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SYSTEMUPDATE] ADD  DEFAULT ('1') FOR [SYSTEMSTATUS]
GO
ALTER TABLE [dbo].[SYSTEMUPDATE] ADD  DEFAULT ('0') FOR [CHECKEDSTATUS]
GO
ALTER TABLE [dbo].[SYSTEMUPDATE] ADD  DEFAULT ('0') FOR [CHECKED]
GO
