USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FailOverDetails]    Script Date: 6/29/2019 5:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FailOverDetails](
	[HOSTNAME] [varchar](100) NOT NULL,
	[PROTOCOL] [varchar](25) NULL,
	[PORTNUMBER] [int] NULL,
	[STATUS] [varchar](25) NULL,
	[SERVERMODE] [varchar](25) NOT NULL,
	[ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SERVERMODE] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [FailOverDetails0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [FailOverDetails0_ndx] ON [dbo].[FailOverDetails]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
