USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpInfo]    Script Date: 6/29/2019 5:51:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpInfo](
	[RID] [bigint] NOT NULL,
	[SNMP_COMMUNITY] [nvarchar](25) NULL,
	[SNMP_PORT] [bigint] NOT NULL,
	[VERSION] [int] NULL,
 CONSTRAINT [SnmpInfo_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1467437384]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1467437384] ON [dbo].[SnmpInfo]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnmpInfo] ADD  DEFAULT ('0') FOR [VERSION]
GO
ALTER TABLE [dbo].[SnmpInfo]  WITH CHECK ADD  CONSTRAINT [SnmpInfo_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[SnmpInfo] CHECK CONSTRAINT [SnmpInfo_FK]
GO
