USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PortLunMap]    Script Date: 6/29/2019 5:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortLunMap](
	[DEVICE_ID] [bigint] NOT NULL,
	[RAID_PORT_WWN] [varchar](250) NOT NULL,
	[LUN_NO] [int] NOT NULL,
 CONSTRAINT [PORTLUNMAP_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[LUN_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1167075909]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1167075909] ON [dbo].[PortLunMap]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PortLunMap]  WITH CHECK ADD  CONSTRAINT [PORTLUNMAP_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PortLunMap] CHECK CONSTRAINT [PORTLUNMAP_FK1]
GO
