USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCustomReports]    Script Date: 6/29/2019 5:49:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCustomReports](
	[CUSTOMREPORTID] [bigint] NOT NULL,
	[CUSTOMREPORTNAME] [varchar](255) NOT NULL,
	[DESCRIPTION] [varchar](800) NULL,
	[VIEWNAME_NO] [bigint] NOT NULL,
	[RESOURCEIDS] [bigint] NULL,
	[REPORT_OPTION] [varchar](800) NULL,
 CONSTRAINT [NCMCustomReports_PK] PRIMARY KEY CLUSTERED 
(
	[CUSTOMREPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2016542468]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2016542468] ON [dbo].[NCMCustomReports]
(
	[RESOURCEIDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCustomReports]  WITH CHECK ADD  CONSTRAINT [NCMCustomReports_FK2] FOREIGN KEY([RESOURCEIDS])
REFERENCES [dbo].[SelectQuery] ([QUERYID])
GO
ALTER TABLE [dbo].[NCMCustomReports] CHECK CONSTRAINT [NCMCustomReports_FK2]
GO
