USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FcSwitchPort]    Script Date: 6/29/2019 5:47:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FcSwitchPort](
	[SWITCH_ID] [bigint] NOT NULL,
	[PORT_ID] [bigint] NOT NULL,
 CONSTRAINT [FCSWITCHPORT_PK] PRIMARY KEY CLUSTERED 
(
	[SWITCH_ID] ASC,
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2062722944]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2062722944] ON [dbo].[FcSwitchPort]
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2062722945]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2062722945] ON [dbo].[FcSwitchPort]
(
	[SWITCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FcSwitchPort]  WITH CHECK ADD  CONSTRAINT [FCSWITCHPORT_FK1] FOREIGN KEY([SWITCH_ID])
REFERENCES [dbo].[FcSwitch] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[FcSwitchPort] CHECK CONSTRAINT [FCSWITCHPORT_FK1]
GO
ALTER TABLE [dbo].[FcSwitchPort]  WITH CHECK ADD  CONSTRAINT [FCSWITCHPORT_FK2] FOREIGN KEY([PORT_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[FcSwitchPort] CHECK CONSTRAINT [FCSWITCHPORT_FK2]
GO
