USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMS_OUT]    Script Date: 6/29/2019 5:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_OUT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RECIPIENT] [char](32) NULL,
	[TEXT] [char](255) NULL,
	[DISPATCH_DATE] [bigint] NULL,
	[STATUS_REPORT] [int] NULL,
	[FLASH_SMS] [int] NULL,
	[SRC_PORT] [int] NULL,
	[DST_PORT] [int] NULL,
	[VALIDITY_PERIOD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
