USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 6/29/2019 5:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[SERVICE_ID] [bigint] NOT NULL,
	[ORDER_ID] [int] NULL,
	[MODULE_ID] [bigint] NOT NULL,
	[SERVICE_NAME] [varchar](100) NOT NULL,
	[CLASSNAME] [varchar](250) NOT NULL,
 CONSTRAINT [Service_PK] PRIMARY KEY CLUSTERED 
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Service_UK0] UNIQUE NONCLUSTERED 
(
	[SERVICE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_268700335]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_268700335] ON [dbo].[Service]
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [Service_FK] FOREIGN KEY([MODULE_ID])
REFERENCES [dbo].[Module] ([MODULE_ID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [Service_FK]
GO
