USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiscoveryMapperOperation]    Script Date: 6/29/2019 5:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryMapperOperation](
	[MAPPERID] [bigint] NOT NULL,
	[RESOURCETYPE] [varchar](100) NOT NULL,
	[OPERATION] [varchar](30) NOT NULL,
	[PROTOCOL] [varchar](30) NOT NULL,
 CONSTRAINT [DiscMapOper_PK] PRIMARY KEY CLUSTERED 
(
	[MAPPERID] ASC,
	[RESOURCETYPE] ASC,
	[OPERATION] ASC,
	[PROTOCOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1117786333]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1117786333] ON [dbo].[DiscoveryMapperOperation]
(
	[MAPPERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1117786334]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1117786334] ON [dbo].[DiscoveryMapperOperation]
(
	[RESOURCETYPE] ASC,
	[OPERATION] ASC,
	[PROTOCOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoveryMapperOperation]  WITH CHECK ADD  CONSTRAINT [DiscMapOper_FK1] FOREIGN KEY([RESOURCETYPE], [OPERATION], [PROTOCOL])
REFERENCES [dbo].[ProtocolInformation] ([PERSONALITYNAME], [OPERATIONNAME], [PROTOCOL])
GO
ALTER TABLE [dbo].[DiscoveryMapperOperation] CHECK CONSTRAINT [DiscMapOper_FK1]
GO
ALTER TABLE [dbo].[DiscoveryMapperOperation]  WITH CHECK ADD  CONSTRAINT [DiscMapOper_FK2] FOREIGN KEY([MAPPERID])
REFERENCES [dbo].[DiscoveryMapperConfiguration] ([MAPPERID])
GO
ALTER TABLE [dbo].[DiscoveryMapperOperation] CHECK CONSTRAINT [DiscMapOper_FK2]
GO
