USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMDSExtentPool]    Script Date: 6/29/2019 5:48:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMDSExtentPool](
	[RAID_ID] [bigint] NOT NULL,
	[POOL_ID] [varchar](250) NOT NULL,
	[POOL_NAME] [varchar](250) NOT NULL,
	[TOTAL_SPACE] [bigint] NOT NULL,
	[REMAINING_SPACE] [bigint] NOT NULL,
	[OPERATIONAL_STATUS] [varchar](250) NOT NULL,
	[RANK_GROUP] [int] NOT NULL,
	[PRIMORDIAL] [bit] NOT NULL,
 CONSTRAINT [IBMDSExtentPool_PK1] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__597499018]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__597499018] ON [dbo].[IBMDSExtentPool]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMDSExtentPool]  WITH CHECK ADD  CONSTRAINT [IBMDSExtentPool_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMDSExtentPool] CHECK CONSTRAINT [IBMDSExtentPool_FK1]
GO
