USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HelpDeskTicketVsPost]    Script Date: 6/29/2019 5:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HelpDeskTicketVsPost](
	[ID] [bigint] NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[TICKET_ID] [bigint] NOT NULL,
	[STATUS] [varchar](255) NOT NULL,
	[SOURCE] [varchar](255) NOT NULL,
 CONSTRAINT [HelpDeskTicketVsPost_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [HelpDeskTicketVsPost_UK0] UNIQUE NONCLUSTERED 
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [HelpDeskTicketVsPost_UK1] UNIQUE NONCLUSTERED 
(
	[TICKET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
