USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ApiKey]    Script Date: 6/29/2019 5:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiKey](
	[APIKEYID] [bigint] NOT NULL,
	[APIKEY] [varchar](250) NOT NULL,
	[STATUS] [int] NOT NULL,
	[EXPIRESON] [bigint] NOT NULL,
	[CREATIONTIME] [bigint] NOT NULL,
 CONSTRAINT [ApiKey_PK1] PRIMARY KEY CLUSTERED 
(
	[APIKEYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApiKey] ADD  DEFAULT ('0') FOR [STATUS]
GO
