USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnapshotWidgetLevel]    Script Date: 6/29/2019 5:51:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnapshotWidgetLevel](
	[ASSOCIATIONID] [bigint] NOT NULL,
	[ROW] [int] NOT NULL,
	[COL] [int] NOT NULL,
	[SIZEX] [int] NOT NULL,
	[SIZEY] [int] NOT NULL,
 CONSTRAINT [SnapshotWidgetLevel_PK] PRIMARY KEY CLUSTERED 
(
	[ASSOCIATIONID] ASC,
	[ROW] ASC,
	[COL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1548518505]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1548518505] ON [dbo].[SnapshotWidgetLevel]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnapshotWidgetLevel]  WITH CHECK ADD  CONSTRAINT [SnapshotWidgetLevel_FK1] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[SnapshotAssociation] ([ASSOCIATIONID])
GO
ALTER TABLE [dbo].[SnapshotWidgetLevel] CHECK CONSTRAINT [SnapshotWidgetLevel_FK1]
GO
