USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMApprovalUsers]    Script Date: 6/29/2019 5:49:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMApprovalUsers](
	[OPERATOR_LOGIN_ID] [bigint] NOT NULL,
	[APPROVER_LOGIN_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMApprovalUsers_PK] PRIMARY KEY CLUSTERED 
(
	[OPERATOR_LOGIN_ID] ASC,
	[APPROVER_LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1819228165]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1819228165] ON [dbo].[NCMApprovalUsers]
(
	[APPROVER_LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1819228166]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1819228166] ON [dbo].[NCMApprovalUsers]
(
	[OPERATOR_LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMApprovalUsers]  WITH CHECK ADD  CONSTRAINT [NCMApprovalUsers_FK1] FOREIGN KEY([OPERATOR_LOGIN_ID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[NCMApprovalUsers] CHECK CONSTRAINT [NCMApprovalUsers_FK1]
GO
ALTER TABLE [dbo].[NCMApprovalUsers]  WITH CHECK ADD  CONSTRAINT [NCMApprovalUsers_FK2] FOREIGN KEY([APPROVER_LOGIN_ID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[NCMApprovalUsers] CHECK CONSTRAINT [NCMApprovalUsers_FK2]
GO
