USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PaloAltoPanoramaFirewall]    Script Date: 6/29/2019 5:50:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaloAltoPanoramaFirewall](
	[RESOURCEID] [bigint] NOT NULL,
	[APP_VER] [varchar](150) NOT NULL,
 CONSTRAINT [PaloAltoPanoramaFirewall_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_401764316]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_401764316] ON [dbo].[PaloAltoPanoramaFirewall]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PaloAltoPanoramaFirewall] ADD  DEFAULT ('Not Available') FOR [APP_VER]
GO
ALTER TABLE [dbo].[PaloAltoPanoramaFirewall]  WITH CHECK ADD  CONSTRAINT [PaloAltoPanoramaFirewall_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[PaloAltoPanoramaFirewall] CHECK CONSTRAINT [PaloAltoPanoramaFirewall_FK1]
GO
