USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VLANInput]    Script Date: 6/29/2019 5:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLANInput](
	[CONFIG_ID] [bigint] NOT NULL,
	[VLAN_ID] [int] NOT NULL,
 CONSTRAINT [VLANInput_PK] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC,
	[VLAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_486217693]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_486217693] ON [dbo].[VLANInput]
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VLANInput]  WITH CHECK ADD  CONSTRAINT [VLANInput_FK] FOREIGN KEY([CONFIG_ID])
REFERENCES [dbo].[SPMInputConfig] ([CONFIG_ID])
GO
ALTER TABLE [dbo].[VLANInput] CHECK CONSTRAINT [VLANInput_FK]
GO
