USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNXDiskGroup]    Script Date: 6/29/2019 5:52:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNXDiskGroup](
	[RAID_ID] [bigint] NOT NULL,
	[GROUP_ID] [varchar](150) NOT NULL,
	[RAID_TYPE] [varchar](150) NULL,
	[STORAGE_NAME] [varchar](1000) NULL,
	[LUNS] [varchar](1000) NULL,
	[DISKS] [varchar](1000) NULL,
	[RAW_CAPACITY] [float] NULL,
	[USED_CAPACITY] [float] NULL,
	[FREE_CAPACITY] [float] NULL,
 CONSTRAINT [VNXDiskGroup_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__219043838]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__219043838] ON [dbo].[VNXDiskGroup]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNXDiskGroup]  WITH CHECK ADD  CONSTRAINT [VNXDiskGroup_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXDiskGroup] CHECK CONSTRAINT [VNXDiskGroup_FK]
GO
