USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportDefaultCategory]    Script Date: 6/29/2019 5:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDefaultCategory](
	[REPORTID] [bigint] NOT NULL,
	[CATEGORYID] [bigint] NOT NULL,
 CONSTRAINT [ReportDefaultCategory_PK] PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2070567992]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2070567992] ON [dbo].[ReportDefaultCategory]
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2070567993]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2070567993] ON [dbo].[ReportDefaultCategory]
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportDefaultCategory]  WITH CHECK ADD  CONSTRAINT [ReportDefaultCategory_FK1] FOREIGN KEY([REPORTID])
REFERENCES [dbo].[ReportWidgetID] ([ID])
GO
ALTER TABLE [dbo].[ReportDefaultCategory] CHECK CONSTRAINT [ReportDefaultCategory_FK1]
GO
ALTER TABLE [dbo].[ReportDefaultCategory]  WITH CHECK ADD  CONSTRAINT [ReportDefaultCategory_FK2] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CategoryDefinition] ([CATEGORYID])
GO
ALTER TABLE [dbo].[ReportDefaultCategory] CHECK CONSTRAINT [ReportDefaultCategory_FK2]
GO
