USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMNipperBulkExecution]    Script Date: 6/29/2019 5:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMNipperBulkExecution](
	[EXECUTION_ID] [bigint] NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
	[LOGIN_NAME] [varchar](100) NOT NULL,
	[FOLDER_NAME] [varchar](1000) NOT NULL,
 CONSTRAINT [NCMNipperBulkExecution_PK] PRIMARY KEY CLUSTERED 
(
	[EXECUTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
