USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SVCIOGroup]    Script Date: 6/29/2019 5:52:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVCIOGroup](
	[DEVICE_ID] [bigint] NOT NULL,
	[IOGROUP_NAME] [varchar](250) NOT NULL,
	[NUMBER_OF_NODES] [varchar](250) NOT NULL,
	[NUMBER_OF_HOSTS] [varchar](250) NOT NULL,
	[NUMBER_OF_VOLUMES] [varchar](250) NOT NULL,
	[FC_FREE_MEMORY] [varchar](250) NOT NULL,
	[FC_TOTAL_MEMORY] [varchar](250) NOT NULL,
	[MIRROR_FREE_MEMORY] [varchar](250) NOT NULL,
	[MIRROR_TOTAL_MEMORY] [varchar](250) NOT NULL,
	[REMOTE_COPYFREE_MEMORY] [varchar](250) NOT NULL,
	[REMOTE_COPYTOTAL_MEMORY] [varchar](250) NOT NULL,
	[RAID_TOTAL_MEMORY] [varchar](250) NOT NULL,
	[RAID_FREE_MEMORY] [varchar](250) NOT NULL,
	[ASSOCIATED_NODES] [varchar](250) NOT NULL,
	[IOGROUP_ID] [varchar](250) NOT NULL,
	[COMPRESSION_SUPPORT] [varchar](250) NOT NULL,
 CONSTRAINT [SVCIOGroup_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[IOGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1432204678]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1432204678] ON [dbo].[SVCIOGroup]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SVCIOGroup]  WITH CHECK ADD  CONSTRAINT [SVCIOGroup_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SVCIOGroup] CHECK CONSTRAINT [SVCIOGroup_FK1]
GO
