USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpScan_Scheduler_Map]    Script Date: 6/29/2019 5:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpScan_Scheduler_Map](
	[ID] [int] NOT NULL,
	[TASK_ID] [bigint] NOT NULL,
	[SCHEDULERID] [bigint] NOT NULL,
 CONSTRAINT [SnmpScan_Scheduler_Map_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1009078143]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1009078143] ON [dbo].[SnmpScan_Scheduler_Map]
(
	[SCHEDULERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1491469744]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1491469744] ON [dbo].[SnmpScan_Scheduler_Map]
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnmpScan_Scheduler_Map]  WITH CHECK ADD  CONSTRAINT [SnmpScan_Scheduler_Map_Fk] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[SNMPScanStatus] ([TASK_ID])
GO
ALTER TABLE [dbo].[SnmpScan_Scheduler_Map] CHECK CONSTRAINT [SnmpScan_Scheduler_Map_Fk]
GO
ALTER TABLE [dbo].[SnmpScan_Scheduler_Map]  WITH CHECK ADD  CONSTRAINT [SnmpScan_Scheduler_Map_Fk1] FOREIGN KEY([SCHEDULERID])
REFERENCES [dbo].[Schedule] ([SCHEDULE_ID])
GO
ALTER TABLE [dbo].[SnmpScan_Scheduler_Map] CHECK CONSTRAINT [SnmpScan_Scheduler_Map_Fk1]
GO
