USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IntfMonitorValues]    Script Date: 6/29/2019 5:48:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntfMonitorValues](
	[ID] [bigint] NOT NULL,
	[POLLINTERVAL] [bigint] NOT NULL,
	[FAILURETHRESHOLD] [bigint] NOT NULL,
 CONSTRAINT [IntfMonitorValues_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1886076255]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1886076255] ON [dbo].[IntfMonitorValues]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IntfMonitorValues]  WITH CHECK ADD  CONSTRAINT [IntfMonitorValues_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[IntfMonitorValues] CHECK CONSTRAINT [IntfMonitorValues_FK]
GO
