USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[APPMANAGERUNASSOCIATEDMONITORS]    Script Date: 6/29/2019 5:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPMANAGERUNASSOCIATEDMONITORS](
	[RESOURCEID] [bigint] NOT NULL,
	[DISPLAYNAME] [varchar](400) NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
	[IMAGEPATH] [varchar](4000) NULL,
	[SHORTNAME] [varchar](150) NULL,
	[ACTIONSTATUS] [bigint] NOT NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
	[PROBEID] [bigint] NULL,
	[UNIQUEID] [bigint] NOT NULL,
 CONSTRAINT [APPMANAGERUNASSOCIATEDMONITORS_PK] PRIMARY KEY CLUSTERED 
(
	[UNIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPMANAGERUNASSOCIATEDMONITORS] ADD  DEFAULT ('0') FOR [PROBEID]
GO
