USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WAASDeviceGroupMap]    Script Date: 6/29/2019 5:53:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAASDeviceGroupMap](
	[ID] [int] NOT NULL,
	[GROUP_ID] [bigint] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
 CONSTRAINT [WAASDeviceGroupMap_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [WAASDeviceGroupMap_UK0] UNIQUE NONCLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
