USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PolicyDetails]    Script Date: 6/29/2019 5:50:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyDetails](
	[POLICYID] [bigint] NOT NULL,
	[POLICYNAME] [nvarchar](250) NOT NULL,
	[RID] [bigint] NOT NULL,
	[POLICYTYPE] [nvarchar](100) NULL,
	[NOTE] [nvarchar](1000) NULL,
	[NON_EXPLICIT_DENY_INTERFACE] [nvarchar](1000) NULL,
 CONSTRAINT [PolicyDetails_PK] PRIMARY KEY CLUSTERED 
(
	[POLICYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_602778324]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_602778324] ON [dbo].[PolicyDetails]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PolicyDetails]  WITH CHECK ADD  CONSTRAINT [PolicyDetails_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[PolicyDetails] CHECK CONSTRAINT [PolicyDetails_FK]
GO
