USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Format]    Script Date: 6/29/2019 5:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Format](
	[ID] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[TRANSLATELET_NAME] [varchar](500) NOT NULL,
	[STATUS] [int] NOT NULL,
	[DESP] [varchar](500) NULL,
 CONSTRAINT [Format_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Format_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Format] ADD  DEFAULT ('1') FOR [STATUS]
GO
