USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPERATORRULEKEYTYPEMAPPING]    Script Date: 6/29/2019 5:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATORRULEKEYTYPEMAPPING](
	[OPERATORID] [int] NOT NULL,
	[RULEKEYTYPEID] [int] NOT NULL,
 CONSTRAINT [OPERATORRULEKEYTYPEMAPPING_PK1] PRIMARY KEY CLUSTERED 
(
	[OPERATORID] ASC,
	[RULEKEYTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__742706429]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__742706429] ON [dbo].[OPERATORRULEKEYTYPEMAPPING]
(
	[RULEKEYTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__742706430]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__742706430] ON [dbo].[OPERATORRULEKEYTYPEMAPPING]
(
	[OPERATORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPERATORRULEKEYTYPEMAPPING]  WITH CHECK ADD  CONSTRAINT [OPERATORRULEKEYTYPEMAPPING_FK1] FOREIGN KEY([OPERATORID])
REFERENCES [dbo].[OPERATORS] ([OPERATORID])
GO
ALTER TABLE [dbo].[OPERATORRULEKEYTYPEMAPPING] CHECK CONSTRAINT [OPERATORRULEKEYTYPEMAPPING_FK1]
GO
ALTER TABLE [dbo].[OPERATORRULEKEYTYPEMAPPING]  WITH CHECK ADD  CONSTRAINT [OPERATORRULEKEYTYPEMAPPING_FK2] FOREIGN KEY([RULEKEYTYPEID])
REFERENCES [dbo].[RULEKEYTYPES] ([RULEKEYTYPEID])
GO
ALTER TABLE [dbo].[OPERATORRULEKEYTYPEMAPPING] CHECK CONSTRAINT [OPERATORRULEKEYTYPEMAPPING_FK2]
GO
