USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMPolicyDGMap]    Script Date: 6/29/2019 5:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMPolicyDGMap](
	[COMPPOLICY_ID] [bigint] NOT NULL,
	[DEVICE_GROUP_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMPolicyDGMap_PK1] PRIMARY KEY CLUSTERED 
(
	[COMPPOLICY_ID] ASC,
	[DEVICE_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1988879196]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1988879196] ON [dbo].[NCMPolicyDGMap]
(
	[COMPPOLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1988879197]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1988879197] ON [dbo].[NCMPolicyDGMap]
(
	[DEVICE_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMPolicyDGMap]  WITH CHECK ADD  CONSTRAINT [NCMPolicyDGMap_FK1] FOREIGN KEY([COMPPOLICY_ID])
REFERENCES [dbo].[NCMCompliancePolicy] ([COMPPOLICY_ID])
GO
ALTER TABLE [dbo].[NCMPolicyDGMap] CHECK CONSTRAINT [NCMPolicyDGMap_FK1]
GO
ALTER TABLE [dbo].[NCMPolicyDGMap]  WITH CHECK ADD  CONSTRAINT [NCMPolicyDGMap_FK2] FOREIGN KEY([DEVICE_GROUP_ID])
REFERENCES [dbo].[NCMDeviceGroup] ([DEVICE_GROUP_ID])
GO
ALTER TABLE [dbo].[NCMPolicyDGMap] CHECK CONSTRAINT [NCMPolicyDGMap_FK2]
GO
