USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 6/29/2019 5:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[MODULE_ID] [bigint] NOT NULL,
	[MODULEORDER] [int] NOT NULL,
	[MODULENAME] [varchar](100) NOT NULL,
	[VERSION_NO] [varchar](100) NULL,
	[ISPOPULATED] [bit] NULL,
 CONSTRAINT [Module_PK] PRIMARY KEY CLUSTERED 
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Module_UK0] UNIQUE NONCLUSTERED 
(
	[MODULENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Module_UK1] UNIQUE NONCLUSTERED 
(
	[MODULEORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
