USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SeqGenState]    Script Date: 6/29/2019 5:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeqGenState](
	[SEQNAME] [varchar](100) NOT NULL,
	[CURRENTBATCHEND] [bigint] NOT NULL,
 CONSTRAINT [SeqGenState_PK] PRIMARY KEY CLUSTERED 
(
	[SEQNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
