USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMShowCommands]    Script Date: 6/29/2019 5:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMShowCommands](
	[COMMAND_ID] [bigint] NOT NULL,
	[COMMAND_ALIAS] [varchar](100) NOT NULL,
	[SHOW_COMMAND] [varchar](250) NOT NULL,
 CONSTRAINT [NCMShowCommands_PK] PRIMARY KEY CLUSTERED 
(
	[COMMAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
