USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SANStoragePool]    Script Date: 6/29/2019 5:51:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANStoragePool](
	[DEVICE_ID] [bigint] NOT NULL,
	[POOL_MO_ID] [bigint] NOT NULL,
	[POOL_ID] [varchar](250) NOT NULL,
	[POOL_NAME] [varchar](250) NULL,
	[TOTAL_SPACE] [varchar](250) NULL,
	[REMAINING_SPACE] [varchar](250) NULL,
	[PRIMORDIAL] [varchar](250) NULL,
	[POOL_STATUS] [varchar](250) NULL,
 CONSTRAINT [SANStoragePool_PK] PRIMARY KEY CLUSTERED 
(
	[POOL_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1604623068]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1604623068] ON [dbo].[SANStoragePool]
(
	[POOL_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SANStoragePool]  WITH CHECK ADD  CONSTRAINT [SANStoragePool_FK1] FOREIGN KEY([POOL_MO_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SANStoragePool] CHECK CONSTRAINT [SANStoragePool_FK1]
GO
