USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PIITable]    Script Date: 6/29/2019 5:50:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PIITable](
	[TABLE_ID] [bigint] NOT NULL,
	[MODULE_ID] [bigint] NOT NULL,
 CONSTRAINT [PIITable_PK] PRIMARY KEY CLUSTERED 
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2036601716]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2036601716] ON [dbo].[PIITable]
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2036601717]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2036601717] ON [dbo].[PIITable]
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PIITable]  WITH CHECK ADD  CONSTRAINT [PIITable_FK1] FOREIGN KEY([TABLE_ID])
REFERENCES [dbo].[TableDetails] ([TABLE_ID])
GO
ALTER TABLE [dbo].[PIITable] CHECK CONSTRAINT [PIITable_FK1]
GO
ALTER TABLE [dbo].[PIITable]  WITH CHECK ADD  CONSTRAINT [PIITable_FK2] FOREIGN KEY([MODULE_ID])
REFERENCES [dbo].[PIIModule] ([MODULE_ID])
GO
ALTER TABLE [dbo].[PIITable] CHECK CONSTRAINT [PIITable_FK2]
GO
