USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DeviceCli]    Script Date: 6/29/2019 5:47:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceCli](
	[DEVICE_ID] [bigint] NOT NULL,
	[CLI_PORT] [int] NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[LOGIN_PROMPT] [varchar](250) NOT NULL,
	[PASSWD_PROMPT] [varchar](250) NOT NULL,
	[CLI_PROMPT] [varchar](250) NOT NULL,
 CONSTRAINT [DEVICECLI_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1194427703]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1194427703] ON [dbo].[DeviceCli]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceCli]  WITH CHECK ADD  CONSTRAINT [DEVICECLI_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[DeviceCli] CHECK CONSTRAINT [DEVICECLI_FK1]
GO
