USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CategoryPollInterval]    Script Date: 6/29/2019 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryPollInterval](
	[CATEGORYID] [bigint] NOT NULL,
	[POLLINTERVAL] [int] NOT NULL,
 CONSTRAINT [CategoryPollInterval_PK] PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_254863407]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_254863407] ON [dbo].[CategoryPollInterval]
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoryPollInterval]  WITH CHECK ADD  CONSTRAINT [CategoryPollInterval_FK1] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CategoryDefinition] ([CATEGORYID])
GO
ALTER TABLE [dbo].[CategoryPollInterval] CHECK CONSTRAINT [CategoryPollInterval_FK1]
GO
