USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RogueResources]    Script Date: 6/29/2019 5:51:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RogueResources](
	[RESOURCEID] [bigint] NOT NULL,
	[ADDEDTIME] [datetime] NULL,
	[MANAGEDTIME] [datetime] NULL,
	[ROGUETYPE] [int] NOT NULL,
	[COMMENTS] [varchar](250) NULL,
 CONSTRAINT [RogueResources_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1257022296]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1257022296] ON [dbo].[RogueResources]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RogueResources] ADD  DEFAULT ('1') FOR [ROGUETYPE]
GO
ALTER TABLE [dbo].[RogueResources]  WITH CHECK ADD  CONSTRAINT [RogueResources_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[OpUtilsResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[RogueResources] CHECK CONSTRAINT [RogueResources_FK1]
GO
