USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SWITCHARPCACHE]    Script Date: 6/29/2019 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SWITCHARPCACHE](
	[MAPID] [bigint] NOT NULL,
	[LEVEL] [int] NOT NULL,
	[DEVICEADDRESS] [varchar](50) NOT NULL,
	[IFINDEX] [int] NOT NULL,
	[IFNAME] [varchar](50) NOT NULL,
	[ENDPHYSADDRESS] [varchar](50) NOT NULL,
	[ENDNETADDRESS] [varchar](50) NOT NULL,
	[TYPE] [int] NOT NULL,
 CONSTRAINT [SWITCHARPCACHE_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC,
	[DEVICEADDRESS] ASC,
	[ENDNETADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1710735795]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1710735795] ON [dbo].[SWITCHARPCACHE]
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SWITCHARPCACHE]  WITH CHECK ADD  CONSTRAINT [SWITCHARPCACHE_FK] FOREIGN KEY([MAPID])
REFERENCES [dbo].[LAYER2CONFIGURATION] ([MAPID])
GO
ALTER TABLE [dbo].[SWITCHARPCACHE] CHECK CONSTRAINT [SWITCHARPCACHE_FK]
GO
