USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NFToSmsSettings]    Script Date: 6/29/2019 5:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFToSmsSettings](
	[NF_ID] [bigint] NOT NULL,
	[SMSSETTINGSID] [bigint] NOT NULL,
 CONSTRAINT [NFToSmsSettings_PK] PRIMARY KEY CLUSTERED 
(
	[NF_ID] ASC,
	[SMSSETTINGSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1273063190]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1273063190] ON [dbo].[NFToSmsSettings]
(
	[NF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1273063191]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1273063191] ON [dbo].[NFToSmsSettings]
(
	[SMSSETTINGSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NFToSmsSettings]  WITH CHECK ADD  CONSTRAINT [NFToSmsSettings_FK1] FOREIGN KEY([NF_ID])
REFERENCES [dbo].[NotificationFilters] ([NF_ID])
GO
ALTER TABLE [dbo].[NFToSmsSettings] CHECK CONSTRAINT [NFToSmsSettings_FK1]
GO
ALTER TABLE [dbo].[NFToSmsSettings]  WITH CHECK ADD  CONSTRAINT [NFToSmsSettings_FK2] FOREIGN KEY([SMSSETTINGSID])
REFERENCES [dbo].[FASmsSettings] ([SMSSETTINGSID])
GO
ALTER TABLE [dbo].[NFToSmsSettings] CHECK CONSTRAINT [NFToSmsSettings_FK2]
GO
