USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMClientOperationStatus]    Script Date: 6/29/2019 5:49:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMClientOperationStatus](
	[OPERATIONTYPE] [varchar](50) NOT NULL,
	[OPERATIONSTATUS] [varchar](15) NOT NULL,
	[IMAGEICON] [varchar](200) NOT NULL,
	[DISPLAYNAME] [varchar](50) NULL,
	[VIEWNAME] [varchar](50) NULL,
 CONSTRAINT [NCMClientOperationStatus_PK] PRIMARY KEY CLUSTERED 
(
	[OPERATIONTYPE] ASC,
	[OPERATIONSTATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
