USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDevices]    Script Date: 6/29/2019 5:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDevices](
	[RESOURCEID] [bigint] NOT NULL,
	[RESOURCENAME] [varchar](100) NOT NULL,
	[DISPLAYTYPE] [varchar](250) NOT NULL,
	[SIMULATED] [bit] NOT NULL,
	[CREATIONTIME] [bigint] NOT NULL,
 CONSTRAINT [NCMDevices_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDevices] ADD  DEFAULT ((0)) FOR [SIMULATED]
GO
