USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ResourceContainer]    Script Date: 6/29/2019 5:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceContainer](
	[RESOURCEID] [bigint] NOT NULL,
	[CONTAINERNAME] [varchar](100) NOT NULL,
 CONSTRAINT [ResourceContainer_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC,
	[CONTAINERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__596269632]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__596269632] ON [dbo].[ResourceContainer]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResourceContainer] ADD  DEFAULT ('ComponentContainment') FOR [CONTAINERNAME]
GO
ALTER TABLE [dbo].[ResourceContainer]  WITH CHECK ADD  CONSTRAINT [ResourceContainer_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMDevices] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ResourceContainer] CHECK CONSTRAINT [ResourceContainer_FK1]
GO
