USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourcesImageHistory]    Script Date: 6/29/2019 5:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourcesImageHistory](
	[HISTORYID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[IMAGEID] [bigint] NOT NULL,
	[VERSIONNUMBER] [int] NOT NULL,
	[OWNER] [varchar](50) NOT NULL,
	[TIMESTAMP] [datetime] NOT NULL,
	[ANNOTATION] [varchar](250) NOT NULL,
 CONSTRAINT [NCMResourcesImageHistory_PK] PRIMARY KEY CLUSTERED 
(
	[HISTORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMResourcesImageHistory_UK1] UNIQUE NONCLUSTERED 
(
	[RESOURCEID] ASC,
	[IMAGEID] ASC,
	[VERSIONNUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_933165939]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_933165939] ON [dbo].[NCMResourcesImageHistory]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_933165940]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_933165940] ON [dbo].[NCMResourcesImageHistory]
(
	[IMAGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourcesImageHistory] ADD  DEFAULT ('No Description') FOR [ANNOTATION]
GO
ALTER TABLE [dbo].[NCMResourcesImageHistory]  WITH CHECK ADD  CONSTRAINT [NCMResourcesImageHistory_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResourcesInfo] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMResourcesImageHistory] CHECK CONSTRAINT [NCMResourcesImageHistory_FK1]
GO
ALTER TABLE [dbo].[NCMResourcesImageHistory]  WITH CHECK ADD  CONSTRAINT [NCMResourcesImageHistory_FK2] FOREIGN KEY([IMAGEID])
REFERENCES [dbo].[NCMSoftwareImage] ([IMAGEID])
GO
ALTER TABLE [dbo].[NCMResourcesImageHistory] CHECK CONSTRAINT [NCMResourcesImageHistory_FK2]
GO
