USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NotificationLog]    Script Date: 6/29/2019 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationLog](
	[NOTIINDEX] [int] NOT NULL,
	[LOGTIME] [bigint] NULL,
	[NOVARBINDS] [int] NULL,
	[NOTIOID] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[NOTIINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [NotificationLog0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [NotificationLog0_ndx] ON [dbo].[NotificationLog]
(
	[NOTIINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
