USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Expressions_PIDX]    Script Date: 6/29/2019 5:47:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expressions_PIDX](
	[EXPRESSION_ID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](40) NOT NULL,
 CONSTRAINT [Expressions_PIDX_PK] PRIMARY KEY CLUSTERED 
(
	[EXPRESSION_ID] ASC,
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1039211123]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1039211123] ON [dbo].[Expressions_PIDX]
(
	[EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Expressions_PIDX]  WITH CHECK ADD  CONSTRAINT [Expressions_PIDX_FK] FOREIGN KEY([EXPRESSION_ID])
REFERENCES [dbo].[Expressions] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Expressions_PIDX] CHECK CONSTRAINT [Expressions_PIDX_FK]
GO
