USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCIsilonNetworkInterfaces]    Script Date: 6/29/2019 5:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCIsilonNetworkInterfaces](
	[DEVICE_ID] [bigint] NOT NULL,
	[NODE_NUMBER] [varchar](100) NOT NULL,
	[INTERFACE_NAME] [varchar](100) NOT NULL,
	[STATUS] [varchar](100) NOT NULL,
	[MEMBERSHIP] [varchar](250) NOT NULL,
	[ADDRESS] [varchar](250) NOT NULL,
 CONSTRAINT [EMCIsilonNetworkInterfaces_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[NODE_NUMBER] ASC,
	[INTERFACE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1783541298]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1783541298] ON [dbo].[EMCIsilonNetworkInterfaces]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCIsilonNetworkInterfaces]  WITH CHECK ADD  CONSTRAINT [EMCIsilonNetworkInterfaces_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCIsilonNetworkInterfaces] CHECK CONSTRAINT [EMCIsilonNetworkInterfaces_FK1]
GO
