USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InfraWidgetDetails]    Script Date: 6/29/2019 5:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfraWidgetDetails](
	[ASSOCIATIONID] [bigint] NOT NULL,
	[CATEGORYID] [bigint] NOT NULL,
	[LEVEL] [int] NOT NULL,
 CONSTRAINT [InfraWidgetDetails_PK] PRIMARY KEY CLUSTERED 
(
	[ASSOCIATIONID] ASC,
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1971990564]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1971990564] ON [dbo].[InfraWidgetDetails]
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1971990565]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1971990565] ON [dbo].[InfraWidgetDetails]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InfraWidgetDetails]  WITH CHECK ADD  CONSTRAINT [InfraWidgetDetails_FK1] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[WidgetAssociation] ([ASSOCIATIONID])
GO
ALTER TABLE [dbo].[InfraWidgetDetails] CHECK CONSTRAINT [InfraWidgetDetails_FK1]
GO
ALTER TABLE [dbo].[InfraWidgetDetails]  WITH CHECK ADD  CONSTRAINT [InfraWidgetDetails_FK2] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CategoryDefinition] ([CATEGORYID])
GO
ALTER TABLE [dbo].[InfraWidgetDetails] CHECK CONSTRAINT [InfraWidgetDetails_FK2]
GO
