USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PIITableVsColumn]    Script Date: 6/29/2019 5:50:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PIITableVsColumn](
	[ID] [bigint] NOT NULL,
	[PII_ID] [bigint] NOT NULL,
	[TABLE_ID] [bigint] NOT NULL,
	[COLUMN_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PIITableVsColumn_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PIITableVsColumn_UK0] UNIQUE NONCLUSTERED 
(
	[PII_ID] ASC,
	[TABLE_ID] ASC,
	[COLUMN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1086766494]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1086766494] ON [dbo].[PIITableVsColumn]
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1086766495]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1086766495] ON [dbo].[PIITableVsColumn]
(
	[PII_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PIITableVsColumn]  WITH CHECK ADD  CONSTRAINT [PIITableVsColumn_FK1] FOREIGN KEY([TABLE_ID])
REFERENCES [dbo].[PIITable] ([TABLE_ID])
GO
ALTER TABLE [dbo].[PIITableVsColumn] CHECK CONSTRAINT [PIITableVsColumn_FK1]
GO
ALTER TABLE [dbo].[PIITableVsColumn]  WITH CHECK ADD  CONSTRAINT [PIITableVsColumn_FK2] FOREIGN KEY([PII_ID])
REFERENCES [dbo].[PIIDetails] ([PII_ID])
GO
ALTER TABLE [dbo].[PIITableVsColumn] CHECK CONSTRAINT [PIITableVsColumn_FK2]
GO
