USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SetCommonIndexOIDParam]    Script Date: 6/29/2019 5:51:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SetCommonIndexOIDParam](
	[RecordID] [varchar](250) NOT NULL,
	[IndexName] [varchar](100) NOT NULL,
	[IndexValue] [varchar](100) NOT NULL,
 CONSTRAINT [SETCOMINDEXOIDPARAM_KEY] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC,
	[IndexName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1697114384]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1697114384] ON [dbo].[SetCommonIndexOIDParam]
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SetCommonIndexOIDParam]  WITH CHECK ADD  CONSTRAINT [COMSNMPSETRECORD_FK] FOREIGN KEY([RecordID])
REFERENCES [dbo].[SnmpSetRecord] ([RecordID])
GO
ALTER TABLE [dbo].[SetCommonIndexOIDParam] CHECK CONSTRAINT [COMSNMPSETRECORD_FK]
GO
