USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PingSettings]    Script Date: 6/29/2019 5:50:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PingSettings](
	[PROPNAME] [varchar](50) NOT NULL,
	[PROPVAL] [varchar](50) NULL,
 CONSTRAINT [PingSettings_PK] PRIMARY KEY CLUSTERED 
(
	[PROPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
