USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DefaultMibs]    Script Date: 6/29/2019 5:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefaultMibs](
	[MIBID] [bigint] NOT NULL,
	[MIBNAME] [varchar](150) NOT NULL,
	[DEFAULTMIB_ID] [int] NOT NULL,
 CONSTRAINT [DefaultMibs_PK] PRIMARY KEY CLUSTERED 
(
	[MIBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DefaultMibs] ADD  DEFAULT ('1') FOR [DEFAULTMIB_ID]
GO
