USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Start_End_Count]    Script Date: 6/29/2019 5:51:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Start_End_Count](
	[INTEGRAL_EXPR_ID] [bigint] NOT NULL,
	[BOOLEAN_REG_EXPR_ID] [bigint] NOT NULL,
	[OPERATION] [int] NOT NULL,
	[START_END_INDEX] [int] NOT NULL,
 CONSTRAINT [Start_End_Count_PK] PRIMARY KEY CLUSTERED 
(
	[INTEGRAL_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_206013942]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_206013942] ON [dbo].[Start_End_Count]
(
	[INTEGRAL_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2091464955]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2091464955] ON [dbo].[Start_End_Count]
(
	[BOOLEAN_REG_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Start_End_Count] ADD  DEFAULT ('0') FOR [START_END_INDEX]
GO
ALTER TABLE [dbo].[Start_End_Count]  WITH CHECK ADD  CONSTRAINT [Start_End_Count_FK] FOREIGN KEY([INTEGRAL_EXPR_ID])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Start_End_Count] CHECK CONSTRAINT [Start_End_Count_FK]
GO
ALTER TABLE [dbo].[Start_End_Count]  WITH CHECK ADD  CONSTRAINT [Start_End_Count_FK1] FOREIGN KEY([BOOLEAN_REG_EXPR_ID])
REFERENCES [dbo].[Boolean_Reg_Expr] ([BOOLEAN_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Start_End_Count] CHECK CONSTRAINT [Start_End_Count_FK1]
GO
