USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STANDARDDETAILS]    Script Date: 6/29/2019 5:51:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STANDARDDETAILS](
	[STANDARDID] [bigint] NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
 CONSTRAINT [STANDARDDETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[STANDARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STANDARDDETAILS_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
