USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PortScanServiceList]    Script Date: 6/29/2019 5:50:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortScanServiceList](
	[PORT_NO] [int] NOT NULL,
	[NAME] [varchar](100) NULL,
 CONSTRAINT [PortScannerServiceList_PK] PRIMARY KEY CLUSTERED 
(
	[PORT_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
