USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSPowerStats]    Script Date: 6/29/2019 5:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSPowerStats](
	[UCS_ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[CONSUMEDPOWER] [real] NOT NULL,
	[CONSUMEDPOWERAVG] [real] NOT NULL,
	[CONSUMEDPOWERMAX] [real] NOT NULL,
	[CONSUMEDPOWERMIN] [real] NOT NULL,
	[INPUTCURRENT] [real] NOT NULL,
	[INPUTCURRENTAVG] [real] NOT NULL,
	[INPUTCURRENTMAX] [real] NOT NULL,
	[INPUTCURRENTMIN] [real] NOT NULL,
	[INPUTVOLTAGE] [real] NOT NULL,
	[INPUTVOLTAGEAVG] [real] NOT NULL,
	[INPUTVOLTAGEMAX] [real] NOT NULL,
	[INPUTVOLTAGEMIN] [real] NOT NULL,
 CONSTRAINT [UCSPowerStats_Pk] PRIMARY KEY CLUSTERED 
(
	[UCS_ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
