USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEHOSTWWN]    Script Date: 6/29/2019 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEHOSTWWN](
	[ID] [bigint] NOT NULL,
	[HOST_ID] [bigint] NOT NULL,
	[HOST_WWN] [varchar](250) NOT NULL,
 CONSTRAINT [STORAGEHOSTWWN_PK] PRIMARY KEY CLUSTERED 
(
	[HOST_ID] ASC,
	[HOST_WWN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEHOSTWWN_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_672614872]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_672614872] ON [dbo].[STORAGEHOSTWWN]
(
	[HOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEHOSTWWN]  WITH CHECK ADD  CONSTRAINT [STORAGEHOSTWWN_FK1] FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[STORAGEHOSTNAME] ([ID])
GO
ALTER TABLE [dbo].[STORAGEHOSTWWN] CHECK CONSTRAINT [STORAGEHOSTWWN_FK1]
GO
