USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMAttributesRegex]    Script Date: 6/29/2019 5:49:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMAttributesRegex](
	[COMMAND_ID] [bigint] NOT NULL,
	[ATTRIBUTE_REGEX] [varchar](250) NOT NULL,
 CONSTRAINT [NCMAttributesRegex_PK] PRIMARY KEY CLUSTERED 
(
	[COMMAND_ID] ASC,
	[ATTRIBUTE_REGEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__969960052]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__969960052] ON [dbo].[NCMAttributesRegex]
(
	[COMMAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMAttributesRegex]  WITH CHECK ADD  CONSTRAINT [NCMAttributesRegex_FK] FOREIGN KEY([COMMAND_ID])
REFERENCES [dbo].[NCMCommandRegex] ([COMMAND_ID])
GO
ALTER TABLE [dbo].[NCMAttributesRegex] CHECK CONSTRAINT [NCMAttributesRegex_FK]
GO
