USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RunBookTaskAssociation]    Script Date: 6/29/2019 5:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunBookTaskAssociation](
	[ASSOCID] [bigint] NOT NULL,
	[RBID] [bigint] NOT NULL,
	[TASKID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
 CONSTRAINT [RunBookTaskAssociation_PK1] PRIMARY KEY CLUSTERED 
(
	[ASSOCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1067412874]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1067412874] ON [dbo].[RunBookTaskAssociation]
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1067412875]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1067412875] ON [dbo].[RunBookTaskAssociation]
(
	[RBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RunBookTaskAssociation]  WITH CHECK ADD  CONSTRAINT [RunBookTaskAssociation_FK1] FOREIGN KEY([RBID])
REFERENCES [dbo].[RunBook] ([RBID])
GO
ALTER TABLE [dbo].[RunBookTaskAssociation] CHECK CONSTRAINT [RunBookTaskAssociation_FK1]
GO
ALTER TABLE [dbo].[RunBookTaskAssociation]  WITH CHECK ADD  CONSTRAINT [RunBookTaskAssociation_FK2] FOREIGN KEY([TASKID])
REFERENCES [dbo].[RunBookTaskDefinition] ([TASKID])
GO
ALTER TABLE [dbo].[RunBookTaskAssociation] CHECK CONSTRAINT [RunBookTaskAssociation_FK2]
GO
