USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MailServer]    Script Date: 6/29/2019 5:48:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailServer](
	[SETTINGSID] [int] NOT NULL,
	[MAILSERVERNAME] [varchar](100) NOT NULL,
	[MAILSERVERPORT] [int] NOT NULL,
	[AUTHENTICATE] [varchar](10) NULL,
	[AUTHUSERNAME] [varchar](50) NULL,
	[AUTHPASSWORD] [varbinary](max) NULL,
	[TOEMAILID] [varchar](255) NULL,
	[MAILSERVERSTATUS] [int] NOT NULL,
	[FROMEMAILID] [varchar](255) NULL,
	[SSLENABLED] [varchar](10) NULL,
	[TIMEOUT] [int] NULL,
	[TLSENABLED] [varchar](10) NULL,
 CONSTRAINT [MailServer_PK] PRIMARY KEY CLUSTERED 
(
	[SETTINGSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MailServer] ADD  DEFAULT ('10') FOR [TIMEOUT]
GO
