USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HitachiGR2000Router]    Script Date: 6/29/2019 5:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HitachiGR2000Router](
	[RESOURCEID] [bigint] NOT NULL,
	[CPU] [varchar](30) NOT NULL,
	[MEMORYSIZE] [varchar](50) NOT NULL,
 CONSTRAINT [HitachiGR2000Router_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_910978485]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_910978485] ON [dbo].[HitachiGR2000Router]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HitachiGR2000Router] ADD  DEFAULT ('Not Available') FOR [CPU]
GO
ALTER TABLE [dbo].[HitachiGR2000Router] ADD  DEFAULT ('Not Available') FOR [MEMORYSIZE]
GO
ALTER TABLE [dbo].[HitachiGR2000Router]  WITH CHECK ADD  CONSTRAINT [HitachiGR2000Router_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[HitachiGR2000Router] CHECK CONSTRAINT [HitachiGR2000Router_FK1]
GO
