USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SPMCollectorConfig]    Script Date: 6/29/2019 5:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPMCollectorConfig](
	[SYSOID] [varchar](50) NOT NULL,
	[COLLECTOR_CLASS] [varchar](250) NOT NULL,
 CONSTRAINT [SPMCollectorConfig_PK] PRIMARY KEY CLUSTERED 
(
	[SYSOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
