USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SWMigrationObjects]    Script Date: 6/29/2019 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SWMigrationObjects](
	[MONAME] [varchar](250) NOT NULL,
	[MOID] [bigint] NOT NULL,
	[OBJTYPE] [int] NOT NULL,
	[OBJID] [int] NOT NULL,
 CONSTRAINT [SWMigrationObjects_PK] PRIMARY KEY CLUSTERED 
(
	[MONAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [SWMigrationObjects_UK0] UNIQUE NONCLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1880883514]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1880883514] ON [dbo].[SWMigrationObjects]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SWMigrationObjects]  WITH CHECK ADD  CONSTRAINT [SWMigrationObjects_FK] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[SWMigrationObjects] CHECK CONSTRAINT [SWMigrationObjects_FK]
GO
