USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OpmDataSource]    Script Date: 6/29/2019 5:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpmDataSource](
	[DATASOURCEID] [bigint] NOT NULL,
	[TYPEID] [int] NOT NULL,
	[CLASSNAME] [varchar](200) NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
 CONSTRAINT [OpmDataSource_PK1] PRIMARY KEY CLUSTERED 
(
	[DATASOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [OpmDataSource_UK0] UNIQUE NONCLUSTERED 
(
	[TYPEID] ASC,
	[CLASSNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1358266078]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1358266078] ON [dbo].[OpmDataSource]
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OpmDataSource]  WITH CHECK ADD  CONSTRAINT [OpmDataSource_FK1] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[DataSourceType] ([TYPEID])
GO
ALTER TABLE [dbo].[OpmDataSource] CHECK CONSTRAINT [OpmDataSource_FK1]
GO
