USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[System_Properties]    Script Date: 6/29/2019 5:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System_Properties](
	[PROP_ID] [int] NOT NULL,
	[CATEGORY] [varchar](255) NOT NULL,
	[PARAMETER] [varchar](255) NOT NULL,
	[PARAMVALUE] [varchar](255) NOT NULL,
 CONSTRAINT [System_Properties_PK] PRIMARY KEY CLUSTERED 
(
	[PROP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
