USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TaskDetails]    Script Date: 6/29/2019 5:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskDetails](
	[TASKNAME] [nvarchar](50) NOT NULL,
	[REPORT_CRITERIA] [nvarchar](50) NULL,
	[REPORT_START_TIME] [nvarchar](40) NULL,
	[REPORT_END_TIME] [nvarchar](40) NULL,
	[NON_WORK_HOUR] [nvarchar](40) NULL,
	[TYPE] [nvarchar](50) NOT NULL,
	[DETAILS] [nvarchar](250) NOT NULL,
	[REPORTID] [bigint] NULL,
 CONSTRAINT [Task_PK] PRIMARY KEY CLUSTERED 
(
	[TASKNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1466709419]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1466709419] ON [dbo].[TaskDetails]
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TaskDetails]  WITH CHECK ADD  CONSTRAINT [TaskDetails_FK2] FOREIGN KEY([REPORTID])
REFERENCES [dbo].[ReportConfig] ([REPORTID])
GO
ALTER TABLE [dbo].[TaskDetails] CHECK CONSTRAINT [TaskDetails_FK2]
GO
