USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VMDatastoreStatsHourly]    Script Date: 6/29/2019 5:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMDatastoreStatsHourly](
	[VDATASTORE_ID] [bigint] NOT NULL,
	[VM_ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[READ_KBPS] [float] NULL,
	[WRITE_KBPS] [float] NULL,
	[NUM_READ] [bigint] NULL,
	[NUM_WRITE] [bigint] NULL,
	[READ_LATENCY] [float] NULL,
	[WRITE_LATENCY] [float] NULL,
 CONSTRAINT [VMDatastoreStatsHourly_PK] PRIMARY KEY CLUSTERED 
(
	[VDATASTORE_ID] ASC,
	[VM_ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
