USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WebAlarmProfileUserDetails]    Script Date: 6/29/2019 5:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebAlarmProfileUserDetails](
	[PROFILEID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
 CONSTRAINT [WebAlarmProfileUserDetails_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC,
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1563238072]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1563238072] ON [dbo].[WebAlarmProfileUserDetails]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WebAlarmProfileUserDetails]  WITH CHECK ADD  CONSTRAINT [WebAlarmProfileUserDetails_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[WebAlarmProfileUserDetails] CHECK CONSTRAINT [WebAlarmProfileUserDetails_FK1]
GO
