USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Class_Expr_Opr_Expr]    Script Date: 6/29/2019 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Expr_Opr_Expr](
	[CLASS_EXPR_ID] [bigint] NOT NULL,
	[LEFT_PATTERN_EXPR_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[RIGHT_PATTERN_EXPR_ID] [bigint] NOT NULL,
 CONSTRAINT [Class_Expr_Opr_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_426617747]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_426617747] ON [dbo].[Class_Expr_Opr_Expr]
(
	[RIGHT_PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_426617748]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_426617748] ON [dbo].[Class_Expr_Opr_Expr]
(
	[LEFT_PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_845045854]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_845045854] ON [dbo].[Class_Expr_Opr_Expr]
(
	[CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Class_Expr_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [Class_Expr_Opr_Expr_FK] FOREIGN KEY([CLASS_EXPR_ID])
REFERENCES [dbo].[Parent_Class_Expr] ([PARENT_EXPR_ID])
GO
ALTER TABLE [dbo].[Class_Expr_Opr_Expr] CHECK CONSTRAINT [Class_Expr_Opr_Expr_FK]
GO
ALTER TABLE [dbo].[Class_Expr_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [Class_Expr_Opr_Expr_FK1] FOREIGN KEY([RIGHT_PATTERN_EXPR_ID])
REFERENCES [dbo].[Parent_Class_Expr] ([PARENT_EXPR_ID])
GO
ALTER TABLE [dbo].[Class_Expr_Opr_Expr] CHECK CONSTRAINT [Class_Expr_Opr_Expr_FK1]
GO
ALTER TABLE [dbo].[Class_Expr_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [Class_Expr_Opr_Expr_FK2] FOREIGN KEY([LEFT_PATTERN_EXPR_ID])
REFERENCES [dbo].[Parent_Class_Expr] ([PARENT_EXPR_ID])
GO
ALTER TABLE [dbo].[Class_Expr_Opr_Expr] CHECK CONSTRAINT [Class_Expr_Opr_Expr_FK2]
GO
