USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[APPMANAGERALARMS]    Script Date: 6/29/2019 5:46:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPMANAGERALARMS](
	[ID] [bigint] NOT NULL,
	[SEVERITY] [bigint] NOT NULL,
	[MMESSAGE] [varchar](4000) NULL,
	[DISPLAYNAME] [varchar](250) NULL,
	[TYPE] [varchar](250) NULL,
	[TECHNICIAN] [varchar](100) NULL,
	[MODTIME] [varchar](250) NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
	[PROBEID] [bigint] NULL,
	[UNIQUEID] [bigint] NOT NULL,
 CONSTRAINT [APPMANAGERALARMS_PK] PRIMARY KEY CLUSTERED 
(
	[UNIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPMANAGERALARMS] ADD  DEFAULT ('3') FOR [SEVERITY]
GO
ALTER TABLE [dbo].[APPMANAGERALARMS] ADD  DEFAULT ('0') FOR [PROBEID]
GO
