USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ServerDetails]    Script Date: 6/29/2019 5:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServerDetails](
	[SERVERID] [bigint] NOT NULL,
	[POOLNAME] [varchar](50) NOT NULL,
	[SERVERNAME] [varchar](50) NOT NULL,
	[WEIGHT] [int] NOT NULL,
	[SERVERORDER] [int] NOT NULL,
 CONSTRAINT [ServerDetails_PK] PRIMARY KEY CLUSTERED 
(
	[SERVERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ServerDetails_PK_UK0] UNIQUE NONCLUSTERED 
(
	[SERVERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServerDetails] ADD  DEFAULT ('1') FOR [WEIGHT]
GO
