USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Par_Char_Class_Expr]    Script Date: 6/29/2019 5:50:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Par_Char_Class_Expr](
	[PARENT_CHAR_EXPR_ID] [bigint] NOT NULL,
	[CHAR_CLASS_EXPR_ID] [bigint] NOT NULL,
 CONSTRAINT [Par_Char_Class_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[PARENT_CHAR_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1595859692]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1595859692] ON [dbo].[Par_Char_Class_Expr]
(
	[CHAR_CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__605668675]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__605668675] ON [dbo].[Par_Char_Class_Expr]
(
	[PARENT_CHAR_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Par_Char_Class_Expr]  WITH CHECK ADD  CONSTRAINT [Par_Char_Class_Expr_FK] FOREIGN KEY([PARENT_CHAR_EXPR_ID])
REFERENCES [dbo].[Parent_Class_Expr] ([PARENT_EXPR_ID])
GO
ALTER TABLE [dbo].[Par_Char_Class_Expr] CHECK CONSTRAINT [Par_Char_Class_Expr_FK]
GO
ALTER TABLE [dbo].[Par_Char_Class_Expr]  WITH CHECK ADD  CONSTRAINT [Par_Char_Class_Expr_FK1] FOREIGN KEY([CHAR_CLASS_EXPR_ID])
REFERENCES [dbo].[Char_Class_Expr] ([CHAR_CLASS_EXPR_ID])
GO
ALTER TABLE [dbo].[Par_Char_Class_Expr] CHECK CONSTRAINT [Par_Char_Class_Expr_FK1]
GO
