USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMEmail]    Script Date: 6/29/2019 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMEmail](
	[EMAILID] [int] NOT NULL,
	[ADDRESS] [varchar](250) NOT NULL,
 CONSTRAINT [NCMEmail_PK] PRIMARY KEY CLUSTERED 
(
	[EMAILID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMEmail_UK0] UNIQUE NONCLUSTERED 
(
	[ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
