USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[JuniperFabricSwitch]    Script Date: 6/29/2019 5:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JuniperFabricSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[MODEL] [varchar](25) NOT NULL,
	[SERIAL_NUMBER] [varchar](50) NOT NULL,
	[FABRIC_SYSTEM_ID] [varchar](50) NOT NULL,
 CONSTRAINT [JuniperFabricSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1375987741]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1375987741] ON [dbo].[JuniperFabricSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JuniperFabricSwitch] ADD  DEFAULT ('Not Available') FOR [MODEL]
GO
ALTER TABLE [dbo].[JuniperFabricSwitch] ADD  DEFAULT ('Not Available') FOR [SERIAL_NUMBER]
GO
ALTER TABLE [dbo].[JuniperFabricSwitch] ADD  DEFAULT ('Not Available') FOR [FABRIC_SYSTEM_ID]
GO
ALTER TABLE [dbo].[JuniperFabricSwitch]  WITH CHECK ADD  CONSTRAINT [JuniperFabricSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[JuniperFabricSwitch] CHECK CONSTRAINT [JuniperFabricSwitch_FK1]
GO
