USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CheckPointGaiaFirewall]    Script Date: 6/29/2019 5:46:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckPointGaiaFirewall](
	[RESOURCEID] [bigint] NOT NULL,
	[KERNEL_VERSION] [varchar](150) NOT NULL,
 CONSTRAINT [CheckPointGaiaFirewall_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1800320647]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1800320647] ON [dbo].[CheckPointGaiaFirewall]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CheckPointGaiaFirewall] ADD  DEFAULT ('Not Available') FOR [KERNEL_VERSION]
GO
ALTER TABLE [dbo].[CheckPointGaiaFirewall]  WITH CHECK ADD  CONSTRAINT [CheckPointGaiaFirewall_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CheckPointGaiaFirewall] CHECK CONSTRAINT [CheckPointGaiaFirewall_FK1]
GO
