USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Coll_Iterat_Template]    Script Date: 6/29/2019 5:46:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coll_Iterat_Template](
	[COLL_TEMPLATE_ID] [bigint] NOT NULL,
	[STATEMENT_ID] [bigint] NOT NULL,
	[SEQUENTIAL] [bit] NOT NULL,
 CONSTRAINT [Collection_Iterat_Template_PK] PRIMARY KEY CLUSTERED 
(
	[COLL_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1123900870]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1123900870] ON [dbo].[Coll_Iterat_Template]
(
	[STATEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__728991529]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__728991529] ON [dbo].[Coll_Iterat_Template]
(
	[COLL_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Coll_Iterat_Template] ADD  DEFAULT ((1)) FOR [SEQUENTIAL]
GO
ALTER TABLE [dbo].[Coll_Iterat_Template]  WITH CHECK ADD  CONSTRAINT [Collection_Iterat_Template_FK] FOREIGN KEY([COLL_TEMPLATE_ID])
REFERENCES [dbo].[Task_Templates] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Coll_Iterat_Template] CHECK CONSTRAINT [Collection_Iterat_Template_FK]
GO
ALTER TABLE [dbo].[Coll_Iterat_Template]  WITH CHECK ADD  CONSTRAINT [Collection_Iterat_Template_FK1] FOREIGN KEY([STATEMENT_ID])
REFERENCES [dbo].[Statements] ([STATEMENT_ID])
GO
ALTER TABLE [dbo].[Coll_Iterat_Template] CHECK CONSTRAINT [Collection_Iterat_Template_FK1]
GO
