USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ThreadPool]    Script Date: 6/29/2019 5:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThreadPool](
	[THREADPOOL_ID] [bigint] NOT NULL,
	[THREADPOOL_NAME] [varchar](150) NOT NULL,
	[THREADPOOL_SIZE] [int] NOT NULL,
	[ACTIVE] [bit] NOT NULL,
 CONSTRAINT [ThreadPool_PK] PRIMARY KEY CLUSTERED 
(
	[THREADPOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ThreadPool] ADD  DEFAULT ('3') FOR [THREADPOOL_SIZE]
GO
ALTER TABLE [dbo].[ThreadPool] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
