USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NEPortDetails]    Script Date: 6/29/2019 5:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEPortDetails](
	[RESOURCEID] [bigint] NOT NULL,
	[INTERFACETYPE] [int] NULL,
	[INTERFACEINDEX] [int] NULL,
	[INTERFACEDESCRIPTOR] [varchar](250) NULL,
	[PHYSICALADDRESS] [varchar](250) NULL,
	[INTERFACESPEED] [bigint] NULL,
 CONSTRAINT [NEPortDetails_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_15584919]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_15584919] ON [dbo].[NEPortDetails]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NEPortDetails]  WITH CHECK ADD  CONSTRAINT [NEPortDetails_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NEPort] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NEPortDetails] CHECK CONSTRAINT [NEPortDetails_FK1]
GO
