USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SysLogServerToLeaMap]    Script Date: 6/29/2019 5:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysLogServerToLeaMap](
	[SYSLOGSERVERID] [bigint] NOT NULL,
	[LEAID] [bigint] NOT NULL,
 CONSTRAINT [SysLogServerToLeaMap_PK] PRIMARY KEY CLUSTERED 
(
	[SYSLOGSERVERID] ASC,
	[LEAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__350653194]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__350653194] ON [dbo].[SysLogServerToLeaMap]
(
	[LEAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2066898587]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2066898587] ON [dbo].[SysLogServerToLeaMap]
(
	[SYSLOGSERVERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SysLogServerToLeaMap]  WITH CHECK ADD  CONSTRAINT [SysLogServerToLeaMap_FK] FOREIGN KEY([SYSLOGSERVERID])
REFERENCES [dbo].[SysLogServerSettings] ([SYSLOGSERVERID])
GO
ALTER TABLE [dbo].[SysLogServerToLeaMap] CHECK CONSTRAINT [SysLogServerToLeaMap_FK]
GO
ALTER TABLE [dbo].[SysLogServerToLeaMap]  WITH CHECK ADD  CONSTRAINT [SysLogServerToLeaMap_FK1] FOREIGN KEY([LEAID])
REFERENCES [dbo].[LeaSettings] ([LEAID])
GO
ALTER TABLE [dbo].[SysLogServerToLeaMap] CHECK CONSTRAINT [SysLogServerToLeaMap_FK1]
GO
