USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCIsilonCluster]    Script Date: 6/29/2019 5:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCIsilonCluster](
	[DEVICE_ID] [bigint] NOT NULL,
	[ONEFSVERSION] [varchar](500) NOT NULL,
	[CLUSTER_GUID] [varchar](250) NOT NULL,
	[CLUSTER_NAME] [varchar](250) NOT NULL,
	[NODE_COUNT] [int] NOT NULL,
	[NODES_CONFIGURED] [varchar](250) NOT NULL,
	[ONLINE_NODES] [varchar](250) NOT NULL,
	[OFFLINE_NODES] [varchar](250) NOT NULL,
	[AVAILABLE_NODES] [varchar](250) NULL,
 CONSTRAINT [EMCIsilonCluster_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_253445856]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_253445856] ON [dbo].[EMCIsilonCluster]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCIsilonCluster]  WITH CHECK ADD  CONSTRAINT [EMCIsilonCluster_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCIsilonCluster] CHECK CONSTRAINT [EMCIsilonCluster_FK1]
GO
