USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningLUN]    Script Date: 6/29/2019 5:48:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningLUN](
	[DEVICE_ID] [bigint] NOT NULL,
	[LUN_SLNO] [int] NOT NULL,
	[LUN_PORTID] [int] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [LightningLUN_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[LUN_SLNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_193201864]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_193201864] ON [dbo].[LightningLUN]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningLUN]  WITH CHECK ADD  CONSTRAINT [LightningLUN_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningLUN] CHECK CONSTRAINT [LightningLUN_FK1]
GO
