USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDeviceGroupDC]    Script Date: 6/29/2019 5:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDeviceGroupDC](
	[ACCOUNT_ID] [bigint] NOT NULL,
	[VIEW_ID] [bigint] NOT NULL,
	[DEVICE_GROUP_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMDeviceGroupDC_PK] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1146663682]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1146663682] ON [dbo].[NCMDeviceGroupDC]
(
	[DEVICE_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1146663683]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1146663683] ON [dbo].[NCMDeviceGroupDC]
(
	[ACCOUNT_ID] ASC,
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDeviceGroupDC]  WITH CHECK ADD  CONSTRAINT [NCMDeviceGroupDC_FK1] FOREIGN KEY([ACCOUNT_ID], [VIEW_ID])
REFERENCES [dbo].[NCMUserViewDC] ([ACCOUNT_ID], [VIEW_ID])
GO
ALTER TABLE [dbo].[NCMDeviceGroupDC] CHECK CONSTRAINT [NCMDeviceGroupDC_FK1]
GO
ALTER TABLE [dbo].[NCMDeviceGroupDC]  WITH CHECK ADD  CONSTRAINT [NCMDeviceGroupDC_FK2] FOREIGN KEY([DEVICE_GROUP_ID])
REFERENCES [dbo].[NCMDeviceGroup] ([DEVICE_GROUP_ID])
GO
ALTER TABLE [dbo].[NCMDeviceGroupDC] CHECK CONSTRAINT [NCMDeviceGroupDC_FK2]
GO
