USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Trans_Closure_Operator]    Script Date: 6/29/2019 5:52:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trans_Closure_Operator](
	[VIEW_ID] [bigint] NOT NULL,
	[INPUT_RELVAR_ID] [bigint] NOT NULL,
 CONSTRAINT [Trans_Closure_Operator_PK] PRIMARY KEY CLUSTERED 
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1968237812]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1968237812] ON [dbo].[Trans_Closure_Operator]
(
	[INPUT_RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_906339781]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_906339781] ON [dbo].[Trans_Closure_Operator]
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Trans_Closure_Operator]  WITH CHECK ADD  CONSTRAINT [Trans_Closure_Operator_FK] FOREIGN KEY([VIEW_ID])
REFERENCES [dbo].[Views] ([VIEW_ID])
GO
ALTER TABLE [dbo].[Trans_Closure_Operator] CHECK CONSTRAINT [Trans_Closure_Operator_FK]
GO
ALTER TABLE [dbo].[Trans_Closure_Operator]  WITH CHECK ADD  CONSTRAINT [Trans_Closure_Operator_FK1] FOREIGN KEY([INPUT_RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Trans_Closure_Operator] CHECK CONSTRAINT [Trans_Closure_Operator_FK1]
GO
