USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TreeRelation]    Script Date: 6/29/2019 5:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeRelation](
	[GID] [bigint] NOT NULL,
	[PID] [bigint] NULL,
	[ISLEAF] [bigint] NOT NULL,
 CONSTRAINT [TreeRelation_PK] PRIMARY KEY CLUSTERED 
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_938109479]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_938109479] ON [dbo].[TreeRelation]
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TreeRelation] ADD  DEFAULT ('0') FOR [PID]
GO
ALTER TABLE [dbo].[TreeRelation] ADD  DEFAULT ('0') FOR [ISLEAF]
GO
ALTER TABLE [dbo].[TreeRelation]  WITH CHECK ADD  CONSTRAINT [TreeRelation_FK1] FOREIGN KEY([GID])
REFERENCES [dbo].[TreeGroups] ([GID])
GO
ALTER TABLE [dbo].[TreeRelation] CHECK CONSTRAINT [TreeRelation_FK1]
GO
