USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SVCFCPort]    Script Date: 6/29/2019 5:52:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVCFCPort](
	[DEVICE_ID] [bigint] NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
	[RM_CONDITION] [varchar](250) NOT NULL,
	[USAGE_RESTRICTION] [varchar](250) NOT NULL,
	[LINK_TECH] [varchar](250) NOT NULL,
	[PERMANENT_ADDRESS] [varchar](250) NOT NULL,
	[MANUFACTURER] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NOT NULL,
	[SUPPORTED_MTU] [varchar](250) NOT NULL,
	[FULL_DUPLEX] [varchar](250) NOT NULL,
	[MAX_SPEED] [varchar](250) NOT NULL,
	[FCIO_PORT_ID] [varchar](250) NOT NULL,
	[PORT_ID] [varchar](250) NOT NULL,
	[NODE_NAME] [varchar](250) NOT NULL,
	[NPORT_ID] [varchar](250) NOT NULL,
	[SWITCH_WWPN] [varchar](250) NOT NULL,
	[ACTIVE_FC4_TYPES] [varchar](250) NOT NULL,
 CONSTRAINT [SVCFCPort_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1421180565]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1421180565] ON [dbo].[SVCFCPort]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SVCFCPort]  WITH CHECK ADD  CONSTRAINT [SVCFCPort_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SVCFCPort] CHECK CONSTRAINT [SVCFCPort_FK1]
GO
