USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DeviceTypeToSysOID]    Script Date: 6/29/2019 5:47:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceTypeToSysOID](
	[ID] [bigint] NOT NULL,
	[DEVICETYPEID] [bigint] NOT NULL,
	[SYSOID] [varchar](150) NOT NULL,
 CONSTRAINT [DeviceTypeToSysOID_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DeviceTypeToSysOID_UK0] UNIQUE NONCLUSTERED 
(
	[DEVICETYPEID] ASC,
	[SYSOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__312489899]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__312489899] ON [dbo].[DeviceTypeToSysOID]
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceTypeToSysOID]  WITH CHECK ADD  CONSTRAINT [DeviceTypeToSysOID_FK1] FOREIGN KEY([DEVICETYPEID])
REFERENCES [dbo].[DevicePackage] ([DEVICETYPEID])
GO
ALTER TABLE [dbo].[DeviceTypeToSysOID] CHECK CONSTRAINT [DeviceTypeToSysOID_FK1]
GO
