USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[POLLDATATEMPLATE]    Script Date: 6/29/2019 5:50:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLLDATATEMPLATE](
	[GRAPHID] [bigint] NOT NULL,
	[OID] [varchar](500) NOT NULL,
	[TIMEINTERVAL] [bigint] NOT NULL,
	[TIMEAVG] [bit] NOT NULL,
	[SAVEABSOLUTES] [bit] NOT NULL,
	[PROTOCOLID] [bigint] NOT NULL,
	[ISNUMERIC] [bit] NOT NULL,
	[SSAVE] [bit] NOT NULL,
	[POLLDATATYPE] [int] NOT NULL,
 CONSTRAINT [PollDataTempl_PK] PRIMARY KEY CLUSTERED 
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1872232508]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1872232508] ON [dbo].[POLLDATATEMPLATE]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1872232509]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1872232509] ON [dbo].[POLLDATATEMPLATE]
(
	[PROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POLLDATATEMPLATE] ADD  DEFAULT ((0)) FOR [TIMEAVG]
GO
ALTER TABLE [dbo].[POLLDATATEMPLATE] ADD  DEFAULT ((0)) FOR [SAVEABSOLUTES]
GO
ALTER TABLE [dbo].[POLLDATATEMPLATE] ADD  DEFAULT ((1)) FOR [ISNUMERIC]
GO
ALTER TABLE [dbo].[POLLDATATEMPLATE] ADD  DEFAULT ((1)) FOR [SSAVE]
GO
ALTER TABLE [dbo].[POLLDATATEMPLATE] ADD  DEFAULT ('1') FOR [POLLDATATYPE]
GO
ALTER TABLE [dbo].[POLLDATATEMPLATE]  WITH CHECK ADD  CONSTRAINT [PollDataTempl_FK1] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[POLLDATATEMPLATE] CHECK CONSTRAINT [PollDataTempl_FK1]
GO
ALTER TABLE [dbo].[POLLDATATEMPLATE]  WITH CHECK ADD  CONSTRAINT [PollDataTempl_FK2] FOREIGN KEY([PROTOCOLID])
REFERENCES [dbo].[PROTOCOLDETAILS] ([PROTOCOLID])
GO
ALTER TABLE [dbo].[POLLDATATEMPLATE] CHECK CONSTRAINT [PollDataTempl_FK2]
GO
