USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AlcatelSwitch]    Script Date: 6/29/2019 5:45:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlcatelSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[CPUTYPE] [varchar](100) NOT NULL,
	[FLASHSIZE] [varchar](100) NOT NULL,
	[RAMSIZE] [varchar](100) NOT NULL,
	[BOOTROMVERSION] [varchar](100) NOT NULL,
 CONSTRAINT [AlcatelSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1218586547]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1218586547] ON [dbo].[AlcatelSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlcatelSwitch] ADD  DEFAULT ('Not Available') FOR [CPUTYPE]
GO
ALTER TABLE [dbo].[AlcatelSwitch] ADD  DEFAULT ('Not Available') FOR [FLASHSIZE]
GO
ALTER TABLE [dbo].[AlcatelSwitch] ADD  DEFAULT ('Not Available') FOR [RAMSIZE]
GO
ALTER TABLE [dbo].[AlcatelSwitch] ADD  DEFAULT ('Not Available') FOR [BOOTROMVERSION]
GO
ALTER TABLE [dbo].[AlcatelSwitch]  WITH CHECK ADD  CONSTRAINT [AlcatelSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[AlcatelSwitch] CHECK CONSTRAINT [AlcatelSwitch_FK1]
GO
