USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourcesMIBInfo]    Script Date: 6/29/2019 5:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourcesMIBInfo](
	[RESOURCEID] [bigint] NOT NULL,
	[MIBUSED] [varchar](100) NOT NULL,
 CONSTRAINT [NCMResourcesMIBInfo_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__203775148]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__203775148] ON [dbo].[NCMResourcesMIBInfo]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourcesMIBInfo]  WITH CHECK ADD  CONSTRAINT [NCMResourcesMIBInfo_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMResourcesMIBInfo] CHECK CONSTRAINT [NCMResourcesMIBInfo_FK1]
GO
