USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaMethodParams]    Script Date: 6/29/2019 5:45:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaMethodParams](
	[PERMISSION_ID] [bigint] NOT NULL,
	[PARAM_TYPE] [varchar](150) NOT NULL,
	[PARAM_ORDER] [bigint] NOT NULL,
 CONSTRAINT [AaaMethodParams_PK] PRIMARY KEY CLUSTERED 
(
	[PERMISSION_ID] ASC,
	[PARAM_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_814140380]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_814140380] ON [dbo].[AaaMethodParams]
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaMethodParams]  WITH CHECK ADD  CONSTRAINT [AaaMethodParams_FK] FOREIGN KEY([PERMISSION_ID])
REFERENCES [dbo].[AaaMethodPermission] ([PERMISSION_ID])
GO
ALTER TABLE [dbo].[AaaMethodParams] CHECK CONSTRAINT [AaaMethodParams_FK]
GO
