USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PromiseUPS]    Script Date: 6/29/2019 5:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromiseUPS](
	[RAID_ID] [bigint] NOT NULL,
	[UPS_ID] [int] NOT NULL,
	[OPERATIONAL_STATUS] [varchar](250) NOT NULL,
	[UPS_MODEL] [varchar](250) NOT NULL,
	[SERIAL_NO] [varchar](250) NOT NULL,
	[FW_REVISION] [varchar](250) NOT NULL,
	[MANUFACTURE_DATE] [varchar](250) NOT NULL,
	[LINE_RATING] [varchar](250) NOT NULL,
	[LOADING_RATIO] [varchar](250) NOT NULL,
 CONSTRAINT [PromiseUPS_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[UPS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1836444426]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1836444426] ON [dbo].[PromiseUPS]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromiseUPS]  WITH CHECK ADD  CONSTRAINT [PromiseUPS_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PromiseUPS] CHECK CONSTRAINT [PromiseUPS_FK1]
GO
