USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LAExpression]    Script Date: 6/29/2019 5:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAExpression](
	[EXP_ID] [bigint] NOT NULL,
	[TABLE_NAME] [nvarchar](50) NULL,
	[COLUMN_NAME] [nvarchar](25) NULL,
	[COMPARATOR] [nvarchar](15) NULL,
	[VALUE] [nvarchar](4000) NULL,
 CONSTRAINT [LAExpression_PK] PRIMARY KEY CLUSTERED 
(
	[EXP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
