USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SchWlcDSCP]    Script Date: 6/29/2019 5:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchWlcDSCP](
	[IP_ID] [int] NOT NULL,
	[SCHEDULE_ID] [bigint] NOT NULL,
	[DSCPCode] [varchar](255) NOT NULL,
	[TYPE_PARAM] [int] NOT NULL,
 CONSTRAINT [SchWlcDSCP_PK] PRIMARY KEY CLUSTERED 
(
	[IP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_664746194]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_664746194] ON [dbo].[SchWlcDSCP]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SchWlcDSCP]  WITH CHECK ADD  CONSTRAINT [SchWlcDSCP_FK] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[ScheduleDetails] ([ID])
GO
ALTER TABLE [dbo].[SchWlcDSCP] CHECK CONSTRAINT [SchWlcDSCP_FK]
GO
