USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FilterFieldRange]    Script Date: 6/29/2019 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterFieldRange](
	[ID] [int] NOT NULL,
	[FID] [int] NOT NULL,
	[FIELD] [int] NOT NULL,
	[STARTVALUE] [varchar](255) NOT NULL,
	[ENDVALUE] [varchar](255) NOT NULL,
	[FLAG] [int] NOT NULL,
 CONSTRAINT [FilterFieldRange_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1293044073]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1293044073] ON [dbo].[FilterFieldRange]
(
	[FID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FilterFieldRange] ADD  DEFAULT ('0') FOR [FLAG]
GO
ALTER TABLE [dbo].[FilterFieldRange]  WITH CHECK ADD  CONSTRAINT [FilterFieldRange_FK] FOREIGN KEY([FID])
REFERENCES [dbo].[Filter] ([FID])
GO
ALTER TABLE [dbo].[FilterFieldRange] CHECK CONSTRAINT [FilterFieldRange_FK]
GO
