USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Snapshot]    Script Date: 6/29/2019 5:51:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Snapshot](
	[SNAPSHOTID] [bigint] NOT NULL,
	[SNAPSHOTNAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
	[ISFULLVIEW] [bit] NOT NULL,
 CONSTRAINT [Snapshot_PK] PRIMARY KEY CLUSTERED 
(
	[SNAPSHOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Snapshot_UK0] UNIQUE NONCLUSTERED 
(
	[SNAPSHOTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Snapshot] ADD  DEFAULT ((0)) FOR [ISFULLVIEW]
GO
