USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCUnityTier]    Script Date: 6/29/2019 5:47:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCUnityTier](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[TIER_NAME] [varchar](1000) NULL,
	[POOL_NAME] [varchar](1000) NULL,
	[POOL_ID] [varchar](100) NULL,
	[DRIVE_TYPE] [varchar](100) NULL,
	[RAID_LEVEL] [varchar](100) NULL,
	[TOTAL_CAPACITY] [float] NULL,
	[USED_CAPACITY] [float] NULL,
	[FREE_CAPACITY] [float] NULL,
 CONSTRAINT [EMCUnityTier_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1027867159]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1027867159] ON [dbo].[EMCUnityTier]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCUnityTier]  WITH CHECK ADD  CONSTRAINT [EMCUnityTier_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCUnityTier] CHECK CONSTRAINT [EMCUnityTier_FK1]
GO
