USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ENGINETABLE]    Script Date: 6/29/2019 5:47:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENGINETABLE](
	[DBKEY] [varchar](57) NOT NULL,
	[HOST] [varchar](50) NULL,
	[PORT] [varchar](5) NULL,
	[ENGINENAME] [varchar](50) NULL,
	[ENGINEID] [varchar](255) NULL,
	[ENGINETIME] [varchar](10) NULL,
	[ENGINEBOOTS] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DBKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
