USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Views]    Script Date: 6/29/2019 5:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Views](
	[VIEW_ID] [bigint] NOT NULL,
	[VIEW_NAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](100) NOT NULL,
	[SQL_STRING] [varchar](250) NULL,
 CONSTRAINT [Views_PK] PRIMARY KEY CLUSTERED 
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Views] ADD  DEFAULT ('SQL Statement Unavailable') FOR [SQL_STRING]
GO
