USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CredentialManager]    Script Date: 6/29/2019 5:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CredentialManager](
	[CREDENTIALID] [bigint] NOT NULL,
	[CREDENTIALNAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](4000) NULL,
	[TYPE] [varchar](50) NULL,
 CONSTRAINT [CredentialManager_PK] PRIMARY KEY CLUSTERED 
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CredentialManager_UK0] UNIQUE NONCLUSTERED 
(
	[CREDENTIALNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
