USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FixedParentTool]    Script Date: 6/29/2019 5:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FixedParentTool](
	[PTAB_ID] [varchar](50) NOT NULL,
	[TOOL_ID] [varchar](50) NOT NULL,
	[GROUP_ID] [varchar](50) NOT NULL,
 CONSTRAINT [FixedParentTool_PK] PRIMARY KEY CLUSTERED 
(
	[PTAB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__731340763]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__731340763] ON [dbo].[FixedParentTool]
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__731340764]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__731340764] ON [dbo].[FixedParentTool]
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__731340765]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__731340765] ON [dbo].[FixedParentTool]
(
	[PTAB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FixedParentTool] ADD  DEFAULT ('OPTools') FOR [PTAB_ID]
GO
ALTER TABLE [dbo].[FixedParentTool]  WITH CHECK ADD  CONSTRAINT [FixedParentTool_FK1] FOREIGN KEY([PTAB_ID])
REFERENCES [dbo].[ParentTab] ([PTAB_ID])
GO
ALTER TABLE [dbo].[FixedParentTool] CHECK CONSTRAINT [FixedParentTool_FK1]
GO
ALTER TABLE [dbo].[FixedParentTool]  WITH CHECK ADD  CONSTRAINT [FixedParentTool_FK2] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[ToolsGroup] ([GROUP_ID])
GO
ALTER TABLE [dbo].[FixedParentTool] CHECK CONSTRAINT [FixedParentTool_FK2]
GO
ALTER TABLE [dbo].[FixedParentTool]  WITH CHECK ADD  CONSTRAINT [FixedParentTool_FK3] FOREIGN KEY([TOOL_ID])
REFERENCES [dbo].[Tool] ([TOOL_ID])
GO
ALTER TABLE [dbo].[FixedParentTool] CHECK CONSTRAINT [FixedParentTool_FK3]
GO
