USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMConfigDownloadRQ]    Script Date: 6/29/2019 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMConfigDownloadRQ](
	[REQUEST_ID] [bigint] NOT NULL,
	[CONFIG_CONTENTS] [varbinary](max) NOT NULL,
	[DOWNLOAD_AS] [varchar](50) NOT NULL,
	[TEMPLATE_NAME] [varchar](100) NULL,
	[BACKUP_ENABLED] [bit] NOT NULL,
 CONSTRAINT [NCMConfigDownloadRQ_PK1] PRIMARY KEY CLUSTERED 
(
	[REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1814209074]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1814209074] ON [dbo].[NCMConfigDownloadRQ]
(
	[REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMConfigDownloadRQ] ADD  DEFAULT ((1)) FOR [BACKUP_ENABLED]
GO
ALTER TABLE [dbo].[NCMConfigDownloadRQ]  WITH CHECK ADD  CONSTRAINT [NCMConfigDownloadRQ_FK1] FOREIGN KEY([REQUEST_ID])
REFERENCES [dbo].[NCMApprovalRequest] ([REQUEST_ID])
GO
ALTER TABLE [dbo].[NCMConfigDownloadRQ] CHECK CONSTRAINT [NCMConfigDownloadRQ_FK1]
GO
