USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AppGroupInfo]    Script Date: 6/29/2019 5:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppGroupInfo](
	[GROUP_ID] [int] NOT NULL,
	[GROUP_NAME] [varchar](50) NOT NULL,
	[GROUP_DESC] [varchar](100) NOT NULL,
 CONSTRAINT [AppGroupInfo_PK] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AppGroupInfo_UK0] UNIQUE NONCLUSTERED 
(
	[GROUP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
