USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Assign_Info]    Script Date: 6/29/2019 5:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assign_Info](
	[CONFIG_ID] [bigint] NOT NULL,
	[DEVICE_IP] [varchar](255) NOT NULL,
	[INTERFACE_INDEX] [int] NOT NULL,
	[DIRECTION] [int] NOT NULL,
	[INTERFACE_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [Assign_Info_PK] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC,
	[DEVICE_IP] ASC,
	[INTERFACE_INDEX] ASC,
	[DIRECTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1735904934]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1735904934] ON [dbo].[Assign_Info]
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assign_Info]  WITH CHECK ADD  CONSTRAINT [Assign_Info_FK] FOREIGN KEY([CONFIG_ID])
REFERENCES [dbo].[Device_Config] ([CONFIG_ID])
GO
ALTER TABLE [dbo].[Assign_Info] CHECK CONSTRAINT [Assign_Info_FK]
GO
