USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARExtentStoragePoolMap]    Script Date: 6/29/2019 5:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARExtentStoragePoolMap](
	[RAID_ID] [bigint] NOT NULL,
	[DISK_DEVICE_ID] [bigint] NOT NULL,
	[EXTENT_ID] [varchar](150) NOT NULL,
	[POOL_ID] [varchar](150) NOT NULL,
 CONSTRAINT [HP3PARExtentStoragePoolMap_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[EXTENT_ID] ASC,
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__106207022]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__106207022] ON [dbo].[HP3PARExtentStoragePoolMap]
(
	[RAID_ID] ASC,
	[DISK_DEVICE_ID] ASC,
	[EXTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARExtentStoragePoolMap]  WITH CHECK ADD  CONSTRAINT [HP3PARExtentStoragePoolMap_FK1] FOREIGN KEY([RAID_ID], [DISK_DEVICE_ID], [EXTENT_ID])
REFERENCES [dbo].[HP3PARDiskExtent] ([RAID_ID], [DISK_DEVICE_ID], [EXTENT_ID])
GO
ALTER TABLE [dbo].[HP3PARExtentStoragePoolMap] CHECK CONSTRAINT [HP3PARExtentStoragePoolMap_FK1]
GO
