USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMErrorCode]    Script Date: 6/29/2019 5:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMErrorCode](
	[ERROR_CODE] [varchar](200) NOT NULL,
	[DESCRIPTION] [varchar](1000) NOT NULL,
 CONSTRAINT [NCMErrorCode_PK] PRIMARY KEY CLUSTERED 
(
	[ERROR_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
