USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ConsentStorage]    Script Date: 6/29/2019 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsentStorage](
	[STORAGEID] [bigint] NOT NULL,
	[CONSENTTYPE] [varchar](255) NOT NULL,
	[ISUSERSPECIFIC] [bit] NOT NULL,
	[STORAGETABLE] [varchar](255) NOT NULL,
 CONSTRAINT [ConsentStorage_PK1] PRIMARY KEY CLUSTERED 
(
	[STORAGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ConsentStorage_UK0] UNIQUE NONCLUSTERED 
(
	[CONSENTTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
