USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnapshotTabAssociation]    Script Date: 6/29/2019 5:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnapshotTabAssociation](
	[TABID] [bigint] NOT NULL,
	[ASSOCIATIONID] [bigint] NOT NULL,
 CONSTRAINT [SnapshotTabAssociation_PK] PRIMARY KEY CLUSTERED 
(
	[TABID] ASC,
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_771617790]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_771617790] ON [dbo].[SnapshotTabAssociation]
(
	[TABID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_771617791]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_771617791] ON [dbo].[SnapshotTabAssociation]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnapshotTabAssociation]  WITH CHECK ADD  CONSTRAINT [SnapshotTabAssociation_FK2] FOREIGN KEY([TABID])
REFERENCES [dbo].[SnapshotTab] ([TABID])
GO
ALTER TABLE [dbo].[SnapshotTabAssociation] CHECK CONSTRAINT [SnapshotTabAssociation_FK2]
GO
ALTER TABLE [dbo].[SnapshotTabAssociation]  WITH CHECK ADD  CONSTRAINT [SnapshotTabAssociation_FK3] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[SnapshotAssociation] ([ASSOCIATIONID])
GO
ALTER TABLE [dbo].[SnapshotTabAssociation] CHECK CONSTRAINT [SnapshotTabAssociation_FK3]
GO
