USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarSANHost]    Script Date: 6/29/2019 5:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarSANHost](
	[PILLAR_ID] [bigint] NOT NULL,
	[HOST_INSTANCE] [int] NOT NULL,
	[ID] [varchar](250) NULL,
	[FQN] [varchar](250) NULL,
	[NAME] [varchar](250) NULL,
	[CREATOR] [varchar](250) NULL,
 CONSTRAINT [PillarSANHost_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC,
	[HOST_INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1642868314]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1642868314] ON [dbo].[PillarSANHost]
(
	[PILLAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarSANHost]  WITH CHECK ADD  CONSTRAINT [PillarSANHost_FK] FOREIGN KEY([PILLAR_ID])
REFERENCES [dbo].[PillarRaid] ([PILLAR_ID])
GO
ALTER TABLE [dbo].[PillarSANHost] CHECK CONSTRAINT [PillarSANHost_FK]
GO
