USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiskEMCVNXe]    Script Date: 6/29/2019 5:47:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiskEMCVNXe](
	[DISK_ID] [bigint] NOT NULL,
	[SLOT] [varchar](250) NULL,
	[ENCLOSURE] [varchar](250) NULL,
 CONSTRAINT [EMCVNXeDisk_PK] PRIMARY KEY CLUSTERED 
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__820302937]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__820302937] ON [dbo].[DiskEMCVNXe]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiskEMCVNXe]  WITH CHECK ADD  CONSTRAINT [EMCVNXeDisk_FK] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[SANDiskDrive] ([DISK_ID])
GO
ALTER TABLE [dbo].[DiskEMCVNXe] CHECK CONSTRAINT [EMCVNXeDisk_FK]
GO
