USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AvocentACS]    Script Date: 6/29/2019 5:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvocentACS](
	[RESOURCEID] [bigint] NOT NULL,
	[CPU] [varchar](250) NOT NULL,
	[CPU_REV] [varchar](250) NOT NULL,
 CONSTRAINT [AvocentACS_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1109281180]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1109281180] ON [dbo].[AvocentACS]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AvocentACS] ADD  DEFAULT ('Not Available') FOR [CPU]
GO
ALTER TABLE [dbo].[AvocentACS] ADD  DEFAULT ('Not Available') FOR [CPU_REV]
GO
ALTER TABLE [dbo].[AvocentACS]  WITH CHECK ADD  CONSTRAINT [AvocentACS_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[AvocentACS] CHECK CONSTRAINT [AvocentACS_FK1]
GO
