USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Cctv]    Script Date: 6/29/2019 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cctv](
	[ID] [bigint] NOT NULL,
	[NAME] [varchar](150) NOT NULL,
	[TIMEINTERVAL] [int] NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
 CONSTRAINT [Cctv_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Cctv_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cctv] ADD  DEFAULT ('No Description For this CCTV') FOR [DESCRIPTION]
GO
