USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ClariionStoragePool]    Script Date: 6/29/2019 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClariionStoragePool](
	[DEVICE_ID] [bigint] NOT NULL,
	[STORAGE_POOL_ID] [varchar](250) NOT NULL,
	[STORAGE_POOL_NAME] [varchar](250) NOT NULL,
	[NUM_OF_LUNS] [int] NULL,
	[LUNS] [varchar](2000) NULL,
	[NUM_OF_DISKS] [int] NULL,
	[DISKS] [varchar](2000) NULL,
	[USER_CAPACITY] [varchar](250) NULL,
	[CONSUMED_CAPACITY] [varchar](250) NULL,
	[AVAILABLE_CAPACITY] [varchar](250) NULL,
	[TOTAL_SUBSRIBED_CAPACITY] [varchar](250) NULL,
	[CAPACITY_PERCENT_SUBSCRIBED] [varchar](250) NULL,
	[STATUS] [varchar](250) NULL,
	[RAW_CAPACITY] [varchar](250) NULL,
	[DISK_TYPE] [varchar](250) NULL,
	[PERCENT_FULL] [varchar](250) NULL,
 CONSTRAINT [CLARIIONSTORAGEPOOL_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[STORAGE_POOL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_991797067]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_991797067] ON [dbo].[ClariionStoragePool]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClariionStoragePool]  WITH CHECK ADD  CONSTRAINT [CLARIIONSTORAGEPOOL_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ClariionStoragePool] CHECK CONSTRAINT [CLARIIONSTORAGEPOOL_FK1]
GO
