USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Str_Obj_Expr]    Script Date: 6/29/2019 5:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Str_Obj_Expr](
	[STRING_EXPRESSION_ID] [bigint] NOT NULL,
	[OBJECT_NAME] [varchar](150) NOT NULL,
	[ATTRIBUTE_NAME] [varchar](150) NOT NULL,
	[IS_HASHMAP] [bit] NOT NULL,
 CONSTRAINT [Str_Obj_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[STRING_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_145830553]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_145830553] ON [dbo].[Str_Obj_Expr]
(
	[STRING_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Str_Obj_Expr] ADD  DEFAULT ((0)) FOR [IS_HASHMAP]
GO
ALTER TABLE [dbo].[Str_Obj_Expr]  WITH CHECK ADD  CONSTRAINT [Str_Obj_Expr_FK] FOREIGN KEY([STRING_EXPRESSION_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Str_Obj_Expr] CHECK CONSTRAINT [Str_Obj_Expr_FK]
GO
