USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 6/29/2019 5:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DEPT_ID] [bigint] NOT NULL,
	[DEPT_NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](300) NULL,
 CONSTRAINT [Department_PK] PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
