USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCMRollbackActionInfo]    Script Date: 6/29/2019 5:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCMRollbackActionInfo](
	[RULE_ID] [bigint] NOT NULL,
	[ACTION_ID] [int] NOT NULL,
	[ROLLBACK_TYPE] [varchar](20) NOT NULL,
 CONSTRAINT [NCMCMRollbackActionInfo_PK] PRIMARY KEY CLUSTERED 
(
	[RULE_ID] ASC,
	[ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1913914263]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1913914263] ON [dbo].[NCMCMRollbackActionInfo]
(
	[RULE_ID] ASC,
	[ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCMRollbackActionInfo]  WITH CHECK ADD  CONSTRAINT [NCMCMRollbackActionInfo_FK1] FOREIGN KEY([RULE_ID], [ACTION_ID])
REFERENCES [dbo].[NCMCMActions] ([RULE_ID], [ACTION_ID])
GO
ALTER TABLE [dbo].[NCMCMRollbackActionInfo] CHECK CONSTRAINT [NCMCMRollbackActionInfo_FK1]
GO
