USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RuleMap]    Script Date: 6/29/2019 5:51:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleMap](
	[ID] [int] NOT NULL,
	[NBARULE] [int] NOT NULL,
	[CONTEXT] [int] NOT NULL,
	[STREAM] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [RuleMap_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1032957124]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1032957124] ON [dbo].[RuleMap]
(
	[NBARULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1956899821]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1956899821] ON [dbo].[RuleMap]
(
	[CONTEXT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1956899822]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1956899822] ON [dbo].[RuleMap]
(
	[STREAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RuleMap] ADD  DEFAULT ('-1') FOR [CONTEXT]
GO
ALTER TABLE [dbo].[RuleMap] ADD  DEFAULT ('1') FOR [STATUS]
GO
ALTER TABLE [dbo].[RuleMap]  WITH CHECK ADD  CONSTRAINT [RuleMap_FK] FOREIGN KEY([NBARULE])
REFERENCES [dbo].[NbaRule] ([RID])
GO
ALTER TABLE [dbo].[RuleMap] CHECK CONSTRAINT [RuleMap_FK]
GO
ALTER TABLE [dbo].[RuleMap]  WITH CHECK ADD  CONSTRAINT [RuleMap_FK1] FOREIGN KEY([CONTEXT])
REFERENCES [dbo].[ResourceContext] ([ID])
GO
ALTER TABLE [dbo].[RuleMap] CHECK CONSTRAINT [RuleMap_FK1]
GO
ALTER TABLE [dbo].[RuleMap]  WITH CHECK ADD  CONSTRAINT [RuleMap_FK2] FOREIGN KEY([STREAM])
REFERENCES [dbo].[Stream] ([SID])
GO
ALTER TABLE [dbo].[RuleMap] CHECK CONSTRAINT [RuleMap_FK2]
GO
