USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMEnableModeAudit]    Script Date: 6/29/2019 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMEnableModeAudit](
	[ENABLEMODE_AUDIT_ID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[PROTOCOL] [varchar](100) NOT NULL,
	[OPERATIONSTATUS] [varchar](15) NOT NULL,
	[OPERATIONNAME] [varchar](50) NOT NULL,
	[EXECUTEDON] [datetime] NOT NULL,
	[MESSAGE] [varchar](250) NOT NULL,
 CONSTRAINT [NCMEnableModeAudit_PK] PRIMARY KEY CLUSTERED 
(
	[ENABLEMODE_AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMEnableModeAudit] ADD  DEFAULT ('None') FOR [MESSAGE]
GO
