USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[QosChildPolicyDetails]    Script Date: 6/29/2019 5:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QosChildPolicyDetails](
	[CHILDPOLICY_ID] [int] NOT NULL,
	[CHILDPOLICY_NAME] [varchar](40) NOT NULL,
	[CLASS_ID] [int] NOT NULL,
 CONSTRAINT [QosChildPolicyDetails_PK] PRIMARY KEY CLUSTERED 
(
	[CHILDPOLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1486427497]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1486427497] ON [dbo].[QosChildPolicyDetails]
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1486427498]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1486427498] ON [dbo].[QosChildPolicyDetails]
(
	[CHILDPOLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QosChildPolicyDetails]  WITH CHECK ADD  CONSTRAINT [QosChildPolicyDetails_FK1] FOREIGN KEY([CHILDPOLICY_ID])
REFERENCES [dbo].[QosIdGen] ([POLICY_ID])
GO
ALTER TABLE [dbo].[QosChildPolicyDetails] CHECK CONSTRAINT [QosChildPolicyDetails_FK1]
GO
ALTER TABLE [dbo].[QosChildPolicyDetails]  WITH CHECK ADD  CONSTRAINT [QosChildPolicyDetails_FK2] FOREIGN KEY([CLASS_ID])
REFERENCES [dbo].[QosClassDetails] ([CLASS_ID])
GO
ALTER TABLE [dbo].[QosChildPolicyDetails] CHECK CONSTRAINT [QosChildPolicyDetails_FK2]
GO
