USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FAIPAddress]    Script Date: 6/29/2019 5:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAIPAddress](
	[NODE_ID] [bigint] NOT NULL,
	[DEPT_ID] [bigint] NOT NULL,
	[NODE_NAME] [nvarchar](48) NOT NULL,
 CONSTRAINT [FAIPAddress_PK] PRIMARY KEY CLUSTERED 
(
	[NODE_ID] ASC,
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1736847551]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1736847551] ON [dbo].[FAIPAddress]
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FAIPAddress]  WITH CHECK ADD  CONSTRAINT [FAIPAddress_FK1] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[Department] ([DEPT_ID])
GO
ALTER TABLE [dbo].[FAIPAddress] CHECK CONSTRAINT [FAIPAddress_FK1]
GO
