USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LAYER2PROTOCOLMAPPING]    Script Date: 6/29/2019 5:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAYER2PROTOCOLMAPPING](
	[MAPID] [bigint] NOT NULL,
	[PROTOCOL] [int] NOT NULL,
 CONSTRAINT [LAYER2PROTOCOLMAPPING_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC,
	[PROTOCOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__601905809]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__601905809] ON [dbo].[LAYER2PROTOCOLMAPPING]
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LAYER2PROTOCOLMAPPING]  WITH CHECK ADD  CONSTRAINT [LAYER2PROTOCOLMAPPING_FK] FOREIGN KEY([MAPID])
REFERENCES [dbo].[LAYER2CONFIGURATION] ([MAPID])
GO
ALTER TABLE [dbo].[LAYER2PROTOCOLMAPPING] CHECK CONSTRAINT [LAYER2PROTOCOLMAPPING_FK]
GO
