USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwDATASTOREPROPS]    Script Date: 6/29/2019 5:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwDATASTOREPROPS](
	[VDATASTORE_ID] [bigint] NOT NULL,
	[VCENTER_ID] [bigint] NOT NULL,
	[DATASTORE_URL] [varchar](200) NOT NULL,
	[DATASTORE_UUID] [varchar](150) NULL,
	[FILESYSTEM_TYPE] [varchar](40) NOT NULL,
	[IS_ACCESSIBLE] [bit] NULL,
	[IS_SHARED] [bit] NULL,
	[CAPACITY_MB] [bigint] NOT NULL,
	[FREESPACE_MB] [bigint] NOT NULL,
	[NAS_REMOTE_HOST] [varchar](150) NULL,
	[NAS_REMOTE_PATH] [varchar](150) NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
 CONSTRAINT [VwDATASTOREPROPS_PK] PRIMARY KEY CLUSTERED 
(
	[VDATASTORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [VwDATASTOREPROPS_UK0] UNIQUE NONCLUSTERED 
(
	[DATASTORE_UUID] ASC,
	[VCENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__744760376]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__744760376] ON [dbo].[VwDATASTOREPROPS]
(
	[VCENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__744760377]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__744760377] ON [dbo].[VwDATASTOREPROPS]
(
	[VDATASTORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwDATASTOREPROPS] ADD  DEFAULT ((0)) FOR [IS_ACCESSIBLE]
GO
ALTER TABLE [dbo].[VwDATASTOREPROPS] ADD  DEFAULT ((0)) FOR [IS_SHARED]
GO
ALTER TABLE [dbo].[VwDATASTOREPROPS]  WITH CHECK ADD  CONSTRAINT [VwDATASTOREPROPS_FK1] FOREIGN KEY([VDATASTORE_ID])
REFERENCES [dbo].[VwENTITYMOMAPPING] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[VwDATASTOREPROPS] CHECK CONSTRAINT [VwDATASTOREPROPS_FK1]
GO
ALTER TABLE [dbo].[VwDATASTOREPROPS]  WITH CHECK ADD  CONSTRAINT [VwDATASTOREPROPS_FK2] FOREIGN KEY([VCENTER_ID])
REFERENCES [dbo].[VwVCENTERPROPS] ([VCENTER_ID])
GO
ALTER TABLE [dbo].[VwDATASTOREPROPS] CHECK CONSTRAINT [VwDATASTOREPROPS_FK2]
GO
