USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSToRackMountServer]    Script Date: 6/29/2019 5:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSToRackMountServer](
	[UCS_ID] [bigint] NOT NULL,
	[SERVER_ID] [bigint] NOT NULL,
 CONSTRAINT [UCSToRackMountServer_PK] PRIMARY KEY CLUSTERED 
(
	[UCS_ID] ASC,
	[SERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__474186446]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__474186446] ON [dbo].[UCSToRackMountServer]
(
	[SERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1647271647]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1647271647] ON [dbo].[UCSToRackMountServer]
(
	[UCS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UCSToRackMountServer]  WITH CHECK ADD  CONSTRAINT [UCSToRackMountServer_FK] FOREIGN KEY([UCS_ID])
REFERENCES [dbo].[UCSDevice] ([UCS_ID])
GO
ALTER TABLE [dbo].[UCSToRackMountServer] CHECK CONSTRAINT [UCSToRackMountServer_FK]
GO
ALTER TABLE [dbo].[UCSToRackMountServer]  WITH CHECK ADD  CONSTRAINT [UCSToRackMountServer_FK1] FOREIGN KEY([SERVER_ID])
REFERENCES [dbo].[BladeServer] ([SERVER_ID])
GO
ALTER TABLE [dbo].[UCSToRackMountServer] CHECK CONSTRAINT [UCSToRackMountServer_FK1]
GO
