USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMPolicyToRuleGrpMap]    Script Date: 6/29/2019 5:49:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMPolicyToRuleGrpMap](
	[COMPPOLICY_ID] [bigint] NOT NULL,
	[COMPRULEGROUP_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMPolicyToRuleGrpMap_PK] PRIMARY KEY CLUSTERED 
(
	[COMPPOLICY_ID] ASC,
	[COMPRULEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1687500325]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1687500325] ON [dbo].[NCMPolicyToRuleGrpMap]
(
	[COMPPOLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1687500326]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1687500326] ON [dbo].[NCMPolicyToRuleGrpMap]
(
	[COMPRULEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMPolicyToRuleGrpMap]  WITH CHECK ADD  CONSTRAINT [NCMPolicyToRuleGrpMap_FK1] FOREIGN KEY([COMPPOLICY_ID])
REFERENCES [dbo].[NCMCompliancePolicy] ([COMPPOLICY_ID])
GO
ALTER TABLE [dbo].[NCMPolicyToRuleGrpMap] CHECK CONSTRAINT [NCMPolicyToRuleGrpMap_FK1]
GO
ALTER TABLE [dbo].[NCMPolicyToRuleGrpMap]  WITH CHECK ADD  CONSTRAINT [NCMPolicyToRuleGrpMap_FK2] FOREIGN KEY([COMPRULEGROUP_ID])
REFERENCES [dbo].[NCMCompRuleGroup] ([COMPRULEGROUP_ID])
GO
ALTER TABLE [dbo].[NCMPolicyToRuleGrpMap] CHECK CONSTRAINT [NCMPolicyToRuleGrpMap_FK2]
GO
