USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FiberHomeSwitch]    Script Date: 6/29/2019 5:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiberHomeSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[HW_VERSION] [varchar](150) NOT NULL,
	[SW_VERSION] [varchar](150) NOT NULL,
 CONSTRAINT [FiberHomeSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_401006252]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_401006252] ON [dbo].[FiberHomeSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FiberHomeSwitch] ADD  DEFAULT ('Not Available') FOR [HW_VERSION]
GO
ALTER TABLE [dbo].[FiberHomeSwitch] ADD  DEFAULT ('Not Available') FOR [SW_VERSION]
GO
ALTER TABLE [dbo].[FiberHomeSwitch]  WITH CHECK ADD  CONSTRAINT [FiberHomeSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[FiberHomeSwitch] CHECK CONSTRAINT [FiberHomeSwitch_FK1]
GO
