USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorageDetails]    Script Date: 6/29/2019 5:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageDetails](
	[RESOURCEID] [bigint] NOT NULL,
	[STORAGEINDEX] [bigint] NOT NULL,
	[STORAGETYPE] [varchar](200) NULL,
	[STORAGEDESC] [varchar](200) NULL,
	[ALLOCATIONUNITS] [bigint] NULL,
	[STORAGESIZE] [bigint] NULL,
	[STORAGEUSED] [bigint] NULL,
	[ALLOCATIONFAILURES] [bigint] NULL,
 CONSTRAINT [StorageDetails_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC,
	[STORAGEINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1722247372]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1722247372] ON [dbo].[StorageDetails]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorageDetails]  WITH CHECK ADD  CONSTRAINT [StorageDetails_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[StorageDetails] CHECK CONSTRAINT [StorageDetails_FK1]
GO
