USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMSchDownloadCriteria]    Script Date: 6/29/2019 5:49:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMSchDownloadCriteria](
	[INSTANCE_ID] [bigint] NOT NULL,
	[QUERYID] [bigint] NOT NULL,
 CONSTRAINT [NCMSchDownloadCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1185470539]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1185470539] ON [dbo].[NCMSchDownloadCriteria]
(
	[QUERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1185470540]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1185470540] ON [dbo].[NCMSchDownloadCriteria]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMSchDownloadCriteria]  WITH CHECK ADD  CONSTRAINT [NCMSchDownloadCriteria_FK1] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[Task_Input] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[NCMSchDownloadCriteria] CHECK CONSTRAINT [NCMSchDownloadCriteria_FK1]
GO
ALTER TABLE [dbo].[NCMSchDownloadCriteria]  WITH CHECK ADD  CONSTRAINT [NCMSchDownloadCriteria_FK2] FOREIGN KEY([QUERYID])
REFERENCES [dbo].[SelectQuery] ([QUERYID])
GO
ALTER TABLE [dbo].[NCMSchDownloadCriteria] CHECK CONSTRAINT [NCMSchDownloadCriteria_FK2]
GO
