USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDeviceSysOID]    Script Date: 6/29/2019 5:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDeviceSysOID](
	[SYSOID] [varchar](100) NOT NULL,
	[MODEL] [varchar](100) NOT NULL,
	[SERIES] [varchar](100) NOT NULL,
	[DEVICETEMPLATEID] [bigint] NOT NULL,
	[OSTYPE] [varchar](150) NULL,
 CONSTRAINT [NCMDeviceSysOID_PK] PRIMARY KEY CLUSTERED 
(
	[SYSOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_725451992]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_725451992] ON [dbo].[NCMDeviceSysOID]
(
	[DEVICETEMPLATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDeviceSysOID] ADD  DEFAULT ('[NA]') FOR [OSTYPE]
GO
ALTER TABLE [dbo].[NCMDeviceSysOID]  WITH CHECK ADD  CONSTRAINT [NCMDeviceSysOID_FK1] FOREIGN KEY([DEVICETEMPLATEID])
REFERENCES [dbo].[NCMDeviceTemplate] ([DEVICETEMPLATEID])
GO
ALTER TABLE [dbo].[NCMDeviceSysOID] CHECK CONSTRAINT [NCMDeviceSysOID_FK1]
GO
