USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPEVARaidDiskLoop]    Script Date: 6/29/2019 5:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPEVARaidDiskLoop](
	[DEVICE_ID] [bigint] NOT NULL,
	[DISK_NAME] [varchar](160) NOT NULL,
	[LOOP_NAME] [varchar](160) NOT NULL,
	[LOOP_STATE] [varchar](250) NOT NULL,
	[PORT_WORLD_WIDE_ID] [varchar](250) NOT NULL,
	[ASSIGNED_LUN] [varchar](250) NULL,
	[LOOP_ID] [varchar](250) NOT NULL,
	[LOOP_ALPA] [varchar](250) NOT NULL,
 CONSTRAINT [HPEVARAIDDISKLOOP_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DISK_NAME] ASC,
	[LOOP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1901190976]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1901190976] ON [dbo].[HPEVARaidDiskLoop]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPEVARaidDiskLoop]  WITH CHECK ADD  CONSTRAINT [HPEVARAIDDISKLOOP_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[HPEVARaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPEVARaidDiskLoop] CHECK CONSTRAINT [HPEVARAIDDISKLOOP_FK1]
GO
