USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SpectraLogicTapeLibrary]    Script Date: 6/29/2019 5:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpectraLogicTapeLibrary](
	[DEVICE_ID] [bigint] NOT NULL,
	[POWER_STATUS] [varchar](250) NOT NULL,
	[FAN_STATUS] [varchar](250) NOT NULL,
	[TAP1_STATUS] [varchar](250) NOT NULL,
	[TAP2_STATUS] [varchar](250) NOT NULL,
	[ENTRY_EXIT_PORT_STATUS] [varchar](250) NOT NULL,
	[PARTITION_COUNT] [int] NOT NULL,
	[DRIVE_COUNT] [int] NOT NULL,
 CONSTRAINT [SPECTRALOGICTAPELIBRARY_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__143151888]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__143151888] ON [dbo].[SpectraLogicTapeLibrary]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SpectraLogicTapeLibrary]  WITH CHECK ADD  CONSTRAINT [SPECTRALOGICTAPELIBRARY_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SpectraLogicTapeLibrary] CHECK CONSTRAINT [SPECTRALOGICTAPELIBRARY_FK1]
GO
