USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCUnityJobs]    Script Date: 6/29/2019 5:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCUnityJobs](
	[ID] [bigint] NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[TITLE] [varchar](100) NULL,
	[JOB_TYPE] [varchar](100) NULL,
	[STATE] [varchar](100) NULL,
	[RESULT] [varchar](1000) NULL,
	[ELASPED_TIME] [varchar](100) NULL,
	[ESTIMATED_TIME_LEFT] [varchar](100) NULL,
	[PERCENT_COMPLETED] [varchar](100) NULL,
	[ASSOCIATED_OBJECTS] [varchar](100) NULL,
 CONSTRAINT [EMCUnityJobs_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__331010467]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__331010467] ON [dbo].[EMCUnityJobs]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCUnityJobs]  WITH CHECK ADD  CONSTRAINT [EMCUnityJobs_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCUnityJobs] CHECK CONSTRAINT [EMCUnityJobs_FK1]
GO
