USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiskPillarAxiom]    Script Date: 6/29/2019 5:47:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiskPillarAxiom](
	[DISK_ID] [bigint] NOT NULL,
	[IS_SPARE] [varchar](250) NULL,
 CONSTRAINT [DiskPillarAxiom_PK] PRIMARY KEY CLUSTERED 
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1550672950]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1550672950] ON [dbo].[DiskPillarAxiom]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiskPillarAxiom]  WITH CHECK ADD  CONSTRAINT [DiskPillarAxiom_FK1] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[SANDiskDrive] ([DISK_ID])
GO
ALTER TABLE [dbo].[DiskPillarAxiom] CHECK CONSTRAINT [DiskPillarAxiom_FK1]
GO
