USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MSSQLWMIPolledData]    Script Date: 6/29/2019 5:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSSQLWMIPolledData](
	[COLLECTDATAID] [bigint] NOT NULL,
 CONSTRAINT [MSSQLWMIPolledData_PK1] PRIMARY KEY CLUSTERED 
(
	[COLLECTDATAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1083215232]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1083215232] ON [dbo].[MSSQLWMIPolledData]
(
	[COLLECTDATAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MSSQLWMIPolledData]  WITH CHECK ADD  CONSTRAINT [MSSQLWMIPolledData_FK1] FOREIGN KEY([COLLECTDATAID])
REFERENCES [dbo].[WMIPolledData] ([COLLECTDATAID])
GO
ALTER TABLE [dbo].[MSSQLWMIPolledData] CHECK CONSTRAINT [MSSQLWMIPolledData_FK1]
GO
