USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XCHGSERVICES]    Script Date: 6/29/2019 5:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XCHGSERVICES](
	[SERVICEDEFINITIONID] [int] NOT NULL,
	[VERSION] [int] NOT NULL,
	[DEFAULTSERVICE] [bit] NOT NULL,
 CONSTRAINT [XCHGSERVICES_PK] PRIMARY KEY CLUSTERED 
(
	[SERVICEDEFINITIONID] ASC,
	[VERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1158161628]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1158161628] ON [dbo].[XCHGSERVICES]
(
	[SERVICEDEFINITIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XCHGSERVICES] ADD  DEFAULT ((0)) FOR [DEFAULTSERVICE]
GO
ALTER TABLE [dbo].[XCHGSERVICES]  WITH CHECK ADD  CONSTRAINT [XCHGSERVICES_FK] FOREIGN KEY([SERVICEDEFINITIONID])
REFERENCES [dbo].[ServicesDefinition] ([SERVICEDEFINITIONID])
GO
ALTER TABLE [dbo].[XCHGSERVICES] CHECK CONSTRAINT [XCHGSERVICES_FK]
GO
