USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMUserViewDC]    Script Date: 6/29/2019 5:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMUserViewDC](
	[ACCOUNT_ID] [bigint] NOT NULL,
	[VIEW_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMUserViewDC_PK] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_165353652]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_165353652] ON [dbo].[NCMUserViewDC]
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_165353653]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_165353653] ON [dbo].[NCMUserViewDC]
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMUserViewDC]  WITH CHECK ADD  CONSTRAINT [NCMUserViewDC_FK1] FOREIGN KEY([VIEW_ID])
REFERENCES [dbo].[NCMViewDC] ([VIEW_ID])
GO
ALTER TABLE [dbo].[NCMUserViewDC] CHECK CONSTRAINT [NCMUserViewDC_FK1]
GO
ALTER TABLE [dbo].[NCMUserViewDC]  WITH CHECK ADD  CONSTRAINT [NCMUserViewDC_FK2] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[AaaAccount] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[NCMUserViewDC] CHECK CONSTRAINT [NCMUserViewDC_FK2]
GO
