USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AdToResourceMapping]    Script Date: 6/29/2019 5:45:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdToResourceMapping](
	[AD_ID] [bigint] NOT NULL,
	[RESOURCES] [nvarchar](1000) NULL,
	[EXCLUDEUSERS] [nvarchar](1000) NULL,
	[LAST_UPDATE_TIME] [nvarchar](50) NULL,
	[ERROR_MESSAGE] [nvarchar](1000) NULL,
	[ISAUTHENTICATION] [bit] NULL,
	[ISFAILED] [bit] NULL,
	[ISDISABLED] [bit] NULL,
 CONSTRAINT [AdToResourceMapping_PK] PRIMARY KEY CLUSTERED 
(
	[AD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1975175471]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1975175471] ON [dbo].[AdToResourceMapping]
(
	[AD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdToResourceMapping] ADD  DEFAULT ((0)) FOR [ISAUTHENTICATION]
GO
ALTER TABLE [dbo].[AdToResourceMapping] ADD  DEFAULT ((0)) FOR [ISFAILED]
GO
ALTER TABLE [dbo].[AdToResourceMapping] ADD  DEFAULT ((0)) FOR [ISDISABLED]
GO
ALTER TABLE [dbo].[AdToResourceMapping]  WITH CHECK ADD  CONSTRAINT [AdToResourceMapping_FK1] FOREIGN KEY([AD_ID])
REFERENCES [dbo].[ActiveDirectoryInfo] ([AD_ID])
GO
ALTER TABLE [dbo].[AdToResourceMapping] CHECK CONSTRAINT [AdToResourceMapping_FK1]
GO
