USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FARadiusServerSettings]    Script Date: 6/29/2019 5:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FARadiusServerSettings](
	[RADIUSID] [bigint] NOT NULL,
	[RADIUS_IP] [nvarchar](200) NOT NULL,
	[RADIUS_AUTH_PORT] [bigint] NOT NULL,
	[RADIUS_SECRET] [varbinary](max) NOT NULL,
	[AUTH_TYPE] [nvarchar](200) NOT NULL,
	[AUTH_RETRIES] [bigint] NOT NULL,
 CONSTRAINT [RADIUSSERVER_PK] PRIMARY KEY CLUSTERED 
(
	[RADIUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
