USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RestApiLCPFilters]    Script Date: 6/29/2019 5:51:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestApiLCPFilters](
	[ID] [bigint] NOT NULL,
	[TOPOMAPPER] [bit] NOT NULL,
	[SOCIALITPLUS] [bit] NOT NULL,
	[RACKBUILDER] [bit] NOT NULL,
	[CIM] [bit] NOT NULL,
	[VMMANAGER] [bit] NOT NULL,
	[DEMO] [bit] NOT NULL,
	[NETFLOW] [bit] NOT NULL,
	[NCM] [bit] NOT NULL,
	[NDP] [bit] NOT NULL,
	[OPUTILS] [bit] NOT NULL,
	[FWA] [bit] NOT NULL,
 CONSTRAINT [RestApiLCPFilters_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__558244260]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__558244260] ON [dbo].[RestApiLCPFilters]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RestApiLCPFilters]  WITH CHECK ADD  CONSTRAINT [RestApiLCPFilters_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[RestApiOperation] ([ID])
GO
ALTER TABLE [dbo].[RestApiLCPFilters] CHECK CONSTRAINT [RestApiLCPFilters_FK]
GO
