USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarSlammerControlUnitMotherBoard]    Script Date: 6/29/2019 5:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarSlammerControlUnitMotherBoard](
	[SLAMMER_DEVICE_ID] [bigint] NOT NULL,
	[SLAMMER_INSTANCE] [int] NOT NULL,
	[CONTROL_UNIT_INSTANCE] [int] NOT NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NULL,
	[NUMBER_OF_PROCESSORS] [varchar](250) NULL,
 CONSTRAINT [PillarSlammerControlUnitMotherBoard_PK] PRIMARY KEY CLUSTERED 
(
	[SLAMMER_DEVICE_ID] ASC,
	[CONTROL_UNIT_INSTANCE] ASC,
	[SERIAL_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1321592585]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1321592585] ON [dbo].[PillarSlammerControlUnitMotherBoard]
(
	[SLAMMER_DEVICE_ID] ASC,
	[CONTROL_UNIT_INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarSlammerControlUnitMotherBoard]  WITH CHECK ADD  CONSTRAINT [PillarSlammerControlUnitMotherBoard_FK] FOREIGN KEY([SLAMMER_DEVICE_ID], [CONTROL_UNIT_INSTANCE])
REFERENCES [dbo].[PillarSlammerControlUnit] ([SLAMMER_DEVICE_ID], [CONTROL_UNIT_INSTANCE])
GO
ALTER TABLE [dbo].[PillarSlammerControlUnitMotherBoard] CHECK CONSTRAINT [PillarSlammerControlUnitMotherBoard_FK]
GO
