USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnapshotAdditionalParams]    Script Date: 6/29/2019 5:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnapshotAdditionalParams](
	[ASSOCIATIONID] [bigint] NOT NULL,
	[PARAMETER] [varchar](250) NOT NULL,
	[PARAMVALUE] [varchar](250) NOT NULL,
	[PARAMTYPE] [varchar](250) NULL,
	[DISPLAYNAME] [varchar](500) NULL,
 CONSTRAINT [SnapshotAdditionalParams_PK] PRIMARY KEY CLUSTERED 
(
	[ASSOCIATIONID] ASC,
	[PARAMETER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1858447710]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1858447710] ON [dbo].[SnapshotAdditionalParams]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnapshotAdditionalParams]  WITH CHECK ADD  CONSTRAINT [SnapshotAdditionalParams_FK1] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[SnapshotAssociation] ([ASSOCIATIONID])
GO
ALTER TABLE [dbo].[SnapshotAdditionalParams] CHECK CONSTRAINT [SnapshotAdditionalParams_FK1]
GO
