USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSBackPlanePort]    Script Date: 6/29/2019 5:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSBackPlanePort](
	[ID] [bigint] NOT NULL,
	[IO_MODULE_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[SOLT_ID] [int] NOT NULL,
	[DN] [varchar](50) NOT NULL,
	[ADMINSPEED] [varchar](150) NOT NULL,
	[ADMINSTATE] [varchar](150) NOT NULL,
	[IFROLE] [varchar](100) NOT NULL,
	[IFTYPE] [varchar](100) NOT NULL,
	[LOCALE] [varchar](50) NOT NULL,
	[MAC_ADDRESS] [varchar](100) NOT NULL,
	[MODE] [varchar](50) NOT NULL,
	[MODEL] [varchar](100) NOT NULL,
	[OPERSTATE] [varchar](50) NOT NULL,
	[PEERDN] [varchar](250) NOT NULL,
	[PORTCHANNEL] [varchar](250) NOT NULL,
	[CHASSIS_ID] [bigint] NOT NULL,
	[PEER_PORT_ID] [bigint] NOT NULL,
	[PEER_SLOT_ID] [bigint] NOT NULL,
	[PORT_ID] [bigint] NOT NULL,
	[REVISION] [varchar](250) NOT NULL,
	[SERIAL] [varchar](250) NOT NULL,
	[SWITCH_ID] [varchar](250) NOT NULL,
	[TRANSPORT] [varchar](250) NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
	[VENDOR] [varchar](250) NOT NULL,
 CONSTRAINT [UCSBackPlanePort_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1147093218]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1147093218] ON [dbo].[UCSBackPlanePort]
(
	[IO_MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UCSBackPlanePort] ADD  DEFAULT ('-1') FOR [CHASSIS_ID]
GO
ALTER TABLE [dbo].[UCSBackPlanePort] ADD  DEFAULT ('-1') FOR [PEER_PORT_ID]
GO
ALTER TABLE [dbo].[UCSBackPlanePort] ADD  DEFAULT ('-1') FOR [PEER_SLOT_ID]
GO
ALTER TABLE [dbo].[UCSBackPlanePort] ADD  DEFAULT ('-1') FOR [PORT_ID]
GO
ALTER TABLE [dbo].[UCSBackPlanePort]  WITH CHECK ADD  CONSTRAINT [UCSBackPlanePort_FK1] FOREIGN KEY([IO_MODULE_ID])
REFERENCES [dbo].[UCSIOModule] ([IO_MODULE_ID])
GO
ALTER TABLE [dbo].[UCSBackPlanePort] CHECK CONSTRAINT [UCSBackPlanePort_FK1]
GO
