USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[String_Expressions]    Script Date: 6/29/2019 5:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[String_Expressions](
	[STRING_EXPRESSION_ID] [bigint] NOT NULL,
 CONSTRAINT [String_Expressions_PK] PRIMARY KEY CLUSTERED 
(
	[STRING_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2037981335]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2037981335] ON [dbo].[String_Expressions]
(
	[STRING_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[String_Expressions]  WITH CHECK ADD  CONSTRAINT [String_Expressions_FK] FOREIGN KEY([STRING_EXPRESSION_ID])
REFERENCES [dbo].[Expressions] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[String_Expressions] CHECK CONSTRAINT [String_Expressions_FK]
GO
