USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMUserInputKey]    Script Date: 6/29/2019 5:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMUserInputKey](
	[DEVICEPROTOCOLID] [bigint] NOT NULL,
	[OPERATIONID] [bigint] NOT NULL,
	[USERINPUTKEY] [varchar](50) NOT NULL,
 CONSTRAINT [NCMUserInputKey_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICEPROTOCOLID] ASC,
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_151537605]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_151537605] ON [dbo].[NCMUserInputKey]
(
	[DEVICEPROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_151537606]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_151537606] ON [dbo].[NCMUserInputKey]
(
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMUserInputKey]  WITH CHECK ADD  CONSTRAINT [NCMUserInputKey_FK1] FOREIGN KEY([DEVICEPROTOCOLID])
REFERENCES [dbo].[NCMProtocolCombination] ([DEVICEPROTOCOLID])
GO
ALTER TABLE [dbo].[NCMUserInputKey] CHECK CONSTRAINT [NCMUserInputKey_FK1]
GO
ALTER TABLE [dbo].[NCMUserInputKey]  WITH CHECK ADD  CONSTRAINT [NCMUserInputKey_FK2] FOREIGN KEY([OPERATIONID])
REFERENCES [dbo].[NCMOperation] ([OPERATIONID])
GO
ALTER TABLE [dbo].[NCMUserInputKey] CHECK CONSTRAINT [NCMUserInputKey_FK2]
GO
