USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HDSStorageVolume]    Script Date: 6/29/2019 5:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDSStorageVolume](
	[RAID_DEVICE_ID] [bigint] NOT NULL,
	[VOLUME_NAME] [varchar](250) NOT NULL,
	[VOLUME_ID] [varchar](250) NULL,
	[VOLUME_ELTNAME] [varchar](250) NULL,
	[VOLUME_ERRLEVEL] [varchar](250) NULL,
	[VOLUME_TOTSIZE] [varchar](250) NULL,
	[VOLUME_CONSIZE] [varchar](250) NULL,
	[VOLUME_PRIMORDIAL] [varchar](250) NULL,
	[VOLUME_STATUS] [varchar](250) NULL,
	[VOLUME_HSTATE] [varchar](250) NULL,
	[DEF_CTLR] [varchar](250) NULL,
	[CURR_CTLR] [varchar](250) NULL,
 CONSTRAINT [HDSStorageVolume_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_DEVICE_ID] ASC,
	[VOLUME_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1161143253]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1161143253] ON [dbo].[HDSStorageVolume]
(
	[RAID_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HDSStorageVolume]  WITH CHECK ADD  CONSTRAINT [HDSStorageVolume_FK1] FOREIGN KEY([RAID_DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HDSStorageVolume] CHECK CONSTRAINT [HDSStorageVolume_FK1]
GO
