USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwHostNetworkMap]    Script Date: 6/29/2019 5:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwHostNetworkMap](
	[VHOST_ID] [bigint] NOT NULL,
	[NETWORK_ID] [bigint] NOT NULL,
 CONSTRAINT [VwHostNetworkMap_PK] PRIMARY KEY CLUSTERED 
(
	[VHOST_ID] ASC,
	[NETWORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1238487332]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1238487332] ON [dbo].[VwHostNetworkMap]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1238487333]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1238487333] ON [dbo].[VwHostNetworkMap]
(
	[NETWORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwHostNetworkMap]  WITH CHECK ADD  CONSTRAINT [VwHostNetworkMap_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VwHOSTPROPS] ([VHOST_ID])
GO
ALTER TABLE [dbo].[VwHostNetworkMap] CHECK CONSTRAINT [VwHostNetworkMap_FK1]
GO
ALTER TABLE [dbo].[VwHostNetworkMap]  WITH CHECK ADD  CONSTRAINT [VwHostNetworkMap_FK2] FOREIGN KEY([NETWORK_ID])
REFERENCES [dbo].[VwNETWORKPROPS] ([NETWORK_ID])
GO
ALTER TABLE [dbo].[VwHostNetworkMap] CHECK CONSTRAINT [VwHostNetworkMap_FK2]
GO
