USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Operations]    Script Date: 6/29/2019 5:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operations](
	[PERSONALITYNAME] [varchar](100) NOT NULL,
	[OPERATIONNAME] [varchar](30) NOT NULL,
 CONSTRAINT [OP_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYNAME] ASC,
	[OPERATIONNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
