USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenServerCPUProps]    Script Date: 6/29/2019 5:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenServerCPUProps](
	[CPU_ID] [bigint] NOT NULL,
	[UUID] [varchar](150) NOT NULL,
	[CPU_NAME] [varchar](20) NOT NULL,
	[XENSERVER_ID] [bigint] NOT NULL,
	[MODEL_NAME] [varchar](100) NULL,
	[MODEL_NUMBER] [bigint] NULL,
	[CPU_SPEED_MHZ] [bigint] NULL,
	[VENDOR] [varchar](50) NULL,
	[STEPPING] [varchar](50) NULL,
 CONSTRAINT [XenServerCPUProps_PK1] PRIMARY KEY CLUSTERED 
(
	[CPU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [XenServerCPUProps_UK0] UNIQUE NONCLUSTERED 
(
	[UUID] ASC,
	[CPU_NAME] ASC,
	[XENSERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__900023367]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__900023367] ON [dbo].[XenServerCPUProps]
(
	[XENSERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenServerCPUProps]  WITH CHECK ADD  CONSTRAINT [XenServerCPUProps_FK1] FOREIGN KEY([XENSERVER_ID])
REFERENCES [dbo].[XenServerProps] ([XENSERVER_ID])
GO
ALTER TABLE [dbo].[XenServerCPUProps] CHECK CONSTRAINT [XenServerCPUProps_FK1]
GO
