USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Alerts]    Script Date: 6/29/2019 5:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerts](
	[ALERT_ID] [bigint] NOT NULL,
	[ALERT_NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](350) NOT NULL,
	[TOOL_ID] [varchar](50) NOT NULL,
	[EMAIL_ENABLED] [bit] NOT NULL,
	[SYSLOG_ENABLED] [bit] NOT NULL,
	[PLUGIN_ENABLED] [bit] NOT NULL,
	[FEATURE_ID] [varchar](50) NULL,
 CONSTRAINT [Alerts_PK] PRIMARY KEY CLUSTERED 
(
	[ALERT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__363554172]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__363554172] ON [dbo].[Alerts]
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alerts] ADD  DEFAULT ((0)) FOR [EMAIL_ENABLED]
GO
ALTER TABLE [dbo].[Alerts] ADD  DEFAULT ((0)) FOR [SYSLOG_ENABLED]
GO
ALTER TABLE [dbo].[Alerts] ADD  DEFAULT ((0)) FOR [PLUGIN_ENABLED]
GO
ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD  CONSTRAINT [Alerts_FK1] FOREIGN KEY([TOOL_ID])
REFERENCES [dbo].[Tool] ([TOOL_ID])
GO
ALTER TABLE [dbo].[Alerts] CHECK CONSTRAINT [Alerts_FK1]
GO
