USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMTS3200TapeLibrary]    Script Date: 6/29/2019 5:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMTS3200TapeLibrary](
	[DEVICE_ID] [bigint] NOT NULL,
	[IMPORT_EXPORT_COUNT] [varchar](250) NOT NULL,
	[NUM_TRANSPORT_ELEMENTS] [varchar](250) NOT NULL,
	[LIBRARY_MOVES] [varchar](250) NOT NULL,
	[SLOT_FETCH_RETRIES] [varchar](250) NOT NULL,
	[SLOT_STOW_RETRIES] [varchar](250) NOT NULL,
	[DRIVE_FETCH_RETRIES] [varchar](250) NOT NULL,
	[DRIVE_STOW_RETRIES] [varchar](250) NOT NULL,
	[DOOR_STATE] [varchar](250) NOT NULL,
	[IMPORT_EXPORT_STATE] [varchar](250) NOT NULL,
 CONSTRAINT [IBMTS3200TapeLibrary_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_709418676]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_709418676] ON [dbo].[IBMTS3200TapeLibrary]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMTS3200TapeLibrary]  WITH CHECK ADD  CONSTRAINT [IBMTS3200TapeLibrary_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMTS3200TapeLibrary] CHECK CONSTRAINT [IBMTS3200TapeLibrary_FK1]
GO
