USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VMDiskStatsHourly]    Script Date: 6/29/2019 5:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMDiskStatsHourly](
	[VMDISK_ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[READ_KBPS] [bigint] NOT NULL,
	[WRITE_KBPS] [bigint] NOT NULL,
	[NUM_READ] [bigint] NOT NULL,
	[NUM_WRITE] [bigint] NOT NULL,
	[NUM_BUSRESET] [bigint] NOT NULL,
 CONSTRAINT [VMDiskStatsHourly_PK] PRIMARY KEY CLUSTERED 
(
	[VMDISK_ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
