USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HDSRaidDrive]    Script Date: 6/29/2019 5:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDSRaidDrive](
	[RAID_DEVICE_ID] [bigint] NOT NULL,
	[DRIVE_NAME] [varchar](250) NOT NULL,
	[DRIVE_ID] [varchar](250) NULL,
	[CONSUMABLE_SIZE] [varchar](250) NULL,
	[HEALTH_STATE] [varchar](250) NULL,
	[FIRMWARE] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[MANUFACTURER] [varchar](250) NULL,
	[EQPT_TYPE] [varchar](250) NULL,
 CONSTRAINT [HDSRaidDrive_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_DEVICE_ID] ASC,
	[DRIVE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2130010582]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2130010582] ON [dbo].[HDSRaidDrive]
(
	[RAID_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HDSRaidDrive]  WITH CHECK ADD  CONSTRAINT [HDSRaidDrive_FK1] FOREIGN KEY([RAID_DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HDSRaidDrive] CHECK CONSTRAINT [HDSRaidDrive_FK1]
GO
