USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CollectorToURVMapping]    Script Date: 6/29/2019 5:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectorToURVMapping](
	[CID] [bigint] NOT NULL,
	[VIEW_ID] [bigint] NOT NULL,
	[DISPLAYNAME] [nvarchar](100) NULL,
 CONSTRAINT [CollectorToURVMapping_PK] PRIMARY KEY CLUSTERED 
(
	[CID] ASC,
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__536358965]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__536358965] ON [dbo].[CollectorToURVMapping]
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__536358966]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__536358966] ON [dbo].[CollectorToURVMapping]
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CollectorToURVMapping]  WITH CHECK ADD  CONSTRAINT [CollectorToURVMapping_FK1] FOREIGN KEY([CID])
REFERENCES [dbo].[Collectors] ([CID])
GO
ALTER TABLE [dbo].[CollectorToURVMapping] CHECK CONSTRAINT [CollectorToURVMapping_FK1]
GO
ALTER TABLE [dbo].[CollectorToURVMapping]  WITH CHECK ADD  CONSTRAINT [CollectorToURVMapping_FK2] FOREIGN KEY([VIEW_ID])
REFERENCES [dbo].[UserResourceView] ([VIEW_ID])
GO
ALTER TABLE [dbo].[CollectorToURVMapping] CHECK CONSTRAINT [CollectorToURVMapping_FK2]
GO
