USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ClariionStorageGroupHBAPortMap]    Script Date: 6/29/2019 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClariionStorageGroupHBAPortMap](
	[DEVICE_ID] [bigint] NOT NULL,
	[STORAGE_GROUP_NAME] [varchar](150) NOT NULL,
	[LINK_ID] [varchar](150) NOT NULL,
	[HBA_ID] [varchar](300) NOT NULL,
	[SP] [varchar](250) NOT NULL,
	[PORT] [varchar](250) NOT NULL,
 CONSTRAINT [ClariionStorageGroupHBAPortMap_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[STORAGE_GROUP_NAME] ASC,
	[LINK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1925640450]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1925640450] ON [dbo].[ClariionStorageGroupHBAPortMap]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClariionStorageGroupHBAPortMap]  WITH CHECK ADD  CONSTRAINT [ClariionStorageGroupHBAPortMap_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ClariionStorageGroupHBAPortMap] CHECK CONSTRAINT [ClariionStorageGroupHBAPortMap_FK1]
GO
