USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ServiceConfiguration]    Script Date: 6/29/2019 5:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceConfiguration](
	[SERVICEIDENTIFIER] [varchar](250) NOT NULL,
	[SERVICENAME] [varchar](25) NOT NULL,
 CONSTRAINT [ServConf_PK] PRIMARY KEY CLUSTERED 
(
	[SERVICEIDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1045679816]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1045679816] ON [dbo].[ServiceConfiguration]
(
	[SERVICEIDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceConfiguration]  WITH CHECK ADD  CONSTRAINT [ServConf_FK2] FOREIGN KEY([SERVICEIDENTIFIER])
REFERENCES [dbo].[DiscoveryConfiguration] ([NAME])
GO
ALTER TABLE [dbo].[ServiceConfiguration] CHECK CONSTRAINT [ServConf_FK2]
GO
