USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MSCluster]    Script Date: 6/29/2019 5:49:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSCluster](
	[VHOST_NAME] [varchar](150) NOT NULL,
	[VM_NAME] [varchar](150) NOT NULL,
 CONSTRAINT [MSCluster_PK] PRIMARY KEY CLUSTERED 
(
	[VHOST_NAME] ASC,
	[VM_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
