USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPEVADiskEnclosureFan]    Script Date: 6/29/2019 5:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPEVADiskEnclosureFan](
	[DEVICE_ID] [bigint] NOT NULL,
	[ENCLOSURE_NAME] [varchar](160) NOT NULL,
	[FAN_NAME] [varchar](160) NOT NULL,
	[OPER_STATE] [varchar](250) NULL,
	[FAILURE_PREDICTED] [varchar](250) NULL,
	[REQUESTED_SPEED] [varchar](250) NULL,
	[ACTUAL_SPEED] [varchar](250) NULL,
 CONSTRAINT [HPEVADISKENCLOSUREFAN_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[ENCLOSURE_NAME] ASC,
	[FAN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_507608691]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_507608691] ON [dbo].[HPEVADiskEnclosureFan]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPEVADiskEnclosureFan]  WITH CHECK ADD  CONSTRAINT [HPEVADISKENCLOSUREFAN_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[HPEVARaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPEVADiskEnclosureFan] CHECK CONSTRAINT [HPEVADISKENCLOSUREFAN_FK1]
GO
