USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Conversion]    Script Date: 6/29/2019 5:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversion](
	[CONVERSIONID] [varchar](250) NOT NULL,
	[PERSONALITYNAME] [varchar](250) NULL,
 CONSTRAINT [Conversion_PK] PRIMARY KEY CLUSTERED 
(
	[CONVERSIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
