USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FDBTable]    Script Date: 6/29/2019 5:47:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FDBTable](
	[VLAN_ID] [bigint] NOT NULL,
	[MACADDRESS] [varchar](17) NOT NULL,
	[ISTRUNKPORT] [bit] NOT NULL,
	[PORT_STATUS] [int] NOT NULL,
	[IS_MULTIMAC_VLAN] [bit] NOT NULL,
 CONSTRAINT [FDBTable_PK] PRIMARY KEY CLUSTERED 
(
	[VLAN_ID] ASC,
	[MACADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FDBTable_IDX_1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [FDBTable_IDX_1] ON [dbo].[FDBTable]
(
	[MACADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1557012169]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1557012169] ON [dbo].[FDBTable]
(
	[VLAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FDBTable] ADD  DEFAULT ((0)) FOR [ISTRUNKPORT]
GO
ALTER TABLE [dbo].[FDBTable] ADD  DEFAULT ('1') FOR [PORT_STATUS]
GO
ALTER TABLE [dbo].[FDBTable] ADD  DEFAULT ((0)) FOR [IS_MULTIMAC_VLAN]
GO
ALTER TABLE [dbo].[FDBTable]  WITH CHECK ADD  CONSTRAINT [FDBTable_FK1] FOREIGN KEY([VLAN_ID])
REFERENCES [dbo].[SPMVlan] ([ID])
GO
ALTER TABLE [dbo].[FDBTable] CHECK CONSTRAINT [FDBTable_FK1]
GO
