USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SSIDGroup_CollectorMap]    Script Date: 6/29/2019 5:51:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSIDGroup_CollectorMap](
	[SSID_GROUP_ID] [int] NOT NULL,
	[COLLECTOR_ID] [int] NOT NULL,
 CONSTRAINT [SSIDGroup_CollectorMap_PK] PRIMARY KEY CLUSTERED 
(
	[SSID_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1495433065]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1495433065] ON [dbo].[SSIDGroup_CollectorMap]
(
	[COLLECTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__186787110]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__186787110] ON [dbo].[SSIDGroup_CollectorMap]
(
	[SSID_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SSIDGroup_CollectorMap] ADD  DEFAULT ('0') FOR [COLLECTOR_ID]
GO
ALTER TABLE [dbo].[SSIDGroup_CollectorMap]  WITH CHECK ADD  CONSTRAINT [SSIDGroup_CollectorMap_FK] FOREIGN KEY([SSID_GROUP_ID])
REFERENCES [dbo].[SSIDGroupInfo] ([SSID_GROUP_ID])
GO
ALTER TABLE [dbo].[SSIDGroup_CollectorMap] CHECK CONSTRAINT [SSIDGroup_CollectorMap_FK]
GO
ALTER TABLE [dbo].[SSIDGroup_CollectorMap]  WITH CHECK ADD  CONSTRAINT [SSIDGroup_CollectorMap_FK1] FOREIGN KEY([COLLECTOR_ID])
REFERENCES [dbo].[Collector_Properties] ([COLLECTOR_ID])
GO
ALTER TABLE [dbo].[SSIDGroup_CollectorMap] CHECK CONSTRAINT [SSIDGroup_CollectorMap_FK1]
GO
