USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RBTaskAssocAdditionalProp]    Script Date: 6/29/2019 5:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RBTaskAssocAdditionalProp](
	[ASSOCID] [bigint] NOT NULL,
	[PROPNAME] [varchar](200) NOT NULL,
	[PROPVALUE] [text] NOT NULL,
 CONSTRAINT [RBTaskAssocAdditionalProp_PK1] PRIMARY KEY CLUSTERED 
(
	[ASSOCID] ASC,
	[PROPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_880125911]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_880125911] ON [dbo].[RBTaskAssocAdditionalProp]
(
	[ASSOCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RBTaskAssocAdditionalProp]  WITH CHECK ADD  CONSTRAINT [RBTaskAssocAdditionalProp_FK1] FOREIGN KEY([ASSOCID])
REFERENCES [dbo].[RunBookTaskAssociation] ([ASSOCID])
GO
ALTER TABLE [dbo].[RBTaskAssocAdditionalProp] CHECK CONSTRAINT [RBTaskAssocAdditionalProp_FK1]
GO
