USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[JuniperSRX]    Script Date: 6/29/2019 5:48:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JuniperSRX](
	[RESOURCEID] [bigint] NOT NULL,
	[RELEASE_VER] [varchar](100) NOT NULL,
 CONSTRAINT [JuniperSRX_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_85905871]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_85905871] ON [dbo].[JuniperSRX]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JuniperSRX] ADD  DEFAULT ('Not Available') FOR [RELEASE_VER]
GO
ALTER TABLE [dbo].[JuniperSRX]  WITH CHECK ADD  CONSTRAINT [JuniperSRX_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[JuniperSRX] CHECK CONSTRAINT [JuniperSRX_FK1]
GO
