USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Pattern_Template_Vars]    Script Date: 6/29/2019 5:50:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pattern_Template_Vars](
	[PATTERN_EXPR_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [bigint] NOT NULL,
	[VARIABLE_NAME] [varchar](100) NOT NULL,
	[PATTERN_INDEX] [bigint] NULL,
 CONSTRAINT [Pattern_Template_Vars_PK] PRIMARY KEY CLUSTERED 
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1181027870]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1181027870] ON [dbo].[Pattern_Template_Vars]
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_2042841743]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2042841743] ON [dbo].[Pattern_Template_Vars]
(
	[TEMPLATE_ID] ASC,
	[VARIABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2042841744]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2042841744] ON [dbo].[Pattern_Template_Vars]
(
	[PATTERN_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pattern_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Pattern_Template_Vars_FK] FOREIGN KEY([PATTERN_EXPR_ID])
REFERENCES [dbo].[Pattern_Expressions] ([PATTERN_EXPR_ID])
GO
ALTER TABLE [dbo].[Pattern_Template_Vars] CHECK CONSTRAINT [Pattern_Template_Vars_FK]
GO
ALTER TABLE [dbo].[Pattern_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Pattern_Template_Vars_FK1] FOREIGN KEY([TEMPLATE_ID], [VARIABLE_NAME])
REFERENCES [dbo].[Template_Data] ([TEMPLATE_ID], [VARIABLE_NAME])
GO
ALTER TABLE [dbo].[Pattern_Template_Vars] CHECK CONSTRAINT [Pattern_Template_Vars_FK1]
GO
ALTER TABLE [dbo].[Pattern_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Pattern_Template_Vars_FK2] FOREIGN KEY([PATTERN_INDEX])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Pattern_Template_Vars] CHECK CONSTRAINT [Pattern_Template_Vars_FK2]
GO
