USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SANLUN]    Script Date: 6/29/2019 5:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANLUN](
	[LUN_ID] [bigint] NOT NULL,
	[LUN_UNIQUE_ID] [varchar](500) NOT NULL,
	[LUN_NAME] [varchar](500) NOT NULL,
	[LUN_WWN] [varchar](500) NOT NULL,
	[LUN_STATE] [int] NOT NULL,
	[RAID_MO_NAME] [varchar](500) NOT NULL,
	[COMPONENT_NAME] [varchar](500) NOT NULL,
 CONSTRAINT [SANLUN_PK] PRIMARY KEY CLUSTERED 
(
	[LUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
