USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDeviceCustomTemplate]    Script Date: 6/29/2019 5:49:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDeviceCustomTemplate](
	[DEVICECUSTOMTEMPLATE_ID] [int] NOT NULL,
	[TEMPLATE_ID] [int] NOT NULL,
	[DEVICETEMPLATEID] [bigint] NOT NULL,
 CONSTRAINT [NCMDeviceCustomTemplate_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICECUSTOMTEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2007029542]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2007029542] ON [dbo].[NCMDeviceCustomTemplate]
(
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2007029543]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2007029543] ON [dbo].[NCMDeviceCustomTemplate]
(
	[DEVICETEMPLATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDeviceCustomTemplate]  WITH CHECK ADD  CONSTRAINT [NCMDeviceCustomTemplate_FK1] FOREIGN KEY([TEMPLATE_ID])
REFERENCES [dbo].[NCMTemplate] ([TEMPLATE_ID])
GO
ALTER TABLE [dbo].[NCMDeviceCustomTemplate] CHECK CONSTRAINT [NCMDeviceCustomTemplate_FK1]
GO
ALTER TABLE [dbo].[NCMDeviceCustomTemplate]  WITH CHECK ADD  CONSTRAINT [NCMDeviceCustomTemplate_FK2] FOREIGN KEY([DEVICETEMPLATEID])
REFERENCES [dbo].[NCMDeviceTemplate] ([DEVICETEMPLATEID])
GO
ALTER TABLE [dbo].[NCMDeviceCustomTemplate] CHECK CONSTRAINT [NCMDeviceCustomTemplate_FK2]
GO
