USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FAMailServerSettings]    Script Date: 6/29/2019 5:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMailServerSettings](
	[MAILSERVERID] [bigint] NOT NULL,
	[SMTPSERVER] [nvarchar](200) NOT NULL,
	[SMTPSERVERPORT] [bigint] NOT NULL,
	[USERNAME] [nvarchar](200) NOT NULL,
	[PASSWORD] [nvarchar](200) NOT NULL,
	[AUTH_ON_EVERY_LOGIN] [nvarchar](200) NOT NULL,
	[ACTIVE_TLS] [nvarchar](200) NOT NULL,
	[TYPE] [nvarchar](200) NULL,
	[SENDER_MAILID] [nvarchar](200) NULL,
 CONSTRAINT [FAMailServerSettings_PK] PRIMARY KEY CLUSTERED 
(
	[MAILSERVERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FAMailServerSettings] ADD  DEFAULT ('no') FOR [ACTIVE_TLS]
GO
