USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RexistMap]    Script Date: 6/29/2019 5:51:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RexistMap](
	[ID] [int] NOT NULL,
	[RID] [int] NOT NULL,
	[CONTEXT] [int] NOT NULL,
	[STREAM] [int] NOT NULL,
	[FLAG] [int] NOT NULL,
 CONSTRAINT [RexistMap_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1291160371]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1291160371] ON [dbo].[RexistMap]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RexistMap] ADD  DEFAULT ('0') FOR [FLAG]
GO
ALTER TABLE [dbo].[RexistMap]  WITH CHECK ADD  CONSTRAINT [RexistMap_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[NbaRule] ([RID])
GO
ALTER TABLE [dbo].[RexistMap] CHECK CONSTRAINT [RexistMap_FK]
GO
