USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SmsNotification]    Script Date: 6/29/2019 5:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SmsNotification](
	[SMS_ID] [int] NOT NULL,
	[THRESHOLD_ID] [int] NOT NULL,
	[RECIPIENT_NO] [varbinary](max) NOT NULL,
 CONSTRAINT [SMSNotification_PK] PRIMARY KEY CLUSTERED 
(
	[SMS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1782155744]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1782155744] ON [dbo].[SmsNotification]
(
	[THRESHOLD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SmsNotification]  WITH CHECK ADD  CONSTRAINT [SMSNotification_FK] FOREIGN KEY([THRESHOLD_ID])
REFERENCES [dbo].[AlertThreshold] ([THRESHOLD_ID])
GO
ALTER TABLE [dbo].[SmsNotification] CHECK CONSTRAINT [SMSNotification_FK]
GO
