USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenPIFToNetworkMap]    Script Date: 6/29/2019 5:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenPIFToNetworkMap](
	[PIF_ID] [bigint] NOT NULL,
	[NETWORK_ID] [bigint] NOT NULL,
 CONSTRAINT [XenPIFToNetworkMap_PK] PRIMARY KEY CLUSTERED 
(
	[PIF_ID] ASC,
	[NETWORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1446745373]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1446745373] ON [dbo].[XenPIFToNetworkMap]
(
	[PIF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1446745374]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1446745374] ON [dbo].[XenPIFToNetworkMap]
(
	[NETWORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenPIFToNetworkMap]  WITH CHECK ADD  CONSTRAINT [XenPIFToNetworkMap_FK1] FOREIGN KEY([NETWORK_ID])
REFERENCES [dbo].[XenNetworkProps] ([NETWORK_ID])
GO
ALTER TABLE [dbo].[XenPIFToNetworkMap] CHECK CONSTRAINT [XenPIFToNetworkMap_FK1]
GO
ALTER TABLE [dbo].[XenPIFToNetworkMap]  WITH CHECK ADD  CONSTRAINT [XenPIFToNetworkMap_FK2] FOREIGN KEY([PIF_ID])
REFERENCES [dbo].[XenServerPIFProps] ([PIF_ID])
GO
ALTER TABLE [dbo].[XenPIFToNetworkMap] CHECK CONSTRAINT [XenPIFToNetworkMap_FK2]
GO
