USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CalendarSchedule]    Script Date: 6/29/2019 5:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalendarSchedule](
	[CS_SCHEDULEID] [bigint] NOT NULL,
	[CS_REPEAT_FREQUENCY] [varchar](150) NOT NULL,
	[CS_TIME_OF_DAY] [bigint] NOT NULL,
	[CS_UNIT_OF_TIME] [varchar](20) NOT NULL,
	[CS_DAY_OF_WEEK] [int] NOT NULL,
	[CS_WEEK_OF_MONTH] [int] NOT NULL,
	[CS_DATE_OF_MONTH] [int] NOT NULL,
	[CS_MONTH_OF_YEAR] [int] NOT NULL,
	[CS_YEAR_OF_LEAP_YEAR] [int] NOT NULL,
	[CS_YEAR_OF_DECADE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CS_SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CalendarSchedule]  WITH CHECK ADD  CONSTRAINT [CS_FK1] FOREIGN KEY([CS_SCHEDULEID])
REFERENCES [dbo].[OPMSchedule] ([S_SCHEDULEID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CalendarSchedule] CHECK CONSTRAINT [CS_FK1]
GO
