USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduleToDeviceMap]    Script Date: 6/29/2019 5:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleToDeviceMap](
	[SCHEDULEID] [bigint] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
 CONSTRAINT [SchToDeviceMap_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC,
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1125762758]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1125762758] ON [dbo].[ScheduleToDeviceMap]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1291429200]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1291429200] ON [dbo].[ScheduleToDeviceMap]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleToDeviceMap]  WITH CHECK ADD  CONSTRAINT [SchedulerToDeviceMap_FK_1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[ScheduleToDeviceMap] CHECK CONSTRAINT [SchedulerToDeviceMap_FK_1]
GO
ALTER TABLE [dbo].[ScheduleToDeviceMap]  WITH CHECK ADD  CONSTRAINT [ScheduleToDeviceMap_Fk] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleDetails] ([ID])
GO
ALTER TABLE [dbo].[ScheduleToDeviceMap] CHECK CONSTRAINT [ScheduleToDeviceMap_Fk]
GO
