USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OperationsTable]    Script Date: 6/29/2019 5:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationsTable](
	[USERNAME] [varchar](50) NOT NULL,
	[OPERATIONID] [bigint] NOT NULL,
	[TEMPLATENAME] [varchar](50) NULL,
	[SCHEDULEDTIME] [varchar](50) NULL,
	[STAGE] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC,
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
