USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GroupTaskName]    Script Date: 6/29/2019 5:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupTaskName](
	[TASK_ID] [bigint] NOT NULL,
	[TOOL_ID] [varchar](50) NOT NULL,
	[TASK_NAME] [varchar](100) NOT NULL,
	[CREATIONTIME] [datetime] NULL,
	[LAST_SCAN_TIME] [datetime] NULL,
	[OWNER] [varchar](100) NOT NULL,
	[STATUS] [int] NOT NULL,
	[FEATURE_ID] [varchar](50) NULL,
 CONSTRAINT [GroupTaskName_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1946322172]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1946322172] ON [dbo].[GroupTaskName]
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GroupTaskName] ADD  DEFAULT ('0') FOR [STATUS]
GO
ALTER TABLE [dbo].[GroupTaskName]  WITH CHECK ADD  CONSTRAINT [GroupTaskName_FK1] FOREIGN KEY([TOOL_ID])
REFERENCES [dbo].[Tool] ([TOOL_ID])
GO
ALTER TABLE [dbo].[GroupTaskName] CHECK CONSTRAINT [GroupTaskName_FK1]
GO
