USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwEventTemplate]    Script Date: 6/29/2019 5:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwEventTemplate](
	[EVENT_ID] [bigint] NOT NULL,
	[EVENT_NAME] [varchar](100) NOT NULL,
	[SEVERITY] [varchar](30) NOT NULL,
	[USER_BASED] [bit] NOT NULL,
 CONSTRAINT [VwEventTemplate_PK] PRIMARY KEY CLUSTERED 
(
	[EVENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [VwEventTemplate_UK0] UNIQUE NONCLUSTERED 
(
	[EVENT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwEventTemplate] ADD  DEFAULT ((0)) FOR [USER_BASED]
GO
