USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenSRProps]    Script Date: 6/29/2019 5:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenSRProps](
	[SR_ID] [bigint] NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
	[CONTENT_TYPE] [varchar](50) NULL,
	[IS_SHARED] [bit] NOT NULL,
	[PHYSICAL_SIZE_MB] [bigint] NULL,
	[PHYSICAL_UTIL_MB] [bigint] NULL,
	[VIRTUAL_ALLOCATION_MB] [bigint] NULL,
	[CURRENTLY_ATTACHED] [bit] NOT NULL,
	[VDI_COUNT] [int] NOT NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
 CONSTRAINT [XenSRProps_PK] PRIMARY KEY CLUSTERED 
(
	[SR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__552857731]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__552857731] ON [dbo].[XenSRProps]
(
	[SR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenSRProps] ADD  DEFAULT ((0)) FOR [IS_SHARED]
GO
ALTER TABLE [dbo].[XenSRProps] ADD  DEFAULT ((1)) FOR [CURRENTLY_ATTACHED]
GO
ALTER TABLE [dbo].[XenSRProps] ADD  DEFAULT ('0') FOR [VDI_COUNT]
GO
ALTER TABLE [dbo].[XenSRProps]  WITH CHECK ADD  CONSTRAINT [XenSRProps_FK1] FOREIGN KEY([SR_ID])
REFERENCES [dbo].[XenEntityMOMap] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[XenSRProps] CHECK CONSTRAINT [XenSRProps_FK1]
GO
