USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CATEGORYVSSTANDARD]    Script Date: 6/29/2019 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORYVSSTANDARD](
	[CATEGORYID] [bigint] NOT NULL,
	[STANDARDID] [bigint] NOT NULL,
 CONSTRAINT [CATEGORYVSSTANDARD_PK] PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC,
	[STANDARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_385587013]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_385587013] ON [dbo].[CATEGORYVSSTANDARD]
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_385587014]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_385587014] ON [dbo].[CATEGORYVSSTANDARD]
(
	[STANDARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATEGORYVSSTANDARD]  WITH CHECK ADD  CONSTRAINT [CATEGORYVSSTANDARD_FK1] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CategoryDefinition] ([CATEGORYID])
GO
ALTER TABLE [dbo].[CATEGORYVSSTANDARD] CHECK CONSTRAINT [CATEGORYVSSTANDARD_FK1]
GO
ALTER TABLE [dbo].[CATEGORYVSSTANDARD]  WITH CHECK ADD  CONSTRAINT [CATEGORYVSSTANDARD_FK2] FOREIGN KEY([STANDARDID])
REFERENCES [dbo].[STANDARDDETAILS] ([STANDARDID])
GO
ALTER TABLE [dbo].[CATEGORYVSSTANDARD] CHECK CONSTRAINT [CATEGORYVSSTANDARD_FK2]
GO
