USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FujitsuSwitch]    Script Date: 6/29/2019 5:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FujitsuSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[ROMVERSION] [varchar](25) NOT NULL,
 CONSTRAINT [FujitsuSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__171715767]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__171715767] ON [dbo].[FujitsuSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FujitsuSwitch] ADD  DEFAULT ('Not Available') FOR [ROMVERSION]
GO
ALTER TABLE [dbo].[FujitsuSwitch]  WITH CHECK ADD  CONSTRAINT [FujitsuSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[FujitsuSwitch] CHECK CONSTRAINT [FujitsuSwitch_FK1]
GO
