USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMFileContentCorrection]    Script Date: 6/29/2019 5:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMFileContentCorrection](
	[CORRECTION_ID] [bigint] NOT NULL,
	[PERSONALITY_NAME] [varchar](250) NOT NULL,
	[FILE_TYPE] [varchar](20) NOT NULL,
	[OPERATION_TYPE] [varchar](20) NOT NULL,
	[ACTION] [varchar](20) NOT NULL,
	[REGEX] [varchar](100) NOT NULL,
 CONSTRAINT [NCMFileContentCorrection_PK] PRIMARY KEY CLUSTERED 
(
	[CORRECTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMFileContentCorrection] ADD  DEFAULT ('Backup') FOR [OPERATION_TYPE]
GO
