USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RackDetails]    Script Date: 6/29/2019 5:50:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RackDetails](
	[RACKID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[LABEL] [varchar](250) NOT NULL,
	[RACKLENGTH] [int] NOT NULL,
	[RACKNUMBERING] [varchar](50) NOT NULL,
	[RACKORIENTATION] [varchar](50) NOT NULL,
	[RACKBREADTH] [int] NOT NULL,
 CONSTRAINT [RackDetails_PK] PRIMARY KEY CLUSTERED 
(
	[RACKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [RackDetails_UK1] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RackDetails] ADD  DEFAULT ('42') FOR [RACKLENGTH]
GO
ALTER TABLE [dbo].[RackDetails] ADD  DEFAULT ('true') FOR [RACKNUMBERING]
GO
ALTER TABLE [dbo].[RackDetails] ADD  DEFAULT ('FrontBack') FOR [RACKORIENTATION]
GO
ALTER TABLE [dbo].[RackDetails] ADD  DEFAULT ('1') FOR [RACKBREADTH]
GO
