USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiscoveryProfile]    Script Date: 6/29/2019 5:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryProfile](
	[PROFILEID] [bigint] NOT NULL,
	[PROFILENAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](1000) NOT NULL,
	[CLIENTADDRESS] [varchar](100) NOT NULL,
	[USERNAME] [varchar](150) NOT NULL,
	[CREATEDTIME] [bigint] NULL,
 CONSTRAINT [DiscoveryProfile_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DiscoveryProfile_UK0] UNIQUE NONCLUSTERED 
(
	[PROFILENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
