USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPMANAGERHEARTBEAT]    Script Date: 6/29/2019 5:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPMANAGERHEARTBEAT](
	[HEARTBEAT] [bigint] NOT NULL,
 CONSTRAINT [OPMANAGERHEARTBEAT_PK] PRIMARY KEY CLUSTERED 
(
	[HEARTBEAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
