USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FieldsMetaData]    Script Date: 6/29/2019 5:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldsMetaData](
	[ID] [int] NOT NULL,
	[ALIASNAME] [varchar](100) NOT NULL,
	[OBJECTTYPE] [int] NOT NULL,
	[DATATYPE] [varchar](50) NOT NULL,
	[FIELDLENGTH] [int] NULL,
 CONSTRAINT [FieldsMetaData_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2022453397]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2022453397] ON [dbo].[FieldsMetaData]
(
	[OBJECTTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FieldsMetaData]  WITH CHECK ADD  CONSTRAINT [FieldsMetaData_FK1] FOREIGN KEY([OBJECTTYPE])
REFERENCES [dbo].[CustomFieldType] ([TYPEID])
GO
ALTER TABLE [dbo].[FieldsMetaData] CHECK CONSTRAINT [FieldsMetaData_FK1]
GO
