USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwLUNProps]    Script Date: 6/29/2019 5:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwLUNProps](
	[LUN_ID] [bigint] NOT NULL,
	[VCENTER_ID] [bigint] NOT NULL,
	[LUN_UUID] [varchar](150) NOT NULL,
	[CANONICAL_NAME] [varchar](100) NOT NULL,
	[LUN_DISPLAYNAME] [varchar](200) NOT NULL,
	[CAPACITY_MB] [bigint] NULL,
	[LUN_MODEL] [varchar](100) NOT NULL,
	[LUN_TYPE] [varchar](50) NOT NULL,
	[LUN_VENDOR] [varchar](100) NOT NULL,
	[LUN_SERIAL] [varchar](100) NOT NULL,
 CONSTRAINT [VwLUNProps_PK] PRIMARY KEY CLUSTERED 
(
	[LUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [VwLUNProps_UK0] UNIQUE NONCLUSTERED 
(
	[CANONICAL_NAME] ASC,
	[VCENTER_ID] ASC,
	[LUN_UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_865246137]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_865246137] ON [dbo].[VwLUNProps]
(
	[VCENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwLUNProps]  WITH CHECK ADD  CONSTRAINT [VwLUNProps_FK1] FOREIGN KEY([VCENTER_ID])
REFERENCES [dbo].[VwVCENTERPROPS] ([VCENTER_ID])
GO
ALTER TABLE [dbo].[VwLUNProps] CHECK CONSTRAINT [VwLUNProps_FK1]
GO
