USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DeletedMultipleNodeGraphs]    Script Date: 6/29/2019 5:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedMultipleNodeGraphs](
	[MOID] [bigint] NOT NULL,
	[GRAPHID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
 CONSTRAINT [DeletedNodes_PK] PRIMARY KEY CLUSTERED 
(
	[MOID] ASC,
	[GRAPHID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__46018170]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__46018170] ON [dbo].[DeletedMultipleNodeGraphs]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__46018171]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__46018171] ON [dbo].[DeletedMultipleNodeGraphs]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeletedMultipleNodeGraphs]  WITH CHECK ADD  CONSTRAINT [DeletedNodes_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[DeletedMultipleNodeGraphs] CHECK CONSTRAINT [DeletedNodes_FK1]
GO
ALTER TABLE [dbo].[DeletedMultipleNodeGraphs]  WITH CHECK ADD  CONSTRAINT [DeletedNodes_FK2] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[DeletedMultipleNodeGraphs] CHECK CONSTRAINT [DeletedNodes_FK2]
GO
