USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMSchedulePCIReview]    Script Date: 6/29/2019 5:49:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMSchedulePCIReview](
	[INSTANCE_ID] [bigint] NOT NULL,
	[REVIEWER_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMSchedulePCIReview_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_338731116]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_338731116] ON [dbo].[NCMSchedulePCIReview]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_338731117]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_338731117] ON [dbo].[NCMSchedulePCIReview]
(
	[REVIEWER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMSchedulePCIReview]  WITH CHECK ADD  CONSTRAINT [NCMSchedulePCIReview_FK1] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[Task_Input] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[NCMSchedulePCIReview] CHECK CONSTRAINT [NCMSchedulePCIReview_FK1]
GO
ALTER TABLE [dbo].[NCMSchedulePCIReview]  WITH CHECK ADD  CONSTRAINT [NCMSchedulePCIReview_FK2] FOREIGN KEY([REVIEWER_ID])
REFERENCES [dbo].[NCMPCIReviewer] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[NCMSchedulePCIReview] CHECK CONSTRAINT [NCMSchedulePCIReview_FK2]
GO
