USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XCHGMONITORS]    Script Date: 6/29/2019 5:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XCHGMONITORS](
	[GRAPHID] [bigint] NOT NULL,
	[MONITORID] [bigint] NOT NULL,
	[VERSION] [int] NOT NULL,
	[DEFAULTMONITOR] [bit] NOT NULL,
 CONSTRAINT [XCHGMONITORS_PK] PRIMARY KEY CLUSTERED 
(
	[GRAPHID] ASC,
	[VERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1379344559]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1379344559] ON [dbo].[XCHGMONITORS]
(
	[MONITORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1379344560]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1379344560] ON [dbo].[XCHGMONITORS]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XCHGMONITORS] ADD  DEFAULT ((0)) FOR [DEFAULTMONITOR]
GO
ALTER TABLE [dbo].[XCHGMONITORS]  WITH CHECK ADD  CONSTRAINT [XCHGMONITORS_FK1] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[XCHGMONITORS] CHECK CONSTRAINT [XCHGMONITORS_FK1]
GO
ALTER TABLE [dbo].[XCHGMONITORS]  WITH CHECK ADD  CONSTRAINT [XCHGMONITORS_FK2] FOREIGN KEY([MONITORID])
REFERENCES [dbo].[MONITORDETAILS] ([MONITORID])
GO
ALTER TABLE [dbo].[XCHGMONITORS] CHECK CONSTRAINT [XCHGMONITORS_FK2]
GO
