USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VHostCPUInstance]    Script Date: 6/29/2019 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VHostCPUInstance](
	[CPU_ID] [bigint] NOT NULL,
	[VHOST_ID] [bigint] NOT NULL,
	[CPU_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [VHostCPUInstance_PK] PRIMARY KEY CLUSTERED 
(
	[CPU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2131140652]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2131140652] ON [dbo].[VHostCPUInstance]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VHostCPUInstance]  WITH CHECK ADD  CONSTRAINT [VHostCPUInstance_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VHostProps] ([VHOST_ID])
GO
ALTER TABLE [dbo].[VHostCPUInstance] CHECK CONSTRAINT [VHostCPUInstance_FK1]
GO
