USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenServerPools]    Script Date: 6/29/2019 5:53:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenServerPools](
	[POOL_ID] [bigint] NOT NULL,
	[MASTER_UUID] [varchar](50) NOT NULL,
	[VSWITCH_CONTROLLER] [varchar](50) NULL,
	[HA_ENABLED] [bit] NOT NULL,
	[WLB_ENABLED] [bit] NOT NULL,
	[WLB_URL] [varchar](100) NULL,
 CONSTRAINT [XenServerPools_PK] PRIMARY KEY CLUSTERED 
(
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__397757856]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__397757856] ON [dbo].[XenServerPools]
(
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenServerPools] ADD  DEFAULT ((0)) FOR [HA_ENABLED]
GO
ALTER TABLE [dbo].[XenServerPools] ADD  DEFAULT ((0)) FOR [WLB_ENABLED]
GO
ALTER TABLE [dbo].[XenServerPools]  WITH CHECK ADD  CONSTRAINT [XenServerPools_FK1] FOREIGN KEY([POOL_ID])
REFERENCES [dbo].[XenEntityMOMap] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[XenServerPools] CHECK CONSTRAINT [XenServerPools_FK1]
GO
