USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TopoObject]    Script Date: 6/29/2019 5:52:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopoObject](
	[NAME] [varchar](100) NOT NULL,
	[IPADDRESS] [varchar](100) NULL,
	[NETMASK] [varchar](100) NULL,
	[COMMUNITY] [varchar](100) NULL,
	[WRITECOMMUNITY] [varchar](100) NULL,
	[SNMPPORT] [int] NULL,
	[ISDHCP] [varchar](10) NULL,
	[BASEMIBS] [varchar](100) NULL,
	[OWNERNAME] [varchar](25) NOT NULL,
	[VERSION] [varchar](100) NULL,
	[USERNAME] [varchar](100) NULL,
	[CONTEXTNAME] [varchar](100) NULL,
	[ISSNMP] [varchar](10) NULL,
	[ISNODE] [varchar](10) NULL,
	[ISNETWORK] [varchar](10) NULL,
	[ISINTERFACE] [varchar](10) NULL,
	[SNMPTIMEOUT] [int] NULL,
	[SNMPRETRIES] [int] NULL,
	[DOMAINNAME] [varchar](100) NULL,
	[ISIPV6] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC,
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [TopoObject0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [TopoObject0_ndx] ON [dbo].[TopoObject]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [TopoObject1_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [TopoObject1_ndx] ON [dbo].[TopoObject]
(
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
