USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ColumnOID]    Script Date: 6/29/2019 5:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColumnOID](
	[TABLE_ID] [bigint] NOT NULL,
	[OID_ID] [bigint] NOT NULL,
 CONSTRAINT [ColumnOID_PK] PRIMARY KEY CLUSTERED 
(
	[TABLE_ID] ASC,
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__808805438]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__808805438] ON [dbo].[ColumnOID]
(
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__808805439]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__808805439] ON [dbo].[ColumnOID]
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ColumnOID]  WITH CHECK ADD  CONSTRAINT [ColumnOID_FK1] FOREIGN KEY([TABLE_ID])
REFERENCES [dbo].[TableOID] ([TABLE_ID])
GO
ALTER TABLE [dbo].[ColumnOID] CHECK CONSTRAINT [ColumnOID_FK1]
GO
ALTER TABLE [dbo].[ColumnOID]  WITH CHECK ADD  CONSTRAINT [ColumnOID_FK2] FOREIGN KEY([OID_ID])
REFERENCES [dbo].[OIDModel] ([OID_ID])
GO
ALTER TABLE [dbo].[ColumnOID] CHECK CONSTRAINT [ColumnOID_FK2]
GO
