USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LOGICALGROUPMEMBERTOALERT]    Script Date: 6/29/2019 5:48:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGICALGROUPMEMBERTOALERT](
	[MAPID] [bigint] NOT NULL,
	[GROUPID] [bigint] NULL,
	[MEMBERID] [bigint] NULL,
 CONSTRAINT [LOGICALGROUPMEMBERTOALERT_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [LOGICALGROUPMEMBERTOALERT_UK0] UNIQUE NONCLUSTERED 
(
	[GROUPID] ASC,
	[MEMBERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__987582914]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__987582914] ON [dbo].[LOGICALGROUPMEMBERTOALERT]
(
	[MEMBERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__987582915]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__987582915] ON [dbo].[LOGICALGROUPMEMBERTOALERT]
(
	[GROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOGICALGROUPMEMBERTOALERT]  WITH CHECK ADD  CONSTRAINT [LOGICALGROUPMEMBERTOALERT_FK0] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[LOGICALGROUP] ([GROUPID])
GO
ALTER TABLE [dbo].[LOGICALGROUPMEMBERTOALERT] CHECK CONSTRAINT [LOGICALGROUPMEMBERTOALERT_FK0]
GO
ALTER TABLE [dbo].[LOGICALGROUPMEMBERTOALERT]  WITH CHECK ADD  CONSTRAINT [LOGICALGROUPMEMBERTOALERT_FK1] FOREIGN KEY([MEMBERID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[LOGICALGROUPMEMBERTOALERT] CHECK CONSTRAINT [LOGICALGROUPMEMBERTOALERT_FK1]
GO
