USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ServiceGroup]    Script Date: 6/29/2019 5:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceGroup](
	[SERVICEGROUPID] [bigint] NOT NULL,
 CONSTRAINT [SerGrp_PK] PRIMARY KEY CLUSTERED 
(
	[SERVICEGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
