USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SanChassisInfo]    Script Date: 6/29/2019 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanChassisInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[CHASSIS_NAME] [varchar](250) NULL,
	[CHASSIS_ELEMENTNAME] [varchar](250) NULL,
	[CHASSIS_NUMBER] [varchar](250) NULL,
	[CHASSIS_TYPE] [varchar](250) NULL,
	[CHASSIS_VERSION] [varchar](250) NULL,
	[CONFIG_NUMBER] [varchar](250) NULL,
	[MANUFACTURER] [varchar](250) NULL,
	[MODEL] [varchar](250) NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[LOCK_PRESENT] [varchar](250) NULL,
 CONSTRAINT [SanChassisInfo_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[SERIAL_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_291753313]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_291753313] ON [dbo].[SanChassisInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SanChassisInfo]  WITH CHECK ADD  CONSTRAINT [SanChassisInfo_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SanChassisInfo] CHECK CONSTRAINT [SanChassisInfo_FK1]
GO
