USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEPORTWWN]    Script Date: 6/29/2019 5:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEPORTWWN](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[PORT_ID] [bigint] NOT NULL,
	[PORT_WWN] [varchar](250) NOT NULL,
 CONSTRAINT [STORAGEPORTWWN_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[PORT_ID] ASC,
	[PORT_WWN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEPORTWWN_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_989360351]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_989360351] ON [dbo].[STORAGEPORTWWN]
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_989360352]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_989360352] ON [dbo].[STORAGEPORTWWN]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEPORTWWN]  WITH CHECK ADD  CONSTRAINT [STORAGEPORTWWN_FK1] FOREIGN KEY([PORT_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGEPORTWWN] CHECK CONSTRAINT [STORAGEPORTWWN_FK1]
GO
ALTER TABLE [dbo].[STORAGEPORTWWN]  WITH CHECK ADD  CONSTRAINT [STORAGEPORTWWN_FK2] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGEPORTWWN] CHECK CONSTRAINT [STORAGEPORTWWN_FK2]
GO
