USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaRole]    Script Date: 6/29/2019 5:45:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaRole](
	[ROLE_ID] [bigint] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[SERVICE_ID] [bigint] NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
 CONSTRAINT [AaaRole_PK] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AaaRole_UK] UNIQUE NONCLUSTERED 
(
	[NAME] ASC,
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1177547213]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1177547213] ON [dbo].[AaaRole]
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaRole] ADD  DEFAULT ('No Description') FOR [DESCRIPTION]
GO
ALTER TABLE [dbo].[AaaRole]  WITH CHECK ADD  CONSTRAINT [AaaRole_FK] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[AaaService] ([SERVICE_ID])
GO
ALTER TABLE [dbo].[AaaRole] CHECK CONSTRAINT [AaaRole_FK]
GO
