USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserAutoLoginInfo]    Script Date: 6/29/2019 5:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAutoLoginInfo](
	[USERID] [bigint] NOT NULL,
	[AUTOLOGIN] [bit] NOT NULL,
 CONSTRAINT [UserAutoLoginInfo_PK] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
