USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TwitterProfile]    Script Date: 6/29/2019 5:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TwitterProfile](
	[PROFILEID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
	[MESSAGE] [varchar](250) NOT NULL,
 CONSTRAINT [TwitterProfile_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2006544349]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2006544349] ON [dbo].[TwitterProfile]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TwitterProfile]  WITH CHECK ADD  CONSTRAINT [TwitterProfile_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[TwitterProfile] CHECK CONSTRAINT [TwitterProfile_FK1]
GO
