USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Bool_Set_Comp_Var]    Script Date: 6/29/2019 5:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bool_Set_Comp_Var](
	[BOOLEAN_EXPRESSION_ID] [bigint] NOT NULL,
	[RELVAR_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[SUB_RELVAR_ID] [bigint] NOT NULL,
 CONSTRAINT [Bool_Set_Comp_Var_PK] PRIMARY KEY CLUSTERED 
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1163156389]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1163156389] ON [dbo].[Bool_Set_Comp_Var]
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1698109641]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1698109641] ON [dbo].[Bool_Set_Comp_Var]
(
	[SUB_RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1698109642]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1698109642] ON [dbo].[Bool_Set_Comp_Var]
(
	[RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bool_Set_Comp_Var]  WITH CHECK ADD  CONSTRAINT [Bool_Set_Comp_Var_FK] FOREIGN KEY([BOOLEAN_EXPRESSION_ID])
REFERENCES [dbo].[Boolean_Expressions] ([BOOLEAN_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Bool_Set_Comp_Var] CHECK CONSTRAINT [Bool_Set_Comp_Var_FK]
GO
ALTER TABLE [dbo].[Bool_Set_Comp_Var]  WITH CHECK ADD  CONSTRAINT [Bool_Set_Comp_Var_FK1] FOREIGN KEY([RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Bool_Set_Comp_Var] CHECK CONSTRAINT [Bool_Set_Comp_Var_FK1]
GO
ALTER TABLE [dbo].[Bool_Set_Comp_Var]  WITH CHECK ADD  CONSTRAINT [Bool_Set_Comp_Var_FK2] FOREIGN KEY([SUB_RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Bool_Set_Comp_Var] CHECK CONSTRAINT [Bool_Set_Comp_Var_FK2]
GO
