USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SanAvailabilityState]    Script Date: 6/29/2019 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanAvailabilityState](
	[DEVICE_ID] [bigint] NOT NULL,
	[PREVSTATE] [int] NOT NULL,
 CONSTRAINT [SanAvailabilityState_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2027284082]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2027284082] ON [dbo].[SanAvailabilityState]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SanAvailabilityState] ADD  DEFAULT ('1') FOR [PREVSTATE]
GO
ALTER TABLE [dbo].[SanAvailabilityState]  WITH CHECK ADD  CONSTRAINT [SanAvailabilityState_FK] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[SanAvailabilityState] CHECK CONSTRAINT [SanAvailabilityState_FK]
GO
