USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaLDAPAdapter]    Script Date: 6/29/2019 5:45:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaLDAPAdapter](
	[LDAP_ID] [bigint] NOT NULL,
	[PROVIDER_URL] [varchar](200) NOT NULL,
	[INITIAL_CONTEXT_FACTORY] [varchar](200) NOT NULL,
	[SECURITY_AUTHENTICATION] [varchar](10) NOT NULL,
	[SECURITY_PRINCIPAL] [varchar](100) NULL,
	[SECURITY_CREDENTIAL] [varchar](100) NULL,
	[SEARCH_SUB_CONTEXT] [varchar](100) NULL,
	[SEARCH_FILTER] [varchar](200) NULL,
	[STATUS] [varchar](200) NULL,
 CONSTRAINT [LDAPAdapter_PK] PRIMARY KEY CLUSTERED 
(
	[LDAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [LDAPAdapter_UK] UNIQUE NONCLUSTERED 
(
	[PROVIDER_URL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaLDAPAdapter] ADD  DEFAULT ('ldap://192.168.4.83:389') FOR [PROVIDER_URL]
GO
ALTER TABLE [dbo].[AaaLDAPAdapter] ADD  DEFAULT ('com.sun.jndi.ldap.LdapCtxFactory') FOR [INITIAL_CONTEXT_FACTORY]
GO
ALTER TABLE [dbo].[AaaLDAPAdapter] ADD  DEFAULT ('SIMPLE') FOR [SECURITY_AUTHENTICATION]
GO
ALTER TABLE [dbo].[AaaLDAPAdapter] ADD  DEFAULT ('cn=Manager,o=adventnet,c=com') FOR [SECURITY_PRINCIPAL]
GO
ALTER TABLE [dbo].[AaaLDAPAdapter] ADD  DEFAULT ('password') FOR [SECURITY_CREDENTIAL]
GO
ALTER TABLE [dbo].[AaaLDAPAdapter] ADD  DEFAULT ('o=adventnet,c=com') FOR [SEARCH_SUB_CONTEXT]
GO
ALTER TABLE [dbo].[AaaLDAPAdapter] ADD  DEFAULT ('mail=*') FOR [SEARCH_FILTER]
GO
ALTER TABLE [dbo].[AaaLDAPAdapter] ADD  DEFAULT ('NOTSTARTED') FOR [STATUS]
GO
