USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Decimal_Variables]    Script Date: 6/29/2019 5:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decimal_Variables](
	[DECIMAL_EXPRESSION_ID] [bigint] NOT NULL,
	[RELVAR_ID] [bigint] NOT NULL,
	[ATTRIBUTE_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [Decimal_Variables_PK] PRIMARY KEY CLUSTERED 
(
	[DECIMAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1671728389]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1671728389] ON [dbo].[Decimal_Variables]
(
	[DECIMAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__283972458]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__283972458] ON [dbo].[Decimal_Variables]
(
	[RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Decimal_Variables]  WITH CHECK ADD  CONSTRAINT [Decimal_Variables_FK] FOREIGN KEY([DECIMAL_EXPRESSION_ID])
REFERENCES [dbo].[Decimal_Expressions] ([DECIMAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Decimal_Variables] CHECK CONSTRAINT [Decimal_Variables_FK]
GO
ALTER TABLE [dbo].[Decimal_Variables]  WITH CHECK ADD  CONSTRAINT [Decimal_Variables_FK1] FOREIGN KEY([RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Decimal_Variables] CHECK CONSTRAINT [Decimal_Variables_FK1]
GO
