USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AgentRelation]    Script Date: 6/29/2019 5:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentRelation](
	[PERSONALITYNAME] [varchar](100) NOT NULL,
	[TABLENAME] [varchar](250) NULL,
	[RELATIONSHIPFIELD] [varchar](250) NOT NULL,
	[RELATIONTYPE] [varchar](100) NOT NULL,
	[QUERYNAME] [varchar](100) NOT NULL,
 CONSTRAINT [AGT_REL_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYNAME] ASC,
	[RELATIONTYPE] ASC,
	[RELATIONSHIPFIELD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__328657604]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__328657604] ON [dbo].[AgentRelation]
(
	[QUERYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AgentRelation]  WITH CHECK ADD  CONSTRAINT [AGT_FK2] FOREIGN KEY([QUERYNAME])
REFERENCES [dbo].[MapperQueries] ([NAME])
GO
ALTER TABLE [dbo].[AgentRelation] CHECK CONSTRAINT [AGT_FK2]
GO
