USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RiverbedSteelhead]    Script Date: 6/29/2019 5:51:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiverbedSteelhead](
	[RESOURCEID] [bigint] NOT NULL,
	[MEMORYSIZE] [varchar](15) NOT NULL,
 CONSTRAINT [RiverbedSteelhead_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1833536797]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1833536797] ON [dbo].[RiverbedSteelhead]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RiverbedSteelhead] ADD  DEFAULT ('Not Available') FOR [MEMORYSIZE]
GO
ALTER TABLE [dbo].[RiverbedSteelhead]  WITH CHECK ADD  CONSTRAINT [RiverbedSteelhead_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[RiverbedSteelhead] CHECK CONSTRAINT [RiverbedSteelhead_FK1]
GO
