USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DServers]    Script Date: 6/29/2019 5:47:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DServers](
	[DSERVER_ID] [bigint] NOT NULL,
	[DSERVER_NAME] [nvarchar](50) NOT NULL,
	[DSERVER_IP] [nvarchar](15) NOT NULL,
	[STATUS] [nvarchar](10) NOT NULL,
 CONSTRAINT [DServers_PK] PRIMARY KEY CLUSTERED 
(
	[DSERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DServers] ADD  DEFAULT ('UP') FOR [STATUS]
GO
