USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TargetGroupId]    Script Date: 6/29/2019 5:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TargetGroupId](
	[TARGETGROUP_ID] [bigint] NOT NULL,
	[TARGETGROUP_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [TargetGroupId_PK] PRIMARY KEY CLUSTERED 
(
	[TARGETGROUP_ID] ASC,
	[TARGETGROUP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TargetGroupId_UK0] UNIQUE NONCLUSTERED 
(
	[TARGETGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
