USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TableDSMap]    Script Date: 6/29/2019 5:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableDSMap](
	[TABLENAME] [varchar](50) NOT NULL,
	[DSNAME] [varchar](50) NOT NULL,
 CONSTRAINT [TDSMAP_PK] PRIMARY KEY CLUSTERED 
(
	[TABLENAME] ASC,
	[DSNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
