USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AuditUserProperty]    Script Date: 6/29/2019 5:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditUserProperty](
	[AUDITID] [bigint] NOT NULL,
	[PROPERTYNAME] [varchar](100) NOT NULL,
	[PROPERTYVALUE] [varchar](250) NOT NULL,
 CONSTRAINT [AuditUserProperty_PK] PRIMARY KEY CLUSTERED 
(
	[AUDITID] ASC,
	[PROPERTYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1800733033]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1800733033] ON [dbo].[AuditUserProperty]
(
	[AUDITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditUserProperty]  WITH CHECK ADD  CONSTRAINT [AuditUserProperty_FK] FOREIGN KEY([AUDITID])
REFERENCES [dbo].[OperationAuditRecord] ([AUDITID])
GO
ALTER TABLE [dbo].[AuditUserProperty] CHECK CONSTRAINT [AuditUserProperty_FK]
GO
