USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TargetGroup]    Script Date: 6/29/2019 5:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TargetGroup](
	[TARGETGROUP_ID] [bigint] NOT NULL,
	[TARGET_ID] [bigint] NOT NULL,
 CONSTRAINT [TargetGroup_PK] PRIMARY KEY CLUSTERED 
(
	[TARGETGROUP_ID] ASC,
	[TARGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2087718058]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2087718058] ON [dbo].[TargetGroup]
(
	[TARGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__294750309]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__294750309] ON [dbo].[TargetGroup]
(
	[TARGETGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TargetGroup]  WITH CHECK ADD  CONSTRAINT [TargetGroup_FK] FOREIGN KEY([TARGET_ID])
REFERENCES [dbo].[Target] ([TARGET_ID])
GO
ALTER TABLE [dbo].[TargetGroup] CHECK CONSTRAINT [TargetGroup_FK]
GO
ALTER TABLE [dbo].[TargetGroup]  WITH CHECK ADD  CONSTRAINT [TargetGroup_FK1] FOREIGN KEY([TARGETGROUP_ID])
REFERENCES [dbo].[TargetGroupId] ([TARGETGROUP_ID])
GO
ALTER TABLE [dbo].[TargetGroup] CHECK CONSTRAINT [TargetGroup_FK1]
GO
