USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ViewToOperationsTable]    Script Date: 6/29/2019 5:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewToOperationsTable](
	[VIEWNAME] [varchar](50) NOT NULL,
	[OPERATIONSNAME] [varchar](50) NOT NULL,
	[OPERATIONSTYPE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VIEWNAME] ASC,
	[OPERATIONSNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
