USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBM3584FCPort]    Script Date: 6/29/2019 5:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBM3584FCPort](
	[DEVICE_ID] [bigint] NOT NULL,
	[FCPORT_INDEX] [int] NOT NULL,
	[FCPORT_DEVICEID] [varchar](250) NULL,
	[FCPORT_ELMTNAME] [varchar](250) NULL,
	[FCPORT_CAPTION] [varchar](250) NULL,
	[FCPORT_DESCRIPTION] [varchar](250) NULL,
	[FCPORT_OPERSTATUS] [varchar](250) NULL,
	[FCPORT_NETADDRESS] [varchar](250) NULL,
	[FCPORT_SCSICTLRINDEX] [int] NULL,
	[LIBRARY_ID] [bigint] NOT NULL,
 CONSTRAINT [IBM3584FCPort_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[FCPORT_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1173456349]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1173456349] ON [dbo].[IBM3584FCPort]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBM3584FCPort]  WITH CHECK ADD  CONSTRAINT [IBM3584FCPort_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBM3584FCPort] CHECK CONSTRAINT [IBM3584FCPort_FK1]
GO
