USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic500RASInfo]    Script Date: 6/29/2019 5:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic500RASInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[POWER_STATUS] [varchar](250) NOT NULL,
	[COOLING_STATUS] [varchar](250) NOT NULL,
	[CONTROL_STATUS] [varchar](250) NOT NULL,
	[CONN_STATUS] [varchar](250) NOT NULL,
	[ROBOTICS_STATUS] [varchar](250) NOT NULL,
	[MEDIA_STATUS] [varchar](250) NOT NULL,
	[ACTION_REQUIRED] [varchar](250) NOT NULL,
 CONSTRAINT [Adic500RASInfo_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1970219751]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1970219751] ON [dbo].[Adic500RASInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic500RASInfo]  WITH CHECK ADD  CONSTRAINT [Adic500RASInfo_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Adic500TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic500RASInfo] CHECK CONSTRAINT [Adic500RASInfo_FK1]
GO
