USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NortelConVPNRouter]    Script Date: 6/29/2019 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NortelConVPNRouter](
	[RESOURCEID] [bigint] NOT NULL,
	[PROCESSOR] [varchar](50) NOT NULL,
	[BIOS_VERSION] [varchar](15) NOT NULL,
 CONSTRAINT [NortelConVPNRouter_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__6492238]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__6492238] ON [dbo].[NortelConVPNRouter]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NortelConVPNRouter] ADD  DEFAULT ('Not Available') FOR [PROCESSOR]
GO
ALTER TABLE [dbo].[NortelConVPNRouter] ADD  DEFAULT ('Not Available') FOR [BIOS_VERSION]
GO
ALTER TABLE [dbo].[NortelConVPNRouter]  WITH CHECK ADD  CONSTRAINT [NortelConVPNRouter_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NortelConVPNRouter] CHECK CONSTRAINT [NortelConVPNRouter_FK1]
GO
