USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Trans_Closure_Weight_Expr]    Script Date: 6/29/2019 5:52:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trans_Closure_Weight_Expr](
	[VIEW_ID] [bigint] NOT NULL,
	[WEIGHT_ATTRIBUTE_EXPID] [bigint] NOT NULL,
	[AGGREGATION_OPERATOR] [int] NOT NULL,
	[ALIASED_OUTPUT_NAME] [varchar](40) NOT NULL,
 CONSTRAINT [Trans_Closure_Weight_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1260329422]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1260329422] ON [dbo].[Trans_Closure_Weight_Expr]
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1260329423]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1260329423] ON [dbo].[Trans_Closure_Weight_Expr]
(
	[WEIGHT_ATTRIBUTE_EXPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Trans_Closure_Weight_Expr] ADD  DEFAULT ('55') FOR [AGGREGATION_OPERATOR]
GO
ALTER TABLE [dbo].[Trans_Closure_Weight_Expr]  WITH CHECK ADD  CONSTRAINT [Trans_Closure_Weight_Expr_FK1] FOREIGN KEY([VIEW_ID])
REFERENCES [dbo].[Trans_Closure_Operator] ([VIEW_ID])
GO
ALTER TABLE [dbo].[Trans_Closure_Weight_Expr] CHECK CONSTRAINT [Trans_Closure_Weight_Expr_FK1]
GO
ALTER TABLE [dbo].[Trans_Closure_Weight_Expr]  WITH CHECK ADD  CONSTRAINT [Trans_Closure_Weight_Expr_FK2] FOREIGN KEY([WEIGHT_ATTRIBUTE_EXPID])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Trans_Closure_Weight_Expr] CHECK CONSTRAINT [Trans_Closure_Weight_Expr_FK2]
GO
