USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 6/29/2019 5:50:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[ID] [int] NOT NULL,
	[PROFILE_NAME] [varchar](100) NOT NULL,
	[INITIATOR_IP] [varchar](100) NOT NULL,
	[METRIC_LIST] [varchar](100) NOT NULL,
	[SAMPLING_INT] [varchar](100) NULL,
	[PROFILE_TYPE] [varchar](100) NOT NULL,
 CONSTRAINT [Profile_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
