USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic500SCSIInterface]    Script Date: 6/29/2019 5:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic500SCSIInterface](
	[DEVICE_ID] [bigint] NOT NULL,
	[LIBRARY_ID] [bigint] NOT NULL,
	[CTLR_ROLE] [varchar](250) NOT NULL,
	[CTLR_TYPE] [varchar](250) NOT NULL,
	[MAX_IDS] [int] NOT NULL,
	[MAX_LUNS] [int] NOT NULL,
	[CTLR_BW] [int] NOT NULL,
	[CTLR_FV] [varchar](250) NOT NULL,
	[PARENT_DRIVE] [varchar](250) NOT NULL,
	[PARENT_PARTITION] [varchar](250) NOT NULL,
 CONSTRAINT [Adic500SCSIInterface_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1822118088]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1822118088] ON [dbo].[Adic500SCSIInterface]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1822118089]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1822118089] ON [dbo].[Adic500SCSIInterface]
(
	[LIBRARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic500SCSIInterface]  WITH CHECK ADD  CONSTRAINT [Adic500SCSIInterface_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic500SCSIInterface] CHECK CONSTRAINT [Adic500SCSIInterface_FK1]
GO
ALTER TABLE [dbo].[Adic500SCSIInterface]  WITH CHECK ADD  CONSTRAINT [Adic500SCSIInterface_FK2] FOREIGN KEY([LIBRARY_ID])
REFERENCES [dbo].[Adic500TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic500SCSIInterface] CHECK CONSTRAINT [Adic500SCSIInterface_FK2]
GO
