USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PureStorageHost]    Script Date: 6/29/2019 5:50:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PureStorageHost](
	[RAID_ID] [bigint] NOT NULL,
	[HOST_GROUP_ID] [bigint] NOT NULL,
	[HOST_MO_ID] [bigint] NOT NULL,
	[HOST_NAME] [varchar](250) NULL,
 CONSTRAINT [PureStorageHost_PK] PRIMARY KEY CLUSTERED 
(
	[HOST_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2110987864]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2110987864] ON [dbo].[PureStorageHost]
(
	[HOST_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PureStorageHost]  WITH CHECK ADD  CONSTRAINT [PureStorageHost_FK1] FOREIGN KEY([HOST_MO_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PureStorageHost] CHECK CONSTRAINT [PureStorageHost_FK1]
GO
