USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WakeOnLanResource]    Script Date: 6/29/2019 5:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WakeOnLanResource](
	[UNAME] [varchar](100) NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [WakeOnLanResource_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC,
	[UNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_311160657]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_311160657] ON [dbo].[WakeOnLanResource]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_311160658]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_311160658] ON [dbo].[WakeOnLanResource]
(
	[UNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WakeOnLanResource] ADD  DEFAULT ('0') FOR [STATUS]
GO
ALTER TABLE [dbo].[WakeOnLanResource]  WITH CHECK ADD  CONSTRAINT [WakeOnLanResource_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[OpUtilsResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[WakeOnLanResource] CHECK CONSTRAINT [WakeOnLanResource_FK1]
GO
ALTER TABLE [dbo].[WakeOnLanResource]  WITH CHECK ADD  CONSTRAINT [WakeOnLanResource_FK2] FOREIGN KEY([UNAME])
REFERENCES [dbo].[OpUser] ([NAME])
GO
ALTER TABLE [dbo].[WakeOnLanResource] CHECK CONSTRAINT [WakeOnLanResource_FK2]
GO
