USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiscoveryDeviceDetails]    Script Date: 6/29/2019 5:47:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryDeviceDetails](
	[DEVICEID] [bigint] NOT NULL,
	[NETWORKID] [bigint] NOT NULL,
	[IPADDRESS] [varchar](50) NULL,
	[DEVICENAME] [varchar](200) NULL,
	[DISPLAYNAME] [varchar](200) NULL,
	[DEVICETYPE] [varchar](200) NULL,
	[PINGSTATUS] [varchar](200) NULL,
 CONSTRAINT [DiscoveryDevDet_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DiscoveryDeviceDetails_UK0] UNIQUE NONCLUSTERED 
(
	[NETWORKID] ASC,
	[IPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1207113014]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1207113014] ON [dbo].[DiscoveryDeviceDetails]
(
	[NETWORKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoveryDeviceDetails]  WITH CHECK ADD  CONSTRAINT [DiscoveryDevDet_FK] FOREIGN KEY([NETWORKID])
REFERENCES [dbo].[NetworkRangeTable] ([NETWORKID])
GO
ALTER TABLE [dbo].[DiscoveryDeviceDetails] CHECK CONSTRAINT [DiscoveryDevDet_FK]
GO
