USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Group_Templates]    Script Date: 6/29/2019 5:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Templates](
	[GROUP_TEMPLATE_ID] [bigint] NOT NULL,
	[RELVAR_ID] [bigint] NOT NULL,
 CONSTRAINT [Group_Templates_PK] PRIMARY KEY CLUSTERED 
(
	[GROUP_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__339102714]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__339102714] ON [dbo].[Group_Templates]
(
	[RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1928723851]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1928723851] ON [dbo].[Group_Templates]
(
	[GROUP_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Group_Templates]  WITH CHECK ADD  CONSTRAINT [Group_Templates_FK] FOREIGN KEY([GROUP_TEMPLATE_ID])
REFERENCES [dbo].[Templates] ([TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Group_Templates] CHECK CONSTRAINT [Group_Templates_FK]
GO
ALTER TABLE [dbo].[Group_Templates]  WITH CHECK ADD  CONSTRAINT [Group_Templates_FK1] FOREIGN KEY([RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Group_Templates] CHECK CONSTRAINT [Group_Templates_FK1]
GO
