USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AuthUsers]    Script Date: 6/29/2019 5:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthUsers](
	[AUTHUSER_ID] [bigint] NOT NULL,
	[USERNAME] [nvarchar](90) NULL,
 CONSTRAINT [AuthUsers_PK] PRIMARY KEY CLUSTERED 
(
	[AUTHUSER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
