USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 6/29/2019 5:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[SERVICEID] [bigint] NOT NULL,
	[SERVICEDEFINITIONID] [int] NOT NULL,
	[PARENTDEVICENAME] [varchar](100) NOT NULL,
	[STATUS] [int] NOT NULL,
	[STATE] [int] NOT NULL,
	[PREVSTATE] [int] NOT NULL,
	[MOID] [bigint] NOT NULL,
 CONSTRAINT [Services_PK1] PRIMARY KEY CLUSTERED 
(
	[SERVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Services_UK0] UNIQUE NONCLUSTERED 
(
	[SERVICEDEFINITIONID] ASC,
	[PARENTDEVICENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_542196939]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_542196939] ON [dbo].[Services]
(
	[SERVICEDEFINITIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_542196940]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_542196940] ON [dbo].[Services]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ('5') FOR [STATUS]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ('1') FOR [STATE]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ('1') FOR [PREVSTATE]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [Services_FK1] FOREIGN KEY([SERVICEDEFINITIONID])
REFERENCES [dbo].[ServicesDefinition] ([SERVICEDEFINITIONID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [Services_FK1]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [Services_FK2] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [Services_FK2]
GO
