USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDiscoveryStateHolder]    Script Date: 6/29/2019 5:49:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDiscoveryStateHolder](
	[DISCOVERYID] [bigint] NOT NULL,
	[HOSTNAME] [varchar](100) NOT NULL,
	[IPADDRESS] [varchar](20) NOT NULL,
	[PINGSTATUS] [varchar](15) NOT NULL,
	[RESOURCEINFOPOPULATION] [varchar](15) NOT NULL,
	[HARDWAREPOPULATION] [varchar](15) NOT NULL,
	[DISCOVERYSTATUS] [varchar](30) NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
 CONSTRAINT [NCMDiscoveryStateHolder_PK] PRIMARY KEY CLUSTERED 
(
	[DISCOVERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDiscoveryStateHolder] ADD  DEFAULT ('-') FOR [HOSTNAME]
GO
ALTER TABLE [dbo].[NCMDiscoveryStateHolder] ADD  DEFAULT ('NOTSTARTED') FOR [PINGSTATUS]
GO
ALTER TABLE [dbo].[NCMDiscoveryStateHolder] ADD  DEFAULT ('NOTSTARTED') FOR [RESOURCEINFOPOPULATION]
GO
ALTER TABLE [dbo].[NCMDiscoveryStateHolder] ADD  DEFAULT ('NOTSTARTED') FOR [HARDWAREPOPULATION]
GO
ALTER TABLE [dbo].[NCMDiscoveryStateHolder] ADD  DEFAULT ('INPROGRESS') FOR [DISCOVERYSTATUS]
GO
