USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GroupParser]    Script Date: 6/29/2019 5:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupParser](
	[PARSERID] [bigint] NOT NULL,
	[NEWLINEPATTERN] [varchar](255) NULL,
 CONSTRAINT [GroupParser_PK] PRIMARY KEY CLUSTERED 
(
	[PARSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__787674197]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__787674197] ON [dbo].[GroupParser]
(
	[PARSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GroupParser]  WITH CHECK ADD  CONSTRAINT [GroupParser_FK1] FOREIGN KEY([PARSERID])
REFERENCES [dbo].[Parser] ([PARSERID])
GO
ALTER TABLE [dbo].[GroupParser] CHECK CONSTRAINT [GroupParser_FK1]
GO
