USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Workflow_Statements]    Script Date: 6/29/2019 5:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workflow_Statements](
	[WORKFLOW_TEMPLATE_ID] [bigint] NOT NULL,
	[STATEMENT_ID] [bigint] NOT NULL,
	[WORKFLOW_UNIT_ID] [bigint] NOT NULL,
	[NEXT_STATEMENT_ID] [bigint] NULL,
 CONSTRAINT [Workflow_Statements_PK] PRIMARY KEY CLUSTERED 
(
	[WORKFLOW_TEMPLATE_ID] ASC,
	[STATEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1183508813]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1183508813] ON [dbo].[Workflow_Statements]
(
	[NEXT_STATEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1183508814]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1183508814] ON [dbo].[Workflow_Statements]
(
	[STATEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1183508815]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1183508815] ON [dbo].[Workflow_Statements]
(
	[WORKFLOW_UNIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1347295616]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1347295616] ON [dbo].[Workflow_Statements]
(
	[WORKFLOW_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Workflow_Statements]  WITH CHECK ADD  CONSTRAINT [Workflow_Statements_FK] FOREIGN KEY([WORKFLOW_TEMPLATE_ID])
REFERENCES [dbo].[Workflow_Templates] ([WORKFLOW_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Workflow_Statements] CHECK CONSTRAINT [Workflow_Statements_FK]
GO
ALTER TABLE [dbo].[Workflow_Statements]  WITH CHECK ADD  CONSTRAINT [Workflow_Statements_FK1] FOREIGN KEY([WORKFLOW_UNIT_ID])
REFERENCES [dbo].[Workflow_Unit] ([WORKFLOW_UNIT_ID])
GO
ALTER TABLE [dbo].[Workflow_Statements] CHECK CONSTRAINT [Workflow_Statements_FK1]
GO
ALTER TABLE [dbo].[Workflow_Statements]  WITH CHECK ADD  CONSTRAINT [Workflow_Statements_FK2] FOREIGN KEY([STATEMENT_ID])
REFERENCES [dbo].[Statements] ([STATEMENT_ID])
GO
ALTER TABLE [dbo].[Workflow_Statements] CHECK CONSTRAINT [Workflow_Statements_FK2]
GO
ALTER TABLE [dbo].[Workflow_Statements]  WITH CHECK ADD  CONSTRAINT [Workflow_Statements_FK3] FOREIGN KEY([NEXT_STATEMENT_ID])
REFERENCES [dbo].[Statements] ([STATEMENT_ID])
GO
ALTER TABLE [dbo].[Workflow_Statements] CHECK CONSTRAINT [Workflow_Statements_FK3]
GO
