USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Tool]    Script Date: 6/29/2019 5:52:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tool](
	[TOOL_ID] [varchar](50) NOT NULL,
	[DISPLAY] [varchar](100) NOT NULL,
	[DISPLAY_I18NKEY] [varchar](100) NULL,
	[URL] [varchar](300) NOT NULL,
	[IMAGE] [varchar](300) NULL,
	[TOOL_TIP] [varchar](300) NULL,
	[TROUBLE_SHOOTING_TIP_URL] [varchar](1000) NULL,
	[LEVEL] [int] NOT NULL,
 CONSTRAINT [Tool_PK] PRIMARY KEY CLUSTERED 
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tool] ADD  DEFAULT ('1') FOR [LEVEL]
GO
