USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPMSAP2000PowerSupply]    Script Date: 6/29/2019 5:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPMSAP2000PowerSupply](
	[DEVICE_ID] [bigint] NOT NULL,
	[POWER_SUPPLY_IDENTIFIER] [varchar](250) NOT NULL,
	[IS_SWITCHING_POLICY] [varchar](250) NULL,
	[NAME] [varchar](250) NULL,
 CONSTRAINT [HPMSAP2000PowerSupply_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[POWER_SUPPLY_IDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__357942517]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__357942517] ON [dbo].[HPMSAP2000PowerSupply]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPMSAP2000PowerSupply]  WITH CHECK ADD  CONSTRAINT [HPMSAP2000PowerSupply_FK] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPMSAP2000PowerSupply] CHECK CONSTRAINT [HPMSAP2000PowerSupply_FK]
GO
