USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaAce]    Script Date: 6/29/2019 5:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaAce](
	[PERMISSION_ID] [bigint] NOT NULL,
	[ROLE_ID] [bigint] NOT NULL,
	[ENV_CRITERIA] [varchar](100) NULL,
	[EXPIRY_TIME] [bigint] NULL,
	[EXCLUDE] [bit] NULL,
	[EVALUATIONORDER] [int] NULL,
 CONSTRAINT [AaaAce_PK] PRIMARY KEY CLUSTERED 
(
	[PERMISSION_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1375330577]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1375330577] ON [dbo].[AaaAce]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2122575486]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2122575486] ON [dbo].[AaaAce]
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaAce] ADD  DEFAULT ('ALL') FOR [ENV_CRITERIA]
GO
ALTER TABLE [dbo].[AaaAce] ADD  DEFAULT ('0') FOR [EXPIRY_TIME]
GO
ALTER TABLE [dbo].[AaaAce] ADD  DEFAULT ((0)) FOR [EXCLUDE]
GO
ALTER TABLE [dbo].[AaaAce] ADD  DEFAULT ('0') FOR [EVALUATIONORDER]
GO
ALTER TABLE [dbo].[AaaAce]  WITH CHECK ADD  CONSTRAINT [AaaAce_FK] FOREIGN KEY([PERMISSION_ID])
REFERENCES [dbo].[AaaPermission] ([PERMISSION_ID])
GO
ALTER TABLE [dbo].[AaaAce] CHECK CONSTRAINT [AaaAce_FK]
GO
ALTER TABLE [dbo].[AaaAce]  WITH CHECK ADD  CONSTRAINT [AaaAce_FK1] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[AaaRole] ([ROLE_ID])
GO
ALTER TABLE [dbo].[AaaAce] CHECK CONSTRAINT [AaaAce_FK1]
GO
