USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourceRuleStatus]    Script Date: 6/29/2019 5:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourceRuleStatus](
	[RESOURCEID] [bigint] NOT NULL,
	[COMPRULE_ID] [bigint] NOT NULL,
	[STATUS] [varchar](25) NULL,
 CONSTRAINT [NCMResourceRuleStatus_PK1] PRIMARY KEY CLUSTERED 
(
	[COMPRULE_ID] ASC,
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_617590113]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_617590113] ON [dbo].[NCMResourceRuleStatus]
(
	[COMPRULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_617590114]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_617590114] ON [dbo].[NCMResourceRuleStatus]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourceRuleStatus]  WITH CHECK ADD  CONSTRAINT [NCMResourceRuleStatus_FK1] FOREIGN KEY([COMPRULE_ID])
REFERENCES [dbo].[NCMComplianceRule] ([COMPRULE_ID])
GO
ALTER TABLE [dbo].[NCMResourceRuleStatus] CHECK CONSTRAINT [NCMResourceRuleStatus_FK1]
GO
ALTER TABLE [dbo].[NCMResourceRuleStatus]  WITH CHECK ADD  CONSTRAINT [NCMResourceRuleStatus_FK2] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMResourceRuleStatus] CHECK CONSTRAINT [NCMResourceRuleStatus_FK2]
GO
