USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IpCtgy]    Script Date: 6/29/2019 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpCtgy](
	[CID] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[TAG] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[DESP] [varchar](500) NULL,
 CONSTRAINT [IpCtgy_PK] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IpCtgy_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IpCtgy] ADD  DEFAULT ('0') FOR [STATUS]
GO
