USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SelectQuery]    Script Date: 6/29/2019 5:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelectQuery](
	[QUERYID] [bigint] NOT NULL,
	[STARTINDEX] [int] NULL,
	[NUMOFOBJECTS] [int] NULL,
 CONSTRAINT [QUERY_PK] PRIMARY KEY CLUSTERED 
(
	[QUERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
