USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SANNETAPPAPICredentialDetails]    Script Date: 6/29/2019 5:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANNETAPPAPICredentialDetails](
	[CREDENTIALID] [bigint] NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[PORT] [int] NULL,
	[TIMEOUT] [int] NOT NULL,
 CONSTRAINT [SANNETAPPAPICredentialDetails_PK] PRIMARY KEY CLUSTERED 
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__125700849]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__125700849] ON [dbo].[SANNETAPPAPICredentialDetails]
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SANNETAPPAPICredentialDetails] ADD  DEFAULT ('10') FOR [TIMEOUT]
GO
ALTER TABLE [dbo].[SANNETAPPAPICredentialDetails]  WITH CHECK ADD  CONSTRAINT [SANNETAPPAPICredentialDetails_FK] FOREIGN KEY([CREDENTIALID])
REFERENCES [dbo].[CredentialManager] ([CREDENTIALID])
GO
ALTER TABLE [dbo].[SANNETAPPAPICredentialDetails] CHECK CONSTRAINT [SANNETAPPAPICredentialDetails_FK]
GO
