USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEVOLUMESNAPSHOT]    Script Date: 6/29/2019 5:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEVOLUMESNAPSHOT](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[VOLUME_ID] [bigint] NULL,
	[SNAPSHOT_NAME] [varchar](250) NOT NULL,
	[SERIALNUMBER] [varchar](250) NULL,
	[CREATION_TIME] [varchar](250) NULL,
	[SIZE] [varchar](250) NULL,
	[ADDITIONAL_DATA] [text] NULL,
 CONSTRAINT [STORAGEVOLUMESNAPSHOT_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[SNAPSHOT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEVOLUMESNAPSHOT_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1371695930]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1371695930] ON [dbo].[STORAGEVOLUMESNAPSHOT]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEVOLUMESNAPSHOT]  WITH CHECK ADD  CONSTRAINT [STORAGEVOLUMESNAPSHOT_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGEVOLUMESNAPSHOT] CHECK CONSTRAINT [STORAGEVOLUMESNAPSHOT_FK1]
GO
