USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FOSNodeDetails]    Script Date: 6/29/2019 5:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOSNodeDetails](
	[IP] [varchar](255) NOT NULL,
	[COUNTER] [bigint] NOT NULL,
	[STATUS] [varchar](255) NOT NULL,
	[LASTSERVINGTIME] [datetime] NULL,
	[REPLICATION_STATE] [varchar](255) NULL,
	[BUILD_NUMBER] [bigint] NOT NULL,
 CONSTRAINT [FOSNODEDETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[IP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
