USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HyperVVMNICProps]    Script Date: 6/29/2019 5:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HyperVVMNICProps](
	[VMID] [bigint] NOT NULL,
	[NICNAME] [varchar](250) NOT NULL,
 CONSTRAINT [HyperVVMNICProps_PK] PRIMARY KEY CLUSTERED 
(
	[VMID] ASC,
	[NICNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2015697398]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2015697398] ON [dbo].[HyperVVMNICProps]
(
	[VMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HyperVVMNICProps]  WITH CHECK ADD  CONSTRAINT [HyperVVMNICProps_FK1] FOREIGN KEY([VMID])
REFERENCES [dbo].[HyperVVMProps] ([VMID])
GO
ALTER TABLE [dbo].[HyperVVMNICProps] CHECK CONSTRAINT [HyperVVMNICProps_FK1]
GO
