USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NBA_FE_SDAgg]    Script Date: 6/29/2019 5:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_FE_SDAgg](
	[EVID] [int] NOT NULL,
	[SUM_OCTETS] [bigint] NULL,
	[SUM_PACKETS] [bigint] NULL,
	[CNT_FLOWS] [bigint] NULL,
	[RESERVED1] [bigint] NULL,
	[RESERVED2] [bigint] NULL,
	[LDIST_SIP] [varchar](255) NULL,
	[LDIST_DIP] [varchar](255) NULL,
	[LDIST_SNET] [varchar](255) NULL,
	[LDIST_DNET] [varchar](255) NULL,
	[LDIST_SPORT] [varchar](255) NULL,
	[LDIST_DPORT] [varchar](255) NULL,
	[LDIST_APP] [varchar](255) NULL,
	[LDIST_ICMPPORT] [varchar](255) NULL,
	[LDIST_TCPFLAGS] [varchar](255) NULL,
	[LDIST_PROTO] [varchar](255) NULL,
	[LDIST_TOS] [varchar](255) NULL,
	[LDIST_RIP] [varchar](255) NULL,
	[LDIST_IN_INTF] [varchar](255) NULL,
	[LDIST_OUT_INTF] [varchar](255) NULL,
	[RESERVED3] [varchar](255) NULL,
	[RESERVED4] [varchar](255) NULL,
	[RESERVED5] [varchar](255) NULL,
	[LDIST_CONN] [text] NULL,
 CONSTRAINT [NBA_FE_SDAgg_PK] PRIMARY KEY CLUSTERED 
(
	[EVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__907874878]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__907874878] ON [dbo].[NBA_FE_SDAgg]
(
	[EVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NBA_FE_SDAgg]  WITH CHECK ADD  CONSTRAINT [NBA_FE_SDAgg_FK] FOREIGN KEY([EVID])
REFERENCES [dbo].[NBA_FE] ([EVID])
GO
ALTER TABLE [dbo].[NBA_FE_SDAgg] CHECK CONSTRAINT [NBA_FE_SDAgg_FK]
GO
