USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[APPMANAGERCHILDMONITORGROUP]    Script Date: 6/29/2019 5:46:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPMANAGERCHILDMONITORGROUP](
	[RESOURCENAME] [varchar](400) NOT NULL,
	[DISPLAYNAME] [varchar](400) NULL,
	[CHILDID] [bigint] NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
	[PROBEID] [bigint] NULL,
	[UNIQUEID] [bigint] NOT NULL,
 CONSTRAINT [APPMANAGERCHILDMONITORGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[UNIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPMANAGERCHILDMONITORGROUP] ADD  DEFAULT ('0') FOR [PROBEID]
GO
