USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMConfigFileVersion]    Script Date: 6/29/2019 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMConfigFileVersion](
	[FILE_ID] [bigint] NOT NULL,
	[VERSION_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMConfigFileVersion_PK] PRIMARY KEY CLUSTERED 
(
	[VERSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1891815070]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1891815070] ON [dbo].[NCMConfigFileVersion]
(
	[FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1483275023]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1483275023] ON [dbo].[NCMConfigFileVersion]
(
	[VERSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMConfigFileVersion]  WITH CHECK ADD  CONSTRAINT [NCMConfigFileVersion_FK] FOREIGN KEY([FILE_ID])
REFERENCES [dbo].[NCMConfigFile] ([FILE_ID])
GO
ALTER TABLE [dbo].[NCMConfigFileVersion] CHECK CONSTRAINT [NCMConfigFileVersion_FK]
GO
ALTER TABLE [dbo].[NCMConfigFileVersion]  WITH CHECK ADD  CONSTRAINT [NCMConfigFileVersion_FK1] FOREIGN KEY([VERSION_ID])
REFERENCES [dbo].[NCMVersion] ([VERSION_ID])
GO
ALTER TABLE [dbo].[NCMConfigFileVersion] CHECK CONSTRAINT [NCMConfigFileVersion_FK1]
GO
