USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Dashboard]    Script Date: 6/29/2019 5:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dashboard](
	[DASHBOARDID] [bigint] NOT NULL,
	[DASHBOARDNAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
	[PRODUCT_NAME] [varchar](200) NOT NULL,
	[CREATEDBY] [bigint] NOT NULL,
 CONSTRAINT [Dashboard_PK] PRIMARY KEY CLUSTERED 
(
	[DASHBOARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Dashboard_UK0] UNIQUE NONCLUSTERED 
(
	[DASHBOARDNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dashboard] ADD  DEFAULT ('OPM') FOR [PRODUCT_NAME]
GO
