USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEPORTINFO]    Script Date: 6/29/2019 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEPORTINFO](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[PORT_ID] [bigint] NOT NULL,
	[CONTROLLER_ID] [bigint] NOT NULL,
	[PORTTYPEID] [bigint] NOT NULL,
	[PORT_NAME] [varchar](250) NOT NULL,
	[STATUS] [varchar](250) NULL,
	[SPEED] [varchar](250) NULL,
	[MAC_ADDRESS] [varchar](250) NULL,
	[MTU] [varchar](250) NULL,
	[IQN] [varchar](250) NULL,
	[ADDITIONAL_DATA] [text] NULL,
 CONSTRAINT [STORAGEPORTINFO_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[PORT_NAME] ASC,
	[CONTROLLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEPORTINFO_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1959775655]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1959775655] ON [dbo].[STORAGEPORTINFO]
(
	[PORTTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1959775656]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1959775656] ON [dbo].[STORAGEPORTINFO]
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1959775657]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1959775657] ON [dbo].[STORAGEPORTINFO]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEPORTINFO]  WITH CHECK ADD  CONSTRAINT [STORAGEPORTINFO_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGEPORTINFO] CHECK CONSTRAINT [STORAGEPORTINFO_FK1]
GO
ALTER TABLE [dbo].[STORAGEPORTINFO]  WITH CHECK ADD  CONSTRAINT [STORAGEPORTINFO_FK2] FOREIGN KEY([PORT_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGEPORTINFO] CHECK CONSTRAINT [STORAGEPORTINFO_FK2]
GO
ALTER TABLE [dbo].[STORAGEPORTINFO]  WITH CHECK ADD  CONSTRAINT [STORAGEPORTINFO_FK3] FOREIGN KEY([PORTTYPEID])
REFERENCES [dbo].[STORAGEPORTTYPE] ([ID])
GO
ALTER TABLE [dbo].[STORAGEPORTINFO] CHECK CONSTRAINT [STORAGEPORTINFO_FK3]
GO
