USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CUSTOMMAPS]    Script Date: 6/29/2019 5:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMMAPS](
	[VALUESTRING] [varchar](250) NULL
) ON [PRIMARY]
GO
