USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FloorToRackMappings]    Script Date: 6/29/2019 5:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FloorToRackMappings](
	[MAPPINGID] [bigint] NOT NULL,
	[FLOORID] [bigint] NOT NULL,
	[RACKID] [bigint] NOT NULL,
	[RACKPOSITIONX] [int] NOT NULL,
	[RACKPOSITIONZ] [int] NOT NULL,
 CONSTRAINT [FloorToRackMappings_PK] PRIMARY KEY CLUSTERED 
(
	[MAPPINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FloorToRackMappings_UK1] UNIQUE NONCLUSTERED 
(
	[RACKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__621255599]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__621255599] ON [dbo].[FloorToRackMappings]
(
	[RACKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__621255600]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__621255600] ON [dbo].[FloorToRackMappings]
(
	[FLOORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FloorToRackMappings]  WITH CHECK ADD  CONSTRAINT [FloorToRackMappings_FK1] FOREIGN KEY([FLOORID])
REFERENCES [dbo].[FloorDetails] ([FLOORID])
GO
ALTER TABLE [dbo].[FloorToRackMappings] CHECK CONSTRAINT [FloorToRackMappings_FK1]
GO
ALTER TABLE [dbo].[FloorToRackMappings]  WITH CHECK ADD  CONSTRAINT [FloorToRackMappings_FK2] FOREIGN KEY([RACKID])
REFERENCES [dbo].[RackDetails] ([RACKID])
GO
ALTER TABLE [dbo].[FloorToRackMappings] CHECK CONSTRAINT [FloorToRackMappings_FK2]
GO
