USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NEContext]    Script Date: 6/29/2019 5:49:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEContext](
	[NETWORKELEMENTID] [bigint] NOT NULL,
	[NETWORKID] [bigint] NOT NULL,
	[NETWORKCONFIGNAME] [varchar](250) NULL,
	[NECONFIGNAME] [varchar](250) NULL,
	[TYPENAME] [varchar](250) NULL,
	[TYPE] [varchar](50) NULL,
 CONSTRAINT [NEContext_PK] PRIMARY KEY CLUSTERED 
(
	[NETWORKELEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_471481157]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_471481157] ON [dbo].[NEContext]
(
	[NETWORKELEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_471481158]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_471481158] ON [dbo].[NEContext]
(
	[NETWORKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_471481159]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_471481159] ON [dbo].[NEContext]
(
	[NECONFIGNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_471481160]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_471481160] ON [dbo].[NEContext]
(
	[NETWORKCONFIGNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NEContext]  WITH CHECK ADD  CONSTRAINT [NEContext_FK1] FOREIGN KEY([NETWORKELEMENTID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NEContext] CHECK CONSTRAINT [NEContext_FK1]
GO
ALTER TABLE [dbo].[NEContext]  WITH CHECK ADD  CONSTRAINT [NEContext_FK2] FOREIGN KEY([NETWORKID])
REFERENCES [dbo].[Network] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NEContext] CHECK CONSTRAINT [NEContext_FK2]
GO
ALTER TABLE [dbo].[NEContext]  WITH CHECK ADD  CONSTRAINT [NEContext_FK3] FOREIGN KEY([NECONFIGNAME])
REFERENCES [dbo].[NetworkElementConfiguration] ([NAME])
GO
ALTER TABLE [dbo].[NEContext] CHECK CONSTRAINT [NEContext_FK3]
GO
ALTER TABLE [dbo].[NEContext]  WITH CHECK ADD  CONSTRAINT [NEContext_FK4] FOREIGN KEY([NETWORKCONFIGNAME])
REFERENCES [dbo].[NetworkConfiguration] ([NAME])
GO
ALTER TABLE [dbo].[NEContext] CHECK CONSTRAINT [NEContext_FK4]
GO
