USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetAppSDKRaid]    Script Date: 6/29/2019 5:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetAppSDKRaid](
	[RAID_ID] [bigint] NOT NULL,
	[SYSTEM_ID] [varchar](250) NOT NULL,
	[VENDOR_ID] [varchar](250) NOT NULL,
	[MACHINE_TYPE] [varchar](250) NOT NULL,
	[PARTNER_SYS_NAME] [varchar](250) NOT NULL,
	[PARTNER_SYS_ID] [varchar](250) NOT NULL,
	[BOARD_TYPE] [varchar](250) NOT NULL,
	[BOARD_SPEED] [int] NOT NULL,
	[NO_OF_PROCESSORS] [int] NOT NULL,
	[MEMORY_SIZE] [int] NOT NULL,
	[ACTIVE_DISK_COUNT] [int] NOT NULL,
	[FAILED_DISK_COUNT] [int] NOT NULL,
	[SPARE_DISK_COUNT] [int] NOT NULL,
	[FORMATTED_CAPACITY] [varchar](250) NOT NULL,
	[SPARE_CAPACITY] [varchar](250) NOT NULL,
	[ONTAP_VERSION] [varchar](250) NOT NULL,
 CONSTRAINT [NetAppSDKRaid_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__33466835]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__33466835] ON [dbo].[NetAppSDKRaid]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetAppSDKRaid]  WITH CHECK ADD  CONSTRAINT [NetAppSDKRaid_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[NetAppSDKRaid] CHECK CONSTRAINT [NetAppSDKRaid_FK1]
GO
