USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SiteIPMap]    Script Date: 6/29/2019 5:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteIPMap](
	[ID] [int] NOT NULL,
	[SNAME] [varchar](255) NOT NULL,
	[APPNAME] [varchar](255) NOT NULL,
	[IPADDR] [bigint] NOT NULL,
	[EIPADDR] [bigint] NOT NULL,
 CONSTRAINT [SiteIPMap_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SiteIPMap] ADD  DEFAULT ('1000000') FOR [IPADDR]
GO
ALTER TABLE [dbo].[SiteIPMap] ADD  DEFAULT ('0') FOR [EIPADDR]
GO
