USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DatastoreFileSystemCons]    Script Date: 6/29/2019 5:46:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatastoreFileSystemCons](
	[FILESYSTEM_TYPEID] [bigint] NOT NULL,
	[TYPE_DESC] [varchar](50) NOT NULL,
 CONSTRAINT [DatastoreFileSystemCons_PK] PRIMARY KEY CLUSTERED 
(
	[FILESYSTEM_TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
