USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IcmpPort]    Script Date: 6/29/2019 5:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IcmpPort](
	[PORT] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[TYPE] [int] NOT NULL,
	[CODE] [int] NOT NULL,
	[DESP] [varchar](500) NULL,
 CONSTRAINT [IcmpPort_PK] PRIMARY KEY CLUSTERED 
(
	[PORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IcmpPort_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
