USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FabricPorts]    Script Date: 6/29/2019 5:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FabricPorts](
	[ID] [bigint] NOT NULL,
	[FABRIC_ID] [bigint] NOT NULL,
	[PORT_ID] [int] NOT NULL,
	[SLOT_ID] [int] NOT NULL,
	[DN] [varchar](50) NOT NULL,
	[PORT_GROUP_TYPE] [varchar](50) NOT NULL,
	[MAC_ADDRESS] [varchar](50) NOT NULL,
	[IFROLE] [varchar](50) NOT NULL,
	[IFTYPE] [varchar](50) NOT NULL,
	[OPERSTATE] [varchar](50) NOT NULL,
	[ADMINSTATE] [varchar](50) NOT NULL,
 CONSTRAINT [FabricPorts_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_437017591]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_437017591] ON [dbo].[FabricPorts]
(
	[FABRIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FabricPorts]  WITH CHECK ADD  CONSTRAINT [FabricPorts_FK] FOREIGN KEY([FABRIC_ID])
REFERENCES [dbo].[FabricInterConnect] ([FABRIC_ID])
GO
ALTER TABLE [dbo].[FabricPorts] CHECK CONSTRAINT [FabricPorts_FK]
GO
