USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduleMonthly]    Script Date: 6/29/2019 5:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleMonthly](
	[SCHEDULEID] [bigint] NOT NULL,
	[MONTHOFTHEYEAR] [varchar](250) NOT NULL,
	[Day] [bigint] NOT NULL,
	[Year] [bigint] NOT NULL,
 CONSTRAINT [ScheduleMonthly_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC,
	[MONTHOFTHEYEAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_727787939]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_727787939] ON [dbo].[ScheduleMonthly]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleMonthly]  WITH CHECK ADD  CONSTRAINT [ScheduleMonthly_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleReports] ([SCHEDULEID])
GO
ALTER TABLE [dbo].[ScheduleMonthly] CHECK CONSTRAINT [ScheduleMonthly_FK1]
GO
