USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NotificationSeverity]    Script Date: 6/29/2019 5:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationSeverity](
	[CRITERIAID] [bigint] NOT NULL,
	[SEVERITY] [varchar](100) NOT NULL,
 CONSTRAINT [NotificationSeverity_PK1] PRIMARY KEY CLUSTERED 
(
	[CRITERIAID] ASC,
	[SEVERITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__517176203]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__517176203] ON [dbo].[NotificationSeverity]
(
	[CRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NotificationSeverity]  WITH CHECK ADD  CONSTRAINT [NotificationSeverity_FK1] FOREIGN KEY([CRITERIAID])
REFERENCES [dbo].[ProfileCriteria] ([CRITERIAID])
GO
ALTER TABLE [dbo].[NotificationSeverity] CHECK CONSTRAINT [NotificationSeverity_FK1]
GO
