USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNICTeam]    Script Date: 6/29/2019 5:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNICTeam](
	[VNICTEAM_ID] [bigint] NOT NULL,
	[UPLINK_ID] [bigint] NOT NULL,
	[NICTEAM_UPLINKSTATE] [varchar](50) NULL,
	[UPLINK_INDEX] [int] NULL,
 CONSTRAINT [VNICTeam_PK] PRIMARY KEY CLUSTERED 
(
	[VNICTEAM_ID] ASC,
	[UPLINK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_178307869]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_178307869] ON [dbo].[VNICTeam]
(
	[UPLINK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNICTeam]  WITH CHECK ADD  CONSTRAINT [VNICTeam_FK2] FOREIGN KEY([UPLINK_ID])
REFERENCES [dbo].[UplinkAdapterProps] ([UPLINK_ID])
GO
ALTER TABLE [dbo].[VNICTeam] CHECK CONSTRAINT [VNICTeam_FK2]
GO
