USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SquidCacheCode]    Script Date: 6/29/2019 5:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SquidCacheCode](
	[CACHE_ID] [bigint] NOT NULL,
	[CODE] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
 CONSTRAINT [SquidCacheCode_PK] PRIMARY KEY CLUSTERED 
(
	[CACHE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
