USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ClariionDiskArrayEnclosure]    Script Date: 6/29/2019 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClariionDiskArrayEnclosure](
	[RAID_ID] [bigint] NOT NULL,
	[DEVICE_NAME] [varchar](250) NOT NULL,
	[DRIVE_TYPE] [varchar](250) NOT NULL,
	[CURRENT_SPEED] [varchar](250) NOT NULL,
	[MAXIMUM_SPEED] [varchar](250) NOT NULL,
	[POWER_A_STATE] [varchar](250) NOT NULL,
	[POWER_B_STATE] [varchar](250) NOT NULL,
	[LCC_A_STATE] [varchar](250) NULL,
	[LCC_B_STATE] [varchar](250) NULL,
	[LCC_A_REVISION] [varchar](250) NULL,
	[LCC_B_REVISION] [varchar](250) NULL,
	[LCC_A_SERIAL] [varchar](250) NOT NULL,
	[LCC_B_SERIAL] [varchar](250) NOT NULL,
	[LCC_A_CURRENT_SPEED] [varchar](250) NOT NULL,
	[LCC_A_MAXIMUM_SPEED] [varchar](250) NOT NULL,
	[LCC_B_CURRENT_SPEED] [varchar](250) NOT NULL,
	[LCC_B_MAXIMUM_SPEED] [varchar](250) NOT NULL,
 CONSTRAINT [CLARIIONDISKENCLOSURE_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[DEVICE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__266420408]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__266420408] ON [dbo].[ClariionDiskArrayEnclosure]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClariionDiskArrayEnclosure]  WITH CHECK ADD  CONSTRAINT [CLARIIONDISKENCLOSURE_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ClariionDiskArrayEnclosure] CHECK CONSTRAINT [CLARIIONDISKENCLOSURE_FK]
GO
