USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FADiscoveredHosts]    Script Date: 6/29/2019 5:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FADiscoveredHosts](
	[DID] [bigint] NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[HOST_IPADDRESS] [nvarchar](50) NULL,
 CONSTRAINT [FADiscoveredHosts_PK] PRIMARY KEY CLUSTERED 
(
	[DID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1669368892]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1669368892] ON [dbo].[FADiscoveredHosts]
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FADiscoveredHosts]  WITH CHECK ADD  CONSTRAINT [FADiscoveredHosts_FK] FOREIGN KEY([DID])
REFERENCES [dbo].[FADiscoveredDomains] ([DID])
GO
ALTER TABLE [dbo].[FADiscoveredHosts] CHECK CONSTRAINT [FADiscoveredHosts_FK]
GO
