USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ConfigCheckListStatusSummary]    Script Date: 6/29/2019 5:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigCheckListStatusSummary](
	[RID] [bigint] NOT NULL,
	[GENERIC_SECTION_ID] [bigint] NOT NULL,
	[DATA] [ntext] NULL,
	[STATUS] [nvarchar](10) NULL,
	[VERSION_NO] [bigint] NOT NULL,
	[LAST_GENERATED] [nvarchar](100) NULL,
 CONSTRAINT [ConfigCheckListStatusSummary_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC,
	[GENERIC_SECTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_1533060221]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1533060221] ON [dbo].[ConfigCheckListStatusSummary]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1533060222]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1533060222] ON [dbo].[ConfigCheckListStatusSummary]
(
	[GENERIC_SECTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConfigCheckListStatusSummary]  WITH CHECK ADD  CONSTRAINT [ConfigCheckListStatusSummary_FK1] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ConfigCheckListStatusSummary] CHECK CONSTRAINT [ConfigCheckListStatusSummary_FK1]
GO
ALTER TABLE [dbo].[ConfigCheckListStatusSummary]  WITH CHECK ADD  CONSTRAINT [ConfigCheckListStatusSummary_FK2] FOREIGN KEY([GENERIC_SECTION_ID])
REFERENCES [dbo].[FWAConfigCheckListDetails] ([GENERIC_SECTION_ID])
GO
ALTER TABLE [dbo].[ConfigCheckListStatusSummary] CHECK CONSTRAINT [ConfigCheckListStatusSummary_FK2]
GO
