USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WidgetMonitorDetails]    Script Date: 6/29/2019 5:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WidgetMonitorDetails](
	[ASSOCIATIONID] [bigint] NOT NULL,
	[MONITORID] [bigint] NOT NULL,
	[INSTANCE] [varchar](150) NULL,
 CONSTRAINT [WidgetMonitorDetails_PK] PRIMARY KEY CLUSTERED 
(
	[ASSOCIATIONID] ASC,
	[MONITORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1083957337]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1083957337] ON [dbo].[WidgetMonitorDetails]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WidgetMonitorDetails]  WITH CHECK ADD  CONSTRAINT [WidgetMonitorDetails_FK1] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[WidgetAssociation] ([ASSOCIATIONID])
GO
ALTER TABLE [dbo].[WidgetMonitorDetails] CHECK CONSTRAINT [WidgetMonitorDetails_FK1]
GO
