USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NBA_AlertProfile]    Script Date: 6/29/2019 5:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_AlertProfile](
	[PROFILE_ID] [int] NOT NULL,
	[PROFILE_NAME] [varbinary](max) NOT NULL,
	[PROFILE_DESC] [varbinary](max) NULL,
	[STATE] [int] NOT NULL,
	[ACTIONS] [int] NOT NULL,
	[EMAIL_ADDRESS] [varbinary](max) NULL,
	[SMS_NUMBER] [varbinary](max) NULL,
	[TOPCOUNT] [int] NOT NULL,
 CONSTRAINT [NBA_AlertProfile_PK] PRIMARY KEY CLUSTERED 
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[NBA_AlertProfile] ADD  DEFAULT ('0') FOR [ACTIONS]
GO
ALTER TABLE [dbo].[NBA_AlertProfile] ADD  DEFAULT ('100') FOR [TOPCOUNT]
GO
