USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WMIPolledData]    Script Date: 6/29/2019 5:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WMIPolledData](
	[COLLECTDATAID] [bigint] NOT NULL,
	[COLLECTDATANAME] [varchar](250) NOT NULL,
	[CLASSID] [int] NOT NULL,
	[EXPRESSION] [varchar](4000) NOT NULL,
	[CRITERIA] [varchar](4000) NULL,
	[INSTANCE] [varchar](250) NULL,
 CONSTRAINT [WMIPolledData_PK1] PRIMARY KEY CLUSTERED 
(
	[COLLECTDATAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [WMIPolledData_UK0] UNIQUE NONCLUSTERED 
(
	[COLLECTDATANAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1410455608]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1410455608] ON [dbo].[WMIPolledData]
(
	[CLASSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WMIPolledData]  WITH CHECK ADD  CONSTRAINT [WMIPolledData_FK1] FOREIGN KEY([CLASSID])
REFERENCES [dbo].[WMIClass] ([CLASSID])
GO
ALTER TABLE [dbo].[WMIPolledData] CHECK CONSTRAINT [WMIPolledData_FK1]
GO
