USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Source]    Script Date: 6/29/2019 5:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Source](
	[SOURCE_ID] [bigint] NOT NULL,
	[SOURCENAME] [varchar](250) NOT NULL,
	[SAAVERSION] [varchar](50) NOT NULL,
	[IOSVERSION] [varchar](50) NOT NULL,
	[MAXCOLLECTORS] [int] NOT NULL,
	[MAXPAYLOAD] [int] NOT NULL,
 CONSTRAINT [Source_PK] PRIMARY KEY CLUSTERED 
(
	[SOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Source_UK0] UNIQUE NONCLUSTERED 
(
	[SOURCENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
