USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorEdge6120FCPort]    Script Date: 6/29/2019 5:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorEdge6120FCPort](
	[RAID_DEVICE_ID] [bigint] NOT NULL,
	[PORT_NAME] [varchar](250) NOT NULL,
	[PORT_DEVICE_ID] [varchar](250) NOT NULL,
	[PORT_ELT_NAME] [varchar](250) NULL,
	[PORT_NUM] [varchar](250) NULL,
	[PORT_TYPE] [varchar](250) NULL,
	[PORT_SPEED] [varchar](250) NULL,
	[AUTOSENSE] [varchar](250) NULL,
	[LINKTECHNOLOGY] [varchar](250) NULL,
	[PERADDRESS] [varchar](250) NULL,
	[NETADDRESS] [varchar](250) NULL,
	[AVAILABILITY] [varchar](250) NULL,
	[OTHER_IDENTITY] [varchar](250) NULL,
	[PORT_STATUS] [varchar](250) NULL,
 CONSTRAINT [StorEdge6120FCPort_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_DEVICE_ID] ASC,
	[PORT_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1956922267]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1956922267] ON [dbo].[StorEdge6120FCPort]
(
	[RAID_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorEdge6120FCPort]  WITH CHECK ADD  CONSTRAINT [StorEdge6120FCPort_FK1] FOREIGN KEY([RAID_DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[StorEdge6120FCPort] CHECK CONSTRAINT [StorEdge6120FCPort_FK1]
GO
