USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WAASTraffic5Min]    Script Date: 6/29/2019 5:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAASTraffic5Min](
	[ID] [int] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[APP_NAME] [varchar](100) NOT NULL,
	[COMPRESSED_IN] [bigint] NOT NULL,
	[COMPRESSED_OUT] [bigint] NOT NULL,
	[FREQUENCY] [bigint] NOT NULL,
	[INTERMEDIATE_IN] [bigint] NOT NULL,
	[INTERMEDIATE_OUT] [bigint] NOT NULL,
	[OVERLOAD_IN] [bigint] NOT NULL,
	[OVERLOAD_OUT] [bigint] NOT NULL,
	[PEER_IN] [bigint] NOT NULL,
	[PEER_OUT] [bigint] NOT NULL,
	[POLICY_IN] [bigint] NOT NULL,
	[POLICY_OUT] [bigint] NOT NULL,
	[UNCOMPRESSED_IN] [bigint] NOT NULL,
	[UNCOMPRESSED_OUT] [bigint] NOT NULL,
	[START_TIME] [datetime] NOT NULL,
	[END_TIME] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [WAASTraffic5Min_IDX0]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [WAASTraffic5Min_IDX0] ON [dbo].[WAASTraffic5Min]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [WAASTraffic5Min_IDX1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [WAASTraffic5Min_IDX1] ON [dbo].[WAASTraffic5Min]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [WAASTraffic5Min_IDX2]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [WAASTraffic5Min_IDX2] ON [dbo].[WAASTraffic5Min]
(
	[APP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WAASTraffic5Min] ADD  DEFAULT (getdate()) FOR [START_TIME]
GO
ALTER TABLE [dbo].[WAASTraffic5Min] ADD  DEFAULT ('0000-00-00 00:00:00') FOR [END_TIME]
GO
