USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Schedule_Audit]    Script Date: 6/29/2019 5:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule_Audit](
	[AUDIT_ID] [bigint] NOT NULL,
	[SCHEDULE_ID] [bigint] NULL,
	[SCHEDULE_NAME] [nvarchar](150) NOT NULL,
	[TASK_INPUT_ID] [bigint] NULL,
	[SCHEDULE_START_TIME] [datetime] NOT NULL,
	[SCHEDULE_FINISH_TIME] [datetime] NOT NULL,
	[TASK_ID] [bigint] NULL,
	[TASK_NAME] [varchar](150) NOT NULL,
	[TASK_EXECUTION_STATUS] [varchar](20) NOT NULL,
	[STATUS_MESSAGE] [nvarchar](255) NULL,
	[SCHEDULED_TIME] [datetime] NULL,
 CONSTRAINT [Schedule_Audit_PK] PRIMARY KEY CLUSTERED 
(
	[AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
