USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ICMPSettings]    Script Date: 6/29/2019 5:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ICMPSettings](
	[ID] [bigint] NOT NULL,
	[PKT_COUNT] [int] NOT NULL,
	[PKT_SIZE] [int] NOT NULL,
	[TTL] [int] NOT NULL,
	[TIMEOUT] [int] NOT NULL,
 CONSTRAINT [ICMPSettings_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1035498980]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1035498980] ON [dbo].[ICMPSettings]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ICMPSettings]  WITH CHECK ADD  CONSTRAINT [ICMPSettings_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[Settings] ([ID])
GO
ALTER TABLE [dbo].[ICMPSettings] CHECK CONSTRAINT [ICMPSettings_FK]
GO
