USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserToAlertView]    Script Date: 6/29/2019 5:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserToAlertView](
	[NAME] [varchar](100) NOT NULL,
	[ALERT_VIEWID] [bigint] NOT NULL,
	[ALERT_UPDATEDID] [bigint] NOT NULL,
 CONSTRAINT [UserToAlertView_PK] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_395007689]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_395007689] ON [dbo].[UserToAlertView]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserToAlertView] ADD  DEFAULT ('0') FOR [ALERT_VIEWID]
GO
ALTER TABLE [dbo].[UserToAlertView] ADD  DEFAULT ('0') FOR [ALERT_UPDATEDID]
GO
ALTER TABLE [dbo].[UserToAlertView]  WITH CHECK ADD  CONSTRAINT [UserToAlertView_FK2] FOREIGN KEY([NAME])
REFERENCES [dbo].[OpUser] ([NAME])
GO
ALTER TABLE [dbo].[UserToAlertView] CHECK CONSTRAINT [UserToAlertView_FK2]
GO
