USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNXControlStation]    Script Date: 6/29/2019 5:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNXControlStation](
	[RAID_ID] [bigint] NOT NULL,
	[HOST_NAME] [varchar](250) NOT NULL,
	[VERSION] [varchar](250) NOT NULL,
	[LOCATION] [varchar](250) NOT NULL,
	[IPV4_ADDRESS] [varchar](250) NOT NULL,
	[IPV4_GATEWAY] [varchar](250) NOT NULL,
	[IPV4_NETMASK] [varchar](250) NOT NULL,
	[IPV6_ADDRESS] [varchar](250) NULL,
	[IPV6_GATEWAY] [varchar](250) NULL,
	[CONTROLSTATION_STATUS] [varchar](250) NULL,
	[STAND_BY_LOCATION] [varchar](250) NULL,
	[DNS_DOMAIN] [varchar](250) NOT NULL,
	[STAND_BY_STATUS] [varchar](250) NOT NULL,
	[DNS_SERVER] [varchar](250) NOT NULL,
 CONSTRAINT [VNXControlStation_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[HOST_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1179178963]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1179178963] ON [dbo].[VNXControlStation]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNXControlStation]  WITH CHECK ADD  CONSTRAINT [VNXControlStation_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXControlStation] CHECK CONSTRAINT [VNXControlStation_FK]
GO
