USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDeviceNotEOL]    Script Date: 6/29/2019 5:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDeviceNotEOL](
	[RESOURCEID] [bigint] NOT NULL,
	[EOLOPERATIONSTATUS] [varchar](25) NOT NULL,
 CONSTRAINT [NCMDeviceNotEOL_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1652365294]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1652365294] ON [dbo].[NCMDeviceNotEOL]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDeviceNotEOL] ADD  DEFAULT ('DATANOTSENT') FOR [EOLOPERATIONSTATUS]
GO
ALTER TABLE [dbo].[NCMDeviceNotEOL]  WITH CHECK ADD  CONSTRAINT [DeviceNotEOL_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMDeviceNotEOL] CHECK CONSTRAINT [DeviceNotEOL_FK1]
GO
