USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNXStoragePool]    Script Date: 6/29/2019 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNXStoragePool](
	[RAID_ID] [bigint] NOT NULL,
	[POOL_MOID] [bigint] NOT NULL,
	[POOL_ID] [varchar](150) NOT NULL,
	[POOL_NAME] [varchar](250) NOT NULL,
	[POOL_ACL] [varchar](250) NOT NULL,
	[POOL_IN_USE] [varchar](250) NOT NULL,
	[STORAGE_SYSTEM] [varchar](250) NULL,
	[IS_USER_DEFINED] [varchar](250) NOT NULL,
	[THIN] [varchar](250) NOT NULL,
	[SERVER_VISIBILITY] [varchar](250) NOT NULL,
	[NUM_OF_STRIPED_MEMBERS] [varchar](250) NOT NULL,
	[STRIPE_SIZE] [varchar](250) NOT NULL,
	[TOTAL_CAPACITY] [float] NULL,
	[AVAILABLE_CAPACITY] [float] NULL,
	[USED_PERCENTAGE] [int] NULL,
 CONSTRAINT [VNXStoragePool_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__698090427]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__698090427] ON [dbo].[VNXStoragePool]
(
	[POOL_MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_670217613]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_670217613] ON [dbo].[VNXStoragePool]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNXStoragePool]  WITH CHECK ADD  CONSTRAINT [VNXStoragePool_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXStoragePool] CHECK CONSTRAINT [VNXStoragePool_FK]
GO
ALTER TABLE [dbo].[VNXStoragePool]  WITH CHECK ADD  CONSTRAINT [VNXStoragePool_FK2] FOREIGN KEY([POOL_MOID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXStoragePool] CHECK CONSTRAINT [VNXStoragePool_FK2]
GO
