USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Print_Task_Relvar]    Script Date: 6/29/2019 5:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Print_Task_Relvar](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[SEQUENCE_NUMBER] [int] NOT NULL,
	[RELVAR_ID] [bigint] NOT NULL,
 CONSTRAINT [Print_Task_Relvar_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC,
	[SEQUENCE_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1034321006]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1034321006] ON [dbo].[Print_Task_Relvar]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1999180163]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1999180163] ON [dbo].[Print_Task_Relvar]
(
	[RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Print_Task_Relvar]  WITH CHECK ADD  CONSTRAINT [Print_Task_Relvar_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Print_Task] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Print_Task_Relvar] CHECK CONSTRAINT [Print_Task_Relvar_FK]
GO
ALTER TABLE [dbo].[Print_Task_Relvar]  WITH CHECK ADD  CONSTRAINT [Print_Task_Relvar_FK1] FOREIGN KEY([RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Print_Task_Relvar] CHECK CONSTRAINT [Print_Task_Relvar_FK1]
GO
