USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARFCPort]    Script Date: 6/29/2019 5:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARFCPort](
	[PORT_ID] [bigint] NOT NULL,
	[MAX_SPEED] [varchar](250) NOT NULL,
	[LINK_TECHNOLOGY] [varchar](250) NOT NULL,
	[FULL_DUPLEX] [varchar](250) NOT NULL,
	[AUTO_SENSE] [varchar](250) NOT NULL,
	[MTU] [varchar](250) NOT NULL,
	[SUPPORTED_FC4_TYPES] [varchar](250) NOT NULL,
	[ACTIVE_FC4_TYPES] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARFCPort_PK] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__625433072]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__625433072] ON [dbo].[HP3PARFCPort]
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARFCPort]  WITH CHECK ADD  CONSTRAINT [HP3PARFCPort_FK] FOREIGN KEY([PORT_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HP3PARFCPort] CHECK CONSTRAINT [HP3PARFCPort_FK]
GO
