USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NotificationProfile_PIDX]    Script Date: 6/29/2019 5:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationProfile_PIDX](
	[PROFILEID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](40) NOT NULL,
 CONSTRAINT [NotificationProfile_PIDX_PK] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC,
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__140889898]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__140889898] ON [dbo].[NotificationProfile_PIDX]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NotificationProfile_PIDX]  WITH CHECK ADD  CONSTRAINT [NotificationProfile_PIDX_FK] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[NotificationProfile_PIDX] CHECK CONSTRAINT [NotificationProfile_PIDX_FK]
GO
