USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Errors_Daily]    Script Date: 6/29/2019 5:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors_Daily](
	[VERIFYERRORS] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[TOTALPACKETSLATE] [bigint] NOT NULL,
	[TOTALDROPS] [bigint] NOT NULL,
	[PROBE_ID] [bigint] NOT NULL,
	[TOTALSEQERRORS] [bigint] NOT NULL,
	[TOTALBUSIES] [bigint] NOT NULL,
 CONSTRAINT [Errors_Daily_PK] PRIMARY KEY CLUSTERED 
(
	[COLLECTIONTIME] ASC,
	[PROBE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
