USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CustomerToRegionalServerMap]    Script Date: 6/29/2019 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerToRegionalServerMap](
	[REGIONALSERVERID] [bigint] NOT NULL,
	[CUSTOMERID] [bigint] NOT NULL,
 CONSTRAINT [CustomerToRegionalServerMap_PK] PRIMARY KEY CLUSTERED 
(
	[REGIONALSERVERID] ASC,
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
