USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARNodePowerSupply]    Script Date: 6/29/2019 5:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARNodePowerSupply](
	[NODE_ID] [bigint] NOT NULL,
	[PS_ID] [varchar](250) NOT NULL,
	[PS_DISPLAY_NAME] [varchar](250) NOT NULL,
	[PS_MANUFACTURER] [varchar](250) NOT NULL,
	[PS_MODEL] [varchar](250) NOT NULL,
	[PS_SERIAL_NUMBER] [varchar](250) NOT NULL,
	[PS_POSITION] [varchar](250) NOT NULL,
	[PS_AC_STATUS] [varchar](250) NOT NULL,
	[PS_DC_STATUS] [varchar](250) NOT NULL,
	[PS_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARNodePowerSupply_PK] PRIMARY KEY CLUSTERED 
(
	[NODE_ID] ASC,
	[PS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2087688264]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2087688264] ON [dbo].[HP3PARNodePowerSupply]
(
	[NODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARNodePowerSupply]  WITH CHECK ADD  CONSTRAINT [HP3PARNodePowerSupply_FK] FOREIGN KEY([NODE_ID])
REFERENCES [dbo].[HP3PARNode] ([NODE_ID])
GO
ALTER TABLE [dbo].[HP3PARNodePowerSupply] CHECK CONSTRAINT [HP3PARNodePowerSupply_FK]
GO
