USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpSetParam]    Script Date: 6/29/2019 5:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpSetParam](
	[RecordID] [varchar](250) NOT NULL,
	[ParamIndex] [int] NOT NULL,
	[Label] [varchar](50) NULL,
	[OIDName] [varchar](100) NOT NULL,
	[Instance] [varchar](100) NULL,
	[Type] [varchar](50) NOT NULL,
	[Value] [varchar](50) NOT NULL,
 CONSTRAINT [SNMPSETPARAM_KEY] PRIMARY KEY CLUSTERED 
(
	[ParamIndex] ASC,
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1367489563]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1367489563] ON [dbo].[SnmpSetParam]
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnmpSetParam]  WITH CHECK ADD  CONSTRAINT [SNMPSETPARAM_FK] FOREIGN KEY([RecordID])
REFERENCES [dbo].[SnmpSetRecord] ([RecordID])
GO
ALTER TABLE [dbo].[SnmpSetParam] CHECK CONSTRAINT [SNMPSETPARAM_FK]
GO
