USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMVersionDownloadInput]    Script Date: 6/29/2019 5:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMVersionDownloadInput](
	[INSTANCEID] [bigint] NOT NULL,
	[VERSION_ID] [bigint] NOT NULL,
	[DOWNLOADAS] [varchar](50) NOT NULL,
 CONSTRAINT [NCMVersionDownloadInput_PK1] PRIMARY KEY CLUSTERED 
(
	[INSTANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1880512048]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1880512048] ON [dbo].[NCMVersionDownloadInput]
(
	[VERSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1880512049]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1880512049] ON [dbo].[NCMVersionDownloadInput]
(
	[INSTANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMVersionDownloadInput]  WITH CHECK ADD  CONSTRAINT [NCMVersionDownloadInput_FK1] FOREIGN KEY([INSTANCEID])
REFERENCES [dbo].[NCMConfigAutomationInput] ([INSTANCEID])
GO
ALTER TABLE [dbo].[NCMVersionDownloadInput] CHECK CONSTRAINT [NCMVersionDownloadInput_FK1]
GO
ALTER TABLE [dbo].[NCMVersionDownloadInput]  WITH CHECK ADD  CONSTRAINT [NCMVersionDownloadInput_FK2] FOREIGN KEY([VERSION_ID])
REFERENCES [dbo].[NCMVersion] ([VERSION_ID])
GO
ALTER TABLE [dbo].[NCMVersionDownloadInput] CHECK CONSTRAINT [NCMVersionDownloadInput_FK2]
GO
