USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Out_Var_Instances]    Script Date: 6/29/2019 5:50:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Out_Var_Instances](
	[WF_INSTANCE_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [bigint] NOT NULL,
	[OUT_VARIABLE_NAME] [varchar](100) NOT NULL,
	[VALUE] [varbinary](max) NOT NULL,
 CONSTRAINT [Out_Var_Instances_PK] PRIMARY KEY CLUSTERED 
(
	[WF_INSTANCE_ID] ASC,
	[TEMPLATE_ID] ASC,
	[OUT_VARIABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_673364130]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_673364130] ON [dbo].[Out_Var_Instances]
(
	[WF_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_673364131]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_673364131] ON [dbo].[Out_Var_Instances]
(
	[TEMPLATE_ID] ASC,
	[OUT_VARIABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Out_Var_Instances]  WITH CHECK ADD  CONSTRAINT [Out_Var_Instances_FK1] FOREIGN KEY([WF_INSTANCE_ID])
REFERENCES [dbo].[Workflow_Instances] ([WF_INSTANCE_ID])
GO
ALTER TABLE [dbo].[Out_Var_Instances] CHECK CONSTRAINT [Out_Var_Instances_FK1]
GO
ALTER TABLE [dbo].[Out_Var_Instances]  WITH CHECK ADD  CONSTRAINT [Out_Var_Instances_FK2] FOREIGN KEY([TEMPLATE_ID], [OUT_VARIABLE_NAME])
REFERENCES [dbo].[Template_Variables] ([TEMPLATE_ID], [VARIABLE_NAME])
GO
ALTER TABLE [dbo].[Out_Var_Instances] CHECK CONSTRAINT [Out_Var_Instances_FK2]
GO
