USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AccordanceRaid]    Script Date: 6/29/2019 5:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccordanceRaid](
	[RAID_ID] [bigint] NOT NULL,
	[CHIP_EDITION] [varchar](250) NOT NULL,
	[MASTER_SLAVE_SETTING] [varchar](250) NOT NULL,
	[CPU_LOAD] [varchar](250) NOT NULL,
	[MEM_LOAD] [varchar](250) NOT NULL,
	[MEM_FREE] [varchar](250) NOT NULL,
	[MEM_USED] [varchar](250) NOT NULL,
	[REAL_MEM] [varchar](250) NOT NULL,
 CONSTRAINT [ACCORDANCERAID_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__373270810]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__373270810] ON [dbo].[AccordanceRaid]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccordanceRaid]  WITH CHECK ADD  CONSTRAINT [ACCORDANCERAID_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[AccordanceRaid] CHECK CONSTRAINT [ACCORDANCERAID_FK1]
GO
