USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NICType]    Script Date: 6/29/2019 5:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NICType](
	[OUI] [varchar](8) NOT NULL,
	[TYPE] [varchar](100) NULL,
	[USAGETYPE] [varchar](50) NULL,
 CONSTRAINT [NICType_PK] PRIMARY KEY CLUSTERED 
(
	[OUI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
