USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SourceVsError]    Script Date: 6/29/2019 5:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SourceVsError](
	[SOURCE_ID] [bigint] NOT NULL,
	[ERRORCODE] [int] NOT NULL,
	[ERRORTYPE_ID] [int] NOT NULL,
 CONSTRAINT [SourceVsError_PK] PRIMARY KEY CLUSTERED 
(
	[SOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1133299412]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1133299412] ON [dbo].[SourceVsError]
(
	[SOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_772543453]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_772543453] ON [dbo].[SourceVsError]
(
	[ERRORCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_772543454]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_772543454] ON [dbo].[SourceVsError]
(
	[ERRORTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SourceVsError]  WITH CHECK ADD  CONSTRAINT [SourceVsError_FK] FOREIGN KEY([SOURCE_ID])
REFERENCES [dbo].[Source] ([SOURCE_ID])
GO
ALTER TABLE [dbo].[SourceVsError] CHECK CONSTRAINT [SourceVsError_FK]
GO
ALTER TABLE [dbo].[SourceVsError]  WITH CHECK ADD  CONSTRAINT [SourceVsError_FK1] FOREIGN KEY([ERRORCODE])
REFERENCES [dbo].[IpSlaErrorCode] ([ERRORCODE])
GO
ALTER TABLE [dbo].[SourceVsError] CHECK CONSTRAINT [SourceVsError_FK1]
GO
ALTER TABLE [dbo].[SourceVsError]  WITH CHECK ADD  CONSTRAINT [SourceVsError_FK2] FOREIGN KEY([ERRORTYPE_ID])
REFERENCES [dbo].[ErrorType] ([ERRORTYPE_ID])
GO
ALTER TABLE [dbo].[SourceVsError] CHECK CONSTRAINT [SourceVsError_FK2]
GO
