USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ServiceRelation]    Script Date: 6/29/2019 5:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRelation](
	[SERVICEGROUPID] [bigint] NOT NULL,
	[SERVICEIDENTIFIER] [varchar](250) NOT NULL,
 CONSTRAINT [ServRel_PK] PRIMARY KEY CLUSTERED 
(
	[SERVICEGROUPID] ASC,
	[SERVICEIDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_865750608]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_865750608] ON [dbo].[ServiceRelation]
(
	[SERVICEGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_865750609]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_865750609] ON [dbo].[ServiceRelation]
(
	[SERVICEIDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceRelation]  WITH CHECK ADD  CONSTRAINT [ServRel_FK1] FOREIGN KEY([SERVICEGROUPID])
REFERENCES [dbo].[ServiceGroup] ([SERVICEGROUPID])
GO
ALTER TABLE [dbo].[ServiceRelation] CHECK CONSTRAINT [ServRel_FK1]
GO
ALTER TABLE [dbo].[ServiceRelation]  WITH CHECK ADD  CONSTRAINT [ServRel_FK2] FOREIGN KEY([SERVICEIDENTIFIER])
REFERENCES [dbo].[ServiceConfiguration] ([SERVICEIDENTIFIER])
GO
ALTER TABLE [dbo].[ServiceRelation] CHECK CONSTRAINT [ServRel_FK2]
GO
