USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HyperVHostDiskProps]    Script Date: 6/29/2019 5:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HyperVHostDiskProps](
	[HOSTID] [bigint] NOT NULL,
	[DISKNAME] [varchar](250) NOT NULL,
	[CAPACITYINMB] [bigint] NULL,
	[FREESPACEINMB] [bigint] NULL,
 CONSTRAINT [HyperVHostDiskProps_PK] PRIMARY KEY CLUSTERED 
(
	[HOSTID] ASC,
	[DISKNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__115763090]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__115763090] ON [dbo].[HyperVHostDiskProps]
(
	[HOSTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HyperVHostDiskProps]  WITH CHECK ADD  CONSTRAINT [HyperVHostDiskProps_FK1] FOREIGN KEY([HOSTID])
REFERENCES [dbo].[HyperVHostProps] ([HOSTID])
GO
ALTER TABLE [dbo].[HyperVHostDiskProps] CHECK CONSTRAINT [HyperVHostDiskProps_FK1]
GO
