USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProxyServerConfig]    Script Date: 6/29/2019 5:50:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProxyServerConfig](
	[USERNAME] [varchar](50) NOT NULL,
	[PROXYUSERNAME] [varchar](50) NOT NULL,
	[PROXYPASSWORD] [varbinary](max) NOT NULL,
	[PROXYHOST] [varchar](50) NOT NULL,
	[PROXYPORT] [int] NULL,
	[PROTOCOL] [varchar](20) NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[NOPROXY] [varchar](1000) NULL,
 CONSTRAINT [ProxyServerConfig_PK] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC,
	[PROTOCOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
