USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorageTekLibraryTapeDrive]    Script Date: 6/29/2019 5:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageTekLibraryTapeDrive](
	[DEVICE_ID] [bigint] NOT NULL,
	[CODE_VERSION] [varchar](250) NOT NULL,
	[VERSION] [varchar](250) NOT NULL,
	[GET_RETRIES] [varchar](250) NOT NULL,
	[PUT_RETRIES] [varchar](250) NOT NULL,
	[CELL_STATUS] [varchar](250) NOT NULL,
	[IDLE_SECONDS] [varchar](250) NOT NULL,
	[NUM_MOUNTS] [varchar](250) NOT NULL,
	[USAGE_SAMPLE_COUNT] [varchar](250) NOT NULL,
	[USAGE_MINIMUM] [varchar](250) NOT NULL,
	[USAGE_MAXIMUM] [varchar](250) NOT NULL,
 CONSTRAINT [STORAGETEKLIBRARYTAPEDRIVE_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_954840665]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_954840665] ON [dbo].[StorageTekLibraryTapeDrive]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorageTekLibraryTapeDrive]  WITH CHECK ADD  CONSTRAINT [STORAGETEKLIBRARYTAPEDRIVE_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[StorageTekLibraryTapeDrive] CHECK CONSTRAINT [STORAGETEKLIBRARYTAPEDRIVE_FK1]
GO
