USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Boolean_Template_Vars]    Script Date: 6/29/2019 5:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boolean_Template_Vars](
	[BOOLEAN_EXPRESSION_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [bigint] NOT NULL,
	[VARIABLE_NAME] [varchar](100) NOT NULL,
	[BOOLEAN_INDEX] [bigint] NULL,
 CONSTRAINT [Boolean_Template_Vars_PK] PRIMARY KEY CLUSTERED 
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__28322520]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__28322520] ON [dbo].[Boolean_Template_Vars]
(
	[BOOLEAN_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__28322521]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__28322521] ON [dbo].[Boolean_Template_Vars]
(
	[TEMPLATE_ID] ASC,
	[VARIABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1384559690]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1384559690] ON [dbo].[Boolean_Template_Vars]
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Boolean_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Boolean_Template_Vars_FK] FOREIGN KEY([BOOLEAN_EXPRESSION_ID])
REFERENCES [dbo].[Boolean_Expressions] ([BOOLEAN_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Boolean_Template_Vars] CHECK CONSTRAINT [Boolean_Template_Vars_FK]
GO
ALTER TABLE [dbo].[Boolean_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Boolean_Template_Vars_FK1] FOREIGN KEY([TEMPLATE_ID], [VARIABLE_NAME])
REFERENCES [dbo].[Template_Data] ([TEMPLATE_ID], [VARIABLE_NAME])
GO
ALTER TABLE [dbo].[Boolean_Template_Vars] CHECK CONSTRAINT [Boolean_Template_Vars_FK1]
GO
ALTER TABLE [dbo].[Boolean_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Boolean_Template_Vars_FK2] FOREIGN KEY([BOOLEAN_INDEX])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Boolean_Template_Vars] CHECK CONSTRAINT [Boolean_Template_Vars_FK2]
GO
