USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OpUtils_API_KEY]    Script Date: 6/29/2019 5:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpUtils_API_KEY](
	[NAME] [varchar](100) NOT NULL,
	[APIKEY] [varchar](250) NOT NULL,
	[LAST_GENERATED_DATE] [datetime] NULL,
	[EXPIRY_DATE] [datetime] NULL,
 CONSTRAINT [OpUtils_API_KEY_PK] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__2102436059]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2102436059] ON [dbo].[OpUtils_API_KEY]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OpUtils_API_KEY]  WITH CHECK ADD  CONSTRAINT [OpUtils_API_KEY_NAME_FK] FOREIGN KEY([NAME])
REFERENCES [dbo].[OpUser] ([NAME])
GO
ALTER TABLE [dbo].[OpUtils_API_KEY] CHECK CONSTRAINT [OpUtils_API_KEY_NAME_FK]
GO
