USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBM3584ScsiController]    Script Date: 6/29/2019 5:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBM3584ScsiController](
	[DEVICE_ID] [bigint] NOT NULL,
	[CONTROLLER_INDEX] [int] NOT NULL,
	[CONTROLLER_DEVICEID] [varchar](250) NULL,
	[CONTROLLER_ELMT_NAME] [varchar](250) NULL,
	[CONTROLLER_OPER_STATUS] [varchar](250) NULL,
	[CONTROLLER_DESC] [varchar](250) NULL,
	[CONTROLLER_AVAILABILITY] [varchar](250) NULL,
	[CONTROLLER_CHANGERDEV_INDEX] [int] NULL,
	[CONTROLLER_MEDIAACCESS_INDEX] [int] NULL,
 CONSTRAINT [IBM3584ScsiController_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[CONTROLLER_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_688541697]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_688541697] ON [dbo].[IBM3584ScsiController]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBM3584ScsiController]  WITH CHECK ADD  CONSTRAINT [IBM3584ScsiController_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBM3584ScsiController] CHECK CONSTRAINT [IBM3584ScsiController_FK1]
GO
