USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPTLInterfaceController]    Script Date: 6/29/2019 5:48:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPTLInterfaceController](
	[DEVICE_ID] [bigint] NOT NULL,
	[CNT_NAME] [varchar](250) NOT NULL,
	[CNT_ELT_NAME] [varchar](250) NULL,
	[CNT_STATUS] [varchar](250) NULL,
 CONSTRAINT [HPTLInterfaceController_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[CNT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1329515746]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1329515746] ON [dbo].[HPTLInterfaceController]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPTLInterfaceController]  WITH CHECK ADD  CONSTRAINT [HPTLInterfaceController_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPTLInterfaceController] CHECK CONSTRAINT [HPTLInterfaceController_FK1]
GO
