USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourceToServerNATIP]    Script Date: 6/29/2019 5:49:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourceToServerNATIP](
	[RESOURCEID] [bigint] NOT NULL,
	[SERVERNATIP] [varchar](15) NOT NULL,
 CONSTRAINT [NCMResourceToServerNATIP_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1869860719]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1869860719] ON [dbo].[NCMResourceToServerNATIP]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourceToServerNATIP]  WITH CHECK ADD  CONSTRAINT [NCMResourceToServerNATIP_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMResourceToServerNATIP] CHECK CONSTRAINT [NCMResourceToServerNATIP_FK1]
GO
