USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RULESET]    Script Date: 6/29/2019 5:51:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RULESET](
	[SETID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
 CONSTRAINT [RULESET_PK1] PRIMARY KEY CLUSTERED 
(
	[SETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
