USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PLUGINTYPES]    Script Date: 6/29/2019 5:50:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLUGINTYPES](
	[PLUGINNAME] [varchar](100) NOT NULL,
	[TYPEID] [bigint] NOT NULL,
 CONSTRAINT [PLUGINTYPES_PK] PRIMARY KEY CLUSTERED 
(
	[PLUGINNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_535974227]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_535974227] ON [dbo].[PLUGINTYPES]
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PLUGINTYPES]  WITH CHECK ADD  CONSTRAINT [PLUGINTYPES_FK1] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[WidgetType] ([TYPEID])
GO
ALTER TABLE [dbo].[PLUGINTYPES] CHECK CONSTRAINT [PLUGINTYPES_FK1]
GO
