USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NGBaseSchedule]    Script Date: 6/29/2019 5:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGBaseSchedule](
	[ID] [bigint] NOT NULL,
	[MODULEID] [int] NOT NULL,
	[SCHED_TYPE] [int] NOT NULL,
	[SCHED_STATUS] [int] NOT NULL,
	[STARTS_AT] [datetime] NOT NULL,
	[LASTEXECUTIONTIME] [datetime] NULL,
 CONSTRAINT [NGBaseSchedule_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1454773166]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1454773166] ON [dbo].[NGBaseSchedule]
(
	[MODULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NGBaseSchedule] ADD  DEFAULT ('1') FOR [SCHED_STATUS]
GO
ALTER TABLE [dbo].[NGBaseSchedule]  WITH CHECK ADD  CONSTRAINT [NGBaseSchedule_FK1] FOREIGN KEY([MODULEID])
REFERENCES [dbo].[NGScheduleModule] ([MODULEID])
GO
ALTER TABLE [dbo].[NGBaseSchedule] CHECK CONSTRAINT [NGBaseSchedule_FK1]
GO
