USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FAReportSettings]    Script Date: 6/29/2019 5:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAReportSettings](
	[RID] [bigint] NOT NULL,
	[RBBGID] [bigint] NOT NULL,
	[TIME_INTERVAL] [bigint] NULL,
	[SNMPID] [bigint] NULL,
	[DIPID] [bigint] NULL,
	[ENABLED] [bit] NOT NULL,
 CONSTRAINT [FAReportSettings_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC,
	[RBBGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__805119648]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__805119648] ON [dbo].[FAReportSettings]
(
	[SNMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__805119649]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__805119649] ON [dbo].[FAReportSettings]
(
	[DIPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FAReportSettings] ADD  DEFAULT ('0') FOR [TIME_INTERVAL]
GO
ALTER TABLE [dbo].[FAReportSettings] ADD  DEFAULT ((1)) FOR [ENABLED]
GO
ALTER TABLE [dbo].[FAReportSettings]  WITH CHECK ADD  CONSTRAINT [FAReportSettings_FK1] FOREIGN KEY([DIPID])
REFERENCES [dbo].[DeviceInfoProfiles] ([DIPID])
GO
ALTER TABLE [dbo].[FAReportSettings] CHECK CONSTRAINT [FAReportSettings_FK1]
GO
ALTER TABLE [dbo].[FAReportSettings]  WITH CHECK ADD  CONSTRAINT [FAReportSettings_FK2] FOREIGN KEY([SNMPID])
REFERENCES [dbo].[SnmpInfo] ([RID])
GO
ALTER TABLE [dbo].[FAReportSettings] CHECK CONSTRAINT [FAReportSettings_FK2]
GO
