USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AlertCountConfig]    Script Date: 6/29/2019 5:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertCountConfig](
	[TOOL_ID] [varchar](50) NOT NULL,
	[HISTORY_STATUS] [int] NOT NULL,
	[COUNT] [bigint] NULL,
	[NUMBEROFLINES] [bigint] NOT NULL,
	[MAINTAIN_NUMBER_OF_FILE] [int] NOT NULL,
	[PERSIST_LINE_NUMBER] [int] NOT NULL,
 CONSTRAINT [AlertCountConfig_PK] PRIMARY KEY CLUSTERED 
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_655996706]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_655996706] ON [dbo].[AlertCountConfig]
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertCountConfig] ADD  DEFAULT ('1') FOR [HISTORY_STATUS]
GO
ALTER TABLE [dbo].[AlertCountConfig] ADD  DEFAULT ('10000') FOR [NUMBEROFLINES]
GO
ALTER TABLE [dbo].[AlertCountConfig] ADD  DEFAULT ('10') FOR [MAINTAIN_NUMBER_OF_FILE]
GO
ALTER TABLE [dbo].[AlertCountConfig] ADD  DEFAULT ('0') FOR [PERSIST_LINE_NUMBER]
GO
ALTER TABLE [dbo].[AlertCountConfig]  WITH CHECK ADD  CONSTRAINT [AlertCountConfig_FK1] FOREIGN KEY([TOOL_ID])
REFERENCES [dbo].[Tool] ([TOOL_ID])
GO
ALTER TABLE [dbo].[AlertCountConfig] CHECK CONSTRAINT [AlertCountConfig_FK1]
GO
