USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMPCIReviewStateHolder]    Script Date: 6/29/2019 5:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMPCIReviewStateHolder](
	[RESOURCEID] [bigint] NOT NULL,
	[REVIEW_STATE] [varchar](15) NOT NULL,
	[PENDING_COUNT] [bigint] NOT NULL,
	[TIMESTAMP] [datetime] NULL,
 CONSTRAINT [NCMPCIReviewStateHolder_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_97430036]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_97430036] ON [dbo].[NCMPCIReviewStateHolder]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMPCIReviewStateHolder] ADD  DEFAULT ('NOTASSIGNED') FOR [REVIEW_STATE]
GO
ALTER TABLE [dbo].[NCMPCIReviewStateHolder]  WITH CHECK ADD  CONSTRAINT [NCMPCIReviewStateHolder_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMPCIReviewStateHolder] CHECK CONSTRAINT [NCMPCIReviewStateHolder_FK1]
GO
