USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LsiTray]    Script Date: 6/29/2019 5:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LsiTray](
	[DEVICE_ID] [bigint] NOT NULL,
	[TRAY_NAME] [varchar](50) NOT NULL,
	[ARRAY_TYPE] [varchar](50) NULL,
	[TRAY_TYPE] [varchar](50) NULL,
	[ROLE] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[DISK_TYPE] [varchar](50) NULL,
	[NUMBER_OR_DISKS] [varchar](50) NULL,
 CONSTRAINT [LsiTray_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[TRAY_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_297334085]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_297334085] ON [dbo].[LsiTray]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LsiTray]  WITH CHECK ADD  CONSTRAINT [LsiTray_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LsiTray] CHECK CONSTRAINT [LsiTray_FK1]
GO
