USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiscoveryMapperConnection]    Script Date: 6/29/2019 5:47:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryMapperConnection](
	[MAPPERID] [bigint] NOT NULL,
	[CONNECTIONID] [varchar](250) NOT NULL,
	[CONNECTIONORDER] [bigint] NOT NULL,
 CONSTRAINT [DiscMapConn_PK] PRIMARY KEY CLUSTERED 
(
	[MAPPERID] ASC,
	[CONNECTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1190209279]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1190209279] ON [dbo].[DiscoveryMapperConnection]
(
	[CONNECTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1190209280]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1190209280] ON [dbo].[DiscoveryMapperConnection]
(
	[MAPPERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscoveryMapperConnection]  WITH CHECK ADD  CONSTRAINT [DiscMapConn_FK1] FOREIGN KEY([MAPPERID])
REFERENCES [dbo].[DiscoveryMapperConfiguration] ([MAPPERID])
GO
ALTER TABLE [dbo].[DiscoveryMapperConnection] CHECK CONSTRAINT [DiscMapConn_FK1]
GO
ALTER TABLE [dbo].[DiscoveryMapperConnection]  WITH CHECK ADD  CONSTRAINT [DiscMapConn_FK2] FOREIGN KEY([CONNECTIONID])
REFERENCES [dbo].[ConnectionSpec] ([ConnectionID])
GO
ALTER TABLE [dbo].[DiscoveryMapperConnection] CHECK CONSTRAINT [DiscMapConn_FK2]
GO
