USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduleDetails]    Script Date: 6/29/2019 5:51:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleDetails](
	[ID] [bigint] NOT NULL,
	[SCHEDULE_NAME] [varchar](100) NOT NULL,
	[SCHEDULE_DESC] [varbinary](max) NOT NULL,
	[STATE] [int] NOT NULL,
	[SCHEDULE_TYPE] [varchar](50) NOT NULL,
	[SCHEDULE_SOURCE] [varchar](100) NOT NULL,
	[SCHEDULE_EMAILID] [varbinary](max) NOT NULL,
	[SCHEDULE_EMAILSUBJECT] [varchar](255) NOT NULL,
	[REPORT_GEN_TYPE] [int] NOT NULL,
	[TIMEZONE] [varchar](200) NOT NULL,
 CONSTRAINT [ScheduleDetails_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ScheduleDetails_UK0] UNIQUE NONCLUSTERED 
(
	[SCHEDULE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleDetails] ADD  DEFAULT ('Report from Netflow Analyzer') FOR [SCHEDULE_EMAILSUBJECT]
GO
ALTER TABLE [dbo].[ScheduleDetails] ADD  DEFAULT ('0') FOR [REPORT_GEN_TYPE]
GO
