USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDiscoveryTask]    Script Date: 6/29/2019 5:49:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDiscoveryTask](
	[TASKID] [bigint] NOT NULL,
	[DISCOVERYTYPE] [varchar](100) NOT NULL,
	[CREATEDTIME] [datetime] NOT NULL,
	[TASKSTATUS] [varchar](20) NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
 CONSTRAINT [NCMDiscoveryTask_PK] PRIMARY KEY CLUSTERED 
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDiscoveryTask] ADD  DEFAULT ('INPROGRESS') FOR [TASKSTATUS]
GO
ALTER TABLE [dbo].[NCMDiscoveryTask] ADD  DEFAULT ('-') FOR [DESCRIPTION]
GO
