USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FADiscoveredDomains]    Script Date: 6/29/2019 5:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FADiscoveredDomains](
	[DID] [bigint] NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[PATH] [nvarchar](250) NOT NULL,
	[TYPE] [bigint] NOT NULL,
 CONSTRAINT [FADiscoveredDomains_PK] PRIMARY KEY CLUSTERED 
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FADiscoveredDomains_UK1] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
