USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WidgetToReport]    Script Date: 6/29/2019 5:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WidgetToReport](
	[WIDGETID] [bigint] NOT NULL,
	[REPORTID] [bigint] NOT NULL,
 CONSTRAINT [WidgetToReport_PK] PRIMARY KEY CLUSTERED 
(
	[WIDGETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1456098272]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1456098272] ON [dbo].[WidgetToReport]
(
	[WIDGETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1456098273]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1456098273] ON [dbo].[WidgetToReport]
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WidgetToReport]  WITH CHECK ADD  CONSTRAINT [WidgetToReport_FK1] FOREIGN KEY([WIDGETID])
REFERENCES [dbo].[Widget] ([WIDGETID])
GO
ALTER TABLE [dbo].[WidgetToReport] CHECK CONSTRAINT [WidgetToReport_FK1]
GO
ALTER TABLE [dbo].[WidgetToReport]  WITH CHECK ADD  CONSTRAINT [WidgetToReport_FK2] FOREIGN KEY([REPORTID])
REFERENCES [dbo].[ReportDefinition] ([ID])
GO
ALTER TABLE [dbo].[WidgetToReport] CHECK CONSTRAINT [WidgetToReport_FK2]
GO
