USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMXIVStorageVolume]    Script Date: 6/29/2019 5:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMXIVStorageVolume](
	[DEVICE_ID] [bigint] NOT NULL,
	[VOLUME_MO_ID] [bigint] NOT NULL,
	[VOLUME_NAME] [varchar](50) NOT NULL,
	[CONSUMABLE_SPACE] [varchar](250) NULL,
	[SIZE] [varchar](250) NULL,
	[VIRTUAL_SPACE_CONSUMED] [varchar](250) NULL,
 CONSTRAINT [IBMXIVStorageVolume_PK] PRIMARY KEY CLUSTERED 
(
	[VOLUME_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_663878033]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_663878033] ON [dbo].[IBMXIVStorageVolume]
(
	[VOLUME_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMXIVStorageVolume]  WITH CHECK ADD  CONSTRAINT [IBMXIVStorageVolume_FK1] FOREIGN KEY([VOLUME_MO_ID])
REFERENCES [dbo].[SANStorageVolume] ([VOLUME_MO_ID])
GO
ALTER TABLE [dbo].[IBMXIVStorageVolume] CHECK CONSTRAINT [IBMXIVStorageVolume_FK1]
GO
