USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DefVOIPJitterSettingsTemplate]    Script Date: 6/29/2019 5:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefVOIPJitterSettingsTemplate](
	[ID] [int] NOT NULL,
	[SOURCE_PORT] [bigint] NOT NULL,
	[DESTINATION_PORT] [bigint] NOT NULL,
	[SIMULATED_VOIPCODECID] [int] NOT NULL,
	[TYPE_OF_SERVICE] [int] NOT NULL,
	[POLL_INTERVAL] [int] NULL,
	[TIMEOUT] [int] NULL,
	[MOS_ADV_FACTOR] [int] NOT NULL,
 CONSTRAINT [DefVOIPJitterSettingsTemplate_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_846969462]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_846969462] ON [dbo].[DefVOIPJitterSettingsTemplate]
(
	[SIMULATED_VOIPCODECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DefVOIPJitterSettingsTemplate]  WITH CHECK ADD  CONSTRAINT [DefVOIPJitterSettingsTemplate_FK] FOREIGN KEY([SIMULATED_VOIPCODECID])
REFERENCES [dbo].[IpslaVoipCodecConstants] ([CODECID])
GO
ALTER TABLE [dbo].[DefVOIPJitterSettingsTemplate] CHECK CONSTRAINT [DefVOIPJitterSettingsTemplate_FK]
GO
