USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[USERTOSOCIALITMAPPINGS]    Script Date: 6/29/2019 5:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERTOSOCIALITMAPPINGS](
	[LOGIN_ID] [bigint] NOT NULL,
	[SOCIALITENABLED] [bit] NOT NULL,
 CONSTRAINT [USERTOSOCIALITMAPPINGS_PK1] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__664680432]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__664680432] ON [dbo].[USERTOSOCIALITMAPPINGS]
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USERTOSOCIALITMAPPINGS] ADD  DEFAULT ((0)) FOR [SOCIALITENABLED]
GO
ALTER TABLE [dbo].[USERTOSOCIALITMAPPINGS]  WITH CHECK ADD  CONSTRAINT [USERTOSOCIALITMAPPINGS_FK1] FOREIGN KEY([LOGIN_ID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[USERTOSOCIALITMAPPINGS] CHECK CONSTRAINT [USERTOSOCIALITMAPPINGS_FK1]
GO
