USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCredentialValue]    Script Date: 6/29/2019 5:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCredentialValue](
	[CREDENTIALID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[PROTOCOLID] [bigint] NOT NULL,
	[DEFINITIONID] [bigint] NOT NULL,
 CONSTRAINT [NCMCredentialValue_PK] PRIMARY KEY CLUSTERED 
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMCredentialValue_UNQ1] UNIQUE NONCLUSTERED 
(
	[RESOURCEID] ASC,
	[PROTOCOLID] ASC,
	[DEFINITIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1064191663]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1064191663] ON [dbo].[NCMCredentialValue]
(
	[DEFINITIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1064191665]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1064191665] ON [dbo].[NCMCredentialValue]
(
	[RESOURCEID] ASC,
	[PROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCredentialValue]  WITH CHECK ADD  CONSTRAINT [NCMCredentialValue_FK1] FOREIGN KEY([RESOURCEID], [PROTOCOLID])
REFERENCES [dbo].[NCMResourcesProtocolList] ([RESOURCEID], [PROTOCOLID])
GO
ALTER TABLE [dbo].[NCMCredentialValue] CHECK CONSTRAINT [NCMCredentialValue_FK1]
GO
ALTER TABLE [dbo].[NCMCredentialValue]  WITH CHECK ADD  CONSTRAINT [NCMCredentialValue_FK3] FOREIGN KEY([DEFINITIONID])
REFERENCES [dbo].[NCMCredentialValueDef] ([DEFINITIONID])
GO
ALTER TABLE [dbo].[NCMCredentialValue] CHECK CONSTRAINT [NCMCredentialValue_FK3]
GO
