USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DeviceCredentials]    Script Date: 6/29/2019 5:47:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceCredentials](
	[DDID] [bigint] NOT NULL,
	[CREDENTIAL_NAME] [nvarchar](100) NOT NULL,
	[CREDENTIAL_VALUE] [varbinary](max) NOT NULL,
 CONSTRAINT [DeviceCredentials_PK] PRIMARY KEY CLUSTERED 
(
	[DDID] ASC,
	[CREDENTIAL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_3323568]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_3323568] ON [dbo].[DeviceCredentials]
(
	[DDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceCredentials]  WITH CHECK ADD  CONSTRAINT [DevCredenToDevDetails_FK] FOREIGN KEY([DDID])
REFERENCES [dbo].[DeviceDetails] ([DDID])
GO
ALTER TABLE [dbo].[DeviceCredentials] CHECK CONSTRAINT [DevCredenToDevDetails_FK]
GO
