USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Views_PIDX]    Script Date: 6/29/2019 5:52:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Views_PIDX](
	[VIEW_ID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](40) NOT NULL,
 CONSTRAINT [Views_PIDX_PK] PRIMARY KEY CLUSTERED 
(
	[VIEW_ID] ASC,
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1007118074]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1007118074] ON [dbo].[Views_PIDX]
(
	[VIEW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Views_PIDX]  WITH CHECK ADD  CONSTRAINT [Views_PIDX_FK] FOREIGN KEY([VIEW_ID])
REFERENCES [dbo].[Views] ([VIEW_ID])
GO
ALTER TABLE [dbo].[Views_PIDX] CHECK CONSTRAINT [Views_PIDX_FK]
GO
