USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSCredential]    Script Date: 6/29/2019 5:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSCredential](
	[CRED_ID] [bigint] NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varbinary](max) NOT NULL,
	[PROTOCOL] [varchar](50) NOT NULL,
	[PORT] [int] NOT NULL,
	[TIMEOUT] [int] NOT NULL,
	[RETRIES] [int] NOT NULL,
 CONSTRAINT [UCSCredential_PK] PRIMARY KEY CLUSTERED 
(
	[CRED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_2078218792]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2078218792] ON [dbo].[UCSCredential]
(
	[CRED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UCSCredential]  WITH CHECK ADD  CONSTRAINT [UCSCredential_FK] FOREIGN KEY([CRED_ID])
REFERENCES [dbo].[CredentialManager] ([CREDENTIALID])
GO
ALTER TABLE [dbo].[UCSCredential] CHECK CONSTRAINT [UCSCredential_FK]
GO
