USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ApiKeyToUserMap]    Script Date: 6/29/2019 5:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiKeyToUserMap](
	[APIKEYID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
 CONSTRAINT [APIKey_PK] PRIMARY KEY CLUSTERED 
(
	[APIKEYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ApiKeyToUserMap_UK1] UNIQUE NONCLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1254671138]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1254671138] ON [dbo].[ApiKeyToUserMap]
(
	[APIKEYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApiKeyToUserMap]  WITH CHECK ADD  CONSTRAINT [ApiKeyToUserMap_FK1] FOREIGN KEY([APIKEYID])
REFERENCES [dbo].[ApiKey] ([APIKEYID])
GO
ALTER TABLE [dbo].[ApiKeyToUserMap] CHECK CONSTRAINT [ApiKeyToUserMap_FK1]
GO
