USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GRAPHTOPOLLMAP]    Script Date: 6/29/2019 5:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRAPHTOPOLLMAP](
	[GRAPHID] [bigint] NOT NULL,
	[POLLID] [bigint] NOT NULL,
 CONSTRAINT [GraphToPollMap_PK] PRIMARY KEY CLUSTERED 
(
	[POLLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__70845983]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__70845983] ON [dbo].[GRAPHTOPOLLMAP]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GRAPHTOPOLLMAP]  WITH CHECK ADD  CONSTRAINT [GraphToPollMap_FK1] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[GRAPHTOPOLLMAP] CHECK CONSTRAINT [GraphToPollMap_FK1]
GO
