USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Boundary_Matchers]    Script Date: 6/29/2019 5:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boundary_Matchers](
	[PATTERN_EXPR_ID] [bigint] NOT NULL,
	[START_OPERATOR] [int] NOT NULL,
	[END_OPERATOR] [int] NOT NULL,
 CONSTRAINT [Boundary_Matchers_PK] PRIMARY KEY CLUSTERED 
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1659795538]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1659795538] ON [dbo].[Boundary_Matchers]
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Boundary_Matchers]  WITH CHECK ADD  CONSTRAINT [Boundary_Matchers_FK] FOREIGN KEY([PATTERN_EXPR_ID])
REFERENCES [dbo].[Pattern_Expressions] ([PATTERN_EXPR_ID])
GO
ALTER TABLE [dbo].[Boundary_Matchers] CHECK CONSTRAINT [Boundary_Matchers_FK]
GO
