USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Message_Keys]    Script Date: 6/29/2019 5:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message_Keys](
	[INPUT_ID] [bigint] NOT NULL,
	[KEY_NAME] [varchar](188) NOT NULL,
	[KEY_VALUE] [varchar](250) NOT NULL,
 CONSTRAINT [Message_Keys_PK] PRIMARY KEY CLUSTERED 
(
	[INPUT_ID] ASC,
	[KEY_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1348990344]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1348990344] ON [dbo].[Message_Keys]
(
	[INPUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Message_Keys]  WITH CHECK ADD  CONSTRAINT [Message_Keys_FK] FOREIGN KEY([INPUT_ID])
REFERENCES [dbo].[Email_Task_Input] ([INPUT_ID])
GO
ALTER TABLE [dbo].[Message_Keys] CHECK CONSTRAINT [Message_Keys_FK]
GO
