USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SelectQueryProps]    Script Date: 6/29/2019 5:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelectQueryProps](
	[QUERYID] [bigint] NOT NULL,
	[QUERYNAME] [varchar](100) NOT NULL,
 CONSTRAINT [SelectQueryProps_PK] PRIMARY KEY CLUSTERED 
(
	[QUERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [SelectQueryProps_UK0] UNIQUE NONCLUSTERED 
(
	[QUERYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1175003360]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1175003360] ON [dbo].[SelectQueryProps]
(
	[QUERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SelectQueryProps]  WITH CHECK ADD  CONSTRAINT [SelectQueryProps_FK] FOREIGN KEY([QUERYID])
REFERENCES [dbo].[SelectQuery] ([QUERYID])
GO
ALTER TABLE [dbo].[SelectQueryProps] CHECK CONSTRAINT [SelectQueryProps_FK]
GO
