USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RBTaskSchedule]    Script Date: 6/29/2019 5:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RBTaskSchedule](
	[SCHED_TASK_ID] [bigint] NOT NULL,
	[RBID] [bigint] NOT NULL,
 CONSTRAINT [RBTaskSchedule_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHED_TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1224738521]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1224738521] ON [dbo].[RBTaskSchedule]
(
	[SCHED_TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1224738522]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1224738522] ON [dbo].[RBTaskSchedule]
(
	[RBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RBTaskSchedule]  WITH CHECK ADD  CONSTRAINT [RBTaskSchedule_FK1] FOREIGN KEY([SCHED_TASK_ID])
REFERENCES [dbo].[NGBaseSchedule] ([ID])
GO
ALTER TABLE [dbo].[RBTaskSchedule] CHECK CONSTRAINT [RBTaskSchedule_FK1]
GO
ALTER TABLE [dbo].[RBTaskSchedule]  WITH CHECK ADD  CONSTRAINT [RBTaskSchedule_FK2] FOREIGN KEY([RBID])
REFERENCES [dbo].[RunBook] ([RBID])
GO
ALTER TABLE [dbo].[RBTaskSchedule] CHECK CONSTRAINT [RBTaskSchedule_FK2]
GO
