USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ChangeMgmt2RptConfig]    Script Date: 6/29/2019 5:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeMgmt2RptConfig](
	[DDID] [bigint] NOT NULL,
	[REPORTID] [bigint] NOT NULL,
	[REPORTFORMAT] [nvarchar](100) NULL,
	[RID] [bigint] NOT NULL,
 CONSTRAINT [ChangeMgmt2RptConfig_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_689150980]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_689150980] ON [dbo].[ChangeMgmt2RptConfig]
(
	[DDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_689150981]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_689150981] ON [dbo].[ChangeMgmt2RptConfig]
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChangeMgmt2RptConfig]  WITH CHECK ADD  CONSTRAINT [ChangeMgmt2RptConfig_FK1] FOREIGN KEY([DDID])
REFERENCES [dbo].[DeviceDetails] ([DDID])
GO
ALTER TABLE [dbo].[ChangeMgmt2RptConfig] CHECK CONSTRAINT [ChangeMgmt2RptConfig_FK1]
GO
ALTER TABLE [dbo].[ChangeMgmt2RptConfig]  WITH CHECK ADD  CONSTRAINT [ChangeMgmt2RptConfig_FK2] FOREIGN KEY([REPORTID])
REFERENCES [dbo].[ReportConfig] ([REPORTID])
GO
ALTER TABLE [dbo].[ChangeMgmt2RptConfig] CHECK CONSTRAINT [ChangeMgmt2RptConfig_FK2]
GO
