USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic500TapeLibrary]    Script Date: 6/29/2019 5:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic500TapeLibrary](
	[DEVICE_ID] [bigint] NOT NULL,
	[DEVICE_STATE] [varchar](250) NOT NULL,
	[DRIVES_STATUS] [varchar](250) NOT NULL,
	[MAIN_DOOR_STATUS] [varchar](250) NOT NULL,
	[IE_DOOR_STATUS] [varchar](250) NOT NULL,
	[ROBOT_STATE] [varchar](250) NOT NULL,
	[NUM_SSLOTS] [int] NOT NULL,
	[NUM_IESLOTS] [int] NOT NULL,
	[NUM_PARTITIONS] [int] NOT NULL,
	[SERIAL_NO] [varchar](250) NOT NULL,
 CONSTRAINT [Adic500TapeLibrary_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__769924614]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__769924614] ON [dbo].[Adic500TapeLibrary]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic500TapeLibrary]  WITH CHECK ADD  CONSTRAINT [Adci500TapeLibrary_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic500TapeLibrary] CHECK CONSTRAINT [Adci500TapeLibrary_FK1]
GO
