USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDeviceOperation]    Script Date: 6/29/2019 5:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDeviceOperation](
	[DEVICEPROTOCOLID] [bigint] NOT NULL,
	[COMMANDMAPID] [varchar](50) NOT NULL,
	[OPERATIONID] [bigint] NOT NULL,
	[EXECUTIONGROUPID] [bigint] NOT NULL,
	[TASKHANDLING] [bit] NOT NULL,
 CONSTRAINT [NCMDeviceOperation_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICEPROTOCOLID] ASC,
	[COMMANDMAPID] ASC,
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__404818392]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__404818392] ON [dbo].[NCMDeviceOperation]
(
	[EXECUTIONGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__404818393]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__404818393] ON [dbo].[NCMDeviceOperation]
(
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__404818394]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__404818394] ON [dbo].[NCMDeviceOperation]
(
	[DEVICEPROTOCOLID] ASC,
	[COMMANDMAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDeviceOperation] ADD  DEFAULT ((0)) FOR [TASKHANDLING]
GO
ALTER TABLE [dbo].[NCMDeviceOperation]  WITH CHECK ADD  CONSTRAINT [NCMDeviceOperation_FK1] FOREIGN KEY([DEVICEPROTOCOLID], [COMMANDMAPID])
REFERENCES [dbo].[NCMDeviceCriteria] ([DEVICEPROTOCOLID], [COMMANDMAPID])
GO
ALTER TABLE [dbo].[NCMDeviceOperation] CHECK CONSTRAINT [NCMDeviceOperation_FK1]
GO
ALTER TABLE [dbo].[NCMDeviceOperation]  WITH CHECK ADD  CONSTRAINT [NCMDeviceOperation_FK2] FOREIGN KEY([OPERATIONID])
REFERENCES [dbo].[NCMOperation] ([OPERATIONID])
GO
ALTER TABLE [dbo].[NCMDeviceOperation] CHECK CONSTRAINT [NCMDeviceOperation_FK2]
GO
ALTER TABLE [dbo].[NCMDeviceOperation]  WITH CHECK ADD  CONSTRAINT [NCMDeviceOperation_FK3] FOREIGN KEY([EXECUTIONGROUPID])
REFERENCES [dbo].[NCMExecutionGroup] ([EXECUTIONGROUPID])
GO
ALTER TABLE [dbo].[NCMDeviceOperation] CHECK CONSTRAINT [NCMDeviceOperation_FK3]
GO
