USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VENDORSUBCATEGORYDETAILS]    Script Date: 6/29/2019 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDORSUBCATEGORYDETAILS](
	[GRAPHID] [bigint] NOT NULL,
	[SUBCATEGORYNAME] [varchar](100) NOT NULL,
 CONSTRAINT [VENDORSUBCATEGORYDETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[GRAPHID] ASC,
	[SUBCATEGORYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2050238808]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2050238808] ON [dbo].[VENDORSUBCATEGORYDETAILS]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDORSUBCATEGORYDETAILS]  WITH CHECK ADD  CONSTRAINT [VENDORSUBCATEGORYDETAILS_FK] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[VENDORSUBCATEGORYDETAILS] CHECK CONSTRAINT [VENDORSUBCATEGORYDETAILS_FK]
GO
