USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TypeRecordConfiguration]    Script Date: 6/29/2019 5:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeRecordConfiguration](
	[SERVICEGROUPID] [bigint] NULL,
	[INTERFACEGROUPID] [bigint] NULL,
	[TYPENAME] [varchar](250) NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
	[PERSONALITY] [varchar](50) NOT NULL,
	[CRITERIA] [varchar](250) NULL,
	[TYPERECORDNAME] [varchar](250) NOT NULL,
 CONSTRAINT [TRConf_PK] PRIMARY KEY CLUSTERED 
(
	[TYPERECORDNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TRConf_UK] UNIQUE NONCLUSTERED 
(
	[TYPENAME] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2025468652]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2025468652] ON [dbo].[TypeRecordConfiguration]
(
	[INTERFACEGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2025468653]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2025468653] ON [dbo].[TypeRecordConfiguration]
(
	[SERVICEGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__2025468655]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2025468655] ON [dbo].[TypeRecordConfiguration]
(
	[TYPERECORDNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__2025468657]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2025468657] ON [dbo].[TypeRecordConfiguration]
(
	[TYPENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TypeRecordConfiguration] ADD  DEFAULT ('NetworkElement') FOR [PERSONALITY]
GO
ALTER TABLE [dbo].[TypeRecordConfiguration]  WITH CHECK ADD  CONSTRAINT [TRConf_FK1] FOREIGN KEY([TYPENAME])
REFERENCES [dbo].[TypeConfiguration] ([TYPENAME])
GO
ALTER TABLE [dbo].[TypeRecordConfiguration] CHECK CONSTRAINT [TRConf_FK1]
GO
ALTER TABLE [dbo].[TypeRecordConfiguration]  WITH CHECK ADD  CONSTRAINT [TRConf_FK3] FOREIGN KEY([TYPERECORDNAME])
REFERENCES [dbo].[DiscoveryConfiguration] ([NAME])
GO
ALTER TABLE [dbo].[TypeRecordConfiguration] CHECK CONSTRAINT [TRConf_FK3]
GO
ALTER TABLE [dbo].[TypeRecordConfiguration]  WITH CHECK ADD  CONSTRAINT [TRConf_FK5] FOREIGN KEY([SERVICEGROUPID])
REFERENCES [dbo].[ServiceGroup] ([SERVICEGROUPID])
GO
ALTER TABLE [dbo].[TypeRecordConfiguration] CHECK CONSTRAINT [TRConf_FK5]
GO
ALTER TABLE [dbo].[TypeRecordConfiguration]  WITH CHECK ADD  CONSTRAINT [TRConf_FK6] FOREIGN KEY([INTERFACEGROUPID])
REFERENCES [dbo].[InterfaceGroup] ([INTERFACEGROUPID])
GO
ALTER TABLE [dbo].[TypeRecordConfiguration] CHECK CONSTRAINT [TRConf_FK6]
GO
