USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Templates_To_Relvars]    Script Date: 6/29/2019 5:52:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Templates_To_Relvars](
	[TEMPLATE_ID] [bigint] NOT NULL,
	[RELVAR_ID] [bigint] NOT NULL,
 CONSTRAINT [Templates_To_Relvars_PK] PRIMARY KEY CLUSTERED 
(
	[TEMPLATE_ID] ASC,
	[RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1350283980]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1350283980] ON [dbo].[Templates_To_Relvars]
(
	[RELVAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1844672867]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1844672867] ON [dbo].[Templates_To_Relvars]
(
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Templates_To_Relvars]  WITH CHECK ADD  CONSTRAINT [Templates_To_Relvars_FK] FOREIGN KEY([TEMPLATE_ID])
REFERENCES [dbo].[Templates] ([TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Templates_To_Relvars] CHECK CONSTRAINT [Templates_To_Relvars_FK]
GO
ALTER TABLE [dbo].[Templates_To_Relvars]  WITH CHECK ADD  CONSTRAINT [Templates_To_Relvars_FK1] FOREIGN KEY([RELVAR_ID])
REFERENCES [dbo].[Relvars] ([RELVAR_ID])
GO
ALTER TABLE [dbo].[Templates_To_Relvars] CHECK CONSTRAINT [Templates_To_Relvars_FK1]
GO
