USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserDashboardsMap]    Script Date: 6/29/2019 5:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDashboardsMap](
	[DASHBOARD_ID] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
 CONSTRAINT [DashUserMap_PK] PRIMARY KEY CLUSTERED 
(
	[DASHBOARD_ID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__263913313]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__263913313] ON [dbo].[UserDashboardsMap]
(
	[DASHBOARD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserDashboardsMap]  WITH CHECK ADD  CONSTRAINT [UserDashboardsMap_FK1] FOREIGN KEY([DASHBOARD_ID])
REFERENCES [dbo].[Dashboard] ([DASHBOARDID])
GO
ALTER TABLE [dbo].[UserDashboardsMap] CHECK CONSTRAINT [UserDashboardsMap_FK1]
GO
