USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VDatastoreStatsDaily]    Script Date: 6/29/2019 5:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VDatastoreStatsDaily](
	[VDATASTORE_ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[DISK_ACCESSIBLE] [bit] NULL,
	[DISK_CAPACITYGB] [float] NULL,
	[DISK_FREEGB] [float] NULL,
	[DISK_USAGEGB] [float] NULL,
	[DISK_USAGEPERC] [float] NULL,
 CONSTRAINT [VDatastoreStatsDaily_PK] PRIMARY KEY CLUSTERED 
(
	[VDATASTORE_ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
