USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InfortrendFanStatus]    Script Date: 6/29/2019 5:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfortrendFanStatus](
	[DEVICE_ID] [bigint] NOT NULL,
	[FAN_INDEX] [int] NOT NULL,
	[FAN_STATUS] [varchar](250) NULL,
 CONSTRAINT [InfortrendFanStatus_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[FAN_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1960138617]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1960138617] ON [dbo].[InfortrendFanStatus]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InfortrendFanStatus]  WITH CHECK ADD  CONSTRAINT [InfortrendFanStatus_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[InfortrendFanStatus] CHECK CONSTRAINT [InfortrendFanStatus_FK1]
GO
