USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CFDatatypes]    Script Date: 6/29/2019 5:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFDatatypes](
	[DTYPE_ID] [bigint] NOT NULL,
	[DATATYPE_NAME] [varchar](15) NOT NULL,
 CONSTRAINT [CFDatatypes_PK] PRIMARY KEY CLUSTERED 
(
	[DTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
