USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GMapWidget]    Script Date: 6/29/2019 5:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMapWidget](
	[WIDGETID] [bigint] NOT NULL,
	[MAPID] [bigint] NOT NULL,
	[LATITUDE] [real] NOT NULL,
	[LONGITUDE] [real] NOT NULL,
	[ZOOM] [int] NOT NULL,
 CONSTRAINT [GMapWidget_PK] PRIMARY KEY CLUSTERED 
(
	[WIDGETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__724537081]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__724537081] ON [dbo].[GMapWidget]
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__724537082]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__724537082] ON [dbo].[GMapWidget]
(
	[WIDGETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GMapWidget]  WITH CHECK ADD  CONSTRAINT [GMapWidget_FK1] FOREIGN KEY([WIDGETID])
REFERENCES [dbo].[ReportWidgetID] ([ID])
GO
ALTER TABLE [dbo].[GMapWidget] CHECK CONSTRAINT [GMapWidget_FK1]
GO
ALTER TABLE [dbo].[GMapWidget]  WITH CHECK ADD  CONSTRAINT [GMapWidget_FK2] FOREIGN KEY([MAPID])
REFERENCES [dbo].[GMapDetails] ([MAPID])
GO
ALTER TABLE [dbo].[GMapWidget] CHECK CONSTRAINT [GMapWidget_FK2]
GO
