USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CenteraCluster]    Script Date: 6/29/2019 5:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CenteraCluster](
	[RAID_ID] [bigint] NOT NULL,
	[NO_OF_NODES] [varchar](250) NULL,
	[NO_OF_STORAGE_NODES] [varchar](250) NULL,
	[TOTAL_CAPACITY] [varchar](250) NULL,
	[TOTAL_CAPACITY_PERCENT] [varchar](250) NULL,
	[USED_CAPACITY] [varchar](250) NULL,
	[USED_CAPACITY_PERCENT] [varchar](250) NULL,
	[FREE_CAPACITY] [varchar](250) NULL,
	[FREE_CAPACITY_PERCENT] [varchar](250) NULL,
	[SYSTEM_BUFFER_SPACE] [varchar](250) NULL,
	[SYSTEM_BUFFER_SPACE_PERCENT] [varchar](250) NULL,
	[REGENERATION_BUFFER_SPACE] [varchar](250) NULL,
	[REGENERATION_BUFFER_SPACE_PERCENT] [varchar](250) NULL,
	[AVAILABLE_CAPACITY] [varchar](250) NULL,
	[AVAILABLE_CAPACITY_PERCENT] [varchar](250) NULL,
	[TOTAL_OBJECT_COUNT] [varchar](250) NULL,
	[TOTAL_OBJECT_COUNT_PERCENT] [varchar](250) NULL,
	[USED_OBJECT_COUNT] [varchar](250) NULL,
	[USED_OBJECT_COUNT_PERCENT] [varchar](250) NULL,
	[FREE_OBJECT_COUNT] [varchar](250) NULL,
	[FREE_OBJECT_COUNT_PERCENT] [varchar](250) NULL,
	[SW_VERSION] [varchar](250) NULL,
 CONSTRAINT [CENTERA_CLUSTER_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1639737612]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1639737612] ON [dbo].[CenteraCluster]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CenteraCluster]  WITH CHECK ADD  CONSTRAINT [CENTERA_CLUSTER_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[CenteraCluster] CHECK CONSTRAINT [CENTERA_CLUSTER_FK1]
GO
