USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMSVC_MDisk]    Script Date: 6/29/2019 5:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMSVC_MDisk](
	[RAID_ID] [bigint] NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NULL,
	[MDISK_GROUP_NAME] [varchar](250) NULL,
	[RAID_LEVEL] [varchar](250) NULL,
	[REDUNDANCY] [varchar](250) NULL,
	[STRIPE_SIZE] [varchar](250) NULL,
	[MODE] [varchar](250) NULL,
	[CAPACITY] [varchar](250) NULL,
	[STATUS] [varchar](250) NULL,
 CONSTRAINT [IBMVMDisk_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2050998379]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2050998379] ON [dbo].[IBMSVC_MDisk]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMSVC_MDisk]  WITH CHECK ADD  CONSTRAINT [IBMVMDisk_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMSVC_MDisk] CHECK CONSTRAINT [IBMVMDisk_FK1]
GO
