USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDeviceGroup]    Script Date: 6/29/2019 5:49:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDeviceGroup](
	[DEVICE_GROUP_ID] [bigint] NOT NULL,
	[DEVICE_GROUP_NAME] [varchar](100) NOT NULL,
	[DEVICE_GROUP_TYPE] [varchar](20) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
	[SELECTQUERYID] [bigint] NOT NULL,
	[LOGIN_ID] [bigint] NULL,
	[GLOBAL_GROUP] [bit] NOT NULL,
	[DRAW_TYPE] [varchar](50) NOT NULL,
 CONSTRAINT [NCMDeviceGroup_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMDeviceGroup_UK1] UNIQUE NONCLUSTERED 
(
	[LOGIN_ID] ASC,
	[DEVICE_GROUP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_21959742]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_21959742] ON [dbo].[NCMDeviceGroup]
(
	[SELECTQUERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_21959743]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_21959743] ON [dbo].[NCMDeviceGroup]
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDeviceGroup] ADD  DEFAULT ('No Description') FOR [DESCRIPTION]
GO
ALTER TABLE [dbo].[NCMDeviceGroup] ADD  DEFAULT ((0)) FOR [GLOBAL_GROUP]
GO
ALTER TABLE [dbo].[NCMDeviceGroup] ADD  DEFAULT ('bar') FOR [DRAW_TYPE]
GO
ALTER TABLE [dbo].[NCMDeviceGroup]  WITH CHECK ADD  CONSTRAINT [NCMDeviceGroup_FK1] FOREIGN KEY([SELECTQUERYID])
REFERENCES [dbo].[SelectQuery] ([QUERYID])
GO
ALTER TABLE [dbo].[NCMDeviceGroup] CHECK CONSTRAINT [NCMDeviceGroup_FK1]
GO
ALTER TABLE [dbo].[NCMDeviceGroup]  WITH CHECK ADD  CONSTRAINT [NCMDeviceGroup_FK2] FOREIGN KEY([LOGIN_ID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[NCMDeviceGroup] CHECK CONSTRAINT [NCMDeviceGroup_FK2]
GO
