USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetFlow_APMAC]    Script Date: 6/29/2019 5:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetFlow_APMAC](
	[APMAC_ID] [int] NOT NULL,
	[APMAC] [varchar](50) NOT NULL,
	[ROUTER_ID] [int] NOT NULL,
	[APMAC_NAME] [varchar](50) NOT NULL,
	[STATE] [int] NOT NULL,
 CONSTRAINT [NetFlow_APmac_PK] PRIMARY KEY CLUSTERED 
(
	[APMAC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1327804647]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1327804647] ON [dbo].[NetFlow_APMAC]
(
	[APMAC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1619735576]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1619735576] ON [dbo].[NetFlow_APMAC]
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetFlow_APMAC]  WITH CHECK ADD  CONSTRAINT [NetFlow_apmac_FK] FOREIGN KEY([ROUTER_ID])
REFERENCES [dbo].[NetFlow_Router] ([ROUTER_ID])
GO
ALTER TABLE [dbo].[NetFlow_APMAC] CHECK CONSTRAINT [NetFlow_apmac_FK]
GO
ALTER TABLE [dbo].[NetFlow_APMAC]  WITH CHECK ADD  CONSTRAINT [NetFlow_apmac_FK1] FOREIGN KEY([APMAC_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[NetFlow_APMAC] CHECK CONSTRAINT [NetFlow_apmac_FK1]
GO
