USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Collector_NCMDevice_Count]    Script Date: 6/29/2019 5:46:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collector_NCMDevice_Count](
	[COLLECTOR_ID] [int] NOT NULL,
	[DEVICE_COUNT] [int] NOT NULL,
 CONSTRAINT [Collector_NCMDevice_Count_PK] PRIMARY KEY CLUSTERED 
(
	[COLLECTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_610678937]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_610678937] ON [dbo].[Collector_NCMDevice_Count]
(
	[COLLECTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Collector_NCMDevice_Count] ADD  DEFAULT ('0') FOR [COLLECTOR_ID]
GO
ALTER TABLE [dbo].[Collector_NCMDevice_Count] ADD  DEFAULT ('0') FOR [DEVICE_COUNT]
GO
ALTER TABLE [dbo].[Collector_NCMDevice_Count]  WITH CHECK ADD  CONSTRAINT [Collector_NCMDevice_Count_FK1] FOREIGN KEY([COLLECTOR_ID])
REFERENCES [dbo].[Collector_Properties] ([COLLECTOR_ID])
GO
ALTER TABLE [dbo].[Collector_NCMDevice_Count] CHECK CONSTRAINT [Collector_NCMDevice_Count_FK1]
GO
