USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ManualUserIPConfigurations]    Script Date: 6/29/2019 5:48:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManualUserIPConfigurations](
	[MUICID] [bigint] NOT NULL,
	[SERVER] [nvarchar](100) NOT NULL,
	[RESOURCES] [nvarchar](255) NULL,
 CONSTRAINT [ManualUserIPConfigurations_PK] PRIMARY KEY CLUSTERED 
(
	[MUICID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ManualUserIPConfigurations_UK1] UNIQUE NONCLUSTERED 
(
	[SERVER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
