USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Group_Count]    Script Date: 6/29/2019 5:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Count](
	[PATTERN_EXPR_ID] [bigint] NOT NULL,
	[INTEGRAL_EXPR_ID] [bigint] NOT NULL,
 CONSTRAINT [Group_Count_PK] PRIMARY KEY CLUSTERED 
(
	[INTEGRAL_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_278697973]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_278697973] ON [dbo].[Group_Count]
(
	[INTEGRAL_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_49702620]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_49702620] ON [dbo].[Group_Count]
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Group_Count]  WITH CHECK ADD  CONSTRAINT [Group_Count_FK] FOREIGN KEY([INTEGRAL_EXPR_ID])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Group_Count] CHECK CONSTRAINT [Group_Count_FK]
GO
ALTER TABLE [dbo].[Group_Count]  WITH CHECK ADD  CONSTRAINT [Group_Count_FK1] FOREIGN KEY([PATTERN_EXPR_ID])
REFERENCES [dbo].[Pattern_Expressions] ([PATTERN_EXPR_ID])
GO
ALTER TABLE [dbo].[Group_Count] CHECK CONSTRAINT [Group_Count_FK1]
GO
