USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMSVCStoragePool]    Script Date: 6/29/2019 5:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMSVCStoragePool](
	[STORAGE_POOL_ID] [bigint] NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NULL,
	[MDISK_COUNT] [varchar](250) NULL,
	[VDISK_COUNT] [varchar](250) NULL,
	[EXTENT_SIZE] [varchar](250) NULL,
	[OVER_ALLOCATION] [varchar](250) NULL,
	[WARNING] [varchar](250) NULL,
	[EASY_TIER] [varchar](250) NULL,
 CONSTRAINT [IBMSVCStoragePool_PK] PRIMARY KEY CLUSTERED 
(
	[STORAGE_POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_377006937]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_377006937] ON [dbo].[IBMSVCStoragePool]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMSVCStoragePool]  WITH CHECK ADD  CONSTRAINT [IBMSVCStoragePool_FK] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMSVCStoragePool] CHECK CONSTRAINT [IBMSVCStoragePool_FK]
GO
