USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMSVCStoragePoolTier]    Script Date: 6/29/2019 5:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMSVCStoragePoolTier](
	[TIER_ID] [bigint] NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NULL,
	[TYPE] [varchar](250) NULL,
	[TIER_DISK_COUNT] [varchar](250) NULL,
	[TIER_CAPACITY] [varchar](250) NULL,
	[TIER_FREE_CAPACITY] [varchar](250) NULL,
 CONSTRAINT [IBMSVCStoragePoolTier_PK] PRIMARY KEY CLUSTERED 
(
	[TIER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1867028614]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1867028614] ON [dbo].[IBMSVCStoragePoolTier]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMSVCStoragePoolTier]  WITH CHECK ADD  CONSTRAINT [IBMSVCStoragePoolTier_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMSVCStoragePoolTier] CHECK CONSTRAINT [IBMSVCStoragePoolTier_FK1]
GO
