USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SlimLine]    Script Date: 6/29/2019 5:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlimLine](
	[RESOURCEID] [bigint] NOT NULL,
	[BOOTROM_SIZE] [varchar](20) NOT NULL,
	[DRAM_SIZE] [varchar](20) NOT NULL,
 CONSTRAINT [SlimLine_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__317789762]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__317789762] ON [dbo].[SlimLine]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SlimLine] ADD  DEFAULT ('Not Available') FOR [BOOTROM_SIZE]
GO
ALTER TABLE [dbo].[SlimLine] ADD  DEFAULT ('Not Available') FOR [DRAM_SIZE]
GO
ALTER TABLE [dbo].[SlimLine]  WITH CHECK ADD  CONSTRAINT [SlimLine_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[SlimLine] CHECK CONSTRAINT [SlimLine_FK1]
GO
