USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CustomLinksID]    Script Date: 6/29/2019 5:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomLinksID](
	[LINKID] [bigint] NOT NULL,
 CONSTRAINT [CustomLinksID_PK1] PRIMARY KEY CLUSTERED 
(
	[LINKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1712693136]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1712693136] ON [dbo].[CustomLinksID]
(
	[LINKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomLinksID]  WITH CHECK ADD  CONSTRAINT [CustomLinksID_FK1] FOREIGN KEY([LINKID])
REFERENCES [dbo].[CustomLinks] ([LINKID])
GO
ALTER TABLE [dbo].[CustomLinksID] CHECK CONSTRAINT [CustomLinksID_FK1]
GO
