USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AnomalyDetails]    Script Date: 6/29/2019 5:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnomalyDetails](
	[AnomalyPK] [bigint] NOT NULL,
	[RID] [bigint] NOT NULL,
	[RULEID] [bigint] NOT NULL,
	[ANOMALYTYPE] [nvarchar](250) NOT NULL,
	[ASSOCIATEDRULES] [nvarchar](500) NOT NULL,
	[RULESET] [nvarchar](250) NULL,
 CONSTRAINT [AnomalyDetails_PK] PRIMARY KEY CLUSTERED 
(
	[AnomalyPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1054118107]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1054118107] ON [dbo].[AnomalyDetails]
(
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnomalyDetails]  WITH CHECK ADD  CONSTRAINT [AnomalyDetails_FK] FOREIGN KEY([RULEID])
REFERENCES [dbo].[RuleDetails] ([RULEID])
GO
ALTER TABLE [dbo].[AnomalyDetails] CHECK CONSTRAINT [AnomalyDetails_FK]
GO
