USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MasterAgentMOMappings]    Script Date: 6/29/2019 5:48:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterAgentMOMappings](
	[MASTERAGENTID] [bigint] NOT NULL,
	[MOID] [bigint] NOT NULL,
 CONSTRAINT [MasterAgentMOMappings_PK] PRIMARY KEY CLUSTERED 
(
	[MASTERAGENTID] ASC,
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [MasterAgentMOMappings_UK0] UNIQUE NONCLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2086004055]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2086004055] ON [dbo].[MasterAgentMOMappings]
(
	[MASTERAGENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2086004056]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2086004056] ON [dbo].[MasterAgentMOMappings]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MasterAgentMOMappings]  WITH CHECK ADD  CONSTRAINT [MasterAgentMOMappings_FK1] FOREIGN KEY([MASTERAGENTID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[MasterAgentMOMappings] CHECK CONSTRAINT [MasterAgentMOMappings_FK1]
GO
ALTER TABLE [dbo].[MasterAgentMOMappings]  WITH CHECK ADD  CONSTRAINT [MasterAgentMOMappings_FK2] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[MasterAgentMOMappings] CHECK CONSTRAINT [MasterAgentMOMappings_FK2]
GO
