USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwVirtualAppProps]    Script Date: 6/29/2019 5:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwVirtualAppProps](
	[VAPP_ID] [bigint] NOT NULL,
	[INSTANCE_UUID] [varchar](100) NOT NULL,
	[VAPP_STATE] [varchar](50) NOT NULL,
	[SUSPENDED] [bit] NULL,
	[CPU_LIMIT] [bigint] NULL,
	[CPU_RESERVED] [bigint] NULL,
	[CPU_OVERHEAD_LIMIT] [bigint] NULL,
	[CPU_EXPANDABLE] [bit] NULL,
	[MEM_LIMIT] [bigint] NULL,
	[MEM_RESERVED] [bigint] NULL,
	[MEM_OVERHEAD_LIMIT] [bigint] NULL,
	[MEM_EXPANDABLE] [bit] NULL,
	[NO_OF_SUBPOOLS] [int] NULL,
	[NO_OF_VMS] [int] NULL,
	[STATUS] [varchar](40) NULL,
 CONSTRAINT [VwVirtualAppProps_PK] PRIMARY KEY CLUSTERED 
(
	[VAPP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1265331622]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1265331622] ON [dbo].[VwVirtualAppProps]
(
	[VAPP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwVirtualAppProps] ADD  DEFAULT ((0)) FOR [SUSPENDED]
GO
ALTER TABLE [dbo].[VwVirtualAppProps] ADD  DEFAULT ((0)) FOR [CPU_EXPANDABLE]
GO
ALTER TABLE [dbo].[VwVirtualAppProps] ADD  DEFAULT ((0)) FOR [MEM_EXPANDABLE]
GO
ALTER TABLE [dbo].[VwVirtualAppProps] ADD  DEFAULT ('0') FOR [NO_OF_SUBPOOLS]
GO
ALTER TABLE [dbo].[VwVirtualAppProps] ADD  DEFAULT ('0') FOR [NO_OF_VMS]
GO
ALTER TABLE [dbo].[VwVirtualAppProps]  WITH CHECK ADD  CONSTRAINT [VwVirtualAppProps_FK1] FOREIGN KEY([VAPP_ID])
REFERENCES [dbo].[VwENTITYMOMAPPING] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[VwVirtualAppProps] CHECK CONSTRAINT [VwVirtualAppProps_FK1]
GO
