USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEHOSTMAPPING]    Script Date: 6/29/2019 5:51:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEHOSTMAPPING](
	[STORAGEMOID] [bigint] NOT NULL,
	[HOSTMOID] [bigint] NOT NULL,
 CONSTRAINT [STORAGEHOSTMAPPING_PK1] PRIMARY KEY CLUSTERED 
(
	[STORAGEMOID] ASC,
	[HOSTMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEHOSTMAPPING_UK0] UNIQUE NONCLUSTERED 
(
	[HOSTMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1031448216]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1031448216] ON [dbo].[STORAGEHOSTMAPPING]
(
	[STORAGEMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1031448217]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1031448217] ON [dbo].[STORAGEHOSTMAPPING]
(
	[HOSTMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEHOSTMAPPING]  WITH CHECK ADD  CONSTRAINT [STORAGEHOSTMAPPING_FK1] FOREIGN KEY([STORAGEMOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[STORAGEHOSTMAPPING] CHECK CONSTRAINT [STORAGEHOSTMAPPING_FK1]
GO
ALTER TABLE [dbo].[STORAGEHOSTMAPPING]  WITH CHECK ADD  CONSTRAINT [STORAGEHOSTMAPPING_FK2] FOREIGN KEY([HOSTMOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[STORAGEHOSTMAPPING] CHECK CONSTRAINT [STORAGEHOSTMAPPING_FK2]
GO
