USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSFanModuleStats]    Script Date: 6/29/2019 5:52:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSFanModuleStats](
	[ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[AMBIENT_TEMP] [real] NOT NULL,
	[AMBIENT_TEMP_AVG] [real] NOT NULL,
	[AMBIENT_TEMP_MIN] [real] NOT NULL,
	[AMBIENT_TEMP_MAX] [real] NOT NULL,
 CONSTRAINT [UCSFanModuleStats_Pk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
