USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNXFileSystem]    Script Date: 6/29/2019 5:52:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNXFileSystem](
	[RAID_ID] [bigint] NOT NULL,
	[FS_ID] [varchar](150) NOT NULL,
	[FS_NAME] [varchar](250) NOT NULL,
	[FS_IN_USE] [varchar](250) NOT NULL,
	[FS_TYPE] [varchar](250) NOT NULL,
	[FS_ACL] [varchar](250) NOT NULL,
	[WORM] [varchar](250) NULL,
	[VOLUME] [varchar](250) NOT NULL,
	[POOL] [varchar](250) NOT NULL,
	[MEMBER_OF] [varchar](250) NOT NULL,
	[RW_SERVER] [varchar](250) NOT NULL,
	[RO_SERVER] [varchar](250) NOT NULL,
	[THIN] [varchar](250) NOT NULL,
	[DEDUPLICATION] [varchar](250) NOT NULL,
	[STOR_DEVS] [varchar](1000) NOT NULL,
	[FS_AVAILABLE_SIZE] [varchar](250) NOT NULL,
	[FS_USED_SIZE] [varchar](250) NOT NULL,
	[FS_TOTAL_SIZE] [varchar](250) NOT NULL,
	[FS_USED_PERCENTAGE] [int] NOT NULL,
 CONSTRAINT [VNXFileSystem_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[FS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_402462201]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_402462201] ON [dbo].[VNXFileSystem]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNXFileSystem]  WITH CHECK ADD  CONSTRAINT [VNXFileSystem_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXFileSystem] CHECK CONSTRAINT [VNXFileSystem_FK]
GO
