USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NBA_FE_Util]    Script Date: 6/29/2019 5:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_FE_Util](
	[EVID] [int] NOT NULL,
	[THRESHOLD_CALCS] [varchar](255) NULL,
	[QUERY_URL] [text] NULL,
 CONSTRAINT [NBA_FE_Util_PK] PRIMARY KEY CLUSTERED 
(
	[EVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_801697012]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_801697012] ON [dbo].[NBA_FE_Util]
(
	[EVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NBA_FE_Util]  WITH CHECK ADD  CONSTRAINT [NBA_FE_Util_FK] FOREIGN KEY([EVID])
REFERENCES [dbo].[NBA_FE] ([EVID])
GO
ALTER TABLE [dbo].[NBA_FE_Util] CHECK CONSTRAINT [NBA_FE_Util_FK]
GO
