USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarBrickComponent]    Script Date: 6/29/2019 5:50:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarBrickComponent](
	[PILLAR_ID] [bigint] NOT NULL,
	[BRICK_INSTANCE] [int] NOT NULL,
	[COMPONENT_INSTANCE] [int] NOT NULL,
	[NUMBER] [int] NOT NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NULL,
	[NUMBER_OF_FANS] [int] NOT NULL,
	[NUMBER_OF_FAILED_FANS] [int] NOT NULL,
	[NUMBER_OF_TEMPERATURE_SENSORS] [int] NOT NULL,
 CONSTRAINT [PillarBrickComponent_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC,
	[SERIAL_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__352345090]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__352345090] ON [dbo].[PillarBrickComponent]
(
	[PILLAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarBrickComponent]  WITH CHECK ADD  CONSTRAINT [PillarBrickComponent_FK] FOREIGN KEY([PILLAR_ID])
REFERENCES [dbo].[PillarRaid] ([PILLAR_ID])
GO
ALTER TABLE [dbo].[PillarBrickComponent] CHECK CONSTRAINT [PillarBrickComponent_FK]
GO
