USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TftpConnectionSpec]    Script Date: 6/29/2019 5:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TftpConnectionSpec](
	[CONNECTION_ID] [varchar](250) NOT NULL,
	[IP_PARAMS_ID] [varchar](150) NOT NULL,
 CONSTRAINT [TFTPCSPEC_PK] PRIMARY KEY CLUSTERED 
(
	[CONNECTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TftpConnectionSpec_UK1] UNIQUE NONCLUSTERED 
(
	[IP_PARAMS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_218579485]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_218579485] ON [dbo].[TftpConnectionSpec]
(
	[CONNECTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_218579486]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_218579486] ON [dbo].[TftpConnectionSpec]
(
	[IP_PARAMS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TftpConnectionSpec]  WITH CHECK ADD  CONSTRAINT [TFTPCSPEC_FK1] FOREIGN KEY([CONNECTION_ID])
REFERENCES [dbo].[ConnectionSpec] ([ConnectionID])
GO
ALTER TABLE [dbo].[TftpConnectionSpec] CHECK CONSTRAINT [TFTPCSPEC_FK1]
GO
ALTER TABLE [dbo].[TftpConnectionSpec]  WITH CHECK ADD  CONSTRAINT [TFTPCSPEC_FK2] FOREIGN KEY([IP_PARAMS_ID])
REFERENCES [dbo].[TftpIPParams] ([IP_PARAMS_ID])
GO
ALTER TABLE [dbo].[TftpConnectionSpec] CHECK CONSTRAINT [TFTPCSPEC_FK2]
GO
