USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorEdge6120Drive]    Script Date: 6/29/2019 5:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorEdge6120Drive](
	[RAID_DEVICE_ID] [bigint] NOT NULL,
	[DRIVE_ID] [varchar](250) NOT NULL,
	[DRIVE_ELT_NAME] [varchar](250) NULL,
	[MANUFACTURER] [varchar](250) NULL,
	[DRIVE_VERSION] [varchar](250) NULL,
	[DRIVE_SL_NO] [varchar](250) NULL,
	[POOL_ID] [varchar](250) NULL,
	[POOL_NAME] [varchar](250) NULL,
	[EXT_STATE] [varchar](250) NULL,
	[EXT_ROLE] [varchar](250) NULL,
	[DRIVE_MODEL] [varchar](250) NULL,
	[DRIVE_STATUS] [varchar](250) NULL,
	[DRIVE_SIZE] [varchar](250) NULL,
 CONSTRAINT [StorEdge6120Drive_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_DEVICE_ID] ASC,
	[DRIVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1336088771]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1336088771] ON [dbo].[StorEdge6120Drive]
(
	[RAID_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorEdge6120Drive]  WITH CHECK ADD  CONSTRAINT [StorEdge6120Drive_FK1] FOREIGN KEY([RAID_DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[StorEdge6120Drive] CHECK CONSTRAINT [StorEdge6120Drive_FK1]
GO
