USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SPMTreeToSwitch]    Script Date: 6/29/2019 5:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPMTreeToSwitch](
	[CONFIG_ID] [bigint] NOT NULL,
	[GID] [bigint] NOT NULL,
 CONSTRAINT [SPMTreeToSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_340212170]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_340212170] ON [dbo].[SPMTreeToSwitch]
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_340212171]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_340212171] ON [dbo].[SPMTreeToSwitch]
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SPMTreeToSwitch]  WITH CHECK ADD  CONSTRAINT [SPMTreeToSwitch_FK1] FOREIGN KEY([GID])
REFERENCES [dbo].[SPMTreeGroups] ([GID])
GO
ALTER TABLE [dbo].[SPMTreeToSwitch] CHECK CONSTRAINT [SPMTreeToSwitch_FK1]
GO
ALTER TABLE [dbo].[SPMTreeToSwitch]  WITH CHECK ADD  CONSTRAINT [SPMTreeToSwitch_FK2] FOREIGN KEY([CONFIG_ID])
REFERENCES [dbo].[SPMInputConfig] ([CONFIG_ID])
GO
ALTER TABLE [dbo].[SPMTreeToSwitch] CHECK CONSTRAINT [SPMTreeToSwitch_FK2]
GO
