USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPMDEVICEDETAILS]    Script Date: 6/29/2019 5:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPMDEVICEDETAILS](
	[MOID] [bigint] NOT NULL,
	[ADDED_TIME] [bigint] NOT NULL,
 CONSTRAINT [OPMDEVICEDETAILS_PK1] PRIMARY KEY CLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_937545549]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_937545549] ON [dbo].[OPMDEVICEDETAILS]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPMDEVICEDETAILS]  WITH CHECK ADD  CONSTRAINT [OPMDEVICEDETAILS_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[OPMDEVICEDETAILS] CHECK CONSTRAINT [OPMDEVICEDETAILS_FK1]
GO
