USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaUserTwoFactorDetails]    Script Date: 6/29/2019 5:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaUserTwoFactorDetails](
	[USER_ID] [bigint] NOT NULL,
	[ENABLED] [bit] NULL,
	[TWOFACTORAUTHIMPL] [varchar](250) NULL,
	[TWOFACTORPASSWORD] [varchar](50) NOT NULL,
 CONSTRAINT [AaaUserTwoFactor_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1506700196]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1506700196] ON [dbo].[AaaUserTwoFactorDetails]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaUserTwoFactorDetails] ADD  DEFAULT ((0)) FOR [ENABLED]
GO
ALTER TABLE [dbo].[AaaUserTwoFactorDetails]  WITH CHECK ADD  CONSTRAINT [AaaUserTwoFactor_FK1] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[AaaUserTwoFactorDetails] CHECK CONSTRAINT [AaaUserTwoFactor_FK1]
GO
