USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic500BladeCtlr]    Script Date: 6/29/2019 5:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic500BladeCtlr](
	[CTLR_ID] [int] NOT NULL,
	[BLADE_ID] [bigint] NOT NULL,
	[CTLR_TYPE] [varchar](250) NOT NULL,
	[CHANNEL_MASK] [varchar](250) NOT NULL,
 CONSTRAINT [Adic500BladeCtlr_PK] PRIMARY KEY CLUSTERED 
(
	[CTLR_ID] ASC,
	[BLADE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__668354204]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__668354204] ON [dbo].[Adic500BladeCtlr]
(
	[BLADE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic500BladeCtlr]  WITH CHECK ADD  CONSTRAINT [Adic500BladeCtlr_FK1] FOREIGN KEY([BLADE_ID])
REFERENCES [dbo].[Adic500BladeInterface] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic500BladeCtlr] CHECK CONSTRAINT [Adic500BladeCtlr_FK1]
GO
