USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Templates]    Script Date: 6/29/2019 5:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Templates](
	[TEMPLATE_ID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[CREATED_BY] [varchar](100) NULL,
	[VERSION] [varchar](20) NULL,
 CONSTRAINT [Templates_PK] PRIMARY KEY CLUSTERED 
(
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Templates_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__810743893]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__810743893] ON [dbo].[Templates]
(
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Templates] ADD  DEFAULT ('NotAvailable') FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[Templates] ADD  DEFAULT ('0.0') FOR [VERSION]
GO
ALTER TABLE [dbo].[Templates]  WITH CHECK ADD  CONSTRAINT [Templates_FK] FOREIGN KEY([TEMPLATE_ID])
REFERENCES [dbo].[Workflow_Unit] ([WORKFLOW_UNIT_ID])
GO
ALTER TABLE [dbo].[Templates] CHECK CONSTRAINT [Templates_FK]
GO
