USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Quotation]    Script Date: 6/29/2019 5:50:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotation](
	[PARENT_EXPR_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
 CONSTRAINT [Quotation_PK] PRIMARY KEY CLUSTERED 
(
	[PARENT_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1531531144]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1531531144] ON [dbo].[Quotation]
(
	[PARENT_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Quotation]  WITH CHECK ADD  CONSTRAINT [Quotation_FK] FOREIGN KEY([PARENT_EXPR_ID])
REFERENCES [dbo].[Parent_Class_Expr] ([PARENT_EXPR_ID])
GO
ALTER TABLE [dbo].[Quotation] CHECK CONSTRAINT [Quotation_FK]
GO
