USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EnterasysSwitch]    Script Date: 6/29/2019 5:47:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnterasysSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[HARDWARE_VERSION] [varchar](30) NOT NULL,
	[BOOTCODE_VERSION] [varchar](20) NOT NULL,
 CONSTRAINT [EnterasysSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_378656037]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_378656037] ON [dbo].[EnterasysSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EnterasysSwitch] ADD  DEFAULT ('Not Available') FOR [HARDWARE_VERSION]
GO
ALTER TABLE [dbo].[EnterasysSwitch] ADD  DEFAULT ('Not Available') FOR [BOOTCODE_VERSION]
GO
ALTER TABLE [dbo].[EnterasysSwitch]  WITH CHECK ADD  CONSTRAINT [EnterasysSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[EnterasysSwitch] CHECK CONSTRAINT [EnterasysSwitch_FK1]
GO
