USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwHostDVPortGroupMap]    Script Date: 6/29/2019 5:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwHostDVPortGroupMap](
	[VHOST_ID] [bigint] NOT NULL,
	[DVPORTGROUP_ID] [bigint] NOT NULL,
 CONSTRAINT [VwHostDVPortGroupMap_PK] PRIMARY KEY CLUSTERED 
(
	[VHOST_ID] ASC,
	[DVPORTGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1123146470]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1123146470] ON [dbo].[VwHostDVPortGroupMap]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1123146471]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1123146471] ON [dbo].[VwHostDVPortGroupMap]
(
	[DVPORTGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwHostDVPortGroupMap]  WITH CHECK ADD  CONSTRAINT [VwHostDVPortGroupMap_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VwHOSTPROPS] ([VHOST_ID])
GO
ALTER TABLE [dbo].[VwHostDVPortGroupMap] CHECK CONSTRAINT [VwHostDVPortGroupMap_FK1]
GO
ALTER TABLE [dbo].[VwHostDVPortGroupMap]  WITH CHECK ADD  CONSTRAINT [VwHostDVPortGroupMap_FK2] FOREIGN KEY([DVPORTGROUP_ID])
REFERENCES [dbo].[VwDVPORTGROUPPROPS] ([DVPORTGROUP_ID])
GO
ALTER TABLE [dbo].[VwHostDVPortGroupMap] CHECK CONSTRAINT [VwHostDVPortGroupMap_FK2]
GO
