USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CustomDevicePackage]    Script Date: 6/29/2019 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomDevicePackage](
	[DEVICETYPEID] [bigint] NOT NULL,
 CONSTRAINT [CustomDevicePackage_PK1] PRIMARY KEY CLUSTERED 
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1119488820]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1119488820] ON [dbo].[CustomDevicePackage]
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomDevicePackage]  WITH CHECK ADD  CONSTRAINT [CustomDevicePackage_FK1] FOREIGN KEY([DEVICETYPEID])
REFERENCES [dbo].[DevicePackage] ([DEVICETYPEID])
GO
ALTER TABLE [dbo].[CustomDevicePackage] CHECK CONSTRAINT [CustomDevicePackage_FK1]
GO
