USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SchStatus]    Script Date: 6/29/2019 5:51:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchStatus](
	[SCHEDULE_ID] [bigint] NOT NULL,
	[LAST_EXEC_TIME] [datetime] NULL,
 CONSTRAINT [SchStatus_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1290605370]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1290605370] ON [dbo].[SchStatus]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SchStatus]  WITH CHECK ADD  CONSTRAINT [SchStatus_Fk] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[ScheduleDetails] ([ID])
GO
ALTER TABLE [dbo].[SchStatus] CHECK CONSTRAINT [SchStatus_Fk]
GO
