USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RackToDeviceMappings]    Script Date: 6/29/2019 5:50:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RackToDeviceMappings](
	[MAPPINGID] [bigint] NOT NULL,
	[RACKID] [bigint] NOT NULL,
	[DEVICEID] [bigint] NOT NULL,
	[LABEL] [varchar](250) NOT NULL,
	[UNITSIZE] [int] NOT NULL,
	[UNITPOSITION] [int] NOT NULL,
	[IMAGENAME] [varchar](250) NOT NULL,
 CONSTRAINT [RackToDeviceMappings_PK] PRIMARY KEY CLUSTERED 
(
	[MAPPINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [RackToDeviceMappings_UK1] UNIQUE NONCLUSTERED 
(
	[DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_588692250]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_588692250] ON [dbo].[RackToDeviceMappings]
(
	[RACKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_588692251]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_588692251] ON [dbo].[RackToDeviceMappings]
(
	[DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RackToDeviceMappings] ADD  DEFAULT ('1') FOR [UNITSIZE]
GO
ALTER TABLE [dbo].[RackToDeviceMappings]  WITH CHECK ADD  CONSTRAINT [RackToDeviceMappings_FK1] FOREIGN KEY([RACKID])
REFERENCES [dbo].[RackDetails] ([RACKID])
GO
ALTER TABLE [dbo].[RackToDeviceMappings] CHECK CONSTRAINT [RackToDeviceMappings_FK1]
GO
ALTER TABLE [dbo].[RackToDeviceMappings]  WITH CHECK ADD  CONSTRAINT [RackToDeviceMappings_FK2] FOREIGN KEY([DEVICEID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[RackToDeviceMappings] CHECK CONSTRAINT [RackToDeviceMappings_FK2]
GO
