USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Udef_Class_Range]    Script Date: 6/29/2019 5:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Udef_Class_Range](
	[CHAR_CLASS_EXPR_ID] [bigint] NOT NULL,
	[LEFT_CLASS_EXPR_ID] [bigint] NOT NULL,
	[RIGHT_CLASS_EXPR_ID] [bigint] NOT NULL,
 CONSTRAINT [Udef_Class_Range_PK] PRIMARY KEY CLUSTERED 
(
	[CHAR_CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2093769405]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2093769405] ON [dbo].[Udef_Class_Range]
(
	[CHAR_CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_482342164]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_482342164] ON [dbo].[Udef_Class_Range]
(
	[LEFT_CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_482342165]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_482342165] ON [dbo].[Udef_Class_Range]
(
	[RIGHT_CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Udef_Class_Range]  WITH CHECK ADD  CONSTRAINT [Udef_Class_Range_FK] FOREIGN KEY([CHAR_CLASS_EXPR_ID])
REFERENCES [dbo].[Udef_Char_Cls_Expr] ([CHAR_CLASS_EXPR_ID])
GO
ALTER TABLE [dbo].[Udef_Class_Range] CHECK CONSTRAINT [Udef_Class_Range_FK]
GO
ALTER TABLE [dbo].[Udef_Class_Range]  WITH CHECK ADD  CONSTRAINT [Udef_Class_Range_FK1] FOREIGN KEY([LEFT_CLASS_EXPR_ID])
REFERENCES [dbo].[Udef_Char_Cls_Const] ([CHAR_CLASS_EXPR_ID])
GO
ALTER TABLE [dbo].[Udef_Class_Range] CHECK CONSTRAINT [Udef_Class_Range_FK1]
GO
ALTER TABLE [dbo].[Udef_Class_Range]  WITH CHECK ADD  CONSTRAINT [Udef_Class_Range_FK2] FOREIGN KEY([RIGHT_CLASS_EXPR_ID])
REFERENCES [dbo].[Udef_Char_Cls_Const] ([CHAR_CLASS_EXPR_ID])
GO
ALTER TABLE [dbo].[Udef_Class_Range] CHECK CONSTRAINT [Udef_Class_Range_FK2]
GO
