USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaPassword]    Script Date: 6/29/2019 5:45:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaPassword](
	[PASSWORD_ID] [bigint] NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[ALGORITHM] [varchar](20) NOT NULL,
	[SALT] [varbinary](max) NOT NULL,
	[PASSWDPROFILE_ID] [bigint] NOT NULL,
	[PASSWDRULE_ID] [bigint] NOT NULL,
	[CREATEDTIME] [bigint] NOT NULL,
 CONSTRAINT [AaaPassword_PK] PRIMARY KEY CLUSTERED 
(
	[PASSWORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__251568342]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__251568342] ON [dbo].[AaaPassword]
(
	[PASSWDRULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__251568343]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__251568343] ON [dbo].[AaaPassword]
(
	[PASSWDPROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaPassword] ADD  DEFAULT ('MD5') FOR [ALGORITHM]
GO
ALTER TABLE [dbo].[AaaPassword]  WITH CHECK ADD  CONSTRAINT [AaaPassword_FK1] FOREIGN KEY([PASSWDPROFILE_ID])
REFERENCES [dbo].[AaaPasswordProfile] ([PASSWDPROFILE_ID])
GO
ALTER TABLE [dbo].[AaaPassword] CHECK CONSTRAINT [AaaPassword_FK1]
GO
ALTER TABLE [dbo].[AaaPassword]  WITH CHECK ADD  CONSTRAINT [AaaPassword_FK2] FOREIGN KEY([PASSWDRULE_ID])
REFERENCES [dbo].[AaaPasswordRule] ([PASSWDRULE_ID])
GO
ALTER TABLE [dbo].[AaaPassword] CHECK CONSTRAINT [AaaPassword_FK2]
GO
