USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DHCPExclusions]    Script Date: 6/29/2019 5:47:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHCPExclusions](
	[DHCPScopeID] [bigint] NOT NULL,
	[StartAddress] [bigint] NOT NULL,
	[EndAddress] [bigint] NOT NULL,
 CONSTRAINT [DHCPExclusions_PK] PRIMARY KEY CLUSTERED 
(
	[DHCPScopeID] ASC,
	[StartAddress] ASC,
	[EndAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_173609859]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_173609859] ON [dbo].[DHCPExclusions]
(
	[DHCPScopeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DHCPExclusions]  WITH CHECK ADD  CONSTRAINT [DHCPExclusions_FK1] FOREIGN KEY([DHCPScopeID])
REFERENCES [dbo].[DHCPScopes] ([DHCPScopeID])
GO
ALTER TABLE [dbo].[DHCPExclusions] CHECK CONSTRAINT [DHCPExclusions_FK1]
GO
