USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ArecaRaidPowerSupply]    Script Date: 6/29/2019 5:46:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArecaRaidPowerSupply](
	[DEVICE_ID] [bigint] NOT NULL,
	[PS_INDEX] [int] NOT NULL,
	[PS_STATE] [varchar](250) NULL,
 CONSTRAINT [ArecaRaidPowerSupply_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[PS_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__767673403]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__767673403] ON [dbo].[ArecaRaidPowerSupply]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArecaRaidPowerSupply]  WITH CHECK ADD  CONSTRAINT [ArecaRaidPowerSupply_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[ArecaRaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ArecaRaidPowerSupply] CHECK CONSTRAINT [ArecaRaidPowerSupply_FK1]
GO
