USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AppSMSSettings]    Script Date: 6/29/2019 5:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppSMSSettings](
	[SRC_PORT] [int] NOT NULL,
	[DST_PORT] [int] NOT NULL,
	[VALIDITY_PERIOD] [int] NOT NULL,
	[TRIGGERCOUNT] [int] NOT NULL,
	[TRIGGERINTERVAL] [int] NOT NULL,
 CONSTRAINT [AppSMSSettings_PK] PRIMARY KEY CLUSTERED 
(
	[SRC_PORT] ASC,
	[DST_PORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
