USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ArubaWifiSwitch]    Script Date: 6/29/2019 5:46:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArubaWifiSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[PROCESSORREV] [varchar](50) NOT NULL,
	[DRAMSIZE] [varchar](15) NOT NULL,
	[NVRAMSIZE] [varchar](15) NOT NULL,
	[FLASHSIZE] [varchar](15) NOT NULL,
	[SYSBOOTSTRAPVERSION] [varchar](15) NOT NULL,
 CONSTRAINT [ArubaWifiSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_531343833]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_531343833] ON [dbo].[ArubaWifiSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArubaWifiSwitch] ADD  DEFAULT ('Not Available') FOR [PROCESSORREV]
GO
ALTER TABLE [dbo].[ArubaWifiSwitch] ADD  DEFAULT ('Not Available') FOR [DRAMSIZE]
GO
ALTER TABLE [dbo].[ArubaWifiSwitch] ADD  DEFAULT ('Not Available') FOR [NVRAMSIZE]
GO
ALTER TABLE [dbo].[ArubaWifiSwitch] ADD  DEFAULT ('Not Available') FOR [FLASHSIZE]
GO
ALTER TABLE [dbo].[ArubaWifiSwitch] ADD  DEFAULT ('Not Available') FOR [SYSBOOTSTRAPVERSION]
GO
ALTER TABLE [dbo].[ArubaWifiSwitch]  WITH CHECK ADD  CONSTRAINT [ArubaWifiSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ArubaWifiSwitch] CHECK CONSTRAINT [ArubaWifiSwitch_FK1]
GO
