USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ManagementActionList]    Script Date: 6/29/2019 5:48:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementActionList](
	[MACTIONNAME] [varchar](100) NOT NULL,
	[SELECTQUERYID] [bigint] NOT NULL,
	[ISSYNC] [bit] NOT NULL,
 CONSTRAINT [ManagementActionList_PK] PRIMARY KEY CLUSTERED 
(
	[MACTIONNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_366670980]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_366670980] ON [dbo].[ManagementActionList]
(
	[SELECTQUERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ManagementActionList] ADD  DEFAULT ((0)) FOR [ISSYNC]
GO
ALTER TABLE [dbo].[ManagementActionList]  WITH CHECK ADD  CONSTRAINT [ManagementActionList_FK1] FOREIGN KEY([SELECTQUERYID])
REFERENCES [dbo].[SelectQuery] ([QUERYID])
GO
ALTER TABLE [dbo].[ManagementActionList] CHECK CONSTRAINT [ManagementActionList_FK1]
GO
