USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetworkElementConfiguration]    Script Date: 6/29/2019 5:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkElementConfiguration](
	[SERVICEGROUPID] [bigint] NULL,
	[TYPEGROUPNAME] [varchar](50) NULL,
	[INTERFACEGROUPID] [bigint] NULL,
	[NETTOPOIDENTIFIER] [varchar](250) NULL,
	[WORKFLOWNAME] [varchar](250) NOT NULL,
	[NEWORKFLOWNAME] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[DISCOVER] [bit] NOT NULL,
	[DISCOVERYSCHEDULENAME] [varchar](250) NULL,
 CONSTRAINT [NEConf_PK] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1175683915]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1175683915] ON [dbo].[NetworkElementConfiguration]
(
	[SERVICEGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1175683916]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1175683916] ON [dbo].[NetworkElementConfiguration]
(
	[TYPEGROUPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1175683917]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1175683917] ON [dbo].[NetworkElementConfiguration]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1175683918]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1175683918] ON [dbo].[NetworkElementConfiguration]
(
	[INTERFACEGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1175683919]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1175683919] ON [dbo].[NetworkElementConfiguration]
(
	[NETTOPOIDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_2086462952]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2086462952] ON [dbo].[NetworkElementConfiguration]
(
	[DISCOVERYSCHEDULENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetworkElementConfiguration] ADD  DEFAULT ('IPNetworkDiscovery') FOR [WORKFLOWNAME]
GO
ALTER TABLE [dbo].[NetworkElementConfiguration] ADD  DEFAULT ('NetworkElementDiscovery') FOR [NEWORKFLOWNAME]
GO
ALTER TABLE [dbo].[NetworkElementConfiguration] ADD  DEFAULT ((1)) FOR [DISCOVER]
GO
ALTER TABLE [dbo].[NetworkElementConfiguration]  WITH CHECK ADD  CONSTRAINT [NEConf_FK10] FOREIGN KEY([DISCOVERYSCHEDULENAME])
REFERENCES [dbo].[DiscoverySchedules] ([NAME])
GO
ALTER TABLE [dbo].[NetworkElementConfiguration] CHECK CONSTRAINT [NEConf_FK10]
GO
ALTER TABLE [dbo].[NetworkElementConfiguration]  WITH CHECK ADD  CONSTRAINT [NEConf_FK4] FOREIGN KEY([SERVICEGROUPID])
REFERENCES [dbo].[ServiceGroup] ([SERVICEGROUPID])
GO
ALTER TABLE [dbo].[NetworkElementConfiguration] CHECK CONSTRAINT [NEConf_FK4]
GO
ALTER TABLE [dbo].[NetworkElementConfiguration]  WITH CHECK ADD  CONSTRAINT [NEConf_FK5] FOREIGN KEY([TYPEGROUPNAME])
REFERENCES [dbo].[TypeGroup] ([TYPEGROUPNAME])
GO
ALTER TABLE [dbo].[NetworkElementConfiguration] CHECK CONSTRAINT [NEConf_FK5]
GO
ALTER TABLE [dbo].[NetworkElementConfiguration]  WITH CHECK ADD  CONSTRAINT [NEConf_FK6] FOREIGN KEY([NAME])
REFERENCES [dbo].[DiscoveryConfiguration] ([NAME])
GO
ALTER TABLE [dbo].[NetworkElementConfiguration] CHECK CONSTRAINT [NEConf_FK6]
GO
ALTER TABLE [dbo].[NetworkElementConfiguration]  WITH CHECK ADD  CONSTRAINT [NEConf_FK7] FOREIGN KEY([INTERFACEGROUPID])
REFERENCES [dbo].[InterfaceGroup] ([INTERFACEGROUPID])
GO
ALTER TABLE [dbo].[NetworkElementConfiguration] CHECK CONSTRAINT [NEConf_FK7]
GO
ALTER TABLE [dbo].[NetworkElementConfiguration]  WITH CHECK ADD  CONSTRAINT [NEConf_FK8] FOREIGN KEY([NETTOPOIDENTIFIER])
REFERENCES [dbo].[NetTopoConfiguration] ([NETTOPOIDENTIFIER])
GO
ALTER TABLE [dbo].[NetworkElementConfiguration] CHECK CONSTRAINT [NEConf_FK8]
GO
