USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPTLLimitedAccessPort]    Script Date: 6/29/2019 5:48:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPTLLimitedAccessPort](
	[DEVICE_ID] [bigint] NOT NULL,
	[PORT_DEVICEID] [varchar](250) NOT NULL,
	[PORT_NAME] [varchar](250) NULL,
	[PORT_EXTENDED] [varchar](250) NULL,
	[PORT_ELMT_NAME] [varchar](250) NULL,
	[PORT_CAPTION] [varchar](250) NULL,
	[PORT_DESC] [varchar](250) NULL,
	[PORT_OPERSTATUS] [varchar](250) NULL,
 CONSTRAINT [HPTLLimitedAccessPort_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[PORT_DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1604337812]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1604337812] ON [dbo].[HPTLLimitedAccessPort]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPTLLimitedAccessPort]  WITH CHECK ADD  CONSTRAINT [HPTLLimitedAccessPort_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPTLLimitedAccessPort] CHECK CONSTRAINT [HPTLLimitedAccessPort_FK1]
GO
