USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCM_ADSyncDetails]    Script Date: 6/29/2019 5:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCM_ADSyncDetails](
	[DOMAIN_ID] [bigint] NOT NULL,
	[USERIMPORTTYPE] [varchar](500) NULL,
	[DAYS] [bigint] NULL,
	[HOURS] [bigint] NULL,
	[MINS] [bigint] NULL,
	[USERID] [bigint] NULL,
 CONSTRAINT [NCM_ADSyncDetails_PK] PRIMARY KEY CLUSTERED 
(
	[DOMAIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__294130422]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__294130422] ON [dbo].[NCM_ADSyncDetails]
(
	[DOMAIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCM_ADSyncDetails]  WITH CHECK ADD  CONSTRAINT [NCM_ADSyncDetails_FK1] FOREIGN KEY([DOMAIN_ID])
REFERENCES [dbo].[ActiveDirectoryInfo] ([AD_ID])
GO
ALTER TABLE [dbo].[NCM_ADSyncDetails] CHECK CONSTRAINT [NCM_ADSyncDetails_FK1]
GO
