USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarBrick]    Script Date: 6/29/2019 5:50:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarBrick](
	[PILLAR_ID] [bigint] NOT NULL,
	[INSTANCE] [int] NOT NULL,
	[ID] [varchar](250) NULL,
	[FQN] [varchar](250) NULL,
	[NAME] [varchar](250) NULL,
	[SERIAL_NUMBER] [varchar](250) NULL,
	[ENCLOSURE_TYPE] [varchar](250) NULL,
 CONSTRAINT [PillarBrick_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC,
	[INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_506272493]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_506272493] ON [dbo].[PillarBrick]
(
	[PILLAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarBrick]  WITH CHECK ADD  CONSTRAINT [PillarBrick_FK] FOREIGN KEY([PILLAR_ID])
REFERENCES [dbo].[PillarRaid] ([PILLAR_ID])
GO
ALTER TABLE [dbo].[PillarBrick] CHECK CONSTRAINT [PillarBrick_FK]
GO
