USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VOIPJitterSettingsTemplate]    Script Date: 6/29/2019 5:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOIPJitterSettingsTemplate](
	[ID] [int] NOT NULL,
	[SOURCE_PORT] [bigint] NOT NULL,
	[DESTINATION_PORT] [bigint] NOT NULL,
	[SIMULATED_VOIPCODECID] [int] NOT NULL,
	[TYPE_OF_SERVICE] [int] NOT NULL,
	[POLL_INTERVAL] [int] NULL,
	[TIMEOUT] [int] NULL,
	[MOS_ADV_FACTOR] [int] NOT NULL,
 CONSTRAINT [VOIPJitterSettingsTemplate_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2130223045]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2130223045] ON [dbo].[VOIPJitterSettingsTemplate]
(
	[SIMULATED_VOIPCODECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VOIPJitterSettingsTemplate]  WITH CHECK ADD  CONSTRAINT [VOIPJitterSettingsTemplate_FK] FOREIGN KEY([SIMULATED_VOIPCODECID])
REFERENCES [dbo].[IpslaVoipCodecConstants] ([CODECID])
GO
ALTER TABLE [dbo].[VOIPJitterSettingsTemplate] CHECK CONSTRAINT [VOIPJitterSettingsTemplate_FK]
GO
