USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ADComputers]    Script Date: 6/29/2019 5:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADComputers](
	[AD_ID] [bigint] NOT NULL,
	[GU_ID] [varchar](100) NULL,
	[COMPUTERNAME] [varchar](100) NULL,
	[OSTYPE] [varchar](100) NULL,
	[SCANTIME] [datetime] NULL,
 CONSTRAINT [ADComputers_PK] PRIMARY KEY CLUSTERED 
(
	[AD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
