USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningLDEV]    Script Date: 6/29/2019 5:48:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningLDEV](
	[DEVICE_ID] [bigint] NOT NULL,
	[LDEV_SERIAL_NO] [int] NOT NULL,
	[CU_NO] [int] NOT NULL,
	[LDEV_NO] [int] NOT NULL,
	[EMULATION_TYPE] [varchar](250) NULL,
	[LUSE_RELATION] [varchar](250) NULL,
	[LU_PATH] [varchar](250) NULL,
	[DEVICE_SIZE] [varchar](250) NULL,
	[RAID_LEVEL] [varchar](250) NULL,
	[SLOT_SIZE] [varchar](250) NULL,
 CONSTRAINT [LightningLDEV_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[LDEV_SERIAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__773603424]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__773603424] ON [dbo].[LightningLDEV]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningLDEV]  WITH CHECK ADD  CONSTRAINT [LightningLDEV_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningLDEV] CHECK CONSTRAINT [LightningLDEV_FK1]
GO
