USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BillMetaTable]    Script Date: 6/29/2019 5:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillMetaTable](
	[ID] [bigint] NOT NULL,
	[PLAN_ID] [int] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[START_INDEX] [bigint] NOT NULL,
	[END_INDEX] [bigint] NOT NULL,
	[GEN_DATE] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](32) NOT NULL,
	[TOT_COST] [float] NULL,
	[PERCENTILE] [bigint] NULL,
	[AVG_SPEED] [bigint] NULL,
 CONSTRAINT [BillMetaTable_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1369780911]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1369780911] ON [dbo].[BillMetaTable]
(
	[PLAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1369780912]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1369780912] ON [dbo].[BillMetaTable]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillMetaTable]  WITH CHECK ADD  CONSTRAINT [BillMetaTable_FK1] FOREIGN KEY([PLAN_ID])
REFERENCES [dbo].[BillPlan] ([PLAN_ID])
GO
ALTER TABLE [dbo].[BillMetaTable] CHECK CONSTRAINT [BillMetaTable_FK1]
GO
ALTER TABLE [dbo].[BillMetaTable]  WITH CHECK ADD  CONSTRAINT [BillMetaTable_FK2] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[BillMetaTable] CHECK CONSTRAINT [BillMetaTable_FK2]
GO
