USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TCPPortList]    Script Date: 6/29/2019 5:52:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCPPortList](
	[PORTID] [bigint] NOT NULL,
	[PORT] [int] NOT NULL,
 CONSTRAINT [TCPPortList_PK] PRIMARY KEY CLUSTERED 
(
	[PORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TCPPortList_UK0] UNIQUE NONCLUSTERED 
(
	[PORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
