USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataRetrievalConfiguration]    Script Date: 6/29/2019 5:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataRetrievalConfiguration](
	[DATARETRIEVALID] [bigint] NOT NULL,
	[INTERACTIONID] [varchar](150) NOT NULL,
	[CONNECTIONCRITERIA] [varchar](15) NOT NULL,
	[USE_NE_CONNECTION] [bit] NOT NULL,
 CONSTRAINT [DataRetConf_PK] PRIMARY KEY CLUSTERED 
(
	[DATARETRIEVALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1820423672]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1820423672] ON [dbo].[DataRetrievalConfiguration]
(
	[INTERACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataRetrievalConfiguration] ADD  DEFAULT ((0)) FOR [USE_NE_CONNECTION]
GO
ALTER TABLE [dbo].[DataRetrievalConfiguration]  WITH CHECK ADD  CONSTRAINT [DataRetConf_FK1] FOREIGN KEY([INTERACTIONID])
REFERENCES [dbo].[InteractionSpec] ([InteractionID])
GO
ALTER TABLE [dbo].[DataRetrievalConfiguration] CHECK CONSTRAINT [DataRetConf_FK1]
GO
