USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BillTaxData]    Script Date: 6/29/2019 5:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillTaxData](
	[ID] [bigint] NOT NULL,
	[BILL_METATABLE_ID] [bigint] NOT NULL,
	[TAX_ID] [bigint] NOT NULL,
	[CALCULATED_TAX] [float] NOT NULL,
 CONSTRAINT [BillTaxData_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_104191003]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_104191003] ON [dbo].[BillTaxData]
(
	[BILL_METATABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_104191004]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_104191004] ON [dbo].[BillTaxData]
(
	[TAX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillTaxData]  WITH CHECK ADD  CONSTRAINT [BillTaxData_FK1] FOREIGN KEY([BILL_METATABLE_ID])
REFERENCES [dbo].[BillMetaTable] ([ID])
GO
ALTER TABLE [dbo].[BillTaxData] CHECK CONSTRAINT [BillTaxData_FK1]
GO
ALTER TABLE [dbo].[BillTaxData]  WITH CHECK ADD  CONSTRAINT [BillTaxData_FK2] FOREIGN KEY([TAX_ID])
REFERENCES [dbo].[BillTaxInfo] ([TAX_ID])
GO
ALTER TABLE [dbo].[BillTaxData] CHECK CONSTRAINT [BillTaxData_FK2]
GO
