USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NotificationRunnable]    Script Date: 6/29/2019 5:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationRunnable](
	[TRIGGERID] [bigint] NOT NULL,
	[ASSOCIATIONID] [bigint] NOT NULL,
	[ENTITY] [varchar](250) NOT NULL,
	[TRIGGERTIME] [bigint] NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[TRIGGERCOUNT] [int] NOT NULL,
	[TRIGGERTYPE] [varchar](10) NOT NULL,
 CONSTRAINT [NotificationRunnable_PK1] PRIMARY KEY CLUSTERED 
(
	[TRIGGERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1424110741]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1424110741] ON [dbo].[NotificationRunnable]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NRunnable_INDEX]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [NRunnable_INDEX] ON [dbo].[NotificationRunnable]
(
	[TRIGGERTIME] ASC,
	[ACTIVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NotificationRunnable] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[NotificationRunnable] ADD  DEFAULT ('0') FOR [TRIGGERCOUNT]
GO
ALTER TABLE [dbo].[NotificationRunnable]  WITH CHECK ADD  CONSTRAINT [NotificationRunnable_FK1] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[ProfileAssociation] ([ID])
GO
ALTER TABLE [dbo].[NotificationRunnable] CHECK CONSTRAINT [NotificationRunnable_FK1]
GO
