USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMV_IOGROUP]    Script Date: 6/29/2019 5:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMV_IOGROUP](
	[RAID_ID] [bigint] NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NULL,
	[NODE_COUNT] [varchar](250) NULL,
	[VDISK_COUNT] [varchar](250) NULL,
	[HOST_COUNT] [varchar](250) NULL,
 CONSTRAINT [IBMV_IOGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1921535095]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1921535095] ON [dbo].[IBMV_IOGROUP]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMV_IOGROUP]  WITH CHECK ADD  CONSTRAINT [IBMV_IOGROUP_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMV_IOGROUP] CHECK CONSTRAINT [IBMV_IOGROUP_FK1]
GO
