USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IntegerCategorySet]    Script Date: 6/29/2019 5:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntegerCategorySet](
	[ICS_ID] [int] NOT NULL,
	[SETNAME] [varchar](100) NOT NULL,
	[INTVAL] [int] NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
	[DESCRIPTION_I18NKEY] [varchar](200) NULL,
	[ICON] [varchar](300) NULL,
	[COLOR] [varchar](10) NULL,
 CONSTRAINT [IntegerCategorySet_PK] PRIMARY KEY CLUSTERED 
(
	[ICS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IntegerCategorySet_UK1] UNIQUE NONCLUSTERED 
(
	[SETNAME] ASC,
	[INTVAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
