USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RunBookNotification]    Script Date: 6/29/2019 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunBookNotification](
	[PROFILEID] [bigint] NOT NULL,
	[RBID] [bigint] NOT NULL,
 CONSTRAINT [RunBookNotification_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1385432371]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1385432371] ON [dbo].[RunBookNotification]
(
	[RBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1385432372]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1385432372] ON [dbo].[RunBookNotification]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RunBookNotification]  WITH CHECK ADD  CONSTRAINT [RunBookNotification_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[RunBookNotification] CHECK CONSTRAINT [RunBookNotification_FK1]
GO
ALTER TABLE [dbo].[RunBookNotification]  WITH CHECK ADD  CONSTRAINT [RunBookNotification_FK2] FOREIGN KEY([RBID])
REFERENCES [dbo].[RunBook] ([RBID])
GO
ALTER TABLE [dbo].[RunBookNotification] CHECK CONSTRAINT [RunBookNotification_FK2]
GO
