USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMSchDownloadTaskInput]    Script Date: 6/29/2019 5:49:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMSchDownloadTaskInput](
	[INSTANCE_ID] [bigint] NOT NULL,
	[DOWNLOADAS] [varchar](50) NOT NULL,
	[FILE_CONTENTS] [varbinary](max) NOT NULL,
 CONSTRAINT [NCMSchDownloadTaskInput_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1100074358]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1100074358] ON [dbo].[NCMSchDownloadTaskInput]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMSchDownloadTaskInput]  WITH CHECK ADD  CONSTRAINT [NCMSchDownloadTaskInput_FK1] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[Task_Input] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[NCMSchDownloadTaskInput] CHECK CONSTRAINT [NCMSchDownloadTaskInput_FK1]
GO
