USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwDVPORTGROUPPROPS]    Script Date: 6/29/2019 5:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwDVPORTGROUPPROPS](
	[DVPORTGROUP_ID] [bigint] NOT NULL,
	[PORTGROUP_TYPE] [varchar](100) NOT NULL,
	[DVSWITCH_ID] [bigint] NOT NULL,
	[IP_POOL] [varchar](100) NULL,
	[ACCESSIBLE] [bit] NOT NULL,
	[NO_OF_HOSTS] [int] NULL,
	[NO_OF_PORTS] [int] NULL,
 CONSTRAINT [VwDVPORTGROUPPROPS_PK] PRIMARY KEY CLUSTERED 
(
	[DVPORTGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1710970962]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1710970962] ON [dbo].[VwDVPORTGROUPPROPS]
(
	[DVPORTGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1710970963]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1710970963] ON [dbo].[VwDVPORTGROUPPROPS]
(
	[DVSWITCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwDVPORTGROUPPROPS]  WITH CHECK ADD  CONSTRAINT [VwDVPORTGROUPPROPS_FK1] FOREIGN KEY([DVPORTGROUP_ID])
REFERENCES [dbo].[VwENTITYMOMAPPING] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[VwDVPORTGROUPPROPS] CHECK CONSTRAINT [VwDVPORTGROUPPROPS_FK1]
GO
ALTER TABLE [dbo].[VwDVPORTGROUPPROPS]  WITH CHECK ADD  CONSTRAINT [VwDVPORTGROUPPROPS_FK2] FOREIGN KEY([DVSWITCH_ID])
REFERENCES [dbo].[VwDVSWITCHPROPS] ([DVSWITCH_ID])
GO
ALTER TABLE [dbo].[VwDVPORTGROUPPROPS] CHECK CONSTRAINT [VwDVPORTGROUPPROPS_FK2]
GO
