USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SOCIALITCOMMENT]    Script Date: 6/29/2019 5:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIALITCOMMENT](
	[COMMENT_ID] [bigint] NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[CONTENT] [text] NOT NULL,
	[CREATED_USERID] [bigint] NOT NULL,
	[LIKE_COUNT] [bigint] NULL,
	[CREATED_TIME] [bigint] NOT NULL,
 CONSTRAINT [SOCIALITCOMMENT_PK] PRIMARY KEY CLUSTERED 
(
	[COMMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__807307747]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__807307747] ON [dbo].[SOCIALITCOMMENT]
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SOCIALITCOMMENT] ADD  DEFAULT ('0') FOR [LIKE_COUNT]
GO
ALTER TABLE [dbo].[SOCIALITCOMMENT]  WITH CHECK ADD  CONSTRAINT [SOCIALITCOMMENT_FK] FOREIGN KEY([POST_ID])
REFERENCES [dbo].[SOCIALITPOST] ([POST_ID])
GO
ALTER TABLE [dbo].[SOCIALITCOMMENT] CHECK CONSTRAINT [SOCIALITCOMMENT_FK]
GO
