USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCM_UserGroup]    Script Date: 6/29/2019 5:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCM_UserGroup](
	[USERGROUPID] [bigint] NOT NULL,
	[GROUPNAME] [varchar](100) NULL,
	[GROUPDESC] [varchar](250) NULL,
	[TIMESTAMP] [datetime] NULL,
 CONSTRAINT [NCM_UserGroup_PK] PRIMARY KEY CLUSTERED 
(
	[USERGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
