USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwLUNMultiPath]    Script Date: 6/29/2019 5:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwLUNMultiPath](
	[LUN_ID] [bigint] NOT NULL,
	[VHOSTHBA_ID] [bigint] NOT NULL,
	[SCSI_TARGETID] [bigint] NOT NULL,
	[CANONICAL_NAME] [varchar](100) NOT NULL,
	[PATH_STATE] [varchar](25) NOT NULL,
	[IS_WORKING_PATH] [bit] NOT NULL,
 CONSTRAINT [VwLUNMultiPath_PK] PRIMARY KEY CLUSTERED 
(
	[LUN_ID] ASC,
	[SCSI_TARGETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_127133255]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_127133255] ON [dbo].[VwLUNMultiPath]
(
	[LUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_127133256]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_127133256] ON [dbo].[VwLUNMultiPath]
(
	[VHOSTHBA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_127133257]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_127133257] ON [dbo].[VwLUNMultiPath]
(
	[SCSI_TARGETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwLUNMultiPath] ADD  DEFAULT ((0)) FOR [IS_WORKING_PATH]
GO
ALTER TABLE [dbo].[VwLUNMultiPath]  WITH CHECK ADD  CONSTRAINT [VwLUNMultiPath_FK1] FOREIGN KEY([LUN_ID])
REFERENCES [dbo].[VwLUNProps] ([LUN_ID])
GO
ALTER TABLE [dbo].[VwLUNMultiPath] CHECK CONSTRAINT [VwLUNMultiPath_FK1]
GO
ALTER TABLE [dbo].[VwLUNMultiPath]  WITH CHECK ADD  CONSTRAINT [VwLUNMultiPath_FK2] FOREIGN KEY([VHOSTHBA_ID])
REFERENCES [dbo].[VwHostBusAdapters] ([VHOSTHBA_ID])
GO
ALTER TABLE [dbo].[VwLUNMultiPath] CHECK CONSTRAINT [VwLUNMultiPath_FK2]
GO
ALTER TABLE [dbo].[VwLUNMultiPath]  WITH CHECK ADD  CONSTRAINT [VwLUNMultiPath_FK3] FOREIGN KEY([SCSI_TARGETID])
REFERENCES [dbo].[VwSCSITargetProps] ([SCSI_TARGETID])
GO
ALTER TABLE [dbo].[VwLUNMultiPath] CHECK CONSTRAINT [VwLUNMultiPath_FK3]
GO
