USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VHostLunMapping]    Script Date: 6/29/2019 5:52:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VHostLunMapping](
	[VHOSTDISK_ID] [bigint] NOT NULL,
	[VHOST_ID] [bigint] NOT NULL,
	[LUN_ID] [bigint] NULL,
	[CANONICAL_NAME] [varchar](150) NOT NULL,
 CONSTRAINT [VHostLunMapping_PK] PRIMARY KEY CLUSTERED 
(
	[VHOSTDISK_ID] ASC,
	[VHOST_ID] ASC,
	[CANONICAL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__520466796]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__520466796] ON [dbo].[VHostLunMapping]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VHostLunMapping]  WITH CHECK ADD  CONSTRAINT [VHostLunMapping_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VHostProps] ([VHOST_ID])
GO
ALTER TABLE [dbo].[VHostLunMapping] CHECK CONSTRAINT [VHostLunMapping_FK1]
GO
