USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMVendorMIB]    Script Date: 6/29/2019 5:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMVendorMIB](
	[VENDORID] [bigint] NOT NULL,
	[PERSONALITYID] [bigint] NOT NULL,
	[SEQUENCEID] [int] NOT NULL,
	[MIBID] [bigint] NOT NULL,
 CONSTRAINT [NCMVendorMIB_PK] PRIMARY KEY CLUSTERED 
(
	[VENDORID] ASC,
	[PERSONALITYID] ASC,
	[SEQUENCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1271562795]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1271562795] ON [dbo].[NCMVendorMIB]
(
	[MIBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1271562796]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1271562796] ON [dbo].[NCMVendorMIB]
(
	[PERSONALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1271562797]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1271562797] ON [dbo].[NCMVendorMIB]
(
	[VENDORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMVendorMIB]  WITH CHECK ADD  CONSTRAINT [NCMVendorMIB_FK1] FOREIGN KEY([VENDORID])
REFERENCES [dbo].[NCMVendor] ([VENDORID])
GO
ALTER TABLE [dbo].[NCMVendorMIB] CHECK CONSTRAINT [NCMVendorMIB_FK1]
GO
ALTER TABLE [dbo].[NCMVendorMIB]  WITH CHECK ADD  CONSTRAINT [NCMVendorMIB_FK2] FOREIGN KEY([PERSONALITYID])
REFERENCES [dbo].[NCMPersonality] ([PERSONALITYID])
GO
ALTER TABLE [dbo].[NCMVendorMIB] CHECK CONSTRAINT [NCMVendorMIB_FK2]
GO
ALTER TABLE [dbo].[NCMVendorMIB]  WITH CHECK ADD  CONSTRAINT [NCMVendorMIB_FK3] FOREIGN KEY([MIBID])
REFERENCES [dbo].[NCMMIBSelection] ([MIBID])
GO
ALTER TABLE [dbo].[NCMVendorMIB] CHECK CONSTRAINT [NCMVendorMIB_FK3]
GO
