USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorageLUN]    Script Date: 6/29/2019 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageLUN](
	[LUN_ID] [bigint] NOT NULL,
	[VOLUME_ID] [bigint] NOT NULL,
	[LUN_NAME] [varchar](150) NOT NULL,
	[LUN_SERIALNUMBER] [varchar](50) NULL,
	[LUN_SIZE_BYTES] [bigint] NULL,
	[LUN_STATUS] [varchar](50) NULL,
	[LUN_SHARE_STATUS] [varchar](50) NULL,
	[LUN_MAPPED] [varchar](20) NULL,
	[LUN_SPACE_RESERVATION] [varchar](20) NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
 CONSTRAINT [StorageLUN_PK] PRIMARY KEY CLUSTERED 
(
	[LUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2018023046]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2018023046] ON [dbo].[StorageLUN]
(
	[VOLUME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorageLUN]  WITH CHECK ADD  CONSTRAINT [StorageLUN_FK] FOREIGN KEY([VOLUME_ID])
REFERENCES [dbo].[StorageVolumes] ([VOLUME_ID])
GO
ALTER TABLE [dbo].[StorageLUN] CHECK CONSTRAINT [StorageLUN_FK]
GO
