USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LUNHostMap]    Script Date: 6/29/2019 5:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUNHostMap](
	[LINK_ID] [bigint] NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[SOURCE_IDENTIFIER] [varchar](250) NOT NULL,
	[WWN] [varchar](100) NOT NULL,
	[STATUS] [varchar](250) NULL,
	[OBJECT_ID] [varchar](250) NULL,
 CONSTRAINT [LUNHostMap_PK] PRIMARY KEY CLUSTERED 
(
	[LINK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__464607211]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__464607211] ON [dbo].[LUNHostMap]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LUNHostMap]  WITH CHECK ADD  CONSTRAINT [LUNHostMap_FK] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LUNHostMap] CHECK CONSTRAINT [LUNHostMap_FK]
GO
