USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMReadFromResponse]    Script Date: 6/29/2019 5:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMReadFromResponse](
	[DEVICEPROTOCOLID] [bigint] NOT NULL,
	[OPERATIONID] [bigint] NOT NULL,
	[RECORDID] [varchar](250) NOT NULL,
 CONSTRAINT [NCMOperationReadRecord_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICEPROTOCOLID] ASC,
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2087696963]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2087696963] ON [dbo].[NCMReadFromResponse]
(
	[DEVICEPROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2087696964]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2087696964] ON [dbo].[NCMReadFromResponse]
(
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_2087696965]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2087696965] ON [dbo].[NCMReadFromResponse]
(
	[RECORDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMReadFromResponse]  WITH CHECK ADD  CONSTRAINT [NCMOperationReadRecord_FK1] FOREIGN KEY([DEVICEPROTOCOLID])
REFERENCES [dbo].[NCMProtocolCombination] ([DEVICEPROTOCOLID])
GO
ALTER TABLE [dbo].[NCMReadFromResponse] CHECK CONSTRAINT [NCMOperationReadRecord_FK1]
GO
ALTER TABLE [dbo].[NCMReadFromResponse]  WITH CHECK ADD  CONSTRAINT [NCMOperationReadRecord_FK2] FOREIGN KEY([OPERATIONID])
REFERENCES [dbo].[NCMOperation] ([OPERATIONID])
GO
ALTER TABLE [dbo].[NCMReadFromResponse] CHECK CONSTRAINT [NCMOperationReadRecord_FK2]
GO
ALTER TABLE [dbo].[NCMReadFromResponse]  WITH CHECK ADD  CONSTRAINT [NCMOperationReadRecord_FK3] FOREIGN KEY([RECORDID])
REFERENCES [dbo].[Record] ([RecordID])
GO
ALTER TABLE [dbo].[NCMReadFromResponse] CHECK CONSTRAINT [NCMOperationReadRecord_FK3]
GO
