USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GRAPHDIAGNOSTICS]    Script Date: 6/29/2019 5:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRAPHDIAGNOSTICS](
	[GRAPHID] [bigint] NOT NULL,
	[DIAGNOSTICNAME] [varchar](100) NOT NULL,
 CONSTRAINT [GRAPHDIAGNOSTICS_PK] PRIMARY KEY CLUSTERED 
(
	[GRAPHID] ASC,
	[DIAGNOSTICNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_449887211]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_449887211] ON [dbo].[GRAPHDIAGNOSTICS]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GRAPHDIAGNOSTICS]  WITH CHECK ADD  CONSTRAINT [GRAPHDIAGNOSTICS_FK1] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[GRAPHDIAGNOSTICS] CHECK CONSTRAINT [GRAPHDIAGNOSTICS_FK1]
GO
