USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMOperationAudit]    Script Date: 6/29/2019 5:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMOperationAudit](
	[OPERATION_AUDIT_ID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[RESOURCENAME] [varchar](100) NOT NULL,
	[OPERATIONNAME] [varchar](100) NOT NULL,
	[OPERATIONSTATUS] [varchar](15) NOT NULL,
	[INVOKEDBY] [varchar](100) NOT NULL,
	[EXECUTEDON] [datetime] NOT NULL,
	[MESSAGE] [varchar](250) NOT NULL,
	[DEVICE_RESPONSE] [varbinary](max) NULL,
 CONSTRAINT [NCMOperationAudit_PK] PRIMARY KEY CLUSTERED 
(
	[OPERATION_AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMOperationAudit] ADD  DEFAULT ('None') FOR [MESSAGE]
GO
