USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NEDetails]    Script Date: 6/29/2019 5:49:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEDetails](
	[RESOURCEID] [bigint] NOT NULL,
	[SYSTEMDESCRIPTION] [varchar](255) NULL,
	[SYSTEMOBJECTID] [varchar](255) NULL,
	[SYSTEMNAME] [varchar](255) NULL,
	[SYSTEMLOCATION] [varchar](255) NULL,
	[SYSTEMCONTACT] [varchar](255) NULL,
 CONSTRAINT [NEDetails_PK1] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1458211240]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1458211240] ON [dbo].[NEDetails]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NEDetails]  WITH CHECK ADD  CONSTRAINT [NEDetails_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NEDetails] CHECK CONSTRAINT [NEDetails_FK1]
GO
