USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HDSComponentInfo]    Script Date: 6/29/2019 5:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDSComponentInfo](
	[RAID_DEVICE_ID] [bigint] NOT NULL,
	[COM_ID] [varchar](250) NOT NULL,
	[COM_TYPE] [varchar](250) NULL,
	[COM_NAME] [varchar](250) NULL,
	[COM_ELTNAME] [varchar](250) NULL,
	[COM_STATUS] [varchar](250) NULL,
	[COM_HSTATE] [varchar](250) NULL,
 CONSTRAINT [HDSComponentInfo_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_DEVICE_ID] ASC,
	[COM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_749052673]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_749052673] ON [dbo].[HDSComponentInfo]
(
	[RAID_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HDSComponentInfo]  WITH CHECK ADD  CONSTRAINT [HDSComponentInfo_FK1] FOREIGN KEY([RAID_DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HDSComponentInfo] CHECK CONSTRAINT [HDSComponentInfo_FK1]
GO
