USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARDiskDrive]    Script Date: 6/29/2019 5:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARDiskDrive](
	[RAID_ID] [bigint] NOT NULL,
	[DISK_DEVICE_ID] [varchar](150) NOT NULL,
	[DISK_ID] [varchar](250) NOT NULL,
	[DISK_NAME] [varchar](250) NOT NULL,
	[CONFIG_CAPACITY] [varchar](250) NOT NULL,
	[FREE_CAPACITY] [varchar](250) NOT NULL,
	[USED_CAPACITY] [varchar](250) NOT NULL,
	[SERIALNUMBER] [varchar](250) NOT NULL,
	[MANUFACTURER] [varchar](250) NOT NULL,
	[FIRMWARE_VERSION] [varchar](250) NOT NULL,
	[TEMPERATURE] [varchar](250) NOT NULL,
	[INITIATOR_PORTA] [varchar](250) NOT NULL,
	[INITIATOR_PORTB] [varchar](250) NOT NULL,
	[PRIMARY_PORT_PATH] [varchar](250) NOT NULL,
	[SPEED] [varchar](250) NOT NULL,
	[ELEMENT_NAME] [varchar](250) NOT NULL,
	[POSITION] [varchar](250) NOT NULL,
	[CAGE_TYPE] [varchar](250) NOT NULL,
	[DEVICE_TYPE] [varchar](250) NOT NULL,
	[IS_LD_ALLOCATEABLE] [varchar](250) NOT NULL,
	[LOOP_A_STATE] [varchar](250) NOT NULL,
	[LOOP_B_STATE] [varchar](250) NOT NULL,
	[LOOP_A_ALPA] [varchar](250) NOT NULL,
	[LOOP_B_ALPA] [varchar](250) NOT NULL,
	[UNCORRECTABLE_READ_ERRORS] [varchar](250) NOT NULL,
	[UNCORRECTABLE_WRITE_ERRORS] [varchar](250) NOT NULL,
	[IS_ESI] [varchar](250) NOT NULL,
	[ESI_STATE] [varchar](250) NOT NULL,
	[SPARE_USED_CAPACITY] [varchar](250) NOT NULL,
	[SPARE_FREE_CAPACITY] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARDiskDrive_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[DISK_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__187928595]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__187928595] ON [dbo].[HP3PARDiskDrive]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARDiskDrive]  WITH CHECK ADD  CONSTRAINT [HP3PARDiskDrive_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[HP3PARRaid] ([RAID_ID])
GO
ALTER TABLE [dbo].[HP3PARDiskDrive] CHECK CONSTRAINT [HP3PARDiskDrive_FK]
GO
