USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LCPDETAILS]    Script Date: 6/29/2019 5:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LCPDETAILS](
	[PRODUCTNAME] [varchar](250) NOT NULL,
 CONSTRAINT [LCP_INSTALATIONNAME] PRIMARY KEY CLUSTERED 
(
	[PRODUCTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
