USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PNSAssociation]    Script Date: 6/29/2019 5:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNSAssociation](
	[ID] [bigint] NOT NULL,
	[LOGINID] [bigint] NOT NULL,
	[DEVICENAME] [varchar](250) NOT NULL,
 CONSTRAINT [PNSAssociation_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1651959929]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1651959929] ON [dbo].[PNSAssociation]
(
	[LOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PNSAssociation]  WITH CHECK ADD  CONSTRAINT [PNSAssociation_FK1] FOREIGN KEY([LOGINID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[PNSAssociation] CHECK CONSTRAINT [PNSAssociation_FK1]
GO
