USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MessageBoardDetails]    Script Date: 6/29/2019 5:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageBoardDetails](
	[MESSAGETABLEID] [bigint] NOT NULL,
	[MESSAGEID] [bigint] NULL,
	[MESSAGE] [text] NOT NULL,
	[PRODUCT_VERSION] [varchar](100) NOT NULL,
	[ROLE] [varchar](100) NULL,
	[VISIBLE] [varchar](50) NULL,
	[MESSAGESENDER] [varchar](50) NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
 CONSTRAINT [NCMMessageBoard_PK] PRIMARY KEY CLUSTERED 
(
	[MESSAGETABLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
