USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwENTITYMOMAPPING]    Script Date: 6/29/2019 5:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwENTITYMOMAPPING](
	[ENTITY_ID] [bigint] NOT NULL,
	[ENTITY_TYPE] [varchar](100) NOT NULL,
	[ENTITY_NAME] [varchar](250) NOT NULL,
	[ENTITY_REFID] [varchar](200) NOT NULL,
	[MOID] [bigint] NOT NULL,
	[VCENTER_ID] [bigint] NOT NULL,
 CONSTRAINT [VwENTITYMOMAPPING_PK] PRIMARY KEY CLUSTERED 
(
	[ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1588349589]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1588349589] ON [dbo].[VwENTITYMOMAPPING]
(
	[VCENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwENTITYMOMAPPING]  WITH CHECK ADD  CONSTRAINT [VwENTITYMOMAPPING_FK1] FOREIGN KEY([VCENTER_ID])
REFERENCES [dbo].[VwVCENTERPROPS] ([VCENTER_ID])
GO
ALTER TABLE [dbo].[VwENTITYMOMAPPING] CHECK CONSTRAINT [VwENTITYMOMAPPING_FK1]
GO
