USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TrapData]    Script Date: 6/29/2019 5:52:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrapData](
	[ID] [bigint] NOT NULL,
	[TRAP_OID] [varchar](300) NOT NULL,
	[TRAP_OID_NUMBER] [varchar](100) NOT NULL,
	[SOURCE] [varchar](100) NOT NULL,
	[TIME_STAMP] [varchar](100) NOT NULL,
	[TRAP_RECIVED_TIME] [varchar](100) NOT NULL,
 CONSTRAINT [TrapData_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
