USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Spam_Vs_Cli_Dy]    Script Date: 6/29/2019 5:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spam_Vs_Cli_Dy](
	[SVCD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HOUR] [datetime] NOT NULL,
	[RID] [bigint] NOT NULL,
	[SRC_ID] [bigint] NOT NULL,
	[DEST_ID] [bigint] NOT NULL,
	[SRC] [nvarchar](96) NULL,
	[DEST] [nvarchar](96) NULL,
	[REQUEST_COUNT] [int] NULL,
	[USER_ID] [bigint] NULL,
	[USER] [nvarchar](96) NULL,
	[PROTOCOL_ID] [bigint] NULL,
	[PROTOCOL] [nvarchar](48) NULL,
	[RULE] [nvarchar](90) NULL,
	[STATUS] [nvarchar](24) NULL,
	[BYTES_INBOUND] [bigint] NULL,
	[BYTES_OUTBOUND] [bigint] NULL,
	[TOTAL_BYTES] [bigint] NULL,
	[FROM_EMAIL] [nvarchar](200) NULL,
	[TO_EMAIL] [varchar](600) NULL,
	[MAIL_SUBJECT] [nvarchar](1000) NULL,
	[MSG] [nvarchar](1) NULL,
	[SRC_CNTRYID] [int] NULL,
	[DST_CNTRYID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SVCD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Spam_Vs_Cli_Dy_IDX1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Spam_Vs_Cli_Dy_IDX1] ON [dbo].[Spam_Vs_Cli_Dy]
(
	[HOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Spam_Vs_Cli_Dy_IDX2]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Spam_Vs_Cli_Dy_IDX2] ON [dbo].[Spam_Vs_Cli_Dy]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Spam_Vs_Cli_Dy_IDX3]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Spam_Vs_Cli_Dy_IDX3] ON [dbo].[Spam_Vs_Cli_Dy]
(
	[SRC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Spam_Vs_Cli_Dy_IDX4]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Spam_Vs_Cli_Dy_IDX4] ON [dbo].[Spam_Vs_Cli_Dy]
(
	[DEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Spam_Vs_Cli_Dy_IDX5]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Spam_Vs_Cli_Dy_IDX5] ON [dbo].[Spam_Vs_Cli_Dy]
(
	[SRC_CNTRYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Spam_Vs_Cli_Dy_IDX6]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Spam_Vs_Cli_Dy_IDX6] ON [dbo].[Spam_Vs_Cli_Dy]
(
	[DST_CNTRYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT ('1970-01-01 00:00:00') FOR [HOUR]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [SRC]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [DEST]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT ('0') FOR [REQUEST_COUNT]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [USER_ID]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [USER]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [PROTOCOL_ID]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [PROTOCOL]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [RULE]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [STATUS]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT ('0') FOR [BYTES_INBOUND]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT ('0') FOR [BYTES_OUTBOUND]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT ('0') FOR [TOTAL_BYTES]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [FROM_EMAIL]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [TO_EMAIL]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [MAIL_SUBJECT]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [MSG]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [SRC_CNTRYID]
GO
ALTER TABLE [dbo].[Spam_Vs_Cli_Dy] ADD  DEFAULT (NULL) FOR [DST_CNTRYID]
GO
