USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMTerminalDevices]    Script Date: 6/29/2019 5:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMTerminalDevices](
	[TERMINALDEVICEID] [bigint] NOT NULL,
	[HOSTNAME] [varchar](100) NOT NULL,
	[TYPE] [varchar](100) NULL,
	[PORT] [bigint] NOT NULL,
	[LOGINNAME] [varbinary](max) NOT NULL,
	[PASSWORD] [varbinary](max) NOT NULL,
	[LOGINPROMPT] [varchar](10) NOT NULL,
	[PASSWORDPROMPT] [varchar](10) NOT NULL,
	[COMMANDPROMPT] [varchar](10) NOT NULL,
	[TERMINALGROUPID] [bigint] NULL,
	[CREATEDBY] [varbinary](max) NOT NULL,
	[LASTMODIFIEDBY] [varbinary](max) NOT NULL,
	[VISIBILITY] [varchar](20) NOT NULL,
 CONSTRAINT [NCMTerminalDevices_PK] PRIMARY KEY CLUSTERED 
(
	[TERMINALDEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__2079292106]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2079292106] ON [dbo].[NCMTerminalDevices]
(
	[TERMINALGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMTerminalDevices] ADD  DEFAULT ('Self') FOR [VISIBILITY]
GO
ALTER TABLE [dbo].[NCMTerminalDevices]  WITH CHECK ADD  CONSTRAINT [NCMTerminalDevices_FK1] FOREIGN KEY([TERMINALGROUPID])
REFERENCES [dbo].[NCMTerminalDeviceGroups] ([TERMINALGROUPID])
GO
ALTER TABLE [dbo].[NCMTerminalDevices] CHECK CONSTRAINT [NCMTerminalDevices_FK1]
GO
