USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WANIntfTypes]    Script Date: 6/29/2019 5:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WANIntfTypes](
	[TYPEID] [bigint] NOT NULL,
 CONSTRAINT [WANIntfTypes_PK] PRIMARY KEY CLUSTERED 
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1524512422]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1524512422] ON [dbo].[WANIntfTypes]
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WANIntfTypes]  WITH CHECK ADD  CONSTRAINT [WANIntfTypes_FK] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[InterfaceDefinitionTemplate] ([TYPEID])
GO
ALTER TABLE [dbo].[WANIntfTypes] CHECK CONSTRAINT [WANIntfTypes_FK]
GO
