USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportWidgetID]    Script Date: 6/29/2019 5:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportWidgetID](
	[ID] [bigint] NOT NULL,
 CONSTRAINT [ReportWidgetID_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
