USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HyperVVMResSharing]    Script Date: 6/29/2019 5:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HyperVVMResSharing](
	[VMID] [bigint] NOT NULL,
	[CPURESERVATIONMHZ] [bigint] NULL,
	[CPULIMITMHZ] [bigint] NULL,
	[MEMRESERVATIONMB] [bigint] NULL,
	[MEMLIMITMB] [bigint] NULL,
 CONSTRAINT [HyperVVMResSharing_PK] PRIMARY KEY CLUSTERED 
(
	[VMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_78258058]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_78258058] ON [dbo].[HyperVVMResSharing]
(
	[VMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HyperVVMResSharing]  WITH CHECK ADD  CONSTRAINT [HyperVVMResSharing_FK1] FOREIGN KEY([VMID])
REFERENCES [dbo].[HyperVVMProps] ([VMID])
GO
ALTER TABLE [dbo].[HyperVVMResSharing] CHECK CONSTRAINT [HyperVVMResSharing_FK1]
GO
