USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NEService]    Script Date: 6/29/2019 5:49:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEService](
	[RESOURCEID] [bigint] NOT NULL,
	[SERVICENAME] [varchar](100) NOT NULL,
 CONSTRAINT [NEService_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1354049205]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1354049205] ON [dbo].[NEService]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NEService]  WITH CHECK ADD  CONSTRAINT [NEService_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[ManagedResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NEService] CHECK CONSTRAINT [NEService_FK1]
GO
