USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PeerStatusCode]    Script Date: 6/29/2019 5:50:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeerStatusCode](
	[PEER_ID] [bigint] NOT NULL,
	[CODE] [nvarchar](25) NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
 CONSTRAINT [PeerStatusCode_PK] PRIMARY KEY CLUSTERED 
(
	[PEER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
