USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProfileAssociation]    Script Date: 6/29/2019 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileAssociation](
	[ID] [bigint] NOT NULL,
	[PROFILEID] [bigint] NOT NULL,
	[CRITERIAID] [bigint] NOT NULL,
	[AGENT] [varchar](250) NULL,
 CONSTRAINT [ProfileAssociation_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__338286970]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__338286970] ON [dbo].[ProfileAssociation]
(
	[CRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__338286971]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__338286971] ON [dbo].[ProfileAssociation]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProfileAssociation]  WITH CHECK ADD  CONSTRAINT [ProfileAssociation_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[ProfileAssociation] CHECK CONSTRAINT [ProfileAssociation_FK1]
GO
ALTER TABLE [dbo].[ProfileAssociation]  WITH CHECK ADD  CONSTRAINT [ProfileAssociation_FK2] FOREIGN KEY([CRITERIAID])
REFERENCES [dbo].[ProfileCriteria] ([CRITERIAID])
GO
ALTER TABLE [dbo].[ProfileAssociation] CHECK CONSTRAINT [ProfileAssociation_FK2]
GO
