USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserVsFalsePostiveHandlings]    Script Date: 6/29/2019 5:52:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserVsFalsePostiveHandlings](
	[CHANGE_ID] [bigint] NOT NULL,
	[USER_NAME] [nvarchar](100) NOT NULL,
	[CRITERIA] [ntext] NOT NULL,
	[CREATED_ON] [nvarchar](50) NOT NULL,
 CONSTRAINT [UserVsFalsePostiveHandlings_PK] PRIMARY KEY CLUSTERED 
(
	[CHANGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
