USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IpslaVOIPJitterDetails]    Script Date: 6/29/2019 5:48:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpslaVOIPJitterDetails](
	[PROBEGROUP_ID] [bigint] NOT NULL,
	[SOURCE_PORT] [bigint] NOT NULL,
	[DESTINATION_PORT] [bigint] NOT NULL,
	[SIMULATED_VOIPCODECID] [int] NOT NULL,
	[TYPE_OF_SERVICE] [int] NOT NULL,
	[MOS_ADV_FACTOR] [int] NOT NULL,
 CONSTRAINT [IpslaVOIPJitterDetails_PK] PRIMARY KEY CLUSTERED 
(
	[PROBEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__153819550]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__153819550] ON [dbo].[IpslaVOIPJitterDetails]
(
	[SIMULATED_VOIPCODECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1657606063]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1657606063] ON [dbo].[IpslaVOIPJitterDetails]
(
	[PROBEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IpslaVOIPJitterDetails]  WITH CHECK ADD  CONSTRAINT [IpslaVOIPJitterDetails_FK] FOREIGN KEY([PROBEGROUP_ID])
REFERENCES [dbo].[Collector] ([PROBEGROUP_ID])
GO
ALTER TABLE [dbo].[IpslaVOIPJitterDetails] CHECK CONSTRAINT [IpslaVOIPJitterDetails_FK]
GO
ALTER TABLE [dbo].[IpslaVOIPJitterDetails]  WITH CHECK ADD  CONSTRAINT [IpslaVOIPJitterDetails_FK1] FOREIGN KEY([SIMULATED_VOIPCODECID])
REFERENCES [dbo].[IpslaVoipCodecConstants] ([CODECID])
GO
ALTER TABLE [dbo].[IpslaVOIPJitterDetails] CHECK CONSTRAINT [IpslaVOIPJitterDetails_FK1]
GO
