USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RaidControllerPort]    Script Date: 6/29/2019 5:50:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaidControllerPort](
	[CONTROLLER_ID] [bigint] NOT NULL,
	[PORT_ID] [bigint] NOT NULL,
 CONSTRAINT [RAIDCONTROLLERPORT_PK] PRIMARY KEY CLUSTERED 
(
	[CONTROLLER_ID] ASC,
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1525362699]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1525362699] ON [dbo].[RaidControllerPort]
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1525362700]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1525362700] ON [dbo].[RaidControllerPort]
(
	[CONTROLLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RaidControllerPort]  WITH CHECK ADD  CONSTRAINT [RAIDCONTROLLERPORT_FK1] FOREIGN KEY([CONTROLLER_ID])
REFERENCES [dbo].[RaidController] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[RaidControllerPort] CHECK CONSTRAINT [RAIDCONTROLLERPORT_FK1]
GO
ALTER TABLE [dbo].[RaidControllerPort]  WITH CHECK ADD  CONSTRAINT [RAIDCONTROLLERPORT_FK2] FOREIGN KEY([PORT_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[RaidControllerPort] CHECK CONSTRAINT [RAIDCONTROLLERPORT_FK2]
GO
