USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EXTENDEDVENDORDETAILS]    Script Date: 6/29/2019 5:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXTENDEDVENDORDETAILS](
	[ID] [bigint] NOT NULL,
	[OID] [varchar](100) NOT NULL,
	[VENDOR] [varchar](100) NOT NULL,
 CONSTRAINT [EXTENDEDVENDORDETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [EXTENDEDVENDORDETAILS_UK0] UNIQUE NONCLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [EXTENDEDVENDORDETAILS_UK1] UNIQUE NONCLUSTERED 
(
	[VENDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
