USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PluginAuthKey]    Script Date: 6/29/2019 5:50:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PluginAuthKey](
	[ID] [bigint] NOT NULL,
	[PLUGIN_ID] [int] NOT NULL,
	[AUTH_KEY] [varchar](255) NOT NULL,
 CONSTRAINT [PluginAuthKey_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2062954001]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2062954001] ON [dbo].[PluginAuthKey]
(
	[PLUGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PluginAuthKey]  WITH CHECK ADD  CONSTRAINT [PluginAuthKey_FK1] FOREIGN KEY([PLUGIN_ID])
REFERENCES [dbo].[PluginIntegration] ([PLUGIN_ID])
GO
ALTER TABLE [dbo].[PluginAuthKey] CHECK CONSTRAINT [PluginAuthKey_FK1]
GO
