USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaEnvironmentEntry]    Script Date: 6/29/2019 5:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaEnvironmentEntry](
	[SERVICE_ID] [bigint] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[VALUE] [varchar](100) NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](100) NULL,
 CONSTRAINT [AaaEnvironmentEntry_PK] PRIMARY KEY CLUSTERED 
(
	[SERVICE_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1822586116]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1822586116] ON [dbo].[AaaEnvironmentEntry]
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaEnvironmentEntry] ADD  DEFAULT ('No Description') FOR [DESCRIPTION]
GO
ALTER TABLE [dbo].[AaaEnvironmentEntry]  WITH CHECK ADD  CONSTRAINT [AaaEnvironmentEntry_FK] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[AaaService] ([SERVICE_ID])
GO
ALTER TABLE [dbo].[AaaEnvironmentEntry] CHECK CONSTRAINT [AaaEnvironmentEntry_FK]
GO
