USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SysLogNotifyRuleList]    Script Date: 6/29/2019 5:52:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysLogNotifyRuleList](
	[ID] [bigint] NOT NULL,
	[CRITERIAID] [bigint] NOT NULL,
	[RULEID] [bigint] NOT NULL,
 CONSTRAINT [SysLogNotifyRuleList_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_790721447]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_790721447] ON [dbo].[SysLogNotifyRuleList]
(
	[CRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_790721448]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_790721448] ON [dbo].[SysLogNotifyRuleList]
(
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SysLogNotifyRuleList]  WITH CHECK ADD  CONSTRAINT [SysLogNotifyRuleList_FK1] FOREIGN KEY([CRITERIAID])
REFERENCES [dbo].[ProfileCriteria] ([CRITERIAID])
GO
ALTER TABLE [dbo].[SysLogNotifyRuleList] CHECK CONSTRAINT [SysLogNotifyRuleList_FK1]
GO
ALTER TABLE [dbo].[SysLogNotifyRuleList]  WITH CHECK ADD  CONSTRAINT [SysLogNotifyRuleList_FK2] FOREIGN KEY([RULEID])
REFERENCES [dbo].[SYSLOGRULESLIST] ([RULEID])
GO
ALTER TABLE [dbo].[SysLogNotifyRuleList] CHECK CONSTRAINT [SysLogNotifyRuleList_FK2]
GO
