USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NortelPWRSwitch]    Script Date: 6/29/2019 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NortelPWRSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[HARDWARE_VERSION] [varchar](50) NOT NULL,
	[FIRMWARE_VERSION] [varchar](50) NOT NULL,
	[SOFTWARE_VERSION] [varchar](50) NOT NULL,
 CONSTRAINT [NortelPWRSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__37762430]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__37762430] ON [dbo].[NortelPWRSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NortelPWRSwitch] ADD  DEFAULT ('Not Available') FOR [HARDWARE_VERSION]
GO
ALTER TABLE [dbo].[NortelPWRSwitch] ADD  DEFAULT ('Not Available') FOR [FIRMWARE_VERSION]
GO
ALTER TABLE [dbo].[NortelPWRSwitch] ADD  DEFAULT ('Not Available') FOR [SOFTWARE_VERSION]
GO
ALTER TABLE [dbo].[NortelPWRSwitch]  WITH CHECK ADD  CONSTRAINT [NortelPWRSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NortelPWRSwitch] CHECK CONSTRAINT [NortelPWRSwitch_FK1]
GO
