USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduleMailSettings]    Script Date: 6/29/2019 5:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleMailSettings](
	[SCHEDULEID] [bigint] NOT NULL,
	[MailID] [varchar](250) NOT NULL,
 CONSTRAINT [ScheduleMailSettings_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC,
	[MailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1863475682]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1863475682] ON [dbo].[ScheduleMailSettings]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleMailSettings]  WITH CHECK ADD  CONSTRAINT [ScheduleMailSettings_FK1] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleReports] ([SCHEDULEID])
GO
ALTER TABLE [dbo].[ScheduleMailSettings] CHECK CONSTRAINT [ScheduleMailSettings_FK1]
GO
