USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HDSArrayGroup]    Script Date: 6/29/2019 5:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDSArrayGroup](
	[RAID_DEVICE_ID] [bigint] NOT NULL,
	[ARRAYGP_NAME] [varchar](250) NOT NULL,
	[ARRAYGP_ID] [varchar](250) NULL,
	[ARRAYGP_ELTNAME] [varchar](250) NULL,
	[ARRAYGP_LEVEL] [varchar](250) NULL,
	[ARRAYGP_TOTSIZE] [varchar](250) NULL,
	[ARRAYGP_CONSIZE] [varchar](250) NULL,
	[ARRAYGP_PRIMORDIAL] [varchar](250) NULL,
	[ARRAYGP_STATUS] [varchar](250) NULL,
	[ARRAYGP_HSTATE] [varchar](250) NULL,
 CONSTRAINT [HDSArrayGroup_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_DEVICE_ID] ASC,
	[ARRAYGP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1176650070]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1176650070] ON [dbo].[HDSArrayGroup]
(
	[RAID_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HDSArrayGroup]  WITH CHECK ADD  CONSTRAINT [HDSArrayGroup_FK1] FOREIGN KEY([RAID_DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HDSArrayGroup] CHECK CONSTRAINT [HDSArrayGroup_FK1]
GO
