USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SelectColumn]    Script Date: 6/29/2019 5:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelectColumn](
	[QUERYID] [bigint] NOT NULL,
	[COLUMNINDEX] [int] NOT NULL,
	[COLUMNALIAS] [varchar](50) NULL,
	[COLUMNNAME] [varchar](50) NULL,
	[TABLEALIAS] [varchar](50) NOT NULL,
 CONSTRAINT [TableCol_PK] PRIMARY KEY CLUSTERED 
(
	[QUERYID] ASC,
	[TABLEALIAS] ASC,
	[COLUMNINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_15729659]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_15729659] ON [dbo].[SelectColumn]
(
	[QUERYID] ASC,
	[TABLEALIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SelectColumn]  WITH CHECK ADD  CONSTRAINT [Table_FK1] FOREIGN KEY([QUERYID], [TABLEALIAS])
REFERENCES [dbo].[SelectTable] ([QUERYID], [TABLEALIAS])
GO
ALTER TABLE [dbo].[SelectColumn] CHECK CONSTRAINT [Table_FK1]
GO
