USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FKDefinition]    Script Date: 6/29/2019 5:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FKDefinition](
	[FK_CONSTRAINT_ID] [bigint] NOT NULL,
	[FK_REF_TABLE_ID] [bigint] NOT NULL,
	[FK_CONSTRAINT] [varchar](25) NOT NULL,
	[IS_BIDIRECTIONAL] [bit] NOT NULL,
	[FK_DESC] [varchar](250) NULL,
 CONSTRAINT [FKDefinition_PK1] PRIMARY KEY CLUSTERED 
(
	[FK_CONSTRAINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1944704186]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1944704186] ON [dbo].[FKDefinition]
(
	[FK_REF_TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1944704187]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1944704187] ON [dbo].[FKDefinition]
(
	[FK_CONSTRAINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FKDefinition] ADD  DEFAULT ('ON-DELETE-RESTRICT') FOR [FK_CONSTRAINT]
GO
ALTER TABLE [dbo].[FKDefinition] ADD  DEFAULT ((0)) FOR [IS_BIDIRECTIONAL]
GO
ALTER TABLE [dbo].[FKDefinition]  WITH CHECK ADD  CONSTRAINT [FKDefinition_FK1] FOREIGN KEY([FK_CONSTRAINT_ID])
REFERENCES [dbo].[ConstraintDefinition] ([CONSTRAINT_ID])
GO
ALTER TABLE [dbo].[FKDefinition] CHECK CONSTRAINT [FKDefinition_FK1]
GO
ALTER TABLE [dbo].[FKDefinition]  WITH CHECK ADD  CONSTRAINT [FKDefinition_FK2] FOREIGN KEY([FK_REF_TABLE_ID])
REFERENCES [dbo].[TableDetails] ([TABLE_ID])
GO
ALTER TABLE [dbo].[FKDefinition] CHECK CONSTRAINT [FKDefinition_FK2]
GO
