USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CustomQuery]    Script Date: 6/29/2019 5:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomQuery](
	[REPORT_ID] [bigint] NOT NULL,
	[TOOL_ID] [varchar](30) NOT NULL,
	[REPORT_NAME] [varchar](50) NOT NULL,
	[QUERY_DETAILS] [varchar](3000) NOT NULL,
	[STATUS] [int] NOT NULL,
	[EXPORT_LAYOUT] [varchar](100) NULL,
 CONSTRAINT [CustomQuery_PK] PRIMARY KEY CLUSTERED 
(
	[REPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomQuery] ADD  DEFAULT ('1') FOR [STATUS]
GO
