USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InventoryMOFields]    Script Date: 6/29/2019 5:48:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryMOFields](
	[ID] [bigint] NOT NULL,
	[REPORTID] [bigint] NOT NULL,
	[PROPID] [bigint] NOT NULL,
 CONSTRAINT [InventoryMOFields_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2087697412]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2087697412] ON [dbo].[InventoryMOFields]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2087697413]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2087697413] ON [dbo].[InventoryMOFields]
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2087697414]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2087697414] ON [dbo].[InventoryMOFields]
(
	[PROPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InventoryMOFields]  WITH CHECK ADD  CONSTRAINT [InventoryMOFields_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[InventoryFieldUID] ([ID])
GO
ALTER TABLE [dbo].[InventoryMOFields] CHECK CONSTRAINT [InventoryMOFields_FK1]
GO
ALTER TABLE [dbo].[InventoryMOFields]  WITH CHECK ADD  CONSTRAINT [InventoryMOFields_FK2] FOREIGN KEY([REPORTID])
REFERENCES [dbo].[ReportWidgetID] ([ID])
GO
ALTER TABLE [dbo].[InventoryMOFields] CHECK CONSTRAINT [InventoryMOFields_FK2]
GO
ALTER TABLE [dbo].[InventoryMOFields]  WITH CHECK ADD  CONSTRAINT [InventoryMOFields_FK3] FOREIGN KEY([PROPID])
REFERENCES [dbo].[MOPropsForReport] ([ID])
GO
ALTER TABLE [dbo].[InventoryMOFields] CHECK CONSTRAINT [InventoryMOFields_FK3]
GO
