USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCM_Configuration]    Script Date: 6/29/2019 5:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCM_Configuration](
	[CONFID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
	[CONFKEY] [varchar](200) NULL,
	[CONFVALUE] [varchar](300) NULL,
	[CONFMESSAGE] [varchar](300) NULL,
 CONSTRAINT [NCM_Configuration_PK] PRIMARY KEY CLUSTERED 
(
	[CONFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NCM_Configuration_UK0]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [NCM_Configuration_UK0] ON [dbo].[NCM_Configuration]
(
	[CONFKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
