USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STANDARDGRAPHDETAILS]    Script Date: 6/29/2019 5:51:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STANDARDGRAPHDETAILS](
	[STANDARDID] [bigint] NOT NULL,
	[GRAPHID] [bigint] NOT NULL,
 CONSTRAINT [STANDARDGRAPHDETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[STANDARDID] ASC,
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1717166273]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1717166273] ON [dbo].[STANDARDGRAPHDETAILS]
(
	[STANDARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1717166274]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1717166274] ON [dbo].[STANDARDGRAPHDETAILS]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STANDARDGRAPHDETAILS]  WITH CHECK ADD  CONSTRAINT [STANDARDGRAPHDETAILS_FK1] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[STANDARDGRAPHDETAILS] CHECK CONSTRAINT [STANDARDGRAPHDETAILS_FK1]
GO
ALTER TABLE [dbo].[STANDARDGRAPHDETAILS]  WITH CHECK ADD  CONSTRAINT [STANDARDGRAPHDETAILS_FK2] FOREIGN KEY([STANDARDID])
REFERENCES [dbo].[STANDARDDETAILS] ([STANDARDID])
GO
ALTER TABLE [dbo].[STANDARDGRAPHDETAILS] CHECK CONSTRAINT [STANDARDGRAPHDETAILS_FK2]
GO
