USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OBJECTSTOLINK]    Script Date: 6/29/2019 5:49:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJECTSTOLINK](
	[KEYSTRING] [varchar](250) NOT NULL,
	[VALUESTRING] [varchar](250) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [OBJECTSTOLINK0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [OBJECTSTOLINK0_ndx] ON [dbo].[OBJECTSTOLINK]
(
	[KEYSTRING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
