USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MsgContent]    Script Date: 6/29/2019 5:49:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsgContent](
	[MSG_CONTENT_ID] [bigint] NOT NULL,
	[MSG_GROUP_ID] [bigint] NOT NULL,
	[MSG_NAME] [varchar](150) NULL,
	[MSG_TITLE] [varchar](1000) NULL,
	[MSG_CONTENT] [varchar](2000) NULL,
	[MSG_HANDLER_CLASS] [varchar](250) NULL,
	[MSG_ORDER] [int] NOT NULL,
	[MSG_TYPE] [int] NOT NULL,
	[PRODUCT] [int] NOT NULL,
	[ENABLE_USER_CLOSE] [bit] NOT NULL,
	[MSG_STATUS] [bit] NOT NULL,
 CONSTRAINT [MsgContent_PK] PRIMARY KEY CLUSTERED 
(
	[MSG_CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1596931956]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1596931956] ON [dbo].[MsgContent]
(
	[MSG_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MsgContent_UK0]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [MsgContent_UK0] ON [dbo].[MsgContent]
(
	[MSG_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MsgContent] ADD  DEFAULT ('0') FOR [MSG_ORDER]
GO
ALTER TABLE [dbo].[MsgContent] ADD  DEFAULT ('2') FOR [MSG_TYPE]
GO
ALTER TABLE [dbo].[MsgContent] ADD  DEFAULT ((1)) FOR [ENABLE_USER_CLOSE]
GO
ALTER TABLE [dbo].[MsgContent] ADD  DEFAULT ((1)) FOR [MSG_STATUS]
GO
ALTER TABLE [dbo].[MsgContent]  WITH CHECK ADD  CONSTRAINT [MsgContent_FK] FOREIGN KEY([MSG_GROUP_ID])
REFERENCES [dbo].[MsgGroup] ([MSG_GROUP_ID])
GO
ALTER TABLE [dbo].[MsgContent] CHECK CONSTRAINT [MsgContent_FK]
GO
