USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MaintenanceStart]    Script Date: 6/29/2019 5:48:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceStart](
	[ELEMENTID] [bigint] NOT NULL,
	[STARTTIME] [bigint] NOT NULL,
 CONSTRAINT [MaintenanceStart_PK] PRIMARY KEY CLUSTERED 
(
	[ELEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__664071723]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__664071723] ON [dbo].[MaintenanceStart]
(
	[ELEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaintenanceStart]  WITH CHECK ADD  CONSTRAINT [MaintenanceStart_FK] FOREIGN KEY([ELEMENTID])
REFERENCES [dbo].[AvailabilityElementID] ([ELEMENTID])
GO
ALTER TABLE [dbo].[MaintenanceStart] CHECK CONSTRAINT [MaintenanceStart_FK]
GO
