USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MIB_DATA]    Script Date: 6/29/2019 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIB_DATA](
	[MIB_ID] [bigint] NOT NULL,
	[MIB_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [MIB_DATA_PK] PRIMARY KEY CLUSTERED 
(
	[MIB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
