USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Command]    Script Date: 6/29/2019 5:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Command](
	[OPERATION] [varchar](25) NOT NULL,
	[OSNAME] [varchar](25) NOT NULL,
	[COMMANDSTRING] [varchar](260) NOT NULL,
	[BOOLEANPARSERID] [bigint] NULL,
	[GROUPPARSERID] [bigint] NULL,
 CONSTRAINT [Command_PK] PRIMARY KEY CLUSTERED 
(
	[OPERATION] ASC,
	[OSNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Command_UK0]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Command_UK0] ON [dbo].[Command]
(
	[BOOLEANPARSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Command_UK1]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Command_UK1] ON [dbo].[Command]
(
	[GROUPPARSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_206907640]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_206907640] ON [dbo].[Command]
(
	[BOOLEANPARSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_206907641]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_206907641] ON [dbo].[Command]
(
	[GROUPPARSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Command]  WITH CHECK ADD  CONSTRAINT [Command_FK1] FOREIGN KEY([BOOLEANPARSERID])
REFERENCES [dbo].[BooleanParser] ([PARSERID])
GO
ALTER TABLE [dbo].[Command] CHECK CONSTRAINT [Command_FK1]
GO
ALTER TABLE [dbo].[Command]  WITH CHECK ADD  CONSTRAINT [Command_FK2] FOREIGN KEY([GROUPPARSERID])
REFERENCES [dbo].[GroupParser] ([PARSERID])
GO
ALTER TABLE [dbo].[Command] CHECK CONSTRAINT [Command_FK2]
GO
