USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningLUSE]    Script Date: 6/29/2019 5:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningLUSE](
	[DEVICE_ID] [bigint] NOT NULL,
	[LUSE_SLNO] [int] NOT NULL,
	[CU_NO] [int] NOT NULL,
	[LDEV_NO] [int] NOT NULL,
	[TRGT_DEVICE_CU] [int] NULL,
	[TRGT_DEVICE_LDEV] [int] NULL,
 CONSTRAINT [LightningLUSE_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[LUSE_SLNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1814165522]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1814165522] ON [dbo].[LightningLUSE]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningLUSE]  WITH CHECK ADD  CONSTRAINT [LightningLUSE_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningLUSE] CHECK CONSTRAINT [LightningLUSE_FK1]
GO
