USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InstanceDetails]    Script Date: 6/29/2019 5:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstanceDetails](
	[RESOURCENAME] [varchar](100) NOT NULL,
	[COMPONENTNAME] [varchar](50) NOT NULL,
	[VERSION] [varchar](17) NULL,
	[STARTUPTIME] [varchar](50) NULL,
	[CREATED] [varchar](50) NULL,
	[OPENMODE] [varchar](20) NULL,
	[LOGMODE] [varchar](50) NULL,
	[COLLECTIONTIME] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RESOURCENAME] ASC,
	[COMPONENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
