USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Pattern_To_Char_Expr]    Script Date: 6/29/2019 5:50:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pattern_To_Char_Expr](
	[PATTERN_EXPR_ID] [bigint] NOT NULL,
	[PARENT_EXPR_ID] [bigint] NOT NULL,
	[CASE_INSENSITIVE] [bit] NOT NULL,
	[PERMIT_COMMENTS] [bit] NOT NULL,
	[DOT_ALL] [bit] NOT NULL,
	[IS_MULTILINE] [bit] NOT NULL,
 CONSTRAINT [Pattern_Expr_Char_PK] PRIMARY KEY CLUSTERED 
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__617990113]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__617990113] ON [dbo].[Pattern_To_Char_Expr]
(
	[PARENT_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__617990114]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__617990114] ON [dbo].[Pattern_To_Char_Expr]
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pattern_To_Char_Expr] ADD  DEFAULT ((0)) FOR [CASE_INSENSITIVE]
GO
ALTER TABLE [dbo].[Pattern_To_Char_Expr] ADD  DEFAULT ((0)) FOR [PERMIT_COMMENTS]
GO
ALTER TABLE [dbo].[Pattern_To_Char_Expr] ADD  DEFAULT ((0)) FOR [DOT_ALL]
GO
ALTER TABLE [dbo].[Pattern_To_Char_Expr] ADD  DEFAULT ((0)) FOR [IS_MULTILINE]
GO
ALTER TABLE [dbo].[Pattern_To_Char_Expr]  WITH CHECK ADD  CONSTRAINT [Pattern_Expr_Char_FK1] FOREIGN KEY([PATTERN_EXPR_ID])
REFERENCES [dbo].[Pattern_Expressions] ([PATTERN_EXPR_ID])
GO
ALTER TABLE [dbo].[Pattern_To_Char_Expr] CHECK CONSTRAINT [Pattern_Expr_Char_FK1]
GO
ALTER TABLE [dbo].[Pattern_To_Char_Expr]  WITH CHECK ADD  CONSTRAINT [Pattern_Expr_Char_FK2] FOREIGN KEY([PARENT_EXPR_ID])
REFERENCES [dbo].[Parent_Class_Expr] ([PARENT_EXPR_ID])
GO
ALTER TABLE [dbo].[Pattern_To_Char_Expr] CHECK CONSTRAINT [Pattern_Expr_Char_FK2]
GO
