USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Network]    Script Date: 6/29/2019 5:49:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Network](
	[RESOURCEID] [bigint] NOT NULL,
	[NETWORKNAME] [varchar](250) NOT NULL,
	[DISCOVERYSTATE] [int] NOT NULL,
	[TOPOLOGYTYPE] [varchar](50) NULL,
	[NETWORKADDRESSID] [bigint] NOT NULL,
 CONSTRAINT [Network_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Network_UK0] UNIQUE NONCLUSTERED 
(
	[NETWORKNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__272467364]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__272467364] ON [dbo].[Network]
(
	[NETWORKADDRESSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__272467365]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__272467365] ON [dbo].[Network]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Network]  WITH CHECK ADD  CONSTRAINT [Network_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMDevices] ([RESOURCEID])
GO
ALTER TABLE [dbo].[Network] CHECK CONSTRAINT [Network_FK1]
GO
ALTER TABLE [dbo].[Network]  WITH CHECK ADD  CONSTRAINT [Network_FK2] FOREIGN KEY([NETWORKADDRESSID])
REFERENCES [dbo].[Address] ([ADDRESSID])
GO
ALTER TABLE [dbo].[Network] CHECK CONSTRAINT [Network_FK2]
GO
