USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SNMPV3CREDENTIALDETAILS]    Script Date: 6/29/2019 5:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SNMPV3CREDENTIALDETAILS](
	[CREDENTIALID] [bigint] NOT NULL,
	[USERNAME] [varchar](250) NOT NULL,
	[CONTEXTNAME] [varchar](250) NOT NULL,
	[PORT] [int] NOT NULL,
	[AUTHPROTOCOL] [varchar](50) NULL,
	[AUTHPASSWORD] [varbinary](max) NULL,
	[PRIVPROTOCOL] [varchar](50) NULL,
	[PRIVPASSWORD] [varbinary](max) NULL,
	[SECURITYLEVEL] [int] NOT NULL,
	[TIMEOUT] [int] NOT NULL,
	[RETRIES] [int] NOT NULL,
 CONSTRAINT [SNMPV3CREDENTIALDETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__865331084]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__865331084] ON [dbo].[SNMPV3CREDENTIALDETAILS]
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SNMPV3CREDENTIALDETAILS] ADD  DEFAULT ('161') FOR [PORT]
GO
ALTER TABLE [dbo].[SNMPV3CREDENTIALDETAILS] ADD  DEFAULT ('5') FOR [TIMEOUT]
GO
ALTER TABLE [dbo].[SNMPV3CREDENTIALDETAILS] ADD  DEFAULT ('0') FOR [RETRIES]
GO
ALTER TABLE [dbo].[SNMPV3CREDENTIALDETAILS]  WITH CHECK ADD  CONSTRAINT [SNMPV3CREDENTIALDETAILS_FK] FOREIGN KEY([CREDENTIALID])
REFERENCES [dbo].[CredentialManager] ([CREDENTIALID])
GO
ALTER TABLE [dbo].[SNMPV3CREDENTIALDETAILS] CHECK CONSTRAINT [SNMPV3CREDENTIALDETAILS_FK]
GO
