USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LeaServers]    Script Date: 6/29/2019 5:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaServers](
	[LEA_ID] [bigint] NOT NULL,
	[DSERVER_ID] [bigint] NOT NULL,
	[FIREWALL_IP] [nvarchar](16) NOT NULL,
	[FIREWALL_NAME] [nvarchar](100) NOT NULL,
	[LEA_PORT] [bigint] NOT NULL,
	[RECEIVER_IP] [nvarchar](16) NOT NULL,
	[RECEIVER_PORT] [bigint] NOT NULL,
	[AUTH_LOGIN] [bit] NOT NULL,
	[USERNAME] [nvarchar](100) NULL,
	[PASSWORD] [nvarchar](100) NULL,
 CONSTRAINT [LeaServers_PK] PRIMARY KEY CLUSTERED 
(
	[LEA_ID] ASC,
	[DSERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1286491612]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1286491612] ON [dbo].[LeaServers]
(
	[DSERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LeaServers] ADD  DEFAULT ((0)) FOR [AUTH_LOGIN]
GO
ALTER TABLE [dbo].[LeaServers]  WITH CHECK ADD  CONSTRAINT [LeaServers_FK] FOREIGN KEY([DSERVER_ID])
REFERENCES [dbo].[DServers] ([DSERVER_ID])
GO
ALTER TABLE [dbo].[LeaServers] CHECK CONSTRAINT [LeaServers_FK]
GO
