USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProvisioningVariant]    Script Date: 6/29/2019 5:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProvisioningVariant](
	[DESCRIPTION] [varchar](50) NULL,
	[VARIANTID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VARIANTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ProvisioningVariant0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [ProvisioningVariant0_ndx] ON [dbo].[ProvisioningVariant]
(
	[VARIANTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
