USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TrapType]    Script Date: 6/29/2019 5:52:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrapType](
	[TRAP_ID] [int] NOT NULL,
	[TRAPTYPE] [varchar](50) NOT NULL,
 CONSTRAINT [TrapType_PK] PRIMARY KEY CLUSTERED 
(
	[TRAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
