USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SchIPNetwork]    Script Date: 6/29/2019 5:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchIPNetwork](
	[ID_NET] [int] NOT NULL,
	[SCHEDULE_ID] [bigint] NOT NULL,
	[NETWORK_ADDR_ID] [varchar](255) NOT NULL,
	[NETMASK_ADDR_ID] [varchar](255) NOT NULL,
	[TYPE_PARAM] [int] NOT NULL,
 CONSTRAINT [SchIPNetwork_PK] PRIMARY KEY CLUSTERED 
(
	[ID_NET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1939057909]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1939057909] ON [dbo].[SchIPNetwork]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SchIPNetwork]  WITH CHECK ADD  CONSTRAINT [SchIPNetwork_FK] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[ScheduleDetails] ([ID])
GO
ALTER TABLE [dbo].[SchIPNetwork] CHECK CONSTRAINT [SchIPNetwork_FK]
GO
