USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BenchMarkParameters]    Script Date: 6/29/2019 5:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenchMarkParameters](
	[PARAM_ID] [int] NOT NULL,
	[PARAMNAME] [varchar](20) NOT NULL,
	[PARAMQUERY] [varchar](4000) NULL,
	[SQLPARAMQUERY] [varchar](4000) NULL,
 CONSTRAINT [BenchMarkParameters_PK] PRIMARY KEY CLUSTERED 
(
	[PARAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
