USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Filters]    Script Date: 6/29/2019 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filters](
	[FILTERNAME] [nvarchar](200) NOT NULL,
 CONSTRAINT [FWAFilter_PK] PRIMARY KEY CLUSTERED 
(
	[FILTERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
