USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCustomColumnDetails]    Script Date: 6/29/2019 5:49:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCustomColumnDetails](
	[COLUMNCOUNTER] [bigint] NOT NULL,
	[COLUMNNAME1] [varchar](250) NOT NULL,
	[COLUMNVALUE1] [varchar](250) NOT NULL,
	[COLUMNNAME2] [varchar](250) NOT NULL,
	[COLUMNVALUE2] [varchar](250) NOT NULL,
	[COLUMNNAME3] [varchar](250) NOT NULL,
	[COLUMNVALUE3] [varchar](250) NOT NULL,
 CONSTRAINT [NCMCustomColumnDetails_PK] PRIMARY KEY CLUSTERED 
(
	[COLUMNCOUNTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCustomColumnDetails] ADD  DEFAULT ('[NA]') FOR [COLUMNNAME1]
GO
ALTER TABLE [dbo].[NCMCustomColumnDetails] ADD  DEFAULT ('[NA]') FOR [COLUMNVALUE1]
GO
ALTER TABLE [dbo].[NCMCustomColumnDetails] ADD  DEFAULT ('[NA]') FOR [COLUMNNAME2]
GO
ALTER TABLE [dbo].[NCMCustomColumnDetails] ADD  DEFAULT ('[NA]') FOR [COLUMNVALUE2]
GO
ALTER TABLE [dbo].[NCMCustomColumnDetails] ADD  DEFAULT ('[NA]') FOR [COLUMNNAME3]
GO
ALTER TABLE [dbo].[NCMCustomColumnDetails] ADD  DEFAULT ('[NA]') FOR [COLUMNVALUE3]
GO
