USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StatusUpdateCriteria]    Script Date: 6/29/2019 5:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusUpdateCriteria](
	[PERSONALITYNAME] [varchar](100) NOT NULL,
	[SUCNAME] [varchar](200) NOT NULL,
	[SUCCLASSNAME] [varchar](250) NOT NULL,
 CONSTRAINT [SUC_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [StatusUpdateCriteria_UK0] UNIQUE NONCLUSTERED 
(
	[SUCNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
