USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMailProfile]    Script Date: 6/29/2019 5:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMailProfile](
	[PROFILEID] [bigint] NOT NULL,
	[TOADDRESS] [varchar](500) NULL,
	[FROMADDRESS] [varchar](250) NULL,
	[SUBJECT] [varchar](4000) NOT NULL,
	[MESSAGE] [varchar](4000) NULL,
	[MAILFORMAT] [varchar](50) NULL,
	[CCADDRESS] [varchar](500) NULL,
 CONSTRAINT [EMailProfile_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__384955590]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__384955590] ON [dbo].[EMailProfile]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMailProfile]  WITH CHECK ADD  CONSTRAINT [EMailProfile_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[EMailProfile] CHECK CONSTRAINT [EMailProfile_FK1]
GO
