USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EVENTLOGGER]    Script Date: 6/29/2019 5:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTLOGGER](
	[VALUESTRING] [bigint] NOT NULL,
	[POSITION] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [EVENTLOGGER0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [EVENTLOGGER0_ndx] ON [dbo].[EVENTLOGGER]
(
	[POSITION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
