USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RunProgramProfile]    Script Date: 6/29/2019 5:51:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunProgramProfile](
	[PROFILEID] [bigint] NOT NULL,
	[COMMAND] [varchar](250) NULL,
	[ARGS] [varchar](1000) NULL,
	[APPEND] [varchar](10) NULL,
	[ERRAPPEND] [varchar](10) NULL,
	[TIMEOUT] [int] NULL,
 CONSTRAINT [RunProgramProfile_PK1] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1023423773]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1023423773] ON [dbo].[RunProgramProfile]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RunProgramProfile]  WITH CHECK ADD  CONSTRAINT [RunProgramProfile_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[RunProgramProfile] CHECK CONSTRAINT [RunProgramProfile_FK1]
GO
