USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FtpSettings]    Script Date: 6/29/2019 5:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FtpSettings](
	[FTPID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
	[HOSTNAME] [nvarchar](200) NOT NULL,
	[USE_ANONYMOUS] [nvarchar](200) NULL,
	[USERNAME] [nvarchar](200) NULL,
	[PASSWORD] [nvarchar](200) NULL,
 CONSTRAINT [FtpSettings_PK] PRIMARY KEY CLUSTERED 
(
	[FTPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1880412225]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1880412225] ON [dbo].[FtpSettings]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FtpSettings]  WITH CHECK ADD  CONSTRAINT [FtpSettings_FK] FOREIGN KEY([USERID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[FtpSettings] CHECK CONSTRAINT [FtpSettings_FK]
GO
