USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TypeRecordComponent]    Script Date: 6/29/2019 5:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeRecordComponent](
	[TYPERECORDNAME] [varchar](250) NOT NULL,
	[COMPONENTNAME] [varchar](250) NOT NULL,
 CONSTRAINT [TRComp_PK] PRIMARY KEY CLUSTERED 
(
	[TYPERECORDNAME] ASC,
	[COMPONENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__2044862597]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2044862597] ON [dbo].[TypeRecordComponent]
(
	[COMPONENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__2044862598]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2044862598] ON [dbo].[TypeRecordComponent]
(
	[TYPERECORDNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TypeRecordComponent]  WITH CHECK ADD  CONSTRAINT [TRComp_FK1] FOREIGN KEY([TYPERECORDNAME])
REFERENCES [dbo].[TypeRecordConfiguration] ([TYPERECORDNAME])
GO
ALTER TABLE [dbo].[TypeRecordComponent] CHECK CONSTRAINT [TRComp_FK1]
GO
ALTER TABLE [dbo].[TypeRecordComponent]  WITH CHECK ADD  CONSTRAINT [TRComp_FK2] FOREIGN KEY([COMPONENTNAME])
REFERENCES [dbo].[NetworkComponentConfiguration] ([NETWORKCOMPONENTNAME])
GO
ALTER TABLE [dbo].[TypeRecordComponent] CHECK CONSTRAINT [TRComp_FK2]
GO
