USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IntfConfigurations]    Script Date: 6/29/2019 5:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntfConfigurations](
	[ID] [bigint] NOT NULL,
	[INTFPROP] [varchar](50) NOT NULL,
	[VALUE] [varchar](100) NOT NULL,
 CONSTRAINT [IntfConfigurations_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IntfConfigurations_UK0] UNIQUE NONCLUSTERED 
(
	[INTFPROP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
