USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RBTaskAssocProcessDetails]    Script Date: 6/29/2019 5:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RBTaskAssocProcessDetails](
	[ASSOCID] [bigint] NOT NULL,
	[PROCESSNAME] [varchar](100) NOT NULL,
	[EXECUTABLEPATH] [varchar](250) NOT NULL,
	[ARGUMENTS] [text] NOT NULL,
	[MATCHPATH] [bit] NOT NULL,
	[MATCHARGS] [bit] NOT NULL,
 CONSTRAINT [RBTaskAssocProcessDetails_PK1] PRIMARY KEY CLUSTERED 
(
	[ASSOCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__151148544]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__151148544] ON [dbo].[RBTaskAssocProcessDetails]
(
	[ASSOCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RBTaskAssocProcessDetails]  WITH CHECK ADD  CONSTRAINT [RBTaskAssocProcessDetails_FK1] FOREIGN KEY([ASSOCID])
REFERENCES [dbo].[RunBookTaskAssociation] ([ASSOCID])
GO
ALTER TABLE [dbo].[RBTaskAssocProcessDetails] CHECK CONSTRAINT [RBTaskAssocProcessDetails_FK1]
GO
