USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportTaskInput]    Script Date: 6/29/2019 5:50:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportTaskInput](
	[REPORTID] [bigint] NOT NULL,
	[INSTANCE_ID] [bigint] NOT NULL,
	[SCHEDULETYPE] [varchar](50) NULL,
 CONSTRAINT [TestTaskInput_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_877304448]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_877304448] ON [dbo].[ReportTaskInput]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_877304449]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_877304449] ON [dbo].[ReportTaskInput]
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportTaskInput]  WITH CHECK ADD  CONSTRAINT [TestTaskInput_FK1] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[Task_Input] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[ReportTaskInput] CHECK CONSTRAINT [TestTaskInput_FK1]
GO
ALTER TABLE [dbo].[ReportTaskInput]  WITH CHECK ADD  CONSTRAINT [TestTaskInput_FK2] FOREIGN KEY([REPORTID])
REFERENCES [dbo].[ReportConfig] ([REPORTID])
GO
ALTER TABLE [dbo].[ReportTaskInput] CHECK CONSTRAINT [TestTaskInput_FK2]
GO
