USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AlertIPCriteria]    Script Date: 6/29/2019 5:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertIPCriteria](
	[ID] [int] NOT NULL,
	[PROFILE_ID] [int] NOT NULL,
	[IP_TYPE] [int] NOT NULL,
	[START_IP] [varchar](255) NOT NULL,
	[END_IP] [varchar](255) NOT NULL,
	[IP_MASK] [varchar](255) NOT NULL,
 CONSTRAINT [AlertIPCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_5363266]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_5363266] ON [dbo].[AlertIPCriteria]
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertIPCriteria]  WITH CHECK ADD  CONSTRAINT [AlertIPCriteria_FK] FOREIGN KEY([PROFILE_ID])
REFERENCES [dbo].[AlertProfile] ([PROFILE_ID])
GO
ALTER TABLE [dbo].[AlertIPCriteria] CHECK CONSTRAINT [AlertIPCriteria_FK]
GO
