USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NortelSwitchModule]    Script Date: 6/29/2019 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NortelSwitchModule](
	[RESOURCEID] [bigint] NOT NULL,
	[PCBA_PART_NO] [varchar](15) NOT NULL,
	[FAB_NO] [varchar](15) NOT NULL,
	[HARDWARE_REVISION] [varchar](15) NOT NULL,
	[BOARD_REVISION] [varchar](15) NOT NULL,
 CONSTRAINT [NortelSwitchModule_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1211947529]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1211947529] ON [dbo].[NortelSwitchModule]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NortelSwitchModule] ADD  DEFAULT ('Not Available') FOR [PCBA_PART_NO]
GO
ALTER TABLE [dbo].[NortelSwitchModule] ADD  DEFAULT ('Not Available') FOR [FAB_NO]
GO
ALTER TABLE [dbo].[NortelSwitchModule] ADD  DEFAULT ('Not Available') FOR [HARDWARE_REVISION]
GO
ALTER TABLE [dbo].[NortelSwitchModule] ADD  DEFAULT ('Not Available') FOR [BOARD_REVISION]
GO
ALTER TABLE [dbo].[NortelSwitchModule]  WITH CHECK ADD  CONSTRAINT [NortelSwitchModule_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NortelSwitchModule] CHECK CONSTRAINT [NortelSwitchModule_FK1]
GO
