USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMIS_Raid]    Script Date: 6/29/2019 5:51:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMIS_Raid](
	[DEVICE_ID] [bigint] NOT NULL,
	[NO_OF_CONTROLLERS] [int] NULL,
	[NO_OF_PORTS] [int] NULL,
	[NO_OF_STORAGE_POOL] [int] NULL,
	[NO_OF_STORAGE_VOLUME] [int] NULL,
 CONSTRAINT [SMIS_Raid_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1569508050]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1569508050] ON [dbo].[SMIS_Raid]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMIS_Raid]  WITH CHECK ADD  CONSTRAINT [SMIS_Raid_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SMIS_Raid] CHECK CONSTRAINT [SMIS_Raid_FK1]
GO
