USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoWLANController]    Script Date: 6/29/2019 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoWLANController](
	[RESOURCEID] [bigint] NOT NULL,
	[BUILD_TYPE] [varchar](15) NOT NULL,
	[PID] [varchar](150) NOT NULL,
 CONSTRAINT [CiscoWLANController_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1627066140]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1627066140] ON [dbo].[CiscoWLANController]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoWLANController] ADD  DEFAULT ('Not Available') FOR [BUILD_TYPE]
GO
ALTER TABLE [dbo].[CiscoWLANController] ADD  DEFAULT ('Not Available') FOR [PID]
GO
ALTER TABLE [dbo].[CiscoWLANController]  WITH CHECK ADD  CONSTRAINT [CiscoWLANController_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CiscoWLANController] CHECK CONSTRAINT [CiscoWLANController_FK1]
GO
