USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarPilotControlUnit]    Script Date: 6/29/2019 5:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarPilotControlUnit](
	[PILLAR_ID] [bigint] NOT NULL,
	[PILOT_INSTANCE] [int] NOT NULL,
	[CU_INSTANCE] [int] NOT NULL,
	[PILOT_ID] [varchar](250) NULL,
	[ENCLOSURE_ASSEMBLY_NUMBER] [varchar](250) NULL,
	[ENCLOSURE_DESCRIPTION] [varchar](250) NULL,
	[ENCLOSURE_SERIAL_NUMBER] [varchar](250) NULL,
	[FRU_ASSEMBLY_NUMBER] [varchar](250) NULL,
	[FRU_DESCRIPTION] [varchar](250) NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[OS_VERSION] [varchar](250) NULL,
	[PACMAN_VERSION] [varchar](250) NULL,
 CONSTRAINT [PillarPilotControlUnit_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC,
	[SERIAL_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1663535503]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1663535503] ON [dbo].[PillarPilotControlUnit]
(
	[PILLAR_ID] ASC,
	[PILOT_INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarPilotControlUnit]  WITH CHECK ADD  CONSTRAINT [PillarPilotControlUnit_FK] FOREIGN KEY([PILLAR_ID], [PILOT_INSTANCE])
REFERENCES [dbo].[PillarPilot] ([PILLAR_ID], [PILOT_INSTANCE])
GO
ALTER TABLE [dbo].[PillarPilotControlUnit] CHECK CONSTRAINT [PillarPilotControlUnit_FK]
GO
