USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic500LibraryTapeDrive]    Script Date: 6/29/2019 5:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic500LibraryTapeDrive](
	[DEVICE_ID] [bigint] NOT NULL,
	[PARTITION_NAME] [varchar](250) NOT NULL,
	[SERIAL_NO] [varchar](250) NOT NULL,
	[STATE] [varchar](250) NOT NULL,
	[DRIVE_CLEAN] [varchar](250) NOT NULL,
	[SCSI_LUN] [int] NOT NULL,
	[SCSI_ID] [int] NOT NULL,
	[TOTAL_CATRIDGES] [int] NOT NULL,
 CONSTRAINT [Adic500LibraryTapeDrive_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1561604319]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1561604319] ON [dbo].[Adic500LibraryTapeDrive]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic500LibraryTapeDrive]  WITH CHECK ADD  CONSTRAINT [Adic500LibraryTapeDrive_FK] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic500LibraryTapeDrive] CHECK CONSTRAINT [Adic500LibraryTapeDrive_FK]
GO
