USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OnHoldStart]    Script Date: 6/29/2019 5:49:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnHoldStart](
	[ELEMENTID] [bigint] NOT NULL,
	[STARTTIME] [bigint] NOT NULL,
 CONSTRAINT [OnHoldStart_PK] PRIMARY KEY CLUSTERED 
(
	[ELEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_887895872]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_887895872] ON [dbo].[OnHoldStart]
(
	[ELEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OnHoldStart]  WITH CHECK ADD  CONSTRAINT [OnHoldStart_FK] FOREIGN KEY([ELEMENTID])
REFERENCES [dbo].[AvailabilityElementID] ([ELEMENTID])
GO
ALTER TABLE [dbo].[OnHoldStart] CHECK CONSTRAINT [OnHoldStart_FK]
GO
