USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ADVAFSP]    Script Date: 6/29/2019 5:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADVAFSP](
	[RESOURCEID] [bigint] NOT NULL,
	[RELEASE_VER] [varchar](100) NOT NULL,
 CONSTRAINT [ADVAFSP_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__370727646]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__370727646] ON [dbo].[ADVAFSP]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADVAFSP] ADD  DEFAULT ('Not Available') FOR [RELEASE_VER]
GO
ALTER TABLE [dbo].[ADVAFSP]  WITH CHECK ADD  CONSTRAINT [ADVAFSP_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ADVAFSP] CHECK CONSTRAINT [ADVAFSP_FK1]
GO
