USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningACP]    Script Date: 6/29/2019 5:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningACP](
	[DEVICE_ID] [bigint] NOT NULL,
	[DKP_SLNO] [int] NOT NULL,
	[DKP_CLUSTER_NO] [int] NOT NULL,
	[DKA_NO] [int] NOT NULL,
	[DKP_NO] [int] NOT NULL,
	[DKP_NAME] [varchar](250) NULL,
 CONSTRAINT [LightningACP_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DKP_SLNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1492881711]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1492881711] ON [dbo].[LightningACP]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningACP]  WITH CHECK ADD  CONSTRAINT [LightningACP_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningACP] CHECK CONSTRAINT [LightningACP_FK1]
GO
