USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Boolean_Reg_Expr]    Script Date: 6/29/2019 5:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boolean_Reg_Expr](
	[BOOLEAN_EXPRESSION_ID] [bigint] NOT NULL,
	[PATTERN_EXPR_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[CHAR_SEQUENCE_ID] [bigint] NOT NULL,
	[FIND_INDEX] [int] NOT NULL,
 CONSTRAINT [Boolean_Reg_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__681459419]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__681459419] ON [dbo].[Boolean_Reg_Expr]
(
	[CHAR_SEQUENCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__681459420]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__681459420] ON [dbo].[Boolean_Reg_Expr]
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_532206765]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_532206765] ON [dbo].[Boolean_Reg_Expr]
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Boolean_Reg_Expr] ADD  DEFAULT ('0') FOR [FIND_INDEX]
GO
ALTER TABLE [dbo].[Boolean_Reg_Expr]  WITH CHECK ADD  CONSTRAINT [Boolean_Reg_Expr_FK] FOREIGN KEY([BOOLEAN_EXPRESSION_ID])
REFERENCES [dbo].[Boolean_Expressions] ([BOOLEAN_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Boolean_Reg_Expr] CHECK CONSTRAINT [Boolean_Reg_Expr_FK]
GO
ALTER TABLE [dbo].[Boolean_Reg_Expr]  WITH CHECK ADD  CONSTRAINT [Boolean_Reg_Expr_FK1] FOREIGN KEY([PATTERN_EXPR_ID])
REFERENCES [dbo].[Pattern_Expressions] ([PATTERN_EXPR_ID])
GO
ALTER TABLE [dbo].[Boolean_Reg_Expr] CHECK CONSTRAINT [Boolean_Reg_Expr_FK1]
GO
ALTER TABLE [dbo].[Boolean_Reg_Expr]  WITH CHECK ADD  CONSTRAINT [Boolean_Reg_Expr_FK2] FOREIGN KEY([CHAR_SEQUENCE_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Boolean_Reg_Expr] CHECK CONSTRAINT [Boolean_Reg_Expr_FK2]
GO
