USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Array_List]    Script Date: 6/29/2019 5:46:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Array_List](
	[LIST_ID] [bigint] NOT NULL,
	[LIST_NAME] [varchar](250) NOT NULL,
 CONSTRAINT [Array_List_PK] PRIMARY KEY CLUSTERED 
(
	[LIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
