USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEFANINFO]    Script Date: 6/29/2019 5:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEFANINFO](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[CONTROLLER_ID] [bigint] NOT NULL,
	[FAN_NAME] [varchar](250) NOT NULL,
	[LOCATION] [varchar](250) NULL,
	[STATUS] [varchar](250) NULL,
	[SPEED] [varchar](250) NULL,
	[ADDITIONAL_DATA] [text] NULL,
 CONSTRAINT [STORAGEFANINFO_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[FAN_NAME] ASC,
	[CONTROLLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEFANINFO_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_1295662003]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1295662003] ON [dbo].[STORAGEFANINFO]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEFANINFO]  WITH CHECK ADD  CONSTRAINT [STORAGEFANINFO_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGEFANINFO] CHECK CONSTRAINT [STORAGEFANINFO_FK1]
GO
