USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Num_Expr_Opr_Decimal]    Script Date: 6/29/2019 5:49:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Num_Expr_Opr_Decimal](
	[NUMERIC_EXPRESSION_ID] [bigint] NOT NULL,
	[LEFT_EXPRESSION_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[CONSTANT] [float] NOT NULL,
 CONSTRAINT [Num_Expr_Opr_Decimal_PK] PRIMARY KEY CLUSTERED 
(
	[NUMERIC_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__860424174]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__860424174] ON [dbo].[Num_Expr_Opr_Decimal]
(
	[NUMERIC_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__903345569]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__903345569] ON [dbo].[Num_Expr_Opr_Decimal]
(
	[LEFT_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Num_Expr_Opr_Decimal] ADD  DEFAULT ('0.0') FOR [CONSTANT]
GO
ALTER TABLE [dbo].[Num_Expr_Opr_Decimal]  WITH CHECK ADD  CONSTRAINT [Num_Expr_Opr_Decimal_FK] FOREIGN KEY([NUMERIC_EXPRESSION_ID])
REFERENCES [dbo].[Numeric_Expressions] ([NUMERIC_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Num_Expr_Opr_Decimal] CHECK CONSTRAINT [Num_Expr_Opr_Decimal_FK]
GO
ALTER TABLE [dbo].[Num_Expr_Opr_Decimal]  WITH CHECK ADD  CONSTRAINT [Num_Expr_Opr_Decimal_FK1] FOREIGN KEY([LEFT_EXPRESSION_ID])
REFERENCES [dbo].[Numeric_Expressions] ([NUMERIC_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Num_Expr_Opr_Decimal] CHECK CONSTRAINT [Num_Expr_Opr_Decimal_FK1]
GO
