USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetFlow_SSID]    Script Date: 6/29/2019 5:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetFlow_SSID](
	[SSID_ID] [int] NOT NULL,
	[WIRELESS_SSID] [varchar](50) NOT NULL,
 CONSTRAINT [NetFlow_SSID_PK] PRIMARY KEY CLUSTERED 
(
	[SSID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1737734123]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1737734123] ON [dbo].[NetFlow_SSID]
(
	[SSID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetFlow_SSID]  WITH CHECK ADD  CONSTRAINT [NetFlow_SSID_FK] FOREIGN KEY([SSID_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[NetFlow_SSID] CHECK CONSTRAINT [NetFlow_SSID_FK]
GO
