USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DLinkDESSwitch]    Script Date: 6/29/2019 5:47:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DLinkDESSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[FIRMWARE_VER] [varchar](150) NOT NULL,
 CONSTRAINT [DLinkDESSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__940228491]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__940228491] ON [dbo].[DLinkDESSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DLinkDESSwitch] ADD  DEFAULT ('Not Available') FOR [FIRMWARE_VER]
GO
ALTER TABLE [dbo].[DLinkDESSwitch]  WITH CHECK ADD  CONSTRAINT [DLinkDESSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[DLinkDESSwitch] CHECK CONSTRAINT [DLinkDESSwitch_FK1]
GO
