USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMChangeTypeConditions]    Script Date: 6/29/2019 5:49:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMChangeTypeConditions](
	[CHANGE_TYPE_ID] [int] NOT NULL,
	[CONDITION_NAME] [varchar](100) NOT NULL,
	[DISPLAY_NAME] [varchar](50) NOT NULL,
	[DISPLAY_ORDER] [int] NOT NULL,
 CONSTRAINT [NCMChangeTypeConditions_PK] PRIMARY KEY CLUSTERED 
(
	[CHANGE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMChangeTypeConditions] ADD  DEFAULT ('1') FOR [CHANGE_TYPE_ID]
GO
