USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ThreeComSwitch5500]    Script Date: 6/29/2019 5:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThreeComSwitch5500](
	[RESOURCEID] [bigint] NOT NULL,
	[HARDWAREVERSION] [varchar](20) NOT NULL,
	[BOOTVERSION] [varchar](15) NOT NULL,
	[FLASH_SIZE] [varchar](15) NOT NULL,
 CONSTRAINT [ThreeComSwitch5500_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2122425636]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2122425636] ON [dbo].[ThreeComSwitch5500]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ThreeComSwitch5500] ADD  DEFAULT ('Not Available') FOR [HARDWAREVERSION]
GO
ALTER TABLE [dbo].[ThreeComSwitch5500] ADD  DEFAULT ('Not Available') FOR [BOOTVERSION]
GO
ALTER TABLE [dbo].[ThreeComSwitch5500] ADD  DEFAULT ('Not Available') FOR [FLASH_SIZE]
GO
ALTER TABLE [dbo].[ThreeComSwitch5500]  WITH CHECK ADD  CONSTRAINT [ThreeComSwitch5500_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ThreeComSwitch5500] CHECK CONSTRAINT [ThreeComSwitch5500_FK1]
GO
