USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ConfFileToModule]    Script Date: 6/29/2019 5:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfFileToModule](
	[FILEID] [bigint] NOT NULL,
	[MODULE_ID] [bigint] NULL,
 CONSTRAINT [ConfFileToModule_PK] PRIMARY KEY CLUSTERED 
(
	[FILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1423348843]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1423348843] ON [dbo].[ConfFileToModule]
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1423348844]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1423348844] ON [dbo].[ConfFileToModule]
(
	[FILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConfFileToModule]  WITH CHECK ADD  CONSTRAINT [ConfFileToModule_FK1] FOREIGN KEY([FILEID])
REFERENCES [dbo].[ConfFile] ([FILEID])
GO
ALTER TABLE [dbo].[ConfFileToModule] CHECK CONSTRAINT [ConfFileToModule_FK1]
GO
ALTER TABLE [dbo].[ConfFileToModule]  WITH CHECK ADD  CONSTRAINT [ConfFileToModule_FK2] FOREIGN KEY([MODULE_ID])
REFERENCES [dbo].[Module] ([MODULE_ID])
GO
ALTER TABLE [dbo].[ConfFileToModule] CHECK CONSTRAINT [ConfFileToModule_FK2]
GO
