USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Providers]    Script Date: 6/29/2019 5:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providers](
	[PROVIDERNAME] [varchar](25) NOT NULL,
	[VALUE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROVIDERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
