USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPMToSPMMapping]    Script Date: 6/29/2019 5:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPMToSPMMapping](
	[MOID] [bigint] NOT NULL,
	[CONFIGID] [bigint] NOT NULL,
 CONSTRAINT [OPMToSPMMapping_PK1] PRIMARY KEY CLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1402505042]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1402505042] ON [dbo].[OPMToSPMMapping]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1402505043]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1402505043] ON [dbo].[OPMToSPMMapping]
(
	[CONFIGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPMToSPMMapping]  WITH CHECK ADD  CONSTRAINT [OPMToSPMMapping_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[OPMToSPMMapping] CHECK CONSTRAINT [OPMToSPMMapping_FK1]
GO
ALTER TABLE [dbo].[OPMToSPMMapping]  WITH CHECK ADD  CONSTRAINT [OPMToSPMMapping_FK2] FOREIGN KEY([CONFIGID])
REFERENCES [dbo].[SPMInputConfig] ([CONFIG_ID])
GO
ALTER TABLE [dbo].[OPMToSPMMapping] CHECK CONSTRAINT [OPMToSPMMapping_FK2]
GO
