USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoSwitchPort]    Script Date: 6/29/2019 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoSwitchPort](
	[PORT_ID] [bigint] NOT NULL,
	[ADMIN_STATUS] [varchar](250) NOT NULL,
	[VSAN_INDEX] [int] NOT NULL,
 CONSTRAINT [CISCOSWITCHPORT_PK] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_518309019]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_518309019] ON [dbo].[CiscoSwitchPort]
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoSwitchPort]  WITH CHECK ADD  CONSTRAINT [CISCOSWITCHPORT_FK1] FOREIGN KEY([PORT_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[CiscoSwitchPort] CHECK CONSTRAINT [CISCOSWITCHPORT_FK1]
GO
