USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CTInputConfig]    Script Date: 6/29/2019 5:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTInputConfig](
	[CONFIG_ID] [bigint] NOT NULL,
	[TOOL_ID] [varchar](50) NOT NULL,
	[IPADDRESS] [varchar](150) NOT NULL,
	[DNSNAME] [varchar](150) NULL,
	[COMMUNITY] [varchar](50) NOT NULL,
	[SCHEDULER_STATUS] [int] NOT NULL,
 CONSTRAINT [CTInputConfig_PK] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__860114679]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__860114679] ON [dbo].[CTInputConfig]
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTInputConfig] ADD  DEFAULT ('1') FOR [SCHEDULER_STATUS]
GO
ALTER TABLE [dbo].[CTInputConfig]  WITH CHECK ADD  CONSTRAINT [CTInputConfig_FK] FOREIGN KEY([TOOL_ID])
REFERENCES [dbo].[Tool] ([TOOL_ID])
GO
ALTER TABLE [dbo].[CTInputConfig] CHECK CONSTRAINT [CTInputConfig_FK]
GO
