USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WorkFlow_Type]    Script Date: 6/29/2019 5:53:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkFlow_Type](
	[WORKFLOW_TEMPLATE_ID] [bigint] NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
 CONSTRAINT [WorkFlow_Type_PK] PRIMARY KEY CLUSTERED 
(
	[WORKFLOW_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_409540071]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_409540071] ON [dbo].[WorkFlow_Type]
(
	[WORKFLOW_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WorkFlow_Type] ADD  DEFAULT ('false') FOR [TYPE]
GO
ALTER TABLE [dbo].[WorkFlow_Type]  WITH CHECK ADD  CONSTRAINT [WorkFlow_Type_FK1] FOREIGN KEY([WORKFLOW_TEMPLATE_ID])
REFERENCES [dbo].[Workflow_Templates] ([WORKFLOW_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[WorkFlow_Type] CHECK CONSTRAINT [WorkFlow_Type_FK1]
GO
