USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourceRuleMap]    Script Date: 6/29/2019 5:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourceRuleMap](
	[RESOURCE_RULE_ID] [bigint] NOT NULL,
	[RESOURCE_RULEGROUP_ID] [bigint] NOT NULL,
	[COMPRULE_ID] [bigint] NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [NCMResourceRuleMap_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCE_RULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__845868344]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__845868344] ON [dbo].[NCMResourceRuleMap]
(
	[COMPRULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__845868345]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__845868345] ON [dbo].[NCMResourceRuleMap]
(
	[RESOURCE_RULEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourceRuleMap]  WITH CHECK ADD  CONSTRAINT [NCMResourceRuleMap_FK1] FOREIGN KEY([RESOURCE_RULEGROUP_ID])
REFERENCES [dbo].[NCMResourceRGroupMap] ([RESOURCE_RULEGROUP_ID])
GO
ALTER TABLE [dbo].[NCMResourceRuleMap] CHECK CONSTRAINT [NCMResourceRuleMap_FK1]
GO
ALTER TABLE [dbo].[NCMResourceRuleMap]  WITH CHECK ADD  CONSTRAINT [NCMResourceRuleMap_FK2] FOREIGN KEY([COMPRULE_ID])
REFERENCES [dbo].[NCMComplianceRule] ([COMPRULE_ID])
GO
ALTER TABLE [dbo].[NCMResourceRuleMap] CHECK CONSTRAINT [NCMResourceRuleMap_FK2]
GO
