USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPEVADiskEnclosureFCPort]    Script Date: 6/29/2019 5:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPEVADiskEnclosureFCPort](
	[DEVICE_ID] [bigint] NOT NULL,
	[ENCLOSURE_NAME] [varchar](160) NOT NULL,
	[PORT_NAME] [varchar](160) NOT NULL,
	[OPER_STATE] [varchar](250) NULL,
	[FAILURE_PREDICTED] [varchar](250) NULL,
	[SWAP_BIT] [varchar](250) NULL,
	[OUTPUT_LINK] [varchar](250) NULL,
	[INPUT_LINK] [varchar](250) NULL,
	[ENABLED_DISABLED] [varchar](250) NULL,
 CONSTRAINT [HPEVADISKENCLOSUREFCPORT_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[ENCLOSURE_NAME] ASC,
	[PORT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1500479368]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1500479368] ON [dbo].[HPEVADiskEnclosureFCPort]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPEVADiskEnclosureFCPort]  WITH CHECK ADD  CONSTRAINT [HPEVADISKENCLOSUREFCPORT_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[HPEVARaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPEVADiskEnclosureFCPort] CHECK CONSTRAINT [HPEVADISKENCLOSUREFCPORT_FK1]
GO
