USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMBaseRunningConflict]    Script Date: 6/29/2019 5:49:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMBaseRunningConflict](
	[RESOURCEID] [bigint] NOT NULL,
	[ISCONFLICT] [bit] NOT NULL,
 CONSTRAINT [NCMBaseRunningConflict_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_413943445]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_413943445] ON [dbo].[NCMBaseRunningConflict]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMBaseRunningConflict] ADD  DEFAULT ((0)) FOR [ISCONFLICT]
GO
ALTER TABLE [dbo].[NCMBaseRunningConflict]  WITH CHECK ADD  CONSTRAINT [NCMBaseRunningConflict_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResourcesInfo] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMBaseRunningConflict] CHECK CONSTRAINT [NCMBaseRunningConflict_FK1]
GO
