USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TransientResources]    Script Date: 6/29/2019 5:52:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransientResources](
	[IPADDRESS] [varchar](15) NOT NULL,
	[CHECKCOUNT] [int] NOT NULL,
	[INITTIME] [bigint] NOT NULL,
 CONSTRAINT [TransientResources_PK] PRIMARY KEY CLUSTERED 
(
	[IPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TransientResources] ADD  DEFAULT ('1') FOR [CHECKCOUNT]
GO
