USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SCHEDULERTASK_INFO]    Script Date: 6/29/2019 5:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULERTASK_INFO](
	[JOB_ID] [bigint] NOT NULL,
	[TASK_ID] [bigint] NOT NULL,
	[TASK_FOR] [varchar](25) NOT NULL,
 CONSTRAINT [SCHEDULERTASK_INFO_PK] PRIMARY KEY CLUSTERED 
(
	[JOB_ID] ASC,
	[TASK_FOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__232199849]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__232199849] ON [dbo].[SCHEDULERTASK_INFO]
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SCHEDULERTASK_INFO]  WITH CHECK ADD  CONSTRAINT [SCHEDULERTASK_INFO_FK] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[GroupTaskName] ([TASK_ID])
GO
ALTER TABLE [dbo].[SCHEDULERTASK_INFO] CHECK CONSTRAINT [SCHEDULERTASK_INFO_FK]
GO
