USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SVCStoragePool]    Script Date: 6/29/2019 5:52:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVCStoragePool](
	[DEVICE_ID] [bigint] NOT NULL,
	[POOL_NAME] [varchar](250) NOT NULL,
	[POOL_ID] [varchar](250) NOT NULL,
	[NO_OF_BACKEND_VOLUMES] [varchar](250) NOT NULL,
	[NO_OF_STORAGE_VOLUMES] [varchar](250) NOT NULL,
	[OPERATIONALSTATUS] [varchar](250) NOT NULL,
	[PRIMORDIAL] [varchar](250) NOT NULL,
	[TOTAL_CAPACITY] [varchar](250) NOT NULL,
	[USED_CAPACITY] [varchar](250) NOT NULL,
	[FREE_CAPACITY] [varchar](250) NOT NULL,
	[VIRTUAL_CAPACITY] [varchar](250) NOT NULL,
	[REAL_CAPACITY] [varchar](250) NOT NULL,
	[OVER_ALLOCATION] [varchar](250) NOT NULL,
	[WARNING] [varchar](250) NOT NULL,
 CONSTRAINT [SVCStoragePool_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1928981852]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1928981852] ON [dbo].[SVCStoragePool]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SVCStoragePool]  WITH CHECK ADD  CONSTRAINT [SVCStoragePool_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SVCStoragePool] CHECK CONSTRAINT [SVCStoragePool_FK1]
GO
