USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HardwareComponent]    Script Date: 6/29/2019 5:48:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HardwareComponent](
	[COMPONENTID] [bigint] NOT NULL,
	[COMPONENTTYPE] [varchar](100) NULL,
	[COMPONENTNAME] [varchar](100) NULL,
	[MOID] [bigint] NULL,
	[ISALARMSUPPRESSED] [varchar](6) NOT NULL,
	[ISMONITORED] [varchar](6) NOT NULL,
 CONSTRAINT [HardwareComponent_PK] PRIMARY KEY CLUSTERED 
(
	[COMPONENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1526597794]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1526597794] ON [dbo].[HardwareComponent]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HardwareComponent] ADD  DEFAULT ('false') FOR [ISALARMSUPPRESSED]
GO
ALTER TABLE [dbo].[HardwareComponent] ADD  DEFAULT ('false') FOR [ISMONITORED]
GO
ALTER TABLE [dbo].[HardwareComponent]  WITH CHECK ADD  CONSTRAINT [HardwareComponent_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[HardwareComponent] CHECK CONSTRAINT [HardwareComponent_FK1]
GO
