USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic100Mover]    Script Date: 6/29/2019 5:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic100Mover](
	[LIBRARY_ID] [bigint] NOT NULL,
	[MOVER_ID] [varchar](250) NOT NULL,
	[MOVER_STATE] [varchar](250) NOT NULL,
	[VENDOR] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NOT NULL,
	[FW_VER] [varchar](250) NOT NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[SCSI_ID] [varchar](250) NOT NULL,
	[SCSI_LUN] [varchar](250) NOT NULL,
	[DRIVE_COUNT] [varchar](250) NOT NULL,
	[SLOT_COUNT] [varchar](250) NOT NULL,
	[IE_COUNT] [varchar](250) NOT NULL,
	[PICKER_COUNT] [varchar](250) NOT NULL,
	[PICK_RETRIES] [varchar](250) NOT NULL,
	[PLACE_RETRIES] [varchar](250) NOT NULL,
	[LOAD_RETRIES] [varchar](250) NOT NULL,
	[SCAN_RETRIES] [varchar](250) NOT NULL,
	[NO_OF_PICKS] [varchar](250) NOT NULL,
	[DOOR_STATE] [varchar](250) NOT NULL,
	[MAILBOX_STATE] [varchar](250) NOT NULL,
 CONSTRAINT [ADIC100MOVER_PK] PRIMARY KEY CLUSTERED 
(
	[LIBRARY_ID] ASC,
	[MOVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_291139482]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_291139482] ON [dbo].[Adic100Mover]
(
	[LIBRARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic100Mover]  WITH CHECK ADD  CONSTRAINT [ADIC100MOVER_FK1] FOREIGN KEY([LIBRARY_ID])
REFERENCES [dbo].[TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic100Mover] CHECK CONSTRAINT [ADIC100MOVER_FK1]
GO
