USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SchIPRange]    Script Date: 6/29/2019 5:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchIPRange](
	[ID_RANGE] [int] NOT NULL,
	[SCHEDULE_ID] [bigint] NOT NULL,
	[START_ADDR_ID] [varchar](255) NOT NULL,
	[END_ADDR_ID] [varchar](255) NOT NULL,
	[NETMASK_ADDR_ID] [varchar](255) NOT NULL,
	[TYPE_PARAM] [int] NOT NULL,
 CONSTRAINT [SchIPRange_PK] PRIMARY KEY CLUSTERED 
(
	[ID_RANGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__598256826]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__598256826] ON [dbo].[SchIPRange]
(
	[SCHEDULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SchIPRange]  WITH CHECK ADD  CONSTRAINT [SchIPRange_FK] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[ScheduleDetails] ([ID])
GO
ALTER TABLE [dbo].[SchIPRange] CHECK CONSTRAINT [SchIPRange_FK]
GO
