USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StreamField]    Script Date: 6/29/2019 5:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StreamField](
	[ID] [int] NOT NULL,
	[SID] [int] NOT NULL,
	[FIELD] [int] NOT NULL,
 CONSTRAINT [StreamField_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__149982742]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__149982742] ON [dbo].[StreamField]
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StreamField]  WITH CHECK ADD  CONSTRAINT [StreamField_FK] FOREIGN KEY([SID])
REFERENCES [dbo].[Stream] ([SID])
GO
ALTER TABLE [dbo].[StreamField] CHECK CONSTRAINT [StreamField_FK]
GO
