USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Filter]    Script Date: 6/29/2019 5:47:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filter](
	[FID] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[CTGY] [int] NOT NULL,
	[STMID] [int] NOT NULL,
	[ACTIONS] [varchar](100) NULL,
	[STATUS] [int] NOT NULL,
	[DESP] [varchar](500) NULL,
 CONSTRAINT [Filter_PK] PRIMARY KEY CLUSTERED 
(
	[FID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Filter_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Filter] ADD  DEFAULT ('-1') FOR [STMID]
GO
ALTER TABLE [dbo].[Filter] ADD  DEFAULT ('1') FOR [STATUS]
GO
