USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProtocolInformation]    Script Date: 6/29/2019 5:50:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProtocolInformation](
	[PERSONALITYNAME] [varchar](100) NOT NULL,
	[OPERATIONNAME] [varchar](30) NOT NULL,
	[PROTOCOL] [varchar](30) NOT NULL,
	[INTERACTIONID] [varchar](150) NOT NULL,
 CONSTRAINT [PI_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYNAME] ASC,
	[OPERATIONNAME] ASC,
	[PROTOCOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_849369629]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_849369629] ON [dbo].[ProtocolInformation]
(
	[PERSONALITYNAME] ASC,
	[OPERATIONNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProtocolInformation]  WITH CHECK ADD  CONSTRAINT [PI_OP_FK] FOREIGN KEY([PERSONALITYNAME], [OPERATIONNAME])
REFERENCES [dbo].[Operations] ([PERSONALITYNAME], [OPERATIONNAME])
GO
ALTER TABLE [dbo].[ProtocolInformation] CHECK CONSTRAINT [PI_OP_FK]
GO
