USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ADDomainComputer]    Script Date: 6/29/2019 5:45:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDomainComputer](
	[ADCOMPUTER_ID] [bigint] NOT NULL,
	[GU_ID] [varchar](100) NULL,
	[COMPUTERNAME] [varchar](100) NULL,
	[OSTYPE] [varchar](100) NULL,
	[SCANTIME] [datetime] NULL,
	[DOMAIN_ID] [bigint] NOT NULL,
 CONSTRAINT [ADDomainComputer_PK] PRIMARY KEY CLUSTERED 
(
	[ADCOMPUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1915354447]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1915354447] ON [dbo].[ADDomainComputer]
(
	[DOMAIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADDomainComputer]  WITH CHECK ADD  CONSTRAINT [ADDomainComputer_FK1] FOREIGN KEY([DOMAIN_ID])
REFERENCES [dbo].[ADDomain] ([DOMAIN_ID])
GO
ALTER TABLE [dbo].[ADDomainComputer] CHECK CONSTRAINT [ADDomainComputer_FK1]
GO
