USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FanModuleToUCSFan]    Script Date: 6/29/2019 5:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FanModuleToUCSFan](
	[FAN_MODULE_ID] [bigint] NOT NULL,
	[FAN_ID] [bigint] NOT NULL,
 CONSTRAINT [FanModuleToUCSFan_PK] PRIMARY KEY CLUSTERED 
(
	[FAN_MODULE_ID] ASC,
	[FAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_282987317]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_282987317] ON [dbo].[FanModuleToUCSFan]
(
	[FAN_MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_282987318]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_282987318] ON [dbo].[FanModuleToUCSFan]
(
	[FAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FanModuleToUCSFan]  WITH CHECK ADD  CONSTRAINT [FanModuleToUCSFan_FK1] FOREIGN KEY([FAN_MODULE_ID])
REFERENCES [dbo].[UCSFanModule] ([FAN_MODULE_ID])
GO
ALTER TABLE [dbo].[FanModuleToUCSFan] CHECK CONSTRAINT [FanModuleToUCSFan_FK1]
GO
ALTER TABLE [dbo].[FanModuleToUCSFan]  WITH CHECK ADD  CONSTRAINT [FanModuleToUCSFan_FK2] FOREIGN KEY([FAN_ID])
REFERENCES [dbo].[UCSFan] ([FAN_ID])
GO
ALTER TABLE [dbo].[FanModuleToUCSFan] CHECK CONSTRAINT [FanModuleToUCSFan_FK2]
GO
