USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Widget]    Script Date: 6/29/2019 5:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Widget](
	[WIDGETID] [bigint] NOT NULL,
	[WIDGETNAME] [varchar](200) NOT NULL,
	[WIDGETDESCRIPTION] [varchar](4000) NOT NULL,
	[DATASOURCEID] [bigint] NOT NULL,
	[TYPEID] [bigint] NOT NULL,
	[TIMEBASED] [bit] NOT NULL,
	[RANGEBASED] [bit] NOT NULL,
	[IMAGELOCATION] [varchar](150) NOT NULL,
	[LOADTYPE] [varchar](50) NULL,
 CONSTRAINT [Widget_PK] PRIMARY KEY CLUSTERED 
(
	[WIDGETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Widget_UK0] UNIQUE NONCLUSTERED 
(
	[WIDGETNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1686549425]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1686549425] ON [dbo].[Widget]
(
	[WIDGETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1686549426]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1686549426] ON [dbo].[Widget]
(
	[DATASOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1686549427]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1686549427] ON [dbo].[Widget]
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Widget] ADD  DEFAULT ('CustomGraph') FOR [LOADTYPE]
GO
ALTER TABLE [dbo].[Widget]  WITH CHECK ADD  CONSTRAINT [Widget_FK1] FOREIGN KEY([WIDGETID])
REFERENCES [dbo].[ReportWidgetID] ([ID])
GO
ALTER TABLE [dbo].[Widget] CHECK CONSTRAINT [Widget_FK1]
GO
ALTER TABLE [dbo].[Widget]  WITH CHECK ADD  CONSTRAINT [Widget_FK2] FOREIGN KEY([DATASOURCEID])
REFERENCES [dbo].[WidgetDataSource] ([DATASOURCEID])
GO
ALTER TABLE [dbo].[Widget] CHECK CONSTRAINT [Widget_FK2]
GO
ALTER TABLE [dbo].[Widget]  WITH CHECK ADD  CONSTRAINT [Widget_FK3] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[WidgetType] ([TYPEID])
GO
ALTER TABLE [dbo].[Widget] CHECK CONSTRAINT [Widget_FK3]
GO
