USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PromiseDiskDrive]    Script Date: 6/29/2019 5:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromiseDiskDrive](
	[RAID_ID] [bigint] NOT NULL,
	[DISK_IDENTIFIER] [varchar](250) NOT NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[FW_VERSION] [varchar](250) NOT NULL,
	[PROTOCOL_VERSION] [varchar](250) NOT NULL,
	[BLOCK_SIZE] [int] NOT NULL,
	[CONFIGURABLE_CAPACITY] [varchar](250) NOT NULL,
	[USED_CAPACITY] [varchar](250) NOT NULL,
	[FREE_CAPACITY] [varchar](250) NOT NULL,
	[DRIVE_INTERFACE_TYPE] [varchar](250) NOT NULL,
	[POWER_SAVING_LEVEL] [varchar](250) NOT NULL,
	[SMART_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [PromiseDiskDrive_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[DISK_IDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_821994879]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_821994879] ON [dbo].[PromiseDiskDrive]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromiseDiskDrive]  WITH CHECK ADD  CONSTRAINT [PromiseDiskDrive_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PromiseDiskDrive] CHECK CONSTRAINT [PromiseDiskDrive_FK1]
GO
