USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RelationshipTable]    Script Date: 6/29/2019 5:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipTable](
	[CUSTOMFIELDID] [int] NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [RelationshipTable_PK] PRIMARY KEY CLUSTERED 
(
	[CUSTOMFIELDID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [RelationshipTable_UK0] UNIQUE NONCLUSTERED 
(
	[CUSTOMFIELDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [RelationshipTable_UK1] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__131965788]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__131965788] ON [dbo].[RelationshipTable]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__131965789]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__131965789] ON [dbo].[RelationshipTable]
(
	[CUSTOMFIELDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelationshipTable]  WITH CHECK ADD  CONSTRAINT [RelationshipTable_FK1] FOREIGN KEY([CUSTOMFIELDID])
REFERENCES [dbo].[CustomFieldsDefinition] ([CUSTOMFIELDID])
GO
ALTER TABLE [dbo].[RelationshipTable] CHECK CONSTRAINT [RelationshipTable_FK1]
GO
ALTER TABLE [dbo].[RelationshipTable]  WITH CHECK ADD  CONSTRAINT [RelationshipTable_FK2] FOREIGN KEY([ID])
REFERENCES [dbo].[FieldsMetaData] ([ID])
GO
ALTER TABLE [dbo].[RelationshipTable] CHECK CONSTRAINT [RelationshipTable_FK2]
GO
