USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CustExcludeCriteria]    Script Date: 6/29/2019 5:46:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustExcludeCriteria](
	[PERSONALITYID] [bigint] NOT NULL,
	[CRITERIA_ID] [bigint] NOT NULL,
	[CRITERIA] [varchar](250) NOT NULL,
 CONSTRAINT [CustExcludeCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[CRITERIA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
