USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMDSVolume]    Script Date: 6/29/2019 5:48:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMDSVolume](
	[RAID_ID] [bigint] NOT NULL,
	[VOLUME_ID] [varchar](160) NOT NULL,
	[VOLUME_NAME] [varchar](250) NOT NULL,
	[OPERATIONAL_STATUS] [varchar](250) NOT NULL,
	[HEALTH_STATE] [varchar](250) NULL,
	[BLOCK_SIZE] [bigint] NOT NULL,
	[NO_OF_BLOCKS] [bigint] NOT NULL,
	[CONSUMABLE_BLOCKS] [bigint] NOT NULL,
	[TOTAL_CAPACITY] [varchar](250) NOT NULL,
	[CONSUMABLE_CAPACITY] [varchar](250) NOT NULL,
	[PRIMORDIAL] [bit] NULL,
	[VOLUME_GROUP_NO] [varchar](160) NOT NULL,
 CONSTRAINT [IBMDSVolume_PK1] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[VOLUME_ID] ASC,
	[VOLUME_GROUP_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_63570858]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_63570858] ON [dbo].[IBMDSVolume]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_63570859]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_63570859] ON [dbo].[IBMDSVolume]
(
	[RAID_ID] ASC,
	[VOLUME_GROUP_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMDSVolume]  WITH CHECK ADD  CONSTRAINT [IBMDSVolume_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMDSVolume] CHECK CONSTRAINT [IBMDSVolume_FK1]
GO
ALTER TABLE [dbo].[IBMDSVolume]  WITH CHECK ADD  CONSTRAINT [IBMDSVolume_FK2] FOREIGN KEY([RAID_ID], [VOLUME_GROUP_NO])
REFERENCES [dbo].[IBMDSVolumeGroup] ([RAID_ID], [VGROUP_NO])
GO
ALTER TABLE [dbo].[IBMDSVolume] CHECK CONSTRAINT [IBMDSVolume_FK2]
GO
