USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CCTVProperties]    Script Date: 6/29/2019 5:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCTVProperties](
	[CCTV_PROP_ID] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[CCTVID] [bigint] NOT NULL,
	[NO_OF_COLUMNS] [int] NOT NULL,
	[THEME] [varchar](25) NOT NULL,
	[ZOOM] [int] NOT NULL,
 CONSTRAINT [CCTVProperties_PK] PRIMARY KEY CLUSTERED 
(
	[CCTV_PROP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__424243581]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__424243581] ON [dbo].[CCTVProperties]
(
	[CCTVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__424243582]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__424243582] ON [dbo].[CCTVProperties]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCTVProperties]  WITH CHECK ADD  CONSTRAINT [CCTVProperties_FK1] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[CCTVProperties] CHECK CONSTRAINT [CCTVProperties_FK1]
GO
ALTER TABLE [dbo].[CCTVProperties]  WITH CHECK ADD  CONSTRAINT [CCTVProperties_FK2] FOREIGN KEY([CCTVID])
REFERENCES [dbo].[Cctv] ([ID])
GO
ALTER TABLE [dbo].[CCTVProperties] CHECK CONSTRAINT [CCTVProperties_FK2]
GO
