USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PIIDataSource]    Script Date: 6/29/2019 5:50:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PIIDataSource](
	[ID] [bigint] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DISPLAYNAME] [varchar](250) NOT NULL,
	[CLASSNAME] [varchar](150) NOT NULL,
 CONSTRAINT [PIIDataSource_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PIIDataSource_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
