USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AuditLevel]    Script Date: 6/29/2019 5:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLevel](
	[AUDITCONFIG_ID] [bigint] NOT NULL,
	[LEVELNAME] [varchar](50) NOT NULL,
 CONSTRAINT [AuditLevel_PK] PRIMARY KEY CLUSTERED 
(
	[AUDITCONFIG_ID] ASC,
	[LEVELNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_582555707]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_582555707] ON [dbo].[AuditLevel]
(
	[AUDITCONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLevel]  WITH CHECK ADD  CONSTRAINT [AuditLevel_FK] FOREIGN KEY([AUDITCONFIG_ID])
REFERENCES [dbo].[AuditConfig] ([ID])
GO
ALTER TABLE [dbo].[AuditLevel] CHECK CONSTRAINT [AuditLevel_FK]
GO
