USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetFDBTable]    Script Date: 6/29/2019 5:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetFDBTable](
	[FDBID] [bigint] NOT NULL,
	[NETWORKELEMENTID] [bigint] NOT NULL,
	[SWITCHADDRESS] [varchar](50) NOT NULL,
	[SWITCHMACADDRESS] [varchar](100) NOT NULL,
	[MACADDRESS] [varchar](100) NOT NULL,
	[PORT] [int] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [NetFDBTable_PK] PRIMARY KEY CLUSTERED 
(
	[FDBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_871087924]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_871087924] ON [dbo].[NetFDBTable]
(
	[NETWORKELEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetFDBTable]  WITH CHECK ADD  CONSTRAINT [NetFDBTable_FK1] FOREIGN KEY([NETWORKELEMENTID])
REFERENCES [dbo].[NetworkTopology] ([NETWORKELEMENTID])
GO
ALTER TABLE [dbo].[NetFDBTable] CHECK CONSTRAINT [NetFDBTable_FK1]
GO
