USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DCSSwitch]    Script Date: 6/29/2019 5:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DCSSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[SW_VERSION] [varchar](150) NOT NULL,
	[BOOTROM_VERSION] [varchar](150) NOT NULL,
	[HW_VERSION] [varchar](150) NOT NULL,
 CONSTRAINT [DCSSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_110432085]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_110432085] ON [dbo].[DCSSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DCSSwitch] ADD  DEFAULT ('Not Available') FOR [SW_VERSION]
GO
ALTER TABLE [dbo].[DCSSwitch] ADD  DEFAULT ('Not Available') FOR [BOOTROM_VERSION]
GO
ALTER TABLE [dbo].[DCSSwitch] ADD  DEFAULT ('Not Available') FOR [HW_VERSION]
GO
ALTER TABLE [dbo].[DCSSwitch]  WITH CHECK ADD  CONSTRAINT [DCSSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[DCSSwitch] CHECK CONSTRAINT [DCSSwitch_FK1]
GO
