USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCIsilonNetworkRules]    Script Date: 6/29/2019 5:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCIsilonNetworkRules](
	[DEVICE_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[POOL] [varchar](250) NOT NULL,
	[NODE_FILTER] [varchar](250) NOT NULL,
	[INTERFACE] [varchar](250) NOT NULL,
 CONSTRAINT [EMCIsilonNetworkRules_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1499741379]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1499741379] ON [dbo].[EMCIsilonNetworkRules]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCIsilonNetworkRules]  WITH CHECK ADD  CONSTRAINT [EMCIsilonNetworkRules_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCIsilonNetworkRules] CHECK CONSTRAINT [EMCIsilonNetworkRules_FK1]
GO
