USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GatewaySMSSettings]    Script Date: 6/29/2019 5:47:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GatewaySMSSettings](
	[ID] [bigint] NOT NULL,
	[PROTOCOL] [varchar](20) NOT NULL,
	[URL] [varchar](4000) NOT NULL,
	[METHOD] [varchar](20) NOT NULL,
	[REQUEST_PARAMETERS] [varbinary](max) NOT NULL,
	[REQUEST_HEADERS] [varbinary](max) NULL,
	[SUCCESSTEXT] [varchar](1000) NOT NULL,
	[FAILURETEXT] [varchar](1000) NOT NULL,
	[UNICODE] [bit] NOT NULL,
 CONSTRAINT [GatewaySMSSettings_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[GatewaySMSSettings] ADD  DEFAULT ((0)) FOR [UNICODE]
GO
