USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NTServices]    Script Date: 6/29/2019 5:49:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTServices](
	[deviceMoid] [bigint] NOT NULL,
	[ntServiceID] [bigint] NOT NULL,
	[status] [int] NOT NULL,
	[action] [int] NOT NULL,
	[STATE] [int] NOT NULL,
	[PREVSTATE] [int] NOT NULL,
	[MOID] [bigint] NOT NULL,
	[FAILURECOUNT] [int] NOT NULL,
	[FAILURETHRESHOLD] [int] NOT NULL,
 CONSTRAINT [NTServices_PK1] PRIMARY KEY CLUSTERED 
(
	[deviceMoid] ASC,
	[ntServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_887281041]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_887281041] ON [dbo].[NTServices]
(
	[ntServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_887281042]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_887281042] ON [dbo].[NTServices]
(
	[deviceMoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NTServices] ADD  DEFAULT ('0') FOR [FAILURECOUNT]
GO
ALTER TABLE [dbo].[NTServices] ADD  DEFAULT ('1') FOR [FAILURETHRESHOLD]
GO
ALTER TABLE [dbo].[NTServices]  WITH CHECK ADD  CONSTRAINT [NTServices_FK1] FOREIGN KEY([ntServiceID])
REFERENCES [dbo].[NTServicesDefinition] ([ID])
GO
ALTER TABLE [dbo].[NTServices] CHECK CONSTRAINT [NTServices_FK1]
GO
ALTER TABLE [dbo].[NTServices]  WITH CHECK ADD  CONSTRAINT [NTServices_FK2] FOREIGN KEY([deviceMoid])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[NTServices] CHECK CONSTRAINT [NTServices_FK2]
GO
