USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoASRMobileGateway]    Script Date: 6/29/2019 5:46:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoASRMobileGateway](
	[RESOURCEID] [bigint] NOT NULL,
	[KEY_NUMBER] [varchar](150) NOT NULL,
 CONSTRAINT [CiscoASRMobileGateway_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1204717160]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1204717160] ON [dbo].[CiscoASRMobileGateway]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoASRMobileGateway] ADD  DEFAULT ('Not Available') FOR [KEY_NUMBER]
GO
ALTER TABLE [dbo].[CiscoASRMobileGateway]  WITH CHECK ADD  CONSTRAINT [CiscoASRMobileGateway_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CiscoASRMobileGateway] CHECK CONSTRAINT [CiscoASRMobileGateway_FK1]
GO
