USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NFAEE_Properties]    Script Date: 6/29/2019 5:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFAEE_Properties](
	[ID] [int] NOT NULL,
	[LAST_CONF_ID] [bigint] NOT NULL,
	[LAST_BUILD_NUMBER] [int] NOT NULL,
	[FAILOVER_TIME] [int] NOT NULL,
	[CS_TZONE] [varchar](255) NULL,
	[INTERFACE_COUNT] [int] NOT NULL,
	[IPSLA_COUNT] [int] NOT NULL,
	[DELTA_TIME] [bigint] NOT NULL,
	[NCM_DEVICE_COUNT] [int] NOT NULL,
 CONSTRAINT [NFAEE_Properties_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NFAEE_Properties_UK0] UNIQUE NONCLUSTERED 
(
	[LAST_CONF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NFAEE_Properties] ADD  DEFAULT ('-1') FOR [LAST_CONF_ID]
GO
ALTER TABLE [dbo].[NFAEE_Properties] ADD  DEFAULT ('15') FOR [FAILOVER_TIME]
GO
ALTER TABLE [dbo].[NFAEE_Properties] ADD  DEFAULT ('0') FOR [INTERFACE_COUNT]
GO
ALTER TABLE [dbo].[NFAEE_Properties] ADD  DEFAULT ('0') FOR [IPSLA_COUNT]
GO
ALTER TABLE [dbo].[NFAEE_Properties] ADD  DEFAULT ('0') FOR [DELTA_TIME]
GO
ALTER TABLE [dbo].[NFAEE_Properties] ADD  DEFAULT ('0') FOR [NCM_DEVICE_COUNT]
GO
