USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiskIBMDS8000]    Script Date: 6/29/2019 5:47:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiskIBMDS8000](
	[DISK_ID] [bigint] NOT NULL,
	[DA_PAIR_ID] [varchar](250) NULL,
	[DEVICE_ADAPTOR] [varchar](250) NULL,
 CONSTRAINT [DiskIBMDS8000_PK] PRIMARY KEY CLUSTERED 
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1845655179]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1845655179] ON [dbo].[DiskIBMDS8000]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiskIBMDS8000]  WITH CHECK ADD  CONSTRAINT [DiskIBMDS8000_FK1] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[SANDiskDrive] ([DISK_ID])
GO
ALTER TABLE [dbo].[DiskIBMDS8000] CHECK CONSTRAINT [DiskIBMDS8000_FK1]
GO
