USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DSCPCriteria]    Script Date: 6/29/2019 5:47:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSCPCriteria](
	[DC_ID] [int] NOT NULL,
	[PROFILE_ID] [int] NOT NULL,
	[DSCP_POINT] [int] NOT NULL,
	[DSCP_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [DSCPCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[DC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1469785464]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1469785464] ON [dbo].[DSCPCriteria]
(
	[DSCP_POINT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_922418889]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_922418889] ON [dbo].[DSCPCriteria]
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DSCPCriteria]  WITH CHECK ADD  CONSTRAINT [DSCPCriteria_FK] FOREIGN KEY([PROFILE_ID])
REFERENCES [dbo].[AlertProfile] ([PROFILE_ID])
GO
ALTER TABLE [dbo].[DSCPCriteria] CHECK CONSTRAINT [DSCPCriteria_FK]
GO
ALTER TABLE [dbo].[DSCPCriteria]  WITH CHECK ADD  CONSTRAINT [DSCPCriteria_FK1] FOREIGN KEY([DSCP_POINT])
REFERENCES [dbo].[DscpMap] ([CODE_POINT])
GO
ALTER TABLE [dbo].[DSCPCriteria] CHECK CONSTRAINT [DSCPCriteria_FK1]
GO
