USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMVHost]    Script Date: 6/29/2019 5:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMVHost](
	[RAID_ID] [bigint] NOT NULL,
	[HOST_ID] [bigint] NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NULL,
	[PORT_COUNT] [varchar](250) NULL,
	[TYPE] [varchar](250) NULL,
	[IO_GROUP_COUNT] [varchar](250) NULL,
	[STATUS] [varchar](250) NULL,
 CONSTRAINT [IBMVHost_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__811134056]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__811134056] ON [dbo].[IBMVHost]
(
	[HOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__811134057]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__811134057] ON [dbo].[IBMVHost]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMVHost]  WITH CHECK ADD  CONSTRAINT [IBMVHost_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMVHost] CHECK CONSTRAINT [IBMVHost_FK1]
GO
ALTER TABLE [dbo].[IBMVHost]  WITH CHECK ADD  CONSTRAINT [IBMVHost_FK2] FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMVHost] CHECK CONSTRAINT [IBMVHost_FK2]
GO
