USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DIPToResourcesMapping]    Script Date: 6/29/2019 5:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIPToResourcesMapping](
	[DIPID] [bigint] NOT NULL,
	[RID] [bigint] NOT NULL,
	[DDID] [bigint] NOT NULL,
	[ShowAllDev] [bit] NOT NULL,
 CONSTRAINT [DIPToResourcesMapping_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2145995548]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2145995548] ON [dbo].[DIPToResourcesMapping]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2145995549]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2145995549] ON [dbo].[DIPToResourcesMapping]
(
	[DDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2145995550]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2145995550] ON [dbo].[DIPToResourcesMapping]
(
	[DIPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIPToResourcesMapping] ADD  DEFAULT ((0)) FOR [ShowAllDev]
GO
ALTER TABLE [dbo].[DIPToResourcesMapping]  WITH CHECK ADD  CONSTRAINT [DIPToResourcesMapping_FK1] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[DIPToResourcesMapping] CHECK CONSTRAINT [DIPToResourcesMapping_FK1]
GO
ALTER TABLE [dbo].[DIPToResourcesMapping]  WITH CHECK ADD  CONSTRAINT [DIPToResourcesMapping_FK2] FOREIGN KEY([DDID])
REFERENCES [dbo].[DeviceDetails] ([DDID])
GO
ALTER TABLE [dbo].[DIPToResourcesMapping] CHECK CONSTRAINT [DIPToResourcesMapping_FK2]
GO
ALTER TABLE [dbo].[DIPToResourcesMapping]  WITH CHECK ADD  CONSTRAINT [DIPToResourcesMapping_FK3] FOREIGN KEY([DIPID])
REFERENCES [dbo].[DeviceInfoProfiles] ([DIPID])
GO
ALTER TABLE [dbo].[DIPToResourcesMapping] CHECK CONSTRAINT [DIPToResourcesMapping_FK3]
GO
