USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiskPromise]    Script Date: 6/29/2019 5:47:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiskPromise](
	[DISK_ID] [bigint] NOT NULL,
	[PROTOCOL_VERSION] [varchar](250) NULL,
	[SMART_STATUS] [varchar](250) NULL,
 CONSTRAINT [DiskPromise_PK] PRIMARY KEY CLUSTERED 
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_796627179]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_796627179] ON [dbo].[DiskPromise]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiskPromise]  WITH CHECK ADD  CONSTRAINT [DiskPromise_FK1] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[SANDiskDrive] ([DISK_ID])
GO
ALTER TABLE [dbo].[DiskPromise] CHECK CONSTRAINT [DiskPromise_FK1]
GO
