USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AuditResultProperty]    Script Date: 6/29/2019 5:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditResultProperty](
	[AUDITID] [bigint] NOT NULL,
	[PROPERTYNAME] [varchar](100) NOT NULL,
	[PROPERTYVALUE] [varchar](250) NOT NULL,
 CONSTRAINT [AuditResultProperty_PK] PRIMARY KEY CLUSTERED 
(
	[AUDITID] ASC,
	[PROPERTYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_252641431]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_252641431] ON [dbo].[AuditResultProperty]
(
	[AUDITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditResultProperty]  WITH CHECK ADD  CONSTRAINT [AuditResultProperty_FK] FOREIGN KEY([AUDITID])
REFERENCES [dbo].[OperationAuditRecord] ([AUDITID])
GO
ALTER TABLE [dbo].[AuditResultProperty] CHECK CONSTRAINT [AuditResultProperty_FK]
GO
