USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RadwareAlteonSwitch]    Script Date: 6/29/2019 5:50:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadwareAlteonSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[HW_Order_No] [varchar](100) NOT NULL,
 CONSTRAINT [RadwareAlteonSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__246587986]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__246587986] ON [dbo].[RadwareAlteonSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RadwareAlteonSwitch] ADD  DEFAULT ('Not Available') FOR [HW_Order_No]
GO
ALTER TABLE [dbo].[RadwareAlteonSwitch]  WITH CHECK ADD  CONSTRAINT [RadwareAlteonSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[RadwareAlteonSwitch] CHECK CONSTRAINT [RadwareAlteonSwitch_FK1]
GO
