USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TSKeyDetails]    Script Date: 6/29/2019 5:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSKeyDetails](
	[TSKID] [bigint] NOT NULL,
	[PRIVATE_KEY] [varbinary](max) NOT NULL,
	[PUBLIC_KEY] [varbinary](max) NOT NULL,
 CONSTRAINT [TSKeyDetails_PK] PRIMARY KEY CLUSTERED 
(
	[TSKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
