USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WorkLoad]    Script Date: 6/29/2019 5:53:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkLoad](
	[WID] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[TASK] [int] NOT NULL,
	[MODE] [int] NOT NULL,
	[MAXCOUNT] [int] NOT NULL,
	[STRENGTH] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[DESP] [varchar](500) NULL,
 CONSTRAINT [WorkLoad_PK] PRIMARY KEY CLUSTERED 
(
	[WID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [WorkLoad_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WorkLoad] ADD  DEFAULT ('-1') FOR [TASK]
GO
ALTER TABLE [dbo].[WorkLoad] ADD  DEFAULT ('0') FOR [MODE]
GO
ALTER TABLE [dbo].[WorkLoad] ADD  DEFAULT ('1') FOR [MAXCOUNT]
GO
ALTER TABLE [dbo].[WorkLoad] ADD  DEFAULT ('1') FOR [STRENGTH]
GO
ALTER TABLE [dbo].[WorkLoad] ADD  DEFAULT ('1') FOR [STATUS]
GO
