USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CenteraHeartBeat]    Script Date: 6/29/2019 5:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CenteraHeartBeat](
	[RAID_ID] [bigint] NOT NULL,
	[TIME_INTERVAL] [bigint] NULL,
	[LAST_RECEIVED_TIME] [bigint] NOT NULL,
 CONSTRAINT [CENTERA_HB_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1871067226]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1871067226] ON [dbo].[CenteraHeartBeat]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CenteraHeartBeat]  WITH CHECK ADD  CONSTRAINT [CENTERA_HB_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[CenteraHeartBeat] CHECK CONSTRAINT [CENTERA_HB_FK1]
GO
