USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ADOUsRelationInfo]    Script Date: 6/29/2019 5:45:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADOUsRelationInfo](
	[OUID] [bigint] NOT NULL,
	[PARENTOUID] [bigint] NOT NULL,
 CONSTRAINT [ADOUsRelationInfo_PK] PRIMARY KEY CLUSTERED 
(
	[OUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1303167873]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1303167873] ON [dbo].[ADOUsRelationInfo]
(
	[OUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1303167874]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1303167874] ON [dbo].[ADOUsRelationInfo]
(
	[PARENTOUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADOUsRelationInfo]  WITH CHECK ADD  CONSTRAINT [ADOUsRelationInfo_FK1] FOREIGN KEY([OUID])
REFERENCES [dbo].[ADOrganizationalUnits] ([OUID])
GO
ALTER TABLE [dbo].[ADOUsRelationInfo] CHECK CONSTRAINT [ADOUsRelationInfo_FK1]
GO
ALTER TABLE [dbo].[ADOUsRelationInfo]  WITH CHECK ADD  CONSTRAINT [ADOUsRelationInfo_FK2] FOREIGN KEY([PARENTOUID])
REFERENCES [dbo].[ADOrganizationalUnits] ([OUID])
GO
ALTER TABLE [dbo].[ADOUsRelationInfo] CHECK CONSTRAINT [ADOUsRelationInfo_FK2]
GO
