USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[F5Bigip114]    Script Date: 6/29/2019 5:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[F5Bigip114](
	[RESOURCEID] [bigint] NOT NULL,
	[BUILD] [varchar](100) NOT NULL,
 CONSTRAINT [F5Bigip114_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_876146089]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_876146089] ON [dbo].[F5Bigip114]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[F5Bigip114] ADD  DEFAULT ('Not Available') FOR [BUILD]
GO
ALTER TABLE [dbo].[F5Bigip114]  WITH CHECK ADD  CONSTRAINT [F5Bigip114_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[F5Bigip114] CHECK CONSTRAINT [F5Bigip114_FK1]
GO
