USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDiscNotSupportedModels]    Script Date: 6/29/2019 5:49:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDiscNotSupportedModels](
	[SYSOID] [varchar](100) NOT NULL,
	[MODEL] [varchar](100) NOT NULL,
	[SERIES] [varchar](100) NOT NULL,
	[VENDOR] [varchar](100) NOT NULL,
 CONSTRAINT [NCMDiscNotSupportedModels_PK] PRIMARY KEY CLUSTERED 
(
	[SYSOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
