USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CFMCSVInputConfig]    Script Date: 6/29/2019 5:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFMCSVInputConfig](
	[ID] [bigint] NOT NULL,
	[DEVICENAME] [varchar](100) NOT NULL,
	[WRITECOMMUNITY] [varchar](100) NULL,
	[TFTPSERVERIP] [varchar](15) NULL,
	[ADDEDTIME] [datetime] NOT NULL,
	[REMARKS] [varchar](200) NULL,
	[STATUSFLAG] [int] NOT NULL,
	[SNMP_VERSION] [int] NOT NULL,
	[SECURITY_LEVEL] [int] NOT NULL,
	[USER_NAME] [varchar](50) NULL,
	[CONTEXT_NAME] [varchar](50) NULL,
	[AUTH_PROTOCOL] [varchar](3) NULL,
	[AUTH_PASSWORD] [varchar](100) NULL,
	[PRI_PROTOCOL] [varchar](7) NULL,
	[PRI_PASSWORD] [varchar](100) NULL,
 CONSTRAINT [CFMCSVInputConfig_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CFMCSVInputConfig_UK0] UNIQUE NONCLUSTERED 
(
	[DEVICENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CFMCSVInputConfig] ADD  DEFAULT ('1') FOR [STATUSFLAG]
GO
ALTER TABLE [dbo].[CFMCSVInputConfig] ADD  DEFAULT ('1') FOR [SNMP_VERSION]
GO
ALTER TABLE [dbo].[CFMCSVInputConfig] ADD  DEFAULT ('0') FOR [SECURITY_LEVEL]
GO
