USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SearchRule]    Script Date: 6/29/2019 5:51:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchRule](
	[SGID] [bigint] NOT NULL,
	[SRID] [bigint] NOT NULL,
	[SQLSTRING] [nvarchar](300) NULL,
	[CONDI] [int] NULL,
	[VALUE] [int] NULL,
 CONSTRAINT [SearchRule_PK] PRIMARY KEY CLUSTERED 
(
	[SRID] ASC,
	[SGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1918199345]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1918199345] ON [dbo].[SearchRule]
(
	[SGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SearchRule]  WITH CHECK ADD  CONSTRAINT [SearchRule_FK1] FOREIGN KEY([SGID])
REFERENCES [dbo].[SearchGroup] ([SGID])
GO
ALTER TABLE [dbo].[SearchRule] CHECK CONSTRAINT [SearchRule_FK1]
GO
