USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MigrationProbeStatus]    Script Date: 6/29/2019 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MigrationProbeStatus](
	[PROBE_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NULL,
	[CONNECTION_STATUS] [varchar](50) NOT NULL,
	[ACTION_STATUS] [int] NULL,
 CONSTRAINT [MigrationProbeStatus_PK] PRIMARY KEY CLUSTERED 
(
	[PROBE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1133813630]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1133813630] ON [dbo].[MigrationProbeStatus]
(
	[PROBE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MigrationProbeStatus]  WITH CHECK ADD  CONSTRAINT [MigrationProbeStatus_FK2] FOREIGN KEY([PROBE_ID])
REFERENCES [dbo].[MigrationDataID] ([ID])
GO
ALTER TABLE [dbo].[MigrationProbeStatus] CHECK CONSTRAINT [MigrationProbeStatus_FK2]
GO
