USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMOPMSNMPProfileMapping]    Script Date: 6/29/2019 5:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMOPMSNMPProfileMapping](
	[OPMPROFILEID] [bigint] NOT NULL,
	[NCMPROFILEID] [bigint] NOT NULL,
 CONSTRAINT [NCMOPMSNMPProfileMapping_PK] PRIMARY KEY CLUSTERED 
(
	[NCMPROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1916788508]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1916788508] ON [dbo].[NCMOPMSNMPProfileMapping]
(
	[OPMPROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMOPMSNMPProfileMapping]  WITH CHECK ADD  CONSTRAINT [NCMOPMSNMPProfileMapping_FK1] FOREIGN KEY([OPMPROFILEID])
REFERENCES [dbo].[CredentialManager] ([CREDENTIALID])
GO
ALTER TABLE [dbo].[NCMOPMSNMPProfileMapping] CHECK CONSTRAINT [NCMOPMSNMPProfileMapping_FK1]
GO
