USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IPFIXApplications]    Script Date: 6/29/2019 5:48:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPFIXApplications](
	[APPLICATION_ID] [bigint] NOT NULL,
	[APPLICATION_NAME] [nvarchar](100) NULL,
	[APPLICATION_CAT] [nvarchar](50) NULL,
	[ENT_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[APPLICATION_ID] ASC,
	[ENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IPFIXApplications] ADD  DEFAULT (NULL) FOR [APPLICATION_NAME]
GO
ALTER TABLE [dbo].[IPFIXApplications] ADD  DEFAULT (NULL) FOR [APPLICATION_CAT]
GO
ALTER TABLE [dbo].[IPFIXApplications] ADD  DEFAULT ('0') FOR [ENT_ID]
GO
