USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserToInfoMessageMapping]    Script Date: 6/29/2019 5:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserToInfoMessageMapping](
	[USERID] [bigint] NOT NULL,
	[TYPEID] [bigint] NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [UserToInfoMessageMapping_PK] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1120989367]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1120989367] ON [dbo].[UserToInfoMessageMapping]
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1120989368]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1120989368] ON [dbo].[UserToInfoMessageMapping]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserToInfoMessageMapping] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[UserToInfoMessageMapping]  WITH CHECK ADD  CONSTRAINT [UserToInfoMessageMapping_FK1] FOREIGN KEY([USERID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[UserToInfoMessageMapping] CHECK CONSTRAINT [UserToInfoMessageMapping_FK1]
GO
ALTER TABLE [dbo].[UserToInfoMessageMapping]  WITH CHECK ADD  CONSTRAINT [UserToInfoMessageMapping_FK2] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[UIInfoMessages] ([TYPEID])
GO
ALTER TABLE [dbo].[UserToInfoMessageMapping] CHECK CONSTRAINT [UserToInfoMessageMapping_FK2]
GO
