USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarSlammerControlUnit]    Script Date: 6/29/2019 5:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarSlammerControlUnit](
	[SLAMMER_DEVICE_ID] [bigint] NOT NULL,
	[SLAMMER_INSTANCE] [int] NOT NULL,
	[CONTROL_UNIT_INSTANCE] [int] NOT NULL,
	[NUMBER] [int] NOT NULL,
	[ID] [varchar](250) NULL,
	[FQN] [varchar](250) NULL,
	[MEMORY_IN_GB] [varchar](250) NULL,
 CONSTRAINT [PillarSlammerControlUnit_PK] PRIMARY KEY CLUSTERED 
(
	[SLAMMER_DEVICE_ID] ASC,
	[CONTROL_UNIT_INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_307142382]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_307142382] ON [dbo].[PillarSlammerControlUnit]
(
	[SLAMMER_DEVICE_ID] ASC,
	[SLAMMER_INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarSlammerControlUnit]  WITH CHECK ADD  CONSTRAINT [PillarSlammerControlUnit_FK] FOREIGN KEY([SLAMMER_DEVICE_ID], [SLAMMER_INSTANCE])
REFERENCES [dbo].[PillarSlammer] ([SLAMMER_DEVICE_ID], [INSTANCE])
GO
ALTER TABLE [dbo].[PillarSlammerControlUnit] CHECK CONSTRAINT [PillarSlammerControlUnit_FK]
GO
