USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ArecaRaidHDD]    Script Date: 6/29/2019 5:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArecaRaidHDD](
	[DEVICE_ID] [bigint] NOT NULL,
	[HDD_INDEX] [int] NOT NULL,
	[HDD_NAME] [varchar](250) NULL,
	[HDD_SERIALNO] [varchar](250) NULL,
	[HDD_FIRMWARE] [varchar](250) NULL,
	[HDD_CAPACITY] [varchar](250) NULL,
	[HDD_PIO] [varchar](250) NULL,
	[HDD_CUDMA] [int] NULL,
	[HDD_SUDMA] [int] NULL,
	[HDD_STATE] [varchar](250) NULL,
 CONSTRAINT [ArecaRaidHDD_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[HDD_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1962197415]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1962197415] ON [dbo].[ArecaRaidHDD]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArecaRaidHDD]  WITH CHECK ADD  CONSTRAINT [ArecaRaidHDD_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[ArecaRaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ArecaRaidHDD] CHECK CONSTRAINT [ArecaRaidHDD_FK1]
GO
