USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportConfig]    Script Date: 6/29/2019 5:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportConfig](
	[USERID] [bigint] NOT NULL,
	[REPORTID] [bigint] NOT NULL,
	[PROFILENAME] [nvarchar](250) NOT NULL,
	[REPORTTYPE] [nvarchar](50) NOT NULL,
	[DATEFORMAT] [nvarchar](50) NOT NULL,
	[LANGUAGE] [nvarchar](50) NOT NULL,
	[THEME] [nvarchar](250) NOT NULL,
	[LOGO] [nvarchar](250) NOT NULL,
	[REPORTFORMAT] [nvarchar](250) NOT NULL,
	[SAVEREPORTAS] [nvarchar](250) NOT NULL,
	[CREATED_ON] [nvarchar](250) NOT NULL,
	[LAST_GENERATED_REPORT] [nvarchar](250) NULL,
	[MAILID] [nvarchar](250) NULL,
	[QUERYID] [bigint] NULL,
	[REPORT_CONTENT] [nvarchar](250) NULL,
	[SUBJECT] [nvarchar](250) NULL,
	[NOTE] [nvarchar](250) NULL,
 CONSTRAINT [ReportConfig_PK] PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__624941074]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__624941074] ON [dbo].[ReportConfig]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportConfig]  WITH CHECK ADD  CONSTRAINT [ReportConfig_FK] FOREIGN KEY([USERID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[ReportConfig] CHECK CONSTRAINT [ReportConfig_FK]
GO
