USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GlobalAlertToDHCP]    Script Date: 6/29/2019 5:47:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalAlertToDHCP](
	[GLOBALID] [bigint] NOT NULL,
	[ALERTID] [bigint] NOT NULL,
 CONSTRAINT [GlobalAlertToDHCP_PK] PRIMARY KEY CLUSTERED 
(
	[GLOBALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__683307405]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__683307405] ON [dbo].[GlobalAlertToDHCP]
(
	[ALERTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__683307406]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__683307406] ON [dbo].[GlobalAlertToDHCP]
(
	[GLOBALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GlobalAlertToDHCP]  WITH CHECK ADD  CONSTRAINT [GlobalAlertToDHCP_FK1] FOREIGN KEY([GLOBALID])
REFERENCES [dbo].[GlobalAlertView] ([ID])
GO
ALTER TABLE [dbo].[GlobalAlertToDHCP] CHECK CONSTRAINT [GlobalAlertToDHCP_FK1]
GO
ALTER TABLE [dbo].[GlobalAlertToDHCP]  WITH CHECK ADD  CONSTRAINT [GlobalAlertToDHCP_FK2] FOREIGN KEY([ALERTID])
REFERENCES [dbo].[DHCPAlerts] ([ALERTID])
GO
ALTER TABLE [dbo].[GlobalAlertToDHCP] CHECK CONSTRAINT [GlobalAlertToDHCP_FK2]
GO
