USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NBA_Alert_Filter]    Script Date: 6/29/2019 5:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_Alert_Filter](
	[FID] [int] NOT NULL,
	[PROFILE_ID] [int] NOT NULL,
	[STMID] [int] NOT NULL,
	[PROBLEM] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[DESP] [varchar](500) NULL,
 CONSTRAINT [NBA_Alert_Filter_PK] PRIMARY KEY CLUSTERED 
(
	[FID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1968672681]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1968672681] ON [dbo].[NBA_Alert_Filter]
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NBA_Alert_Filter] ADD  DEFAULT ('-1') FOR [STMID]
GO
ALTER TABLE [dbo].[NBA_Alert_Filter] ADD  DEFAULT ('1') FOR [STATUS]
GO
ALTER TABLE [dbo].[NBA_Alert_Filter]  WITH CHECK ADD  CONSTRAINT [NBA_Alert_Filter_FK] FOREIGN KEY([PROFILE_ID])
REFERENCES [dbo].[NBA_AlertProfile] ([PROFILE_ID])
GO
ALTER TABLE [dbo].[NBA_Alert_Filter] CHECK CONSTRAINT [NBA_Alert_Filter_FK]
GO
