USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DHCPAlerts]    Script Date: 6/29/2019 5:47:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHCPAlerts](
	[ALERTID] [bigint] NOT NULL,
	[SCOPE_ID] [bigint] NOT NULL,
	[TYPE] [int] NOT NULL,
	[MESSAGE] [varchar](150) NOT NULL,
	[LASTUPDATETIME] [datetime] NOT NULL,
 CONSTRAINT [DHCPAlerts_PK] PRIMARY KEY CLUSTERED 
(
	[ALERTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1995562699]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1995562699] ON [dbo].[DHCPAlerts]
(
	[SCOPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DHCPAlerts]  WITH CHECK ADD  CONSTRAINT [DHCPAlerts_FK1] FOREIGN KEY([SCOPE_ID])
REFERENCES [dbo].[DHCPScope] ([SCOPE_ID])
GO
ALTER TABLE [dbo].[DHCPAlerts] CHECK CONSTRAINT [DHCPAlerts_FK1]
GO
