USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PeriodicSchedule]    Script Date: 6/29/2019 5:50:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeriodicSchedule](
	[PS_SCHEDULEID] [bigint] NOT NULL,
	[PS_STARTDATE] [datetime] NULL,
	[PS_ENDDATE] [datetime] NULL,
	[PS_TIMEPERIOD] [bigint] NOT NULL,
	[PS_UNITOFTIME] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PS_SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PeriodicSchedule]  WITH CHECK ADD  CONSTRAINT [PS_FK1] FOREIGN KEY([PS_SCHEDULEID])
REFERENCES [dbo].[OPMSchedule] ([S_SCHEDULEID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PeriodicSchedule] CHECK CONSTRAINT [PS_FK1]
GO
