USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NETFLOWDEVICESLIST]    Script Date: 6/29/2019 5:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NETFLOWDEVICESLIST](
	[ROUTER_ID] [int] NOT NULL,
	[ROUTER_DISPLAYNAME] [varchar](100) NOT NULL,
	[ROUTER_IP] [varchar](255) NOT NULL,
	[NBAR_SUPPORTED] [int] NOT NULL,
	[FLOW_TYPE] [int] NOT NULL,
	[QOS_STATUS] [int] NOT NULL,
	[INTF_ROUTER_ID] [int] NOT NULL,
	[INTERFACE_ID] [int] NOT NULL,
	[LINK_NAME] [varchar](200) NULL,
	[SPEED] [bigint] NOT NULL,
	[INTERFACE_INDEX] [int] NOT NULL,
	[STATE] [int] NOT NULL,
	[POLL_STATE] [int] NOT NULL,
	[NBAR_STATE] [int] NOT NULL,
	[QOS_POLL_STATE] [int] NOT NULL,
	[INTERFACE_TYPE] [int] NOT NULL,
	[NBA_STATUS] [int] NOT NULL,
	[LASTUPDATEDTIME] [datetime] NULL,
	[PROBEID] [bigint] NULL,
	[UNIQUEID] [bigint] NOT NULL,
 CONSTRAINT [NETFLOWDEVICESLIST_PK] PRIMARY KEY CLUSTERED 
(
	[UNIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NETFLOWDEVICESLIST] ADD  DEFAULT ('2') FOR [NBAR_SUPPORTED]
GO
ALTER TABLE [dbo].[NETFLOWDEVICESLIST] ADD  DEFAULT ('0') FOR [FLOW_TYPE]
GO
ALTER TABLE [dbo].[NETFLOWDEVICESLIST] ADD  DEFAULT ('2') FOR [QOS_STATUS]
GO
ALTER TABLE [dbo].[NETFLOWDEVICESLIST] ADD  DEFAULT ('1000000') FOR [SPEED]
GO
ALTER TABLE [dbo].[NETFLOWDEVICESLIST] ADD  DEFAULT ('1') FOR [POLL_STATE]
GO
ALTER TABLE [dbo].[NETFLOWDEVICESLIST] ADD  DEFAULT ('2') FOR [NBAR_STATE]
GO
ALTER TABLE [dbo].[NETFLOWDEVICESLIST] ADD  DEFAULT ('1') FOR [QOS_POLL_STATE]
GO
ALTER TABLE [dbo].[NETFLOWDEVICESLIST] ADD  DEFAULT ('0') FOR [INTERFACE_TYPE]
GO
ALTER TABLE [dbo].[NETFLOWDEVICESLIST] ADD  DEFAULT ('0') FOR [NBA_STATUS]
GO
ALTER TABLE [dbo].[NETFLOWDEVICESLIST] ADD  DEFAULT ('0') FOR [PROBEID]
GO
