USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SYSLOGRULESLIST]    Script Date: 6/29/2019 5:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSLOGRULESLIST](
	[RULEID] [bigint] NOT NULL,
	[RULENAME] [varchar](150) NOT NULL,
	[DESCRIPTION] [varchar](4000) NOT NULL,
	[FACILITYID] [int] NOT NULL,
	[EMERGENCY] [bit] NOT NULL,
	[ALERT] [bit] NOT NULL,
	[CRITICAL] [bit] NOT NULL,
	[ERROR] [bit] NOT NULL,
	[WARNING] [bit] NOT NULL,
	[NOTICE] [bit] NOT NULL,
	[INFORMATION] [bit] NOT NULL,
	[DEBUG] [bit] NOT NULL,
	[MATCHSTRING] [varchar](255) NOT NULL,
	[ALERTSEVERITY] [int] NOT NULL,
	[ALARMMESSAGE] [varchar](255) NOT NULL,
 CONSTRAINT [SYSLOGRULESLIST_PK1] PRIMARY KEY CLUSTERED 
(
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_324128459]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_324128459] ON [dbo].[SYSLOGRULESLIST]
(
	[FACILITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SYSLOGRULESLIST] ADD  DEFAULT ((0)) FOR [EMERGENCY]
GO
ALTER TABLE [dbo].[SYSLOGRULESLIST] ADD  DEFAULT ((0)) FOR [ALERT]
GO
ALTER TABLE [dbo].[SYSLOGRULESLIST] ADD  DEFAULT ((0)) FOR [CRITICAL]
GO
ALTER TABLE [dbo].[SYSLOGRULESLIST] ADD  DEFAULT ((0)) FOR [ERROR]
GO
ALTER TABLE [dbo].[SYSLOGRULESLIST] ADD  DEFAULT ((0)) FOR [WARNING]
GO
ALTER TABLE [dbo].[SYSLOGRULESLIST] ADD  DEFAULT ((0)) FOR [NOTICE]
GO
ALTER TABLE [dbo].[SYSLOGRULESLIST] ADD  DEFAULT ((0)) FOR [INFORMATION]
GO
ALTER TABLE [dbo].[SYSLOGRULESLIST] ADD  DEFAULT ((0)) FOR [DEBUG]
GO
ALTER TABLE [dbo].[SYSLOGRULESLIST]  WITH CHECK ADD  CONSTRAINT [SYSLOGRULESLIST_FK1] FOREIGN KEY([FACILITYID])
REFERENCES [dbo].[SYSLOGFACILITIES] ([FACILITYID])
GO
ALTER TABLE [dbo].[SYSLOGRULESLIST] CHECK CONSTRAINT [SYSLOGRULESLIST_FK1]
GO
