USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WidgetDataSource]    Script Date: 6/29/2019 5:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WidgetDataSource](
	[DATASOURCEID] [bigint] NOT NULL,
	[DATASOURCENAME] [varchar](100) NOT NULL,
	[CLASSNAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
 CONSTRAINT [WidgetDataSource_PK] PRIMARY KEY CLUSTERED 
(
	[DATASOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [WidgetDataSource_UK0] UNIQUE NONCLUSTERED 
(
	[DATASOURCENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [WidgetDataSource_UK1] UNIQUE NONCLUSTERED 
(
	[CLASSNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
