USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Reg_Expr_Split_List]    Script Date: 6/29/2019 5:50:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reg_Expr_Split_List](
	[LIST_ID] [bigint] NOT NULL,
	[PATTERN_EXPR_ID] [bigint] NOT NULL,
	[CHAR_SEQUENCE_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[MATCH_COUNT] [int] NOT NULL,
 CONSTRAINT [Reg_Expr_List_PK] PRIMARY KEY CLUSTERED 
(
	[LIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__128116885]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__128116885] ON [dbo].[Reg_Expr_Split_List]
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__128116886]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__128116886] ON [dbo].[Reg_Expr_Split_List]
(
	[CHAR_SEQUENCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__696869465]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__696869465] ON [dbo].[Reg_Expr_Split_List]
(
	[LIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reg_Expr_Split_List] ADD  DEFAULT ('0') FOR [MATCH_COUNT]
GO
ALTER TABLE [dbo].[Reg_Expr_Split_List]  WITH CHECK ADD  CONSTRAINT [Reg_Expr_List_FK] FOREIGN KEY([LIST_ID])
REFERENCES [dbo].[Array_List] ([LIST_ID])
GO
ALTER TABLE [dbo].[Reg_Expr_Split_List] CHECK CONSTRAINT [Reg_Expr_List_FK]
GO
ALTER TABLE [dbo].[Reg_Expr_Split_List]  WITH CHECK ADD  CONSTRAINT [Reg_Expr_List_FK1] FOREIGN KEY([CHAR_SEQUENCE_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Reg_Expr_Split_List] CHECK CONSTRAINT [Reg_Expr_List_FK1]
GO
ALTER TABLE [dbo].[Reg_Expr_Split_List]  WITH CHECK ADD  CONSTRAINT [Reg_Expr_List_FK2] FOREIGN KEY([PATTERN_EXPR_ID])
REFERENCES [dbo].[Pattern_Expressions] ([PATTERN_EXPR_ID])
GO
ALTER TABLE [dbo].[Reg_Expr_Split_List] CHECK CONSTRAINT [Reg_Expr_List_FK2]
GO
