USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[QosIdGen]    Script Date: 6/29/2019 5:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QosIdGen](
	[POLICY_ID] [int] NOT NULL,
	[ROUTER_ID] [int] NOT NULL,
	[INTERFACE_ID] [int] NOT NULL,
 CONSTRAINT [QosIdGen_PK] PRIMARY KEY CLUSTERED 
(
	[POLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1508871975]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1508871975] ON [dbo].[QosIdGen]
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1508871976]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1508871976] ON [dbo].[QosIdGen]
(
	[INTERFACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QosIdGen]  WITH CHECK ADD  CONSTRAINT [QosConfigPolicyDetails_FK2] FOREIGN KEY([ROUTER_ID])
REFERENCES [dbo].[NetFlow_Router] ([ROUTER_ID])
GO
ALTER TABLE [dbo].[QosIdGen] CHECK CONSTRAINT [QosConfigPolicyDetails_FK2]
GO
ALTER TABLE [dbo].[QosIdGen]  WITH CHECK ADD  CONSTRAINT [QosConfigPolicyDetails_FK3] FOREIGN KEY([INTERFACE_ID])
REFERENCES [dbo].[NetFlow_Interface] ([INTERFACE_ID])
GO
ALTER TABLE [dbo].[QosIdGen] CHECK CONSTRAINT [QosConfigPolicyDetails_FK3]
GO
