USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[InterfaceGroup]    Script Date: 6/29/2019 5:48:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterfaceGroup](
	[INTERFACEGROUPID] [bigint] NOT NULL,
 CONSTRAINT [IntfGrp_PK] PRIMARY KEY CLUSTERED 
(
	[INTERFACEGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
