USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMVendorDevice]    Script Date: 6/29/2019 5:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMVendorDevice](
	[DEVICETEMPLATEID] [bigint] NOT NULL,
	[VENDORID] [bigint] NOT NULL,
 CONSTRAINT [NCMVendorDevice_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICETEMPLATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_461425507]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_461425507] ON [dbo].[NCMVendorDevice]
(
	[DEVICETEMPLATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_461425508]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_461425508] ON [dbo].[NCMVendorDevice]
(
	[VENDORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMVendorDevice]  WITH CHECK ADD  CONSTRAINT [NCMVendorDevice_FK1] FOREIGN KEY([DEVICETEMPLATEID])
REFERENCES [dbo].[NCMDeviceTemplate] ([DEVICETEMPLATEID])
GO
ALTER TABLE [dbo].[NCMVendorDevice] CHECK CONSTRAINT [NCMVendorDevice_FK1]
GO
ALTER TABLE [dbo].[NCMVendorDevice]  WITH CHECK ADD  CONSTRAINT [NCMVendorDevice_FK2] FOREIGN KEY([VENDORID])
REFERENCES [dbo].[NCMVendor] ([VENDORID])
GO
ALTER TABLE [dbo].[NCMVendorDevice] CHECK CONSTRAINT [NCMVendorDevice_FK2]
GO
