USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNXDisk]    Script Date: 6/29/2019 5:52:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNXDisk](
	[RAID_ID] [bigint] NOT NULL,
	[DISK_ID] [varchar](250) NOT NULL,
	[DISK_MOID] [bigint] NOT NULL,
	[DISK_NAME] [varchar](250) NOT NULL,
	[SIZE] [varchar](250) NOT NULL,
	[STORAGE_DEVICE_ID] [varchar](250) NOT NULL,
	[DISK_TYPE] [varchar](250) NOT NULL,
	[DISK_IN_USE] [varchar](250) NULL,
	[SERVERS] [varchar](250) NULL,
 CONSTRAINT [VNXDisk_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1178044953]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1178044953] ON [dbo].[VNXDisk]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2135312171]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2135312171] ON [dbo].[VNXDisk]
(
	[DISK_MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNXDisk]  WITH CHECK ADD  CONSTRAINT [VNXDisk_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXDisk] CHECK CONSTRAINT [VNXDisk_FK]
GO
ALTER TABLE [dbo].[VNXDisk]  WITH CHECK ADD  CONSTRAINT [VNXDisk_FK2] FOREIGN KEY([DISK_MOID])
REFERENCES [dbo].[SANDiskDrive] ([DISK_ID])
GO
ALTER TABLE [dbo].[VNXDisk] CHECK CONSTRAINT [VNXDisk_FK2]
GO
