USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CienaSwitch]    Script Date: 6/29/2019 5:46:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CienaSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[CLEI_CODE] [varchar](150) NOT NULL,
 CONSTRAINT [CienaSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1563817139]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1563817139] ON [dbo].[CienaSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CienaSwitch] ADD  DEFAULT ('Not Available') FOR [CLEI_CODE]
GO
ALTER TABLE [dbo].[CienaSwitch]  WITH CHECK ADD  CONSTRAINT [CienaSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CienaSwitch] CHECK CONSTRAINT [CienaSwitch_FK1]
GO
