USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IpslaVoipCodecConstants]    Script Date: 6/29/2019 5:48:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpslaVoipCodecConstants](
	[CODECID] [int] NOT NULL,
	[CODEC_DISPLAYTEXT] [varchar](20) NOT NULL,
	[CODEC_DESCRIPTION] [varchar](150) NOT NULL,
	[REQUEST_SIZE] [int] NOT NULL,
	[INTERPACKET_INTERVAL] [int] NOT NULL,
	[OPERATION_FREQUENCY] [int] NOT NULL,
	[CODEC_SPEED] [varchar](20) NOT NULL,
 CONSTRAINT [IpslaVoipCodecConstants_PK] PRIMARY KEY CLUSTERED 
(
	[CODECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
