USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CustomSnapAssociation]    Script Date: 6/29/2019 5:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomSnapAssociation](
	[ASSOCIATIONID] [bigint] NOT NULL,
	[ONDEMAND] [bit] NOT NULL,
	[ENABLED] [bit] NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[DEVICEID] [bigint] NOT NULL,
 CONSTRAINT [CustomSnapAssociation_PK] PRIMARY KEY CLUSTERED 
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__932951341]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__932951341] ON [dbo].[CustomSnapAssociation]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomSnapAssociation] ADD  DEFAULT ((0)) FOR [ONDEMAND]
GO
ALTER TABLE [dbo].[CustomSnapAssociation] ADD  DEFAULT ((1)) FOR [ENABLED]
GO
ALTER TABLE [dbo].[CustomSnapAssociation]  WITH CHECK ADD  CONSTRAINT [CustomSnapAssociation_FK1] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[SnapshotAssociation] ([ASSOCIATIONID])
GO
ALTER TABLE [dbo].[CustomSnapAssociation] CHECK CONSTRAINT [CustomSnapAssociation_FK1]
GO
