USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Workflow_Unit_PIDX]    Script Date: 6/29/2019 5:53:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workflow_Unit_PIDX](
	[WORKFLOW_UNIT_ID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](40) NOT NULL,
 CONSTRAINT [Workflow_Unit_PIDX_PK] PRIMARY KEY CLUSTERED 
(
	[WORKFLOW_UNIT_ID] ASC,
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1200507204]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1200507204] ON [dbo].[Workflow_Unit_PIDX]
(
	[WORKFLOW_UNIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Workflow_Unit_PIDX]  WITH CHECK ADD  CONSTRAINT [Workflow_Unit_PIDX_FK] FOREIGN KEY([WORKFLOW_UNIT_ID])
REFERENCES [dbo].[Workflow_Unit] ([WORKFLOW_UNIT_ID])
GO
ALTER TABLE [dbo].[Workflow_Unit_PIDX] CHECK CONSTRAINT [Workflow_Unit_PIDX_FK]
GO
