USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Print_Log_Expr]    Script Date: 6/29/2019 5:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Print_Log_Expr](
	[PRINT_ID] [bigint] NOT NULL,
	[SEQUENCE_NUMBER] [int] NOT NULL,
	[EXPRESSION_ID] [bigint] NOT NULL,
	[EXPRESSION_DATA] [varbinary](max) NOT NULL,
 CONSTRAINT [WorkEngine_Log_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[PRINT_ID] ASC,
	[SEQUENCE_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__167875672]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__167875672] ON [dbo].[Print_Log_Expr]
(
	[PRINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Print_Log_Expr]  WITH CHECK ADD  CONSTRAINT [WorkEngine_Log_Expr_FK] FOREIGN KEY([PRINT_ID])
REFERENCES [dbo].[Print_Log] ([PRINT_ID])
GO
ALTER TABLE [dbo].[Print_Log_Expr] CHECK CONSTRAINT [WorkEngine_Log_Expr_FK]
GO
