USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FilterDetails]    Script Date: 6/29/2019 5:47:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterDetails](
	[FILTER_ID] [bigint] NOT NULL,
	[FILTER_NAME] [varchar](100) NOT NULL,
	[TYPE] [varchar](100) NOT NULL,
 CONSTRAINT [FilterDetails_PK] PRIMARY KEY CLUSTERED 
(
	[FILTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
