USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TCPServicesDefinition]    Script Date: 6/29/2019 5:52:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCPServicesDefinition](
	[SERVICENAME] [varchar](250) NOT NULL,
	[PORTNUMBER] [int] NOT NULL,
	[TIMEOUT] [int] NOT NULL,
	[FAILURETHRESHOLD] [int] NOT NULL,
	[AUTODISCOVERY] [bit] NOT NULL,
	[CLASSNAME] [varchar](255) NOT NULL,
	[DISCOVERYCLASSNAME] [varchar](255) NOT NULL,
 CONSTRAINT [TCPServicesDefinition_PK1] PRIMARY KEY CLUSTERED 
(
	[SERVICENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
