USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMTemplate]    Script Date: 6/29/2019 5:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMTemplate](
	[TEMPLATE_ID] [int] NOT NULL,
	[TEMPLATE_NAME] [varchar](100) NOT NULL,
	[TEMPLATE_TYPE] [varchar](30) NOT NULL,
	[OWNER_NAME] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[DESCRIPTION] [varchar](4000) NOT NULL,
	[TEMPLATE_CONTENTS] [varbinary](max) NOT NULL,
	[BACKUP_ENABLED] [bit] NOT NULL,
 CONSTRAINT [NCMTemplate_PK] PRIMARY KEY CLUSTERED 
(
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMTemplate_UK0] UNIQUE NONCLUSTERED 
(
	[TEMPLATE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMTemplate] ADD  DEFAULT ('TFTP_FILE_TRANSFER_MODE') FOR [TEMPLATE_TYPE]
GO
ALTER TABLE [dbo].[NCMTemplate] ADD  DEFAULT ((1)) FOR [BACKUP_ENABLED]
GO
