USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMBulkExecution]    Script Date: 6/29/2019 5:49:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMBulkExecution](
	[EXECUTION_ID] [bigint] NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](200) NOT NULL,
	[LOGIN_NAME] [varchar](100) NOT NULL,
	[STATUS] [varchar](15) NOT NULL,
	[START_TIME] [datetime] NOT NULL,
	[END_TIME] [datetime] NOT NULL,
 CONSTRAINT [NCMBulkExecution_PK] PRIMARY KEY CLUSTERED 
(
	[EXECUTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
