USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetworkMonitor]    Script Date: 6/29/2019 5:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkMonitor](
	[IPADDRESS] [varchar](15) NOT NULL,
	[ADDRINLONG] [bigint] NULL,
	[DNS] [varchar](150) NULL,
	[LAST_UPDATE_TIME] [datetime] NULL,
	[RESPONSETIME] [varchar](15) NULL,
	[RESPONSETIME_NUM] [float] NOT NULL,
	[ALERT_ID] [varchar](25) NOT NULL,
	[ADDEDTIME] [datetime] NOT NULL,
	[STATUS] [int] NULL,
	[SCHEDULE_STATUS] [int] NOT NULL,
	[CHANGE_STATUS] [int] NOT NULL,
	[POLL_COUNT] [int] NOT NULL,
	[COMMUNITY] [varchar](100) NULL,
	[ALIAS_NAME] [varchar](100) NULL,
	[CREDENTIALID] [bigint] NULL,
 CONSTRAINT [NetworkMonitor_PK] PRIMARY KEY CLUSTERED 
(
	[IPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__790216519]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__790216519] ON [dbo].[NetworkMonitor]
(
	[ALERT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetworkMonitor] ADD  DEFAULT ('0.0') FOR [RESPONSETIME_NUM]
GO
ALTER TABLE [dbo].[NetworkMonitor] ADD  DEFAULT ('1') FOR [SCHEDULE_STATUS]
GO
ALTER TABLE [dbo].[NetworkMonitor] ADD  DEFAULT ('1') FOR [CHANGE_STATUS]
GO
ALTER TABLE [dbo].[NetworkMonitor] ADD  DEFAULT ('1') FOR [POLL_COUNT]
GO
ALTER TABLE [dbo].[NetworkMonitor]  WITH CHECK ADD  CONSTRAINT [NetworkMonitor_FK1] FOREIGN KEY([ALERT_ID])
REFERENCES [dbo].[AlertConfig] ([NAME])
GO
ALTER TABLE [dbo].[NetworkMonitor] CHECK CONSTRAINT [NetworkMonitor_FK1]
GO
