USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[JuniperDeviceGeneric]    Script Date: 6/29/2019 5:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JuniperDeviceGeneric](
	[MODEL] [varchar](25) NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
 CONSTRAINT [JuniperDeviceGeneric_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_583951159]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_583951159] ON [dbo].[JuniperDeviceGeneric]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JuniperDeviceGeneric] ADD  DEFAULT ('Not Available') FOR [MODEL]
GO
ALTER TABLE [dbo].[JuniperDeviceGeneric]  WITH CHECK ADD  CONSTRAINT [JuniperDeviceGeneric_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[JuniperDeviceGeneric] CHECK CONSTRAINT [JuniperDeviceGeneric_FK1]
GO
