USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FileMonitorRuleList]    Script Date: 6/29/2019 5:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileMonitorRuleList](
	[ID] [bigint] NOT NULL,
	[CRITERIAID] [bigint] NOT NULL,
 CONSTRAINT [FileMonitorRuleList_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[CRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1316492474]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1316492474] ON [dbo].[FileMonitorRuleList]
(
	[CRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1316492475]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1316492475] ON [dbo].[FileMonitorRuleList]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FileMonitorRuleList]  WITH CHECK ADD  CONSTRAINT [FileMonitorRuleList_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[COMMONPOLLEDDATAID] ([COMMONPOLLID])
GO
ALTER TABLE [dbo].[FileMonitorRuleList] CHECK CONSTRAINT [FileMonitorRuleList_FK1]
GO
ALTER TABLE [dbo].[FileMonitorRuleList]  WITH CHECK ADD  CONSTRAINT [FileMonitorRuleList_FK2] FOREIGN KEY([CRITERIAID])
REFERENCES [dbo].[ProfileCriteria] ([CRITERIAID])
GO
ALTER TABLE [dbo].[FileMonitorRuleList] CHECK CONSTRAINT [FileMonitorRuleList_FK2]
GO
