USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[INTFLOGICALGROUPTHRESHOLD]    Script Date: 6/29/2019 5:48:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTFLOGICALGROUPTHRESHOLD](
	[GROUPID] [bigint] NOT NULL,
	[POLLINTERVAL] [bigint] NULL,
	[FAILURETHRESHOLD] [bigint] NULL,
	[INTFENABLE] [bit] NULL,
	[STATUSPOLLENABLE] [bit] NULL,
	[STATUSPOLLFT] [int] NULL,
	[UTILTHENABLE] [bit] NULL,
	[ERRTHENABLE] [bit] NULL,
	[DISCTHENABLE] [bit] NULL,
 CONSTRAINT [INTFLOGICALGROUPTHRESHOLD_PK] PRIMARY KEY CLUSTERED 
(
	[GROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1255115174]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1255115174] ON [dbo].[INTFLOGICALGROUPTHRESHOLD]
(
	[GROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INTFLOGICALGROUPTHRESHOLD] ADD  DEFAULT ((1)) FOR [INTFENABLE]
GO
ALTER TABLE [dbo].[INTFLOGICALGROUPTHRESHOLD] ADD  DEFAULT ((1)) FOR [STATUSPOLLENABLE]
GO
ALTER TABLE [dbo].[INTFLOGICALGROUPTHRESHOLD] ADD  DEFAULT ('1') FOR [STATUSPOLLFT]
GO
ALTER TABLE [dbo].[INTFLOGICALGROUPTHRESHOLD] ADD  DEFAULT ((1)) FOR [UTILTHENABLE]
GO
ALTER TABLE [dbo].[INTFLOGICALGROUPTHRESHOLD] ADD  DEFAULT ((1)) FOR [ERRTHENABLE]
GO
ALTER TABLE [dbo].[INTFLOGICALGROUPTHRESHOLD] ADD  DEFAULT ((1)) FOR [DISCTHENABLE]
GO
ALTER TABLE [dbo].[INTFLOGICALGROUPTHRESHOLD]  WITH CHECK ADD  CONSTRAINT [INTFLOGICALGROUPTHRESHOLD_FK] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[LOGICALGROUP] ([GROUPID])
GO
ALTER TABLE [dbo].[INTFLOGICALGROUPTHRESHOLD] CHECK CONSTRAINT [INTFLOGICALGROUPTHRESHOLD_FK]
GO
