USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPUIPage]    Script Date: 6/29/2019 5:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPUIPage](
	[PAGE_ID] [bigint] NOT NULL,
	[MODULE_NAME] [varchar](200) NOT NULL,
	[PAGE_NAME] [varchar](100) NOT NULL,
	[PAGE_DESC] [varchar](250) NOT NULL,
 CONSTRAINT [OPUIPage_PK] PRIMARY KEY CLUSTERED 
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [OPUIPage_UK0] UNIQUE NONCLUSTERED 
(
	[PAGE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
