USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARNodeBattery]    Script Date: 6/29/2019 5:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARNodeBattery](
	[NODE_ID] [bigint] NOT NULL,
	[BATTERY_ID] [varchar](250) NOT NULL,
	[BATTERY_DISPLAY_NAME] [varchar](250) NOT NULL,
	[MANUFACTURER] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NOT NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[MANUFACTURING_DATE] [varchar](250) NOT NULL,
	[EXPIRATION_DATE] [varchar](250) NOT NULL,
	[POSITION] [varchar](250) NOT NULL,
	[MAX_LIFE_LOW] [varchar](250) NOT NULL,
	[OPERATIONAL_STATUS] [varchar](250) NOT NULL,
	[BATTERY_STATUS] [varchar](250) NOT NULL,
	[ESTIMATED_RUN_TIME] [varchar](250) NOT NULL,
	[MAX_RECHARGE_TIME] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARNodeBattery_PK] PRIMARY KEY CLUSTERED 
(
	[NODE_ID] ASC,
	[BATTERY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1186150929]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1186150929] ON [dbo].[HP3PARNodeBattery]
(
	[NODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARNodeBattery]  WITH CHECK ADD  CONSTRAINT [HP3PARNodeBattery_FK] FOREIGN KEY([NODE_ID])
REFERENCES [dbo].[HP3PARNode] ([NODE_ID])
GO
ALTER TABLE [dbo].[HP3PARNodeBattery] CHECK CONSTRAINT [HP3PARNodeBattery_FK]
GO
