USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AnomalyFilters]    Script Date: 6/29/2019 5:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnomalyFilters](
	[AF_ID] [bigint] NOT NULL,
	[FILTER_NAME] [nvarchar](60) NOT NULL,
	[NOTIFICATION_METHOD] [nvarchar](25) NULL,
	[HITS] [bigint] NULL,
	[CRITICALITY] [nvarchar](25) NULL,
	[OWNER_NAME] [nvarchar](40) NULL,
	[REPORT_TYPE] [nvarchar](24) NOT NULL,
	[SUB_REPORT_TYPE] [nvarchar](24) NOT NULL,
	[SUB_CRITERIA_TYPE] [nvarchar](24) NULL,
	[CONDI] [nvarchar](24) NULL,
	[SUM_THRESHOLD] [int] NOT NULL,
	[SUM_THRESHOLD_UNIT] [nvarchar](8) NOT NULL,
	[TIME_THRESHOLD] [nvarchar](16) NOT NULL,
	[QUERY_INTERVAL] [nvarchar](16) NOT NULL,
	[NOTI_FREQUENCY] [int] NOT NULL,
	[QUERY] [nvarchar](1024) NOT NULL,
	[ENABLED] [bit] NULL,
	[ADV_NOTIFIER] [nvarchar](40) NULL,
 CONSTRAINT [AnomalyFilters_PK] PRIMARY KEY CLUSTERED 
(
	[AF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AnomalyFilters_UK1] UNIQUE NONCLUSTERED 
(
	[FILTER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnomalyFilters] ADD  DEFAULT ('0') FOR [HITS]
GO
ALTER TABLE [dbo].[AnomalyFilters] ADD  DEFAULT ('-') FOR [OWNER_NAME]
GO
ALTER TABLE [dbo].[AnomalyFilters] ADD  DEFAULT ('1') FOR [NOTI_FREQUENCY]
GO
