USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ColumnDetails]    Script Date: 6/29/2019 5:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColumnDetails](
	[COLUMN_ID] [bigint] NOT NULL,
	[TABLE_ID] [bigint] NOT NULL,
	[COLUMN_NAME] [varchar](150) NOT NULL,
	[DATA_TYPE] [varchar](50) NOT NULL,
	[ISNULLABLE] [bit] NOT NULL,
	[ISUNIQUE] [bit] NOT NULL,
	[GENERATOR_NAME] [varchar](250) NULL,
	[NAME_COLUMN] [varchar](150) NULL,
	[COLUMN_DESC] [varchar](1000) NULL,
	[DEFAULT_VALUE] [varchar](255) NULL,
	[MAX_SIZE] [int] NULL,
	[DISPLAY_NAME] [varchar](150) NULL,
	[SQL_TYPE] [int] NULL,
	[IS_INSTANCESPECIFIC_SEQGEN] [bit] NOT NULL,
 CONSTRAINT [ColumnDetails_PK] PRIMARY KEY CLUSTERED 
(
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ColumnDetails_UK0]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [ColumnDetails_UK0] ON [dbo].[ColumnDetails]
(
	[GENERATOR_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__737606855]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__737606855] ON [dbo].[ColumnDetails]
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ColumnDetails] ADD  DEFAULT ((0)) FOR [ISNULLABLE]
GO
ALTER TABLE [dbo].[ColumnDetails] ADD  DEFAULT ((0)) FOR [ISUNIQUE]
GO
ALTER TABLE [dbo].[ColumnDetails] ADD  DEFAULT ((0)) FOR [IS_INSTANCESPECIFIC_SEQGEN]
GO
ALTER TABLE [dbo].[ColumnDetails]  WITH CHECK ADD  CONSTRAINT [ColumnDetails_FK1] FOREIGN KEY([TABLE_ID])
REFERENCES [dbo].[TableDetails] ([TABLE_ID])
GO
ALTER TABLE [dbo].[ColumnDetails] CHECK CONSTRAINT [ColumnDetails_FK1]
GO
