USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMUserDevicesInfo]    Script Date: 6/29/2019 5:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMUserDevicesInfo](
	[LOGIN_ID] [bigint] NOT NULL,
	[QUERY_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMUserDevicesInfo_PK] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2093597354]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2093597354] ON [dbo].[NCMUserDevicesInfo]
(
	[QUERY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2093597355]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2093597355] ON [dbo].[NCMUserDevicesInfo]
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMUserDevicesInfo]  WITH CHECK ADD  CONSTRAINT [NCMUserDevicesInfo_FK1] FOREIGN KEY([LOGIN_ID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[NCMUserDevicesInfo] CHECK CONSTRAINT [NCMUserDevicesInfo_FK1]
GO
ALTER TABLE [dbo].[NCMUserDevicesInfo]  WITH CHECK ADD  CONSTRAINT [NCMUserDevicesInfo_FK2] FOREIGN KEY([QUERY_ID])
REFERENCES [dbo].[SelectQuery] ([QUERYID])
GO
ALTER TABLE [dbo].[NCMUserDevicesInfo] CHECK CONSTRAINT [NCMUserDevicesInfo_FK2]
GO
