USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarSlammerChassis]    Script Date: 6/29/2019 5:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarSlammerChassis](
	[SLAMMER_DEVICE_ID] [bigint] NOT NULL,
	[SLAMMER_INSTANCE] [int] NOT NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[PART_NUMBER] [varchar](250) NULL,
 CONSTRAINT [PillarSlammerChassis_PK] PRIMARY KEY CLUSTERED 
(
	[SLAMMER_DEVICE_ID] ASC,
	[SERIAL_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1569879209]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1569879209] ON [dbo].[PillarSlammerChassis]
(
	[SLAMMER_DEVICE_ID] ASC,
	[SLAMMER_INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarSlammerChassis]  WITH CHECK ADD  CONSTRAINT [PillarSlammerChassis_FK] FOREIGN KEY([SLAMMER_DEVICE_ID], [SLAMMER_INSTANCE])
REFERENCES [dbo].[PillarSlammer] ([SLAMMER_DEVICE_ID], [INSTANCE])
GO
ALTER TABLE [dbo].[PillarSlammerChassis] CHECK CONSTRAINT [PillarSlammerChassis_FK]
GO
