USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Portlet]    Script Date: 6/29/2019 5:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portlet](
	[ID] [nvarchar](250) NOT NULL,
	[DISPLAYNAME] [nvarchar](250) NULL,
	[STATE] [nvarchar](50) NOT NULL,
	[MODULE] [nvarchar](50) NOT NULL,
	[USER_ID] [bigint] NOT NULL,
 CONSTRAINT [Portlet_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1723260598]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1723260598] ON [dbo].[Portlet]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Portlet]  WITH CHECK ADD  CONSTRAINT [Portlet_FK] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[Portlet] CHECK CONSTRAINT [Portlet_FK]
GO
