USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARReplicationGroup]    Script Date: 6/29/2019 5:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARReplicationGroup](
	[RAID_ID] [bigint] NOT NULL,
	[RG_NAME] [varchar](150) NOT NULL,
	[RG_DESCRIPTION] [varchar](500) NOT NULL,
	[IS_PERSISTENT] [varchar](250) NOT NULL,
	[DELETE_ON_EMPTY] [varchar](250) NOT NULL,
	[DELETE_ON_UNASSOCIATION] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARReplicationGroup_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[RG_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__345685477]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__345685477] ON [dbo].[HP3PARReplicationGroup]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARReplicationGroup]  WITH CHECK ADD  CONSTRAINT [HP3PARReplicationGroup_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[HP3PARRaid] ([RAID_ID])
GO
ALTER TABLE [dbo].[HP3PARReplicationGroup] CHECK CONSTRAINT [HP3PARReplicationGroup_FK]
GO
