USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ZXRRouterZSR]    Script Date: 6/29/2019 5:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZXRRouterZSR](
	[RESOURCEID] [bigint] NOT NULL,
	[ROS_VERSION] [varchar](150) NOT NULL,
 CONSTRAINT [ZXRRouterZSR_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__267159767]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__267159767] ON [dbo].[ZXRRouterZSR]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ZXRRouterZSR] ADD  DEFAULT ('Not Available') FOR [ROS_VERSION]
GO
ALTER TABLE [dbo].[ZXRRouterZSR]  WITH CHECK ADD  CONSTRAINT [ZXRRouterZSR_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ZXRRouterZSR] CHECK CONSTRAINT [ZXRRouterZSR_FK1]
GO
