USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PLUGINWIDGET]    Script Date: 6/29/2019 5:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLUGINWIDGET](
	[WIDGETID] [bigint] NOT NULL,
	[TYPEID] [bigint] NOT NULL,
	[GET] [varchar](250) NOT NULL,
	[SET] [varchar](250) NULL,
	[EDIT] [varchar](250) NULL,
 CONSTRAINT [PLUGINWIDGET_PK] PRIMARY KEY CLUSTERED 
(
	[WIDGETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__373814523]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__373814523] ON [dbo].[PLUGINWIDGET]
(
	[WIDGETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__373814524]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__373814524] ON [dbo].[PLUGINWIDGET]
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PLUGINWIDGET]  WITH CHECK ADD  CONSTRAINT [PLUGINWIDGET_FK1] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[PLUGINWIDGETTYPE] ([TYPEID])
GO
ALTER TABLE [dbo].[PLUGINWIDGET] CHECK CONSTRAINT [PLUGINWIDGET_FK1]
GO
ALTER TABLE [dbo].[PLUGINWIDGET]  WITH CHECK ADD  CONSTRAINT [PLUGINWIDGET_FK2] FOREIGN KEY([WIDGETID])
REFERENCES [dbo].[Widget] ([WIDGETID])
GO
ALTER TABLE [dbo].[PLUGINWIDGET] CHECK CONSTRAINT [PLUGINWIDGET_FK2]
GO
