USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMConfigAutomationInput]    Script Date: 6/29/2019 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMConfigAutomationInput](
	[INSTANCEID] [bigint] NOT NULL,
	[DOWNLOADTYPE] [varchar](50) NOT NULL,
 CONSTRAINT [NCMConfigAutomationInput_PK1] PRIMARY KEY CLUSTERED 
(
	[INSTANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2083642938]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2083642938] ON [dbo].[NCMConfigAutomationInput]
(
	[INSTANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMConfigAutomationInput]  WITH CHECK ADD  CONSTRAINT [NCMConfigAutomationInput_FK1] FOREIGN KEY([INSTANCEID])
REFERENCES [dbo].[Task_Input] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[NCMConfigAutomationInput] CHECK CONSTRAINT [NCMConfigAutomationInput_FK1]
GO
