USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TableOID]    Script Date: 6/29/2019 5:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableOID](
	[TABLE_ID] [bigint] NOT NULL,
	[GROUP_ID] [bigint] NOT NULL,
	[OID_ID] [bigint] NOT NULL,
 CONSTRAINT [TableOID_PK] PRIMARY KEY CLUSTERED 
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TableOID_UK1] UNIQUE NONCLUSTERED 
(
	[GROUP_ID] ASC,
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__783458166]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__783458166] ON [dbo].[TableOID]
(
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__783458167]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__783458167] ON [dbo].[TableOID]
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TableOID]  WITH CHECK ADD  CONSTRAINT [TableOID_FK1] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[SnmpGroup] ([GROUP_ID])
GO
ALTER TABLE [dbo].[TableOID] CHECK CONSTRAINT [TableOID_FK1]
GO
ALTER TABLE [dbo].[TableOID]  WITH CHECK ADD  CONSTRAINT [TableOID_FK2] FOREIGN KEY([OID_ID])
REFERENCES [dbo].[OIDModel] ([OID_ID])
GO
ALTER TABLE [dbo].[TableOID] CHECK CONSTRAINT [TableOID_FK2]
GO
