USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OIDToParentScalar]    Script Date: 6/29/2019 5:49:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OIDToParentScalar](
	[OID_ID] [bigint] NOT NULL,
	[PSID] [bigint] NOT NULL,
 CONSTRAINT [OIDToParentScalar_PK] PRIMARY KEY CLUSTERED 
(
	[PSID] ASC,
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__319310487]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__319310487] ON [dbo].[OIDToParentScalar]
(
	[PSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__319310488]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__319310488] ON [dbo].[OIDToParentScalar]
(
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OIDToParentScalar]  WITH CHECK ADD  CONSTRAINT [OIDToParentScalar_FK1] FOREIGN KEY([OID_ID])
REFERENCES [dbo].[OID_DATA] ([OID_ID])
GO
ALTER TABLE [dbo].[OIDToParentScalar] CHECK CONSTRAINT [OIDToParentScalar_FK1]
GO
ALTER TABLE [dbo].[OIDToParentScalar]  WITH CHECK ADD  CONSTRAINT [OIDToParentScalar_FK2] FOREIGN KEY([PSID])
REFERENCES [dbo].[ParentScalarOID] ([ID])
GO
ALTER TABLE [dbo].[OIDToParentScalar] CHECK CONSTRAINT [OIDToParentScalar_FK2]
GO
