USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CHASSISTOCONTROLLER]    Script Date: 6/29/2019 5:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHASSISTOCONTROLLER](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[CHASSIS_ID] [bigint] NOT NULL,
	[CONTROLLER_ID] [bigint] NOT NULL,
 CONSTRAINT [CHASSISTOCONTROLLER_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[CHASSIS_ID] ASC,
	[CONTROLLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CHASSISTOCONTROLLER_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_525241898]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_525241898] ON [dbo].[CHASSISTOCONTROLLER]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_525241899]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_525241899] ON [dbo].[CHASSISTOCONTROLLER]
(
	[CHASSIS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_525241900]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_525241900] ON [dbo].[CHASSISTOCONTROLLER]
(
	[CONTROLLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHASSISTOCONTROLLER]  WITH CHECK ADD  CONSTRAINT [CHASSISTOCONTROLLER_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[CHASSISTOCONTROLLER] CHECK CONSTRAINT [CHASSISTOCONTROLLER_FK1]
GO
ALTER TABLE [dbo].[CHASSISTOCONTROLLER]  WITH CHECK ADD  CONSTRAINT [CHASSISTOCONTROLLER_FK2] FOREIGN KEY([CHASSIS_ID])
REFERENCES [dbo].[STORAGECHASSIS] ([ID])
GO
ALTER TABLE [dbo].[CHASSISTOCONTROLLER] CHECK CONSTRAINT [CHASSISTOCONTROLLER_FK2]
GO
ALTER TABLE [dbo].[CHASSISTOCONTROLLER]  WITH CHECK ADD  CONSTRAINT [CHASSISTOCONTROLLER_FK3] FOREIGN KEY([CONTROLLER_ID])
REFERENCES [dbo].[RaidController] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[CHASSISTOCONTROLLER] CHECK CONSTRAINT [CHASSISTOCONTROLLER_FK3]
GO
