USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DatabaseObject]    Script Date: 6/29/2019 5:46:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatabaseObject](
	[DATABASEID] [bigint] NOT NULL,
	[DATABASENAME] [varchar](250) NOT NULL,
	[NAMEDINSTANCEID] [bigint] NOT NULL,
 CONSTRAINT [DatabaseObject_PK] PRIMARY KEY CLUSTERED 
(
	[DATABASEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__860858774]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__860858774] ON [dbo].[DatabaseObject]
(
	[NAMEDINSTANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatabaseObject]  WITH CHECK ADD  CONSTRAINT [DatabaseObject_FK] FOREIGN KEY([NAMEDINSTANCEID])
REFERENCES [dbo].[NamedInstanceObject] ([NAMEDINSTANCEID])
GO
ALTER TABLE [dbo].[DatabaseObject] CHECK CONSTRAINT [DatabaseObject_FK]
GO
