USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReorderDetails]    Script Date: 6/29/2019 5:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReorderDetails](
	[REORDERPK] [bigint] NOT NULL,
	[RID] [bigint] NOT NULL,
	[POLICYNAME] [nvarchar](250) NOT NULL,
	[RULENAME] [nvarchar](250) NOT NULL,
	[OLDPOSITION] [bigint] NOT NULL,
	[NEWPOSITION] [bigint] NOT NULL,
	[PERFIMPV] [bigint] NULL,
	[HITCOUNT] [bigint] NOT NULL,
 CONSTRAINT [ReorderDetails_PK] PRIMARY KEY CLUSTERED 
(
	[REORDERPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_454294301]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_454294301] ON [dbo].[ReorderDetails]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReorderDetails]  WITH CHECK ADD  CONSTRAINT [ReorderDetails_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ReorderDetails] CHECK CONSTRAINT [ReorderDetails_FK]
GO
