USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IPAMSummary]    Script Date: 6/29/2019 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPAMSummary](
	[NETID] [bigint] NOT NULL,
	[USED] [int] NOT NULL,
	[AVAILABLE] [int] NOT NULL,
	[TRANSIENT] [int] NOT NULL,
	[UNKNOWN] [int] NOT NULL,
	[NOTSCAN] [int] NOT NULL,
	[TOTAL] [int] NOT NULL,
	[RESERVED] [int] NOT NULL,
	[USED_MAC_COUNT] [int] NOT NULL,
	[RESERVED_USED] [int] NOT NULL,
	[RESERVED_AVAILABLE] [int] NOT NULL,
	[RESERVED_TRANSIENT] [int] NOT NULL,
	[RESERVED_NOTSCAN] [int] NOT NULL,
	[DNS_REVERSE_FAIL] [int] NOT NULL,
	[DNS_FORWARD_FAIL] [int] NOT NULL,
	[DNS_FORWARD_MISMATCH] [int] NOT NULL,
	[DNS_NA] [int] NOT NULL,
	[DNS_SUCCESS] [int] NOT NULL,
	[PART_AD] [int] NOT NULL,
	[PART_NON_AD] [int] NOT NULL,
	[IPUSAGE] [real] NOT NULL,
 CONSTRAINT [IPAMSummary_PK] PRIMARY KEY CLUSTERED 
(
	[NETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_820510304]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_820510304] ON [dbo].[IPAMSummary]
(
	[NETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [USED]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [AVAILABLE]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [TRANSIENT]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [UNKNOWN]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [NOTSCAN]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [TOTAL]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [RESERVED]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [USED_MAC_COUNT]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [RESERVED_USED]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [RESERVED_AVAILABLE]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [RESERVED_TRANSIENT]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [RESERVED_NOTSCAN]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [DNS_REVERSE_FAIL]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [DNS_FORWARD_FAIL]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [DNS_FORWARD_MISMATCH]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [DNS_NA]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [DNS_SUCCESS]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [PART_AD]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0') FOR [PART_NON_AD]
GO
ALTER TABLE [dbo].[IPAMSummary] ADD  DEFAULT ('0.0') FOR [IPUSAGE]
GO
ALTER TABLE [dbo].[IPAMSummary]  WITH CHECK ADD  CONSTRAINT [IPAMSummary_FK1] FOREIGN KEY([NETID])
REFERENCES [dbo].[SubNetwork] ([NETID])
GO
ALTER TABLE [dbo].[IPAMSummary] CHECK CONSTRAINT [IPAMSummary_FK1]
GO
