USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataRetrievalGroup]    Script Date: 6/29/2019 5:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataRetrievalGroup](
	[DATARETRIEVALGROUPID] [bigint] NOT NULL,
 CONSTRAINT [DefNetDataRet_PK] PRIMARY KEY CLUSTERED 
(
	[DATARETRIEVALGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
