USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WAASDiskDetails]    Script Date: 6/29/2019 5:53:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAASDiskDetails](
	[ID] [int] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[CONFIGURATION] [varchar](100) NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[PRESENCE] [varchar](100) NOT NULL,
	[SERIAL_NUMBER] [varchar](100) NOT NULL,
	[SIZE] [varchar](100) NOT NULL,
	[STATUS] [varchar](100) NOT NULL,
 CONSTRAINT [WAASDiskDetails_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
