USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaOrgContactInfo]    Script Date: 6/29/2019 5:45:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaOrgContactInfo](
	[ORG_ID] [bigint] NOT NULL,
	[CONTACTINFO_ID] [bigint] NOT NULL,
 CONSTRAINT [AaaOrgContactInfo_PK] PRIMARY KEY CLUSTERED 
(
	[ORG_ID] ASC,
	[CONTACTINFO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__939573319]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__939573319] ON [dbo].[AaaOrgContactInfo]
(
	[CONTACTINFO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__939573320]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__939573320] ON [dbo].[AaaOrgContactInfo]
(
	[ORG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaOrgContactInfo]  WITH CHECK ADD  CONSTRAINT [AaaOrgContactInfo_FK1] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[AaaOrganization] ([ORG_ID])
GO
ALTER TABLE [dbo].[AaaOrgContactInfo] CHECK CONSTRAINT [AaaOrgContactInfo_FK1]
GO
ALTER TABLE [dbo].[AaaOrgContactInfo]  WITH CHECK ADD  CONSTRAINT [AaaOrgContactInfo_FK2] FOREIGN KEY([CONTACTINFO_ID])
REFERENCES [dbo].[AaaContactInfo] ([CONTACTINFO_ID])
GO
ALTER TABLE [dbo].[AaaOrgContactInfo] CHECK CONSTRAINT [AaaOrgContactInfo_FK2]
GO
