USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UplinkAdapterProps]    Script Date: 6/29/2019 5:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UplinkAdapterProps](
	[UPLINK_ID] [bigint] NOT NULL,
	[VHOST_ID] [bigint] NOT NULL,
	[UPLINK_STATUS] [int] NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
	[UPLINK_NAME] [varchar](250) NULL,
	[UPLINK_MAC] [varchar](50) NULL,
	[VENDOR_DESC] [varchar](100) NULL,
	[UPLINK_SPEED] [int] NULL,
	[FULL_DUPLEX] [bit] NULL,
	[UPLINK_LOCATION] [varchar](60) NULL,
	[UPLINK_DRIVER] [varchar](50) NULL,
	[START_IPADDRESS] [varchar](50) NULL,
	[END_IPADDRESS] [varchar](50) NULL,
 CONSTRAINT [UplinkAdapterProps_PK] PRIMARY KEY CLUSTERED 
(
	[UPLINK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_214873475]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_214873475] ON [dbo].[UplinkAdapterProps]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UplinkAdapterProps]  WITH CHECK ADD  CONSTRAINT [UplinkAdapterProps_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VHostProps] ([VHOST_ID])
GO
ALTER TABLE [dbo].[UplinkAdapterProps] CHECK CONSTRAINT [UplinkAdapterProps_FK1]
GO
