USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ResToDept]    Script Date: 6/29/2019 5:51:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResToDept](
	[RID] [bigint] NOT NULL,
	[DEPT_ID] [bigint] NOT NULL,
 CONSTRAINT [ResToDept_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC,
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1910962]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1910962] ON [dbo].[ResToDept]
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1910963]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1910963] ON [dbo].[ResToDept]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResToDept]  WITH CHECK ADD  CONSTRAINT [ResToDept_FK1] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ResToDept] CHECK CONSTRAINT [ResToDept_FK1]
GO
ALTER TABLE [dbo].[ResToDept]  WITH CHECK ADD  CONSTRAINT [ResToDept_FK2] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[Department] ([DEPT_ID])
GO
ALTER TABLE [dbo].[ResToDept] CHECK CONSTRAINT [ResToDept_FK2]
GO
