USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCommandRegex]    Script Date: 6/29/2019 5:49:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCommandRegex](
	[COMMAND_ID] [bigint] NOT NULL,
	[COMMAND_REGEX] [varchar](250) NOT NULL,
 CONSTRAINT [NCMCommandRegex_PK] PRIMARY KEY CLUSTERED 
(
	[COMMAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
