USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BillTaxInfo]    Script Date: 6/29/2019 5:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillTaxInfo](
	[TAX_ID] [bigint] NOT NULL,
	[BILLCOSTDETAILS_ID] [bigint] NOT NULL,
	[NAME] [varbinary](max) NOT NULL,
	[TYPE] [int] NOT NULL,
	[TAX_RATE] [float] NOT NULL,
	[ORDER] [int] NOT NULL,
 CONSTRAINT [BillTaxInfo_PK] PRIMARY KEY CLUSTERED 
(
	[TAX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1506924769]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1506924769] ON [dbo].[BillTaxInfo]
(
	[BILLCOSTDETAILS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillTaxInfo]  WITH CHECK ADD  CONSTRAINT [BillTaxInfo_FK1] FOREIGN KEY([BILLCOSTDETAILS_ID])
REFERENCES [dbo].[BillCostDetails] ([ID])
GO
ALTER TABLE [dbo].[BillTaxInfo] CHECK CONSTRAINT [BillTaxInfo_FK1]
GO
