USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RunBookEvaluatorTask]    Script Date: 6/29/2019 5:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunBookEvaluatorTask](
	[TASKID] [bigint] NOT NULL,
 CONSTRAINT [RunBookEvaluatorTask_PK1] PRIMARY KEY CLUSTERED 
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1050658291]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1050658291] ON [dbo].[RunBookEvaluatorTask]
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RunBookEvaluatorTask]  WITH CHECK ADD  CONSTRAINT [RunBookEvaluatorTask_FK1] FOREIGN KEY([TASKID])
REFERENCES [dbo].[RunBookTaskDefinition] ([TASKID])
GO
ALTER TABLE [dbo].[RunBookEvaluatorTask] CHECK CONSTRAINT [RunBookEvaluatorTask_FK1]
GO
