USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPEVARaid]    Script Date: 6/29/2019 5:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPEVARaid](
	[DEVICE_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[LICENSES] [varchar](250) NULL,
	[OPER_STATE] [varchar](250) NULL,
	[TOTAL_STORAGE_SPACE] [varchar](250) NOT NULL,
	[USED_SPACE] [varchar](250) NULL,
	[AVAILABLE_SPACE] [varchar](250) NULL,
	[ADDITION_POLICY] [varchar](250) NULL,
	[CONSOLE_LUNID] [varchar](250) NULL,
	[CONTROLLER_TIME] [varchar](250) NULL,
	[ID] [varchar](250) NULL,
	[ELEMENT_REFRESH_STATUS] [varchar](250) NULL,
	[COMMENTS] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[EVANAME] [varchar](250) NULL,
	[MODEL] [varchar](250) NULL,
	[URL] [varchar](500) NULL,
 CONSTRAINT [HPEVARAID_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1994420865]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1994420865] ON [dbo].[HPEVARaid]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPEVARaid]  WITH CHECK ADD  CONSTRAINT [HPEVARAID_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPEVARaid] CHECK CONSTRAINT [HPEVARAID_FK1]
GO
