USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HDSStoragePool]    Script Date: 6/29/2019 5:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDSStoragePool](
	[RAID_DEVICE_ID] [bigint] NOT NULL,
	[POOL_ID] [varchar](250) NOT NULL,
	[POOL_NAME] [varchar](250) NULL,
	[POOL_ELTNAME] [varchar](250) NULL,
	[POOL_TOTSIZE] [varchar](250) NULL,
	[POOL_FREESIZE] [varchar](250) NULL,
	[POOL_PRIMORDIAL] [varchar](250) NULL,
	[POOL_STATUS] [varchar](250) NULL,
	[POOL_HSTATE] [varchar](250) NULL,
 CONSTRAINT [HDSStoragePool_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_DEVICE_ID] ASC,
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2014470867]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2014470867] ON [dbo].[HDSStoragePool]
(
	[RAID_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HDSStoragePool]  WITH CHECK ADD  CONSTRAINT [HDSStoragePool_FK1] FOREIGN KEY([RAID_DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HDSStoragePool] CHECK CONSTRAINT [HDSStoragePool_FK1]
GO
