USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Udef_Expr_Opr_Expr]    Script Date: 6/29/2019 5:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Udef_Expr_Opr_Expr](
	[CHAR_CLASS_EXPR_ID] [bigint] NOT NULL,
	[LEFT_CLASS_EXPR_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[RIGHT_CLASS_EXPR_ID] [bigint] NOT NULL,
 CONSTRAINT [Udef_Expr_Opr_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[CHAR_CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1060690004]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1060690004] ON [dbo].[Udef_Expr_Opr_Expr]
(
	[RIGHT_CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1060690005]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1060690005] ON [dbo].[Udef_Expr_Opr_Expr]
(
	[LEFT_CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1472997670]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1472997670] ON [dbo].[Udef_Expr_Opr_Expr]
(
	[CHAR_CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Udef_Expr_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [Udef_Expr_Opr_Expr_FK] FOREIGN KEY([CHAR_CLASS_EXPR_ID])
REFERENCES [dbo].[Udef_Char_Cls_Expr] ([CHAR_CLASS_EXPR_ID])
GO
ALTER TABLE [dbo].[Udef_Expr_Opr_Expr] CHECK CONSTRAINT [Udef_Expr_Opr_Expr_FK]
GO
ALTER TABLE [dbo].[Udef_Expr_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [UDEF_EXPR_OPR_EXPR_FK1] FOREIGN KEY([LEFT_CLASS_EXPR_ID])
REFERENCES [dbo].[Char_Class_Expr] ([CHAR_CLASS_EXPR_ID])
GO
ALTER TABLE [dbo].[Udef_Expr_Opr_Expr] CHECK CONSTRAINT [UDEF_EXPR_OPR_EXPR_FK1]
GO
ALTER TABLE [dbo].[Udef_Expr_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [UDEF_EXPR_OPR_EXPR_FK2] FOREIGN KEY([RIGHT_CLASS_EXPR_ID])
REFERENCES [dbo].[Char_Class_Expr] ([CHAR_CLASS_EXPR_ID])
GO
ALTER TABLE [dbo].[Udef_Expr_Opr_Expr] CHECK CONSTRAINT [UDEF_EXPR_OPR_EXPR_FK2]
GO
