USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaPermission]    Script Date: 6/29/2019 5:45:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaPermission](
	[PERMISSION_ID] [bigint] NOT NULL,
	[PERMISSION_NAME] [varchar](100) NOT NULL,
	[SERVICE_ID] [bigint] NOT NULL,
	[DESCRIPTION] [varchar](100) NULL,
 CONSTRAINT [AaaPermission_PK] PRIMARY KEY CLUSTERED 
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AaaPermission_UK0] UNIQUE NONCLUSTERED 
(
	[PERMISSION_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1048785260]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1048785260] ON [dbo].[AaaPermission]
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaPermission] ADD  DEFAULT ('No Description') FOR [DESCRIPTION]
GO
ALTER TABLE [dbo].[AaaPermission]  WITH CHECK ADD  CONSTRAINT [AaaPermission_FK] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[AaaService] ([SERVICE_ID])
GO
ALTER TABLE [dbo].[AaaPermission] CHECK CONSTRAINT [AaaPermission_FK]
GO
