USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UnresolvedDetails]    Script Date: 6/29/2019 5:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnresolvedDetails](
	[RID] [bigint] NOT NULL,
	[UNRESOLVED_OBJECT] [nvarchar](100) NOT NULL,
	[TYPE] [nvarchar](50) NOT NULL,
	[OBJECT_VALUE] [ntext] NULL,
	[FORMATTED_VALUE] [ntext] NULL,
 CONSTRAINT [UnresolvedDetails_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC,
	[UNRESOLVED_OBJECT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1810600845]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1810600845] ON [dbo].[UnresolvedDetails]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UnresolvedDetails]  WITH CHECK ADD  CONSTRAINT [UnresolvedDetails_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[UnresolvedDetails] CHECK CONSTRAINT [UnresolvedDetails_FK]
GO
