USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ThresholdDetails]    Script Date: 6/29/2019 5:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThresholdDetails](
	[PROBEGROUP_ID] [bigint] NOT NULL,
	[THRESHOLD_ID] [int] NOT NULL,
 CONSTRAINT [ThresholdDetails_PK] PRIMARY KEY CLUSTERED 
(
	[PROBEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1832549005]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1832549005] ON [dbo].[ThresholdDetails]
(
	[PROBEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_974444356]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_974444356] ON [dbo].[ThresholdDetails]
(
	[THRESHOLD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ThresholdDetails]  WITH CHECK ADD  CONSTRAINT [ThresholdDetails_FK] FOREIGN KEY([PROBEGROUP_ID])
REFERENCES [dbo].[Collector] ([PROBEGROUP_ID])
GO
ALTER TABLE [dbo].[ThresholdDetails] CHECK CONSTRAINT [ThresholdDetails_FK]
GO
ALTER TABLE [dbo].[ThresholdDetails]  WITH CHECK ADD  CONSTRAINT [ThresholdDetails_FK1] FOREIGN KEY([THRESHOLD_ID])
REFERENCES [dbo].[ThresholdType] ([THRESHOLD_ID])
GO
ALTER TABLE [dbo].[ThresholdDetails] CHECK CONSTRAINT [ThresholdDetails_FK1]
GO
