USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoACEModule]    Script Date: 6/29/2019 5:46:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoACEModule](
	[RESOURCEID] [bigint] NOT NULL,
	[PRODUCT_NUMBER] [varchar](20) NOT NULL,
	[CARD_INDEX] [varchar](15) NOT NULL,
	[HARDWARE_REVISION] [varchar](15) NOT NULL,
	[SLOT_NUMBER] [varchar](15) NOT NULL,
	[MEMORY_SIZE] [varchar](15) NOT NULL,
 CONSTRAINT [CiscoACEModule_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_200496931]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_200496931] ON [dbo].[CiscoACEModule]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoACEModule] ADD  DEFAULT ('Not Available') FOR [PRODUCT_NUMBER]
GO
ALTER TABLE [dbo].[CiscoACEModule] ADD  DEFAULT ('Not Available') FOR [CARD_INDEX]
GO
ALTER TABLE [dbo].[CiscoACEModule] ADD  DEFAULT ('Not Available') FOR [HARDWARE_REVISION]
GO
ALTER TABLE [dbo].[CiscoACEModule] ADD  DEFAULT ('Not Available') FOR [SLOT_NUMBER]
GO
ALTER TABLE [dbo].[CiscoACEModule] ADD  DEFAULT ('Not Available') FOR [MEMORY_SIZE]
GO
ALTER TABLE [dbo].[CiscoACEModule]  WITH CHECK ADD  CONSTRAINT [CiscoACEmodule_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CiscoACEModule] CHECK CONSTRAINT [CiscoACEmodule_FK1]
GO
