USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Concat_Task_List]    Script Date: 6/29/2019 5:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Concat_Task_List](
	[CONCAT_TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[STATEMENT_ID] [bigint] NOT NULL,
	[SEQUENCE_NUMBER] [int] NOT NULL,
 CONSTRAINT [Concat_Task_List_PK] PRIMARY KEY CLUSTERED 
(
	[CONCAT_TASK_TEMPLATE_ID] ASC,
	[STATEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__103812966]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__103812966] ON [dbo].[Concat_Task_List]
(
	[STATEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2074861175]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2074861175] ON [dbo].[Concat_Task_List]
(
	[CONCAT_TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Concat_Task_List]  WITH CHECK ADD  CONSTRAINT [Concat_Task_List_FK] FOREIGN KEY([CONCAT_TASK_TEMPLATE_ID])
REFERENCES [dbo].[Concat_Task_Template] ([CONCAT_TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Concat_Task_List] CHECK CONSTRAINT [Concat_Task_List_FK]
GO
ALTER TABLE [dbo].[Concat_Task_List]  WITH CHECK ADD  CONSTRAINT [Concat_Task_List_FK1] FOREIGN KEY([STATEMENT_ID])
REFERENCES [dbo].[Statements] ([STATEMENT_ID])
GO
ALTER TABLE [dbo].[Concat_Task_List] CHECK CONSTRAINT [Concat_Task_List_FK1]
GO
