USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EndTimeType]    Script Date: 6/29/2019 5:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EndTimeType](
	[ENDTIME_ID] [int] NOT NULL,
	[ENDTIMETYPE] [varchar](50) NOT NULL,
 CONSTRAINT [EndTimeType_PK] PRIMARY KEY CLUSTERED 
(
	[ENDTIME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
