USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetAppSDKLunMap]    Script Date: 6/29/2019 5:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetAppSDKLunMap](
	[RAID_ID] [bigint] NOT NULL,
	[LUN_PATH] [varchar](160) NOT NULL,
	[HOST_NAME] [varchar](160) NOT NULL,
	[LUN_ID] [int] NOT NULL,
	[INITIATOR_GROUP_NAME] [varchar](250) NOT NULL,
	[INITIATOR_GROUP_TYPE] [varchar](250) NOT NULL,
	[INITIATOR_GROUP_OS_TYPE] [varchar](250) NOT NULL,
 CONSTRAINT [NetAppSDKLunMap_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[LUN_PATH] ASC,
	[HOST_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1424093766]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1424093766] ON [dbo].[NetAppSDKLunMap]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetAppSDKLunMap]  WITH CHECK ADD  CONSTRAINT [NetAppSDKLunMap_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[NetAppSDKLunMap] CHECK CONSTRAINT [NetAppSDKLunMap_FK1]
GO
