USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Collector_Properties]    Script Date: 6/29/2019 5:46:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collector_Properties](
	[COLLECTOR_ID] [int] NOT NULL,
	[UNIQUE_ID] [varchar](255) NOT NULL,
	[COLLECTOR_NAME] [varchar](250) NOT NULL,
	[STATE] [int] NOT NULL,
	[ROUTER_START_ID] [int] NOT NULL,
	[ROUTER_END_ID] [int] NOT NULL,
	[IDGEN_START_ID] [int] NOT NULL,
	[IDGEN_END_ID] [int] NOT NULL,
	[USER_NAME] [varchar](255) NOT NULL,
	[PASSWORD] [varchar](250) NOT NULL,
	[APIKEY] [varchar](250) NOT NULL,
	[IS_INTERNAL_COLL] [bit] NOT NULL,
 CONSTRAINT [Collector_Properties_PK] PRIMARY KEY CLUSTERED 
(
	[COLLECTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Collector_Properties_UK1] UNIQUE NONCLUSTERED 
(
	[UNIQUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Collector_Properties_UK2] UNIQUE NONCLUSTERED 
(
	[ROUTER_START_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Collector_Properties_UK3] UNIQUE NONCLUSTERED 
(
	[ROUTER_END_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Collector_Properties_UK4] UNIQUE NONCLUSTERED 
(
	[IDGEN_START_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Collector_Properties_UK5] UNIQUE NONCLUSTERED 
(
	[IDGEN_END_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Collector_Properties_UK6] UNIQUE NONCLUSTERED 
(
	[PASSWORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Collector_Properties_UK7] UNIQUE NONCLUSTERED 
(
	[APIKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Collector_Properties] ADD  DEFAULT ('0') FOR [COLLECTOR_ID]
GO
ALTER TABLE [dbo].[Collector_Properties] ADD  DEFAULT ('0') FOR [STATE]
GO
ALTER TABLE [dbo].[Collector_Properties] ADD  DEFAULT ('-1') FOR [ROUTER_START_ID]
GO
ALTER TABLE [dbo].[Collector_Properties] ADD  DEFAULT ('-1') FOR [ROUTER_END_ID]
GO
ALTER TABLE [dbo].[Collector_Properties] ADD  DEFAULT ('-1') FOR [IDGEN_START_ID]
GO
ALTER TABLE [dbo].[Collector_Properties] ADD  DEFAULT ('-1') FOR [IDGEN_END_ID]
GO
ALTER TABLE [dbo].[Collector_Properties] ADD  DEFAULT ((0)) FOR [IS_INTERNAL_COLL]
GO
