USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNXCheckPoint]    Script Date: 6/29/2019 5:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNXCheckPoint](
	[RAID_ID] [bigint] NOT NULL,
	[FILE_SYSTEM_ID] [varchar](250) NOT NULL,
	[FILE_SYSTEM_NAME] [varchar](250) NOT NULL,
	[DESCRIPTION] [varchar](500) NOT NULL,
	[STATE] [varchar](250) NOT NULL,
	[NEXT_RUN] [varchar](250) NULL,
 CONSTRAINT [VNXCheckPoint_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[FILE_SYSTEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1486055876]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1486055876] ON [dbo].[VNXCheckPoint]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNXCheckPoint]  WITH CHECK ADD  CONSTRAINT [VNXCheckPoint_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXCheckPoint] CHECK CONSTRAINT [VNXCheckPoint_FK]
GO
