USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCVNXePort]    Script Date: 6/29/2019 5:47:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCVNXePort](
	[RAID_ID] [bigint] NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[ROLE] [varchar](250) NOT NULL,
	[PORT_NAME] [varchar](250) NOT NULL,
	[MTU_SIZE] [varchar](250) NULL,
	[AGG_PORT_ID] [varchar](250) NULL,
	[PROCESSOR_NAME] [varchar](250) NULL,
 CONSTRAINT [EMCVNXePort_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[PORT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1410926147]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1410926147] ON [dbo].[EMCVNXePort]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_789037647]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_789037647] ON [dbo].[EMCVNXePort]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCVNXePort]  WITH CHECK ADD  CONSTRAINT [EMCVNXePort_FK] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCVNXePort] CHECK CONSTRAINT [EMCVNXePort_FK]
GO
ALTER TABLE [dbo].[EMCVNXePort]  WITH CHECK ADD  CONSTRAINT [EMCVNXePort_FK2] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCVNXePort] CHECK CONSTRAINT [EMCVNXePort_FK2]
GO
