USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMLabelDownloadRQ]    Script Date: 6/29/2019 5:49:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMLabelDownloadRQ](
	[REQUEST_ID] [bigint] NOT NULL,
	[LABEL_ID] [int] NOT NULL,
 CONSTRAINT [NCMLabelDownloadRQ_PK1] PRIMARY KEY CLUSTERED 
(
	[REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_763282512]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_763282512] ON [dbo].[NCMLabelDownloadRQ]
(
	[REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_763282513]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_763282513] ON [dbo].[NCMLabelDownloadRQ]
(
	[LABEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMLabelDownloadRQ]  WITH CHECK ADD  CONSTRAINT [NCMLabelDownloadRQ_FK1] FOREIGN KEY([REQUEST_ID])
REFERENCES [dbo].[NCMApprovalRequest] ([REQUEST_ID])
GO
ALTER TABLE [dbo].[NCMLabelDownloadRQ] CHECK CONSTRAINT [NCMLabelDownloadRQ_FK1]
GO
ALTER TABLE [dbo].[NCMLabelDownloadRQ]  WITH CHECK ADD  CONSTRAINT [NCMLabelDownloadRQ_FK2] FOREIGN KEY([LABEL_ID])
REFERENCES [dbo].[NCMLabel] ([LABEL_ID])
GO
ALTER TABLE [dbo].[NCMLabelDownloadRQ] CHECK CONSTRAINT [NCMLabelDownloadRQ_FK2]
GO
