USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DummyTable]    Script Date: 6/29/2019 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DummyTable](
	[DUMMYCLOUMN] [varchar](1) NOT NULL,
 CONSTRAINT [DummyTable_PK] PRIMARY KEY CLUSTERED 
(
	[DUMMYCLOUMN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
