USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SyslogSettings]    Script Date: 6/29/2019 5:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SyslogSettings](
	[ID] [bigint] NOT NULL,
	[SERVER_NAME_OR_IP] [varchar](100) NOT NULL,
	[PORT] [int] NOT NULL,
	[PROTOCOL_TYPE] [varchar](50) NOT NULL,
	[FACILITY] [int] NOT NULL,
	[SEVERITY] [int] NOT NULL,
 CONSTRAINT [SyslogSettings_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1268695146]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1268695146] ON [dbo].[SyslogSettings]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SyslogSettings] ADD  DEFAULT ('localhost') FOR [SERVER_NAME_OR_IP]
GO
ALTER TABLE [dbo].[SyslogSettings] ADD  DEFAULT ('514') FOR [PORT]
GO
ALTER TABLE [dbo].[SyslogSettings] ADD  DEFAULT ('UDP') FOR [PROTOCOL_TYPE]
GO
ALTER TABLE [dbo].[SyslogSettings] ADD  DEFAULT ('16') FOR [FACILITY]
GO
ALTER TABLE [dbo].[SyslogSettings] ADD  DEFAULT ('5') FOR [SEVERITY]
GO
ALTER TABLE [dbo].[SyslogSettings]  WITH CHECK ADD  CONSTRAINT [SyslogSettings_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[Settings] ([ID])
GO
ALTER TABLE [dbo].[SyslogSettings] CHECK CONSTRAINT [SyslogSettings_FK]
GO
