USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DatabaseMaintenance]    Script Date: 6/29/2019 5:46:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatabaseMaintenance](
	[ID] [int] NOT NULL,
	[TABLETYPE] [varchar](20) NOT NULL,
	[CLEANUPINTERVAL] [int] NOT NULL,
	[CLEANUPUNIT] [varchar](15) NOT NULL,
 CONSTRAINT [DatabaseMaintenance_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DatabaseMaintenance_UK1] UNIQUE NONCLUSTERED 
(
	[TABLETYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
