USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LeaSettings]    Script Date: 6/29/2019 5:48:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaSettings](
	[LEAID] [bigint] NOT NULL,
	[HOSTNAME] [nvarchar](150) NOT NULL,
	[LEAPORT] [bigint] NOT NULL,
	[AUTH_LOGIN] [bit] NOT NULL,
	[USERNAME] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](100) NOT NULL,
 CONSTRAINT [LeaSettings_PK] PRIMARY KEY CLUSTERED 
(
	[LEAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LeaSettings] ADD  DEFAULT ((0)) FOR [AUTH_LOGIN]
GO
