USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaAccountStatus]    Script Date: 6/29/2019 5:45:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaAccountStatus](
	[ACCOUNT_ID] [bigint] NOT NULL,
	[EXPIREAT] [bigint] NOT NULL,
	[AFTEREXP_LOGIN] [int] NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[UPDATEDTIME] [bigint] NOT NULL,
 CONSTRAINT [AaaAccountStatus_PK] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_724303640]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_724303640] ON [dbo].[AaaAccountStatus]
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaAccountStatus] ADD  DEFAULT ('0') FOR [EXPIREAT]
GO
ALTER TABLE [dbo].[AaaAccountStatus] ADD  DEFAULT ('0') FOR [AFTEREXP_LOGIN]
GO
ALTER TABLE [dbo].[AaaAccountStatus] ADD  DEFAULT ('NEW') FOR [STATUS]
GO
ALTER TABLE [dbo].[AaaAccountStatus]  WITH CHECK ADD  CONSTRAINT [AaaAccount_FK] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[AaaAccount] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[AaaAccountStatus] CHECK CONSTRAINT [AaaAccount_FK]
GO
