USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[APGroup_CollectorMap]    Script Date: 6/29/2019 5:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APGroup_CollectorMap](
	[APG_ID] [int] NOT NULL,
	[COLLECTOR_ID] [int] NOT NULL,
 CONSTRAINT [APGroup_CollectorMap_PK] PRIMARY KEY CLUSTERED 
(
	[APG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__872067509]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__872067509] ON [dbo].[APGroup_CollectorMap]
(
	[COLLECTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1634436774]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1634436774] ON [dbo].[APGroup_CollectorMap]
(
	[APG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APGroup_CollectorMap] ADD  DEFAULT ('0') FOR [APG_ID]
GO
ALTER TABLE [dbo].[APGroup_CollectorMap] ADD  DEFAULT ('0') FOR [COLLECTOR_ID]
GO
ALTER TABLE [dbo].[APGroup_CollectorMap]  WITH CHECK ADD  CONSTRAINT [APGroup_CollectorMap_FK] FOREIGN KEY([APG_ID])
REFERENCES [dbo].[AccessPointGroupInfo] ([APG_ID])
GO
ALTER TABLE [dbo].[APGroup_CollectorMap] CHECK CONSTRAINT [APGroup_CollectorMap_FK]
GO
ALTER TABLE [dbo].[APGroup_CollectorMap]  WITH CHECK ADD  CONSTRAINT [APGroup_CollectorMap_FK1] FOREIGN KEY([COLLECTOR_ID])
REFERENCES [dbo].[Collector_Properties] ([COLLECTOR_ID])
GO
ALTER TABLE [dbo].[APGroup_CollectorMap] CHECK CONSTRAINT [APGroup_CollectorMap_FK1]
GO
