USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProbeGroupId]    Script Date: 6/29/2019 5:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProbeGroupId](
	[PROBEGROUP_ID] [bigint] NOT NULL,
 CONSTRAINT [ProbeGroupId_PK] PRIMARY KEY CLUSTERED 
(
	[PROBEGROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
