USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ParentConfig]    Script Date: 6/29/2019 5:50:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentConfig](
	[PID] [bigint] NOT NULL,
	[CONF_ID] [varchar](25) NOT NULL,
	[SEVERITY] [int] NOT NULL,
 CONSTRAINT [ParentConfig_PK] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1500893703]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1500893703] ON [dbo].[ParentConfig]
(
	[CONF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ParentConfig]  WITH CHECK ADD  CONSTRAINT [ParentConfig_FK1] FOREIGN KEY([CONF_ID])
REFERENCES [dbo].[AlertConfig] ([NAME])
GO
ALTER TABLE [dbo].[ParentConfig] CHECK CONSTRAINT [ParentConfig_FK1]
GO
