USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GrpIPV6BetweenSites]    Script Date: 6/29/2019 5:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrpIPV6BetweenSites](
	[ID] [int] NOT NULL,
	[IP_GROUP_ID] [int] NOT NULL,
	[SRC_START_ADDR_ID] [varchar](255) NOT NULL,
	[SRC_END_ADDR_ID] [varchar](255) NOT NULL,
	[DEST_START_ADDR_ID] [varchar](255) NOT NULL,
	[DEST_END_ADDR_ID] [varchar](255) NOT NULL,
	[SRC_NETMASK_ADDR_ID] [varchar](255) NOT NULL,
	[DEST_NETMASK_ADDR_ID] [varchar](255) NOT NULL,
	[EXCL] [int] NOT NULL,
 CONSTRAINT [GrpIPV6BetweenSites_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__238329324]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__238329324] ON [dbo].[GrpIPV6BetweenSites]
(
	[IP_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GrpIPV6BetweenSites]  WITH CHECK ADD  CONSTRAINT [GrpIPV6BetweenSites_FK] FOREIGN KEY([IP_GROUP_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[GrpIPV6BetweenSites] CHECK CONSTRAINT [GrpIPV6BetweenSites_FK]
GO
