USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPMSchedule]    Script Date: 6/29/2019 5:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPMSchedule](
	[S_SCHEDULEID] [bigint] NOT NULL,
	[S_SCHEDULENAME] [varchar](250) NOT NULL,
	[S_DESCRIPTION] [varchar](250) NULL,
	[S_ADMINSTATUS] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[S_SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[S_SCHEDULENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
