USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MyFavouriteReports]    Script Date: 6/29/2019 5:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyFavouriteReports](
	[ID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
 CONSTRAINT [MyFavouriteReports_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1959669007]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1959669007] ON [dbo].[MyFavouriteReports]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MyFavouriteReports]  WITH CHECK ADD  CONSTRAINT [MyFavouriteReports_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[ReportWidgetID] ([ID])
GO
ALTER TABLE [dbo].[MyFavouriteReports] CHECK CONSTRAINT [MyFavouriteReports_FK1]
GO
