USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDraftDownloadRQ]    Script Date: 6/29/2019 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDraftDownloadRQ](
	[REQUEST_ID] [bigint] NOT NULL,
	[DRAFT_ID] [int] NOT NULL,
	[DOWNLOAD_AS] [varchar](50) NOT NULL,
 CONSTRAINT [NCMDraftDownloadRQ_PK1] PRIMARY KEY CLUSTERED 
(
	[REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_765398077]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_765398077] ON [dbo].[NCMDraftDownloadRQ]
(
	[REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_765398078]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_765398078] ON [dbo].[NCMDraftDownloadRQ]
(
	[DRAFT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMDraftDownloadRQ]  WITH CHECK ADD  CONSTRAINT [NCMDraftDownloadRQ_FK1] FOREIGN KEY([REQUEST_ID])
REFERENCES [dbo].[NCMApprovalRequest] ([REQUEST_ID])
GO
ALTER TABLE [dbo].[NCMDraftDownloadRQ] CHECK CONSTRAINT [NCMDraftDownloadRQ_FK1]
GO
ALTER TABLE [dbo].[NCMDraftDownloadRQ]  WITH CHECK ADD  CONSTRAINT [NCMDraftDownloadRQ_FK2] FOREIGN KEY([DRAFT_ID])
REFERENCES [dbo].[NCMDraft] ([DRAFT_ID])
GO
ALTER TABLE [dbo].[NCMDraftDownloadRQ] CHECK CONSTRAINT [NCMDraftDownloadRQ_FK2]
GO
