USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwHostLunMapping]    Script Date: 6/29/2019 5:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwHostLunMapping](
	[LUN_ID] [bigint] NOT NULL,
	[VHOST_ID] [bigint] NOT NULL,
 CONSTRAINT [VwHostLunMapping_PK] PRIMARY KEY CLUSTERED 
(
	[LUN_ID] ASC,
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_877587551]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_877587551] ON [dbo].[VwHostLunMapping]
(
	[LUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_877587552]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_877587552] ON [dbo].[VwHostLunMapping]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwHostLunMapping]  WITH CHECK ADD  CONSTRAINT [VwHostLunMapping_FK1] FOREIGN KEY([LUN_ID])
REFERENCES [dbo].[VwLUNProps] ([LUN_ID])
GO
ALTER TABLE [dbo].[VwHostLunMapping] CHECK CONSTRAINT [VwHostLunMapping_FK1]
GO
ALTER TABLE [dbo].[VwHostLunMapping]  WITH CHECK ADD  CONSTRAINT [VwHostLunMapping_FK2] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VwHOSTPROPS] ([VHOST_ID])
GO
ALTER TABLE [dbo].[VwHostLunMapping] CHECK CONSTRAINT [VwHostLunMapping_FK2]
GO
