USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HardwareSensor]    Script Date: 6/29/2019 5:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HardwareSensor](
	[SENSORID] [bigint] NOT NULL,
	[COMPONENTID] [bigint] NOT NULL,
	[CATEGORYID] [bigint] NOT NULL,
	[SENSORNAME] [varchar](400) NULL,
	[SENSORSTATUS] [bigint] NULL,
	[STATUSSTR] [varchar](100) NULL,
 CONSTRAINT [HardwareSensor_PK] PRIMARY KEY CLUSTERED 
(
	[SENSORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__872586704]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__872586704] ON [dbo].[HardwareSensor]
(
	[COMPONENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HardwareSensor]  WITH CHECK ADD  CONSTRAINT [HardwareSensor_FK2] FOREIGN KEY([COMPONENTID])
REFERENCES [dbo].[HardwareComponent] ([COMPONENTID])
GO
ALTER TABLE [dbo].[HardwareSensor] CHECK CONSTRAINT [HardwareSensor_FK2]
GO
