USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserCookieMapping]    Script Date: 6/29/2019 5:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCookieMapping](
	[ID] [bigint] NOT NULL,
	[LOGIN_ID] [bigint] NOT NULL,
	[CREATED_TIME] [bigint] NOT NULL,
	[COOKIE_VALUE] [varbinary](max) NOT NULL,
 CONSTRAINT [UserCookieMapping_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_739740524]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_739740524] ON [dbo].[UserCookieMapping]
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserCookieMapping]  WITH CHECK ADD  CONSTRAINT [UserCookieMapping_FK1] FOREIGN KEY([LOGIN_ID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[UserCookieMapping] CHECK CONSTRAINT [UserCookieMapping_FK1]
GO
