USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AuditConfigProperty]    Script Date: 6/29/2019 5:46:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditConfigProperty](
	[AUDITCONFIG_ID] [bigint] NOT NULL,
	[PROPERTYNAME] [varchar](50) NOT NULL,
	[PROPERTYTYPE] [varchar](50) NOT NULL,
 CONSTRAINT [AuditConfigProperty_PK] PRIMARY KEY CLUSTERED 
(
	[AUDITCONFIG_ID] ASC,
	[PROPERTYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__134788014]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__134788014] ON [dbo].[AuditConfigProperty]
(
	[AUDITCONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditConfigProperty]  WITH CHECK ADD  CONSTRAINT [AuditConfigProperty_FK] FOREIGN KEY([AUDITCONFIG_ID])
REFERENCES [dbo].[AuditConfig] ([ID])
GO
ALTER TABLE [dbo].[AuditConfigProperty] CHECK CONSTRAINT [AuditConfigProperty_FK]
GO
