USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MapLink]    Script Date: 6/29/2019 5:48:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapLink](
	[NAME] [varchar](255) NOT NULL,
	[SOURCE] [varchar](100) NOT NULL,
	[DEST] [varchar](100) NOT NULL,
	[MAPNAME] [varchar](50) NOT NULL,
	[OWNERNAME] [varchar](25) NOT NULL,
	[THICKNESS] [int] NULL,
	[LINKTYPE] [int] NULL,
	[LABEL] [varchar](255) NULL,
	[MENUNAME] [varchar](100) NULL,
	[NX] [varchar](25) NULL,
	[NY] [varchar](25) NULL,
	[X] [varchar](25) NULL,
	[Y] [varchar](25) NULL,
	[OBJNAME] [varchar](100) NOT NULL,
	[STATUS] [varchar](25) NULL,
	[WEBNMS] [varchar](100) NULL,
	[GROUPNAME] [varchar](100) NULL,
	[SHOWARROW] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC,
	[MAPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MapLink0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [MapLink0_ndx] ON [dbo].[MapLink]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MapLink1_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [MapLink1_ndx] ON [dbo].[MapLink]
(
	[MAPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MapLink2_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [MapLink2_ndx] ON [dbo].[MapLink]
(
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MapLink3_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [MapLink3_ndx] ON [dbo].[MapLink]
(
	[OBJNAME] ASC,
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
