USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaPamModule]    Script Date: 6/29/2019 5:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaPamModule](
	[PAMMODULE_ID] [bigint] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[TYPE] [varchar](10) NOT NULL,
	[CLASSNAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
 CONSTRAINT [AaaPamModule_PK] PRIMARY KEY CLUSTERED 
(
	[PAMMODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AaaPamModule_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AaaPamModule_UK1] UNIQUE NONCLUSTERED 
(
	[CLASSNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaPamModule] ADD  DEFAULT ('auth') FOR [TYPE]
GO
ALTER TABLE [dbo].[AaaPamModule] ADD  DEFAULT ('No Description') FOR [DESCRIPTION]
GO
