USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AGENTREQUESTDETAILS]    Script Date: 6/29/2019 5:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENTREQUESTDETAILS](
	[AGENT_REQUEST_ID] [bigint] NOT NULL,
	[REQUEST_TYPE] [varchar](100) NOT NULL,
	[MOID] [bigint] NOT NULL,
	[AGENT_KEY] [bigint] NOT NULL,
	[CREATED_TIME] [bigint] NOT NULL,
	[MODIFIED_TIME] [bigint] NOT NULL,
	[EXECUTION_RETRY] [int] NULL,
	[ACTION_TO_CALL] [varchar](50) NOT NULL,
 CONSTRAINT [AGENTREQUESTDETAILS_PK1] PRIMARY KEY CLUSTERED 
(
	[AGENT_REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1181912645]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1181912645] ON [dbo].[AGENTREQUESTDETAILS]
(
	[AGENT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENTREQUESTDETAILS] ADD  DEFAULT ('false') FOR [ACTION_TO_CALL]
GO
ALTER TABLE [dbo].[AGENTREQUESTDETAILS]  WITH CHECK ADD  CONSTRAINT [AGENTREQUESTDETAILS_FK1] FOREIGN KEY([AGENT_KEY])
REFERENCES [dbo].[AgentObject] ([AGENTKEY])
GO
ALTER TABLE [dbo].[AGENTREQUESTDETAILS] CHECK CONSTRAINT [AGENTREQUESTDETAILS_FK1]
GO
