USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CollectorType]    Script Date: 6/29/2019 5:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectorType](
	[COLLECTORTYPE_ID] [int] NOT NULL,
	[COLLECTORTYPE] [varchar](100) NOT NULL,
 CONSTRAINT [CollectorType_PK] PRIMARY KEY CLUSTERED 
(
	[COLLECTORTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
