USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMRebranding]    Script Date: 6/29/2019 5:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMRebranding](
	[COMPANYNAME] [varchar](150) NOT NULL,
	[BRANDNAME] [varchar](150) NOT NULL,
	[PRODUCTNAME] [varchar](150) NOT NULL,
	[EMAILID] [varbinary](max) NULL,
	[PHONENUMBER] [varchar](150) NULL,
	[WEBSITE] [varchar](150) NULL,
	[HIDESUPPORTPAGE] [bit] NOT NULL,
	[HIDELINKS] [bit] NOT NULL,
 CONSTRAINT [NCMRebranding_PK] PRIMARY KEY CLUSTERED 
(
	[COMPANYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMRebranding] ADD  DEFAULT ((0)) FOR [HIDESUPPORTPAGE]
GO
ALTER TABLE [dbo].[NCMRebranding] ADD  DEFAULT ((0)) FOR [HIDELINKS]
GO
