USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Alert]    Script Date: 6/29/2019 5:45:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alert](
	[ID] [int] NULL,
	[GROUPNAME] [varchar](100) NULL,
	[CATEGORY] [varchar](100) NULL,
	[SEVERITY] [int] NULL,
	[PREVIOUSSEVERITY] [int] NULL,
	[ENTITY] [varchar](250) NOT NULL,
	[CREATETIME] [bigint] NULL,
	[MODTIME] [bigint] NULL,
	[MMESSAGE] [varchar](8000) NULL,
	[SOURCE] [varchar](100) NULL,
	[MAPNAME] [varchar](100) NULL,
	[WHO] [varchar](100) NULL,
	[STAGE] [int] NULL,
	[WEBNMS] [varchar](100) NULL,
	[OWNERNAME] [varchar](25) NOT NULL,
	[PRIORITY] [int] NULL,
	[ALARMCODE] [varchar](3000) NULL,
	[DISPLAYNAME] [varchar](100) NULL,
	[EVENTTYPE] [varchar](255) NULL,
	[POLLID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ENTITY] ASC,
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Alert0_ndx]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Alert0_ndx] ON [dbo].[Alert]
(
	[ENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Alert1_ndx]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [Alert1_ndx] ON [dbo].[Alert]
(
	[SOURCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alert] ADD  DEFAULT ((-1)) FOR [POLLID]
GO
