USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCUnityDISK]    Script Date: 6/29/2019 5:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCUnityDISK](
	[DISK_ID] [bigint] NOT NULL,
	[DISK_NAME] [varchar](1000) NULL,
	[TYPE] [varchar](100) NULL,
	[CONFIGURED_CAPACITY] [varchar](100) NULL,
	[FREE_CAPACITY] [varchar](100) NULL,
	[TIER] [varchar](100) NULL,
	[EOL] [varchar](100) NULL,
 CONSTRAINT [EMCUnityDISK_PK1] PRIMARY KEY CLUSTERED 
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2029717500]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2029717500] ON [dbo].[EMCUnityDISK]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCUnityDISK]  WITH CHECK ADD  CONSTRAINT [EMCUnityDISK_FK1] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCUnityDISK] CHECK CONSTRAINT [EMCUnityDISK_FK1]
GO
