USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CredentialMapping]    Script Date: 6/29/2019 5:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CredentialMapping](
	[ROUTER_ID] [int] NOT NULL,
	[CRE_ID] [int] NOT NULL,
 CONSTRAINT [CredMap_PKZ] PRIMARY KEY CLUSTERED 
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__350033213]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__350033213] ON [dbo].[CredentialMapping]
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2033872334]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2033872334] ON [dbo].[CredentialMapping]
(
	[CRE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CredentialMapping]  WITH CHECK ADD  CONSTRAINT [Router_Cred_Map_FK] FOREIGN KEY([ROUTER_ID])
REFERENCES [dbo].[NetFlow_Router] ([ROUTER_ID])
GO
ALTER TABLE [dbo].[CredentialMapping] CHECK CONSTRAINT [Router_Cred_Map_FK]
GO
ALTER TABLE [dbo].[CredentialMapping]  WITH CHECK ADD  CONSTRAINT [Router_Cred_Map_FK1] FOREIGN KEY([CRE_ID])
REFERENCES [dbo].[CredentialDetails] ([CRE_ID])
GO
ALTER TABLE [dbo].[CredentialMapping] CHECK CONSTRAINT [Router_Cred_Map_FK1]
GO
