USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Char_Class_Expr]    Script Date: 6/29/2019 5:46:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Char_Class_Expr](
	[CHAR_CLASS_EXPR_ID] [bigint] NOT NULL,
	[SHOULD_NEGATE] [bit] NOT NULL,
	[GENERATE_BRACE] [bit] NOT NULL,
 CONSTRAINT [Char_Class_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[CHAR_CLASS_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Char_Class_Expr] ADD  DEFAULT ((0)) FOR [SHOULD_NEGATE]
GO
ALTER TABLE [dbo].[Char_Class_Expr] ADD  DEFAULT ((0)) FOR [GENERATE_BRACE]
GO
