USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMColumnDetails]    Script Date: 6/29/2019 5:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMColumnDetails](
	[COLUMN_ID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](50) NOT NULL,
	[COLUMN_NAME] [varchar](50) NOT NULL,
	[DISPLAY_NAME] [varchar](50) NOT NULL,
	[SEQUENCEID] [int] NOT NULL,
	[PERSONALITY_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMColumnDetails_PK] PRIMARY KEY CLUSTERED 
(
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMColumnDetails_UNQ1] UNIQUE NONCLUSTERED 
(
	[TABLE_NAME] ASC,
	[COLUMN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1523641601]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1523641601] ON [dbo].[NCMColumnDetails]
(
	[PERSONALITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMColumnDetails]  WITH CHECK ADD  CONSTRAINT [NCMColumnDetails_FK1] FOREIGN KEY([PERSONALITY_ID])
REFERENCES [dbo].[NCMPersonality] ([PERSONALITYID])
GO
ALTER TABLE [dbo].[NCMColumnDetails] CHECK CONSTRAINT [NCMColumnDetails_FK1]
GO
