USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VENDORDETAILS]    Script Date: 6/29/2019 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDORDETAILS](
	[VENDORID] [bigint] NOT NULL,
	[NAME] [varchar](200) NOT NULL,
 CONSTRAINT [VENDORDETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[VENDORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [VENDORDETAILS_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
