USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VHostCPUStatsHourly]    Script Date: 6/29/2019 5:52:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VHostCPUStatsHourly](
	[CPU_ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[SERVER_TIME] [datetime] NOT NULL,
	[AVG_CPUUSAGE_PERC] [float] NOT NULL,
	[MIN_CPUUSAGE_PERC] [float] NOT NULL,
	[MAX_CPUUSAGE_PERC] [float] NOT NULL,
	[CPU_USED_MILLISEC] [bigint] NOT NULL,
	[CPU_IDLE_MILLISEC] [bigint] NOT NULL,
 CONSTRAINT [VHostCPUStatsHourly_PK] PRIMARY KEY CLUSTERED 
(
	[CPU_ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
