USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Upd_Row_Task_Template]    Script Date: 6/29/2019 5:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Upd_Row_Task_Template](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](20) NOT NULL,
	[ATTRIBUTE_NAME] [varchar](20) NOT NULL,
	[EXPRESSION_ID] [bigint] NULL,
	[SEQUENCE_NUMBER] [int] NOT NULL,
 CONSTRAINT [Upd_Row_Task_Template_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC,
	[TABLE_NAME] ASC,
	[ATTRIBUTE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__402784181]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__402784181] ON [dbo].[Upd_Row_Task_Template]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_398592326]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_398592326] ON [dbo].[Upd_Row_Task_Template]
(
	[EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Upd_Row_Task_Template]  WITH CHECK ADD  CONSTRAINT [Upd_Row_Task_Template_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Task_Templates] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Upd_Row_Task_Template] CHECK CONSTRAINT [Upd_Row_Task_Template_FK]
GO
ALTER TABLE [dbo].[Upd_Row_Task_Template]  WITH CHECK ADD  CONSTRAINT [Upd_Row_Task_Template_FK1] FOREIGN KEY([EXPRESSION_ID])
REFERENCES [dbo].[Expressions] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Upd_Row_Task_Template] CHECK CONSTRAINT [Upd_Row_Task_Template_FK1]
GO
