USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMISASPort]    Script Date: 6/29/2019 5:51:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMISASPort](
	[DEVICE_ID] [bigint] NOT NULL,
	[ELEMENT_NAME] [varchar](250) NOT NULL,
	[PORT_TYPE] [varchar](250) NULL,
	[SYSTEM_NAME] [varchar](250) NULL,
	[AUTO_SENSE] [varchar](250) NULL,
	[FULL_DUPLEX] [varchar](250) NULL,
 CONSTRAINT [SMISASPort_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[ELEMENT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1203881564]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1203881564] ON [dbo].[SMISASPort]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMISASPort]  WITH CHECK ADD  CONSTRAINT [SMISASPort_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SMISASPort] CHECK CONSTRAINT [SMISASPort_FK1]
GO
