USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSDetails]    Script Date: 6/29/2019 5:52:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSDetails](
	[UCS_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[UCSLENGTH] [int] NOT NULL,
 CONSTRAINT [UCSDetails_PK] PRIMARY KEY CLUSTERED 
(
	[UCS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UCSDetails_UK1] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UCSDetails] ADD  DEFAULT ('42') FOR [UCSLENGTH]
GO
