USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[QLinksUserDisplayStatus]    Script Date: 6/29/2019 5:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLinksUserDisplayStatus](
	[USER_ID] [bigint] NOT NULL,
	[PAGE_NAME] [varchar](100) NOT NULL,
	[DISPLAY_STATUS] [bit] NULL,
 CONSTRAINT [QLinksUserDisplayStatus_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[PAGE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_435772174]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_435772174] ON [dbo].[QLinksUserDisplayStatus]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QLinksUserDisplayStatus] ADD  DEFAULT ((0)) FOR [DISPLAY_STATUS]
GO
ALTER TABLE [dbo].[QLinksUserDisplayStatus]  WITH CHECK ADD  CONSTRAINT [QLinksUserDisplayStatus_FK1] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[QLinksUserDisplayStatus] CHECK CONSTRAINT [QLinksUserDisplayStatus_FK1]
GO
