USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PerfMonRTPMetrics_Daily_2019]    Script Date: 6/29/2019 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfMonRTPMetrics_Daily_2019](
	[SID] [int] NOT NULL,
	[HOPNUMBER] [int] NOT NULL,
	[TTL] [int] NOT NULL,
	[HOPNAME] [varchar](75) NOT NULL,
	[COLLECTIONSTATUS] [bigint] NOT NULL,
	[INGRESS_INTF] [varchar](75) NOT NULL,
	[EGRESS_INTF] [varchar](75) NOT NULL,
	[STOP_EVENT] [bigint] NULL,
	[MPKT_DROP_REASON] [varchar](75) NULL,
	[IPPKT_DROP_COUNT] [bigint] NULL,
	[IPBYTE_COUNT] [bigint] NULL,
	[IPPKT_COUNT] [bigint] NULL,
	[MBYTE_COUNT] [bigint] NULL,
	[MPKT_COUNT] [bigint] NULL,
	[RTPJITTERAVG] [bigint] NULL,
	[RTP_PKT_LOST] [bigint] NULL,
	[RTP_LOSS_PERCENT] [bigint] NULL,
	[JITTERLIMIT] [int] NULL,
	[RTPPKTLOSTLIMIT] [int] NULL,
	[COLLECTIONTIME] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerfMonRTPMetrics_Daily_2019] ADD  DEFAULT (NULL) FOR [STOP_EVENT]
GO
ALTER TABLE [dbo].[PerfMonRTPMetrics_Daily_2019] ADD  DEFAULT (NULL) FOR [MPKT_DROP_REASON]
GO
ALTER TABLE [dbo].[PerfMonRTPMetrics_Daily_2019] ADD  DEFAULT (NULL) FOR [IPPKT_DROP_COUNT]
GO
ALTER TABLE [dbo].[PerfMonRTPMetrics_Daily_2019] ADD  DEFAULT (NULL) FOR [IPBYTE_COUNT]
GO
ALTER TABLE [dbo].[PerfMonRTPMetrics_Daily_2019] ADD  DEFAULT (NULL) FOR [IPPKT_COUNT]
GO
ALTER TABLE [dbo].[PerfMonRTPMetrics_Daily_2019] ADD  DEFAULT (NULL) FOR [MBYTE_COUNT]
GO
ALTER TABLE [dbo].[PerfMonRTPMetrics_Daily_2019] ADD  DEFAULT (NULL) FOR [MPKT_COUNT]
GO
ALTER TABLE [dbo].[PerfMonRTPMetrics_Daily_2019] ADD  DEFAULT (NULL) FOR [RTPJITTERAVG]
GO
ALTER TABLE [dbo].[PerfMonRTPMetrics_Daily_2019] ADD  DEFAULT (NULL) FOR [RTP_PKT_LOST]
GO
ALTER TABLE [dbo].[PerfMonRTPMetrics_Daily_2019] ADD  DEFAULT (NULL) FOR [RTP_LOSS_PERCENT]
GO
ALTER TABLE [dbo].[PerfMonRTPMetrics_Daily_2019] ADD  DEFAULT ((0)) FOR [JITTERLIMIT]
GO
ALTER TABLE [dbo].[PerfMonRTPMetrics_Daily_2019] ADD  DEFAULT ((0)) FOR [RTPPKTLOSTLIMIT]
GO
