USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CFTableList]    Script Date: 6/29/2019 5:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFTableList](
	[TABLE_ID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](25) NOT NULL,
	[FIELD_LEVEL_DISPLAY_NAME] [varchar](25) NOT NULL,
	[TOOL] [varchar](10) NOT NULL,
 CONSTRAINT [CFTableList_PK] PRIMARY KEY CLUSTERED 
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CFTableList] ADD  DEFAULT ('no data') FOR [FIELD_LEVEL_DISPLAY_NAME]
GO
ALTER TABLE [dbo].[CFTableList] ADD  DEFAULT ('no data') FOR [TOOL]
GO
