USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Zone]    Script Date: 6/29/2019 5:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zone](
	[DEVICE_ID] [bigint] NOT NULL,
	[ZONE_CONFIG_NAME] [varchar](110) NOT NULL,
	[ZONE_NAME] [varchar](110) NOT NULL,
 CONSTRAINT [ZONE_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[ZONE_CONFIG_NAME] ASC,
	[ZONE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1632150777]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1632150777] ON [dbo].[Zone]
(
	[DEVICE_ID] ASC,
	[ZONE_CONFIG_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Zone]  WITH CHECK ADD  CONSTRAINT [ZONE_FK1] FOREIGN KEY([DEVICE_ID], [ZONE_CONFIG_NAME])
REFERENCES [dbo].[ZoneConfig] ([DEVICE_ID], [ZONE_CONFIG_NAME])
GO
ALTER TABLE [dbo].[Zone] CHECK CONSTRAINT [ZONE_FK1]
GO
