USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaAccSessionProp]    Script Date: 6/29/2019 5:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaAccSessionProp](
	[SESSION_ID] [bigint] NOT NULL,
	[PROP_NAME] [varchar](50) NOT NULL,
	[PROP_VALUE] [varchar](100) NOT NULL,
 CONSTRAINT [AaaAccSessionProperty_PK] PRIMARY KEY CLUSTERED 
(
	[SESSION_ID] ASC,
	[PROP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1291459655]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1291459655] ON [dbo].[AaaAccSessionProp]
(
	[SESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaAccSessionProp]  WITH CHECK ADD  CONSTRAINT [AaaAccSessionProperty_FK] FOREIGN KEY([SESSION_ID])
REFERENCES [dbo].[AaaAccSession] ([SESSION_ID])
GO
ALTER TABLE [dbo].[AaaAccSessionProp] CHECK CONSTRAINT [AaaAccSessionProperty_FK]
GO
