USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMRadiusConfig]    Script Date: 6/29/2019 5:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMRadiusConfig](
	[SERVER_NAME] [varchar](50) NOT NULL,
	[SERVER_PORT] [int] NOT NULL,
	[SERVER_PROTOCOL] [varchar](10) NOT NULL,
	[SERVER_SECRET] [varbinary](max) NOT NULL,
	[RETRIES] [int] NOT NULL,
 CONSTRAINT [NCMRadiusConfig_PK] PRIMARY KEY CLUSTERED 
(
	[SERVER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
