USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OccupiedCFs]    Script Date: 6/29/2019 5:49:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OccupiedCFs](
	[ID] [int] NOT NULL,
 CONSTRAINT [OccupiedCFs_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1028451534]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1028451534] ON [dbo].[OccupiedCFs]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OccupiedCFs]  WITH CHECK ADD  CONSTRAINT [OccupiedCFs_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[FieldsMetaData] ([ID])
GO
ALTER TABLE [dbo].[OccupiedCFs] CHECK CONSTRAINT [OccupiedCFs_FK]
GO
