USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MYDEVICETEMPLATE]    Script Date: 6/29/2019 5:49:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MYDEVICETEMPLATE](
	[VERSION] [bigint] NOT NULL,
 CONSTRAINT [MYDEVICETEMPLATE_PK] PRIMARY KEY CLUSTERED 
(
	[VERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
