USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEPOWERSUPPLYDETAILS]    Script Date: 6/29/2019 5:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEPOWERSUPPLYDETAILS](
	[ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[CONTROLLER_ID] [bigint] NOT NULL,
	[PS_NAME] [varchar](250) NOT NULL,
	[LOCATION] [varchar](250) NULL,
	[STATUS] [varchar](250) NULL,
	[CURRENT_PS] [varchar](250) NULL,
	[ADDITIONAL_DATA] [text] NULL,
 CONSTRAINT [STORAGEPOWERSUPPLYDETAILS_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[PS_NAME] ASC,
	[CONTROLLER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [STORAGEPOWERSUPPLYDETAILS_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_1763615222]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1763615222] ON [dbo].[STORAGEPOWERSUPPLYDETAILS]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEPOWERSUPPLYDETAILS]  WITH CHECK ADD  CONSTRAINT [STORAGEPOWERSUPPLYDETAILS_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STORAGEPOWERSUPPLYDETAILS] CHECK CONSTRAINT [STORAGEPOWERSUPPLYDETAILS_FK1]
GO
