USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserToTourMapping]    Script Date: 6/29/2019 5:52:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserToTourMapping](
	[USERID] [bigint] NOT NULL,
	[SHOWTOUR] [bit] NOT NULL,
 CONSTRAINT [UserToTourMapping_PK1] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserToTourMapping] ADD  DEFAULT ((0)) FOR [SHOWTOUR]
GO
