USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenVMToHostMap]    Script Date: 6/29/2019 5:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenVMToHostMap](
	[XENSERVER_ID] [bigint] NOT NULL,
	[VM_ID] [bigint] NOT NULL,
 CONSTRAINT [XenVMToHostMap_PK] PRIMARY KEY CLUSTERED 
(
	[XENSERVER_ID] ASC,
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_408209358]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_408209358] ON [dbo].[XenVMToHostMap]
(
	[XENSERVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_408209359]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_408209359] ON [dbo].[XenVMToHostMap]
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenVMToHostMap]  WITH CHECK ADD  CONSTRAINT [XenVMToHostMap_FK1] FOREIGN KEY([XENSERVER_ID])
REFERENCES [dbo].[XenServerProps] ([XENSERVER_ID])
GO
ALTER TABLE [dbo].[XenVMToHostMap] CHECK CONSTRAINT [XenVMToHostMap_FK1]
GO
ALTER TABLE [dbo].[XenVMToHostMap]  WITH CHECK ADD  CONSTRAINT [XenVMToHostMap_FK2] FOREIGN KEY([VM_ID])
REFERENCES [dbo].[XenVMProps] ([VM_ID])
GO
ALTER TABLE [dbo].[XenVMToHostMap] CHECK CONSTRAINT [XenVMToHostMap_FK2]
GO
