USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PathInfo]    Script Date: 6/29/2019 5:50:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PathInfo](
	[PATHID] [int] NOT NULL,
	[PATHVALUE] [nvarchar](512) NOT NULL,
 CONSTRAINT [PATHINFO_PK] PRIMARY KEY CLUSTERED 
(
	[PATHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
