USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMSyslogStateCheckerRegEx]    Script Date: 6/29/2019 5:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMSyslogStateCheckerRegEx](
	[REGEXID] [int] NOT NULL,
	[PERSONALITYID] [bigint] NOT NULL,
	[REGEX] [varchar](200) NOT NULL,
	[TYPE] [int] NOT NULL,
 CONSTRAINT [NCMSSCRegEx_PK] PRIMARY KEY CLUSTERED 
(
	[REGEXID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMSSCRegEx_UNQ1] UNIQUE NONCLUSTERED 
(
	[PERSONALITYID] ASC,
	[REGEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_774899401]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_774899401] ON [dbo].[NCMSyslogStateCheckerRegEx]
(
	[PERSONALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMSyslogStateCheckerRegEx] ADD  DEFAULT ('0') FOR [TYPE]
GO
ALTER TABLE [dbo].[NCMSyslogStateCheckerRegEx]  WITH CHECK ADD  CONSTRAINT [NCMSSCRegEx_FK1] FOREIGN KEY([PERSONALITYID])
REFERENCES [dbo].[NCMPersonality] ([PERSONALITYID])
GO
ALTER TABLE [dbo].[NCMSyslogStateCheckerRegEx] CHECK CONSTRAINT [NCMSSCRegEx_FK1]
GO
