USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BeanProperties]    Script Date: 6/29/2019 5:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeanProperties](
	[BEANPROP_ID] [bigint] NOT NULL,
	[BEAN_ID] [bigint] NOT NULL,
	[PROPERTY] [varchar](100) NOT NULL,
	[VALUE] [varchar](100) NOT NULL,
 CONSTRAINT [BeanProperties_PK] PRIMARY KEY CLUSTERED 
(
	[BEANPROP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1146435231]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1146435231] ON [dbo].[BeanProperties]
(
	[BEAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BeanProperties]  WITH CHECK ADD  CONSTRAINT [BeanProperties_FK] FOREIGN KEY([BEAN_ID])
REFERENCES [dbo].[Bean] ([BEAN_ID])
GO
ALTER TABLE [dbo].[BeanProperties] CHECK CONSTRAINT [BeanProperties_FK]
GO
