USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMProcessedDTFiles]    Script Date: 6/29/2019 5:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMProcessedDTFiles](
	[FILE_NAME] [varchar](255) NOT NULL,
 CONSTRAINT [NCMProcessedDTFiles_PK] PRIMARY KEY CLUSTERED 
(
	[FILE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
