USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic500BladeDevice]    Script Date: 6/29/2019 5:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic500BladeDevice](
	[DEVICE_ID] [int] NOT NULL,
	[BLADE_ID] [bigint] NOT NULL,
	[UID] [varchar](250) NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
	[VENDOR] [varchar](250) NOT NULL,
	[PRODUCT] [varchar](250) NOT NULL,
	[SERIAL_NO] [varchar](250) NOT NULL,
	[IF_TYPE] [varchar](250) NOT NULL,
	[SCSI_LUN] [int] NOT NULL,
	[CTLR_ID] [int] NOT NULL,
	[DEVICE_FV] [varchar](250) NOT NULL,
	[TARGET_LUN] [int] NOT NULL,
 CONSTRAINT [Adic500BladeDevice_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[BLADE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__198363517]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__198363517] ON [dbo].[Adic500BladeDevice]
(
	[BLADE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic500BladeDevice]  WITH CHECK ADD  CONSTRAINT [Adic500BladeDevice_FK1] FOREIGN KEY([BLADE_ID])
REFERENCES [dbo].[Adic500BladeInterface] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic500BladeDevice] CHECK CONSTRAINT [Adic500BladeDevice_FK1]
GO
