USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCIsilonPowerSensorInfo]    Script Date: 6/29/2019 5:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCIsilonPowerSensorInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[NUMBER] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
 CONSTRAINT [EMCIsilonPowerSensorInfo_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1021344979]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1021344979] ON [dbo].[EMCIsilonPowerSensorInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCIsilonPowerSensorInfo]  WITH CHECK ADD  CONSTRAINT [EMCIsilonPowerSensorInfo_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCIsilonPowerSensorInfo] CHECK CONSTRAINT [EMCIsilonPowerSensorInfo_FK1]
GO
