USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCSymmetrixStorageVolume]    Script Date: 6/29/2019 5:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCSymmetrixStorageVolume](
	[DEVICE_ID] [bigint] NOT NULL,
	[VOLUME_ID] [varchar](250) NOT NULL,
	[SP_ID] [varchar](250) NOT NULL,
	[SP_SPACE_CONSUMED] [varchar](250) NOT NULL,
	[CONFIGURED_SPACE] [varchar](250) NOT NULL,
	[DATA_REDUNDANCY] [int] NOT NULL,
	[PACKAGE_REDUNDANCY] [int] NOT NULL,
	[DATA_FORMAT] [varchar](250) NOT NULL,
	[IS_COMPOSITE] [varchar](250) NOT NULL,
	[IS_MAPPED] [varchar](250) NOT NULL,
	[IS_PRIMORDIAL] [varchar](250) NOT NULL,
	[VOLUME_ATTRIBUTES] [varchar](150) NOT NULL,
	[CAPTION] [varchar](250) NOT NULL,
	[WWN] [varchar](250) NOT NULL,
	[RAID_LEVEL] [varchar](250) NOT NULL,
 CONSTRAINT [EMCSymmetrixStorageVolume_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[VOLUME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_802215249]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_802215249] ON [dbo].[EMCSymmetrixStorageVolume]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCSymmetrixStorageVolume]  WITH CHECK ADD  CONSTRAINT [EMCSymmetrixStorageVolume_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[EMCSymmetrixRaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCSymmetrixStorageVolume] CHECK CONSTRAINT [EMCSymmetrixStorageVolume_FK1]
GO
