USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ClientServiceProviders]    Script Date: 6/29/2019 5:46:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientServiceProviders](
	[CVTYPEID] [bigint] NOT NULL,
	[COMM_MODE] [int] NOT NULL,
	[SPINDEX] [int] NOT NULL,
	[SERVICEPROVIDER] [varchar](96) NOT NULL,
 CONSTRAINT [ClientServiceProviders_PK] PRIMARY KEY CLUSTERED 
(
	[CVTYPEID] ASC,
	[COMM_MODE] ASC,
	[SERVICEPROVIDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_112767562]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_112767562] ON [dbo].[ClientServiceProviders]
(
	[CVTYPEID] ASC,
	[COMM_MODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClientServiceProviders]  WITH CHECK ADD  CONSTRAINT [ClientSP_MSSP_FK] FOREIGN KEY([CVTYPEID], [COMM_MODE])
REFERENCES [dbo].[ModeSpecificServiceProviders] ([CVTYPEID], [COMM_MODE])
GO
ALTER TABLE [dbo].[ClientServiceProviders] CHECK CONSTRAINT [ClientSP_MSSP_FK]
GO
