USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VNXFileSystemDiskLink]    Script Date: 6/29/2019 5:52:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VNXFileSystemDiskLink](
	[RAID_ID] [bigint] NOT NULL,
	[FS_ID] [varchar](150) NOT NULL,
	[DISK_NAME] [varchar](150) NOT NULL,
 CONSTRAINT [VNXFileSystemDiskLink_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[FS_ID] ASC,
	[DISK_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1411997250]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1411997250] ON [dbo].[VNXFileSystemDiskLink]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VNXFileSystemDiskLink]  WITH CHECK ADD  CONSTRAINT [VNXFileSystemDiskLink_FK] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[VNXFileSystemDiskLink] CHECK CONSTRAINT [VNXFileSystemDiskLink_FK]
GO
