USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCSymmetrixRaidController]    Script Date: 6/29/2019 5:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCSymmetrixRaidController](
	[DEVICE_ID] [bigint] NOT NULL,
	[CTLR_NUMBER] [int] NOT NULL,
	[SLOT_NUMBER] [int] NOT NULL,
	[READ_CACHE] [int] NOT NULL,
	[WRITE_CACHE] [int] NOT NULL,
	[ROLES] [varchar](250) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
 CONSTRAINT [EMCSymmetrixRaidController_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1221044708]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1221044708] ON [dbo].[EMCSymmetrixRaidController]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCSymmetrixRaidController]  WITH CHECK ADD  CONSTRAINT [EMCSymmetrixRaidController_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[RaidController] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCSymmetrixRaidController] CHECK CONSTRAINT [EMCSymmetrixRaidController_FK1]
GO
