USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AddOnProps]    Script Date: 6/29/2019 5:45:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddOnProps](
	[PROPERTY] [varchar](255) NOT NULL,
	[VALUE] [varchar](255) NOT NULL,
 CONSTRAINT [AddOnProps_PK1] PRIMARY KEY CLUSTERED 
(
	[PROPERTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
