USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BVLegendColors]    Script Date: 6/29/2019 5:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BVLegendColors](
	[COLOR_INDEX] [varchar](50) NOT NULL,
	[COLOR_VALUE] [varchar](50) NOT NULL,
 CONSTRAINT [BVLegendColors_PK] PRIMARY KEY CLUSTERED 
(
	[COLOR_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
