USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPMSAP2000DiskDrive]    Script Date: 6/29/2019 5:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPMSAP2000DiskDrive](
	[DEVICE_ID] [bigint] NOT NULL,
	[DISK_NAME] [varchar](250) NOT NULL,
	[DATA_REDUNDANCY] [varchar](250) NOT NULL,
	[BLOCK_SIZE] [varchar](250) NULL,
	[CONSUMABLE_SPACE] [varchar](250) NOT NULL,
	[TOTAL_SPACE] [varchar](250) NULL,
	[STORAGE_UNITS] [varchar](250) NULL,
	[PRIMORDIAL] [varchar](250) NOT NULL,
	[SYSTEM_NAME] [varchar](250) NULL,
 CONSTRAINT [HPMSAP2000Disk_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DISK_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1981535013]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1981535013] ON [dbo].[HPMSAP2000DiskDrive]
(
	[DEVICE_ID] ASC,
	[DISK_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPMSAP2000DiskDrive]  WITH CHECK ADD  CONSTRAINT [HPMSAP2000Disk_FK1] FOREIGN KEY([DEVICE_ID], [DISK_NAME])
REFERENCES [dbo].[SMIDiskDrive] ([DEVICE_ID], [DISK_NAME])
GO
ALTER TABLE [dbo].[HPMSAP2000DiskDrive] CHECK CONSTRAINT [HPMSAP2000Disk_FK1]
GO
