USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPMToNCMMapping]    Script Date: 6/29/2019 5:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPMToNCMMapping](
	[MOID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
 CONSTRAINT [OPMToNCMMapping_PK1] PRIMARY KEY CLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__845397333]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__845397333] ON [dbo].[OPMToNCMMapping]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__845397334]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__845397334] ON [dbo].[OPMToNCMMapping]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPMToNCMMapping]  WITH CHECK ADD  CONSTRAINT [OPMToNCMMapping_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[OPMToNCMMapping] CHECK CONSTRAINT [OPMToNCMMapping_FK1]
GO
ALTER TABLE [dbo].[OPMToNCMMapping]  WITH CHECK ADD  CONSTRAINT [OPMToNCMMapping_FK2] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[OPMToNCMMapping] CHECK CONSTRAINT [OPMToNCMMapping_FK2]
GO
