USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LambdaDriver]    Script Date: 6/29/2019 5:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LambdaDriver](
	[RESOURCEID] [bigint] NOT NULL,
	[BOOT_VERSION] [varchar](15) NOT NULL,
	[CHASSIS] [varchar](15) NOT NULL,
	[SERIALNUMBER] [varchar](15) NOT NULL,
 CONSTRAINT [LambdaDriver_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2091439428]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2091439428] ON [dbo].[LambdaDriver]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LambdaDriver] ADD  DEFAULT ('Not Available') FOR [BOOT_VERSION]
GO
ALTER TABLE [dbo].[LambdaDriver] ADD  DEFAULT ('Not Available') FOR [CHASSIS]
GO
ALTER TABLE [dbo].[LambdaDriver] ADD  DEFAULT ('Not Available') FOR [SERIALNUMBER]
GO
ALTER TABLE [dbo].[LambdaDriver]  WITH CHECK ADD  CONSTRAINT [LambdaDriver_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[LambdaDriver] CHECK CONSTRAINT [LambdaDriver_FK1]
GO
