USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProbeVsPollId]    Script Date: 6/29/2019 5:50:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProbeVsPollId](
	[PROBE_ID] [bigint] NOT NULL,
	[POLLID] [bigint] NOT NULL,
 CONSTRAINT [ProbeVsPollId_PK] PRIMARY KEY CLUSTERED 
(
	[PROBE_ID] ASC,
	[POLLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__148190723]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__148190723] ON [dbo].[ProbeVsPollId]
(
	[PROBE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProbeVsPollId]  WITH CHECK ADD  CONSTRAINT [ProbeVsPollId_FK] FOREIGN KEY([PROBE_ID])
REFERENCES [dbo].[ProbeId] ([PROBE_ID])
GO
ALTER TABLE [dbo].[ProbeVsPollId] CHECK CONSTRAINT [ProbeVsPollId_FK]
GO
