USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AdicTapeLibrary]    Script Date: 6/29/2019 5:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdicTapeLibrary](
	[DEVICE_ID] [bigint] NOT NULL,
	[AUTO_INVENTORY_MODE] [varchar](250) NOT NULL,
	[AUTO_CALIBRATE_MODE] [varchar](250) NOT NULL,
	[AUTO_CONFIGURE_MODE] [varchar](250) NOT NULL,
	[NO_OF_AISLES] [varchar](250) NOT NULL,
	[OPERATING_MODE] [varchar](250) NOT NULL,
	[NO_CLEANING_CARTRIDGES] [varchar](250) NOT NULL,
	[AUTO_CLEANING] [varchar](250) NOT NULL,
	[DOOR_STATUS] [varchar](250) NOT NULL,
	[NO_OF_FRAMES] [varchar](250) NOT NULL,
 CONSTRAINT [ADICTAPELIBRARY_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1171461609]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1171461609] ON [dbo].[AdicTapeLibrary]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdicTapeLibrary]  WITH CHECK ADD  CONSTRAINT [ADICTAPELIBRARY_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[AdicTapeLibrary] CHECK CONSTRAINT [ADICTAPELIBRARY_FK1]
GO
