USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Replace_Reg_Expr_Str]    Script Date: 6/29/2019 5:50:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Replace_Reg_Expr_Str](
	[STRING_EXPR_ID] [bigint] NOT NULL,
	[PATTERN_EXPR_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[CHAR_SEQUENCE_ID] [bigint] NOT NULL,
	[REPLACE_STRING_ID] [bigint] NOT NULL,
 CONSTRAINT [Replace_Reg_Expr_Str_PK] PRIMARY KEY CLUSTERED 
(
	[STRING_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1012230183]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1012230183] ON [dbo].[Replace_Reg_Expr_Str]
(
	[STRING_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1314364650]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1314364650] ON [dbo].[Replace_Reg_Expr_Str]
(
	[CHAR_SEQUENCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1314364651]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1314364651] ON [dbo].[Replace_Reg_Expr_Str]
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1314364652]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1314364652] ON [dbo].[Replace_Reg_Expr_Str]
(
	[REPLACE_STRING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Replace_Reg_Expr_Str]  WITH CHECK ADD  CONSTRAINT [Replace_Reg_Expr_Str_FK] FOREIGN KEY([STRING_EXPR_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Replace_Reg_Expr_Str] CHECK CONSTRAINT [Replace_Reg_Expr_Str_FK]
GO
ALTER TABLE [dbo].[Replace_Reg_Expr_Str]  WITH CHECK ADD  CONSTRAINT [Replace_Reg_Expr_Str_FK1] FOREIGN KEY([CHAR_SEQUENCE_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Replace_Reg_Expr_Str] CHECK CONSTRAINT [Replace_Reg_Expr_Str_FK1]
GO
ALTER TABLE [dbo].[Replace_Reg_Expr_Str]  WITH CHECK ADD  CONSTRAINT [Replace_Reg_Expr_Str_FK2] FOREIGN KEY([PATTERN_EXPR_ID])
REFERENCES [dbo].[Pattern_Expressions] ([PATTERN_EXPR_ID])
GO
ALTER TABLE [dbo].[Replace_Reg_Expr_Str] CHECK CONSTRAINT [Replace_Reg_Expr_Str_FK2]
GO
ALTER TABLE [dbo].[Replace_Reg_Expr_Str]  WITH CHECK ADD  CONSTRAINT [Replace_Reg_Expr_Str_FK3] FOREIGN KEY([REPLACE_STRING_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Replace_Reg_Expr_Str] CHECK CONSTRAINT [Replace_Reg_Expr_Str_FK3]
GO
