USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HostDetails]    Script Date: 6/29/2019 5:48:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostDetails](
	[RESOURCENAME] [varchar](100) NOT NULL,
	[COMPONENTNAME] [varchar](50) NOT NULL,
	[USERNAME] [varchar](25) NULL,
	[PASSWORD] [varchar](15) NULL,
	[PROMPT] [varchar](50) NULL,
	[CATEGORY] [varchar](250) NULL,
	[ERRORMSG] [varchar](200) NULL,
	[LOGINPROMPT] [varchar](50) NULL,
	[PASSWORDPROMPT] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RESOURCENAME] ASC,
	[COMPONENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
