USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TapeLibraryDrivePort]    Script Date: 6/29/2019 5:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TapeLibraryDrivePort](
	[LIBRARY_DRIVE_ID] [bigint] NOT NULL,
	[LIBRARY_DRIVE_PORT_ID] [bigint] NOT NULL,
 CONSTRAINT [TAPELIBRARYDRIVEPORT_PK] PRIMARY KEY CLUSTERED 
(
	[LIBRARY_DRIVE_ID] ASC,
	[LIBRARY_DRIVE_PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_543156767]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_543156767] ON [dbo].[TapeLibraryDrivePort]
(
	[LIBRARY_DRIVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_543156768]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_543156768] ON [dbo].[TapeLibraryDrivePort]
(
	[LIBRARY_DRIVE_PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TapeLibraryDrivePort]  WITH CHECK ADD  CONSTRAINT [TAPELIBRARYDRIVEPORT_FK1] FOREIGN KEY([LIBRARY_DRIVE_ID])
REFERENCES [dbo].[TapeDrive] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[TapeLibraryDrivePort] CHECK CONSTRAINT [TAPELIBRARYDRIVEPORT_FK1]
GO
ALTER TABLE [dbo].[TapeLibraryDrivePort]  WITH CHECK ADD  CONSTRAINT [TAPELIBRARYDRIVEPORT_FK2] FOREIGN KEY([LIBRARY_DRIVE_PORT_ID])
REFERENCES [dbo].[Port] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[TapeLibraryDrivePort] CHECK CONSTRAINT [TAPELIBRARYDRIVEPORT_FK2]
GO
