USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NONSNMPResources]    Script Date: 6/29/2019 5:49:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NONSNMPResources](
	[RESOURCEID] [bigint] NOT NULL,
	[TYPE] [int] NOT NULL,
 CONSTRAINT [NONSNMPResources_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__667189433]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__667189433] ON [dbo].[NONSNMPResources]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NONSNMPResources] ADD  DEFAULT ('1') FOR [TYPE]
GO
ALTER TABLE [dbo].[NONSNMPResources]  WITH CHECK ADD  CONSTRAINT [NONSNMPResources_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[OpUtilsResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NONSNMPResources] CHECK CONSTRAINT [NONSNMPResources_FK1]
GO
