USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProfileToReportsMap]    Script Date: 6/29/2019 5:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileToReportsMap](
	[PROFILE_ID] [bigint] NOT NULL,
	[REPORT_ID] [int] NOT NULL,
 CONSTRAINT [ProfileToReportsMap_PKZ] PRIMARY KEY CLUSTERED 
(
	[PROFILE_ID] ASC,
	[REPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__67165789]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__67165789] ON [dbo].[ProfileToReportsMap]
(
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProfileToReportsMap]  WITH CHECK ADD  CONSTRAINT [ProfileToReportsMap_FK] FOREIGN KEY([PROFILE_ID])
REFERENCES [dbo].[ReportProfileDetails] ([PROFILE_ID])
GO
ALTER TABLE [dbo].[ProfileToReportsMap] CHECK CONSTRAINT [ProfileToReportsMap_FK]
GO
