USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VMNetworkAdaptersHourly]    Script Date: 6/29/2019 5:52:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMNetworkAdaptersHourly](
	[ID] [bigint] NOT NULL,
	[NETWORKID] [varchar](250) NOT NULL,
	[NETWORKNAME] [varchar](250) NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[MINPKTSSENT] [int] NOT NULL,
	[MAXPKTSSENT] [int] NOT NULL,
	[PKTSSENT] [int] NOT NULL,
	[MINPKTSRECEIVED] [int] NOT NULL,
	[MAXPKTSRECEIVED] [int] NOT NULL,
	[PKTSRECEIVED] [int] NOT NULL,
	[MINKBSENT] [int] NOT NULL,
	[MAXKBSENT] [int] NOT NULL,
	[KBSENT] [int] NOT NULL,
	[MINKBRECEIVED] [int] NOT NULL,
	[MAXKBRECEIVED] [int] NOT NULL,
	[KBRECEIVED] [int] NOT NULL,
 CONSTRAINT [VMNetworkAdaptersHourly_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[NETWORKID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
