USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SCSITargetProps]    Script Date: 6/29/2019 5:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCSITargetProps](
	[SCSI_TARGETID] [bigint] NOT NULL,
	[VHOSTHBA_ID] [bigint] NOT NULL,
	[TARGET_INDEX] [int] NULL,
	[TARGET_TYPE] [bigint] NULL,
	[TARGET_NWWN] [bigint] NULL,
	[TARGET_PWWN] [varchar](200) NULL,
	[SCSI_IDENTIFIER] [varchar](50) NULL,
 CONSTRAINT [SCSITargetProps_PK] PRIMARY KEY CLUSTERED 
(
	[SCSI_TARGETID] ASC,
	[VHOSTHBA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1232107354]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1232107354] ON [dbo].[SCSITargetProps]
(
	[VHOSTHBA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SCSITargetProps]  WITH CHECK ADD  CONSTRAINT [SCSITargetProps_FK1] FOREIGN KEY([VHOSTHBA_ID])
REFERENCES [dbo].[VHostHBAdapterProps] ([VHOSTHBA_ID])
GO
ALTER TABLE [dbo].[SCSITargetProps] CHECK CONSTRAINT [SCSITargetProps_FK1]
GO
