USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WAASProperties]    Script Date: 6/29/2019 5:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAASProperties](
	[ID] [int] NOT NULL,
	[CM_IP] [varchar](100) NOT NULL,
	[CM_PORT] [varchar](100) NOT NULL,
	[CM_PROTOCOL] [varchar](100) NOT NULL,
	[CM_USERNAME] [varchar](100) NOT NULL,
	[CM_PASSWORD] [varchar](250) NOT NULL,
 CONSTRAINT [WAASProperties_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
