USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarSlammer]    Script Date: 6/29/2019 5:50:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarSlammer](
	[SLAMMER_DEVICE_ID] [bigint] NOT NULL,
	[INSTANCE] [int] NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[FQN] [varchar](250) NULL,
	[TYPE] [varchar](250) NULL,
 CONSTRAINT [PillarSlammer_PK] PRIMARY KEY CLUSTERED 
(
	[SLAMMER_DEVICE_ID] ASC,
	[INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__597722951]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__597722951] ON [dbo].[PillarSlammer]
(
	[SLAMMER_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarSlammer]  WITH CHECK ADD  CONSTRAINT [PillarSlammer_FK] FOREIGN KEY([SLAMMER_DEVICE_ID])
REFERENCES [dbo].[RaidController] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[PillarSlammer] CHECK CONSTRAINT [PillarSlammer_FK]
GO
