USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AFToMailSettings]    Script Date: 6/29/2019 5:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AFToMailSettings](
	[AF_ID] [bigint] NOT NULL,
	[MAILSETTINGSID] [bigint] NOT NULL,
 CONSTRAINT [AFToMailSettings_PK] PRIMARY KEY CLUSTERED 
(
	[AF_ID] ASC,
	[MAILSETTINGSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__669084952]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__669084952] ON [dbo].[AFToMailSettings]
(
	[MAILSETTINGSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__669084953]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__669084953] ON [dbo].[AFToMailSettings]
(
	[AF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AFToMailSettings]  WITH CHECK ADD  CONSTRAINT [AFToMailSettings_FK1] FOREIGN KEY([AF_ID])
REFERENCES [dbo].[AnomalyFilters] ([AF_ID])
GO
ALTER TABLE [dbo].[AFToMailSettings] CHECK CONSTRAINT [AFToMailSettings_FK1]
GO
ALTER TABLE [dbo].[AFToMailSettings]  WITH CHECK ADD  CONSTRAINT [AFToMailSettings_FK2] FOREIGN KEY([MAILSETTINGSID])
REFERENCES [dbo].[MailSettings] ([MAILSETTINGSID])
GO
ALTER TABLE [dbo].[AFToMailSettings] CHECK CONSTRAINT [AFToMailSettings_FK2]
GO
