USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMSoftwareImage]    Script Date: 6/29/2019 5:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMSoftwareImage](
	[IMAGEID] [bigint] NOT NULL,
	[IMAGENAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
	[LOCATION] [varchar](100) NOT NULL,
	[OWNER_ID] [bigint] NOT NULL,
	[IMAGESIZE] [bigint] NULL,
	[OSVERSION] [varchar](10) NOT NULL,
	[TIMESTAMP] [datetime] NULL,
 CONSTRAINT [NCMSoftwareImage_PK] PRIMARY KEY CLUSTERED 
(
	[IMAGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1563268841]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1563268841] ON [dbo].[NCMSoftwareImage]
(
	[OWNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMSoftwareImage] ADD  DEFAULT ('No Description') FOR [DESCRIPTION]
GO
ALTER TABLE [dbo].[NCMSoftwareImage] ADD  DEFAULT ('Note Given') FOR [OSVERSION]
GO
ALTER TABLE [dbo].[NCMSoftwareImage]  WITH CHECK ADD  CONSTRAINT [NCMSoftwareImage_FK1] FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[AaaLogin] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[NCMSoftwareImage] CHECK CONSTRAINT [NCMSoftwareImage_FK1]
GO
