USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STKSL8500TapeCartridge]    Script Date: 6/29/2019 5:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STKSL8500TapeCartridge](
	[DEVICE_ID] [bigint] NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[LABEL] [varchar](250) NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
	[LOCATION_ID] [varchar](250) NOT NULL,
	[STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [STKSL8500TapeCartridge_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1605579498]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1605579498] ON [dbo].[STKSL8500TapeCartridge]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STKSL8500TapeCartridge]  WITH CHECK ADD  CONSTRAINT [STKSL8500TapeCartridge_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STKSL8500TapeCartridge] CHECK CONSTRAINT [STKSL8500TapeCartridge_FK1]
GO
