USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TRAPPROFILE]    Script Date: 6/29/2019 5:52:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAPPROFILE](
	[PROFILEID] [bigint] NOT NULL,
	[DESTINATIONHOST] [varchar](255) NOT NULL,
	[DESTINATIONPORT] [int] NOT NULL,
	[VERSION] [varchar](255) NOT NULL,
	[COMMUNITY] [varbinary](max) NOT NULL,
	[VARBIND] [varchar](4000) NOT NULL,
	[CREDENTIALID] [bigint] NOT NULL,
 CONSTRAINT [TRAPPROFILE_PK] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_1456484105]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1456484105] ON [dbo].[TRAPPROFILE]
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRAPPROFILE] ADD  DEFAULT ('0') FOR [CREDENTIALID]
GO
ALTER TABLE [dbo].[TRAPPROFILE]  WITH CHECK ADD  CONSTRAINT [TRAPPROFILE_FK1] FOREIGN KEY([PROFILEID])
REFERENCES [dbo].[NotificationProfile] ([PROFILEID])
GO
ALTER TABLE [dbo].[TRAPPROFILE] CHECK CONSTRAINT [TRAPPROFILE_FK1]
GO
