USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaAccHttpSession]    Script Date: 6/29/2019 5:45:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaAccHttpSession](
	[SESSION_ID] [bigint] NOT NULL,
	[SSO_ID] [varchar](50) NOT NULL,
 CONSTRAINT [AaaAccHttpSession_PK] PRIMARY KEY CLUSTERED 
(
	[SESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1015158154]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1015158154] ON [dbo].[AaaAccHttpSession]
(
	[SESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaAccHttpSession]  WITH CHECK ADD  CONSTRAINT [AaaAccHttpSession_FK] FOREIGN KEY([SESSION_ID])
REFERENCES [dbo].[AaaAccSession] ([SESSION_ID])
GO
ALTER TABLE [dbo].[AaaAccHttpSession] CHECK CONSTRAINT [AaaAccHttpSession_FK]
GO
