USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetworkComponentConfiguration]    Script Date: 6/29/2019 5:49:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetworkComponentConfiguration](
	[COMPONENTTYPE] [varchar](50) NOT NULL,
	[COMPONENTHIERARCHYID] [varchar](50) NOT NULL,
	[CRITERIA] [varchar](250) NULL,
	[COMPONENTLEVEL] [bigint] NOT NULL,
	[NETWORKCOMPONENTNAME] [varchar](250) NOT NULL,
 CONSTRAINT [NetCompConf_PK] PRIMARY KEY CLUSTERED 
(
	[NETWORKCOMPONENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NetCompConf_UK] UNIQUE NONCLUSTERED 
(
	[COMPONENTTYPE] ASC,
	[COMPONENTHIERARCHYID] ASC,
	[COMPONENTLEVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__438795586]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__438795586] ON [dbo].[NetworkComponentConfiguration]
(
	[NETWORKCOMPONENTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetworkComponentConfiguration]  WITH CHECK ADD  CONSTRAINT [NetCompConf_FK2] FOREIGN KEY([NETWORKCOMPONENTNAME])
REFERENCES [dbo].[DiscoveryConfiguration] ([NAME])
GO
ALTER TABLE [dbo].[NetworkComponentConfiguration] CHECK CONSTRAINT [NetCompConf_FK2]
GO
