USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduledMOIDs]    Script Date: 6/29/2019 5:51:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduledMOIDs](
	[SCHEDULEID] [bigint] NOT NULL,
	[MOID] [bigint] NOT NULL,
 CONSTRAINT [ScheduledMOIDs_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC,
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__512432073]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__512432073] ON [dbo].[ScheduledMOIDs]
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__512432074]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__512432074] ON [dbo].[ScheduledMOIDs]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduledMOIDs]  WITH CHECK ADD  CONSTRAINT [ScheduledMOIDs_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[ScheduledMOIDs] CHECK CONSTRAINT [ScheduledMOIDs_FK1]
GO
ALTER TABLE [dbo].[ScheduledMOIDs]  WITH CHECK ADD  CONSTRAINT [ScheduledMOIDs_FK2] FOREIGN KEY([SCHEDULEID])
REFERENCES [dbo].[ScheduleReports] ([SCHEDULEID])
GO
ALTER TABLE [dbo].[ScheduledMOIDs] CHECK CONSTRAINT [ScheduledMOIDs_FK2]
GO
