USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STKSL8500PTP]    Script Date: 6/29/2019 5:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STKSL8500PTP](
	[DEVICE_ID] [bigint] NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[ADDRESS] [varchar](250) NOT NULL,
	[STATE] [varchar](250) NOT NULL,
	[SERIAL_NO] [varchar](250) NOT NULL,
	[PART_NO] [varchar](250) NOT NULL,
	[FIRM_VER] [varchar](250) NOT NULL,
	[FIRM_DATE] [varchar](250) NOT NULL,
 CONSTRAINT [STKSL8500PTP_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__274595335]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__274595335] ON [dbo].[STKSL8500PTP]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STKSL8500PTP]  WITH CHECK ADD  CONSTRAINT [STKSL8500PTP_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[STKSL8500PTP] CHECK CONSTRAINT [STKSL8500PTP_FK1]
GO
