USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataCenterTemplate]    Script Date: 6/29/2019 5:46:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataCenterTemplate](
	[ENTITYTYPEID] [bigint] NOT NULL,
	[ENTITYTYPE] [varchar](50) NOT NULL,
	[PARENTTYPE] [varchar](50) NOT NULL,
 CONSTRAINT [DataCenterTemplate_PK] PRIMARY KEY CLUSTERED 
(
	[ENTITYTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
