USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScriptSettings]    Script Date: 6/29/2019 5:51:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScriptSettings](
	[SCRIPTID] [bigint] NOT NULL,
	[LOCATION] [nvarchar](250) NULL,
	[ARGUMENTS] [nvarchar](1200) NULL,
 CONSTRAINT [ScriptSettings_PK] PRIMARY KEY CLUSTERED 
(
	[SCRIPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
