USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LUNMultiPathPolicyCons]    Script Date: 6/29/2019 5:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUNMultiPathPolicyCons](
	[LUN_MULTIPATH_POLICYID] [bigint] NOT NULL,
	[POLICY_DESCRIPTION] [varchar](100) NOT NULL,
 CONSTRAINT [LUNMutliPathPolicyCons_PK] PRIMARY KEY CLUSTERED 
(
	[LUN_MULTIPATH_POLICYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
