USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMSVCNodePort]    Script Date: 6/29/2019 5:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMSVCNodePort](
	[NODE_PORT_ID] [bigint] NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NULL,
	[PORT_ID] [varchar](250) NULL,
	[PORT_SPEED] [varchar](250) NULL,
 CONSTRAINT [IBMSVCNodePort_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[NODE_PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IBMSVCNodePort_UK0] UNIQUE NONCLUSTERED 
(
	[NODE_PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_157741525]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_157741525] ON [dbo].[IBMSVCNodePort]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMSVCNodePort]  WITH CHECK ADD  CONSTRAINT [IBMSVCNodePort_FK] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMSVCNodePort] CHECK CONSTRAINT [IBMSVCNodePort_FK]
GO
