USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RBBColumnOptions]    Script Date: 6/29/2019 5:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RBBColumnOptions](
	[RBBCID] [bigint] NOT NULL,
	[VALUE] [nvarchar](180) NOT NULL,
	[COLOR] [nvarchar](250) NULL,
	[ORDERID] [bigint] NULL,
 CONSTRAINT [RBBColumnOptions_PK] PRIMARY KEY CLUSTERED 
(
	[RBBCID] ASC,
	[VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1369107922]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1369107922] ON [dbo].[RBBColumnOptions]
(
	[RBBCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RBBColumnOptions_UK0]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [RBBColumnOptions_UK0] ON [dbo].[RBBColumnOptions]
(
	[ORDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RBBColumnOptions]  WITH CHECK ADD  CONSTRAINT [RBBColumnOptions_FK] FOREIGN KEY([RBBCID])
REFERENCES [dbo].[ReportBuildingBlockColumn] ([RBBCID])
GO
ALTER TABLE [dbo].[RBBColumnOptions] CHECK CONSTRAINT [RBBColumnOptions_FK]
GO
