USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ComplianceUserInputs]    Script Date: 6/29/2019 5:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplianceUserInputs](
	[COM_USER_ID] [bigint] NOT NULL,
	[RID] [bigint] NOT NULL,
	[LAN_INTERFACE] [nvarchar](500) NULL,
	[DMZ_INTERFACE] [nvarchar](500) NULL,
	[PCIZone_INTERFACE] [nvarchar](500) NULL,
	[WAN_INTERFACE] [nvarchar](500) NULL,
	[SERVICES_ALLOWED] [ntext] NULL,
	[EXTRA_COLUMN1] [ntext] NULL,
	[EXTRA_COLUMN2] [ntext] NULL,
 CONSTRAINT [ComplianceUserInputs_PK] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ComplianceUserInputs_UK0] UNIQUE NONCLUSTERED 
(
	[COM_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_981269205]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_981269205] ON [dbo].[ComplianceUserInputs]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComplianceUserInputs]  WITH CHECK ADD  CONSTRAINT [ComplianceUserInputs_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[Resources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ComplianceUserInputs] CHECK CONSTRAINT [ComplianceUserInputs_FK]
GO
