USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VlanInfoMappingDetails]    Script Date: 6/29/2019 5:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VlanInfoMappingDetails](
	[MAPPINGID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[PORT] [int] NULL,
	[IFINDEX] [int] NULL,
 CONSTRAINT [VlanInfoMappingDetails_PK] PRIMARY KEY CLUSTERED 
(
	[MAPPINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_251972223]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_251972223] ON [dbo].[VlanInfoMappingDetails]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VlanInfoMappingDetails]  WITH CHECK ADD  CONSTRAINT [VlanInfoMappingDetails_FK] FOREIGN KEY([NAME])
REFERENCES [dbo].[VlanInfo] ([NAME])
GO
ALTER TABLE [dbo].[VlanInfoMappingDetails] CHECK CONSTRAINT [VlanInfoMappingDetails_FK]
GO
