USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Int_Expr_To_Int]    Script Date: 6/29/2019 5:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Int_Expr_To_Int](
	[INTEGRAL_EXPRESSION_ID] [bigint] NOT NULL,
	[EXPRESSION_ID] [bigint] NOT NULL,
 CONSTRAINT [Int_Expr_To_Int_PK] PRIMARY KEY CLUSTERED 
(
	[INTEGRAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1409660402]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1409660402] ON [dbo].[Int_Expr_To_Int]
(
	[EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_461114911]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_461114911] ON [dbo].[Int_Expr_To_Int]
(
	[INTEGRAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Int_Expr_To_Int]  WITH CHECK ADD  CONSTRAINT [Int_Expr_To_Int_FK] FOREIGN KEY([INTEGRAL_EXPRESSION_ID])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Int_Expr_To_Int] CHECK CONSTRAINT [Int_Expr_To_Int_FK]
GO
ALTER TABLE [dbo].[Int_Expr_To_Int]  WITH CHECK ADD  CONSTRAINT [Int_Expr_To_Int_FK1] FOREIGN KEY([EXPRESSION_ID])
REFERENCES [dbo].[Expressions] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Int_Expr_To_Int] CHECK CONSTRAINT [Int_Expr_To_Int_FK1]
GO
