USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCIsilonClusterSnapshot]    Script Date: 6/29/2019 5:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCIsilonClusterSnapshot](
	[DEVICE_ID] [bigint] NOT NULL,
	[ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[CREATED] [varchar](100) NOT NULL,
	[EXPIRES] [varchar](100) NOT NULL,
	[SIZE] [varchar](250) NOT NULL,
	[PATH] [varchar](500) NOT NULL,
	[ALIASFOR] [varchar](250) NOT NULL,
	[LOCKED] [varchar](100) NOT NULL,
	[SCHEDULE_CREATE_ENABLED] [varchar](100) NOT NULL,
	[SCHEDULE_DELETE_ENABLED] [varchar](100) NOT NULL,
	[SCHEDULE_ROOTVISIBILITY_NFS] [varchar](100) NOT NULL,
	[SCHEDULE_ROOTACCESS_NFS] [varchar](100) NOT NULL,
	[SCHEDULE_SUBDIRACCESS_NFS] [varchar](100) NOT NULL,
	[SCHEDULE_ROOTVISIBILITY_CIFS] [varchar](100) NOT NULL,
	[SCHEDULE_ROOTACCESS_CIFS] [varchar](100) NOT NULL,
	[SCHEDULE_SUBDIRACCESS_CIFS] [varchar](100) NOT NULL,
	[SCHEDULE_ROOTVISIBILITY_LOCAL] [varchar](50) NOT NULL,
	[SCHEDULE_ROOTACCESS_LOCAL] [varchar](100) NOT NULL,
	[SCHEDULE_SUBDIRACCESS_LOCAL] [varchar](100) NOT NULL,
	[SCHEDULE_INDEX] [varchar](100) NOT NULL,
	[SCHEDULE_NAME] [varchar](250) NOT NULL,
	[SCHEDULE_ALIAS] [varchar](250) NOT NULL,
	[SCHEDULE_NAMING_PATTERN] [varchar](250) NOT NULL,
	[SCHEDULE_SCHEDULE] [varchar](100) NOT NULL,
	[SCHEDULE_EXPIRATION] [varchar](100) NOT NULL,
	[SCHEDULE_PATH] [varchar](250) NOT NULL,
 CONSTRAINT [EMCIsilonClusterSnapshot_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[NAME] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [EMCIsilonClusterSnapshot_UK0] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2071090236]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2071090236] ON [dbo].[EMCIsilonClusterSnapshot]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCIsilonClusterSnapshot] ADD  DEFAULT ('-') FOR [CREATED]
GO
ALTER TABLE [dbo].[EMCIsilonClusterSnapshot] ADD  DEFAULT ('-') FOR [EXPIRES]
GO
ALTER TABLE [dbo].[EMCIsilonClusterSnapshot] ADD  DEFAULT ('-') FOR [SIZE]
GO
ALTER TABLE [dbo].[EMCIsilonClusterSnapshot]  WITH CHECK ADD  CONSTRAINT [EMCIsilonClusterSnapshot_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCIsilonClusterSnapshot] CHECK CONSTRAINT [EMCIsilonClusterSnapshot_FK1]
GO
