USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSFanStats]    Script Date: 6/29/2019 5:52:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSFanStats](
	[ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[SPEED] [int] NOT NULL,
	[SPEED_AVG] [int] NOT NULL,
	[SPEED_MIN] [int] NOT NULL,
	[SPEED_MAX] [int] NOT NULL,
 CONSTRAINT [UCSFanStats_Pk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
