USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ACTIONTYPES]    Script Date: 6/29/2019 5:45:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIONTYPES](
	[ACTIONTYPEID] [int] NOT NULL,
	[ACTIONTYPE] [varchar](50) NOT NULL,
	[DISPLAYNAME] [varchar](100) NOT NULL,
	[SUPPORTEDOS] [varchar](20) NOT NULL,
 CONSTRAINT [ACTIONTYPES_PK1] PRIMARY KEY CLUSTERED 
(
	[ACTIONTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ACTIONTYPES_UK1] UNIQUE NONCLUSTERED 
(
	[ACTIONTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
