USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AccordanceDiskDrive]    Script Date: 6/29/2019 5:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccordanceDiskDrive](
	[RAID_ID] [bigint] NOT NULL,
	[DISK_IDENTIFIER] [varchar](250) NOT NULL,
	[DISK_MODE] [varchar](250) NOT NULL,
	[DISK_LAST_ERROR_TIME] [bigint] NOT NULL,
	[DISK_INSERTED_TIME] [bigint] NOT NULL,
 CONSTRAINT [ACCORDANCDISKDRIVE_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[DISK_IDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1031388939]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1031388939] ON [dbo].[AccordanceDiskDrive]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccordanceDiskDrive]  WITH CHECK ADD  CONSTRAINT [ACCORDANCEDISKDRIVE_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[AccordanceDiskDrive] CHECK CONSTRAINT [ACCORDANCEDISKDRIVE_FK1]
GO
