USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UniqueKeyDefinition]    Script Date: 6/29/2019 5:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniqueKeyDefinition](
	[UNIQUE_CONS_ID] [bigint] NOT NULL,
	[COLUMN_ID] [bigint] NOT NULL,
 CONSTRAINT [UniqueKeyDefinition_PK] PRIMARY KEY CLUSTERED 
(
	[UNIQUE_CONS_ID] ASC,
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_158888814]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_158888814] ON [dbo].[UniqueKeyDefinition]
(
	[UNIQUE_CONS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_158888815]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_158888815] ON [dbo].[UniqueKeyDefinition]
(
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UniqueKeyDefinition]  WITH CHECK ADD  CONSTRAINT [UniqueKeyDefinition_FK1] FOREIGN KEY([UNIQUE_CONS_ID])
REFERENCES [dbo].[ConstraintDefinition] ([CONSTRAINT_ID])
GO
ALTER TABLE [dbo].[UniqueKeyDefinition] CHECK CONSTRAINT [UniqueKeyDefinition_FK1]
GO
ALTER TABLE [dbo].[UniqueKeyDefinition]  WITH CHECK ADD  CONSTRAINT [UniqueKeyDefinition_FK2] FOREIGN KEY([COLUMN_ID])
REFERENCES [dbo].[ColumnDetails] ([COLUMN_ID])
GO
ALTER TABLE [dbo].[UniqueKeyDefinition] CHECK CONSTRAINT [UniqueKeyDefinition_FK2]
GO
