USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StatusInfo]    Script Date: 6/29/2019 5:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusInfo](
	[STATUSINFOID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[TABLENAME] [varchar](32) NOT NULL,
	[COLUMNNAME] [varchar](32) NOT NULL,
	[VALUE] [varchar](250) NOT NULL,
 CONSTRAINT [StatusInfo_PK] PRIMARY KEY CLUSTERED 
(
	[STATUSINFOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
