USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Bool_Neg_Expr]    Script Date: 6/29/2019 5:46:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bool_Neg_Expr](
	[BOOLEAN_EXPRESSION_ID] [bigint] NOT NULL,
	[EXP_TO_BE_NEGATED] [bigint] NOT NULL,
 CONSTRAINT [Bool_Neg_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1894825557]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1894825557] ON [dbo].[Bool_Neg_Expr]
(
	[BOOLEAN_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1389949926]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1389949926] ON [dbo].[Bool_Neg_Expr]
(
	[EXP_TO_BE_NEGATED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bool_Neg_Expr]  WITH CHECK ADD  CONSTRAINT [Bool_Neg_Expr_FK] FOREIGN KEY([BOOLEAN_EXPRESSION_ID])
REFERENCES [dbo].[Boolean_Expressions] ([BOOLEAN_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Bool_Neg_Expr] CHECK CONSTRAINT [Bool_Neg_Expr_FK]
GO
ALTER TABLE [dbo].[Bool_Neg_Expr]  WITH CHECK ADD  CONSTRAINT [Bool_Neg_Expr_FK1] FOREIGN KEY([EXP_TO_BE_NEGATED])
REFERENCES [dbo].[Boolean_Expressions] ([BOOLEAN_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Bool_Neg_Expr] CHECK CONSTRAINT [Bool_Neg_Expr_FK1]
GO
