USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StaticMultiValuedColumn]    Script Date: 6/29/2019 5:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaticMultiValuedColumn](
	[CONVERSIONID] [varchar](250) NOT NULL,
	[MAPPEDTABLE] [varchar](50) NOT NULL,
	[TABLEALIAS] [varchar](100) NOT NULL,
	[MAPPEDCOLUMN] [varchar](100) NOT NULL,
	[STATICVALUE] [varchar](100) NOT NULL,
 CONSTRAINT [SMVCn_PK] PRIMARY KEY CLUSTERED 
(
	[CONVERSIONID] ASC,
	[MAPPEDTABLE] ASC,
	[TABLEALIAS] ASC,
	[MAPPEDCOLUMN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1898877292]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1898877292] ON [dbo].[StaticMultiValuedColumn]
(
	[CONVERSIONID] ASC,
	[MAPPEDTABLE] ASC,
	[TABLEALIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StaticMultiValuedColumn]  WITH CHECK ADD  CONSTRAINT [SMVCn_FK1] FOREIGN KEY([CONVERSIONID], [MAPPEDTABLE], [TABLEALIAS])
REFERENCES [dbo].[StaticMultiValuedConversion] ([CONVERSIONID], [MAPPEDTABLE], [TABLEALIAS])
GO
ALTER TABLE [dbo].[StaticMultiValuedColumn] CHECK CONSTRAINT [SMVCn_FK1]
GO
