USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CommonInterfaceTypes]    Script Date: 6/29/2019 5:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonInterfaceTypes](
	[TYPEID] [bigint] NOT NULL,
 CONSTRAINT [CommonInterfaceTypes_PK] PRIMARY KEY CLUSTERED 
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1520353319]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1520353319] ON [dbo].[CommonInterfaceTypes]
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CommonInterfaceTypes]  WITH CHECK ADD  CONSTRAINT [CommonInterfaceTypes_FK] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[InterfaceDefinitionTemplate] ([TYPEID])
GO
ALTER TABLE [dbo].[CommonInterfaceTypes] CHECK CONSTRAINT [CommonInterfaceTypes_FK]
GO
