USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Expressions]    Script Date: 6/29/2019 5:47:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expressions](
	[EXPRESSION_ID] [bigint] NOT NULL,
	[NAME] [varchar](150) NULL,
 CONSTRAINT [Expressions_PK] PRIMARY KEY CLUSTERED 
(
	[EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
