USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwNETWORKPROPS]    Script Date: 6/29/2019 5:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwNETWORKPROPS](
	[NETWORK_ID] [bigint] NOT NULL,
	[IP_POOL] [varchar](100) NULL,
	[ACCESSIBLE] [bit] NOT NULL,
 CONSTRAINT [VwNETWORKPROPS_PK] PRIMARY KEY CLUSTERED 
(
	[NETWORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1002235088]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1002235088] ON [dbo].[VwNETWORKPROPS]
(
	[NETWORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwNETWORKPROPS]  WITH CHECK ADD  CONSTRAINT [VwNETWORKPROPS_FK1] FOREIGN KEY([NETWORK_ID])
REFERENCES [dbo].[VwENTITYMOMAPPING] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[VwNETWORKPROPS] CHECK CONSTRAINT [VwNETWORKPROPS_FK1]
GO
