USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RackToDeviceMap]    Script Date: 6/29/2019 5:50:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RackToDeviceMap](
	[RACKMOID] [bigint] NOT NULL,
	[DEVICEMOID] [bigint] NOT NULL,
	[LABEL] [varchar](250) NOT NULL,
	[UNITSIZE] [int] NOT NULL,
	[UNITPOSITION] [int] NOT NULL,
	[IMAGENAME] [varchar](250) NOT NULL,
 CONSTRAINT [RackToDeviceMap_PK] PRIMARY KEY CLUSTERED 
(
	[RACKMOID] ASC,
	[DEVICEMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [RackToDeviceMap_UK0] UNIQUE NONCLUSTERED 
(
	[DEVICEMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1602465985]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1602465985] ON [dbo].[RackToDeviceMap]
(
	[RACKMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1602465986]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1602465986] ON [dbo].[RackToDeviceMap]
(
	[DEVICEMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RackToDeviceMap] ADD  DEFAULT ('1') FOR [UNITSIZE]
GO
ALTER TABLE [dbo].[RackToDeviceMap]  WITH CHECK ADD  CONSTRAINT [RackToDeviceMap_FK1] FOREIGN KEY([RACKMOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[RackToDeviceMap] CHECK CONSTRAINT [RackToDeviceMap_FK1]
GO
ALTER TABLE [dbo].[RackToDeviceMap]  WITH CHECK ADD  CONSTRAINT [RackToDeviceMap_FK2] FOREIGN KEY([DEVICEMOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[RackToDeviceMap] CHECK CONSTRAINT [RackToDeviceMap_FK2]
GO
