USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaUserContactInfo]    Script Date: 6/29/2019 5:45:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaUserContactInfo](
	[USER_ID] [bigint] NOT NULL,
	[CONTACTINFO_ID] [bigint] NOT NULL,
 CONSTRAINT [AaaUserContactInfo_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[CONTACTINFO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_473811983]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_473811983] ON [dbo].[AaaUserContactInfo]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_473811984]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_473811984] ON [dbo].[AaaUserContactInfo]
(
	[CONTACTINFO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaUserContactInfo]  WITH CHECK ADD  CONSTRAINT [AaaUserContactInfo_FK1] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[AaaUserContactInfo] CHECK CONSTRAINT [AaaUserContactInfo_FK1]
GO
ALTER TABLE [dbo].[AaaUserContactInfo]  WITH CHECK ADD  CONSTRAINT [AaaUserContactInfo_FK2] FOREIGN KEY([CONTACTINFO_ID])
REFERENCES [dbo].[AaaContactInfo] ([CONTACTINFO_ID])
GO
ALTER TABLE [dbo].[AaaUserContactInfo] CHECK CONSTRAINT [AaaUserContactInfo_FK2]
GO
