USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DevicePackageToCategory]    Script Date: 6/29/2019 5:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevicePackageToCategory](
	[DEVICETYPEID] [bigint] NOT NULL,
	[CATEGORYID] [bigint] NOT NULL,
 CONSTRAINT [DevicePackageToCategory_PK1] PRIMARY KEY CLUSTERED 
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__645502857]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__645502857] ON [dbo].[DevicePackageToCategory]
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__645502858]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__645502858] ON [dbo].[DevicePackageToCategory]
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DevicePackageToCategory]  WITH CHECK ADD  CONSTRAINT [DevicePackageToCategory_FK1] FOREIGN KEY([DEVICETYPEID])
REFERENCES [dbo].[DevicePackage] ([DEVICETYPEID])
GO
ALTER TABLE [dbo].[DevicePackageToCategory] CHECK CONSTRAINT [DevicePackageToCategory_FK1]
GO
ALTER TABLE [dbo].[DevicePackageToCategory]  WITH CHECK ADD  CONSTRAINT [DevicePackageToCategory_FK2] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CategoryDefinition] ([CATEGORYID])
GO
ALTER TABLE [dbo].[DevicePackageToCategory] CHECK CONSTRAINT [DevicePackageToCategory_FK2]
GO
