USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TypeConfiguration]    Script Date: 6/29/2019 5:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeConfiguration](
	[TYPENAME] [varchar](250) NOT NULL,
 CONSTRAINT [TypeConf_PK] PRIMARY KEY CLUSTERED 
(
	[TYPENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_650455532]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_650455532] ON [dbo].[TypeConfiguration]
(
	[TYPENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TypeConfiguration]  WITH CHECK ADD  CONSTRAINT [TypeConf_FK2] FOREIGN KEY([TYPENAME])
REFERENCES [dbo].[DiscoveryConfiguration] ([NAME])
GO
ALTER TABLE [dbo].[TypeConfiguration] CHECK CONSTRAINT [TypeConf_FK2]
GO
