USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TapeDrive]    Script Date: 6/29/2019 5:52:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TapeDrive](
	[DEVICE_ID] [bigint] NOT NULL,
	[DRIVE_TYPE] [varchar](250) NOT NULL,
	[SYSTEM_INTERFACE] [varchar](250) NOT NULL,
	[SUPPORTED_CATRIDGE_MODELS] [varchar](250) NOT NULL,
	[DRIVE_STATE] [varchar](250) NOT NULL,
 CONSTRAINT [TAPEDRIVE_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__351628075]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__351628075] ON [dbo].[TapeDrive]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TapeDrive]  WITH CHECK ADD  CONSTRAINT [TAPEDRIVE_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[TapeDrive] CHECK CONSTRAINT [TAPEDRIVE_FK1]
GO
