USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCMRuleResourceMap]    Script Date: 6/29/2019 5:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCMRuleResourceMap](
	[RULE_ID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
 CONSTRAINT [NCMCMRuleResourceMap_PK1] PRIMARY KEY CLUSTERED 
(
	[RULE_ID] ASC,
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2066264349]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2066264349] ON [dbo].[NCMCMRuleResourceMap]
(
	[RULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2066264350]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2066264350] ON [dbo].[NCMCMRuleResourceMap]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCMRuleResourceMap]  WITH CHECK ADD  CONSTRAINT [NCMCMRuleResourceMap_FK1] FOREIGN KEY([RULE_ID])
REFERENCES [dbo].[NCMChangeMgmtRule] ([RULE_ID])
GO
ALTER TABLE [dbo].[NCMCMRuleResourceMap] CHECK CONSTRAINT [NCMCMRuleResourceMap_FK1]
GO
ALTER TABLE [dbo].[NCMCMRuleResourceMap]  WITH CHECK ADD  CONSTRAINT [NCMCMRuleResourceMap_FK2] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMCMRuleResourceMap] CHECK CONSTRAINT [NCMCMRuleResourceMap_FK2]
GO
