USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VACMACCESSTABLE]    Script Date: 6/29/2019 5:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACMACCESSTABLE](
	[GROUPNAME] [varchar](65) NOT NULL,
	[CONTEXTPREFIX] [varchar](65) NOT NULL,
	[SECURITYMODEL] [varchar](10) NOT NULL,
	[SECURITYLEVEL] [varchar](5) NOT NULL,
	[CONTEXTMATCH] [varchar](5) NULL,
	[READVIEWNAME] [varchar](65) NULL,
	[WRITEVIEWNAME] [varchar](65) NULL,
	[NOTIFYVIEWNAME] [varchar](65) NULL,
	[STORAGETYPE] [varchar](5) NULL,
	[ROWSTATUS] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[GROUPNAME] ASC,
	[CONTEXTPREFIX] ASC,
	[SECURITYMODEL] ASC,
	[SECURITYLEVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
