USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OIDModel]    Script Date: 6/29/2019 5:49:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OIDModel](
	[OID_ID] [bigint] NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[OID] [varchar](200) NOT NULL,
 CONSTRAINT [OIDModel_PK] PRIMARY KEY CLUSTERED 
(
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
