USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TapeLibrary]    Script Date: 6/29/2019 5:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TapeLibrary](
	[DEVICE_ID] [bigint] NOT NULL,
	[SUPPORTED_DRIVE_TYPES] [varchar](250) NOT NULL,
	[NO_OF_DRIVES] [int] NOT NULL,
	[NO_OF_CELLS] [int] NOT NULL,
	[NO_OF_FREE_CELLS] [int] NOT NULL,
	[NO_OF_CATRIDGES] [int] NOT NULL,
	[SYSTEM_INTERFACE] [varchar](250) NOT NULL,
	[LIBRARY_STATE] [varchar](250) NOT NULL,
 CONSTRAINT [TAPELIBRARY_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__852306938]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__852306938] ON [dbo].[TapeLibrary]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TapeLibrary]  WITH CHECK ADD  CONSTRAINT [TAPELIBRARY_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[TapeLibrary] CHECK CONSTRAINT [TAPELIBRARY_FK1]
GO
