USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Port]    Script Date: 6/29/2019 5:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Port](
	[DEVICE_ID] [bigint] NOT NULL,
	[PORT_INDEX] [int] NOT NULL,
	[OPER_STATUS] [varchar](100) NOT NULL,
	[SPEED] [varchar](100) NOT NULL,
	[SPEED_UNIT] [varchar](50) NOT NULL,
 CONSTRAINT [PORT_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1512286030]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1512286030] ON [dbo].[Port]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Port] ADD  DEFAULT ('0') FOR [PORT_INDEX]
GO
ALTER TABLE [dbo].[Port]  WITH CHECK ADD  CONSTRAINT [PORT_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Port] CHECK CONSTRAINT [PORT_FK1]
GO
