USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RBTaskAssocDisplayProp]    Script Date: 6/29/2019 5:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RBTaskAssocDisplayProp](
	[ASSOCID] [bigint] NOT NULL,
	[XCOORD] [int] NOT NULL,
	[YCOORD] [int] NOT NULL,
 CONSTRAINT [RBTaskAssocDisplayProp_PK1] PRIMARY KEY CLUSTERED 
(
	[ASSOCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_599434930]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_599434930] ON [dbo].[RBTaskAssocDisplayProp]
(
	[ASSOCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RBTaskAssocDisplayProp]  WITH CHECK ADD  CONSTRAINT [RBTaskAssocDisplayProp_FK1] FOREIGN KEY([ASSOCID])
REFERENCES [dbo].[RunBookTaskAssociation] ([ASSOCID])
GO
ALTER TABLE [dbo].[RBTaskAssocDisplayProp] CHECK CONSTRAINT [RBTaskAssocDisplayProp_FK1]
GO
