USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TableViewSortColumn]    Script Date: 6/29/2019 5:52:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableViewSortColumn](
	[CVID] [bigint] NOT NULL,
	[TABLEALIAS] [varchar](100) NOT NULL,
	[COLUMNNAME] [varchar](100) NOT NULL,
	[ASCENDING_ORDER] [bit] NULL,
	[SORTINDEX] [int] NOT NULL,
 CONSTRAINT [TableViewSortCol_PK] PRIMARY KEY CLUSTERED 
(
	[CVID] ASC,
	[SORTINDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1716712715]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1716712715] ON [dbo].[TableViewSortColumn]
(
	[CVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TableViewSortColumn]  WITH CHECK ADD  CONSTRAINT [TableViewSortCol_FK] FOREIGN KEY([CVID])
REFERENCES [dbo].[CustomViewConfiguration] ([CVID])
GO
ALTER TABLE [dbo].[TableViewSortColumn] CHECK CONSTRAINT [TableViewSortCol_FK]
GO
