USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[F5Bigip10X]    Script Date: 6/29/2019 5:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[F5Bigip10X](
	[RESOURCEID] [bigint] NOT NULL,
	[PHYSICAL_MEM] [varchar](100) NOT NULL,
 CONSTRAINT [F5Bigip10X_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_880763694]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_880763694] ON [dbo].[F5Bigip10X]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[F5Bigip10X] ADD  DEFAULT ('Not Available') FOR [PHYSICAL_MEM]
GO
ALTER TABLE [dbo].[F5Bigip10X]  WITH CHECK ADD  CONSTRAINT [F5Bigip10X_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[F5Bigip10X] CHECK CONSTRAINT [F5Bigip10X_FK1]
GO
