USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ServiceHeader]    Script Date: 6/29/2019 5:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceHeader](
	[INTERFACEID] [bigint] NOT NULL,
	[PORT] [int] NOT NULL,
	[IPADDRESS] [varchar](15) NOT NULL,
	[HEADER] [varchar](4000) NOT NULL,
	[PROTOCOL] [varchar](50) NOT NULL,
 CONSTRAINT [ServiceHeader_PK] PRIMARY KEY CLUSTERED 
(
	[INTERFACEID] ASC,
	[PORT] ASC,
	[PROTOCOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1559774046]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1559774046] ON [dbo].[ServiceHeader]
(
	[INTERFACEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceHeader]  WITH CHECK ADD  CONSTRAINT [ServiceHeader_FK] FOREIGN KEY([INTERFACEID])
REFERENCES [dbo].[NEInterface] ([RESOURCEID])
GO
ALTER TABLE [dbo].[ServiceHeader] CHECK CONSTRAINT [ServiceHeader_FK]
GO
