USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwDatastoreExtents]    Script Date: 6/29/2019 5:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwDatastoreExtents](
	[LUN_ID] [bigint] NOT NULL,
	[VDATASTORE_ID] [bigint] NOT NULL,
	[PARTITION_INDEX] [int] NOT NULL,
 CONSTRAINT [VwDatastoreExtents_PK] PRIMARY KEY CLUSTERED 
(
	[LUN_ID] ASC,
	[VDATASTORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1277074975]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1277074975] ON [dbo].[VwDatastoreExtents]
(
	[VDATASTORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1277074976]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1277074976] ON [dbo].[VwDatastoreExtents]
(
	[LUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwDatastoreExtents] ADD  DEFAULT ('1') FOR [PARTITION_INDEX]
GO
ALTER TABLE [dbo].[VwDatastoreExtents]  WITH CHECK ADD  CONSTRAINT [VwDatastoreExtents_FK1] FOREIGN KEY([LUN_ID])
REFERENCES [dbo].[VwLUNProps] ([LUN_ID])
GO
ALTER TABLE [dbo].[VwDatastoreExtents] CHECK CONSTRAINT [VwDatastoreExtents_FK1]
GO
ALTER TABLE [dbo].[VwDatastoreExtents]  WITH CHECK ADD  CONSTRAINT [VwDatastoreExtents_FK2] FOREIGN KEY([VDATASTORE_ID])
REFERENCES [dbo].[VwDATASTOREPROPS] ([VDATASTORE_ID])
GO
ALTER TABLE [dbo].[VwDatastoreExtents] CHECK CONSTRAINT [VwDatastoreExtents_FK2]
GO
