USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMPersHardwareConversion]    Script Date: 6/29/2019 5:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMPersHardwareConversion](
	[PERSONALITYID] [bigint] NOT NULL,
	[CONVERSIONID] [varchar](250) NOT NULL,
 CONSTRAINT [NCMPersHardwareConversion_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_277633881]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_277633881] ON [dbo].[NCMPersHardwareConversion]
(
	[PERSONALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_277633882]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_277633882] ON [dbo].[NCMPersHardwareConversion]
(
	[CONVERSIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMPersHardwareConversion]  WITH CHECK ADD  CONSTRAINT [NCMPersHardwareConversion_FK1] FOREIGN KEY([PERSONALITYID])
REFERENCES [dbo].[NCMPersonality] ([PERSONALITYID])
GO
ALTER TABLE [dbo].[NCMPersHardwareConversion] CHECK CONSTRAINT [NCMPersHardwareConversion_FK1]
GO
ALTER TABLE [dbo].[NCMPersHardwareConversion]  WITH CHECK ADD  CONSTRAINT [NCMPersHardwareConversion_FK2] FOREIGN KEY([CONVERSIONID])
REFERENCES [dbo].[Conversion] ([CONVERSIONID])
GO
ALTER TABLE [dbo].[NCMPersHardwareConversion] CHECK CONSTRAINT [NCMPersHardwareConversion_FK2]
GO
