USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CCTVAuthKey]    Script Date: 6/29/2019 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCTVAuthKey](
	[cctvID] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[AUTHKEY] [varchar](50) NOT NULL,
 CONSTRAINT [CCTVAuthKey_PK1] PRIMARY KEY CLUSTERED 
(
	[cctvID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2098917597]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2098917597] ON [dbo].[CCTVAuthKey]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2098917598]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2098917598] ON [dbo].[CCTVAuthKey]
(
	[cctvID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CCTVAuthKey]  WITH CHECK ADD  CONSTRAINT [CCTVAuthKey_FK1] FOREIGN KEY([cctvID])
REFERENCES [dbo].[Cctv] ([ID])
GO
ALTER TABLE [dbo].[CCTVAuthKey] CHECK CONSTRAINT [CCTVAuthKey_FK1]
GO
ALTER TABLE [dbo].[CCTVAuthKey]  WITH CHECK ADD  CONSTRAINT [CCTVAuthKey_FK2] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[CCTVAuthKey] CHECK CONSTRAINT [CCTVAuthKey_FK2]
GO
