USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARDCSCage]    Script Date: 6/29/2019 5:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARDCSCage](
	[RAID_ID] [bigint] NOT NULL,
	[CAGE_ID] [varchar](150) NOT NULL,
	[SSERIAL_NUMBER] [varchar](250) NOT NULL,
	[SPRODUCT_NUMBER] [varchar](250) NOT NULL,
	[SPARE_PART_NUMBER] [varchar](250) NOT NULL,
	[MODEL_NAME] [varchar](250) NOT NULL,
	[ASSEMBLY_REVISION] [varchar](250) NOT NULL,
	[CHECKSUM] [varchar](250) NOT NULL,
	[FIRMWARE_VERSION] [varchar](250) NOT NULL,
	[FIRMWARE_STATE] [varchar](250) NOT NULL,
	[AUDIBLE_ALARM_STATE] [varchar](250) NOT NULL,
	[TEMP_SENSOR_STATE] [varchar](250) NOT NULL,
	[TEMP_SENSOR_VALUE] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARDCSCage_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[CAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1776020278]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1776020278] ON [dbo].[HP3PARDCSCage]
(
	[RAID_ID] ASC,
	[CAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARDCSCage]  WITH CHECK ADD  CONSTRAINT [HP3PARDCSCage_FK] FOREIGN KEY([RAID_ID], [CAGE_ID])
REFERENCES [dbo].[HP3PARCage] ([RAID_ID], [CAGE_ID])
GO
ALTER TABLE [dbo].[HP3PARDCSCage] CHECK CONSTRAINT [HP3PARDCSCage_FK]
GO
