USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMConfigFile]    Script Date: 6/29/2019 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMConfigFile](
	[FILE_ID] [bigint] NOT NULL,
	[FILE_TYPE] [varchar](20) NOT NULL,
	[FILE_FORMAT] [varchar](20) NOT NULL,
 CONSTRAINT [NCMConfigFile_PK] PRIMARY KEY CLUSTERED 
(
	[FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMConfigFile] ADD  DEFAULT ('Text') FOR [FILE_FORMAT]
GO
