USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Int_Expr_Opr_Expr]    Script Date: 6/29/2019 5:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Int_Expr_Opr_Expr](
	[INTEGRAL_EXPRESSION_ID] [bigint] NOT NULL,
	[LEFT_EXPRESSION_ID] [bigint] NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[RIGHT_EXPRESSION_ID] [bigint] NULL,
 CONSTRAINT [Int_Expr_Opr_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[INTEGRAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1243031865]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1243031865] ON [dbo].[Int_Expr_Opr_Expr]
(
	[INTEGRAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_120717898]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_120717898] ON [dbo].[Int_Expr_Opr_Expr]
(
	[LEFT_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_120717899]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_120717899] ON [dbo].[Int_Expr_Opr_Expr]
(
	[RIGHT_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Int_Expr_Opr_Expr] ADD  DEFAULT ('0') FOR [RIGHT_EXPRESSION_ID]
GO
ALTER TABLE [dbo].[Int_Expr_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [Int_Expr_Opr_Expr_FK] FOREIGN KEY([INTEGRAL_EXPRESSION_ID])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Int_Expr_Opr_Expr] CHECK CONSTRAINT [Int_Expr_Opr_Expr_FK]
GO
ALTER TABLE [dbo].[Int_Expr_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [Int_Expr_Opr_Expr_FK1] FOREIGN KEY([LEFT_EXPRESSION_ID])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Int_Expr_Opr_Expr] CHECK CONSTRAINT [Int_Expr_Opr_Expr_FK1]
GO
ALTER TABLE [dbo].[Int_Expr_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [Int_Expr_Opr_Expr_FK2] FOREIGN KEY([RIGHT_EXPRESSION_ID])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Int_Expr_Opr_Expr] CHECK CONSTRAINT [Int_Expr_Opr_Expr_FK2]
GO
