USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCUnityISCSInode]    Script Date: 6/29/2019 5:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCUnityISCSInode](
	[ID] [bigint] NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[ALIAS] [varchar](100) NULL,
	[IQN] [varchar](100) NULL,
	[STATUS] [varchar](100) NOT NULL,
	[PORT] [varchar](100) NULL,
	[INTERFACES] [varchar](100) NULL,
 CONSTRAINT [EMCUnityISCSInode_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_135911524]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_135911524] ON [dbo].[EMCUnityISCSInode]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCUnityISCSInode]  WITH CHECK ADD  CONSTRAINT [EMCUnityISCSInode_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCUnityISCSInode] CHECK CONSTRAINT [EMCUnityISCSInode_FK1]
GO
