USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserMsgStatus]    Script Date: 6/29/2019 5:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMsgStatus](
	[NAME] [varchar](100) NOT NULL,
	[PAGE_ID] [bigint] NOT NULL,
	[MSG_ID] [bigint] NOT NULL,
	[MSG_STATUS] [bit] NOT NULL,
	[USER_CLOSING_FLAG] [bit] NOT NULL,
 CONSTRAINT [UserMsgStatus_PK] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC,
	[PAGE_ID] ASC,
	[MSG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__988093833]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__988093833] ON [dbo].[UserMsgStatus]
(
	[MSG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__988093834]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__988093834] ON [dbo].[UserMsgStatus]
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__988093835]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__988093835] ON [dbo].[UserMsgStatus]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserMsgStatus] ADD  DEFAULT ((0)) FOR [MSG_STATUS]
GO
ALTER TABLE [dbo].[UserMsgStatus] ADD  DEFAULT ((1)) FOR [USER_CLOSING_FLAG]
GO
ALTER TABLE [dbo].[UserMsgStatus]  WITH CHECK ADD  CONSTRAINT [UserMsgStatus_FK1] FOREIGN KEY([NAME])
REFERENCES [dbo].[OpUser] ([NAME])
GO
ALTER TABLE [dbo].[UserMsgStatus] CHECK CONSTRAINT [UserMsgStatus_FK1]
GO
ALTER TABLE [dbo].[UserMsgStatus]  WITH CHECK ADD  CONSTRAINT [UserMsgStatus_FK2] FOREIGN KEY([PAGE_ID])
REFERENCES [dbo].[PageDetails] ([PAGE_ID])
GO
ALTER TABLE [dbo].[UserMsgStatus] CHECK CONSTRAINT [UserMsgStatus_FK2]
GO
ALTER TABLE [dbo].[UserMsgStatus]  WITH CHECK ADD  CONSTRAINT [UserMsgStatus_FK3] FOREIGN KEY([MSG_ID])
REFERENCES [dbo].[MessageDetails] ([MSG_ID])
GO
ALTER TABLE [dbo].[UserMsgStatus] CHECK CONSTRAINT [UserMsgStatus_FK3]
GO
