USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaOrgPostalAddr]    Script Date: 6/29/2019 5:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaOrgPostalAddr](
	[ORG_ID] [bigint] NOT NULL,
	[POSTALADDR_ID] [bigint] NOT NULL,
 CONSTRAINT [AaaOrgPostalAddr_PK] PRIMARY KEY CLUSTERED 
(
	[ORG_ID] ASC,
	[POSTALADDR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2080891532]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2080891532] ON [dbo].[AaaOrgPostalAddr]
(
	[ORG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2080891533]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2080891533] ON [dbo].[AaaOrgPostalAddr]
(
	[POSTALADDR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaOrgPostalAddr]  WITH CHECK ADD  CONSTRAINT [AaaOrgPostalAddr_FK1] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[AaaOrganization] ([ORG_ID])
GO
ALTER TABLE [dbo].[AaaOrgPostalAddr] CHECK CONSTRAINT [AaaOrgPostalAddr_FK1]
GO
ALTER TABLE [dbo].[AaaOrgPostalAddr]  WITH CHECK ADD  CONSTRAINT [AaaOrgPostalAddr_FK2] FOREIGN KEY([POSTALADDR_ID])
REFERENCES [dbo].[AaaPostalAddress] ([POSTALADDR_ID])
GO
ALTER TABLE [dbo].[AaaOrgPostalAddr] CHECK CONSTRAINT [AaaOrgPostalAddr_FK2]
GO
