USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TechSupportInfo]    Script Date: 6/29/2019 5:52:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechSupportInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[SUPPORT_ENGINEER_NAME] [varchar](250) NOT NULL,
	[SUPPORT_MAILID] [varchar](250) NOT NULL,
	[PHONE_NO] [varchar](100) NOT NULL,
	[MOBILE_NO] [varchar](100) NOT NULL,
	[CONTACT_ADDRESS] [varchar](500) NOT NULL,
 CONSTRAINT [TECHSUPPORTINFO_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_668272724]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_668272724] ON [dbo].[TechSupportInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TechSupportInfo]  WITH CHECK ADD  CONSTRAINT [TECHSUPPORTINFO_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[TechSupportInfo] CHECK CONSTRAINT [TECHSUPPORTINFO_FK1]
GO
