USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserConfTable]    Script Date: 6/29/2019 5:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserConfTable](
	[USERID] [bigint] NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[OWNERNAME] [varchar](50) NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[PASSWORDEXPIRYTIME] [bigint] NULL,
	[USEREXPIRYTIME] [bigint] NULL,
	[PASSWORDAGE] [int] NULL,
	[USERAGE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserConfTable0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [UserConfTable0_ndx] ON [dbo].[UserConfTable]
(
	[STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
