USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BWState]    Script Date: 6/29/2019 5:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BWState](
	[ID] [int] NOT NULL,
	[HOURLY_MAXID] [bigint] NULL,
	[MONTHLY_MAXID] [bigint] NULL,
	[YEARLY_MAXID] [bigint] NULL,
 CONSTRAINT [BWStatea_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BWState] ADD  DEFAULT ('1') FOR [ID]
GO
