USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DHCPNetwork]    Script Date: 6/29/2019 5:47:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHCPNetwork](
	[NETID] [bigint] NOT NULL,
	[DHCPScopeID] [bigint] NOT NULL,
 CONSTRAINT [DHCPNetwork_PK] PRIMARY KEY CLUSTERED 
(
	[NETID] ASC,
	[DHCPScopeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_674875850]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_674875850] ON [dbo].[DHCPNetwork]
(
	[NETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_674875851]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_674875851] ON [dbo].[DHCPNetwork]
(
	[DHCPScopeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DHCPNetwork]  WITH CHECK ADD  CONSTRAINT [DHCPNetwork_FK1] FOREIGN KEY([NETID])
REFERENCES [dbo].[SubNetwork] ([NETID])
GO
ALTER TABLE [dbo].[DHCPNetwork] CHECK CONSTRAINT [DHCPNetwork_FK1]
GO
ALTER TABLE [dbo].[DHCPNetwork]  WITH CHECK ADD  CONSTRAINT [DHCPNetwork_FK2] FOREIGN KEY([DHCPScopeID])
REFERENCES [dbo].[DHCPScopes] ([DHCPScopeID])
GO
ALTER TABLE [dbo].[DHCPNetwork] CHECK CONSTRAINT [DHCPNetwork_FK2]
GO
