USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OpManagerObject]    Script Date: 6/29/2019 5:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpManagerObject](
	[NAME] [varchar](100) NOT NULL,
	[OWNERNAME] [varchar](25) NOT NULL,
	[DEPENDENT] [varchar](100) NULL,
	[DEBOUNCECOUNT] [int] NULL,
	[RAMSIZE] [int] NULL,
	[HARDDISKSIZE] [int] NULL,
	[UPDEPENDENCY] [varchar](10) NULL,
	[CATEGORY] [varchar](50) NULL,
	[OS] [varchar](50) NULL,
	[PROFILE] [varchar](255) NULL,
	[ENCODING] [varchar](50) NULL,
	[PORTNUMBER] [int] NULL,
	[VENDORID] [bigint] NULL,
	[EXCHANGE] [int] NULL,
	[VIRTUALTYPE] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC,
	[OWNERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [OpManagerObject0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [OpManagerObject0_ndx] ON [dbo].[OpManagerObject]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
