USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AccountVsIPDetails]    Script Date: 6/29/2019 5:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountVsIPDetails](
	[ACCOUNTID] [bigint] NOT NULL,
	[IPADDRESS] [varchar](255) NULL,
 CONSTRAINT [AccountVsIPDetails_PK1] PRIMARY KEY CLUSTERED 
(
	[ACCOUNTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2027132798]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2027132798] ON [dbo].[AccountVsIPDetails]
(
	[ACCOUNTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountVsIPDetails]  WITH CHECK ADD  CONSTRAINT [AccountVsIPDetails_FK1] FOREIGN KEY([ACCOUNTID])
REFERENCES [dbo].[AccountDetails] ([ACCOUNTID])
GO
ALTER TABLE [dbo].[AccountVsIPDetails] CHECK CONSTRAINT [AccountVsIPDetails_FK1]
GO
