USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetFlowWAEMap]    Script Date: 6/29/2019 5:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetFlowWAEMap](
	[ID] [int] NOT NULL,
	[ROUTER_IP] [varchar](100) NOT NULL,
	[WAE_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [NetFlowWAEMap_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
