USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UIInfoMessages]    Script Date: 6/29/2019 5:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UIInfoMessages](
	[TYPEID] [bigint] NOT NULL,
	[TYPENAME] [varchar](50) NOT NULL,
 CONSTRAINT [UIInfoMessages_PK] PRIMARY KEY CLUSTERED 
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UIInfoMessages_UK0] UNIQUE NONCLUSTERED 
(
	[TYPENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
