USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AFToScriptSettings]    Script Date: 6/29/2019 5:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AFToScriptSettings](
	[AF_ID] [bigint] NOT NULL,
	[SCRIPTID] [bigint] NOT NULL,
 CONSTRAINT [AFToScriptSettings_PK] PRIMARY KEY CLUSTERED 
(
	[AF_ID] ASC,
	[SCRIPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_281245691]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_281245691] ON [dbo].[AFToScriptSettings]
(
	[AF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_281245692]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_281245692] ON [dbo].[AFToScriptSettings]
(
	[SCRIPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AFToScriptSettings]  WITH CHECK ADD  CONSTRAINT [AFToScriptSettings_FK1] FOREIGN KEY([AF_ID])
REFERENCES [dbo].[AnomalyFilters] ([AF_ID])
GO
ALTER TABLE [dbo].[AFToScriptSettings] CHECK CONSTRAINT [AFToScriptSettings_FK1]
GO
ALTER TABLE [dbo].[AFToScriptSettings]  WITH CHECK ADD  CONSTRAINT [AFToScriptSettings_FK2] FOREIGN KEY([SCRIPTID])
REFERENCES [dbo].[ScriptSettings] ([SCRIPTID])
GO
ALTER TABLE [dbo].[AFToScriptSettings] CHECK CONSTRAINT [AFToScriptSettings_FK2]
GO
