USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VSwitch]    Script Date: 6/29/2019 5:53:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VSwitch](
	[VSWITCH_ID] [bigint] NOT NULL,
	[VHOST_ID] [bigint] NOT NULL,
	[VSWITCH_NAME] [varchar](100) NULL,
	[SECURITY_POLICY_ID] [int] NULL,
	[TRAFFIC_SHAPING_ID] [int] NULL,
	[FAILOVER_POLICY_ID] [int] NULL,
	[VNICTEAM_ID] [bigint] NOT NULL,
 CONSTRAINT [VSWITCH_PK] PRIMARY KEY CLUSTERED 
(
	[VSWITCH_ID] ASC,
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_220085591]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_220085591] ON [dbo].[VSwitch]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [VSwitch_NICTeamId_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [VSwitch_NICTeamId_ndx] ON [dbo].[VSwitch]
(
	[VNICTEAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VSwitch]  WITH CHECK ADD  CONSTRAINT [VSWITCH_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VHostProps] ([VHOST_ID])
GO
ALTER TABLE [dbo].[VSwitch] CHECK CONSTRAINT [VSWITCH_FK1]
GO
