USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FabricInterConnect]    Script Date: 6/29/2019 5:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FabricInterConnect](
	[FABRIC_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[IPADDRESS] [varchar](250) NOT NULL,
	[SUBNETMASK] [varchar](250) NOT NULL,
	[GATEWAY] [varchar](250) NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NOT NULL,
	[SERIAL] [varchar](250) NOT NULL,
	[OPERABILITY] [varchar](250) NOT NULL,
 CONSTRAINT [FabricInterConnect_PK] PRIMARY KEY CLUSTERED 
(
	[FABRIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_724254385]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_724254385] ON [dbo].[FabricInterConnect]
(
	[FABRIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FabricInterConnect]  WITH CHECK ADD  CONSTRAINT [FabricInterConnect_FK] FOREIGN KEY([FABRIC_ID])
REFERENCES [dbo].[UCSToFabricInterConnect] ([FABRIC_ID])
GO
ALTER TABLE [dbo].[FabricInterConnect] CHECK CONSTRAINT [FabricInterConnect_FK]
GO
