USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IpCtgyRange]    Script Date: 6/29/2019 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpCtgyRange](
	[ID] [int] NOT NULL,
	[CID] [int] NOT NULL,
	[STARTIP] [bigint] NOT NULL,
	[ENDIP] [bigint] NOT NULL,
	[FLAG] [int] NOT NULL,
 CONSTRAINT [IpCtgyRange_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1383969743]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1383969743] ON [dbo].[IpCtgyRange]
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IpCtgyRange] ADD  DEFAULT ('0') FOR [FLAG]
GO
ALTER TABLE [dbo].[IpCtgyRange]  WITH CHECK ADD  CONSTRAINT [IpCtgyRange_FK] FOREIGN KEY([CID])
REFERENCES [dbo].[IpCtgy] ([CID])
GO
ALTER TABLE [dbo].[IpCtgyRange] CHECK CONSTRAINT [IpCtgyRange_FK]
GO
