USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EqualLogicStorageVolume]    Script Date: 6/29/2019 5:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EqualLogicStorageVolume](
	[RAID_ID] [bigint] NOT NULL,
	[VOLUME_NAME] [varchar](250) NOT NULL,
	[VOLUME_INDEX] [varchar](250) NOT NULL,
	[STATUS] [varchar](250) NOT NULL,
	[ACCESS_TYPE] [varchar](250) NOT NULL,
	[TOTAL_SPACE] [varchar](250) NOT NULL,
	[NODE_INDEX] [varchar](250) NOT NULL,
	[POOL_INDEX] [varchar](250) NOT NULL,
	[CONNECTIONS] [varchar](250) NOT NULL,
 CONSTRAINT [EqualLogicStorageVolume_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[VOLUME_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1484415304]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1484415304] ON [dbo].[EqualLogicStorageVolume]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EqualLogicStorageVolume]  WITH CHECK ADD  CONSTRAINT [EqualLogicStorageVolume_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EqualLogicStorageVolume] CHECK CONSTRAINT [EqualLogicStorageVolume_FK1]
GO
