USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FieldNetwork]    Script Date: 6/29/2019 5:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldNetwork](
	[ID] [int] NOT NULL,
	[RID] [int] NOT NULL,
	[FIELD] [int] NOT NULL,
	[NETVALUE] [varchar](255) NOT NULL,
	[MASKVALUE] [varchar](255) NOT NULL,
	[FLAG] [int] NOT NULL,
 CONSTRAINT [FieldNetwork_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_306217200]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_306217200] ON [dbo].[FieldNetwork]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FieldNetwork] ADD  DEFAULT ('0') FOR [FLAG]
GO
ALTER TABLE [dbo].[FieldNetwork]  WITH CHECK ADD  CONSTRAINT [FieldNetwork_FK] FOREIGN KEY([RID])
REFERENCES [dbo].[NbaRule] ([RID])
GO
ALTER TABLE [dbo].[FieldNetwork] CHECK CONSTRAINT [FieldNetwork_FK]
GO
