USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarPilot]    Script Date: 6/29/2019 5:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarPilot](
	[PILLAR_ID] [bigint] NOT NULL,
	[PILOT_INSTANCE] [int] NOT NULL,
 CONSTRAINT [PillarPilot_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC,
	[PILOT_INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__164547306]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__164547306] ON [dbo].[PillarPilot]
(
	[PILLAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarPilot]  WITH CHECK ADD  CONSTRAINT [PillarPilot_FK] FOREIGN KEY([PILLAR_ID])
REFERENCES [dbo].[PillarRaid] ([PILLAR_ID])
GO
ALTER TABLE [dbo].[PillarPilot] CHECK CONSTRAINT [PillarPilot_FK]
GO
