USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Problem]    Script Date: 6/29/2019 5:50:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Problem](
	[ID] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[PROBLEMCLASS] [int] NOT NULL,
	[BASEPROBLEM] [varchar](255) NOT NULL,
	[STATUS] [int] NOT NULL,
	[DESP] [varchar](500) NULL,
	[SEVERITY] [varchar](20) NULL,
 CONSTRAINT [Problem_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Problem_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Problem] ADD  DEFAULT ('1') FOR [STATUS]
GO
