USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SANSMICredentialDetails]    Script Date: 6/29/2019 5:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANSMICredentialDetails](
	[CREDENTIALID] [bigint] NOT NULL,
	[SMISERVERIP] [varchar](50) NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[PORT] [int] NULL,
	[SSL] [varchar](10) NULL,
	[NAMESPACE] [varchar](50) NULL,
	[TIMEOUT] [int] NOT NULL,
	[SMIMODELNAME] [varchar](50) NULL,
	[SMIMODELDESCR] [varchar](50) NULL,
	[SMIDISCOVERYOBJ] [varchar](50) NULL,
	[SMIDISCOVERYPROP] [varchar](50) NULL,
 CONSTRAINT [SANSMICredentialDetails_PK] PRIMARY KEY CLUSTERED 
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_238669736]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_238669736] ON [dbo].[SANSMICredentialDetails]
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SANSMICredentialDetails] ADD  DEFAULT ('10') FOR [TIMEOUT]
GO
ALTER TABLE [dbo].[SANSMICredentialDetails]  WITH CHECK ADD  CONSTRAINT [SANSMICredentialDetails_FK] FOREIGN KEY([CREDENTIALID])
REFERENCES [dbo].[CredentialManager] ([CREDENTIALID])
GO
ALTER TABLE [dbo].[SANSMICredentialDetails] CHECK CONSTRAINT [SANSMICredentialDetails_FK]
GO
