USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AccountDetails]    Script Date: 6/29/2019 5:45:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountDetails](
	[ACCOUNTID] [bigint] NOT NULL,
	[ACCOUNTNAME] [varchar](255) NOT NULL,
	[DISPLAYNAME] [varchar](255) NULL,
	[EMPLOYEEID] [varchar](255) NULL,
	[MAILID] [varchar](255) NULL,
	[MOBILE] [varchar](50) NULL,
	[TELEPHONE] [varchar](150) NULL,
	[DESIGNATION] [varchar](255) NULL,
	[DEPARTMENT] [varchar](255) NULL,
	[COMPANY] [varchar](255) NULL,
	[STREET] [varchar](255) NULL,
	[LOCATION] [varchar](255) NULL,
	[STATE] [varchar](255) NULL,
	[COUNTRY] [varchar](100) NULL,
	[POSTALCODE] [varchar](50) NULL,
	[IMAGE] [varchar](1000) NULL,
	[GENDER] [varchar](30) NULL,
	[PARENTDEPARTMENT] [varchar](250) NULL,
	[EXTENSIONNUMBER] [varchar](150) NULL,
	[CITIZENSHIP] [varchar](100) NULL,
	[TYPE] [varchar](50) NULL,
	[AD_ID] [bigint] NULL,
 CONSTRAINT [AccountDetails_PK1] PRIMARY KEY CLUSTERED 
(
	[ACCOUNTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AccountDetails_UK1] UNIQUE NONCLUSTERED 
(
	[ACCOUNTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
