USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LAYER2DIFFMAPPING]    Script Date: 6/29/2019 5:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAYER2DIFFMAPPING](
	[ID] [bigint] NOT NULL,
	[ACTION] [int] NOT NULL,
	[TIME] [bigint] NOT NULL,
	[MAPID] [bigint] NOT NULL,
	[FROMNODEADDRESS] [varchar](50) NOT NULL,
	[IFINDEX] [int] NOT NULL,
	[IFNAME] [varchar](50) NOT NULL,
	[ENDNODEADDRESS] [varchar](50) NOT NULL,
 CONSTRAINT [LAYER2DIFFMAPPING_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1351327516]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1351327516] ON [dbo].[LAYER2DIFFMAPPING]
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LAYER2DIFFMAPPING]  WITH CHECK ADD  CONSTRAINT [LAYER2DIFFMAPPING_FK] FOREIGN KEY([MAPID])
REFERENCES [dbo].[LAYER2CONFIGURATION] ([MAPID])
GO
ALTER TABLE [dbo].[LAYER2DIFFMAPPING] CHECK CONSTRAINT [LAYER2DIFFMAPPING_FK]
GO
