USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FANetwork]    Script Date: 6/29/2019 5:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FANetwork](
	[NETWORK_ID] [bigint] NOT NULL,
	[DEPT_ID] [bigint] NOT NULL,
	[NETWORK_NAME] [nvarchar](48) NOT NULL,
	[NETMASK] [nvarchar](48) NOT NULL,
 CONSTRAINT [FANetwork_PK] PRIMARY KEY CLUSTERED 
(
	[NETWORK_ID] ASC,
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1263839809]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1263839809] ON [dbo].[FANetwork]
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FANetwork]  WITH CHECK ADD  CONSTRAINT [Department_FK1] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[Department] ([DEPT_ID])
GO
ALTER TABLE [dbo].[FANetwork] CHECK CONSTRAINT [Department_FK1]
GO
