USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DBINTERFACES]    Script Date: 6/29/2019 5:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBINTERFACES](
	[VALUESTRING] [varchar](250) NULL
) ON [PRIMARY]
GO
