USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NortelBayStackSwitch]    Script Date: 6/29/2019 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NortelBayStackSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[POWER_STATUS] [varchar](15) NOT NULL,
 CONSTRAINT [NortelBayStackSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_87193369]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_87193369] ON [dbo].[NortelBayStackSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NortelBayStackSwitch] ADD  DEFAULT ('Not Available') FOR [POWER_STATUS]
GO
ALTER TABLE [dbo].[NortelBayStackSwitch]  WITH CHECK ADD  CONSTRAINT [NortelBayStackSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NortelBayStackSwitch] CHECK CONSTRAINT [NortelBayStackSwitch_FK1]
GO
