USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBM3584PhysicalPackage]    Script Date: 6/29/2019 5:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBM3584PhysicalPackage](
	[DEVICE_ID] [bigint] NOT NULL,
	[PHY_PACKAGE_INDEX] [int] NOT NULL,
	[MANUFACTURER] [varchar](250) NULL,
	[MODEL] [varchar](250) NULL,
	[SERIAL_NO] [varchar](250) NULL,
	[MEDIA_ACCESSDEV_INDEX] [int] NULL,
	[TAG] [varchar](250) NULL,
 CONSTRAINT [IBM3584PhysicalPackage_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[PHY_PACKAGE_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__652983126]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__652983126] ON [dbo].[IBM3584PhysicalPackage]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBM3584PhysicalPackage]  WITH CHECK ADD  CONSTRAINT [IBM3584PhysicalPackage_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBM3584PhysicalPackage] CHECK CONSTRAINT [IBM3584PhysicalPackage_FK1]
GO
