USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSToFabricInterConnect]    Script Date: 6/29/2019 5:52:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSToFabricInterConnect](
	[UCS_ID] [bigint] NOT NULL,
	[FABRIC_ID] [bigint] NOT NULL,
 CONSTRAINT [UCSToFabricInterConnect_PK] PRIMARY KEY CLUSTERED 
(
	[FABRIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1974809728]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1974809728] ON [dbo].[UCSToFabricInterConnect]
(
	[UCS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UCSToFabricInterConnect]  WITH CHECK ADD  CONSTRAINT [UCSToFabricInterConnect_FK1] FOREIGN KEY([UCS_ID])
REFERENCES [dbo].[UCSDevice] ([UCS_ID])
GO
ALTER TABLE [dbo].[UCSToFabricInterConnect] CHECK CONSTRAINT [UCSToFabricInterConnect_FK1]
GO
