USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SquidRecords]    Script Date: 6/29/2019 5:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SquidRecords](
	[SQID] [bigint] NOT NULL,
	[RESOURCE] [nvarchar](90) NOT NULL,
	[TIME] [datetime] NOT NULL,
	[DURATION] [bigint] NULL,
	[SRC] [nvarchar](96) NULL,
	[RESULT_CODE] [bigint] NOT NULL,
	[HTTPSTATUS] [bigint] NOT NULL,
	[BYTES] [bigint] NOT NULL,
	[OPERATION] [nvarchar](10) NOT NULL,
	[REQUEST] [nvarchar](4000) NOT NULL,
	[AUTHUSER] [nvarchar](96) NOT NULL,
	[HIERARCHY_CODE] [bigint] NOT NULL,
	[DST] [nvarchar](96) NULL,
	[CONTENT_TYPE] [nvarchar](50) NULL,
	[VIRUS] [nvarchar](96) NULL,
	[STATUS] [nvarchar](15) NULL,
	[TIMEOUT] [nvarchar](19) NULL,
	[PROTOCOL] [nvarchar](10) NULL,
	[SRC_ID] [bigint] NOT NULL,
	[DST_ID] [bigint] NOT NULL,
	[STARTTIME] [bigint] NULL,
	[CATEGORY] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Squid_STARTTIME]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Squid_STARTTIME] ON [dbo].[SquidRecords]
(
	[STARTTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Squid_TIME]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Squid_TIME] ON [dbo].[SquidRecords]
(
	[TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT ('0') FOR [SQID]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT ('') FOR [RESOURCE]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT ('1970-01-01 00:00:00') FOR [TIME]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT (NULL) FOR [DURATION]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT (NULL) FOR [SRC]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT ('0') FOR [RESULT_CODE]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT ('0') FOR [HTTPSTATUS]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT ('0') FOR [BYTES]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT ('') FOR [OPERATION]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT ('') FOR [AUTHUSER]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT ('0') FOR [HIERARCHY_CODE]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT (NULL) FOR [DST]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT (NULL) FOR [CONTENT_TYPE]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT (NULL) FOR [VIRUS]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT (NULL) FOR [STATUS]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT (NULL) FOR [TIMEOUT]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT (NULL) FOR [PROTOCOL]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT ((0)) FOR [SRC_ID]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT ((0)) FOR [DST_ID]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT ('0') FOR [STARTTIME]
GO
ALTER TABLE [dbo].[SquidRecords] ADD  DEFAULT (NULL) FOR [CATEGORY]
GO
