USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMOperation]    Script Date: 6/29/2019 5:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMOperation](
	[OPERATIONID] [bigint] NOT NULL,
	[OPERATIONNAME] [varchar](50) NOT NULL,
	[OPERATIONTYPE] [varchar](50) NOT NULL,
	[DISPLAYNAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](100) NOT NULL,
 CONSTRAINT [NCMOperation_PK] PRIMARY KEY CLUSTERED 
(
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMOperation_UK0] UNIQUE NONCLUSTERED 
(
	[OPERATIONNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMOperation] ADD  DEFAULT ('NO_DESCRIPTION_AVAILABLE') FOR [DESCRIPTION]
GO
