USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GRAPHUSERPROPS]    Script Date: 6/29/2019 5:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRAPHUSERPROPS](
	[GRAPHID] [bigint] NOT NULL,
	[PROPNAME] [varchar](250) NOT NULL,
	[PROPVALUE] [varchar](250) NULL,
 CONSTRAINT [GRAPHUSERPROPS_PK] PRIMARY KEY CLUSTERED 
(
	[GRAPHID] ASC,
	[PROPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__923850044]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__923850044] ON [dbo].[GRAPHUSERPROPS]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GRAPHUSERPROPS]  WITH CHECK ADD  CONSTRAINT [GRAPHUSERPROPS_FK1] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[GRAPHUSERPROPS] CHECK CONSTRAINT [GRAPHUSERPROPS_FK1]
GO
