USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RBBGraphOptions]    Script Date: 6/29/2019 5:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RBBGraphOptions](
	[RBBNAME] [nvarchar](250) NOT NULL,
	[GRAPHTYPE] [nvarchar](250) NOT NULL,
	[XCOLUMN] [nvarchar](250) NOT NULL,
	[YCOLUMN] [nvarchar](250) NOT NULL,
	[XLABEL] [nvarchar](250) NULL,
	[YLABEL] [nvarchar](250) NULL,
	[LINKINGRBBNAME] [nvarchar](250) NULL,
	[LINKINGRBBGNAME] [nvarchar](250) NULL,
	[MCOLUMN] [nvarchar](250) NULL,
	[CRITERIA] [nvarchar](250) NULL,
 CONSTRAINT [RBBGraphOptions_PK] PRIMARY KEY CLUSTERED 
(
	[RBBNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1254624495]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1254624495] ON [dbo].[RBBGraphOptions]
(
	[RBBNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1254624496]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1254624496] ON [dbo].[RBBGraphOptions]
(
	[LINKINGRBBNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1254624497]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1254624497] ON [dbo].[RBBGraphOptions]
(
	[LINKINGRBBGNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RBBGraphOptions]  WITH CHECK ADD  CONSTRAINT [RBBGraphOptions_FK1] FOREIGN KEY([RBBNAME])
REFERENCES [dbo].[ReportBuildingBlock] ([RBBNAME])
GO
ALTER TABLE [dbo].[RBBGraphOptions] CHECK CONSTRAINT [RBBGraphOptions_FK1]
GO
ALTER TABLE [dbo].[RBBGraphOptions]  WITH CHECK ADD  CONSTRAINT [RBBGraphOptions_FK2] FOREIGN KEY([LINKINGRBBNAME])
REFERENCES [dbo].[ReportBuildingBlock] ([RBBNAME])
GO
ALTER TABLE [dbo].[RBBGraphOptions] CHECK CONSTRAINT [RBBGraphOptions_FK2]
GO
ALTER TABLE [dbo].[RBBGraphOptions]  WITH CHECK ADD  CONSTRAINT [RBBGraphOptions_FK3] FOREIGN KEY([LINKINGRBBGNAME])
REFERENCES [dbo].[ReportBuildingBlockGroup] ([RBBGNAME])
GO
ALTER TABLE [dbo].[RBBGraphOptions] CHECK CONSTRAINT [RBBGraphOptions_FK3]
GO
