USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FabricPortStats_2019_06_16_16]    Script Date: 6/29/2019 5:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FabricPortStats_2019_06_16_16](
	[ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[TX_TOTAL_PACKETS] [bigint] NOT NULL,
	[TX_TOTAL_BYTES] [bigint] NOT NULL,
	[RX_TOTAL_PACKETS] [bigint] NOT NULL,
	[RX_TOTAL_BYTES] [bigint] NOT NULL,
 CONSTRAINT [FabricPortStats_2019_06_16_16_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
