USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[XenVMVIFProps]    Script Date: 6/29/2019 5:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XenVMVIFProps](
	[VIF_ID] [bigint] NOT NULL,
	[UUID] [varchar](150) NOT NULL,
	[DEVICE] [varchar](50) NOT NULL,
	[VM_ID] [bigint] NOT NULL,
	[MAC_ADDRESS] [varchar](50) NULL,
	[MTU] [bigint] NULL,
	[CURRENTLY_ATTACHED] [bit] NOT NULL,
 CONSTRAINT [XenVMVIFProps_PK1] PRIMARY KEY CLUSTERED 
(
	[VIF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [XenVMVIFProps_UK0] UNIQUE NONCLUSTERED 
(
	[UUID] ASC,
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_389584770]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_389584770] ON [dbo].[XenVMVIFProps]
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[XenVMVIFProps] ADD  DEFAULT ((1)) FOR [CURRENTLY_ATTACHED]
GO
ALTER TABLE [dbo].[XenVMVIFProps]  WITH CHECK ADD  CONSTRAINT [XenVMVIFProps_FK1] FOREIGN KEY([VM_ID])
REFERENCES [dbo].[XenVMProps] ([VM_ID])
GO
ALTER TABLE [dbo].[XenVMVIFProps] CHECK CONSTRAINT [XenVMVIFProps_FK1]
GO
