USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NFA_Authorization]    Script Date: 6/29/2019 5:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFA_Authorization](
	[USER_ID] [bigint] NOT NULL,
	[CATEGORY] [int] NOT NULL,
	[CRITERIA] [varbinary](max) NULL,
 CONSTRAINT [NFA_AuthConfig_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__1906621715]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1906621715] ON [dbo].[NFA_Authorization]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NFA_Authorization]  WITH CHECK ADD  CONSTRAINT [NFA_AuthConfig_FK1] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[NFA_Authorization] CHECK CONSTRAINT [NFA_AuthConfig_FK1]
GO
