USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPTLStorageMediaLocation]    Script Date: 6/29/2019 5:48:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPTLStorageMediaLocation](
	[DEVICE_ID] [bigint] NOT NULL,
	[LOC_IDX] [int] NOT NULL,
	[LOC_TAG] [varchar](250) NOT NULL,
	[LOC_TYPE] [varchar](250) NULL,
	[LOC_COORD] [varchar](250) NULL,
	[MEDIA_TYPES] [varchar](250) NULL,
	[CAPACITY] [int] NULL,
	[MODEL] [varchar](250) NULL,
	[MANUFACTURER] [varchar](250) NULL,
 CONSTRAINT [HPTLStorageMediaLocation_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[LOC_TAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_932479723]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_932479723] ON [dbo].[HPTLStorageMediaLocation]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPTLStorageMediaLocation]  WITH CHECK ADD  CONSTRAINT [HPTLStorageMediaLocation_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPTLStorageMediaLocation] CHECK CONSTRAINT [HPTLStorageMediaLocation_FK1]
GO
