USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SelectSQLString]    Script Date: 6/29/2019 5:51:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelectSQLString](
	[QUERY_ID] [bigint] NOT NULL,
	[QUERY_KEY] [varchar](100) NOT NULL,
	[SELECT_SQL] [varchar](4000) NOT NULL,
 CONSTRAINT [SelectSQLString_PK] PRIMARY KEY CLUSTERED 
(
	[QUERY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [SelectSQLString_UK0] UNIQUE NONCLUSTERED 
(
	[QUERY_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
