USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MIBDETAILS]    Script Date: 6/29/2019 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIBDETAILS](
	[MIBFILENAME] [varchar](100) NOT NULL,
	[MIBMODNAME] [varchar](100) NOT NULL,
	[ENTSTR] [varchar](100) NULL,
	[TRAPVERSION] [varchar](2) NULL,
	[TRAPNAME] [varchar](100) NOT NULL,
	[TRAPOID] [varchar](200) NULL,
	[TRAPTYPE] [varchar](2) NULL,
	[TRAPDESC] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MIBFILENAME] ASC,
	[MIBMODNAME] ASC,
	[TRAPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
