USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPTLTapeDrive]    Script Date: 6/29/2019 5:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPTLTapeDrive](
	[DEVICE_ID] [bigint] NOT NULL,
	[DRIVEDEVICE_ID] [bigint] NOT NULL,
	[DRIVE_NAME] [varchar](250) NOT NULL,
	[DRIVE_ELT_NAME] [varchar](250) NULL,
	[CLEAN_ENABLED] [varchar](250) NULL,
	[MNT_COUNT] [float] NULL,
 CONSTRAINT [HPTLTapeDrive_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DRIVEDEVICE_ID] ASC,
	[DRIVE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1887354059]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1887354059] ON [dbo].[HPTLTapeDrive]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPTLTapeDrive]  WITH CHECK ADD  CONSTRAINT [HPTLTapeDrive_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPTLTapeDrive] CHECK CONSTRAINT [HPTLTapeDrive_FK1]
GO
