USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoContentSwitch]    Script Date: 6/29/2019 5:46:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoContentSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[SW_VERSION] [varchar](20) NOT NULL,
	[MODULES_FOUND] [varchar](15) NOT NULL,
 CONSTRAINT [CiscoContentSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1390065921]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1390065921] ON [dbo].[CiscoContentSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoContentSwitch] ADD  DEFAULT ('Not Available') FOR [SW_VERSION]
GO
ALTER TABLE [dbo].[CiscoContentSwitch] ADD  DEFAULT ('Not Available') FOR [MODULES_FOUND]
GO
ALTER TABLE [dbo].[CiscoContentSwitch]  WITH CHECK ADD  CONSTRAINT [CiscoContentSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CiscoContentSwitch] CHECK CONSTRAINT [CiscoContentSwitch_FK1]
GO
