USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NonMODeviceType]    Script Date: 6/29/2019 5:49:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NonMODeviceType](
	[DEVICETYPEID] [bigint] NOT NULL,
	[CLASSIFICATION] [varchar](25) NULL,
	[ENTITYTYPE] [varchar](25) NULL,
 CONSTRAINT [NonMODeviceType_PK1] PRIMARY KEY CLUSTERED 
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1426196244]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1426196244] ON [dbo].[NonMODeviceType]
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NonMODeviceType]  WITH CHECK ADD  CONSTRAINT [NonMODeviceType_FK1] FOREIGN KEY([DEVICETYPEID])
REFERENCES [dbo].[DevicePackage] ([DEVICETYPEID])
GO
ALTER TABLE [dbo].[NonMODeviceType] CHECK CONSTRAINT [NonMODeviceType_FK1]
GO
