USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMEmailRecipientsDR]    Script Date: 6/29/2019 5:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMEmailRecipientsDR](
	[INSTANCE_ID] [bigint] NOT NULL,
	[INPUT_ID] [bigint] NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
 CONSTRAINT [NCMEmailRecipientsDR_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__121598918]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__121598918] ON [dbo].[NCMEmailRecipientsDR]
(
	[INPUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__121598919]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__121598919] ON [dbo].[NCMEmailRecipientsDR]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMEmailRecipientsDR]  WITH CHECK ADD  CONSTRAINT [NCMEmailRecipientsDR_FK1] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[Task_Input] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[NCMEmailRecipientsDR] CHECK CONSTRAINT [NCMEmailRecipientsDR_FK1]
GO
ALTER TABLE [dbo].[NCMEmailRecipientsDR]  WITH CHECK ADD  CONSTRAINT [NCMEmailRecipientsDR_FK2] FOREIGN KEY([INPUT_ID])
REFERENCES [dbo].[Email_Task_Input] ([INPUT_ID])
GO
ALTER TABLE [dbo].[NCMEmailRecipientsDR] CHECK CONSTRAINT [NCMEmailRecipientsDR_FK2]
GO
