USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ConstraintDefinition]    Script Date: 6/29/2019 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConstraintDefinition](
	[CONSTRAINT_ID] [bigint] NOT NULL,
	[CONSTRAINT_NAME] [varchar](100) NOT NULL,
	[TABLE_ID] [bigint] NOT NULL,
	[ACTUAL_CONSTRAINT_NAME] [varchar](100) NULL,
 CONSTRAINT [ConstraintDefinition_PK] PRIMARY KEY CLUSTERED 
(
	[CONSTRAINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ConstraintDefinition_UK0] UNIQUE NONCLUSTERED 
(
	[CONSTRAINT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__515730819]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__515730819] ON [dbo].[ConstraintDefinition]
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConstraintDefinition]  WITH CHECK ADD  CONSTRAINT [ConstraintDefinition_FK1] FOREIGN KEY([TABLE_ID])
REFERENCES [dbo].[TableDetails] ([TABLE_ID])
GO
ALTER TABLE [dbo].[ConstraintDefinition] CHECK CONSTRAINT [ConstraintDefinition_FK1]
GO
