USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Integral_Template_Vars]    Script Date: 6/29/2019 5:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Integral_Template_Vars](
	[INTEGRAL_EXPRESSION_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [bigint] NOT NULL,
	[VARIABLE_NAME] [varchar](100) NOT NULL,
	[INTEGRAL_INDEX] [bigint] NULL,
 CONSTRAINT [Integral_Template_Vars_PK] PRIMARY KEY CLUSTERED 
(
	[INTEGRAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1417633300]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1417633300] ON [dbo].[Integral_Template_Vars]
(
	[INTEGRAL_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1417633301]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1417633301] ON [dbo].[Integral_Template_Vars]
(
	[TEMPLATE_ID] ASC,
	[VARIABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2123940090]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2123940090] ON [dbo].[Integral_Template_Vars]
(
	[INTEGRAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Integral_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Integral_Template_Vars_FK] FOREIGN KEY([INTEGRAL_EXPRESSION_ID])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Integral_Template_Vars] CHECK CONSTRAINT [Integral_Template_Vars_FK]
GO
ALTER TABLE [dbo].[Integral_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Integral_Template_Vars_FK1] FOREIGN KEY([TEMPLATE_ID], [VARIABLE_NAME])
REFERENCES [dbo].[Template_Data] ([TEMPLATE_ID], [VARIABLE_NAME])
GO
ALTER TABLE [dbo].[Integral_Template_Vars] CHECK CONSTRAINT [Integral_Template_Vars_FK1]
GO
ALTER TABLE [dbo].[Integral_Template_Vars]  WITH CHECK ADD  CONSTRAINT [Integral_Template_Vars_FK2] FOREIGN KEY([INTEGRAL_INDEX])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Integral_Template_Vars] CHECK CONSTRAINT [Integral_Template_Vars_FK2]
GO
