USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WidgetHeatMapDetails]    Script Date: 6/29/2019 5:53:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WidgetHeatMapDetails](
	[ASSOCIATIONID] [bigint] NOT NULL,
	[SIZE] [int] NOT NULL,
 CONSTRAINT [WidgetHeatMapDetails_PK] PRIMARY KEY CLUSTERED 
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_667793703]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_667793703] ON [dbo].[WidgetHeatMapDetails]
(
	[ASSOCIATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WidgetHeatMapDetails] ADD  DEFAULT ('10') FOR [SIZE]
GO
ALTER TABLE [dbo].[WidgetHeatMapDetails]  WITH CHECK ADD  CONSTRAINT [WidgetHeatMapDetails_FK1] FOREIGN KEY([ASSOCIATIONID])
REFERENCES [dbo].[WidgetAssociation] ([ASSOCIATIONID])
GO
ALTER TABLE [dbo].[WidgetHeatMapDetails] CHECK CONSTRAINT [WidgetHeatMapDetails_FK1]
GO
