USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Vyattasoftware]    Script Date: 6/29/2019 5:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vyattasoftware](
	[RESOURCEID] [bigint] NOT NULL,
	[BUILD_ID] [varchar](100) NOT NULL,
	[BIOS_VER] [varchar](100) NOT NULL,
	[BOADRD_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [Vyattasoftware_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1232444361]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1232444361] ON [dbo].[Vyattasoftware]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Vyattasoftware] ADD  DEFAULT ('Not Available') FOR [BUILD_ID]
GO
ALTER TABLE [dbo].[Vyattasoftware] ADD  DEFAULT ('Not Available') FOR [BIOS_VER]
GO
ALTER TABLE [dbo].[Vyattasoftware] ADD  DEFAULT ('Not Available') FOR [BOADRD_NAME]
GO
ALTER TABLE [dbo].[Vyattasoftware]  WITH CHECK ADD  CONSTRAINT [Vyattasoftware_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[Vyattasoftware] CHECK CONSTRAINT [Vyattasoftware_FK1]
GO
