USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMConfigAutomationAudit]    Script Date: 6/29/2019 5:49:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMConfigAutomationAudit](
	[AUDIT_ID] [bigint] NOT NULL,
	[DOWNLOADTYPE] [varchar](50) NOT NULL,
	[ANNOTATION] [varchar](250) NOT NULL,
 CONSTRAINT [NCMConfigAutomationAudit_PK1] PRIMARY KEY CLUSTERED 
(
	[AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_697169239]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_697169239] ON [dbo].[NCMConfigAutomationAudit]
(
	[AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMConfigAutomationAudit] ADD  DEFAULT ('No Comment Available') FOR [ANNOTATION]
GO
ALTER TABLE [dbo].[NCMConfigAutomationAudit]  WITH CHECK ADD  CONSTRAINT [NCMConfigAutomationAudit_FK1] FOREIGN KEY([AUDIT_ID])
REFERENCES [dbo].[Schedule_Audit] ([AUDIT_ID])
GO
ALTER TABLE [dbo].[NCMConfigAutomationAudit] CHECK CONSTRAINT [NCMConfigAutomationAudit_FK1]
GO
