USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPMSAP2000Volume]    Script Date: 6/29/2019 5:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPMSAP2000Volume](
	[DEVICE_ID] [bigint] NOT NULL,
	[VOLUME_NAME] [varchar](250) NOT NULL,
	[CAN_DELETE] [varchar](250) NOT NULL,
	[CONSUMABLE_SPACE] [varchar](250) NULL,
	[TOTAL_SPACE] [varchar](250) NULL,
	[STORAGE_UNITS] [varchar](250) NULL,
	[BLOCK_SIZE] [varchar](250) NULL,
	[SEQUENTIAL_ACCESS] [varchar](250) NULL,
	[THIN_PROVISIONED] [varchar](250) NULL,
	[TYPE] [varchar](250) NULL,
	[PRIMORDIAL] [varchar](250) NULL,
	[NAME] [varchar](250) NULL,
	[NAME_FORMAT] [varchar](250) NULL,
	[SYSTEM_NAME] [varchar](250) NULL,
	[PREFERRED_OWNER] [varchar](250) NULL,
	[CURRENT_OWNER] [varchar](250) NULL,
	[SINGLE_POINT_OF_FAILURE] [varchar](250) NULL,
	[INSTANCE_ID] [varchar](250) NULL,
 CONSTRAINT [HPMSAP2000Volume_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[VOLUME_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1487954786]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1487954786] ON [dbo].[HPMSAP2000Volume]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPMSAP2000Volume]  WITH CHECK ADD  CONSTRAINT [HPMSAP2000Volume_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPMSAP2000Volume] CHECK CONSTRAINT [HPMSAP2000Volume_FK1]
GO
