USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NFToScriptSettings]    Script Date: 6/29/2019 5:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NFToScriptSettings](
	[NF_ID] [bigint] NOT NULL,
	[SCRIPTID] [bigint] NOT NULL,
 CONSTRAINT [NFToScriptSettings_PK] PRIMARY KEY CLUSTERED 
(
	[NF_ID] ASC,
	[SCRIPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__443682289]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__443682289] ON [dbo].[NFToScriptSettings]
(
	[SCRIPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__443682290]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__443682290] ON [dbo].[NFToScriptSettings]
(
	[NF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NFToScriptSettings]  WITH CHECK ADD  CONSTRAINT [NFToScriptSettings_FK1] FOREIGN KEY([NF_ID])
REFERENCES [dbo].[NotificationFilters] ([NF_ID])
GO
ALTER TABLE [dbo].[NFToScriptSettings] CHECK CONSTRAINT [NFToScriptSettings_FK1]
GO
ALTER TABLE [dbo].[NFToScriptSettings]  WITH CHECK ADD  CONSTRAINT [NFToScriptSettings_FK2] FOREIGN KEY([SCRIPTID])
REFERENCES [dbo].[ScriptSettings] ([SCRIPTID])
GO
ALTER TABLE [dbo].[NFToScriptSettings] CHECK CONSTRAINT [NFToScriptSettings_FK2]
GO
