USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ElementAvailabilityDaily]    Script Date: 6/29/2019 5:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementAvailabilityDaily](
	[ELEMENTID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[ELEMENTDOWN] [bigint] NOT NULL,
	[DEPENDENTUNAVAILABLE] [bigint] NOT NULL,
	[ONHOLD] [bigint] NOT NULL,
	[ONMAINTENANCE] [bigint] NOT NULL,
	[PARENTDOWN] [bigint] NOT NULL,
	[NOTMONITORED] [bigint] NOT NULL,
	[UPTIME] [bigint] NOT NULL,
 CONSTRAINT [ElementAvailabilityDaily_PK] PRIMARY KEY CLUSTERED 
(
	[ELEMENTID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [EADaily0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [EADaily0_ndx] ON [dbo].[ElementAvailabilityDaily]
(
	[ELEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EADaily1_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [EADaily1_ndx] ON [dbo].[ElementAvailabilityDaily]
(
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
