USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MaintenanceTask]    Script Date: 6/29/2019 5:48:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceTask](
	[MS_INSTANCEID] [bigint] NOT NULL,
	[MS_NAME] [varchar](250) NOT NULL,
	[MS_DESCRIPTION] [varchar](250) NULL,
	[MS_STATUS] [varchar](10) NULL,
	[MS_MANAGE_SCHEDULEID] [bigint] NOT NULL,
	[MS_UNMANAGE_SCHEDULEID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MS_INSTANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MS_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
