USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LUNMultiPathStatusCons]    Script Date: 6/29/2019 5:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUNMultiPathStatusCons](
	[MULTIPATH_STATUSID] [bigint] NOT NULL,
	[STATUS_DESC] [varchar](100) NOT NULL,
 CONSTRAINT [LUNMultiPathStatusCons_PK] PRIMARY KEY CLUSTERED 
(
	[MULTIPATH_STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
