USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Str_Const_Opr_Expr]    Script Date: 6/29/2019 5:52:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Str_Const_Opr_Expr](
	[STRING_EXPRESSION_ID] [bigint] NOT NULL,
	[STRING_CONSTANT] [varchar](255) NOT NULL,
	[OPERATOR] [int] NOT NULL,
	[RIGHT_EXPRESSION_ID] [bigint] NULL,
 CONSTRAINT [Str_Const_Opr_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[STRING_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__104280617]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__104280617] ON [dbo].[Str_Const_Opr_Expr]
(
	[STRING_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1062268218]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1062268218] ON [dbo].[Str_Const_Opr_Expr]
(
	[RIGHT_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Str_Const_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [Str_Const_Opr_Expr_FK] FOREIGN KEY([STRING_EXPRESSION_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Str_Const_Opr_Expr] CHECK CONSTRAINT [Str_Const_Opr_Expr_FK]
GO
ALTER TABLE [dbo].[Str_Const_Opr_Expr]  WITH CHECK ADD  CONSTRAINT [Str_Const_Opr_Expr_FK1] FOREIGN KEY([RIGHT_EXPRESSION_ID])
REFERENCES [dbo].[String_Expressions] ([STRING_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Str_Const_Opr_Expr] CHECK CONSTRAINT [Str_Const_Opr_Expr_FK1]
GO
