USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarLUNHostInitiatorPair]    Script Date: 6/29/2019 5:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarLUNHostInitiatorPair](
	[PILLAR_ID] [bigint] NOT NULL,
	[LUN_HOST_MAP_INSTANCE] [int] NOT NULL,
	[INITIATOR_PAIR_INSTANCE] [int] NOT NULL,
	[LUN_HOST_MAP_ID] [varchar](250) NULL,
	[LUN_HOST_MAP_FQN] [varchar](250) NULL,
	[INITIATOR_PAIR_ID] [varchar](250) NULL,
	[INITIATOR_PAIR_FQN] [varchar](250) NULL,
	[INITIATOR_PAIR_LUN_NUMBER] [int] NOT NULL,
	[MAPPING_TYPE] [varchar](250) NULL,
 CONSTRAINT [PillarLUNHostInitiatorPair_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC,
	[LUN_HOST_MAP_INSTANCE] ASC,
	[INITIATOR_PAIR_INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1369404894]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1369404894] ON [dbo].[PillarLUNHostInitiatorPair]
(
	[PILLAR_ID] ASC,
	[LUN_HOST_MAP_INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarLUNHostInitiatorPair]  WITH CHECK ADD  CONSTRAINT [PillarLUNHostInitiatorPair_FK] FOREIGN KEY([PILLAR_ID], [LUN_HOST_MAP_INSTANCE])
REFERENCES [dbo].[PillarLUNHostMap] ([PILLAR_ID], [LUN_HOST_MAP_INSTANCE])
GO
ALTER TABLE [dbo].[PillarLUNHostInitiatorPair] CHECK CONSTRAINT [PillarLUNHostInitiatorPair_FK]
GO
