USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PillarBrickChassis]    Script Date: 6/29/2019 5:50:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PillarBrickChassis](
	[PILLAR_ID] [bigint] NOT NULL,
	[BRICK_INSTANCE] [int] NOT NULL,
	[SERIAL_NUMBER] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NULL,
 CONSTRAINT [PillarBrickChassis_PK] PRIMARY KEY CLUSTERED 
(
	[PILLAR_ID] ASC,
	[SERIAL_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2092453899]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2092453899] ON [dbo].[PillarBrickChassis]
(
	[PILLAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PillarBrickChassis]  WITH CHECK ADD  CONSTRAINT [PillarBrickChassis_FK] FOREIGN KEY([PILLAR_ID])
REFERENCES [dbo].[PillarRaid] ([PILLAR_ID])
GO
ALTER TABLE [dbo].[PillarBrickChassis] CHECK CONSTRAINT [PillarBrickChassis_FK]
GO
