USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMTS3200LibraryTapeDrive]    Script Date: 6/29/2019 5:48:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMTS3200LibraryTapeDrive](
	[DEVICE_ID] [bigint] NOT NULL,
	[DRIVE_MOTION_HOURS] [varchar](250) NOT NULL,
	[DRIVE_CLEAN] [varchar](250) NOT NULL,
	[DRIVE_LOADS] [varchar](250) NOT NULL,
	[SOFT_WRITE_ERROR] [varchar](250) NOT NULL,
	[HARD_WRITE_ERROR] [varchar](250) NOT NULL,
	[SOFT_READ_ERROR] [varchar](250) NOT NULL,
	[HARD_READ_ERROR] [varchar](250) NOT NULL,
 CONSTRAINT [IBMTS3200LibraryTapeDrive_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_978279916]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_978279916] ON [dbo].[IBMTS3200LibraryTapeDrive]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMTS3200LibraryTapeDrive]  WITH CHECK ADD  CONSTRAINT [IBMTS3200LibraryTapeDrive_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[LibraryTapeDrive] ([DRIVE_ID])
GO
ALTER TABLE [dbo].[IBMTS3200LibraryTapeDrive] CHECK CONSTRAINT [IBMTS3200LibraryTapeDrive_FK1]
GO
