USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ExcludeRuleCriteria]    Script Date: 6/29/2019 5:47:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcludeRuleCriteria](
	[CRIT_ID] [bigint] NOT NULL,
	[SEQUENCE] [int] NOT NULL,
	[OPERATOR] [nvarchar](10) NOT NULL,
	[CRIT_CONDITION] [int] NOT NULL,
	[CRITERIA] [nvarchar](250) NOT NULL,
 CONSTRAINT [ExcludeRuleCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[CRIT_ID] ASC,
	[SEQUENCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__842575889]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__842575889] ON [dbo].[ExcludeRuleCriteria]
(
	[CRIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExcludeRuleCriteria] ADD  DEFAULT ('1') FOR [SEQUENCE]
GO
ALTER TABLE [dbo].[ExcludeRuleCriteria] ADD  DEFAULT ('NA') FOR [OPERATOR]
GO
ALTER TABLE [dbo].[ExcludeRuleCriteria]  WITH CHECK ADD  CONSTRAINT [ExcludeRuleCriteria_FK] FOREIGN KEY([CRIT_ID])
REFERENCES [dbo].[ExcludeRule] ([CRIT_ID])
GO
ALTER TABLE [dbo].[ExcludeRuleCriteria] CHECK CONSTRAINT [ExcludeRuleCriteria_FK]
GO
