USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WF_Task_Variables]    Script Date: 6/29/2019 5:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_Task_Variables](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[SEQUENCE_ID] [int] NOT NULL,
	[EXPRESSION_ID] [bigint] NOT NULL,
 CONSTRAINT [WF_Task_Variables_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC,
	[SEQUENCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_306122647]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_306122647] ON [dbo].[WF_Task_Variables]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_899867515]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_899867515] ON [dbo].[WF_Task_Variables]
(
	[EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WF_Task_Variables]  WITH CHECK ADD  CONSTRAINT [WF_Task_Variables_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Workflow_Task] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[WF_Task_Variables] CHECK CONSTRAINT [WF_Task_Variables_FK]
GO
ALTER TABLE [dbo].[WF_Task_Variables]  WITH CHECK ADD  CONSTRAINT [WF_Task_Variables_FK2] FOREIGN KEY([EXPRESSION_ID])
REFERENCES [dbo].[Expressions] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[WF_Task_Variables] CHECK CONSTRAINT [WF_Task_Variables_FK2]
GO
