USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WAASConnectionStats]    Script Date: 6/29/2019 5:53:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAASConnectionStats](
	[ID] [int] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[APPLIED_POLICY] [varchar](100) NOT NULL,
	[COMPRESS_RATIO] [varchar](100) NOT NULL,
	[DEVICE_NAME] [varchar](100) NOT NULL,
	[DST_IP] [varchar](100) NOT NULL,
	[DST_PORT] [varchar](100) NOT NULL,
	[DURATION] [datetime] NOT NULL,
	[BYTES_OPTIMIZED] [varchar](100) NOT NULL,
	[BYTES_ORIGINAL] [varchar](100) NOT NULL,
	[PEER_NAME] [varchar](100) NOT NULL,
	[SRC_IP] [varchar](100) NOT NULL,
	[SRC_PORT] [varchar](100) NOT NULL,
 CONSTRAINT [WAASConnectionStats_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
