USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSIOModule]    Script Date: 6/29/2019 5:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSIOModule](
	[IO_MODULE_ID] [bigint] NOT NULL,
	[DN] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[ID] [int] NOT NULL,
	[CHASSISID] [int] NOT NULL,
	[IP_ADDRESS] [varchar](50) NOT NULL,
	[MODEL] [varchar](100) NOT NULL,
	[ADMINPOWERSTATE] [varchar](100) NOT NULL,
	[CONFIGSTATE] [varchar](100) NOT NULL,
	[DISCOVERY] [varchar](100) NOT NULL,
	[OPERSTATE] [varchar](50) NOT NULL,
	[OPERABILITY] [varchar](50) NOT NULL,
	[PEERDN] [varchar](100) NOT NULL,
	[PEERCOMMSTATUS] [varchar](100) NOT NULL,
	[PRESENCE] [varchar](100) NOT NULL,
	[SIDE] [varchar](50) NOT NULL,
	[SWITCHID] [varchar](50) NOT NULL,
	[SERIAL] [varchar](50) NOT NULL,
	[UPGRADESTATUS] [varchar](150) NOT NULL,
	[USER_LABEL] [varchar](250) NOT NULL,
	[VENDOR] [varchar](100) NOT NULL,
	[REVISION] [varchar](50) NOT NULL,
	[THERMAL_STATUS] [varchar](100) NOT NULL,
	[POWER] [varchar](50) NOT NULL,
	[VOLTAGE] [varchar](50) NOT NULL,
 CONSTRAINT [UCSIOModule_PK] PRIMARY KEY CLUSTERED 
(
	[IO_MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
