USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPEthernetSwitch]    Script Date: 6/29/2019 5:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPEthernetSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[BOOTROM_VER] [varchar](100) NOT NULL,
 CONSTRAINT [HPEthernetSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__37004576]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__37004576] ON [dbo].[HPEthernetSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPEthernetSwitch] ADD  DEFAULT ('Not Available') FOR [BOOTROM_VER]
GO
ALTER TABLE [dbo].[HPEthernetSwitch]  WITH CHECK ADD  CONSTRAINT [HPEthernetSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[HPEthernetSwitch] CHECK CONSTRAINT [HPEthernetSwitch_FK1]
GO
