USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSToChassis]    Script Date: 6/29/2019 5:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSToChassis](
	[UCS_ID] [bigint] NOT NULL,
	[CHASSIS_ID] [bigint] NOT NULL,
 CONSTRAINT [UCSToChassis_PK] PRIMARY KEY CLUSTERED 
(
	[UCS_ID] ASC,
	[CHASSIS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__928454284]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__928454284] ON [dbo].[UCSToChassis]
(
	[CHASSIS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__928454285]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__928454285] ON [dbo].[UCSToChassis]
(
	[UCS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UCSToChassis]  WITH CHECK ADD  CONSTRAINT [UCSToChassis_FK1] FOREIGN KEY([UCS_ID])
REFERENCES [dbo].[UCSDevice] ([UCS_ID])
GO
ALTER TABLE [dbo].[UCSToChassis] CHECK CONSTRAINT [UCSToChassis_FK1]
GO
ALTER TABLE [dbo].[UCSToChassis]  WITH CHECK ADD  CONSTRAINT [UCSToChassis_FK2] FOREIGN KEY([CHASSIS_ID])
REFERENCES [dbo].[ChassisDetails] ([CHASSIS_ID])
GO
ALTER TABLE [dbo].[UCSToChassis] CHECK CONSTRAINT [UCSToChassis_FK2]
GO
