USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EEPIKDetails]    Script Date: 6/29/2019 5:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EEPIKDetails](
	[REGIONID] [varchar](50) NOT NULL,
	[AUTHKEY] [varchar](250) NOT NULL,
 CONSTRAINT [EEPIKDetails_PK] PRIMARY KEY CLUSTERED 
(
	[REGIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
