USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCIsilonLicenseInfo]    Script Date: 6/29/2019 5:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCIsilonLicenseInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[STATUS] [varchar](100) NOT NULL,
	[CONFIGURATION_STATUS] [varchar](100) NOT NULL,
	[EXPIRATION_DATE] [varchar](100) NOT NULL,
 CONSTRAINT [EMCIsilonLicenseInfo_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_570638965]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_570638965] ON [dbo].[EMCIsilonLicenseInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCIsilonLicenseInfo]  WITH CHECK ADD  CONSTRAINT [EMCIsilonLicenseInfo_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCIsilonLicenseInfo] CHECK CONSTRAINT [EMCIsilonLicenseInfo_FK1]
GO
