USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMSwitchPortSummary]    Script Date: 6/29/2019 5:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMSwitchPortSummary](
	[RESOURCEID] [bigint] NOT NULL,
	[STATUS] [varchar](15) NULL,
	[LASTSCANTIME] [datetime] NULL,
	[LASTSUCCESSSCAN] [datetime] NULL,
	[USEDPORT] [int] NOT NULL,
	[AVAILABLEPORT] [int] NOT NULL,
	[TRANSIENTPORT] [int] NOT NULL,
	[TOTALPORTCOUNT] [int] NOT NULL,
	[VLANCOUNT] [int] NOT NULL,
 CONSTRAINT [NCMSwitchPortSummary_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2141761402]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2141761402] ON [dbo].[NCMSwitchPortSummary]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMSwitchPortSummary] ADD  DEFAULT ('0') FOR [USEDPORT]
GO
ALTER TABLE [dbo].[NCMSwitchPortSummary] ADD  DEFAULT ('0') FOR [AVAILABLEPORT]
GO
ALTER TABLE [dbo].[NCMSwitchPortSummary] ADD  DEFAULT ('0') FOR [TRANSIENTPORT]
GO
ALTER TABLE [dbo].[NCMSwitchPortSummary] ADD  DEFAULT ('0') FOR [TOTALPORTCOUNT]
GO
ALTER TABLE [dbo].[NCMSwitchPortSummary] ADD  DEFAULT ('0') FOR [VLANCOUNT]
GO
ALTER TABLE [dbo].[NCMSwitchPortSummary]  WITH CHECK ADD  CONSTRAINT [NCMSwitchPortSummary_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResourcesInfo] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMSwitchPortSummary] CHECK CONSTRAINT [NCMSwitchPortSummary_FK1]
GO
