USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BWCollectedData]    Script Date: 6/29/2019 5:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BWCollectedData](
	[ID] [bigint] NOT NULL,
	[IFID] [bigint] NOT NULL,
	[FIFTEEN_MIN_INTERVAL] [bigint] NOT NULL,
	[HOURLY_INTERVAL] [bigint] NOT NULL,
	[DAY_INTERVAL] [bigint] NOT NULL,
	[LATEST] [int] NOT NULL,
	[ABSOLUTE_TIME] [bigint] NOT NULL,
	[ABSOLUTE_DATETIME] [datetime] NOT NULL,
	[OUT_ABSOLUTE_VALUE] [varchar](50) NULL,
	[IN_ABSOLUTE_VALUE] [varchar](50) NULL,
	[OUT_UNICAST_ABSOLUTE_VALUE] [varchar](50) NULL,
	[OUT_BROADCAST_ABSOLUTE_VALUE] [varchar](50) NULL,
	[IN_UNICAST_ABSOLUTE_VALUE] [varchar](50) NULL,
	[IN_BROADCAST_ABSOLUTE_VALUE] [varchar](50) NULL,
	[TIME_INTERVAL] [bigint] NULL,
	[OUT_RELATIVE_VALUE] [bigint] NULL,
	[IN_RELATIVE_VALUE] [bigint] NULL,
	[OUT_UNICAST_VALUE] [bigint] NULL,
	[OUT_BROADCAST_VALUE] [bigint] NULL,
	[IN_UNICAST_VALUE] [bigint] NULL,
	[IN_BROADCAST_VALUE] [bigint] NULL,
 CONSTRAINT [BWCollectedData_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_898854027]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_898854027] ON [dbo].[BWCollectedData]
(
	[IFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BWCollectedData] ADD  DEFAULT ('1') FOR [LATEST]
GO
ALTER TABLE [dbo].[BWCollectedData]  WITH CHECK ADD  CONSTRAINT [BWCollectedData_FK1] FOREIGN KEY([IFID])
REFERENCES [dbo].[BWInterfaces] ([ID])
GO
ALTER TABLE [dbo].[BWCollectedData] CHECK CONSTRAINT [BWCollectedData_FK1]
GO
