USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetTopoConfiguration]    Script Date: 6/29/2019 5:49:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetTopoConfiguration](
	[NETTOPOIDENTIFIER] [varchar](250) NOT NULL,
 CONSTRAINT [NetTopoConf_PK] PRIMARY KEY CLUSTERED 
(
	[NETTOPOIDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1321442711]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1321442711] ON [dbo].[NetTopoConfiguration]
(
	[NETTOPOIDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetTopoConfiguration]  WITH CHECK ADD  CONSTRAINT [NetTopoConf_FK2] FOREIGN KEY([NETTOPOIDENTIFIER])
REFERENCES [dbo].[DiscoveryConfiguration] ([NAME])
GO
ALTER TABLE [dbo].[NetTopoConfiguration] CHECK CONSTRAINT [NetTopoConf_FK2]
GO
