USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwHostDatastoreMap]    Script Date: 6/29/2019 5:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwHostDatastoreMap](
	[VDATASTORE_ID] [bigint] NOT NULL,
	[VHOST_ID] [bigint] NOT NULL,
	[MOUNT_LOCATION] [varchar](200) NOT NULL,
	[IS_ACCESSIBLE] [bit] NOT NULL,
	[ACCESS_MODE] [varchar](50) NULL,
 CONSTRAINT [VwHostDatastoreMap_PK] PRIMARY KEY CLUSTERED 
(
	[VDATASTORE_ID] ASC,
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1470535035]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1470535035] ON [dbo].[VwHostDatastoreMap]
(
	[VHOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1470535036]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1470535036] ON [dbo].[VwHostDatastoreMap]
(
	[VDATASTORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwHostDatastoreMap]  WITH CHECK ADD  CONSTRAINT [VwHostDatastoreMap_FK1] FOREIGN KEY([VHOST_ID])
REFERENCES [dbo].[VwHOSTPROPS] ([VHOST_ID])
GO
ALTER TABLE [dbo].[VwHostDatastoreMap] CHECK CONSTRAINT [VwHostDatastoreMap_FK1]
GO
ALTER TABLE [dbo].[VwHostDatastoreMap]  WITH CHECK ADD  CONSTRAINT [VwHostDatastoreMap_FK2] FOREIGN KEY([VDATASTORE_ID])
REFERENCES [dbo].[VwDATASTOREPROPS] ([VDATASTORE_ID])
GO
ALTER TABLE [dbo].[VwHostDatastoreMap] CHECK CONSTRAINT [VwHostDatastoreMap_FK2]
GO
