USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourceCompStatus]    Script Date: 6/29/2019 5:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourceCompStatus](
	[RESOURCEID] [bigint] NOT NULL,
	[COMPLIANCE_STATUS] [varchar](25) NOT NULL,
	[LAST_CHECKED_TIME] [datetime] NOT NULL,
 CONSTRAINT [NCMResourceCompStatus_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1086060108]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1086060108] ON [dbo].[NCMResourceCompStatus]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourceCompStatus]  WITH CHECK ADD  CONSTRAINT [NCMResourceCompStatus_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMResourceCompStatus] CHECK CONSTRAINT [NCMResourceCompStatus_FK1]
GO
