USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StoragePlex]    Script Date: 6/29/2019 5:51:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoragePlex](
	[PLEX_ID] [bigint] NOT NULL,
	[AGGREGATE_ID] [bigint] NOT NULL,
	[PLEX_NAME] [varchar](100) NOT NULL,
	[PLEX_STATUS] [varchar](50) NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
 CONSTRAINT [StoragePlex_PK] PRIMARY KEY CLUSTERED 
(
	[PLEX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1801322618]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1801322618] ON [dbo].[StoragePlex]
(
	[AGGREGATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StoragePlex]  WITH CHECK ADD  CONSTRAINT [StoragePlex_FK] FOREIGN KEY([AGGREGATE_ID])
REFERENCES [dbo].[StorageAggregates] ([AGGREGATE_ID])
GO
ALTER TABLE [dbo].[StoragePlex] CHECK CONSTRAINT [StoragePlex_FK]
GO
