USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorageVolumes]    Script Date: 6/29/2019 5:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageVolumes](
	[VOLUME_ID] [bigint] NOT NULL,
	[FILER_ID] [bigint] NOT NULL,
	[VOLUME_NAME] [varchar](100) NOT NULL,
	[VOLUME_UUID] [varchar](50) NOT NULL,
	[VOLUME_TYPE] [varchar](50) NULL,
	[VOLUME_STATUS] [varchar](50) NULL,
	[VOLUME_CLONE] [bit] NOT NULL,
	[VOLUME_CAPACITY_BYTES] [bigint] NULL,
	[VOLUME_USED_BYTES] [bigint] NULL,
	[VOLUME_AVAILABLE_BYTES] [bigint] NULL,
	[VOLUME_USED_PERC] [int] NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
 CONSTRAINT [StorageVolumes_PK] PRIMARY KEY CLUSTERED 
(
	[VOLUME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_952188646]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_952188646] ON [dbo].[StorageVolumes]
(
	[FILER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorageVolumes] ADD  DEFAULT ((0)) FOR [VOLUME_CLONE]
GO
ALTER TABLE [dbo].[StorageVolumes]  WITH CHECK ADD  CONSTRAINT [StorageVolumes_FK] FOREIGN KEY([FILER_ID])
REFERENCES [dbo].[StorageFiler] ([FILER_ID])
GO
ALTER TABLE [dbo].[StorageVolumes] CHECK CONSTRAINT [StorageVolumes_FK]
GO
