USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FortiGateFirewall]    Script Date: 6/29/2019 5:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FortiGateFirewall](
	[RESOURCEID] [bigint] NOT NULL,
	[VIRUSDB] [varchar](50) NOT NULL,
	[IDSDB] [varchar](50) NOT NULL,
	[BIOSVERSION] [varchar](20) NOT NULL,
	[LOGHARDDISK] [varchar](20) NOT NULL,
	[OPERATIONMODE] [varchar](20) NOT NULL,
	[MAXVIRTUALDOMAINS] [varchar](15) NOT NULL,
	[CURRENTVIRTUALDOMAIN] [varchar](15) NOT NULL,
	[CURRENTHASTATUS] [varchar](20) NOT NULL,
 CONSTRAINT [FortiGateFirewall_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_869558710]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_869558710] ON [dbo].[FortiGateFirewall]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FortiGateFirewall] ADD  DEFAULT ('Not Available') FOR [VIRUSDB]
GO
ALTER TABLE [dbo].[FortiGateFirewall] ADD  DEFAULT ('Not Available') FOR [IDSDB]
GO
ALTER TABLE [dbo].[FortiGateFirewall] ADD  DEFAULT ('Not Available') FOR [BIOSVERSION]
GO
ALTER TABLE [dbo].[FortiGateFirewall] ADD  DEFAULT ('Not Available') FOR [LOGHARDDISK]
GO
ALTER TABLE [dbo].[FortiGateFirewall] ADD  DEFAULT ('Not Available') FOR [OPERATIONMODE]
GO
ALTER TABLE [dbo].[FortiGateFirewall] ADD  DEFAULT ('Not Available') FOR [MAXVIRTUALDOMAINS]
GO
ALTER TABLE [dbo].[FortiGateFirewall] ADD  DEFAULT ('Not Available') FOR [CURRENTVIRTUALDOMAIN]
GO
ALTER TABLE [dbo].[FortiGateFirewall] ADD  DEFAULT ('Not Available') FOR [CURRENTHASTATUS]
GO
ALTER TABLE [dbo].[FortiGateFirewall]  WITH CHECK ADD  CONSTRAINT [FortiGateFirewall_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[FortiGateFirewall] CHECK CONSTRAINT [FortiGateFirewall_FK1]
GO
