USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FKColumnDefinition]    Script Date: 6/29/2019 5:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FKColumnDefinition](
	[FK_CONSTRAINT_ID] [bigint] NOT NULL,
	[FK_LOCAL_COL_ID] [bigint] NOT NULL,
	[FK_REF_COL_ID] [bigint] NOT NULL,
	[POSITION] [int] NOT NULL,
 CONSTRAINT [FKColumnDefinition_PK1] PRIMARY KEY CLUSTERED 
(
	[FK_CONSTRAINT_ID] ASC,
	[FK_LOCAL_COL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1125698683]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1125698683] ON [dbo].[FKColumnDefinition]
(
	[FK_CONSTRAINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1125698684]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1125698684] ON [dbo].[FKColumnDefinition]
(
	[FK_LOCAL_COL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1125698685]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1125698685] ON [dbo].[FKColumnDefinition]
(
	[FK_REF_COL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FKColumnDefinition]  WITH CHECK ADD  CONSTRAINT [FKColumnDefinition_FK1] FOREIGN KEY([FK_CONSTRAINT_ID])
REFERENCES [dbo].[FKDefinition] ([FK_CONSTRAINT_ID])
GO
ALTER TABLE [dbo].[FKColumnDefinition] CHECK CONSTRAINT [FKColumnDefinition_FK1]
GO
ALTER TABLE [dbo].[FKColumnDefinition]  WITH CHECK ADD  CONSTRAINT [FKColumnDefinition_FK2] FOREIGN KEY([FK_LOCAL_COL_ID])
REFERENCES [dbo].[ColumnDetails] ([COLUMN_ID])
GO
ALTER TABLE [dbo].[FKColumnDefinition] CHECK CONSTRAINT [FKColumnDefinition_FK2]
GO
ALTER TABLE [dbo].[FKColumnDefinition]  WITH CHECK ADD  CONSTRAINT [FKColumnDefinition_FK3] FOREIGN KEY([FK_REF_COL_ID])
REFERENCES [dbo].[ColumnDetails] ([COLUMN_ID])
GO
ALTER TABLE [dbo].[FKColumnDefinition] CHECK CONSTRAINT [FKColumnDefinition_FK3]
GO
