USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RestApiModuleMapping]    Script Date: 6/29/2019 5:51:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestApiModuleMapping](
	[ID] [bigint] NOT NULL,
	[MODULEID] [bigint] NOT NULL,
	[HANDLERID] [bigint] NOT NULL,
	[VERSION] [varchar](50) NOT NULL,
 CONSTRAINT [RestApiModuleMapping_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1229011414]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1229011414] ON [dbo].[RestApiModuleMapping]
(
	[MODULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1229011415]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1229011415] ON [dbo].[RestApiModuleMapping]
(
	[HANDLERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RestApiModuleMapping]  WITH CHECK ADD  CONSTRAINT [RestApiModuleMapping_FK1] FOREIGN KEY([HANDLERID])
REFERENCES [dbo].[RestApiDataSource] ([HANDLERID])
GO
ALTER TABLE [dbo].[RestApiModuleMapping] CHECK CONSTRAINT [RestApiModuleMapping_FK1]
GO
ALTER TABLE [dbo].[RestApiModuleMapping]  WITH CHECK ADD  CONSTRAINT [RestApiModuleMapping_FK2] FOREIGN KEY([MODULEID])
REFERENCES [dbo].[RestApiConfig] ([MODULEID])
GO
ALTER TABLE [dbo].[RestApiModuleMapping] CHECK CONSTRAINT [RestApiModuleMapping_FK2]
GO
