USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMTftpScpSyslogIpAddress]    Script Date: 6/29/2019 5:49:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMTftpScpSyslogIpAddress](
	[PROPERTYNAME] [varchar](250) NOT NULL,
	[PROPERTYVALUE] [varbinary](max) NOT NULL,
 CONSTRAINT [NCMTftpScpSyslogIpAddress_PK1] PRIMARY KEY CLUSTERED 
(
	[PROPERTYNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
