USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiscoveryParams]    Script Date: 6/29/2019 5:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveryParams](
	[DISCID] [bigint] NOT NULL,
	[STARTIP] [nvarchar](50) NOT NULL,
	[ENDIP] [nvarchar](50) NOT NULL,
 CONSTRAINT [DiscoveryParams_PK] PRIMARY KEY CLUSTERED 
(
	[DISCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DiscoveryParams_UK0] UNIQUE NONCLUSTERED 
(
	[STARTIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DiscoveryParams_UK1] UNIQUE NONCLUSTERED 
(
	[ENDIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
