USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BrocadeVDXSwitch]    Script Date: 6/29/2019 5:46:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrocadeVDXSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[HW_REV] [varchar](100) NOT NULL,
	[PART_NUM] [varchar](100) NOT NULL,
 CONSTRAINT [BrocadeVDXSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_620394605]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_620394605] ON [dbo].[BrocadeVDXSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BrocadeVDXSwitch] ADD  DEFAULT ('Not Available') FOR [HW_REV]
GO
ALTER TABLE [dbo].[BrocadeVDXSwitch] ADD  DEFAULT ('Not Available') FOR [PART_NUM]
GO
ALTER TABLE [dbo].[BrocadeVDXSwitch]  WITH CHECK ADD  CONSTRAINT [BrocadeVDXSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[BrocadeVDXSwitch] CHECK CONSTRAINT [BrocadeVDXSwitch_FK1]
GO
