USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MessageDetails]    Script Date: 6/29/2019 5:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageDetails](
	[MSG_ID] [bigint] NOT NULL,
	[MSG_TYPE] [int] NOT NULL,
	[IS_CLOSE_ENABLE] [bit] NOT NULL,
	[MSG_ORDER] [int] NOT NULL,
	[MSG_TITLE] [varchar](100) NOT NULL,
	[MSG_CONTENT] [varchar](2000) NOT NULL,
	[MSG_USERCONTENT] [varchar](2000) NULL,
	[MSG_READONLY_CONTENT] [varchar](2000) NULL,
	[CLONE_ALERT] [bit] NOT NULL,
 CONSTRAINT [MessageDetails_PK] PRIMARY KEY CLUSTERED 
(
	[MSG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MessageDetails] ADD  DEFAULT ((1)) FOR [IS_CLOSE_ENABLE]
GO
ALTER TABLE [dbo].[MessageDetails] ADD  DEFAULT ((0)) FOR [CLONE_ALERT]
GO
