USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPEVAHostPortPresentation]    Script Date: 6/29/2019 5:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPEVAHostPortPresentation](
	[DEVICE_ID] [bigint] NOT NULL,
	[HOST_NAME] [varchar](250) NOT NULL,
	[PRESENTATION_ID] [varchar](80) NOT NULL,
	[LUN] [varchar](250) NULL,
	[VDISK_NAME] [varchar](250) NULL,
 CONSTRAINT [HPEVAHOSTPORTPRESENATION_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[HOST_NAME] ASC,
	[PRESENTATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1077178056]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1077178056] ON [dbo].[HPEVAHostPortPresentation]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPEVAHostPortPresentation]  WITH CHECK ADD  CONSTRAINT [HPEVAHOSTPORTPRESENTATION_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[HPEVARaidHost] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPEVAHostPortPresentation] CHECK CONSTRAINT [HPEVAHOSTPORTPRESENTATION_FK1]
GO
