USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UbiquitiAirOs]    Script Date: 6/29/2019 5:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UbiquitiAirOs](
	[RESOURCEID] [bigint] NOT NULL,
	[SERIAL] [varchar](100) NOT NULL,
	[VERSION] [varchar](100) NOT NULL,
 CONSTRAINT [UbiquitiAirOs_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__533525347]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__533525347] ON [dbo].[UbiquitiAirOs]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UbiquitiAirOs] ADD  DEFAULT ('Not Available') FOR [SERIAL]
GO
ALTER TABLE [dbo].[UbiquitiAirOs] ADD  DEFAULT ('Not Available') FOR [VERSION]
GO
ALTER TABLE [dbo].[UbiquitiAirOs]  WITH CHECK ADD  CONSTRAINT [UbiquitiAirOs_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[UbiquitiAirOs] CHECK CONSTRAINT [UbiquitiAirOs_FK1]
GO
