USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpSettings]    Script Date: 6/29/2019 5:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpSettings](
	[ID] [bigint] NOT NULL,
	[SNMP_PORT] [int] NOT NULL,
	[SNMP_TIMEOUT] [int] NOT NULL,
	[SNMP_RETRIES] [int] NOT NULL,
 CONSTRAINT [SnmpSettings_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1998648867]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1998648867] ON [dbo].[SnmpSettings]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnmpSettings]  WITH CHECK ADD  CONSTRAINT [SnmpSettings_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[Settings] ([ID])
GO
ALTER TABLE [dbo].[SnmpSettings] CHECK CONSTRAINT [SnmpSettings_FK]
GO
