USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCredentialProfileValue]    Script Date: 6/29/2019 5:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCredentialProfileValue](
	[CREDENTIALID] [bigint] NOT NULL,
	[PROFILEID] [bigint] NOT NULL,
	[PROPERTYNAME] [varchar](50) NOT NULL,
 CONSTRAINT [NCMCredentialProfileValue_PK1] PRIMARY KEY CLUSTERED 
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_121693796]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_121693796] ON [dbo].[NCMCredentialProfileValue]
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCredentialProfileValue]  WITH CHECK ADD  CONSTRAINT [NCMCredentialProfileValue_FK1] FOREIGN KEY([CREDENTIALID])
REFERENCES [dbo].[NCMCredentialValue] ([CREDENTIALID])
GO
ALTER TABLE [dbo].[NCMCredentialProfileValue] CHECK CONSTRAINT [NCMCredentialProfileValue_FK1]
GO
