USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Print_Log]    Script Date: 6/29/2019 5:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Print_Log](
	[PRINT_ID] [bigint] NOT NULL,
	[WORKFLOW_TEMPLATE_ID] [bigint] NOT NULL,
	[WORKFLOW_INSTANCE_ID] [bigint] NOT NULL,
	[LOG_TIME] [datetime] NOT NULL,
 CONSTRAINT [WorkEngine_Log_PK] PRIMARY KEY CLUSTERED 
(
	[PRINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
