USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoCatOSSwitch]    Script Date: 6/29/2019 5:46:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoCatOSSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[HARDWAREVERSION] [varchar](15) NOT NULL,
	[DRAMSIZE] [varchar](15) NOT NULL,
	[NVRAMSIZE] [varchar](15) NOT NULL,
	[FLASHSIZE] [varchar](15) NOT NULL,
	[CONFIGREGISTER] [varchar](50) NOT NULL,
	[BOOTSTRAPVERSION] [varchar](15) NOT NULL,
 CONSTRAINT [CiscoCatOSSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2091258178]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2091258178] ON [dbo].[CiscoCatOSSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoCatOSSwitch] ADD  DEFAULT ('Not Available') FOR [HARDWAREVERSION]
GO
ALTER TABLE [dbo].[CiscoCatOSSwitch] ADD  DEFAULT ('Not Available') FOR [DRAMSIZE]
GO
ALTER TABLE [dbo].[CiscoCatOSSwitch] ADD  DEFAULT ('Not Available') FOR [NVRAMSIZE]
GO
ALTER TABLE [dbo].[CiscoCatOSSwitch] ADD  DEFAULT ('Not Available') FOR [FLASHSIZE]
GO
ALTER TABLE [dbo].[CiscoCatOSSwitch] ADD  DEFAULT ('Not Available') FOR [CONFIGREGISTER]
GO
ALTER TABLE [dbo].[CiscoCatOSSwitch] ADD  DEFAULT ('Not Available') FOR [BOOTSTRAPVERSION]
GO
ALTER TABLE [dbo].[CiscoCatOSSwitch]  WITH CHECK ADD  CONSTRAINT [CiscoCatOSSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CiscoCatOSSwitch] CHECK CONSTRAINT [CiscoCatOSSwitch_FK1]
GO
