USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VIEntity]    Script Date: 6/29/2019 5:52:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIEntity](
	[ENTITY_ID] [bigint] NOT NULL,
	[ENTITY_TYPE] [varchar](250) NULL,
 CONSTRAINT [VIEntity_PK] PRIMARY KEY CLUSTERED 
(
	[ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
