USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetFlow_Interface]    Script Date: 6/29/2019 5:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetFlow_Interface](
	[INTERFACE_ID] [int] NOT NULL,
	[ROUTER_ID] [int] NOT NULL,
	[INTERFACE_INDEX] [int] NOT NULL,
	[SNMP_DESCRIPTION] [varchar](200) NULL,
	[SPEED] [bigint] NOT NULL,
	[LINK_NAME] [varchar](200) NULL,
	[STATE] [int] NOT NULL,
	[NBAR_STATE] [int] NOT NULL,
	[POLL_STATE] [int] NOT NULL,
	[OUT_SPEED] [bigint] NOT NULL,
	[QOS_POLL_STATE] [int] NOT NULL,
	[SAMPLING_RATE] [int] NOT NULL,
	[MEDIA_STATE] [int] NOT NULL,
	[INTERFACE_TYPE] [int] NOT NULL,
	[NBA_STATUS] [int] NOT NULL,
	[SPEED_POLL_STATUS] [int] NOT NULL,
 CONSTRAINT [NetFlow_Interface_PK] PRIMARY KEY CLUSTERED 
(
	[INTERFACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__450417934]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__450417934] ON [dbo].[NetFlow_Interface]
(
	[INTERFACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__707266273]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__707266273] ON [dbo].[NetFlow_Interface]
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetFlow_Interface] ADD  DEFAULT ('1000000') FOR [SPEED]
GO
ALTER TABLE [dbo].[NetFlow_Interface] ADD  DEFAULT ('2') FOR [NBAR_STATE]
GO
ALTER TABLE [dbo].[NetFlow_Interface] ADD  DEFAULT ('1') FOR [POLL_STATE]
GO
ALTER TABLE [dbo].[NetFlow_Interface] ADD  DEFAULT ('1000000') FOR [OUT_SPEED]
GO
ALTER TABLE [dbo].[NetFlow_Interface] ADD  DEFAULT ('1') FOR [QOS_POLL_STATE]
GO
ALTER TABLE [dbo].[NetFlow_Interface] ADD  DEFAULT ('1') FOR [SAMPLING_RATE]
GO
ALTER TABLE [dbo].[NetFlow_Interface] ADD  DEFAULT ('2') FOR [MEDIA_STATE]
GO
ALTER TABLE [dbo].[NetFlow_Interface] ADD  DEFAULT ('0') FOR [INTERFACE_TYPE]
GO
ALTER TABLE [dbo].[NetFlow_Interface] ADD  DEFAULT ('0') FOR [NBA_STATUS]
GO
ALTER TABLE [dbo].[NetFlow_Interface] ADD  DEFAULT ('0') FOR [SPEED_POLL_STATUS]
GO
ALTER TABLE [dbo].[NetFlow_Interface]  WITH CHECK ADD  CONSTRAINT [NetFlow_Interface_FK] FOREIGN KEY([ROUTER_ID])
REFERENCES [dbo].[NetFlow_Router] ([ROUTER_ID])
GO
ALTER TABLE [dbo].[NetFlow_Interface] CHECK CONSTRAINT [NetFlow_Interface_FK]
GO
ALTER TABLE [dbo].[NetFlow_Interface]  WITH CHECK ADD  CONSTRAINT [NetFlow_Interface_FK1] FOREIGN KEY([INTERFACE_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[NetFlow_Interface] CHECK CONSTRAINT [NetFlow_Interface_FK1]
GO
