USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PolicyObject]    Script Date: 6/29/2019 5:50:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyObject](
	[NAME] [varchar](250) NOT NULL,
	[GROUPNAME] [varchar](100) NULL,
	[STATUS] [int] NULL,
	[PERIOD] [int] NULL,
	[POLICYOBJECTCUSTOMIZER] [varchar](50) NULL,
	[HELPURL] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PolicyObject0_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [PolicyObject0_ndx] ON [dbo].[PolicyObject]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
