USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IndexDefinition]    Script Date: 6/29/2019 5:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexDefinition](
	[INDEX_CONS_ID] [bigint] NOT NULL,
	[COLUMN_ID] [bigint] NOT NULL,
 CONSTRAINT [IndexDefinition_PK] PRIMARY KEY CLUSTERED 
(
	[INDEX_CONS_ID] ASC,
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1190230130]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1190230130] ON [dbo].[IndexDefinition]
(
	[INDEX_CONS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1190230131]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1190230131] ON [dbo].[IndexDefinition]
(
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IndexDefinition]  WITH CHECK ADD  CONSTRAINT [IndexDefinition_FK1] FOREIGN KEY([INDEX_CONS_ID])
REFERENCES [dbo].[ConstraintDefinition] ([CONSTRAINT_ID])
GO
ALTER TABLE [dbo].[IndexDefinition] CHECK CONSTRAINT [IndexDefinition_FK1]
GO
ALTER TABLE [dbo].[IndexDefinition]  WITH CHECK ADD  CONSTRAINT [IndexDefinition_FK2] FOREIGN KEY([COLUMN_ID])
REFERENCES [dbo].[ColumnDetails] ([COLUMN_ID])
GO
ALTER TABLE [dbo].[IndexDefinition] CHECK CONSTRAINT [IndexDefinition_FK2]
GO
