USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RuggedComSwitch]    Script Date: 6/29/2019 5:51:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuggedComSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[BOOT_SOFTWARE] [varchar](100) NOT NULL,
	[MAIN_SOFTWARE] [varchar](100) NOT NULL,
 CONSTRAINT [RuggedComSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_626035104]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_626035104] ON [dbo].[RuggedComSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RuggedComSwitch] ADD  DEFAULT ('Not Available') FOR [BOOT_SOFTWARE]
GO
ALTER TABLE [dbo].[RuggedComSwitch] ADD  DEFAULT ('Not Available') FOR [MAIN_SOFTWARE]
GO
ALTER TABLE [dbo].[RuggedComSwitch]  WITH CHECK ADD  CONSTRAINT [RuggedComSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[RuggedComSwitch] CHECK CONSTRAINT [RuggedComSwitch_FK1]
GO
