USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMPollingCriteria]    Script Date: 6/29/2019 5:49:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMPollingCriteria](
	[INSTANCE_ID] [bigint] NOT NULL,
	[QUERYID] [bigint] NOT NULL,
 CONSTRAINT [NCMPollingCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2058285623]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2058285623] ON [dbo].[NCMPollingCriteria]
(
	[INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2058285624]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2058285624] ON [dbo].[NCMPollingCriteria]
(
	[QUERYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMPollingCriteria]  WITH CHECK ADD  CONSTRAINT [NCMPollingCriteria_FK1] FOREIGN KEY([INSTANCE_ID])
REFERENCES [dbo].[Task_Input] ([INSTANCE_ID])
GO
ALTER TABLE [dbo].[NCMPollingCriteria] CHECK CONSTRAINT [NCMPollingCriteria_FK1]
GO
ALTER TABLE [dbo].[NCMPollingCriteria]  WITH CHECK ADD  CONSTRAINT [NCMPollingCriteria_FK2] FOREIGN KEY([QUERYID])
REFERENCES [dbo].[SelectQuery] ([QUERYID])
GO
ALTER TABLE [dbo].[NCMPollingCriteria] CHECK CONSTRAINT [NCMPollingCriteria_FK2]
GO
