USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CFMSummary]    Script Date: 6/29/2019 5:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFMSummary](
	[ID] [bigint] NOT NULL,
	[TOTAL] [int] NOT NULL,
	[YETTOSCAN] [int] NOT NULL,
	[SUCCESS] [int] NOT NULL,
	[FAILED] [int] NOT NULL,
 CONSTRAINT [CFMSummary_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CFMSummary] ADD  DEFAULT ('0') FOR [TOTAL]
GO
ALTER TABLE [dbo].[CFMSummary] ADD  DEFAULT ('0') FOR [YETTOSCAN]
GO
ALTER TABLE [dbo].[CFMSummary] ADD  DEFAULT ('0') FOR [SUCCESS]
GO
ALTER TABLE [dbo].[CFMSummary] ADD  DEFAULT ('0') FOR [FAILED]
GO
