USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Gmap_Locations]    Script Date: 6/29/2019 5:47:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gmap_Locations](
	[ROUTER_ID] [int] NOT NULL,
	[LOCATION] [varchar](255) NOT NULL,
	[XCOORDINATE] [varchar](255) NOT NULL,
	[YCOORDINATE] [varchar](255) NOT NULL,
 CONSTRAINT [Gmap_Locations_PK] PRIMARY KEY CLUSTERED 
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
