USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPMSPMVlan]    Script Date: 6/29/2019 5:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPMSPMVlan](
	[ID] [bigint] NOT NULL,
	[PORTMOID] [bigint] NOT NULL,
	[VLAN] [int] NULL,
 CONSTRAINT [OPMSPMVlan_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1526255916]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1526255916] ON [dbo].[OPMSPMVlan]
(
	[PORTMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPMSPMVlan]  WITH CHECK ADD  CONSTRAINT [OPMSPMVlan_FK1] FOREIGN KEY([PORTMOID])
REFERENCES [dbo].[PHYSICALPORTS] ([PORTMOID])
GO
ALTER TABLE [dbo].[OPMSPMVlan] CHECK CONSTRAINT [OPMSPMVlan_FK1]
GO
