USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCUnityLun]    Script Date: 6/29/2019 5:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCUnityLun](
	[ID] [bigint] NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[LUN_ID] [varchar](100) NULL,
	[LUN_NAME] [varchar](100) NULL,
	[LUN_TYPE] [varchar](100) NULL,
	[STORAGE_POOL] [varchar](100) NULL,
	[CONSISTENCY_GROUP] [varchar](100) NULL,
	[CONFIGURED_CAPACITY] [float] NULL,
	[FREE_CAPACITY] [float] NULL,
	[WWN] [varchar](100) NULL,
	[STATUS] [varchar](100) NULL,
 CONSTRAINT [EMCUnityLun_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_422546392]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_422546392] ON [dbo].[EMCUnityLun]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCUnityLun]  WITH CHECK ADD  CONSTRAINT [EMCUnityLun_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCUnityLun] CHECK CONSTRAINT [EMCUnityLun_FK1]
GO
