USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[APGroupMap]    Script Date: 6/29/2019 5:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APGroupMap](
	[APG_ID] [int] NOT NULL,
	[AP_ID] [int] NOT NULL,
 CONSTRAINT [APGroupMap_PK] PRIMARY KEY CLUSTERED 
(
	[APG_ID] ASC,
	[AP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_152930553]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_152930553] ON [dbo].[APGroupMap]
(
	[AP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2083143224]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2083143224] ON [dbo].[APGroupMap]
(
	[APG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APGroupMap]  WITH CHECK ADD  CONSTRAINT [APGroupMap_FK] FOREIGN KEY([APG_ID])
REFERENCES [dbo].[AccessPointGroupInfo] ([APG_ID])
GO
ALTER TABLE [dbo].[APGroupMap] CHECK CONSTRAINT [APGroupMap_FK]
GO
ALTER TABLE [dbo].[APGroupMap]  WITH CHECK ADD  CONSTRAINT [APGroupMap_FK1] FOREIGN KEY([AP_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[APGroupMap] CHECK CONSTRAINT [APGroupMap_FK1]
GO
