USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetSD3800]    Script Date: 6/29/2019 5:49:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetSD3800](
	[RESOURCEID] [bigint] NOT NULL,
	[NO_OF_MAC] [varchar](150) NOT NULL,
	[START_MAC] [varchar](150) NOT NULL,
 CONSTRAINT [NetSD3800_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1536331392]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1536331392] ON [dbo].[NetSD3800]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetSD3800] ADD  DEFAULT ('Not Available') FOR [NO_OF_MAC]
GO
ALTER TABLE [dbo].[NetSD3800] ADD  DEFAULT ('Not Available') FOR [START_MAC]
GO
ALTER TABLE [dbo].[NetSD3800]  WITH CHECK ADD  CONSTRAINT [NetSD3800_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NetSD3800] CHECK CONSTRAINT [NetSD3800_FK1]
GO
