USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FujitsuRaidCEThermalSensor]    Script Date: 6/29/2019 5:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FujitsuRaidCEThermalSensor](
	[RAID_ID] [bigint] NOT NULL,
	[CE_THERMAL_ID] [varchar](250) NOT NULL,
	[CE_THERMAL_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [FujitsuRaidCEThermalSensor_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[CE_THERMAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_681124650]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_681124650] ON [dbo].[FujitsuRaidCEThermalSensor]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FujitsuRaidCEThermalSensor]  WITH CHECK ADD  CONSTRAINT [FujitsuRaidCEThermalSensor_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[FujitsuRaidCEThermalSensor] CHECK CONSTRAINT [FujitsuRaidCEThermalSensor_FK1]
GO
