USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FujitsuFirewall]    Script Date: 6/29/2019 5:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FujitsuFirewall](
	[RESOURCEID] [bigint] NOT NULL,
	[SECURITY_VER] [varchar](100) NOT NULL,
 CONSTRAINT [FujitsuFirewall_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1245495019]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1245495019] ON [dbo].[FujitsuFirewall]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FujitsuFirewall] ADD  DEFAULT ('Not Available') FOR [SECURITY_VER]
GO
ALTER TABLE [dbo].[FujitsuFirewall]  WITH CHECK ADD  CONSTRAINT [FujitsuFirewall_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[FujitsuFirewall] CHECK CONSTRAINT [FujitsuFirewall_FK1]
GO
