USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorageAggregates]    Script Date: 6/29/2019 5:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageAggregates](
	[AGGREGATE_ID] [bigint] NOT NULL,
	[FILER_ID] [bigint] NOT NULL,
	[AGGREGATE_NAME] [varchar](100) NOT NULL,
	[AGGREGATE_UUID] [varchar](50) NOT NULL,
	[AGGREGATE_TYPE] [varchar](50) NULL,
	[AGGREGATE_RAID_TYPE] [varchar](50) NULL,
	[AGGREGATE_STATUS] [varchar](50) NULL,
	[AGGREGATE_CAPACITY_BYTES] [bigint] NULL,
	[AGGREGATE_USED_BYTES] [bigint] NULL,
	[AGGREGATE_AVAILABLE_BYTES] [bigint] NULL,
	[AGGREGATE_USED_PERC] [int] NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
 CONSTRAINT [StorageAggregates_PK] PRIMARY KEY CLUSTERED 
(
	[AGGREGATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1482490955]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1482490955] ON [dbo].[StorageAggregates]
(
	[FILER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorageAggregates]  WITH CHECK ADD  CONSTRAINT [StorageAggregates_FK] FOREIGN KEY([FILER_ID])
REFERENCES [dbo].[StorageFiler] ([FILER_ID])
GO
ALTER TABLE [dbo].[StorageAggregates] CHECK CONSTRAINT [StorageAggregates_FK]
GO
