USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ReportDefaultLogicalGroup]    Script Date: 6/29/2019 5:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDefaultLogicalGroup](
	[REPORTID] [bigint] NOT NULL,
	[LOGICALGROUPID] [bigint] NULL,
 CONSTRAINT [ReportDefaultLogicalGroup_PK] PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1801563312]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1801563312] ON [dbo].[ReportDefaultLogicalGroup]
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1801563313]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1801563313] ON [dbo].[ReportDefaultLogicalGroup]
(
	[LOGICALGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportDefaultLogicalGroup]  WITH CHECK ADD  CONSTRAINT [ReportDefaultLogicalGroup_FK1] FOREIGN KEY([REPORTID])
REFERENCES [dbo].[ReportWidgetID] ([ID])
GO
ALTER TABLE [dbo].[ReportDefaultLogicalGroup] CHECK CONSTRAINT [ReportDefaultLogicalGroup_FK1]
GO
ALTER TABLE [dbo].[ReportDefaultLogicalGroup]  WITH CHECK ADD  CONSTRAINT [ReportDefaultLogicalGroup_FK2] FOREIGN KEY([LOGICALGROUPID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[ReportDefaultLogicalGroup] CHECK CONSTRAINT [ReportDefaultLogicalGroup_FK2]
GO
