USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DNSNameMap]    Script Date: 6/29/2019 5:47:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DNSNameMap](
	[NODE_ID] [int] NOT NULL,
	[NODE_IP] [varchar](25) NOT NULL,
	[NODE_NAME] [varchar](255) NOT NULL,
 CONSTRAINT [DNSNameMap_PK] PRIMARY KEY CLUSTERED 
(
	[NODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DNSNameMap_UK0] UNIQUE NONCLUSTERED 
(
	[NODE_IP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DNSNameMap_UK1] UNIQUE NONCLUSTERED 
(
	[NODE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DNSNameMap] ADD  DEFAULT ('1') FOR [NODE_ID]
GO
