USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GRAPHDETAILS]    Script Date: 6/29/2019 5:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRAPHDETAILS](
	[GRAPHID] [bigint] NOT NULL,
	[GRAPHNAME] [varchar](250) NOT NULL,
	[PROTOCOLID] [bigint] NOT NULL,
	[DESCRIPTION] [varchar](4000) NOT NULL,
	[YAXISTEXT] [varchar](100) NOT NULL,
	[DISPLAYNAME] [varchar](250) NOT NULL,
	[GRAPHTYPEID] [bigint] NOT NULL,
	[DATATYPE] [int] NOT NULL,
 CONSTRAINT [Graph_PK] PRIMARY KEY CLUSTERED 
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [GraphDetails1_ndx]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [GraphDetails1_ndx] ON [dbo].[GRAPHDETAILS]
(
	[GRAPHNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1946603902]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1946603902] ON [dbo].[GRAPHDETAILS]
(
	[PROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1946603903]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1946603903] ON [dbo].[GRAPHDETAILS]
(
	[GRAPHTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GRAPHDETAILS] ADD  DEFAULT ('1') FOR [DATATYPE]
GO
ALTER TABLE [dbo].[GRAPHDETAILS]  WITH CHECK ADD  CONSTRAINT [GraphDetails_FK1] FOREIGN KEY([GRAPHTYPEID])
REFERENCES [dbo].[GRAPHTYPE] ([GRAPHTYPEID])
GO
ALTER TABLE [dbo].[GRAPHDETAILS] CHECK CONSTRAINT [GraphDetails_FK1]
GO
ALTER TABLE [dbo].[GRAPHDETAILS]  WITH CHECK ADD  CONSTRAINT [GraphDetails_FK2] FOREIGN KEY([PROTOCOLID])
REFERENCES [dbo].[PROTOCOLDETAILS] ([PROTOCOLID])
GO
ALTER TABLE [dbo].[GRAPHDETAILS] CHECK CONSTRAINT [GraphDetails_FK2]
GO
