USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[THRESHOLDTEMPLATE]    Script Date: 6/29/2019 5:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THRESHOLDTEMPLATE](
	[THRESHOLDID] [bigint] NOT NULL,
	[GRAPHID] [bigint] NOT NULL,
	[THRESHOLDNAME] [varchar](100) NOT NULL,
	[THRESHOLDENABLED] [bit] NOT NULL,
	[FAILURETHRESHOLD] [int] NULL,
 CONSTRAINT [ThresholdTempl_PK] PRIMARY KEY CLUSTERED 
(
	[THRESHOLDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_134474330]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_134474330] ON [dbo].[THRESHOLDTEMPLATE]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[THRESHOLDTEMPLATE] ADD  DEFAULT ((0)) FOR [THRESHOLDENABLED]
GO
ALTER TABLE [dbo].[THRESHOLDTEMPLATE]  WITH CHECK ADD  CONSTRAINT [ThresholdTempl_FK1] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[THRESHOLDTEMPLATE] CHECK CONSTRAINT [ThresholdTempl_FK1]
GO
