USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LOGICALGROUPTOSUBGROUP]    Script Date: 6/29/2019 5:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGICALGROUPTOSUBGROUP](
	[MAPID] [bigint] NOT NULL,
	[GROUPID] [bigint] NULL,
	[MOID] [bigint] NULL,
 CONSTRAINT [LOGICALGROUPTOSUBGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[MAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [LOGICALGROUPTOSUBGROUP_UK0] UNIQUE NONCLUSTERED 
(
	[GROUPID] ASC,
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1572586396]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1572586396] ON [dbo].[LOGICALGROUPTOSUBGROUP]
(
	[GROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1572586397]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1572586397] ON [dbo].[LOGICALGROUPTOSUBGROUP]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOGICALGROUPTOSUBGROUP]  WITH CHECK ADD  CONSTRAINT [LOGICALGROUPTOSUBGROUP_FK0] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[LOGICALGROUP] ([GROUPID])
GO
ALTER TABLE [dbo].[LOGICALGROUPTOSUBGROUP] CHECK CONSTRAINT [LOGICALGROUPTOSUBGROUP_FK0]
GO
ALTER TABLE [dbo].[LOGICALGROUPTOSUBGROUP]  WITH CHECK ADD  CONSTRAINT [LOGICALGROUPTOSUBGROUP_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[LOGICALGROUPTOSUBGROUP] CHECK CONSTRAINT [LOGICALGROUPTOSUBGROUP_FK1]
GO
