USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RelationshipMapCoordinates]    Script Date: 6/29/2019 5:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipMapCoordinates](
	[RELATIONSHIPID] [bigint] NOT NULL,
	[MOID] [bigint] NOT NULL,
	[MAPCOORDINATES] [text] NOT NULL,
 CONSTRAINT [RelationshipMapCoordinates_PK] PRIMARY KEY CLUSTERED 
(
	[RELATIONSHIPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [RelationshipMapCoordinates_UK1] UNIQUE NONCLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
