USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataObj_Var_Columns]    Script Date: 6/29/2019 5:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataObj_Var_Columns](
	[DATAOBJ_VAR_COLUMN_ID] [bigint] NOT NULL,
	[DATAOBJ_VAR_TABLE_ID] [bigint] NOT NULL,
	[COLUMN_NAME] [varchar](60) NOT NULL,
 CONSTRAINT [DataObj_Var_Columns_PK] PRIMARY KEY CLUSTERED 
(
	[DATAOBJ_VAR_COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Data_Obj_Var_Columns_UK] UNIQUE NONCLUSTERED 
(
	[DATAOBJ_VAR_TABLE_ID] ASC,
	[COLUMN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1441517636]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1441517636] ON [dbo].[DataObj_Var_Columns]
(
	[DATAOBJ_VAR_TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataObj_Var_Columns] ADD  DEFAULT ('-1') FOR [COLUMN_NAME]
GO
ALTER TABLE [dbo].[DataObj_Var_Columns]  WITH CHECK ADD  CONSTRAINT [Data_Obj_Var_Columns_FK] FOREIGN KEY([DATAOBJ_VAR_TABLE_ID])
REFERENCES [dbo].[DataObj_Var_Tables] ([DATAOBJ_VAR_TABLE_ID])
GO
ALTER TABLE [dbo].[DataObj_Var_Columns] CHECK CONSTRAINT [Data_Obj_Var_Columns_FK]
GO
