USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningDKC]    Script Date: 6/29/2019 5:48:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningDKC](
	[DEVICE_ID] [bigint] NOT NULL,
	[DKC_SERIAL_NO] [int] NOT NULL,
	[NICK_NAME] [varchar](250) NULL,
	[FW_VERSION] [varchar](250) NULL,
	[PRODUCT_NAME] [varchar](250) NULL,
 CONSTRAINT [LightningDKC_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DKC_SERIAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1386656767]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1386656767] ON [dbo].[LightningDKC]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningDKC]  WITH CHECK ADD  CONSTRAINT [LightningDKC_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningDKC] CHECK CONSTRAINT [LightningDKC_FK1]
GO
