USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DEFAULTMAPS]    Script Date: 6/29/2019 5:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEFAULTMAPS](
	[VALUESTRING] [varchar](250) NULL
) ON [PRIMARY]
GO
