USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[QosQueueDetails]    Script Date: 6/29/2019 5:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QosQueueDetails](
	[CLASS_ID] [int] NOT NULL,
	[BANDWIDTH] [int] NOT NULL,
	[BANDWIDTH_UNITS] [varchar](20) NOT NULL,
	[QUEUE_SIZE] [bigint] NOT NULL,
	[QUEUE_UNITS] [varchar](10) NOT NULL,
	[FAIRQUEUE_ENABLED] [bit] NOT NULL,
	[PRIORITY_ENABLED] [bit] NOT NULL,
 CONSTRAINT [QosQueueDetials_PK] PRIMARY KEY CLUSTERED 
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1101528802]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1101528802] ON [dbo].[QosQueueDetails]
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QosQueueDetails]  WITH CHECK ADD  CONSTRAINT [QosQueueDetails_FK] FOREIGN KEY([CLASS_ID])
REFERENCES [dbo].[QosClassDetails] ([CLASS_ID])
GO
ALTER TABLE [dbo].[QosQueueDetails] CHECK CONSTRAINT [QosQueueDetails_FK]
GO
