USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PerfMonitorLog]    Script Date: 6/29/2019 5:50:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfMonitorLog](
	[ID] [bigint] NOT NULL,
	[COLLECTIONTIME] [datetime] NOT NULL,
	[TYPEID] [bigint] NOT NULL,
	[LOGMESSAGE] [varchar](250) NOT NULL,
 CONSTRAINT [PerfMonitorLog_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[COLLECTIONTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__260517568]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__260517568] ON [dbo].[PerfMonitorLog]
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerfMonitorLog]  WITH CHECK ADD  CONSTRAINT [PerfMonitorLog_FK1] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[LogType] ([ID])
GO
ALTER TABLE [dbo].[PerfMonitorLog] CHECK CONSTRAINT [PerfMonitorLog_FK1]
GO
