USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaAccSessionAudit]    Script Date: 6/29/2019 5:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaAccSessionAudit](
	[SESSION_ID] [bigint] NOT NULL,
	[AUDITID] [bigint] NOT NULL,
 CONSTRAINT [AaaAccSessionAudit_PK] PRIMARY KEY CLUSTERED 
(
	[SESSION_ID] ASC,
	[AUDITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2088984462]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2088984462] ON [dbo].[AaaAccSessionAudit]
(
	[AUDITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_71160735]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_71160735] ON [dbo].[AaaAccSessionAudit]
(
	[SESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaAccSessionAudit]  WITH CHECK ADD  CONSTRAINT [AaaAccSessionAudit_FK] FOREIGN KEY([SESSION_ID])
REFERENCES [dbo].[AaaAccSession] ([SESSION_ID])
GO
ALTER TABLE [dbo].[AaaAccSessionAudit] CHECK CONSTRAINT [AaaAccSessionAudit_FK]
GO
ALTER TABLE [dbo].[AaaAccSessionAudit]  WITH CHECK ADD  CONSTRAINT [AaaAccSessionAudit_FK1] FOREIGN KEY([AUDITID])
REFERENCES [dbo].[AuditRecord] ([AUDITID])
GO
ALTER TABLE [dbo].[AaaAccSessionAudit] CHECK CONSTRAINT [AaaAccSessionAudit_FK1]
GO
