USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwFOLDERPROPS]    Script Date: 6/29/2019 5:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwFOLDERPROPS](
	[FOLDER_ID] [bigint] NOT NULL,
	[FOLDER_TYPE] [varchar](50) NOT NULL,
	[STATUS] [varchar](40) NOT NULL,
 CONSTRAINT [VwFOLDERPROPS_PK] PRIMARY KEY CLUSTERED 
(
	[FOLDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__262133010]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__262133010] ON [dbo].[VwFOLDERPROPS]
(
	[FOLDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwFOLDERPROPS]  WITH CHECK ADD  CONSTRAINT [VwFOLDERPROPS_FK1] FOREIGN KEY([FOLDER_ID])
REFERENCES [dbo].[VwENTITYMOMAPPING] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[VwFOLDERPROPS] CHECK CONSTRAINT [VwFOLDERPROPS_FK1]
GO
