USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[BWInterfaces]    Script Date: 6/29/2019 5:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BWInterfaces](
	[ID] [bigint] NOT NULL,
	[IFNAME] [varchar](250) NOT NULL,
	[IFINDEX] [int] NOT NULL,
	[IFSPEED] [bigint] NOT NULL,
	[IF_STATUS] [int] NOT NULL,
	[HOSTID] [bigint] NOT NULL,
	[ISFIRSTTIME] [int] NOT NULL,
	[LAST_POLL_TIME] [bigint] NULL,
	[BAUDRATE_IFSPEED] [varchar](20) NOT NULL,
 CONSTRAINT [BWInterfaces_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_815716444]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_815716444] ON [dbo].[BWInterfaces]
(
	[HOSTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BWInterfaces] ADD  DEFAULT ('2') FOR [IF_STATUS]
GO
ALTER TABLE [dbo].[BWInterfaces] ADD  DEFAULT ('1') FOR [ISFIRSTTIME]
GO
ALTER TABLE [dbo].[BWInterfaces] ADD  DEFAULT ('0 bps') FOR [BAUDRATE_IFSPEED]
GO
ALTER TABLE [dbo].[BWInterfaces]  WITH CHECK ADD  CONSTRAINT [BWInterfaces_FK1] FOREIGN KEY([HOSTID])
REFERENCES [dbo].[BandWidthHost] ([ID])
GO
ALTER TABLE [dbo].[BWInterfaces] CHECK CONSTRAINT [BWInterfaces_FK1]
GO
