USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Default_Task_Conf]    Script Date: 6/29/2019 5:47:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Default_Task_Conf](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[CONSTANT_NAME] [varchar](150) NOT NULL,
	[CONSTANT_VALUE] [varchar](150) NOT NULL,
 CONSTRAINT [Default_Task_Conf_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC,
	[CONSTANT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_940566628]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_940566628] ON [dbo].[Default_Task_Conf]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Default_Task_Conf]  WITH CHECK ADD  CONSTRAINT [Default_Task_Conf_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Task_Conf] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Default_Task_Conf] CHECK CONSTRAINT [Default_Task_Conf_FK]
GO
