USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaOrgContactUser]    Script Date: 6/29/2019 5:45:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaOrgContactUser](
	[ORG_ID] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
 CONSTRAINT [AaaOrgContactUser_PK] PRIMARY KEY CLUSTERED 
(
	[ORG_ID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1383993258]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1383993258] ON [dbo].[AaaOrgContactUser]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1383993259]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1383993259] ON [dbo].[AaaOrgContactUser]
(
	[ORG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaOrgContactUser]  WITH CHECK ADD  CONSTRAINT [AaaOrgContactUser_FK1] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[AaaOrganization] ([ORG_ID])
GO
ALTER TABLE [dbo].[AaaOrgContactUser] CHECK CONSTRAINT [AaaOrgContactUser_FK1]
GO
ALTER TABLE [dbo].[AaaOrgContactUser]  WITH CHECK ADD  CONSTRAINT [AaaOrgContactUser_FK2] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[AaaOrgContactUser] CHECK CONSTRAINT [AaaOrgContactUser_FK2]
GO
