USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UCSFanModule]    Script Date: 6/29/2019 5:52:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCSFanModule](
	[FAN_MODULE_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[ID] [int] NOT NULL,
	[DN] [varchar](50) NOT NULL,
	[VENDOR] [varchar](50) NOT NULL,
	[MODEL] [varchar](100) NOT NULL,
	[OPERSTATE] [varchar](50) NOT NULL,
	[OPERABILITY] [varchar](100) NOT NULL,
	[POWER] [varchar](50) NOT NULL,
	[THERMAL] [varchar](50) NOT NULL,
 CONSTRAINT [UCSFanModule_PK] PRIMARY KEY CLUSTERED 
(
	[FAN_MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
