USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TopConversation10Min_NFA1]    Script Date: 6/29/2019 5:52:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopConversation10Min_NFA1](
	[ID] [bigint] NOT NULL,
	[SRC_ADDR_ID] [varbinary](16) NOT NULL,
	[DST_ADDR_ID] [varbinary](16) NOT NULL,
	[APP_ID] [int] NOT NULL,
	[PORT] [int] NOT NULL,
	[TOS] [int] NOT NULL,
	[OCTETS] [bigint] NOT NULL,
	[ROUTER_ID] [int] NOT NULL,
	[COLLECTION_TIME] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [TopConversation10Min_NFA1_IDX0]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [TopConversation10Min_NFA1_IDX0] ON [dbo].[TopConversation10Min_NFA1]
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
