USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMSInfo]    Script Date: 6/29/2019 5:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSInfo](
	[SMS_ID] [bigint] NOT NULL,
	[GATEWAY_TYPE_ID] [int] NOT NULL,
	[RECIPIENT] [varchar](50) NOT NULL,
	[TEXT] [varchar](4000) NOT NULL,
	[CREATE_TIME] [bigint] NOT NULL,
	[SENT_TIME] [bigint] NOT NULL,
	[STATUS] [int] NOT NULL,
	[RETRIES] [int] NOT NULL,
	[RESPONSE] [varchar](1000) NULL,
 CONSTRAINT [SMSInfo_PK] PRIMARY KEY CLUSTERED 
(
	[SMS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMSInfo] ADD  DEFAULT ('0') FOR [RETRIES]
GO
