USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[live_vpn_year]    Script Date: 6/29/2019 5:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[live_vpn_year](
	[LVYID] [bigint] NOT NULL,
	[TIME] [datetime] NOT NULL,
	[RID] [bigint] NOT NULL,
	[ALLUSERS] [nvarchar](4000) NULL,
	[SRC_IP] [nvarchar](4000) NULL,
	[TOTAL_COUNT] [bigint] NOT NULL,
	[START_TIME] [nvarchar](4000) NULL,
	[TRAN_IP] [nvarchar](4000) NULL,
	[ORI_IP] [nvarchar](4000) NULL,
 CONSTRAINT [live_vpn_year_PK] PRIMARY KEY CLUSTERED 
(
	[TIME] ASC,
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [live_vpn_year_UK0] UNIQUE NONCLUSTERED 
(
	[LVYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
