USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Pattern_DataObj_Vars]    Script Date: 6/29/2019 5:50:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pattern_DataObj_Vars](
	[PATTERN_EXPR_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [bigint] NOT NULL,
	[VARIABLE_NAME] [varchar](100) NOT NULL,
	[TABLE_NAME] [varchar](100) NOT NULL,
	[TABLE_ARRAY_INDEX] [int] NOT NULL,
	[COLUMN_NAME] [varchar](240) NOT NULL,
 CONSTRAINT [Pattern_DataObj_Vars_PK] PRIMARY KEY CLUSTERED 
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__641762374]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__641762374] ON [dbo].[Pattern_DataObj_Vars]
(
	[TEMPLATE_ID] ASC,
	[VARIABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_672034647]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_672034647] ON [dbo].[Pattern_DataObj_Vars]
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pattern_DataObj_Vars] ADD  DEFAULT ('-1') FOR [TABLE_ARRAY_INDEX]
GO
ALTER TABLE [dbo].[Pattern_DataObj_Vars]  WITH CHECK ADD  CONSTRAINT [Pattern_DataObj_Vars_FK] FOREIGN KEY([PATTERN_EXPR_ID])
REFERENCES [dbo].[Pattern_Expressions] ([PATTERN_EXPR_ID])
GO
ALTER TABLE [dbo].[Pattern_DataObj_Vars] CHECK CONSTRAINT [Pattern_DataObj_Vars_FK]
GO
ALTER TABLE [dbo].[Pattern_DataObj_Vars]  WITH CHECK ADD  CONSTRAINT [Pattern_DataObj_Vars_FK1] FOREIGN KEY([TEMPLATE_ID], [VARIABLE_NAME])
REFERENCES [dbo].[Template_Data] ([TEMPLATE_ID], [VARIABLE_NAME])
GO
ALTER TABLE [dbo].[Pattern_DataObj_Vars] CHECK CONSTRAINT [Pattern_DataObj_Vars_FK1]
GO
