USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataRetrievalRecord]    Script Date: 6/29/2019 5:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataRetrievalRecord](
	[DATARETRIEVALID] [bigint] NOT NULL,
	[RECORDID] [varchar](250) NOT NULL,
 CONSTRAINT [DataRetRec_PK] PRIMARY KEY CLUSTERED 
(
	[DATARETRIEVALID] ASC,
	[RECORDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1174678681]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1174678681] ON [dbo].[DataRetrievalRecord]
(
	[RECORDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1174678682]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1174678682] ON [dbo].[DataRetrievalRecord]
(
	[DATARETRIEVALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataRetrievalRecord]  WITH CHECK ADD  CONSTRAINT [DataRetRec_FK1] FOREIGN KEY([DATARETRIEVALID])
REFERENCES [dbo].[DataRetrievalConfiguration] ([DATARETRIEVALID])
GO
ALTER TABLE [dbo].[DataRetrievalRecord] CHECK CONSTRAINT [DataRetRec_FK1]
GO
ALTER TABLE [dbo].[DataRetrievalRecord]  WITH CHECK ADD  CONSTRAINT [DataRetRec_FK2] FOREIGN KEY([RECORDID])
REFERENCES [dbo].[Record] ([RecordID])
GO
ALTER TABLE [dbo].[DataRetrievalRecord] CHECK CONSTRAINT [DataRetRec_FK2]
GO
