USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VResSharingRules]    Script Date: 6/29/2019 5:53:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VResSharingRules](
	[VRESSHARE_RULEID] [bigint] NOT NULL,
	[ENTITY_ID] [bigint] NOT NULL,
	[CPU_RESERVATIONMHZ] [bigint] NULL,
	[CPU_LIMITMHZ] [bigint] NULL,
	[CPU_SHARE_LEVEL] [int] NULL,
	[CPU_SHARE_VALUE] [int] NULL,
	[CPU_RES_EXPANDABLE] [bit] NULL,
	[MEM_RESERVATIONMB] [bigint] NULL,
	[MEM_LIMITMB] [bigint] NULL,
	[MEM_SHARE_LEVEL] [int] NULL,
	[MEM_SHARE_VALUE] [int] NULL,
	[MEM_RES_EXPANDABLE] [bit] NULL,
 CONSTRAINT [VResSharingRules_PK] PRIMARY KEY CLUSTERED 
(
	[VRESSHARE_RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1360864210]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1360864210] ON [dbo].[VResSharingRules]
(
	[ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VResSharingRules]  WITH CHECK ADD  CONSTRAINT [VResSharingRules_FK1] FOREIGN KEY([ENTITY_ID])
REFERENCES [dbo].[VMProperties] ([VM_ID])
GO
ALTER TABLE [dbo].[VResSharingRules] CHECK CONSTRAINT [VResSharingRules_FK1]
GO
