USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TableViewToolToOID]    Script Date: 6/29/2019 5:52:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableViewToolToOID](
	[TOOL_ID] [varchar](50) NOT NULL,
	[OID_ID] [bigint] NOT NULL,
 CONSTRAINT [TableViewToolToOID_PK] PRIMARY KEY CLUSTERED 
(
	[TOOL_ID] ASC,
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1299087950]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1299087950] ON [dbo].[TableViewToolToOID]
(
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__1299087951]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1299087951] ON [dbo].[TableViewToolToOID]
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TableViewToolToOID]  WITH CHECK ADD  CONSTRAINT [TableViewToolToOID_FK1] FOREIGN KEY([TOOL_ID])
REFERENCES [dbo].[Tool] ([TOOL_ID])
GO
ALTER TABLE [dbo].[TableViewToolToOID] CHECK CONSTRAINT [TableViewToolToOID_FK1]
GO
ALTER TABLE [dbo].[TableViewToolToOID]  WITH CHECK ADD  CONSTRAINT [TableViewToolToOID_FK2] FOREIGN KEY([OID_ID])
REFERENCES [dbo].[OID_DATA] ([OID_ID])
GO
ALTER TABLE [dbo].[TableViewToolToOID] CHECK CONSTRAINT [TableViewToolToOID_FK2]
GO
