USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LightningDKU]    Script Date: 6/29/2019 5:48:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightningDKU](
	[DEVICE_ID] [bigint] NOT NULL,
	[DKU_SERIAL_NO] [int] NOT NULL,
	[POWER_SUPPLY] [varchar](250) NULL,
	[FAN] [varchar](250) NULL,
	[ENVIRONMENT] [varchar](250) NULL,
	[DRIVE] [varchar](250) NULL,
 CONSTRAINT [LightningDKU_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DKU_SERIAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1403280145]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1403280145] ON [dbo].[LightningDKU]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LightningDKU]  WITH CHECK ADD  CONSTRAINT [LightningDKU_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LightningDKU] CHECK CONSTRAINT [LightningDKU_FK1]
GO
