USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMCMEmailActionInfo]    Script Date: 6/29/2019 5:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMCMEmailActionInfo](
	[RULE_ID] [bigint] NOT NULL,
	[ACTION_ID] [int] NOT NULL,
	[INPUT_ID] [bigint] NOT NULL,
	[APPEND_DIFF] [bit] NOT NULL,
	[EMAIL_FORMAT] [varchar](15) NOT NULL,
 CONSTRAINT [NCMCMEmailActionInfo_PK] PRIMARY KEY CLUSTERED 
(
	[RULE_ID] ASC,
	[ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1808742132]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1808742132] ON [dbo].[NCMCMEmailActionInfo]
(
	[INPUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1808742133]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1808742133] ON [dbo].[NCMCMEmailActionInfo]
(
	[RULE_ID] ASC,
	[ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMCMEmailActionInfo] ADD  DEFAULT ((1)) FOR [APPEND_DIFF]
GO
ALTER TABLE [dbo].[NCMCMEmailActionInfo] ADD  DEFAULT ('HTML') FOR [EMAIL_FORMAT]
GO
ALTER TABLE [dbo].[NCMCMEmailActionInfo]  WITH CHECK ADD  CONSTRAINT [NCMCMEmailActionInfo_FK1] FOREIGN KEY([RULE_ID], [ACTION_ID])
REFERENCES [dbo].[NCMCMActions] ([RULE_ID], [ACTION_ID])
GO
ALTER TABLE [dbo].[NCMCMEmailActionInfo] CHECK CONSTRAINT [NCMCMEmailActionInfo_FK1]
GO
ALTER TABLE [dbo].[NCMCMEmailActionInfo]  WITH CHECK ADD  CONSTRAINT [NCMCMEmailActionInfo_FK2] FOREIGN KEY([INPUT_ID])
REFERENCES [dbo].[Email_Task_Input] ([INPUT_ID])
GO
ALTER TABLE [dbo].[NCMCMEmailActionInfo] CHECK CONSTRAINT [NCMCMEmailActionInfo_FK2]
GO
