USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FcSwitch]    Script Date: 6/29/2019 5:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FcSwitch](
	[DEVICE_ID] [bigint] NOT NULL,
	[NO_OF_PORTS] [int] NOT NULL,
	[OPER_STATUS] [varchar](250) NOT NULL,
	[ADMIN_STATUS] [varchar](250) NOT NULL,
	[FABRIC_NAME] [varchar](250) NOT NULL,
 CONSTRAINT [FCSWITCH_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_448278782]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_448278782] ON [dbo].[FcSwitch]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FcSwitch]  WITH CHECK ADD  CONSTRAINT [FCSWITCH_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[FcSwitch] CHECK CONSTRAINT [FCSWITCH_FK1]
GO
