USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DevTypeToExdCritMap]    Script Date: 6/29/2019 5:47:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevTypeToExdCritMap](
	[CRIT_ID] [bigint] NOT NULL,
	[VENDOR_TYPE] [nvarchar](50) NOT NULL,
 CONSTRAINT [DevTypeToExdCritMap_PK] PRIMARY KEY CLUSTERED 
(
	[CRIT_ID] ASC,
	[VENDOR_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1315508631]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1315508631] ON [dbo].[DevTypeToExdCritMap]
(
	[CRIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DevTypeToExdCritMap]  WITH CHECK ADD  CONSTRAINT [DevTypeToExdCritMap_FK] FOREIGN KEY([CRIT_ID])
REFERENCES [dbo].[ExcludeRule] ([CRIT_ID])
GO
ALTER TABLE [dbo].[DevTypeToExdCritMap] CHECK CONSTRAINT [DevTypeToExdCritMap_FK]
GO
