USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UserDefaultDashboard]    Script Date: 6/29/2019 5:52:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDefaultDashboard](
	[USERID] [bigint] NOT NULL,
	[DASHBOARDID] [bigint] NOT NULL,
 CONSTRAINT [UserDefaultDashboard_PK] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1676641365]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1676641365] ON [dbo].[UserDefaultDashboard]
(
	[DASHBOARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserDefaultDashboard]  WITH CHECK ADD  CONSTRAINT [UserDefaultDashboard_FK1] FOREIGN KEY([DASHBOARDID])
REFERENCES [dbo].[Dashboard] ([DASHBOARDID])
GO
ALTER TABLE [dbo].[UserDefaultDashboard] CHECK CONSTRAINT [UserDefaultDashboard_FK1]
GO
