USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduledTask_Retry]    Script Date: 6/29/2019 5:51:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduledTask_Retry](
	[SCHEDULE_ID] [bigint] NOT NULL,
	[TASK_ID] [bigint] NOT NULL,
	[RETRY_COUNT] [int] NOT NULL,
	[RETRY_TIME_PERIOD] [bigint] NOT NULL,
	[RETRY_UNIT_OF_TIME] [varchar](50) NOT NULL,
	[RETRY_FACTOR] [int] NOT NULL,
 CONSTRAINT [ScheduledTask_Retry_PK] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC,
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__244126328]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__244126328] ON [dbo].[ScheduledTask_Retry]
(
	[SCHEDULE_ID] ASC,
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduledTask_Retry] ADD  DEFAULT ('0') FOR [RETRY_COUNT]
GO
ALTER TABLE [dbo].[ScheduledTask_Retry] ADD  DEFAULT ('5') FOR [RETRY_TIME_PERIOD]
GO
ALTER TABLE [dbo].[ScheduledTask_Retry] ADD  DEFAULT ('minutes') FOR [RETRY_UNIT_OF_TIME]
GO
ALTER TABLE [dbo].[ScheduledTask_Retry] ADD  DEFAULT ('1') FOR [RETRY_FACTOR]
GO
ALTER TABLE [dbo].[ScheduledTask_Retry]  WITH CHECK ADD  CONSTRAINT [ScheduledTask_Retry_FK1] FOREIGN KEY([SCHEDULE_ID], [TASK_ID])
REFERENCES [dbo].[Scheduled_Task] ([SCHEDULE_ID], [TASK_ID])
GO
ALTER TABLE [dbo].[ScheduledTask_Retry] CHECK CONSTRAINT [ScheduledTask_Retry_FK1]
GO
