USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RuleToObjOneToNMapping]    Script Date: 6/29/2019 5:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleToObjOneToNMapping](
	[RuleToObjMapID] [bigint] NOT NULL,
	[RULEID] [bigint] NOT NULL,
	[RULE_SRC] [nvarchar](1000) NULL,
	[RULE_DST] [nvarchar](1000) NULL,
	[SERVICE] [nvarchar](1000) NULL,
 CONSTRAINT [RuleToObjOneToNMapping_PK] PRIMARY KEY CLUSTERED 
(
	[RuleToObjMapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__685099645]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__685099645] ON [dbo].[RuleToObjOneToNMapping]
(
	[RULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RuleToObjOneToNMapping]  WITH CHECK ADD  CONSTRAINT [RuleToObjOneToNMapping_FK] FOREIGN KEY([RULEID])
REFERENCES [dbo].[RuleDetails] ([RULEID])
GO
ALTER TABLE [dbo].[RuleToObjOneToNMapping] CHECK CONSTRAINT [RuleToObjOneToNMapping_FK]
GO
