USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpV2Settings]    Script Date: 6/29/2019 5:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpV2Settings](
	[ID] [bigint] NOT NULL,
	[SNMP_MAX_REP] [int] NOT NULL,
	[SNMP_NONREP] [int] NOT NULL,
 CONSTRAINT [SnmpV2Settings_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1596338058]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1596338058] ON [dbo].[SnmpV2Settings]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnmpV2Settings]  WITH CHECK ADD  CONSTRAINT [SnmpV2Settings_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[Settings] ([ID])
GO
ALTER TABLE [dbo].[SnmpV2Settings] CHECK CONSTRAINT [SnmpV2Settings_FK1]
GO
