USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCUnityLUNGroup]    Script Date: 6/29/2019 5:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCUnityLUNGroup](
	[ID] [bigint] NOT NULL,
	[DEVICE_ID] [bigint] NOT NULL,
	[GROUP_ID] [varchar](100) NULL,
	[GROUP_NAME] [varchar](100) NULL,
	[GROUP_TYPE] [varchar](100) NULL,
	[TOTAL_CAPACITY] [float] NULL,
	[FREE_CAPACITY] [float] NULL,
	[STATUS] [varchar](100) NULL,
 CONSTRAINT [EMCUnityLUNGroup_PK1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1481943935]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1481943935] ON [dbo].[EMCUnityLUNGroup]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCUnityLUNGroup]  WITH CHECK ADD  CONSTRAINT [EMCUnityLUNGroup_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCUnityLUNGroup] CHECK CONSTRAINT [EMCUnityLUNGroup_FK1]
GO
