USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SPMSubnets]    Script Date: 6/29/2019 5:51:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPMSubnets](
	[SUB_SWITCHID] [bigint] NOT NULL,
	[SUBNETADDRESS] [varchar](50) NOT NULL,
	[SUBNETMASK] [varchar](50) NOT NULL,
 CONSTRAINT [SPMSubnets_PK] PRIMARY KEY CLUSTERED 
(
	[SUB_SWITCHID] ASC,
	[SUBNETADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1376687458]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1376687458] ON [dbo].[SPMSubnets]
(
	[SUB_SWITCHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SPMSubnets]  WITH CHECK ADD  CONSTRAINT [SPMSubnets_FK] FOREIGN KEY([SUB_SWITCHID])
REFERENCES [dbo].[SPMInputConfig] ([CONFIG_ID])
GO
ALTER TABLE [dbo].[SPMSubnets] CHECK CONSTRAINT [SPMSubnets_FK]
GO
