USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VIThreshold]    Script Date: 6/29/2019 5:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIThreshold](
	[ID] [bigint] NOT NULL,
	[THRESHOLDOID] [varchar](50) NOT NULL,
	[MOID] [bigint] NOT NULL,
	[ENTITY] [bigint] NOT NULL,
	[INSTANCE_ID] [bigint] NOT NULL,
	[PERIOD] [int] NULL,
	[TYPE] [varchar](20) NOT NULL,
	[THRESHOLDENABLED] [bit] NULL,
	[PREVIOUSSEVERITY] [int] NULL,
	[FAILURECOUNT] [int] NOT NULL,
 CONSTRAINT [VIThreshold_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VIThreshold] ADD  DEFAULT ('-1') FOR [INSTANCE_ID]
GO
ALTER TABLE [dbo].[VIThreshold] ADD  DEFAULT ('0') FOR [FAILURECOUNT]
GO
