USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ExternalKeys]    Script Date: 6/29/2019 5:47:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalKeys](
	[ID] [bigint] NOT NULL,
	[PRODUCT_MODULE] [varchar](50) NOT NULL,
	[MODULENAME] [varchar](50) NOT NULL,
	[AUTHKEY] [varbinary](max) NOT NULL,
 CONSTRAINT [ExternalKeys_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ExternalKeys_UK0] UNIQUE NONCLUSTERED 
(
	[PRODUCT_MODULE] ASC,
	[MODULENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
