USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NBA_FE]    Script Date: 6/29/2019 5:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_FE](
	[EVID] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[CTGY] [int] NOT NULL,
	[KIND] [int] NOT NULL,
	[STREAM] [int] NOT NULL,
	[PROBLEM] [int] NOT NULL,
	[PROBLEMCLASS] [int] NOT NULL,
	[SEVERITY] [int] NOT NULL,
	[MENROLE] [int] NOT NULL,
	[CONCERNINDEX] [int] NOT NULL,
	[REASONINGS] [int] NOT NULL,
	[STARTON] [datetime] NOT NULL,
	[ENDON] [datetime] NOT NULL,
	[RSCTYPE] [int] NOT NULL,
	[SEGMENT] [int] NOT NULL,
	[HITS] [bigint] NOT NULL,
	[RSCNAME] [varchar](255) NOT NULL,
	[OFFENDERS] [varchar](255) NOT NULL,
	[TRANSITS] [varchar](255) NOT NULL,
	[TARGETS] [varchar](255) NOT NULL,
	[SUMMARY] [text] NULL,
 CONSTRAINT [NBA_FE_PK] PRIMARY KEY CLUSTERED 
(
	[EVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[NBA_FE] ADD  DEFAULT ('1') FOR [STATUS]
GO
ALTER TABLE [dbo].[NBA_FE] ADD  DEFAULT ('-1') FOR [MENROLE]
GO
ALTER TABLE [dbo].[NBA_FE] ADD  DEFAULT ('-1') FOR [CONCERNINDEX]
GO
ALTER TABLE [dbo].[NBA_FE] ADD  DEFAULT ('-1') FOR [REASONINGS]
GO
ALTER TABLE [dbo].[NBA_FE] ADD  DEFAULT ('-1') FOR [SEGMENT]
GO
