USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LinuxPromptDetails]    Script Date: 6/29/2019 5:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinuxPromptDetails](
	[CREDENTIALID] [bigint] NOT NULL,
	[PROMPT] [varchar](10) NULL,
	[LOGINPROMPT] [varchar](10) NULL,
	[PASSWORDPROMPT] [varchar](10) NULL,
	[PROTOCOL] [varchar](20) NULL,
	[PORTNUMBER] [int] NULL,
	[TIMEOUT] [int] NOT NULL,
	[FILENAME] [varchar](100) NULL,
 CONSTRAINT [LinuxPromptDetails_PK] PRIMARY KEY CLUSTERED 
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__788561574]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__788561574] ON [dbo].[LinuxPromptDetails]
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LinuxPromptDetails] ADD  DEFAULT ('10') FOR [TIMEOUT]
GO
ALTER TABLE [dbo].[LinuxPromptDetails]  WITH CHECK ADD  CONSTRAINT [LinuxPromptDetails_FK] FOREIGN KEY([CREDENTIALID])
REFERENCES [dbo].[CredentialManager] ([CREDENTIALID])
GO
ALTER TABLE [dbo].[LinuxPromptDetails] CHECK CONSTRAINT [LinuxPromptDetails_FK]
GO
