USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VDatastoreExtents]    Script Date: 6/29/2019 5:52:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VDatastoreExtents](
	[VDATASTORE_ID] [bigint] NOT NULL,
	[LUN_ID] [bigint] NOT NULL,
	[PARTITION_INDEX] [int] NOT NULL,
 CONSTRAINT [VDatastoreExtents_PK] PRIMARY KEY CLUSTERED 
(
	[VDATASTORE_ID] ASC,
	[LUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__482538795]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__482538795] ON [dbo].[VDatastoreExtents]
(
	[VDATASTORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VDatastoreExtents]  WITH CHECK ADD  CONSTRAINT [VDatastoreExtents_FK1] FOREIGN KEY([VDATASTORE_ID])
REFERENCES [dbo].[VDatastoreProps] ([VDATASTORE_ID])
GO
ALTER TABLE [dbo].[VDatastoreExtents] CHECK CONSTRAINT [VDatastoreExtents_FK1]
GO
