USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoIronport]    Script Date: 6/29/2019 5:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoIronport](
	[RESOURCEID] [bigint] NOT NULL,
	[BIOS] [varchar](100) NOT NULL,
 CONSTRAINT [CiscoIronport_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_245158031]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_245158031] ON [dbo].[CiscoIronport]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoIronport] ADD  DEFAULT ('Not Available') FOR [BIOS]
GO
ALTER TABLE [dbo].[CiscoIronport]  WITH CHECK ADD  CONSTRAINT [CiscoIronport_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CiscoIronport] CHECK CONSTRAINT [CiscoIronport_FK1]
GO
