USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Rules]    Script Date: 6/29/2019 5:51:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rules](
	[RULE_ID] [bigint] NOT NULL,
	[WORKFLOW_TEMPLATE_ID] [bigint] NOT NULL,
	[EVALUATE_SEQ] [bit] NOT NULL,
 CONSTRAINT [Rules_PK] PRIMARY KEY CLUSTERED 
(
	[RULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__70232924]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__70232924] ON [dbo].[Rules]
(
	[WORKFLOW_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_829018413]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_829018413] ON [dbo].[Rules]
(
	[RULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rules] ADD  DEFAULT ((1)) FOR [EVALUATE_SEQ]
GO
ALTER TABLE [dbo].[Rules]  WITH CHECK ADD  CONSTRAINT [Rules_FK] FOREIGN KEY([RULE_ID])
REFERENCES [dbo].[Workflow_Unit] ([WORKFLOW_UNIT_ID])
GO
ALTER TABLE [dbo].[Rules] CHECK CONSTRAINT [Rules_FK]
GO
ALTER TABLE [dbo].[Rules]  WITH CHECK ADD  CONSTRAINT [Rules_FK1] FOREIGN KEY([WORKFLOW_TEMPLATE_ID])
REFERENCES [dbo].[Workflow_Templates] ([WORKFLOW_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Rules] CHECK CONSTRAINT [Rules_FK1]
GO
