USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ADGroupFilter]    Script Date: 6/29/2019 5:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADGroupFilter](
	[FILTERID] [bigint] NOT NULL,
	[AD_ID] [bigint] NOT NULL,
	[TYPEID] [int] NOT NULL,
	[FILTERNAME] [varchar](255) NOT NULL,
	[GROUPUSERPRIVILEGE] [int] NOT NULL,
 CONSTRAINT [ADGroupFilter_PK] PRIMARY KEY CLUSTERED 
(
	[FILTERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__2067484112]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__2067484112] ON [dbo].[ADGroupFilter]
(
	[AD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADGroupFilter] ADD  DEFAULT ('1') FOR [TYPEID]
GO
ALTER TABLE [dbo].[ADGroupFilter] ADD  DEFAULT ('0') FOR [GROUPUSERPRIVILEGE]
GO
ALTER TABLE [dbo].[ADGroupFilter]  WITH CHECK ADD  CONSTRAINT [ADGroupFilter_FK] FOREIGN KEY([AD_ID])
REFERENCES [dbo].[ActiveDirectoryInfo] ([AD_ID])
GO
ALTER TABLE [dbo].[ADGroupFilter] CHECK CONSTRAINT [ADGroupFilter_FK]
GO
