USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPMModule]    Script Date: 6/29/2019 5:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPMModule](
	[MODULEID] [bigint] NOT NULL,
	[GROUPID] [bigint] NOT NULL,
	[MODULENAME] [varchar](250) NOT NULL,
	[DISPLAYNAME] [varchar](250) NULL,
 CONSTRAINT [OPMModule_PK] PRIMARY KEY CLUSTERED 
(
	[MODULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [OPMModule_UK1] UNIQUE NONCLUSTERED 
(
	[MODULENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2085628492]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2085628492] ON [dbo].[OPMModule]
(
	[GROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPMModule]  WITH CHECK ADD  CONSTRAINT [OPMModule_FK] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[AuditGroup] ([GROUPID])
GO
ALTER TABLE [dbo].[OPMModule] CHECK CONSTRAINT [OPMModule_FK]
GO
