USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OpUserADDomain]    Script Date: 6/29/2019 5:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpUserADDomain](
	[NAME] [varchar](100) NOT NULL,
	[DOMAIN_ID] [bigint] NOT NULL,
 CONSTRAINT [OpUserADDomain_PK] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_918234624]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_918234624] ON [dbo].[OpUserADDomain]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_918234625]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_918234625] ON [dbo].[OpUserADDomain]
(
	[DOMAIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OpUserADDomain] ADD  DEFAULT ('1') FOR [DOMAIN_ID]
GO
ALTER TABLE [dbo].[OpUserADDomain]  WITH CHECK ADD  CONSTRAINT [OpUserADDomain_FK1] FOREIGN KEY([NAME])
REFERENCES [dbo].[OpUser] ([NAME])
GO
ALTER TABLE [dbo].[OpUserADDomain] CHECK CONSTRAINT [OpUserADDomain_FK1]
GO
ALTER TABLE [dbo].[OpUserADDomain]  WITH CHECK ADD  CONSTRAINT [OpUserADDomain_FK2] FOREIGN KEY([DOMAIN_ID])
REFERENCES [dbo].[ADDomain] ([DOMAIN_ID])
GO
ALTER TABLE [dbo].[OpUserADDomain] CHECK CONSTRAINT [OpUserADDomain_FK2]
GO
