USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetAppQuotaUtilization]    Script Date: 6/29/2019 5:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetAppQuotaUtilization](
	[NETAPP_ID] [bigint] NOT NULL,
	[QUOTA_ID] [int] NOT NULL,
	[QTREE] [varchar](250) NOT NULL,
	[UGID] [int] NOT NULL,
	[VOLUMENAME] [varchar](250) NOT NULL,
	[QUOTATYPE] [varchar](250) NOT NULL,
	[KBYTESUSED] [int] NOT NULL,
	[KBYTESLIMIT] [int] NOT NULL,
	[FILESUSED] [int] NOT NULL,
	[FILESLIMIT] [int] NOT NULL,
	[QUOTASTATE] [int] NOT NULL,
 CONSTRAINT [NETAPPQUOTAUTILIZATION_PK] PRIMARY KEY CLUSTERED 
(
	[NETAPP_ID] ASC,
	[QUOTA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1636607909]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1636607909] ON [dbo].[NetAppQuotaUtilization]
(
	[NETAPP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetAppQuotaUtilization]  WITH CHECK ADD  CONSTRAINT [NETAPPQUOTAUTILIZATION_FK1] FOREIGN KEY([NETAPP_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[NetAppQuotaUtilization] CHECK CONSTRAINT [NETAPPQUOTAUTILIZATION_FK1]
GO
