USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MikrotikRouter]    Script Date: 6/29/2019 5:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MikrotikRouter](
	[RESOURCEID] [bigint] NOT NULL,
	[CURRENT_FIRMWARE] [varchar](100) NOT NULL,
	[UPGRADE_FIRMWARE] [varchar](100) NOT NULL,
	[BOARD_NAME] [varchar](100) NOT NULL,
	[ARCHITECTURE] [varchar](100) NOT NULL,
 CONSTRAINT [MikrotikRouter_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1787695584]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1787695584] ON [dbo].[MikrotikRouter]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MikrotikRouter] ADD  DEFAULT ('Not Available') FOR [CURRENT_FIRMWARE]
GO
ALTER TABLE [dbo].[MikrotikRouter] ADD  DEFAULT ('Not Available') FOR [UPGRADE_FIRMWARE]
GO
ALTER TABLE [dbo].[MikrotikRouter] ADD  DEFAULT ('Not Available') FOR [BOARD_NAME]
GO
ALTER TABLE [dbo].[MikrotikRouter] ADD  DEFAULT ('Not Available') FOR [ARCHITECTURE]
GO
ALTER TABLE [dbo].[MikrotikRouter]  WITH CHECK ADD  CONSTRAINT [MikrotikRouter_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[MikrotikRouter] CHECK CONSTRAINT [MikrotikRouter_FK1]
GO
