USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DevicePackageToVendor]    Script Date: 6/29/2019 5:47:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevicePackageToVendor](
	[DEVICETYPEID] [bigint] NOT NULL,
	[VENDORID] [bigint] NOT NULL,
 CONSTRAINT [DevicePackageToVendor_PK1] PRIMARY KEY CLUSTERED 
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_554953344]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_554953344] ON [dbo].[DevicePackageToVendor]
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_554953345]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_554953345] ON [dbo].[DevicePackageToVendor]
(
	[VENDORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DevicePackageToVendor]  WITH CHECK ADD  CONSTRAINT [DevicePackageToVendor_FK1] FOREIGN KEY([DEVICETYPEID])
REFERENCES [dbo].[DevicePackage] ([DEVICETYPEID])
GO
ALTER TABLE [dbo].[DevicePackageToVendor] CHECK CONSTRAINT [DevicePackageToVendor_FK1]
GO
ALTER TABLE [dbo].[DevicePackageToVendor]  WITH CHECK ADD  CONSTRAINT [DevicePackageToVendor_FK2] FOREIGN KEY([VENDORID])
REFERENCES [dbo].[VENDORDETAILS] ([VENDORID])
GO
ALTER TABLE [dbo].[DevicePackageToVendor] CHECK CONSTRAINT [DevicePackageToVendor_FK2]
GO
