USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SANStorageVolume]    Script Date: 6/29/2019 5:51:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANStorageVolume](
	[DEVICE_ID] [bigint] NOT NULL,
	[VOLUME_MO_ID] [bigint] NOT NULL,
	[VOLUME_NAME] [varchar](250) NOT NULL,
	[ACCESS_LIST] [varchar](250) NULL,
	[VOLUME_SPACE] [varchar](250) NULL,
	[VOLUME_STATUS] [varchar](250) NULL,
	[VOLUME_STORAGEPOOLID] [varchar](250) NULL,
 CONSTRAINT [SANStorageVolume_PK] PRIMARY KEY CLUSTERED 
(
	[VOLUME_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1860567650]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1860567650] ON [dbo].[SANStorageVolume]
(
	[VOLUME_MO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SANStorageVolume]  WITH CHECK ADD  CONSTRAINT [SANStorageVolume_FK1] FOREIGN KEY([VOLUME_MO_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SANStorageVolume] CHECK CONSTRAINT [SANStorageVolume_FK1]
GO
