USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMPersonalityCmdRegex]    Script Date: 6/29/2019 5:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMPersonalityCmdRegex](
	[PERSONALITYID] [bigint] NOT NULL,
	[COMMAND_ID] [bigint] NOT NULL,
 CONSTRAINT [NCMPersonalityCmdRegex_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYID] ASC,
	[COMMAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2036091184]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2036091184] ON [dbo].[NCMPersonalityCmdRegex]
(
	[PERSONALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2036091185]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2036091185] ON [dbo].[NCMPersonalityCmdRegex]
(
	[COMMAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMPersonalityCmdRegex]  WITH CHECK ADD  CONSTRAINT [NCMPersonalityCmdRegex_FK1] FOREIGN KEY([PERSONALITYID])
REFERENCES [dbo].[NCMPersonality] ([PERSONALITYID])
GO
ALTER TABLE [dbo].[NCMPersonalityCmdRegex] CHECK CONSTRAINT [NCMPersonalityCmdRegex_FK1]
GO
ALTER TABLE [dbo].[NCMPersonalityCmdRegex]  WITH CHECK ADD  CONSTRAINT [NCMPersonalityCmdRegex_FK2] FOREIGN KEY([COMMAND_ID])
REFERENCES [dbo].[NCMCommandRegex] ([COMMAND_ID])
GO
ALTER TABLE [dbo].[NCMPersonalityCmdRegex] CHECK CONSTRAINT [NCMPersonalityCmdRegex_FK2]
GO
