USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CiscoASRRouter]    Script Date: 6/29/2019 5:46:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiscoASRRouter](
	[RESOURCEID] [bigint] NOT NULL,
	[WANPHY] [varchar](150) NOT NULL,
	[TENGIGE] [varchar](150) NOT NULL,
	[DWDM] [varchar](150) NOT NULL,
 CONSTRAINT [CiscoASRRouter_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__121710755]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__121710755] ON [dbo].[CiscoASRRouter]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CiscoASRRouter] ADD  DEFAULT ('Not Available') FOR [WANPHY]
GO
ALTER TABLE [dbo].[CiscoASRRouter] ADD  DEFAULT ('Not Available') FOR [TENGIGE]
GO
ALTER TABLE [dbo].[CiscoASRRouter] ADD  DEFAULT ('Not Available') FOR [DWDM]
GO
ALTER TABLE [dbo].[CiscoASRRouter]  WITH CHECK ADD  CONSTRAINT [CiscoASRRouter_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[CiscoASRRouter] CHECK CONSTRAINT [CiscoASRRouter_FK1]
GO
