USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DominantTableConfig]    Script Date: 6/29/2019 5:47:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DominantTableConfig](
	[DOMINANTTABLEID] [bigint] NOT NULL,
	[ISINDEXED] [bit] NOT NULL,
	[NONINDEXLIMIT] [int] NOT NULL,
 CONSTRAINT [DominantTableConfig_PK] PRIMARY KEY CLUSTERED 
(
	[DOMINANTTABLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1087813228]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1087813228] ON [dbo].[DominantTableConfig]
(
	[DOMINANTTABLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DominantTableConfig] ADD  DEFAULT ((0)) FOR [ISINDEXED]
GO
ALTER TABLE [dbo].[DominantTableConfig] ADD  DEFAULT ('10') FOR [NONINDEXLIMIT]
GO
ALTER TABLE [dbo].[DominantTableConfig]  WITH CHECK ADD  CONSTRAINT [DominantTableConfig_FK] FOREIGN KEY([DOMINANTTABLEID])
REFERENCES [dbo].[TableDetails] ([TABLE_ID])
GO
ALTER TABLE [dbo].[DominantTableConfig] CHECK CONSTRAINT [DominantTableConfig_FK]
GO
