USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WMIClass]    Script Date: 6/29/2019 5:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WMIClass](
	[CLASSID] [int] NOT NULL,
	[NAMESPACE] [varchar](250) NULL,
	[CLASSNAME] [varchar](250) NOT NULL,
 CONSTRAINT [WMIClass_PK1] PRIMARY KEY CLUSTERED 
(
	[CLASSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WMIClass] ADD  DEFAULT ('ROOT\CIMV2') FOR [NAMESPACE]
GO
