USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DashboardProperties]    Script Date: 6/29/2019 5:46:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DashboardProperties](
	[DASH_PROP_ID] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[DASHBOARDID] [bigint] NOT NULL,
	[NO_OF_COLUMNS] [int] NOT NULL,
 CONSTRAINT [DashboardProperties_PK] PRIMARY KEY CLUSTERED 
(
	[DASH_PROP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1471121771]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1471121771] ON [dbo].[DashboardProperties]
(
	[DASHBOARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1471121772]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1471121772] ON [dbo].[DashboardProperties]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DashboardProperties]  WITH CHECK ADD  CONSTRAINT [DashboardProperties_FK1] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[AaaUser] ([USER_ID])
GO
ALTER TABLE [dbo].[DashboardProperties] CHECK CONSTRAINT [DashboardProperties_FK1]
GO
ALTER TABLE [dbo].[DashboardProperties]  WITH CHECK ADD  CONSTRAINT [DashboardProperties_FK2] FOREIGN KEY([DASHBOARDID])
REFERENCES [dbo].[Dashboard] ([DASHBOARDID])
GO
ALTER TABLE [dbo].[DashboardProperties] CHECK CONSTRAINT [DashboardProperties_FK2]
GO
