USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GroupRouterMap]    Script Date: 6/29/2019 5:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupRouterMap](
	[GROUP_ID] [int] NOT NULL,
	[ROUTER_ID] [int] NOT NULL,
 CONSTRAINT [GroupRouterMap_PK] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC,
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__254312703]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__254312703] ON [dbo].[GroupRouterMap]
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1238722352]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1238722352] ON [dbo].[GroupRouterMap]
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GroupRouterMap]  WITH CHECK ADD  CONSTRAINT [GroupRouterMap_FK] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GroupInfo] ([GROUP_ID])
GO
ALTER TABLE [dbo].[GroupRouterMap] CHECK CONSTRAINT [GroupRouterMap_FK]
GO
ALTER TABLE [dbo].[GroupRouterMap]  WITH CHECK ADD  CONSTRAINT [GroupRouterMap_FK1] FOREIGN KEY([ROUTER_ID])
REFERENCES [dbo].[NetFlow_Router] ([ROUTER_ID])
GO
ALTER TABLE [dbo].[GroupRouterMap] CHECK CONSTRAINT [GroupRouterMap_FK1]
GO
