USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetFlow_AS]    Script Date: 6/29/2019 5:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetFlow_AS](
	[AS_ID] [int] NOT NULL,
	[ROUTER_ID] [int] NOT NULL,
	[AS_NUMBER] [int] NOT NULL,
	[DATASPACE] [varchar](32) NULL,
 CONSTRAINT [NetFlow_AS_PK] PRIMARY KEY CLUSTERED 
(
	[AS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__709271309]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__709271309] ON [dbo].[NetFlow_AS]
(
	[AS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__854163714]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__854163714] ON [dbo].[NetFlow_AS]
(
	[ROUTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetFlow_AS]  WITH CHECK ADD  CONSTRAINT [NetFlow_AS_FK] FOREIGN KEY([ROUTER_ID])
REFERENCES [dbo].[NetFlow_Router] ([ROUTER_ID])
GO
ALTER TABLE [dbo].[NetFlow_AS] CHECK CONSTRAINT [NetFlow_AS_FK]
GO
ALTER TABLE [dbo].[NetFlow_AS]  WITH CHECK ADD  CONSTRAINT [NetFlow_AS_FK1] FOREIGN KEY([AS_ID])
REFERENCES [dbo].[IDGen] ([UNQ_ID])
GO
ALTER TABLE [dbo].[NetFlow_AS] CHECK CONSTRAINT [NetFlow_AS_FK1]
GO
