USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[USMTABLE]    Script Date: 6/29/2019 5:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USMTABLE](
	[DBKEY] [varchar](116) NOT NULL,
	[HOST] [varchar](50) NULL,
	[PORT] [varchar](5) NULL,
	[ENGINENAME] [varchar](50) NULL,
	[ENGINEID] [varchar](255) NULL,
	[USERNAME] [varchar](50) NULL,
	[SECURITYLEVEL] [varchar](5) NULL,
	[SECURITYNAME] [varchar](50) NULL,
	[AUTHPROTOCOL] [varchar](10) NULL,
	[AUTHPASSWORD] [varchar](255) NULL,
	[AUTHKEY] [varchar](255) NULL,
	[PRIVPROTOCOL] [varchar](10) NULL,
	[PRIVPASSWORD] [varchar](255) NULL,
	[PRIVKEY] [varchar](255) NULL,
	[ENGINETIME] [varchar](10) NULL,
	[ENGINEBOOTS] [varchar](10) NULL,
	[LATESTRCVDENGTIME] [varchar](10) NULL,
	[USMLOCALTIME] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[DBKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
