USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DellSwitch]    Script Date: 6/29/2019 5:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DellSwitch](
	[RESOURCEID] [bigint] NOT NULL,
	[BOOT_VERSION] [varchar](20) NOT NULL,
	[HARDWARE_VERSION] [varchar](20) NOT NULL,
 CONSTRAINT [DellSwitch_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1976867518]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1976867518] ON [dbo].[DellSwitch]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DellSwitch] ADD  DEFAULT ('Not Available') FOR [BOOT_VERSION]
GO
ALTER TABLE [dbo].[DellSwitch] ADD  DEFAULT ('Not Available') FOR [HARDWARE_VERSION]
GO
ALTER TABLE [dbo].[DellSwitch]  WITH CHECK ADD  CONSTRAINT [DellSwitch_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[DellSwitch] CHECK CONSTRAINT [DellSwitch_FK1]
GO
