USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SVCBackendController]    Script Date: 6/29/2019 5:52:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVCBackendController](
	[DEVICE_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[OPERATIONALSTATUS] [varchar](250) NOT NULL,
	[VENDOR] [varchar](250) NOT NULL,
	[WWNN] [varchar](250) NOT NULL,
	[VOLUME_LINKS] [varchar](250) NOT NULL,
 CONSTRAINT [SVCBackendController_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1672533443]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1672533443] ON [dbo].[SVCBackendController]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SVCBackendController]  WITH CHECK ADD  CONSTRAINT [SVCBackendController_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SVCBackendController] CHECK CONSTRAINT [SVCBackendController_FK1]
GO
