USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[JespaConfiguration]    Script Date: 6/29/2019 5:48:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JespaConfiguration](
	[JESPACONFIGID] [bigint] NOT NULL,
	[JESPACONFIG_KEY] [varchar](100) NOT NULL,
	[JESPACONFIG_VALUE] [varchar](100) NULL,
 CONSTRAINT [JespaConfiguration_PK] PRIMARY KEY CLUSTERED 
(
	[JESPACONFIGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [JespaConfiguration_UK1] UNIQUE NONCLUSTERED 
(
	[JESPACONFIG_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
