USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Quantifier]    Script Date: 6/29/2019 5:50:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quantifier](
	[PARENT_EXPR_ID] [bigint] NOT NULL,
 CONSTRAINT [Quantifier_PK] PRIMARY KEY CLUSTERED 
(
	[PARENT_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__186210226]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__186210226] ON [dbo].[Quantifier]
(
	[PARENT_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Quantifier]  WITH CHECK ADD  CONSTRAINT [Quantifier_FK] FOREIGN KEY([PARENT_EXPR_ID])
REFERENCES [dbo].[Parent_Class_Expr] ([PARENT_EXPR_ID])
GO
ALTER TABLE [dbo].[Quantifier] CHECK CONSTRAINT [Quantifier_FK]
GO
