USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ClariionRaidGroup]    Script Date: 6/29/2019 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClariionRaidGroup](
	[RAID_ID] [bigint] NOT NULL,
	[RAID_GROUP_NAME] [varchar](250) NOT NULL,
	[DRIVE_TYPE] [varchar](250) NOT NULL,
	[LOGICAL_CAPACITY] [varchar](250) NOT NULL,
	[FREE_CAPACITY] [varchar](250) NOT NULL,
	[MAX_NO_OF_LUNS] [varchar](250) NOT NULL,
	[MAX_NO_OF_DISKS] [varchar](250) NOT NULL,
	[LUN_EXPANSION_ENABLED] [varchar](250) NOT NULL,
 CONSTRAINT [CLARIIONRAIDGROUP_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[RAID_GROUP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_519437865]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_519437865] ON [dbo].[ClariionRaidGroup]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClariionRaidGroup]  WITH CHECK ADD  CONSTRAINT [CLARIIONRAIDGROUP_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[ClariionRaidGroup] CHECK CONSTRAINT [CLARIIONRAIDGROUP_FK1]
GO
