USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DNSScanResult]    Script Date: 6/29/2019 5:47:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DNSScanResult](
	[IPADDRESS] [varchar](15) NOT NULL,
	[DNSNAME] [varchar](150) NULL,
	[DNSIP] [varchar](20) NULL,
	[LOOKUPTIME] [varchar](50) NULL,
	[RESPONSE_STATUS] [int] NOT NULL,
	[SYSTEMSTATUS] [varchar](150) NULL,
	[DNSSTATUS] [varchar](150) NULL,
	[IPADDRINLONG] [bigint] NOT NULL,
 CONSTRAINT [DNSScanResult_PK] PRIMARY KEY CLUSTERED 
(
	[IPADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DNSScanResult] ADD  DEFAULT ('NOT YET SCANNED') FOR [DNSNAME]
GO
ALTER TABLE [dbo].[DNSScanResult] ADD  DEFAULT ('3') FOR [RESPONSE_STATUS]
GO
ALTER TABLE [dbo].[DNSScanResult] ADD  DEFAULT ('NOT YET SCANNED') FOR [SYSTEMSTATUS]
GO
ALTER TABLE [dbo].[DNSScanResult] ADD  DEFAULT ('NOT YET SCANNED') FOR [DNSSTATUS]
GO
