USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IpCtgyNetwork]    Script Date: 6/29/2019 5:48:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpCtgyNetwork](
	[ID] [int] NOT NULL,
	[CID] [int] NOT NULL,
	[NETWORK] [bigint] NOT NULL,
	[NETMASK] [bigint] NOT NULL,
	[FLAG] [int] NOT NULL,
 CONSTRAINT [IpCtgyNetwork_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1511778528]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1511778528] ON [dbo].[IpCtgyNetwork]
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IpCtgyNetwork] ADD  DEFAULT ('0') FOR [FLAG]
GO
ALTER TABLE [dbo].[IpCtgyNetwork]  WITH CHECK ADD  CONSTRAINT [IpCtgyNetwork_FK] FOREIGN KEY([CID])
REFERENCES [dbo].[IpCtgy] ([CID])
GO
ALTER TABLE [dbo].[IpCtgyNetwork] CHECK CONSTRAINT [IpCtgyNetwork_FK]
GO
