USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[LsiComponentHealthInfo]    Script Date: 6/29/2019 5:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LsiComponentHealthInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[ENCLOSURE_TRAY_NAME] [varchar](110) NOT NULL,
	[COMPONENT_NAME] [varchar](110) NOT NULL,
	[SUB_COMPONENT_NAME] [varchar](110) NOT NULL,
	[STATUS] [varchar](250) NULL,
	[DETAILS] [varchar](250) NULL,
 CONSTRAINT [LSI_COMP_HEALTH_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[ENCLOSURE_TRAY_NAME] ASC,
	[COMPONENT_NAME] ASC,
	[SUB_COMPONENT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1882562620]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1882562620] ON [dbo].[LsiComponentHealthInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LsiComponentHealthInfo]  WITH CHECK ADD  CONSTRAINT [LSI_COMP_HEALTH_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[LsiComponentHealthInfo] CHECK CONSTRAINT [LSI_COMP_HEALTH_FK1]
GO
