USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduleReports]    Script Date: 6/29/2019 5:51:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleReports](
	[SCHEDULEID] [bigint] NOT NULL,
	[SCHEDULENAME] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
	[SCHEDULESTATUS] [varchar](250) NOT NULL,
	[TIMETOSCHEDULE] [varchar](50) NOT NULL,
	[TYPEID] [bigint] NOT NULL,
	[SUBJECT] [varchar](4000) NULL,
	[MESSAGE] [varchar](4000) NULL,
 CONSTRAINT [ScheduleReports_PK1] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ScheduleReports_UK0]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [ScheduleReports_UK0] ON [dbo].[ScheduleReports]
(
	[SCHEDULENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
