USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HP3PARMagazine]    Script Date: 6/29/2019 5:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HP3PARMagazine](
	[RAID_ID] [bigint] NOT NULL,
	[CAGE_ID] [varchar](150) NOT NULL,
	[MAGAZINE_ID] [varchar](150) NOT NULL,
	[MAGAZINE_NAME] [varchar](250) NOT NULL,
	[MAGAZINE_MANUFACTURER] [varchar](250) NOT NULL,
	[MAGAZINE_MODEL] [varchar](250) NOT NULL,
	[MAGAZINE_SERIAL_NUMBER] [varchar](250) NOT NULL,
	[MAGAZINE_POSITION] [varchar](250) NOT NULL,
	[MAGAZINE_CAGE_TYPE] [varchar](250) NOT NULL,
	[STATE_ON_LOOP_A] [varchar](250) NOT NULL,
	[STATE_ON_LOOP_B] [varchar](250) NOT NULL,
	[SYSTEM_LED] [varchar](250) NOT NULL,
	[HOTPLUG_LED] [varchar](250) NOT NULL,
	[MAGAZINE_STATE] [varchar](250) NOT NULL,
 CONSTRAINT [HP3PARMagazine_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[CAGE_ID] ASC,
	[MAGAZINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1774517367]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1774517367] ON [dbo].[HP3PARMagazine]
(
	[RAID_ID] ASC,
	[CAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HP3PARMagazine]  WITH CHECK ADD  CONSTRAINT [HP3PARMagazine_FK1] FOREIGN KEY([RAID_ID], [CAGE_ID])
REFERENCES [dbo].[HP3PARCage] ([RAID_ID], [CAGE_ID])
GO
ALTER TABLE [dbo].[HP3PARMagazine] CHECK CONSTRAINT [HP3PARMagazine_FK1]
GO
