USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CctvViews]    Script Date: 6/29/2019 5:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CctvViews](
	[CCTVID] [bigint] NOT NULL,
	[DASHBOARDID] [bigint] NOT NULL,
 CONSTRAINT [CctvViews_PK1] PRIMARY KEY CLUSTERED 
(
	[CCTVID] ASC,
	[DASHBOARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1841799718]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1841799718] ON [dbo].[CctvViews]
(
	[DASHBOARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1841799719]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1841799719] ON [dbo].[CctvViews]
(
	[CCTVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CctvViews]  WITH CHECK ADD  CONSTRAINT [CctvViews_FK1] FOREIGN KEY([CCTVID])
REFERENCES [dbo].[Cctv] ([ID])
GO
ALTER TABLE [dbo].[CctvViews] CHECK CONSTRAINT [CctvViews_FK1]
GO
ALTER TABLE [dbo].[CctvViews]  WITH CHECK ADD  CONSTRAINT [CctvViews_FK2] FOREIGN KEY([DASHBOARDID])
REFERENCES [dbo].[Dashboard] ([DASHBOARDID])
GO
ALTER TABLE [dbo].[CctvViews] CHECK CONSTRAINT [CctvViews_FK2]
GO
