USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WAASTimeZoneDetails]    Script Date: 6/29/2019 5:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAASTimeZoneDetails](
	[ID] [int] NOT NULL,
	[IP_ADDRESS] [varchar](100) NOT NULL,
	[TIMEZONE] [varchar](100) NOT NULL,
	[DIFF_TIME] [int] NOT NULL,
 CONSTRAINT [WAASTimeZoneDetails_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
