USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourcesProtocol]    Script Date: 6/29/2019 5:49:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourcesProtocol](
	[RESOURCEID] [bigint] NOT NULL,
	[DEVICEPROTOCOLID] [bigint] NOT NULL,
 CONSTRAINT [NCMResourcesProtocol_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMResourcesProtocol_UNQ1] UNIQUE NONCLUSTERED 
(
	[RESOURCEID] ASC,
	[DEVICEPROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_428333650]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_428333650] ON [dbo].[NCMResourcesProtocol]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_428333651]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_428333651] ON [dbo].[NCMResourcesProtocol]
(
	[DEVICEPROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourcesProtocol]  WITH CHECK ADD  CONSTRAINT [NCMResourcesProtocol_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResourcesInfo] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMResourcesProtocol] CHECK CONSTRAINT [NCMResourcesProtocol_FK1]
GO
ALTER TABLE [dbo].[NCMResourcesProtocol]  WITH CHECK ADD  CONSTRAINT [NCMResourcesProtocol_FK2] FOREIGN KEY([DEVICEPROTOCOLID])
REFERENCES [dbo].[NCMProtocolCombination] ([DEVICEPROTOCOLID])
GO
ALTER TABLE [dbo].[NCMResourcesProtocol] CHECK CONSTRAINT [NCMResourcesProtocol_FK2]
GO
