USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TrapNotification]    Script Date: 6/29/2019 5:52:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrapNotification](
	[TRAP_ID] [int] NOT NULL,
	[THRESHOLD_ID] [int] NOT NULL,
	[SERVER_NAME] [varchar](255) NOT NULL,
	[SERVER_PORT] [int] NOT NULL,
	[SERVER_COMM] [varchar](255) NOT NULL,
 CONSTRAINT [TrapNotification_PK] PRIMARY KEY CLUSTERED 
(
	[TRAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1172019828]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1172019828] ON [dbo].[TrapNotification]
(
	[THRESHOLD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TrapNotification]  WITH CHECK ADD  CONSTRAINT [TrapNotification_FK] FOREIGN KEY([THRESHOLD_ID])
REFERENCES [dbo].[AlertThreshold] ([THRESHOLD_ID])
GO
ALTER TABLE [dbo].[TrapNotification] CHECK CONSTRAINT [TrapNotification_FK]
GO
