USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Email_Attachments]    Script Date: 6/29/2019 5:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email_Attachments](
	[TASK_TEMPLATE_ID] [bigint] NOT NULL,
	[ATTACHMENT_ID] [bigint] NOT NULL,
 CONSTRAINT [Email_Attachment_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_TEMPLATE_ID] ASC,
	[ATTACHMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__149535181]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__149535181] ON [dbo].[Email_Attachments]
(
	[ATTACHMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__974655042]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__974655042] ON [dbo].[Email_Attachments]
(
	[TASK_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Email_Attachments]  WITH CHECK ADD  CONSTRAINT [Email_Attachment_FK] FOREIGN KEY([TASK_TEMPLATE_ID])
REFERENCES [dbo].[Email_Task] ([TASK_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Email_Attachments] CHECK CONSTRAINT [Email_Attachment_FK]
GO
ALTER TABLE [dbo].[Email_Attachments]  WITH CHECK ADD  CONSTRAINT [Email_Attachment_FK1] FOREIGN KEY([ATTACHMENT_ID])
REFERENCES [dbo].[Attachment] ([ATTACHMENT_ID])
GO
ALTER TABLE [dbo].[Email_Attachments] CHECK CONSTRAINT [Email_Attachment_FK1]
GO
