USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Pattern_Expressions]    Script Date: 6/29/2019 5:50:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pattern_Expressions](
	[PATTERN_EXPR_ID] [bigint] NOT NULL,
 CONSTRAINT [Pattern_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__626596143]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__626596143] ON [dbo].[Pattern_Expressions]
(
	[PATTERN_EXPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pattern_Expressions]  WITH CHECK ADD  CONSTRAINT [Pattern_Expr_FK1] FOREIGN KEY([PATTERN_EXPR_ID])
REFERENCES [dbo].[Expressions] ([EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Pattern_Expressions] CHECK CONSTRAINT [Pattern_Expr_FK1]
GO
