USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Workflow_Template_Task]    Script Date: 6/29/2019 5:53:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workflow_Template_Task](
	[TASK_ID] [bigint] NOT NULL,
	[TEMPLATE_ID] [bigint] NOT NULL,
 CONSTRAINT [Workflow_Template_Task_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__280221672]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__280221672] ON [dbo].[Workflow_Template_Task]
(
	[TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__280221673]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__280221673] ON [dbo].[Workflow_Template_Task]
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Workflow_Template_Task]  WITH CHECK ADD  CONSTRAINT [Workflow_Template_Task_FK1] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[TaskEngine_Task] ([TASK_ID])
GO
ALTER TABLE [dbo].[Workflow_Template_Task] CHECK CONSTRAINT [Workflow_Template_Task_FK1]
GO
ALTER TABLE [dbo].[Workflow_Template_Task]  WITH CHECK ADD  CONSTRAINT [Workflow_Template_Task_FK2] FOREIGN KEY([TEMPLATE_ID])
REFERENCES [dbo].[Workflow_Templates] ([WORKFLOW_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[Workflow_Template_Task] CHECK CONSTRAINT [Workflow_Template_Task_FK2]
GO
