USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ScheduleSPUpgrade]    Script Date: 6/29/2019 5:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleSPUpgrade](
	[ID] [bigint] NOT NULL,
	[BUILD_NUMBER] [varchar](100) NOT NULL,
	[STATUS] [varchar](100) NULL,
	[VERSION] [varchar](250) NULL,
	[FAILURECOUNT] [int] NOT NULL,
 CONSTRAINT [ScheduleSPUpgrade_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ScheduleSPUpgrade] ADD  DEFAULT ('0') FOR [FAILURECOUNT]
GO
