USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IndexFileDetails]    Script Date: 6/29/2019 5:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexFileDetails](
	[INDEX_TIME] [bigint] NOT NULL,
	[LOG_TIME] [bigint] NOT NULL,
	[FILENAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [IndexFileDetails_PK] PRIMARY KEY CLUSTERED 
(
	[FILENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
