USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FabricToPSU]    Script Date: 6/29/2019 5:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FabricToPSU](
	[FABRIC_ID] [bigint] NOT NULL,
	[PSU_ID] [bigint] NOT NULL,
 CONSTRAINT [FabricToPSU_PK] PRIMARY KEY CLUSTERED 
(
	[FABRIC_ID] ASC,
	[PSU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2108530578]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2108530578] ON [dbo].[FabricToPSU]
(
	[FABRIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_939938527]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_939938527] ON [dbo].[FabricToPSU]
(
	[PSU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FabricToPSU]  WITH CHECK ADD  CONSTRAINT [FabricToPSU_FK] FOREIGN KEY([FABRIC_ID])
REFERENCES [dbo].[FabricInterConnect] ([FABRIC_ID])
GO
ALTER TABLE [dbo].[FabricToPSU] CHECK CONSTRAINT [FabricToPSU_FK]
GO
ALTER TABLE [dbo].[FabricToPSU]  WITH CHECK ADD  CONSTRAINT [FabricToPSU_FK1] FOREIGN KEY([PSU_ID])
REFERENCES [dbo].[UCSPSU] ([PSU_ID])
GO
ALTER TABLE [dbo].[FabricToPSU] CHECK CONSTRAINT [FabricToPSU_FK1]
GO
