USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FlowFilter]    Script Date: 6/29/2019 5:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlowFilter](
	[ID] [int] NOT NULL,
	[FILTER_ID] [int] NOT NULL,
	[INTERFACE_ID] [int] NOT NULL,
 CONSTRAINT [Flowfilter_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__688123586]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__688123586] ON [dbo].[FlowFilter]
(
	[INTERFACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FlowFilter]  WITH CHECK ADD  CONSTRAINT [FlowFilter_FK] FOREIGN KEY([INTERFACE_ID])
REFERENCES [dbo].[NetFlow_Interface] ([INTERFACE_ID])
GO
ALTER TABLE [dbo].[FlowFilter] CHECK CONSTRAINT [FlowFilter_FK]
GO
