USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorEdge6120Raid]    Script Date: 6/29/2019 5:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorEdge6120Raid](
	[RAID_DEVICE_ID] [bigint] NOT NULL,
	[CLUSTER_NAME] [varchar](250) NULL,
	[CLUSTER_CAPTION] [varchar](250) NULL,
	[CLUSTER_STATE] [varchar](250) NULL,
	[OTHER_IDENTITY] [varchar](250) NULL,
	[CONTROLLER_CHASSIS] [int] NULL,
	[ENABLED_STATE] [varchar](250) NULL,
 CONSTRAINT [StorEdge6120Raid_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__30814799]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__30814799] ON [dbo].[StorEdge6120Raid]
(
	[RAID_DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorEdge6120Raid]  WITH CHECK ADD  CONSTRAINT [StorEdge6120Raid_FK1] FOREIGN KEY([RAID_DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[StorEdge6120Raid] CHECK CONSTRAINT [StorEdge6120Raid_FK1]
GO
