USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourcePolicyMap]    Script Date: 6/29/2019 5:49:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourcePolicyMap](
	[RESOURCE_POLICY_ID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[COMPPOLICY_ID] [bigint] NOT NULL,
	[COMPLIANCE_STATUS] [bit] NOT NULL,
	[CRITICAL_COUNT] [int] NOT NULL,
	[MAJOR_COUNT] [int] NOT NULL,
	[WARNING_COUNT] [int] NOT NULL,
	[SUCCESS_COUNT] [int] NOT NULL,
 CONSTRAINT [NCMResourcePolicyMap_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCE_POLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NCMResourcePolicyMap_UK1] UNIQUE NONCLUSTERED 
(
	[RESOURCEID] ASC,
	[COMPPOLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__942148270]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__942148270] ON [dbo].[NCMResourcePolicyMap]
(
	[COMPPOLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__942148271]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__942148271] ON [dbo].[NCMResourcePolicyMap]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourcePolicyMap]  WITH CHECK ADD  CONSTRAINT [NCMResourcePolicyMap_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NetworkElement] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NCMResourcePolicyMap] CHECK CONSTRAINT [NCMResourcePolicyMap_FK1]
GO
ALTER TABLE [dbo].[NCMResourcePolicyMap]  WITH CHECK ADD  CONSTRAINT [NCMResourcePolicyMap_FK2] FOREIGN KEY([COMPPOLICY_ID])
REFERENCES [dbo].[NCMCompliancePolicy] ([COMPPOLICY_ID])
GO
ALTER TABLE [dbo].[NCMResourcePolicyMap] CHECK CONSTRAINT [NCMResourcePolicyMap_FK2]
GO
