USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[WOLTaskResource]    Script Date: 6/29/2019 5:53:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WOLTaskResource](
	[TASK_ID] [bigint] NOT NULL,
	[RESOURCEID] [bigint] NOT NULL,
	[STATUS] [int] NOT NULL,
	[REMARKS] [varchar](100) NULL,
	[LAST_SCAN_TIME] [datetime] NULL,
 CONSTRAINT [WOLTaskResource_PK] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC,
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1431969003]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1431969003] ON [dbo].[WOLTaskResource]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1431969004]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1431969004] ON [dbo].[WOLTaskResource]
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WOLTaskResource] ADD  DEFAULT ('2') FOR [STATUS]
GO
ALTER TABLE [dbo].[WOLTaskResource]  WITH CHECK ADD  CONSTRAINT [WOLTaskResource_FK1] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[GroupTaskName] ([TASK_ID])
GO
ALTER TABLE [dbo].[WOLTaskResource] CHECK CONSTRAINT [WOLTaskResource_FK1]
GO
ALTER TABLE [dbo].[WOLTaskResource]  WITH CHECK ADD  CONSTRAINT [WOLTaskResource_FK2] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[OpUtilsResources] ([RESOURCEID])
GO
ALTER TABLE [dbo].[WOLTaskResource] CHECK CONSTRAINT [WOLTaskResource_FK2]
GO
