USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaOrgDetail]    Script Date: 6/29/2019 5:45:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaOrgDetail](
	[ORG_ID] [bigint] NOT NULL,
	[LEGALNAME] [varchar](100) NULL,
	[ALIAS] [varchar](50) NULL,
	[EMP_COUNT] [bigint] NOT NULL,
 CONSTRAINT [AaaOrgDetail_PK] PRIMARY KEY CLUSTERED 
(
	[ORG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AaaOrgDetail_UK0]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [AaaOrgDetail_UK0] ON [dbo].[AaaOrgDetail]
(
	[LEGALNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1099807824]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1099807824] ON [dbo].[AaaOrgDetail]
(
	[ORG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaOrgDetail] ADD  DEFAULT ('1') FOR [EMP_COUNT]
GO
ALTER TABLE [dbo].[AaaOrgDetail]  WITH CHECK ADD  CONSTRAINT [AaaOrgDetail_FK] FOREIGN KEY([ORG_ID])
REFERENCES [dbo].[AaaOrganization] ([ORG_ID])
GO
ALTER TABLE [dbo].[AaaOrgDetail] CHECK CONSTRAINT [AaaOrgDetail_FK]
GO
