USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPEVADisk]    Script Date: 6/29/2019 5:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPEVADisk](
	[DEVICE_ID] [bigint] NOT NULL,
	[DISK_NAME] [varchar](250) NOT NULL,
	[REQUESTED_USAGE] [varchar](250) NULL,
	[ACTUAL_USAGE] [varchar](250) NULL,
	[DISK_GROUP] [varchar](250) NULL,
	[FORMATTED_CAPACITY] [varchar](250) NULL,
	[OCCUPANCY] [varchar](250) NULL,
	[TYPE] [varchar](250) NULL,
	[MANUFACTURER] [varchar](250) NULL,
	[MODEL_NUMBER] [varchar](250) NULL,
	[FIRMWARE_REVISION] [varchar](250) NULL,
	[COMMENTS] [varchar](250) NULL,
	[ID] [varchar](250) NULL,
	[OPERATIONAL_STATE] [varchar](250) NULL,
	[MIGRATION_STATE] [varchar](250) NULL,
	[FAILURE_PREDICTION] [varchar](250) NULL,
	[MEDIA_ACCESSIBLE] [varchar](250) NULL,
	[LOOP_PAIR] [varchar](250) NULL,
	[WWN] [varchar](250) NULL,
 CONSTRAINT [HPEVARAIDDISK_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DISK_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1690506140]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1690506140] ON [dbo].[HPEVADisk]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPEVADisk]  WITH CHECK ADD  CONSTRAINT [HPEVARAIDDISK_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[HPEVARaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPEVADisk] CHECK CONSTRAINT [HPEVARAIDDISK_FK1]
GO
