USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SPMTreeRelation]    Script Date: 6/29/2019 5:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPMTreeRelation](
	[GID] [bigint] NOT NULL,
	[PID] [bigint] NULL,
	[ISLEAF] [bigint] NOT NULL,
 CONSTRAINT [SPMTreeRelation_PK] PRIMARY KEY CLUSTERED 
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1764324425]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1764324425] ON [dbo].[SPMTreeRelation]
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SPMTreeRelation] ADD  DEFAULT ('0') FOR [PID]
GO
ALTER TABLE [dbo].[SPMTreeRelation] ADD  DEFAULT ('0') FOR [ISLEAF]
GO
ALTER TABLE [dbo].[SPMTreeRelation]  WITH CHECK ADD  CONSTRAINT [SPMTreeRelation_FK1] FOREIGN KEY([GID])
REFERENCES [dbo].[SPMTreeGroups] ([GID])
GO
ALTER TABLE [dbo].[SPMTreeRelation] CHECK CONSTRAINT [SPMTreeRelation_FK1]
GO
