USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FloorPath]    Script Date: 6/29/2019 5:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FloorPath](
	[PATHID] [bigint] NOT NULL,
	[FLOORMOID] [bigint] NOT NULL,
	[PATHPOSITIONX] [int] NOT NULL,
	[PATHPOSITIONZ] [int] NOT NULL,
 CONSTRAINT [FloorPath_PK] PRIMARY KEY CLUSTERED 
(
	[PATHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1169356030]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1169356030] ON [dbo].[FloorPath]
(
	[FLOORMOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FloorPath]  WITH CHECK ADD  CONSTRAINT [FloorPath_FK1] FOREIGN KEY([FLOORMOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[FloorPath] CHECK CONSTRAINT [FloorPath_FK1]
GO
