USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RBTaskAssocVariables]    Script Date: 6/29/2019 5:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RBTaskAssocVariables](
	[ASSOCID] [bigint] NOT NULL,
	[PROPNAME] [varchar](200) NOT NULL,
	[PROPVALUE] [varchar](200) NOT NULL,
 CONSTRAINT [RBTaskAssocVariables_PK1] PRIMARY KEY CLUSTERED 
(
	[ASSOCID] ASC,
	[PROPNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_272163812]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_272163812] ON [dbo].[RBTaskAssocVariables]
(
	[ASSOCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RBTaskAssocVariables]  WITH CHECK ADD  CONSTRAINT [RBTaskAssocVariables_FK1] FOREIGN KEY([ASSOCID])
REFERENCES [dbo].[RunBookTaskAssociation] ([ASSOCID])
GO
ALTER TABLE [dbo].[RBTaskAssocVariables] CHECK CONSTRAINT [RBTaskAssocVariables_FK1]
GO
