USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPMSA2312Port]    Script Date: 6/29/2019 5:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPMSA2312Port](
	[PORT_ID] [bigint] NOT NULL,
	[TYPEOFPORT] [varchar](250) NOT NULL,
	[LINKTECHNOLOGY] [varchar](250) NOT NULL,
	[PERMANENTADDRESS] [varchar](250) NOT NULL,
	[NETWORKADDRESS] [varchar](250) NOT NULL,
	[LOCATION] [varchar](250) NOT NULL,
 CONSTRAINT [HPMSA2312Port_PK] PRIMARY KEY CLUSTERED 
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_259986019]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_259986019] ON [dbo].[HPMSA2312Port]
(
	[PORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPMSA2312Port]  WITH CHECK ADD  CONSTRAINT [HPMSA2312Port_FK1] FOREIGN KEY([PORT_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPMSA2312Port] CHECK CONSTRAINT [HPMSA2312Port_FK1]
GO
