USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetFlow_Properties]    Script Date: 6/29/2019 5:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetFlow_Properties](
	[PROP_ID] [int] NOT NULL,
	[NET_BIND_PORT] [int] NOT NULL,
	[NET_BIND_HOST] [varchar](25) NOT NULL,
	[BUFFER_SIZE] [bigint] NOT NULL,
	[MAX_QUEUE_LENGTH] [int] NOT NULL,
	[STATISTICS_INTERVAL] [int] NOT NULL,
	[COLLECTOR_THREAD] [int] NOT NULL,
	[DEFAULT_SNMP_COMMUNITY] [varchar](25) NOT NULL,
	[DEFAULT_SNMP_PORT] [int] NOT NULL,
	[U_FACTOR] [float] NOT NULL,
	[TOP_COUNT] [int] NOT NULL,
	[RAW_CLEANUP_HOURS] [int] NOT NULL,
	[SNMP_TIMEOUT] [int] NOT NULL,
	[SNMP_POLL_INTERVAL] [int] NOT NULL,
	[DEFAULT_SNMP_WRITE_COMMUNITY] [varchar](255) NULL,
	[WORKING_MODE] [int] NOT NULL,
	[DATASPACE_PREFIX] [int] NOT NULL,
	[AS_DATASPACE_PREFIX] [int] NOT NULL,
	[WLC_DATASPACE_PREFIX] [int] NOT NULL,
 CONSTRAINT [NetFlow_Properties_PK] PRIMARY KEY CLUSTERED 
(
	[PROP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetFlow_Properties] ADD  DEFAULT ('0') FOR [RAW_CLEANUP_HOURS]
GO
ALTER TABLE [dbo].[NetFlow_Properties] ADD  DEFAULT ('10') FOR [SNMP_TIMEOUT]
GO
ALTER TABLE [dbo].[NetFlow_Properties] ADD  DEFAULT ('10') FOR [SNMP_POLL_INTERVAL]
GO
ALTER TABLE [dbo].[NetFlow_Properties] ADD  DEFAULT ('0') FOR [WORKING_MODE]
GO
ALTER TABLE [dbo].[NetFlow_Properties] ADD  DEFAULT ('1') FOR [DATASPACE_PREFIX]
GO
ALTER TABLE [dbo].[NetFlow_Properties] ADD  DEFAULT ('1') FOR [AS_DATASPACE_PREFIX]
GO
ALTER TABLE [dbo].[NetFlow_Properties] ADD  DEFAULT ('1') FOR [WLC_DATASPACE_PREFIX]
GO
