USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FEXtoUCSIOModule]    Script Date: 6/29/2019 5:47:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEXtoUCSIOModule](
	[FEX_ID] [bigint] NOT NULL,
	[IO_MODULE_ID] [bigint] NOT NULL,
 CONSTRAINT [FEXtoUCSIOModule_PK] PRIMARY KEY CLUSTERED 
(
	[FEX_ID] ASC,
	[IO_MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1629463376]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1629463376] ON [dbo].[FEXtoUCSIOModule]
(
	[FEX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1629463377]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1629463377] ON [dbo].[FEXtoUCSIOModule]
(
	[IO_MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FEXtoUCSIOModule]  WITH CHECK ADD  CONSTRAINT [FEXtoUCSIOModule_FK1] FOREIGN KEY([FEX_ID])
REFERENCES [dbo].[FEXDetails] ([FEX_ID])
GO
ALTER TABLE [dbo].[FEXtoUCSIOModule] CHECK CONSTRAINT [FEXtoUCSIOModule_FK1]
GO
ALTER TABLE [dbo].[FEXtoUCSIOModule]  WITH CHECK ADD  CONSTRAINT [FEXtoUCSIOModule_FK2] FOREIGN KEY([IO_MODULE_ID])
REFERENCES [dbo].[UCSIOModule] ([IO_MODULE_ID])
GO
ALTER TABLE [dbo].[FEXtoUCSIOModule] CHECK CONSTRAINT [FEXtoUCSIOModule_FK2]
GO
