USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MsgGroupToPage]    Script Date: 6/29/2019 5:49:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsgGroupToPage](
	[MSG_GROUP_ID] [bigint] NOT NULL,
	[PAGE_ID] [int] NOT NULL,
	[ORDER_OF_DISPLAY] [int] NOT NULL,
	[ROLE_ID] [bigint] NOT NULL,
 CONSTRAINT [MsgGroupToPage_PK] PRIMARY KEY CLUSTERED 
(
	[MSG_GROUP_ID] ASC,
	[PAGE_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1516979253]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1516979253] ON [dbo].[MsgGroupToPage]
(
	[MSG_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1516979254]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1516979254] ON [dbo].[MsgGroupToPage]
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1516979255]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1516979255] ON [dbo].[MsgGroupToPage]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MsgGroupToPage] ADD  DEFAULT ('1') FOR [ORDER_OF_DISPLAY]
GO
ALTER TABLE [dbo].[MsgGroupToPage]  WITH CHECK ADD  CONSTRAINT [MsgGroupToPage_FK1] FOREIGN KEY([MSG_GROUP_ID])
REFERENCES [dbo].[MsgGroup] ([MSG_GROUP_ID])
GO
ALTER TABLE [dbo].[MsgGroupToPage] CHECK CONSTRAINT [MsgGroupToPage_FK1]
GO
ALTER TABLE [dbo].[MsgGroupToPage]  WITH CHECK ADD  CONSTRAINT [MsgGroupToPage_FK2] FOREIGN KEY([PAGE_ID])
REFERENCES [dbo].[UIPages] ([PAGE_ID])
GO
ALTER TABLE [dbo].[MsgGroupToPage] CHECK CONSTRAINT [MsgGroupToPage_FK2]
GO
ALTER TABLE [dbo].[MsgGroupToPage]  WITH CHECK ADD  CONSTRAINT [MsgGroupToPage_FK3] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[AaaRole] ([ROLE_ID])
GO
ALTER TABLE [dbo].[MsgGroupToPage] CHECK CONSTRAINT [MsgGroupToPage_FK3]
GO
