USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OPMToNFAMapping]    Script Date: 6/29/2019 5:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPMToNFAMapping](
	[MOID] [bigint] NOT NULL,
	[ROUTERID] [int] NOT NULL,
 CONSTRAINT [OPMToNFAMapping_PK1] PRIMARY KEY CLUSTERED 
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1020368313]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1020368313] ON [dbo].[OPMToNFAMapping]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1020368314]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1020368314] ON [dbo].[OPMToNFAMapping]
(
	[ROUTERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPMToNFAMapping]  WITH CHECK ADD  CONSTRAINT [OPMToNFAMapping_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[OPMToNFAMapping] CHECK CONSTRAINT [OPMToNFAMapping_FK1]
GO
ALTER TABLE [dbo].[OPMToNFAMapping]  WITH CHECK ADD  CONSTRAINT [OPMToNFAMapping_FK2] FOREIGN KEY([ROUTERID])
REFERENCES [dbo].[NetFlow_Router] ([ROUTER_ID])
GO
ALTER TABLE [dbo].[OPMToNFAMapping] CHECK CONSTRAINT [OPMToNFAMapping_FK2]
GO
