USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[VwRESOURCEPOOLPROPS]    Script Date: 6/29/2019 5:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VwRESOURCEPOOLPROPS](
	[POOL_ID] [bigint] NOT NULL,
	[CPU_LIMIT] [bigint] NULL,
	[CPU_RESERVED] [bigint] NULL,
	[CPU_OVERHEAD_LIMIT] [bigint] NULL,
	[CPU_EXPANDABLE] [bit] NULL,
	[MEM_LIMIT] [bigint] NULL,
	[MEM_RESERVED] [bigint] NULL,
	[MEM_OVERHEAD_LIMIT] [bigint] NULL,
	[MEM_EXPANDABLE] [bit] NULL,
	[NO_OF_SUBPOOLS] [int] NULL,
	[NO_OF_VMS] [int] NULL,
	[STATUS] [varchar](40) NULL,
 CONSTRAINT [VwRESOURCEPOOLPROPS_PK] PRIMARY KEY CLUSTERED 
(
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1896036750]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1896036750] ON [dbo].[VwRESOURCEPOOLPROPS]
(
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VwRESOURCEPOOLPROPS] ADD  DEFAULT ((0)) FOR [CPU_EXPANDABLE]
GO
ALTER TABLE [dbo].[VwRESOURCEPOOLPROPS] ADD  DEFAULT ((0)) FOR [MEM_EXPANDABLE]
GO
ALTER TABLE [dbo].[VwRESOURCEPOOLPROPS] ADD  DEFAULT ('0') FOR [NO_OF_SUBPOOLS]
GO
ALTER TABLE [dbo].[VwRESOURCEPOOLPROPS] ADD  DEFAULT ('0') FOR [NO_OF_VMS]
GO
ALTER TABLE [dbo].[VwRESOURCEPOOLPROPS]  WITH CHECK ADD  CONSTRAINT [VwRESOURCEPOOLPROPS_FK1] FOREIGN KEY([POOL_ID])
REFERENCES [dbo].[VwENTITYMOMAPPING] ([ENTITY_ID])
GO
ALTER TABLE [dbo].[VwRESOURCEPOOLPROPS] CHECK CONSTRAINT [VwRESOURCEPOOLPROPS_FK1]
GO
