USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TftpInteractionSpec]    Script Date: 6/29/2019 5:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TftpInteractionSpec](
	[INTERACTION_ID] [varchar](150) NOT NULL,
	[INTERACTION_VERB] [int] NOT NULL,
	[FUNCTION_NAME] [varchar](32) NOT NULL,
	[RETRIES] [int] NOT NULL,
 CONSTRAINT [TFTPISPEC_PK] PRIMARY KEY CLUSTERED 
(
	[INTERACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_211410382]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_211410382] ON [dbo].[TftpInteractionSpec]
(
	[INTERACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TftpInteractionSpec]  WITH CHECK ADD  CONSTRAINT [TFTPISPEC_FK] FOREIGN KEY([INTERACTION_ID])
REFERENCES [dbo].[InteractionSpec] ([InteractionID])
GO
ALTER TABLE [dbo].[TftpInteractionSpec] CHECK CONSTRAINT [TFTPISPEC_FK]
GO
