USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GroupToOID]    Script Date: 6/29/2019 5:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupToOID](
	[ID] [bigint] NOT NULL,
	[GROUP_ID] [bigint] NOT NULL,
	[GRAPHOID_ID] [bigint] NOT NULL,
 CONSTRAINT [GroupToOID_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1574362754]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1574362754] ON [dbo].[GroupToOID]
(
	[GRAPHOID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1574362755]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1574362755] ON [dbo].[GroupToOID]
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GroupToOID]  WITH CHECK ADD  CONSTRAINT [GroupToOID_FK1] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GraphViewGroup] ([GROUP_ID])
GO
ALTER TABLE [dbo].[GroupToOID] CHECK CONSTRAINT [GroupToOID_FK1]
GO
ALTER TABLE [dbo].[GroupToOID]  WITH CHECK ADD  CONSTRAINT [GroupToOID_FK2] FOREIGN KEY([GRAPHOID_ID])
REFERENCES [dbo].[GraphOID_DATA] ([ID])
GO
ALTER TABLE [dbo].[GroupToOID] CHECK CONSTRAINT [GroupToOID_FK2]
GO
