USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Adic500Partitions]    Script Date: 6/29/2019 5:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adic500Partitions](
	[DEVICE_ID] [bigint] NOT NULL,
	[ID] [int] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[SERIAL_NO] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NOT NULL,
	[ASSIGNED_LUN] [int] NOT NULL,
	[MEDIA_DOMAIN] [varchar](250) NOT NULL,
	[MEDIA_TYPE] [varchar](250) NOT NULL,
	[STATE] [varchar](250) NOT NULL,
	[NUM_SSLOTS] [int] NOT NULL,
	[NUM_IESLOTS] [int] NOT NULL,
	[NUM_DRIVES] [int] NOT NULL,
	[FIRST_SS] [int] NOT NULL,
	[FIRST_IES] [int] NOT NULL,
	[FIRST_DRIVE] [int] NOT NULL,
	[FIRST_MOVER] [int] NOT NULL,
 CONSTRAINT [Adic500Partitions_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1464905309]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1464905309] ON [dbo].[Adic500Partitions]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adic500Partitions]  WITH CHECK ADD  CONSTRAINT [Adic500Partitions_FK] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[TapeLibrary] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[Adic500Partitions] CHECK CONSTRAINT [Adic500Partitions_FK]
GO
