USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MOPropsForReport]    Script Date: 6/29/2019 5:49:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOPropsForReport](
	[ID] [bigint] NOT NULL,
	[TABLENAME] [varchar](50) NOT NULL,
	[FIELDNAME] [varchar](50) NOT NULL,
	[DISPLAYNAME] [varchar](50) NOT NULL,
 CONSTRAINT [MOPropsForReport_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [MOPropsForReport_UK0] UNIQUE NONCLUSTERED 
(
	[TABLENAME] ASC,
	[FIELDNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
