USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TopoLockingConfig]    Script Date: 6/29/2019 5:52:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopoLockingConfig](
	[PERSONALITYNAME] [varchar](100) NOT NULL,
	[LOCKPERSONALITY] [varchar](30) NOT NULL,
 CONSTRAINT [TLC_PK] PRIMARY KEY CLUSTERED 
(
	[PERSONALITYNAME] ASC,
	[LOCKPERSONALITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
