USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ADWMIPolledData]    Script Date: 6/29/2019 5:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADWMIPolledData](
	[COLLECTDATAID] [bigint] NOT NULL,
	[AUTOADD] [bit] NOT NULL,
 CONSTRAINT [ADWMIPolledData_PK1] PRIMARY KEY CLUSTERED 
(
	[COLLECTDATAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_452004357]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_452004357] ON [dbo].[ADWMIPolledData]
(
	[COLLECTDATAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADWMIPolledData] ADD  DEFAULT ((1)) FOR [AUTOADD]
GO
ALTER TABLE [dbo].[ADWMIPolledData]  WITH CHECK ADD  CONSTRAINT [ADWMIPolledData_FK1] FOREIGN KEY([COLLECTDATAID])
REFERENCES [dbo].[WMIPolledData] ([COLLECTDATAID])
GO
ALTER TABLE [dbo].[ADWMIPolledData] CHECK CONSTRAINT [ADWMIPolledData_FK1]
GO
