USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetAppSDKDiskDrive]    Script Date: 6/29/2019 5:49:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetAppSDKDiskDrive](
	[RAID_ID] [bigint] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[ID] [int] NOT NULL,
	[UID] [varchar](500) NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
	[MODEL] [varchar](250) NOT NULL,
	[SERIAL_NO] [varchar](250) NOT NULL,
	[FIRMWARE] [varchar](250) NOT NULL,
	[SHELF] [varchar](250) NOT NULL,
	[BAY] [varchar](250) NOT NULL,
	[PHY_BLOCKS] [varchar](250) NOT NULL,
	[PHY_SPACE] [varchar](250) NOT NULL,
	[ASSOCIATED_POOL] [varchar](250) NOT NULL,
	[USED_BLOCKS] [varchar](250) NOT NULL,
	[USED_SPACE] [varchar](250) NOT NULL,
	[USED_PERCENTAGE] [varchar](250) NOT NULL,
 CONSTRAINT [NetAppSDKDiskDrive_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1064516644]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1064516644] ON [dbo].[NetAppSDKDiskDrive]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetAppSDKDiskDrive]  WITH CHECK ADD  CONSTRAINT [NetAppSDKDiskDrive_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[NetAppSDKDiskDrive] CHECK CONSTRAINT [NetAppSDKDiskDrive_FK1]
GO
