USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMDraft]    Script Date: 6/29/2019 5:49:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMDraft](
	[DRAFT_ID] [int] NOT NULL,
	[DRAFT_NAME] [varchar](100) NOT NULL,
	[OWNER_NAME] [varchar](50) NOT NULL,
	[MODIFIED_TIME] [datetime] NOT NULL,
	[ANNOTATION] [varchar](4000) NOT NULL,
	[FILE_CONTENTS] [varbinary](max) NOT NULL,
 CONSTRAINT [NCMDraft_PK] PRIMARY KEY CLUSTERED 
(
	[DRAFT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
