USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FailOver_Info]    Script Date: 6/29/2019 5:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FailOver_Info](
	[ID] [int] NOT NULL,
	[SERVER_IP] [varchar](250) NOT NULL,
	[HTTP_PORT] [int] NOT NULL,
	[HTTPS_PORT] [int] NOT NULL,
	[MYSQL_PORT] [int] NOT NULL,
	[FAIL_OVER_INFO] [int] NOT NULL,
	[HEARTBIT_COUNT] [int] NOT NULL,
 CONSTRAINT [FailOver_Info_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FailOver_Info] ADD  DEFAULT ('8080') FOR [HTTP_PORT]
GO
ALTER TABLE [dbo].[FailOver_Info] ADD  DEFAULT ('443') FOR [HTTPS_PORT]
GO
ALTER TABLE [dbo].[FailOver_Info] ADD  DEFAULT ('13310') FOR [MYSQL_PORT]
GO
ALTER TABLE [dbo].[FailOver_Info] ADD  DEFAULT ('0') FOR [FAIL_OVER_INFO]
GO
ALTER TABLE [dbo].[FailOver_Info] ADD  DEFAULT ('0') FOR [HEARTBIT_COUNT]
GO
