USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SNAPSHOTDIALGRAPHS]    Script Date: 6/29/2019 5:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SNAPSHOTDIALGRAPHS](
	[DEVICETYPEID] [bigint] NOT NULL,
	[GRAPHID] [bigint] NOT NULL,
	[DIALTYPE] [varchar](100) NOT NULL,
	[UNIT] [varchar](100) NULL,
 CONSTRAINT [SNAPSHOTDIALGRAPHS_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICETYPEID] ASC,
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1497017446]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1497017446] ON [dbo].[SNAPSHOTDIALGRAPHS]
(
	[DEVICETYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1497017447]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1497017447] ON [dbo].[SNAPSHOTDIALGRAPHS]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SNAPSHOTDIALGRAPHS]  WITH CHECK ADD  CONSTRAINT [SnapShotDialGraphs_FK1] FOREIGN KEY([DEVICETYPEID])
REFERENCES [dbo].[DevicePackage] ([DEVICETYPEID])
GO
ALTER TABLE [dbo].[SNAPSHOTDIALGRAPHS] CHECK CONSTRAINT [SnapShotDialGraphs_FK1]
GO
ALTER TABLE [dbo].[SNAPSHOTDIALGRAPHS]  WITH CHECK ADD  CONSTRAINT [SnapShotDialGraphs_FK2] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[SNAPSHOTDIALGRAPHS] CHECK CONSTRAINT [SnapShotDialGraphs_FK2]
GO
