USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 6/29/2019 5:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[ADDRESSID] [bigint] NOT NULL,
 CONSTRAINT [Address_PK] PRIMARY KEY CLUSTERED 
(
	[ADDRESSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
