USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IpslaThresholdLimits]    Script Date: 6/29/2019 5:48:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpslaThresholdLimits](
	[THRESHOLD_ID] [int] NOT NULL,
	[WARNING_LIMIT] [float] NOT NULL,
	[ERROR_LIMIT] [float] NOT NULL,
 CONSTRAINT [IpslaThresholdLimits_PK] PRIMARY KEY CLUSTERED 
(
	[THRESHOLD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1260357250]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1260357250] ON [dbo].[IpslaThresholdLimits]
(
	[THRESHOLD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IpslaThresholdLimits]  WITH CHECK ADD  CONSTRAINT [IpslaThresholdLimits_FK] FOREIGN KEY([THRESHOLD_ID])
REFERENCES [dbo].[IpslaThresholdVariables] ([ID])
GO
ALTER TABLE [dbo].[IpslaThresholdLimits] CHECK CONSTRAINT [IpslaThresholdLimits_FK]
GO
