USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NetAppSDKVolToLun]    Script Date: 6/29/2019 5:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetAppSDKVolToLun](
	[RAID_ID] [bigint] NOT NULL,
	[VOLUME_NAME] [varchar](160) NOT NULL,
	[LUN_PATH] [varchar](160) NOT NULL,
 CONSTRAINT [NetAppSDKVolToLun_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[VOLUME_NAME] ASC,
	[LUN_PATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1234580582]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1234580582] ON [dbo].[NetAppSDKVolToLun]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NetAppSDKVolToLun]  WITH CHECK ADD  CONSTRAINT [NetAppSDKVolToLun_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[NetAppSDKVolToLun] CHECK CONSTRAINT [NetAppSDKVolToLun_FK1]
GO
