USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TreeDefinition]    Script Date: 6/29/2019 5:52:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeDefinition](
	[TREEID] [bigint] NOT NULL,
	[TREETYPE] [varchar](47) NOT NULL,
	[BASETREENODETABLE] [varchar](100) NOT NULL,
	[TREEINFOTABLE] [varchar](100) NOT NULL,
	[SIBLINGORDERED] [bit] NOT NULL,
 CONSTRAINT [TreeDef_PK] PRIMARY KEY CLUSTERED 
(
	[TREEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [TreeDef_UK1] UNIQUE NONCLUSTERED 
(
	[TREETYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
