USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMApprovalRequestAudit]    Script Date: 6/29/2019 5:49:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMApprovalRequestAudit](
	[AUDIT_ID] [bigint] NOT NULL,
	[REQUESTED_USER] [varchar](100) NOT NULL,
	[REQUEST_ANNOTATION] [varchar](250) NOT NULL,
	[APPROVAL_ANNOTATION] [varchar](250) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[APPROVED_TIME] [datetime] NOT NULL,
	[STATUS] [varchar](25) NOT NULL,
	[APPROVED_USER] [varchar](100) NOT NULL,
	[REQUEST_TYPE] [varchar](50) NOT NULL,
	[REQUEST_ID] [bigint] NOT NULL,
	[READ_STATUS] [bit] NOT NULL,
 CONSTRAINT [NCMApprovalRequestAudit_PK1] PRIMARY KEY CLUSTERED 
(
	[AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMApprovalRequestAudit] ADD  DEFAULT ('No Comment Available') FOR [REQUEST_ANNOTATION]
GO
ALTER TABLE [dbo].[NCMApprovalRequestAudit] ADD  DEFAULT ('No Comment Available') FOR [APPROVAL_ANNOTATION]
GO
ALTER TABLE [dbo].[NCMApprovalRequestAudit] ADD  DEFAULT ((0)) FOR [READ_STATUS]
GO
