USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorEdgeDSPDiskDrive]    Script Date: 6/29/2019 5:51:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorEdgeDSPDiskDrive](
	[DEVICE_ID] [bigint] NOT NULL,
	[DSP_DRIVE_ID] [varchar](250) NOT NULL,
	[DSP_DRIVE_NAME] [varchar](250) NULL,
	[ELEMENTNAME] [varchar](250) NULL,
	[CONSUMABLE_SIZE] [varchar](250) NULL,
	[EXTENT_STATUS] [varchar](250) NULL,
	[OPER_STATUS] [varchar](250) NULL,
	[TOTAL_PARTITION] [int] NULL,
	[CURR_PARTITION] [int] NULL,
	[MANUFACTURER] [varchar](250) NULL,
	[MODEL] [varchar](250) NULL,
	[ARRAY_NAME] [varchar](250) NULL,
 CONSTRAINT [StorEdgeDSPDiskDrive_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DSP_DRIVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_976958618]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_976958618] ON [dbo].[StorEdgeDSPDiskDrive]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorEdgeDSPDiskDrive]  WITH CHECK ADD  CONSTRAINT [StorEdgeDSPDiskDrive_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[StorEdgeDSPDiskDrive] CHECK CONSTRAINT [StorEdgeDSPDiskDrive_FK1]
GO
