USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AlarmStateHolder]    Script Date: 6/29/2019 5:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlarmStateHolder](
	[RESOURCEID] [bigint] NOT NULL,
	[ALARMSTATUS] [int] NOT NULL,
	[PROPAGATEDSTATUS] [int] NULL,
	[STATUSUPDATECRITERIA] [varchar](200) NULL,
	[STATUSUPDATETIME] [bigint] NULL,
	[STATUSPROPAGATECRITERIA] [varchar](200) NULL,
 CONSTRAINT [AlarmStateHolder_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1225759737]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1225759737] ON [dbo].[AlarmStateHolder]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1225759738]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1225759738] ON [dbo].[AlarmStateHolder]
(
	[ALARMSTATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1225759739]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1225759739] ON [dbo].[AlarmStateHolder]
(
	[PROPAGATEDSTATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1225759740]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1225759740] ON [dbo].[AlarmStateHolder]
(
	[STATUSUPDATECRITERIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1225759741]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1225759741] ON [dbo].[AlarmStateHolder]
(
	[STATUSPROPAGATECRITERIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlarmStateHolder]  WITH CHECK ADD  CONSTRAINT [AlarmStateHolder_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMDevices] ([RESOURCEID])
GO
ALTER TABLE [dbo].[AlarmStateHolder] CHECK CONSTRAINT [AlarmStateHolder_FK1]
GO
ALTER TABLE [dbo].[AlarmStateHolder]  WITH CHECK ADD  CONSTRAINT [AlarmStateHolder_FK2] FOREIGN KEY([ALARMSTATUS])
REFERENCES [dbo].[SeverityNode] ([SEVERITYVALUE])
GO
ALTER TABLE [dbo].[AlarmStateHolder] CHECK CONSTRAINT [AlarmStateHolder_FK2]
GO
ALTER TABLE [dbo].[AlarmStateHolder]  WITH CHECK ADD  CONSTRAINT [AlarmStateHolder_FK3] FOREIGN KEY([PROPAGATEDSTATUS])
REFERENCES [dbo].[SeverityNode] ([SEVERITYVALUE])
GO
ALTER TABLE [dbo].[AlarmStateHolder] CHECK CONSTRAINT [AlarmStateHolder_FK3]
GO
ALTER TABLE [dbo].[AlarmStateHolder]  WITH CHECK ADD  CONSTRAINT [AlarmStateHolder_FK4] FOREIGN KEY([STATUSUPDATECRITERIA])
REFERENCES [dbo].[StatusUpdateCriteria] ([SUCNAME])
GO
ALTER TABLE [dbo].[AlarmStateHolder] CHECK CONSTRAINT [AlarmStateHolder_FK4]
GO
ALTER TABLE [dbo].[AlarmStateHolder]  WITH CHECK ADD  CONSTRAINT [AlarmStateHolder_FK5] FOREIGN KEY([STATUSPROPAGATECRITERIA])
REFERENCES [dbo].[StatusPropagateCriteria] ([SPCNAME])
GO
ALTER TABLE [dbo].[AlarmStateHolder] CHECK CONSTRAINT [AlarmStateHolder_FK5]
GO
