USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EMCSymmetrixStoragePool]    Script Date: 6/29/2019 5:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMCSymmetrixStoragePool](
	[DEVICE_ID] [bigint] NOT NULL,
	[POOL_ID] [varchar](250) NOT NULL,
	[AUTO_REMOVE] [varchar](250) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
	[STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [EMCSymmetrixStoragePool_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1569970221]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1569970221] ON [dbo].[EMCSymmetrixStoragePool]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMCSymmetrixStoragePool]  WITH CHECK ADD  CONSTRAINT [EMCSymmetrixStoragePool_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[EMCSymmetrixRaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EMCSymmetrixStoragePool] CHECK CONSTRAINT [EMCSymmetrixStoragePool_FK1]
GO
