USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMSVCNode]    Script Date: 6/29/2019 5:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMSVCNode](
	[DEVICE_ID] [bigint] NOT NULL,
	[NODE_ID] [bigint] NULL,
	[ID] [varchar](250) NULL,
	[NAME] [varchar](250) NOT NULL,
	[UPS_SERIAL_NUMBER] [varchar](250) NULL,
	[WWN] [varchar](250) NULL,
	[IO_GROUP_ID] [varchar](250) NULL,
	[IO_GROUP_NAME] [varchar](250) NULL,
	[PARTNER_NODE_ID] [varchar](250) NULL,
	[PARTNER_NODE_NAME] [varchar](250) NULL,
	[CONFIG_NODE] [varchar](250) NULL,
	[UPS_UNIQUE_ID] [varchar](250) NULL,
	[HARDWARE] [varchar](250) NULL,
	[ISCSI_NAME] [varchar](250) NULL,
	[ISCSI_ALIAS] [varchar](250) NULL,
	[FAILOVER_ACTIVE] [varchar](250) NULL,
	[FAILOVER_NAME] [varchar](250) NULL,
	[FAILOVER_ISCSI_NAME] [varchar](250) NULL,
	[FAILOVER_ISCSI_ALIAS] [varchar](250) NULL,
	[PANEL_NAME] [varchar](250) NULL,
	[ENCLOSUER_ID] [varchar](250) NULL,
	[CANISTER_ID] [varchar](250) NULL,
	[ENCLOSURE_SERIAL_NUMBER] [varchar](250) NULL,
	[SERVICE_IP_ADDRESS] [varchar](250) NULL,
	[SERVICE_GATEWAY] [varchar](250) NULL,
	[SERVICE_SUBNET_MASK] [varchar](250) NULL,
 CONSTRAINT [IBMSVCNode_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__605063402]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__605063402] ON [dbo].[IBMSVCNode]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMSVCNode]  WITH CHECK ADD  CONSTRAINT [IBMSVCNode_FK] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMSVCNode] CHECK CONSTRAINT [IBMSVCNode_FK]
GO
