USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Layer2ProtocolCredentials]    Script Date: 6/29/2019 5:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Layer2ProtocolCredentials](
	[CREDENTIALID] [bigint] NOT NULL,
	[MOID] [bigint] NOT NULL,
	[PROTOCOL] [varchar](50) NOT NULL,
 CONSTRAINT [Layer2ProtocolCredentials_PK1] PRIMARY KEY CLUSTERED 
(
	[CREDENTIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1066333136]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1066333136] ON [dbo].[Layer2ProtocolCredentials]
(
	[MOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Layer2ProtocolCredentials]  WITH CHECK ADD  CONSTRAINT [Layer2ProtocolCredentials_FK1] FOREIGN KEY([MOID])
REFERENCES [dbo].[MANAGEDOBJECTID] ([MOID])
GO
ALTER TABLE [dbo].[Layer2ProtocolCredentials] CHECK CONSTRAINT [Layer2ProtocolCredentials_FK1]
GO
