USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpV3]    Script Date: 6/29/2019 5:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpV3](
	[SNMPID] [bigint] NOT NULL,
	[UNAME] [nvarchar](100) NOT NULL,
	[CONTEXT_NAME] [nvarchar](100) NULL,
	[AUTH_PROTOCOL] [int] NOT NULL,
	[AUTH_PASSWORD] [varbinary](max) NULL,
	[ENCRYPT_PROTOCOL] [int] NOT NULL,
	[ENCRYPT_PASSWORD] [varbinary](max) NULL,
 CONSTRAINT [SnmpV3_PK] PRIMARY KEY CLUSTERED 
(
	[SNMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX__18102519]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__18102519] ON [dbo].[SnmpV3]
(
	[SNMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnmpV3] ADD  DEFAULT ('20') FOR [AUTH_PROTOCOL]
GO
ALTER TABLE [dbo].[SnmpV3] ADD  DEFAULT ('51') FOR [ENCRYPT_PROTOCOL]
GO
ALTER TABLE [dbo].[SnmpV3]  WITH CHECK ADD  CONSTRAINT [SnmpV3_FK] FOREIGN KEY([SNMPID])
REFERENCES [dbo].[SnmpInfo] ([RID])
GO
ALTER TABLE [dbo].[SnmpV3] CHECK CONSTRAINT [SnmpV3_FK]
GO
