USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[PKDefinition]    Script Date: 6/29/2019 5:50:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PKDefinition](
	[PK_COLUMN_ID] [bigint] NOT NULL,
	[PK_ID] [bigint] NOT NULL,
	[POSITION] [int] NOT NULL,
 CONSTRAINT [PKDefinition_PK1] PRIMARY KEY CLUSTERED 
(
	[PK_COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1539888635]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1539888635] ON [dbo].[PKDefinition]
(
	[PK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1539888636]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1539888636] ON [dbo].[PKDefinition]
(
	[PK_COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PKDefinition]  WITH CHECK ADD  CONSTRAINT [PKDefinition_FK1] FOREIGN KEY([PK_ID])
REFERENCES [dbo].[ConstraintDefinition] ([CONSTRAINT_ID])
GO
ALTER TABLE [dbo].[PKDefinition] CHECK CONSTRAINT [PKDefinition_FK1]
GO
ALTER TABLE [dbo].[PKDefinition]  WITH CHECK ADD  CONSTRAINT [PKDefinition_FK2] FOREIGN KEY([PK_COLUMN_ID])
REFERENCES [dbo].[ColumnDetails] ([COLUMN_ID])
GO
ALTER TABLE [dbo].[PKDefinition] CHECK CONSTRAINT [PKDefinition_FK2]
GO
