USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[AaaAccBadLoginStatus]    Script Date: 6/29/2019 5:45:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AaaAccBadLoginStatus](
	[ACCOUNT_ID] [bigint] NOT NULL,
	[NUMOF_BADLOGIN] [int] NOT NULL,
	[HOST] [varchar](100) NOT NULL,
	[UPDATEDTIME] [bigint] NOT NULL,
	[HOST_NAME] [varchar](200) NULL,
 CONSTRAINT [AaaAccBadLoginStatus_PK] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[HOST] ASC,
	[UPDATEDTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__420567698]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX__420567698] ON [dbo].[AaaAccBadLoginStatus]
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AaaAccBadLoginStatus] ADD  DEFAULT ('0') FOR [NUMOF_BADLOGIN]
GO
ALTER TABLE [dbo].[AaaAccBadLoginStatus]  WITH CHECK ADD  CONSTRAINT [AaaAccBadLoginStatus_FK] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[AaaAccount] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[AaaAccBadLoginStatus] CHECK CONSTRAINT [AaaAccBadLoginStatus_FK]
GO
