USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NECIX2025]    Script Date: 6/29/2019 5:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NECIX2025](
	[RESOURCEID] [bigint] NOT NULL,
	[BOOTSTRAP_VER] [varchar](100) NOT NULL,
 CONSTRAINT [NECIX2025_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__458290071]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__458290071] ON [dbo].[NECIX2025]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NECIX2025] ADD  DEFAULT ('Not Available') FOR [BOOTSTRAP_VER]
GO
ALTER TABLE [dbo].[NECIX2025]  WITH CHECK ADD  CONSTRAINT [NECIX2025_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[NECIX2025] CHECK CONSTRAINT [NECIX2025_FK1]
GO
