USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CommunicationKeys]    Script Date: 6/29/2019 5:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunicationKeys](
	[PROBEID] [varchar](250) NOT NULL,
	[APIKEY] [varchar](250) NOT NULL,
 CONSTRAINT [CommunicationKeys_PK] PRIMARY KEY CLUSTERED 
(
	[PROBEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
