USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[QosMatchStmtDetails]    Script Date: 6/29/2019 5:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QosMatchStmtDetails](
	[MATCH_ID] [int] NOT NULL,
	[CLASS_ID] [int] NOT NULL,
	[MATCH_STMT] [varchar](256) NOT NULL,
 CONSTRAINT [QosMatchStmtDetials_PK] PRIMARY KEY CLUSTERED 
(
	[MATCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__83410246]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__83410246] ON [dbo].[QosMatchStmtDetails]
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QosMatchStmtDetails]  WITH CHECK ADD  CONSTRAINT [QosMatchStmtDetails_FK] FOREIGN KEY([CLASS_ID])
REFERENCES [dbo].[QosClassDetails] ([CLASS_ID])
GO
ALTER TABLE [dbo].[QosMatchStmtDetails] CHECK CONSTRAINT [QosMatchStmtDetails_FK]
GO
