USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NBA_Alert_FilterFieldRange]    Script Date: 6/29/2019 5:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_Alert_FilterFieldRange](
	[ID] [int] NOT NULL,
	[FID] [int] NOT NULL,
	[FIELD] [int] NOT NULL,
	[STARTVALUE] [varchar](255) NOT NULL,
	[ENDVALUE] [varchar](255) NOT NULL,
	[FLAG] [int] NOT NULL,
 CONSTRAINT [NBA_Alert_FilterFieldRange_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__286189260]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__286189260] ON [dbo].[NBA_Alert_FilterFieldRange]
(
	[FID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NBA_Alert_FilterFieldRange] ADD  DEFAULT ('0') FOR [FLAG]
GO
ALTER TABLE [dbo].[NBA_Alert_FilterFieldRange]  WITH CHECK ADD  CONSTRAINT [NBA_Alert_FilterFieldRange_FK] FOREIGN KEY([FID])
REFERENCES [dbo].[NBA_Alert_Filter] ([FID])
GO
ALTER TABLE [dbo].[NBA_Alert_FilterFieldRange] CHECK CONSTRAINT [NBA_Alert_FilterFieldRange_FK]
GO
