USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NGScheduleModule]    Script Date: 6/29/2019 5:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGScheduleModule](
	[MODULEID] [int] NOT NULL,
	[MODULENAME] [varchar](100) NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[DATASOURCEID] [bigint] NOT NULL,
	[CORE_POOL_SIZE] [int] NOT NULL,
	[MAX_POOL_SIZE] [int] NOT NULL,
	[STORELASTRUN] [bit] NOT NULL,
 CONSTRAINT [NGScheduleModule_PK1] PRIMARY KEY CLUSTERED 
(
	[MODULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NGScheduleModule_UK0] UNIQUE NONCLUSTERED 
(
	[MODULENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_503994185]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_503994185] ON [dbo].[NGScheduleModule]
(
	[DATASOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NGScheduleModule] ADD  DEFAULT ((0)) FOR [STORELASTRUN]
GO
ALTER TABLE [dbo].[NGScheduleModule]  WITH CHECK ADD  CONSTRAINT [NGScheduleModule_FK1] FOREIGN KEY([DATASOURCEID])
REFERENCES [dbo].[OpmDataSource] ([DATASOURCEID])
GO
ALTER TABLE [dbo].[NGScheduleModule] CHECK CONSTRAINT [NGScheduleModule_FK1]
GO
