USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ProcessMonitorRuleList]    Script Date: 6/29/2019 5:50:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessMonitorRuleList](
	[ID] [bigint] NOT NULL,
	[CRITERIAID] [bigint] NOT NULL,
 CONSTRAINT [ProcessMonitorRuleList_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[CRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1204747341]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1204747341] ON [dbo].[ProcessMonitorRuleList]
(
	[CRITERIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1204747342]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1204747342] ON [dbo].[ProcessMonitorRuleList]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProcessMonitorRuleList]  WITH CHECK ADD  CONSTRAINT [ProcessMonitorRuleList_FK1] FOREIGN KEY([ID])
REFERENCES [dbo].[ProcessDetails] ([ID])
GO
ALTER TABLE [dbo].[ProcessMonitorRuleList] CHECK CONSTRAINT [ProcessMonitorRuleList_FK1]
GO
ALTER TABLE [dbo].[ProcessMonitorRuleList]  WITH CHECK ADD  CONSTRAINT [ProcessMonitorRuleList_FK2] FOREIGN KEY([CRITERIAID])
REFERENCES [dbo].[ProfileCriteria] ([CRITERIAID])
GO
ALTER TABLE [dbo].[ProcessMonitorRuleList] CHECK CONSTRAINT [ProcessMonitorRuleList_FK2]
GO
