USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SnmpGetRecord]    Script Date: 6/29/2019 5:51:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnmpGetRecord](
	[RecordID] [varchar](250) NOT NULL,
	[Type] [varchar](25) NOT NULL,
	[MaxRepetitions] [int] NULL,
	[NonRepeaters] [int] NULL,
 CONSTRAINT [SNMPGETREC_KEY] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__697726420]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__697726420] ON [dbo].[SnmpGetRecord]
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SnmpGetRecord]  WITH CHECK ADD  CONSTRAINT [SNMPGETREC_FK] FOREIGN KEY([RecordID])
REFERENCES [dbo].[Record] ([RecordID])
GO
ALTER TABLE [dbo].[SnmpGetRecord] CHECK CONSTRAINT [SNMPGETREC_FK]
GO
