USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Int_DataObj_Expr]    Script Date: 6/29/2019 5:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Int_DataObj_Expr](
	[INTEGRAL_EXPRESSION_ID] [bigint] NOT NULL,
	[OBJECT_NAME] [varchar](150) NOT NULL,
	[TABLE_NAME] [varchar](150) NULL,
	[COLUMN_NAME] [varchar](150) NULL,
	[IS_ORIGINAL] [bit] NOT NULL,
 CONSTRAINT [Int_DataObj_Expr_PK] PRIMARY KEY CLUSTERED 
(
	[INTEGRAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1277710669]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1277710669] ON [dbo].[Int_DataObj_Expr]
(
	[INTEGRAL_EXPRESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Int_DataObj_Expr] ADD  DEFAULT ((0)) FOR [IS_ORIGINAL]
GO
ALTER TABLE [dbo].[Int_DataObj_Expr]  WITH CHECK ADD  CONSTRAINT [Int_DataObj_Expr_FK] FOREIGN KEY([INTEGRAL_EXPRESSION_ID])
REFERENCES [dbo].[Integral_Expressions] ([INTEGRAL_EXPRESSION_ID])
GO
ALTER TABLE [dbo].[Int_DataObj_Expr] CHECK CONSTRAINT [Int_DataObj_Expr_FK]
GO
