USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GraphOID_DATA]    Script Date: 6/29/2019 5:47:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraphOID_DATA](
	[ID] [bigint] NOT NULL,
	[OID_ID] [bigint] NOT NULL,
	[INSTANCE] [varchar](50) NULL,
	[DESCR] [varchar](50) NOT NULL,
 CONSTRAINT [GraphOID_DATA_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__339477222]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__339477222] ON [dbo].[GraphOID_DATA]
(
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GraphOID_DATA]  WITH CHECK ADD  CONSTRAINT [GraphOID_DATA_FK1] FOREIGN KEY([OID_ID])
REFERENCES [dbo].[OID_DATA] ([OID_ID])
GO
ALTER TABLE [dbo].[GraphOID_DATA] CHECK CONSTRAINT [GraphOID_DATA_FK1]
GO
