USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[CustomViewServiceProviders]    Script Date: 6/29/2019 5:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomViewServiceProviders](
	[CVTYPEID] [bigint] NOT NULL,
	[CVTYPE] [varchar](96) NOT NULL,
	[CORECLIENTSERVICE] [varchar](100) NOT NULL,
	[CORESERVERSERVICE] [varchar](100) NOT NULL,
 CONSTRAINT [CVServiceProviders_PK] PRIMARY KEY CLUSTERED 
(
	[CVTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CVServiceProviders_UK1] UNIQUE NONCLUSTERED 
(
	[CVTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
