USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HostDeviceTable]    Script Date: 6/29/2019 5:48:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostDeviceTable](
	[DEVICE_ID] [bigint] NOT NULL,
	[DEVICETABLE_ID] [varchar](250) NOT NULL,
	[TYPE] [varchar](250) NOT NULL,
	[DESCR] [varchar](1000) NOT NULL,
	[STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [HOSTDEVICETABLE_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[DEVICETABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1142474819]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1142474819] ON [dbo].[HostDeviceTable]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HostDeviceTable]  WITH CHECK ADD  CONSTRAINT [HOSTDEVICETABLE_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HostDeviceTable] CHECK CONSTRAINT [HOSTDEVICETABLE_FK1]
GO
