USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DiskNetAppSNMP]    Script Date: 6/29/2019 5:47:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiskNetAppSNMP](
	[DISK_ID] [bigint] NOT NULL,
	[DISK_INDEX] [varchar](250) NULL,
	[ASSOCIATED_VOLUME] [varchar](250) NULL,
	[ASSOCIATED_PLEX] [varchar](250) NULL,
	[ASSOCIATED_PLEX_NAME] [varchar](250) NULL,
	[ASSOCIATED_RAIDGROUP] [varchar](250) NULL,
	[VOLUME_ASSOCIATED_PLEXES_COUNT] [varchar](250) NULL,
	[PLEX_ASSOCIATED_RAIDGROUPS_COUNT] [varchar](250) NULL,
	[RAIDGROUP_ASSOCIATED_DISK_COUNT] [varchar](250) NULL,
	[PRIMARY_PATH_DISK_PORT] [varchar](250) NULL,
	[SECONDARY_PATH_NAME] [varchar](250) NULL,
	[SECONDARY_PATH_DISK_PORT] [varchar](250) NULL,
	[SCSI_ADAPTER] [varchar](250) NULL,
	[SCSI_ID] [varchar](250) NULL,
	[DISK_IDENTIFIER] [varchar](250) NULL,
	[BYTES_PER_SECTOR] [varchar](250) NULL,
	[USED_CAPACITY_IN_BLOCKS] [varchar](250) NULL,
	[TOTAL_CAPACITY_IN_BLOCKS] [varchar](250) NULL,
	[COPY_PERCENT] [varchar](250) NULL,
	[BELONGS_TO_POOL] [varchar](250) NULL,
	[IS_SPARE] [varchar](250) NULL,
 CONSTRAINT [DiskNetAppSNMP_PK] PRIMARY KEY CLUSTERED 
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_2008017900]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_2008017900] ON [dbo].[DiskNetAppSNMP]
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiskNetAppSNMP]  WITH CHECK ADD  CONSTRAINT [DiskNetAppSNMP_FK1] FOREIGN KEY([DISK_ID])
REFERENCES [dbo].[SANDiskDrive] ([DISK_ID])
GO
ALTER TABLE [dbo].[DiskNetAppSNMP] CHECK CONSTRAINT [DiskNetAppSNMP_FK1]
GO
