USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NamedInstanceObject]    Script Date: 6/29/2019 5:49:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NamedInstanceObject](
	[NAMEDINSTANCEID] [bigint] NOT NULL,
	[NAMEDINSTANCENAME] [varchar](250) NOT NULL,
	[PARENTDEVICENAME] [varchar](100) NOT NULL,
 CONSTRAINT [NamedInstanceObject_PK] PRIMARY KEY CLUSTERED 
(
	[NAMEDINSTANCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
