USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[Peer_Vs_Url_Hr]    Script Date: 6/29/2019 5:50:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peer_Vs_Url_Hr](
	[PUH_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HOUR] [datetime] NOT NULL,
	[RID] [bigint] NOT NULL,
	[SRC_ID] [bigint] NOT NULL,
	[SRC] [nvarchar](96) NOT NULL,
	[USER_ID] [bigint] NULL,
	[USER] [nvarchar](96) NULL,
	[DEST_ID] [bigint] NULL,
	[DEST] [nvarchar](96) NULL,
	[PEER_ID] [bigint] NULL,
	[URL] [nvarchar](2500) NULL,
	[REQUEST_COUNT] [bigint] NULL,
	[DURATION] [bigint] NULL,
	[TOTAL_BYTES] [bigint] NULL,
	[BWUSAGETYPE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PUH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Peer_Vs_Url_Hr_IDX1]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Peer_Vs_Url_Hr_IDX1] ON [dbo].[Peer_Vs_Url_Hr]
(
	[HOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Peer_Vs_Url_Hr_IDX2]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Peer_Vs_Url_Hr_IDX2] ON [dbo].[Peer_Vs_Url_Hr]
(
	[SRC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Peer_Vs_Url_Hr_IDX3]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Peer_Vs_Url_Hr_IDX3] ON [dbo].[Peer_Vs_Url_Hr]
(
	[DEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Peer_Vs_Url_Hr_IDX4]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Peer_Vs_Url_Hr_IDX4] ON [dbo].[Peer_Vs_Url_Hr]
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Peer_Vs_Url_Hr_IDX5]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Peer_Vs_Url_Hr_IDX5] ON [dbo].[Peer_Vs_Url_Hr]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Peer_Vs_Url_Hr_IDX6]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [Peer_Vs_Url_Hr_IDX6] ON [dbo].[Peer_Vs_Url_Hr]
(
	[PEER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Peer_Vs_Url_Hr] ADD  DEFAULT ('1970-01-01 00:00:00') FOR [HOUR]
GO
ALTER TABLE [dbo].[Peer_Vs_Url_Hr] ADD  DEFAULT ('0') FOR [RID]
GO
ALTER TABLE [dbo].[Peer_Vs_Url_Hr] ADD  DEFAULT (NULL) FOR [USER_ID]
GO
ALTER TABLE [dbo].[Peer_Vs_Url_Hr] ADD  DEFAULT (NULL) FOR [USER]
GO
ALTER TABLE [dbo].[Peer_Vs_Url_Hr] ADD  DEFAULT (NULL) FOR [DEST_ID]
GO
ALTER TABLE [dbo].[Peer_Vs_Url_Hr] ADD  DEFAULT (NULL) FOR [DEST]
GO
ALTER TABLE [dbo].[Peer_Vs_Url_Hr] ADD  DEFAULT (NULL) FOR [PEER_ID]
GO
ALTER TABLE [dbo].[Peer_Vs_Url_Hr] ADD  DEFAULT (NULL) FOR [URL]
GO
ALTER TABLE [dbo].[Peer_Vs_Url_Hr] ADD  DEFAULT ('0') FOR [REQUEST_COUNT]
GO
ALTER TABLE [dbo].[Peer_Vs_Url_Hr] ADD  DEFAULT ('0') FOR [DURATION]
GO
ALTER TABLE [dbo].[Peer_Vs_Url_Hr] ADD  DEFAULT ('0') FOR [TOTAL_BYTES]
GO
ALTER TABLE [dbo].[Peer_Vs_Url_Hr] ADD  DEFAULT ('1') FOR [BWUSAGETYPE]
GO
