USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[RedbackRouter]    Script Date: 6/29/2019 5:50:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RedbackRouter](
	[RESOURCEID] [bigint] NOT NULL,
	[OS_VERSION] [varchar](150) NOT NULL,
	[BOOTSTRAP_VERSION] [varchar](150) NOT NULL,
	[MINIKERNEL] [varchar](150) NOT NULL,
 CONSTRAINT [RedbackRouter_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1464050418]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1464050418] ON [dbo].[RedbackRouter]
(
	[RESOURCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RedbackRouter] ADD  DEFAULT ('Not Available') FOR [OS_VERSION]
GO
ALTER TABLE [dbo].[RedbackRouter] ADD  DEFAULT ('Not Available') FOR [BOOTSTRAP_VERSION]
GO
ALTER TABLE [dbo].[RedbackRouter] ADD  DEFAULT ('Not Available') FOR [MINIKERNEL]
GO
ALTER TABLE [dbo].[RedbackRouter]  WITH CHECK ADD  CONSTRAINT [RedbackRouter_FK1] FOREIGN KEY([RESOURCEID])
REFERENCES [dbo].[NCMResource] ([RESOURCEID])
GO
ALTER TABLE [dbo].[RedbackRouter] CHECK CONSTRAINT [RedbackRouter_FK1]
GO
