USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[IBMVStoragePool]    Script Date: 6/29/2019 5:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBMVStoragePool](
	[POOL_ID] [bigint] NOT NULL,
	[RAID_ID] [bigint] NOT NULL,
	[ID] [varchar](250) NOT NULL,
	[NAME] [varchar](250) NULL,
	[MDISK_COUNT] [varchar](250) NULL,
	[VDISK_COUNT] [varchar](250) NULL,
	[EXTENT_SIZE] [varchar](250) NULL,
	[EASY_TIER] [varchar](250) NULL,
	[REAL_CAPACITY] [varchar](250) NULL,
	[USED_CAPACITY] [varchar](250) NULL,
	[FREE_CAPACITY] [varchar](250) NULL,
	[USED_PERCENT] [varchar](250) NULL,
	[FREE_PERCENT] [varchar](250) NULL,
	[TYPE] [varchar](250) NULL,
	[STATUS] [varchar](250) NULL,
 CONSTRAINT [IBMVStoragePool_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_214341666]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_214341666] ON [dbo].[IBMVStoragePool]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_214341667]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_214341667] ON [dbo].[IBMVStoragePool]
(
	[POOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBMVStoragePool]  WITH CHECK ADD  CONSTRAINT [IBMVStoragePool_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMVStoragePool] CHECK CONSTRAINT [IBMVStoragePool_FK1]
GO
ALTER TABLE [dbo].[IBMVStoragePool]  WITH CHECK ADD  CONSTRAINT [IBMVStoragePool_FK2] FOREIGN KEY([POOL_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[IBMVStoragePool] CHECK CONSTRAINT [IBMVStoragePool_FK2]
GO
