USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[EqualLogicRaid]    Script Date: 6/29/2019 5:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EqualLogicRaid](
	[DEVICE_ID] [bigint] NOT NULL,
	[RAID_MEMBER_ID] [varchar](250) NOT NULL,
	[RAID_STATUS] [varchar](250) NOT NULL,
	[LOST_BLOCKS] [varchar](250) NOT NULL,
	[NUM_SPARES] [varchar](250) NOT NULL,
	[DRIVE_MIRRORING] [varchar](250) NOT NULL,
	[USED_CAPACITY] [varchar](250) NOT NULL,
	[SNAPSHOT_CAPACITY] [varchar](250) NOT NULL,
	[REPLICA_CAPACITY] [varchar](250) NOT NULL,
 CONSTRAINT [EqualLogicRaid_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1553357663]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1553357663] ON [dbo].[EqualLogicRaid]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EqualLogicRaid]  WITH CHECK ADD  CONSTRAINT [EqualLogicRaid_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[EqualLogicRaid] CHECK CONSTRAINT [EqualLogicRaid_FK1]
GO
