USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FujitsuRaidBatteryUnit]    Script Date: 6/29/2019 5:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FujitsuRaidBatteryUnit](
	[RAID_ID] [bigint] NOT NULL,
	[BTU_IDENTIFIER] [varchar](250) NOT NULL,
	[BTU_STATUS] [varchar](250) NOT NULL,
 CONSTRAINT [FujitsuRaidBatteryUnit_PK] PRIMARY KEY CLUSTERED 
(
	[RAID_ID] ASC,
	[BTU_IDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1737450164]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1737450164] ON [dbo].[FujitsuRaidBatteryUnit]
(
	[RAID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FujitsuRaidBatteryUnit]  WITH CHECK ADD  CONSTRAINT [FujitsuRaidBatteryUnit_FK1] FOREIGN KEY([RAID_ID])
REFERENCES [dbo].[Raid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[FujitsuRaidBatteryUnit] CHECK CONSTRAINT [FujitsuRaidBatteryUnit_FK1]
GO
