USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[TypeMatchCriteria]    Script Date: 6/29/2019 5:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMatchCriteria](
	[TYPERECORDNAME] [varchar](250) NOT NULL,
	[MATCHATTRIBUTE] [varchar](50) NOT NULL,
	[MATCHVALUE] [varchar](250) NOT NULL,
	[MATCHCONDITION] [varchar](25) NOT NULL,
	[ORDERID] [varchar](25) NOT NULL,
 CONSTRAINT [TypeMatchCriteria_PK] PRIMARY KEY CLUSTERED 
(
	[TYPERECORDNAME] ASC,
	[ORDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX__871030441]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__871030441] ON [dbo].[TypeMatchCriteria]
(
	[TYPERECORDNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TypeMatchCriteria]  WITH CHECK ADD  CONSTRAINT [TypeMatchCriteria_FK1] FOREIGN KEY([TYPERECORDNAME])
REFERENCES [dbo].[TypeRecordConfiguration] ([TYPERECORDNAME])
GO
ALTER TABLE [dbo].[TypeMatchCriteria] CHECK CONSTRAINT [TypeMatchCriteria_FK1]
GO
