USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ADInfo]    Script Date: 6/29/2019 5:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADInfo](
	[AD_ID] [bigint] NOT NULL,
	[AUTOLOGIN] [bit] NOT NULL,
	[LOGINTYPE] [int] NULL,
	[ALLUSERPRIVILEGE] [int] NULL,
	[SIPENABLED] [bit] NOT NULL,
	[TIMEZONE] [varchar](100) NULL,
 CONSTRAINT [ADInfo_PK] PRIMARY KEY CLUSTERED 
(
	[AD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_341660755]    Script Date: 6/29/2019 5:53:29 PM ******/
CREATE NONCLUSTERED INDEX [IDX_341660755] ON [dbo].[ADInfo]
(
	[AD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADInfo] ADD  DEFAULT ((0)) FOR [AUTOLOGIN]
GO
ALTER TABLE [dbo].[ADInfo] ADD  DEFAULT ((0)) FOR [SIPENABLED]
GO
ALTER TABLE [dbo].[ADInfo]  WITH CHECK ADD  CONSTRAINT [ADInfo_FK] FOREIGN KEY([AD_ID])
REFERENCES [dbo].[ActiveDirectoryInfo] ([AD_ID])
GO
ALTER TABLE [dbo].[ADInfo] CHECK CONSTRAINT [ADInfo_FK]
GO
