USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[DataCtgy]    Script Date: 6/29/2019 5:46:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataCtgy](
	[DCID] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[PROCESSMODE] [int] NOT NULL,
	[INSERTMODE] [int] NOT NULL,
	[STREAMTO] [int] NOT NULL,
	[MAXSIZE] [int] NULL,
	[MAXSPAN] [int] NULL,
	[MAXPENDING] [int] NULL,
	[TRANSFORMLET_NAME] [varchar](500) NULL,
	[THRESHOLDLET_NAME] [varchar](500) NULL,
	[RESOURCEMAPLET_NAME] [varchar](500) NULL,
	[DBMAPLET_NAME] [varchar](500) NULL,
	[COMPARATOR_NAME] [varchar](500) NULL,
	[RATIONALIZELET_NAME] [varchar](500) NULL,
	[DESP] [varchar](500) NULL,
 CONSTRAINT [DataCtgy_PK] PRIMARY KEY CLUSTERED 
(
	[DCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [DataCtgy_UK0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataCtgy] ADD  DEFAULT ('0') FOR [PROCESSMODE]
GO
ALTER TABLE [dbo].[DataCtgy] ADD  DEFAULT ('0') FOR [INSERTMODE]
GO
ALTER TABLE [dbo].[DataCtgy] ADD  DEFAULT ('-1') FOR [STREAMTO]
GO
