USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OpUtilsToolToTask]    Script Date: 6/29/2019 5:50:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpUtilsToolToTask](
	[TOOL_ID] [varchar](50) NOT NULL,
	[TOOLNAME] [varchar](100) NOT NULL,
	[WFTOOL_ID] [varchar](100) NOT NULL,
	[TASK_ID] [bigint] NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
 CONSTRAINT [OpUtilsToolToTask_PK] PRIMARY KEY CLUSTERED 
(
	[WFTOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1035911413]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1035911413] ON [dbo].[OpUtilsToolToTask]
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1035911414]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1035911414] ON [dbo].[OpUtilsToolToTask]
(
	[TOOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_1035911415]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1035911415] ON [dbo].[OpUtilsToolToTask]
(
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OpUtilsToolToTask]  WITH CHECK ADD  CONSTRAINT [OpUtilsToolToTask_FK1] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[TaskEngine_Task] ([TASK_ID])
GO
ALTER TABLE [dbo].[OpUtilsToolToTask] CHECK CONSTRAINT [OpUtilsToolToTask_FK1]
GO
ALTER TABLE [dbo].[OpUtilsToolToTask]  WITH CHECK ADD  CONSTRAINT [OpUtilsToolToTask_FK2] FOREIGN KEY([TOOL_ID])
REFERENCES [dbo].[Tool] ([TOOL_ID])
GO
ALTER TABLE [dbo].[OpUtilsToolToTask] CHECK CONSTRAINT [OpUtilsToolToTask_FK2]
GO
ALTER TABLE [dbo].[OpUtilsToolToTask]  WITH CHECK ADD  CONSTRAINT [OpUtilsToolToTask_FK3] FOREIGN KEY([TYPE])
REFERENCES [dbo].[SchedulerType] ([TYPE])
GO
ALTER TABLE [dbo].[OpUtilsToolToTask] CHECK CONSTRAINT [OpUtilsToolToTask_FK3]
GO
