USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[StorageDisks]    Script Date: 6/29/2019 5:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageDisks](
	[DISK_ID] [bigint] NOT NULL,
	[FILER_ID] [bigint] NOT NULL,
	[DISK_IDENTIFIER] [int] NOT NULL,
	[DISK_NAME] [varchar](150) NOT NULL,
	[DISK_TYPE] [varchar](25) NULL,
	[DISK_MODEL] [varchar](50) NULL,
	[DISK_VENDOR] [varchar](50) NULL,
	[DISK_SERIALNUMBER] [varchar](50) NULL,
	[DISK_FIRMWAREVERSION] [varchar](50) NULL,
	[DISK_PORT] [varchar](20) NULL,
	[DISK_STATUS] [varchar](50) NULL,
	[DISK_ASSIGN_MODE] [varchar](20) NULL,
	[DISK_RPM] [int] NULL,
	[DISK_SHELF] [int] NULL,
	[DISK_BAY] [int] NULL,
	[DISK_SECTOR_SIZE] [int] NULL,
	[DISK_TOTAL_BLOCKS] [int] NULL,
	[DISK_RAW_CAPACITY_BYTES] [bigint] NULL,
	[DISK_USED_SPACE_BYTES] [bigint] NULL,
	[DISK_RAID_GROUP] [int] NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
 CONSTRAINT [StorageDisks_PK] PRIMARY KEY CLUSTERED 
(
	[DISK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1705550167]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1705550167] ON [dbo].[StorageDisks]
(
	[FILER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorageDisks]  WITH CHECK ADD  CONSTRAINT [StorageDisks_FK] FOREIGN KEY([FILER_ID])
REFERENCES [dbo].[StorageFiler] ([FILER_ID])
GO
ALTER TABLE [dbo].[StorageDisks] CHECK CONSTRAINT [StorageDisks_FK]
GO
