USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[UVHValues]    Script Date: 6/29/2019 5:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UVHValues](
	[UVHID] [bigint] NOT NULL,
	[FILEID] [bigint] NOT NULL,
	[PATTERN] [varchar](100) NOT NULL,
	[GENVALUES] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](100) NULL,
	[COLUMN_NAME] [varchar](150) NULL,
 CONSTRAINT [UVHValues_PK] PRIMARY KEY CLUSTERED 
(
	[UVHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UVHValues_UK1] UNIQUE NONCLUSTERED 
(
	[FILEID] ASC,
	[PATTERN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1856763141]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1856763141] ON [dbo].[UVHValues]
(
	[FILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UVHValues]  WITH CHECK ADD  CONSTRAINT [UVHValues_FK] FOREIGN KEY([FILEID])
REFERENCES [dbo].[ConfFile] ([FILEID])
GO
ALTER TABLE [dbo].[UVHValues] CHECK CONSTRAINT [UVHValues_FK]
GO
