USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[OIDToParentTabular]    Script Date: 6/29/2019 5:49:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OIDToParentTabular](
	[OID_ID] [bigint] NOT NULL,
	[PTID] [bigint] NOT NULL,
 CONSTRAINT [OIDToParentTabular_PK] PRIMARY KEY CLUSTERED 
(
	[PTID] ASC,
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1015480164]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1015480164] ON [dbo].[OIDToParentTabular]
(
	[PTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1015480165]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1015480165] ON [dbo].[OIDToParentTabular]
(
	[OID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OIDToParentTabular]  WITH CHECK ADD  CONSTRAINT [OIDToParentTabular_FK1] FOREIGN KEY([OID_ID])
REFERENCES [dbo].[OID_DATA] ([OID_ID])
GO
ALTER TABLE [dbo].[OIDToParentTabular] CHECK CONSTRAINT [OIDToParentTabular_FK1]
GO
ALTER TABLE [dbo].[OIDToParentTabular]  WITH CHECK ADD  CONSTRAINT [OIDToParentTabular_FK2] FOREIGN KEY([PTID])
REFERENCES [dbo].[ParentTabularOID] ([ID])
GO
ALTER TABLE [dbo].[OIDToParentTabular] CHECK CONSTRAINT [OIDToParentTabular_FK2]
GO
