USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[STORAGEGRAPHS]    Script Date: 6/29/2019 5:51:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGEGRAPHS](
	[MONITORID] [bigint] NOT NULL,
	[GRAPHID] [bigint] NOT NULL,
 CONSTRAINT [STORAGEGRAPHS_PK1] PRIMARY KEY CLUSTERED 
(
	[MONITORID] ASC,
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1209959858]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1209959858] ON [dbo].[STORAGEGRAPHS]
(
	[MONITORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__1209959859]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__1209959859] ON [dbo].[STORAGEGRAPHS]
(
	[GRAPHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STORAGEGRAPHS]  WITH CHECK ADD  CONSTRAINT [STORAGEGRAPHS_FK1] FOREIGN KEY([GRAPHID])
REFERENCES [dbo].[GRAPHDETAILS] ([GRAPHID])
GO
ALTER TABLE [dbo].[STORAGEGRAPHS] CHECK CONSTRAINT [STORAGEGRAPHS_FK1]
GO
ALTER TABLE [dbo].[STORAGEGRAPHS]  WITH CHECK ADD  CONSTRAINT [STORAGEGRAPHS_FK2] FOREIGN KEY([MONITORID])
REFERENCES [dbo].[MONITORDETAILS] ([MONITORID])
GO
ALTER TABLE [dbo].[STORAGEGRAPHS] CHECK CONSTRAINT [STORAGEGRAPHS_FK2]
GO
