USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[HPEVARaidHost]    Script Date: 6/29/2019 5:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPEVARaidHost](
	[DEVICE_ID] [bigint] NOT NULL,
	[HOST_NAME] [varchar](250) NOT NULL,
	[IPADDRESS] [varchar](100) NULL,
	[STATUS] [varchar](250) NULL,
	[OPERATING_SYSTEM] [varchar](250) NULL,
	[COMMENTS] [varchar](250) NULL,
	[ID] [varchar](250) NULL,
 CONSTRAINT [HPEVARAIDHOST_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1110179367]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1110179367] ON [dbo].[HPEVARaidHost]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HPEVARaidHost]  WITH CHECK ADD  CONSTRAINT [HPEVARAIDHOST_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[HPEVARaid] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[HPEVARaidHost] CHECK CONSTRAINT [HPEVARAIDHOST_FK1]
GO
