USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[MailSettings]    Script Date: 6/29/2019 5:48:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailSettings](
	[MAILSETTINGSID] [bigint] NOT NULL,
	[TO_ADDRESS] [nvarchar](250) NULL,
	[CC_ADDRESS] [nvarchar](250) NULL,
	[BCC_ADDRESS] [nvarchar](250) NULL,
	[SUBJECT] [nvarchar](250) NULL,
	[COMMENT] [nvarchar](250) NULL,
 CONSTRAINT [MailSettings_PK] PRIMARY KEY CLUSTERED 
(
	[MAILSETTINGSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
