USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[GeoLocation]    Script Date: 6/29/2019 5:47:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeoLocation](
	[COUNTRY_ID] [bigint] NOT NULL,
	[COUNTRY_CODE] [nvarchar](5) NOT NULL,
	[COUNTRY_NAME] [nvarchar](100) NOT NULL,
	[LATITUDE] [real] NOT NULL,
	[LONGITUDE] [real] NOT NULL,
 CONSTRAINT [GeoLocation_PK] PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
