USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[ADDomainInfo]    Script Date: 6/29/2019 5:45:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDomainInfo](
	[DOMAINID] [bigint] NOT NULL,
	[DOMAINNAME] [varchar](100) NOT NULL,
	[SERVER_NAME] [varchar](100) NULL,
	[AUTOLOGIN] [bit] NOT NULL,
	[LOGINTYPE] [int] NULL,
	[ALLUSERPRIVILEGE] [int] NULL,
	[SIPENABLED] [bit] NOT NULL,
 CONSTRAINT [DomainInfo_PK] PRIMARY KEY CLUSTERED 
(
	[DOMAINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ADDomainInfo_UK1] UNIQUE NONCLUSTERED 
(
	[DOMAINNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADDomainInfo] ADD  DEFAULT ((0)) FOR [AUTOLOGIN]
GO
ALTER TABLE [dbo].[ADDomainInfo] ADD  DEFAULT ((0)) FOR [SIPENABLED]
GO
