USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[NCMResourcesOperation]    Script Date: 6/29/2019 5:49:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCMResourcesOperation](
	[RESOURCEID] [bigint] NOT NULL,
	[DEVICEPROTOCOLID] [bigint] NOT NULL,
	[OPERATIONID] [bigint] NOT NULL,
	[EXECUTIONGROUPID] [bigint] NOT NULL,
	[TASKHANDLING] [bit] NOT NULL,
 CONSTRAINT [NCMResourcesOperation_PK] PRIMARY KEY CLUSTERED 
(
	[RESOURCEID] ASC,
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__220660119]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__220660119] ON [dbo].[NCMResourcesOperation]
(
	[EXECUTIONGROUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__220660120]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__220660120] ON [dbo].[NCMResourcesOperation]
(
	[OPERATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX__220660121]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__220660121] ON [dbo].[NCMResourcesOperation]
(
	[RESOURCEID] ASC,
	[DEVICEPROTOCOLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NCMResourcesOperation]  WITH CHECK ADD  CONSTRAINT [NCMResourcesOperation_FK1] FOREIGN KEY([RESOURCEID], [DEVICEPROTOCOLID])
REFERENCES [dbo].[NCMResourcesProtocol] ([RESOURCEID], [DEVICEPROTOCOLID])
GO
ALTER TABLE [dbo].[NCMResourcesOperation] CHECK CONSTRAINT [NCMResourcesOperation_FK1]
GO
ALTER TABLE [dbo].[NCMResourcesOperation]  WITH CHECK ADD  CONSTRAINT [NCMResourcesOperation_FK2] FOREIGN KEY([OPERATIONID])
REFERENCES [dbo].[NCMOperation] ([OPERATIONID])
GO
ALTER TABLE [dbo].[NCMResourcesOperation] CHECK CONSTRAINT [NCMResourcesOperation_FK2]
GO
ALTER TABLE [dbo].[NCMResourcesOperation]  WITH CHECK ADD  CONSTRAINT [NCMResourcesOperation_FK3] FOREIGN KEY([EXECUTIONGROUPID])
REFERENCES [dbo].[NCMExecutionGroup] ([EXECUTIONGROUPID])
GO
ALTER TABLE [dbo].[NCMResourcesOperation] CHECK CONSTRAINT [NCMResourcesOperation_FK3]
GO
