USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[FcInfo]    Script Date: 6/29/2019 5:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FcInfo](
	[DEVICE_ID] [bigint] NOT NULL,
	[WWN] [varchar](250) NOT NULL,
	[PORT_NAME] [varchar](250) NULL,
	[NODE_NAME] [varchar](250) NULL,
	[NODE_TYPE] [varchar](250) NULL,
 CONSTRAINT [FCINFO_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX__749563720]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX__749563720] ON [dbo].[FcInfo]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FcInfo]  WITH CHECK ADD  CONSTRAINT [FCINFO_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[FcInfo] CHECK CONSTRAINT [FCINFO_FK1]
GO
