USE [OpManagerDB]
GO
/****** Object:  Table [dbo].[SMIStorageVolume]    Script Date: 6/29/2019 5:51:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMIStorageVolume](
	[DEVICE_ID] [bigint] NOT NULL,
	[VOLUME_NAME] [varchar](250) NOT NULL,
	[ACCESS_LIST] [varchar](250) NULL,
	[VOLUME_SPACE] [varchar](250) NULL,
	[VOLUME_STATUS] [varchar](250) NULL,
	[VOLUME_STORAGEPOOLID] [varchar](250) NULL,
 CONSTRAINT [SMIStorageVolume_PK] PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC,
	[VOLUME_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_1007234259]    Script Date: 6/29/2019 5:53:30 PM ******/
CREATE NONCLUSTERED INDEX [IDX_1007234259] ON [dbo].[SMIStorageVolume]
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMIStorageVolume]  WITH CHECK ADD  CONSTRAINT [SMIStorageVolume_FK1] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[SanManagedObject] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[SMIStorageVolume] CHECK CONSTRAINT [SMIStorageVolume_FK1]
GO
